[2018-12-11 19:41] kevcunnane commented on #3560
This is by design from the UX team. We've added in padding, but otherwise leaving as-is for now.

[2018-12-11 19:42] kevcunnane commented on #3559
We should disable the next button and not show content here.

[2018-12-11 19:43] kburtram commented on #3567
@anthonydresser I think this will likely go away once Messages are moved into there own tab.  Does that sound right to you?

[2018-12-11 19:44] kburtram commented on #569
Here are some additional suggestions from https://github.com/Microsoft/azuredatastudio/issues/3591

"Issue Type: Feature Request

As a data analyst i would be highly useful to make the results grid more interactive.

Allow Column Sorting
Allow Column Filtering (Think Excel)
All user to select a column to remove (I dont need that after all)
Allow Aggregation of Results, that are only client side an

[2018-12-11 19:44] kevcunnane commented on #3556
Close as duplicate

[2018-12-11 19:44] #3556 closed

[2018-12-11 19:45] kburtram commented on #3591
@nexusio thanks for opening this issue.  We're tracking grid enhancements at https://github.com/Microsoft/azuredatastudio/issues/569.  I've copied your comments over.  Please add any additional comments to that issue.

[2018-12-11 19:45] #3591 closed

[2018-12-11 19:47] kevcunnane commented on #3550
Duplicate of Chris's bug

[2018-12-11 19:47] #3550 closed

[2018-12-11 19:49] kevcunnane commented on #3545
I think this is covered by my other bug #3546 so closing this as a duplicate

[2018-12-11 19:49] #3545 closed

[2018-12-11 19:50] kburtram commented on #3566
Removing `accessibility` label since we only track color contrast issues report with the High Contrast theme.  Adding `ux` label instead.

[2018-12-11 19:51] kevcunnane commented on #3540
@iVincentFeng can you investigate this?

[2018-12-11 19:53] kburtram commented on #3558
This looks like a duplicate of https://github.com/Microsoft/azuredatastudio/issues/991.

[2018-12-11 19:53] #3558 closed

[2018-12-11 19:56] kburtram commented on #3529
@anthonydresser any idea where the Top Operations tab went?

[2018-12-11 20:02] kevcunnane commented on #3506
Fixed

[2018-12-11 20:02] #3506 closed

[2018-12-11 20:50] kburtram commented on #2663
This is basically the same issue as https://github.com/Microsoft/azuredatastudio/issues/1995.  The problem is that showplan control we're using only renders one showplan XML document at a time.

If there are multiple statements within a batch then only a single XML showplan is returned for all the statements in the batch when getting the estimated plan.  If there are multiple batches then one XML

[2018-12-11 21:10] kburtram opened #3600 "Size of grids is not correct with multiple resultsets"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Run a SQL script with multiple statements

Expected: Results grids are equally sized

Actual: One is larger than the other and they can't be resized

![image](https://user-images.githubusercontent.com/599935/49830437-064c4580-fd46-11e8-8f3f-1899e210d57d.png)

[2018-12-11 21:20] kburtram opened #3601 "Setting streaming to false with multiple results sets causes duplicate grids"
Azure Data Studio Version: `master`

Steps to Reproduce:

1. Run a query with multiple resultsets
2. Switch tabs
3. Switch back to original tab

Expected: See the same view as after step 1

Actual: See a bunch of duplicate results sets

![image](https://user-images.githubusercontent.com/599935/49830928-67c0e400-fd47-11e8-8422-0819557affae.png)

[2018-12-11 21:22] kburtram commented on #3601
Hmm, I'm actually seeing this now just running a query with multiple batches, without tab switching, such as below.

[code]

[2018-12-11 21:24] kburtram commented on #3601
OK, I see that this is related to having the setting `"sql.results.streaming": false`.

[2018-12-11 21:48] kburtram commented on #3369
@anthonydresser  @ranasaria I'm seeing this error pretty frequently testing with the release candidate build.  I'm guess it has to do with the results streaming work.  Could you please take a look?

[2018-12-11 21:49] kburtram commented on #3601
@anthonydresser perhaps we should prioritize getting the "Disable Query Results Streaming" flag working properly, so we can set it to true for Dec.  Then we can announce this as a preview feature that needs to be manually enabled.  Thoughts?

[2018-12-11 21:57] kevcunnane opened #3602 "Notebook: Editor disappears for cells after navigating away from azure data studio"
Issue Type: <b>Bug</b>

This is hard to repro, but occasionally the editor disappears for a cell if you move away from the notebook / move from Azure Data Studio. It's failing to re-render, likely when it's being rehydrated
![image](https://user-images.githubusercontent.com/10819925/49832813-99887980-fd4c-11e8-8621-8b3c86b49f90.png)

Azure Data Studio version: Azure Data Studio 1.3.8-insider (b6e3

[2018-12-11 22:17] anthonydresser commented on #3567
Likley, but it could still be a problem. I've never seen this before though.

[2018-12-11 22:19] anthonydresser commented on #3567
@kevcunnane I can't seem to repro. @kburtram can you repro this?

[2018-12-11 22:20] anthonydresser commented on #3529
I never readded it since it was based on angular. I can work on rewriting it.

[2018-12-11 22:24] anthonydresser commented on #3491
the modifications to the xlst are still there. https://github.com/anthonydresser/html-query-plan/blob/master/src/qp.xslt I'm not sure why it wouldn't be showing up

[2018-12-11 23:05] #3600 closed

[2018-12-11 23:46] kburtram commented on #3529
@anthonydresser we should add it back since it's one of the features that we're providing in the product.  We need to go through a design review process when removing functionality that customers may be depending on.

[2018-12-11 23:46] kburtram commented on #3491
@anthonydresser thanks, I'll take a look and see why this is no longer working.

[2018-12-11 23:59] kburtram commented on #3601
@anthonydresser I'm still seeing this issue with #3603.  The repro is below.

1. Run a query
2. Open settings editor and set streaming value to false
3. Switch back to the original query window

Actual: Query result set grid is duplicated many times.  This basically makes the setting key unusable, so we don't have the ability to turn off the streaming feature in case users encounter problems.

[2018-12-12 00:12] anthonydresser commented on #3601
Using your repro steps, it doesn't repro for me

[2018-12-12 06:37] DaveDustin commented on #3338
The machine I ran it on had 32GB of memory.
But yeah, if it's a downstream constraint there is not much you can do at present.
thanks

[2018-12-12 06:37] #3338 closed

[2018-12-12 09:42] Zyxious commented on #65
This is one of the main reasons I don't switch to SQL Operations Studio.

[2018-12-12 10:08] twright-msft opened #3609 "Should show the friendly name of a connection in the drop down of the create external table from CSV wizard"
Issue Type: <b>Bug</b>

Launch create external table wizard from a directory or file in the HDFS explorer.
On the page where you select the master instance to connect to there is a drop down.
Right now it shows the actual connection IP/name rather than the friendly name.  If you connect to multiple big data cluster master instances by IP address it is really difficult to tell which is which.  We s

[2018-12-12 10:27] bciesielski opened #3610 "Performance issues (memory leak ?)"
- Azure Data Studio Version:
Version 1.2.4
Commit 1ebfd0235690ad044ed2874a02e65188f5fea01c
Date 2018-11-02T21:50:52.634Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64 (win 7 on a virtual machine)
Steps to Reproduce:

After working in ADS for some time (hours/days) performance issues start to occur.
The allocated memory grows to (currently) 1,5-2GB eve

[2018-12-12 10:33] twright-msft opened #3611 "The master key page in the external table wizard should be skipped if the master key is already set"
Issue Type: <b>Bug</b>

Open external table wizard
Get to master key page in wizard
It should be skipped if the master key is already set as there is nothing that the user can do on that screen if it is already set.

Azure Data Studio version: Azure Data Studio 1.3.7-insider (5adcabc8dea4232bca4a46da445fbfc4b85703f3, 2018-12-08T02:18:11.293Z)
OS version: Darwin x64 18.2.0

<details><summary>Extens

[2018-12-12 10:35] twright-msft opened #3612 "It takes too long to get a TOP 1000 query editor window to come up"
Issue Type: <b>Performance Issue</b>

Right click on a table and choose Select Top 1000.
It should be very quick to get the query editor window up with Top 1000 query in it.  Should be < 1 second like SSMS and other DB admin tools.
Right now, at least on my mac, it takes 5+ seconds.

Azure Data Studio version: Azure Data Studio 1.3.7-insider (5adcabc8dea4232bca4a46da445fbfc4b85703f3, 2018-12-08T02

[2018-12-12 10:39] twright-msft opened #3613 "There are duplicate connectinos in recent connections list"
Issue Type: <b>Bug</b>

Connect once to a connection
Connect again to the same connection
Same connection is shown multiples times in recent connections list.

Should deduplicate if the server name/IP, user, db, etc. are the same.

![image](https://user-images.githubusercontent.com/14988070/49864299-3c0b3000-fe13-11e8-8538-2640049f1ac0.png)

Azure Data Studio version: Azure Data Studio 1.3.7-insid

[2018-12-12 14:52] kburtram commented on #3613
@twright-msft thanks for reporting this problem.  We are tracking with issue https://github.com/Microsoft/azuredatastudio/issues/3224.  The underlying issue is likely that there is some distinguishing property (like Server Group) that isn't being displayed in the MRU item text.

We'll look at either showing those properties in the MRU when necessary to tell the connections apart, or being more agg

[2018-12-12 14:52] #3613 closed

[2018-12-12 17:56] alanrenmsft commented on #3379
@ChrisLounsbury Thanks for reporting the issue, this will be fixed in next release later this week.

[2018-12-12 17:56] #3379 closed

[2018-12-12 18:04] alanrenmsft commented on #3612
@twright-msft  Is this a recent regression?

[2018-12-12 19:17] ranasaria opened #3614 "results pane has a lot of whitespace at the end of all the results"
- Azure Data Studio Version:
Version 1.3.8
Commit d48258a0fb55c86fdacc046438c5b8c7bcd2a296
Date 2018-12-12T15:00:23.934Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64
Steps to Reproduce:

1. start a new query editor with connection to a SQL database.
2. Execute the following batches.
**_select * from sys.objects o1 --cross join sys.objects o2 -- cross

[2018-12-12 19:21] ranasaria commented on #3614
This bug is not observed when results streaming is turned off.

[2018-12-12 19:34] alanrenmsft opened #3616 "Explain only show plan for the 1 statements separated by Go"
Steps to Reproduce:

1. Open a query editor
2. type in 2 queries separated by go, e.g.
    select * from sys.tables
    go
    select * from sys.all_objects
3. click the Explain button

Expected:
execution plan for both queries will be displayed (SSMS behaves this way)

Actual:
only the plan for 1st query is displayed

[2018-12-12 20:41] mikeroyal opened #3617 "Snap package support"
I was thinking in the install and setup could be improved for Ubuntu and other Linux distros by having a [snap package](https://snapcraft.io/) version. If it's not a priority would you mind if I made the snap as a contribution?

[Crafting your first snap](https://tutorials.ubuntu.com/tutorial/create-your-first-snap#0)

[Build and test snap](https://snapcraft.io/build)

[Getting Started snap templa

[2018-12-12 21:28] kierenj opened #3618 "PC restarted for automatic updates: unsaved tabs were restored, empty, but creating new query windows they came back with their original contents"
Issue Type: <b>Bug</b>

Actually, I think the title says it all :)  Weird!

They came back blank when I re-opened the app.  I closed them, saying "no" to save changes.

Then I right-clicked a database, "New Query" - and the first one came back.  So I repeated for all 5 "lost" queries.

Azure Data Studio version: azuredatastudio 1.2.4 (1ebfd0235690ad044ed2874a02e65188f5fea01c, 2018-11-02T21:50:52.6

[2018-12-12 21:53] anthonydresser commented on #3578
Every inputbox in ads and vsc have this context menu. By "it does not do anything" do you mean you don't think it makes sense? or that the actions don't work? (e.x. Selecting the text and selecting cut doesn't cut the text)

[2018-12-12 23:08] kburtram commented on #3618
@kierenj thanks for reporting this bug.  It looks like the issue being tracked with https://github.com/Microsoft/azuredatastudio/issues/3304.  Please add any additional comments in that issue, though as you say, the title pretty much explains the problem 😄.  We just need to dig through the code a bit to find out what's happening here.  I'll close as a duplicate of #3304.

[2018-12-12 23:08] #3618 closed

[2018-12-12 23:10] FireInWinter commented on #447
I also don't think this should be closed.  Kerberos isn't always a solution.  Falling back/using NTLM should be an option.

[2018-12-12 23:15] kburtram commented on #3610
@bciesielski we fixed a significant memory leak for issue https://github.com/Microsoft/azuredatastudio/issues/2899 with PR https://github.com/Microsoft/azuredatastudio/pull/3458.  This fix will be available in the Dec release next week and hopefully will help with the issue you're seeing.

[2018-12-13 02:00] lavanya2290 commented on #3529
Thanks pls let me know which version it will be available. And also when. Currently we have to analyze performance issues and that tab very useful and handy

[2018-12-13 02:01] lavanya2290 commented on #3529
Thanks pls let me know which version it will be available. And also when. Currently we have to analyze performance issues and that tab very useful and handy

[2018-12-13 06:17] CubsRep opened #3621 "Cannot see extension tabs next to Home Title Bar"
Issue Type: <b>Bug</b>

I have installed SQL server agent/import/whoisactive extensions and reloaded. Cannot see them in the dashboard screen.
Never had this issue when using SQLOps which I recently replaced.

![image](https://user-images.githubusercontent.com/23372182/49919456-4c032e00-fe6c-11e8-9104-4ecb009fb36b.png)

Azure Data Studio version: azuredatastudio 1.2.4 (1ebfd0235690ad044ed2874a02e6

[2018-12-13 09:17] Yggwit commented on #3621
Hello,

I had the same problem. A setting was missing from my old SQL Operations Studio settings file.
Just adding this should do the work:
`"workbench.enablePreviewFeatures": true`

Regards,
Ygg'

[2018-12-13 10:30] karolygere opened #3622 "Cannot type ">" character with Hungarian keyboard layout"
Issue Type: <b>Bug</b>

Steps to produce bug:

1. Set your keyboard layout to Hungarian
2. Start Azure Data Studio
3. Open new Query tab
4. On your keyboard press and hold AltGr (right Alt) key and press Y key

Expected result: ">" character produced in editor
Actual result: nothing is typed

This makes writing  conditions like "<>", ">", ">=" very difficult, as the ">" character must be copy-past

[2018-12-13 12:53] neo6238 opened #3623 "option to remove trailing go"
**Is your feature request related to a problem? Please describe.**
GO is not really part of T-SQL Standard and executing it in SqlCommand (C#) leads to errors. When getting a procedure/function/view from any SQL Server with Azure Data Studio there is always a trailing go, so working and saving on these can accidentally lead to problems.

**Describe the solution or feature you'd like**
A settings e

[2018-12-13 17:48] alanrenmsft commented on #3621
@CubsRep  Definitely do what @Yggwit mentioned here, after that if you still don't see it, try click the "+" button on the right side and select the dashboard from the pop out menu.

[2018-12-13 18:01] kburtram commented on #3617
@mikeroyal thanks for the suggestion.  We're looking at improving the Linux acquisition experience.  Unfortunately our internal rpm\deb publishing process is a bit cumbersome, which has been the cause of the delay getting that setup.

I haven't used snap before but we can certainly consider on-boarding if this is a popular package manager.  If you'd like to publish as a contribution that would be

[2018-12-13 18:04] kburtram commented on #3612
This seems like a nice scenario for a perf test.  I manually tested against my local server on Windows and the query editor was popping up ~1 sec, which seemed fast enough.  But on other platforms & servers I've seen this take quite a while (~5-10 seconds).

The variable time in the scenario is querying the server to get the table's column definitions.  Probably that code path could be optimized.

[2018-12-13 18:13] CubsRep commented on #3621
@Yggwit  - Thanks for the suggested fix. Yeah It is visible and working now 👍

[2018-12-13 18:13] #3621 closed

[2018-12-13 19:42] YurongHe opened #3624 "Each data element must implement a unique 'id' property"
Repro:
- Connect to SQL DB
- Open Home tab by select manage
- Edit the home page by moving things around

Try to open SQL Agent tab, nothing is displayed.

Issue Type: <b>Bug</b>

ERROR Error: Each data element must implement a unique 'id' property
    at ensureIdUniqueness (D:\ads\azuredatastudio\node_modules\slickgrid\slick.dataview.js:121:17)
    at DataView.setItems (D:\ads\azuredatastudio\nod

[2018-12-13 19:56] ronychatterjee opened #3625 "We need to provide better error handling messages for conencting to clusters"
Issue Type: <b>Bug</b>

When we connect to the SQL Server big data cluster we need a way to better surface error messages. For the unified connection work this might be something we need to raise and fix.

This error message is not helpful.

<img width="1439" alt="image" src="https://user-images.githubusercontent.com/22312581/49963865-fcede500-fecd-11e8-8890-349aa0e1ec28.png">

Azure Data Studio v

[2018-12-14 01:34] MattIrv commented on #3343
Debugged this and I understand what's happening now. It's less impact than I thought because it only affects AAD users that only have access to master or another system database but do not have access to all databases. For some reason SMO tries to connect to the first database that we find as part of listing all databases, and since the user doesn't have access to it the connection fails. Unfortun

[2018-12-14 03:54] iVincentFeng commented on #3540
I can't repro it on Ubuntu. Let me try to get a macbook to repro it.

![image](https://user-images.githubusercontent.com/2157307/49982274-b57f5b80-ff96-11e8-84f9-74fb8f944c47.png)

[2018-12-14 12:42] JerroldM10 opened #3626 "Unable to import file using Flat File Wizard when connected through AAD"
- Azure Data Studio Version: 1.3.6

Steps to Reproduce:

1. Open connection through "Azure Active Directory - Universal with MFA Support";
2. Open flat file import wizard (ctrl+i);
3. Select a file, schema and table name;
4. Click Next->Next->Import Data;
5. Error is shown: Cannot open server "@XXXX.com" requested by the login. The login failed.
Import does work when repeating same steps when logg

[2018-12-14 18:46] zengshengliu opened #3627 "Query Window "Hang""
Issue Type: <b>Bug</b>

Sometimes the query windows will just "hang" there.  Clicking on "Run" does nothing, and there is no error or warning.  It just wouldn't execute the query.

Azure Data Studio version: Azure Data Studio 1.2.4 (1ebfd0235690ad044ed2874a02e65188f5fea01c, 2018-11-02T21:36:55.143Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CP

[2018-12-14 18:51] zengshengliu commented on #3627
After this happen, if I closed the query window and open a new one, a "progress bar" will show on top of the "Search server names" box in Server window.  So it looks like there is something running in the background that cause the query window to become unresponsive.

[2018-12-15 16:06] iVincentFeng commented on #3540
I can't repro it on macOS (Mojave, 10.14.1), either.

![default](https://user-images.githubusercontent.com/2157307/50044967-57519600-00c6-11e9-9260-74f36d8e2ccd.png)

[2018-12-17 09:06] sadlave opened #3630 "Support drag-n-drop columns and tables into Query Editor"
- Azure Data Studio Version:1.2.4

Steps to Reproduce:
when writing the query I can not drag tables or columns from server navigation pane. This feature is available in SSMS
![annotation 2018-12-17 090330](https://user-images.githubusercontent.com/45934929/50076851-adaff900-01da-11e9-9108-920dd8251ea9.jpg)

[2018-12-17 21:11] demyte commented on #114
Hi,

Getting this issue with column sizing and scroll position being lost in:

Version 1.3.7-insider
Commit 5a3087859918b1564d2622b95defa662facdbef6
Date 2018-12-07T02:33:40.014Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64

[2018-12-17 21:55] MattIrv opened #3631 "Difficult to scroll when there are multiple results grids"
- Azure Data Studio Version: 1.3.8 (also exists in 1.2.4)
Steps to Reproduce:
1. Run a query with multiple result sets, such as `select 1; select 2; select 3; select 4; select 5;`
2. Place your cursor in one of the results grids (not on its header) and try to scroll

Expected behavior: The result sets scroll so that you can see all results
Actual behavior: The result sets do not scroll when your m

[2018-12-17 22:12] MattIrv commented on #3601
I'm still seeing duplicate result grids in 1.3.8 occasionally though I don't have a consistent repro for it

[2018-12-17 22:39] MattIrv opened #3632 "Results grid loses scroll position when scrolling between result sets"
- Azure Data Studio Version: 1.3.8

Steps to Reproduce:
1. Run a query that has multiple result sets where one of the result sets has enough results that you can scroll them, and there are enough result sets that you can scroll the big result set out of view. For example:
[code]
2. Scroll inside the result set with lots of rows
3. Scroll down the overall result area so that the result set with lot

[2018-12-17 23:58] pleppert commented on #2814
The linked issue is now closed, but in that build I still don't see Azure Active Directory - Password, only Azure Active Directory - Universal with MFA support. Am I missing a way to log in with that authentication type when otherwise my login requires a password? Or should this issue be re-opened since the issue it was closed as a duplicate of did not add the requested feature?

[2018-12-18 00:00] MattIrv opened #3633 "Edit data only shows first row, no way to commit or add new rows"
- Azure Data Studio Version: 1.3.8

Steps to Reproduce:
1. Open edit data for a table with multiple rows

Expected behavior: The first 200 rows are shown
Actual behavior: Only the first row is shown and the blank new row is not present so there is no way to commit the changes, add new rows, or view the other rows

Behavior in 1.3.8:
![Edit data on a table showing only the first row with no way to

[2018-12-18 00:04] MattIrv commented on #2814
Are you able to login using the same username and password if you choose the existing "Azure Active Directory - Universal with MFA support" and then add the account?

[2018-12-18 00:13] pleppert commented on #2814
There is no option that I can see to give it my password. I had previously added my account through the Azure panel, but I have tried doing it through the "Add an account" option in the Account drop down on the Connection pane after selecting Azure Active Directory - Universal with MFA support. Both times I was directed to the microsoft site to enter a device ID and grant access to Azure Data Stud

[2018-12-18 00:30] MattIrv commented on #3633
This appears to happen because edit data now only receives 1 result set notification for an incomplete result set with 0 rows, even when the streaming option is set to false. I'm surprised it's not getting subsequent notifications though

[2018-12-18 02:23] kburtram opened #3635 "Tabbing at end of Edit Data "New Row" moves focus outside grid"
- Azure Data Studio Version: 1.3.8

Steps to Reproduce:

1. Click on the "New Row" in Edit Data to add a new row
2. Fill out the required rows and click TAB at the last row

Expected: New row is committed and another "New Row" is created for inputting the next new row
Actual: Focus moves outside the grid to next tab-able element.  The new row is not committed.

[2018-12-18 02:43] abist opened #3636 "Agent/Slickgrid: Resizing slickgrid columns breaks agent"
- Azure Data Studio Version: master

Steps to Reproduce: Resize any column

Error stack trace -

[code]

[2018-12-18 02:43] abist commented on #3636
@anthonydresser Any idea about this?

[2018-12-18 15:56] pleppert commented on #2814
Thank you for the help.

It fails in SSMS with (mostly) the same message, "Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'. (Microsoft SQL Server, Error: 18456)"

Through SSMS I was not directed to a website, but a window popped up with an embedded browser control (apparently) to log in. It accepted my credentials there as correct, but then gave me this message. I did change the database to c

[2018-12-18 19:01] MattIrv opened #3638 "Agent column header sort arrows overlap text"
- Azure Data Studio Version: 1.3.8

Steps to Reproduce:
1. Open the agent jobs dashboard

![Agent jobs dashboard showing grid column header text overlapping their sort arrows](https://user-images.githubusercontent.com/3758704/50176394-1b7c2380-02b4-11e9-93fc-75a81b499468.png)

[2018-12-18 19:07] #3633 closed

[2018-12-18 19:41] vickyharp commented on #3622
Interesting. Do you see different behavior in VSCode or in Google Chrome? Does Ctrl+Alt+Y work in your setup?

[2018-12-18 19:42] MattIrv commented on #3601
I don't have a consistent repro for what Karl reported but it seems to involve executing the query multiple times before switching tabs or executing slightly different queries in the same editor before switching tabs, or possibly has to do with how quickly I execute them

[2018-12-18 19:44] MattIrv commented on #3601
Here's a copy of my SQL Tools Service log from a case where I just started up Azure Data Studio, executed 'select 1', and it showed multiple copies. Not sure if it's relevant but note that I get multiple result set update messages that are marked as complete

[code]

[2018-12-19 00:57] abist commented on #3638
This is related to https://github.com/Microsoft/azuredatastudio/issues/3636, since both of them are dependent of the same column-sizing function

[2018-12-19 10:13] sergiokoval commented on #2740
doesn't seem it supports "Azure Active Directory - Password" type of authentication. Any plans to have this feature as well?

[2018-12-19 10:14] sergiokoval commented on #13
doesn't seem it supports "Azure Active Directory - Password" type of authentication. Any plans to have this feature as well?

[2018-12-19 13:17] MarianoKovo opened #3640 "Fresh Install shows Black Screen without any icons"
- Azure Data Studio Version:

Version 1.2.4
Commit 1ebfd0235690ad044ed2874a02e65188f5fea01c
Date 2018-11-02T21:50:52.634Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64

Steps to Reproduce:

Default installation on Microsoft Windows 10 Pro [Version 10.0.16299.371].

The inner screen of the Azure Data Studio is completely black.

![ads_blackscreen](http

[2018-12-20 19:18] MattIrv commented on #2836
Closing this as fixed by #2935, if you're still seeing similar issues please reopen

[2018-12-20 19:18] #2836 closed

[2018-12-21 13:02] uterque opened #3642 "A more condensed result grid"
I'd like a more condensed result grid, less padding. More like Management Studio that fits more rows on screen. Perhaps would this be possible through themeing and padding attribute?

[2018-12-21 17:08] nmyron commented on #1735
I've not replied here in a while, honestly I forgot I opened this forever ago. But I wanted to try to provide some more information. I have upgraded to Azure Data Studio version 1.2.4, and it appears to work after using the scroll wheel within VSCode. For example, if I launch the application, it doens't work. If I then launch VSCode, and use my horizontal wheel in the editor window of VSCode, I ca

[2018-12-22 06:16] hiowenluke opened #3643 "Please add a double clicking row to select the row in query results grid"
Thanks

[2018-12-22 18:37] MikeYeager opened #3644 "Profiler scrolling needs some work"
Great first stab at the profiler extension. Thank you.

- Azure Data Studio Version: 0.32.9

Steps to Reproduce:
1. Start Profiler session against Azure SQL DB.

There are some display issues:
The Text/Details tabs are partially obscured by the status bar.
Results don's show up in the grid until I select a different window and then switch back.
When popping up the Text/Details window, the results

[2018-12-22 18:41] MikeYeager opened #3645 "Profiler Extension - Filtering please!"
Thank you for the profiler. It finally allows me to profile against Azure SQL DBs. Unfortunately I'm getting a LOT of data profiling a database with a lot of users and I only care about a few specific events. Being able to only collect the events I'm interested in would be awesome!

Thanks,
Mike

[2018-12-22 20:39] akraines opened #3646 "Scrolling on table with many colums is janky"
Issue Type: <b>Performance Issue</b>

I have a Table with about 39 columns and 429 rows
Select Top 100 rows (returns 429 rows)
Scrolling side to side is a bit janky
Scrolling down is much more janky (shows white until the data is loaded)

Since the user already made the query to load all 1000 rows, it should have that data in memory already, so this is probably display/windowing issue.

Azure Data

[2018-12-24 11:35] Fizard commented on #3265
I'm also in the same problem. It's not that difficult to make an ARM64 version, please do that so we can use it on Samsung Linux On Dex and also on others.

[2018-12-26 14:14] Tarig0 commented on #3304
Can confirm this issue in 1.3.7-insider. Not able to consistently get this behavior but does seem to do with a restart while the application is running.

[2018-12-26 22:16] SetTrend opened #3648 "Add a way to stop initial messages from reappearing over and over again"
Currently, whenever I'm starting Azure Data Studio or the internal terminal therein, I always receive messages which I manually have to disable:

![stop initial messages](https://user-images.githubusercontent.com/9283914/50458426-49700080-0963-11e9-9113-b60105a58d4a.png)

It's always the same set of message and, after a while, it's quite bugging to be required to manually disable them over and ove

[2018-12-26 22:19] #3648 closed

[2018-12-28 16:12] MohamedSahbi opened #3651 "I can't scroll sideways in the Chart tab after minimizing the window"
- Azure Data Studio Version:
Version 1.2.4
Commit 1ebfd0235690ad044ed2874a02e65188f5fea01c
Date 2018-11-02T21:50:52.634Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64

Steps to Reproduce:
When I minimize the window, I can't scroll sideways in the chart tab. I can't change the type of chart or even see the whole chart. However, the results tab has a sl

[2018-12-28 18:00] MohamedSahbi opened #3652 "Explain Tab beside the query results"
**Is your feature request related to a problem? Please describe.**
After clicking on Explain, the query result panel/tab disappears (with the chart tab) and Messages/Query Plan tab appears. There is no way to go back to the result tab and the created chart.

**Describe the solution or feature you'd like**
What about displaying the Query plan tab with the Query result, or show the query plan in a p

[2018-12-28 18:22] MohamedSahbi opened #3653 "Cancel not working even after disconnecting"
I clicked on Explain (I didn't run the queries before that), and it is stuck there. Run button was disabled, so I clicked on Cancel many times, but it did not work. So, I disconnected and connected again. I hit run, but it seems that something is still running. "Executing query" still there on the bar with more than 20 minutes and going on.
![image](https://user-images.githubusercontent.com/251800

[2018-12-28 19:48] amtwo opened #3654 "File File Import Wizard fails when column count is inconsistent"
Issue Type: <b>Bug</b>

1. Create a CSV file where the header row contains 5 columns of data, but the first 50+ rows have only 4 columns of data. At least one row at the end of the file should have all 5 columns fo data, matching the header.
1. Use the Flat File Import Wizard to import the file. Notice on the Preview step that it samples the first 50 rows, and displays only 4 columns of data.
1. E

[2018-12-28 19:54] amtwo opened #3655 "Flat File Import Wizard hangs if manually typing file name"
Issue Type: <b>Bug</b>

1. In the Flat File Import Wizard, *type* into the "Location of the file to be imported" field the full path to a csv file. For example: C:\temp\csv\interestingdata.csv
1. You'll have to also type a value for the New Table Name field.
1. Hit the "Next" button.
1. The Preview Data screen will hang with a spinny progress wheel, and neither complete nor throw an error.
1. Clic

[2018-12-30 00:07] offbeatful commented on #389
So the missing functionality that I am experienced so far is the ability to build dacpac file from source (from raw sql files). I use Visual Studio DB Project to hold all the source files and MsBuild works just fine generating dacpac file (only on Windows).
My suggestion is to build something that can add all the sql files in a directory to dacpac. This utility should be cross platform and should

[2018-12-30 16:55] AdeDarbs commented on #2819
I have a similar issue when trying to Create an External Data Source using TSQL  in SQL Server 2019 for the purpose of connecting to MongoDB through PolyBase.

"External data sources are not supported with type GENERIC."

ODBC Drivers installed.

I am thinking that due to SQL Server 2019 being in CTP it may not be working yet.

[2019-01-01 23:05] datauduong opened #3660 "Supporting Azure MySQL"
Issue Type: <b>Feature Request</b>

Please making Azure Data Studio as Common Database Editor similar to Visual Studio Code.

Azure Data Studio version: azuredatastudio 1.3.7-insider (5a3087859918b1564d2622b95defa662facdbef6, 2018-12-07T02:33:40.014Z)
OS version: Windows_NT x64 10.0.17134

[2019-01-02 18:49] Galaeci opened #3662 "Unable to see Sql Server Agent or Server Reports tabs"
Since the migration from SQL Operations Studio to Azure Data Studio I haven't been able to interact with any of the recommended extensions that include a tab. I've disabled and uninstalled all of them multiple times with no success. My azure data studio installation  is not completely cleared when I uninstall the main product either so I think there maybe some lingering configuration value that is

[2019-01-02 19:04] yualan commented on #3662
Hi @Galaeci, it looks like preview features are disabled for you in Settings.

To enable preview features, go to File -> Preferences -> Settings. Search for "enablepreviewfeatures" and change the value to true.

Save your settings with Ctrl+S then restart Azure Data Studio. You should be able to see your extensions.

![image](https://user-images.githubusercontent.com/30873802/50607425-0390cc00-0e7

[2019-01-02 20:02] ronychatterjee opened #3663 "Create External Table wizard does not support 500 columns"
Issue Type: <b>Bug</b>

We have a customer who has a a view in sql server 2017 with 472 columns. Currently the UI shows only a subset of 67 columns.

We need this fixed.

![image](https://user-images.githubusercontent.com/22312581/50609984-376fef80-0e86-11e9-9f67-b3765e630f5e.png)

Azure Data Studio version: azuredatastudio 1.3.7-insider (5adcabc8dea4232bca4a46da445fbfc4b85703f3, 2018-12-08T02:30:

[2019-01-02 23:20] #3546 closed

[2019-01-03 00:53] sunmicosun opened #3664 "Can you adjust the default run minimum SQL statement like Datagrip"
- Azure Data Studio Version:

Steps to Reproduce:

能不能像datagrip一样可以调整默认运行最小的sql语句，不是全部，而且有delete这种危险操作没有加where语句时可以提示是否执行

[2019-01-03 01:08] sunmicosun opened #3665 "do you have chinese"
- Azure Data Studio Version:

Steps to Reproduce:everytime I run azure data studio, it tells me there is chinese, but I can't find it.

[2019-01-03 10:06] WhiteRabbit-BI commented on #172
Is there any progress on this? It's annoying little things like this that keep sending me back to SSMS.

[2019-01-03 14:37] zengshengliu commented on #3627
![image](https://user-images.githubusercontent.com/2967322/50643016-e7069980-0f3a-11e9-9166-8ef7dc7a086b.png)
I look into it more, it seems like its the intellisense service that is running behind the scene, when it is being blocked on the database side, it render the Azure Data Studio inoperational.

[2019-01-03 15:23] devtanna commented on #172
I don't think so :/ sadly for Mac users this (azure data studio) is the
only choice as far as I know

On Thu, 3 Jan 2019, 14:06 Dave Jenkins <notifications@github.com wrote:

[2019-01-03 15:32] johnmart82 commented on #2083
I just wanted to add my voice to this feature request. As someone who is just coming to ADS from SSMS this is a feature that I used a lot to shortcut to writing queries, especially insert statements.

Thanks

[2019-01-03 15:42] benrr101 opened #3666 "In Progress Query Lost When Saving Untitled Query"
- Azure Data Studio Version:
Version 1.2.4
Commit 1ebfd0235690ad044ed2874a02e65188f5fea01c
Date 2018-11-02T21:50:52.634Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64

Steps to Reproduce:
1. Connect to a database
2. Create a new query --do not save it--, enter something that take a long time (I'm using a database restore script)
3. Execute the query
4

[2019-01-03 16:05] carlowahlstedt commented on #389
@joshbooker ah, so the difference here is that if you know all of the command line tools then you can make it work, but the "easy developer experience" of VS and F5 or Azure DevOps Pipeline and build the project isn't there (x-plat). Which is what I really meant by SSDT tools, an "easy" developer experience.

[2019-01-03 18:21] alanrenmsft commented on #3664
what do you mean by "shortest sql statement"? ADS will only run the selected statement by default.

[2019-01-03 18:21] alanrenmsft commented on #3664
@sunmicosun

[2019-01-03 18:46] MikeYeager commented on #3644
I see. Apparently I have the pre-release version installed and it doesn’t upgrade to the release version.

Thanks for the tip. I’ll start using the new version.

Mike

From: Alan Ren <notifications@github.com>
Sent: Thursday, January 3, 2019 11:30 AM
To: Microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Mike Yeager <myeager@eps-software.com>; Mention <mention@noreply.github.com>
S

[2019-01-03 18:54] kevcunnane commented on #2819
@AdeDarbs that error message indicates Polybase not being enabled. Per the [instructions](https://docs.microsoft.com/en-us/sql/relational-databases/polybase/polybase-installation?view=sql-server-2017), install & enable Polybase. In particular you'll want to run the enable polybase command (see below).

[code]

[2019-01-03 18:57] alanrenmsft commented on #3645
thanks @MikeYeager for letting us know, this will the the next feature we will be working on for profiler.

[2019-01-03 19:52] AdeDarbs commented on #2819
Hey Kev. My script does that. Polybase is installed. It must be a SQL config setting surrounding TCP/IP and the 27017 port. Thanks for replying.

[2019-01-04 00:31] ronychatterjee opened #3668 "Notebooks are not supporting input from the users"
Issue Type: <b>Bug</b>

We need an ability where users can provide input within the Notebooks.

![image](https://user-images.githubusercontent.com/22312581/50668614-ef7bc600-0f74-11e9-859d-755f9470160c.png)

sno=input('Enter SSN')
name=input('Enter Name')
print('Details are',sno,name)

This code works fine in python but not in our notebooks.

Azure Data Studio version: azuredatastudio 1.3.7-inside

[2019-01-04 06:02] sunmicosun commented on #3664
I'm sorry, I find it, just press ctrl + F5
thank you！

在 2019-01-04 10:29:01，"sunmico" <sunmico@163.com> 写道：

I'd like to say this.
just like datagrip

在 2019-01-04 02:21:26，"Alan Ren" <notifications@github.com> 写道：

what do you mean by "shortest sql statement"? ADS will only run the selected statement by default.

—
You are receiving this because you authored the thread.
Reply to this email direc

[2019-01-04 13:02] Shawson commented on #172
Same I've also switched back to ssms

[2019-01-04 14:51] Alain1405 commented on #3171
So I'm trying to import an Azure SQL backup in bacpac format into my local SQL Server on my Mac.
I've installed the `import` extension yet the Data-tier application wizard is not available, only the Flat file import.
Am I missing something?

<img width="1049" alt="screen shot 2019-01-04 at 3 48 21 pm" src="https://user-images.githubusercontent.com/2998545/50693837-7776d400-1038-11e9-823e-e6418ab3e

[2019-01-04 16:35] Alain1405 commented on #3171
Actually, I was supposed to use an insider build. Using`1.3.6-insider` build, however, I encounter another issue, the `Next` button stays offuscated once I try to import a `bacpac` file.

[2019-01-04 19:04] #3513 closed

[2019-01-04 19:24] yualan opened #3669 "Simplified Azure Sign-In"
**Is your feature request related to a problem? Please describe.**
Users have been confused when logging into Azure with the Device Login method where they have to copy and paste a device code. We should make this a simpler process.

**Describe the solution or feature you'd like**
VS Code's Azure Account extension has recently implemented a simplified login with the following flow:

1. Click Sign

[2019-01-04 20:45] jlodom opened #3670 "CSV Field Values in the formatE### Cause Parser Hang"
Issue Type: <b>Bug</b>

1. Create a fairly standard CSV file.
2. Create a field value in the format E### (where # is a number) such as E011 , E052, etc. For best results have this value as the first field.
3. Attempt to import the CSV file into a database. When it comes to the screen where the data is previewed there will be a hang.

I speculate that this bug is likely caused by the parser attempt

[2019-01-05 07:26] brassh opened #3671 "cannot connect / missing dependency in rpm file: mssql-tools unixODBC-devel"
Issue Type: <b>Bug</b>

Steps to reproduce:
- install azure data studio rpm file (from https://github.com/Microsoft/azuredatastudio/releases/download/1.3.6/azuredatastudio-linux-1.3.6.rpm) to fresh rpm based linux system (I used openSUSE Leap 15.0)
- start program and setup new connection
- hit "connect button"

Result:
- does not connect, wheel keeps spinning forever, no error message

Reason:
-

[2019-01-05 13:07] Alain1405 commented on #3171
I've downloaded the source for version `1.4.0` and built on Mac, to find that I had the same issue of `Next` button being disabled. I then opened `Chrome Developer Tools` and manually removed the CSS `disabled` configurations. Once the button was enabled, the import worked out.

[2019-01-05 17:19] EmperorAtlantis commented on #3665
We need Chinese

[2019-01-07 10:54] sqlarcher commented on #13
Unless you have not found it, you can under "Authentication Type" just select "Azure Active Directory - Universal with MFA Support" and this will work the same as "Azure Active Directory - Password". This is available since the December release of Azure Data Studio.

[2019-01-07 11:58] sergiokoval commented on #13
thanks for your reply! Yes, I can see that option but it doesn't provide me with entering username/password after.  There is empty Account dropdown but no way to type username and password. Was looking for something similar to this window in sql management studio:
![image](https://user-images.githubusercontent.com/31712183/50766911-3b7f8100-127b-11e9-8086-a5bbb9677f54.png)

Am I missing something?

[2019-01-07 18:46] qJake commented on #172
+1

How could anyone think that 120px as a constant default column width wouldn't be annoying? You can't even fit a date into that small of a column!

Please add the following options:

* `resultsGrid.defaultColumnWidth`
    * A value in px, or
    * `"sizeToColumnName"`, or
    * `"stretchToFit"`
* `resultsGrid.maximumStretchWidth`
    * A value in px, where if `resultsGrid.defaultColumnWidth` is

[2019-01-07 19:28] MattIrv opened #3672 "Query plan fails or throws errors for certain queries"
Issue Type: <b>Bug</b>

1. Open a query tab and write the query `select top 1000 * from sys.all_columns`
2. Hit 'explain'

Actual behavior: The query plan shows up but an error message is displayed in the bottom right (one time the query plan didn't even show up)
Expected behavior: The query plan shows up with no errors

Error message:
[code]

This happens regardless of what the streaming feature

[2019-01-07 19:51] MattIrv opened #3673 "Result grid scroll position gets reset when switching tabs"
Issue Type: <b>Bug</b>

1. Run a query with enough results to scroll (like `select top 1000 * from sys.all_columns)
2. Scroll the results a bit or make a selection
2. Switch to another tab and then come back to the query tab

Actual behavior: The scroll position is reset and the selection is gone
Expected behavior: The scroll position and selection are the same as before

Azure Data Studio version

[2019-01-07 19:54] kburtram commented on #172
We're aware that this is an annoying issue that significantly impacts the SQL editing experience.  We'll target getting a fix for Feb. (Jan is already basically done).  The problem was we had a large performance regression with the initially implementation of this feature and need to come up with a different implementation approach.

[2019-01-07 19:59] kburtram commented on #3664
..switching issue title to English based on Google translate so the issue can be triage.  Please correct the title if the translation is incorrect.

[2019-01-07 20:03] MattIrv commented on #3635
This is mostly behaving correctly for me in last night's daily build. The only case where it behaves like you reported is if you only enter content in the last column of the new row and not any other columns, which is the same behavior in the November build

[2019-01-07 20:12] kburtram commented on #3635
@MattIrv thanks for confirming.  I'll this issue then.

[2019-01-07 20:12] #3635 closed

[2019-01-07 20:23] MattIrv opened #3674 "Agent New Job dialog's tables are too tall"
Issue Type: <b>Bug</b>

1. Open agent's Jobs tab
2. Hit "New Job"
3. Go to one of the tabs with a table on it

Actual behavior: The tables take up too much vertical space, making it unclear that there's more content on the tab beneath the table. See the screenshot - in this case there are some buttons underneath the table that you need to scroll to get to
Expected behavior: The tables only take up

[2019-01-07 22:11] kburtram commented on #13
@sergiokoval I'm not sure if that authentication method was implemented in the .Net Core AAD support.  @MattIrv do you know the details why we only support "Universal with MFA".

[2019-01-07 22:13] kisantia opened #3676 "DacFx wizard import page next button doesn't update"
- Azure Data Studio Version: 1.4.0

Steps to Reproduce:

1. Open Data-tier application wizard
2. Select Import Bacpac
3. Fill in the required fields
4. Next button is disabled even though all the required fields are filled.

Workaround: go to previous page then click next again. The next button should be enabled

[2019-01-07 22:16] MattIrv opened #3677 "Running edit data on a table with lots of columns shows two tables"
Issue Type: <b>Bug</b>

1. Create a table that has 500 columns
2. Open it in edit data

Actual behavior: The table is shown twice
Expected behavior: The table should be shown once

![Edit data tab for a table with 500 columns. The table is shown twice in the tab](https://user-images.githubusercontent.com/3758704/50796529-c154f980-1286-11e9-8745-dffb7f442999.png)

Azure Data Studio version: Azure D

[2019-01-07 22:32] MattIrv opened #3678 "Moving edit data to the bottom of the window breaks all tabs"
Issue Type: <b>Bug</b>

1. Open some query tabs
2. Open edit data
3. Move the edit data tab to the bottom of the window grid

Actual behavior: Tab display breaks completely and you have to restart Azure Data Studio
Expected behavior: Edit data appears in the right place

![screen shot 2019-01-07 at 2 30 46 pm](https://user-images.githubusercontent.com/3758704/50797248-01b57700-1289-11e9-943e-d07a8

[2019-01-07 22:49] MattIrv commented on #13
@sergiokoval The account dropdown that shows up there should have an option to "Add an account", which will open a dialog with instructions on how to log into your account. Is that option missing for you?

[2019-01-07 22:58] MattIrv commented on #13
We're also tracking support for password authentication in this issue: https://github.com/Microsoft/azuredatastudio/issues/2814. However looking at discussions around username/password auth (e.g. https://github.com/AzureAD/azure-activedirectory-library-for-nodejs/pull/99) it seems like they're pushing for everyone to use web login. So I still need to understand whether there are truly scenarios wh

[2019-01-08 01:16] kevcunnane commented on #3239
Fixed in current version

[2019-01-08 01:16] #3239 closed

[2019-01-08 01:20] kevcunnane opened #3680 "Notebooks: outputs with string arrays rendered incorrectly"
- Azure Data Studio Version:

Steps to Reproduce:

1. Unzip the [tablecommas.ipynb.zip](https://github.com/Microsoft/azuredatastudio/files/2734855/tablecommas.ipynb.zip) file and open in Azure Data Studio

Expected:
- The cell output should just show a table
Actual:
- Get a huge `,,,,,,,,,` list before the table.

This is because we're not de-multilining the output mime bundles. We have good examp

[2019-01-08 01:20] kburtram commented on #3666
This looks like a variation of https://github.com/Microsoft/azuredatastudio/issues/1876, though I agree there are some interesting concerns related to editors with executing queries vs. editors with completed queries.

[2019-01-08 08:46] sergiokoval commented on #13
hi @MattIrv , the option "Add an account" appeared but nothing happened when I click on it. But after I tried to disconnect from corporate network and switched to regular public connection. So it took me to the device login page eventually.
Seems its not "firewall friendly".  However no issues authenticating against azure in other apps using the same methods.

[2019-01-08 08:50] simonsabin commented on #172
What is your implementation for this. Is it to size based on the visible rows, first X rows or all of the rows.

For me having the first is the critical one. Once you get into scrolling you are using the mouse and thus resizing a column isn't too bad.

The secondary is for fixed data types like date time, there should just be a size that works all the time, because the length is static

[2019-01-08 22:16] kburtram commented on #3660
@datauduong thanks for opening this suggestion.  We're tracking this request with this issue https://github.com/Microsoft/azuredatastudio/issues/56.  Please add additional comments there is anything is missing.

[2019-01-08 22:16] #3660 closed

[2019-01-08 22:17] kburtram commented on #3640
@MarianoKovo I haven't seen this behavior before.  Have you tried uninstalling and reinstalling?

[2019-01-08 23:27] MattIrv opened #3684 "Result set maximization doesn't persist when switching tabs"
Issue Type: <b>Bug</b>

1. Execute a query that returns multiple result sets
2. Hit the maximize button for one of them
3. Switch to another tab and then switch back to the original tab

Actual behavior: The result is no longer maximized even though the "restore" button is still shown in place of the "maximize" button
Expected behavior: The results look the same when switching back to the tab as t

[2019-01-09 01:03] chlafreniere opened #3685 "Notebooks: Separate ContentManager from NotebookManager"
Now that it's possible to have multiple NotebookManagers (e.g. with SQL and Jupyter, for example), this now means that there are multiple (local) ContentManagers. We really should have a local ContentManager that's separate from the NotebookManager.

[2019-01-09 01:12] chlafreniere opened #3686 "Notebooks: Only have One Active Session Active at a Time"
In the notebook model, we should only have one active session at a time; now that multiple providers can be passed into the model, only have one session active for the current provider and dynamically start/shutdown sessions based on kernel change events.

[2019-01-09 02:06] chlafreniere opened #3687 "Notebooks: Determine Whether Notebook Component can Access Saved Notebook Profile"
As a potential perf improvement, determine whether we can pass in the correct provider via the notebook component if a kernel has previously been saved, rather than changing the provider in the model itself.

[2019-01-09 06:47] #3291 closed

[2019-01-09 06:49] chlafreniere commented on #3347
This was fixed last year.

[2019-01-09 06:49] #3347 closed

[2019-01-09 12:15] nicknijenhuis commented on #2702
Why does the preview switch even have to be enabled? Since you have to install an extension, doesn't that mean that you explicitly agree with it being enabled?

[2019-01-09 19:10] burtonrodman opened #3692 "Don't mark generated documents dirty."
Issue Type: <b>Feature Request</b>

When one chooses "Script As Create" the resulting document is in the dirty state.  Thus closing the document prompts to save.  As this is a generated document there is not need to save.

When one uses this to look at a lot of procedures, for example, it becomes quite annoying to close all the documents after and have to say No to the Save prompt.

Azure Data Stu

[2019-01-09 19:18] burtonrodman opened #3693 "Add a close (X) button on the results pane."
Issue Type: <b>Feature Request</b>

Please add a close (X) button the results pane to make it easier to hide.

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:59:38.228Z)
OS version: Windows_NT x64 10.0.17134

[2019-01-09 20:11] mgnoonan opened #3694 "Query tab restored with text displayed in Kanji/Chinese"
We have written the needed data into your clipboard because it was too large to
Issue Type: <b>Bug</b>

Unfortunately, I have been unable to reproduce this so far, so I will provide as much information as I can. I have no extensions installed. I was not connected to any databases, because I had just run the upgrade.

So this happened immediately after launching the January release after upgrading

[2019-01-09 20:17] mgnoonan commented on #3694
Update: It might have been the November release 1.2.4, I do not run insider builds.

[2019-01-09 20:54] burtonrodman opened #3695 "Results pane displayed 2 copies of the result set."
Issue Type: <b>Bug</b>

Steps:
1.  right-click on database and choose New Query
2.  execute select * from table1 where somefield = 'value'
3.  edit and execute select t2.* from table2 t2 join table1 t1 on t1.id = t2.Table1ID
where t1.somefield = 'value'

at this point, the results pane displays 2 exact copies of the result set of the second query.

Azure Data Studio version: azuredatastudio 1.3.8

[2019-01-09 20:55] burtonrodman commented on #3695
![image](https://user-images.githubusercontent.com/7658657/50927862-0748c380-1427-11e9-9494-11e5e2d0a6b4.png)

[2019-01-09 20:56] burtonrodman commented on #3695
notice also, nothing displays in Messages pane.  this has been happening randomly today.

[2019-01-09 21:16] kburtram commented on #3695
@burtonrodman this was a regression related to the new query results streaming feature that we're previewing this month.  It's a timing related issue with how the results set is rendered.  The query is only executed once, so the bug only impacts the UI.  We've typically seen it when Execute is run multiple times quickly, though sometime it can occur from a single execute command.

@anthonydresser

[2019-01-09 21:16] burtonrodman opened #3696 "Allow collapsing the messages pane all the time."
Issue Type: <b>Feature Request</b>

Consider one of the following:
1.  Add an option to always default the Messages pane to collapsed
2.  Make Results and Messages tabs (like SSMS).

If there is an error, display the messages pane.

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:59:38.228Z)
OS version: Windows_NT x64 10.0.17134

[2019-01-09 21:21] #3676 closed

[2019-01-09 21:36] kisantia commented on #3171
@Alain1405 thanks for finding this bug! I checked in the fix #3691 and it will be included in the next release of ADS.

A workaround in the current version is to click the `Previous` button to go back to the Step 1 page, then click the `Next` button to go back to the 'Select Import Bacpac Settings' page and the `Next` button should be enabled if the required fields are filled in.

[2019-01-09 21:37] anthonydresser commented on #3695
https://github.com/Microsoft/azuredatastudio/pull/3620

[2019-01-09 21:53] #3529 closed

[2019-01-09 21:55] anthonydresser commented on #172
This is merged in under a preferences flag

[2019-01-09 21:55] #172 closed

[2019-01-09 22:19] kburtram commented on #3695
@anthonydresser thanks, any idea why we didn't include the PR in the Jan release?

[2019-01-10 00:32] alanrenmsft commented on #3002
@nauticalcoder glad to know that.

[2019-01-10 02:30] lavanya2290 commented on #3529
Is this fixed when can I take the build

[2019-01-10 03:48] we3geeks opened #3699 "v1.3.8 should be January 2019?"
"Releases" page lists it as January 2018, rather than January 2019.

Happy New Year! :)

[2019-01-10 06:59] alvinlohtpgit commented on #3671
Thanks! Was getting a "Starting Service" status message and the connection icon kept spinning without being able to connect. Installing the mssql-tools in the linked page solved the issue. Am on Fedora 29.

[2019-01-10 07:15] donovanwhite opened #3700 "Error adding account"
Error: Entry not found in cache when adding azure account after successful MFA authentication

- Azure Data Studio Version:1.3.8

Steps to Reproduce:

1. Select Azure
2. Add Account
3.Obtain token
4.Copy and Redirect to Page
5.Add Token
6.Token Successful and redirects to MFA auth for tenant.
7.Tenant Auth Successful but get error in ADS stipulating no cache.

[2019-01-10 07:57] kevchant opened #3701 "Check for updates doesn't appear to work"
Issue Type: <b>Bug</b>

All

I'm trying to update from 1.2.4 to 1.3.8 today using the 'Check for updates' feature within the app, however I'm being told there's no updates available.

I'm running Azure Data Studio 1.2.4 on CentOS  7, which is exactly same binaries as Red Hat 7.

On a side note, are you guys going to look to put in support to update via yum in the future?

Regards

Kevin Chant

Azu

[2019-01-10 09:12] vikokova opened #3702 "Create a column filter for a data edit window"
This is a feature request for productivity when using Azure Data studio for editing or modifying data in a database manually.

It would be nice, if you could add column filters to the "Edit data" window to help quickly search or filter table rows what to edit manually. Behind the scenes Azure data studio should create sql automatically

Alternatively i have considered a search box for the "Edit da

[2019-01-10 11:49] Jabe commented on #3700
Getting the same error. Device Code workflow completes successfully, but UI gives "Entry not found" and no selection.

Also tried deleting `%appdata%\azuredatastudio` to reset the app, but that did not help. Still can't add/select an account.

[2019-01-10 13:22] shueybubbles opened #3703 "Notebook: "new" command needs to support ConnectionProfile parameter passed from command line invocation"
azuredatastudio --command=notebook.command.new --server=myservername

This now opens myservername in object explorer and opens the new notebook UI, but the new notebook isn't connected to the given server.

[2019-01-10 15:06] CoolDadTx opened #3704 "Results view tooltip isn't showing correct values"
Issue Type: <b>Bug</b>

The Results view of a query is not showing the correct value when hovering over string columns in all cases. In our case we have VARCHAR columns that store JSON objects. When hovering over the values they get truncated. For example the following value prints {
{"abc":123}
![tooltip_wrong](https://user-images.githubusercontent.com/3778674/50976974-dca64b80-14b6-11e9-8d0c-fa8

[2019-01-10 15:32] dheerajps commented on #459
Any update on the status of this?
Would really help us, we are using Flyway for DB migration and for inserting test-data, script as insert would come in really handy.
Something we miss from SSMS world.

[2019-01-10 15:59] timothylcooke opened #3705 "Keyboard Focus lost in results set due to virtualized rows."
When viewing results in the results grid, keyboard focus is often lost. I presume this is due to focus changing to virtualized rows in the results set data grid that are created after they are focused.

- Azure Data Studio Version: 1.3.8

## Steps to Reproduce:
- Run a query that returns 600+ rows.
- Use keyboard keys that would change the selected row by a large amount (e.g. <kbd>Ctrl</kbd>+<kbd>

[2019-01-10 18:00] trendoid opened #3706 "Clear List button and text"
Issue Type: <b>Bug</b>

after recent upgrade the recent connections list has text over the clear list button

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:59:38.228Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|GPU Stat

[2019-01-10 18:00] trendoid commented on #3706
![clear-list](https://user-images.githubusercontent.com/7746539/50987488-c3fa5d80-14d7-11e9-8e97-37586df8fcd6.jpg)

[2019-01-10 18:48] pzelnip commented on #3696
Is there a way to resize just the results window?  Even when I collapse the messages pane, it remains the same size and still leaves little room for results, and I can't seem to resize just the results pane.

<img width="740" alt="azuredsresize" src="https://user-images.githubusercontent.com/414933/50989845-4af20a80-14c5-11e9-81b0-e510e883b43a.png">

[2019-01-10 19:10] kevcunnane opened #3707 "Unified connection for SQL 2019 BCD"
This is an overall tracker for status of the unified connection work

**Tasks**
Feb release
- [x] Implement expander APIs - Feb release
- [x] Query big data endpoints in sqlops-dataprotocolclient - Feb release
- [x] Notebook add new connection: -Feb release
- [x] Notebook attach to handle OE unified connection - Feb release
- [x] Dashboard adds big data cluster tasks and links - Feb release
- [x]

[2019-01-10 19:19] gbritton1 opened #3708 "Editor does not re-parse a script when database changes"
![snag_107b6379](https://user-images.githubusercontent.com/12263288/50991449-a7afee00-14e2-11e9-84f7-08e09dedb4bc.png)
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2019-01-10 19:20] gbritton1 commented on #3708
PS.  even if I parse the query again after changing the connection as described, no errors are found, but the red squiggly and popup message remain.

[2019-01-10 19:35] yualan commented on #3699
Good catch, fixed on our end. Thanks for your keen eye :)

[2019-01-10 19:35] #3699 closed

[2019-01-10 20:00] kburtram commented on #3705
@anthonydresser could you check if this is a regression from the results streaming changes?

[2019-01-10 20:02] kburtram commented on #3701
@kevchant we still need to hook up auto-updates for Linux.  We plan to do this with the next couple releases.  To publish bits to the MS rum repo is a bit of a manual process, so we haven't set that up yet.

[2019-01-10 20:05] kburtram commented on #3700
@donovanwhite @Jabe do you know if this functionality was previously working for you in the previous release?

[2019-01-10 20:08] kburtram commented on #3702
@vikokova thanks for the suggestion.  I agree it would be nice to have some UI in the grid to basic filtering, sorting, etc.  As a workaround you can use the SQL Pane to add `ORDER BY` and `WHERE` clauses to the SQL statement directly.

[2019-01-10 20:31] kburtram commented on #2150
I'll close this now since we're already on .Net Core 2.2 which contains the upstream fix discussed above.

[2019-01-10 20:31] #2150 closed

[2019-01-10 20:35] kburtram commented on #3664
Closing based on previous issue discussion.  Please let me know if there is still an issue that needs to be tracked here.

[2019-01-10 20:35] #3664 closed

[2019-01-10 20:36] anthonydresser commented on #3705
Doesn't look like a regression, just an existing bug, it seems to only repro with pg-down and pg-up.

[2019-01-10 20:38] kburtram commented on #3627
@zengshengliu it would be unexpected that the intellisense SQL queries would cause UI delays since they run async in a child process and the UI doesn't block rendering waiting for these tasks (it waits on callback notifications). I'll try to repro the issue.

[2019-01-10 20:40] kburtram commented on #3705
@anthonydresser cool, thanks for checking.  Maybe I'll try to take a look into this one.

[2019-01-10 20:51] #3692 closed

[2019-01-10 20:52] timothylcooke commented on #3705
I can consistently get it to reproduce with <kbd>Control</kbd>+<kbd>Home</kbd>. That's far more consistent than <kbd>Page Up</kbd> / <kbd>Page Down</kbd>.

If I start at the top of the list and hold <kbd>Page Down</kbd>, the data grid consistently scrolls to the end of the results set without losing focus. But starting with the last row focused and holding <kbd>Page Up</kbd> will cause the data gr

[2019-01-10 21:57] #3601 closed

[2019-01-11 00:35] chlafreniere opened #3713 "SQL ActionBar: Pull() Method Is Broken"
While working on the notebook toolbar, I noticed that the pull() method in src/sql/base/browser/ui/taskbar/actionbar.ts has the following definition:
`

    public pull(index: number): void {
		if (index >= 0 && index < this._items.length) {
			this._items.splice(index, 1);
			this._actionsList.removeChild(this._actionsList.childNodes[index]);
		}
	}

`

Unfortunately, this implementation doesn't

[2019-01-11 00:57] alanrenmsft commented on #3706
@trendoid Could you please provide repro steps?

[2019-01-11 01:44] erymuzuan opened #3714 "HTML query result messed up"
Issue Type: <b>Bug</b>

When query result contains valid HTML text, the result pane displayed rendered HTML instead of the raw HTML text

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:59:38.228Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E31225 @ 3.10

[2019-01-11 05:55] kkbruce opened #3716 "How to assign session "program_name"?"
Issue Type: <b>Feature Request</b>

How assign seesion "program_name" by Azure Data Studio?

Like `sys.dm_exec_sessions` information, we need change it from Azure Data Studio.

Azure Data Studio version: azuredatastudio 1.3.7-insider (5a3087859918b1564d2622b95defa662facdbef6, 2018-12-07T02:33:40.014Z)
OS version: Windows_NT x64 10.0.17134

[2019-01-11 13:46] zilverjk opened #3717 "Eating a lot of memory ram"
I've been testing with a simple task like doing an Stored Procedure or checking some tables, I got a few open tabs and in some times the app rise up to almost the limit of my physical ram, this is unacceptable, please verify this, I don't want to go back to SSMS.

Note: I've checked this in 2 different systems with different hardware, both running Windows 10 Pro 64Bit with 12 GB and 16 GB respecti

[2019-01-11 15:17] zilverjk commented on #3717
![image](https://user-images.githubusercontent.com/7515854/51042327-ffedfb00-1589-11e9-8b71-079ec7140b2a.png)

[2019-01-11 16:37] juliermecarvalho commented on #172
+1

[2019-01-11 17:38] kburtram commented on #172
@simonsabin the implementation @anthonydresser merged (https://github.com/Microsoft/azuredatastudio/pull/2778) calculates the size based on using the HTML DOM to measure all the visible cells.  Apparently this works well most the time, but has some problems with particular types of values (I think large BLOBs and VARCHARS, IIRC).

I'll post an insiders build including that change to get some feedb

[2019-01-11 17:40] simonsabin commented on #172
Biggest gripe is truncation of short columns.

Simon Sabin
Director Engineering Sabin.io
Founder SQLBits
Microsoft Regional Director & MVP

________________________________
From: Karl Burtram <notifications@github.com>
Sent: Friday, January 11, 2019 5:38 pm
To: Microsoft/azuredatastudio
Cc: Simon Sabin; Mention
Subject: Re: [Microsoft/azuredatastudio] Auto-sizing columns in the results panel (#172

[2019-01-11 17:48] kburtram commented on #3529
@anthonydresser thanks for fixing!  I'll post an updated insiders build from master this afternoon.

[2019-01-11 18:07] kburtram commented on #3717
@zilverjk we have seen excessive memory consumption in some scenarios (~1GB), but I haven't seen ADS consuming 8GB before under "normal usage".

Could you please confirm the product version you're using?  1.3.8?
Is there anything noteworthy about your use case that may help repo this issue?

[2019-01-11 18:14] zilverjk commented on #3717
This is something I can't confirm but I think the reason of this is when I execute the app as Administrator. I was having the same issue with SSMS with an excessive memory consumption. Now without the admin, SSMS is running smooth. I'll confirm if this is the same problem with ADS.

[2019-01-11 18:44] chlafreniere opened #3718 "Decouple notebooks from HADOOP_KNOX Provider"
The attach to dropdown is currently quite tightly coupled with the HADOOP_KNOX connection provider. This needs to be split out so that the attach to dropdown for SQL can function properly.

All HADOOP_KNOX references should exist in the extension where we contribute the Jupyter notebook provider.

[2019-01-11 18:46] chlafreniere opened #3719 "Notebooks: Ensure every provider has cancel functionality"
Cancelling a query for SQL notebooks has not been implemented yet; users get a strange error when attempting to cancel.

[2019-01-11 18:57] gbritton1 opened #3720 "When scripting objects, name the editor tab the name of the object"
Issue Type: <b>Feature Request</b>

If I right-click on an object in the server panel and select "Script as..." the tab that opens has a name like SQLQuery_n-CRSDAL...grated) where n is an integer.

I'd find it more helpful if the tab were given the same name as the object being scripted, appending an integer for uniqueness if required.

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec

[2019-01-11 19:45] kburtram commented on #3717
@ranasaria have you seen anything like this in our stress tests?  I can't think of any use case where I'd anticipate this level of memory consumption.

[2019-01-11 19:59] ranasaria commented on #3717
@zilverjk, how many tabs do you have? Does your tabs have actively long running queries?

[2019-01-11 20:07] kburtram commented on #3706
@alanrenmsft this repro on dark and HC themes.  I've send a proposed fix in PR https://github.com/Microsoft/azuredatastudio/pull/3721.

[2019-01-11 20:11] kburtram commented on #3714
Here's an example repro for this regression.

[code]

![image](https://user-images.githubusercontent.com/599935/51057279-ff5d6080-1599-11e9-8917-93dbc5281a69.png)

[2019-01-11 21:38] #3706 closed

[2019-01-11 22:44] kburtram commented on #3714
@anthonydresser any ideas on this one?  We should try to include a fix in the Hotfix release next week if possible.

[2019-01-11 22:46] anthonydresser commented on #3714
No clue why this keeps coming back, we should probably just modify slickgrid to handle it in there

[2019-01-11 22:52] kburtram commented on #3714
@anthonydresser thanks, could you please take a look at a fix?  I think this creates an XSS problem so we should repair ASAP.

[2019-01-11 23:31] zilverjk commented on #3717
@ranasaria simple task like building a stored procedure and bunch of select 3 - 5 tabs. but as I said simple things

[2019-01-12 00:33] chpurna opened #3723 "Error: self signed certificate in certificate chain"
Issue Type: <b>Bug</b>

When trying to "add account" getting error: 'Error: self signed certificate in certificate chain'. Issue is same with both Installer and zip file. Got admin permissions on the machine... and tried running the ".exe" as admin... no luck

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:59:38.228Z)
OS version: Windows_N

[2019-01-12 00:34] ranasaria commented on #3717
The only scenario in which we have observed large memory usage is when the editor is running queries that return large amount of results. This is bewildering.

@zilverjk, would it be possible for you to share a memory snapshot of Azure Data Studio? To get a memory snapshot, go to:

Help -> Toggle Developer Tools (Ctrl + Shift + I) -> Memory Tab -> Profiles – Take Snapshot Radio button selected ->

[2019-01-12 00:52] kburtram commented on #3723
@chpurna to clarify, the error is popping as a notification window in Azure Data Studio, or surfacing elsewhere?

[2019-01-12 00:57] chpurna commented on #3723
Error is popping up as a new window...

![image](https://user-images.githubusercontent.com/32217522/51066867-b1b11a00-15d2-11e9-8a7f-e67bebe3246e.png)

[2019-01-12 00:58] jdshkolnik commented on #17
Where does this stand? It's the main reason I don't use Data Studio.

[2019-01-12 01:00] chpurna commented on #3723
Another screenshot from developer tools (Azure Data Studio -> Help -> Toggle Developer Tools..

![image](https://user-images.githubusercontent.com/32217522/51066918-25532700-15d3-11e9-8602-d70bd352cd3f.png)

[2019-01-12 01:33] kburtram commented on #17
@jdshkolnik we are currently doing our planning through the end of June and this item was included in a larger proposal to update the Server viewlet (basically to consolidate the Server and Azure viewlets and make the new Server viewlet extensible to additional Data Source metadata providers, such as CMS).  Hopefully, this would land in March or April releases, but we aren't currently working on t

[2019-01-12 01:38] chpurna commented on #3723
and %APPDATA%\azuredatastudio\Azure Accounts   is empty.

Developer tools log:
17:06:24.657 C:\SOURCE\azuredatastudio-windows\resources\app\node_modules\zone.js\dist\zone-node.js:2280 [91m[main 5:06:24 PM][0m Error while adding account: Error: self signed certificate in certificate chain
Zone.__load_patch.consoleMethods.forEach.console.(anonymous function) @ C:\SOURCE\azuredatastudio-windows\res

[2019-01-12 03:55] mysmlz opened #3727 "No language packages"
Issue Type: <b>Feature Request</b>

There are only a few plug-ins in the marketplace and no language packages.

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:59:38.228Z)
OS version: Windows_NT x64 10.0.17763

[2019-01-12 05:53] PietkaSmig commented on #1026
Hi, what do you think when can you start working on this ? Basically the soft is pretty cool, works very fast and looks nice however any BI developer in an average size company is using SSAS and SQL. You prepare data in sql and prepare tabular model - the amount of data always put into this direction. Adding MySQL would be also a very good move. At least you could start from ODBC drivers and get c

[2019-01-12 17:41] findtanmayray commented on #3002
I am trying with 1.2.4 of Azure Data Studio and 0.5.1 of profile extension. When I am triggering the query from java application, I only get SELECT 1 in text field irrespective of the query. @alanrenmsft
 Could you please test with Java application?

[2019-01-13 05:42] lavanya2290 commented on #3529
Working now checked in feb build

[2019-01-14 09:01] MohsineC opened #3730 "AD authentication still not working on SQL DW (January release)"
Just dowloaded the January Release of Azure Data Studio and tried to connect to our SQL DW database using AAD. Authenticating my credentials with MFA worked because all the tenants are being listed correctly in the "Azure AD Tenant" dropdown.
But connecting to the DW does not work. It says "'Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'.

My AD account is (sql) serveradmin and connecting to

[2019-01-14 11:58] CobusKruger commented on #241
@kburtram Issue #114 has been closed, but this is still not fixed.

[2019-01-14 12:17] Jabe commented on #3700
@kburtram Sorry, don't know! First time trying AzureAD MFA auth.

[2019-01-14 14:05] zengshengliu commented on #3627
@kburtram Sorry I might have stated it wrong.  The UI itself is fine, but no query will execute when its in that state.
What happen is while typing the query, when get to certain part (like the table name), interllisense tries to get the table definition like column names and got blocked, but the user (me) continue the query.  After we finish typing and try to execute, nothing will happen.  The qu

[2019-01-14 16:33] zilverjk commented on #3717
@ranasaria Here is the requested. Also Im having trouble with the UI where the tabs and the query editor are gone and I have to reload the app for they can reapear again, I'm supplying this as well in the zip.

![ui](https://user-images.githubusercontent.com/7515854/51126078-3af16800-17f0-11e9-903a-b56d2d736966.jpg)

[ADS_bugs.zip](https://github.com/Microsoft/azuredatastudio/files/2756066/ADS_bug

[2019-01-14 16:40] #3730 closed

[2019-01-14 16:42] MohsineC commented on #3730
Reboot helped :-)

[2019-01-14 18:31] MattIrv opened #3731 "Minor issues saving scroll position in results"
- When you rerun a query the scroll position across all result sets does not jump back to the top like it used to

- Sometimes the scroll position across all result sets does not get reset correctly when switching tabs, especially when there are 3 or more result sets

I’ve looked into these a bit but they’ll require some more effort to fix because of the way the code works now, especially the seco

[2019-01-14 18:41] ttilberg commented on #3108
I have a file `~/.config/mimeapps.list` which is where my application Open With preferences get defined from nautilus > right click > Properties > Open With menu.

If I set `HTML document` to Sublime Text, I see an entry:
[code]

The next time I open Azure Data Studio, it is reliably overwritten to:
[code]

Ubuntu 18.04.1 LTS
Azure Data Studio 1.3.8 2019-01-08

[2019-01-14 19:22] ttilberg commented on #3108
@kburtram In case this is helpful, I also have vscode installed, and do not experience the same issue there. I know that doesn't guarantee anything, but it might give you less work in identifying the cause.

[2019-01-14 20:19] kburtram commented on #3717
@zilverjk could you please show the break down of memory usage for the Azure Data Studio child processes?  i.e., expand the Azure Data Studio node in the Task Manager screenshot above.

I didn't see unusually memory consumption in the ADS heap snapshot you provided, so I think the memory should be consumed by one of the other child processes.

[2019-01-14 20:27] Adikota opened #3732 "unable to access devicelogin page"
trying to sign into Azure account in Azure Data Studio and unable to connect to microsoft.com/devicelogin page.

- Azure Data Studio Version: 1.3.8

[2019-01-14 21:12] jtgooding2 commented on #3183
I'll assume this didn't make the release since it still fails with master.information_schema in lower case after upgrading to January and installing the new SQL 2019 preview, think it will make the next cut or do we need to do something else to fix it?

[2019-01-14 21:13] uc-msft opened #3733 "Last column in result is blank / rendered improperly"
![repro](https://user-images.githubusercontent.com/10999577/51141443-1ef4c300-17fe-11e9-8f60-b0c46b9d4be0.png)
Issue Type: <b>Bug</b>

Ran query that returns 3 columns. However, the result displayed as shown. SSMS renders the results fine.
![repro](https://user-images.githubusercontent.com/10999577/51141627-a5110980-17fe-11e9-9ebd-1f6fa9f2fe1c.png)

Azure Data Studio version: azuredatastudio 1.3.8

[2019-01-14 21:21] uc-msft opened #3734 "Notebook cells are shown empty some times even when there is content"
![repro](https://user-images.githubusercontent.com/10999577/51141879-3da78980-17ff-11e9-986e-73e9235fcab4.png)
Issue Type: <b>Bug</b>

See picture. It is unclear how to repro this issue. I had a notebook & multiple SQL windows open. After I do something in the SQL window and come back the notebook cells are empty. It seems if you give it few minutes then it shows some content.

Azure Data Studio v

[2019-01-14 21:23] kevcunnane commented on #3183
@geleems can you comment on this? It should have been fixed and included in v0.9.1 of the extension, correct?

[2019-01-14 21:24] vickyharp opened #3735 "Unable to save new notebook"
Issue Type: <b>Bug</b>

When I create a new notebook from the command palette and use the File... menu or Ctrl+S to save, I receive this error:

![image](https://user-images.githubusercontent.com/8250560/51142049-ac84e280-17ff-11e9-87e1-1de0c23492f9.png)

Azure Data Studio version: azuredatastudio 1.3.7-insider (5a3087859918b1564d2622b95defa662facdbef6, 2018-12-07T02:33:40.014Z)
OS version: Window

[2019-01-14 21:25] kevcunnane opened #3736 "Notebook: cannot connect to SQL big data cluster due to empty config.json file"
This affects the January release.
Steps to Reproduce:

1. Delete the `%home%/.sparkmagic` folder if it exists
2. Open Azure Data Studio, New Notebook, PySpark3, and select a connection
3. Run `print (1)`
Expected: works and creates a session
Actual: Fails due to SSL error

Root cause is that the Notebook code to create a config.json with `ignore_ssl_errors=True` was not ported over. We need to fix

[2019-01-14 21:39] geleems commented on #3663
I could not reproduce the issue. It showed more than 500 column definitions without the issue in my trial. Can you try again in latest bits?

[2019-01-14 21:40] geleems commented on #3584
This had been fixed.

[2019-01-14 21:40] #3584 closed

[2019-01-14 21:41] #3083 closed

[2019-01-14 21:43] luismiguelgilbert opened #3737 "Row Count not updated"
Issue Type: <b>Bug</b>

When you run a SELECT query  from a table, rowCount shows the results.
If  you run a differente SELECT query, rowCount doesn't update, but if user switch to other tab and return, then the rowCount is updated

![image](https://user-images.githubusercontent.com/20174916/51143032-84a37800-181b-11e9-875a-5f52e26239c8.png)

SQL Operations Studio version: sqlops 0.33.0 (deee2d8aa

[2019-01-14 21:50] kburtram commented on #3737
@luismiguelgilbert I think this issue should be fixed in the latest Azure Data Studio releases.

We are longer producing updates for SQL Operations Studio since we've rebranded the product.  Please manually uninstall SQL Ops Studio Preview and install Azure Data Studio from https://docs.microsoft.com/en-us/sql/azure-data-studio/download?view=sql-server-2017 to upgrade.  Sorry for any inconvenience

[2019-01-14 21:52] kburtram commented on #3732
@Adikota are you getting any particular error?  I've seen that some users have needed to type https://microsoft.com/devicelogin into the web browser to get the page to load, but I am not sure why.

[2019-01-14 21:55] kburtram commented on #3733
@uc-msft do you know if this is happening consistently?  or was this a "1-off" rendering issue?  Is it only impacting this one table or all queries?  Thanks!

[2019-01-14 21:55] luismiguelgilbert commented on #3737
Yes, you are right…

I was still using SQL Operations… Today, I received un update for SQL Operations, and then I reeived a second update notification for Azure Data Studio…

Azure Data Studio is working as expected…

Thanks!

De: Karl Burtram <notifications@github.com>
Enviado el: lunes, 14 de enero de 2019 16:51
Para: Microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
CC: luismiguelg

[2019-01-14 21:58] kevcunnane commented on #3602
Closing in favor of #3734 which was opened by a user.

[2019-01-14 22:00] kburtram commented on #3737
@luismiguelgilbert thanks for confirming, I'll close the issue then.

Unfortunately, the SQL Ops to Azure Data Studio upgrade was a bit more complicated then we hoped since Windows depends on the product name in so many places we couldn't really get a clean auto-update experience.

[2019-01-14 22:00] #3737 closed

[2019-01-14 22:01] kevcunnane commented on #3734
Thanks UC. This is an issue we need to address for the Feb release, I saw it and had a separate issue tracking it. So far it seems to happen when re-rendering a Notebook after switching tabs but we need more investigation into it. A workaround is to save, close & reopen the notebook but I understand this isn't ideal.

[2019-01-14 22:14] #3736 closed

[2019-01-14 22:49] vickyharp commented on #3735
When using the Save button on the notebook:

![image](https://user-images.githubusercontent.com/8250560/51146392-85cca900-180b-11e9-8b45-9c2d812d177e.png)

[2019-01-14 23:05] vickyharp commented on #3735
Was on an out of date extension, closing as it works in 0.9.1.

[2019-01-14 23:05] #3735 closed

[2019-01-14 23:39] kburtram commented on #3695
Closing as Fixed based on #3620.  The commit will be in the hotfix release planned for this week.

[2019-01-14 23:40] kburtram commented on #3714
Closing as Fixed based on https://github.com/Microsoft/azuredatastudio/pull/3722.  The commit will be in the hotfix release planned for this week.

[2019-01-14 23:40] #3714 closed

[2019-01-14 23:59] MattIrv commented on #3717
This may be the same issue we've seen in the VS Code MSSQL extension: https://github.com/Microsoft/vscode-mssql/issues/1028

Does it only happen when you have a specific query file open?

[2019-01-15 00:04] geleems commented on #3183
@kevcunnane
I could not repro the issue. It works fine for me.
My targets are 2017-2 and 2017-3.
Both are fine without any issue.
Could you please retry with latest bit?

![image](https://user-images.githubusercontent.com/19577035/51149184-dc3ee500-1815-11e9-9536-dd774c66e585.png)

[2019-01-15 00:34] jtgooding2 commented on #3183
I am running latest SQL 2019, latest Azure Data Studio (un-installed and
re-installed), running 0.9.1 of SQL 2019 preview extensions.

The source for the external table is a SQL 2017 (14.0.3038.14) this is our
primary development server we do a lot of work internationally and had hit
customers with case sensitive systems in foreign languages so configure it
to be like our worst case customer so th

[2019-01-15 00:37] geleems commented on #3183
@jtgooding2
Thank you for the details. I will look into it.

[2019-01-15 01:41] ranasaria commented on #3717
@zilverjk - could you expand the Azure Data Studio (13) process in Task Manager and share the snapshot specifically interested in seeing which child process is consuming the memory.

[2019-01-15 01:49] kburtram opened #3740 "Query results grid no longer has magnify button with multiple results sets"
- Azure Data Studio Version: 1.3.8

Steps to Reproduce:

1. Run a query with multiple resultsets

Expected: Magnify button for reach resultset

Actual
![image](https://user-images.githubusercontent.com/599935/51153290-67bf7280-1824-11e9-93c8-230f1919d705.png)

Here's Nov release
![image](https://user-images.githubusercontent.com/599935/51153347-a7865a00-1824-11e9-8639-97cf6d2df0fc.png)

[2019-01-15 15:49] NJohnson9402 commented on #17
Needs to happen! It's a roadblock for adoption. Glad that it's on the roadmap; let's get it done.

[2019-01-15 16:03] Adikota commented on #3732
My request just times out

[2019-01-15 16:09] FredipusRex opened #3741 "UI not rendering"
I am trying to migrate from SQL Operations Studio to Azure Data Studio using Centos 7/Mate.

SQL Ops (v0.31.4) works fine - the Electron renderer displays the normal GUI and seems to be rendering the menus as well (as they aren't anti-aliased).

ADS (v1.3.8) only displays the window chrome (title bar, frame) and the menu bar (which appears to be Mate rendering, as it's anti-aliased). The rest of t

[2019-01-15 18:35] amthomas46 commented on #3121
Agree with this - also think we should add using CTRL + s to save a notebook. I've lost a few update because I thought I was saving but I wasn't

[2019-01-15 18:37] amthomas46 opened #3742 "+ button to add new cell in notebook"
**Is your feature request related to a problem? Please describe.**
Extra clicks

**Describe the solution or feature you'd like**
Would like there to be a plus button to add a new cell. Right now, I have to right click and click again. It seems like not a big deal but it is annoying. I'd also love the ability to drag cells up or down (i.e. move a cell's location)

[2019-01-15 18:39] amthomas46 opened #3743 "support for SQL Server Machine Learning Services"
**Is your feature request related to a problem? Please describe.**
By default, Notebooks run Python 3.6, but SQL MLS uses Python 3.5 and a very specific location to open. So you can't run revoscalepy in ADS

**Describe the solution or feature you'd like**
It's be nice if there was an easy way to connect and use revoscale py from within ADS

**Describe alternatives you've considered**
I just have t

[2019-01-15 18:40] amthomas46 opened #3744 "Autosave ability for Notebooks"
**Is your feature request related to a problem? Please describe.**
autosave isn't enabled, and if I accidentally close ADS or open a new folder, all my changes are lost, there's not even a toast message

**Describe the solution or feature you'd like**
Would like to be able to toggle autosave for my notebooks

[2019-01-15 18:54] kevcunnane commented on #3743
@rajmusuku / @corivera this is related to the work to add a setting pointing to a Python install and support getting required dependencies for Jupyter server running on that. Please track and assign to a target milestone, thanks!

[2019-01-15 18:56] kevcunnane commented on #3744
Would you be OK with this being tied to the `files.autosave` setting in Azure Data Studio? See snippet below. Once we implement true save support (including the Ctrl+S support you commented on) this should happen "for free".

[code]

[2019-01-15 19:29] vicana8635 opened #3745 "after query all sections of azure data studio ui get messed up"
Issue Type: <b>Bug</b>

run query

Azure Data Studio version: Azure Data Studio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:48:43.514Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CPU @ 2.90GHz (12 x 2900)|
|GPU Status|2d_canvas: enabled<br>checker_imaging: disabled_off<br>flash_3d: enabled<br>

[2019-01-15 19:50] kburtram commented on #3745
@vicana8635 could you please provide some additional details on the repro steps and the observed behavior?  I am not able to repro the issue as described.  Thanks!

[2019-01-15 19:54] vicana8635 commented on #3745
the problem is that one of the fields returned in the query results has html in it and that messes up the UI

[2019-01-15 20:37] #3745 closed, assigned to nobody

[2019-01-15 20:57] kburtram opened #3747 "Inconsistent casing for Import extension context menus"
- Azure Data Studio Version: master

Steps to Reproduce:

1. Install Import extension
2. Right-click database

Expected: Menus have consistent casing and possibly related commands should be in same group

Actual: Two different groups of menu items, each with only 1 item.  One says "Data-tier Application Wizard" other say "Import wizard".  Minimally, wizard should be cased the same.  It may also be

[2019-01-15 21:50] kburtram commented on #3695
@anthonydresser I still occasionally see duplicate resultsets even with #3620 merged.  Though it is occurring less frequently.  Could you please take a look to see what's going on?

Here is an example from the Jan Hotfix build.
![image](https://user-images.githubusercontent.com/599935/51212123-706b8380-18cc-11e9-91aa-4ff13808d72e.png)

[2019-01-15 22:06] anthonydresser commented on #3695
It's related to #763, once we get that in all instances of multiple results sets that I know about should be fixed

[2019-01-15 22:13] kburtram commented on #3695
@anthonydresser OK, I update the SQL Tools Service with PR #3748.  We can try your previous change for tomorrow's release and see if Microsoft/sqltoolsservice#763 resolves the issue in master.  Thanks!

[2019-01-15 22:13] #3695 closed

[2019-01-15 22:23] kburtram opened #3749 "XML links in result grid don't have text decoration"
- Azure Data Studio Version: master

Steps to Reproduce:

1. Run a query with an XML column

Expected: XML columns are links and styled to make it clear they are links, e.g., with an underline or something.

Actual: XML columns are links, but appear the same as regular text except they have a different hover icon.

![image](https://user-images.githubusercontent.com/599935/51213875-0f927a00-18d1-11

[2019-01-15 22:36] #1387 closed, assigned to nobody

[2019-01-15 23:34] kburtram opened #3750 ""Top Operations" tab is now name "Top Operation""
- Azure Data Studio Version: master

Steps to Reproduce:

1. Run a query with Explain option to get estimated plan

Expected: Top Operations tab is visible

Actual: Top Operation tab is visible.

[2019-01-16 00:57] geleems commented on #3183
@jtgooding2
I still could not repro the issue in case-sensitive SQL Server instance.
This is my test environment.
* SQL Server 2019 with case sensitive collation `Latin1_General_CS_AS`
* Data Source: SQL Server 2017 with case sensitive collation `Latin1_General_CS_AS`
* International language tested: Chinese, Korean
  * Those languages are used for table name, schema name, column name.

![image](h

[2019-01-16 01:07] jtgooding2 commented on #3183
If you would like I can send you a gotomeeting or a skype link and show you
exactly, on the datasource page in the wizard for Create External Table it
blows up as seen in this screen cap, master has to be case sensitive (most
us systems aren’t but we ran into a string of them a couple years back that
were so we rebuilt our SQL box changing the collation on install with the
case sensitive master to

[2019-01-16 02:31] jtgooding2 commented on #3183
Target definetly it’s empty source let me see if I can recreate with a smaller dB that one has a few thousand tables/views I can probably get down to one table etc.  I will send it over in the morning thanks for looking into this we are excited about some possibilities with this for our clients, first test is sql then oracle and last I series db2

John Gooding

________________________________
Fro

[2019-01-16 03:03] geleems commented on #3183
@jtgooding2 I am so glad that our product can benefit to your business. Thanks for the help.

[2019-01-16 09:03] Diagonir commented on #3677
This problem also happens to me, albeit not in a consistent manner. Running the same query sometimes returns one results-grid and other times two
<pre>Version 1.3.8
Commit 84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1
Date 2019-01-08T23:59:38.228Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64</pre>

[2019-01-16 17:17] rajmusuku opened #3753 "Python Installation On-demand"
Currently, python is bundled with notebook extension and all the files are copied over to user's home directory part of the notebooks dependencies installation. Proposal is to support python's installation by downloading the source from online and give user a way to select path to be installed in local.

Here are the list of tasks

UI stuff:

- [x]  Add an entry to Kernels drop down called 'Config

[2019-01-16 18:20] kburtram commented on #3750
Fixed with https://github.com/Microsoft/azuredatastudio/pull/3751

[2019-01-16 18:20] #3750 closed

[2019-01-16 18:52] jtgooding2 commented on #3183
I looked into it I don’t have a way to do that because it is an on-premise
DB.

I can build a datpak for the two databases, but the issue is more the
master being case sensitive.

Previously, I was able to get it to work by creating a new db that was not
case sensitive (even with master being case sensitive) because it
references the source db, the fix looks like it references master directly
and

[2019-01-16 20:11] DaveDustin opened #3755 "product name shown incorrectly in update tooltip"
Issue Type: <b>Bug</b>

When there is an update available, hovering over the settings gear shows a tooltip stating
`New azuredatastudio update available.`

This should be presented as
`New Azure Data Studio update available.`

Azure Data Studio version: azuredatastudio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:30:09.442Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summa

[2019-01-16 20:23] geleems commented on #3183
@jtgooding2
Can you please share your desktop screen?

[2019-01-16 21:04] jtgooding2 commented on #3183
Meet Now

Please join my meeting from your computer, tablet or smartphone.
https://global.gotomeeting.com/join/171626565

You can also dial in using your phone.
(For supported devices, tap a one-touch number below to join instantly.)

United States: +1 (571) 317-3129
- One-touch: tel:+15713173129,,171626565

Access Code: 171-626-565

More phone numbers:
(For supported devices, tap a one-touch numb

[2019-01-16 21:30] mitchwinn commented on #447
I was having the same problem and searched throughout several issues trying to resolve it. The fix for me was to add an entry in my /etc/hosts file that resolved to the `machinename.domain.com`.

[2019-01-16 22:08] anthonydresser commented on #2669
I can't seem to repro this.

[2019-01-16 22:10] ndondapati opened #3757 "Ability to connect Azure Analysis Services and Analysis Services as well"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2019-01-16 22:22] ndondapati opened #3758 "Ability to deploy SSIS package and to access integration catalog"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2019-01-16 23:06] Diganth opened #3759 "Results are being displayed in 2 tables"
Issue Type: <b>Bug</b>

Azure Data Studio Version: 1.3.9

Open a new query window connected to a DB, and run a single SQL select command to display data from one database table.
The "Results" window has 2 tables showing the same data.

Rerunning the query a second time fixes the issue and I see only one table in the "Results" window.

Azure Data Studio version: azuredatastudio 1.3.9 (cacf0777c7470

[2019-01-17 01:47] benjaminmiao commented on #172
Why not use the same implementation as SSMS?

[2019-01-17 01:59] geleems commented on #3183
@jtgooding2
I was able to repro the issue successfully, and found the cause and method to resolve.
It was SQL Server side issue that some strings for `INFORMATION_SCHEMA.TABLES` and `INFORMATION_SCHEMA.COLUMNS` were lower case.
The bug is already known to the server team, and they already fixed it last Oct. So if you get the later CTP after last December, the error will disappear.

Another way to

[2019-01-17 08:37] jojeswe opened #3761 "Apply filter in Tables/Views folder"
Issue Type: <b>Feature Request</b>

We have a database with hundreds of tables and views. It would be great if I could apply a filter on what tables and views I would like to show in the Tables/Views folders under the server explorer window in Azure Data Studio. It should work the same way as in SSMS. Folding/unfolding objects based on schema would also be nice.

Azure Data Studio version: Azure D

[2019-01-17 14:00] gmcmenimen opened #3762 "Unable to login with correct credentials"
Issue Type: <b>Bug</b>

I can log into our Azure SQL Database in the Azure portal but I cannot log into the server from Azure Data Studio.  And our firewall is open so that is not the issue.

Azure Data Studio version: Azure Data Studio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:17:16.459Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2019-01-17 14:13] gmcmenimen commented on #3762
Found reason why.  Not an Azure Data Studio issue

[2019-01-17 14:13] #3762 closed

[2019-01-17 14:37] chittybang opened #3763 "Create a Keybinding for "Show SQL Pane" when Editing Data"
- Azure Data Studio Version:  1.3.9

Steps to Reproduce:

I can't find a way to create a Keybinding to show or hide the "SQL Pane" when editing data.
In SSMS this is Crtl + " but can't seem to find it for Data Studio.

Kind Regards,

Tim

[2019-01-17 16:28] amthomas46 opened #3764 "Unable to delete connections"
- Azure Data Studio Version: 1.3.8

Steps to Reproduce:

1. I'm able to delete the "recent connections" but there's no way to remove saved connections from here

![image](https://user-images.githubusercontent.com/28786161/51333010-b857eb00-1a31-11e9-97ef-886a146a0e7d.png)

[2019-01-17 16:43] amthomas46 opened #3765 "standard markdown support, e.g. > result in note"
**Is your feature request related to a problem? Please describe.**
I want to add notes within my markdown cells. Typically, you can do that in markdown using the ">" character and it will indent/grey-format it, but you can't do that currently

**Describe the solution or feature you'd like**
I want the above experience :-)

**Describe alternatives you've considered**
Just pressing return a few time

[2019-01-17 17:42] jdanton opened #3766 "Azure Data Studio asks for Access to Photos, calendar"
- Azure Data Studio Version: Version 1.4.1-insider (1.4.1-insider) Mac OS

Steps to Reproduce:

1.  New Install of Azure Data Studio (In this case replacement of existing file)
2. Select File > Open from menu
3. User is prompted to grant access to photos and calendar to ADS.

[2019-01-17 17:51] qJake commented on #172
@benjaminmiao Probably because SSMS uses a native Windows GridView control, while ADS uses an HTML-based frontend. 😉

[2019-01-17 17:57] kburtram commented on #3759
@JASM2007 this was an unfortunate regression that shipped as part of the result set streaming work (the feature that enables query results to be displayed progressively while the query is executing).

The 1.3.9 build took a fix that should reduce the occurrences of this rendering bug, but it can still occur sometimes.  We think the issue is fully resolved in master so I'll post an updated insider

[2019-01-17 18:03] kburtram commented on #3764
@amthomas46 the Save Connections can be managed in the Servers viewlet.  They are displayed in the Connect Dialog as a convenience, but we currently certain operations in the viewlet.

![image](https://user-images.githubusercontent.com/599935/51338616-1f2fd100-1a3f-11e9-87ca-3d0c9b9c2429.png)

[2019-01-17 18:03] #3764 closed

[2019-01-17 18:06] kburtram commented on #3766
@jdalton I could only repro this when I clicked on the "Photos" icon in the "Media" section of the open file dialog.  Are you getting these prompts when only browsing your file system?

[2019-01-17 18:22] jdanton commented on #3766
I was just trying to open a .sql file that was in downloads. Let me try it again.

[2019-01-17 18:22] #3766 closed

[2019-01-17 18:55] JFitzMan opened #3767 "Messages shows entire log for session starting from top after switching tabs"
Issue Type: <b>Bug</b>

Expected Behavior: Messages only shows information relevant to the last query ran, or the currently executed query. This is how it's worked in previous versions.

Now, if you switch tabs and come back, Messages will show the messages for everything that has been executed in that session, starting at the top. If you've run a lot of queries, this means you have to scroll down

[2019-01-17 20:59] taranttini opened #3768 "How I can publish my color theme on store?"
I created a modified Monokai theme, and I need to know how to post or publish in the store, if possible, thanks for the attention;

https://github.com/taranttini/tau-dark-theme-ads
![screen](https://user-images.githubusercontent.com/6922125/51348438-e79a4680-1a89-11e9-8266-9ab91736330f.png)

[2019-01-17 22:00] gbritton1 opened #3770 "Intellisense incorrectly flags $partition references as error"
Issue Type: <b>Bug</b>

This query

[code]
is flagged as a syntax error, but it is perfectly valid

Azure Data Studio version: azuredatastudio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:30:09.442Z)
OS version: Windows_NT x64 6.1.7601
![image](https://user-images.githubusercontent.com/12263288/51351633-6b980280-1a79-11e9-8962-4cdcee206efe.png)

<details>
<summary>System Info</su

[2019-01-17 23:52] User-4574 opened #3771 "unified linux repos."
When we install SQL server we install it via a yum/Debian repo, which is how you’re supposed to do it. If we have other packages like this:
https://docs.microsoft.com/en-us/sql/azure-data-studio/download?view=sql-server-2017
We should put them in the same yum/debian repo to simplify/unify package installation.

We should also put the pssdiag and sdp in our repos as well as it’ll help us in support

[2019-01-18 01:31] benjaminmiao commented on #172
@qJake What I mean is to use the same logic behind SSMS to calculate the columns width. not the same width for all column regardless its content or type :smile:

[2019-01-18 01:43] yvrkarthik commented on #2669
@anthonydresser,- I tried to replicate the issue but it seems to be fixed. I'm on v1.3.8.

It might have been fixed now. So, I will be closing this issue and will re-open if the issue does come back.

Thanks

[2019-01-18 01:43] #2669 closed

[2019-01-18 01:53] #3767 closed

[2019-01-18 02:04] kburtram commented on #3766
@jdalton thanks for confirming!  I'll keep any eye out for this.  We don't do anything regarding Photos or Calendar directly, but we have a lot of upstream dependencies (VS Code, Electron, Chromium, etc.) so it's possible something unexpected is happening.

[2019-01-18 03:33] kburtram commented on #3723
@chpurna the issue here appears to be that there is something in the environment that is doing inspection of HTTPS traffic (firewall, antivirus software, etc.).  This requires installing a self-signed certificate to decode the HTTPS traffic.

Unfortunately, Node.JS bundles its own CA list and doesn't use the Windows Certificate Authority store (see details at https://github.com/nodejs/node/issues/

[2019-01-18 07:21] github24518 opened #3773 "why not support oracle?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2019-01-18 08:43] donovanwhite commented on #3700
Hi Jan,

I get the same error in previous versions as well.

Regards

Donovan Alan White
Cloud Solution Architect – Data Platform
Specialist Technical Unit
South Africa
'  +27 (11) 361 8693  | È+27 (83) 402 7844  |   3012 William Nicol Ave, Bryanston, South Africa
[cid:image001.jpg@01CE82FF.1A87ECB0]<http://www.microsoft.com/>

From: Jan Berdel <notifications@github.com>
Sent: Monday, 14 January 2

[2019-01-18 11:26] mrrrk opened #3774 "Expand columns in SQL Server 2005 - unknown property IsColumnSet"
Issue Type: <b>Bug</b>

1 - Connect to a database on instance of SQL Server 2005.

2 - Expand explorer tree down to "columns" level

Shows error dialogue with message, "unknown property IsColumnSet" when "Columns" is clicked and fails to expand.

:o)

Azure Data Studio version: azuredatastudio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:30:09.442Z)
OS version: Windows_NT x64 10.

[2019-01-18 13:00] camckay commented on #3671
Thanks for the workaround! Can confirm it works on openSuse Tumbleweed. Hopefully this bug gets fixed soon.

[2019-01-18 17:01] bvogelzang opened #3775 "Interrupted search in the select database dropdown"
Issue Type: <b>Bug</b>

Searching for a database in the select database dropdown in query toolbar will be interrupted in certain scenarios.

#### Scenario 1

1. Type a few characters to search for a database. Databases list will be filtered by the entered search term.
2. Click inside the dropdown in order to change cursor position in your search term. Even though your search term is still present

[2019-01-18 18:10] chpurna commented on #3723
@kburtram , thank you for the update... if node.JS has its own CA list, why the same version of ADS working for someone and not for others, please?

[2019-01-18 18:14] kburtram opened #3776 "Azure Resource Explorer continually pops-up error with expired user credentials"
- Azure Data Studio Version: master

Steps to Reproduce:

1. With an expired Azure user credential, try to expand an Azure subscription node

Expected: Prompt for credential refresh

Actual: Error messages pops-up over-and-over in infinite loop.

<img width="609" alt="screen shot 2019-01-18 at 10 01 42 am" src="https://user-images.githubusercontent.com/599935/51404965-cd07b200-1b09-11e9-8d2e-7a7cf

[2019-01-18 18:23] chpurna commented on #3723
Also, there seems to be an npm package update as below to read CAs from windows store. Please check if this help to update Node.JS for ADS.

https://www.npmjs.com/package/system-ca-win32?activeTab=readme

[2019-01-18 18:26] kburtram opened #3777 "Azure Resource Explorer doesn't show account icon and commands"
- Azure Data Studio Version: master

Actual
<img width="500" alt="screen shot 2019-01-18 at 10 22 01 am" src="https://user-images.githubusercontent.com/599935/51405560-7a2efa00-1b0b-11e9-9329-97cd6a1a9671.png">

Expected
<img width="502" alt="screen shot 2019-01-18 at 10 24 45 am" src="https://user-images.githubusercontent.com/599935/51405566-7e5b1780-1b0b-11e9-873c-d1185771e12f.png">

[2019-01-18 18:43] kburtram commented on #3773
@github24518 thanks for the suggestion.  We're consolidating requests to support all non-SQL Server relational DB platforms into this issue https://github.com/Microsoft/azuredatastudio/issues/56.

[2019-01-18 18:43] #3773 closed

[2019-01-18 18:49] kburtram commented on #3774
@mrrrk ADS currently only officially supports SQL Server 2014+, though we do try to support downlevel versions.  I think SQL Server 2008 R2 is the lowest version that pretty much works reliably.

I'll take a look if this particular issue is something that is easy to avoid.  However, you'd likely run into several other issues working with a SQL Server 2005 instance.  Sorry for the inconvenience.

[2019-01-18 18:52] kburtram commented on #3723
The bundled CA list is only an issue if you have a component decoding HTTPS traffic in your environment.  You’d want to determine what is inspecting the HTTPS traffic in one environment and use the same component in the other environment to repro the issue there.

The npm module you referenced is a separate library that would need to be adopted by upstream components and ADS Azure components.  Thi

[2019-01-18 21:04] yualan opened #3778 "Intellisense delayed"
![gif](https://media.giphy.com/media/57UlHuxiBGGGmpNOTh/giphy.gif)

- Azure Data Studio Version: 1.3.9

Steps to Reproduce:

1. Download latest version of Azure Data Studio (1.3.9)
2. Connect to localhost SQL Server 2017
3. Open New Query Window
4. Type S
5. Intellisense has a clear delay

I have tried a fresh install and restarting computer, and refreshing intellisense cache. Computer is 16gb and

[2019-01-18 22:30] anthonydresser commented on #3778
We haven't made any changes in this area in a while that I know of. @kburtram is it possible that it was caused by https://github.com/Microsoft/sqltoolsservice/commit/0fd98df79b27a25a23dcc3dea98dd1999144661d

[2019-01-18 22:33] yualan commented on #3778
This was also repro-ed by @chlafreniere and appears to be affecting T-SQL notebooks. Thanks Anthony and Karl for investigating

[2019-01-18 22:52] kburtram commented on #3778
@anthonydresser this is not likely related to Microsoft/sqltoolsservice@0fd98df which bumps from a near-RTM preview of SqlClient to the RTM SqlClient.  IntelliSense is handled by SMO, SQL Parser, and logic in SQL Tools Service, so any minor changes in SqlClient between those two versions is unlikely to impact IntelliSense perf.  Most likely this is related to the issue we've always had populated t

[2019-01-18 23:02] amthomas46 opened #3779 "Cell errors cut off in Notebooks"
- Azure Data Studio Version: 1.3.9

Steps to Reproduce:

1. Run a cell with a long error. It doesn't Wrap like you would hope, e.g.
![image](https://user-images.githubusercontent.com/28786161/51417253-02c09100-1b32-11e9-98c2-a1f003c39488.png)

and there isn't a way that is obvious to scroll

[2019-01-19 02:42] RealLucasMeyer opened #3781 "Can't connect to SQL Server using "Windows Authentication" from Linux"
Issue Type: <b>Bug</b>

setspn -L SERVERNAME

Result:
[code]

After running `kinit`, `klist` returns:

[code]

Using the `odbc` package in R works with Trusted_Authentication=Yes

However, using `Windows Authentication` in Azure Data Studio fails with error:

[code]

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:47:37.469Z)
OS version: Li

[2019-01-19 23:39] richardtallent commented on #172
Is the grid aware of the datatype of the column being returned? If so, it should be childsplay to establish a reasonable default width for every data type other than varchar-ish columns, without having to look at the data. The biggest annoyances in my case have been with number, date, bit (too wide), and uniqueidentifier columns.

[2019-01-20 18:42] opus131 commented on #259
Any update on this?

[2019-01-20 21:42] demyte commented on #3757
Duplicate of #1026 I think

[2019-01-21 08:48] mrrrk commented on #3774
It's no biggie as we're retiring that server anyway - but I wondered if a message to say that support was missing rather than an exception dialogue would be appropriate :o)

[2019-01-21 11:10] thomaslevesque commented on #56
Why just relational databases? Why not CosmosDB, Mongo... ?
Frankly, from the name "Azure Data Studio", I would definitely have expected CosmosDB to be supported.

[2019-01-21 15:48] dubeg commented on #3696
@kburtram By tabbed interface, you mean like in SSMS where Query, Results and Messages are all in their own tab, but still related so that we can switch between them with a kb shortcut? If so, I'm really looking forward to it!

[2019-01-21 21:07] kburtram commented on #3696
@pzelnip we're tracking the bug you mentioned with issue https://github.com/Microsoft/azuredatastudio/issues/3177.  In the case of your screenshot the messages are collapsing to the bottom of the resultset grid rather than the bottom of the pane.  If the query returned a larger number of rows to fill the whole pane the messages would be collapsed at the bottom of the pane.  The switch to the tabbe

[2019-01-21 21:09] kburtram commented on #3774
@mrrrk good point, perhaps the "fix" here is to add a better error message when working with unsupported server versions.

[2019-01-21 22:31] atrauzzi commented on #124
With the product name change and this [comment by @kburtram](https://github.com/Microsoft/azuredatastudio/issues/2605#issuecomment-422153444), I'm going to close this out.

If you want support for any other types of databases (sql, nosql, cache and perhaps more!), [head to this issue and give it an upvote](https://github.com/Microsoft/azuredatastudio/issues/56)!

[2019-01-21 22:31] #124 closed

[2019-01-22 13:40] craigjar commented on #3631
I agree that when results contain multiple queries the experience is not good.  My preference would be that query results data grids be separated into their own tabs and allow you to pin them to keep them open if you decide to run additional queries.

[2019-01-22 16:26] simonsabin opened #3783 "Support querying log analytics/data explorer"
It would be beneficial to be able to query all different data sources from Azure Data Studio. Thus being able to query Log Analytics/Data Explorer would be great.

This would provide more weight to Azure Data Studio being the tool for querying data in Azure and on premise.

https://feedback.azure.com/forums/267889-log-analytics/suggestions/36598216-integrate-log-analytics-with-data-studio-to-have-

[2019-01-22 17:32] rajmusuku opened #3784 "Notebooks visualization improvements"
Work on visualization improvements by leveraging some features from Nteract. Below are some of the features to be implemented.

- [ ] Charts
- [x] Plotly
- [ ] Vega
- [ ] Vdom
- [ ] Support Prose team to improve Slick grid integration in Notebooks
- [x] Add an entry point to create a notebook from Fie menu (File -> New Notebook)
- [x] Notebook file save. (File -> Save)

[2019-01-22 18:37] alanrenmsft commented on #3645
@MikeYeager , The filtering feature has been implemented, You can check it out when the next insider build is released.

[2019-01-22 18:37] #3645 closed

[2019-01-22 18:58] #3755 closed

[2019-01-22 22:37] #3740 closed

[2019-01-22 22:37] #2252 closed

[2019-01-22 22:38] #3636 closed

[2019-01-22 23:22] #3776 closed

[2019-01-22 23:30] kburtram commented on #3610
I'll close this based on fixes that went on in the Jan release.  Please let me know if the problem persists on current builds.

[2019-01-22 23:30] #3610 closed

[2019-01-22 23:49] kburtram commented on #3672
The error message has ben disabled in master.  Let's open issues for any user facing side-effects that are observed.

[2019-01-22 23:49] #3672 closed

[2019-01-23 00:09] kburtram commented on #3622
This looks like a duplicate of https://github.com/Microsoft/azuredatastudio/issues/1605.  Basically we need to remove the Ctrl-Alt shortcuts.  I think the old up was determining which shortcuts to use instead.

[2019-01-23 00:09] #3622 closed

[2019-01-23 00:45] kburtram commented on #3771
@User-4574 thanks for the suggestion.  We are planning on improving the Linux acquisition experience over the next few releases.  Some of the naming (SQL Server vs. Microsoft) is decided at a broader scope than this project, though we can certainly pass along the feedback.

[2019-01-23 00:48] kburtram commented on #3783
@simonsabin thanks for the suggestion.  This is certainly the direction we'd like to go with the project, though we don't have extensions for these two Azure services in-progress at this time.  I'll keep these services in mind as we discuss how to better integrate with Azure.

[2019-01-23 05:06] thoma87 commented on #447
The original issue is still a problem, and I suspect a bug. As others have stated, other applications are able to authenticate using Kerberos; the problem is with sqlops only.

Is there another ticket which we should use to capture this specific problem with Kerberos on macOS? Currently, the application is not usable for those using Macs and Windows Auth.

[2019-01-23 06:46] ronychatterjee opened #3792 "Loading the first page in the Create External Table takes close to 5-10 secs"
Issue Type: <b>Bug</b>

When we load the Create External Table wizard it takes close to 5-10 secs to show the External Data Sources. This takes a long time specially during demo's. Why is taking so long from where is this information retrieved?

<img width="1197" alt="image" src="https://user-images.githubusercontent.com/22312581/51587971-8ac6e200-1f08-11e9-9492-5029e7a65c57.png">

Azure Data Stud

[2019-01-23 13:46] jconrey opened #3793 "Database Dashboard - Make Search panel wider to display longer object names"
Issue Type: <b>Bug</b>

Some databases can have objects with longer names, but there is currently no way to widen the Search panel in the Database Dashboard.

Azure Data Studio version: azuredatastudio 1.3.8 (84009f65ec6297d1cc16b1b2ec8f6fba9f5be2a1, 2019-01-08T23:59:38.228Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core

[2019-01-23 15:57] jconrey commented on #3793
Ah, saw a video that clued me in to clicking the Edit (pencil) in the top right, which then gives me layout control. Got it! #thatWasEasy

[2019-01-23 15:57] #3793 closed

[2019-01-23 17:34] chlafreniere opened #3794 "SQL Kernel: Attach To Always Displays "Select Connection""
We need to add filtering for the attach to in order to properly display SQL connections when the SQL kernel is selected in the kernels dropdown.

[2019-01-23 17:38] chlafreniere opened #3795 "Notebooks: Model Should Only Have One ClientSession"
Notebook model shouldn't have one clientSession per notebook provider; instead, there should be only one clientSession, and when changes to the notebook provider occur, we need to shutdown and startup new clientSessions.

[2019-01-23 17:41] chlafreniere opened #3796 "Notebooks: First Cell that's Added Doesn't Always Have Selection Outline"
When creating a new cell through the placeholder, the first cell that's created doesn't have the selection outline:

<img width="797" alt="image" src="https://user-images.githubusercontent.com/40371649/51625818-fdc55e00-1ef2-11e9-91b6-165e220b51cf.png">

[2019-01-23 17:45] chlafreniere opened #3797 "Notebooks: SQL Kernel Exception when Attempting to Run Cell with No Active Connection"
When attempting to run a cell with the SQL kernel selected but no active SQL connections exist, users get the following cryptic message:

Cannot read property 'getOptionsKey' of undefined

We should either block or give the user a message that a connection is required.

[2019-01-23 17:48] chlafreniere opened #3798 "Notebooks: Markdown Cells Only Go to Preview Mode When Clicking Inside Another Cell"
Markdown cells should go back into preview mode when clicking anything but the code editor when a markdown cell is in edit mode.

[2019-01-23 17:51] chlafreniere opened #3799 "SQL Kernel: Attach To Should Indicate Database as Well as Server"
When connecting with the SQL Kernel, the Attach To dropdown should indicate the database name. Perhaps:

FakeServer (fakedb)

[2019-01-23 17:52] chlafreniere opened #3800 "Notebooks: Add IntelliSense Binder Support for SQL"
Currently, there is no binder support when selecting the SQL kernel. This needs to be added to ensure that we get closer to parity with the query editor.

[2019-01-23 18:50] #3777 closed

[2019-01-23 18:54] #3540 closed

[2019-01-23 18:58] #3488 closed

[2019-01-23 18:59] kburtram commented on #3514
This is fixed in current builds.

[2019-01-23 18:59] #3514 closed

[2019-01-23 19:03] #3369 closed

[2019-01-23 19:04] kburtram commented on #3369
This should be fixed in the latest builds.

[2019-01-23 19:48] chlafreniere opened #3801 "Notebooks: Add User-Configurable Option for Enabling SQL Kernel"
Add user-facing configuration option to enable/disable SQL kernel

[2019-01-23 20:17] kburtram commented on #3004
We made a change to have generated SQL scripts created as "not dirty" so there won't be Save prompt in the repro scenario.  This is available in the latest insiders builds and will be in the Feb release.

[2019-01-23 20:17] #3004 closed

[2019-01-23 20:22] kburtram commented on #2711
@theBull thanks for the suggestion.  We made a change to have generated SQL scripts created as "not dirty" so there won't be Save prompt in the repro scenario. This is available in the latest insiders builds and will be in the Feb release.  The following setting will switch back the previous behavior `"sql.promptToSaveGeneratedFiles": true`

[2019-01-23 20:22] #2711 closed

[2019-01-23 20:34] kburtram commented on #3251
This is fixed in the Jan release.

[2019-01-23 20:34] #3251 closed

[2019-01-23 21:04] kburtram commented on #2497
This is fixed on the latest builds.

[2019-01-23 21:04] #2497 closed

[2019-01-23 21:30] winzig opened #3802 "Tab coloring isn't retained after restart (sql.tabColorMode)"
Issue Type: <b>Bug</b>

1. Adjust user settings to define `"sql.tabColorMode": "fill"`
2. Open a new query tab and see it colored as expected.
3. Go to the app menu and select Quit (on macOS)
4. Restart the app, the tabs come back, but they're not colored.

Azure Data Studio version: Azure Data Studio 1.4.2-insider (637dc9b9b2d13c5161d4e31467585091d17adf69, 2019-01-18T17:58:19.614Z)
OS version: Da

[2019-01-23 21:34] winzig opened #3803 "Dark mode for top bar on macOS"
I've enabled the "dark mode" theme for the app (I'm on the latest macOS).

The top of the app now looks like this:

<img width="434" alt="screen shot 2019-01-23 at 1 32 56 pm" src="https://user-images.githubusercontent.com/127062/51638523-66243780-1f13-11e9-94b3-7cac02d8f35d.png">

Is there a setting (or possible feature) that could make it look more like VS Code:

<img width="324" alt="screen sho

[2019-01-23 21:41] winzig commented on #3802
Further testing shows that this is because when it restarts, it has not reconnected the tabs to the servers they were originally connected to. So I guess my question is: how can I have tabs reconnect to the SQL Server upon startup? I've got two saved connections in datasource.connections, but I guess right now this info is not being saved with the open tabs?

[2019-01-23 21:48] MikeYeager commented on #3645
Thanks. I'm really looking forward to it.

[2019-01-23 22:00] winzig opened #3805 "Support for iOS?"
Is there any hope of this app becoming available for iOS?

I've asked similar questions of the vscode team, and it sounds like the issue is getting Electron in general to work on iOS.

Recently a cloud-oriented service called coder.com came out, and they've got vscode running directly in the browser. I'm wondering if something similar could happen with ADS.

[2019-01-23 22:12] winzig commented on #282
Any idea if Microsoft is targeting this feature for 2019?

[2019-01-23 22:26] amachanic opened #3806 "Improve Kerberos Workflow"
It's frustrating when using ADS with cached tokens.

First problem: if a token expires, ADS does not detect it when running new queries, and just sits there spinning, seemingly forever. This means that sit there waiting, only to realize later what's happening and that I have to re-connect...

So as a user, I click Change Connection, and then Connect, to re-connect -- and it's at that point that AD

[2019-01-23 22:33] amachanic opened #3807 "Row number column doesn't resize properly"
Run the following query:

SELECT * FROM master.sys.columns

Scroll down to row 99 -- and rows 100+ are impossible to read thanks to the column being too small. And to add insult to injury, it's also not resizable.

![image](https://user-images.githubusercontent.com/39809964/51641722-e8712380-1f34-11e9-949a-6b92b19310eb.png)

[2019-01-23 23:12] chlafreniere opened #3808 "Notebooks: Switching Kernels Between Notebooks Providers Quickly can Make Attach To Show Nothing"
Switching kernels that are in different notebook providers very quickly can cause the Attach To dropdown to falsely show no valid connections, even if there are, in fact, valid connections.

Repro:
- Create new notebook (with SQL kernel enabled)
- Connect to new SQL Server
- [SQL is default kernel selected]. Switch to PySpark3
- Immediately switch back to SQL kernel
[Attach To will only show Selec

[2019-01-23 23:31] bciesielski commented on #3610
@kburtram , thanks. I am running the Jan release for a few days now and haven't noticed any memory leaks, so this seems to be resolved.

[2019-01-23 23:52] vickyharp opened #3809 "Code disappeared from notebook cell when tabbing away"
Issue Type: <b>Bug</b>

I had a notebook open, I tabbed to another window, and when I came back the code cells were empty

![image](https://user-images.githubusercontent.com/8250560/51644940-e607cd00-1f26-11e9-9961-0080150db6d6.png)

Azure Data Studio version: azuredatastudio 1.4.2-insider (14ed60114563c1876e05a34bc14fc74b7298dcbc, 2019-01-23T19:02:56.860Z)
OS version: Windows_NT x64 10.0.17763

<

[2019-01-24 01:14] MattIrv opened #3812 "Tests don't run on Windows when running scripts/test.bat"
It just prints out the following messages:

[code]

my original thought was that this had something to do with the integration test changes but I went back to the commit before those and it's the same

[2019-01-24 01:24] #1605 closed, assigned to kburtram

[2019-01-24 01:30] YurongHe opened #3813 "TreeNode.FindNode support filtering by already expanded / not yet expanded for NodeProvider"

[2019-01-24 01:46] kburtram commented on #3812
@MattIrv when I run `scripts\test.bat` I see the same output as you report, but I get a `test-results.xml` file that shows all the tests have run and passed.  The CI builds run this script and are reporting 100% pass rate.  The debug "Unit Tests" action is also running the tests (though this doesn't use the script).

I seem to recall at one point the output was a bunch of '......' followed by a pa

[2019-01-24 15:17] camckay commented on #3671
The missing dependency in OpenSUSE Tumbleweed is libopenssl1_0_0. I verified that once this package is installed, Azure Data Studio works as expected.

[2019-01-24 17:15] YurongHe opened #3814 "ObjectExplorerNodeProvider implements findNodes"

[2019-01-24 17:18] YurongHe opened #3815 "ObjectExplorerNodeProvider implements refreshNodes properly"

[2019-01-24 19:13] Epivaral opened #3817 "Split code, results and query plans on different tabs"
**Problem:**
With large T-SQL files, it is hard to read code and execution plans on the same tab, specially on small screens.

**Suggested solution:**
Being able to split code, results and query plans on different tabs (or split them vertically) so the code and results read can be cleaner.
![imagen](https://user-images.githubusercontent.com/39424641/51702606-da291300-1fd9-11e9-8408-6f90d9b62d8c.pn

[2019-01-24 19:52] vickyharp commented on #3778
I'm experiencing this with snippet intellisense.

In this clip I am trying to use a snippet called vh_where.

2.33 sec: I finish typing vh_ and pause to autofill
3.13 sec: red squiggles appear
5.75 sec: user snippet hint appears

![slow snippet intellisense](https://user-images.githubusercontent.com/8250560/51704056-e22e8600-1fcc-11e9-9f68-7cd2a91bc2d2.gif)

Here's another on a new query window th

[2019-01-24 19:55] abist opened #3820 "Tab hover title is also truncated"
Tabs when hovered show the same truncated value as on the tab, making the hover text useless.

Expected: The full server name/connection is shown.
Actual: Truncated text is shown when hovered.

Screenshot -

![bug](https://user-images.githubusercontent.com/6411451/51704825-de036800-1fce-11e9-94d2-78ddee7b934a.JPG)

[2019-01-24 19:59] kburtram commented on #3815
@YurongHe could you please clarify this issue a bit more?  From the issue title I'm not sure what is being tracked.

[2019-01-24 21:31] #231 closed

[2019-01-25 03:14] thesushil opened #3822 "Request for a setting in Preferences:- Git Rebase when sync"
Git: Rebase when sync
Force git to use rebase when running the sync command

This setting exists in vscode already. It would be nice to have this feature in azuredatastudio as well.

[2019-01-25 04:12] ChethanChandra opened #3823 "Copy Result Table not working"
Issue Type: <b>Bug</b>

why do you release versions that completely break any working feature? this time am unable to copy results table! this was fixed 6 months ago.

Azure Data Studio version: Azure Data Studio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:17:16.459Z)
OS version: Darwin x64 18.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2019-01-25 11:41] drhkocher opened #3824 "Cursor and line selection are not in sync"
When I select something in a list (e.g. database tables, or result records), the cursor is approximately 3-4 lines above the line that gets selected. Or put the other way round, if I click, the line which is 3-4 entries below gets selected...

Anybody els seen this? V1.39

[2019-01-25 14:33] Tarig0 opened #3825 "Resultset with no rows exports to blank file"
- 1.4.2-insider

Steps to Reproduce:

1. SELECT TOP 0 * FROM Table
2. Export to CSV

Expected:

File to contain a line with the column names

Actual:

Zero length file is created

[2019-01-25 17:06] Tarig0 commented on #3491
This does not match a template.

https://github.com/anthonydresser/html-query-plan/blob/master/src/qp.xslt#L37

Looks like it needs to be MissingIndex not MissingIndexRow

[2019-01-25 17:43] EvilVir opened #3826 "Copying data from Messages pane copies only visible portion of text"
Issue Type: <b>Bug</b>

1. Run any query, for which output in messages pane is longer then it can be fit into the pane. Optionally, just run same query couple of times.

2. Select all text in messages pane

3. Hit Ctrl+C (or select Copy from context menu)

4. Examine contents of the system clipboard

Result: only portion of text visible in Messages pane is copied, rest is lost. That's not useful a

[2019-01-25 18:48] smearp commented on #2710
I just logged in to make this exact request.  Power BI Desktop used to be frustrating since I had to manually load updates once a month.  Once they moved it to a Windows Store app, it is always up to date.  I'd love the same for Azure Data Studio.

[2019-01-25 18:49] alanrenmsft opened #3830 "Enable Extension Pack installation"
currently the extension pack feature is not working

[2019-01-25 19:03] kburtram commented on #3824
@drhkocher I haven't seen this behavior yet.  Are you seen any other rendering\UI issues?  Also, which OS are you using?  Thanks for reporting!

[2019-01-25 20:10] #3032 closed

[2019-01-25 20:10] #3044 closed

[2019-01-26 02:55] chlafreniere opened #3831 "Notebooks: Change New SessionManager APIs into Contribution Points"
Long term we might want to avoid adding new session APIs as we lose Jupyter compatibility. Instead we can look at contribution points so extensions can be called (with access to kernel) at the time of kernel initialization. This would let us hook in the configure / connect calls without new APIs.

[2019-01-26 16:02] drhkocher commented on #3824
I am running the latest Windows 10 on Parallels Desktop VM on an iMac Pro.
However, I just started it again to send you a screen shot, bit this time it’s working alright…

So it might be some sort of hiccup…

Kind regards

Mit freundlichen Grüßen / Best regards

Dr.-Ing. Hartmut Kocher
Geschäftsleitung Technik / CTO

[Signet_s_hoch]

SMART IN OVATION GmbH
STEP8.1, Meitnerstraße 10, D-70563 Stuttga

[2019-01-26 17:02] 0versun commented on #1821
Hi please close issue, its not reproduce on the new version of deepin distro and new version of azure data studio

[2019-01-26 17:52] Tcoton opened #3833 "Touch bar Mac OS X - Remove or move over the directional arrows displayed on the left."
Issue Type: <b>Feature Request</b>

On the new MacBook Pro 2018 with touch bar, it is very annoying to be suddenly switched from one line to another just because the fingers pass over the two directional arrows displayed on the left of the touch bar when typing queries. I suggest to whether remove them or moving them to the middle of the touch bar.

Azure Data Studio version: Azure Data Studio 1.3

[2019-01-26 19:28] zengshengliu opened #3834 "Result Table Order Change on Tab Change"
- Azure Data Studio Version: 1.4.2-Insider

Steps to Reproduce:

1. Open a query window, have 2+ select statements ready and execute
(Current result in result section is as following)
Result for Query 1
Result for Query 2
Result for Query 3
2. Switch to a new tab
3. Switch back to the previous tag
The result will switch to
Query 3
Query 2
Query 1
(Switching tab again at this point will not change

[2019-01-28 09:30] Ungerfall opened #3835 "Freezes after idle"
Issue Type: <b>Performance Issue</b>

There appears the issues when switching to app after some idle time. The studio literally freezes and doesn't respond, even more sometimes windows asks to reopen the program.

Regards,
Leonid

Azure Data Studio version: azuredatastudio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:30:09.442Z)
OS version: Windows_NT x64 10.0.16299

<details>
<s

[2019-01-28 20:08] yualan commented on #3830
I tried this using the yeomen generator. It was able to recognize existing extensions, but wasn't able to install like it can in VS Code. Do we know if there is something we need to enable to support extension packs?

[2019-01-28 20:11] yualan commented on #3778
We might need to do additional investigation on this issue since this is happening on Vicky's machine as well. I'll try the insider build

[2019-01-28 21:17] User-4574 opened #3837 "Compatibility with remote x11 sessions."
Azure Data studio is not compatible with remote X11 sessions. It's not just that it uses a program to get screen info that relies on a desktop environment being present, even with that it still fails.

An Xserver for Windows is:
https://sourceforge.net/projects/xming/

And this briefly goes over executing a program on a Linux server in SSH and having it display on your Windows machine:
https://kb.

[2019-01-28 23:59] sadjadbp opened #3839 "Reference to database and/or server name in 'model.sys.assemblies' is not supported in this version of SQL Server."
Steps to Reproduce:

1. Updated to the latest inside version 1.4.3 and now cannot connect to my Azure SQL DBs they all fail with

Reference to database and/or server name in 'model.sys.assemblies' is not supported in this version of SQL Server.

System.Data.SqlClient.SqlException (0x80131904): Reference to database and/or server name in 'model.sys.assemblies' is not supported in this version of SQ

[2019-01-29 00:37] kevcunnane commented on #3784
What about the following scenarios:
- Latex
- Javascript
- geojson
- JSON
- PDF

Have you looked at JupyterLab and also https://github.com/jupyterlab/jupyter-renderers for other scenarios? Which of these should we support?

What about the following additional visualization scenarios:
- Collapsible header sections: auto-detect markdown with 1-line `# Header` or `## Header` sections and make these i

[2019-01-29 05:46] YurongHe commented on #3839
@sadjadbp thank you for report the issue. I have fixed the issue. The fix is merged into SQLToolService repro now. Waiting for the official build to release.

[2019-01-29 05:56] chlafreniere commented on #3796
Fixed by #3836.

[2019-01-29 05:56] #3796 closed

[2019-01-29 06:30] robertwray commented on #2193
This looks like it may be a duplicate of #305

[2019-01-29 08:06] sadedil opened #3840 "The server principal is not able to access the database "model" under the current security context"
With the latest insiders version, i can't connect the databases which i've previously able to connect.

It says *The server principal "MYDOMAIN\MyUserName" is not able to access the database "model" under the current security context.*

- Azure Data Studio Version: [February Insiders Build 1.4.3](https://github.com/Microsoft/azuredatastudio/releases/tag/1.4.3)
- Setup File: azuredatastudio-windows

[2019-01-29 09:35] enecciari commented on #3840
I think is a sqltoolservice issue... upgrading it solve the problem

[2019-01-29 14:14] rarnken opened #3841 "can not connect to azure sql database"
Issue Type: <b>Bug</b>

getting error message stating that '[..]model.sys.assemblies is not supported[..]' while connecting to a azure sql database

Azure Data Studio version: azuredatastudio 1.4.3-insider (9cffe4d476d2158ce904bdebffd5ed83ebede4f2, 2019-01-28T03:26:24.244Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R

[2019-01-29 17:03] tlentine commented on #3841
I've been having the same issue starting last evening and into today.
Version 1.4.3-insider (1.4.3-insider)
OS Version: macOS Mojave Version 10.14.2
Extensions: Redgate SQL Search

[2019-01-29 18:08] kevcunnane commented on #3841
Thanks for reporting. This bug was introduced in the latest insiders build and we're tracking with #3839. @YurongHe has implemented a fix in the backend and that will be in master today.

@kburtram can comment on when our next Insiders build will be published, which will include the fix. In the meantime I'd suggest going back to the previous insiders / to the stable release. Apologies for the inco

[2019-01-29 18:08] #3841 closed

[2019-01-29 18:09] #3839 closed

[2019-01-29 18:11] zengshengliu commented on #3840
I have the same issue today after the 1.4.3-insiders update.  How do I go about updating sqltoolservice on the Mac OS?

[2019-01-29 18:20] vickyharp opened #3843 "Pasting 12,000 lines into a code cell is slow"
I pasted in the 12,767 line Best Practices Check from Tiger Toolbox into a code cell in the notebook. (https://raw.githubusercontent.com/Microsoft/tigertoolbox/master/BPCheck/Check_BP_Servers.sql)

Short story: It takes about 9 seconds for text to appear. Scrolling is very jaggy and unresponsive and CPU runs at 20%+ for over 7 minutes before I cancel the test. Syntax coloring never completes.

00:

[2019-01-29 18:25] kevcunnane commented on #3843
Thanks Vicky. Quick test on regular query window shows it's instantaneous to paste and fairly quick to colorize, so this is very much a valid scenario we'll need to investigate and fix.

@chlafreniere, @rajmusuku  and @corivera let's discuss picking up this investigation for either Feb or March milestone. I'll tentatively put into Feb and it should be a good one to pick up once we're code complete

[2019-01-29 18:44] enecciari commented on #3840
I opened /Applications/Azure Data Studio.app/Contents/Resources/app/extensions/mssql/sqltoolsservice/OSX/1.5.0-alpha.67
and upgraded the files.

[2019-01-29 23:45] YurongHe opened #3844 "Failed to open Notebook with saved invalid kernel."
Issue Type: <b>Bug</b>

ERR Invalid response: 403 Forbidden: Error: Invalid response: 403 Forbidden
	at __1.ServerConnection.makeRequest.then.response (C:\Users\yuronhe\.azuredatastudio-dev\extensions\microsoft.sql-vnext-0.9.3\node_modules\@jupyterlab\services\lib\kernel\default.js:1211:23)
	at <anonymous>

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a47229f991901a8a453781,

[2019-01-29 23:49] YurongHe opened #3845 "Python Package download failed, still say installation complete."
Issue Type: <b>Bug</b>

Python Package download failed, still say installation complete.
We'd better to have msg to tell the issue and let user retry.

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E

[2019-01-29 23:50] MattIrv opened #3846 "New query tab connects unexpectedly"
Issue Type: <b>Bug</b>

1. Make sure no tabs are open to start
1. Connect to a server in OE
2. Right click on the server and choose "Manage"
3. After the dashboard opens and loads, close the dashboard so that no tabs are open
4. Press ctrl+n or double click on the blank screen to open a new query tab
5. Wait for a few seconds and the new tab will automatically connect to whatever connection you us

[2019-01-30 00:06] MattIrv opened #3847 "CSV context menu actions fail"
Issue Type: <b>Bug</b>

1. Connect to a SQL Server 2019 master instance
2. Expand Data Services > HDFS in Object Explorer and keep expanding until you get to some csv file
3. Right click on the file and choose "Preview"

Actual behavior: The preview fails with this error message: "Node Command called without any node passed"

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a472

[2019-01-30 00:32] YurongHe opened #3849 "Select connection option is missing"
Issue Type: <b>Bug</b>

- Don't connect to any server
- Create a new sql notebook from command platte.
- add a Tsql cell
- Switch Kernel to PySpark3, Attach to: only has "Add New connection" option. So Select connection is missing.

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 6.3.9600

<details>
<s

[2019-01-30 00:44] vickyharp opened #3850 "Notebooks: Error appears running a cell without a connection"
Issue Type: <b>Bug</b>

When I run a code cell in a TSQL notebook without a connection I receive an error

![image](https://user-images.githubusercontent.com/8250560/51950385-28c51b80-23e5-11e9-951d-2a2114c9ed61.png)

Azure Data Studio version: azuredatastudio 1.4.2-insider (14ed60114563c1876e05a34bc14fc74b7298dcbc, 2019-01-23T19:02:56.860Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summar

[2019-01-30 00:45] rajmusuku opened #3851 "'Attach to' shows 'Loading contexts' with SQL kernel - after cancelling python isntall dialog"
- Azure Data Studio Version:

Steps to Reproduce:

1. Install extension and open an existing Notebook
2. Cancel the dialog to install python
3. Attach to is stuck at 'Loading contexts..'
![image](https://user-images.githubusercontent.com/44002319/51950365-10550100-23e5-11e9-98c0-ef94e29cf966.png)

[2019-01-30 00:54] vickyharp opened #3852 "Notebook attach to does not show friendly name if set"
Issue Type: <b>Bug</b>

The Attach to dropdown shows the servername instead of the friendly name if set, even if picking from a saved connection

![image](https://user-images.githubusercontent.com/8250560/51950708-69716480-23e6-11e9-8027-46e06e858326.png)

![image](https://user-images.githubusercontent.com/8250560/51950718-71c99f80-23e6-11e9-9f7b-12fab0396a38.png)

Azure Data Studio version: azure

[2019-01-30 01:11] vickyharp opened #3853 "New Notebook keybinding only works if Preview extension is not installed"
Issue Type: <b>Bug</b>

I have Ctrl+Shift+N set as a keybinding for New Notebook. It worked fine until I installed the Preview Extension, and now it gives this error:

![image](https://user-images.githubusercontent.com/8250560/51951273-d38b0900-23e8-11e9-8f9c-5cecb306ee37.png)

![image](https://user-images.githubusercontent.com/8250560/51951290-e271bb80-23e8-11e9-8c6d-212fac6cfed5.png)

Azure Data

[2019-01-30 01:12] YurongHe opened #3854 "Server in OE can't be expanded sometimes"
Issue Type: <b>Bug</b>

- Open a new SQL notebook
- Connect to Sql instance from attach to
- Connect to another SQL instance from attach to
- Expand the corresponding SQL server connectioned from the above two SQL instance.
- Sometimes the server can't expand.
   Tried to debug it. It works then.

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-1

[2019-01-30 01:17] rajmusuku commented on #3851
Same issue with new notebook scenario

[2019-01-30 01:22] YurongHe opened #3855 "When there is SQL connection. Switch kernel between SQL and PySpark, can't see the existing SQL connetion in Attach to"
- Open a new SQL notebook
- Connect to Sql instance from attach to
- Connect to another SQL instance from attach to
- Switch kernel to PySpark3, and connect a BDC
- Switch kernel between SQL and PySpark

If select SQL kernel, then no SQL instance listed in Attach to.
Expect to see the SQL instances connected from step 2 and 3.

[2019-01-30 01:30] rajmusuku opened #3856 "Sql kernel with no connection - results in exception - Cannot read property 'getOptionsKey' of undefined"
1. Open a new notebook without any connection in Attach to drop down
2. Add a code cell and run a sample query.
3. "Cannot read property 'getOptionsKey' of undefined". We may handle this exception and prompt user with a message to add new connection.
![image](https://user-images.githubusercontent.com/44002319/51951830-f0284080-23ea-11e9-9b74-1b9aa7a9b9ea.png)

[2019-01-30 01:42] rajmusuku opened #3857 "Changing kernel from sql to pyspark doesn't display 'Select connection' - Unable to add a new connection"
1. Install notebooks extension
2. Create a new notebook having only SQL server connection(No bigdata connection)
3. Change kernel from sql to pyspark
4. 'Add new connection' is shown in 'Attach to' dropdown instead of 'Select connection'
5. Unable to create a new connection from dialog

Expected:
1. 'Select connection' should be displayed in 'Attach to' drop down with an entry to Add new connectio

[2019-01-30 13:46] zengshengliu commented on #3840
Thank you.
Just a FYI for others, I use the following version of the sql tools service https://github.com/Microsoft/sqltoolsservice/releases/tag/v1.5.0-alpha.6

[2019-01-30 15:45] ericbu opened #3858 "SSMS Lock Timeout during Column Store Index Rebuild if Non-Cluster Index included"
We have run into some behavior in SSMS during ColumnStore Index rebuild.

Problem - We are using SQL Server 2016 (SP2-CU4). We have several CS CI tables with Non Clustered Indexes created on them (Non Clustered Indexes are needed to repro the issue). System tables are getting locked whenever we REBUILD Columnstore Clustered Index. We could not expand the tables list in SSMS Object Explorer, it is

[2019-01-31 00:05] MattIrv opened #3864 "MSSQL extension fails to activate in packaged builds"
If you open a packaged build of Azure Data Studio and try to connect to a server it just spins forever. Opening the developer tools console shows the following error:

[code]

It looks like this error is coming from `extensions/mssql/src/objectExplorerNodeProvider/fileSources.ts`

[2019-01-31 00:11] kevcunnane opened #3865 "Query: conversion overflow error for large number"
Issue Type: <b>Bug</b>

Enter query `select 12345678912345678912345678912345678912`, run. End up with `Conversion overflows` error instead of showing the single cell output which shows in SSMS.

This is a bad error since it's client-side conversion (either in SqlToolsService or, worse, might be a .Net Core SqlClient issue since I remember this happening before). Needs debugging & investigation.

A

[2019-01-31 01:30] romanovmv opened #3868 "Cannot execute a query"
Issue Type: <b>Bug</b>

Query window ocasionally stops responding to Execute query command, meanwhile the following queries can be traced via SQL Profiler:
exec sp_executesql N'select c.definition,convert(bit,OBJECTPROPERTY(c.object_id,N''ExecIsQuotedIdentOn'')) from [OmniMeta].sys.sql_modules c where c.object_id = @_msparam_0',N'@_msparam_0 nvarchar(4000)',@_msparam_0=N'303808640'

Those queries

[2019-01-31 01:30] saurabh500 commented on #3865
Duplicate of https://github.com/Microsoft/azuredatastudio/issues/275

[2019-01-31 02:04] #3857 closed

[2019-01-31 09:15] stebet commented on #3491
Great to see this fixed. Will this land in the next release?

[2019-01-31 12:37] SebastianPfliegel commented on #3840
Had the same issue and updating the sqltoolsservice did the trick as well ;)

[2019-01-31 12:54] taranttini commented on #3768
Thanks @kurtram, I had seen this document later, I'll see how to proceed.

[2019-01-31 12:54] #3768 closed

[2019-01-31 16:33] shueybubbles commented on #3703
fixed in https://github.com/Microsoft/azuredatastudio/commit/8a7bbd1795a5a0ec91893146d4f2a68e6f6ab2df

[2019-01-31 16:33] #3703 closed

[2019-01-31 17:38] #3856 closed

[2019-01-31 18:04] ChrisLounsbury opened #3871 "Keystroke search on Servers -> Object List"
Issue Type: <b>Feature Request</b>

When browsing Server Objects in the Server pane, would be nice to have the ability to type to search down the object list.  I.e. when selecting a table under the Tables folder, typing "dbo.MyT" would auto scroll and select the objects that match that string.  Similar functionality exists in SQL Management Studio.

Azure Data Studio version: Azure Data Studio 1.4

[2019-01-31 18:46] MadMonkeyMan opened #3872 "Text Editor Improvement"
Issue Type: <b>Feature Request</b>

I want to use the feature available in many other IDEs where i can hold ALT and highlight text vertically.

Azure Data Studio version: azuredatastudio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:30:09.442Z)
OS version: Windows_NT x64 10.0.16299

[2019-01-31 18:53] alanrenmsft commented on #3645
@MikeYeager please try this build: https://github.com/Microsoft/azuredatastudio/releases/tag/1.4.3

[2019-01-31 19:18] MikeYeager commented on #3645
Thank you!

Sent from my iPhone

On Jan 31, 2019, at 12:53 PM, Alan Ren <notifications@github.com<mailto:notifications@github.com>> wrote:

@MikeYeager<https://github.com/MikeYeager> please try this build: https://github.com/Microsoft/azuredatastudio/releases/tag/1.4.3

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/Microsoft

[2019-01-31 19:20] yualan commented on #3645
You can also wait for the stable February build, which will be coming out in 2 weeks :) If you are planning to try the insider build which Alan shared, feel free to give us feedback before we include this in stable. Thanks Mike and Alan!

[2019-01-31 19:21] MikeYeager commented on #3645
Will do!

Sent from my iPhone

On Jan 31, 2019, at 1:20 PM, Alan Yu <notifications@github.com<mailto:notifications@github.com>> wrote:

You can also wait for the stable February build, which will be coming out in 2 weeks :) If you are planning to try the insider build which Alan shared, feel free to give us feedback before we include this in stable. Thanks Mike and Alan!

—
You are receiving this

[2019-01-31 19:52] MattIrv opened #3873 ""Data Services" OE node label is missing in packaged build"
Issue Type: <b>Bug</b>

1. Open a packaged build of Azure Data Studio
2. Connect to a SQL Server 2019 cluster
3. Expand Object Explorer and see that the last folder's label is missing

![Object Explorer expanded to show a top level folder with a missing label and the first folder under that also missing a label](https://user-images.githubusercontent.com/3758704/52081246-9b053f80-254e-11e9-8e3f-e1e

[2019-01-31 20:45] kburtram commented on #3671
@camckay I'll update the rpm file.

[2019-01-31 21:18] way0utwest opened #3874 "ADS needs a marketplace that allows for commercial extensions"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2019-01-31 21:22] way0utwest commented on #3874
Most of us sell out talent and skills for profit. Visual Studio and many other IDEs have grown tremendously with the addition of an ecosystem that builds plugins and add-ons that extend functionality while providing for commercial sales.

Both commercial entities and independent software developers would have the opportunity to develop extensions and provide support for plugins that may not be dev

[2019-01-31 21:33] yualan commented on #3874
Can we broaden the feature request name to a full marketplace? With feature asks such as better integrated installation story, commercial extensions, ratings, etc?

[2019-01-31 21:44] kevcunnane commented on #3873
@YurongHe can you take a look?

[2019-01-31 21:49] DaveDustin commented on #3874
Is there anything in current Terms/Eula or guidelines for VSCode/AzureDataStudio extensions that prevents a party from developing a binary VSIX and dsitributing via their own platform, behind a paywall if required?

[2019-01-31 21:50] MattIrv commented on #3873
I'm seeing this error message in the developer console:
[code]

[2019-01-31 22:20] way0utwest commented on #3874
I'll have to ask our people that build commercial extensions. There was talk of a better marketplace, so we have been waiting for some better support. The VSTS marketplace sometimes gets murky with charges as there are extensions that are "free", but don't work very long or don't work without some license key. I would like to avoid some opaqueness with some clear support in the market place for th

[2019-01-31 22:30] yualan commented on #3874
Hi Steve, I have made some modifications to your issue thanks to your permission. Feel free to modify. I will update it as other users comment about what they want to see in a "complete" marketplace.

[2019-01-31 22:33] kevcunnane opened #3875 "Notebook stuck Loading Kernels if SQL flag disabled and Jupyter not installed"
Issue Type: <b>Bug</b>

This is a regression in the latest master build.
- SQL flag must be false
- SQL-vnext extension mustn't be installed

Expected:
- No Kernel is shown, connection shows as None or Localhost
Actual:
- stuck at "loading kernels"

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Darwin x64 18.2.0

<

[2019-01-31 23:04] kevcunnane opened #3877 "Close app with Notebook in split view, get empty view column on restart"
Issue Type: <b>Bug</b>

- Open a query file and a notebook file
- Drag the notebook to the right to create a split view / add it to the 2nd view column
- Close Azure Data Studio
- Reopen Azure Data Studio

Expected:
- Ideally, would reopen both files
- At a minimum, just show Query and leave Notebook empty
Actual:
- Notebook doesn't show, but there's an empty half of the view with just a barely vi

[2019-01-31 23:23] #3054 closed

[2019-02-01 01:12] kevcunnane opened #3880 "Notebook code cell height is wrong if words need to wrap (regardless of word wrap on/off)"
Issue Type: <b>Bug</b>

- Add a large block of text that'll definitely wrap in the editor
Expected:
- Overall height fits to visible, vertical text area
Actual:
- Overall height gets larger than expected as we're adding some extra lines for the "to be wrapped" lines
- This looks worse if we enable word wrap to be off since the total vertical height is much much smaller

[code]

Azure Data Studio v

[2019-02-01 01:57] #3873 closed

[2019-02-01 03:09] akamath46297 opened #3882 "Sets default database to master irrespective of data provider"
This line of code changes the database selection to default SQL database which is master. This would cause issue with any other data provider on Data Studio

$:\azuredatastudio\src\sql\parts\dashboard\pages\serverDashboardPage.component.ts

![image](https://user-images.githubusercontent.com/30480046/52100261-ae82cb80-258b-11e9-95b6-c4b6f2a1f91a.png)

[2019-02-01 05:33] zengshengliu commented on #3840
Looks like it is fixed in 1.4.4-Insider update that I received earlier today.
(they updated the SQL Tools Service to 1.4.0-alpha.69)

[2019-02-01 09:51] DanielSSilva opened #3885 "Editor tab "clears" query window and other tabs"
- Azure Data Studio Version:
Version 1.3.9
Commit cacf0777c747046af6839de3688d709b10ef9fca
Date 2019-01-14T23:30:09.442Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64

This issue doesn't always happen, and I don't have a pattern. What happens is that I'm working on a tab, and when I switch to another, suddently I've "lost" my tabs and can't see the co

[2019-02-01 11:21] mikefayer commented on #3171
I'm working on Ubuntu 18.04, trying to import a bacpac file. I had the same problem as @Alain1405, where the next button is stuck disabled. Your workaround fixed it for me (hit previous, then next), but when I hit "Import" on the summary screen, the pane immediately disappears and nothing happens. There's nothing on any of the logs.

[2019-02-01 11:24] liguori opened #3886 "Implement Custom Title Bar like in VS Code"
It would be nice to have aligned the same features of VS Code in Azure Data Studio as well. In this case I am talking about the Title Bar Style to Custom.

Currently it's implemented and user can change it via settings but it's not working:
![image](https://user-images.githubusercontent.com/8238828/52120308-2dbfe000-261c-11e9-99d5-300545feb0f7.png)

Another example it could be the Settings editor

[2019-02-01 12:09] vidhyasagarreddy opened #3887 "Query "results" return twice in results window..!!!"
Issue Type: <b>Bug</b>

Most of the times, when I run a query, "Results" window will have resultset twice..!!!

Azure Data Studio version: azuredatastudio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:30:09.442Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz (4 x 2496)|
|GPU St

[2019-02-01 12:11] vidhyasagarreddy commented on #3887
Closing, as this was already reported: https://github.com/Microsoft/azuredatastudio/issues/3759

[2019-02-01 12:11] #3887 closed

[2019-02-01 12:12] vidhyasagarreddy commented on #3759
Most likely, running the query for second time doesn't fix the issue.

[2019-02-01 14:58] JASM2007 commented on #3823
I am having the same issue where if I try and right click to copy the results with headers or without header. the box don't not appear no matter what I do. I tried closing and reopening the application. It did not solve the issue.  The only way to copy results now is to select all and control + C and control V. Or to export to excel directly.  This is a regression and should be priority.

[2019-02-01 17:51] kisantia commented on #3171
@mikefayer which version of ADS are you using? The latest release 1.3.9 has the fix for this and was working when I tested this release on my Ubuntu 16.04 VM.

[2019-02-01 18:10] #3875 closed

[2019-02-01 18:20] YurongHe commented on #3847
This was not implemented before. It should be fix by #3862

[2019-02-01 18:20] #3847 closed

[2019-02-01 18:25] YurongHe opened #3888 "Preview notebook: "Error previewing file: {0}""
Issue Type: <b>Bug</b>

Connect to master instance of BDC
Go to data services node and find notebook
Right click-> select Preview-> Got error notification
Error previewing file: {0}

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2019-02-01 19:35] kevcunnane opened #3891 "Notebook SQL kernel: run other cell just stops currently running cell and doesn't execute"

[2019-02-01 20:55] kburtram commented on #3823
@JASM2007 are you also using `1.3.9` on macOS?

[2019-02-01 21:08] kburtram commented on #3868
@romanovmv does the UI freeze or clicking the "Execute" button just doesn't do anything?  Do you know if there are any additional repro steps, such as canceling a previously executing query or something like that?

[2019-02-01 21:14] kburtram commented on #3840
(@YurongHe ) This was probably related to this change to support Big Data connections https://github.com/Microsoft/sqltoolsservice/commit/adc13cff8209981f7066ecc8aa3c1e4554d5ea8d.

Sorry for the inconvenience.  I'll close the issue since it's resolved in 1.4.4.  Thanks for reporting.

[2019-02-01 21:14] #3840 closed

[2019-02-01 21:20] kburtram commented on #3834
@anthonydresser this looks like a regression since the Jan release.  Could you please take a look?

[2019-02-01 23:03] kburtram commented on #3802
@winzig thanks for reporting and clarifying the issue!  We're tracking reconnecting editors on restart with issue https://github.com/Microsoft/azuredatastudio/issues/1979.  Please leave any comments there is the issue description is incomplete.

[2019-02-01 23:03] #3802 closed

[2019-02-01 23:06] kburtram commented on #3803
@winzig this looks like the same underlying issue as https://github.com/Microsoft/azuredatastudio/issues/3886.  We disabled custom titlebar drawing since it was messing up some of the height calculations we are doing in the query editor.  We should reinvestigate and fix those bugs.  Thanks for reporting, we'll continue tracking with #3886.

[2019-02-01 23:06] #3803 closed

[2019-02-01 23:19] JASM2007 commented on #3823
I’m always on the latest and greatest software released version. I use the
program nearly everyday and check for updates. I am on the January hotfix
version.

On Fri, Feb 1, 2019 at 3:55 PM Karl Burtram <notifications@github.com>
wrote:

--
Best Regards,
Jason L. McKay

[2019-02-01 23:44] JASM2007 commented on #3823
The only other context I can give. When it was working the last time to
right click and copy header I clicked off or clicked another part of the
program. Then when I went back to right click it never allowed it again.
Even still right now I can’t right click to copy headers and I was using
the program all day. I might try restarting the computer to see if that
does anything.

On Fri, Feb 1, 2019 a

[2019-02-02 00:34] tomkv commented on #3741
Getting the same on Centos 7.6.1810:

[code]

Which sounds about right, as CentOS 7/RHEL 7 have only libstdc++ 6.0.19 (GLIBCXX_3.4.19).

[2019-02-02 04:10] rajmusuku opened #3897 "Integrate unified connection with notebooks"
- Load only MSSQL connections for the kernel 'SQL'
- Load all the connections(MSSQL/HADOOP_KNOX) for the big data kernels
- No change for python kernel, just show 'localhost'
- For big data kernels
   - If an MSSQL connection is not a unified connection, show an error message saying 'Connection is not valid for the kernel: {0}. Choose a different one'
   - If an MSSQL connection is a unified conne

[2019-02-02 12:55] tomkv commented on #3741
@kburtram The required libstdc++.so.6 is present, but spdlog.node library is asking for versioned symbols, in versions not present in Centos/RHEL (i.e. the library is there, but the symbols in it are not).

[code]

Did you change the build toolchain between 1.2.x and 1.3.x releases? That would explain it.

Wrt depencencies, the rpm claims it needs:
[code]
which, given the above, is not really true

[2019-02-04 00:57] romanovmv commented on #3868
@kburtram it does nothing, I've attached a sample video. But normally it's stuck for ~10-30 seconds. I've also noticed that it happens mostly when working on  our US servers (ping from Australia is about 200ms).
https://drive.google.com/open?id=1Bds2uHxkguJvibim0w1K0H2VR5q7Xpm9

[2019-02-04 08:49] Cronan commented on #3741
I can confirm I see the same behaviour on CentOS Linux release 7.5.1804 (Core)

[2019-02-04 20:46] shueybubbles opened #3900 "Window reuse should respect server connection and command invocation parameters"
When using the -r flag, only file/folder paths from the command line are processed in the existing instance .
If the command line has other arguments like those for a SQL server connection or a command invocation those parameters should be processed as well.

[2019-02-04 20:50] Tarig0 commented on #473
This would also be nice to drill in to groupings on a pie chart.

[2019-02-04 21:18] asbjornu commented on #1048
I'm leaving this here in case anyone else runs into the same problem I just ran into with the following setup:

- macOS Sierra 10.12.6
- Docker image `microsoft/mssql-server-linux`
- Docker 18.09.0, build 4d60db4
- Azure Data Studio 1.3.9

The problem was that I attempted connecting to the Docker container's `:1434` port and not `:1433`, as such:

[code]

Changing this to `1433` on both sides fixe

[2019-02-05 12:42] MohsineC opened #3903 "Connecting to Chinese Azure not possible with Azure AD authentication"
The new feature to have Azure AD as authentication type works great for the Public Azure regions but unfortunately there is no way to choose the Chinese Azure when you are asked to enter your credentials.

Without this we still have to use normal sql users/logins to connect to those DB's in China.

Azure Storage Explorer has it for a while already...
![image](https://user-images.githubusercontent.

[2019-02-05 16:16] mario-d-s opened #3904 "Connecting to a server takes a long time at first"
Issue Type: <b>Performance Issue</b>

I have a saved connection to my local SQL Server instance (using "(local)" as the server name). When opening Azure Data Studio, expanding the connection node takes quite a long time (easily >5s). It is much faster after that when just disconnecting and reconnecting.

Compared to SSMS, it connects virtually instantly to the local MSSQL instance, but of course t

[2019-02-05 16:25] JonathanPinney opened #3905 "char(13) + char(10) Does not behave the same as SSMS"
I'm trying to create a string which contains a line break. When using Azure Data Studio, I tried using CONCAT to include the line break using char(13) + char(10) but the line break is not shown in the resulting string. I also tried concatenating the strings manually using +. I copied the exact same TSQL to SSMS and the char(13) + char(10) result in a true line break. The TSQL below is an example o

[2019-02-05 18:22] kburtram commented on #3805
@winzig we don't have near-term plans to support running ADS in a web browser.  We may look at this at some point in the future.

[2019-02-05 18:47] #3491 closed

[2019-02-05 19:37] anthonydresser commented on #3834
I think I know whats the cause. Just need to reverse the order on the repopulation code. I can send a PR out today

[2019-02-05 19:46] anthonydresser commented on #3823
So the context menu just stops working? I've never heard of this before. I'm not sure what the problem would be.

[2019-02-05 19:55] anthonydresser commented on #3300
This was purposly disabled as it was causing issues with our editor. We have plans to reenable when we fix those editor issues.

[2019-02-05 19:55] anthonydresser commented on #1449
I'm going to close this as a dupe of #3300 as its a more general issue for this same problem.

[2019-02-05 19:55] #1449 closed

[2019-02-05 19:56] anthonydresser commented on #3886
dupe #3300

[2019-02-05 19:56] #3886 closed

[2019-02-05 20:04] kburtram opened #3908 "Query Editor toolbar buttons have no separator between resultsets"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Run query with multiple resultsets

Expected: a gap between toolbar buttons for each resultset

Actual: It looks like the Export XML button has taken up the gap that was there previously, now all the buttons run together.

![image](https://user-images.githubusercontent.com/599935/52300993-295a3680-293e-11e9-8076-9c6290af2d0e.png)

[2019-02-06 01:16] kevcunnane opened #3913 "Notebook: words selected in other cells should be unselected on cell change"
This happens in Notebook cells where there's nothing selected, or often just for any function like `showEllipses()` where the `()` gets highlighted. Basically there are text selections like bracket matching that shouldn't be visible, but still are.

![image](https://user-images.githubusercontent.com/10819925/52314968-bc5c9600-2969-11e9-9ec5-fb802a20ff68.png)

[2019-02-06 03:37] kburtram commented on #3741
It looks like something changed on the Linux build machines since the 1.2.X releases.  We use the same machines for building a few products, so it's difficult to identify exactly what happened to update the C++ toolchain.

I'll see if I can setup some dedicated build machines to resolve this.  Here's an RPM with the latest `master` that I built from a newly imaged CentOS 7 build machine that shoul

[2019-02-06 05:07] ChethanChandra commented on #3823
Some additional Observations:
Copying small result table (upto 500 rows) in a new Azure Studio session works.
Copying small result table works sometimes in an open Azure Studio session.
Copying large results never works.
Dumping large results to file is very slow.

As a workaround I'm now using Jupyter notebook to query and dump results on excel. Seems so much faster than Azure studio can display.

[2019-02-06 09:53] xandhen commented on #389
@yualan Would building a DACPAC file from .sql sources be within the scope of this issue or should a new one be filed if one doesn't exist already? Like @offbeatful we are also seeking to have raw sql source files as the primary source in our cross-plattform (macOS/Windows). It's very important that a CLI version is available though for easy script-based provisioning and CI.

@joshbooker I've conv

[2019-02-06 10:51] dylmye commented on #3617
Relevant: https://github.com/Microsoft/vscode/issues/5458

[2019-02-06 14:27] bciesielski opened #3916 "UI doesn't scale results pane when reconnecting RDP"
- Azure Data Studio Version:
Version 1.3.9
Commit cacf0777c747046af6839de3688d709b10ef9fca
Date 2019-01-14T23:30:09.442Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64

Steps to Reproduce:
1. Connect to remote machine via RDP and run ADS on remote machine
2. Perform a few queries and leave query results pane with data in it
3. Reconnect to RDP with dif

[2019-02-06 15:43] touringsedan commented on #172
+1
Also flipping back to SSMS.

[2019-02-06 15:44] devtanna commented on #172
Anyone has any idea when this feature will be released?

On Wed, 6 Feb 2019, 19:43 touringsedan <notifications@github.com wrote:

[2019-02-06 16:25] kburtram commented on #172
The feature is available in the latest insider build available under https://github.com/Microsoft/azuredatastudio/releases.  It can be enabled with the following setting `"resultsGrid.autoSizeColumns": true`.  This will also be included in the February stable release planned for next week.

[2019-02-06 18:17] touringsedan commented on #172
Awesome. Thank you. Installed 1.4.3, enabled setting and auto-width is working.

[2019-02-06 18:41] #3834 closed

[2019-02-06 19:06] kburtram opened #3917 "Query results contain duplicate messages and results"
- Azure Data Studio Version: `master` (today's insider build)

Steps to Reproduce:

1. Run a query

Expected: correct rendering

Actual: Messages and results can sometime be duplicated.  This has inconsistent repro, but we need to fix the code paths to avoid this type of problem.

![image](https://user-images.githubusercontent.com/599935/52366665-296e3b00-29ff-11e9-87ab-4e98c07d98cd.png)

[2019-02-06 19:07] kburtram commented on #3917
@anthonydresser could you please prioritize getting the remain query editor rendering issues fixed for the Feb release?  We can't keep shipping with this type of bug in our most core scenarios.

[2019-02-06 19:09] kburtram commented on #3917
Here's what I see in the Dev Console.  Note rerunning the query does not remove the extra results\messages controls.

[code]

[2019-02-06 19:34] ronychatterjee opened #3918 "Installing Notebook Dependencies failing"
Issue Type: <b>Bug</b>

Installed the latest bits.
Enabled SQL Kernel settings.
Opened a New Notebook.
Was prompted for the Notebook dependencies.
When installing hit the following issue -

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/22312581/52368384-45f88a80-2a74-11e9-97dc-8135147577e8.png">

Azure Data Studio version: Azure Data Studio 1.4.4-insider (a2c73771349

[2019-02-06 19:37] amthomas46 opened #3919 "Installing VSIX template for Mac"
- Azure Data Studio Version: latest

Steps to Reproduce:

Open an .ipynb file, starts to download dependencies. Then errors with "Installing Notebook dependencies: Installing Notebook dependencies failed with error: TypeError: pna.nextTick is not a function"

[2019-02-06 19:39] Charles-Gagnon opened #3920 "Save/Save As don't work with Notebooks"
Issue Type: <b>Bug</b>

1. Create new Notebook
2. Attempt to save either with File -> Save/Save As or ctrl+s/ctrl+shift+s
3. Either nothing happens or an error is displayed (haven't been able to reliably repro error)

![capture](https://user-images.githubusercontent.com/28519865/52368533-853ac300-2a03-11e9-81bd-c267e7290140.PNG)

Note that saving through the Save button on the Notebook appears to

[2019-02-06 19:43] tomkv commented on #3741
Thanks, this rpm works.

Also, you might not need dedicated build machines for distributions with their specifics. RPM-based builds can be done with a tool called 'mock' (https://github.com/rpm-software-management/mock, some distributions like Ubuntu have it in repositories), which will do the build inside chroot (or container), so your real distribution won't contaminate the artefacts.

[2019-02-06 20:03] kevcunnane opened #3921 "Insiders build should have differently named app / exe"
When unzipping the Insiders build it has the exact same name as the regular one. This makes it hard to put both side-by-side in the Mac Applications folder, and I'm unclear if for Windows there's a separate user/system installed Insiders build or it replaces the stable one. Can we fix this?

[2019-02-06 20:06] kevcunnane opened #3922 "Notebook: prompted to install Python even if SQL is the active kernel"
clear out the Python install folder, and do New Notebook command with `notebook.sqlKernelEnabled` user setting to true. SQL Kernel will show in the dropdown.

Expected:
- No prompt to install Python until the Python / PySpark kernels are enabled
Actual:
- Get immediate prompt.

I think this should be fixed for Feb.

![image](https://user-images.githubusercontent.com/10819925/52370372-8cfc6680-2a07

[2019-02-06 20:08] kevcunnane commented on #3919
Closing as a duplicate of #3918 as it is the same issue. We'll track there and @corivera will prioritize this immediately.

[2019-02-06 20:08] #3919 closed

[2019-02-06 20:08] kevcunnane commented on #3918
@corivera  will prioritize fixing this.

[2019-02-06 20:20] kevcunnane commented on #3918
Update - this is happening in released vsix but not when running in debug mode. Needs more investigation...

[2019-02-06 20:45] kburtram commented on #3741
@tomkv thanks for the suggestion!  I'll take a look.  We need to get a bit better at how we build\test our Linux releases.

[2019-02-06 21:24] rajmusuku opened #3924 "Attach To is set to 'Localhost' upon cancelling the connection dialog"
- Create/open a notebook
- Select any kernel and then 'Add new connection' in Attach To
- Connection dialog will be prompted
- Cancel the dialog
- Attach To is set to Localhost

![image](https://user-images.githubusercontent.com/44002319/52374543-5d069080-2a12-11e9-8dd4-b227ed7fcd75.png)
![image](https://user-images.githubusercontent.com/44002319/52374576-6bed4300-2a12-11e9-94cc-68e48ea2402e.png)

[2019-02-06 21:48] chlafreniere opened #3925 "Notebooks: "..." on Cells Can Persist and Is Not Clickable when Cell Is Unselected"
<img width="1342" alt="image" src="https://user-images.githubusercontent.com/40371649/52375850-84129180-2a15-11e9-8561-fb7927155cb1.png">

Create new notebook, add some code cells. Mouse over the "..." and move your mouse vertically up through other cells and you will see the "..." appear on multiple unselected cells.

In addition, if a cell is unselected, clicking the "..." doesn't do anything.

[2019-02-06 21:48] rajmusuku opened #3926 "Slick grid first column doesn't have a border"
1. Create/open a new notebook
2. Select SQL kernel and connect it to a server
3. Execute a query and see the output window
4. Slick grid doesn't have a border for the first column
![image](https://user-images.githubusercontent.com/44002319/52375877-9d1b4280-2a15-11e9-82e4-08e38cbb368a.png)

[2019-02-06 22:00] chlafreniere opened #3927 "Notebooks: Grid Shows Incorrect Data when Duplicate Column Names Exist"
Open new SQL notebook, execute following query:

SELECT 1, 2

Results:

![image](https://user-images.githubusercontent.com/40371649/52376628-6c3c0d00-2a17-11e9-91c0-930e4aeb9cff.png)

[2019-02-06 22:02] rajmusuku opened #3928 "'Clear output' in ... for markdown cells"
- 'Clear output' is displayed in dropdown by selecting … on markdown cell
- There is no output for markdown cell, We shouldn't show this entry

![image](https://user-images.githubusercontent.com/44002319/52376702-a0afc900-2a17-11e9-8214-e444b59a1bc2.png)

[2019-02-06 22:02] kevcunnane commented on #3918
Update 2: bug fix ready, will have checked in & built shortly so can unblock testing.

[2019-02-06 22:03] SQLvariant opened #3929 "PowerShell Terminal Error"
Issue Type: <b>Bug</b>

I downloaded the PowerShell .vsix file from GitHub (PowerShell-1.11.0.vsix) and installed it in Azure Data Studio.  I opened up a PowerShell script that works perfectly in the ISE or VSCode, but I'm getting an error message when I try to run the script in ADS.

Steps to repro:
Import-Module SqlServer;
Get-SqlInstance -ServerInstance localhost\SQL2017;

Error:
2/6/2019 2:21:

[2019-02-06 22:06] chlafreniere opened #3931 "Notebooks: Run Cell Button isn't Properly Centered"
Create a new code cell in a notebook. Notice that the run cell button isn't properly centered either horizontally or vertically.

<img width="1321" alt="image" src="https://user-images.githubusercontent.com/40371649/52376939-48c59200-2a18-11e9-94e1-58329f82943d.png">

[2019-02-06 22:11] kevcunnane commented on #3929
@kburtram, I got an error on activating the extension due to API `registerDebugConfigurationProvider` being missing. I think this is a case where we need to try and no-op instead of remove the debug APIs, or else extensions like this will have to explicitly opt into supporting azure data studio by null-checking the .debug APIs in vscode namespace.

[2019-02-06 22:14] kevcunnane commented on #3918
This is fixed in the extension. Sending mail with latest bits now.

[2019-02-06 22:14] #3918 closed

[2019-02-06 22:15] rajmusuku opened #3932 "'Attach To' is set to localhost when trying to connect to an existing connection"
- Create/open a notebook
- Select any of the spark kernels
- Select 'Add new connection' in Attach To dropdown
- Enter server details which was already connected
- Connection dialog stays opened
- Attach To is set to localhost

![image](https://user-images.githubusercontent.com/44002319/52377339-6e06d000-2a19-11e9-9f01-435f40e05330.png)

[2019-02-06 22:31] YurongHe opened #3934 "Insert code/markdown doesn't work after insert code at the beginning"
Issue Type: <b>Bug</b>

- Open a notebook
- Select the first cell
- Select toggleMore action-> Insert cell before.
- Select the cell insert in the previous step, then select it -> select "Insert cell/code" before or after. It alwasy put the new cell after the selected cell

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS vers

[2019-02-06 22:38] YurongHe opened #3936 "While cell is running, F5 terminates the running cell"
- Open a notebook
- Select a cell
- F5, while it is running. F5 again.
- Cell stops. Outout displays the following. If it is desire behavior. Maybe we should document it.

Starting Spark application
 ---------------------------------------------------------------------------
KeyboardInterrupt                         Traceback (most recent call last)
<ipython-input-2-ce7a8a69c911> in <module>()
---

[2019-02-06 22:43] amthomas46 opened #3937 "Create new notebook (Mac) and receive TypeError"
- Azure Data Studio Version:
1.4.4 - insider

Steps to Reproduce:

1. In the folder pane, select "New" and save a file named 'sql.ipynb'
2. Result:
"Could not display contents: TyopeError: This notebook format is not supported"

[2019-02-06 22:46] chlafreniere opened #3938 "Notebooks: With SQL Not Enabled and the vNext Extension Not Installed, Error Message is Incorrect"
When the SQL kernel isn't enabled and the vnext extension isn't installed, the error message is incorrect. It says the following:

<img width="458" alt="image" src="https://user-images.githubusercontent.com/40371649/52378862-b0caa700-2a1d-11e9-87a9-76e141c4354e.png">

The error message really should say something about "please install the 2019 extension or enable the sql kernel", since the 2019 ex

[2019-02-06 22:48] amthomas46 opened #3939 "Unable to delete or add cells in Mac with ... without double clicking cell first"
- Azure Data Studio Version: 1.4.4 insider

Steps to Reproduce:

1. In a notebook, try to click the "..." in a cell (that hasn't been double clicked on for editing)
2. Result: unable to get the drop down menu without double clicking in a cell

[2019-02-06 22:54] chlafreniere commented on #3932
This also occurs when you select "Add New Connection" and click cancel from the dialog.

[2019-02-06 23:01] YurongHe opened #3940 "Revise error msg: Connection is not valid for the kernel: PySpark3. A SQL Server Big Data Cluster connection is required for Spark kernels."
Issue Type: <b>Bug</b>

When select a sql 2017 server in OE, open a notebook. Got error:
Connection is not valid for the kernel: PySpark3. A SQL Server Big Data Cluster connection is required for Spark kernels.

Could we revise the msg? It is not clear which connection is not valid.
Also what is the big data cluster connection is.

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d

[2019-02-06 23:02] chlafreniere opened #3942 "SQL Server 2019 Tab Shows Up Even on Non-SQL 2019 Instances in Manage Dashboard"
Connect to a non-2019 instance, and go to the Manage Dashboard.

There will be a "SQL Server 2019 (Preview)" tab next to the Home tab. Clicking on the Create External Table launches the wizard, and an error message appears, not allowing users to proceed.

It would be really nice not to show the tab at all in these cases.

[2019-02-06 23:06] rajmusuku opened #3943 "Clear output shows up even there is no output in code cell"
- Create/open a notebook
- Add a code cell and select …
- Clear output is displayed although there is no content on output

![image](https://user-images.githubusercontent.com/44002319/52380007-f9379400-2a20-11e9-94d5-d54050c1cdf9.png)

[2019-02-06 23:10] amthomas46 opened #3944 "Navigating away from .ipynb file and lost all changes :("
- Azure Data Studio Version:
1.4.4 insider

Steps to Reproduce:

1. Open 1.ipynb file
2. Make some edits
3. Click another 2.ipynb file to view
4. 1.ipynb file no long in tabs above
5. Click 1.ipynb file
6. all changes made to file in step 1 gone

[2019-02-06 23:13] amthomas46 commented on #3944
Wait it gets better. I closed it and opened it several times. Then gave up and started over, making modifications similar to that in step #1. Then, try to save the file (doesn't work). Then, navigate to a .sql file. Return to 1.ipynb and all the old edits are there!

[2019-02-06 23:16] YurongHe opened #3945 "Stuck at loading kernel if the saved kernel is invalid"
Issue Type: <b>Bug</b>

For example: the saved kernel is "aaa".
Open this notebook, it stuck at loading kernel.

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 6.3.9600

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2695 v2 @ 2.40GHz (48 x 2394)|
|GPU S

[2019-02-06 23:16] corivera opened #3946 "CSV Wizard fails to open on csv folder node under Data Services"
Steps to Reproduce:
1. Open a SQL connection to a SQL big data cluster.
2. Create an HDFS folder under Data Services and add a CSV file to that folder.
3. Right click and select "Create External Table From CSV Files" from that folder node.
4. Wizard fails because it can't find any CSV files.

When connected to a SQL big data cluster directly, the wizard still succeeds in this case. Looks like it m

[2019-02-06 23:17] #3917 closed

[2019-02-06 23:23] kevcunnane commented on #3943
You already opened this, and I have a PR fix out. Closing as duplicate...

[2019-02-06 23:23] #3943 closed

[2019-02-06 23:26] amthomas46 opened #3947 "Automatic sizing of cells"
- Azure Data Studio Version: 1.4.4-insider

Steps to Reproduce:

1. use *kernel*
2. run cells of various line lengths
3. after run, some cells are way too big, i.e. the blank space below the text within the cells.

[2019-02-06 23:30] kevcunnane commented on #3939
Thanks for reporting, I have a bug fix that'll be out shortly.

[2019-02-06 23:35] amthomas46 opened #3948 "clear output for entire .ipynb file"
- Azure Data Studio Version: 1.4.4-insider

Steps to Reproduce:

1. Open a notebook that has been run before
2. In order to clear the output for the whole file, you have to individually clear each cell
There should be a way to do this with one command or action or button or something

[2019-02-06 23:49] #3928 closed

[2019-02-06 23:58] kevcunnane commented on #3936
Good question. Let's check with PM and compare to other notebook viewers. I think it's meant to cancel current and re-execute, but that we have a bug here.

[2019-02-07 00:01] kevcunnane commented on #3947
@chlafreniere this is an artifact of the size calculation to get editor length correct. When word-wrap is on and the lines _should_ be wrapped, we get this incorrect. Note this is wrong in both the "wrap on" and "wrap off" cases, but now that we use "wrap off" by default it's way more obvious that we got the calc wrong since wrapping uses less space.

Can you look at the logic and fix?

[2019-02-07 00:02] anthonydresser commented on #3631
This was working at one point, I'll have to check what changed.

[2019-02-07 00:03] anthonydresser commented on #3448
This was the design decision we made do have this behavior otherwise the scrollbar would appear on top of the icons.

[2019-02-07 00:04] YurongHe opened #3950 "Another stuck at loading kernels"
- Open notebook with the following content.
- Got the following notification
  Could not display contents: TypeError: Cannot read property 'display_name' of undefined

And Kernel stuck at "Loading kernels"

Notebook content.
{"cells":[{"cell_type":"code","execution_count":null,"metadata":{},"outputs":[],"source":[]}],"metadata":{},"nbformat":4,"nbformat_minor":2}

[2019-02-07 00:07] rajmusuku commented on #3932
Fixed it.

[2019-02-07 00:07] #3932 closed

[2019-02-07 00:08] rajmusuku commented on #3924
Fixed it

[2019-02-07 00:08] #3924 closed

[2019-02-07 00:08] anthonydresser commented on #116
This should be fixed. Reopen if you continue to experience this.

[2019-02-07 00:08] #116 closed

[2019-02-07 00:11] #336 closed

[2019-02-07 00:11] YurongHe opened #3951 "New Notebook-> change to PySparks-> Failed to change kernel: Invalid response: 403 Forbidden"
- Has big data cluster connection in OE and server is selected.
- ctrl+shift+N create a new notebook
- switched kernel to PySpark3
- Attach to: localhost
  got notification: Failed to change kernel: Invalid response: 403 Forbidden

Expected: AttachTo list the big data cluster selected from OE.

[2019-02-07 00:15] kevcunnane opened #3952 "Notebooks: open notebook and Ctrl+Z on code cell clears contents"
We're not respecting code editor undo history. By creating an editor then copying code in, we add an undo point. We should clear this so that on 1st use people don't accidentally remove all contents.

Repro:
- Open existing notebook with code cells
- Click on a code cell with text
- Use Ctrl+Z to undo

Expected:
- Nothing happens, didn't previously do something
Actual:
- Deletes all text

[2019-02-07 00:16] kevcunnane opened #3953 "Notebooks: dirty state should revert to "not dirty" when undo cell change"
- Open a notebook
- Type in an existing code cell, notice file is dirty
- Hit Ctrl+Z to undo

Expected:
- file is no longer marked dirty
Actual:
- file stays dirty

[2019-02-07 00:19] kevcunnane commented on #3944
@amthomas46 I'm seeing an issue where when tabbing we lose the scroll position. Is this what you mean? I'm struggling to reproduce where on editing you lose visibility on the file, since as soon as you edit this should mark file as dirty and not close it.

Note there is a related issue from what you mentioned:
- Ctrl+S isn't saving right now. @rajmusuku  is working on that and it's tracked in anot

[2019-02-07 00:19] anthonydresser commented on #1477
We've made improvements in this area. Reopen if you continue to see issues in this area.

[2019-02-07 00:19] #1477 closed

[2019-02-07 00:20] YurongHe opened #3954 "Should we use the server in AttachTo when Select "New Notebook" from dashboard"
- Select "New Notebook" from big data cluster dashboard
- Attach To: "Select connection"
Expected: the server is selected in Attach To

[2019-02-07 00:22] anthonydresser commented on #1914
This should be fixed

[2019-02-07 00:22] #1914 closed

[2019-02-07 00:22] amthomas46 commented on #3944
No, this was something else, it was super weird. Let me see if I can repro it

[2019-02-07 00:24] anthonydresser commented on #1964
This should be fixed, reopen if you continue to experience this.

[2019-02-07 00:24] #1964 closed

[2019-02-07 00:24] YurongHe opened #3955 "Attach To: stuck at "Loading contexts..."
- OE has big data connection, sql 2017 and cloud connections
- Select cloud server in OE
- Open the attach notebook
- Attach To: stuck at "loading contexts..."
![image](https://user-images.githubusercontent.com/43652751/52382832-aca58600-2a2b-11e9-9f23-209224d3c020.png)

[2019-02-07 00:25] YurongHe commented on #3955
[train_and_create_machinelearning_models_with_spark.zip](https://github.com/Microsoft/azuredatastudio/files/2838825/train_and_create_machinelearning_models_with_spark.zip)

[2019-02-07 00:27] YurongHe opened #3956 "Need to add "Submit spark job" to Data Services node"

[2019-02-07 00:29] anthonydresser commented on #2356
dupe #26

[2019-02-07 00:29] #2356 closed

[2019-02-07 00:31] anthonydresser commented on #2640
This no longer repros

[2019-02-07 00:31] #2640 closed

[2019-02-07 00:36] anthonydresser commented on #2681
I can't seem to repro; can you verify if you still experience this?

[2019-02-07 00:37] anthonydresser commented on #3868
Could be related to #2694

[2019-02-07 00:37] anthonydresser commented on #2704
I'm not seeing this; can you verify you still experience this?

[2019-02-07 00:41] anthonydresser commented on #2947
dupe #953

[2019-02-07 00:41] #2947 closed

[2019-02-07 00:42] anthonydresser commented on #2966
This is caused by the same issue as #1876

[2019-02-07 00:42] #2966 closed

[2019-02-07 00:43] #2983 closed

[2019-02-07 00:44] anthonydresser commented on #3132
related #1388 probably the same thing

[2019-02-07 00:44] kburtram commented on #2681
@anthonydresser I just checked and could repro on the latest build either.  Let's close for now.  @olegk25 please let us know if you're still impacted by this issue on current builds.

[2019-02-07 00:44] #2681 closed

[2019-02-07 00:46] YurongHe commented on #3934
The insert cell is selected. So i was confused by this. This is by design.

[2019-02-07 00:46] #3934 closed

[2019-02-07 00:47] anthonydresser commented on #3392
Are we still seeing this? I just executed and it seemed to run fine.

[2019-02-07 00:48] anthonydresser commented on #3868
related to #3627

[2019-02-07 00:49] anthonydresser commented on #3666
I'll close as dupe of #1876 since all these scenarios are the same basic issue

[2019-02-07 00:49] #3666 closed

[2019-02-07 00:59] kburtram commented on #3704
@CoolDadTx I wasn't able to repro on the latest build from master.  Though I don't recall any fixes in this area.   Please let us know if you still see this on the latest insiders build or the Feb stable build planned for next week.

![image](https://user-images.githubusercontent.com/599935/52383966-571fa800-2a30-11e9-86fb-45bdcdc8e046.png)

[2019-02-07 01:10] YurongHe opened #3957 "Switches servers in Attach to list, "Attach To" behaves wrong"
- Connect to big data cluster and previous version box SQL, and cloud in OE
- ctrl+shift+N create a new notebook
- Switch Kernel to PySpark 3, we can see the servers list in Attach to.
- Select/switch between them multiple times
Issues:
1. select "Add New connection" -> Connection Dialog doesn't pop up.
2. finally Attach To display 'localhost'

Got notifications:
1. Could not display contents: Typ

[2019-02-07 01:17] YurongHe opened #3958 "Sql notebook IntelliSense should go away after hit F5"
- Create a SQL notebook
- Input a query for code cell
- Hit F5 to run the cell
  The IntelliSense is still displayed after got query result from server.

Expected:
  After hit F5, IntelliSense goes away.

![image](https://user-images.githubusercontent.com/43652751/52384557-db732a80-2a32-11e9-916e-db0b730090f0.png)

[2019-02-07 01:23] corivera opened #3959 "ADS tries to shutdown notebook server twice after closing notebook"
Steps to Reproduce:
1. Open a new notebook via command palette.
2. Close Notebook.
3. Output window shows an error due to trying to stop a stopped server.

Output:
/home/corivera/azuredatastudio-python/0.0.1/bin/python3 -m jupyter notebook stop 8888
/home/corivera/azuredatastudio-python/0.0.1/bin/python3 -m jupyter notebook stop 8888
    stdout: Shutting down server on port 8888 ...
    stdout:

[2019-02-07 01:25] YurongHe opened #3960 "SQL notebook output grid align with run button on the left"
![image](https://user-images.githubusercontent.com/43652751/52384862-16299280-2a34-11e9-88c5-95c5a965d59c.png)

Can we align the grid with "Run button" on the left? Which looks better to me.

[2019-02-07 01:33] YurongHe opened #3961 "Can we use smaller font in grid so we can display more rows"
Just suggestion. We don't have to change it.
![image](https://user-images.githubusercontent.com/43652751/52385146-31e16880-2a35-11e9-8829-a2fb72721423.png)

[2019-02-07 08:41] nilact opened #3962 "Duplicate Grid Result"
Issue Type: <b>Bug</b>

While executing any query, sometimes it shows the duplicate Grid in the result tab for the same Query.

Azure Data Studio version: azuredatastudio 1.3.9 (cacf0777c747046af6839de3688d709b10ef9fca, 2019-01-14T23:30:09.442Z)
OS version: Windows_NT x64 6.1.7601

**Edit:** I found an issue already reported [here](https://github.com/Microsoft/azuredatastudio/issues/3759)

<detail

[2019-02-07 10:52] thomaslevesque opened #3963 "No way to change connection name for existing connections"
Apparently the feature to give a display name to a connection was implemented in #66.
However I see no way to change the name for existing connections in the SERVERS tab. I even tried to set `databaseDisplayName` manually in settings.json, but I don't see the name anywhere. Is this supposed to work?

[2019-02-07 13:57] SQLvariant commented on #3929
@kevcunnane ah, that sounds like a good idea to me.  Most extension authors probably haven't even heard of azure data studio yet.

[2019-02-07 14:48] CoolDadTx commented on #3704
I'm running 1.3.9 now and I haven't seen the issue. I'll consider this closed for now. Thanks.

[2019-02-07 14:48] #3704 closed

[2019-02-07 17:35] #3939 closed

[2019-02-07 18:09] kevcunnane opened #3964 "Notebook: error reading notebook format shouldn't permanently break notebook file"
Issue Type: <b>Bug</b>

Open a .ipynb file with some text (non-JSON / Notebook) contents. You'll see an error message and kernel etc. is stuck at loading. We should ideally:
- Allow user to override and got ahead with empty notebook (warn it'll overwrite contents), OR
- Show some disabled state in overall editor indicating the file is broken.

Azure Data Studio version: azuredatastudio 1.4.4 (9ca6

[2019-02-07 18:23] kburtram commented on #3929
We don't currently support loading arbitrary VS Code extensions into ADS.  Since we share a common platform a lot of extensions happen to work, though as @kevcunnane mentioned we disable the debugging interfaces which breaks most Language Service extensions.

There are a few extensions such as PowerShell, Docker, etc. that align well with our feature set, so we should look into at least making sur