[2021-11-09 13:48] JeffBusterCase commented on #17594
Yep me too. It was there aways. After the last update the passwords showed up but the checkbox to save it was not checked. So I proceed to 'connect' without noticing that at first. Lost the password.....

After a few tryouts, it seems the checkbox to save the password only works once. So everytime you need to check it before connecting. If not, the password will be lost.

[2021-11-09 14:27] dustyghost opened #17634 "Clicking on results containing JSON does not open new document when some rows have NULL"
[code]

Steps to Reproduce:

1. I run a very simple query that does a select <JsonStringColumn> from <table>.
2. The results have a column which contains JSON
3. If the results include rows where the JSON field is NULL, then clicking on the results that DO have JSON in them don't open a new window  with the formatted results.
4. If you select exclusivly rows that DON'T have nulls in the JSON colum

[2021-11-09 15:47] nojetlag opened #17635 "Wiki information about Azure Data Studio extensions is outdated"
**Is your feature request related to a problem? Please describe.**
The links to the .vsix files are outdated. (https://github.com/microsoft/azuredatastudio/wiki/List-of-Extensions) Looking at the versions that these links download and what is available in the ADS extension manager(often they are newer) doesn't match. At the same time it is currently not possibe to use tools like ProGet (Indeo) to

[2021-11-09 21:50] anjode commented on #7440
Still seeing this as an issue.  Restarting doesn't seem to help. I hit run on my query and the query timer says 00:00 and stalls for a while. Sometimes several minutes before it finally runs. I hope this gets some visibility.

[2021-11-09 23:02] smartguest commented on #17379
Issue does not appear to reproduce when I start a session on one normal ADS client and then attempt to create another instance on a debug client, it successfully recognizes there's a session and uses the monitor on that session without any issue on both clients. Somehow it seems STS isn't detecting or receiving any information from the server that there is an XEvents session with that name in the

[2021-11-09 23:12] DaeunYim commented on #17399
Hi, let me know if the workaround worked. If not, let me transfer this issue to PG extension and add it to our backlog items

[2021-11-09 23:15] dferretti commented on #17399
Hey! Sorry I missed this - I am traveling currently but should be able to give it a try towards the end of the week.

[2021-11-10 00:59] ShakleeBI commented on #17547
That led me to the right place. I had re-login using the accounts (looks like a profile button) within the program and add my account for a Linked Account. I first needed to ensure Azure Account Configuration -> Enable at least one cloud was enabled before logging in using the profile section. I was just stuck on the connection setting, which was getting me nowhere (I could even see my account wit

[2021-11-10 00:59] #17547 closed

[2021-11-10 10:13] JuliusHolmberg commented on #17622
Thank you friend. That's exactly what I needed!

[2021-11-10 10:13] #17622 closed

[2021-11-10 16:55] jseabold commented on #15342
Experiencing this same issue. Unable to login to azure through ADS on my mac. VS Code extensions are able to login.

[2021-11-10 17:11] mtk opened #17641 "Crash on startup with no error message when graphics acceleration is turned on under vmware"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Launch an instance of Fedora 35 as a guest running under Windows 10 as a VMware host.
2. Make sure graphics acceleration for the VM is turned *on*.
3. Launch azuredatastudio and watch it silently return with no error message.

Does this issue occur when all extensions are disabled?: Yes

[2021-11-10 18:06] davidAtInleague commented on #10536
voting for (low priority!) feature request: add this information in the grid display somewhere

[2021-11-10 18:29] Charles-Gagnon opened #17642 "Untitled query editors restoring as plain text"
Insiders/dev

1. Create new untitled query
2. Type some text (so it's backed up)
3. Close ADS
4. Re-open

The editor is reopened as plain text instead of the expected query editor. If you try to create a new query editor then the existing editor closes and errors are thrown.

[2021-11-10 18:40] Charles-Gagnon commented on #17635
Thanks for catching that @nojetlag, the list should be updated now!

As for your question about the marketplace - unfortunately currently we are unable to onboard onto the VS/VS Code marketplace in its current state. We have plans to move over there eventually but there's no ETA at the moment.

[2021-11-10 18:40] #17635 closed

[2021-11-10 18:44] Charles-Gagnon commented on #17641
Does this also occur with VS Code?

[2021-11-10 20:31] #17642 closed

[2021-11-10 20:58] jseabold commented on #15342
Doing some more investigating these all seem similar #15560 #17356 #13950. I'm also getting to the localhost redirect and it just sits with pending. I don't see anything listening on the port that it's redirecting to. I'm also behind a corporate proxy, which I suspect could be part of the issue. I've tried bypassing the proxy with no luck yet.

[2021-11-10 21:08] Charles-Gagnon commented on #15342
@jseabold Have you tried using device code auth? That should hopefully at least let you add your account if you're having firewall issues with the code grant method.

![image](https://user-images.githubusercontent.com/28519865/141193734-c8ca7448-d244-4ee9-801d-d1ecadbed7ef.png)

Check device code and uncheck code grant.

[2021-11-10 21:33] jseabold commented on #15342
Saw that in another issue. Device code doesn't work. It looks like it does nothing and then throws the error above in the dev console.

I _did_ just get auth code to work. It was the proxy. I unset all of http_proxy, etc., rebooted because I don't know how the app gets the environment variables, made sure proxy was unset in the preferences, then I actually got off my corporate network and it worke

[2021-11-10 21:38] #17501 closed

[2021-11-10 23:21] stelth240 commented on #6763
Hi @alanrenmsft ,

I am still receiving the same error as before, and the tabs are still closing on me. I am currently at version 1.33.1. Below is a screenshot of the error in my stack trace. I had closed another tab and clicked Don't Save. It ended up closing both tabs at the same time, and the error appeared as normal. I was just in that tab shortly before this occurred, maybe 30 minutes before

[2021-11-11 14:40] mtk commented on #17641
interesting question.  no, it did not.  i thought of that test myself :-).
/mark

On Wed, Nov 10, 2021 at 1:45 PM Charles Gagnon ***@***.***>
wrote:

[2021-11-11 16:10] timbo3220 commented on #17618
I have the same issue. It's driving me nuts
Version: 1.33.1 (user setup)
Commit: 0b9ef714c823d662815f441aec4a94eaa21940f8
Date: 2021-11-04T17:45:15.872Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19042

[2021-11-11 16:24] mtk commented on #17641
after the 1.33.0 -> 1.33.1 upgrade, it:

1) sometimes crashes with no error message (or any kind of message at all)
2) sometimes displays a solid white window with a menu bar that reads "file/edit/view/help".  the menu items drop down but any choice is just ignored.

[2021-11-11 17:13] nojetlag commented on #17635
Hi @Charles-Gagnon thanks very much for updating. However I think the link to the .vsix for SQL Server Agent is now broken. Rest looks good! Also thanks for the update about the marketplace situation. Hope this will come 2022 :)

[2021-11-11 18:53] lucyzhang929 opened #17651 "Add Sql Binding: allow users to choose server from MSSQL extension (if installed) and use that connection"
Current connection string quickpick:
<img width="606" alt="Screen Shot 2021-11-11 at 7 24 41 AM" src="https://user-images.githubusercontent.com/23462877/141352942-a3f01636-5ddf-4d14-aa2e-9c632359ecd6.png">

Feature request:
Let users select a connection (or make a new connection) using the VS Code selection connection prompts and generate the connection string for users.

[2021-11-11 18:54] #17570 closed

[2021-11-11 18:54] #17572 closed

[2021-11-11 19:04] #17172 closed

[2021-11-11 20:19] jseabold commented on #15342
Apparently, it needs to do the handshake every time you start the app, which I guess makes sense. This makes my proxy situation a little untenable. I'll see if there's something I can do locally, but if there's any chance this is something that's solvable on the app side that would be helpful. This is and the mssql plugin for vs code or the only apps where I've seen this behavior.

If I unset my h

[2021-11-11 22:28] kisantia opened #17654 "Validation for new file names for sql projects"
There currently isn't any validation for the new file names of items added to sql projects. For reference, we previously added file name validation in the dacpac extension https://github.com/microsoft/azuredatastudio/blob/main/extensions/dacpac/src/wizard/api/utils.ts#L53

We should have validation similar to in VS:
![image](https://user-images.githubusercontent.com/31145923/141377798-f1a4c03e-059

[2021-11-11 22:53] lucyzhang929 commented on #17569
@chlafreniere @Charles-Gagnon @dzsquared  Do we want to replace the `+ Create new local app setting` with `+ SqlConnectionString` or have both options?

[2021-11-11 23:01] Charles-Gagnon commented on #17569
Both, SqlConnectionString should always be on top, followed by `Create new local app setting`.

If there is already an app setting named `SqlConnectionString` then it should be shown without the plus icon

[2021-11-11 23:02] Charles-Gagnon commented on #17569
So it'll either be

[code]
or
[code]

[2021-11-11 23:14] Charles-Gagnon commented on #17635
Ah, apologies for that! The links should be correct now (also fixed up some others that weren't accurate)

[2021-11-11 23:48] #17582 closed

[2021-11-12 01:11] kisantia commented on #17020
Closing with the workaround of find-replace any `%40`s that should be `@` in the sqlproj. This updated project should continue to work in SSDT and will be read correctly in ADS.

[2021-11-12 01:11] #17020 closed

[2021-11-12 02:05] manmartgarc commented on #4904
I say a little [prayer](https://www.youtube.com/watch?v=-8y0onSG3kg)! 🙏 🙏 🙏

[2021-11-12 08:03] YodasMyDad commented on #17561
I was also able to work around this by going to

chrome://net-internals/#hsts

Delete domain security policies

Entering 'localhost' and clicking delete

Now the login works fine without having to change any settings

[2021-11-12 14:42] VinDeg75 opened #17657 "incorrect JSON data when the grid is sorted/filtered. The hyperlink to inspect the JSON data is assigned to another loaded entry."
Azure Data Studio
Version: 1.33.1 (user setup)
Commit: 0b9ef714c823d662815f441aec4a94eaa21940f8
Date: 2021-11-04T17:45:15.872Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19041

**Steps to reproduce:**
1. Execute a query  that returns an product serial and a related JSON column data (NVARCHAR(Max)) with that also contain

[2021-11-12 15:09] tomasznaumowicz commented on #4916
As of today it's **429** thumbs up and **429** does have a hidden meaning to all of us here ;)
![image](https://user-images.githubusercontent.com/908651/141486189-aab7163b-57bd-429c-a570-c28e637aa970.png)

I wanted to let you know that we've built something as well. It's a professional IDE for Cosmos DB. Alpaqa Studio for Cosmos DB is being actively developed and we're adding new features on a wee

[2021-11-12 15:11] Leonardo-Ferreira commented on #4904
@kburtram if the community opened a PR for this feature, given that it passes quality control, it would be accepted?

[2021-11-12 16:04] mtk commented on #17641
if it starts without crashing (but fails to do anything useful), are there command line arguments that enable debug logging?

[2021-11-12 16:17] emead-spentech commented on #17618
Same issue - also, occasionally when the popup of "An external application is trying to open xxxx in asuredatastudio" is up for a few seconds, I get another error of "Another instance of azuredatastudio has stopped responding"

![Screenshot 2021-11-12 110934_LI](https://user-images.githubusercontent.com/46965538/141498752-5461b14f-02ee-4b4c-b460-0f5a76b0471e.jpg)

[2021-11-12 17:06] dferretti commented on #17399
When I try running `azuredatastudio --server localhost --provider PGSQL` while I have postgresql running locally, it looks like it still tries to load a SQL Server profile:
![image](https://user-images.githubusercontent.com/24608502/141505777-015b2861-03e6-4a4f-ba43-2cff6d4a9ba8.png)

Also is this something to look into? The `provider` arg seems to be unrecognized by `parseArgs` https://github.com

[2021-11-12 17:11] dferretti commented on #16940
I have a similar use case, but for postgresql: https://github.com/microsoft/azuredatastudio/issues/17399

Environment variable would be one option - also how about passing it in through stdin? Similar to how docker does it:
[code]

[2021-11-12 17:46] dferretti commented on #17399
It does look like specifying `provider` in the URI works, so maybe it is just the command line args parsing that does not know to look for that argument. `azuredatastudio://connect?server=localhost&provider=PGSQL` _does_ open ADS and attempt to connect to a local postgresql database. However it fails because you cannot pass a password through the URI method.
Similar to this issue I just found: htt

[2021-11-12 18:53] Charles-Gagnon commented on #17657
@alanrenmsft

[2021-11-12 19:34] #13955 closed

[2021-11-12 20:51] rangitoto72 commented on #17540
When I run the command:

C:\Program Files\Microsoft SQL Server\150\DAC\bin>sqlpackage.exe /Action:Extract /ssn:xxxxx /sdn:xxxxxx /su:xxxxx /sp:xxxxxx /tf:"C:\Temp\database.dacpac" /df:sqlpackage-extract.log
Connecting to database 'xxxxx' on server 'xxxxxx'.
Extracting schema
Extracting schema from database
Time elapsed 0:00:20.03
*** An unexpected failure occurred: Object reference not set to an i

[2021-11-12 21:18] kisantia commented on #17540
@rangitoto72 can you please share the log file? There should be a stack trace in there that I can use to find where there error is coming from.

[2021-11-12 22:34] royzm001 commented on #15050
It would be great to have spellchecker built into ADS instead of downloading from Marketplace.

[2021-11-12 23:10] Charles-Gagnon commented on #17399
Thanks for digging into this @dferretti - you're right in that right now there's a couple things missing.

1. As you pointed out trying to use an existing connection profile is only looking at the MSSQL profiles so won't work for any others
2. It should still try to use the raw profile though (with the specified provider ID). There's a couple of issues here though
   * Given your screenshot above

[2021-11-13 20:28] WilliamDAssafMSFT opened #17661 "new connection Azure SQL DB "Connect" in Connections sidebar spins indefinitely"
Issue Type: <b>Bug</b>

Just installed latest (non-insiders) version and DB Projects extension.
Connections that I can make instantly to Azure SQL DBs in SSMS spin indefinitely in the Connection side-bar. Confirmed Azure SQL DB firewall allows my IP. Using same username/password for SQL auth that works in SSMS, where the new connection opens immediately.
No popup for login failure.
Submitted this

[2021-11-13 20:33] WilliamDAssafMSFT commented on #17661
Will get an error from the "Create new project from Database", where a Task will eventually appear with "Login failed for user..." even though I have open query connections with that connection.  Is the database project import process using all the same connection properties?

[2021-11-14 03:46] dhgrajeda opened #17662 "Editor insert/edit link is broken for links that have % in them"
- Azure Data Studio Version: 1.33.1 (user setup)
- OS Version: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. Create a link in the editor with a percent '%' sign. E.g., https://github.com/search/advanced?q=test&r=microsoft%2Fazuredatastudio&type=Code.
![image](https://user-images.githubusercontent.com/8183814/141709339-73f0bab5-fdb7-4b49-b46a-e9014bb925f7.png)

Expectation:
Browser opens with

[2021-11-14 19:16] mtk commented on #17641
turning off graphics acceleration made it work for a while.  but after the latest round of fedora updates, even with vmware graphics acceleration off, it crashes silently.  mesa, for example, is 21.2.5 on this platform.  is there any way to make it print some diagnostics??

[2021-11-14 19:20] mtk commented on #17641
ah, here we go.

`libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)
[main 2021-11-14T19:17:48.779Z] Starting VS Code
[main 2021-11-14T19:17:48.781Z] from: /usr/share/azuredatastudio/resources/app
[main 2021-11-14T19:17:48.781Z] args: {
`

[2021-11-15 03:47] mmcaulay opened #17663 "Cancelling Save dialog means file cannot be saved, blanks file"
Issue Type: <b>Bug</b>

Steps to reproduce:
- Create a new file and start typing any text.
- Ctrl S to save the file
- Cancel the Save dialog before saving
- Ctrl S to save. Error message shows that save dialog is already open when it isn't.
![image](https://user-images.githubusercontent.com/4042561/141719121-03d2b6df-b42f-41fa-8f60-f0b38cfa8d5c.png)

The first time I saw it, I lost the contents o

[2021-11-15 04:42] onguarde opened #17664 "Results pane size keeps resetting to default."
Issue Type: <b>Bug</b>

Steps to reproduce
1) Click "Toggle Query Results" to show.
2) Adjust the size of the pane to a smaller size.
3) Click "Toggle Query Results" again to hide.
4) Click "Toggle Query Results" again to show.
Result: The results pane size is back to original size. Does not remember the initial size set.

I frequently toggle the results pane. So, I have to adjust the pane again e

[2021-11-15 14:04] garyamorris commented on #16655
Update: I raised this with my organization. Other people don't have this problem and they're using the same ad authentication as myself. It appears to be my machine, which is imaged the same as theirs. This broke after I started using azure cli. Could it be some configuration ?

[2021-11-15 14:43] OSch24 opened #17665 "Central management server - No support for the database name."
Issue Type: <b>Bug</b>

Central management server
No support for the database name.

MSSMS can provide the server and database name when connecting. If I then make a new query on this entry, the connection is established directly to the database.

This also works under Server, but not with the Central Administration Server. ADS currently does not support this or does not take it into account.

Azu

[2021-11-15 14:55] danmanrique opened #17666 "SQL Connection Blade is non-functional"
Issue Type: <b>Bug</b>

I try to reuse a connection that I have in ADS that I can use in SSMS, or if I try to recreate the connection and the dialog just sits there and does nothing when I hit connect. Absolutely lame.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<d

[2021-11-15 17:45] Charles-Gagnon opened #17667 "SQL Database Projects is showing unsupported .NET SDK version warning even when no sqlproj is opened"
1. Create new csproj (I used the Azure function project generator for this)
2. Open the folder in VS Code with the SQL Database Project extension installed

After a bit the warning will pop up

![image](https://user-images.githubusercontent.com/28519865/141829194-8f96038b-951a-488b-9a04-8f1c092d4568.png)

This is expected if there's a sqlproj in the workspace, but we shouldn't be showing this if t

[2021-11-15 18:03] #17632 closed

[2021-11-15 18:16] kisantia commented on #17667
The pop up also shows up when building a project and there's also another very similar warning that gets shown:
![image](https://user-images.githubusercontent.com/31145923/141833359-727aae90-906d-44d6-9836-1a8c747cef6d.png)

[2021-11-15 19:29] isaarikko commented on #17618
Having the same issue

Issue Type: <b>Bug</b>

Pervioulsy opening Excel after saving the query results opened Excel, now Data Studio is tryign to open Excel in editor window

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2021-11-15 19:54] brisexton commented on #17667
I've been getting this pop up since last week. I tried to specify a path to my .NET Core 3.1 SDK under the extension settings.

![image](https://user-images.githubusercontent.com/37346284/141844852-9888c05e-b789-440e-ab27-54d96e5a9ee2.png)

But that didn't help. I'm still getting the pop up.

![image](https://user-images.githubusercontent.com/37346284/141845232-31e85541-f37c-4c1c-b67e-fcfd14206829

[2021-11-15 20:03] nahk-ivanov opened #17670 "A11y_SQLAzureDataStudio_WizardDialog_ScreenReader: on tab navigation to steps 1,2,3 they are read as links."
- Azure Data Studio Version: 1.33.1 (system setup)
- Commit: 0b9ef714c823d662815f441aec4a94eaa21940f8
- Date: 2021-11-04T17:45:15.872Z
- VS Code: 1.58.0
- Electron: 12.0.9
- Chrome: 89.0.4389.128
- Node.js: 14.16.0
- V8: 8.9.255.25-electron.0
- OS: Windows_NT x64 10.0.22000

**Pre-requisite:**
Build and install sample `sqlservices` extension

**Repro Steps:**
1) Run Azure DevOps Studio Insider.
2)

[2021-11-15 20:15] kisantia commented on #17667
@brisexton this warning is showing up because you have the .net 6.0.100 sdk installed. It shouldn't show up again if you click the "Don't show again" button.

This warning was added this release because the DacFx version does not currently .net 6, which is why a global.json needs to be added if .net 6 is installed. We're targeting getting adding .net 6 support in the next release.

[2021-11-15 20:56] nahk-ivanov opened #17672 "A11y_SQLAzureDataStudio_TreeComponent_ScreenReader: NVDA is not reading the labels associated with the TreeComponent checkbox while navigating using Tab Key"
- Azure Data Studio Version: 1.33.1 (system setup)
- Commit: 0b9ef714c823d662815f441aec4a94eaa21940f8
- Date: 2021-11-04T17:45:15.872Z
- VS Code: 1.58.0
- Electron: 12.0.9
- Chrome: 89.0.4389.128
- Node.js: 14.16.0
- V8: 8.9.255.25-electron.0
- OS: Windows_NT x64 10.0.22000

**Pre-requisite:**
Build and install sample `sqlservices` extension

**Repro Steps:**
1. Run Azure DevOps Studio Insider.
2.

[2021-11-16 02:53] #17569 closed

[2021-11-16 16:13] #17672 closed

[2021-11-16 18:17] schallm opened #17681 "Code blocks in notebooks are not syntax highlighted when viewing or editing"
- Azure Data Studio Version: 1.33.1
- OS Version: Windows 10

Steps to Reproduce:

1. Create new notebook
2. Create new text cell
3. Switch to Split View
3. Add following markdown text

[code]
[code]

[2021-11-16 18:20] alanrenmsft commented on #17562
so the request here is to remember the results/messages pane's size and apply it to subsequent query editors, right?

[2021-11-16 18:26] alanrenmsft commented on #17657
@VinDeg75 could you please provide the data to reproduce the issue with the confidential information removed.

[2021-11-16 19:14] brisexton commented on #17667
@kisantia , yes I do have the .net 6 sdk installed, but I also have the .net 3.1 sdk installed. I'd understand if I didn't have the .net 3.1 (LTS) version at all on my machine, but I do. I'll have to create that global.json file since defining the SDK path doesn't do anything.

[2021-11-16 20:02] #17667 closed

[2021-11-16 20:36] mtk commented on #17641
as of the latest round of updates (many for KDE), we're backing to silent crashing. any thoughts on how i could provide more info to you?

[2021-11-16 20:36] #17641 closed

[2021-11-16 20:47] kburtram commented on #17641
@mtk I'm not sure if you intended to close the issue (as your most recent comment ends with a question).  Unfortunately though I am not really sure how to best investigate.  I'll try to install the Fedora version with VMWare and see if I can repo, but will need to allocate some time to run that test.  The error appears to be happening at lower-level than we typically code (e.g. in Electron or Chro

[2021-11-16 20:56] kisantia opened #17685 "update net sdk setting name for sql projects"
Right now the setting has net core in the name, but we should remove the core now that net 5 and 6 are also supported.

![image](https://user-images.githubusercontent.com/37346284/141844852-9888c05e-b789-440e-ab27-54d96e5a9ee2.png)

[2021-11-16 21:59] barbaravaldez opened #17686 "Horizontal scroll bar doesn't work when using workspace setting"
The horizontal scroll bar in Split view mode does not show up when turning off the editor.wordWrap on **workspace setting**.

[2021-11-16 23:01] #17580 closed

[2021-11-17 00:26] dhgrajeda commented on #17662
@MaddyDev The re-encoding of the url leads to an unintended URL. In this example, you can see how the value for "In these repositories" is different for the two URLs, which is not the desired result. For some other urls, it might lead to a broken URL.

[2021-11-17 02:42] AtlasRoark commented on #17043
Not exactly a duplicate of [#8964](https://github.com/microsoft/azuredatastudio/issues/8964).  Which is closed.,  Reopen this please. It's just silly that the results window can't be on another monitor.

[2021-11-17 15:49] dhgrajeda opened #17690 "Workspace Word Wrap setting not being honored"
- Azure Data Studio Version: 1.33.1
- OS Version: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. Under user settings set "Editor: Word Wrap" value to "on"
2. Under workspace settings set "Editor: Word Wrap" value to "off"
3. Open a notebook with a long paragraph and open the editor for that cell

Expected: The editor should have word wrap on. Our users expect this behavior which is set for the

[2021-11-17 15:52] gbritton1 opened #17691 "SQLCMD statments flagged as errors even when in SQLCMD mode"
Issue Type: <b>Bug</b>

I have a working SQLCMD file.  My editor is set in SQLCMD mode (I know since the option at the top of the tab has a button to "Disable SQLCMD")

Even so, my valid SQLCMD statements are flagged as errors. e.g.

:setvar foo "bar"

is flagged with the error message
"Incorrect syntax near ':'.",

Note: this often happens after changing my connection.  Also, toggling the disable

[2021-11-17 15:53] DouglasRBruce opened #17692 "Incorrect object list cursor behavior - first time R-Click"
Issue Type: <b>Bug</b>

Please consider changing this behavior - it is very annoying and non-productive:

1) Open/Manage a database - all objects are displayed in the list
2) Use the mouse wheel to go down PAST the first page of results
3) Right click on any object on that page
4) You are taken right back to the top object.  The R-Click menu is for the first object, not the one that was clicked on

[2021-11-17 15:56] gbritton1 commented on #17691
Screen shot:

![image](https://user-images.githubusercontent.com/12263288/142234798-c9fe1e39-deef-4d54-ab52-92a2a93be3f3.png)

[2021-11-17 16:06] DouglasRBruce opened #17693 "Expand search list to fill whole page"
Issue Type: <b>Feature Request</b>

I absolutly love Azure Data Studio - I do all my normal db work in it now.

This would be helpful:

1) Open/Manage database - list displays
2) Allow the list to expand to the full size of the display.

I have a large upright monitor in which I do a lot of development.  Right now, even ADS is maximized on the display, the db object list is only max 17 lines verti

[2021-11-17 16:50] DouglasRBruce opened #17694 "User adjustable vertical size for multiple result sets"
Issue Type: <b>Feature Request</b>

In the case of multiple result sets, it would be nice of the user could interactively adjust the vertical height of individual sets if needed.  Low priority, but would be nice.  Thanks!

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.17134
Restricted Mode: No

[2021-11-17 17:01] Charles-Gagnon commented on #17691
@llali Aren't we supposed to be disabling the language parsing when in sqlcmd mode?

[2021-11-17 17:48] llali commented on #17691
@Charles-Gagnon I don't think I worked on this feature before and I don't have any idea how it should work.

[2021-11-17 17:56] schallm commented on #17681
Similar issue with other languages:
![image](https://user-images.githubusercontent.com/331167/142255819-897bc526-5c8c-40bd-b6b5-a8d3bf545282.png)

[2021-11-17 18:05] gbritton1 commented on #17691
I don't think you should disable language parsing.  rather, you should also accept SQLCMD syntax as well as T-SQL

[2021-11-17 18:07] alanrenmsft commented on #17691
@kisantia is this something that was assigned to you by Udeesha?

[2021-11-17 19:08] kisantia commented on #17691
@alanrenmsft Udeesha added this a couple years ago, but I also haven't worked on this feature before.

[2021-11-17 20:23] barbaravaldez commented on #17690
This is a duplicate of #17686

[2021-11-17 20:23] #17690 closed

[2021-11-18 03:19] scottfagg opened #17698 "remembered passwords eventually forgotten"
Issue Type: <b>Bug</b>

Within a single session of Azure Data studio, if i make a connection and tick 'remember password', it will eventually forget the password. seems to remember it at most for a couple of minutes.

Tried editing the .json connection file, but they are eventually removed from their too.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8,

[2021-11-18 05:21] mmiryala2 opened #17701 "Synapse SQL query for SStream not working in Azure Data Studio"
Issue Type: <b>Bug</b>

Here is a query that is not working in Azure Data Studio that is working in Synapse.

SELECT TOP 10 *
  FROM OPENROWSET(
  BULK 'Path/2021/11/Stream.D1_2021_11_14.ss',
  DATA_SOURCE = 'PROCESSED',
  FORMAT = 'SStream',  PARSER_VERSION='2.0'
) AS a

I get the following error
"Incorrect syntax near 'FORMAT'"

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662

[2021-11-18 15:02] JeffBusterCase commented on #17698
This problem is nuts....

Duplicate of [#17594](https://github.com/microsoft/azuredatastudio/issues/17594)

[2021-11-18 15:17] larinico commented on #13936
The issue is still happening.
![image](https://user-images.githubusercontent.com/37266549/142442862-d1577175-f7dd-4fe3-80f6-24c4312d965e.png)

I am the owner of the server I try to connect to.
I am using ADD in order to sign in.

I've removed my account, cleared cache and still not able to access the db using Data Studio.

[2021-11-18 16:48] magestorm55 opened #17703 "Connections taking a long time to connect"
Issue Type: <b>Performance Issue</b>

Basically any connection takes at least 30 seconds to establish.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1

[2021-11-18 17:11] Charles-Gagnon commented on #17703
Hey @magestorm55, sorry to hear you're having issues. Our repo adheres to the Microsoft [Code of Conduct](https://opensource.microsoft.com/codeofconduct/) and so we ask that any discussion remains civil and relevant to the discussion. I've edited your description to only include the parts relevant to any investigation.

If you have any other information - such as the type of server you're trying t

[2021-11-18 17:37] #17698 closed

[2021-11-18 18:16] ydango commented on #9801
I would also like this

It is about getting the equivalent to SSMS (see link)
https://docs.microsoft.com/en-us/sql/ssms/register-servers/execute-statements-against-multiple-servers-simultaneously?view=sql-server-ver15

[2021-11-18 19:48] kisantia commented on #17661
@WilliamDAssafMSFT where are you launching "Create project from database" from? If launched from right clicking on an active connection, then opening the connection dialog to select a different selection isn't needed. If selecting a different/new connection, then the same connection dialog used to make connections in the connections viewlet is used.

[2021-11-18 23:34] #17670 closed

[2021-11-19 00:36] yualan commented on #17701
Hi @mmiryala2, what are you attempting to connect to in both Synapse Studio and in Azure Data Studio?

[2021-11-19 02:10] kisantia opened #17711 "Sdk style sql projects should handle build includes and removes in order"
The build includes and removes in the sqlproj should be handled in order, but right now it's all the includes evaluated, then all the excludes after that.

Ex 1:
If sqlproj has these entries in this order,
[code]

the generated dacpac when the project is built still includes Table1.

Ex 2:
If the entries are in the opposite order,
[code]

then the dacpac does not include Table1.

Right now, the pr

[2021-11-19 05:24] abist commented on #17271
@wwangsa Thanks for opening this issue! From what I understand, you don't see a `Disconnect` button when you right click on a connection. Does this happen as soon as you connect to a server or after you leave it for a while and return to it? If it's the latter, it might explain the behavior you're describing, because that's by design.

What I assume is happening is, that your connection to the ser

[2021-11-19 14:47] wwangsa commented on #17271
@abist Is the timeout session defined by the sql server or visual studio? When I tried to reproduce the issue, it seems it happenned within 15 minutes and I was able to do the query as usual. Is there any other indicator that tells the connection is stale? I wish i have consitent way to replicate the issue. May be keep an eye on it in the future?

[2021-11-19 17:54] Charles-Gagnon commented on #17663
@mmcaulay Are you still seeing this? I just tried to repo it and can't seem to on my machine.

Does this happen every time you try this or is it intermittent?

[2021-11-19 18:52] Charles-Gagnon commented on #17615
@chlafreniere I wasn't able to repro this - looking at the code it seems like what may have happened is that the call here https://github.com/microsoft/azuredatastudio/blob/main/extensions/resource-deployment/src/ui/deployAzureSQLVMWizard/pages/vmSettingsPage.ts#L293 came back with an empty list of image versions and thus there was no default value (so line 314 threw).

Are you still able to repro

[2021-11-19 19:25] #17618 closed

[2021-11-19 19:30] aasimkhan30 commented on #17615
In the migration extension, we just have a default error message when a dropdown does not load. I think implementing something similar over here should help.  There is not much we can do here if the azure apis are not returning any data or throwing an exception.

[2021-11-19 19:31] Charles-Gagnon commented on #17618
Thanks for the reports everyone, the fix for this has been checked in. So it should be showing up in the insiders builds starting next week if you wanted to test it out there. Otherwise it will be included in our next release (sometime early December).

Sorry for the inconvenience!

[2021-11-19 19:32] aasimkhan30 commented on #17615
@chlafreniere, what region did you select in the previous screen?

[2021-11-19 20:27] bjones021595 commented on #17618
Thank you!

On Fri, Nov 19, 2021 at 11:31 AM Charles Gagnon ***@***.***>
wrote:

[2021-11-19 21:35] #17594 closed

[2021-11-19 23:04] #17691 closed

[2021-11-20 15:31] chess92 opened #17723 "Save Password Bug"
Issue Type: <b>Bug</b>

The "save password" checkbox does not seem to be working correctly.

It saves it the first time, but when I re-open the app, the checkbox is no longer checked. From this point, the only way to keep my password saved is to keep checking the box every time I open the app.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T

[2021-11-20 23:47] Charles-Gagnon commented on #17723
Duplicate of https://github.com/microsoft/azuredatastudio/issues/17594

[2021-11-20 23:47] #17723 closed

[2021-11-21 18:35] Kritiqual commented on #17562
Yes, that's what I want :||

[2021-11-22 01:57] yarinsn opened #17727 "Remember Password tick doesn't keep it's state"
Issue Type: <b>Bug</b>

Remember Password tick on Connection panel (under Connection Details) doesn't keep it's state after closing the panel.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R

[2021-11-22 02:58] #17562 closed

[2021-11-22 08:57] yarinsn opened #17728 "Remember Password tick doesn't keep it's state"
Issue Type: <b>Bug</b>

Remember Password tick on Connection panel (under Connection Details) doesn't keep it's state after closing the panel.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R

[2021-11-22 08:58] #17728 closed

[2021-11-22 08:58] yarinsn commented on #17728
duplicate

[2021-11-22 10:44] tet64 opened #17729 "New version cannot open any Database"
Issue Type: <b>Bug</b>

Last week I install this version:

Version: 1.33.1 (system setup)
Commit: 0b9ef714c823d662815f441aec4a94eaa21940f8
Date: 2021-11-04T17:45:15.872Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19042

After this, I cannot open any database

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c8

[2021-11-22 17:16] Charles-Gagnon commented on #17729
You're running an older version of VS Code, could you please update and see if you still encounter the issue.

If so, are you seeing any errors pop up? Or if you go to `Help` -> `Toggle Developer Tools` -> `Console` tab do you see any errors there?

[2021-11-22 19:09] DigitalDuquette commented on #5004
Jumping in here to add to this issue as this problem also applies to `THROW`.

![Screen Shot 2021-11-22 at 1 56 19 PM](https://user-images.githubusercontent.com/47231954/142919456-0664db0f-3a4c-49ae-8d4b-11122eeccc18.png)

![Screen Shot 2021-11-22 at 1 55 57 PM](https://user-images.githubusercontent.com/47231954/142919476-3550e223-bf29-48eb-9116-9eaee40e6695.png)

In the [MSDN docs](https://docs.m

[2021-11-22 19:19] Charles-Gagnon opened #17731 "Add SQL binding command should be available on file explorer context menu"
It would be handy to have it show up on right click for cs files instead of just through command palette

[2021-11-22 19:21] Charles-Gagnon opened #17732 "[SQL Binding] "Not supported for .NET 5" message should provide link to more info"
Would be good for users be able to see a more detailed explanation of why

[2021-11-22 21:50] #17711 closed

[2021-11-23 00:18] mmcaulay commented on #17663
Hi it was consistent at the time but now I can't reproduce it.

[2021-11-23 03:46] Charles-Gagnon commented on #17663
Thanks, I'm going to close this now then since it doesn't seem like anyone else is hitting it either but if it happens again let us know!

[2021-11-23 03:46] #17663 closed

[2021-11-23 10:58] ArryMatt commented on #167
Can I +1 this as I have 30+ connections and my OCD is struggling with the untidiness of my list.  I understand I can modify the JSON, but that isn't so simple with so many.  Many thanks.

[2021-11-23 14:00] shtratos commented on #3121
bump! how do I navigate between cells in a notebook?

[2021-11-23 14:05] shtratos commented on #6259
bump! this is basic functionality and makes it very hard to use for people who struggle with making precise mouse movements. Please make the product more accessible.

[2021-11-23 15:40] gbritton1 commented on #6259
Yeah, last activity on this is from March 2020. be nice to see it completed

[2021-11-23 20:36] craigs100 opened #17740 "ADS 1.33.1 won't update over 1.32.0 on Linux with DEB file"
Issue Type: <b>Bug</b>

1. Have V1.32.0 of ADS installed.
2. Download the azuredatastudio-linux-1.33.1.deb file.
2. Double click the downloaded file to have it open in the Package Manager.
3. Note red error banner on Package Manager stating "Error: Breaks existing package 'azuredatastudio' conflict: azuredatastudio()"

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776

[2021-11-23 23:18] kisantia opened #17742 "Move build specific code out of netCoreTool"
it would be better if the buildHelper did the build specific checks before running the dotnet commands instead of having `runDotnetCommand()` do versions checks that are specific to build. `runDotnetCommand()` is also used by the add sql binding to AF command, so it doesn't need the same version checks as project build.

[2021-11-24 01:09] preethamrajk commented on #15342
@jseabold

Could you confirm if your corporate proxy is ZScaler?

For a short duration, we had a different proxy and there was no issue then. But this started happening only after we switched to ZScaler.

[2021-11-24 17:40] mahadwi opened #17745 "error while open select top 1000 table"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

[2021-11-25 00:38:27.760] [renderer1] [error] OnConnectionComplete but no connection found 'file:///null' Connections = [connection:providerName:MSSQL|applicationName:azdata|authenticationType:SqlLogin|database:|server:103.93.59.9|user:mahadwi|group:undefined,connection:provi

[2021-11-24 17:57] kisantia opened #17746 "No default selected radio buttons in schema compare dialog"
There should be a default selected source and target type. Probably caused by #17679

actual:
![image](https://user-images.githubusercontent.com/31145923/143290664-147d09c9-7471-4fc9-98eb-6876ee4c5d42.png)

[2021-11-24 18:02] kisantia opened #17747 "Sql project publish target label should be on left side"
The publish dialog currently looks like this after the publish to container option was added:
![image](https://user-images.githubusercontent.com/31145923/143291167-66fbc47f-9232-4367-977a-145f21adf18d.png)

The label is on the top, but the other components have the label on the left, not on top, so the publish target should also be on the left for consistency(similar to what the schema compare dia

[2021-11-24 18:31] chlafreniere commented on #17615
@aasimkhan30 I can't repro anymore either. I can't say definitively what region that I chose, but it was either the default (Australia Central) or West US.

Agreed that surfacing some sort of error would be a better experience.

[2021-11-24 23:01] #17745 closed

[2021-11-25 09:55] sdjdk commented on #1026
Please add Analysis Services to Azure Data Studio

[2021-11-25 12:55] adriennn opened #17749 "Publishing an sqlproj creates database unpromptedly"
- Azure Data Studio Version: 1.33.1
- OS Version: inwdows 10

Steps to Reproduce:

1. Create a new sqlproject
2. Right click on root of project, click on "Publish"
3. The dialog that appears contains the name of the project as the target database before any target server is selected
4. if the user quickly enough selects the server to which to deploy the database, the name of the sql project stays

[2021-11-25 16:12] yooakim commented on #9533
Please ad us to the wish list, being able to specify "[Application Name](https://docs.microsoft.com/en-us/sql/t-sql/functions/app-name-transact-sql?view=sql-server-ver15)" on the connection settings in Azure Data Studio would be very useful for us.

It works fine with SSMS and other tools but in the dialog for connection in Azure Data Studio /Advanced properties... there is place for entering the

[2021-11-26 08:17] andyleedev commented on #2090
Will the imported file support other types such as XLS in the future?

[2021-11-26 08:56] ob1jedi opened #17750 "Auto scroll really annoying"
Issue Type: <b>Feature Request</b>

When I have a script that takes up more than the screen size, I want to execute the script and see the results at the bottom. But instead when I hit F5 it the cell srolls up just far enough that can't see the results at the bottom, so I have to scroll down again. Its annoying when your task is investigating the data and you have to do that 500 times a day.

Azur

[2021-11-26 16:10] claudio-salvio commented on #17105
✔️Done.
Thank you.

[2021-11-27 23:10] elifozlem opened #17751 "Database selection doesn't work properly"
Issue Type: <b>Bug</b>

After the databases are loaded, when i scrolling list and selecting a database brings it back to the top of the list

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:43:30.222Z)
OS version: Darwin x64 20.6.0

[2021-11-28 23:43] paulkckho opened #17752 "Connection Error"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

How do we resolve this error?

OS: Windows 10 Pro
![Screenshot 2021-11-28 164049](https://user-images.githubusercontent.com/72099759/143791099-7272e965-4d2f-4795-bd89-5b0e88ccd1b5.png)

How do we connect Azure Data Studio to SQL Server when we cannot establish co

[2021-11-29 02:26] talley opened #17753 "Support Postgres,MySQL,FireBird,Sqlite"
Support Postgres,MySQL,FireBird,Sqlite

[2021-11-29 06:30] yehh opened #17754 "The non-English characters Azure AD account name are not displayed properly."
- Azure Data Studio Version: 1.33.1
- OS Version: Windows 11 Pro 21H2

Steps to Reproduce:

1. Add a new Azure subscription in the Connection tab (I am using the Azure China region)
2. Log with corresponding Azure account, it will redirect to corresponding page and log with your Azure AD account and sucessful, then to close the page.
3. Go back to Azure Data Studio, you will able to see the Azure

[2021-11-29 11:23] OskarNet commented on #3270
This works for me when there are few databases on the server.  But if there are more than 100 databases this times out for me and I can't browse the databases.
If I create a query I can jump between the databases in the database dropdown fine.  It's just that navigation in the Object Explorer that is not working.

[2021-11-29 11:35] Thallerich commented on #9054
Same here, after clicking the "Open File" button, i get the following message:
**An extern application wants to open <filepath> in azuredatastudio. Do you want to open this file or folder?**

Clicking yes on this message opens the excel file in ADS, showing the message "This file is not displayed in the editor because it is either binary or uses an unsupported text encoding."

Opening excel files

[2021-11-29 17:18] Charles-Gagnon commented on #9054
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/17618.

The original bug is extremely old though so not sure whether that was actually the same issue, but regardless with my fix there this should no longer be an issue going forward. For those using 1.33.1 you can use the insiders version if you want to make sure the fix works for you until the next stable release is out

[2021-11-29 17:19] Charles-Gagnon commented on #17132
@abist Does this repro for you anymore? Is it possibly because of https://github.com/microsoft/azuredatastudio/issues/17618? Try with the latest dev/insiders and see if you still see the same behavior with my fix.

[2021-11-29 17:30] FallDownTheSystem commented on #3270
Same issue, 3 years running now, times out even though there are only about 50 databases on the server.

Running a query and connecting immediately shows all the databases in the dropdown. Wish this would get some attention for once.

[2021-11-29 18:13] kisantia commented on #17749
@adriennn the current behavior is by design and the same behavior as SSDT. If the selected connection is to a specific database on the server, then the default database name gets replaced with that instead of the project name.

Is there an alternative behavior that you would prefer?

[2021-11-29 19:09] chlafreniere commented on #17267
@rajeshka ping 😄

[2021-11-29 20:19] chlafreniere commented on #16971
This needs more definition on the expected behavior, and will not make the December release. Moving out.

[2021-11-29 20:43] abist commented on #17132
@Charles-Gagnon This seems to be fixed in latest insiders.

[2021-11-29 20:43] #17132 closed

[2021-11-29 22:13] Charles-Gagnon opened #17761 "Undo in Notebook WYSIWYG cells puts cursor at beginning of text"
1. Create new text cell
2. Switch to split or rich view
3. Type some text
4. Press ctrl+z

The cursor is reset to the beginning of the line instead of where it was before the text that was undone was added.

[2021-11-30 00:00] chlafreniere commented on #17633
@alanrenmsft looks like this also affects query editor grids. Any idea what could be going wrong here?

Happy to look into this myself, got any pointers?

[2021-11-30 01:02] Jordan-Krogmann commented on #17624
Is the aim at this enhancement meant to take:

As seen on tv:
`SELECT * FROM table as aaa`

Tab key
`SELECT *[tabkey] FROM table as aaa`

End Result
`SELECT
      aaa.column1,
      aaa.column2
FROM table as aaa`

Because it would make me extremely happy if that were true :)

[2021-11-30 01:31] alanrenmsft commented on #17633
I'll take a look @chlafreniere

[2021-11-30 15:53] Panguaneta opened #17765 "[Database Support] ODBC connections"
If you want to see ODBC DSNs support in Azure Data Studio, click the thumbs up 👍 sign.

[2021-11-30 17:07] jseabold commented on #15342
I'm not sure what proxy we use. I'm slightly less convinced this is a proxy error and not something in the application. I have to refresh my token, have all of my proxy variables unset and removed in system and application preferences, and I'm seeing the same behavior again.

If I curl with an incorrect code, I get a response from ADS. If I curl with the correct code from the browser, it just hang

[2021-11-30 17:49] smartguest commented on #17379
@loiseKG0U Any update on being able to reproduce the issue with a different server or new database? So far, I cannot reproduce this issue with the current profiler feature, there seems to be an issue causing the server not to be seen by the SQL tools service.

[2021-11-30 19:00] kisantia commented on #16766
updated DacFx was brought into ADS in #17627

[2021-11-30 19:00] #16766 closed

[2021-11-30 20:40] #17402 closed

[2021-11-30 21:18] aasimkhan30 opened #17772 "Update yarn installer task that uses Node execution handler 6 (EOL)"
The latest version of yarninstaller task uses node 6 execution handler that is going to go out of support in March 2022.

The solution is to either replace this task with something else or wait for an update.

Error Message:
##[warning]This task uses Node 6 execution handler, which will be removed March 31st 2022. If you are the developer of the task - please consider the migration guideline to No

[2021-11-30 21:25] aasimkhan30 opened #17773 "Update docker image of linux build agents"
The current linux build agents use Ubuntu 16 which is out of LTS window on April 30th 2021. We need to update our build agents to use the latest version of Ubuntu.

[2021-12-01 00:09] alanrenmsft commented on #17578
dupe of #275

[2021-12-01 00:45] chlafreniere commented on #17761
@Charles-Gagnon are there any other ripple effects beyond cursor position being reset to the beginning?

i.e. is this a "we need to fix this in December" sort of thing, or is it more of an annoyance?

[2021-12-01 00:48] chlafreniere commented on #16964
@snaldurgkar since this doesn't repro any longer, closing this. If it occurs again, please feel free to reopen. Thanks!

[2021-12-01 00:48] #16964 closed

[2021-12-01 00:49] Charles-Gagnon commented on #17761
No clue, I just noticed this while testing some other stuff. Didn't investigate further. It definitely makes the feature a lot less useful (in my eyes) though. But if no one has complained yet I guess it's probably fine?

But given that this apparently slipped through testing it might be good to make sure we focus on this feature during signoff just to make sure there's nothing else that we missed

[2021-12-01 00:49] chlafreniere commented on #17120
Closing as we need logs to further debug this issue. If the issue is still reproducible, please feel free to reactivate with the logs requested. Thanks!

[2021-12-01 00:49] #17120 closed

[2021-12-01 01:00] chlafreniere commented on #6259
@microsoft/azure-data-studio-notebook-devs any volunteers?

[2021-12-01 01:11] #17633 closed

[2021-12-01 15:22] CoryKoehler opened #17776 "No longer saves connections with sql server credentials"
Issue Type: <b>Bug</b>

Hello,

Try connecting to any db via the Azure connection tab using SQL credentials and clicking save connection.
It no longer saves for easy reconnection in future

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</

[2021-12-01 15:23] SashaRisner opened #17777 "Unable to Login with AAD w/MFA anymore!"
Issue Type: <b>Bug</b>

I am suddenly unable to login to my azure sql databases using Azure Active Directory with MFA. I cannot add an account, It tells me I need to search for azure cloud in settings - I've tried that and it does not exist. I've tried to remove my MFA account but I don't see how I can. I would clear my cache but I don't know where this is cached. Would like to reset azure data st

[2021-12-01 15:29] lucyzhang929 commented on #17731
@Charles-Gagnon @chlafreniere @dzsquared Thoughts on the ordering for "Add SQL Binding" in the context menu?
<img width="466" alt="Screen Shot 2021-11-30 at 7 45 57 PM" src="https://user-images.githubusercontent.com/23462877/144168989-d7f2d53f-7f26-4227-8e51-891a1ac7008b.png">

[2021-12-01 17:23] Charles-Gagnon commented on #17731
Something like that looks great @lucyzhang929

What @dzsquared said would be good though, if there's a way to make this only show up when we detect that it's a functions project that would be great. I think you might be able to achieve something like this using a custom context and the 'in' clause : https://code.visualstudio.com/api/references/when-clause-contexts#in-conditional-operator

(there m

[2021-12-01 17:39] #17747 closed

[2021-12-01 17:57] lucyzhang929 commented on #17731
Yep right now the only condition we check is that the file is csharp so it can be annoying/confusing for users not in a functions project. I'll check if theres an easy way to hook up the custom context, if not we can punt this.

[2021-12-01 19:10] winzig commented on #7440
Experiencing this issue once again after it seemed to be better for quite a while. Only change is I'm on a new machine and OS (upgraded from previous Intel Mac laptop to M1 Apple Silicon running Monterey 12.0.1). I'm connected via OpenVPN client to an OpenVPN server also running at AWS.

I'm running the queries against MSSQL running at AWS RDS. When I hit the Run button, it will sit there with "Ex

[2021-12-01 20:02] schallm opened #17780 "Add a command to switch databases and a default key binding"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when I can't change the current database easily like you can in SSMS by hitting `[Alt]+D` -> Type a few characters -> `[Enter]` and go back to writing your query.

**Describe the solution or feature you'd like**
Add a command to switch databases and a default key binding of `[Alt]+D`

**Describe alternatives y

[2021-12-01 20:47] smartguest commented on #17166
Tests on my table using both ADS and SSMS shows that for both query editor (both ADS and SSMS) and Notebooks: reveal that when using WHEN NULL on a column containing one null row, every row is marked as not null.

[code]

But when using WHEN Column IS NULL, it properly marks the null row as null,

[code]
There is no difference in results between notebook or query editor, so I'm not sure what is go

[2021-12-01 21:05] Charles-Gagnon commented on #17166
@rkammer NULL can't be directly compared to anything - see https://docs.microsoft.com/en-us/sql/t-sql/language-elements/null-and-unknown-transact-sql?view=sql-server-ver15 for more details.

You should be using IS NULL/IS NOT NULL to compare instead.

So the first query you have is invalid and should never work. I'm not sure how it could be working in a query editor, if you were able to take a scr

[2021-12-01 21:05] #17166 closed

[2021-12-01 21:08] #17408 closed

[2021-12-01 21:28] kburtram commented on #17379
Closing as "no repro" and there isn't sufficient detail to investigate further.  Please let us know if you're still impacted by this bug.  Thanks!

[2021-12-01 21:28] #17379 closed

[2021-12-02 00:14] Benjin opened #17782 "Updating project from database "thinks" without indication before finishing operation for View in Schema Compare op"
UX should give some indication that it's doing something (i.e. building the model from the sqlproj, doing the comparison) so the user isn't confused/concerned.

Occurs when "View in Schema Compare" is selected.

[2021-12-02 00:35] llali opened #17783 "Sqlproj schema compare against project doesn't refresh the model after changes are applied"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create a project from a db with tables
2. Add a table to sql proj
3. Open schema compare and select db as source and project as target
4. compare and apply changes to delete the table
5. build the project and make sure table is deleted
6. in same schema compare window click on compare again
7
Expected: should show no difference
Ac

[2021-12-02 00:35] WilliamDAssafMSFT commented on #17661
I cannot repro. Shrug.

[2021-12-02 00:35] #17661 closed

[2021-12-02 00:40] llali opened #17784 "schema compare open to editor shows an error"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. open schema compare with any source/target
2. right click on the tag and click on "reopen editor with"

editor opens with some scripts but with an error:
Unable to open 'Schema Compare': Unable to resolve resource ModelViewEditorScheme:Schema%20Compare.

Does this issue occur when all extensions are disabled?: Yes/No

[2021-12-02 00:42] ssreerama opened #17785 "Update target is not loading the database project after successfully updated the project"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create a database project from the database
2. Add a table to the database
3. Right click on db project and 'update project from database'
4. SC window will show the differences and click on 'Apply'
5. After successful update, observe the database projects pane and the db project is not loaded with new changes unless we close and

[2021-12-02 00:42] Benjin opened #17786 "When applying schema compare changes to a project, result from tools service says success despite error message"
Comparing two sql projects, and applying changes: result object from tools service says it  succeeded, but there's an error message.  Files appear to be getting created on disk (via DacFx), but the failure occurs before they can be added to the Sqlproj (possibly why refreshing doesn't occur/appear to do anything)

[2021-12-02 00:53] Benjin opened #17788 "Updating project from database "thinks" without indication before finishing operation for Direct Apply op"
UX should give some indication that it's doing something (i.e. building the model from the sqlproj, doing the comparison) so the user isn't confused/concerned.

Occurs when "Apply Changes Directly" is selected.

[2021-12-02 00:54] dzsquared commented on #17788
task suddenly appears after applying changes finishes:
![image](https://user-images.githubusercontent.com/12227241/144338054-95a09a1b-beb7-4d1d-9433-12329b09ee3b.png)

[2021-12-02 00:55] Benjin commented on #17783
Reopening the Schema Compare window works; ideally would refresh the model schema compare uses

[2021-12-02 00:56] llali opened #17789 "Schema compare against project shows differences that are not when comparing against dacpac"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create db project from AdventureWorks 2019
2. Open Schema compare
2. compare the project with db
Expected: no differences
Actual:
Extended property is different:
EXECUTE sp_addextendedproperty @name = N'MS_Description', @value = N'AdventureWorks 2016 Sample OLTP Database';
GO

Does this issue occur when all extensions are disabled

[2021-12-02 01:01] Benjin commented on #17789
Investigation: does this repro in SSDT as well?  I suspect it's resulting from how DacFx builds the model from loose script files.

[2021-12-02 13:29] Janneman96 opened #17793 "Sharing custom snippets"
I'd like to share SQL snippets with my colleagues through git. But I don't want a git repository in my C:\Users\[user]\AppData\Roaming\azuredatastudio\User\snippets folder. I'd like to reference a snippet file in another folder.

Can you change Azure Data Studio so I can add references to existing snippet files, which are not in the users folder?

Example solutions:
- add the option to choose an e

[2021-12-02 15:55] AslanAmca commented on #94
Any progress?

[2021-12-02 17:05] Charles-Gagnon commented on #17793
We (being a fork of VS Code) support user snippet files which can be placed in a workspace : https://code.visualstudio.com/docs/editor/userdefinedsnippets#_create-your-own-snippets

So the workspace would contain the snippet definition file(s) that could then be stored in git.

[2021-12-02 17:38] #6763 closed

[2021-12-02 18:30] VasuBhog commented on #17686
After testing I was unable to repro this, will get a few other confirmations prior to closing.

Workspace settings will override user settings.

[2021-12-02 19:51] JeffBusterCase opened #17798 "Unsaved query gets closed by itself. Unable to open again-Lost it"
Just using a normal query tab on SQL Server. After sometime the query disapears, I think that maybe this happens when refocusing the Application.  There is a Log on Developers Tool window of a slice or something error:

Unable to open 'SQL Query_4 -------' : Cannot read property slice of undefined.
OnDidChangeNotification: workbench.desktop.main.js:1633

It happend three times I think already...

[2021-12-02 19:54] Charles-Gagnon commented on #17798
Duplicate of https://github.com/microsoft/azuredatastudio/issues/6763 - the next release should fix it so at least it won't close the editor (allowing you to save your work and re-open in another tab) while we investigate the issue causing this to happen.

[2021-12-02 19:54] #17798 closed

[2021-12-02 19:54] Charles-Gagnon commented on #17798
@alanrenmsft FYI

[2021-12-02 20:19] #17571 closed

[2021-12-02 21:07] Tanner-Tran commented on #8965
College student here:

Was ripping my hair out on the application side until I realized Azure SQL was forcibly closing my idle connections. I've configured an aggressive connection validation scheme on my end, but I'll probably just switch to a different host to avoid the performance hit.

[2021-12-02 21:30] Charles-Gagnon commented on #8965
Hey all - we've had a couple people working on improving the various timeout issues that have been reported. Specifically we will now refresh the auth token when running queries and interacting with the object explorer among other fixes.

Some of the fixes are in the latest build already and some will be included in the upcoming release (targeted for mid-December). So if you are/were hitting these

[2021-12-02 21:39] caohai commented on #8965
For query editor related scenario, we should be good.
For object explorer (expanding server node, etc), it was not fixed yet last time I checked but we do have a separate issue #17087 tracking that.
@cssuh Are you still working on these AAD bugs lately, if so you could probably take a look at that issue as well.

[2021-12-02 21:41] #15049 closed

[2021-12-02 21:41] #8011 closed

[2021-12-02 21:48] chlafreniere commented on #17367
@lewis-sanchez how did we end up handling this? Have these tests been turned off, or are these still failing?

[2021-12-02 21:48] chlafreniere commented on #17351
@VasuBhog @corivera has this been fixed?

[2021-12-02 22:02] kisantia opened #17800 "Handle .NET Core 3.1 EOL in Dec 2022 for sql projects"
The minimum supported .NET Core version for building sql projects is .NET Core 3.1 and this version number is used in several strings. We'll need to watch out for the EOL of .NET Core 3.1 in December 2022 and make updates accordingly.

https://github.com/microsoft/azuredatastudio/blob/0847f7cd38711b8be74236a544e0b55dd075abc9/extensions/sql-database-projects/src/tools/netcoreTool.ts

[2021-12-02 22:11] VasuBhog commented on #17351
I thought we discussed that this would've been a part of the .Net Interactive work, and as such was not prioritized for my work. I am not sure about @corivera update for this.

[2021-12-02 22:23] corivera commented on #17351
The .NET Interactive work isn't going to change anything about how we register kernels. We populate that dropdown based on the standardKernels that are registered in the extension manifest. Retrieving kernels only jupyter knows about is a separate issue.

[2021-12-02 22:49] kisantia commented on #14542
@malcolm738 an alpha package has been released if you'd like to try it: https://www.nuget.org/packages/Microsoft.Build.Sql/0.1.1-alpha

instructions can be found here: https://github.com/microsoft/DacFx/tree/main/src/Microsoft.Build.Sql

[2021-12-02 22:58] #17686 closed

[2021-12-02 23:21] Charles-Gagnon commented on #8965
Thanks @caohai

I'm going to close this issue then to consolidate the open issues we have - for anyone still hitting this please let us know if you're still encountering issues with the latest release and we can investigate each specific issue separately!

[2021-12-02 23:21] #8965 closed

[2021-12-02 23:32] #17685 closed

[2021-12-03 00:28] covlorin commented on #17491
Yes, I'm still getting this with 1.12.0. Any way I can share the dacpacs privately?

[2021-12-03 01:09] kisantia commented on #17491
@covlorin you can email the dacpacs to me at kisantia@microsoft.com

[2021-12-03 01:23] covlorin commented on #17491
Sent! thank you for looking into it.

[2021-12-03 07:03] ryangatchalian912 opened #17802 "*Issue* Cannot connect upon opening another file"
Issue Type: <b>Bug</b>

1. Open an SQL file.
2. Connect to an active SQL Server connection.
3. Hit Run.
4. Open another SQL file.
5. Connect to the [same] active SQL Server connection from STEP 2.
6. Hit Run.

Actual Result: Connection in STEP 5 keeps on looping.
Expected Result: It should proceed and connect so I can run STEP 6.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662

[2021-12-03 07:45] alexpalex9 opened #17803 "not able to connect to azure"
Issue Type: <b>Feature Request</b>

Logging to azure account with Azure Data Studio runs forever whereas it works perfectly for "Azure visual code"

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

[2021-12-03 10:48] btmpn opened #17806 "Unable to install Azure SQL Migration"
I'm trying to migrate a SQL Server database to an Azure SQL Database.
I found several ways, but the 'Data Migration Assistant' says

![image](https://user-images.githubusercontent.com/77000175/144589490-2041780b-1b44-43c2-a979-636fa0f59244.png)

So i figured out that there is an extension for azure data studio called 'Azure SQL Migration'.
When trying to install it i get:

![image](https://user-im

[2021-12-03 14:21] sumitmalik51 commented on #17120
@chlafreniere Was able to resolve the issue after updating Data studio.

[2021-12-03 16:46] brett-x opened #17807 "Exporting data while filtered doesn't export correct data"
Issue Type: <b>Bug</b>

1) Run a query
2) Filter the query in the results.
3) Export the data
4) The data will have the correct number of rows as the filtered set, but the data will be the first X rows without the filtering.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:43:30.222Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<det

[2021-12-03 17:04] Charles-Gagnon commented on #17806
Please update to the latest version of ADS (currently 1.33.1) and try again. The sql-migration extension currently requires version 1.33.0+

[2021-12-03 17:15] adrianlfns opened #17808 "Database selection change"
Issue Type: <b>Bug</b>

Connect to a server that has many databases. Double click on that server and a  server "dashboard" will appear with the list of databases. If I click one of the databases the software then selects the first database (not the one that I wanted to select). I have to scroll an select the database again in order to select the database that I want to use.

Azure Data Studio vers

[2021-12-03 17:48] lewis-sanchez commented on #17367
@chlafreniere, they're currently turned off in the web build only because they were failing.

[2021-12-03 18:36] chlafreniere commented on #17367
Gotcha. Can we close this issue? Or are you keeping it open for tracking (in which case, we should move it out of the milestone)

[2021-12-03 18:41] caohai commented on #14136
We've made some progress with AAD token expiration during the past few months. Query editor and notebook should not have this issue any more. They should be in the latest release, feel free to try it out and share if it fixes the issue for you.

There are still a few places this issue will occur and we are still working on them. You should be able to find the latest progress in this mega issue #17

[2021-12-03 18:41] #14136 closed

[2021-12-03 18:46] alanrenmsft commented on #6763
@stelth240 by looking at the call stack, it should have been caught by my previous fix, are you sure you are using 1.33.1 when the error occurred? anyway, I've made another change to stop if from crashing.

[2021-12-03 19:18] lewis-sanchez commented on #17367
@chlafreniere, I was keeping it open for tracking since we would eventually like to have those smoke tests running in the web build pipeline since they would help with ensuring that notebooks are sound in the web build.

[2021-12-03 19:19] chlafreniere commented on #17367
@lewis-sanchez ok. Any issues if I move it to the February milestone?

[2021-12-03 19:24] lewis-sanchez commented on #17367
@chlafreniere, no issues.

[2021-12-03 20:52] Charles-Gagnon commented on #17517
Moving this out since the merge isn't going to get in this release....

[2021-12-03 21:20] chlafreniere commented on #17351
This won't make this upcoming release and requires some more design discussions. Moving this out.

[2021-12-03 23:23] lucyzhang929 opened #17812 "Not all Jupyter servers are shutdown during Python upgrade (windows)"

[2021-12-04 00:04] rkammer commented on #17166
Hi @Charles-Gagnon,

I apologize for the delay in answering this thread.

I understand that the correct way to check for _null_ in a statement would be to use the syntax _IS/IS NOT NULL_. But it seems odd that different results are presented by when executing a query in the editor and executing it in a notebook.

I created the following table to provide the an example with screenshots:

[code]

Pl

[2021-12-04 00:39] #17606 closed

[2021-12-04 07:52] stelth240 commented on #6763
@alanrenmsft Hi Alan. Yes, I am sure. Below is a screenshot of the About dialog. I have not updated since the error occurred, so this is the version I was on. A tab actually closed on me again last week as well. I did not grab the stack trace that time, though it looked the same as the other times. Thank you for looking into this; it is stopping my whole team from using ADS since they are having t

[2021-12-04 10:05] erapade commented on #14136
The query editor now works better, thanks for this, and thanks for giving an update, very appreciated!!!
When I today started to use the query windows I used yesterday, it did say disconnected, and I then needed to re-connect to the database. Sadly my old connection wasn't pre-filled-in, so I needed to choose the connections once again. I here see a risk that you connect to the wrong database and

[2021-12-06 00:13] HeidiHasting commented on #12165
experienced this again today, I often just switch back to SSMS if ADS starts to cause issues. This time checked and found this page, I ended up doing the delete, reauthenticating, closing and reopening and its back. Very frustrating and sad to see a bug like this that deters from using the product open for over a year.

Also not great user experience with error message to say open developer tools

[2021-12-06 13:15] btmpn commented on #17806
it can now be installed. thanks!

[2021-12-06 13:15] #17806 closed

[2021-12-06 18:30] alanrenmsft commented on #6763
@stelth240 our new release will be available in a week or so, please give it a try and definitely let us know if the problem is still there. You can also use the insider build which already have my most recent fix.

[2021-12-06 19:00] Az6bcn commented on #94
Any updates on this?

[2021-12-06 19:18] barbaravaldez opened #17819 "Add undo/redo actions in Notebook"
- [x] Add cell
- [x] Delete cell
- [x] Move cell
- [ ] Split cell
- [ ] Collapse cell
- [ ] Convert cell

[2021-12-06 19:23] Charles-Gagnon opened #17820 "Undo of split cell throws error"
1. Create new code cell
2. Type some text such as `foobar`
3. Select `bar`
4. Split cell
5. Unselect active cell and undo, an error is thrown

[code]

[2021-12-06 19:27] chlafreniere opened #17821 "Notebook-Level Undo/Redo Not Triggered when Using Edit Menu Commands"
- Make some change in the notebook (e.g. create a new cell of any type)
- Click outside of any cell (i.e. no cell is active)
- Edit -> Undo

Expected: newly-created cell is removed
Actual: nothing appears to happen

[2021-12-06 19:28] Charles-Gagnon opened #17822 "Undo after "Convert Cell" will delete the cell"
1. Create new code cell
2. Convert to text cell
3. Undo (ctrl+z)

The cell is deleted.

This should be a no-op until we implement that functionality

*edit* After discussion this is sorta working as intended, in that it's undoing the last action (create new cell) and that redo is then adding back the converted cell. So it's not super intuitive but is behaving as it probably should.

[2021-12-06 19:30] corivera commented on #17820
Additionally, Undo/Redo for cells no longer works at all for me after hitting this error.

[2021-12-06 19:39] kisantia commented on #17491
update from investigation: It looks like the build warnings for the source dacpac are what’s causing the problem. When I fixed the warnings, trying schema compare and generate script again and it was successful.

It’s surprising that the generate script using SSDT in VS 2019 works, but I suspect it’s because SSDT uses slightly different apis for schema compare than ADS, which uses the DacFx public

[2021-12-06 20:26] chayaverma7 opened #17824 "December 2021 Release Endgame"
# December 2021 Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.34

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

[win-user]: https://go.microsoft.com/fwlink/?linkid=2132305
[win-system]: https://g

[2021-12-06 21:31] llali opened #17825 "Running query to get data scope config fails"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. open an editor for an instance of SQL Server (mine is a docker container from SQL server 2019 image)
2. Run this query: SELECT * FROM sys.database_scoped_configurations

Expected: get the result
Actual:
Error: Query failed: Value cannot be null. (Parameter 'key')

I verified this works in October release

Does this issue occur whe

[2021-12-06 21:52] aasimkhan30 commented on #17145
Moving this issue out of December as there have been some fixes made to the extension to better handle it.

[2021-12-06 22:34] Charles-Gagnon opened #17827 "Create Azure Function SQL Binding should filter out well-known app settings"
We currently list all app settings in the file, we should filter out well-known ones that are known not to be connection strings (such as AzureWebJobsStorage)

https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings

[2021-12-06 23:48] m4ttheweric opened #17828 "Sql Database Projects: Apply changes from db instance to database project"
TL;DR... Need a way to apply changes from a db instance to the sql database project.

**Is your feature request related to a problem? Please describe.**
It seems we are unable to apply changes from a database instance back to a database project using schema compare.

In SSMS it's possible to run a schema compare and apply changes from a database instance to a sql database project.

Currently, in A

[2021-12-07 00:22] corivera opened #17829 "Remaining .NET Interactive API work"
- [x] Resolve problems with internal ExecuteManagers not loading due to missing defaultKernel info @corivera
- [x] Fix issue with File -> New Notebook command not working
- [x] Implement ADS NotebookCellExecution behavior in adsNotebookController.ts @Charles-Gagnon

FYI @Charles-Gagnon @chlafreniere

[2021-12-07 01:36] chlafreniere opened #17830 "Welcome Page: Tooltip Doesn't Show when Hovering Over Preview Info Icon"
In previous versions of ADS, when I hovered over the Preview Info icon (top right of the welcome page), I got a nice tooltip. Unfortunately, this tooltip isn't showing for me in RC builds:

![image](https://user-images.githubusercontent.com/40371649/144949758-7176da57-2b73-4a85-abaa-6f58dd36e94b.png)

In 1.33.1, it works as expected:
![image](https://user-images.githubusercontent.com/40371649/1449

[2021-12-07 02:23] Zerglrisk opened #17831 "i wish Search StoredProcedure Text Feature"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2021-12-07 03:11] kisantia opened #17832 "publish to container failure doesn't show in project dashboard history"
If a publish to container fails, it doesn't show in the publish history in the project dashboard.

[2021-12-07 05:37] alanrenmsft opened #17833 "when there are multiple sets, chart button not displayed for small datasets"
as you can see, for smaller result sets, the chart button is not displayed
![image](https://user-images.githubusercontent.com/13777222/144970155-919bce3f-a821-494a-9385-671f1d437cde.png)

[2021-12-07 06:08] #17773 closed

[2021-12-07 07:05] adriennn commented on #17749
hello @kisantia

if the user interface allows for deploying a new resource by inadvertence then definitely an alternative behavior is needed, in this case, perhaps like so:

1. Publish button is disabled
2. User selects a server
3. UI waits for database list from server
4. if there are no database on servers, enable Publish button with label "Publish to New Database"
5. if there is a database on t

[2021-12-07 11:15] mannikunamneni opened #17834 "local host"
Issue Type: <b>Feature Request</b>

i am not getting local host

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:43:30.222Z)
OS version: Darwin x64 21.1.0
Restricted Mode: No

[2021-12-07 16:59] stelth240 commented on #6763
@alanrenmsft Thank you. I will wait for the new release to be available, and check it then. I really appreciate the help with this issue.

[2021-12-07 17:58] lioras opened #17836 "Can not connect after changing Microsoft password"
Issue Type: <b>Bug</b>

Keep getting a token retrieval error even though I have reauthenticated.

Azure Data Studio version: azuredatastudio 1.28.0 (13e362762762e5cb76a5c8afd2bc650f48c2d3d8, 2021-04-15T00:25:54.683Z)
OS version: Darwin x64 18.7.0

Extensions: none

[2021-12-07 18:32] alanrenmsft commented on #17833
not a regression from October release.

[2021-12-07 19:12] Firmbyte opened #17839 "PS Integrated Console 'crashes' when trying to run any PS script"
Opening any PS scrpt and running it, the PS Integrated Console crashes.

Problem signature:
  Problem Event Name:	CLR20r3
  Problem Signature 01:	powershell.exe
  Problem Signature 02:	10.0.14409.1005
  Problem Signature 03:	584a185c
  Problem Signature 04:	System.Management.Automation
  Problem Signature 05:	10.0.14409.1018
  Problem Signature 06:	5bac3bc0
  Problem Signature 07:	7aae
  Problem S

[2021-12-07 19:35] cssuh commented on #17836
Hi @lioras, is this for an Azure SQL DB?  Have you tried removing your Microsoft account and then re-adding it?

[2021-12-07 19:44] cssuh commented on #17834
Hi, can you please specify what your problem is? Are there any error messages you're seeing? https://docs.microsoft.com/en-us/sql/azure-data-studio/quickstart-sql-server?view=sql-server-ver15 here is a quickstart guide for connecting and querying SQL server.

[2021-12-07 21:47] kisantia opened #17841 "generate project from openapi should use default project save location setting"
If the Default Project Save Location is set, it should be an option in the Select project location quick pick

![image](https://user-images.githubusercontent.com/31145923/145111171-2a29f20d-dfdc-412c-8536-a4617d6c7402.png)

[2021-12-07 21:54] kisantia opened #17842 "progress generating project from openapi shows too early"
If autorest isn't installed, the "install autorest" or "run via npx" prompt shows at the same time as the "generating new sql project" notification. The "generating" progress popup should only show after the user chooses to install autorest or run via npx, since that's when the project will actually get generated

![Screen Shot 2021-12-07 at 1 47 59 PM](https://user-images.githubusercontent.com/31

[2021-12-07 21:55] kisantia opened #17843 "AutoRest.Sql issue link needs to be updated"
When there's an error generating a project using autorest, the issue link is to the csharp repo, not the sql one.

![image](https://user-images.githubusercontent.com/31145923/145112150-63c6e036-98bd-4ea7-9a11-6675f542a386.png)

[2021-12-07 22:04] llali opened #17844 "Clicking on "Manage" button when db is selected from OE opens Server dashboard"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Connect to a server
2. Select a db
3. right click and select Manage

Expected: db dashboard
Actual: it opens server dashboard

Does this issue occur when all extensions are disabled?: Yes/No

[2021-12-07 23:22] llali opened #17846 "sqlproj deploy to docker container doesn't save the connection profile"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. open a sql proj
2. right click on project and click publish
3. select publish to new server( container) and click on publish button

Expected:  connection is added to profiles after deploy is finished (show in viewlet)
Actual: connection is available in recent connection but is not added to profiles

Does this issue occur when all

[2021-12-07 23:41] zijchen opened #17847 "Do not make ProjectGuid a required field in SDK-style sqlproj"
- Azure Data Studio Version: 1.34
- OS Version: Win 11
- SQL Database Projects extension: 0.14

Steps to Reproduce:

1. Use SDK style sqlproj by editing project file to include `<Sdk Name="Microsoft.Build.Sql" Version="0.1.1-alpha" />`
2. Remove the `<ProjectGuid>` field as it is unnecessary (even for non-SDK style projects)
3. Database projects extensions throws error when trying to load:
<img wi

[2021-12-07 23:52] hbycr1 opened #17848 "Right Click on Table > Edit Data (DOES NOT WORK)"
Issue Type: <b>Bug</b>

Right Click on Table > Edit Data (DOES NOT WORK)

This has been intermittent for a while now and is a huge pain when trying to quickly add/edit a row

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item

[2021-12-08 00:01] alanrenmsft commented on #17825
this is recently introduced by https://github.com/microsoft/sqltoolsservice/pull/1326

[2021-12-08 01:54] kisantia opened #17850 "Error when loading publish profile for sql project"
- Azure Data Studio Version: RC build

Steps to Reproduce:

1. Create a publish profile with database name
2. Open publish dialog for a project
3. try to load publish profile

expected:
database name should change to the one in the publish profile

actual:
nothing from the publish profile is loaded

![image](https://user-images.githubusercontent.com/31145923/145134286-c027e04c-c8ad-4227-be1e-2e544

[2021-12-08 04:50] Zerglrisk opened #17853 "Korean Language Broken"
- Azure Data Studio Version:
Version: 1.33.1 (system setup)
Commit: 0b9ef714c823d662815f441aec4a94eaa21940f8
Date: 2021-11-04T17:45:15.872Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19044

- OS Version:
Microsoft Windows 10
Version 21H2 (OS Build 19044.1387)

Steps to Reproduce:

1. Launch ADS.
2. Click Account in Side

[2021-12-08 04:52] Zerglrisk commented on #17853
is this problem relate with azrue data studio ?

after install 'Korean Language Pack for Azure Data Studio' Extension
![image](https://user-images.githubusercontent.com/8271831/145150229-94879149-2017-4acf-8f32-a6fb50467925.png)

cannot find link account right side, but left below azure tab exist accounts.
![image](https://user-images.githubusercontent.com/8271831/145150197-63066d44-fc12-4c56-92d1

[2021-12-08 11:10] timprogrammer opened #17855 "Mac OSX Add support for 'Services' right-click menu (in general but specifically for text in results tables)"
I use 'services' to help manipulate data, for example in database we have a field containing unixtime that I often need to convert to human-readable format to diagnose issues. I have a services script to do this but have to copy text elsewhere to access service menu.

If you could make the 'Service' menu be available on right-click allowing us to use scripts/automator on our data that'd be super u

[2021-12-08 13:56] NavDeb opened #17856 "Using KQL / Pip to ghet Insights"
Issue Type: <b>Bug</b>

Since updating to latest Azure Data Studio

when trying to set kql appinsights receieve an error saying "The Provided credentials have insufficient access".  I can access ok directly via Azue web site logs.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19044
Restricted

[2021-12-08 14:23] areed1192 opened #17857 "Issue Reporter Doesn't Create Issue on GitHub After Clicking "Preview on GitHub""
- **Azure Data Studio Version:** 1.33.1
- **OS Version:** Darwin x64 21.1.0

**Steps to Reproduce:**

1. Navigate to the "Report Issue" under the "Help" tab.
2. Select "This is a Bug Report"
3. Select "Azure Data Studio" option for the "File On" field.
4. Fill out the "Title" Field.
5. Fill out the "Steps to Reproduce" text box.
6. Check the "Include my System Information" option.
7. Check the "In

[2021-12-08 15:25] lucyzhang929 opened #17858 "Manage Packages wizard: table scrolls to top after selecting an installed package the first time"
Steps to Reproduce:

1. Open a Python notebook
2. Open the Manage Packages wizard
3. Scroll down on list of installed packages
4. Click on a package

Expected: The clicked package is highlighted
Actual: The table scrolls to the top and the first package is highlighted

This only happens for the first click. Scrolling and clicking on packages after the first time works fine.

https://user-images.gi

[2021-12-08 17:20] Charles-Gagnon commented on #17853
@smartguest

[2021-12-08 17:24] Charles-Gagnon commented on #17857
@chlafreniere @lucyzhang929 Could one of you try this out on your mac? It seems to work fine for me on my Windows machine.

@areed1192 Could you check your console logs (Help -> Toggle Developer tools -> Console tab) and see if there's any error showing up when you click the button?

[2021-12-08 17:40] smartguest commented on #17853
This is not an issue with the Language Pack as those use pre generated text @Zerglrisk @Charles-Gagnon . This has something to do with Azure Data Studio retrieving the name from Azure services and not rendering it correctly, a lot of languages have this issue not just Korean, I am still investigating how to solve this issue as it appears that copying the name directly into Azure Data Studio works

[2021-12-08 17:42] smartguest commented on #17853
This is a duplicate of https://github.com/microsoft/azuredatastudio/issues/15598
and https://github.com/microsoft/azuredatastudio/issues/17754

[2021-12-08 17:43] NavDeb opened #17860 "Using KQL / Pip to get Insights"
Issue Type: <b>Bug</b>

Since updating to latest Azure Data Studio

Results are no longer shown in a grid with the option to export to CSV.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2021-12-08 17:47] #17856 closed

[2021-12-08 17:47] NavDeb commented on #17856
Resolved by itself

[2021-12-08 17:47] Charles-Gagnon commented on #17853
@cssuh What about the second issue that @Zerglrisk mentioned - it appears that their accounts aren't showing up correctly in the Add Account dialog (even though you can see them listed in the Azure pane in the bottom left). (@Zerglrisk let me know if I got that correct...)

[2021-12-08 17:48] Charles-Gagnon commented on #17754
@smartguest Can we close this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/15598 to consolidate issues?

[2021-12-08 18:10] lucyzhang929 commented on #17857
I was not able to repro the issue on my mac (default browser is Edge). I had this issue page open on my browser and when I clicked "Preview on GitHub" a new tab was opened successfully with the preview.

[2021-12-08 18:16] #17833 closed

[2021-12-08 18:56] areed1192 commented on #17857
@Charles-Gagnon I was unable to see anything when I opened Developer Tools. When I click the "Preview on GitHub" button the console tab remains the same. When I do click the button, it will only go to the existing GitHub page I have open and will not create a new tab like @lucyzhang929 is experiencing.

[2021-12-08 19:08] chlafreniere commented on #17844
@alanrenmsft would this be in your area?

[2021-12-08 19:23] #17850 closed

[2021-12-08 19:39] cssuh commented on #17853
@Charles-Gagnon yes that seems odd, let me take a look and see if I can repro anything like that

[2021-12-08 19:57] kisantia opened #17864 "vscode publish project quickpick only loads sqlcmd variables from profile"
Several things can be saved in the publish profile, such as default database name, default connection, deployment options, and sqlcmd variables. Right now, only the sqlcmd variables read from the profile are used in the quickpick flow. but the other things, especially the deployment options, should also be used.

[2021-12-08 21:33] kisantia opened #17869 "Focus isn't on the correct element when publish dialog is opened"
There was some rearranging and new elements added to the publish project dialog in https://github.com/microsoft/azuredatastudio/pull/17495. When the dialog is opened, the focus should be on the first focusable element at the top of the dialog, which is the radio buttons, not the profile text box.
![image](https://user-images.githubusercontent.com/31145923/145287334-19a54079-f565-4929-b96b-e2683b3a

[2021-12-08 22:52] #17825 closed

[2021-12-08 22:53] #17822 closed

[2021-12-08 23:35] #17844 closed

[2021-12-08 23:42] rkammer commented on #17166
I'm using version 1.33.1 of Data Studio. SQL Server version Microsoft SQL Server 2017 (RTM-CU25) (KB5003830) - 14.0.3401.7 (X64)

[2021-12-09 00:31] #17820 closed

[2021-12-09 01:18] barbaravaldez opened #17875 "Book tree view scroll not working after opening notebook"
- Azure Data Studio Version:
Version: 1.34.0-rc1
Commit: d5a3370b655a53b3f431ac7008ab84ba311d991b
Date: 2021-12-08T20:14:15.444Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 21.1.0

Steps to Reproduce:
1. Open ADS Livesite repo in the Explorer Viewlet
2. `Cmd + p` to open file picker and open the **ASCDiagnostics_SQL** notebook
3.

[2021-12-09 06:46] Zerglrisk commented on #17853
I Testeid why it happend that right after launch ads, click the account button in side menu while load Azure pane in bottom left tab. than can't see the accounts

![image](https://user-images.githubusercontent.com/8271831/145346969-0f4ffee1-3a40-4e95-8aa3-6ac2f1802fb5.png)

![image](https://user-images.githubusercontent.com/8271831/145347302-cb095fe4-b0fb-40ea-a0c4-062d7264b7c6.png)

keep can't ge

[2021-12-09 15:10] lucyzhang929 opened #17878 "Notebooks: Highlight and Insert Code keyboard shortcut error in Markdown mode"
Version: 1.34.0-rc1 (user setup)
Commit: 651f6fdcfc28e07f2ff25b76900fc5b52559a8b8
Date: 2021-12-09T02:01:49.852Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.22000

Steps:
1. Create new notebook and add text cell
2. Type some text in cell
3. Try to highlight text using keyboard shortcut Ctrl + Shift + h
4. Try to insert c

[2021-12-09 18:08] Charles-Gagnon commented on #17878
NOT a regression but this is pretty bad functionality wise and is a simple fix so feel we should take this for ask mode.

[2021-12-09 18:09] stephajn opened #17881 "Provide a way to view tables by schema and/or to search for a table"
**Is your feature request related to a problem? Please describe.**
For larger databases, the list of tables gets incredibly long and it can be incredibly onerous to scroll through such a long list to find the one I'm interested in.

**Describe the solution or feature you'd like**
It would be great if the Tables node could group tables by the Schema they belong to rather than just being an entirely

[2021-12-09 18:12] stephajn commented on #7
Heh!  I just added a feature request and THEN thought to look to see who else would have asked for this.  So, here's another +1 for this feature. I mean really, every node should be grouped by schema.  Views, Stored Procedures, functions, etc.

[2021-12-09 18:17] Charles-Gagnon commented on #17881
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/7 - thanks for the feedback!

[2021-12-09 18:17] #17881 closed

[2021-12-09 20:10] kisantia commented on #17828
duplicate of #13308. Work on adding this is in progress https://github.com/microsoft/azuredatastudio/pull/17738.

[2021-12-09 20:10] #17828 closed

[2021-12-09 20:19] alanrenmsft commented on #17750
@ob1jedi could you please provide a screenshot or gif for us to better understand the problem?

[2021-12-09 21:14] #17878 closed

[2021-12-09 22:34] camckay opened #17887 "1.33.1immediately exits on Fedora 35"
No error message or terminal output. Application starts, and then immediately exits. Version 1.32 runs without issue.

[2021-12-09 22:49] camckay commented on #17887
The RPM gives no errors on the command line, but running from the tar.gz does.

`$ azuredatastudio
[main 2021-12-09T22:46:51.100Z] window: vscode-file:// protocol is explicitly disabled
[main 2021-12-09T22:46:51.130Z] update#setState idle
libva error: vaGetDriverNameByIndex() failed with unknown libva error, driver_name = (null)
libva error: vaGetDriverNameByIndex() failed with unknown libva error

[2021-12-09 22:52] camckay commented on #17887
So it appears that the application will run when using --no-sandbox.

[2021-12-09 22:54] dzsquared commented on #17828
@m4ttheweric - I don't have a good eta quite yet, but we're eager to get it to insiders so you can use it!
The linked PR, #17738, isn't merged in yet as we're still doing some housekeeping on the changes. With folks intermittently out of the office this month it's hard to make an estimate on when it'll merge and land in insiders.  If you'd like to follow along with the team on that PR you're absol

[2021-12-09 23:10] #17869 closed

[2021-12-10 12:34] albegouws commented on #14128
Knowing there is a huge backlog, this would be a nice quality of life bugfix...

[2021-12-10 16:34] cwade12c opened #17891 "Name Column in the Search Pane is not resizable"
### Azure Data Studio Version Information
[code]
---
### Host Operating System Information
[code]
---
### Description
After selecting a server and a database, I am unable to resize the "Name" column in the "Search" pane on the home page. The column is restricted to a maximum size of approximately 135 pixels and cannot be resized beyond the maximum, which makes viewing the names of database objects

[2021-12-10 16:57] TroyWitthoeft commented on #13851
Just making a note.  Looks like - as of v1.330 - this feature seems to behaves as expected in the SQL database tree, but not the SQL Server tree.

![image](https://user-images.githubusercontent.com/1102958/145611956-80748431-d139-4167-ad9f-035b3d37c400.png)

[2021-12-10 22:32] joberume opened #17894 "Adding connection results in unknown Tenant"
Please help with triaging:

- Azure Data Studio Version: December RC1
- OS Version: Windows 10

Form seems to be completed with incomplete/null values -- when user tries to add a connection, Tenant is not recognized. When exercising the tenant dropdown to switch values, it seems to populate the value back in properly. I presume this has something todo with the way values are being populated in the

[2021-12-11 00:48] alanrenmsft commented on #17751
I believe this is a dupe of #17808

[2021-12-11 00:48] #17751 closed

[2021-12-11 02:41] tonyqus commented on #4904
This ticket has been open since Apr, 2019. Shall we reply on the community instead of Microsoft to support MySQL? I don't think the product owner of Azure data studio has any intention on this. At least, this is totally not in high priority task list of azure data studio.

[2021-12-11 03:08] #17808 closed

[2021-12-11 17:50] alanrenmsft opened #17898 "query result grid becomes unreachable using keyboard after switching views"
1. run a query that returns results
2. now user can use keyboard navigation to reach the grid
2. switch to messages tab
3. switch back to results tab
4. now user cannot reach the grid using keyboard navigation

![before-table-keyboard](https://user-images.githubusercontent.com/13777222/145686548-eec1d0be-954d-4d09-b9ea-028f2bed2743.gif)

[2021-12-12 02:15] kburtram commented on #4904
@Leonardo-Ferreira Azure Data Studio uses an extensibility model to support different data platforms.  It should be possible to build MySQL support with little or no updates to the Azure Data Studio core functionality.  We'd be happy to publish a community contributed extension that provides this support (and accept related updates needed to the core product, if applicable).

[2021-12-13 13:10] cubriq opened #17900 "Suppress Build Warnings"
Not working:

`  <PropertyGroup>`
`    <NoWarn>$(NoWarn);SQL71558</NoWarn>`
`  </PropertyGroup>`

### Discussed in https://github.com/microsoft/azuredatastudio/discussions/15148

<div type='discussions-op-text'>

<sup>Originally posted by **memjr** April 15, 2021</sup>
Hello, quick question.  We started using Azure Data Studio to work with database projects and when building we get build warnings,

[2021-12-13 17:39] pcartwright81 opened #17901 "Failover cluster connection selecting wrong ip address"
Issue Type: <b>Bug</b>

If a DNS name like my_onsite_sql has two ip addresses the connection fails if the inactive ip address is returned via DNS.  Can be fixed by flushing DNS a minimum of two times.  When connecting to my_onsite_sql through SSMS the connection works.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version

[2021-12-13 21:18] philipnye opened #17907 "Temp tables only persist for a very short period"
Issue Type: <b>Bug</b>

1. Create a temporary table
2. Attempt to execute a `select` against the temporary table around 10 minutes later. (For the avoidance of doubt: in the same window.)

Result: `Invalid object name '#awarded_contracts' (for example)`.

I'm finding that my temporary tables don't persist very long at all - in some cases, as little as 10/15 minutes.

I wonder if this is related to

[2021-12-14 12:53] kepeter opened #17908 "Intellisense result is just wrong!!!"
Issue Type: <b>Bug</b>

When entering a query the intelisense brings up list of options of which 90% not only irrelevant but totally wrong...
For instance the word 'Sign' in a select statement (`select * from Sign`) brings up a list than contains entries like these:
* V_Tb_Hit_Sug_Ind
* SelParamsGilNoc

Taking the individual letters of the word as the search phrase is just wrong...

Azure Data Stu

[2021-12-14 15:50] Shaul-Z commented on #12637
Same issue.
I tried all the above suggestions nothing helped...
I'm using MSSQL extension in VSCODE. Please Help! problem started 12-12-2021, until then everthing worked just fine.

[2021-12-14 17:01] Charles-Gagnon commented on #12637
@Shaul-Z This issue (and repo) is for Azure Data Studio, not the VS Code extension. Any issues for that should be reported here : https://github.com/Microsoft/vscode-mssql

[2021-12-14 17:08] Charles-Gagnon commented on #17908
This is a feature we inherit from VS Code - suggestions are filtered using fuzzy matching which will match words that contain the letters you type at all. See https://github.com/microsoft/vscode/issues/64367 for more details. There's currently no way to disable this functionality.

But any items that strictly match should show up top (e.g. if you had an object named sign and typed `sig` then it sh

[2021-12-14 17:28] smartguest opened #17909 "Version of langpack in release candidate branch has not been updated"
The version for the langpack has not been bumped since the last release, meaning this won't produce any new usable langpacks, this will be fixed shortly.

[2021-12-14 19:19] kisantia commented on #17900
@cubriq where in the sqlproj are you adding this property group? I was able to repro this not working when I added the NoWarn property group below the ItemGroups with the table and view of my project. When I moved the NoWarn up to below the other PropertyGroup with the collation etc, then build succeeded without any warnings, so looks like the location that it gets added in the sqlproj matters.

[2021-12-14 19:49] JustinMDotNet commented on #17894
Confirmed in Insiders that this is happening for Sql Connection
![MicrosoftTeams-image](https://user-images.githubusercontent.com/63619224/146069148-c07950a2-804b-4c61-8564-c97bdc3545df.png)
s

[2021-12-14 19:51] Charles-Gagnon commented on #17894
Is this a regression from the last stable release (1.33)?

[2021-12-14 20:32] joberume commented on #17894
Just confirmed that not, I am able to repro on v1.33. Will remove the December release tag.

[2021-12-15 06:36] kepeter commented on #17908
![intellisense](https://user-images.githubusercontent.com/695660/146135749-7eb662a7-6292-40b8-bc00-1d4537ad8da0.png)

Thank you for the information...
If I understand you correctly, than the answer is no - even the order is wrong...
Look at the red signs on the attachment to see what I mean...

[2021-12-15 09:39] chrisbennell opened #17923 "Schema Intellisense does not appear"
Issue Type: <b>Bug</b>

Probably 80% of the time, intellisense does not appear for tables and column names when writing SQL queries. When it does appear it can easily suddenly not show again

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Windows_NT x64 10.0.19041
Restricted Mode: No

<details>
<summary>System Info

[2021-12-15 13:26] josefranciscorm commented on #17546
I noticed the same behavior with window functions when I try to pass a partition list or order by list.

[2021-12-15 14:40] unlock21 opened #17926 "Query failed on basic select query"
Issue Type: <b>Bug</b>

----
[code]
[code]

----

Azure Data Studio version: azuredatastudio-insiders 1.34.0-insider (568b62b903546dfe7f01b17c66001896c9aa725c, 2021-12-15T06:31:53.132Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2630 v4 @ 2.20GHz (40 x 2195)|
|GPU Status|2d_canvas: enable

[2021-12-15 17:38] Charles-Gagnon commented on #17926
I'm not able to repro this with a basic query myself, how many rows does the table have?

[2021-12-15 17:44] kburtram commented on #17926
@unlock21 is this happening for all queries?  or just with particular tables/views?  If it's only particular views/tables is there anything noteworthy that would help us determine what's happening?  Thanks for reporting this!

[2021-12-15 18:31] Charles-Gagnon commented on #17908
Thanks! I am seeing the similar behavior with the ordering being odd. Will need further investigation to determine how exactly the matching is being done - perhaps the filter text for the completion items is being set differently.

As for the other matches (that only match some of the letters) showing up, that's something that currently is intended behavior as many people don't want to have to typ

[2021-12-15 19:04] Nefcanto opened #17930 "SQL Server Analyzer"
**Is your feature request related to a problem? Please describe.**
SQL Server analyzer is a fabulous tool to analyze queries and suggest improvements.
In SQL Server docker for Linux, we lose this utility. And since SQL Server docker is very poor in performance, we do need a utility to at least help us.

**Describe the solution or feature you'd like**
An extension that can be installed, possibly na

[2021-12-15 19:15] unlock21 commented on #17926
CREATE TABLE [dbo].[TEST](
	[Subtotal] [money] NULL
)
SELECT Subtotal FROM TEST
INSERT INTO TEST (Subtotal) VALUES (1)
SELECT Subtotal FROM TEST -- ERROR
UPDATE TEST SET Subtotal = NULL
SELECT Subtotal FROM TEST
UPDATE TEST SET Subtotal = 1
SELECT Subtotal FROM TEST -- ERROR

CREATE TABLE [dbo].[TEST2](
	[Subtotal] [money] NOT NULL
)
SELECT Subtotal FROM TEST2
INSERT INTO TEST2 (Subtotal) VALUES (

[2021-12-15 19:16] alanrenmsft commented on #17926
@unlock21 thanks! looks like the money type is causing problem, I'll look into that

[2021-12-15 20:12] kburtram commented on #17926
Approving for Dec release due to impact to critical use case.

[2021-12-15 20:53] MiRacLe-RPZ opened #17939 "Outdated link to release archive"
- Azure Data Studio Version: 1.34.0

Steps to Reproduce:

1. https://github.com/microsoft/azuredatastudio/releases/tag/1.34.0

2. Linux TAR.GZ (https://go.microsoft.com/fwlink/?linkid=2183277)

3. curl -I "https://go.microsoft.com/fwlink/?linkid=2183277"
HTTP/1.1 302 Moved Temporarily
Location: https://azuredatastudio-update.azurewebsites.net/1.33.1/linux-x64/stable

1.33.1 <> 1.34.0

[2021-12-15 21:04] Charles-Gagnon commented on #17939
Thanks for the report @MiRacLe-RPZ - we had to rollback the release temporarily while we resolve an issue. The links should be corrected once we've verified things are good. For the time being those links pointing to 1.33.1 is correct.

Let us know if this is a blocking issue for you.

[2021-12-15 21:04] #17939 closed

[2021-12-15 21:27] tcc-sejohnson commented on #13936
Just wanted to chime in -- this is still occurring. Only way to fix it for me was to remove the account completely, clear the Azure token cache, and re-sign in. This was after a system restart and about a week of not using ADS. I'm on Ubuntu.

[2021-12-15 22:46] amigosnw opened #17941 "Right Click for Top 1000 not working"
Issue Type: <b>Bug</b>

After making a valid connection to a database instance, our Developer attempts to do a 'Select top 1000' from the right click context menu and there is no response or query window opening up. We ARE able to open a separate query window and type the statement and it renders results.... This clearly appears to be a bug.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9e

[2021-12-15 23:25] kburtram commented on #17926
@unlock21 thanks for reporting this issue on the insiders build!  This would have certainly resulted in a hotfix to the Dec release.  We'll be looking at our related test cases to understand why this wasn't caught earlier.  Tomorrow's insider and Dec release shouldn't be impacted by this issue.

[2021-12-15 23:58] #17578 closed

[2021-12-16 00:00] alanrenmsft commented on #275
the fix for the issue introduced an issue with money column type and needs to be reverted to unblock the Dec release. reopen the issue and will try to fix it in the next release.

[2021-12-16 00:27] rsilvabcib opened #17945 "Can't connect to an encrypted database"
Issue Type: <b>Bug</b>

Instance is AlwaysEncrypted
Database has encrypted columns in some tables.

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5300U CPU @ 2.30GHz (4 x 2295)

[2021-12-16 06:36] kepeter commented on #17908
Hi @Charles-Gagnon
Thank you for looking into it... Let me throw into it a bit more...
Case sensitivity... In case the DB defined case-insensitive the identifier names (tables, columns and such) are case-insensitive too. However the search logic is always case-sensitive, so the order once more confusing...
![case1](https://user-images.githubusercontent.com/695660/146320379-dd2bc2b5-2174-4d56-937c-

[2021-12-16 08:02] SinavAhmet commented on #13645
is there any news thanks.

[2021-12-16 11:03] itsmaryann commented on #12165
Still an issue with 1.33.1. The workaround works for me. Thanks to all who posted the workaround.

Version: 1.33.1 (user setup)
Commit: 0b9ef714c823d662815f441aec4a94eaa21940f8
Date: 2021-11-04T17:45:15.872Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.18363

[2021-12-16 13:39] unlock21 commented on #17926
Everything looks good! Thank you for getting that fixed so quick. You all are the best!

[2021-12-16 13:39] #17926 closed

[2021-12-16 15:35] #17824 closed

[2021-12-16 18:43] barryseymour opened #17952 "Feature Request: Multi-database Intellisense"
I work frequently with multiple databases on the same server. I switch back and forth between then with the USING statement. Sometimes I create queries that reference tables in more than one database. But it appears that ADS only provides IntelliSense for the current database. Very frustrating!

I would like to be able to say SELECT * FROM [databasename].[schemaname]. ... and have a list of object

[2021-12-16 18:52] barryseymour commented on #17952
I guess I should cancel this request. Thanks to Murphy's Law, this _never_ worked for me until _after_ I submitted a feature request.

It's still spotty; sometimes it works, most of the time it doesn't. I suspect latency issues on my LAN.

[2021-12-16 19:29] #2954 closed

[2021-12-16 19:30] dazfuller commented on #2954
3 years old now and pretty sure it's resolved, so closing

[2021-12-16 19:35] #17821 closed

[2021-12-17 05:43] alanrenmsft commented on #17941
@amigosnw what type of server were you connected to? and also how long did you wait?

[2021-12-17 07:41] markashleybell opened #17960 "STRING_SPLIT function call is incorrectly reported as a syntax error"
- Azure Data Studio Version: `1.34.0`
- OS Version: Windows 10 Pro `21H1`  build `19043.1348`  with Windows Feature Experience Pack `120.2212.3920.0`
- Database: Microsoft SQL Server 2019 (RTM-GDR) (`KB4583458`) - `15.0.2080.9` (X64) Developer Edition (64-bit)
- Database Compatibility Level: `130`

Steps to Reproduce:

Write a T-SQL query which uses the `STRING_SPLIT` function ([reference](https:/

[2021-12-17 20:53] chlafreniere commented on #17960
This issue is known and fixed in the latest version of SqlParser. @Charles-Gagnon and @alanrenmsft FYI. Doesn't look like a new version of the SqlParser nuget package has been created yet that STS can consume.

[2021-12-18 02:21] algarni1997 opened #17962 "pyodbc"
Issue Type: <b>Bug</b>

Connect to a Database  to install pyodbc

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6700K CPU @ 4.00GHz (8 x 4008)|
|GPU Status|2d_canvas: enabled<b

[2021-12-18 09:42] therealdandecker commented on #1774
Curious if this is in the pipeline.

[2021-12-18 12:47] mverbaas opened #17963 "Creating items follow there own placement, instead of SSDT"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create a project in SSDT
2. Import database in project
3. This (by default) creates a schema/object folder structure (dbo/tables/tablename.sql)
4. Opening the project with VSCode/Azure Data Studio and right click tables folder (node) new item -> table

This creates a tables folder in the root of the project, instead in the tables

[2021-12-18 20:00] muthugit opened #17964 "Can't change python kernel"
Issue Type: <b>Bug</b>

I've created notebook with default python environment. But after that, I can't change the environment to another python.

Note: I am using Mac

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:50:08.229Z)
OS version: Darwin x64 18.7.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|--

[2021-12-20 12:00] sudhirhota1993 commented on #13393
Sometimes it is not a good option to import the whole Database. When you have already imported the full database and it is just a requirement to import couple of scripts/objects. Then this feature should be there so that you can import the required scripts.

[2021-12-20 12:08] sudhirhota1993 commented on #13393
We also observed when it is very large database with more than 10k components, when you import the database, it is working fine till the import completed. But the project files takes lot of time to configure at the back-end and it got corrupted. As the scripts are already there it will be really helpful to import those scripts to a new database.

Case 2:
If more no of teams working under same data

[2021-12-20 16:17] watfordsuzy commented on #4536
Definitely have a need for HTML or PDF export. Very few, if any, of the folks I would share a notebook with will have (a) ADS, or (b) any clue what a notebook is.

[2021-12-20 17:49] Benjin opened #17965 "Deleting a folder that contains a file fails"
Platform: macOS

Repro:
1. Create a new project
2. Create a folder in the project
3. Create a script in the folder
4. Delete the folder containing the script
5. When you see the prompt "would you like to delete <folder> and all of its contents?", confirm yes.

Expected:
    Folder deletes

Reality:
    Error: "Unable to locate 'Delete' target: '/DeleteTest/MyFolder'"

Notes:
* If the folder you're

[2021-12-20 19:41] cczen opened #17967 "Unterminated comment causes query not to be sent to server."
Issue Type: <b>Bug</b>

1. new query
2. enter an unterminated comment anywhere in the editor:  select 'test' /* test
3. execute query

Expected Results:
Server returns: Missing end comment mark '*/'.

Actual Results:
Azure Data Studio shows in Messages:

Execution failed due to an unexpected error:
	Could not find the resource "Microsoft.SqlTools.ManagedBatchParser.Localization.SR.resources" among

[2021-12-20 20:51] nasc17 opened #17968 "Manage_Settings_DeveloperTool: The Clear search input button is wrapped in a <ul> which is given a role toolbar."
"Check out Accessibility Insights! - Identify accessibility bugs before check-in and make bug fixing faster and easier."
Environment Details:
Version: 1.35.0-insider (user setup)
Commit: 2bf3c28370dd6dd706771c83d7820da6db87eb1d
Date: 2021-12-20T06:30:03.618Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.22000

**Repro Step

[2021-12-20 21:11] kbocock-krg commented on #15560
When will this be fixed? Seems it keeps jumping releases.

[2021-12-20 23:53] nahk-ivanov commented on #17965
Might be a duplicate of #14440

[2021-12-21 00:39] slaymaker1907 commented on #17777
I was also experiencing this issue. However, I was able to resolve it by explicitly removing my account then adding it again. In order to remove the account @SashaRisner, you need to click on the person icon above the settings wheel which will bring up your linked accounts. Then just click on the X next to the account. I hope this helps!

![image](https://user-images.githubusercontent.com/12125553

[2021-12-21 01:25] MaddyDev commented on #17875
@qifahs I looked into the issue and the notebook in question is not in the toc, hence missing from the book tree view and highlight will not work. (But found a bug which lands us in an endless loop trying to find the notebook. I'll address that)

[2021-12-21 18:09] alanrenmsft commented on #17968
@nasc17 could you please check the latest VSCode and see whether it is behaving the same? if so, please open an issue in VSCode.

[2021-12-21 18:13] alanrenmsft commented on #17962
@algarni1997 could you please add more description to the issue? including the repro steps and expected results.

[2021-12-21 18:14] alanrenmsft commented on #17960
put this in Feb milestone to follow up on getting the latest parser for STS.

[2021-12-21 18:15] #17952 closed

[2021-12-21 18:21] alanrenmsft commented on #17923
@aasimkhan30 I believe you've added logging to troubleshoot this kind of issues, right? what do we need from the user?

[2021-12-21 18:24] #17793 closed

[2021-12-21 18:25] alanrenmsft commented on #17701
@mmiryala2 please reopen with answers to Alan's question.

[2021-12-21 18:25] #17701 closed

[2021-12-21 18:30] nasc17 commented on #17968
@alanrenmsft  I will close this issue and move to VSCode
<img width="904" alt="image" src="https://user-images.githubusercontent.com/69922333/146980501-27a42321-99da-4b39-b1a6-f6dc17ffdc93.png">

[2021-12-21 18:30] #17968 closed

[2021-12-21 18:30] aasimkhan30 commented on #17923
Unfortunately, I have not added logging yet.

[2021-12-21 20:47] chlafreniere commented on #17964
@lucyzhang929 can you help here?

[2021-12-21 21:14] lucyzhang929 commented on #17964
Hi @muthugit,

Are you trying to change the Python installation through the Configure Python for Notebooks wizard?

Could you provide more specific steps and any error messages you see?

[2021-12-21 22:42] Benjin commented on #17786
Unable to repro currently.  Need to save more details about the specific project/setup that caused this issue.

[2021-12-21 23:25] Benjin commented on #17965
Yup, looks like it.

[2021-12-21 23:25] #17965 closed

[2021-12-22 22:05] andschwa opened #17973 "PowerShell extension updated, gallery needs update!"
Hey @Charles-Gagnon,

I just pushed an update to the stable PowerShell extension: [v2021.12.0](https://github.com/PowerShell/vscode-powershell/releases/tag/v2021.12.0) that includes the fix for the ADS-related issue we found here: https://github.com/PowerShell/vscode-powershell/issues/3709

This also comes with updated signatures on the included files, as the build infrastructure's signing certifi

[2021-12-23 01:04] cssuh commented on #17727
fixed in https://github.com/microsoft/azuredatastudio/pull/17718

[2021-12-23 01:04] #17727 closed

[2021-12-23 01:10] cssuh commented on #17438
Thank you for your detailed issue submission, this is definitely interesting and something we will take a look at for the next release. Does this happen for connections made with SQL Login as well (not just AAD connections)?

[2021-12-23 01:14] cssuh commented on #17703
Closing as no further information was shared

[2021-12-23 01:14] #17703 closed

[2021-12-23 01:15] cssuh commented on #17729
No further info provided

[2021-12-23 01:15] #17729 closed

[2021-12-23 01:15] cssuh commented on #17752
No further info provided

[2021-12-23 01:15] #17752 closed

[2021-12-23 01:17] cssuh commented on #17777
@SashaRisner please try the suggestion that @slaymaker1907 has provided, and if it still doesn't work, please let us know.

[2021-12-23 01:19] #17834 closed

[2021-12-23 01:21] cssuh commented on #17776
This was fixed in https://github.com/microsoft/azuredatastudio/pull/17718

[2021-12-23 01:21] #17777 closed

[2021-12-23 01:23] #17776 closed

[2021-12-23 09:20] Geims83 opened #17974 "Unable to write to Folder Settings because no resource is provided while configuring build tasks"
Issue Type: <b>Bug</b>

If you try to run a build task after creating a tasks.json, the message "Unable to write to Folder Settings because no resource is provided." is thrown.

Hit ctrl+shift+b
Create a tasks.json with a dotnet task
Hit ctrl+shift+b again

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT

[2021-12-25 23:31] jagdishrajan commented on #13746
When are keyboard shortcuts and Command Palette items for all this functionality going to be added to Azure Data Studio?  I thought the promise of VS Code and Azure Data Studio was to be a lightweight editor with all functions available through the Command Palette, so we only have to shortcut, Ctrl+Shift+P, to rule them all.  Even for the request above when connecting through the Command Palette t

[2021-12-27 00:00] williammsft opened #17975 "SQL Server Profiler Fails to create new session."
Issue Type: <b>Bug</b>

The SQL Server Profiler Extension fails to create a new session. This just appears to be a limit of how the sessions are being created due to a specified buffer size that ends up being smaller than the minimum then what Azure SQL DB or even an On Prem server needs based on the installed RAM. A high amount of RAM installed will cause the problem.

Steps to Reproduce.

1. 	Op

[2021-12-27 14:01] SashaRisner commented on #17777
Appreciate the suggestion but it did not work. I tried everything in the UI to delete my account but it kept 'remembering' the configuration. I ended up physically deleting the folder azuredatastudio under %userprofile%\AppData\Roaming\ and that finally fixed it.

[2021-12-27 19:08] #17973 closed

[2021-12-28 06:48] adriennn commented on #17963
I'm seeing the same behaviour after opening a project that was created in Azure Data Studio with Visual studio. In VS, the functionality works as expected (items created where right-clicked) but in both ADS and VS Code, the items are created at the root of the project.

[2021-12-28 09:38] PiotrPerak commented on #12165
Will this ever be solved?

[2021-12-28 10:34] Janneman96 commented on #12165
This exception did not show when I tried to connect to a database throught the "Connections (ctrl + shift + d)" menu. It just kept loading without any error message.

Only when I tried to edit the connection and tried to connect through that window, is when I got the same error.

[2021-12-28 10:36] Janneman96 commented on #12165
This bug still occurred for me in version 1.34.

[2021-12-30 18:42] TrishaMoore commented on #7438
I would also like to have this feature.  I am new to ADS and recently installed the plug in.  I had no idea my history would be wiped out when I boot my laptop.  If this isn't going to be fixed, I'm with @Rich-Ott , I'll find a new tool.

[2022-01-03 10:57] rscottparker opened #17978 "can't open Extensions"
Issue Type: <b>Bug</b>

go to extensions and get error 'Extension: SQL Server Import': Unexpected token < in JSON at position 0.

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT x64 10.0.14393
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) Gold

[2022-01-03 22:32] kburtram commented on #7438
@TrishaMoore I think the concern with this suggestion was that we don't scrub passwords and other sensitive data out of users' queries when saving into their history.  Given this there was security/privacy concerns with persisting this data to disk.  Perhaps we can add a setting that would allow users to opt-in to this behavior if this isn't a concern in their scenario.  I'll review with the PM ar

[2022-01-04 01:19] kisantia commented on #17963
looks related to #11026

[2022-01-04 16:16] matt-nordberg commented on #12165
I was unable to follow the workaround above (couldn't find the specified path on mac) but found a different workaround within Azure Data Studio (v 1.34.0):
1. Click the "Accounts" (user icon) button on the bottom left
2. Remove the faulty account
3. Re-add the account, either with the "add user" icon in that pane, or by editing the connection and selecting "Add an account..." in the Account drop-d

[2022-01-04 16:25] Vaelek opened #17981 "Script as SELECT"
Every other db tool I use, has a "Script as select" option. This however has only create, drop, and alter, alongside Select top 1000. There are MANY times, where it is useful to generate a complete select statement WITHOUT immediately executing anything. Please add this. Thank you.

[2022-01-04 16:28] Vaelek commented on #12932
This is an invaluable and seemingly simple feature to implement. A free text field above everything that we can type into and just filters the resulting tree accordingly would be amazing. Please do not relegate it to a context menu like SSMS.

[2022-01-04 18:23] corivera commented on #17829
Additional tasks for the next set of APIs, once cell execution is checked in.

Additional APIs needed by latest stable version of Dotnet Interactive:

- [ ] vscode.workspace.onDidOpenNotebookDocument
- [ ] vscode.workspace.onDidCloseNotebookDocument
- [ ] vscode.window.activeNotebookEditor
- [ ] vscode.workspace.notebookDocuments
- [ ] vscode.workspace.openNotebookDocument
- [ ] vscode.window.show

[2022-01-04 18:25] corivera commented on #17829
And here's some leftover tasks from the previous set of APIs that we might want to look into if we have time.

- [ ] Add more cell execution tests in vscodeNotebookApi.test.ts
- [ ] Check if we need activation events for "onNotebook:*"
- [ ] Fix aliased SQL kernels showing up for non-SQL notebooks
- [ ] Investigate runCell cancellation

[2022-01-04 19:26] gregiare commented on #12165
This worked for me in version 1.34.0 on Windows 10.

[2022-01-04 20:24] dzsquared opened #17984 "SQL proj exclude menu item on folders gives error message"
Version: 1.34.0
Commit: b44891657c116089e36cf26541fd7385ac65d4d0
Date: 2021-12-14T19:41:59.719Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 21.2.0

SQLproj 0.14.1

Steps to Reproduce:

1. Open a SQL project with items in a folder
2. Using the SQL project context menu, select "exclude" on a folder containing items
![image](https:/

[2022-01-04 20:29] Charles-Gagnon commented on #17978
Are you still seeing this issue? Typically when seeing something like this it's due to a network related issue (error downloading the gallery metadata).

If you still are then can you try browsing to https://sqlopsextensions.blob.core.windows.net/marketplace/v1/extensionsGallery.json to see if you're able to access it directly yourself?

[2022-01-04 20:30] rscottparker commented on #17978
It’s fine now. Thanks!!

Sent from my iPhone

On Jan 4, 2022, at 3:29 PM, Charles Gagnon ***@***.***> wrote:

﻿

Are you still seeing this issue? Typically when seeing something like this it's due to a network related issue (error downloading the gallery metadata).

If you still are then can you try browsing to https://sqlopsextensions.blob.core.windows.net/marketplace/v1/extensionsGallery.json<ht

[2022-01-04 20:31] #17978 closed

[2022-01-04 22:37] Charles-Gagnon opened #17985 "Can't debug extension source code when code coverage is enabled"
When code coverage is enabled for extension tests debugging extension source code doesn't work - the breakpoints bind but are never hit. This seems to be because the instrumenter rewrites the loaded files in order to add the instrumentation code and in doing so loses the ability to set breakpoints on the original files.

Workaround is to disable code coverage when running locally.

[2022-01-05 10:33] schmocker commented on #12165
@charlespickettau for me it is. (I just updated the path to be relative to your user: ~/Library/Application Support/azuredatastudio/Azure Accounts)

[2022-01-05 13:09] louisoftokyo commented on #16125
Are there any updates to share on this? This would be hugely helpful.

[2022-01-05 13:38] sudhirhota1993 opened #17989 "Include Files From Explorer Into Database Project"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Once you mistakenly exclude the file/folder from SQL database Project, then there is no option to include it again even if it is available under explorer.

Does this issue occur when all extensions are disabled?: Yes/No

[2022-01-05 17:26] kisantia commented on #17989
closing as duplicate of #14383

[2022-01-05 17:26] #17989 closed

[2022-01-05 17:43] #17984 closed

[2022-01-05 17:52] kisantia commented on #17963
sql database projects 0.14.1 has been released with the fix. Thanks for reporting this issue!

[2022-01-05 17:52] #17963 closed

[2022-01-06 06:25] slyce130 commented on #8618
Also an issue for me with postgres csv exports

[2022-01-06 08:50] JSR0450 opened #17994 "Showing Failure"
Issue Type: <b>Feature Request</b>

An unexpected error occurred while connecting. Please [file an issue](command:workbench.action.openIssueReporter) with the title 'Unexpected Error Occurred while Connecting' and include the log file [/Users/jayveersinghrathore/Library/Application Support/azuredatastudio/logs/20220106T131232/renderer1.log](command:workbench.action.openLogsFolder)

Azure Data Stud

[2022-01-06 16:27] misterspeak commented on #17348
I had the same problem - removing this from settings.json (not sure how it got there) fixes it.
    "workbench.editorAssociations": {
        "*": "default"
    }
hth.

[2022-01-06 16:44] Charles-Gagnon commented on #17994
@JSR0450 Can you provide more details - including attaching the log file requested?

[2022-01-06 17:05] GregWoods commented on #8279
I love that I can simply click the cell in my query results and the text is opened in a new window. No save-to-file or copy-paste is needed. But then it is truncated... so the feature becaomes useless.
As seems to be the case all too often, Microsoft always have something shinier to work on than boring bugs.

[2022-01-06 17:06] GregWoods commented on #392
I love that I can simply click the cell in my query results and the text is opened in a new window. No save-to-file or copy-paste is needed. But then it is truncated... so the feature becomes useless.
As seems to be the case all too often, Microsoft always have something shinier to work on than boring bugs.

[2022-01-06 17:10] Charles-Gagnon opened #17997 "Crash reporting is disabled"
I disabled this during the latest VS Code merge - it was crashing the app upon startup. And given the low usage of the feature I figured we would come back to this when/if we deemed it important to spend time fixing.

https://github.com/microsoft/azuredatastudio/blob/main/src/main.js#L404

[2022-01-06 17:13] Charles-Gagnon opened #17998 "Smoke tests not running"
Broke during the last VS Code merge

https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=134763&view=logs&j=a5e52b91-c83f-5429-4a68-c246fc63a4f7&t=05af1eac-c39c-5c75-1e3f-dd115ec8907d

[code]

[code]

I'll handle updating the sqlite dependency once I get the new electron version in which may fix this.

[2022-01-06 17:14] Charles-Gagnon opened #17999 "VS Notebook contributions error on startup"
This doesn't seem to be a blocking issue for us, but we should either disable the features completely or fix them so they don't throw these errors

[code]

[2022-01-06 17:17] chlafreniere commented on #17999
Interesting. Is this due to the fact that we've disabled the debugger?

[2022-01-06 17:34] Charles-Gagnon commented on #17999
Yeah, this is just a general warning because these contributions ask for the debug service to be injected but we've removed that. The likely solution is just going to be removing these contributions for now since without the debugger I doubt they'll be able to function.

[2022-01-06 17:35] chlafreniere commented on #17999
Gotcha, thanks @Charles-Gagnon.

[2022-01-06 17:57] Charles-Gagnon opened #18001 "Welcome menu item missing from Help menu"
Running the command palette command seems to work fine though.

[2022-01-06 18:00] Charles-Gagnon opened #18002 "Welcome page missing video images"
![image](https://user-images.githubusercontent.com/28519865/148428841-6999c9ae-f98d-4752-95ed-be45b366a987.png)

In current stable :

![image](https://user-images.githubusercontent.com/28519865/148428895-b51d4048-4184-42b9-81d1-b4256d0760b2.png)

[2022-01-06 19:15] VasuBhog opened #18003 "VSCode Merge breaks Mac Build"
- OS Version: OSX Monterey

Steps to Reproduce:

Developing on Mac for ADS.
1. Pull latest from main
2. Run Yarn
3. See Playwright error.

I see that the version we use for playwright is 1.12.3 and there was an issue regarding this on their repo recently as well which is fixed but requires the new version of playwright: https://github.com/microsoft/playwright/issues/7555

It looks like playwright

[2022-01-06 19:22] Charles-Gagnon commented on #18003
The error in the linked issue is different than the issue you showed me (please include that in the bug description). Is there any reason that you think they're related other than the linked issue is talking about MacOS12?

VS Code is still on 1.17.1 and I would be very surprised if they were just ignoring this issue so I assume that there's an update between our version (1.12.3) and 1.17.1 that f

[2022-01-06 19:32] VasuBhog commented on #18003
Updated comment - I can update to 1.17.1 to be on par with VS Code then.

[2022-01-06 19:43] kisantia commented on #17847
I looked into this a bit more and things to consider. For building a project, the <ProjectGuid> field isn't necessary. For project references, the <Project> field where the referenced project's guid goes also is not necessary. I didn't find the ProjectGuid used anywhere in DacFx. In SSDT, there are places where there the project guid is read (mostly in schema compare files), but SSDT automatically

[2022-01-06 20:01] KathiKellenberger opened #18004 "Dragging column into query window includes schema"
Issue Type: <b>Bug</b>

Open a Query window and connect to AdeventureWorks database
Type in
SELECT
FROM HumanResources.Department
In the Connections window, find the HumanResources.Department table in AdventureWorks.
Expand to see the Columns folder.
Drag the Columns folder into the Query window and release after the word SELECT.
I expect to see a list of comma delimeted columns, but instead I see

[2022-01-06 20:06] Charles-Gagnon commented on #18004
@cssuh

[2022-01-06 20:28] zijchen commented on #17847
I vote option 1 to have parity with VS.

[2022-01-06 21:44] #18003 closed

[2022-01-06 23:08] #275 closed

[2022-01-07 01:03] VasuBhog opened #18012 "Allow for SQL Connection String to be used for disconnected scenarios"
PR for SQL Connection String: https://github.com/microsoft/azuredatastudio/pull/18011

Removal of connect call for the selected SQL Server as "we shouldn't need to require the user have a valid connection to populate the connection string. (and especially shouldn't require them actually connecting to said server to do it)"

[2022-01-07 07:57] maaikelimper opened #18014 "Azure Database for PostgreSQL is not displayed in Azure Data Studio"
Issue Type: <b>Bug</b>

To reproduce create an Azure Database for PostgreSQL and login with the AD-account that created the DB, the DB is not displayed as an option in "Browse" under the AD-account.

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>Sys

[2022-01-07 07:57] maaikelimper opened #18015 "Azure Database for PostgreSQL is not displayed in Azure Data Studio"
Issue Type: <b>Bug</b>

To reproduce create an Azure Database for PostgreSQL and login with the AD-account that created the DB, the DB is not displayed as an option in "Browse" under the AD-account.

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>Sys

[2022-01-07 08:31] elonmallin opened #18016 "Shared connections doesn't work. workspace.code-workspace nor settings.json connections show"
Issue Type: <b>Bug</b>

1. Open azdata and open the `workspace.code-workspace` file below like (File -> Open workspace -> select the file):
[code]
2. No connections show in the top left connections tab
3. Try the same thing with the `.azuredatastudio/settings.json` below and open the root folder (containing the .azuredatastudio dir):
[code]
4. No connections show in the top left connections tab

U

[2022-01-07 11:34] xjuanc commented on #4904
First of all, happy new year to everyone.

Any expected date for this issue to be resolved?

Thanks

[2022-01-07 19:15] chlafreniere opened #18019 "Split Cell Action Showing Up Twice in Cell Toolbar"
Post-merge, I now see the following in main:

![image](https://user-images.githubusercontent.com/40371649/148594674-764fffbe-ac2a-4a06-9cee-190f9db8d815.png)

Doesn't repro in latest insiders (which doesn't have the merge yet).

[2022-01-07 20:23] lucyzhang929 opened #18021 "Links to files not working in Notebooks"
Steps to Reproduce:

1. Create a link to another notebook or markdown file in a text cell
2. Click on link

Expected: File opens in new tab
Actual: File does not open

[2022-01-07 20:57] #18019 closed

[2022-01-07 20:59] Charles-Gagnon opened #18022 "Standard kernel timeout error appearing every time a Notebook is opened"
1. Create new Notebook
2. Wait 30sec

These errors appear in the console

![image](https://user-images.githubusercontent.com/28519865/148606496-0b8b5773-ae8f-433e-92ec-c3cc2917522e.png)

[2022-01-07 22:04] smartguest opened #18023 "Profiler no longer opens in insiders build"
- Azure Data Studio Version: Insiders
- OS Version: Windows 10

The issue is immediately apparent once you have installed the profiler extension as if you try to open profiler on any database, you get an error saying:

"Unable to open 'Profiler: <connectionname>': Cannot read property 'options' of undefined."

This means the profiler extension is unusable at the moment and needs to be fixed.

[2022-01-07 23:08] Charles-Gagnon commented on #18015
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/18014

[2022-01-07 23:08] #18015 closed

[2022-01-07 23:18] Charles-Gagnon opened #18026 "Welcome page is broken/missing when preview features are disabled"
1. Reset ADS state (delete/rename %APPDATA%/azuredatastudio)
2. Launch ADS

Get this error instead of welcome page appearing.
`Unable to open 'Welcome': Assertion Failed: argument is undefined or null.`

Previously our code was using the VS Code welcome page with our own custom content. This was replaced with our own completely custom welcome page under preview (which still works) but now that VS

[2022-01-07 23:31] #18023 closed

[2022-01-08 00:01] #17847 closed

[2022-01-08 00:44] Charles-Gagnon opened #18029 "Error when adding SQL connection through Azure browse"
Stable (1.34) & insiders

1. Open Connection dialog
2. Go to browse tab and expand an account with SQL databases in it
3. Double click on a database

I'm getting this error

[code]

[2022-01-08 00:57] Charles-Gagnon opened #18030 "Registered CMS servers aren't displaying"
Latest from main (stable 1.34 seems to work fine)

Even after adding a new server registration nothing shows up in the tree

![image](https://user-images.githubusercontent.com/28519865/148624796-50a83c19-a049-4f77-9010-249976d42416.png)

[2022-01-08 00:58] #17998 closed

[2022-01-08 01:00] #18001 closed

[2022-01-10 06:10] adriennn commented on #13955
I'm seeing a similar error appearing out of the blue after an update to the SQL Database Project extension 0.14.1 (which fixed another bug) with either of the following:

.NET 3.1.416
.NET 6.0.101

ADS: 1.34.0 (user setup)

is there a way to rollback the extension to something before 0.14.1 in order to debug?

[2022-01-10 13:17] kbocock-krg commented on #11493
I cannot get this to work on mac big sur. It just hangs after I choose my azure login.

[2022-01-10 17:13] aasimkhan30 opened #18035 "Mac os builds have errors in unit tests"
In the past few days, mac os builds are failing in the unit test phase. There are some transient errors popping up.

Some common error messages:
1.
[code]

2.
[code]

[2022-01-10 17:17] aasimkhan30 opened #18036 "Merge bot status tags are not available."
Currently, the merge bot status tags are not available.

[2022-01-10 17:20] aasimkhan30 opened #18037 "Seperate out dotnet tests from the build stage of STS pipeline."
Currently, the build pipeline for STS runs the tests at 2 separate places: Build and test.
The DRI task here is to remove the tests from the build stage so it only executes once per pipeline run.

[2022-01-10 17:52] Charles-Gagnon commented on #13955
@adriennn You can download previous versions of the extension by replacing the ##.##.## with the version you want in this URL : https://sqlopsextensions.blob.core.windows.net/extensions/sql-database-projects/sql-database-projects-##.##.##.vsix

e.g. https://sqlopsextensions.blob.core.windows.net/extensions/sql-database-projects/sql-database-projects-0.14.0.vsix

[2022-01-10 19:12] llali opened #18039 "Sqlproj SDK Style - more info about how to update the SDK"
After creating a new sqlproj with SDK style, the sdk version is set in the project. It's not completely clear that this is a nuget package and how to get updates if needed. Might be nice to link to a doc to explain the SDK and how to get updates

[2022-01-10 19:15] llali opened #18040 "sqlproj SDK style add system database reference is not working"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create a sqlptoj SDK style
2. in the viewlet right click on Database References
3. in the dialog click on Add Reference
4. build the project
Expected: successful  build
Actual: Error "Build error SQL72027: File "C:\Users\[user]\.nuget\packages\microsoft.build.sql\0.1.1-alpha\tools\netstandard2.1\SystemDacpacs\130\master.dacpac"

D

[2022-01-10 19:24] kisantia commented on #18040
It's looking for the master dacpac at "$(NETCoreTargetsPath)\SystemDacpacs\150\master.dacpac", but it isn't working anymore because the targets file being used is no longer in the same location as the system dacpacs in the sql database projects extension. Either we can change the variable and pass it in when building for the location of the dacpacs, or we can look into adding the system dacpacs in

[2022-01-10 19:32] llali opened #18041 "Creating SDK style sql proj from a database"
Right there's no option to create a sqlproj, SDK style from a database. It would be nice to have that or have a command to change a existing project to a SDK style

[2022-01-10 19:44] Benjin opened #18042 "SDK-style sqproj prompts for reloading project when it hasn't changed if sqlproj file is open/edited"
Repro:
1. Create new SDK-style project
2. Right click on project -> edit sqlproj file
3. Right-click on project -> add new table

Expected:
File gets added silently

Reality:
I get prompted to reload, even though the sqlproj hasn't changed and it's already showing up in the project pane (this second part repros for legacy projects, too)

[2022-01-10 19:50] zijchen commented on #18040
@dzsquared Do you know of any issues with shipping the system dacpac's inside the SDK? Only adds about 1.5MB in total size so size isn't a huge concern

[2022-01-10 19:52] kisantia commented on #18040
related issue: #14825

[2022-01-10 23:53] #17411 closed

[2022-01-11 00:39] chlafreniere commented on #17964
Closing this for now as we need more logs to debug further. Please reactivate if you are able to provide logs, @muthugit. Thanks!

[2022-01-11 00:39] #17964 closed

[2022-01-11 14:33] lucyzhang929 opened #18047 "Cannot save a new notebook"
- Azure Data Studio Version: insiders
- OS Version: mac

Steps to Reproduce:

1. Create a new notebook
2. Save notebook

Notification error:
<img width="550" alt="Screen Shot 2022-01-10 at 7 02 41 PM" src="https://user-images.githubusercontent.com/23462877/148874185-c12290ad-a97c-41d4-b1cc-357eaa56cd74.png">

Error in console:
<img width="749" alt="Screen Shot 2022-01-10 at 7 03 28 PM" src="https:

[2022-01-11 17:40] nativeTexanATX commented on #17438
(_I apologize for the delay; wasn't paying attention throughout the holidays. Hope your new year is off to a good start!_)

To answer your question, it happens for **each of** SQL Login and AAD, but does not overlap on the authentication type.

For example, I had a connection ("ConnectionA") defined as AAD.
1) I created a new connection ("ConnectionB") using ConnectionA as a base, but changed the

[2022-01-11 18:31] #18037 closed

[2022-01-11 18:43] barbaravaldez opened #18048 "Preview of markdown files not showing"
Opening preview of markdown files results in web view loading error.

Error loading webview: Error: Could not register service workers: InvalidStateError: Failed to register a ServiceWorker: The document is in an invalid state.

Version: 1.35.0-insider
Commit: c84cb8409b298c88aafb9a35c5c8f12a7aa2fc42
Date: 2022-01-10T06:39:51.236Z
VS Code: 1.59.0
Electron: 13.5.0
Chrome: 91.0.4472.164
Node.js: 14.

[2022-01-11 19:08] alanrenmsft opened #18049 "File compare feature stopped working after vscode"
open 2 files and run command `Compare active file with...`

expected: file diff view opens

actual: nothing happens

caused by recent vscode merge.

[2022-01-11 21:00] mtk commented on #17641
i did not intend to close it.  will this reopen it?  the issue still exists in the december 2020 v1.34 release.

[2022-01-11 23:05] #17864 closed

[2022-01-12 00:52] #13308 closed

[2022-01-12 00:52] #17782 closed

[2022-01-12 00:52] #17788 closed

[2022-01-12 21:43] palhal commented on #2709
I am surprised that this seems impossible. The fixed color of "silver" is acceptable with light themes, but is way too obtrusive with dark themes. Dark mode is one of the main reasons I want to switch from SSMS.

I would like to turn the borders off (set them to transparent). The only way I can do this (to my knowledge) is by using jQuery in the console window: $('.slick-cell').css({ border: 0 }).

[2022-01-12 23:01] lucyzhang929 opened #18062 "Notebooks: cannot add image attachment"
- Azure Data Studio Version: insiders
- OS Version: mac

Steps to Reproduce:

1. Create new notebook
2. Add text cell
3. Toggle to split view or markdown view
4. Insert image through markdown toolbar
5. Check 'Attach image to notebook'

Expected: image is inserted to text cell
Actual: image is not inserted

Error in console:

![Screen Shot 2022-01-12 at 2 59 56 PM](https://user-images.githubuserco

[2022-01-12 23:55] noobSJC opened #18063 "unable to add an account"
After not logging in for a few months, i ran into issues and went ahead and reinstalled the application.  Now when I attempt to add a new account: Add an account-- opens browser -- my company creditials are loaded and it says 'Signed in', I hit 'Select' and then in the azure data studio, I get box with:

{}

Source:Azure (Core) (Extension)

please help!! I have been trying for days to resolve this

[2022-01-13 00:10] kburtram commented on #18063
@cssuh  do you have any suggestions for how to resolve this?

I've seen in other issues that clearing the entire application cached state can resolve issues like this.  But ideally this wouldn't be required.  If you'd like to try this you can delete `C:\Users\[USERNAME]\AppData\Roaming\azuredatastudio` and restart ADS to get back to "first launch" configuration.  If you do this you may want to bac

[2022-01-13 00:15] noobSJC commented on #18063
sadly, I did this already, it DOES refresh my system to appear to be a 'first launch', but after I follow the steps again, same exact issue.

[2022-01-13 00:53] cssuh commented on #18063
@noobSJC do you see any additional error messages if you open the Developer Tools?

[2022-01-13 01:04] noobSJC commented on #18063
[2022-01-12 16:57:31.937] [renderer1] [info] Cancelling connection for URI connection:providerName:MSSQL|applicationName:azdata|authenticationType:|database:|server:|user:|group:undefined
[2022-01-12 16:57:35.695] [renderer1] [warning] Settings pattern "debug.*" doesn't match any settings
[2022-01-12 16:57:35.696] [renderer1] [warning] Settings pattern "launch" doesn't match any settings
[2022-01-

[2022-01-13 10:04] philipnye commented on #12165
If like me you don't display the Activity Bar so can't follow the letter of @matt-nordberg's solution, another way of removing your existing account is to go via the command palette and use _Clear all saved accounts_. Then you can re-add your account as Matt says, by selecting "Add an account..." in the Account drop-down when attempting to open a fresh connection.

[2022-01-13 16:06] mrlife commented on #10937
@abist Possible to include in an upcoming release?

[2022-01-13 16:49] timothylcooke opened #18064 "FOR JSON PATH throws off syntax validation in query editor"
Issue Type: <b>Bug</b>

The text `FOR JSON PATH` seems to be ignored by syntax validation in the query editor.

Start with a valid query. There are no syntax errors and the query returns results:
![image](https://user-images.githubusercontent.com/8904110/149368007-b524f0e8-27f3-4c9e-b874-280f20738eac.png)

Now, if we simply add `FOR JSON PATH`, we get no syntax error in the editor, but when we try

[2022-01-13 18:46] Charles-Gagnon opened #18067 "Error thrown when closing untitled query editor with connection"
1. New query
2. Connect to and run query
3. Close query editor

Error shows up in console

![image](https://user-images.githubusercontent.com/28519865/149390316-e443a957-c2ff-4b0c-ba36-0292a62e15d1.png)

This appears to repro in both stable 1.34 and insiders.

[2022-01-13 19:30] Charles-Gagnon commented on #18062
Likely related - getting this error when opening Notebook with images :

`Not allowed to load local resource: file:///PATH/TO/IMAGE/image.gif`

[2022-01-13 20:18] kisantia opened #18070 "exclude pre/post deployment script doesn't work for SDK style projects"
Steps to Reproduce:

1. Add a pre or post deployment script to an SDK style project
2. Exclude the add pre/post deployment script

expected: the pre/post deployment script no longer shows in the project tree
actual: it's still there because it's included by the *.sql glob

[2022-01-13 21:15] kisantia opened #18071 "schema compare and sql database projects azdata dependency needs to be updated"
The azdata dependencies for these two extensions need to be updated to 1.35 before the next release so that the new update project changes in schema compare won't show up if the installed sql database projects extension is older.

[2022-01-13 21:23] kisantia opened #18072 "Alignment is off in update project from db dialog"
- The location input box is not aligned with the label
- For vertical radio buttons, the label is usually aligned with the first radio button (examples: schema compare dialog and publish database dialog)
![image](https://user-images.githubusercontent.com/31145923/149410931-1441d562-be6f-4ed0-8788-7df0d550e8a3.png)

[2022-01-13 21:30] llali opened #18073 "schema compare when sql project is loaded should select the project as default"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Open a sqlproj
2. Open Schema compare
3. Choose Sqlproj as target instead of source

Expected: sqlproj should be selected by default in the target
Actual: have to find the sqlproj  path and select it manually

Does this issue occur when all extensions are disabled?: Yes/No

[2022-01-13 21:34] kisantia opened #18074 "Remove system dbs from update project from db"
The system dbs are filtered out from the create project from db dialog and the publish dialog, so it probably makes sense to filter them out in the update project dialog, too.

[2022-01-13 21:37] kisantia opened #18075 "add dropdown with open projects to update project dialog"
It would be nice to have an option to select one of the already open projects from a dropdown instead of having to look for the location of the sqlproj.

[2022-01-13 21:39] zijchen opened #18076 "Index gets dropped when updating project from database"
Steps to Reproduce:

1. Create new sqlproj, add a Table1.sql with following script:
[code]
2. Publish to database
3. Delete Table1.sql from project
4. Update project from database, the table definition is restored but the index creation script is missing

[2022-01-13 21:42] zijchen commented on #18076
Schema compare from the restored sqlproj vs the database still picks up the difference

[2022-01-13 21:45] kisantia opened #18077 "Add confirmation to update project in update project dialog"
It would be nice to have a prompt for the user to confirm that they want to update their project in case they want to change their mind, like when clicking the schema compare apply button:
![image](https://user-images.githubusercontent.com/31145923/149413749-9a9f3974-16b6-4a70-9d51-d520e4658371.png)

[2022-01-13 21:48] kisantia opened #18078 "Project update says success but build and schema compare failed"
![image](https://user-images.githubusercontent.com/31145923/149414280-7b681594-c8dd-4544-97b2-58455c1f0631.png)

[2022-01-13 21:53] llali opened #18079 "schemaCompare with project has target fails to apply changes"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. opened a sqlproject I created from adventure works
2. open schema compare and set project as target
3. use a db with a table as source
4. select option to not drop objects in target if doesn't exist in source
5. click on apply

Expected: one table should get created
Actual: error

![image](https://user-images.githubusercontent.com

[2022-01-13 21:53] Benjin commented on #18073
Proposal: automatically select first project in workspace when Schema Compare project endpoint is selected

[2022-01-13 21:58] Benjin commented on #18074
Proposal: intelligently sort; user databases first, then system

[2022-01-13 22:06] Benjin commented on #18077
For "Apply" option in Update Project dialog

[2022-01-13 22:07] Benjin commented on #18078
@kisantia Can you send/attach the project you used to repro this?  I haven't hit this one my end.

[2022-01-13 23:30] kisantia commented on #18078
apply schema compare changes failed with wide world importers and a blank project.

[2022-01-14 02:23] SaurabhSharma-MSFT commented on #8467
@udeeshagautam @kburtram Do you have any updates on this feature.

[2022-01-14 11:51] tbibby opened #18083 "Project conversion leaves PlatformTarget in project file - subsequent builds fail on arm64"
- Azure Data Studio Version: 1.34.0 (also tested on latest insiders build)
- OS Version: macOS Monterey 12.1 (M1)

Steps to Reproduce:

1. Convert a sqlproj containing the line `<PlatformTarget>x64</PlatformTarget>` with the SQL Database Projects extension
2. Build the converted project on an arm64 machine, fails with `Build error SQL72025: The referenced assembly is corrupt or not valid`.

Does t

[2022-01-14 15:43] nord- opened #18084 "Can't save query"
Issue Type: <b>Bug</b>

Trying to save a query I have open in editor, but it fails with message:
"Promise.allSettled is not a function"

Azure Data Studio version: azuredatastudio-insiders 1.35.0-insider (d4534f875fbc382933131999816b963726dd8afd, 2022-01-14T06:43:54.417Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CP

[2022-01-14 16:27] Charles-Gagnon commented on #18084
Looks related to https://github.com/microsoft/azuredatastudio/issues/18047

[2022-01-14 18:00] MaddyDev opened #18088 "New notebook prompted to save as json file while saving"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create a new notebook and edit
2. Close the notebook and choose 'Save' option from the prompt. Notebook's suggested to save as json file instead of ipynb.

![image](https://user-images.githubusercontent.com/12754347/149562814-b5b71724-9e80-461e-9a64-82b9f4da06dc.png)

[2022-01-14 19:21] #17999 closed

[2022-01-14 20:35] cssuh commented on #17802
closing for not enough info

[2022-01-14 20:35] #17802 closed

[2022-01-14 20:56] cssuh commented on #18083
We do not currently support ADS on M1 right now.

[2022-01-14 21:41] corivera commented on #17829
Interactive has a hard dependency on the Jupyter extension, so we need to add the APIs needed to support that.

- [ ] vscode.notebooks.onDidChangeCellMetadata
- [ ] vscode.notebooks.onDidChangeNotebookDocumentMetadata
- [ ] vscode.notebooks.onDidChangeCellOutputs
- [ ] vscode.notebooks.onDidChangeNotebookCells
- [ ] vscode.notebooks.onDidChangeNotebookDocument
- [ ] vscode.notebooks.onDidChangeCel

[2022-01-14 22:40] Charles-Gagnon opened #18094 "Saving untitled query editors switches back to plaintext editor"
This resurfaced again with the latest merge

1. Open new untitled query
2. Save

Editor switches to plaintext/json

[2022-01-15 00:50] #18071 closed

[2022-01-15 00:55] Charles-Gagnon opened #18097 "Saving Notebooks opens content in JSON editor"
1. Create new untitled notebook
2. Save

The editor switches to a plain JSON editor

[2022-01-15 00:57] Charles-Gagnon commented on #18097
Doesn't seem directly related to https://github.com/microsoft/azuredatastudio/issues/18094 given what I found the fix was. Think this is somewhat related though in that the same changes made to the editor resolver service also broke this. When saving an untitled notebook we just return the base text input directly - which due to the changes in the service no longer looks at the extension to determ

[2022-01-15 00:59] #18047 closed

[2022-01-15 00:59] #18084 closed

[2022-01-17 09:48] languy opened #18105 "Enable border customization for ButtonComponent"
**Is your feature request related to a problem? Please describe.**
I'm using an `ButtonComponent` of type `Informational` with a white background.
The button borders are not visible and it is not possible to customize the borders.
<img width="243" alt="image" src="https://user-images.githubusercontent.com/21954022/149746691-fc4eae33-ea85-4d47-8b1a-306270c4389d.png">

**Describe the solution or fea

[2022-01-18 07:53] nielsams commented on #15277
Thanks for your patience :)
I can confirm that in my current Data Studio version 1.34.0 this error persists and still presents the same.

Additionally, I tried to use the Azure Monitor Logs extension but also failed. I will open a separate issue since I'm not sure if this is related.

[2022-01-18 08:01] nielsams opened #18107 "Cannot connect to Log Analytics using Azure Monitor Logs extension"
- Azure Data Studio Version:
Version: 1.34.0 (system setup)
Commit: 83a4316cf89cbf961a0f09a72c861379cfd01fa9
Date: 2021-12-15T20:47:33.863Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.22538 (Windows 11)

Steps to Reproduce:

1. Install Azure Monitor Logs extension
2. Add new connection
3. Enter workspace id of LA instanc

[2022-01-18 14:25] DaveBoltman commented on #12030
The issue was present the first time I used Azure Data Studio to do real work, using Go to Definition (F12) and Peek Definition (Alt-F12). It gave the schema definition, even though the cursor was on the stored procedure name.

Version: 1.34.0 (system setup)
Commit: 83a4316cf89cbf961a0f09a72c861379cfd01fa9
Date: 2021-12-15T20:47:33.863Z (1 mo ago)
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389

[2022-01-18 18:37] noobSJC commented on #18063
When I sign in using 'Azure Device Code' I enabled the flag in errors for review along with this code:

Request Id: 49fea3ed-a29e-4e50-9f77-9e4c701a4b01
Correlation Id: ed251de2-3cfb-4370-bf8e-4e1454232569
Timestamp: 2022-01-18T18:34:35.738Z

hoping this will help diagnose my problem.

[2022-01-18 19:06] dejan-shuki opened #18109 "PowerShell notebook - OSError: [WinError 6] The handle is invalid"
Issue Type: <b>Bug</b>

1. Create New notebook
2. Switch kernel to PowerShell
3. Create new cell
4. type in Write-Host "test"

Traceback (most recent call last):
  File "C:\Users\dsunderic\AppData\Roaming\Python\Python39\site-packages\powershell_kernel\kernel.py", line 62, in do_execute
    self.__createProxy()
  File "C:\Users\dsunderic\AppData\Roaming\Python\Python39\site-packages\powershell_ker

[2022-01-18 19:49] chlafreniere commented on #18048
This issue doesn't repro any longer, so closing for now.

[2022-01-18 19:49] #18048 closed

[2022-01-18 19:53] chlafreniere commented on #18088
@chlafreniere to verify 😄

[2022-01-18 19:53] VasuBhog commented on #18021
Able to repro on Mac for both Absolute Links and Relative. Creates link, but does not open - same error.

[2022-01-18 19:57] chlafreniere commented on #18022
Just as one data point, I have the Kusto extension installed. Unclear if this is related or not, since @lucyzhang929 doesn't have it installed on her machine.

[2022-01-18 20:03] #18094 closed

[2022-01-18 20:29] chris-larsen commented on #4904
If the legwork is already done with an extension version of this, but needs polish, I would really urge the team at Microsoft to try and make a case that this is something that needs to be prioritized.

VSCode has been hugely successful because of its extensibility and open architecture. It's a flat out phenomenal and powerful tool, and Azure Data Studio has the capacity to be the same level of gr

[2022-01-18 21:15] chlafreniere commented on #18109
@VasuBhog can you help here?

[2022-01-18 21:21] VasuBhog commented on #18109
Hi @dejan-shuki, sorry you are encountering an error. Would you be able to tell me the powershell_kernel version that you have installed?

[2022-01-18 21:24] tonyqus commented on #4904
I'm afraid they cannot say anything about priority in order to be politically correct. As I understand, this team (Azure Data Studio team) is built for Azure instead of open source although azure is built based on open source.  In other words, all the IDE customized by this team is to serve the Azure services or Microsoft owned product like SQL Server. The target customers are Azure customer or Mi

[2022-01-18 23:00] corivera opened #18112 "Existing markdown styling is not removed when converting text into a code block"
Steps to Reproduce:
1. Open a WYSIWYG cell and add some text.
2. Change the text by adding an underline, bolding, or similar.
3. Select the same text and convert it to a code block.
4. Code block still has the previous text styling.

[2022-01-18 23:04] corivera opened #18113 "Word wrap setting is being ignored by notebook text cells."
Steps to Reproduce:
1. In the User Settings, set Editor: Word Wrap to "Off".
2. Open a new notebook and add a text cell.
3. Add enough text so that it clips beyond the border of the cell.
4. The cell text wraps around to the next line rather than continuing with a horizontal scroll bar.

[2022-01-18 23:07] corivera opened #18114 "Cannot toggle code styling off in a text cell by pressing toolbar button again."
Steps to Reproduce:
1. Open a new notebook and add a text cell.
2. Add some text and then convert the text to a Code block with the toolbar button.
3. When pressing the toolbar button again over the same text, the Code block styling doesn't get removed.

[2022-01-18 23:17] corivera opened #18115 "When exporting a query result as a CSV or other file type, a filename is not populated by default."
Steps to Reproduce:
1. Run a query in a SQL code cell or query editor.
2. Try to export the results as a CSV.
3. Save the file. The save dialog will not have any filename populated by default.
4. Try to export the results again. A default filename is now provided in the dialog (e.g. Results.xml).

[2022-01-19 00:01] #18022 closed

[2022-01-19 01:32] cssuh commented on #18063
@noobSJC One thing you can try is to remove and re-add your azure account, or also clearing the token cache.  Can you try that?

[2022-01-19 05:06] olljanat commented on #4904
Maybe you have missed that nowadays both MySQL and PostgreSQL are available as Azure service which why supporting them also here would make sense.

https://azure.microsoft.com/en-us/services/mysql/
https://azure.microsoft.com/en-us/services/postgresql/

[2022-01-19 13:55] huy312100 commented on #94
Any update?

[2022-01-19 16:16] dejan-shuki commented on #18109
When I execute $PSVersionTable in Terminal of of ADS, I get this:
Name                           Value
----                           -----
PSVersion                      7.2.1
PSEdition                      Core
GitCommitId                    7.2.1
OS                             Microsoft Windows 10.0.18363
Platform                       Win32NT
PSCompatibleVersions           {1.0, 2.0, 3.0, 4.0…

[2022-01-19 17:41] noobSJC commented on #18063
@cssuh  thank you for following up!! So, I can't remove my account bc I cant add one AT ALL. And i have cleared my web browser cashe, i dont see an option in ADS to clear token cashe, can you please provide me the steps for it?

[2022-01-19 18:05] cssuh commented on #18063
@noobSJC You can clear the token cache by hitting Ctrl + Shift + P and typing `Clear Azure Account Token Cache`

[2022-01-19 18:06] kisantia opened #18123 "hide update project from db in vscode"
The Update Project from Database option should not be in the sql database projects vscode extension because support hasn't been added for it in vscode (there's only a dialog, no quickpick equivalent for vscode)
![image](https://user-images.githubusercontent.com/31145923/150188309-9af1da21-5ea7-4019-8ace-52341bb4a664.png)

[2022-01-19 18:06] Charles-Gagnon commented on #18063
@cssuh As you're helping with these would you mind creating a wiki page with instructions for the various workarounds/solutions? That would make it a lot easier to point people to instead of having to dig up the instructions ourselves each time.

[2022-01-19 18:28] lucyzhang929 commented on #18021
The links are only broken on mac and not windows. I added a breakpoint in the `onclick` method [here](https://github.com/microsoft/azuredatastudio/blob/529e4fe0ded02f69fc56b3553b565127d608903d/src/sql/workbench/contrib/notebook/browser/cellViews/linkHandler.directive.ts#L46) and on mac, when the link is clicked, the scheme is `vscode-file` while on windows, the scheme is `file`. @Charles-Gagnon do

[2022-01-19 18:38] caseylutz commented on #8618
@kburtram @anthonydresser This issue should definitely be re-opened. The issue is very reproducible with postgres queries specifically.

[2022-01-19 18:46] noobSJC commented on #18063
![image](https://user-images.githubusercontent.com/97641661/150194390-78c1ea38-ba05-4b65-88ef-48d90b4b6a4a.png)
cleared the cashe successfully, however still having the same issue. :(

[2022-01-19 18:53] corivera commented on #17829
Looks like vscode.notebooks.onDidChangeNotebookDocument doesn't exist in our repo or in vscode.

[2022-01-19 18:54] chlafreniere commented on #17829
I wonder if this used to exist in a previous version of the vscode notebook API

[2022-01-19 18:56] corivera commented on #17829
The Jupyter extension is using 1.63, with the vscode repo currently at 1.64, so it must have been around for a short time. I'll check the history.

[2022-01-19 20:09] TrishaMoore commented on #7438
Hi @kburtram , I totally understand the concern around password security.  Could you enhance the history such that it doesn't save the passwords and only the SQL.  I used SQL Assistant for years when working with Teradata.  It saves all the SQL history but you have to login to your TD system before running the query, it doesn't save the id/pw info.  Just a thought. Thanks!

[2022-01-19 21:53] #18123 closed

[2022-01-19 21:58] corivera commented on #17829
Looks like that method was never part of the extension API. It just looked like it was, since I was searching for things in the vscode.notebooks namespace, and there was a "notebooks.onDidChangeNotebookDocument" that was only an internal Jupyter event.

[2022-01-19 21:59] VasuBhog commented on #18109
@dejan-shuki so the terminal uses a different version of the PowerShell that is via the integrated PS extension. For Notebook, we use Powershell kernel [found here](https://github.com/vors/jupyter-powershell). As such, it is important to make sure you are on our latest version of that python package.

Steps to check Powershell kernel version:
1. Open Notebook you are currently having trouble with.

[2022-01-19 23:24] kisantia opened #18128 "Remove duplicate SchemaComparePublishChanges api"
Now that the update project changes are checked in, the old SchemaComparePublishChanges can be removed when the new version of schema compare is released since it won't be used by anything anymore.

[2022-01-20 03:46] longzheng commented on #13273
+1 on this request to make it easier to audit who added the rules if there are multiple users.

Alternatively would also be reasonable if the auto-generated firewall rule had a name that included the signed in Azure account name.

For example the current rules are named
[code]
it could be the name and email of the user, with the timestamp
[code]

[2022-01-20 03:48] longzheng commented on #13273
Relates to https://github.com/microsoft/azuredatastudio/issues/13273

[2022-01-20 03:48] longzheng commented on #3182
+1 on this request to make it easier to audit who added the rules if there are multiple users.

Alternatively would also be reasonable if the auto-generated firewall rule had a name that included the signed in Azure account name.

For example the current rules are named
[code]
it could be the name and email of the user, with the timestamp
[code]

[2022-01-20 04:08] JediSQL commented on #94
Looking @"Matteo-T commented on Dec 14, 2019" I get the impression that SSMS is where MSFT is putting their DB diagrams effort for the time being.

[2022-01-20 06:08] chlafreniere commented on #18115
@corivera I'm unable to repro this (both through query editor + notebooks). Here's what I see on latest insiders, for Mac and Windows:

![image](https://user-images.githubusercontent.com/40371649/150283030-1d09ef0f-89e4-43cb-ac97-007a9da8ea52.png)

![image](https://user-images.githubusercontent.com/40371649/150282992-7f07c1e6-c5a6-4639-9dd4-563b25c75bf8.png)

Can you still repro on your machine on

[2022-01-20 06:11] chlafreniere commented on #18114
Closing as dupe of #13639

[2022-01-20 06:11] #18114 closed

[2022-01-20 07:16] philipphomberger commented on #17356
I have the same Issue at 2 Terminal Servers (Windows Server 2019).  At the moment I have no Idea why. Because I have a lot of other Servers there this problem is not exist. I have try reinstall the Application but that not change anything.

[2022-01-20 07:33] philipphomberger commented on #17356
**Here some more input from my side:**
After login to Azure in the Browser:
![Bildschirmfoto 2022-01-20 um 08 09 57](https://user-images.githubusercontent.com/13222043/150292743-e37e2fed-18d5-41a8-9ef8-904b950191a0.png)
I get a loop.
Than I open the calback link in the Developer Tools.
![Bildschirmfoto 2022-01-20 um 08 17 49](https://user-images.githubusercontent.com/13222043/150293039-ab7fb4c7-49

[2022-01-20 11:07] lexisstv commented on #15158
It's not synapse problem. On same server explain plan in SSMS works. Also plan in XML returns with command:
[code]
But this plan not shown in editor (single grid cell)

[2022-01-20 17:45] corivera commented on #18115
Yeah, it still repros for me on Windows. I'm re-opening ADS every time, in case it's relevant.

[2022-01-20 18:57] Charles-Gagnon commented on #18115
I can repro this as well (on both stable 1.34.0 and insiders)

![image](https://user-images.githubusercontent.com/28519865/150403854-abe29c83-6407-44a6-b9b4-2c06a3da7121.png)

If I save the CSV then it populates with `Results.csv` as expected (even for new Notebooks)

[2022-01-20 19:03] Charles-Gagnon opened #18132 "Adding connection from command line doesn't connect editors"
1. Run `azuredatastudio --server SERVER_NAME --database DATABASE_NAME -E 'PATH_TO_FILE.sql'` from command line

Expected : Editor is opened and connected to server

Actual : Editor is opened and connection is added to OE but the editor is not connected

[2022-01-21 05:01] bronthulke opened #18134 "Can't seem to save connections"
Issue Type: <b>Bug</b>
I seem to have no ability to save connections. I know I've done it in the past on another computer, and since installing on this new computer I've somehow managed to save one connection, which I can see in my Servers list, but I can't see any way to save other connections.

I see connections in my "Recent" list, but that is it.

Am I missing something, or has something gone

[2022-01-21 18:16] alanrenmsft commented on #18105
@languy  I will take a look.

[2022-01-21 20:05] alanrenmsft commented on #18105
@languy you can use the CSSStyles to specify the border, see example below.
[code]

since you are using custom color, you have to handle the theme change event and assign the proper color for the theme.
[code]

[2022-01-21 20:05] #18105 closed

[2022-01-22 01:43] #17875 closed

[2022-01-22 03:13] pelsql opened #18140 "Make Azure Data Studio accept more VS Code extensions."
While Azure Studio is best suited to work with SQL, it lacks all what VS Code brings to code editing, thorough extensions. Some examples: TODO highlight, Live Share.

[2022-01-22 13:48] DashGandhi opened #18142 "Drag & drop of table column name (or Columns) put columnname with schemname"
Issue Type: <b>Bug</b>

Dragging & dropping of individual ColumnName or all Columns of a Table from Connection Tab, it prepends the SchemaName to the ColumnName.
eg Dragging & dropping a ColumnName called VNo from a Table dbo.Sales, results in dropping "[dbo].[VNo]", instead of expected "[VNo]".

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-1

[2022-01-22 22:12] Charles-Gagnon commented on #18142
Duplicate of https://github.com/microsoft/azuredatastudio/issues/18004

[2022-01-22 22:12] #18142 closed

[2022-01-24 10:04] mjmhall1 opened #18143 "Connections not working after Azure AD user password reset"
Issue Type: <b>Bug</b>

I had to change my Azure AD password and since then I have had connection issues. I have removed and re added my account in Data Studio which has allowed me to create new query windows that work but still getting intermitent issues.

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT

[2022-01-24 19:06] pbbpage opened #18146 "I cannot sign into my SQL server using Azure Active Directory Auth"
Issue Type: <b>Bug</b>

I attempt to refresh credentials, the web page pops up and says that the account was successfully added, then I go to connect to my server and it says failure getting token and to look at the developer tools. When I open the developer tools, there isn't much additional information that is indicating what the problem is.

Azure Data Studio version: azuredatastudio 1.34.0 (83

[2022-01-24 22:08] alexbousquet commented on #12165
I created a PowerShell script (compatible with Windows and macOS) to automatically close ADS, delete the file(s) in the `Azure Accounts` directory, then relaunch ADS:

[code]

I'm gonna be adding it as a cmdlet to my local Azure module with the name `CompensateFor-AzureDataStudioInadequacies`.

[2022-01-24 22:46] alexbousquet commented on #18143
You haven't specified the error message you're receiving, but I wouldn't be surprised it if was related to #12165.

You can follow the steps over there, which worked for me when nothing else would. I just commented over there with a PowerShell script to automate the process.

[2022-01-25 03:18] MohammedAliHu opened #18152 "I could not connect with azuredatastudio after I installed it. what is the proplem?"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2022-01-25 09:16] Shivamd1 commented on #15717
Closing as issue fixed

[2022-01-25 09:17] Shivamd1 commented on #15732
Closing as issue not repro

[2022-01-25 09:23] Shivamd1 commented on #15735
Closing as not repro

![image](https://user-images.githubusercontent.com/60880975/150948145-1339b6f2-7cb9-4c9f-9297-1a2d152adb4f.png)

[2022-01-25 09:25] Shivamd1 commented on #15807
Closing as per new guidelines of link along with text announcement.

[2022-01-25 09:26] Shivamd1 commented on #15776
@candiceye the issue still repro in in latest azure data studio @Charles-Gagnon

![image](https://user-images.githubusercontent.com/60880975/150949009-d943a985-abab-4179-90b1-4f4a0f8fbfb2.png)

[2022-01-25 09:27] Shivamd1 commented on #15717
![image](https://user-images.githubusercontent.com/60880975/150949231-ca394bfe-9324-44cc-b4c4-4e3fc40bae6c.png)

[2022-01-25 09:27] Shivamd1 commented on #15732
![image](https://user-images.githubusercontent.com/60880975/150949286-63d5a050-b8b1-45a0-b42e-795d53da635d.png)

[2022-01-25 09:53] krrish2021 commented on #15741
@candiceye the issue still repro in in latest azure data studio @Charles-Gagnon Please reopen the bug
![Screenshot (177)](https://user-images.githubusercontent.com/85863543/150953845-0621a031-58b4-4050-82aa-cf7da4d467f3.png)

[2022-01-25 09:59] krrish2021 commented on #15750
Closing as not repro
![Screenshot (178)](https://user-images.githubusercontent.com/85863543/150954854-c5268e2a-43e9-4b31-89f0-58fd7c1ab99f.png)

[2022-01-25 10:09] krrish2021 commented on #15752
Name for the table is still not set.
@candiceye the issue still repro in in latest azure data studio @Charles-Gagnon Please reopen the bug
![Screenshot (179)](https://user-images.githubusercontent.com/85863543/150956633-132966aa-0e40-4246-bfa6-f054987e0221.png)

[2022-01-25 10:14] krrish2021 commented on #15755
Closing as not repro

[2022-01-25 10:17] krrish2021 commented on #15756
Closing as not repro
![Screenshot (180)](https://user-images.githubusercontent.com/85863543/150957934-15dd6012-9cce-4993-a375-e337cf8c95b2.png)

[2022-01-25 10:29] krrish2021 commented on #15757
@candiceye the issue can not be verified as the "Resource Health" control is not available in latest azure data studio @Charles-Gagnon Please reopen the bug.
![Screenshot (181)](https://user-images.githubusercontent.com/85863543/150959917-189a986d-bfc7-49f4-91bc-514b35ca769a.png)

[2022-01-25 10:35] krrish2021 commented on #15759
@nasc17 "Save" & "Discard" button should be present at the bottom of the page and not on top of the page so that after editing all the fields, the focus should shift to "Save" & "Discard" button. Please reopen the bug.

[2022-01-25 10:40] krrish2021 commented on #15760
@candiceye the issue can not be verified as the "pg1" control is not available in latest azure data studio @nasc17 Please reopen the bug.
![Screenshot (182)](https://user-images.githubusercontent.com/85863543/150961614-1e4e4e1a-aa19-47d9-b99a-e6af876d8c9c.png)

[2022-01-25 10:47] krrish2021 commented on #15768
Closing as not repro
![Screenshot (183)](https://user-images.githubusercontent.com/85863543/150962774-db9eb74e-4c3e-4b97-8611-9ba92c1e7b05.png)

[2022-01-25 10:50] krrish2021 commented on #15769
@candiceye the issue can not be verified as the "pg1" control is not available in latest azure data studio @nasc17 Please reopen the bug.
![Screenshot (182)](https://user-images.githubusercontent.com/85863543/150963293-2e4b79f8-f3d7-40b2-ad7b-efd7d86ca7e6.png)

[2022-01-25 10:58] krrish2021 commented on #15808
Closing as not repro
![Screenshot (185)](https://user-images.githubusercontent.com/85863543/150964397-64a94c3a-7c7f-4a47-b561-ef9be14d3fab.png)

[2022-01-25 10:59] krrish2021 commented on #15805
Closing as not repro

[2022-01-25 11:43] krrish2021 commented on #15751
Closing as not repro
![Screenshot (188)](https://user-images.githubusercontent.com/85863543/150970852-fdd28f84-d037-4a31-9210-6e96d7b4ff21.png)

[2022-01-25 11:52] krrish2021 commented on #15753
Closing as not repro
![Screenshot (189)](https://user-images.githubusercontent.com/85863543/150972171-eb8218a0-a535-4c31-aeaa-b2350e33cf4f.png)

[2022-01-25 12:04] Shivamd1 commented on #15728
![image](https://user-images.githubusercontent.com/60880975/150973644-e8f94cbc-049f-41ee-a7c9-c643baec6c5f.png)

[2022-01-25 12:04] Shivamd1 commented on #15728
Closing not repro

[2022-01-25 12:04] Shivamd1 commented on #15715
closing not repro
![image](https://user-images.githubusercontent.com/60880975/150973803-d5fae333-89db-4c00-8941-61b344e9a316.png)

[2022-01-25 12:04] Shivamd1 commented on #15729
closing not repro

![image](https://user-images.githubusercontent.com/60880975/150973475-a9ae6201-54a0-468b-be57-03b492a8df66.png)

[2022-01-25 12:06] krrish2021 commented on #15804
Closing as not repro
![Screenshot (190)](https://user-images.githubusercontent.com/85863543/150974145-55745965-8f2c-4328-8e38-7234df211a3d.png)

[2022-01-25 12:16] fsteffi commented on #15803
this bug can be closed ad per the above comment

[2022-01-25 12:17] krrish2021 commented on #15803
Closing as not repro
![Screenshot (191)](https://user-images.githubusercontent.com/85863543/150975452-77c7b399-136a-4e98-a5c1-c662f0cb3b64.png)

[2022-01-25 19:25] Charles-Gagnon commented on #18152
Can you please provide more information about your issue? Are you getting any errors and what steps are you taking that aren't working as you expect.

[2022-01-25 19:49] #18070 closed

[2022-01-25 20:14] kburtram opened #18154 "Columns of type 'hierarchyid' display incorrectly as unicode strings"
Repro steps:
1. Select a column of type hierarchyid.  For example from the Employee table in AdventureWorks.

Expected: Value displayed as hex value.

Actual: Value displayed as unicode string.

![image](https://user-images.githubusercontent.com/599935/151041644-8d72ec88-ace1-4ddf-903d-fe5f87cbb3a8.png)

[2022-01-25 20:37] MatthiasMT opened #18155 "Cannot Connect to Different SQL Instances on the Same Windows Server 2019"
- Azure Data Studio Version: 1.34.0
- OS Version: POP OS

Steps to Reproduce:

1. Have an On-Prem SQL Server With Multiple Instances
2. Attempt to connect to instance example: Hostname\NewInstance
3. The Following error occurs: ![Screenshot from 2022-01-25 21-35-37](https://user-images.githubusercontent.com/13175677/151055490-e5055d45-f41a-4d72-a3f4-2886a826d677.png)

Notes:
**Keep in mind connect

[2022-01-25 20:41] MatthiasMT commented on #18155
Nevermind found the issue: if using AD follow this: There should be service principal names (SPNs) registered for each instance of SQL Server you're trying to connect to. For more information, see Register a Service Principal Name for Kerberos Connections. OR login using an SQL Login Account

[2022-01-25 20:41] #18155 closed

[2022-01-25 23:10] DDoutel opened #18158 "SIMPLE, easily installed, well-documented notebook EXPORT functionality."
Just as the title says; add-on support for notebook export functionality is poorly documented in terms of both installation and use. This is the one thing keeping me from using ADS over SSMS. I need to get work done, not spend hours pouring over outdated internet articles about how to install notebook export functionality that should have been native to ADS, not an addon.

[2022-01-26 00:38] Charles-Gagnon commented on #18062
FYI @barbaravaldez I started looking at this since I had some context in this area - I have a solution that fixes it for file paths but am still working through having it be able to handle the other types of images we can have (embedded + web links). I'll update if I figure anything more out - or if you want to take a crack at it I can share what I have so far.

[2022-01-26 07:15] kmalyszka commented on #13931
I have the same problem. When can we expect a fix?

[2022-01-26 11:53] rfkint opened #18162 "Linked Account opens localhost"
Issue Type: <b>Bug</b>

When i Add an account for Azure, it routes me to :
https://localhost:55041/signin?nonce=8iqJFEplhzjVYNRJbqr4+w==

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core

[2022-01-26 17:32] #18162 closed

[2022-01-26 19:12] claudiosvcc opened #18164 "Notebook extension ordering is not accurate"
I noticed this issue expressed in two different ways.
E.g., I have folders
A
B
C

Each folder has a Jupyter Notebbok named as its folder.
However, on C folder, Jupyter Notebook is named as A2 instead.

In the extension it shows as
A
B
A2

Expected:
A
A2
B

A separate way of seeing the same issue is by using subfolders.
Let's say on the same example above, A has only a Subfolder with a notebook nam

[2022-01-26 19:18] Charles-Gagnon commented on #18164
From the context this seems to be for the Notebooks (Jupyter Book) view - is that correct?

Could you include the TOC yaml (or even the full book if possible)? That would help greatly with understanding what the issue is.

[2022-01-26 21:08] Charles-Gagnon opened #18165 "Add SQL binding connection string has sqlops Application Name"
1. Add SQL binding to an existing Azure Function
2. Choose "select connection" and select a connection from the list

The connection string is added successfully but it has the `Application Name` field set to `sqlops-connection-string`. While this doesn't really break anything it isn't accurate and shouldn't be included in this context.

![image](https://user-images.githubusercontent.com/28519865/

[2022-01-26 21:12] Charles-Gagnon opened #18166 "Add SQL binding connection string doesn't include password"
1. Add SQL binding to an existing Azure Function
2. When prompted choose "Select Connection" and select a connection that uses SQL auth

The connection string is added successfully, but the password is set to ****** so it can't be used until the user updates it. (even if the password is saved)

There are a couple potential things we could do here to make the experience better :

1. Warn the user t

[2022-01-26 21:25] #18097 closed

[2022-01-26 21:37] VasuBhog commented on #18165
This seems to be due to what we get back from STS, so that change would need to be made there.

[2022-01-27 14:24] feng-xiao opened #18173 "Can't open 'Edit Data' from a table in SQL server instance"
Issue Type: <b>Bug</b>

- Right click on a table from 'Connections' -> SQL Servers -> Select a table from any database
- Choose 'Edit Data' from the context menu
- Error occurred: An unexpected error occurred while connecting. Please file an issue with the title 'Unexpected Error Occurred while Connecting' and include the log file

Stacktrace:
[2022-01-27 09:13:42.090] [renderer1] [error] Unexpect

[2022-01-27 18:42] svsr99 opened #18175 "Unable to list Oracle Schema details after connecting"
Issue Type: <b>Bug</b>

Added new Oracle db connecton after adding Oracle extension. When trying to expand schema, an error pops-up as "Index was outside the bounds of the array." and unable to proceed further.

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:50:08.229Z)
OS version: Darwin x64 21.2.0
Restricted Mode: No

<details>
<summary

[2022-01-27 21:34] fmartinezf74 opened #18179 "Can add filters when comparing databases such as object schema"
Can add a filter section when compare?
When database have to many objects, and i only wants to compare some objects using schema. Not always wants compare al database objects.
For example, i have serveral schemas y i only wants compare Kaysch stored procedures or just tables changes

The feature a like can add its a filters, in the options section, a tab with filters like schema, maybe filter by d

[2022-01-27 23:00] #18062 closed

[2022-01-28 00:05] #18002 closed

[2022-01-28 00:30] joeyjiron06 commented on #13936
still not working for me, i tried everything mention above and still not working. when can this get fixed?

[2022-01-28 15:20] SreekanthcGitHub opened #18183 "Migrate to Azure wizard hanging on list databases"
- Azure Data Studio Version: 1.34.0
- OS Version:  Windows 2012 R2
-  Azure SQL Migration extension has been installed on Azure Data Studio
- Issue
-  I am not able to list the databases of source ( Step2) in migrate to azure SQL wizard- it just hung there , I uninstalled/restart the node/resinstalled the azure studio and tried but the issue remains.
- FYI :- I have approximately 1000 databases on

[2022-01-28 17:33] Charles-Gagnon commented on #18183
@brian-harris @rchlkm

[2022-01-28 20:58] Donald42 commented on #3705
I'm experiencing the same bug:

Version: 1.34.0
Commit: 83a4316cf89cbf961a0f09a72c861379cfd01fa9
Date: 2021-12-15T20:44:12.556Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Linux x64 5.15.5-76051505-generic

[2022-01-28 22:10] MichaelAllenMiller commented on #6295
Is there a setting that I can use to disable this feature?

[2022-01-28 23:31] tmorell opened #18186 "Notebook extension failing on Mac M1"
- Azure Data Studio Version: 1.34.0 and 1.35.0-insider
- OS Version: macOS Monterey 12.1 and 12.2

Steps to Reproduce:

1. Unzip azuredtastudio-macos-1.xx.x.zip
2. Copied app to Applications folders.
3. Launched app and granted execute access.
4. Buttons to open or create a book do not work. No error message or information.
5. shift + cmd + p: `Jupyter Books: Create Jupyter Book` throws the follow

[2022-01-29 01:49] #15741 closed

[2022-01-29 04:11] chlafreniere commented on #18186
@barbaravaldez can you think of why this may be happening on M1?

[2022-01-30 06:44] barbaravaldez commented on #18186
Hi @tmorell, thanks for filing an issue. Do you see a similar error when trying to open notebooks in ADS?

Also, it would be very helpful if you could provide application and console logs to see what could be causing the issue.

[2022-01-30 06:52] barbaravaldez commented on #18186
@chlafreniere from the title, I think there might be an issue with the initialization of the notebooks extension, since the opening jupyter notebooks command is failing as well.

[2022-01-31 10:29] richard-ob commented on #8684
I get this error on Ubuntu also. I migrated my existing DB from Azure to an Ubuntu VPS, and get these errors intermittently in production applications, maybe once an hour on queries that had never previously failed. There seems to be little info out there unfortunately.

[2022-01-31 11:42] krrish2021 commented on #15741
Issue is fixed and it does not repo.
![Screenshot (214)](https://user-images.githubusercontent.com/85863543/151787831-503590be-c5c9-4851-8207-b27e42121904.png)

[2022-01-31 17:42] Charles-Gagnon commented on #18158
@DDoutel Can you explain more what this "Notebook export functionality" you're trying to use is? Exporting results from Notebooks is a core feature and shouldn't require any addons and I'm not aware of any extensions that add any sort of exporting type functionality in ADS.

[2022-01-31 17:42] #18152 closed

[2022-01-31 17:43] Charles-Gagnon commented on #18146
@cssuh This seems similar to the other AAD issues we have - could you close this and link to the main tracking issues if so?

[2022-01-31 17:44] Charles-Gagnon commented on #18143
@mjmhall1 Did the instructions linked help you at all?

[2022-01-31 17:45] Charles-Gagnon commented on #18143
@cssuh FYI - have you had a chance to add that process to our wiki yet?

[2022-01-31 17:50] Charles-Gagnon commented on #18140
I'm going to close this as it lacks any concrete information on what we don't support that is needed.

If you haven't already - you should try manually installing the VS Code extensions you want (download VSIX -> File -> Install extension from VSIX package). Many VS Code extensions will work just fine without any changes being needed.

If any don't work for some reason then please open separate is

[2022-01-31 17:50] #18140 closed

[2022-01-31 17:51] Charles-Gagnon commented on #18107
@JustinMDotNet @qifahs FYI

[2022-01-31 17:52] #17962 closed

[2022-01-31 17:52] #17941 closed

[2022-01-31 17:53] Charles-Gagnon commented on #18175
@nahk-ivanov - Do you have a public repo that we can have Oracle extension bugs moved to?

[2022-01-31 18:34] nahk-ivanov commented on #18175
Not yet. I plan to look into it in the near future. Feel free to assign these to myself in the interim.

cc @benrr101

[2022-01-31 20:36] dzsquared commented on #18166
I'd prefer not option 3, as we'd be pulling the password into an easily-accessible plain text file.

[2022-01-31 23:45] corivera commented on #17829
I currently have basic C# notebooks working for .dib files. I need to do a couple of other things still:

- [ ] Enable creating new notebooks from .NET Interactive
- [ ] Fix kernel routing issues when using .NET Interactive in .ipynb files (i.e. commands are being incorrectly routed through our jupyter provider)
- [ ] Enable language coloring for .NET Interactive cells

[2022-01-31 23:49] corivera commented on #17829
@chlafreniere Should I be putting all these new features behind a preview flag?

[2022-02-01 03:09] tmorell commented on #18186
Thanks for the prompt response. These are the log files:

[logs-folder.zip](https://github.com/microsoft/azuredatastudio/files/7975626/logs-folder.zip)
[console.log](https://github.com/microsoft/azuredatastudio/files/7975627/console.log)

[2022-02-01 07:50] mjmhall1 commented on #18143
I managed to get my connection working by going to the user icon and removing my linked account, then restarting data studio and reentering my linked account details.

[2022-02-01 12:59] SheldonHage opened #18193 "Query results seldom return"
Issue Type: <b>Bug</b>

Rarely do query results return.   Sometimes query results for one query appear in window for other queries.   Sometimes the results of a SELECT * 1000 being back incomplete columns and wrang data in each column

Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:50:08.229Z)
OS version: Darwin x64 21.2.0
Restricted Mode

[2022-02-01 13:50] eat-sleep-code commented on #392
Do we have an ETA on when this will be resolved?   It seems 4 years as rather long time for this to be left open.   @microsoftopensource @microsoft

[2022-02-01 15:35] rkhjjs commented on #16954
I too have exactly this problem.  CI cannot use any version newer than 1.28.0-1618447983.el7.

[code]

[2022-02-01 18:16] Charles-Gagnon commented on #18143
Thanks for the update, glad things are working again for you. I'll close this now since the issue seems to be resolved - we'll keep working on tracking down these problems to avoid needing to do this again in the future though!

[2022-02-01 18:16] #18143 closed

[2022-02-01 19:12] cssuh commented on #17836
this is a duplicate of https://github.com/microsoft/azuredatastudio/issues/12637

[2022-02-01 19:12] #17836 closed

[2022-02-01 21:35] cssuh commented on #17092
closing for duplicate of https://github.com/microsoft/azuredatastudio/issues/14159

[2022-02-01 21:35] #17092 closed

[2022-02-01 23:09] chlafreniere commented on #18164
Hey @barbaravaldez assigning this to you. If you could take a look, would be fantastic.

[2022-02-01 23:14] chlafreniere commented on #17858
@lucyzhang929 I can't repro this right now. Can you see if you still can?

[2022-02-01 23:45] lucyzhang929 commented on #17858
I am no longer able to repro this as well - will close the issue.

[2022-02-01 23:45] #17858 closed

[2022-02-02 01:28] TopperKain opened #18198 "Cannot connect to Synapse SQL behind Private Endpoint"
We have written the needed data into your clipboard because it was too large
Issue Type: <b>Bug</b>

I have setup an Azure Synapse instance with public access disabled and connected and its dedicated SQL instance to a vnet via a private endpoint.

My development machine is connected to the same VNET via an Azure point-to-site gateway.

I've added private DNS entries to my machine via the HOSTS fil

[2022-02-02 02:32] jonathbil commented on #15263
Any update on that bug, without a fix we need to continue using SMSS instead of Azure Data Studio

[2022-02-02 02:48] haydnlj commented on #7440
In case it isn't clear to the devs, this problem that has persisted for several years now essentially makes the ADS tool unusable a significant percentage of the time. Simple queries can take from 1 to 3 minutes to begin executing (i.e. after initiating execute with either mouse or keyboard shortcuts, the time counter stays at 00:00:00 for several minutes before starting).
Literally greater than 5

[2022-02-02 03:16] romanovmv commented on #7440
@haydnlj I’m with you here. Every time you start running queries again the remote server where the ping is high you actually spend more time waiting on the query to start executing rather than doing useful work.

The cause of the issue is described here https://github.com/microsoft/azuredatastudio/issues/7440#issuecomment-580369675 and it’s obvious that intellisense is blocking the execution, but

[2022-02-02 04:06] abist commented on #15263
@jonathbil, I'll take a look into this for our next release!

[2022-02-02 11:15] peteryates commented on #12637
On Windows machines the steps I take are:

* navigate to `%AppData%`\azuredatastudio\Azure Accounts
* delete `azureTokenCache_azure_publicCloud`
* open Azure Data Studio and reconnect

[2022-02-02 11:47] artar94 commented on #832
Its still present in
Version: 1.34.0 (system setup)
Commit: 83a4316cf89cbf961a0f09a72c861379cfd01fa9
Date: 2021-12-15T20:47:33.863Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19044

[2022-02-02 13:40] mdsharpe commented on #3270
Happens to me, version 1.34.0.

Heading back to SSMS for now I guess.

[2022-02-02 19:24] chlafreniere commented on #17367
@lewis-sanchez are you still looking into this, or has the test been disabled?

[2022-02-02 19:49] SarawutAutchan opened #18203 "guard"
Issue Type: <b>Feature Request</b>

Default Directory

Extension version: 1.8.0
Azure Data Studio version: azuredatastudio 1.34.0 (83a4316cf89cbf961a0f09a72c861379cfd01fa9, 2021-12-15T20:47:33.863Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No