[2021-09-10 19:25] #4434 closed

[2021-09-10 19:27] kburtram commented on #4573
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/28.  Thanks for opening this feature suggestion!

[2021-09-10 19:27] #4573 closed

[2021-09-10 19:28] #4193 closed

[2021-09-10 19:28] #4578 closed

[2021-09-10 19:31] kburtram commented on #4934
We've added the ability to filter the query results.  We decided against sorting the table, and would recommend to use the `ORDER BY` clause in the query for that functionality.  Thanks for opening this suggestion!

[2021-09-10 19:31] #4934 closed

[2021-09-10 19:32] kburtram commented on #4966
Closing older engineering task issues.  Please reactivate or open a new issue if you're still tacking something here.

[2021-09-10 19:32] #4966 closed

[2021-09-10 19:32] kburtram commented on #5122
Closing based on previous comment.  Thanks!

[2021-09-10 19:32] #5122 closed

[2021-09-10 19:33] #5000 closed

[2021-09-10 19:34] #5279 closed

[2021-09-10 19:35] #5713 closed

[2021-09-10 19:36] #5794 closed

[2021-09-10 19:36] #6079 closed

[2021-09-10 19:36] #6090 closed

[2021-09-10 19:39] #6195 closed

[2021-09-10 19:39] #6224 closed

[2021-09-10 19:39] kburtram commented on #6296
Closing based on previous comment.  Thanks!

[2021-09-10 19:39] #6296 closed

[2021-09-10 19:40] kburtram commented on #17045
Duplicate of https://github.com/microsoft/azuredatastudio/issues/17033

[2021-09-10 19:40] #17045 closed

[2021-09-10 19:43] kburtram commented on #6410
The `Run Current Query` command executes the SQL statement where the cursor is currently located, and can be mapped to a keyboard shortcut if desired.  Please let us know if this doesn't address this suggestion.  Thanks!

[2021-09-10 19:43] #6410 closed

[2021-09-10 19:45] #6243 closed

[2021-09-10 19:46] kburtram commented on #7032
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/282.  We are beginning work on this feature.

[2021-09-10 19:46] #7032 closed

[2021-09-10 19:47] kburtram commented on #6793
We are using the terminal unmodified from vscode.  Please log this enhancement against that repo if you are still impacted by this issue.  Thanks!

[2021-09-10 19:47] #6793 closed

[2021-09-10 19:47] #6913 closed

[2021-09-10 19:49] kburtram commented on #7086
Closing older issues without recent repro reports.

[2021-09-10 19:49] #7086 closed

[2021-09-10 19:50] kburtram commented on #7490
Closing older extension API bugs.  Please log a customer-facing bug for the impacted scenario, or reactive if you are planning to address in an upcoming release.

[2021-09-10 19:50] #7490 closed

[2021-09-10 19:51] kburtram commented on #7452
Closing older engineering task issues.  Thanks!

[2021-09-10 19:51] #7452 closed

[2021-09-10 19:53] kburtram commented on #8237
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/16001.  Thanks for opening this suggestion!

[2021-09-10 19:53] #8237 closed

[2021-09-10 20:14] caohai commented on #13796
@Rohansi Yes the fix is currently only scoped to query editor as it's the most common scenario people get this issue. We are currently looking into other parts as well and I will be creating issues for those soon.

[2021-09-10 20:18] mrlife commented on #6410
@kburtram That is awesome! It looks like it has a default keyboard shortcut defined for macOS, command-F5, but it conflicts with a system-level shortcut that brings up VoiceOver. I can change it (thanks for the tip!) but it may be useful for others if the default is changed.

[2021-09-10 20:31] caohai opened #17047 "AAD Token expiration issues"
This is a mega issue for tracking AAD token expiration related issues in ADS.
Note that this is about access token (expires in 1 hour by default) not refresh token.

TODO add impacted components such as notebook/object explorer/etc

[2021-09-10 21:11] kburtram commented on #6999
Closing as upstream based on previous comment.  Thanks for opening this suggestion!

[2021-09-10 21:11] #6999 closed

[2021-09-10 21:16] kburtram commented on #8391
I'm going to close as out of scope since our icons are provided from our UX team periodically as they want to refresh branding, etc.  For what it's worth, the icon doesn't look so washed out on my machine (as far as I can tell).  Thanks for opening this suggestion!

![image](https://user-images.githubusercontent.com/599935/132918510-16f25474-975c-4161-bdf5-73beeec733d3.png)

[2021-09-10 21:17] #8391 closed

[2021-09-10 21:18] #8515 closed

[2021-09-10 21:20] kburtram commented on #8605
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/5139.  I believe we made the scrollbars larger since this issue was created but we'll double-check as part of resolving #5139.

[2021-09-10 21:20] #8605 closed

[2021-09-10 21:22] kburtram commented on #8725
We've added the `Edit Connection` menu item which is now between delete and disconnection.  Please let us know if you're still impacted by this issue.  Thanks!

[2021-09-10 21:22] #8725 closed

[2021-09-10 21:23] #8728 closed

[2021-09-10 21:26] #8830 closed

[2021-09-10 21:28] kburtram commented on #8898
vscode tasks are supported in the latest ADS builds.  SQL Project support is available through the related extension.  Thanks!

[2021-09-10 21:28] #8898 closed

[2021-09-10 21:31] kburtram commented on #9360
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/94.  Thanks for opening the suggestion!

[2021-09-10 21:31] #9360 closed

[2021-09-10 21:33] kburtram commented on #9391
Closing older engineering issues.  Please reactive if you're still using this to track this work.

[2021-09-10 21:33] #9391 closed

[2021-09-10 21:35] kburtram commented on #9380
The Connection Dialog is no longer shown on startup.  Thanks!

[2021-09-10 21:35] #9380 closed

[2021-09-10 21:41] kburtram commented on #9517
We've redesigned the UX for the Recent Connections since this issue was opened.  Please let us know if you have any suggestions on the current UX.  Thanks!

[2021-09-10 21:41] #9517 closed

[2021-09-10 21:46] kburtram commented on #9764
Closing based on the previous comment.  Thanks for opening this suggestion!

[2021-09-10 21:46] #9764 closed

[2021-09-10 21:48] kburtram commented on #10190
Closing based on the current comment.  Thanks for the suggestion!

[2021-09-10 21:48] #10190 closed

[2021-09-10 21:54] alanrenmsft commented on #17030
also consider this issue opened by @brian-harris : https://github.com/microsoft/azuredatastudio/issues/16445, a major issue with the declarative table component is it is not virtualized, all the items are directly added to the DOM tree, if there are too many of them, it will hang or crash as described in it.

the sorting feature requested in the issue isn't that useful if there are only small numb

[2021-09-10 21:59] kburtram commented on #10331
Closing based on the previous comment.  Adding this natively into ADS is out of scope but the above vscode extension should work in ADS.  Thanks for opening this suggestion!

[2021-09-10 22:01] #11044 closed

[2021-09-10 22:01] themuniz commented on #10331
Actually, the most recent version of ADS is refusing to install the VSIX for the vim extension (at least on a mac). The windows version (for some reason) can upgrade with the extension working. The mac ADS is a fresh install.

[2021-09-10 22:03] kburtram commented on #11682
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/282, as I assume by Column Edit you mean editing the column definitions of a table.  Please let me know if there is a different functionality you're referring to.

[2021-09-10 22:03] #11682 closed

[2021-09-10 22:04] kburtram commented on #11735
Closing engineering-focused issues to focus on customer-facing issues.  Please log bugs for the particular scripting functionality that would be improved by working on this issue.  Thanks!

[2021-09-10 22:04] #11735 closed

[2021-09-10 22:05] kburtram commented on #11787
This looks like a duplicate of https://github.com/microsoft/azuredatastudio/issues/282 and https://github.com/microsoft/azuredatastudio/issues/94.  Thanks for opening this suggestion!

[2021-09-10 22:05] #11787 closed

[2021-09-10 22:08] kburtram commented on #12015
We have discussed several different ADS web scenarios, including portal integration and a "codespaces"-like service.  But nothing concretely is planned.  I'm going to close as out of scope since any future web-based offering wouldn't be a Portal Blade but some other type of service.  Thanks opening this suggestion!

[2021-09-10 22:08] #12015 closed

[2021-09-10 22:12] kburtram commented on #12770
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/52.  Thanks for opening this suggestion!

[2021-09-10 22:12] #12770 closed

[2021-09-10 22:13] #12412 closed

[2021-09-10 22:14] kburtram commented on #12253
Closing engineering-focused tasks to focus on customer-facing issues.  Please open an issue for the customer bug impacted by this issue.  Thanks!

[2021-09-10 22:14] #12253 closed

[2021-09-10 22:15] kburtram commented on #12923
Closing older API level bugs to focus on customer-facing bugs.  Please open a bug against the dialog that is impacted by this API issue.  Thanks!

[2021-09-10 22:15] #12923 closed

[2021-09-10 22:16] kburtram commented on #13005
Closing as upstream since copy/paste behavior is entirely from vscode.  Please log bug on that repro if you're still impacted by this issue.  Thanks!

[2021-09-10 22:16] #13005 closed

[2021-09-10 22:20] kburtram commented on #13782
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/282.  We are starting work on this feature currently and it should be available in the next several months.  Thanks!

[2021-09-10 22:20] #13782 closed

[2021-09-10 22:24] kburtram commented on #14725
Closing as out of scope.  We don't track improvements to this content on this repro.  Please see if there is a place to provide feedback whether the problematic content is hosted.  I don't really have context on what is being referred to specifically here.  Thanks!

[2021-09-10 22:24] #14725 closed

[2021-09-10 22:30] kburtram commented on #3625
Closing older issues.  Please let me know if you are still impacted by this issue.  Thanks!

[2021-09-10 22:30] #3625 closed

[2021-09-10 22:31] kburtram commented on #5610
Closing older engineering-focused tasks.

[2021-09-10 22:31] #5610 closed

[2021-09-10 22:31] kburtram commented on #10157
Closing older engineering-focused tasks.

[2021-09-10 22:31] #10157 closed

[2021-09-10 22:32] kburtram commented on #8945
Closing older engineering task issues.  Please reactive if you're still using this to track some upcoming work.

[2021-09-10 22:32] #8945 closed

[2021-09-10 22:32] kburtram commented on #9242
Closing older engineering-focused tasks.

[2021-09-10 22:32] #9242 closed

[2021-09-10 22:33] kburtram commented on #9372
Closing older engineering-focused tasks.  Please reactive if this is tracking work that is planned for the near/medium term.

[2021-09-10 22:33] #9372 closed

[2021-09-10 22:34] kburtram commented on #8535
Closing older engineering tasks to focus on customer facing issues.  Please reactive if this issue is tracking upcoming planned work.

[2021-09-10 22:34] #8535 closed

[2021-09-10 22:34] kburtram commented on #8028
Closing older engineering tasks to focus on customer facing issues.  Please reactive if this issue is tracking upcoming planned work.

[2021-09-10 22:34] #8028 closed

[2021-09-10 22:34] kburtram commented on #7174
Closing older engineering tasks to focus on customer facing issues.  Please reactive if this issue is tracking upcoming planned work.

[2021-09-10 22:34] #7174 closed

[2021-09-10 22:34] kburtram commented on #10109
Closing older engineering tasks to focus on customer facing issues.  Please reactive if this issue is tracking upcoming planned work.

[2021-09-10 22:34] #10109 closed

[2021-09-10 22:35] #9734 closed

[2021-09-10 22:36] kburtram commented on #8734
Closing older issues without recent repro reports.  Please let us know if you're still impacted by this issue.

[2021-09-10 22:36] #8734 closed

[2021-09-10 22:37] kburtram commented on #7281
Closing older engineering task issues.  Please reactive if this is tracking work you'll be picking up in the near/medium term.

[2021-09-10 22:37] #7281 closed

[2021-09-10 22:42] kburtram commented on #11105
Closing older issues without recent interaction.  Please reactive if you're still seeking feedback on this preview.

[2021-09-10 22:42] #11105 closed

[2021-09-10 22:43] kburtram commented on #11190
Closing older engineering-focused issues.  Please reactive if this is still tracking planned work.

[2021-09-10 22:43] #11190 closed

[2021-09-10 22:46] kburtram commented on #13058
Closing older engineering focused issues.  Please reactive if this is still tracking planned work.

[2021-09-10 22:46] #13058 closed

[2021-09-10 22:47] kburtram commented on #11717
Closing older engineering focused bugs.  Please reactive if this is tracking upcoming planned work.

[2021-09-10 22:47] #11717 closed

[2021-09-10 22:48] kburtram commented on #10534
Closing older issues.  This doesn't appear to changes to the product to support this.  As a process change this is better discussed in shiproom meeting.

[2021-09-10 22:55] chlafreniere commented on #13655
Closing old issue since it likely won't meet our bar to fix anytime soon and should be a corner case (tab is converted into ```>``` in md)

[2021-09-10 22:55] #13655 closed

[2021-09-10 22:56] kburtram commented on #10331
@themuniz it looks like the most recent VIM extension doesn't work on the most recent stable ADS due to the version of vscode we're forked from in that build.  You can use the ADS insider build with is on vscode 1.58.0 vscode source and is compatible with VIM extension.  Or try to find an older version of VIM extension that is compat with 1.56.0.

Since this isn't "officially supported" (like a bu

[2021-09-10 22:56] #10331 closed

[2021-09-11 00:31] jcosmo commented on #3410
Apologies, I missed your query on the 2nd of August.
This is fixed now, it was the bug in 1.31.0 that you referred to, and upgrading to 1.31.1 fixed it.

[2021-09-11 01:30] MsSQLGirl commented on #15277
Got it. Thanks for sharing it @JosNun.
Technically, there is a way to connect to the AppInsights data from Log Analytics workspace. (caveat: I've only used this a couple of times).

1. From Azure Portal, navigate to your App Insights resource.
2. Click on the workspace link on the App Insights resource (on the Overview page).  This will help navigate you to the Log Analytics workspace associated t

[2021-09-11 15:02] mikewo commented on #8725
This looks like it will work just fine. Thanks!

[2021-09-11 21:42] jacksonhoyt opened #17056 "Parse Error when executing FOR JSON"
- Azure Data Studio Version: 1.32.0
- OS Version: macOS Catalina version 10.15.7

Steps to Reproduce:

1. Install latest version of Azure Data Studio

Commit: 4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e
Date: 2021-08-16T18:09:20.282Z
VS Code: 1.56.0
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 19.6.0

2. Run simple Select statement followed by FOR J

[2021-09-12 00:50] Kanmuri commented on #6763
Running version 1.32.0, I just got this error again:
![image](https://user-images.githubusercontent.com/9996449/132967004-05085e84-869e-4829-83a1-a9acdd73d072.png)

I was just closing several saved tabs I no longer needed open and when I closed the last of them, it switched to one of my unsaved tabs and that tab crashed. This is with SQL Server. I believe the unsaved tab is one I hadn't looked at

[2021-09-12 09:39] datauduong commented on #1888
Thank you, all working as expected.

[2021-09-13 06:59] AtlasRoark commented on #8964
Also needed is ability to have the results appear on  a separate monitor. Have to constantly hit ctrl-R to hide/unhide results.  see [https://github.com/microsoft/azuredatastudio/issues/17043](url)

[2021-09-13 07:09] peterlukerow commented on #2061
Can you give a little explanation of how you review closed items. I would think that you surely have thousands of closed items and that list is ever growing.

Also, what is the point of both Azure Data Studio and SQL Management Studio? One is cross platform the other is not. Why not scrap the latter and in doing so prioritise feature parity?

[2021-09-13 15:22] kburtram commented on #2061
@peterlukerow we view Azure Data Studio and SQL Server Management Studio as complementary tools and we're happy if customers are able to successfully complete their workflows with either tool (the same team maintains both tools).  We view the various tools ADS, SSMS, vscode-mssql, SSDT, CLI as primarily addressing different "role activities" with the realization that the same individual may perfor

[2021-09-13 15:33] kburtram commented on #4127
@alexhass thanks for following up!  I've changed the label to "Bug" to reflect your comment.  The installer behavior is coming from upstream VS Code design.  Please log this bug on our upstream repro and if they change this behavior we'll pick it up in ADS in a future source code refresh.

[2021-09-13 17:36] kburtram commented on #17056
@jacksonhoyt the error appears to be coming from the server during query execution.  When I run the same query against SQL Server 2019 it works successfully for me.  Do you have any additional repro steps that would be helpful to diagnosis the issue?  Such as, which version of SQL Server are you executing the query against, etc.?  Thanks!

![image](https://user-images.githubusercontent.com/599935/

[2021-09-13 17:39] kburtram commented on #16998
I'll close based on the previous comment.  Unfortunately the network issue will need to be resolved before connecting in ADS.  Thanks!

[2021-09-13 17:39] #16998 closed

[2021-09-13 17:40] kburtram commented on #17004
Closing based on previous comment.  Hopefully the suggested workaround works for you.  Thanks!

[2021-09-13 17:40] #17004 closed

[2021-09-13 17:52] hpourmahdi commented on #17004
this suggestion issue not working, it is the issue with handshake and tls version and not working with this issue
currently working on dbeaver to connecting to lagacy databases

[2021-09-13 19:09] lucyzhang929 opened #17061 "Notebook Views extensions field should not be saved to metadata if there are no views"
Steps to Reproduce:

1. Create a new notebook or edit an existing notebook
2. Save notebook
3. "extensions" field gets serialized to notebook metadata

[2021-09-13 20:04] CarlSargunar commented on #13731
Can I take a crack at this? Is this still an open issue?

[2021-09-13 20:10] kisantia commented on #13731
@CarlSargunar sure go for it! :)

[2021-09-13 20:16] CarlSargunar commented on #13731
Ok - I've got some time at the weekend, I'll have a go - thanks :-)

[2021-09-13 20:17] chlafreniere commented on #17061
@dhgrajeda can you look into this please? We shouldn't be serializing anything related to notebook views if a user opens a notebook, makes a change (in the editor), and saves it.

Thanks!

[2021-09-13 20:27] kisantia commented on #17020
@manfredwippel I'm unable to repro this locally. I tried adding a stored proc with '@' in the name and was able to open the file and build the project.
![image](https://user-images.githubusercontent.com/31145923/133151590-0b263964-6f92-4677-8317-cf5e160eb61b.png)

Can you please share a screenshot of ADS with the error?

[2021-09-13 20:34] nativeTexanATX opened #17062 "Closing Window of Running Query Doesn't Cancel Query on Server"
- Azure Data Studio Version: 1.33.0-insider
- OS Version: Darwin x64 20.6.0

Steps to Reproduce:

1. Open a new query window
2. Connect to SQL Server or Azure SQL DB instance
3. `SELECT @@SPID` to capture the session id
3. Run a long-running query
4. While query is running, close the query window
5. Connect to the SQL instance from Step 2
6. `sp_who2 @@SPID` from Step 3
7. Session is still run[nab

[2021-09-13 20:44] nativeTexanATX commented on #17062
I just tested the same scenario on Azure Data Studio 1.32.0; and this does also occur. In this case, I did as above with one small change: instead of the WAITFOR, I used a PRINT ...

[code]

Closed the window. From the Azure Query Editor (Preview), I ran the `sp_who` command for the SPID, and it alternates between 'RUNNABLE', 'RUNNING', and 'SUSPENDED'. Even closed the entire Azure Data Studio win

[2021-09-13 21:48] lucyzhang929 opened #17063 "Remove notebook from book using drag and drop in Notebooks panel"

[2021-09-13 22:12] stelth240 commented on #6763
@Charles-Gagnon I received the error again today, but I was doing something different than I have done in the past. I was dragging a tab from its own column back into the main tabs. I have attached the stack trace screenshot and the console log. Thanks!

[Console Log 2021-09-13.log](https://github.com/microsoft/azuredatastudio/files/7157600/Console.Log.2021-09-13.log)

![image](https://user-images

[2021-09-13 22:36] chlafreniere opened #17066 "Notebook Editing: Dragging notebook/section to current section should be no-op"
If you have a notebook (or section) and drag it under whatever section it's currently under, that notebook/section will be moved to be the last notebook/section. Instead, this should be a no-op and nothing is moved.

[2021-09-14 01:10] chlafreniere commented on #8988
We've since made improvements to this flow, and make it much more clear which package(s) are installed, and which versions are currently installed.

[2021-09-14 01:10] #8988 closed

[2021-09-14 01:16] chlafreniere commented on #10528
We have a few smoke tests that cover this scenario already. Closing old issue.

[2021-09-14 01:16] #10528 closed

[2021-09-14 01:23] chlafreniere commented on #9899
Tracked by #4536. Closing this issue as a result.

[2021-09-14 01:23] #9899 closed

[2021-09-14 01:23] chlafreniere commented on #11771
Tracked by #4536. Closing this issue as a result.

[2021-09-14 01:23] #11771 closed

[2021-09-14 01:31] chlafreniere commented on #4958
Closing this, given the ongoing API compat work, which will render this n/a.

[2021-09-14 01:31] #4958 closed

[2021-09-14 02:56] chlafreniere commented on #17016
@MaddyDev is this something that you can look at as well?

[2021-09-14 04:34] dhgrajeda commented on #17061
Will do!

[2021-09-14 06:55] manfredwippel commented on #17020
![image](https://user-images.githubusercontent.com/33145253/133209873-0c7c49db-c108-44a1-b5eb-43a6a7369774.png)

[2021-09-14 07:02] manfredwippel commented on #17020
The project was reverse engineered from a database with SSDT 4 years ago and the @ was automatically replaced with %40 in the project file.  It works fine in Visual Studio.

Newly added procedures are added without encoding (@ instead of %40).
I could simply search and replcace %40 with @ in the project file.

[2021-09-14 08:28] peterlukerow commented on #2061
In that case since both tools are maintained by the same team then please in SSMS:
* Finish off and officially support dark mode rather than requiring users to hack a config file with context menus that are not accessible due to colour contrast.
* Improve intellisense so that it is as fast and good as Azure Data Studio.
* Improve dialogs to be more modern and responsive (I'm looking at you restore

[2021-09-14 09:00] thejokenott opened #17075 "The export buttons disappeared from the query results (Mac)"
Issue Type: <b>Bug</b>

1) Select File > New Query
2) Write your favorite SELECT statement
3) Execute the statement
4) There should be Export to Excel and Export to CSV buttons next to the query results, as they used to be before the 1.32.0 release. These are nowhere to find now.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:09:20.282Z)

[2021-09-14 14:09] lucyzhang929 opened #17076 "Dragging Book section into subsection causes section to disappear"
This probably won't happen very often but if a user accidentally drags a section into its own subsection, the entire section will disappear.
https://user-images.githubusercontent.com/23462877/133272777-c315920d-d4c2-4058-9956-0992ae565a05.mov

[2021-09-14 14:31] rexxmagnus opened #17077 "Schema compare finds no differences"
Issue Type: <b>Bug</b>

Opening two azure databases and comparing (with known changes) results in no differences found. I'm not sure whether it makes a difference, but I recently had to run the following commands on our databases to mitigate an (apparently known) issue that caused crashes:
ALTER DATABASE SCOPED CONFIGURATION SET INTERLEAVED_EXECUTION_TVF = OFF
dbcc freeproccache
dbcc freesystemcac

[2021-09-14 14:44] jacksonhoyt commented on #17056
@kburtram I am attempting to execute the query against an Azure SQL Data Warehouse version 10.0.13582.0

The query seems to execute successfully in Azure Portal's Query Editor (preview), just not when I connect via Azure Data Studio.

[2021-09-14 16:54] chlafreniere commented on #7411
Closing old issue that's no longer needed after chatting with @alanrenmsft. If anything like this comes up in the future feel free to reopen.

[2021-09-14 16:54] #7411 closed

[2021-09-14 19:15] kburtram commented on #17075
@thejokenott I see the export buttons next to the result set on 1.32.0 and the latest insider build.  Do you see any errors in the "Help->Developer Tools" Console or other steps that would help repro this issue?  Thanks!

Here's what I'm seeing with the above repro

![image](https://user-images.githubusercontent.com/599935/133319949-618d34bf-1f6b-4ab6-9070-efe3f4b7342e.png)

[2021-09-14 19:47] thejokenott commented on #17075
Toggling the Developer tools gives a bunch of "DevTools failed to load SourceMap: Could not load content for..." warnings, but that's it.
<img width="327" alt="image" src="https://user-images.githubusercontent.com/37587716/133323449-6c660202-cc72-447b-92fd-6807f15bd06b.png">
Same problem with different color settings. Also I remember the result set using a fixed width font, which is clearly not ha

[2021-09-14 20:03] kburtram commented on #17056
@jacksonhoyt I'm seeing the same error in the Portal query editor when attaching to a SQL DW instance (and in SSMS too).  The error is coming from the server so I assume this syntax isn't supported on that server version.  Perhaps when you used the portal editor you were connected to a typical SQL Server instance, for example the master DB on the server or something like that.

In any case, I'll c

[2021-09-14 20:03] #17056 closed

[2021-09-14 20:13] kburtram commented on #17075
@thejokenott in the screenshot you also don't have the filtering drop-down arrows on the column headers.  Often when we see things "totally broken" there is some type of problem with the installation.

Have you tried uninstalling and reinstalling to correct any potential acquisition issues?  If that did work you could try removing `/User/[USERNAME]/Library/Application Support/azuredatastudio`, whi

[2021-09-14 21:23] kisantia commented on #17020
Ah I see. Thanks for the clarification! We'll target fixing this in the upcoming releases.

[2021-09-15 01:00] MsSQLGirl commented on #13771
Related feedback at Data Exposed to support parameterization for SQL and having variables being passed along to different cells (SQL kernel).
https://www.youtube.com/watch?v=5DDeSb-mHP0

[2021-09-15 07:46] thejokenott commented on #17075
Removing the `azuredatastudio` directory solved the issue. Thank you!

[2021-09-15 07:46] #17075 closed

[2021-09-15 10:27] OliverRC opened #17082 "Refreshing AAD Credentials Never Works"
Issue Type: <b>Bug</b>

If my token or credentials expire or get stale there is no way update them.

Sure I can try use the "Re-authenticate" button but it does absolultey nothing.
You go through the process but try refresh the Azure blade for subsriptions and databases and it just pops it open again.

It's never worked... not even once.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7c

[2021-09-15 15:31] mkorsukov opened #17084 "Missing icons on Connections panel"
Issue Type: <b>Bug</b>

The 'Connections' panel has missing icons

![image](https://user-images.githubusercontent.com/21244808/133463528-6ff68dcf-4064-4188-be7a-54a3853c6c17.png)

![image](https://user-images.githubusercontent.com/21244808/133463543-cbdcb32c-734e-4e07-97fb-d83f9912f026.png)

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:

[2021-09-15 18:14] kisantia commented on #17077
@rexxmagnus what are the known changes not showing? Can you try comparing using schema compare in SSDT and see if the differences show there?

[2021-09-15 18:19] rexxmagnus commented on #17077
Additional columns, new tables, stored procedures etc - nothing's showing a change. Strangely, the schema compare tool in visual studio 2019 has also ceased to work with the same databases, and it seemed to work until running the commands to repair the database issue. I haven't installed the standalone SSDT, but I'll give that a go to see what it does.
Visual Studio 2019's difference tool does wor

[2021-09-15 18:23] kisantia commented on #17077
hmm that's strange. Sounds like it could be related to running those commands then. Would it be possible to test undoing those commands and comparing to see if that was the cause?

SSDT is the name of the "SQL Server Data Tools" in Visual Studio, so you've already tried it :)

[2021-09-15 19:12] jmgalzate commented on #2417
Hi there,

@kburtram, to clarify, the new feature is this?

![image](https://user-images.githubusercontent.com/88916499/133495036-b7add1ff-c761-468a-a116-60fdeebbcf74.png)

Thank you!

[2021-09-15 19:30] lucasfolino commented on #16125
If support for M1 come does that mean it will also support ARM64 in general, or the opposite?  I can point to this issue #1774

[2021-09-15 19:32] abist commented on #16125
@lucasfolino Yes, hopefully it will be addressed for all ARM64 architectures, not just Mac M1 Silicon

[2021-09-15 19:58] caohai opened #17087 "Server node in Object Explorer not able to expand after AAD token expires"
Steps to Reproduce:

1. Connect to a server in object explorer using AAD with MFA auth, wait until the access token become expired.
2. Expand on the server node

ADS shows an error message saying Token is expired.

[2021-09-15 21:02] kburtram commented on #2417
@jmgalzate I believe that is the setting to control the amount of data retrieved from large text columns.  The setting for JSON/XML/BLOB would be the one I referenced above.

@cavonac is looking at a related bug where this particular setting may be getting overridden in the query execution code (apparently as some type of perf optimization).  The related issues are https://github.com/microsoft/azu

[2021-09-15 21:04] kburtram commented on #17082
@cssuh do you know if this is a duplicate of the other access token refresh bugs we're looking at?  Or is this something else?

[2021-09-15 22:24] cssuh commented on #17082
yes I believe this is a duplicate of https://github.com/microsoft/azuredatastudio/issues/12637 which @caohai is working on now.

[2021-09-15 22:28] cssuh commented on #17082
closing as this is a duplicate item

[2021-09-15 22:28] #17082 closed

[2021-09-15 22:29] cssuh commented on #17082
@OliverRC you can try the steps listed in the duplicate issue #12637 I have linked above (removing/re-adding your azure account) as a temporary workaround, we are currently working to resolve this issue

[2021-09-16 00:34] Benjin opened #17088 "Dedupe shell command execution code"
Very similar code in shellExecutionHelper.ts and utils.ts for executing a shell command.  Reconcile the difference between `child_process.spawn()` and `child_process.exec()`

[2021-09-16 02:14] jmgalzate commented on #2417
@kburtram sorry but on my ADS version, I haven't seen yet the option. Do you know if I can configure it with the JSON key directly? Like this:

"mssql.query.maxXmlCharsToStore": 2097152

Maybe:

"mssql.query.maxJsonCharsToStore": 2097152

My version:
![image](https://user-images.githubusercontent.com/88916499/133538131-5655bc49-7c82-4e21-9883-958f94619119.png)

Thanks!

[2021-09-16 08:40] rexxmagnus commented on #17077
So a further test, reverting the settings suggested by the Azure support team, seems to allow Data Studio to run the comparison (also works for visual studio). As the commands prevented a crash related to table value functions, I'm not sure how to escalate this, as I'm guessing it's an underlying SQL engine issue?

[2021-09-16 15:36] kburtram commented on #2417
@jmgalzate you should be able to locate the setting in the Preference UI by filter with the search term `XML`.  If you prefer to set in the JSON file directly you can use the following key: `"mssql.query.maxXmlCharsToStore": 10000`.

[2021-09-16 18:01] jmgalzate commented on #2417
Dear @kburtram ok, now, if I understood well, the issue you close here is just for xml result data, but I'm asking for the json result data.

Must I create a mew issue?

[2021-09-16 19:15] arnold-overby-SIM opened #17092 "Error: Token retrieval failed with an error. Open developer tools to view the error"
Issue Type: <b>Bug</b>

Attempt to create new firewall rule
-Add an Azure Account by successfully logging in to Azure/Microsoft Account
-Select the appropriate Azure tentant from the drop-down
-Choose option for "Add my client IP (....)"
-Click on OK

Result:
"Error: Token retrieval failed with an error. Open developer tools to view the error"
-Close Azure Data Studio
-Open Azure Data Studio and t

[2021-09-16 21:50] cssuh commented on #17092
Hi @arnold-overby-SIM, if you open the Developer Tools (`Help` -> `Toggle Developer Tools`), do you see any error messages?

[2021-09-16 21:54] arnold-overby-SIM commented on #17092
Hello,
No errors in the console.
The page itself says "Your account was added successfully. You may now
close this window."

Arnold Overby
Lead Developer
Salem Interactive Media
Salem Media Group
111 Virginia Street, Suite 500
Richmond, VA 23219
804.615.6882

On Thu, Sep 16, 2021 at 5:51 PM Christopher Suh ***@***.***>
wrote:

[2021-09-17 00:19] kisantia opened #17095 "Can't read matching text when filtering in quickpick because of color"
Version: insiders

The matching text is the same or very similar color to the selected item background, making it very hard to read.

![image](https://user-images.githubusercontent.com/31145923/133704424-337bea0a-8562-4b67-bb5e-464272d764a9.png)

[2021-09-17 02:54] fahadabdulaziz opened #17096 "Empty Grid after hours of open"
Issue Type: <b>Bug</b>

When I execute a query and leave the result open for hours or days, the datagrid turn to empty grid!

![image](https://user-images.githubusercontent.com/5483584/133716765-fd4b917c-e846-483a-a893-9aef51eed571.png)

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19043

<det

[2021-09-17 15:52] t-foster2021 opened #17098 "Issue reporter doesn't load"
- Azure Data Studio Version: 1.32.0
![image](https://user-images.githubusercontent.com/90922356/133817727-4bc48c98-65f8-4bf0-9879-9ec7a9486f41.png)
- OS Version: Windows 10 Enterprise 21H1 19043.1202

Steps to Reproduce:

1. Click on help-> report issue
2. Report issue screen doesn't load, see screenshot below
![image](https://user-images.githubusercontent.com/90922356/133817557-af5bd48d-5644-434c

[2021-09-17 18:36] smartguest opened #17099 "Add cancelled status for execution query as well as a spinner for execution like in SSMS"
To maintain consistency with SSMS, I would like to have a spinner implemented that is used to indicate when a query is in executing status (along with the "Executing Query..." message), and a cancel status in the status bar once a query is cancelled, that way it would clearly indicate the cancelled status of the query fully instead of just seeing on the console window.

Although there is a TODO in

[2021-09-17 19:34] JustinMDotNet opened #17101 "New Notebook defaults to SQL"
Issue Type: <b>Bug</b>

1. Connect to a Kusto Cluster
2. Select 'New Notebook' on the Database
3. Notice the Kernel defaults to SQL even though the Notebook is using a Kusto Connection

![Kusto New Notebook](https://user-images.githubusercontent.com/63619224/133843919-aa4f6f7a-31c8-49c5-b371-51e0a9c8f693.gif)

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1

[2021-09-17 20:48] Charles-Gagnon commented on #17084
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/17003 - see that for workarounds until the next stable release is out with the fix.

[2021-09-17 20:48] #17084 closed

[2021-09-17 21:13] kisantia commented on #17077
@rexxmagnus can you please share sample scripts for a source and target database that repro this issue? I can request help from another team with more context on this setting. It would also be helpful to get more context on the previous support case on the crashing. Can you share the support case to my email kisantia@microsoft.com?

That strange SSDT is probably due to the model of the database us

[2021-09-17 21:57] caohai opened #17104 "Notebook not able to run sql query after AAD token gets expired"
Steps to Reproduce:

1. Create a notebook from a server connection with **AAD-MFA** auth.
2. Wait for some time (AAD access token expires in 1 hour by default) then run a sql query that requires connection.
3. Result will say `Query was canceled by user` although the cancel button is not pressed.

![Screen Shot 2021-09-17 at 14 50 53](https://user-images.githubusercontent.com/21186993/133857410-2f

[2021-09-17 22:06] claudio-salvio opened #17105 "Notebook, Out-Gridview in .NET (PowerShell) kernel fails"
Hello

When I try to use **Out-Gridview** in a **code cell** of a **notebook** with **.NET (PowerShell) kernel** it **fails** with the following error:
![image](https://user-images.githubusercontent.com/66575834/133913953-8adc0191-e1c1-41e2-ba3e-c02eee5846b3.png)

Is there any way to use **Out-Gridview** in a code cell when the notebook kernel is **.NET (PowerShell)**?
I use **Out-GridView** a lot

[2021-09-19 00:59] tgchip commented on #690
Would an Azure Data Studio debugger capable of debugging Postgres stored procedures be considered at some point?

[2021-09-19 03:25] #16600 closed

[2021-09-19 03:26] aasimkhan30 commented on #16600
Closing issue as it has been fixed.

[2021-09-19 12:33] craigs100 commented on #7335
Just upgraded to 1.32.0 on Linux Mint 20.2. The restore from backup file dialogue does allow navigation to the folders under the user's home directory.  If I put the full path into the dialogue, it fails with "The system cannot find the file specified". Not a great UX for development.

[2021-09-19 13:11] craigs100 opened #17107 "Cannot restore .bak file to blank DB of different name"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create new DB and assign a login as dbowner
2. Attempt to restore a .bak file to the new database which has a different name to the new DB
3. Results in
![image](https://user-images.githubusercontent.com/1143883/133928739-5e5f5569-b546-4dce-914c-a1b0f5dd9c0c.png)
 (Can't cut and paste from the application)

Does this issue occur w

[2021-09-20 05:27] dhgrajeda commented on #17061
Sorry about the delay, @chlafreniere. Got caught up with on-call stuff. Opened the PR above and assigned it to you. Let me know if you need anything else from me.

Thanks!

[2021-09-20 18:24] kisantia commented on #17077
@rexxmagnus I was able to repro the issue and see the "No differences found" in ADS after turning off INTERLEAVED_EXECUTION_TVF on the source and target dbs. When I tried using SSDT Schema Compare in VS, I got this error:
![image](https://user-images.githubusercontent.com/31145923/134052785-1c8c3538-2ca5-4498-bf9e-1370434f3095.png)

The reason this isn't showing in ADS is that the error is getting

[2021-09-20 18:41] abist commented on #13494
@radentonev Do you have the new updated themed icon pack so we can update it?

[2021-09-20 19:05] alexanderomnix opened #17111 "Option to renew sql server password on ADS"
**Is your feature request related to a problem? Please describe.**
I cannot login using sql server authentication when my password expires, in sql management studio I have the option to change the password but in Azure data studio I'm just unable to renew the password.

![image](https://user-images.githubusercontent.com/62620120/134059688-89c819ac-2019-47c1-a85a-86018056ce62.png)

**Describe the s

[2021-09-20 21:01] #17101 closed

[2021-09-20 21:24] chlafreniere commented on #17104
@caohai I've added this to the October milestone since you have a PR out that references this issue. Feel free to move this issue out if it doesn't get totally fixed by this issue.

[2021-09-20 23:35] #16981 closed

[2021-09-20 23:44] caohai commented on #17104
@chlafreniere Sure, I haven't sent the PR yet but it should be done shortly. (The link that references this issue is actually a mega issue for AAD token instead of a PR.)

[2021-09-21 00:58] #17033 closed

[2021-09-21 07:24] sumitmalik51 opened #17120 "Azure Arc Extension is stuck on Loading controllers step."
Issue Type: <b>Bug</b>

- Azure Data Studio Version: 1.32.0
- OS Version:  Windows 10 Enterprise 21H1

Steps to Reproduce:
1. Install Azure Arc Extension (v0.9.6)

2. Under the **Azure Arc Controller connection tab**, the status is stuck at **Loading controllers...**. Also, the create and connect controller button is not working.

![image](https://user-images.githubusercontent.com/45102602/1341277

[2021-09-21 09:32] rexxmagnus commented on #17077
Where do I find the VSfeedback issue?

[2021-09-21 16:03] Charles-Gagnon commented on #17120
@candiceye

[2021-09-21 16:20] kisantia commented on #17077
Sorry forgot to add the link: https://developercommunity.visualstudio.com/t/Schema-Compare:-Value-cannot-be-null-Pa/1362920

[2021-09-21 18:39] MsSQLGirl opened #17122 "Connections viewlet / object explorer should support "Show Tables with No Data" toggle"
**Is your feature request related to a problem? Please describe.**
In Azure Monitor Logs (and potentially other data sources) there are lots of tables with no data. e.g. see below from Azure Portal
![image](https://user-images.githubusercontent.com/6405919/134228189-39ea38b2-2f0a-40ff-9166-2de65e691751.png)
Image shows that the toggle is turned off, i.e. do not show tables with no data.

Currently

[2021-09-21 18:40] #17023 closed

[2021-09-21 19:57] dzsquared opened #17125 "error messages if user inputs different dbName during container deploy"
https://github.com/microsoft/azuredatastudio/blob/a6488774468c399cd7e358d7aaa503a756cc4afe/extensions/sql-database-projects/src/dialogs/deployDatabaseQuickpick.ts#L124

If a user selects "new database" and inputs a different database name (in this example I used sampleAPI instead of sampleAPI3) - the container deploys and the dacpac is published to the correct database name - but the sqlproj file

[2021-09-21 20:54] aguerot opened #17126 "Change AzureDataStudio color palette based on current query connection"
**Is your feature request related to a problem? Please describe.**
Change connection button in SqlQuery header allows easy switching between databases.
Even tho I have a legitimate access to a production database I can easily execute a query on production database thinking I interact with a dev/qa one.
I would feel in safer environment if I could configure Azure Data Studio Color palette to, let's

[2021-09-21 21:31] abist opened #17128 "Switching editor language back to SQL closes editor"
- Azure Data Studio Version: main
- OS Version: MacOS Big Sur 11.6

Steps to Reproduce:

1. Open a new query editor using the New Query context menu action.
2. Switch the language from SQL to any other language.
3. Switch back to SQL in the language select

Expected: The editor changed the language to SQL.
Actual: The editor closes when switched back to SQL. Note: This only occurs when switching t

[2021-09-21 22:43] #13703 closed

[2021-09-22 01:57] #17104 closed

[2021-09-22 17:30] kunalpgithub commented on #3631
I am having same issue. Is there a way we can view multiple result sets as tab (Some widget that we can add.), instead of scrolling?

[2021-09-22 17:48] smartguest commented on #17128
The error seems to be caused in editorStatus where for some reason, when updateModeElement is called, the text passed in is undefined, thus causing an immediate cancellation.

[2021-09-22 17:52] smartguest commented on #17128
It seems SQL's value is marked as undefined in this case, which needs to be addressed.

[2021-09-22 20:29] abist opened #17132 "Open file button after Save as Excel doesn't do anything"
Steps to Reproduce:

1. Run a query and save the results as Excel.
2. Once the file is saved, you get a pop up with a button `Open file` for the saved excel file.
3. Click Open file button

Expected- The file opens
Actual - Nothing happens

[2021-09-22 20:37] chlafreniere commented on #17095
I'm running into this both with command palette and Intellisense completion lists:

![image](https://user-images.githubusercontent.com/40371649/134418053-6276cdcf-c9bb-4b5c-984c-086eab9fd826.png)

@kburtram any chance that we could get someone from your team to take a look for October?

[2021-09-22 20:51] kburtram commented on #17095
@chlafreniere this looks like a duplicate of https://github.com/microsoft/azuredatastudio/issues/17001.  @smartguest is looking into this.

[2021-09-22 20:51] #17095 closed

[2021-09-22 21:02] alanrenmsft commented on #17132
you are using mac, right?

[2021-09-22 21:04] abist commented on #17132
@alanrenmsft Yes

[2021-09-22 21:08] alanrenmsft opened #17135 "switch language mode to SQL and the editor is not usable anymore"
1. open a new file (File/New File)
![image](https://user-images.githubusercontent.com/13777222/134421770-2e56c7c5-4f3e-481b-8a52-010cdeaf0bd3.png)

2. change the language mode to SQL
![image](https://user-images.githubusercontent.com/13777222/134421887-c1d114c5-85d9-4214-8719-4793cff963e2.png)

Expected:
the editor should be updated to be a query editor
Actual:
the editor now shows the query edito

[2021-09-22 21:18] alanrenmsft commented on #17001
@smartguest do we know why is this not a problem for vscode?

[2021-09-22 21:36] kburtram commented on #16929
Closing based on previous suggestions.  Please updated to latest ADS version and let us know if the issue reproduces.  If so, please provide additional log data as requested above.  Thanks!

[2021-09-22 21:36] #16929 closed

[2021-09-22 21:38] kburtram commented on #16854
Closing based on previous comment.  Please let us know if you can provide additional reproduction steps or diagnostic log information.  Thanks!

[2021-09-22 21:38] #16854 closed

[2021-09-22 21:42] kburtram commented on #16102
Closing based on the previous suggestion and PR #16779.  Please let us know if the problem persists on the current insider builds or the next stable build.  Or if disabling the previously mentioned setting works around the issue.  Thanks!

[2021-09-22 21:42] #16102 closed

[2021-09-22 21:47] kburtram commented on #10518
This appears to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/10541.

[2021-09-22 21:47] #10518 closed

[2021-09-22 22:22] llali opened #17138 "Create sqlproj shows a warning which doesn't go away"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. using ADS in Windows, click on Sql Prj viewlet and select on "Create"
2. After creating the project a warning will show up to update the proj, target areferencesces. click yes

Expected:
Project is created and viewlet is updated

Actual:
Selecting yes or no in the warning both brings the warning back without updating the proj. had

[2021-09-22 22:25] llali opened #17139 "Building sqlproj fails in Windows"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Open a sql proj in vs code
2. build sql peoj

Expected: builds successfully
Actual: seeing this error:

.vscode\extensions\microsoft.sql-database-projects-vscode-0.13.0\BuildDirectory\Microsoft.Data.Tools.Schema.SqlTasks.targets" was not found.

Does this issue occur when all extensions are disabled?: Yes/No

[2021-09-22 23:00] kisantia commented on #17139
@llali which platform is this on? Can you also share a screenshot with the error what's in the output?

on mac it looks for the targets file here:
![image](https://user-images.githubusercontent.com/31145923/134432946-e23afd0c-f521-4630-a019-49f721a9467a.png)

and on windows here:
![image](https://user-images.githubusercontent.com/31145923/134432960-f82e634a-0c53-468b-bd18-65324260c292.png)

[2021-09-22 23:13] llali commented on #17139
@kisantia the bug heppend in Windows. I didn't put the full path but it's looking for the build target in extension folder

[2021-09-22 23:16] smartguest commented on #17001
@alanrenmsft None of their default light themes set the color for the list.activeSelectionBackground attribute, and the other instances that I've seen in the other theme extensions do not use this color as well. (This is on the same branch that we most recently merged from)

[2021-09-22 23:20] kisantia commented on #17139
if you check that folder, is the targets file there? Maybe sqltoolsservice wasn't finished downloading yet when build tried to find the file.

[2021-09-22 23:25] llali commented on #17139
no the targets are not there. the buildDirectory folder only has systemDacpacs in it
![image](https://user-images.githubusercontent.com/17187348/134434793-069cf791-67eb-4ac0-924c-4de662075526.png)

[2021-09-22 23:26] llali commented on #17139
@kisantia sqltoolsservice is installed. should I see the targets inside sqltoolservice folder?

[2021-09-22 23:31] smartguest commented on #17001
This color theme was used in the 1.32 branch though for both files, need to understand why one is overwriting the other.

[2021-09-22 23:43] kisantia commented on #17139
huh that's weird. Yeah can you check if it's in the sqltoolsservice folder? It should be in
C:\Users\username\\.vscode\extensions\ms-mssql.mssql-1.10.1\sqltoolsservice\3.0.0-release.124\Windows (or whatever the most recent sqltoolsservice version is)

[2021-09-23 02:07] smartguest commented on #17001
It seems to be a preset color for the background in vscode, need to find out which one is causing it and see if it can be overriden.

[2021-09-23 15:53] FezVrasta commented on #10190
The correct solution is described in this other issue:

https://github.com/Microsoft/vscode/issues/54647#issuecomment-413760045

[2021-09-23 16:16] llali commented on #17139
my path is different that yours: ms-mssql.mssql-1.10.1\sqltoolsservice\1.10.0\Windows. maybe I'm using the wrong version of mssql?

[2021-09-23 17:12] kisantia commented on #17139
Looks like there's a different sqltoolsservice version for dev and prod, so that'll need to be updated and tested before the extension gets released.

dev:
https://github.com/microsoft/vscode-mssql/blob/2e6ac4b633cc33383969b1ccfe001fa97fb6087f/src/configurations/dev.config.json#L3-L4

prod:
https://github.com/microsoft/vscode-mssql/blob/cbac9c44fc8cb8dca3c9ede450041cfa84fa180d/src/configurations/p

[2021-09-23 17:25] ummspmacdon opened #17142 "Lost ability to export to csv, text and excel"
Issue Type: <b>Bug</b>

All of sudden, the icons on right hand side of the result window are gone.  I can't high-light cells (any or all of them) and export to excell, csv or txt files.  I can't even right-click in a single cell and copy it's contents to cut and paste.  Truly frustrating.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08

[2021-09-23 17:45] llali commented on #17139
I just installed the same extensions in mac and everything works fine

[2021-09-23 18:27] smartguest commented on #17001
@alanrenmsft It turns out that in QuickInputListFocusBackground, it originally used listFocusBackground as one of the options for a color scheme, which by default it wasn't set to anything, so it used the default light blue color scheme as shown in 1.32, now it uses the listActiveSelectionBackground, which is a darker shade of blue, either we make a carbon edit to revert back to listFocusBackgroun

[2021-09-23 18:42] smartguest commented on #17001
https://github.com/microsoft/vscode/commit/a79605c9d57b3293a62f309f520c077c348fdcd4 Actually this is the fix for our exact issue that we have.

[2021-09-23 19:33] ndwivedi commented on #16102
Thank you that fixed that issue but now I get this error.
![image](https://user-images.githubusercontent.com/9135814/134572030-4b337e88-306c-4ea1-8562-67cda2f01ece.png)

[2021-09-23 19:46] wgbartley opened #17145 "Azure SQL Migration Extension: The access token for selected account is no longer valid"
Issue Type: <b>Bug</b>

Immediately after linking a user account, I receive the error:

The access token for selected account 'Garrett Bartley - user@host.com (XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX)' is no longer valid. Select 'Link Account' and refresh the account, or select a different account.

I get the same error no matter which AD tenant I select from the dropdown.

Extension version: 0.1.8
A

[2021-09-23 20:01] kburtram commented on #17142
@ummspmacdon are you seeing any errors in the "Help->Developer Tools" Console?

I saw a similar issue a few weeks ago and deleting the cached application state resolved that issue (would be in C:\Users\[USERNAME]\AppData\Roaming\azuredatastudio on windows).  You may try that, though it would reset the application state to 1st-launch, so you may want to backup/restore the User/settings.json values,

[2021-09-23 20:32] alanrenmsft commented on #16102
@ndwivedi please open a new issue and add detailed repro steps, we will look into that.

[2021-09-23 22:35] MsSQLGirl opened #17151 "Query editing experience: Double Click to add a table name or a column name to my existing query"
**Is your feature request related to a problem? Please describe.**
Productivity when creating a query. This would also make it easier for new users.

**Describe the solution or feature you'd like**
When I create a new query, I may start with:
`SELECT TOP 10`
I then browse the object explorer as I can't remember the table name or a column name.
So I navigate to the table and column from Object Expl

[2021-09-23 22:40] MsSQLGirl commented on #86
+1
This feature is similar to SSMS - "Execute To File".
This is especially needed if users know that the result is going to be big (say over 10K) and they need to do additional data export to another system.
The current Save As after execution doesn't work because it will take too long to render in ADS.

[2021-09-23 22:55] MsSQLGirl commented on #2010
Hello, it is now possible to sort result set from the grid.
Please download the latest ADS (http://aka.ms/getAzureDataStudio)

![image](https://user-images.githubusercontent.com/6405919/134594375-a06772ca-20bc-4eac-9fa6-d8343e71263e.png)

[2021-09-23 22:55] #2010 closed

[2021-09-23 22:58] MsSQLGirl opened #17152 "Result Set filtering: Find duplicate records"
**Is your feature request related to a problem? Please describe.**
One of the most common operations when troubleshooting or exploring data is to find duplicate records. It would be nice to be able to support a filter for "show duplicate records" in the result grids.

**Describe the solution or feature you'd like**
After running a query, go to the query results and then filter duplicate records.

[2021-09-23 23:08] MsSQLGirl commented on #15296
Being able to browse and filter Schema from object explorer is also important because we generally have some actions (right click) that we want to do. Or sometimes even expand it to be able to drag and drop column / table name when building queries.

[2021-09-23 23:19] JustinMDotNet commented on #13868
Created internal bug for tracking
https://mssqltools.visualstudio.com/ADS%20LiveSite%20Support/_workitems/edit/4332

[2021-09-23 23:20] #13868 closed

[2021-09-23 23:22] JustinMDotNet commented on #12759
No longer reproducible. Closing issue.

[2021-09-23 23:22] #12759 closed

[2021-09-23 23:30] JustinMDotNet commented on #15277
@nielsams @JosNun Have you been able to use the Azure Monitor Logs extension to connect to your workspaces? It's available in the Extension Marketplace.

![image](https://user-images.githubusercontent.com/63619224/134596873-91168bb1-9927-4ac0-b2dd-6409f988bda1.png)

[2021-09-23 23:34] JustinMDotNet commented on #13052
Jupyter Notebooks currently doesn't support sharing Kusto resolves across code cells. KQLMagic does support this using the python kernel.

https://github.com/microsoft/jupyter-Kqlmagic

Here is a notebook for getting started
https://mybinder.org/v2/gh/Microsoft/jupyter-Kqlmagic/master?filepath=notebooks%2FQuickStart.ipynb

[2021-09-23 23:49] JustinMDotNet commented on #12724
Issue has been resolved. Closing.

[2021-09-23 23:49] #12724 closed

[2021-09-23 23:55] JustinMDotNet commented on #12701
This is now supported in the Azure Monitor Logs extension. Closing.

[2021-09-23 23:55] #12701 closed

[2021-09-23 23:55] JustinMDotNet commented on #12687
Will review if this is supported in the Azure Monitor Logs extension.

[2021-09-24 00:03] MsSQLGirl opened #17153 "Object Explorer: Issue with long schema names display"
**Is your feature request related to a problem? Please describe.**
Customer is having issues navigating tables with super long schema name. So when they browse they see something like
[ThisIsMySuperLongSchemaNameThatOthersHaveCreated].[TableName]

So when using ADS, it's hard to see unless the drag the Connections Viewlwet width to occupy most of the screen.

The goal is to be able to browse nicel

[2021-09-24 00:11] ManojRaheja commented on #12704
I don't fully understand your requirement. I assume you want to project the count of rows from different tables in one row. Can you try this in KQL? here is the sample code:

let RE = apiV2RigExport | count;
let RSL = apiV2RigSearchLatest | count;
let RSU = apiV2RigSearchUpdates | count;
let RST = apiV2RigSearchTransform | count;
let RSF = apiV2RigSearchFinal | count;
print RE, RSL, RSU, RST, RSF

[2021-09-24 00:12] MsSQLGirl opened #17154 "Result grid: Ability to pin column(s) to the left"
**Is your feature request related to a problem? Please describe.**
Users are exploring result grid with 100 columns (that fit on the screen) and want to pin some columns (say Column 3 and Column 7) to the left so that the can scroll to the right and look at Columns 95 to 97.

**Describe the solution or feature you'd like**
Pin ability on each column in result grid. When a column is pinned it gets

[2021-09-24 00:20] MsSQLGirl opened #17155 "Result grid: ability to group by column (collapse and uncollapse)"
**Is your feature request related to a problem? Please describe.**
User wants to be able to take a result grid and group by column, then do some smart aggregation such as Sum, Max, Min, Average, and collapse and uncollapse.
This helps with iterative data exploration.
(Note: adding excel to the step to achieve this slows down productivity)

**Describe the solution or feature you'd like**
Support Gr

[2021-09-24 02:31] dzsquared opened #17156 "add sql binding - check if file is open/dirty before editing on disk"
Azure SQL function bindings item

I've managed to open a function file, make some changes - run the "add sql binding" command - realize the changes aren't appearing in the editor because I've forgotten yet again to save before running the command.  If I save now I will get a conflict notice - I can overwrite with my changes and run the add sql binding command again.

It would be extra special if t

[2021-09-24 09:43] YankoNik opened #17157 "Crash"
Issue Type: <b>Bug</b>

Crash

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7700 CPU @ 3.60GHz (8 x 3600)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabled<br>multiple_raster_threads: e

[2021-09-24 12:39] ummspmacdon commented on #17142
Thanks, KB...tried that, but it didn't seem to help.  Anyone with any other thoughts?

I recall something somewhere about seeing a rectangle around the results window meant a setting was off.  But i can't seem to find out where I heard it or where that setting is.  When you select a column heading, the entire result block highlights with a rectangle.  See below:

![image](https://user-images.githu

[2021-09-24 14:46] JosNun commented on #15277
I haven't poked with it much, but I gave a cursory glance, and as far as I can tell, there is no Log Analytics Workspace associated with that instance of App Insights (It hasn't been migrated to Workspace-based Application Insights, if that helps). In the properties of that App Insights instance, the `Workspace` field is blank, as well. I also checked all the Log Analytics Workspaces I have access

[2021-09-24 16:20] kburtram commented on #17142
@alanrenmsft do you have any suggestions of what could be happening here?

@ummspmacdon BTW, when you deleted your application state it should have reset your settings.  Did you happen to try see if the query editor worked correctly before restoring the settings?  That would be helpful to narrow the cause down to a particular setting if that was the cause.  You may also verify if things are workin

[2021-09-24 16:22] kburtram commented on #17157
@YankoNik could you please provide some more details on the repro steps leading up to the crash and any error messages you may have received?  Unfortunately there isn't currently sufficient details to investigate this issue.  Thanks!

[2021-09-24 16:23] alexkyllo opened #17159 "Kusto extension deletes file contents on save when editor: format on save enabled"
Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Install the Kusto extension
2. In Settings, tick "Editor: Format on Save"
3. Open an existing .kql file and edit it
4. Save the file, and the file contents will be deleted

Extension version: 0.5.4
Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.190

[2021-09-24 16:27] gitmadness commented on #16776
@lucyzhang929
I updated to 1.32.0 and was still able to repro the issue but the workaround of creating a new notebook worked. I'll share my notebook offline...

[2021-09-24 16:30] alexkyllo commented on #17159
This also happens when I do Command Pallete > Format Document on a Kusto query in a .kql file, without saving. It deletes the entire contents of the file buffer.

[2021-09-24 17:18] alanrenmsft commented on #17142
I'll take a look.

[2021-09-24 17:35] lucyzhang929 commented on #16776
Hi @gitmadness, was the original notebook created in ADS? When I open the notebook in TextEdit, the metadata shows that the kernel display name is 'Python 3 (ipykernel)' instead of 'Python 3'. The installation failed since it was expecting 'Python 3' for the kernel name.

[2021-09-24 18:00] gitmadness commented on #16776
Yes, they were created in ADS.

From: Lucy Zhang ***@***.***>
Sent: Friday, September 24, 2021 10:36 AM
To: microsoft/azuredatastudio ***@***.***>
Cc: Tom Wu ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azuredatastudio] Error "Could not retrieve packages for kernel Python 3 (ipykernel)" when trying to install Python (#16776)

Hi @gitmadness<https://nam06.safelinks.protection.outlook.

[2021-09-24 18:46] smartguest commented on #15598
Unfortunately, I am unable to reproduce this issue without having my account name changed which I cannot do by myself easily. I literally changed the name retrieved from the token response that was given from the Azure Login (not set by ADS) to match the problematic name and it appeared to display fine on ADS without any issues. It seems the way Azure formats names with certain characters is not c

[2021-09-24 20:25] burtonrodman opened #17162 "on the Create New Firewall Rule dialog, need to show more details on tenant drop-down to differentiate"
on the Create New Firewall Rule dialog (after attempting to connect to an SQL Azure db without a valid rule)
in the "Azure tenant" drop-down, there are many entries that just say "Default Directory".

This is not enough information to make an informed choice.  Please include the tenant directory uri as is the pattern on many other applications that have this input.  ex:  Default Directory (mycompa

[2021-09-24 20:46] chlafreniere commented on #17159
@JustinMDotNet would you be the right person to look at this?

[2021-09-24 21:57] MsSQLGirl commented on #17159
@JustinMDotNet : FYI - I can repro both.

[2021-09-25 03:48] nirajchahar opened #17165 "unable to connect to azure sql server using alias"
this is wierd situation, i have been using aliases for azure sql server for long time now.

but this time when i created a alias i cant connect to server, i tried with Azure AD auth and sql auth, if i use the actual server name it works fine.

actual_server_name.database.windows.net works fine
alias_server_name.database.windows.net does not work

i am sure i am using the right alias name, to valid

[2021-09-25 03:50] nirajchahar commented on #17165
error message when trying to connect using alias:
--------------------------------------------
TITLE: Connect to Server
------------------------------

Cannot connect to alias_server_name.database.windows.net.

------------------------------
ADDITIONAL INFORMATION:

Cannot open Failover Group "alias_server_name.database.windows.net" requested by the login. The login failed. (Microsoft SQL Server,

[2021-09-26 20:02] rkammer opened #17166 "case statement check for null - sql notebook issue"
When using a sql notebook and running a case statement checking for null values the result is bringing null for every record. The issue appears to be true for the syntax _WHEN NULL_ presented in the following snippet.

[code]

However,  it works properly if I use _CASE WHEN field is NULL_ as shown below.

[code]

The statement only brings null when running inside a notebook. Running it on a query

[2021-09-27 01:41] smilieface opened #17167 "Failed to script "as execute""
Issue Type: <b>Bug</b>

Created a new stored procedure in a database.

Scrolled down to stored procedure, right-click and select "Script as Execute"

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-

[2021-09-27 16:33] rajeshka opened #17169 "Notebook Cells: Add ability to split/merge cells"
**Is your feature request related to a problem? Please describe.**
There is currently no easy way to edit/split new cells in ADS. in VSCode the cells can be split with a single click. In ADS it would require following steps
- Got to edit mode of the cell
- Select the text that needs to be split and Cut
- Create new cell
- Paste the content
- Rinse and repeat if the content need to be split further

[2021-09-27 16:48] kburtram commented on #17167
@smilieface I wasn't able to repro using the steps in the description.  Was there anything "special" about the sproc or is it all sprocs?  Did you receive any errors in the "Help->Developer Tools" Console output or otherwise?  Thanks!

[2021-09-27 16:57] radentonev commented on #17169
I think it's a good idea to have a "split cell" functionality. In general, I like the solution that VSCode has with the split cell button.

<img width="262" alt="Screen Shot 2021-09-27 at 9 53 45 AM" src="https://user-images.githubusercontent.com/71295692/134952433-ace45e1c-3d1e-4510-95d5-4fb235dad83a.png">

Your screenshot is a bit ambiguous to me, since it shows a bunch of actions in a nested me

[2021-09-27 16:59] alanrenmsft commented on #17156
@udeeshagautam @kisantia is this the right area path?

[2021-09-27 17:04] rajeshka commented on #17169
That is correct. The screenshot is from VSCode and shows 2 ways to invoke split cells. We can choose whichever is the right option for ADS without overcrowding the contextual menu

[2021-09-27 17:14] kisantia commented on #17156
yup this is the right one. Thanks!

[2021-09-27 18:12] udeeshagautam commented on #17156
@kisantia assigning to you as you are looking intoit already.

[2021-09-27 18:17] Shirley-f-tan commented on #17169
When TSGs are moved from OneNote to ADS, it's usually one big cell per TSG, adding splitting a big cell into multiple cells, one cell per paragraph, will be very useful to convert some of text cells into code cells. Of course, merge will be also useful as well. Thanks!

[2021-09-27 18:38] gupta1 opened #17172 "Hard coded port :80 in ads code"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:
Created a github issue as well.
basically something in ADS is hard coding port :80 to the end of the URL, so the proxy is forcing everything to be https://, but because of the hard coded :80 somewhere the communication is being lost

![image](https://user-images.githubusercontent.com/11342435/134966158-73746f24-d407-4b66-8fdd-0b09c926

[2021-09-27 18:41] kburtram commented on #17172
@gupta1 ADS Web runs on port 8000 and doesn't open port 80.  Can you provide additional details on how to repro this issue?  When I run ADS Web in my test env this issue does not occur.

[2021-09-27 19:12] smartguest commented on #16617
This seems to be caused by a recent change in SQL Tools Service that returns the wrong number separator for some reason, this change may have been done for a reason.

[2021-09-27 19:48] smartguest commented on #16438
It appears to be a change made to STS that is causing this issue, will need to see if this change was done for a reason or not.

[2021-09-27 20:08] smartguest commented on #17031
@mtaylorfsmb I have implemented a fix for the cancel feature in the latest build of ADS, please let me know if it works as intended for you. The results loaded bug I haven't seen on my side so far, when opening two tabs for different tables on the database, but if it continues to persist until the cancel is executed, then I'll continue to investigate.

[2021-09-27 21:13] #17001 closed

[2021-09-27 23:10] kisantia opened #17177 "Open project without workspace open message isn't right"
The message says "for the project to be created" even if opening an existing project. This is correct for the new project dialog, but the message should say "to open the project and ad it to the workspace" for the open existing project dialog.

![image](https://user-images.githubusercontent.com/31145923/134997098-a0206380-7d95-446d-b0c9-17077ef186a0.png)

[2021-09-27 23:54] #14483 closed

[2021-09-27 23:54] #15943 closed

[2021-09-28 00:06] caohai opened #17179 "Intellisense not working after AAD token gets expired"
Steps to Reproduce:

1. Start a query editor with a server using AAD-MFA auth
2. Wait for 1 hour and intelisense stops working.

[2021-09-28 01:40] smartguest commented on #16617
It appears this is an issue with the dotnet version bump used by sqltoolsservice, the get string for the value appears to function differently, I will need to see how to change this.

[2021-09-28 16:47] kburtram opened #17183 "Profiler Text pane should be expanded by default"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Run Profiler session

Expected: Text pane is expanded by default

Actual: Text pane is collapsed and depending on the size of application window may be completely obscured.

*Example screen with the Text/Details panes collapsed and partially hidden*

![image](https://user-images.githubusercontent.com/599935/135130317-eb95d729-3a5c-494b-8

[2021-09-28 17:38] Charles-Gagnon commented on #17179
@caohai One thing I was thinking about for your work on these issues - what might actually be best is if you could look into updating the data protocol client itself : https://github.com/microsoft/sqlops-dataprotocolclient/blob/master/src/main.ts

That way everything using those functions will automatically get "fixed" instead of having to track down each location that uses them. This includes ext

[2021-09-28 20:47] #17125 closed

[2021-09-28 20:59] smartguest opened #17187 "Add support for globalization settings such as formatting separate from locale."
In the issues:

https://github.com/microsoft/azuredatastudio/issues/16617

https://github.com/microsoft/azuredatastudio/issues/15616

It turns out that in the process of adding localization to the MSSQL extension, unsupported languages such as Polish will have the locale for SqlToolsService set to English by default and this changes the Current Culture of STS to match. As a side effect of this, th

[2021-09-28 22:32] JustinMDotNet commented on #17159
Pull Request created to fix this https://github.com/microsoft/sqltoolsservice/pull/1251/files

[2021-09-28 23:28] chlafreniere commented on #16972
@VasuBhog is this at all related to the encoding/decoding work that you're doing?

Curious if we can lump it in with that work or if this is wholly separate.

[2021-09-28 23:30] chlafreniere commented on #16746
Closing since we need logs to delve deeper into this issue. Feel free to reactivate if logs can be provided. Thanks!

[2021-09-28 23:30] #16746 closed

[2021-09-28 23:49] #17177 closed

[2021-09-29 00:09] #16986 closed

[2021-09-29 03:31] lewis-sanchez commented on #17172
@gupta1, ADS doesn't open port 80 as shown here while monitoring traffic for ADS Web:
![image](https://user-images.githubusercontent.com/87730006/135198307-1fb98709-62f5-4041-8f81-12111a6553f5.png)

It does however run on port 8000 and I can see the resources coming through the wire as GET requests
![image](https://user-images.githubusercontent.com/87730006/135198405-5188b9d9-d399-4e0b-a0a1-ae92de

[2021-09-29 07:16] VasuBhog commented on #16972
@chlafreniere I believe that I can check this in as well with the other work.

[2021-09-29 07:31] Smoovsky commented on #9170
Same there, we can confirm that the performance is extremely bad when latency between client and server goes above 100ms. It is particularly slow(though it's so slow already) when your query yields an error result, typically takes more than a minute to return.

[2021-09-29 07:33] Smoovsky commented on #16917
What's the latency between your client and server?

[2021-09-29 11:48] silvinapose commented on #17105
I think it is important to fix this bug.
Out-GridView is a fundamental element to interactivity when using PowerShell in ADS.

[2021-09-29 13:52] Avaruz opened #17191 "Error when I connect"
Issue Type: <b>Error</b>

When I try to connect to an server with the name instead of ip address i get an error.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19043

[2021-09-29 16:28] kburtram commented on #17191
@Avaruz the client driver will try to use DNS to convert a server name into an IP address before communicating to the server.  Have you confirmed that the server name is correctly being resolved on the machine you're connecting from?  You can run `nslookup [SERVERNAME]` from the CLI to confirm that DNS resolution is working as expected.

[2021-09-29 16:44] mtaylorfsmb commented on #17031
@smartguest thank you. I assume it'll be in the next release so I'll try it then.

[2021-09-29 17:13] batsauto commented on #11586
@aasimkhan30 I too would like the ability to sign in with AAD, added to the import text,csv wizard.

[2021-09-29 17:16] aasimkhan30 commented on #11586
@batsauto, the lastest version of the import extension (1.5.0) in ADS insiders has support for AAD based connections. This version will be released to the stable in October.

[2021-09-29 17:19] Avaruz commented on #17191
The error doens't happen again.

[2021-09-29 17:19] #17191 closed

[2021-09-29 18:19] #16438 closed

[2021-09-29 18:19] #16617 closed

[2021-09-29 18:33] nikmartin commented on #9236
Npt sure if this is just adding more nosie, but I'm also experiencing this, and my configuration is:

- WSL2/Ubuntu
- Projects folder, and my sql project is underneath, named 'SBDReporting'
- this folder is also a git repository, hosted in Azure DevOps
- SQL files in this folder were saved locally by right clicking a view in Azure Data Studio, and selecting `Script as Create`, then saving locally

[2021-09-29 18:41] VasuBhog commented on #16977
@MsSQLGirl answers to your questions:
1. VS Code Notebooks currently have no support for keybindings to markdown text (specifically the ones we have on our markdown toolbar - Bold, Italicize, Underline... etc).
2. I also found that Jupyter Notebooks does not support any kind of Markdown keybindings as well.

I believe we can add a few general keybindings for some of the markdown toolbar actions we

[2021-09-29 19:53] dzsquared commented on #8913
Just ran into this issue again when using dacpac wizard with an Azure SQL DB server.  I had connected to master which usually doesn't populate the list of databases in object explorer and the dacpac wizard isn't available in the context menu on the dashboard widget list of databases.

![image](https://user-images.githubusercontent.com/12227241/135338726-0949895a-60ac-4945-bcf4-2fa9cd2a1124.png)

w

[2021-09-29 20:15] smartguest opened #17197 "Profiler Tab Pane is hidden when window is too small"
Follow up to https://github.com/microsoft/azuredatastudio/issues/17183

Although the profiler text pane is now expanded by default upon first opening, it still is hidden when the window is too small due to the ADS console window tab covering over it, the reason for this is that it is treated as part of the same window as the main profiler page and is not differentiated or separated. There needs to

[2021-09-29 20:36] caohai commented on #13796
Closing this issue as a fix for connection expiration in query editor has been merged and will be in the October release (or you can try it with the latest insiders). For tracking other AAD token expiration related issues please refer to this mega issue #17047

[2021-09-29 20:36] #13796 closed

[2021-09-29 20:43] caohai commented on #15438
Closing this issue as a fix for connection expiration in query editor has been merged and will be in the October release (or you can try it with the latest insiders). Feel free to reopen or create new issue if it's not fixed.

For tracking the AAD token expiration issue with server/table node in SERVER view (object explorer view), please refer to #17087
For tracking other AAD token expiration rela

[2021-09-29 20:43] #15438 closed

[2021-09-29 22:11] llali opened #17199 "Sql proj - Creating project from database shows a warning twice"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create sql proj from a database from list of connections
2. Click ok on the warning window

Expected: project is created
Actual: the warning shows up twice

Does this issue occu
<img width="257" alt="Screen Shot 2021-09-29 at 1 57 06 PM" src="https://user-images.githubusercontent.com/17187348/135355728-8148052b-609f-4e74-9da5-ee86

[2021-09-29 22:26] #17156 closed

[2021-09-29 22:29] #14625 closed

[2021-09-30 03:50] chlafreniere commented on #17169
@rajeshka is this different than #8541, or can we close this as a dupe?

[2021-09-30 06:52] AnyiYang opened #17202 "get older version of Azure Arc"
Issue Type: <b>Bug</b>

My customer could not use ADS to do backup and resotre on Postgres. After checking, in the latest version of Azure Arc extension (0.9.6), Postgres backup/restore was removed due to the plan on re-designing APIs. The APIs will be introduced in the future when they are ready. So customer wants to use previous version of Azure Arc extension.

In extension of ADS, we could only

[2021-09-30 10:00] ummspmacdon commented on #17142
I wound up saving my settings.json file off and uninstalling ads completely.  Clearing out both the local and roaming AppData folders as well.  I reinstalled a newer version (1.32.0 vs. 1.22.1) as well.  With the completely clean install and the brand-new settings.json, a;; functionality (excel, csv, json, copy/paste etc.) was restored.  I replaced the new settings.json file with my previously sav

[2021-09-30 13:07] msdcanderson commented on #5173
I have had this issue for a few days now (on Azure Data Studio v.1.32.0).  It's an odd error - it looks like the server is connected (green icon), no connection errors - but the same message as above.

I managed to resolve it by:

- Re-opening Azure Data Studio
- Reconnect user (go through authentication)
- ![image](https://user-images.githubusercontent.com/20575321/135460083-4d673bbf-42df-44bc-be

[2021-09-30 15:36] Nefcanto opened #17205 "Support for shell/command-line sql comparison"
**Is your feature request related to a problem? Please describe.**
Comparing databases using UI means that we can't automate SQL Comparison for our CI/CD pipelines. Right now I want to have the ability to drop the pipeline if databases are not identical and no suitable migration script is provided.
But I can't.

**Describe the solution or feature you'd like**
The solution is to support a command-l

[2021-09-30 15:54] lucyzhang929 commented on #15543
Closing this issue since notebook/grid rendering times were improved in the following PRs: https://github.com/microsoft/azuredatastudio/pull/16577, https://github.com/microsoft/azuredatastudio/pull/16709, https://github.com/microsoft/azuredatastudio/pull/16833

[2021-09-30 16:04] Charles-Gagnon commented on #17205
@udeeshagautam @kisantia @Benjin FYI

@Nefcanto Are you referring to the schema compare extension or something else?

[2021-09-30 16:16] Charles-Gagnon commented on #17202
We don't officially support multiple versions of an extension in our marketplace. And older versions of extensions are also unsupported and could result in various issues.

If you are ok with all this and still want to give it a shot you can get older versions by changing the version number in the URL and downloading the VSIX manually : https://sqlopsextensions.blob.core.windows.net/extensions/arc

[2021-09-30 16:16] #17202 closed

[2021-09-30 16:19] lucyzhang929 commented on #16093
@chlafreniere Do we want to remove the actions completely? The trust icon might still be useful to show that the trust has changed in a notebook.

[2021-09-30 16:33] #16917 closed

[2021-09-30 16:53] kisantia commented on #17205
@Nefcanto sounds like the sqlpackage [Deploy Report](https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage-deploy-drift-report?view=sql-server-ver15) action might be able to do what you're looking for. Sqlpackage is a command line tool and the deploy report be an xml file with any differences between the source and target.

[2021-09-30 17:59] yualan commented on #17016
The ideal scenario would be Raden's proposal where clientside it defaults to which editing mode the user was on when they closed out of editing mode. Incrementally, it's fine to set a default, but ideally would like to investigate Raden's proposal.

[2021-09-30 18:27] Nefcanto commented on #17205
@Charles-Gagnon , yes, I'm referring to the schema compare extension with this id:

`microsoft.schema-compare`

[2021-09-30 18:28] Nefcanto commented on #17205
@kisantia, thank you for that reference.

Is it a cross-platform utility? We're using Linux (Ubuntu and Debian).

[2021-09-30 18:31] kisantia commented on #17205
@Nefcanto yup sqlpackage is cross-platform. Here's a link with the downloads for the different platforms: https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage-download?view=sql-server-ver15

[2021-09-30 19:49] #17183 closed

[2021-09-30 20:08] kburtram opened #17209 "arc extension raising missing LOC resource error on startup"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Launch ADS with arc extension, such as in the default dev env

Expected: no errors

Actual: Error from arc about missing resource strings.  See below.  It looks like the resources were removed in this PR https://github.com/microsoft/azuredatastudio/pull/17119/files#diff-2659e47f1ac2a1511ae01a88b9b9799a810e271476108397667b5ecaaf3a4f50L88.

[2021-09-30 20:08] kburtram commented on #17209
@candiceye it looks like this came in from your PR #17119.  Could you please take a look or assign to someone else working on the arc extension?

[2021-09-30 20:47] VasuBhog opened #17210 "Notebook: Support for text editing shortcuts in splitview/md"
**Is your feature request related to a problem? Please describe.**
Markdown also support keybindings of ctrl+b and such

**Describe the solution or feature you'd like**
Investigate VS-Code Extension that adds contributions for markdown shortcuts.

[2021-09-30 20:47] VasuBhog commented on #16977
Added keybindings for WYSIWYG will investigate splitview/md shortcuts as well. Tracked here: #17210

[2021-09-30 21:10] #15330 closed

[2021-09-30 21:35] chlafreniere commented on #17210
@VasuBhog with the extra week, how about we try getting this in for October?

[2021-09-30 22:20] #16977 closed

[2021-09-30 23:26] chlafreniere commented on #16093
@lucyzhang929 that's a good question, and I think we'd need some PM help here. We may even want a subset of actions in diff editor. Can you ask PM?

[2021-09-30 23:26] skywalkerisnull opened #17212 "Backup SQL to local"
Option to backup the remote SQL server, to a local location. i.e. execute the backup into a temp location on the remote SQL server, and then transfer the backup to the local machine.

Currently, I would need to execute the backup, wait until it is done, and then SCP or remote into the server to pull it down. Combining these steps into one would make it much simpler to dump down servers to test and

[2021-09-30 23:53] rajeshka commented on #17169
Its a dupe of this.

[2021-09-30 23:55] VasuBhog commented on #17210
@chlafreniere Agreed should be possible.

[2021-10-01 02:42] rajeshka commented on #17169
https://github.com/microsoft/azuredatastudio/pull/17185 - PR for the above

[2021-10-01 04:20] satya-spektrasystems opened #17213 "Inherit database connections from current context."
Think that I am connected to a database and writing a storedprocedure. Now I want to write a helper function so I clicked ctrl+N, creates a new unsaved file. This unsaved file should inherit the database connection like SSMS. But in Azure data studio I have to select the database again from the saved list. This is unnecessary and taking a lot of time.

[2021-10-01 16:22] Charles-Gagnon commented on #17213
What version are you using? We have that same functionality and it appears to be working fine in my testing with the latest version.

If you could get the logs as described below that may help determine if there's something else going on that is causing it to fail.

[2021-10-01 16:25] chlafreniere commented on #8541
Tracked by #17169

[2021-10-01 16:25] #8541 closed

[2021-10-01 16:27] chlafreniere commented on #11862
@MsSQLGirl given the team's previous decision to not invest in a full-fledged table editor in markdown, can we close this issue as the equivalent of a "won't fix"?

[2021-10-01 17:57] yualan commented on #16093
Hi Team, walked through the scenarios with Lucy. Let's hide those icons when in diff mode. Let's get user feedback if there are scenarios where users must have those actions when in diff mode.

[2021-10-01 17:58] #17209 closed

[2021-10-01 17:58] chlafreniere commented on #16093
@yualan to clarify, you're suggesting that we remove all of them, correct?

[2021-10-01 18:06] rubahness commented on #11511
I wanted to chime in that this is very frustrating, as not only do CDC tables not appear in the object explorer, but I can only view the system functions like sys.fn_cdc_get_min_lsn() by connecting to the master database, which may not always be an option.  Plus, trying to view the definition for the functions from the non-master db only shows the definition for creating the sys schema.

It would

[2021-10-01 20:06] #15220 closed

[2021-10-01 20:50] PinkysBinkys opened #17217 "Unable to install python kernel"
Issue Type: <b>Bug</b>

1. Open Notebook
2. Prompted to install Python kernel
3. Clicked through to install taking all defaults
4. Failed with the following error:

ERROR: Failed building wheel for argon2-cffi
ERROR: Could not build wheels for argon2-cffi which use PEP 517 and cannot be installed directly
WARNING: You are using pip version 19.2.3, however version 21.2.4 is available.

Azure Data S

[2021-10-01 20:59] kburtram commented on #2769
We've made several improvements to scrolling since this issue was opened.  Including improving some of the cases with multiple resultsets and double-scrollbars and increasing the size of the scrollbars.  Please let us know if you're still impacted by this issue.

[2021-10-01 20:59] #2769 closed

[2021-10-01 21:02] alanrenmsft commented on #17030
@brian-harris @aasimkhan30 any update? I am going to move this to next milestone

[2021-10-01 21:53] #17199 closed

[2021-10-02 01:17] #16856 closed

[2021-10-02 02:41] #9163 closed

[2021-10-04 17:38] aasimkhan30 commented on #16042
@Charles-Gagnon, tried the SQL plan file in 1.32.0 stable release and it renders fine.

![image](https://user-images.githubusercontent.com/6816294/135898015-2d1d2e6b-4468-4cf5-b089-e3643ef793e6.png)

[2021-10-04 17:38] #16042 closed

[2021-10-04 21:19] chlafreniere opened #17231 "Unable to Choose JSON Swagger File"
Attempted to use sample swagger file (e.g. https://github.com/LufthansaOpenAPI/Swagger4Partners/blob/master/LH-OpenAPI-Partners-Swagger2.json) and when browsing for the swagger file in VS Code, file browser did not let me choose a .json file:

![image](https://user-images.githubusercontent.com/40371649/135926320-c06e77ea-cd64-4c4b-972f-a64b2abc7747.png)

[2021-10-04 21:25] chlafreniere opened #17232 "Autorest Tool Installed without Warning"
After choosing both my swagger spec and project locations, I wasn't expecting the autorest tool to install itself. We should make this explicit to users that it will be installed on their machine rather than catching them by surprise.

[2021-10-04 21:32] kisantia opened #17233 "Update Sql Projects docs for workspace settings and vscode"
After the changes in https://github.com/microsoft/azuredatastudio/pull/17178, the workspace file now has an excludedProjects list in the .code-workspace file instead of a list of included projects as currently described in the [docs](https://docs.microsoft.com/en-us/sql/azure-data-studio/extensions/sql-database-project-extension?view=sql-server-ver15#workspace).

Also, now that the extension will

[2021-10-04 21:39] zijchen opened #17234 "Better formatting for generated T-SQL from Open API spec"
Current formatting when generating sqlproj from Open API spec:
[code]

[2021-10-04 21:42] chlafreniere opened #17235 "Choosing Swagger Spec with No Model Results in Empty sqproj with No Explanation"
When choosing a swagger spec that has no model defined, users are brought to the Projects viewlet and see an empty project:

![image](https://user-images.githubusercontent.com/40371649/135928656-44adbd11-d177-4666-a1b3-7045021d6a81.png)

At a minimum, we should pop up a warning message saying here saying that this is expected. I was initially quite confused.

[2021-10-04 21:50] udeeshagautam opened #17236 "Allow both yaml and yml (and json) file extensions for Open Api"
- Azure Data Studio Version: latest insider

Steps to Reproduce:

1. Use Create project from Open Api command from command pallet
2. It lets you choose files but only yaml
2. It should also allow .yml file because they are both same

[2021-10-04 21:53] Charles-Gagnon opened #17237 "Browse option in "Generate proj from swagger spec" is probably unnecessary"
Since it's the first step in the process and the command already indicates that it's generating a project from a spec file then I think it's reasonable to just open the browse dialog directly.

If we decide to keep it though we should put a folder icon before the browse to match the other dialogs

![image](https://user-images.githubusercontent.com/28519865/135929924-bdf050e1-8b52-4d8b-bf88-eb5cdb5

[2021-10-04 21:56] kisantia opened #17238 "Be able to specify docker container name for deploy project to container"
I got confused when I saw this container was created because the name was random:
![image](https://user-images.githubusercontent.com/31145923/135930148-dfb6eaa1-c123-40bb-bcdd-ebfeda3b8c63.png)

It would be nice if it defaulted to the project name or the user was able to select it.

[2021-10-04 21:58] llali opened #17239 "Creating sql proj from yaml file fails"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

 using the following yaml create a sql proj: https://github.com/AmericanAirlines/AA-Mock-Engine/blob/master/api/swagger/swagger.yaml
Expected: either a sql project is created or it should show an error which helps user understand the problem
Actual: the error is not clear:

"    > autorest --use:autorest-sql-testing@latest --input-fi

[2021-10-04 21:59] udeeshagautam opened #17240 "If Project deploy fails - notification should bring up right output pane"
- Azure Data Studio Version: latest Project vsix from main
- OS Version:

Steps to Reproduce:

1. Have output pane open in some other view that "Database Projects"
2. Do a docker deploy that fails
3. It correctly shows a notigfication with messsage : Check output pane for more details"
4. But it doesnt not have a link to right output pane or doesnt switch to the right output pane. Should have one

[2021-10-04 22:01] Charles-Gagnon opened #17241 "Generate project from swagger spec should allow choosing name of project"
Currently it just uses the name of the swagger file - it would be nice to be able to specify what name you want to use.

[2021-10-04 22:04] Charles-Gagnon opened #17242 "Generate proj from swagger spec succeeds but error occurs"
Using https://editor.swagger.io/

[code]

[2021-10-04 22:06] Charles-Gagnon opened #17243 "Generating project from swagger spec should display progress"
It would be good to have a progress indicator showing that the project is being generated - currently it just outputs messages into the output pane but nothing else indicates it's doing anything.

[2021-10-04 22:12] chlafreniere opened #17244 "Provide Easy Way to Add Published Database to List of Connections"
After publishing my .sqlproj to a new server in a container (I tried in VS Code), the deployment succeeded, but I was hoping that there was an easy way to see that database show up in my list of connections.

It would be great to provide users with an easy way (1-click maybe?) to add a new entry in connections in a user's workspace.

[2021-10-04 22:15] Charles-Gagnon opened #17245 "Errors while generating project from swagger should be more descriptive"
Right now it just pops up a box saying `Generating project via AutoRest failed: Process exited with code 1`. It should ideally get some sort of more helpful message - or at least provide a link to open up the output pane with the more detailed failure.

[2021-10-04 22:24] Charles-Gagnon opened #17247 "SQL Proj and Azure Functions use different versions of autorest"
It seems like they each use their own version of autorest :

1. Create SQL Proj from swagger spec
2. It installs autorest
3. Generate Azure Function project (C#, Http Trigger with OpenApi)
4. Get this error from the Azure Function extension

[code]

The two extensions should both use a common version of autorest if possible.

[2021-10-04 22:25] udeeshagautam opened #17248 "When adding Binding to an Af project Table name input box placeholder doesnt look like placeholder [Not critical]]"
- Azure Data Studio Version: Latest Project extn. (Tested in VSCode)
- OS Version:

Steps to Reproduce:

1. Use Add SQL Binding command in VSCode to add Sql Binding
2. The table name that comes in picker is a place holder but it looks like a real name and user might skip to change it.

[2021-10-04 22:34] ssreerama opened #17249 "Sql database Project Schema Compare adding result windows to bottom of the window"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:
1. Create two Sql projects of same schema.
2. Right click on any one database sql proj and select schema compare.
3. Select the other projects as target, and compare them, should show no schema differences.
4. Now add a table to one project and build the project.
5. Click on compare with same schema compare window.
6. Notice the resul

[2021-10-04 22:35] llali opened #17250 "publish to docker fails when project has space in the name"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2021-10-04 22:36] Charles-Gagnon commented on #17243
Something like what AF does would be nice

![image](https://user-images.githubusercontent.com/28519865/135933827-f9d412d3-e9a1-44a0-b0fb-7ac52d26a6ef.png)

[2021-10-04 22:38] kisantia opened #17251 "Multiple AF projects in the workspace not fully supported for "Add SQL binding""
A current limitation for add SQL bindings when there are multiple Azure Functions projects in the workspace is that local settings aren't loaded and can't be added in the quickpick. Adding a new connection string setting and loading the existing settings in the local.settings.json are available when one AF project is in the workspace, but not if there are multiple.

one AF project in workspace:
![

[2021-10-04 22:40] chlafreniere opened #17252 "Add SQL Binding Doesn't Find .NET 5.0 Azure Function Method"
When creating a new Azure Function and choosing .NET 5.0, when I choose "Add SQL Binding" from the command palette, an error message pops up saying that no Azure Functions can be found in the current file:

![image](https://user-images.githubusercontent.com/40371649/135934072-68884939-c613-4524-9d57-5e33a6e73ac4.png)

[2021-10-04 22:43] kisantia opened #17253 "Add link to sql bindings repo in popup"
When multiple AF projects are in the workspace, the nuget package doesn't get automatically installed and only a popup is shown reminding the user to add the package reference. There should also be a link to the sql bindings repo for more information and instructions on how to add the package reference.

[2021-10-04 22:45] kisantia opened #17254 "Deploy project to docker removes previous docker container"
When I first deployed a project to docker, this container was created:
![image](https://user-images.githubusercontent.com/31145923/135934359-440ad823-a0f3-41e5-aa87-01002c768154.png)

I tried deploying the same project again to a different port and saw that the previous container was removed and a new one was created:
![image](https://user-images.githubusercontent.com/31145923/135934141-8d45e960-7

[2021-10-04 22:47] Charles-Gagnon opened #17255 ""Add SQL Binding" command should be in a group"
Right now it's just a top level command

![image](https://user-images.githubusercontent.com/28519865/135934647-65930a00-4497-4ec7-9dc8-3edd0e25a992.png)

Would be nice to put it under a group - like the Azure Functions does

![image](https://user-images.githubusercontent.com/28519865/135934708-da33f38d-3860-4bfb-9924-ce8342493d1f.png)

[2021-10-04 22:55] llali opened #17256 "sqlproj sql binding create connection string in app setting but publish to docker doesn't update it"
- Azure Data Studio Version:
- OS Version:

we need a consistent behavior when working with sql proj inside the workspace with azure functions. When creating a sql proj with Azure function and then use sql binding, connection string is created in the  the local setting but when publishing to docker we don't update the connection string. We should store the name of the connection string env variabl

[2021-10-04 22:55] Charles-Gagnon opened #17257 "Generate project from swagger spec should also include build tasks for building the project"
e.g. - when you create an Azure Functions project it also creates a number of useful VS Code files such as launch.json and tasks.json

![image](https://user-images.githubusercontent.com/28519865/135935339-30038f01-62cc-4dc9-81f4-a851a034d623.png)

Given that these are being done from VS Code it seems useful to also do the same for us so users can do things like hit ctrl+shift+b to run the build ta

[2021-10-04 22:56] Charles-Gagnon commented on #17257
@abist - @udeeshagautam said you might have something for this. Does this look familiar to you?

[2021-10-04 22:57] llali commented on #17254
this is bu design I thought it should be like this to not deploy multiple ones. is there any reason you were expecting it to keep the current one

[2021-10-04 23:07] Andrewnt219 commented on #17020
Hi @kisantia, I want to help with this issue. Can you tell me where in the codebase I should start looking at?

[2021-10-04 23:08] zijchen commented on #17234
Same table from extract:
[code]

[2021-10-04 23:17] kisantia commented on #17254
it would be nice if there was a warning or something to notify the user if the docker container is getting deleted in case they were already connected to it.

[2021-10-04 23:25] VasuBhog opened #17259 "Build Docker Image from VS Code Command/Shortcut"
It is not possible for SQL Project to build the image via the command "Docker Images: Build Image" or right-clicking the SQL Project Dockerfile and going through the steps as it will result in an error: ` => ERROR [3/4] COPY .mssql/commands/ /opt/commands` since the user has to pass in additional env variables to build the image properly.

[2021-10-04 23:40] kisantia commented on #17020
@Andrewnt219 we'd love to get your help on this issue! A good place to start would be in this readProjFile() function : https://github.com/microsoft/azuredatastudio/blob/main/extensions/sql-database-projects/src/models/project.ts#L110

[2021-10-05 00:32] alanrenmsft opened #17261 "the recent/browse tab header sometimes disappears"
![image](https://user-images.githubusercontent.com/13777222/135942233-87fc8ddb-1158-4081-b2f5-f32199fbbcc3.png)

[2021-10-05 00:34] Andrewnt219 commented on #17020
Thanks. I'll research it in the next few days, and come up with a solution if I can at the end of the week.

[2021-10-05 00:35] #17248 closed

[2021-10-05 07:41] DBojsen opened #17264 "Add central management server on Mac"
Issue Type: <b>Bug</b>

When attempting to add a Central Management Server on Mac, the only authentication options are SQL Server Authentication and Windows Authentocation.

AAD options are missing.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:09:20.282Z)
OS version: Darwin x64 20.6.0

<details>
<summary>System Info</summary>

|Item|Va

[2021-10-05 12:57] gdwallace commented on #3627
I just recently started using Azure Data Studio, I'm on version 1.32.0 and can confirm that this is still an issue.

I am working from home and have to connect to a VPN to access the servers that house our DBs.  I have no connection issues with the VPN.  However; Azure Data Studio will stop responding for no reason.  Even if I don't leave it idle for any amount of time.  I can be working in it for

[2021-10-05 14:14] joshbooker commented on #16828
@Rod-in-NM, when it hangs, try closing the script file and reopening in a new tab then execute again.

Do you get the results from the first execution in the results pane?

If so, related: https://github.com/microsoft/azuredatastudio/issues/5627

[2021-10-05 14:15] GrzegorzLyp commented on #3627
After some investigation on my DBs, it turned out that while I am waiting the query to be executed, ADS execute tons of technical queries on my DB and that seems to be the reason.

[2021-10-05 14:17] joshbooker commented on #3627
@GrzegorzLyp, when it hangs, try closing the script file and reopening from disk in a new tab then execute again.

Do you get the results from the first execution in the results pane of the second?

If so, related: #5627

[2021-10-05 14:17] gdwallace commented on #16828
This is happening to me with just a simple select statement, nothing overly complicated.
I'll try the same thing, closing the tab and executing the query in a new tab; see if that does anything for me.

[2021-10-05 14:31] Rod-in-NM commented on #16828
Ok @joshbooker.

[2021-10-05 14:40] gdwallace commented on #3627
I just had this happen to me.
I closed the tab that froze up and opened a new tab.  I lost connection to the database.

[2021-10-05 14:49] joshbooker commented on #3627
reconnect and execute again in new the tab.  look closely at results.  are the results from both executions displayed in the results pane of the second execution?

[2021-10-05 15:04] gdwallace commented on #3627
No, once I close the frozen tab, I have to reconnect to the DB, the only results I see in the results pane are from the query I just executed.

[2021-10-05 15:35] joshbooker commented on #3627
thanks for trying.  the only way I've been able to repro #5627 is to immediately reopen the file from disk in a new tab, reconnect and execute -immediately after the hang.  Would love some more folks to repro and attention paid to this issue.

[2021-10-05 16:39] rajeshka opened #17267 "Add tests for split cells"
Add tests to this PR https://github.com/microsoft/azuredatastudio/pull/17185

[2021-10-05 16:47] #17261 closed

[2021-10-05 18:22] GrzegorzLyp commented on #3627
In this situation none of the tabs work.

[2021-10-05 18:30] joshbooker commented on #3627
correct.  did you try closing the tabs and immediately reopen the file from disk in a new tab, reconnect and execute -immediately after the hang?

[2021-10-05 18:31] GrzegorzLyp commented on #3627
Just written "select"
![image](https://user-images.githubusercontent.com/29247982/136081856-dd7cc505-1a13-4b25-b339-12f70391832f.png)

And 643 events in profiler mosty asking for something about logins (probably it takes longer as you have more logins)
![image](https://user-images.githubusercontent.com/29247982/136081830-9ed1c419-d60d-42ff-9aeb-28d1de9590b6.png)

[2021-10-05 18:36] GrzegorzLyp commented on #3627
And the last killer query is below. It takes minutes to execute

exec sp_executesql N'SELECT
SCHEMA_NAME(sp.schema_id) AS [Schema],
sp.name AS [Name],
sp.object_id AS [ID],
CAST(
 case
    when sp.is_ms_shipped = 1 then 1
    when (
        select
            major_id
        from
            sys.extended_properties
        where
            major_id = sp.object_id and
            minor_id = 0 and

[2021-10-05 19:02] Charles-Gagnon commented on #3627
@shueybubbles Looks like stuff coming from SMO causing slowdowns here. Have you seen anything like this?

@GrzegorzLyp If you run the query locally (you'll need to fiddle around with the params) do you see the same slowness?

[2021-10-05 19:08] shueybubbles commented on #3627
@Charles-Gagnon the queries can be slow for lots of reasons. The UI shouldn't be blocking on completions at all.

[2021-10-05 20:19] Benjin commented on #17245
Proposed fix: link to open pane, or use `--verbose` when executing autorest

[2021-10-05 20:23] Benjin commented on #17241
Prompt for option, default to name from spec

[2021-10-05 20:25] Benjin commented on #17239
I'll check with the autorest team; this appears to be in the core modeler

[2021-10-05 20:32] Benjin commented on #17234
This is how SMO generates scripts

Options:
* SMO scripting options to prettify it
* scriptdom interpret -> generate
* vscode format document

[2021-10-05 20:33] Benjin commented on #17232
Technically, it's just using it directly from NPM via the `npx` command and not installing it, but we'll make this (and the option to install it permanently) more explicit to the user.

[2021-10-05 20:38] #17138 closed

[2021-10-05 20:39] Benjin commented on #17139
Unable to repro on latest version of extension

[2021-10-05 20:55] alanrenmsft opened #17268 "loading python 3 kernel failed"
1. Open a large notebook (e.g. our DRI report notebook)
2. Restart ADS

Expected
the notebook is loaded successfully.

Actual
![image](https://user-images.githubusercontent.com/13777222/136100950-3cec922a-d8ef-4158-893c-5da43c9fc712.png)

[2021-10-05 22:41] wwangsa opened #17271 "Disconnect button is missing"
Issue Type: <b>Bug</b>

After the connection to the database is established, right clicking on the database name (under the connections section on the left) would not show disconnect. Clicking into databases folder first then right click on the database name, the disconnect will show up.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:09:

[2021-10-06 07:17] BurstX opened #17280 "After ADS update, the previously pinned tabs are no longer pinned"
Issue Type: <b>Bug</b>

Pin a few tabs (with T-SQL code in them) in an ADS instance you have, then upgrade ADS to the next version. The pinned tabs are no longer pinned after the update.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|

[2021-10-06 16:49] alanrenmsft commented on #6763
I have made an improvement in this area, when the issue occurs, the editor won't crash, and you can save the query and open a new query editor.

Closing the issue because users would most likely to open new issue for the new symptom:
![image](https://user-images.githubusercontent.com/13777222/136127065-317ccec7-4225-4cc9-a62f-32dfe774de57.png)

I've added more logging that would help identify the

[2021-10-06 18:04] alanrenmsft commented on #17142
@ummspmacdon have you figured out which setting caused the issue? I looked at the code and the action bar is not associated with any settings, I can try to reproduce it locally with your findings.

[2021-10-06 19:40] rajeshka opened #17283 "Hide or grey the split cell icon if the cell is not in markdown mode"
Currently the split cell icon is displayed when in WYSIWYG mode which there is no support.

![image](https://user-images.githubusercontent.com/29285871/136271850-be75aaf5-7e7b-49f6-93b4-e66dbe61c868.png)

This task is to hide that icon

[2021-10-06 20:11] rajeshka opened #17285 "Support Split cell in WYSIWYG mode."
**Is your feature request related to a problem? Please describe.**
User will be able to split cell in markdown mode with this checkin https://github.com/microsoft/azuredatastudio/pull/17185. This feature is to add support to split cell in WYSIWYG mode

[2021-10-06 20:39] chlafreniere commented on #17076
Fixed by #17141

[2021-10-06 20:39] #17076 closed

[2021-10-06 21:12] chlafreniere commented on #17268
Gotcha, thanks! Just double checking 😄

[2021-10-06 23:47] #16861 closed

[2021-10-07 02:19] chlafreniere commented on #17285
@rajeshka I've put this into the December milestone. If, after you've triaged issues, this won't make December, please feel free to move to backlog.

[2021-10-07 04:54] corivera commented on #17217
No, that's a different error message than the one I was seeing. This looks like a problem with the pip install process.

[2021-10-07 13:55] wwangsa commented on #17271
@alanrenmsft  I think it happens to any sql server versions but the ones that I have been working on are on-Prem SQL Server 2016 and 2017. Typically, I don't need to restart ADS to find disconnect button. I have to click on the databases or the object inside it then right click again on the connection. Here the screenshot.
<img width="368" alt="Screen Shot 2021-10-07 at 9 22 41 AM" src="https://us

[2021-10-07 18:44] Benjin commented on #17247
Addressing this with the fix for https://github.com/microsoft/azuredatastudio/issues/17232 to make it explicit whether autorest is installed and how it's running

[2021-10-07 21:38] VasuBhog opened #17302 "WYSIWYG clicking %20 file opens wrong file"
- Azure Data Studio Version: 1.32.0
Commit: 4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e
Date: 2021-08-16T18:09:20.282Z (1 mo ago)
VS Code: 1.56.0
Electron: 12.0.7
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 20.6.0

Steps to Reproduce:

1. Using the Callout Dialog insert a link that contains a %20 in the file name
2. Click on said link without exiting the cell it wo

[2021-10-07 22:48] #17250 closed

[2021-10-07 22:49] #17244 closed

[2021-10-07 22:49] #17238 closed

[2021-10-08 06:22] #17231 closed

[2021-10-08 06:22] #17236 closed

[2021-10-08 21:01] MaddyDev opened #17325 "Jupyter Book scrolling issue"
Creating on behalf of Julie:

Version: 1.33.0-insider (user setup)
Commit: 747b8e84a89d418e380a949f16c41ac3a09930b3
Date: 2021-10-06T05:52:49.864Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. Create a jupyter book from my own folder / github repo https://github.com/MsSQLGirl/jubilant-data-wi

[2021-10-08 21:11] #17253 closed

[2021-10-08 21:15] #17255 closed

[2021-10-08 22:06] Andrewnt219 commented on #17020
Hi @kisantia, I was trying to set up the dev environment, but I'm stuck. I followed all the steps and installed all the things from the [wiki](https://github.com/Microsoft/azuredatastudio/wiki/How-to-Contribute).

When I launched with preset "Launch ADS & Debug Renderer and Extension Host", it ran on port 5870, but just show a message "WebSockets request was expected". Do you know what I did wrong

[2021-10-08 22:24] #16972 closed

[2021-10-08 22:24] kisantia commented on #17020
hmm I don't remember seeing that particular error before. A couple things to check:

- make sure yarn run watch is running and that both `[watch-extensions]` and `[watch-client]` are finished
![image](https://user-images.githubusercontent.com/31145923/136630627-201f6d1f-0d22-44de-be19-7e3b4452c4f4.png)

- try running `./sql.bat` (or `./sql.sh` if not on windows) in the scripts folder and see if AD

[2021-10-08 22:29] #17302 closed

[2021-10-08 22:29] #16403 closed

[2021-10-09 00:37] #5863 closed

[2021-10-09 02:36] DTronD opened #17329 "Second query tab cannot establish connection to previously used connection."
From a fresh start of ADS, using a query still open (reopened?) from the prior session of ADS, use the Connect button in the connection toolbar above the query editor.  From the displayed "Connection" pane, select the "Browse" tab and pick a known-good connection and hit the Connect button at bottom of the Connection Details sub-pane.  The connection will establish and the query can be executed.

[2021-10-09 03:06] #17329 closed

[2021-10-09 06:11] rajeshka commented on #17285
https://github.com/microsoft/azuredatastudio/pull/17331

[2021-10-09 10:18] ingebeumer opened #17332 "Migration failed with internal error while restoring database"
Issue Type: <b>Bug</b>

Hi all,
Using Azure SQL Migration extension in Azure Data Studio for a migration of WideWorldImportersDW from local SQL Server 2019 to Azure SQL Managed Instance I get a message:
"Migration for Database 'WideWorldImportersDW_offline_fromADS' failed with error 'An internal error occurred while restoring the database. Please retry the restore request later.'."
Retrying restor

[2021-10-11 08:03] AnyiYang commented on #17202
Thanks Charles for your update

[2021-10-11 09:09] gabor-rozsa opened #17337 "DMS - Typo"
Issue Type: <b>Bug</b>

At DMS specification in the "Setup integration runtime" part:

"..from onpremises fie share to Azure."

correct:
"..from onpremises file share to Azure."

Extension version: 0.1.8
Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summar

[2021-10-11 16:31] Charles-Gagnon commented on #17337
@brian-harris FYI

@gabor-rozsa Could you include a screenshot of the string in question?

[2021-10-11 18:47] chlafreniere commented on #17066
Fixed by #17141.

[2021-10-13 05:56] Andrewnt219 commented on #17020
Hi @kisantia, I tried all of them, lines by lines, but none seems to work. I might have misunderstood some steps, or my window has some setup that prevents the ADS from running (even when both `watch-client` and `watch-extensions` compiled successfully).

Unfortunately, I cannot continue with the issue. Thanks so much for your helping me.

[2021-10-13 12:19] gituser227 opened #17347 "Invalid Column Name bug has returned"
Issue Type: <b>Bug</b>

The issue at https://github.com/microsoft/azuredatastudio/issues/3055 has returned.

Steps to Reproduce:

Enter a TSQL Update command, making sure to use valid column names.
There are red lines under column names, with warning "Invalid column name [column-name-here]."

The column names are valid, and the command will execute successfully, so there should be no "Invalid colu

[2021-10-13 15:11] eduardobr opened #17348 "Unable to open 'dashboard': Unable to resolve resource dashboard:dashboard"
- Azure Data Studio Version: 1.32
- OS Version: Windows  10.0.19042.1237 (20H2)

Tested only using the .zip distribution

Steps to Reproduce:
1. Unzip Azure Data Studio 1.32 and open azuredatastudio.exe
2. Do not create a connection yet, just close it
3. Edit your settings.json and paste some datasource.connections (from some other settings.json for example)
4. Open Azure Data Studio again
5. Try

[2021-10-13 15:56] csegyud opened #17349 "Remember grid column widths when refreshing the grid"
**My problem**
When using the _Edit data_ feature, the data is presented in an editable grid, where the columns have a default width.
If I adjust the width of the columns to see the full contents of a field, and then I reload the data in the grid, then the columns are reset to the default width. The same problem happens with the normal queries (read only grid).
This is somewhat frustrating.

**Pos

[2021-10-13 16:04] csegyud opened #17350 "Editable grid: option to show "New Row" line at the top of the grid"
**My problem**
In the _Edit data_ feature the grid has a new row line at the bottom to add a new record to the table.
This is useful but sometimes it is frustrating to scroll down through several pages of rows to have the new row line in the viewport.

**Possible solutions**
An option (a button in the grid editor toolbar?) to move the new row line to the top of the grid would help this issue.
As a

[2021-10-13 17:30] sadukie opened #17351 "Notebook kernel list: not showing kernels in kernelspec for new notebooks"
Issue Type: <b>Bug</b>

## Problem

When creating a new notebook in Azure Data Studio, the kernels list seems hard-coded rather than pulling from the Jupyter kernelspec list.

## Reproduction Steps

1. Have more than just the default kernels installed in the Jupyter kernelspec.

- I blogged about getting the R kernel installed here: [Data Adventurer: Getting an R Jupyter Kernel in Azure Data Studi

[2021-10-13 17:32] danabrash opened #17352 "User Management makes this tool completely unusable"
Issue Type: <b>Bug</b>

3 times now, 3 separate systems, 3 separate installs.  Azure creds.

Credentials management takes my credentials. logs me in, and when I try to connect to get my list or connect to a server it returns me to the user selection pane.

There is no options, context menu, nothing available on my account.

Removing and re-adding the account doesn't help.

Azure Data Studio versio

[2021-10-13 23:25] kisantia commented on #15979
closing since we couldn't repro. Might have been fixed by https://github.com/microsoft/azuredatastudio/pull/17184 and https://github.com/microsoft/sqltoolsservice/pull/1250

[2021-10-13 23:25] #15979 closed

[2021-10-13 23:28] preethamrajk opened #17356 "Sign in to Azure is stuck when using Proxy"
Issue Type: <b>Bug</b>

When I want to connect my Azure AD account, I am stuck after I enter my credentials and login on Azure Login page and I don't get a successful callback to Azure Data Studio.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19042
![image](https://user-images.githubuserconte

[2021-10-13 23:32] #6083 closed

[2021-10-13 23:43] #17157 closed

[2021-10-13 23:44] kburtram commented on #17264
@DBojsen as far as I'm aware CMS is only supported for On-Prem SQL Server instances, which don't support AAD.  Am I missing a scenario here?  Thanks!

[2021-10-13 23:45] #17167 closed

[2021-10-13 23:50] Charles-Gagnon commented on #17264
@kburtram It seems like he's referring to the connection to the CMS server itself (which is just a normal SQL connection so can support Integrated/AAD/etc auth)

I'm seeing the same thing so I'm guessing that however the CMS connection widget was made it has its own list of supported auth types or something that wasn't updated with the AAD options.

![image](https://user-images.githubusercontent.c

[2021-10-14 00:05] kburtram commented on #17264
@Charles-Gagnon is there a scenario where it makes sense to use the AAD options?  When I add CMS connection to a Azure SQL DB using AAD in SSMS I get the below error.

![image](https://user-images.githubusercontent.com/599935/137229029-a85efdb7-342f-4dca-89ec-7b2bf3040f70.png)

[2021-10-14 03:07] #17347 closed, assigned to nobody

[2021-10-14 19:14] aakawero opened #17362 "Cannot connect to the Extensions Marketplace"
Issue Type: <b>Bug</b>

It has been a while since the message "We cannot connect to the Extensions Marketplace at this time, please try again later" has been showing up.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19043

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2021-10-14 20:15] chlafreniere commented on #16881
1. Comes from mssql extension, so we'll keep that string for now
2. has been since fixed

Because of this, closing this issue for now

[2021-10-14 23:25] JustinMDotNet commented on #17159
This will release with the October release.

[2021-10-14 23:25] #17159 closed

[2021-10-15 00:22] lewis-sanchez opened #17367 "ADS Web new Python install breaks notebook smoke tests"
- Azure Data Studio Version: 1.33.0-insider
- OS Version: Windows 10.0.19043

The smoke tests for ADS Web are timing out because Python notebooks aren't being configured correctly and prevents them from opening correctly.

Steps to Reproduce:

1. Launch ADS Web
2. Create a new notebook
3. Change the Kernel to Python3
4. In the configure python runtime blade, select "New Python Installation".
![ima

[2021-10-15 00:47] #17337 closed

[2021-10-15 17:47] Benjin commented on #17243
In case we want to make this a further enhancement, here's how the hotlinking to the output window works: https://github.com/microsoft/vscode-azurefunctions/blob/0704d4881540fcc555291d283cdbfa41c74212c4/src/commands/createFunction/openAPISteps/OpenAPICreateStep.ts#L62

I didn't add it here because it involves introducing a new command.

[2021-10-15 19:13] kburtram commented on #4182
@caohai could you please investigate if this is related to an expired token?  If it is, could you please include this use case in the various token refresh bugs you're fixing?  Thanks!

[2021-10-16 06:42] #17243 closed

[2021-10-16 12:19] princebillyGK commented on #4904
This issue will not be unnoticed to general users. This way Microsoft will collect more haters. Now I see their intention is to promote only Microsoft based product rather than contributing in opensource community and can't reply to this thread because they are ashamed to admit.

[2021-10-17 07:41] pjohnraj opened #17378 "Network Issue"
Issue Type: <b>Bug</b>

Hi I am getting error
A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: TCP Provider, error: 0 - No such host is known.)

Can you please help me how to resolve it

[2021-10-18 05:11] loiseKG0U opened #17379 "SQL Server Profiler stop working - Failed to create session"
Steps to Reproduce:
1. Connect to Azure SQL database
2. Launch Profiler on the database
3. Got the error: Failed to create session: An XEvent session named ADS_Standard_Azure already exists

I uninstalled and reinstalled the Azure Data Studio and SQL Server Profiler, the above was the first action with the new app and profiler.

The Developer Tool showed:
![image](https://user-images.githubusercon

[2021-10-18 15:51] #17378 closed, assigned to nobody

[2021-10-18 17:59] chayaverma7 opened #17380 "October 2021 Release Endgame"
# October 2021 Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.33

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

[win-user]: https://go.microsoft.com/fwlink/?linkid=2132305
[win-system]: https://go

[2021-10-18 18:57] kakins commented on #4904
The point is... we're complaining about a free professional-grade tool that you've had absolutely no stake in developing.  It's like getting a free hamburger and then insulting the restaurant because they didn't give you cheese.  I find it baffling.

[2021-10-18 19:01] Franjovi commented on #4904
agreed

kakins ***@***.***> schrieb am Mo., 18. Okt. 2021, 20:57:

[2021-10-18 20:17] VasuBhog opened #17381 "Split Cell Icon Should be last action icon"
Version: 1.33.0-insider
Commit: 7f92d8bc19c6269ad793f71b819667f7956c1638
Date: 2021-10-18T05:32:35.776Z (14 hrs ago)
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 20.6.0

![Screen Shot 2021-10-18 at 10 41 33 AM](https://user-images.githubusercontent.com/23587151/137800507-f9deb5ac-4ffc-4ec3-a3a7-7d7e31f96eaa.png)

After discussion

[2021-10-18 20:21] cssuh opened #17382 "Python/SQL Kernel not loading"
- Azure Data Studio Version:
![Screen Shot 2021-10-18 at 1 20 16 PM](https://user-images.githubusercontent.com/18150417/137801051-e8d32cc4-8e8b-4321-84d1-dc5d078d3ca3.png)
- OS Version: Windows 10

Steps to Reproduce:

1. Open any Python notebook
2. Python kernel does not load - notebook toolbar icons are not visible either
![image](https://user-images.githubusercontent.com/18150417/137800985-04c1

[2021-10-18 20:32] kburtram commented on #4904
Thanks for all the great feedback regarding this feature enhancement request.  The reason we haven't responded on this issue is there really isn't much to add beyond the feature is not actively being work on.  We are certainly well aware that this is the most requested enhancement for this product and we welcome engagement with this or other issues.  Please do be respectful of each other in the di

[2021-10-18 20:51] chlafreniere commented on #17267
@rajeshka moving this out of the milestone since it's test code, but please prioritize this and feel free to reach out from anyone from my team with help (we've done a lot of test authoring in ADS 😄)

[2021-10-18 21:41] justBanks opened #17385 "Servers area: Toolbar icons invisible in dark theme"
Issue Type: <b>Bug</b>

Using the dark theme, the toolbar icons do not show. On multiple occasions I have wasted an inordinate amount of time trying to figure out how to simply add a new server connection or group. This problem does not exist in the Search or Extensions areas.

![image](https://user-images.githubusercontent.com/277740/137809797-f96f5b3b-3ad9-4dbd-8956-21802c17afbc.png)
![image](ht

[2021-10-18 21:48] #17385 closed, assigned to nobody

[2021-10-19 13:34] chris-han opened #17390 "collation setting doesn't work"
Issue Type: <b>Bug</b>

created a project and change the 'ModelCollation' setting to 'Chinese_PRC_CI_AS' in project file .sqlprj, publish the project to azure.cn. the database Collation won't change.

Extension version: 0.12.0
Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.22000

<details>
<summ

[2021-10-19 17:03] rajeshka commented on #17267
@chlafreniere  - was oof few days. Seems like you moved this to December. Will reach out to your team when I start working on it.

[2021-10-19 17:26] chlafreniere commented on #17381
@VasuBhog this needs to go into the release branch. Please don't close approved issues during ask mode unless they're already in a release branch.

[2021-10-19 18:28] kburtram opened #17393 "New notebook cannot set a kernel"
- Azure Data Studio Version: `main`
- OS Version: Windows

Steps to Reproduce:

1. Open Notebook

Expected: Kernel set properly

Actual: Kernel is not set and wait spinner goes endlessly.  Exception is raised in log regarding angular initialization.  This only happens on insiders, same scenario works fine on stable on same machine.

![image](https://user-images.githubusercontent.com/599935/1379693

[2021-10-19 18:53] #17393 closed, assigned to nobody

[2021-10-19 20:02] #17381 closed

[2021-10-19 20:52] lesliewinston opened #17396 "Notebook MaxTableRows - alternate value for exports"
SQL Notebooks : option for row limit to be different for display and export.
Needed to export 70,000 rows, but didn't need to see them.

[2021-10-19 21:18] lesliewinston opened #17397 "SQL Notebook Export to Excel outputs numbers and dates as text that won't format"
Issue Type: <b>Bug</b>

1. Run a SQL Notebook code cell query that contains numbers and dates.
2. Export to Excel using the export button above the code cell display results.

Expected Results :
Numbers and Dates in the spreadsheet should allow formatting as usual using the Format Cells options.

Actual Results:
Number and Date columns output as text. These columns can not be fixed by changing the

[2021-10-19 22:00] kburtram commented on #17379
@loiseKG0U this appears unexpected as I thought the Profiler would try to reuse an existing session.  We'll follow-up on what's going on here.

As a workaround, have you tried deleting the XEvent sessions manually and see if that gets past the exception?  For reference, sessions can be removed using T-SQL such as `DROP EVENT SESSION [ADS_Standard_Azure] ON SERVER; `

[2021-10-19 22:16] kisantia opened #17398 "Add project name to update SSDT project message"
The message currently doesn't specify the project that needs to be updated, which can be confusing if there are multiple projects open:
![image](https://user-images.githubusercontent.com/31145923/137998151-0021124f-7dd2-402c-b5d2-b68e1e5d2286.png)

[2021-10-19 22:27] dferretti opened #17399 "Command line option to connect to postgresql database"
I would like to be able to open ADS and pass it a postgresql connection string via command line args and have it open a new query window to the specified database. This connection info would not need to be saved to the list of server connection info, as it would be a temporary set of credentials/ports generated elsewhere.

For my use case - I have a number of postgresql databases that are in vario

[2021-10-19 23:32] Charles-Gagnon opened #17400 "Split Cell duplicates cell"
1. Put cursor at beginning of cell
2. Click split cell

The entire cell is duplicated.

[2021-10-19 23:43] Charles-Gagnon opened #17401 "Split cell - new cell has blank line at the top when splitting at EOL"
1. Put the cursor at the end of a line
2. Split the cell
![image](https://user-images.githubusercontent.com/29285871/138164669-4a4cb0e5-9e04-4352-80fe-4085c2c8ce32.png)
![image](https://user-images.githubusercontent.com/29285871/138164702-b91a2395-a63b-4022-b2bc-8a273a1218c8.png)

The cell is split as expected, but there is an extra newline at the beginning of the new cell (which is the newline fr

[2021-10-19 23:52] Charles-Gagnon opened #17402 "Insert link/image buttons don't have tooltips"
![NoTitle](https://user-images.githubusercontent.com/28519865/138005790-55e493f5-815e-4481-b61b-55103da08e03.gif)

[2021-10-19 23:56] Charles-Gagnon opened #17403 "Insert image doesn't work for local images"
It creates the link but the img src link is broken

![BrokenImage](https://user-images.githubusercontent.com/28519865/138005943-7d9c6987-006a-45ee-9229-7e8476db1a29.gif)

[2021-10-19 23:59] Charles-Gagnon opened #17404 "Notebooks doesn't display images that have uppercase file extensions"
1. Create an image and give it an uppercase file extension (e.g. test.PNG)
1. Attach the image to the Notebook

The image will either show as a broken link or fail to attach and these errors appear in the console :

`Failed to fetch: TypeError: Failed to fetch`
`file: Refused to load resource c:\Users\chgagnon\Desktop\test.PNG from file: protocol (original URL: file:///C:/Users/chgagnon/Desktop/te

[2021-10-20 03:38] chlafreniere commented on #17400
@rajeshka can you look into this one?

[2021-10-20 03:39] chlafreniere opened #17405 "Split Cell Action Disabled after Converting from Text to Code Cell"
After creating a text cell, convert the cell (via the ... menu).

Expected:
Action will be enabled

Actual:
Action is disabled
![image](https://user-images.githubusercontent.com/40371649/138024514-9f289a64-9ab4-4c7c-b5b6-d32e52d53b4f.png)

[2021-10-20 03:43] chlafreniere opened #17406 "Split Cell Icon is Elongated"
![image](https://user-images.githubusercontent.com/40371649/138024717-22e21097-2e08-4ed3-af54-54bf91e7c4eb.png)

This was thought to have been fixed by #17310 but it still reproes for me on Mac on insiders + RC builds.

[2021-10-20 03:50] chlafreniere commented on #17404
@VasuBhog can you take a look at this one please?

[2021-10-20 04:27] chlafreniere opened #17408 "Database + Server Dashboards Need CSS Updates for Separators"
![image](https://user-images.githubusercontent.com/40371649/138028323-0facb5c7-a30c-4dda-98ed-b453652956c7.png)

Not a regression from August, just need some updating with CSS styles.

[2021-10-20 04:39] chlafreniere commented on #17402
Not a regression, but putting in December due to accessibility concerns.

[2021-10-20 05:37] VasuBhog commented on #17404
@Charles-Gagnon it would be good to know what machine you are using in said issues regarding image linking. I was not able to repro this issue on Mac, so I assume it's Windows.

[2021-10-20 05:50] VasuBhog commented on #17403
Note able to repro on Mac. Seems that image linking issues are targeted for Windows.

[2021-10-20 12:49] RhinoDBA opened #17409 "Buttons just a bit too close to each other"
Hello,

I have been working with ADS nearly every day for the last two weeks.  I love this product and it is fantastic for creating TSQL Jupyter Notebooks.  I find myself constantly hitting the Run All button when my intent was to select the +Text or +Code cells.  Can the buttons be separated a bit so that doesn't happen?

Thank you,

Kevin Warren

[2021-10-20 13:07] alevyinroc commented on #9138
I'm experiencing this as well, and will have to attempt the workarounds suggested later this week.

[2021-10-20 14:30] ciacco85 opened #17410 "Add connection from a Connection String"
Often we've a db connection string stored in a file, password manager, keyvault or whatever.
It would be nice a way to add connection simply by pasting a connection string.
The best would be if, pasting the connection, all the parameters in the actual forms are automatically filled

[2021-10-20 17:28] corivera opened #17411 "Notebooks: Insert link fails when provided path is wrapped in quotes"

[2021-10-20 17:50] RhinoDBA opened #17412 "DBCC MEMORY STATUS"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-10-20 17:57] #17403 closed

[2021-10-20 18:07] kisantia opened #17413 "Select OpenAPi file doesn't have folder icon"
The browsing for output folder had the folder icon added in https://github.com/microsoft/azuredatastudio/pull/17306, but the first set of selecting the OpenAPI file doesn't have the folder icon.

![image](https://user-images.githubusercontent.com/31145923/138147303-198a3052-a74a-4506-9d30-6327d595794a.png)

[2021-10-20 20:28] Charles-Gagnon opened #17415 "Query results grid scrollbar is extra long"
1. Execute a query that returns enough rows to require a vertical scrollbar

The scrollbar is shown but the height calculations appear to be off - see the gif for an example. I'm scrolling down to the bottom of the rows available (24) but it still shows plenty of scroll space left

![ScrollbarWrong](https://user-images.githubusercontent.com/28519865/138167197-8ec474e1-f701-4a2a-a31f-bb460a1ef5d8.g

[2021-10-20 20:44] kisantia opened #17416 "Add warning for sqlproj build when .NET 6 is installed"
Until #16766 is fixed, it would be good to have a warning about .NET 6 not being supported if it's detected since right now build just fails with "The "SqlBuildTask" task returned false but did not log an error."

 .NET 6 is GAing in November, so this is something more customers might start to run into.

[2021-10-20 21:38] #17405 closed, assigned to lucyzhang929

[2021-10-20 22:26] alanrenmsft opened #17423 "2 "Getting started" menu items under Help menu"
![image](https://user-images.githubusercontent.com/13777222/138181003-6b440afc-423a-4764-9da8-b7a62ab964c0.png)

Version: 1.33.0-rc1 (user setup)
Commit: 07aa256f4c299e34c301aa2bc9b93b1950eb305f
Date: 2021-10-19T20:32:15.803Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.19043

[2021-10-20 23:10] Benjin opened #17426 "Project dashboard should refresh after Build and Publish buttons are clicked"
Dashboard shows accurate information when loaded and when refreshed, but if you build or publish using the dashboard buttons, the tables don't automatically update when the actions have completed.  Simple fix: refresh the tables automatically after the invoked actions have completed.

[2021-10-20 23:38] RhinoDBA commented on #17412
Hello,

I am working on a SQL 911 Jupyter Notebook.  If I run DBCC MEMORYSTATUS

***@***.***
***@***.***

I continue to click Keep Waiting until I finally give up.

The same command in SSMS takes less than 3 seconds to complete.

Hope that helps,

Kevin

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Christopher ***@***.***>
Sent: Wednesday, October 20, 2021 3:34

[2021-10-21 00:22] Benjin opened #17428 "[VSCode] When publishing a project, the user is asked whether to use a publish profile, but not asked to select the profile."
Flow I'm encountering is:

1. Right-click on project, select "publish"
2. Select whether to publish to existing or new server (I chose existing)
3. Select "Browse for profile" when prompted whether to use a publish profile

Expectation: file-picker pops up, I can select the .publish.xml file

Reality: proceeds directly to prompt for connection.

[2021-10-21 01:36] kisantia commented on #17390
@chris-han did you set the ModelCollation to `<ModelCollation>Chinese_PRC_CI_AS</ModelCollation>` or `ModelCollation>2052,CI</ModelCollation>` in the .sqlproj file? Are you publishing to an existing database or is publish creating a new database?

There currently isn't a way in the ADS UI to change the project's collation, but when I changed my test project's collation in SSDT to Chinese_PRC_CI_AS

[2021-10-21 03:11] #17406 closed, assigned to rajeshka

[2021-10-21 14:35] LanceHMCH opened #17433 "Tries to run a notebook everytime I start azuredatastudio"
Issue Type: <b>Bug</b>

1.Run the notebook DynamicBPCheck until crashes
2. Restart azuredatastudio  It tries to open the notebook.  The windows times out and I can close it.

If I want to use azuredatastudio I must open another window while waiting for this window running the failed notebook to timeout.  If I do not I can't open a new window that does not try to run the notebook that crashed.

It

[2021-10-21 18:38] #17401 closed, assigned to rajeshka

[2021-10-21 19:42] brian-harris opened #17437 "SQL Migration requires hotfix for save and close / retry migration"
PR with original changes:
* https://github.com/microsoft/azuredatastudio/pull/17376/files

Commit set to be ported:
* https://github.com/microsoft/azuredatastudio/commit/4b26be574217add3b71eacb1653dda7439b1a64b

[2021-10-21 19:47] #17325 closed

[2021-10-21 19:47] nativeTexanATX opened #17438 "Unable to Create Multiple Saved Connections to Same Target"
- Azure Data Studio Version: 1.33.0-insider
- OS Version: Darwin x64 10.6.0

When saving connections with different properties, for example one with ApplicationIntent = ReadWrite and another with ReadOnly, Azure Data Studio does not handle settings.json correctly or consistently.

For the sake of argument, I’m starting with Azure Data Studio in a pristine environment. The screenshots below show Az

[2021-10-21 20:16] Charles-Gagnon opened #17439 "Non insiders builds have `azuredatastudio-oss` URL protocol"
Introduced by https://github.com/microsoft/azuredatastudio/pull/16631 - which wasn't part of the last stable release.

When I changed the urlProtocol to azuredatastudio-oss in the main branch that resulted in the new default urlProtocol value being `azuredatastudio-oss` instead, and then because insiders was the only one with that defined in the quality mixin stuff the rest of the builds would be

[2021-10-21 21:06] aakawero commented on #17362
In case it helps. this is the error message shown in ADS
***@***.***

I've confirmed with other people and they also have same error message

From: Karl Burtram ***@***.***>
Sent: Tuesday, October 19, 2021 4:16 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: Aaron Kawer Oreamuno ***@***.***>; Author ***@***.***>
Subject: Re: [microsoft/azuredatastudio] Cannot connect to the Extensions Marketplac

[2021-10-21 21:10] #17428 closed

[2021-10-21 21:45] alanrenmsft commented on #17362
@aakawero were you trying to share an image? you have to open the github webpage to attach images. also are you able to access the link that Karl shared?

[2021-10-21 21:55] aakawero commented on #17362
@alanrenmsft here is the image
![image](https://user-images.githubusercontent.com/92546451/138361784-cc5f5cb2-e553-4815-93aa-8a3fac1c6eee.png)

Also link that @kburtram shared shows me this
![image](https://user-images.githubusercontent.com/92546451/138362255-9e74ba64-3463-4a2f-bad4-8f099885e2f2.png)

[2021-10-21 23:24] #17416 closed

[2021-10-21 23:25] #17415 closed

[2021-10-21 23:31] Charles-Gagnon commented on #17242
Doesn't repro for me either so I'll close this out.

[2021-10-21 23:31] #17242 closed

[2021-10-21 23:40] kburtram opened #17450 "Untitled SQL files reopening as plain text with hot exit"
- Azure Data Studio Version: `main`
Steps to Reproduce:

1. Open untitled sql file and modify contents
2. Restart ADS

Expected: Untitled file is reopened as SQL file

Actual: Untitled file is reopened as plain text file (see screenshot for example).

![image](https://user-images.githubusercontent.com/599935/138371181-d00c48b0-3a63-423a-abdf-b9120d7bd7d4.png)

[2021-10-22 00:09] jrowlandjones opened #17451 "Provide an option to alter NULL string handling when exporting to CSV"
When exporting data to CSV NULL strings are exported as ,NULL,
As a result the file needs to be modified when creating external tables over the top of the file to remove the NULL string

Request:
Add an option to alter NULL behavior. The alternative should be two delimiters together i.e. ,,

Note:
an empty string i.e. not a null value should be exported as ," ", or , ,

cc @alanrenmsft , @chlafren

[2021-10-22 00:19] Charles-Gagnon commented on #17450
Although I should make sure - the issue I'm seeing seems to only really happen when switching between different versions of ADS. So for example if I open ADS stable, create a new query and then exit and open RC1 then I'll see this behavior.

Does that match your experience or do you see this even when only opening one version of ADS?

[2021-10-22 05:01] shiroychoksey opened #17455 "Rows Affected and Execution Time"
Issue Type: <b>Bug</b>

Please do NOT waste two lines to show number of rows affected and total execution time. it is SUCH a criminal waste of space.  Please put them in one line, with very small font, somewhere inconspicuos.

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19043

<details>
<summ

[2021-10-22 11:45] alexangas opened #17457 "Width of database name to narrow"
- Azure Data Studio Version: 1.32 / 1.33 Insiders
- OS Version: Windows 10 "current"

Steps to Reproduce:

1. New Query
2. Connect to server
3. Choose a database that has a name longer than 24 characters, on a server where more than one database has the same prefix of at least half of those characters
4. Run a query and then forget what database you ran it against because the database selector is

[2021-10-22 11:48] alexangas opened #17458 "No user feedback when refreshing list of databases"
- Azure Data Studio Version: 1.32 / 1.33 Insiders
- OS Version: Windows 10 "current"

Steps to Reproduce:

1. In the Connections pane, connect to a server
2. Expand the "Databases" folder and observe the spinner displayed over the folder icon:
![image](https://user-images.githubusercontent.com/132198/138448527-65db1638-664a-472c-98aa-827cf816218b.png)
3. Wait for list of databases to load
4. Right

[2021-10-22 13:01] #17413 closed, assigned to Benjin

[2021-10-22 15:07] VaibhavD-intelegain opened #17459 "Performance is getting worse day by day"
Issue Type: <b>Bug</b>

Performance is getting worse day by day

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.19043

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-1005G1 CPU @ 1.20GHz (4 x 1190)|
|GPU Status|2d_canvas: unavailable_software<br>gpu_c

[2021-10-22 15:32] hedgehogface opened #17460 "IntelliSense Icons to show difference between Table or View"
Please add new Icons to intellisense to clearly show a table or view.
Currently they use the same icon
![image](https://user-images.githubusercontent.com/8006085/138481607-79398edd-6248-4dd4-9880-ef1f4fa04582.png)
The Connection explorer shows the difference.
![image](https://user-images.githubusercontent.com/8006085/138481802-31ce85b7-9fbd-4524-9079-1b72ee136f55.png)
Additionally similar icons co

[2021-10-22 17:54] brian-harris opened #17464 "SQL Migration requires a hotfix to remove duplicate location entries in locations lists"
The SQL Migration extension has a locations list in the migration wizard, sku recommendation page that is showing multiple instances of the same location.   logic needs to be added to create a unique list of locations.

PR with fix: https://github.com/microsoft/azuredatastudio/pull/17454

[2021-10-22 20:36] #17450 closed, assigned to kburtram, Charles-Gagnon

[2021-10-22 20:50] #17459 closed, assigned to nobody

[2021-10-24 21:47] LucasBLs opened #17479 "‎Trigger does not appear in navigation.‎"
Issue Type: <b>Bug</b>

Trigger não aparece na navegação.

(translated - ‎Trigger does not appear in navigation.‎)

Azure Data Studio version: azuredatastudio 1.32.0 (4a45ba7cf20dd4129f1a08e5e776dfb33e3d1d1e, 2021-08-16T18:08:28.086Z)
OS version: Windows_NT x64 10.0.22000

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7300U CPU @ 2.60GHz (4 x 2712)|
|G

[2021-10-25 11:13] peterlukerow opened #17480 "Status bar and output don't update correctly when running a script"
Issue Type: <b>Performance Issue</b>

Create a SQL script that takes 20+ seconds to run on your database. Run that script against the DB. The execution time on the status bar will get stuck around 2-4 second mark and then when the script completes it will suddenly jump to the final time, e.g. 22 seconds.

Similarly the output window will get stuck and stop scrolling with messages until the script

[2021-10-25 19:46] brian-harris opened #17487 "SQL Migration requires a hotfix to improve multi-tenant error handling"
PR with original change:
 #17476

Commit to be ported:
https://github.com/microsoft/azuredatastudio/commit/aa0e52c24587b27a57838b4d5d6e9a494c346436

[2021-10-25 22:26] covlorin opened #17491 "Generate script fails because "source model contains errors" but there were no errors upon generating the source DACPAC from project"
Right click on project, choose schema compare.
It builds the project. There were 6 warnings (object differs only in case), 0 errors.
Schema compared to a SQL Server database
However, when try to generate script get the message:
_Generate script: The operation could not continue because the source model contains errors._
Apply schema compare gives similar message:
_Apply schema compare changes: Err

[2021-10-26 12:37] ststeedman opened #17494 "Tab Coloring For Notebooks"
Tab coloring works fine for SQL queries.  But not for Jupyter Notebooks.  Is this a bug or a feature?  I think probably feature since the connection property of the Jupyter notebook may well be different to that of the sql query.

I would like Jupyter Notebooks to have tabs coloured the same as the SQL query tabs.

I don't see any alternative.  This seems like an obvious request.

No other context

[2021-10-26 20:31] #17487 closed, assigned to brian-harris

[2021-10-26 20:32] #17464 closed, assigned to brian-harris

[2021-10-27 01:46] ToddABarnes opened #17501 "Search/highlighting causing slow response and/or locking up app."
Issue Type: <b>Bug</b>

This issue has been repro'd  by more than one person on more than one machine and also reproduced on v1.32.

Repro steps:
1. Open notebook SQL-DW-TSG/content/Portal/DWPT_TSG0007-Portal-metrics-missing.ipynb from the Livesite repo.
2. Invoke search (ctrl+F)
3. Enter 'H'

This will cause ADS to lock-up.  Searching for other targets can cause sluggishness - for example, type a

[2021-10-27 04:23] wildflower opened #17502 "Running sql file from \\wsl$ path gives Invalid URI: The hostname could not be parsed. Message"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

You'll need to be using/have installed the wsl2
https://docs.microsoft.com/en-us/windows/wsl/install

1. Open a New SQL Query file on Windows 10
2. Connect to a saved connection
3. Run a simple select count(*)
4. View the results
5. Save the file to the \\wsl$ path ie \\wsl$\Ubuntu-20.04\home\sqlUser
6. Run the sql file again
7. View

[2021-10-28 00:12] mmcaulay opened #17517 "Toolbar for Run Cancel Connect disappears after renaming file"
Issue Type: <b>Bug</b>

Open a file and connect to a database, rename that file in the explorer. The toolbar then disappears to Run/Cancel/Connect at the top of the editor window.
![image](https://user-images.githubusercontent.com/4042561/139164748-d473aeea-aaf0-4652-be79-88327d7ef8a4.png)

The only way to get the toolbar back is to close the individual file (not the whole folder) and reopen it. W

[2021-10-28 16:40] Akaizoku opened #17523 "Enable configuration of the installation directory"
The installation process does not offer the option to choose the installation directory and defaults to `%ProgramFiles%` for the system installer, or `%AppData%` for the user installer.

Please add a custom installation path in which we can configure this.

[2021-10-28 16:47] #17523 closed, assigned to nobody

[2021-10-28 20:17] #3152 closed, assigned to aasimkhan30

[2021-10-28 20:33] deltaGPhys opened #17530 "OS X - cannot make connections: constantly loading, "cannot read property 'connection' of undefined""
When I opened it today, all of the connections were stuck in a perpetual loading state, and the Locading contexts... bit is at the top of all notebooks. If I try to add a new connection, the connectiontype dialog doesn't open and I get a spinning wheel forever. Can't close the connection page. Updated to latest version, didn't help.

Error:
[code]

[2021-10-28 21:38] dzsquared opened #17532 "Import wizard doesn't pick up object explorer context"
Version: 1.33.0
Commit: 6783aa6967e8c6d086b6f04e5fbf527659981389
Date: 2021-10-26T17:27:01.229Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 21.1.0

Steps to Reproduce:
![2021-10-28_14-32-49 (1)](https://user-images.githubusercontent.com/12227241/139339751-ce31cda7-d8fc-4704-8e6e-63afcb47924e.gif)

import extension version 1.5.0

[2021-10-28 23:30] #17479 closed, assigned to nobody

[2021-10-29 02:20] dzsquared opened #17534 "import wizard error on "preview transformation" at FlatFileImportService.cs:line 246"
Version: 1.33.0
Commit: 6783aa6967e8c6d086b6f04e5fbf527659981389
Date: 2021-10-26T17:27:01.229Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 21.1.0

Import extension v1.5.0

Steps to Reproduce:

[Book1.csv](https://github.com/microsoft/azuredatastudio/files/7438404/Book1.csv)

1. select first column (int) for derived column (csv a

[2021-10-29 06:19] krishanth3 opened #17535 "Unable to see saved connections in Restricted Mode"
Issue Type: <b>Bug</b>

I am unable see saved sql server connections nor able to establish a new connection. Even recent connections are not available. All places just show "Loading..." text.

Azure Data Studio version: azuredatastudio 1.33.0 (6783aa6967e8c6d086b6f04e5fbf527659981389, 2021-10-26T17:28:15.782Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: Yes

<details>
<summary>System In

[2021-10-29 14:34] rabader opened #17536 "Support ODBC Connections"
Support for ODBC connections will allow users to use this as a one-stop shop for their database solutions. I have to work with Microsoft SQL Server databases, but also Hive, and other dbs that ODBC connections would enable.

[2021-10-29 18:47] aasimkhan30 commented on #3152
@robolize @henkers, this feature is added in the insider's version of ads. Please give that feature a try and let us know if you have any feedback.
It can used by placing the cursor at '*" and pressing ctrl+space (ads shortcut for intellisense suggestion).

[2021-10-29 21:40] kburtram commented on #17535
@choelterati @krishanth3 are you seeing any errors in the "Help->Toggle Developer Tools" Console?

[2021-10-29 21:47] kburtram commented on #17536
Thanks for the suggestion.  We're currently tracking this with https://github.com/microsoft/azuredatastudio/issues/7505.  Closing as duplicate.  Please add any missing context to the other issue.

[2021-10-29 21:47] #17536 closed

[2021-10-29 22:41] choelterati commented on #17535
I'm not running any extensions, but I am seeing errors in the dev tools console log. Attached is an image and a txt log of them all.

![image](https://user-images.githubusercontent.com/18740209/139508112-014ed218-a9ac-48ca-b656-846147373791.png)

[azure data studio console errors.txt](https://github.com/microsoft/azuredatastudio/files/7445289/azure.data.studio.console.errors.txt)

[2021-10-29 23:01] kburtram commented on #17535
@choelterati thanks for the additional context.  This appears to be the same issue as https://github.com/microsoft/azuredatastudio/issues/17530.  You can try the workaround I suggested on that issue which may clear out some invalid state triggering this bug.  We're continuing to investigate and get an internal repro.  The callstack seems to be complaining about https://github.com/microsoft/azureda

[2021-10-31 18:11] rangitoto72 opened #17540 "Unable to create a project from AZURE SQL Database"
Version: 1.33.0
Commit: 6783aa6967e8c6d086b6f04e5fbf527659981389
Date: 2021-10-26T17:27:01.229Z (5 days ago)
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Darwin x64 21.1.0

Steps to Reproduce:

1. Connect to Server ( MSSQL )
2. R/C Db select -> Create Project From Database
3. Select Server
4. Seelct Database
5. Select Location
6. Folder stru

[2021-10-31 18:13] rangitoto72 commented on #17540
Added logs

[Archive.zip](https://github.com/microsoft/azuredatastudio/files/7449451/Archive.zip)

[2021-11-01 06:08] sehulugh opened #17542 "just upgraded to windows 11, cannot connect to database"
Issue Type: <b>Bug</b>

just upgraded to windows 11, cannot connect to databse

Azure Data Studio version: azuredatastudio 1.33.0 (6783aa6967e8c6d086b6f04e5fbf527659981389, 2021-10-26T17:28:15.782Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: Yes

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i5-1135G7 @ 2.40GHz (8 x 2419)|
|GPU Status

[2021-11-01 06:10] sehulugh commented on #17542
snipping tool also not working so cannot get a screen shot, get the error message **cannot read property 'connection' of undefined**

[2021-11-01 06:48] sehulugh commented on #17542
a restart fixed it

[2021-11-01 06:48] #17542 closed

[2021-11-01 13:33] softcoda commented on #14901
I encountered the same error after updating to: v.1.33.0. Apparently, the Azure studio was opening in RESTRICTED MODE by default. I didn't notice the notification at top of the window at once; only after several restarts.

So, change the mode to Trusted. Hopefully, this should solve the problem, as it did for me.

[2021-11-01 13:51] retromermaidprincess opened #17545 "'Copy with headers' error"
Issue Type: <b>Bug</b>

1. Run query
2. Right click on results...
3. ... Copy with headers
4. Application window freezes

Azure Data Studio version: azuredatastudio 1.33.0 (6783aa6967e8c6d086b6f04e5fbf527659981389, 2021-10-26T17:28:15.782Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10850H C

[2021-11-01 15:14] mar-cellus opened #17546 "Incorrect intellisense for COALESCE function"
- Azure Data Studio Version: 1.33
- Client OS Version: macOS Big Sur 11.6
- SQL Server Version: Microsoft SQL Server 2016 (SP2-CU17) (KB5001092) - 13.0.5888.11 (X64)  	Mar 19 2021 19:41:38  	Copyright (c) Microsoft Corporation 	Developer Edition (64-bit) on Windows Server 2012 R2 Datacenter 6.3 <X64> (Build 9600: ) (Hypervisor)

If you try to use a function like 'coalesce' which allows for more th

[2021-11-01 15:57] Charles-Gagnon commented on #17545
1. Is there anything unusual about this result set (very large, unusual data types, something else)?

2. If you run a simple query such as `select * from sys.databases` and then try to select and copy with headers do you have the same issue?

3. Do you see the same behavior with just `Copy`?

4. Does it eventually start responding or does the window stay frozen until you force quit? (if so how lon

[2021-11-01 16:41] ShakleeBI opened #17547 "Connection to Azure Synapse"
Issue Type: <b>Bug</b>

For the life of me, I cannot connect to Azure Synapse. I changed my windows password, which gave me an error about the token or something. I was able to log into Azure Synapse but the connection never took. I reinstalled the program, but now it just spins without actually connecting or throwing any kind of error. I use Azure Active Director - Universal with MFA. SSMS curren

[2021-11-01 17:56] Charles-Gagnon commented on #17535
@kburtram I wonder if this is something to do with the Workspace Trust? The behavior shown in the screenshot (everything showing as loading) is what happens when you don't "trust" a workspace (since it doesn't load any extensions when that happens...)

![image](https://user-images.githubusercontent.com/28519865/139717609-8817340a-fdcb-43b1-9b5d-8eb37ede093a.png)

For people in the thread - do you

[2021-11-01 17:56] jtsom opened #17549 "Exceptions Clicking on menu"
Issue Type: <b>Bug</b>

When clicking on the File menu to open a file, a massive amount of exception messages are displayed in the console:
[code]
Azure Data Studio version: azuredatastudio-insiders 1.34.0-insider (08d380345357490c63d37e7e0f3c79105cda5e6d, 2021-11-01T05:32:33.864Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|--

[2021-11-01 17:58] jtsom opened #17550 "Cannot open file"
Issue Type: <b>Bug</b>

Trying to open a text file generates an exception
[code]
Azure Data Studio version: azuredatastudio-insiders 1.34.0-insider (08d380345357490c63d37e7e0f3c79105cda5e6d, 2021-11-01T05:32:33.864Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8500 CPU @ 3.00GHz (6 x 3000)|
|

[2021-11-01 18:04] retromermaidprincess commented on #17545
1. Large result set, but I've copied larger.
2. Not seeing an issue with select * from sys.databases
3. Same behavior with copy
4. Takes 30 seconds to respond.  Sometimes it's necessary to force quit after more than two minutes of inactivity.

[2021-11-01 18:19] jtsom commented on #17550
I was in today's insider build. I exited out of the app and relaunched, and was able to open a file, and those errors didn't show. Not sure what happened. (It was also causing me to not be able to open the Settings, but relaunching seems to have "fixed" it)

[2021-11-01 19:36] #13217 closed

[2021-11-01 20:38] dmytro-pryvedeniuk commented on #8279
I have the same issue on ADS 1.33.0 with JSON stored in varbinary(max) field.

[code]

Right click on the value, Copy and insert to the notepad. Even though LEN returns 145110, the value is truncated to 65536 characters.

_Mssql:Query:Text Size_ option has influence on truncation. Small _Text Size_ truncates _MyContent_ properly, but values larger than 65536 still result in truncation to 65536. It

[2021-11-01 21:33] kburtram commented on #17530
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/17535.  Please leave any additional comments on that issue.  Thanks!

[2021-11-01 21:33] #17530 closed

[2021-11-01 21:34] kburtram commented on #14901
@softcoda thanks for providing that additional context!  We're tracking what appears to be the restricted mode bug at https://github.com/microsoft/azuredatastudio/issues/17535.  I suspect this issue predates that feature, but has the same error stack.  It's strange ADS started in restricted mode without a prompt.  I'll see if we can figure out what's going on there.

[2021-11-01 21:36] kburtram commented on #14901
I'll close this issue to focus the investigation on this particular exception into a single issue https://github.com/microsoft/azuredatastudio/issues/17535.  Please add any additional related comments to that issue to help consolidate any diagnostic info/workarounds/etc.  Thanks!

[2021-11-01 21:36] #14901 closed

[2021-11-01 21:37] chezy525 commented on #9054
I just started experiencing this issue.  It was working as I would expect - the newly saved *.xlsx file would open in LibreOffice Calc when I clicked "Open File".  Now I get a popup warning that "An external application wants to open *.xlsx in azuredatastudio...", then when I click yes, the "The file is not displayed..." message appears.  This isn't a feature I use every day, so I'm not sure when

[2021-11-01 21:45] kburtram commented on #17535
I see in the original bug text that ADS is running in restricted mode, which would explain this behavior.  I've updated the title to reflect this.  We'll investigate how to improve this experience in Dec.

[2021-11-02 02:44] LucasBLs commented on #17479
@kburtram  Obrigado pela informação, estava procurando elas no lugar errado então:
![image](https://user-images.githubusercontent.com/57819294/139778365-a9d210f1-d9ed-47e7-84c6-1426bee8ec2c.png)

De qualquer forma agradeço pela informação.

[2021-11-02 07:58] dmytro-pryvedeniuk commented on #8279
https://github.com/microsoft/azuredatastudio/issues/392 looks related

[2021-11-02 08:09] guidoklein opened #17560 "Kerneländerungen"
Issue Type: <b>Bug</b>

Im Notebook ist keine Kerneländerung auf Python etc. möglich

Azure Data Studio version: azuredatastudio 1.33.0 (6783aa6967e8c6d086b6f04e5fbf527659981389, 2021-10-26T17:28:15.782Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz (8 x 1992)|
|GPU Status|

[2021-11-02 08:48] YodasMyDad opened #17561 "Unable to connect account via localhost redirect"
Issue Type: <b>Bug</b>

If I try to connect an account, I get redirected to my web browser and it trys to connect via a non existant localhost url. So I get a 404 error. Same happens with Azure Data Explorer. Here is the Github issue https://github.com/microsoft/AzureStorageExplorer/issues/4342 ... Have to use integrated sign in to get around it, but cannot find that setting in this data studio

A

[2021-11-02 09:16] Kritiqual opened #17562 "Cannot change the height of messages pane"
As the title says, does anyone know how to change the height of the messages pane after excute? It keeps using half of my screen height

[2021-11-02 15:14] RHammond2 commented on #14901
@deltaGPhys this was resolved for me in the June 2021 release and I've not encountered issues since, thank you.

[2021-11-02 16:22] kburtram commented on #17535
This issue should be resolved in today's insider build.  Please let us know if you still experience this problem with those builds.  We're discussing potentially pushing this change as a hotfix due to the confusion/inconvenience caused by this bug.

[2021-11-02 16:56] Charles-Gagnon commented on #17561
Are you seeing the same SSL error as the issue you linked? If your web browser is automatically redirecting http links to https then that would be the problem - you need to disable that in your browser to use the code grant auth method.

Alternitively you can use the device code which doesn't use the local web server. Find these settings and ensure `Code Grant` is unchecked and `Device Code` is ch

[2021-11-02 17:35] kburtram commented on #17562
@Kritiqual you should be able to resize the message pane using the sash control.  When the mouse is hovered over the divider line between the message and editor controls the divider should change to a wider blue line indicating that the cursor is positioned correctly for resize operation (see screenshot for example).  Is this not the behavior you're observing?  Maybe a screenshot would be helpful

[2021-11-02 17:56] alanrenmsft commented on #17457
@alexangas the full form of the current context is also available at the application header bar:
![image](https://user-images.githubusercontent.com/13777222/139919209-299f388d-27e4-478e-9445-2047482d31f7.png)

hope this helps.

[2021-11-02 17:56] #17457 closed

[2021-11-02 18:01] alanrenmsft commented on #17362
please reactivate with the error information.

[2021-11-02 18:01] #17362 closed

[2021-11-02 18:32] #15989 closed

[2021-11-02 19:16] kisantia commented on #17540
This looks like it might be a problem with extracting the schema. Can you try running [sqlpackage](https://docs.microsoft.com/en-us/sql/tools/sqlpackage/sqlpackage-download?view=sql-server-ver15) extract command and sharing the diagnostic file? Sql projects in ADS and sqlpackage are both wrappers around DacFx (the backend for database deployments), but there are more detailed logs when running sql

[2021-11-02 20:49] rajeshka opened #17566 "Convert Cell does not clear html"
- Azure Data Studio Version: 1.33 user-setup
- OS Version: Windows

Steps to Reproduce:

1. Use the attached sample notebook file and Convert Cell
![convertcell](https://user-images.githubusercontent.com/29285871/139948957-49b56e8f-6c34-40db-ab79-09d80d190b5d.gif)

[Notebook-0.zip](https://github.com/microsoft/azuredatastudio/files/7463922/Notebook-0.zip)

[2021-11-02 21:23] Charles-Gagnon opened #17569 "Create SQL Binding should give user default connection setting name"
Currently we just ask them to enter their own or create a new one

![image](https://user-images.githubusercontent.com/28519865/139953522-d90fdc26-c872-41ab-bb51-fa014ec86cdc.png)

It would be handy to have the top option be a default name (SqlConnectionString or something) - if the settings file don't already have it then indicate as such with a + icon or something.

[2021-11-02 21:26] Charles-Gagnon opened #17570 "Create SQL Binding should allow users to choose server from MSSQL extension (if installed) and use that connection"
Currently we require that the user enters their own string. It would be nice to generate it for them by having them select a connection (or make a new connection) using the VS Code selection connection prompts.

![image](https://user-images.githubusercontent.com/28519865/139953967-8296a9c2-b4dd-45ec-a0f6-0168d59551c2.png)

(when entering in manually as well it would be nice to have an example stri

[2021-11-02 21:33] Charles-Gagnon opened #17571 "Create SQL Binding fails for untitled files"
1. Create new untitled file
2. Change it to C# lang
3. Run `MS SQL: Add SQL Binding` command

This error is displayed `

Could not find file '$(WorkspacePath)\Untitled-1'.`

[2021-11-02 21:41] Charles-Gagnon opened #17572 "Create SQL Binding doesn't insert System.Collections.Generic reference"
1. Create new HTTP trigger
2. Create SQL binding in that trigger
3. Try to build the project

The build fails with this error `The type or namespace name 'IEnumerable<>' could not be found`

We should be inserting the `using System.Collections.Generic;` as well if it doesn't exist

[2021-11-02 21:41] chlafreniere commented on #17566
Hi @rajeshka, convert cell takes the cell contents and just changes the cell type from markdown --> code (or vice versa).

I'm a little confused what you'd like it to do here. Can you elaborate? The span exists since there's a non-default font color. If you were to click convert cell one more time, it's expected that it should render the same as it does originally.

[2021-11-02 21:47] VasuBhog commented on #17351
Hi @sadukie, we have been tracking this work internally and definitely will be working to fix this with the next release in part of the integration with the .Net Interactive Kernels extension.

[2021-11-02 21:50] VasuBhog commented on #17409
Hi Rhino, due to accessibility concerns will we most likely have to discuss this with design in order to ensure this is something supported for all users. We will keep this on our radar.

[2021-11-02 22:26] VasuBhog commented on #17105
Hi @claudio-salvio, this seems to be an existing issue with the .Net Interactive PowerShell as @sadukie mentioned as well. Please file an issue there in order to help track the progress with this issue.
https://github.com/dotnet/interactive/

[2021-11-02 22:35] VasuBhog commented on #17433
Hi @LanceHMCH, can you provide the DynamicBPCheck notebook so I can repro this specific issue.

[2021-11-02 22:43] VasuBhog commented on #17397
Hi @lesliewinston, I believe this is something that would be done on the excel side after exporting it. We would potentially have the ability to designate each column to have an optional data type to take into account however at the moment this is not in the plan.

[2021-11-02 23:05] Charles-Gagnon opened #17573 "Creating multiple SQL bindings on the same trigger results in duplicate parameter names"
1. Add SQL binding to a function
2. Add another SQL binding to the same function

There's now an error because we re-use the parameter names. It would be best if we were able to detect that and use unique parameter names.

[2021-11-03 00:00] Charles-Gagnon opened #17575 "Adding SQL binding formats body code"
When we add the SQL binding it does some formatting on the body of the function such as removing blank lines. We should try to avoid modifying the file unless we need to - just adding the binding parameter alone would be best (if we don't have anything useful to put in the body ourselves)

Before

![image](https://user-images.githubusercontent.com/28519865/139967789-ea945e61-143e-402f-b0e0-9941b6d

[2021-11-03 02:12] Kritiqual commented on #17562
i did that, but when I choose another block of code, it goes back to original size

[2021-11-03 06:17] YodasMyDad commented on #17561
Yes, same error as that issue. I have changed those settings and can now connect my azure account. Thanks.

[2021-11-03 10:00] PietkaSmig commented on #1026
Hi Guys,
Any chance this will appear in the near feature ? ADS would become a standalone tool for data analysts after adding this feature - currently you need to have SSMS anyway.

[2021-11-03 13:55] LanceHMCH commented on #17433
I no longer have a copy of this notebook.
I have uninstalled an reinstalled the program and it still tries to run this notebook.
Are there instructions to completely remove azure data studio and it configuration files?
How does a new install still reference that notebook?

Lance Harra
Database Administrator

***@***.***
Education<https://education.mchdata.com/data/education>  |  Healthcare<https:/

[2021-11-03 14:10] tgaudett opened #17578 "Query Failed: Conversion overflows"
Issue Type: <b>Bug</b>

I have a table of the IP2Location database that is purchased.  When I run the following command in Azure Data Studio I get an error.  But if I run the exact same SQL in MSSMS it does not error.  MSSMS returns 207 rows and Azure Data Studio returns 100 rows with the error message.  Connected to on-prem SQL Server instance. (I think SQL Server 13)

SELECT TOP (1000) [IP_FROM]

[2021-11-03 14:24] tgaudett commented on #17578
I figured out that the error is happening on rows in the data that are big numbers.  The IP_FROM and IP_TO columns are of type decimal(38,0) and when we have a number like 42540986355731672318805982132698087424 in it then it errors.
[AzureError.xlsx](https://github.com/microsoft/azuredatastudio/files/7468229/AzureError.xlsx)

I am attaching a small section of the table so you can see which one err

[2021-11-03 14:53] dullroar opened #17579 "Can't type in code cell after editing Notebook text cell"
We have written the needed data into your clipboard because it
Issue Type: <b>Performance Issue</b>

The performance upgrade appears to have moved all the rendering to a background thread, which gives the illusion of UI interaction but few things work until CPU goes back to 0 on a complicated notebook. The new shortcut keys for the Markdown cells also seems to be causing a lot of issues elsewhere.

[2021-11-03 16:19] VasuBhog commented on #17433
Hello, if I understand the problem correctly. No matter if you uninstall ADS and reinstall it will open this previous notebook again. This is expected behavior if you do not close the notebook before closing ADS. If you are unable to close the notebook via the traditional method of clicking the x (shown below):
![image](https://user-images.githubusercontent.com/23587151/140100030-1b71e8f0-2703-447

[2021-11-03 16:32] Charles-Gagnon commented on #17561
Thanks for following up, glad the workaround worked! I'll be closing this issue - but we're aware the experience is still a little rough in some parts and will be working to make improvements there in the future.

[2021-11-03 16:32] #17561 closed

[2021-11-03 16:38] Charles-Gagnon commented on #17433
@LanceHMCH Sorry to hear you're having issues, could you try these steps to clear the backup cache? That may be what's causing

1. Close all instances of ADS
2. Browse to `%appdata%/azuredatastudio`
2. Delete the `Backups` folder (it just contains hot reload backups for editors so shouldn't affect any of your settings)
3. Start up ADS again

Let us know if you're still seeing the Notebook open up

[2021-11-03 17:17] rajeshka commented on #17566
@chlafreniere  - The expectation is that only text remains. i.e. whatever is visible in WYSIWYG mode. So for above example it should be

`MondayStatus`
`| order by StartTime desc`

[2021-11-03 17:57] llali opened #17580 "SQL Binding fails without a useful error message"
- Azure Data Studio Version:
- OS Version:

I get 401 for installing the nuget package when I run SQL binding but the only thing I get in UI is a general error "Process Existed with code 1"
I see the actual error in the output but I think the error message should at least mention to check the output for details

Steps to repro:
1- Create a function app
2- open .cs file
3- Run Create SQL binding co

[2021-11-03 18:09] chlafreniere opened #17581 ""Command Not Found" Error After Installing Projects Extension and choosing "Add SQL Binding" command"
After installing vsix, I wasn't prompted to reload VS Code. I tried using the "Add SQL Binding" command from the command palette, and was met with a popup that stated "command not found".

After reloading VS Code, everything worked as intended.

[2021-11-03 18:17] chlafreniere opened #17582 "Output Binding Code Gen Results in Invalid Code"
When creating a new output binding, invalid code gets generated:

![image](https://user-images.githubusercontent.com/40371649/140169014-7d204022-b4e0-4083-b76d-14dcd1ae5b63.png)

[2021-11-03 18:31] Charles-Gagnon commented on #17580
Could you give more details? It's unclear exactly where you're hitting this issue...exact repro steps would be appreciated.

[2021-11-03 18:32] Benjin opened #17583 "Generated binding for HttpTrigger doesn't include necessary System.Collections.Generic import."
1. Create a new Azure Function (HttpTrigger)
2. Add sql binding to function

Expected: output is immediately compileable

Actual: missing `using` statement results in error for "unknown" reference for `IEnumerable<T>`

[2021-11-03 18:46] llali commented on #17580
@Charles-Gagnon  I added steps in the bug. let me know if it's still not clear.

[2021-11-03 18:46] Charles-Gagnon commented on #17583
Duplicate of https://github.com/microsoft/azuredatastudio/issues/17572

[2021-11-03 18:46] #17583 closed

[2021-11-03 19:22] lucyzhang929 commented on #17579
Hi @dullroar, thank you for filing an issue. Couple of clarifying questions:
1. Would you be able to share the notebook where you encountered this issue: "I cannot type in pre-existing code cells in a notebook"?
2. Is this happening with every pre-exisiting notebook that you open?
3. Just to confirm, are you referring to the Incremental Grid Rendering feature when you say performance upgrade? And

[2021-11-03 19:31] thecesrom opened #17585 "DeprecationWarning when installing extension from command-line"
- Azure Data Studio Version: 1.33.0
- OS Version: Windows 10/macOS 10.15

Steps to Reproduce:

1. Run `azuredatastudio --install-extension <extension-id[@version] | path-to-vsix>`
[code]
1. Passing the `--trace-deprecation` option has no effect, and prints the following output
   ```Warning: 'trace-deprecation' is not in the list of known options, but still passed to Electron/Chromium.```

Does th

[2021-11-03 19:55] LanceHMCH commented on #17433
Thanks,

Deleting the backup directory fixed my problem.

Lance Harra
Database Administrator

***@***.***
Education<https://education.mchdata.com/data/education>  |  Healthcare<https://education.mchdata.com/data/healthcare>  |  Government<https://www.mchdata.com/data/government>  |  Religion<https://education.mchdata.com/data/religion>
800-776-6373  |  mchdata.com<https://www.mchdata.com/>
Stay up

[2021-11-03 19:57] Charles-Gagnon commented on #17433
Glad to hear it! I'll close this issue now - if you keep running into issues with a particular notebook please let us know and we can investigate!

[2021-11-03 19:57] #17433 closed

[2021-11-03 20:16] Charles-Gagnon commented on #17585
This is an upstream issue from VS Code - see https://github.com/microsoft/vscode/issues/82524

[2021-11-03 20:16] #17585 closed

[2021-11-03 22:01] kburtram commented on #17560
@guidoklein unfortunately we can only provide support on this repo in English.  sorry for any inconvenience.

[2021-11-03 22:01] #17560 closed

[2021-11-04 03:19] goudstad commented on #17535
Please deploy the fix. I am having the same issue after upgrading to version 1.33.0. I don't see that I am in the restricted mode, however.

[2021-11-04 14:18] Charles-Gagnon commented on #17535
@goudstad Could you try out the latest [insiders build](https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main) and see if you're still seeing the issue there?

[2021-11-04 14:33] dullroar commented on #17579
Lucy:
1. This is internal notebooks documenting data quality issues in our CRM system so sadly, no. I will say where I see it most is in fairly large notebooks, but there is nothing fancy going on. A text cell stating "This is an attribute on a CRM entity, following are one or two queries showing data issues," and then the code cell(s) and result(s). All results are grids, not charts. None of the

[2021-11-04 15:39] lucyzhang929 commented on #17579
Hi @dullroar,

The fix for "I cannot type in pre-existing code cells in a notebook" is now available in Insiders, which can be downloaded here: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main.
Can you try out the latest Insiders build and see if you run into any issues typing in pre-existing code cells?

For the performance issues, can you check if the Incr

[2021-11-04 16:14] dullroar commented on #17579
1. I am now on the Insiders build and can state the "cannot type in pre-existing code cells in a notebook" still exists there.
2. I turned off Incremental Grid Rendering, and indeed it goes back to the old behavior of taking minutes to render and become responsive, but then it works quite nicely. I prefer that. I can always go get some more water while waiting for a notebook to open. :)
3. It isn'

[2021-11-04 16:22] Charles-Gagnon commented on #17579
Can you confirm the version of ADS Insiders you're using (Help -> About -> Copy)

[2021-11-04 16:40] dullroar commented on #17579
Version: 1.33.0 (user setup)
Commit: 6783aa6967e8c6d086b6f04e5fbf527659981389
Date: 2021-10-26T17:28:15.782Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.17763

[2021-11-04 16:47] Charles-Gagnon commented on #17579
Ah, that's still the stable release. Could you try following the instructions here to get the insiders build and try that? https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

(they can be installed side-by-side so you don't have to uninstall the stable build or anything first)

[2021-11-04 16:48] dullroar commented on #17579
I am confused. I downloaded the release from that page, installed it, and started it from the installer wanting to launch it. Do I have to remove the system-installed release first?

[2021-11-04 16:51] Charles-Gagnon commented on #17579
Odd, which insiders installer did you use?

[2021-11-04 16:55] dullroar commented on #17579
azuredatastudio-windows-user-setup-1.34.0-insider.exe is what I launched from the Downloads folder.

[2021-11-04 17:38] dullroar commented on #17579
Logged out, logged back in, started ADS, confirmed in Task Manager the path to the executable was in my AppData. It still looks like the same About info, though:
Version: 1.33.0 (user setup)
Commit: 6783aa6967e8c6d086b6f04e5fbf527659981389
Date: 2021-10-26T17:28:15.782Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0
OS: Windows_NT x64 10.0.17763

[2021-11-04 17:41] dullroar commented on #17579
Also confirmed ADS is in my PATH and that it is pointing to AppData, and that there isn't another ADS in my path (like from a system install).

[2021-11-04 17:55] Charles-Gagnon commented on #17579
How are you launching the insiders build? You should have two entries in the start menu :

![image](https://user-images.githubusercontent.com/28519865/140393115-1b744185-b004-487f-8581-eb3cc21ee389.png)

Or you can also

1. Launch from a cmd window with `azuredatastudio-insiders`
2. Browse to `%LOCALAPPDATA%\Programs\Azure Data Studio - Insiders` and launch `azuredatastudio-insiders.exe`

[2021-11-04 18:40] Charles-Gagnon commented on #17579
@dullroar FYI I updated the title to focus specifically on the "can't type in the cell" issue.

Once we've verified the fix with you then we can see if you're still running into perf issues and if so open a separate issue for that.

[2021-11-04 19:42] lucyzhang929 commented on #17571
@Charles-Gagnon @chlafreniere What is the expected behavior here? Should the Add SQL Binding command not be shown for untitled files?

[2021-11-04 19:43] mrlife commented on #10937
@abist Possible for an upcoming release?

[2021-11-04 20:00] Charles-Gagnon commented on #17571
That's one quick solution (which should be simple to do with updating the when clause). For initial work that would probably be good enough, I don't imagine people are making many untitled C# files and putting functions in them anyways.

[2021-11-04 20:42] Charles-Gagnon opened #22385 "MacOS Keychain request prompts for "M" (or similar)"
![image](https://user-images.githubusercontent.com/28519865/140416679-127ea314-8929-4ca9-9b24-6c1186e3407d.png)

We should investigate why this is being listed as a single letter which isn't really helpful for understanding what STS is trying to access. Ideally it would have a more friendly name like "Connection Passwords" or similar.

[2021-11-04 20:55] jasoncavett opened #17594 "Remember Password is not selected on saved connections causing password to be forgotten"
- Azure Data Studio Version: 1.33.0
- OS Version: Windows 11

Steps to Reproduce:

1. Open up Azure.
2. Open a new tab.
3. Click "Connect" along the top bar
4. Select a saved connection from my list
5. The "Remember password" box is always unticked now

Does this issue occur when all extensions are disabled?: Yes

[2021-11-04 21:08] dullroar commented on #17579
Thanks @Charles-Gagnon @lucyzhang929 for your help on diagnostics.

[2021-11-04 21:31] Charles-Gagnon commented on #17579
Thanks for the confirmation @dullroar - so it sounds like the "can't type in code cell" issue is resolved in the insiders?

Would you mind making a new issue for the perf issues with any details you can provide? We can start helping with taking a look at that separately then.

[2021-11-04 21:58] Charles-Gagnon commented on #17594
Probably related to https://github.com/microsoft/azuredatastudio/issues/10424

[2021-11-04 22:08] jasoncavett commented on #17594
Possibly. I should probably specify that this issue just happened to me with the latest release. The other looks to be well over a year old.

[2021-11-04 22:55] dullroar commented on #17579
@Charles-Gagnon I would consider this issue resolved. May I tag you when I open a new performance-related ticket?

[2021-11-04 22:57] chlafreniere commented on #17579
Feel free to tag me @dullroar. I can assign it out 😄

[2021-11-04 22:57] #17579 closed

[2021-11-05 00:16] #17088 closed

[2021-11-05 07:25] pkanavos commented on #16766
There's no need to put `global.json` next to the executable. This won't work on a Mac anyway. It's enough to put `global.json` in the project folder or a parent.

Unfortunately, this affects Visual Studio Code as well. Annoyingly, the warning pops up even if no database project is loaded.

[2021-11-05 10:02] kanatkubash opened #17602 "Different themes or colors based on database being used"
**Is your feature request related to a problem? Please describe.**
When using Azure Data Studio I open two tabs side by side, one for live database and one for testing database. Currently, to understand that I am querying or modifying correct database, I check the header to see what DB is currently I am writing to.

**Describe the solution or feature you'd like**
I think if you could color disting

[2021-11-05 15:27] MangoZMR commented on #16436
@Charles-Gagnon  Hi I have upgrade my ADS to version 1.33.1, but the issue is still there. Would you please help.
![image](https://user-images.githubusercontent.com/88392899/140535795-4620c583-9890-46eb-9881-db333f8b2eb0.png)

[2021-11-05 16:15] goudstad commented on #17535
I just upgraded to version 1.33.1.  and I am no longer seeing the issue.  Many thanks for fixing it.

[2021-11-05 16:45] emilvissing commented on #10937
The default sort order gets refreshed once a job is executed. Would be great if it could remain the same until the window is closed?

[2021-11-05 16:59] kisantia commented on #16766
This has been fixed in DacFx and will be included in the next release of ADS and the sql database projects extension in vscode.

[2021-11-05 17:53] Charles-Gagnon commented on #17602
Have you looked at the tab color settings we have for the query editor?

![image](https://user-images.githubusercontent.com/28519865/140556113-7e0038fd-d3a3-4726-8573-5e212d5b7396.png)

If you enable this it will set the tab color based on the color of the group a connection is under.

It isn't quite as nice as what you're suggesting with having the colors be per database instead of per-connection

[2021-11-05 17:54] Charles-Gagnon commented on #16436
@MangoZMR Does this continue to happen even if you close the query and open a new one?

[2021-11-05 18:08] jasoncavett commented on #17602
If I understand your question correctly, this functionality already exists in Azure Studio. To make it work, you have to create a server group and set the color of the group. To do it:

1. Navigate to the "Connections" tab.
2. Create a Server Group here.

![image](https://user-images.githubusercontent.com/4645597/140557989-34ad1993-09c1-45b3-9b60-f6ffd7224142.png)

3. Right click on the server gro

[2021-11-05 19:14] MangoZMR commented on #16436
@Charles-Gagnon There is no toolbar even I close the query and open a new one. Thank you.

[2021-11-05 19:27] kanatkubash commented on #17602
@jasoncavett @Charles-Gagnon Thank you for that suggestion . I haven't had known of that feature.

Surely it is  better than not having it at all, but I think option of colorizing query area among with the tab header would improve user experience even better.

I will try to investigate on that matter, I can see a starting point from your words

[2021-11-05 20:07] corivera opened #17606 "Python version upgrade fails when starting ADS with 2 python notebooks already open."
An error is thrown when restarting notebooks during a python upgrade because the internal NotebookInputs have an undefined _model field. I'm guessing this is because unopened notebook tabs haven't had NotebookInput.resolve() called yet just after starting ADS.

[2021-11-05 22:16] Charles-Gagnon commented on #16436
Alright, here's another private build with additional logging if you don't mind trying it out

1. Download https://sqltools.blob.core.windows.net/public/editor-issue/azuredatastudio-win32-x64.zip
1. Unzip the archive
1. Run azuredatastudio.exe from the extracted folder
1. Repro the issue (closing the editor and then re-opening if it's already open)
1. Collect the two types of logs detailed below

[2021-11-05 22:59] chlafreniere commented on #17571
When creating a new HTTP trigger through the AF extension, is the resulting file untitled or saved? If it's saved as like "HTTPTrigger1.cs", then absolutely let's not show for untitled files

[2021-11-06 00:14] chlafreniere opened #17615 "SQL VM Deployment Wizard Broken"
While attempting to deploy a new SQL VM instance, I get the following error:

[code]
Screenshot:
![image](https://user-images.githubusercontent.com/40371649/140590984-283caa9f-6a3e-498b-87b3-9bf3ed534fd5.png)

The dropdown never gets out of the 'loading' state, and prevents me from progressing in the wizard.

Note: this is **not** a regression from 1.32.

[2021-11-06 19:49] bjones021595 opened #17618 "Open File after Save as Excel No Longer opens it via Microsoft Excel"
Issue Type: <b>Bug</b>

Hi - after updating to the latest Azure Data Studio, I can no longer open a saved excel file in Microsoft Excel after using the Save as Excel feature on a query. It gives an alert of "An external application is trying to open..." and tries to open the file in Azure Data Studio rather than Microsoft Excel. Please help!

Azure Data Studio version: azuredatastudio 1.33.1 (0b9e

[2021-11-06 19:54] bjones021595 commented on #9054
Same! This just started for me after I updated my version of ADS. I do use this feature every day

[2021-11-07 16:49] nekk29 opened #17619 "Ability to sort connections"
Issue Type: <b>Feature Request</b>

I would like to the team consider adding the ability to sort the connections in a custom way or sort them by name by default in the the conections explorer, it turns out diffcult to locate one when there are to much connections.

Azure Data Studio version: azuredatastudio 1.33.1 (0b9ef714c823d662815f441aec4a94eaa21940f8, 2021-11-04T17:45:15.872Z)
OS version: Win

[2021-11-07 17:08] Charles-Gagnon commented on #10847
@alanrenmsft We can close this now, right?

@pareshmotiwala We recently added sorting to the results grid, could you check out the latest builds and see if that fits your needs?

[2021-11-08 00:23] pareshmotiwala commented on #10847
I will ! Let me get back to you

Apologies for the brevity of the email
as it is sent from my iPhone.
Regards
Paresh Motiwala

[2021-11-08 01:52] pareshmotiwala commented on #10847
I tried with 18.10 and it did not work.
Am I missing something?

*Paresh Motiwala*

On Sun, Nov 7, 2021 at 7:23 PM Paresh Motiwala ***@***.***>
wrote:

[2021-11-08 04:28] Charles-Gagnon commented on #10847
SSMS does not currently have this feature - which given the version number sounds like what you were using.

This forum is for Azure Data Studio issues only, are you also still not seeing the feature here?

SSMS feedback can be given at https://feedback.azure.com/d365community/search/?q=ssms

[2021-11-08 13:46] JuliusHolmberg opened #17622 "Database [Security] [Users] settings in Azure data studio"
I noticed some massive differences between **Azure data studio** and **SQL Server Management Studio** when it comes to handling Security and Users of a Database.

I can't use Azure data studio to set up my Security and Users as far as I can see.
Azure data studio: https://prnt.sc/1yrp568 (I can't get open a menu or change any of these)
SQL Server Management Studio : https://prnt.sc/1yrpf1r
I've lo

[2021-11-08 13:59] pareshmotiwala commented on #10847
I do see it in ADS although I had requested fir SSMS! This is surely a good start!
Thank you

Apologies for the brevity of the email
as it is sent from my iPhone.
Regards
Paresh Motiwala

[2021-11-08 14:11] lucyzhang929 commented on #17571
Yep, it is saved as HTTPTrigger1.cs

[2021-11-08 14:22] Ian1971 commented on #12637
This has been an issue for ages. I can't recommend data studio to colleagues with this kind of flaw.

[2021-11-08 14:29] ThisNoName commented on #3152
@aasimkhan30   Hi, thanks for the update.  SELECT * appears working.  What about Insert?  Is it possible to do something like this?

insert into sometable ( ... ...  ctrl+space here, column list here, probably excluding identity column

[2021-11-08 14:49] aasimkhan30 commented on #3152
@ThisNoName can you please file a new issue for that feature? Thank you!

[2021-11-08 15:16] jcoryatjr commented on #15071
Any idea what the status of this bug is in the backlog?  I am able to create a dacpac using SSMS with the included GRANTS which gives the expected results in ADS Schema Compare.

[2021-11-08 16:07] dullroar opened #17623 "Slow performance on notebook with many interspersed Markdown and SQL code cells"
- Azure Data Studio Version: 1.34.0-insider (user setup)
- OS Version: Windows_NT x64 10.0.17763

Other stuff pasted from "About":

Commit: b8629acc4b343592d3fa9aabdada5aadc1f57ddd
Date: 2021-11-05T05:31:07.073Z
VS Code: 1.58.0
Electron: 12.0.9
Chrome: 89.0.4389.128
Node.js: 14.16.0
V8: 8.9.255.25-electron.0

@chlafreniere - tagging you per our discussion on bug #17579.

Steps to Reproduce:

1. Cr

[2021-11-08 16:30] ThisNoName opened #17624 "Intellisense should expand columns on insert"
Thanks for implementing columns expansion in #3152.

Related to that, similar feature can be useful with Insert.  Azure Data Studio clearly knew all columns involved because Ctrl+Space can already bring up the column list, just have to pick one by one.  Maybe something like

`INSERT INTO sometable (*[Ctrl+Space]   `

w/ auto expansion similar to select?  Or if we are concerned political correctnes

[2021-11-08 16:49] #10847 closed

[2021-11-08 17:22] Charles-Gagnon commented on #17535
Closing this since the hotfix with the fix has been released, if anyone else is still encountering issues let us know!

[2021-11-08 17:22] #17535 closed

[2021-11-08 17:38] Charles-Gagnon commented on #17399
It looks like we've added support for passing the provider as well : https://github.com/microsoft/azuredatastudio/blob/main/src/sql/workbench/contrib/commandLine/electron-browser/commandLine.ts#L277

Have you tried setting the provider arg to PGSQL and seeing if that works? It's possible that some other stuff needs to be fixed though for that to work. For example it seems like we're waiting for th

[2021-11-08 17:40] Charles-Gagnon commented on #17399
@nasc17 @daeunyim FYI in case you wanted to look into helping with this

[2021-11-08 17:44] Charles-Gagnon commented on #17622
Have you tried using the `Database Administration Tool Extensions for Windows` extension? That adds support for the properties and generate script wizard from SSMS into ADS.

![image](https://user-images.githubusercontent.com/28519865/140791683-1975a9bb-32c0-40d8-bc10-1c59a3a5c3ea.png)

![image](https://user-images.githubusercontent.com/28519865/140791588-c7c69378-6194-4afd-88f6-7ff832537fa5.png)

[2021-11-08 17:49] Charles-Gagnon commented on #17491
@kisantia

[2021-11-08 17:50] Charles-Gagnon commented on #14904
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/14693

[2021-11-08 17:50] #14904 closed

[2021-11-08 17:56] Charles-Gagnon commented on #17547
Have you tried removing and re-adding your account? There's some caching issues we've seen in the past.

@cssuh

[2021-11-08 18:00] kisantia commented on #17491
@covlorin can you try updating the latest schema compare (1.12.0) and see if this still happens? If there's still this error, can you please share the dacpacs for the source and target so I can try debugging this?

[2021-11-08 19:17] lucyzhang929 commented on #17575
Need to investigate what is changing this code.

[2021-11-08 19:26] lucyzhang929 commented on #17570
P1: show an example of a connection string (description field)

[2021-11-08 21:33] chlafreniere commented on #17623
@lucyzhang929 can you take a look?

[2021-11-08 22:21] #15917 closed

[2021-11-09 04:10] Charles-Gagnon opened #17632 "Save smokeshots for web smoke tests"
Product build smoke tests save screenshots of smoke test failures in the smokeshots folder : https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=124740&view=artifacts&pathAsName=false&type=publishedArtifacts

The web builds don't seem to be doing the same thing though - e.g. https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=127805&view=re

[2021-11-09 12:46] ebeery11 opened #17633 "Inconsistent/Unexpected Results: Sorting Query Results with Nulls in SQL Notebook"
Issue Type: <b>Bug</b>

When SQL notebook query results return NULLs, "Sort Ascending" and "Sort Descending" functions in the query results table yield inconsistent and unexpected results.

**Sample Query:**

[code]
**Initial Results**
![image](https://user-images.githubusercontent.com/16659917/140925644-01d0b767-8031-461c-a2c6-7f02c3ca8fbe.png)

**Actual Results after "Sort Ascending"**
![image](