[2020-04-04 02:08] daz10000 commented on #9486
I have only ever connected to Postgres instances

Von meinem iPhone gesendet

[2020-04-04 13:34] gjaryczewski opened #9862 "Case of query executed from file opened with one-click"
Issue Type: <b>Bug</b>

Steps to reproduce:

1. Open long-running query in File Navigator with one-click (like for preview).
2. Run query.
3. Select connection, connect.
3. Close tab with qury.

Result: tab is closed without warning.

Expected behaviour: like in SSMS, e.g., tab with running query should not be closed without warning.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df6

[2020-04-04 13:50] gjaryczewski commented on #6171
Please, do leave this feature as forced, without possibility to not use it. I am programmer, I often works on tens of scripts in CODE mode, not RUN mode, and necessity to connect every time is extremely counter-productive.

[2020-04-05 02:01] thecircleoflifefree commented on #8866
Hi Team currently experiencing this issue.
![AzureDataStudio-About](https://user-images.githubusercontent.com/26904626/78465072-6e970700-76ae-11ea-84e0-4ff41dd27188.png)
![preview-data](https://user-images.githubusercontent.com/26904626/78465073-735bbb00-76ae-11ea-8b4f-9d31d5a2a300.png)

I have tested with the file being txt or csv, and also tried testing by removing first column and scrambling da

[2020-04-05 06:24] mdx0111 commented on #2974
@kburtram Hi Karl,
I was wondering to ask if you have made any progress on this please.

Many many thanks. :)

[2020-04-05 17:22] ralphke opened #9864 "PowerShell Notebook dose not switch to PSVersion 7"
- Azure Data Studio Version:

Steps to Reproduce:

1.Start a new PowerShell Notebook
2. enter $PSVersionTable and press enter
3. the reported PowerShell version remains Version 5
PSVersion                      5.1.18362.628
4. even the Settings have been set to version 7
    "powershell.powerShellDefaultVersion": "7"

[2020-04-06 17:30] kisantia commented on #9217
We had a regression in the sqlpackage 18.4.1 release where there's the error “Object reference not set to an instance of an object.” when importing a bacpac with a user with an external login. This got fixed for importing/deploying to and Azure db in the 1.16 ADS release. For on prem, we are targeting to get the fix in the April release.

[2020-04-06 17:40] Benjin commented on #9400
After attempting to demo for our accessibility expert, it still failed in Narrator but was now working in NVDA.  Possible that an update resolved a bug.  Expert said that Narrator often has issues with Chromium apps in this area.  Please reopen if you're still seeing this issue in NVDA, as I no longer am.

[2020-04-06 17:40] #9400 closed

[2020-04-06 22:30] #9783 closed

[2020-04-06 22:30] aaomidi commented on #9800
I'm going to close this. Please feel free to comment back if this issue still exists.

[2020-04-06 22:30] #9800 closed

[2020-04-06 22:31] #9523 closed

[2020-04-06 22:39] aaomidi commented on #7965
I've looked a bit at this problem and I'm not sure what's causing it. @anthonydresser can I assign this to you?

[2020-04-06 23:57] aaomidi commented on #7965
I've traced the issue to https://github.com/microsoft/azuredatastudio/blob/0405658be76624193055e79c74bda6f2f940721f/src/sql/workbench/contrib/query/browser/gridPanel.ts#L637-L645 so far, I'm not sure if that's relevant but a lot of this code is stuff I don't really understand.

[2020-04-07 00:50] aaomidi commented on #9759
Is this only for webmode or for ADS as well?

I wasn't able to repro this locally

![image](https://user-images.githubusercontent.com/1465785/78618345-1a676080-782f-11ea-991b-5d0368cb48b2.png)

[2020-04-07 00:51] aaomidi commented on #9748
Are you connected to an Azure SQL database or local?

[2020-04-07 01:11] aaomidi commented on #9736
I'm not seeing this issue on my instance:

![image](https://user-images.githubusercontent.com/1465785/78619334-f0fc0400-7831-11ea-9626-ddab1c61dea8.png)

I think I've noticed the loading times for those nodes are longer on WSL environments, but they do eventually load.

[2020-04-07 02:27] aaomidi commented on #1388
Since there hasn't been any updates recently, I'll close this issue.

Please update or create a new issue with any specific issues you're seeing with the clipboard.

[2020-04-07 02:27] #1388 closed

[2020-04-07 02:33] aaomidi commented on #8955
Closing in favor of #9748

[2020-04-07 02:33] #8955 closed

[2020-04-07 02:38] aaomidi commented on #9734
Something interesting:

![image](https://user-images.githubusercontent.com/1465785/78624312-332b4280-783e-11ea-8d33-f8bf80e2c616.png)

You can install this as an application, and in those situations ctrl+n works.

[2020-04-07 02:38] #9472 closed

[2020-04-07 02:39] aaomidi commented on #9734
https://src.chromium.org/viewvc/chrome?revision=127787&view=revision

[2020-04-07 02:45] aaomidi commented on #9316
![w7b8JclI4j](https://user-images.githubusercontent.com/1465785/78624741-396dee80-783f-11ea-9893-3de5d268eb67.gif)

Also unable to repro this

[2020-04-07 02:47] aaomidi commented on #9093
@ellbosch might be able to use your expertise in this area to get this done.

[2020-04-07 02:50] ellbosch commented on #9093
At your service. Would be interesting to see how VS Code does it... I can take a look.

[2020-04-07 02:58] aaomidi commented on #8774
Unable to repro this.

[2020-04-07 04:40] nichojo89 commented on #9748
Hello Amir,

This issue happens while connected to Azure db but not while master is
selected. I also had a colleague replicate the same issue while using same
version of ADS & Import wizard and she has also replicated.

Please let me know if there is any further information required.
[image: image.png]

Jon Nichols
*https://NicholsSoftware.com <https://NicholsSoftware.com>*
(248) 890 6977

On Mon,

[2020-04-07 11:57] OSch24 opened #9879 "Replace tabs with spaces when saving"
I would like to be able to configure that not only the spaces at the beginning and end are deleted when saving. I would also like to be able to configure that all tabs are replaced by spaces. I still have to do this by hand.

cu Oliver

[2020-04-07 13:48] psalqvist opened #9880 "cannot view my installed extensions"
Installed extensions won't appear upon the management dashboard as they are suppose to do. I have enabled preview extensions as well as installed the extensions. The reload button doesn't appear when I install the extensions though, I wonder if that has anything to do with it. Or are there any further settings I have to take into consideration before being able to use extensions?

[2020-04-07 16:07] Charles-Gagnon commented on #9879
There's a setting to auto-trim trailing whitespaces when saving a file :

![image](https://user-images.githubusercontent.com/28519865/78692318-8b9a2880-78ae-11ea-8d75-9cd87cf5da9f.png)

This doesn't do leading whitespaces - but you might be able to find a VS Code extension that does that. Many VS Code extensions work in ADS as well so you can browse the marketplace for one that does what you need

[2020-04-07 16:07] #9879 closed

[2020-04-07 16:09] Charles-Gagnon commented on #9880
Could you include a screenshot of what you're seeing? Include the version of ADS you're using (and make sure to update to the latest build if you haven't already)

[2020-04-07 16:30] Charles-Gagnon opened #9881 "Cloud Shell terminal name contains [object Object]"
![image](https://user-images.githubusercontent.com/28519865/78695027-63acc400-78b2-11ea-8602-773f6f58f410.png)

[2020-04-07 16:33] Charles-Gagnon opened #9882 "Can't connect cloud shell"
Open new cloud shell terminal instance and it just shows this forever

![image](https://user-images.githubusercontent.com/28519865/78695331-d158f000-78b2-11ea-869e-cba1452d101a.png)

From console :

![image](https://user-images.githubusercontent.com/28519865/78695265-bbe3c600-78b2-11ea-91ba-90a6b566bb63.png)

[2020-04-07 16:39] Charles-Gagnon opened #9883 "2019 TSG is opening text editor to files on disk"
When I run the command to open the 2019 TSG and then edit any of the pages it opens up the actually backing file and thus any changes made there are persisted to the shipped version of the book.

This is especially confusing because the book is opened in the "Unsaved Books" section which implies that changes won't be persisted anywhere.

![image](https://user-images.githubusercontent.com/28519865/

[2020-04-07 16:56] #9415 closed

[2020-04-07 17:14] MaddyDev commented on #9883
Huh, it's not prompting you for save? It's directly saving it to the file? I wonder what vscode changed again, we haven't changed anything around that code for the last two iterations.

[2020-04-07 17:29] chlafreniere commented on #9755
Fixed by #9871 for new users (and for April) to remove kqlmagic as a default package.

To fix this problem in insiders/dev builds, you can uninstall the kqlmagic python package through the manage packages button, and the cmd window will no longer appear.

[2020-04-07 17:29] #9755 closed

[2020-04-07 17:30] chlafreniere commented on #9394
Given that kqlmagic isn't shipping by default in April (and the other high pri issues already in that milestone), moving this out.

[2020-04-07 17:31] chlafreniere commented on #9378
Given that kqlmagic isn't shipping by default in April (and the other high pri issues already in that milestone), moving this out.

[2020-04-07 17:32] Charles-Gagnon commented on #9883
No, double clicking to edit a file opens the editor for the file on disk itself and thus saving it just acts like a normal file save.

[2020-04-07 17:42] waldyd opened #9885 "Azure Account adding not working"
- Azure Data Studio Version:
![image](https://user-images.githubusercontent.com/1531796/78701787-3ae5f800-78cd-11ea-972d-981a5039f7d9.png)

Steps to Reproduce:

1.Try to Sign in to Azure
![image](https://user-images.githubusercontent.com/1531796/78701492-c14e0a00-78cc-11ea-926e-dc651ee75e00.png)
2. Click Add an Account:
![image](https://user-images.githubusercontent.com/1531796/78701551-d75bca80-7

[2020-04-07 17:51] Znajib opened #9886 "conncetion to postgres database"
Issue Type: <b>Bug</b>

can't connecte to postgres database

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz (8 x 1896)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>fl

[2020-04-07 18:11] aaomidi commented on #9885
Hey @waldyd, could you please see if adding an account works on the latest insiders build?

https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-master

[2020-04-07 18:12] #316 closed

[2020-04-07 20:01] waldyd commented on #9885
Yes. It is working for the Latest Windows User Insider version.

[2020-04-07 20:05] aaomidi commented on #9885
Thanks! Then this problem should be fixed for next release.

[2020-04-07 20:06] aaomidi commented on #9882
So this happens if the user hasn't ever used cloudshell before.

We can look into bringing the first time use experience of the cloudshell to ADS, but it's pretty involved so for now I'll just fail with an informative message telling users what to do.

[2020-04-07 20:09] #9881 closed

[2020-04-07 20:18] waldyd commented on #9885
@aaomidi but when trying to connect. This was prompted:

![image](https://user-images.githubusercontent.com/1531796/78715404-ffeebf00-78e2-11ea-9554-bb1f424b3e8f.png)

[2020-04-07 22:31] aaomidi commented on #9885
Hmm, that's weird. Does it repro 100% of the time?

[2020-04-07 22:55] #9823 closed

[2020-04-07 22:57] MaddyDev commented on #9780
fixed #9825

[2020-04-07 22:57] #9780 closed

[2020-04-08 00:35] waldyd commented on #9885
`Adding key failed: Error: A specified logon session does not exist. It may already have been terminated.
 (at t.SimpleTokenCache.<anonymous> (c:\Users\nalvarez\AppData\Local\Programs\Azure Data Studio - Insiders\resources\app\extensions\azurecore\dist\extension.js:166:23460))
2c:\Users\nalvarez\AppData\Local\Programs\Azure Data Studio - Insiders\resources\app\node_modules.asar\zone.js\dist\zone-n

[2020-04-08 07:07] OSch24 commented on #9879
First of all many thanks for the tips.
I'm looking for an extension.
When I press TAB, it is already replaced by 4 spaces.
But my point is, if I don't just open my old projects or if other developers open the projects, that I replace all existing tabs with 4 spaces at once. Best when saving or I could somehow put this on key.

[2020-04-08 08:09] #3028 closed

[2020-04-08 08:10] bweissman commented on #3028
this seems to be fixed

[2020-04-08 09:35] sassora opened #9897 "Jupyter Book pip3 instead of pip?"
- Azure Data Studio Version: 1.16.1

I am investigating Jupyter Books and using the python code provided in ADS to run the jupyter-book install. This works for a number of collections but

`import sys

#install jupyter-book
cmd = f'{sys.executable} -m pip show jupyter-book'
cmdOutput = !{cmd}
if len(cmdOutput) > 1 and '0.6.4' in cmdOutput[1]:
    print('Jupyter-book required version is already ins

[2020-04-08 09:45] DaveBoltman opened #9898 "Copy carriage return/line feeds when copying results grid to clipboard"
I'm always frustrated when I try to copy multi-line text in the SQL query results grid to the clipboard, and it puts everything in a single line when the text is pasted. E.g: please see the screenshots below.

It would be great if the text being copied is not "fiddled with" when copying to the clipboard, so carriage return & line feed characters (and anything and everything else) are preserved.

A

[2020-04-08 09:52] DaveBoltman commented on #9898
@anthonydresser Please note this is a problem with the query results grid, not with

[2020-04-08 09:54] sassora opened #9899 "Notebook readability"
When I write a notebook in ADS I'd like to make it easy for me convert to PDF and have the code cells not be truncated. In general, I'd like it to be easier to have a narrower paragraph width. This is help with the readability and would help make best practice consistent (I've read 80 characters as a rule of thumb).

I think the feature would take the form of a setting / option as people have diff

[2020-04-08 10:40] aisbergde commented on #1026
one more argument: Azure Data Studio can be installed and used without Admin rights, SSMS can't

[2020-04-08 14:16] valerionet opened #9900 "Issue #9851 - Unexpected Paste Operations on SQL Script"
Folowing Karl Burtram's suggestion for issue #9851, I performed the upgrade for the latest release (1.16.1), however the problem persists. Couldn't it be related to any Extension I use?

Also, I can record the issue happening if somehow it may help. Thanks a lot!

[2020-04-08 14:58] Charles-Gagnon commented on #9879
Did you look at the two commands I mentioned above? Those will replace all leading tabs/spaces in the document when ran.

There's no built-in functionality to replace ALL tabs/spaces in a document though directly as far as I know. I suppose you could use a regex replace or something do achieve that behavior though if you can't find an extension to do it for you though.

[2020-04-08 15:03] Charles-Gagnon commented on #9900
Definitely please try running without any extensions and see if the problem persists. You can do this easily by passing the `--disable-extensions` parameter to the process through the command line.

e.g. on Windows it'd look like this

`%USERPROFILE%\Programs\Azure Data Studio\bin\azuredatastudio.cmd --disable-extensions`

[2020-04-08 16:32] magnusbratt commented on #9885
I am getting the sate issue in insiders build on Mac OSX.
![image](https://user-images.githubusercontent.com/6708638/78809278-f3dc2d80-79c6-11ea-8c9d-292e7dbc3fa5.png)

After adding the account I get the following error message, and no account is added
![image](https://user-images.githubusercontent.com/6708638/78809344-0fdfcf00-79c7-11ea-98c5-0e351349f538.png)

In the console I get
![image](https:

[2020-04-08 16:38] magnusbratt commented on #8903
@aaomidi I just tried with the insiders build on a Mac and it still did not work. I replied in issue #9885.

[2020-04-08 17:41] chlafreniere opened #9901 "Query Editor Toolbar Actions are too Big"
When I open the Query Editor, the actions on the query editor toolbar aren't styled correctly and are too big:

![image](https://user-images.githubusercontent.com/40371649/78815547-472d8c00-7985-11ea-8e08-1ac876b5d755.png)

[2020-04-08 17:42] chlafreniere commented on #9897
@MaddyDev can you take a look?

[2020-04-08 18:11] alanrenmsft opened #9902 "Keyboard focus is not staying on the results tab header."
Repro steps:

1. run 'select @@Version'
2. select the cell in the results table (doesn't matter using keyboard or mouse)
3. switch to messages tab
4. press left arrow key to set to focus on the results tab
5. press Enter key to select the results tab.
6. now press right arrow key

Expected: the focus should go to the messages tab

Actual: the focus seems to be on the results table, pressing the  r

[2020-04-08 18:16] alanrenmsft opened #9903 "Not able to access the query result tables with keyboard - only the first table is accessible"
execute a query that will return multiple result sets, try to access them using Tab key navigation, I am only able to access the first table using keyboard.

[2020-04-08 18:25] alanrenmsft opened #9904 "backward keyboard navigation is broken if the focus is on the query editor's results/messages tab"
repro steps:
1. execute a query
2. click on the results or messages tab
3. use left/right arrow key to verify the focus is on the tabs
4. press SHIFT+TAB

expected: the focus should go to editor area.

actual: the focus stays on the tabs.

[2020-04-08 19:14] rajeshka opened #9906 "Custom Metadata gets deleted from notebooks"
- Azure Data Studio Version: 1.16.1

**Steps to Reproduce:**

1. Edit a notebook .ipnb file in text editor and add a field to metadata property.
2: Open that notebook in ADS, edit and save

**Observation:**
Custom field added to the metadata properties disappears

**Expected:**
ADS should retain custom properties

[2020-04-08 19:23] MaddyDev commented on #9897
Did you see any errors when using pip, if so can you share them. Thanks

[2020-04-08 19:25] aaomidi commented on #9885
Thank you this is extremely useful to investigate.

[2020-04-08 19:34] aaomidi commented on #9885
@waldyd It seems like your issue is something to do with how your windows is setup. Azure Data Studio uses Windows Credential Manager to store authentication tokens.

![image](https://user-images.githubusercontent.com/1465785/78825387-bd85ba80-7994-11ea-9ef0-fc75b9805e2e.png)

This is technically the expected/secure way for us to store authentication tokens.

I think there is an argument to be mad

[2020-04-08 22:04] rainabba commented on #2090
Just updated Azure Data Studio (v1.16.1) and installed the Import plugin. When I hit Ctrl-I, I get a toast saying: command 'flatFileImport.start' not found

[code]

[2020-04-09 01:20] MsSQLGirl opened #9912 "Notebook: kqlmagic tabular output got truncated (please support tabular output like SQL kernel)"
Steps to Reproduce:

1. Rename the attached txt file to ipynb.
[Kqlmagic tabular output.txt](https://github.com/microsoft/azuredatastudio/files/4453503/Kqlmagic.tabular.output.txt)

2. The notebook is pre-run so you can see the results.
3. Resize the window to less wide.

What the output looks like when ADS window is maximized.
![image](https://user-images.githubusercontent.com/6405919/78847719-6c

[2020-04-09 01:41] MsSQLGirl opened #9913 "Notebook: kqlmagic perf issue when there are too many rows returned"
Azure Data Studio version: azuredatastudio-insiders 1.17.0-insider (fca2344c2edce2c561b34b130504adae7a74ea73, 2020-04-08T06:01:27.168Z)
OS version: Windows_NT x64 10.0.18363

Issues:

1. When retrieving large resultset from Kusto using kqlmagic, ADS freezes and becomes unresponsive for a while until the resultset is completely fetched and rendered.
To repro:
[code]
2. After the resultset comes bac

[2020-04-09 01:42] MsSQLGirl commented on #9913
If I do `%kql StormEvents` with no `limit`, and start navigating other areas of ADS, I'll get the following:
![image](https://user-images.githubusercontent.com/6405919/78849201-a19c0c00-79c8-11ea-963d-52391c0476b9.png)

[2020-04-09 07:22] OSch24 commented on #9879
The two options are of course activated.
But my wish would be to replace all tabs with spaces.

I'll check the extensions right away.

But your idea with RegEx also sounds exciting.

What or how should I do this?
Can I put this on key?
Do I have to write a script for this?
Is there an example?

Thank you very much in advance.

[2020-04-09 08:55] sassora commented on #9897
Many of the components of jupyter-book seem to run e.g.

[code]

until it gets to:

[code]
Thanks

[2020-04-09 13:28] timothyhoffmann opened #9918 "Edit Data on empty table shows error message"
Issue
![2020-04-09_09h25_38](https://user-images.githubusercontent.com/28546239/78900153-6d663100-7a44-11ea-9fb0-6ebb5b2f4861.png)
 Type: <b>Bug</b>

Table is empty but some columns are set Not Null.  Click Edit Data and an error message bottom left complains about "commit row failed".

Azure Data Studio version: azuredatastudio-insiders 1.17.0-insider (177a58c81d39446f9724d15cff037087246d32dc, 20

[2020-04-09 14:14] fedelippo commented on #94
Please add an Entity Relationship Diagram tool to Azure data studio.

[2020-04-09 15:59] Charles-Gagnon commented on #9879
If you open a document and press ctrl+F that will open the find/replace dialog. Then you can expand it and enter the character you want to replace and the character you want to replace it with. So if you wanted to replace all tabs with spaces it'd look like this :

![image](https://user-images.githubusercontent.com/28519865/78915049-33932b80-7a40-11ea-8213-7eb5a9c6feab.png)

(note the first box ha

[2020-04-09 17:36] waldyd commented on #9885
Hi @aaomidi . That policy was already disabled in my case:

![image](https://user-images.githubusercontent.com/1531796/78924011-b9be6a80-7a5e-11ea-8de2-3d86fb54d181.png)

[2020-04-09 17:50] aaomidi commented on #9885
@waldyd If it's enabled it wouldn't work I think. Can you try to use ADS on another device and see if you can repro this?

[2020-04-09 17:50] aaomidi commented on #9885
@magnusbratt We've published a new insiders build with more debug output, can you try to add your account on the latest version of ADS insiders?

[2020-04-09 18:22] magnusbratt commented on #9885
OK. I updated to the lastest Insider version. I added my Azure account, and get the web page sign in. Then I get this error message in ADS:
![image](https://user-images.githubusercontent.com/6708638/78927665-8fd96800-7a9f-11ea-837a-8831275583db.png)

and this in the developer tools console
![image](https://user-images.githubusercontent.com/6708638/78927735-ac75a000-7a9f-11ea-94e1-cb0feaae4505.png)

[2020-04-09 18:28] magnusbratt commented on #9885
I now also installed the Insiders build on a Windows PC. When signing into Azure, I got
![image](https://user-images.githubusercontent.com/6708638/78928057-42a9c600-7aa0-11ea-9e4e-a4c8d10ad254.png)

I then get the same
![image](https://user-images.githubusercontent.com/6708638/78928166-6e2cb080-7aa0-11ea-986c-4c21b0c0e35e.png)

and in the developer tools console
![image](https://user-images.github

[2020-04-09 19:11] aaomidi commented on #9885
So it seems you belong to a tenant where you don't actually have permissions to do resource management on it.

I'll make a PR that silently ignores tenants where you don't have permissions to do operations on them. Hopefully that fixes your problem.

It'll also contain some more debug information giving you information on why that's failing.

Can you check on azure portal to see if you have permis

[2020-04-09 21:07] magnusbratt commented on #9885
My account does belong to a few directories where I do not have permissions. However, for the directory referenced, I am  "global administrator".
![image](https://user-images.githubusercontent.com/6708638/78937072-1ac25e80-7ab0-11ea-9d4f-67801f9c10e4.png)

However, I removed "left the organization" for another tenant that I know I do not have permissions to. After this, I was able to expand my sub

[2020-04-09 21:42] aaomidi commented on #9885
Whoops didn't mean to close this issue. Let's wait for the insiders build tomorrow and go over this. Thank you so much for helping me debug this @magnusbratt :)

[2020-04-09 22:18] corivera opened #9924 "Modifying book toc.yml file causes a duplicate book entry to be opened in viewlet"
Currently we track changes to the book table of contents file (toc.yml) so that the book viewlet can be updated with the new book contents as needed. But when modifying the toc.yml file directly, one or more duplicate entries for that toc's book are opened in a viewlet, although the actual content changes are correct in each book entry. Closing any of these entries using Close Jupyter Book also ca

[2020-04-10 00:53] aaomidi commented on #9316
I'm going to close this issue for now as @Charles-Gagnon and I haven't been able to repro it. If this happens again please feel free to comment back on this issue.

[2020-04-10 00:53] #9316 closed

[2020-04-10 01:06] aaomidi commented on #8774
I'm going to close this issue. If this problem happens again please comment back!

[2020-04-10 01:06] #8774 closed

[2020-04-10 01:06] aaomidi commented on #9732
Well it seems like the button is gone atm.

[2020-04-10 01:08] aaomidi commented on #9706
Unable to repro this on the latest webmode builds.

[2020-04-10 05:28] MaddyDev commented on #9924
Duplicate of #9781

[2020-04-10 05:28] #9924 closed

[2020-04-10 06:11] MaddyDev commented on #9897
Do you have multiple installations of python on your system?

[2020-04-10 06:20] MaddyDev commented on #9576
Am not able to repro this and haven't heard anyone complaint so far. @chlafreniere Can I close this?

[2020-04-10 06:28] whubaichuan commented on #9821
@chlafreniere  how can the problem "configuration.jsonValidation.url" be sovled?

[2020-04-10 08:41] gaurav1022 opened #9927 "provider TCP Provider error 40 azure data studio mssql failure to establish connection to sql server"
Not able to connect to the sql server once opening the azure data studio. Its showing
" A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: TCP Provider, error: 40 - Could not open a conne

[2020-04-10 08:52] gaurav1022 commented on #9927
Using a mac. Not able to find and access Network Configuration Manager as well

[2020-04-10 11:47] sassora commented on #9897
Recently I couldn't see python packages and added the following file: %APPDATA%\pip\pip.ini
[code]
Would that achieve the same thing? I'm using Anaconda. Should I have multiple python folders?
- %USERPROFILE%\azuredatastudio-python\0.0.1\Lib\site-packages\pip
- %USERPROFILE%\appdata\roaming\python\python37\site-packages

When I opened ADS and it asks me to install Notebook dependencies
[code]
I'd

[2020-04-10 16:09] Charles-Gagnon opened #9928 "Extension APIs should be using ThemeColor where appropriate"
Right now the our extension APIs which display UI elements (such as the ModelView parts) often allow customization of colors through CSS styles. This makes it difficult for users to handle theme changes correctly though as that would have to be done manually on the extension side.

Instead a cleaner way would be instead expose specific color properties on these APIs that allow either specifying a

[2020-04-10 17:00] MsSQLGirl commented on #8428
@barbaravaldez - it seems that if the reference/link and the linked item are on the same cell, and the linked item is at the bottom of the text cell and ADS window is short, clicking on the item seems to not work well. Can you please help investigate?

![ADSAnchorEndOfCell](https://user-images.githubusercontent.com/6405919/79008359-13cc3800-7b12-11ea-9b0b-5fe0948425b6.gif)

[2020-04-10 17:56] #9142 closed

[2020-04-10 19:01] MaddyDev commented on #9897
Are you able to ping those conda/python URLs?

[2020-04-10 19:06] rhythmnewt commented on #9525
@Charles-Gagnon The problem is that even if I switch authentication type to Azure Active Directory - Universal and login successfully. The next time I'm trying to connect (right click + new query on the same database) by default ADS will attempt to use the cached sql auth credentials first to authenticate but because the password is not cached, the login will fail with the connection error I alrea

[2020-04-10 20:21] rhythmnewt commented on #9525
Here's a screen capture exhibiting this behavior. Sorry for the quality.
I'm clicking "Script as Create" from the context menu on each table.

[behavior-vid.zip](https://github.com/microsoft/azuredatastudio/files/4463275/behavior-vid.zip)

[2020-04-10 20:24] Charles-Gagnon commented on #9525
What do you mean "switch authentication"? At what point are you trying to switch and how are you going about doing this?

Currently connections don't support being modified. You will need to make two separate connections for each type of connection type if you want to switch between them.

[2020-04-10 20:38] hannahqin commented on #9387
@v-atkulk This is also a duplicate of an upstream bug that was previously approved for exclusion: http://sqlbuvsts01:8080/Main/SQL%20Server/_workitems#_a=edit&id=11697790. It is already documented in our Conformance Document.

[2020-04-10 22:04] hannahqin commented on #9411
@v-atkulk We're marking this bug for Exclusion. Please work with @Alexandria-R or another SME to review.

This is an upstream bug with VS Code and we filed a bug in their repo here: https://github.com/microsoft/vscode/issues/94955

**Importance of Experience:** somewhat important
Extensions are a crucial part of using Azure Data Studio, but visiting the extension manager is likely not an everyday

[2020-04-10 22:12] #9882 closed

[2020-04-11 03:35] Matteo-T opened #9935 "EULAs are not localized"
- Azure Data Studio Version:
Version: 1.16.1 (system setup)
Commit: 16801c522df68e63218b39ccb5b4a7431f9bf667
Date: 2020-03-23T22:08:06.892Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19605

**Steps to Reproduce:**
1. On a non-English OS (I was on Win10 Italian)
2. Run the Setup (I downloaded the "System-wide package"
3.

[2020-04-11 10:44] sassora commented on #9897
In cmd prompt I can't even "ping google.com"! I can access the site via Chrome browser though.

[2020-04-12 04:31] alanrenmsft commented on #9731
@kburtram are you working on this issue?

[2020-04-12 15:51] rhythmnewt commented on #9525
@Charles-Gagnon look at the screen capture I attached. I'm logged in to Azure with my org credentials and when I try to use "Script as Create" on a table, I get a login failed error and no matter what credentials (doesn't matter if sql auth or AAD universal) I use I cannot use this functionality (it always pops up the error and stops the query window with the script from opening).

[2020-04-13 13:51] ChipWolf commented on #8058
Same here ![](https://i.imgur.com/jUjeYyU.png)
Funnily enough the brightness of the window looks fine if I'm in the process of selecting an area for a screenshot with ShareX.

[2020-04-13 15:31] Charles-Gagnon commented on #9525
@rhythmnewt The video you captured doesn't have the server connection on screen so I can't see any information about that connection. If you're referring to your first screenshot attached - that clearly shows SQL login being used which implies the connection itself is set up to use SQL Auth.

If you look at the server connection node you're working with is the name listed in the parentheses at the

[2020-04-13 16:29] rhythmnewt commented on #9525
@Charles-Gagnon Yes, I did mean that my account is added to the accounts tab. I also do understand that I have to select the connection type and provide credentials before connecting.

What I'm trying to explain is that after the connection is setup (regardless whether I set the connection to AAD) it always falls back to SQL Auth on any database refresh, new query, or "script as" command. I am cli

[2020-04-13 16:41] Charles-Gagnon commented on #9525
Ahhh, alright sorry I was missing the context that this was from the Azure view (I was using the Servers view)

I'm able to repro this issue so I'll look into this.

But for the time being as a workaround - if you go to "Add Connection" in the Servers view

![image](https://user-images.githubusercontent.com/28519865/79139091-846d9180-7d6a-11ea-88ff-170ce6cedfeb.png)

and then add a connection with

[2020-04-13 16:52] rhythmnewt commented on #9525
@Charles-Gagnon Success! :) The workaround works for me, no problem with scripting objects, etc.
Thank you for being patient, and working with me to understand the issue.

[2020-04-13 17:34] chlafreniere commented on #9836
This appears to be the same as the same as #6180. `brew install openssl` should mitigate this.

In May, we really need a long term solution for this. Any ideas, @corivera?

[2020-04-13 17:58] #9701 closed

[2020-04-13 18:14] Charles-Gagnon commented on #9525
@rhythmnewt If you get a chance could you try out the [latest insiders build](https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-master)? We've been doing some fixes in the area and it looks like it's correctly using the account credentials for the underlying nodes

[2020-04-13 19:17] chlafreniere commented on #9838
@corivera can you take a look at this one?

[2020-04-13 19:32] rhythmnewt commented on #9525
@Charles-Gagnon I tried the insider's build, and cannot add my Azure account to re-test

Click "Sign In" on the Azure view
Click "Add an account" button to add a linked account
In browser window click on my Org account to sign in.

An error shows up in ADS:
![image](https://user-images.githubusercontent.com/1319322/79153390-c6fb9200-7d9b-11ea-9c92-ba8e3f4d8a98.png)

An error displayed in browser:

[2020-04-13 19:38] kburtram commented on #9918
@smartguest could you please take a look to see if this is a regression?

[2020-04-13 19:38] Charles-Gagnon commented on #9525
@aaomidi Any ideas here?

@rhythmnewt If you open the developer console (Help -> Toggle Developer Console) and then go to the **Console** tab are there any errors displayed there after attempting to add your account?

[2020-04-13 19:50] rhythmnewt commented on #9525
@Charles-Gagnon this is what the console is showing
![image](https://user-images.githubusercontent.com/1319322/79154766-23f84780-7d9e-11ea-8920-ffb9785bf347.png)

[2020-04-13 19:52] kburtram opened #9940 "Welcome page showing up in two panes on startup"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open two temporary documents in different editor groups (i.e. documents that won't be restored on startup)
2. Close open ADS

Expected: Welcome page in one of the editor groups only

Actual: Welcome page in both groups.  It doesn't look great.

*Here's what I see in insiders today*
![image](https://user-images.githubusercontent.com/599

[2020-04-13 20:42] halerankin opened #9941 "Notebook: UI edge case - link not scrolling correctly to corresponding section."
We are dealing with an edge case when navigating to a section in a notebook. Basically if we add a lot of `<br>` on a code cell and we use the same cell to add an anchor link, there is an issue with the offset and the section is not visible. We noticed that Jupyter notebooks handles this case gracefully, is there a way to replicate the same behavior?

Attached: Notebook file (replace txt extension

[2020-04-13 20:49] halerankin commented on #9941
Issue already fixed with by [8428](https://github.com/microsoft/azuredatastudio/issues/8428)

[2020-04-13 20:53] aaomidi opened #9943 "Preview Button in ADS Welcome Page"
![image](https://user-images.githubusercontent.com/1465785/79160079-10dd7b80-7d8e-11ea-804a-2624fef129fe.png)

I use my mouse to follow the text I'm reading, it makes it easier. However, when I move the mouse off of the preview button and onto the text box the box disappears.

[2020-04-13 21:17] v-bbrady opened #9945 "Removes dynamic caption for the welcome page title and add hard copy."
- Azure Data Studio Version:

This was a decision by UX to remove the dynamic caption on welcome page that is based on ADS version (Insiders, Dev, etc.). So that the caption always reads "Azure Data Studio"

[2020-04-13 21:26] v-bbrady opened #9946 "Welcome Page UI not responsive to left navigation pane.."
- Azure Data Studio Version:

Welcome page is not responsive to the left navigation pane.

![image](https://user-images.githubusercontent.com/60623315/79162516-46846380-7d92-11ea-9ad0-f1f16d4908bd.png)

[2020-04-13 21:37] Charles-Gagnon opened #9947 "Tabbed panel inside ModelView Dashboard is not preserving tab orientation when switching tabs"
![Capture](https://user-images.githubusercontent.com/28519865/79163625-49805380-7d94-11ea-8a47-712e798a7a3a.gif)

[2020-04-13 22:02] chlafreniere commented on #9716
Just tried this myself with latest bits from master on web mode, and this no longer reproes. Likely fixed by the issue that we were seeing a couple of weeks ago.

[2020-04-13 22:02] #9716 closed

[2020-04-13 22:37] Charles-Gagnon opened #9950 "Key Length too long when adding Azure Account"
Reported through https://github.com/microsoft/azuredatastudio/issues/9525

The user was getting a key length error when attempting to add their Azure account.

![image](https://user-images.githubusercontent.com/28519865/79167574-9405ce00-7d9c-11ea-84db-5d7fa289c903.png)

[2020-04-13 22:38] Charles-Gagnon commented on #9525
Thanks @rhythmnewt - I'm going to close this out since I think your original issue should be resolved with the latest changes. But I just opened another one for the key length issue so keep an eye on that for any other updates

https://github.com/microsoft/azuredatastudio/issues/9950

[2020-04-13 22:54] alanrenmsft commented on #9947
The sample in the sql services extension is similar to this, but i can't reproduce the issue. Which branch is this, i 'd like to use it as a repro.

[2020-04-13 22:58] alanrenmsft commented on #9943
@v-bbrady our issue triage process: triage and move the issue to proper milestone, after that you can remove the Triage:Needed label and add the Triage:Done label. since you are the owner of the Area-UX, please also keep monitoring the issues coming into this area.

[2020-04-13 23:00] Charles-Gagnon commented on #9947
I don't have this pushed to a branch yet, but I'm working on fixing this up.

The primary issue I believe is that the layout isn't being enforced correctly and the defaults aren't working correctly. I'll let you know if I'm having any issues otherwise I should have a PR out shortly.

[2020-04-13 23:30] #9831 closed

[2020-04-14 00:26] smartguest commented on #9918
@kburtram This is a regression, apparently when the first cell of the empty row is selected, its normally supposed to create a new null row (for rendering purposes), however since the columns have NOT NULL in them, it causes some issues as the code cannot handle that.

[2020-04-14 00:29] chlafreniere commented on #9431
This is a dupe for multiple reasons. Let's track python ubuntu install issues in #9838.

[2020-04-14 00:29] #9431 closed

[2020-04-14 00:39] chlafreniere commented on #9828
@qifahs I started looking into this, but can repro the same issue when using absolute paths with a markdown file. Can you verify that you see the same behavior?

[2020-04-14 00:53] dnethi opened #9957 "Change default option for Deployment wizard"
Currently, upon launching the Deployment dialog, the default selection is "SQL Server Container image". The dialog dynamically displays the Required Tools based on the selection of deployment option and displays in a red banner at the top if the user doesnt have any of the required tools.
Most users may or may not have "docker" tool installed on their machine causing an unwelcome launch experience

[2020-04-14 03:38] rhythmnewt commented on #9950
Just to confirm this happens with this version:

Version: 1.17.0-insider (system setup)
Commit: 15fc4517eeaa551f8f352e0fed54c6044d31f530
Date: 2020-04-13T17:32:48.451Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-04-14 04:46] alanrenmsft commented on #9957
I have a fix for it but i don't think this meets the ASK mode bar for april release.

[2020-04-14 07:06] OSch24 commented on #9879
Thank you very much.
Is there a way to put this on a " key"?

Tab -> Space.

And if I may make a suggestion, it would be great if I could set this in the settings when saving.

[2020-04-14 07:24] vk-ravi82 opened #9960 "Not able to connect to MS SQL Sever installed locally"
Issue Type: <b>Bug</b>

Not able to connect to MS SQL Sever installed locally

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz (4 x 1896)|
|GPU Status|2d_canvas: enabled<br>flash

[2020-04-14 11:57] aveuud commented on #7897
I have the same issue: get an error message "An unexpected error occurred while connecting."

Azure Data Studio
Version: 1.16.1
Commit: 16801c522df68e63218b39ccb5b4a7431f9bf667
Date: 2020-03-23T22:06:16.901Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

This used to work, but now I have to maintain two versions of my code in

[2020-04-14 12:36] GoEddie commented on #9800
Hi,

I tried the version form master but it still doesn't work, I click connect and then the spinner spins and never connects.

Thanks,

ed

[2020-04-14 13:49] vholmer commented on #3152
Bumping this, Azure Data Studio is unusable without this feature.

[2020-04-14 16:09] magnusbratt commented on #9885
Just FYI. I just updated to the latest Insider build and the issue persists.

![image](https://user-images.githubusercontent.com/6708638/79247388-bf5eea80-7e7a-11ea-98c9-38b43d4a27be.png)

I get no new messages in developer tools console.

[2020-04-14 16:15] #9880 closed

[2020-04-14 17:08] #9957 closed

[2020-04-14 17:28] aaomidi commented on #9885
Could you please share your console either way? Would still be helpful :)

[2020-04-14 17:47] alanrenmsft opened #9964 "Create insight feature not working inside Notebook context"
1. Connect to a SQL Server instance
2. Open a new notebook and use SQL Kernel
3. Add a code cell and run a select statement
4. In the results area, click the 'Show chart' button
5. Click the 'Create insight' button
<img width="974" alt="Screen Shot 2020-04-14 at 10 40 53 AM" src="https://user-images.githubusercontent.com/13777222/79256547-0e862a80-7e3d-11ea-8d67-3a36990c7027.png">

i am getting th

[2020-04-14 17:57] alanrenmsft opened #9965 "query result table's side buttons need more spacing"
left side: 1.16.1 stable build
right side: 1.17 insider build
as you can see, there is a change in the spacing between the buttons.

<img width="97" alt="Screen Shot 2020-04-14 at 10 53 54 AM" src="https://user-images.githubusercontent.com/13777222/79257333-55c0eb00-7e3e-11ea-893c-7f4ad2fd9221.png">

[2020-04-14 18:08] alanrenmsft opened #9967 "Edit Data is not utilizing all the available space of the editor"
- Azure Data Studio Version:
today's insider build.

Steps to Reproduce:
1. find a table with maybe more than 10 columns
2. choose Edit data on the table

the edit data area is not utilizing all the spaces of the editor window.
<img width="1219" alt="Screen Shot 2020-04-15 at 3 08 48 PM" src="https://user-images.githubusercontent.com/13777222/79393863-0c9a9500-7f2b-11ea-8562-a5027a89ca28.png">

[2020-04-14 18:33] kisantia opened #9968 "Properties widget collapse icon not centered"
![image](https://user-images.githubusercontent.com/31145923/79260669-7ccdeb80-7e43-11ea-88dd-03ecf1961f41.png)

[2020-04-14 18:37] kisantia commented on #9968
got fixed in master in https://github.com/microsoft/azuredatastudio/pull/9966

[2020-04-14 18:49] alanrenmsft commented on #9960
@vk-ravi82 what name did you use when connecting to the local instance and what error are you getting?

[2020-04-14 18:54] alanrenmsft opened #9970 "Troubleshoot BDC - Missing file error"
I am using today's insider build.

Repro steps:
1. connect to a BDC controller
1. open the bdc dashboard
1. click the Troubleshoot button

i am getting the following error:

<img width="458" alt="Screen Shot 2020-04-14 at 11 50 31 AM" src="https://user-images.githubusercontent.com/13777222/79262678-89a00e80-7e46-11ea-9cdd-dfef30afef5d.png">

[2020-04-14 19:19] aaomidi commented on #9950
@rhythmnewt with the latest insiders build, please do the following:

- Open Settings
- Open Extensions
- Open "Azure"
- Tick the box that says "Disable system keychain"
- Restart ADS
- Try logging in again

![image](https://user-images.githubusercontent.com/1465785/79264948-34fe9280-7e4a-11ea-92ba-f3fd0dd76fed.png)

[2020-04-14 19:20] Marklb commented on #9960
I don't know if my issue is related, but it may be. I can connect to my local instance, using Windows Authentication, and execute queries, but at first I didn't realize it was connecting correctly. I used the "New Connection" button on the SERVERS header of the Connections panel and it opened a dashboard tab for my local , but didn't add the server to the list of servers in the Connections panel.

[2020-04-14 19:39] rhythmnewt commented on #9950
Followed the steps and checked the box to disable system keychain. Same error still occurs.

Version: 1.17.0-insider (system setup)
Commit: a8cf029633c1e725d41bb28654615e112c58d111
Date: 2020-04-14T05:49:33.406Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

![image](https://user-images.githubusercontent.com/1319322/7

[2020-04-14 19:52] aaomidi commented on #9950
And just to confirm, you restarted after checking that checkbox?

[2020-04-14 19:52] magnusbratt commented on #9885
Here is a screenshot, including developer tools console

![image](https://user-images.githubusercontent.com/6708638/79267885-293abc80-7e9a-11ea-834d-bb8cd1100469.png)

[2020-04-14 20:05] aaomidi commented on #9885
Oh so it lists the databases, just doesn't connect to them right?

[2020-04-14 20:16] chlafreniere commented on #9964
@corivera can you take a quick look at this and see if we can fix for April? If it's not a quick fix, we can punt to another month, since we shipped this experience in March as well.

[2020-04-14 20:17] chlafreniere commented on #9912
There's an ongoing thread where the kqlmagic folks will enable this for us by changing the type in which results are returned.

[2020-04-14 20:19] chlafreniere commented on #9906
This was checked in as part of #9948.

[2020-04-14 20:20] chlafreniere commented on #9243
This will be resolved by #9929.

[2020-04-14 20:21] corivera commented on #9964
I don't think it was an easy thing to do, from what I remember. I'll take a look, though.

[2020-04-14 20:25] chlafreniere commented on #9576
@MaddyDev I can't repro any longer either. Sure, let's close this one out.

[2020-04-14 20:31] #9576 closed

[2020-04-14 20:32] magnusbratt commented on #9885
Correct. That's a new behavior since after I left the tenant for which I did not have permissions. That is, I can expand the account, the subscription, "SQL database", but not view the database.

I can also expand the account, the subscription, "SQL server", but not view/expand the server.
![image](https://user-images.githubusercontent.com/6708638/79271239-c3513380-7e9f-11ea-82c2-3c75c4f81c44.png)

[2020-04-14 20:38] Charles-Gagnon commented on #9964
If it isn't we should at least remove the button from the Notebook editor view

[2020-04-14 20:41] rhythmnewt commented on #9950
Yes, I have restarted the ADS. I also tried it with a freshly downloaded ZIP version of the insider's build to the same effect.

[2020-04-14 20:45] corivera commented on #9964
Looks like the insight action references the .sql file directly as part of the InsightsConfig. https://github.com/microsoft/azuredatastudio/blob/master/src/sql/workbench/contrib/charts/browser/actions.ts#L66

I'll remove the insight action from the notebook charts for now.

[2020-04-14 21:05] aaomidi commented on #9885
@magnusbratt Alright that's a whole different issue. Could you try making yourself the admin on that server on azure portal.

Open the SQL Database on Azure Portal, and add your account as the Active Directory admin.

![image](https://user-images.githubusercontent.com/1465785/79274137-f58b7280-7e58-11ea-8509-df04d64cfb91.png)

[2020-04-14 21:09] aaomidi commented on #9950
Can you navigate to `%appdata\Roaming\azuredatastudio\Azure Accounts`. Are there any files under that path?

Can you delete all of those files and restart ADS and see if those files are being created?

[2020-04-14 21:17] aaomidi commented on #9416
I've been unable to repro this. Do you have a screen recording of this happening? Are you able to repro this consistently?

[2020-04-14 21:27] rhythmnewt commented on #9950
These were the two files that were there which I deleted.
![image](https://user-images.githubusercontent.com/1319322/79275955-22e61980-7e75-11ea-98c3-c78a999ff19f.png)

Restarted ADS and tried to login, that generated this new file.
![image](https://user-images.githubusercontent.com/1319322/79275911-0c3fc280-7e75-11ea-8ed4-ee286accc927.png)

[2020-04-14 21:57] corivera commented on #9838
Worked fine for me in insiders on a new Ubuntu 18 machine. The Existing Python option didn't work, but that's expected since Ubuntu doesn't come with pip by default.

[2020-04-14 22:11] MaddyDev commented on #9970
Should be fixed with the below PR: https://mssqltools.visualstudio.com/_git/SqlOpsStudioExtensions/pullrequest/1093?_a=overview
Will validate on tomorrow's insiders and close this.

[2020-04-14 22:32] alanrenmsft opened #9975 "dashboard doesn't properly handle the extra long tab name and large number of tabs"
1. extra long tab name should be truncated
2. scrollbar should be visible when there are too many tabs to fit in the view port.

<img width="706" alt="Screen Shot 2020-04-14 at 3 25 30 PM" src="https://user-images.githubusercontent.com/13777222/79280042-3a68d680-7e64-11ea-918e-b151a9e2f5c5.png">

[2020-04-14 22:32] alanrenmsft commented on #9975
fixed by PR: #9937

[2020-04-14 22:50] kburtram commented on #9975
@alanrenmsft let's please leave the issue open until it gets ported to the April release branch.  It looks like we should take this one.

[2020-04-14 23:22] chlafreniere commented on #9838
Thanks, @corivera. I wonder if this could have been affected by kqlmagic by default. Any idea if that could've potentially changed anything?

[2020-04-14 23:23] chlafreniere commented on #9964
Reopened it for ASK mode consideration.

[2020-04-14 23:44] corivera commented on #9838
Installing kqlmagic afterwards fails due to missing gcc, so probably. I'm guessing this failed during the upgrade step.

[2020-04-15 00:07] HeidiHasting commented on #1026
Agreed, plus 1 from me. If they could incorporate in like an MDXStudio style editor, results pane and format option that would be great.

[2020-04-15 00:13] chlafreniere commented on #9251
Reopening for triage into release branch.

[2020-04-15 00:16] rajeshka commented on #9906
Added Custom telemetry here #9948

[2020-04-15 00:16] corivera opened #9979 "Add Open Notebook Folder functionality to Books viewlet."
Opened this issue to track the feature port request.

[2020-04-15 03:07] arvinyorro opened #9981 "Slowness after running a resource heavy script"
Issue Type: <b>Bug</b>

After running a resource heavy script. Its understandable that its slow, but once the script is finished, ADS is still slow as if it's still running the script.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|

[2020-04-15 03:44] MsSQLGirl commented on #9167
@chlafreniere When I set my ADS to be the default program to open ipynb files and I double click on the ipynb file to open it from File Explorer, ADS does not render the notebook (i.e. it stays in json format).

However, if I open a second ipynb file (by double clicking in File Explorer), the second ipynb file is rendered to notebook in ADS.

When navigating back to the first ipynb file in ADS, AD

[2020-04-15 03:53] kaneorotar commented on #8058
Same here on VSCodium 1.44

Version: 1.44.0
Commit: 2aae1f26c72891c399f860409176fe435a154b13
Date: 2020-04-09T10:22:06.688Z
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-04-15 04:32] #9772 closed

[2020-04-15 09:22] DaveBoltman commented on #9898
@anthonydresser I see the [adsbot](https://github.com/apps/adsbot) assigned this to you under the "Area - Query Editor". It's nothing to do with the query editor though, but the results grid. Would you mind, please, assigning this feature request to the correct "Area" so it gets triaged correctly?
I appreciate your help.

[2020-04-15 10:10] magnusbratt commented on #9885
@aaomidi Is it OK to continue in this thread, or do you want me to create a new issue?

I am already a member of the Active Directory group that is admin of the server.

![image](https://user-images.githubusercontent.com/6708638/79325590-ba00af00-7f11-11ea-8084-eef879555be7.png)

![image](https://user-images.githubusercontent.com/6708638/79325819-1f54a000-7f12-11ea-9ba7-e622cd8528d8.png)

[2020-04-15 10:25] Eggy1968 commented on #569
This would be very useful for me as I often have to analyse data outside of normal user tools. I used this feature in an old product called Apex SQL Edit years ago before they canned the product.

[2020-04-15 13:31] JonathanWilbur opened #9983 "Anomaly Highlighting"
**Is your feature request related to a problem? Please describe.**
It is not related to a problem.

**Describe the solution or feature you'd like**
When you "Select Top 1000 Rows," or perform any query for that matter, it would be cool if cells containing anomalous values would be highlighted. For example:

1. If the overwhelming majority of values for a BIT column are 0, the 1s could have yellow

[2020-04-15 15:17] vchvlad opened #9984 "column filter does not work in grid with headerFilter plugin"
- Azure Data Studio Version: 1.17.0

Steps to Reproduce:

1. Open Agent extension
2. Click on header to open filter dialog
3. Select some values. Click OK
4. Filtering is not working. If we open filter dialog again - nothing checked.

[2020-04-15 16:37] LucasWBritz opened #9987 "Intellisense not working when connecting from an already open tab"
- Azure Data Studio Version:

Version: 1.16.1 (user setup)
Commit: 16801c522df68e63218b39ccb5b4a7431f9bf667
Date: 2020-03-23T22:08:06.892Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1.
Hey guys! I'm able to reproduce this by just clicking in the "Connect" button on an already open tab.
Then sw

[2020-04-15 16:58] alanrenmsft commented on #9967
@smartguest Please bring this to Ken and Karl's attention, this should be in the April release.

[2020-04-15 17:00] MaddyDev commented on #9970
Validated on the latest insiders, this is fixed.

[2020-04-15 17:00] #9970 closed

[2020-04-15 17:02] alanrenmsft commented on #9970
@chlafreniere and @MaddyDev, we need to get this into the April release, right? if so, please reopen it and ask for approval

[2020-04-15 17:05] MaddyDev commented on #9705
@yualan Did you get a chance to update the documentation?

[2020-04-15 17:08] MaddyDev commented on #9970
The change is not on ADS side, we updated the books on sqlops to have the correct toc and got the PR in. ADS already has the correct version to pull the latest tsg book.

[2020-04-15 17:12] alanrenmsft commented on #9970
@MaddyDev thanks for clarification, yeah, i thought you need to bump the version from ads side :)

[2020-04-15 17:47] #9979 closed

[2020-04-15 17:53] #9968 closed

[2020-04-15 18:10] chlafreniere commented on #9243
alwaysCollapse will be the default in the livesite workspace for April. We will work on the long-term solution for May.

[2020-04-15 18:12] chlafreniere commented on #9838
Ok. Given that info and your testing, let's close this issue for now. @kburtram if you notice any issues here on your machine, please feel free to reactivate anytime.

[2020-04-15 18:12] #9838 closed

[2020-04-15 18:50] chlafreniere opened #9989 "Markdown Toolbar Should be Behind Preview Flag"
Markdown toolbar needs to be behind preview flag.

[2020-04-15 19:04] #9964 closed

[2020-04-15 19:33] alanrenmsft opened #9992 "Welcome page extension pack list duplication issue"
i am using today's insider build.

When creating new editor group, the welcome page will be duplicated, @kburtram already mentioned in the review meeting, but there is another problem, in screenshot below, the extension list in the admin pack is doubled, every time you create a new editor group, 4 items will be added to the first welcome page.

<img width="1403" alt="Screen Shot 2020-04-15 at 12 2

[2020-04-15 19:57] #9984 closed

[2020-04-15 20:02] #9251 closed

[2020-04-15 20:13] aaomidi opened #9994 "Put Azure Cloud Shell behind preview flag"
Azure Cloud Shell is a new feature and should potentially be put behind a feature flag.

[2020-04-15 20:14] aaomidi commented on #9994
Once this is merged I'll make a PR porting it to the release branch

[2020-04-15 20:16] kburtram opened #9996 "ADS pops-up Firewall rule dialog when adding Azure account"
- Azure Data Studio Version: `release/1.17`

Steps to Reproduce:

1. Add a Azure Account

Expected: No OS pop-ups

Actual: Windows asks for Firewall permissions.

![image](https://user-images.githubusercontent.com/599935/79384174-3fd52800-7f1b-11ea-85cc-df99bdc49a1e.png)

[2020-04-15 20:17] kburtram commented on #9996
@aaomidi could you please take a look at this?  I don't recall seeing this before and assume it's related to the localhost redirect.  Perhaps we're opening an externally visible port vs. on the loopback IP?  If we're using loopback (non-externally visible port) we should see this OS pop-up I think.

[2020-04-15 20:25] aaomidi commented on #9996
@kburtram this was a mistake on my part, should be fixed now.

[2020-04-15 20:28] kburtram opened #9998 "April 2020 Endgame"
# April 2020 - Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.17

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

## Extensions Testing

Install the latest build of ADS from the link above.

#### VS

[2020-04-15 20:34] duyn9uyen commented on #2716
I'm on a Mac with OS Catalina. Right-click context does not reveal the Import wizard.

Brings up the wizard but I am not able to select my json file.

Version: 1.16.1
Commit: 16801c522df68e63218b39ccb5b4a7431f9bf667
Date: 2020-03-23T22:06:16.901Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

[2020-04-15 20:54] rhythmnewt commented on #9950
The workaround with the "No System Keychain" setting turned on now works in this insider's build:
Version: 1.17.0-insider (system setup)
Commit: 30607ec61b9eb47ad55d931e528b5ecab4bdf4eb
Date: 2020-04-15T05:57:54.355Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-04-15 21:00] aaomidi commented on #9950
Great! I'm glad to hear that.

Really surprised that your keys were that long to begin with.

[2020-04-15 21:19] corivera commented on #9815
Looks like this may be an issue with the latest release of Anaconda. I tried the release from July 2019 and didn't hit any hangs.

[2020-04-15 21:19] corivera commented on #9815
FYI @chlafreniere

[2020-04-15 21:20] rhythmnewt commented on #9525
Partial success. The below insider version lets me add Azure Account with a workaround for the key-length issue, however the issue is only partially resolved.

If I connect to the my database by right clicking on it in the Azure view and logging in via SQL Auth, I get a blade/tab with a list of tables from which I can execute the context menus successfully. However in the Azure view, the database

[2020-04-15 21:40] rhythmnewt commented on #9950
@aaomidi I actually did a fiddler trace of the authentication and grabbed the JWT access_token which turned out to be 2523 characters in length. I'm assuming that's the key that's throwing the error.

My organizational account is an AD account synced to Azure AD, and in the decrypted JWT there were a good 15 guids in the groups array which base64-encoded comes out to >900characters in just that se

[2020-04-15 21:45] Charles-Gagnon opened #10001 "Resizing dashboard causes separator to disappear at certain points"
Repro : resize dashboard so that the toolbar icons are pushed into the menu

![Capture](https://user-images.githubusercontent.com/28519865/79392031-7e70df80-7f27-11ea-9250-6ba443edd11e.gif)

[2020-04-15 21:51] Charles-Gagnon opened #10002 "Dashboard navigation pane collapse button doesn't have clickable pointer"
Mouse over the collapse arrow - it stays as the normal mouse pointer instead of the "clickable" hand pointer.

(image provided to show the arrow - mouse isn't captured with snip)

![image](https://user-images.githubusercontent.com/28519865/79392534-5fbf1880-7f28-11ea-91b1-816efa527dda.png)

[2020-04-15 22:04] qifahs commented on #9397
Re-opened for approval.

[2020-04-15 22:23] Charles-Gagnon opened #10004 "Dashboard toolbar overflow doesn't handle split views correctly"
1. Split editor into 2 vertical panes and open a Dashboard in one of them
1. Resize the sash so the dashboard editor overflows the container

The toolbar isn't pushing the items into the menu like it does on window resize.

![Capture](https://user-images.githubusercontent.com/28519865/79394667-e83fb800-7f2c-11ea-85f6-d6702a3fd7d5.gif)

[2020-04-15 22:46] dharmeshkakadia commented on #9548
I have the same issue. Happy to give you any details that might help.

[2020-04-15 22:47] aaomidi commented on #9548
@dg

[2020-04-15 22:55] anthonydresser commented on #9898
We consider the results grid to be in the same feature bucket as the query editor, so the query editor tag is correct.

[2020-04-15 22:56] dharmeshkakadia commented on #9548
Let me give it a try

[2020-04-15 22:58] dharmeshkakadia commented on #9548
@ajnixon Its just stuck there instead of erroring out at all. Tried a few times.

[2020-04-15 22:59] aaomidi commented on #9548
Can you give more context? What's just stuck there? Is it logging in? Are you able to see your account on the azure pane on the left side?

[2020-04-15 23:01] dharmeshkakadia commented on #9548
![image](https://user-images.githubusercontent.com/2123078/79397157-4de27300-7f32-11ea-8096-e38141d1c433.png)

I have removed the account and server from the image

[2020-04-15 23:01] aaomidi commented on #9548
Ah so its the process of logging into the server. Are you an active directory admin on this server?

You can check by going to Azure Portal

[2020-04-15 23:02] dharmeshkakadia commented on #9548
No, I am not admin.
The Azure portal login works perfectly fine. Even Data Studio was working a few weeks ago before updates.

[2020-04-15 23:27] chlafreniere opened #10008 "Notebooks: Add Back in Hover Buttons for Adding Cells"
The hover buttons for adding code/text cells were taken out of as part of the markdown toolbar work (and to better adhere to our designs), and originally approved to be taken out of the April release.

Upon further inspection + design guidelines for April, we've gotten enough negative feedback with them not there, so a decision was made to bring the hover buttons back (to match March behavior). Wh

[2020-04-15 23:36] #9992 closed

[2020-04-15 23:42] #9947 closed

[2020-04-15 23:58] chlafreniere opened #10011 "Notebooks: Resource is Undefined when Clicking Cancel from Save Dialog"
Save an untitled notebook, but click cancel from the save dialog. User will be met with the following message:

![image](https://user-images.githubusercontent.com/40371649/79400130-27c0d100-7f3a-11ea-9463-021dd2eaca5f.png)

Putting in April for consideration.

[2020-04-15 23:59] chlafreniere commented on #10011
@MaddyDev can you take a look if you have a sec?

[2020-04-16 00:42] #9906 closed

[2020-04-16 00:43] #9397 closed

[2020-04-16 00:53] v-bbrady opened #10014 "SQL Admin Pack Background Image"
- Azure Data Studio Version:

Replace SQL Admin Pack background image photo with an illustrated image.

[2020-04-16 02:12] danmanrique opened #10016 "Reproducible issue leveraging notebook opened from folder in a git repo"
Issue Type: <b>Bug</b>

I have the same experience on 3 machines now with the latest Azure Data Studio (Macbook - Catalina, SurfaceBook Win10, Dell T7600 Win10).

I created a notebook, everything works.
Pushed the notebook into git.
Opened folder in ADS, via a git repo, and tried to run the notebook again, and unexpected errors occur.
I click on File->New for a new notebook, using the same connect

[2020-04-16 02:23] kafermeister opened #10017 "Edit > Transformations menu on Mac"
Issue Type: <b>Feature Request</b>

On the Mac it'd be good if the Edit > Transformations menu was available when editing a query.  That is how I (and I am guessing a lot of other Mac users) expect to Make Upper/Lowercase whilst text editing.  I know it's available in the command pallete, but I think the Standard Mac way should exist as well if it's a simple job to hook up.

Azure Data Studio vers

[2020-04-16 02:27] danmanrique commented on #10016
![image](https://user-images.githubusercontent.com/8976972/79407942-260e0200-7f68-11ea-9d4c-0c5a0ff35e90.png)
![image](https://user-images.githubusercontent.com/8976972/79407985-3f16b300-7f68-11ea-8e58-47d76a84a1a3.png)

[2020-04-16 06:38] alanrenmsft opened #10019 "dashboard page content is clipped"
1. open dashboard
2. reduce the height and observe that part of the page content is clipped
<img width="1069" alt="Screen Shot 2020-04-15 at 11 36 15 PM" src="https://user-images.githubusercontent.com/13777222/79422655-1bf10100-7f72-11ea-8304-b1ee9bdfd013.png">

[2020-04-16 13:36] mattjones0111 opened #10021 "Running same query hangs"
Issue Type: <b>Bug</b>

Running against localdb

Steps to repro:

1. Open the connections, expand the localdb entry
2. Expand to find a database in the local db.
3. Expand to find a table.
4. Right click to Select top 1000 rows.
5. Results are produced.
6. Click "Run" on the toolbar above the query window.
7. Hangs. Status bar says "Executing query". Query window now unresponsive and has to be clo

[2020-04-16 15:19] PiJoCoder opened #10022 "Password shows in clear text when Verbose Tracing Level is ON"
Issue Type: <b>Bug</b>

In a presentation we saw with ADS a demo was showing Verbose Tracing Level and logging in with a user password caused that password to show as a clear text in the verbose log.

Azure Data Studio version: azuredatastudio 1.15.1 (83544eba2504f564d785534cc780d2073feec2cc, 2020-02-15T05:03:16.545Z)
OS version: Windows_NT x64 10.0.18363

[2020-04-16 15:19] PiJoCoder opened #10108 "Unnecessary information logged when verbose logging level is enabled"
Issue Type: <b>Bug</b>

In a presentation we saw with ADS a demo was showing Verbose Tracing Level and logging in with a user password caused that password to show as a clear text in the verbose log.

Azure Data Studio version: azuredatastudio 1.15.1 (83544eba2504f564d785534cc780d2073feec2cc, 2020-02-15T05:03:16.545Z)
OS version: Windows_NT x64 10.0.18363

[2020-04-16 17:06] Powderhound509 opened #10023 "New connection to database.usgovcloudapi.net"
New connection > someServer.database.usgovcloudapi.net > authentication type = Azure Active Directory - Universal with MFA support > Account = new account > sign in = user@dom.onmicrosoft.com > enter password  > account added > connect:

Microsoft.Data.SqlClient.SqlException (0x80131904): Login failed for user '<token-identified principal>'.
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnE

[2020-04-16 17:21] #10002 closed

[2020-04-16 17:29] halerankin commented on #9989
PR opened: https://github.com/microsoft/azuredatastudio/pull/10024

[2020-04-16 18:21] chlafreniere commented on #10016
Can you detail what errors that you're seeing, @danmanrique? It's a little hard to see from your screenshot.

If you open the Developer Tools (Help --> Toggle Developer Tools), and go to the Console, are there any errors printed there after you repro the issue?

[2020-04-16 18:37] alanrenmsft opened #10025 "Connect button on query editor is not working"
- Azure Data Studio Version:
latest master

Steps to Reproduce:
1. make sure you don't have any active connections
2. open a new query window
3. click on the connect button

Expected:
The connection dialog appears

Actual:
nothing happens

[2020-04-16 19:20] MsSQLGirl opened #10027 "ipynb file is not rendered in Notebook in ADS when opened from File Explorer"
- Azure Data Studio Version:
Version: 1.17.0-insider (user setup)
Commit: 15fc4517eeaa551f8f352e0fed54c6044d31f530
Date: 2020-04-13T17:32:48.451Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

**Steps to repro:**
When I set my ADS to be the default program to open ipynb files and I double click on the ipynb file to op

[2020-04-16 19:21] MsSQLGirl commented on #9167
Tracking as a separate bug instead. https://github.com/microsoft/azuredatastudio/issues/10027

[2020-04-16 19:25] alanrenmsft commented on #10025
@aaomidi very likely to be caused by this PR: https://github.com/microsoft/azuredatastudio/pull/9835
I am testing whether reverting the PR will fix the problem

[2020-04-16 19:25] aaomidi commented on #10025
Yeah this is being solved by https://github.com/microsoft/azuredatastudio/pull/10026

[2020-04-16 19:25] alanrenmsft commented on #10025
@aaomidi  nice :)

[2020-04-16 20:42] anthonydresser commented on #10021
Could be related #9170

[2020-04-16 20:47] anthonydresser commented on #10027
Out of interest, can you try the same thing for .sql files and see if the query editor shows up or you get a default editor.

[2020-04-16 21:32] anthonydresser opened #10034 "[RC1] Fast update broken for installs."
Fast update is broken when using installers on windows for rc1 update server.

[2020-04-16 21:54] #10025 closed

[2020-04-16 21:56] #10034 closed

[2020-04-16 22:19] #9967 closed

[2020-04-16 22:19] kburtram commented on #9967
Fix is merged into release branch now.

[2020-04-16 22:19] kburtram commented on #9996
Fix is merged into release branch.

[2020-04-16 22:19] #9996 closed

[2020-04-16 22:44] v-bbrady opened #10036 "Welcome page videos not showing when two welcome screens are open."
- Azure Data Studio Version:

Steps to Reproduce:

1. Open ADS
2. Split welcome page screen
3. Notice the videos are not showing on the 2nd welcome page

[2020-04-16 22:55] v-bbrady opened #10037 "SQL Admin Pack background images needs to be replaced"
- Azure Data Studio Version:

The SQL Admin Pack background image needs to replaced with an illustration rather than a photo.

[2020-04-16 23:16] MaddyDev opened #10042 "Rename sections on the Books viewlet"
Rename the books viewlet sections:
Saved Books -> Notebooks
Unsaved Books -> Provided Books

[2020-04-16 23:27] #9830 closed

[2020-04-16 23:28] #10008 closed

[2020-04-17 00:08] corivera commented on #9815
Reopening to track port to rel branch.

[2020-04-17 00:23] #9781 closed

[2020-04-17 00:23] #9551 closed

[2020-04-17 03:55] #9989 closed

[2020-04-17 06:25] trondhindenes commented on #10021
can repro, its completely consistent. Using a local postgres db.Azure Data Studio 1.16.1 on Ubuntu 16.04. I do not think it's related to #9170

[2020-04-17 16:44] udeeshagautam commented on #9998
Added SC/Dacpac links

[2020-04-17 16:45] #10037 closed

[2020-04-17 16:45] #10036 closed

[2020-04-17 17:11] #9815 closed

[2020-04-17 17:13] #10042 closed

[2020-04-17 17:19] MsSQLGirl commented on #10027
@anthonydresser  - when I double click on .sql files, the Query Editor shows up as expected including the syntax highlight.
![image](https://user-images.githubusercontent.com/6405919/79596134-dda03280-8094-11ea-988e-5b84baea7c9a.png)

[2020-04-17 17:36] chlafreniere commented on #9899
Thanks, we'll consider adding this in a future release.

[2020-04-17 17:39] anthonydresser commented on #9998
I wasn't adding links to the latest extensions because we should be using the marketplace to download the extensions, not side loading them.

[2020-04-17 17:43] Charles-Gagnon commented on #9998
Good point - we should check in extensionGallery-test and then have people be updating that along with the other extensionGallery files when they're pushing updates for a release

[2020-04-17 17:47] alanrenmsft commented on #9998
This is more of an internal thing, by checking it in, we are adding one more file to be updated, I'd recommend to make it part of the release DRI's job, copy extensionGallery.json and rename it to extensionGallery-test.json, this step can be automated, so almost no additional work for the release DRI.

[2020-04-17 17:47] Charles-Gagnon commented on #9998
@anthonydresser It looks like you (or someone) has been updating the extensionGallery-test on the storage account. Is that accurate?

@alanrenmsft Yeah realized that after I typed it. Let's just make sure we get that documented.

[2020-04-17 17:48] Charles-Gagnon commented on #9998
Hmm, we could even have it as part of the RC publishing pipeline (or maybe it already is @anthonydresser ?)

[2020-04-17 17:50] anthonydresser commented on #9998
It's not automatic, but yes I have been updating the test json with what is currently checked in as the extensiongallery.json

[2020-04-17 18:29] chlafreniere commented on #10027
Looks like this is a language association issue on startup. Let me get a PR soon and make sure that @anthonydresser can take a look.

[2020-04-17 18:59] #10011 closed

[2020-04-17 20:37] abist opened #10060 "Data explorer has no icon for triggers"
Steps to Reproduce:

1. Expand `Triggers` node in the `Data Explorer`

Expected - `Triggers` have icons
Actual - `Triggers` have no icons

![Screen Shot 2020-04-17 at 1 34 13 PM](https://user-images.githubusercontent.com/6411451/79611936-86a85680-80b0-11ea-85e2-deda50b63653.png)

[2020-04-17 20:59] #9975 closed

[2020-04-17 21:04] #10019 closed

[2020-04-17 21:36] barbaravaldez opened #10062 "Navigation offset is not working"
Azure Data Studio Version: Release 1.17

Navigation to sections is not working properly. The offset calculation is not accurate and sections are not visible when scrolling.

Steps to Reproduce:

Use the following file to reproduce the issue.
[sample.zip](https://github.com/microsoft/azuredatastudio/files/4495320/sample.zip)

1.  Open notebook on ADS
2.  Click on the multiple links to verify if scr

[2020-04-17 21:53] Charles-Gagnon opened #10063 "Connection Dialog editable dropdown arrow misaligned"
RC Build :

![image](https://user-images.githubusercontent.com/28519865/79616973-38e51b80-80bb-11ea-83fa-85d1f7bd0df2.png)

Current Stable Build :

![image](https://user-images.githubusercontent.com/28519865/79616928-194df300-80bb-11ea-81ec-d4d57b0313f1.png)

[2020-04-17 22:01] chlafreniere opened #10065 "Notebook Markdown Toolbar: Default Selection after Inserting Code could use Tweaks"
When creating a code block using the markdown toolbar with nothing selected, the cursor should default to be in the line between the beginning and ending '```'

right now it's
` ` `[cursor]

` ` `

it should be
` ` `
[cursor]
` ` `

[2020-04-17 22:03] corivera opened #10066 "Connection Dialog: Have to click cancel button twice after using database dropdown"
Repro Steps
1. Open connection dialog
2. Expand databases dropdown
3. Click Cancel to close dialog.
4. Cancel button gets highlighted after the click, but dialog doesn't close.
5. Dialog closes after clicking Cancel again.

[2020-04-17 22:34] Charles-Gagnon opened #10068 "Can't move Profile editor between split editors"
1. Create split editor panes
2. Open Profiler - it opens in one pane
3. Attempt to drag editor to other pane

The profiler editor closes and this error appears

[code]

(the text isn't cut off - that's what the actual error says)

[2020-04-17 22:39] Charles-Gagnon opened #10069 "Moving Notebook editors to other split panes breaks the editor"
1. Split editor into 2+ panes
2. Open notebook editor
3. Move Notebook editor to another pane

A couple of issues noticed :
1. A blank editor window stays in the old pane
![image](https://user-images.githubusercontent.com/28519865/79619297-50270780-80c1-11ea-8c16-4d9def816a97.png)
1. Trying to add new code cells in the next window is somewhat broken, it seems like there's some mismatch between the

[2020-04-17 23:07] MsSQLGirl commented on #9912
The tabular output is now working similar to in SQL Notebook. It would be great if the "index" column (from kql result) gets dropped since SQL Notebook has row number in the tabular output by default.
Currently the "index" column muddies the resultset that could be used with Charting feature.

tagging @gupta1

[2020-04-18 00:09] #6756 closed

[2020-04-19 23:42] MsSQLGirl opened #10076 "Search from Jupyter Book viewlet shows error"
Issue Type: <b>Bug</b>

1. Create a folder with a number of notebook files. Then copy SQL 2019 BDC Guide jupyter book and save it in the same folder.
![image](https://user-images.githubusercontent.com/6405919/79702731-d9724180-825b-11ea-8cff-49bef4ff6228.png)

2. Click on the Search icon on the Book title.
![image](https://user-images.githubusercontent.com/6405919/79702747-ec851180-825b-11ea-8c50-

[2020-04-20 02:08] arvinyorro commented on #9981
I have updated the title with "Possible MemoryLeak".

Some more context. I am running a stored procedure that uses dozens table variables containing large data.

[2020-04-20 05:49] BurstX opened #10078 ""\n" chars in a cell value must be copied to clipboard and be displayed as new line in results grid"
**Feature descritpion**
In SELECT clause results, if a field/column text value contains "\n" characters, the cell value at least should be copied to clipboard with these "\n" characters, at best - be shown as multi-line text in the cell.

**Copy to Clipboard**
This is how Azure Data Studio shows such a value:
![image](https://user-images.githubusercontent.com/3790231/79717648-ed14bb00-82e2-11ea-92

[2020-04-20 11:22] shivsh1748 opened #10079 "window Authentication"
Issue Type: <b>Feature Request</b>

it is not working on macos.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:06:16.901Z)
OS version: Darwin x64 19.3.0

[2020-04-20 11:58] Cybrosys opened #10080 "No way to edit a login"
Issue Type: <b>Bug</b>

Hello,

There does not seem to by a way of editing a login. When I right-click a login I only have the option to "Refresh".

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:06:16.901Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-8950HK CP

[2020-04-20 17:28] #10062 closed

[2020-04-20 19:09] aaomidi opened #10081 "Flat File Import says command not found on first run"
- Open ADS
- connect to a database
- run Ctrl+I to open import wizard

Outcome:
`command flatFileImport.start not found`

Expected:
Flat file import wizard opens

[2020-04-20 19:15] aaomidi commented on #10080
Do you mean you want to login with a different account?

You can press the + sign on the Azure pane:

![image](https://user-images.githubusercontent.com/1465785/79790140-260f5880-8300-11ea-9ed7-3b34a8086e96.png)

and then you should be able to delete the account here:

![image](https://user-images.githubusercontent.com/1465785/79790164-2f98c080-8300-11ea-93d6-13077cef808f.png)

[2020-04-20 19:15] aaomidi opened #10082 "Editable dropdowns don't send onValueChanged events when the value was manually updated"
Editable dropdowns don't send onValueChanged events when the value was manually updated

Edit:
Actually looks like the issue is less severe than I thought. You have to press Enter for the dropdown value to update. This might be by design so I'll leave this open and we can discuss if this is expected behavior.

[2020-04-20 21:01] #9994 closed

[2020-04-20 21:01] kburtram commented on #10076
Discussed in shiproom and approved pending PR review.

[2020-04-20 22:34] MsSQLGirl opened #10091 "Kqlmagic button for MFA doesn't work"
- Azure Data Studio Version:
Version: 1.17.0-rc1 (user setup)
Commit: 21dd79ab030da891d35023468457f33a85101adc
Date: 2020-04-18T00:46:07.735Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Create a Python notebook in ADS.
2. Make sure that Kqlmagic v0.1.111post11 is installed. (Use Manage Packa

[2020-04-20 22:44] netsec4u opened #10093 "Html Table Tag in Saved Notebook Causes Error When Opened"
Azure Data Studio version 1.16.1

Steps to reproduce:

1. Create a new notebook
2. Add Text
3. Within text block, add "<table><tr><th>Test</th></tr></table>"
4. Save  and close notebook
5. Open notebook and the error "Could not display contents: Cannot read property 'children' of undefined"

The Kernel is stuck in the "Loading kernels" state.  Any code blocks in the notebook will not execute.

[2020-04-20 23:08] chlafreniere commented on #10093
Thanks for reporting this issue, and apologies for this.

This is a duplicate of #9830. Will be fixed in the upcoming April release.

[2020-04-20 23:08] #10093 closed

[2020-04-20 23:12] #10076 closed

[2020-04-20 23:58] anthonydresser opened #10094 "Messages appear out of order"
Issue Type: <b>Bug</b>

Messages will appear out of order when running with multiple batches.

![image](https://user-images.githubusercontent.com/4324725/79810524-1b68b980-8328-11ea-88e7-79689aa2f716.png)

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summ

[2020-04-21 00:32] chlafreniere commented on #10063
Discussed during DRI, and doesn't meet the bar for April.

[2020-04-21 05:04] #10091 closed

[2020-04-21 06:14] kburtram opened #10100 "Preview Welcome page is shown when preview flag is false"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open ADS with enable preview features set to false

Expected: Preview features are disabled

Actual: Preview welcome is displayed

[2020-04-21 11:41] jkarr opened #10101 "Closed tabs persist"
Issue Type: <b>Bug</b>

Step 1: With Azure Data Studio (ADS) open, open a bunch of tabs
Step 2: Close ADS
Step 3: Open ADS, all the tabs have persisted (this is good)
Step 4: Delete all the tabs
Step 5: Close ADS
Step 6: Open ADS
Step 7: The tabs deleted in step 4 are back

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS ver

[2020-04-21 11:43] jkarr opened #10102 "Feedback Button Is Pointless"
Issue Type: <b>Bug</b>

1: Use the feedback button to report a problem
2: Feedback will get posted on Twitter
3: AzureSupport and AzureDataStudio will think you are talking about a web-service

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.19041

[2020-04-21 12:45] Depechie opened #10103 "Schema compare preview pane is not fully visible"
Issue Type: <b>Bug</b>

I did a schema compare between 2 DB's and when I select a row in the result screen, the preview pane below is not showing all info.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:06:16.901Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4

[2020-04-21 12:54] Depechie commented on #10103
![Screen Shot 2020-04-21 at 14 46 01](https://user-images.githubusercontent.com/351693/79867937-70b3d200-83df-11ea-9ef3-2b80d2e5b4be.png)

[2020-04-21 14:08] Cybrosys commented on #10080
No, I mean I want to edit the Security Logins configured for the SQL Server that I am connected to.

[2020-04-21 15:16] Charles-Gagnon commented on #10078
@BurstX We do have a configuration setting to control whether line breaks are kept when copying from the results grid.

![image](https://user-images.githubusercontent.com/28519865/79882945-2f540000-83a8-11ea-88c2-ac5c441b3cd1.png)

The default is true (so line breaks are removed when copying values).

The icon suggestion for the line breaks is a good one though - we'll keep this open for a possibl

[2020-04-21 15:19] Charles-Gagnon commented on #10079
Please include any other information that might help us - for example are there any errors that pop up when you try to connect? Can you successfully connect to any machines with windows auth?

I would also suggest going through this doc and making sure you have your environment set up correctly as well : https://docs.microsoft.com/en-us/sql/azure-data-studio/enable-kerberos?view=sql-server-ver15

[2020-04-21 16:30] Charles-Gagnon commented on #10094
@anthonydresser Isn't this a duplicate of https://github.com/microsoft/azuredatastudio/issues/9779 ?

[2020-04-21 16:52] vickyharp commented on #10102
I saw your thread on Twitter. We'll see what we can do to make sure the AzureSupport account knows how to route questions correctly. The AzureDataStudio account is indeed run by this team.

[2020-04-21 17:41] Parasrah commented on #9585
For those struggling with this issue on linux, the config for azure data studio is typically found at `~/.config/azuredatastudio`. Removing this directory (`rm -rf ~/.config/azuredatastudio`) will resolve the issue, but will also remove all config/settings

[2020-04-21 19:15] #9900 closed

[2020-04-21 19:45] #10094 closed

[2020-04-21 19:57] spowellnet opened #10104 "SQL Server Import Extension Does not work with Azure SQL DB instances."
- Azure Data Studio Version:
Version: 1.16.1 (system setup)
Commit: 16801c522df68e63218b39ccb5b4a7431f9bf667
Date: 2020-03-23T22:08:06.892Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. If Github is blocked/monitored by a work firewall/proxy then the extension doesn't install properly. When tr

[2020-04-21 20:03] aaomidi opened #10106 "Clearing all saved accounts should clear every saved account"
Clear all saved accounts can end up not clearing any accounts

[2020-04-21 20:31] kburtram commented on #10014
This is fixed in the latest build.

[2020-04-21 20:31] #10014 closed

[2020-04-21 20:36] abist commented on #9918
This should be fixed now.

[2020-04-21 20:36] #9918 closed

[2020-04-21 20:37] aaomidi commented on #9950
The fix for this is in master and release branch.

[2020-04-21 20:37] #9950 closed

[2020-04-21 20:42] abist commented on #10106
Approved by Ken in DRI meeting on 4/21

[2020-04-21 21:06] kisantia opened #10109 "Update ModelView toolbar to use Taskbar"
The implementations of the Taskbar and ModelView toolbar are currently quite different, with the Taskbar having Actions as the toolbar items and the ModelView toolbar having ModelView items like buttons and dropdowns as toolbar items.

There are two options:
1. Update the existing ModelView toolbarContainer to use the Taskbar. The Taskbar has Actions and HTMLElements, so there would need to be a w

[2020-04-21 21:16] kisantia commented on #10103
@Depechie How big is the window? A current limitation of schema compare is that the height is a maximum of 800 pixels.

[2020-04-22 01:12] #10001 closed

[2020-04-22 03:58] alanrenmsft opened #10116 "properties widget throwing error about destroyed view being used"
latest master:

open the server dashboard and try to resize the ADS window, there will be a flood of errors in the console
![Screen Shot 2020-04-21 at 8 55 12 PM](https://user-images.githubusercontent.com/13777222/79938858-8d1d3200-8412-11ea-96f3-c6f0bdb67b57.png)

@Charles-Gagnon @kisantia , not sure who is working on this now, so assigning to both of you to take a look

[2020-04-22 06:41] Depechie commented on #10103
I was running Azure data studio on a 25" screen with 2560*1440 resolution full screen.
So the window itself could not have been more than 800. I would guess it was around 100.

[2020-04-22 07:43] blackTay commented on #9486
Same problem here with postgres, when the network connection resets

[2020-04-22 07:58] blackTay opened #10120 "connection window bug after reopening notebook"
When opening a previously saved notebook, it is impossilbe to connect to a postgres server: all saved and recent connections appear to be empty and under "connection type", only "Microsft SQL Server" and not "Postgres" is in the drop down menu.

![screenazure](https://user-images.githubusercontent.com/20500098/79955779-8e387880-847f-11ea-8d34-702facd061de.PNG)

Work around: save the notebook as a

[2020-04-22 07:59] blackTay commented on #10120
No. This is a bug.

[2020-04-22 10:16] Wallie1981 opened #10121 "Error while connecting"
Issue Type: <b>Bug</b>

Occures when opening a SQL file that is GIT controlled, and trying tot connect it to an Azure SQL DB.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6500U CPU @ 2.50GHz (4

[2020-04-22 11:49] vk-ravi82 commented on #9960
Hello,

I tried with localhost as well as computer name.

On Wed, Apr 15, 2020 at 12:19 AM Alan Ren <notifications@github.com> wrote:

[2020-04-22 12:01] gerrydoro opened #10122 "An unexpected error occurred while connecting."
Issue Type: <b>Bug</b>

From renderer1.log

[code]

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (4 x 2592)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage

[2020-04-22 12:06] gerrydoro commented on #10122
This happened when i tried to connect to a server with its SQL Server service stopped.
I don't know if this can be considered as a bug, the app asked me to file this issue.

[2020-04-22 12:19] jkarr opened #10123 "Azure Data Studio doesn't work reliably when attempting to copy large amounts of data"
Issue Type: <b>Bug</b>

Perform a query with roughly 15K results.  Attempt to copy the results to clipboard and Azure Data Studio will hang and eventually crash.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2020-04-22 12:41] seanlmcgill commented on #3331
A ReSharper-like Ctrl-T - universal search all the 'things' in the DB and display in an autocomplete filtered list, which then shortcuts you to the location in the 'Servers tree view' would be cool... but mostly yea, just need a filter of some sort in that main tree view.

[2020-04-22 14:36] SnapJag commented on #2226
Bump.

Still looking forward to this option to hide snapshots from db list.

[2020-04-22 16:50] #10116 closed

[2020-04-22 16:54] alanrenmsft commented on #9960
@Charles-Gagnon could you please follow up on this issue?

[2020-04-22 17:05] Charles-Gagnon commented on #9960
@vk-ravi82 Are you able to connect with other tools such as SSMS?

This guide may also be helpful in diagnosing issues you have connecting : https://support.microsoft.com/en-us/help/4009936/solving-connectivity-errors-to-sql-server

[2020-04-22 17:09] Charles-Gagnon commented on #9960
@Marklb So you're saying these are the steps you went through :

1. Clicked "New Connection" button at the top of the Servers view pane

![image](https://user-images.githubusercontent.com/28519865/80011639-fd629c80-8480-11ea-983c-8868c98d7c59.png)

1. Filled out the server information in the connection dialog
1. Clicked Connect
1. The dialog closed and the dashboard was opened - but the connection

[2020-04-22 18:19] Charles-Gagnon opened #10124 "Results grid actions not hooked up correctly to keybindings"
The contributed actions and keybindings are currently not working for the results grid. I'm not sure this ever worked - the context keys used in https://github.com/microsoft/azuredatastudio/blob/master/src/sql/workbench/contrib/query/browser/query.contribution.ts#L207 aren't even hooked up to the results grid and so never actually fire.

Copy is done manually through https://github.com/microsoft/a

[2020-04-22 18:58] Marklb commented on #9960
@Charles-Gagnon That is correct, but I am not 100% certain what the Server group was set as. I have never intentionally changed it, so I don't see a reason it would have been anything other than "<Default>". My local server is getting added to the list correctly now though, so my issue may not have been the same.

Since I no longer see the problem it may not matter, but I'll list my guesses for wh

[2020-04-22 19:04] aaomidi commented on #10108
https://github.com/microsoft/sqltoolsservice/pull/950

[2020-04-22 19:27] kburtram opened #10126 "Duplicated invalidate accounts in Create Firewall account picker list"
- Azure Data Studio Version: `1.17.0`

Steps to Reproduce:

1. Have some Azure accounts with expired credentials in 1.16.1 (not sure exactly which parts are necessary for repro, but this was my state)
2. Upgrade to 1.17.0
3. Refresh credentials for accounts
4. Log into Azure SQL DB and create firewall rule

Expected: Pick an account and rule created

Actual: Duplicate accounts.  Some in expired an

[2020-04-22 19:30] aaomidi commented on #10126
Hmm this is the dangling accounts I was talking about where I introduced the "Clear all accounts" as a possible workaround.

I will look into adding a quick cleanup functionality to get rid of old accounts.

[2020-04-22 20:41] aaomidi commented on #10126
I'm going to need to open a PR for this. Currently working on it, it's a pretty small change.

[2020-04-22 20:44] abist opened #10129 "Investigate ESRP codesigning step"
The ESRP Code Signing step often has issues and times out. We should contact the team and change the server to use the Redmond one.

[2020-04-22 20:46] abist opened #10130 "Change build schedule"
Change the nightly build schedule to a more stable time. Perhaps look at the Canary history to look for the most stable periods.

[2020-04-22 22:15] #9416 closed

[2020-04-22 22:20] kburtram commented on #10126
Approving based on shiproom discussion.

[2020-04-23 00:07] kburtram commented on #10106
Should be fixed in latest RC build.

[2020-04-23 00:07] #10106 closed

[2020-04-23 00:07] kburtram commented on #10100
Fixed in latest RC build.  Moving to May to track a fix for master.

[2020-04-23 00:49] kisantia commented on #10103
@Depechie I'm not able to repro this on my mac with the same build. Does this repro every time and for all rows? If the window is less than 800 pixels tall, there should be a scrollbar on the right side. Is that there or missing?

[2020-04-23 01:02] kburtram commented on #10126
This appears fixed in current RC build

[2020-04-23 01:02] #10126 closed

[2020-04-23 04:33] marrim-myob opened #10137 "Issue login with AAD"
Hi I have downloaded the Azure Data Studio and suddenly stopped working for AAD Logins.

Azure Data Studio Version on Mac: 1.16.1

Here is the errors
  ERR No application in the Launch Services database matches the input criteria.: Error: No application in the Launch Services database matches the input criteria.
2/Applications/Azure Data Studio.app/Contents/Resources/app/node_modules.asar/zone.js/

[2020-04-23 05:23] aaomidi opened #10140 "Azure pane connections saves the connection profile"

[2020-04-23 06:34] Depechie commented on #10103
hey @kisantia seems i can't reproduce either... when I do the compare now, the window is indeed not covering the full height ( guess the 800px limit ). But it is much bigger than when I reported the problem.
So it occured for sure, but I can't reproduce it straight away.

[2020-04-23 07:47] qifahs opened #10142 "Notebook: Replacing all occurrences of a variable does not work when working with multiple code cells"
Issue Type: <b>Bug</b>

- Create a Python Notebook with multiple code cells.
- Use the same variable in multiple cells.
- Now try to rename it

Method 1:
- Press Ctrl+F. This brings up the find popup.
- Type in the variable name, and it successfully finds it across code cells when you click the down arrow.
- However there is no option to replace. This is hidden.
![image](https://user-images.github

[2020-04-23 09:30] Box-Of-Hats commented on #8325
+1
I would really like to see an outline available for notebooks. I have formatted my notebook in such a way that it is hierarchical with markdown headings and it would be incredibly useful to see a list of those in a tree format in the outline view

[2020-04-23 09:43] elonmallin commented on #7260
Had this problem today with the latest version of ADS. `Script as Create` on a table in my `(LocalDb)\MSSQLLocalDB` took about 10 minutes to open. Tried a bunch of times though and it only opened once in the end so not sure if it actually took 10 min or if one of the later tries succeeded, either way it took minutes.

Tried restoring a backup to `mcr.microsoft.com/mssql/server` docker container an

[2020-04-23 09:46] catull opened #10143 "Cannot connect with "Windows Authentication", user/password fields disabled"
- Azure Data Studio Version: Version: 1.16.1
Commit: 16801c522df68e63218b39ccb5b4a7431f9bf667
Date: 2020-03-23T22:06:16.901Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 17.7.0

Steps to Reproduce:

1. Configured krb5.conf, on macOS 10.13.6
2. `kinit` gives me a ticket
3. `klist` tells me it is valid for 10 hours
4. Enter the serve

[2020-04-23 10:11] catull commented on #10143
I followed all steps that were suggested in #10079.
There are no indications in any of the logs.

# UI dialog
![Screen Shot 2020-04-23 at 11 42 48](https://user-images.githubusercontent.com/150055/80086087-7e8d6280-8559-11ea-960e-65cfdd29d5b7.png)

# ~/Library/Application Support/azuredatastudio/SOMELONGDATETIMESTAMP:
![Screen Shot 2020-04-23 at 11 57 39](https://user-images.githubusercontent.com/

[2020-04-23 11:53] catull commented on #10143
This puzzles me.

You got
- Azure Data Studio developed in C#, distributed with .DLLs etc.
- Microsoft SQL Server DB
- Active Directory authentication

all of them are 100% Microsoft technologies.

(Yes, Electron and macOS are not close to Microsoft, I am aware of that)

On the other hand, I can take
- [DBeaver](https://dbeaver.io) Community Edition, developed in Java
- have it fetch the latest JD

[2020-04-23 11:55] magnusbratt commented on #9885
@aaomidi FYI: Today I updated ADZ Insiders on my Mac and it now works to sign in with my AAD account and access the database servers and databases I have access to.

It still does not work with the non-insider build, but I assume that is a matter of time.

I have also tested the latest insiders build on my PC and it works just as well.

Thanks for developing great software!

[2020-04-23 16:09] vk-ravi82 commented on #9960
Hey Thank You!

After I updated the Azure Data Studio, all the problems are sorted and it
is connecting. I am not sure where the problem was. But it is all fine.

My latest version is 1.16.1

Version: 1.16.1 (user setup)
Commit: 16801c522df68e63218b39ccb5b4a7431f9bf667
Date: 2020-03-23T22:08:06.892Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS

[2020-04-23 16:12] #9960 closed

[2020-04-23 16:37] kburtram opened #10145 "Azure view continually asks for SqlLogin credentials"
- Azure Data Studio Version: `1.17.0`

Steps to Reproduce:

1. Navigate to a SQL DB in the the Azure view that requires SqlLogin authentication
2. Try to expand the node and then execute commands on child nodes

Expected: If there is existing connection profile for DB in servers everything works with no auth prompts.  If there is no existing connection then you get prompted for auth once and the p

[2020-04-23 19:28] kburtram commented on #10143
@aaomidi do you have any tips to troubleshoot this?  If kinit is giving a valid ticket shouldn't SqlClient pick that up and try to use it?

[2020-04-23 19:30] aaomidi commented on #10143
Am I missing something or is this error spelled out here?

[code]

[2020-04-23 20:23] kisantia commented on #10103
Hmm that's strange, but good it isn't happening anymore. Please reopen this issue if it starts happening again consistently. Thanks!

[2020-04-23 20:23] #10103 closed

[2020-04-23 22:58] kburtram commented on #10140
To clarify, this bug is when the Azure view adds a connection to Servers view in any scenario other than clicking the "Connect" button next to the server\database show below.  The design of the button is to add the server\database to Servers explicitly.  Currently connections are being created in Servers as a byproduct of using (expanding, etc.) the server\database in the Azure view.

![image](htt

[2020-04-23 22:59] kburtram commented on #10140
BTW, this experience is in the process of being redesigned, so I wouldn't bother to fix in the near-term if the fix is not relatively simple\low-risk.

[2020-04-23 23:45] JimBorgAU opened #10151 "Zombie SQLQuery_# tabs post External Table Wizard"
Issue Type: <b>Bug</b>

Steps:
1. Launch the Create new External Table wizard
2. Set up external table creation within the wizard
3. Instead of running the wizard select [Create Script]
4. Cancel the wizard

Now the resulting SQLQuery_ tab will return to my Azure Data Studio session each time I relaunch.

Attempts at resolution:
1. Close the tab
2. Delete the content of the zombie tab and close th

[2020-04-24 08:18] LitKnd commented on #10120
I believe I have been hitting the same issue described here. It is very confusing.

![0BDE2684-6EB0-4F47-B0B0-C0B1FBF9A197](https://user-images.githubusercontent.com/1623675/80190635-878b3c00-860c-11ea-8c69-d202e098d7e5.GIF)

[2020-04-24 12:54] DaveBoltman commented on #9898
I see there's an option in Settings to fix this. I tested it and it works, so I'm closing this issue:

&nbsp;&nbsp;&nbsp;&nbsp;![2020-04-24_144448](https://user-images.githubusercontent.com/8627894/80214279-db147e80-863a-11ea-83b9-ee2fe6c1012b.png)

@anthonydresser Thank you for your contributions to Azure Data Studio!

[2020-04-24 12:54] #9898 closed

[2020-04-24 20:14] #10004 closed

[2020-04-24 22:41] aaomidi opened #10157 "Enable eslintrc.sql.ts.json rules for the import extension"
We're enabling stricter static code analysis on the core code, let's start integrating this with our extensions as well. Import is one of the smallest extensions so maybe a good place to start.

[2020-04-24 23:24] alanrenmsft opened #10158 "PG SQL's server dashboard is empty"
no content on the home page

[2020-04-26 02:28] dqaudithillstone opened #10167 "installation type “use existing python installation error” is error"
- Azure Data Studio Version:
1.16.1
Steps to Reproduce:

1.installation type “use existing python installation error” is error
Failed to change kernel,kernel SQL will be used.
Error was:Cannot overwrite an existing python installation while python is running .please close any active notebooks before proceeding

because my computer have installed two python :
one is python 3.7.6 which is installed

[2020-04-26 08:40] dqaudithillstone commented on #10167
I didn't understand the “use existing python installation” 。this means ADS will install some program files to my existing python enviroment ? or ADS will use the existing python enviro ment ?

an another question ： I want to change the default installation python by ADS ,for exampel :d:\python ，because the c disk space  is not enough

[2020-04-26 08:41] dqaudithillstone opened #10168 "How to modify the location of python files installed by default in ads"
- Azure Data Studio Version:

Steps to Reproduce:

1.I want to change the default installation python by ADS ,for exampel :d:\python ，because the c disk space  is not enough

[2020-04-27 07:28] alemputes opened #10169 "Cannot minimise window on mac"
Issue Type: <b>Bug</b>

Hi hitting, Command + M Should minimise the window on Mac Catalina when I have it selected but nothing happens even thought I see that it's mapped to that command.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:06:16.901Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|-

[2020-04-27 08:12] maiksandmann commented on #4904
Any update about the availability of a MySQL connector in Azure Data Studio?

Thx for any feedback.
maik

[2020-04-27 10:00] spowellnet commented on #7
Plus one for this. On huge DB's such as an enterprise DWH in AzDWH (now Synapse) this is a real pain point.

[2020-04-27 12:22] jkarr commented on #10101
Some more information.  I was just able to clear all my open tabs and they stayed closed when I re-opened Azure Data Studio.

I closed all tabs, as is my new morning normal, then, instead of doing a new query, I opened a folder.  When I did that, I got a prompt asking me if I wanted to save changes on all the tabs that I had just closed.  I said no, and went on my way.  This time, when I closed an

[2020-04-27 15:48] bwilson-cjusd commented on #10101
I have been having this exact issue. If I close all the tabs, and open a new one to do some work, then close ADS and open it later, the previous tabs, plus my new ones also are re-opened.

After following your steps outlined of opening a new folder, I made a new folder that I can work in and selected it, the behavior of ADS seems to have been corrected.

[2020-04-27 17:14] chkumar10 opened #10171 "Very slow with connection"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-27 17:45] chkumar10 opened #10173 "Error when execute select"
Issue Type: <b>Bug</b>

Query failed: The connection does not support MultipleActiveResultSets.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:06:16.901Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8850H CPU @ 2.60GHz (12 x 2600)|
|GPU Status|2d_canvas: enabl

[2020-04-27 19:37] #10158 closed

[2020-04-27 19:49] corivera commented on #10167
@dqaudithillstone The "Use Existing Python" installs pip packages to an existing python instance, rather than installing a separate instance of python with those packages included. As for changing the installation path, a new location can be chosen using the Browse button beneath the dropdown. The provided options in the dropdown are just suggestions for an easy install experience.

I'll look into

[2020-04-27 20:31] chlafreniere commented on #10168
For a new python installation, you can specify where Python is installed (including another drive letter).

For existing python installations, that Python can be installed into the folder of your choosing.

[2020-04-27 22:25] #9998 closed

[2020-04-27 22:26] #10145 closed

[2020-04-27 23:23] ben-thul commented on #4088
This was marked as being addressed in the April 2020 release. I'm not seeing anything that jumps out at me for how to sort the list of servers (either automatically or manually). Am I missing something?

[2020-04-27 23:33] Charles-Gagnon opened #10181 "Overflow toolbar menu disappearing"
This seems to happen when collapsed to the point where the separator is put into the overflow container. Open the menu and it will randomly disappear - it seems consistent if you mouse over it and leave the mouse there for a second or two.

(note in this gif I'm not clicking anything - this is happening by itself)

![Capture](https://user-images.githubusercontent.com/28519865/80430884-cd623180-88a

[2020-04-27 23:39] Charles-Gagnon commented on #4088
This wasn't closed because it was addressed - it's being tracked by https://github.com/microsoft/azuredatastudio/issues/2799.

[2020-04-28 00:17] ben-thul commented on #4088
Ah. I'm all for keeping a tidy house.

Maybe I don't understand the "Milestone - April 2020 release" labeling then. Either way, I'll track that issue. Thanks!

[2020-04-28 00:47] llali opened #10183 "Task icons are missing in dark theme"
- Azure Data Studio Version: 1.18.0

Steps to Reproduce:

1. Start a new task like export a database to bacpa
2. Verif the task started in Tasks output

expected: the icon for the task should show in progress or done:
actual: no icon for the taks

<img width="1440" alt="Screen Shot 2020-04-27 at 5 44 46 PM" src="https://user-images.githubusercontent.com/17187348/80434628-220aaa00-88af-11ea-97c3-e4

[2020-04-28 03:29] alanrenmsft opened #10185 "Databases widget improvement"
1. use table to show more information of the database: name, size, status, last backup date
2. context menu contribution for the items
3. Full page experience

implementation details:
- [x] 1. extend the ListDatabasesRequest related interfaces in azdata.d.ts in ADS repo

- [x] 2. update the dataprotocol-client repo to handle the extended ListDatabaseRequest and response properly - depends on step

[2020-04-28 07:37] ranasaria commented on #9836
I get this error even with openssl installed. But I get it only for powershell-kernel:

stdout: Could not fetch URL https://pypi.org/simple/powershell-kernel/: There was a problem confirming the ssl certificate: HTTPSConnectionPool(host='pypi.org', port=443): Max retries exceeded with url: /simple/powershell-kernel/ (Caused by SSLError("Can't connect to HTTPS URL because the SSL module is not avai

[2020-04-28 11:53] ransagy commented on #10145
I'm pretty sure i still suffer from this (and have for a while when i give ADS another try every now and then) when its marked closed for the April release which is versioned 1.17 despite the OP post here saying it IS happening in 1.17.

Anyway, my scenario is:
1. installed clean 1.17.
2. Add Azure account - get redirected to browser, choose account, close browser window after connection is done.

[2020-04-28 13:29] subbaraonv opened #10187 "Cancel button doesnt work"
Issue Type: <b>Bug</b>

cancel not working for any query ! it keeps on going

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|GPU Status|2d_canvas: enabled<br>flash_

[2020-04-28 13:35] subbaraonv commented on #10187
Duplicate of #8407

[2020-04-28 15:38] NanookSoftware opened #10189 "Format Error with '\' in SQL code"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-04-28 15:47] Charles-Gagnon commented on #10189
@NanookSoftware Could you please type out the issue you're seeing? The bug submission form has a max length it can accept to autofill the template.

[2020-04-28 15:50] NanookSoftware commented on #10189
![image](https://user-images.githubusercontent.com/40308431/80508710-67c68180-8946-11ea-9da7-95f0584606b3.png)

[2020-04-28 15:50] NanookSoftware commented on #10189
![image](https://user-images.githubusercontent.com/40308431/80508797-7e6cd880-8946-11ea-8695-60b5b7ee5697.png)

[2020-04-28 16:15] #10079 closed

[2020-04-28 16:30] brunossn opened #10190 "Close all tabs without saving"
**Is your feature request related to a problem? Please describe.**
When I need to close to many tabs, Azure Data Studio ask me to save for every tab. If I have 20 tabs, I have to click 20 times in "No" button.

**Describe the solution or feature you'd like**
A button "Not to all"

**Describe alternatives you've considered**
A list of opened tabs like Visual Studio does

**Additional context**
![im

[2020-04-28 16:44] #10183 closed

[2020-04-28 16:44] ttilberg opened #10191 "Notebookcells no longer flow well because of April update css margin change"
**Is your feature request related to a problem? Please describe.**
There is an incredible amount of spacing between notebook cells that was introduced in the April update. This makes it very hard for your notebook cells to flow together -- such as adding an introduction to a dataset.

I've attached a screenshot of the most simple possible versions of cells, and I can only fit 3 one-liners on a scr

[2020-04-28 16:50] ttilberg commented on #10191
One of the unexpected things is the amount of whitespace added between the top of the document, and the first content. Perhaps applying `margin` to the bottom, instead of equally balancing top and bottom would be better, in addition to reducing the total of the values overall: `margin: 2px 20px 10px 20px;`

[2020-04-28 18:06] bmeares opened #10192 "Cannot connect to MSSQL 2014 from Ubuntu 20.04"
Issue Type: <b>Bug</b>

I have Microsoft ODBC 17, unixodbc-dev, libgssapi-krb5-2, libxss1, libgconf-2-4, and libunwind8 installed, though I cannot connect to our MSSQL 2014 from Ubuntu 20.04 or Pop!_OS 20.04.

I am able to connect via SSMS on Windows and DBeaver on Ubuntu 20.04, so my hunch is that it is a driver issue. DBeaver installs the JDBC driver on setup which leads me to believe I'm missin

[2020-04-28 18:18] MaddyDev opened #10193 "Save as option not present on untitled notebooks opened in Provided Books viewlet."
- Azure Data Studio Version: 1.17.0-insider

Steps to Reproduce:

1. Open the TSG book by launching TSG book 'SQL Server 2019 Guide' from command pallet.
2. Open any notebook file and edit it. (Editor marks it dirty)
3. On closing the file, the editor prompts the following actions: Save, Don't Save and Cancel.
3. On hitting Save, it only gives you Replace or Cancel. There is no save as option, whi

[2020-04-28 20:27] chlafreniere commented on #10193
Note: this isn't a regression in April; this behavior existed in previous releases as well.

[2020-04-28 20:34] SteveDMurphy opened #10197 "Can't connect via MFA after update to 1.17.0"
Issue Type: <b>Bug</b>

Updated to new version today (1.17.0) and can no longer connect to azure data warehouse with MFA. Have removed existing accounts, etc. and still same error. NT AUTHORITY\ANONYMOUS LOGON

Azure Data Studio version: azuredatastudio 1.17.0 (b32a48ab73d8914647d33d9684bcb7b48adfe0cc, 2020-04-24T00:06:48.375Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary

[2020-04-28 20:42] Charles-Gagnon commented on #10197
@aaomidi

[2020-04-28 20:44] Charles-Gagnon commented on #10189
I'm not sure what the issue is from your screenshot - could you please explain the issue you're having?

[2020-04-28 20:49] SteveDMurphy commented on #10197
This is what I was able to get out of the renderer.log just now (removed connection info)
[code]

[2020-04-28 20:50] aaomidi commented on #10197
To confirm, were you able to connect to this server with azure authentication before? Does authenticating with SqlLogin work?

[2020-04-28 20:52] SteveDMurphy commented on #10197
Thanks for the quick response @aaomidi - yes was able to connect just a couple of hours ago. A teammate was having issues connecting after the update and confirmed that I ran into the same issue after I did the update

[2020-04-28 20:53] jtandrew commented on #10197
I am having the exact same issue on my Mac and on a Windows machine.
Here is my information.  I was able to connect using this method earlier today.  I have the same issue with the Insiders Build

`[2020-04-28 13:43:23.602] [renderer1] [error] Cannot read property 'path' of undefined: TypeError: Cannot read property 'path' of undefined
    at Object.t.isAbsolutePath (file:///Applications/Azure Dat

[2020-04-28 20:54] SteveDMurphy commented on #10197
Interesting twist as well, noticed that the MFA connection works when connecting to a separate sql database but not a data warehouse

[2020-04-28 20:56] NanookSoftware commented on #10189
OK So I am including 3 images (Code from ADS after last Update - error, Code from ADS with the '\' commented out, code from SSMS)

[2020-04-28 20:56] NanookSoftware commented on #10189
![image](https://user-images.githubusercontent.com/40308431/80536953-2dbea500-8971-11ea-8227-12f5653b9bd5.png)

[2020-04-28 20:56] NanookSoftware commented on #10189
![image](https://user-images.githubusercontent.com/40308431/80536963-31eac280-8971-11ea-94d3-b6f30ea8e5ac.png)

[2020-04-28 20:56] NanookSoftware commented on #10189
![image](https://user-images.githubusercontent.com/40308431/80536977-357e4980-8971-11ea-90ac-67c77caeca8f.png)

[2020-04-28 20:56] #10189 closed

[2020-04-28 21:26] aaomidi commented on #10197
My team and I haven't been able to repro this on a SQL DW connection. Unfortunately issues that come with auth are really difficult to debug and get to the bottom of.

I would suggest trying to reset your ADS to a clean state. This would delete any saved settings and connections you have. You can backup these settings if you want to just try a "fresh install/clean state".

ADS stores most of its f

[2020-04-28 21:36] jtandrew commented on #10197
@aaomidi  I cleared out the settings by doing the rename as you suggested.  When I opened the app I went to add a new connection with the same settings I used before, it opened Chrome and requested my token from my account.  When the token was finished adding it went back to the app and I received the following error message now:

[code]

[2020-04-28 21:38] aaomidi commented on #10197
That's an interesting error, I don't think it has anything to do with this though.

Local internet connectivity/dns issues?

[2020-04-28 21:42] jtandrew commented on #10197
@aaomidi yeah user error on that one.  I type the wrong server name that time, sorry about that.
On my windows machine I can connect to the same ADW instance with SSMS.

Here is the correct error I am getting

[code]

[2020-04-28 22:03] aaomidi commented on #10197
Hmm that still looks like general network issues rather than AAD issues :/

[2020-04-28 22:14] jtandrew commented on #10197
@aaomidi I tried connecting via SQL login from this same machine and it worked.  Then went back to Azure Active Directory - Universal with MFA Support.  I still got the same Invalid Error message.

[2020-04-28 22:26] kburtram commented on #10190
@brunossn thanks for the suggestion.  We've had this request a few times.  For some reason, this is the save behavior we picked up from our upstream vscode dependency.  Ideally, we'd get this fixed there and then it would come to us in a future merge.

You can close and not save all editors using the `Close All Editors` button in the File Explorer viewlet (screenshot below).  But I agree, not sure

[2020-04-28 23:14] SteveDMurphy commented on #10197
@aaomidi - sorry for the delay, just got back to try renaming the directory and got the same error, same info in renderer1.log

[2020-04-28 23:16] SteveDMurphy commented on #10197
Adding the log after successfully connecting to a database instead:
[code]

[2020-04-29 01:15] #10081 closed

[2020-04-29 02:24] rajeshka opened #10202 ""Add Cell" must add new cell after active cell and not at the end"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2020-04-29 03:14] alanrenmsft commented on #10185
- [ ] 1. extend the ListDatabasesRequest related interfaces in azdata.d.ts in ADS repo

- [ ] 2. update the dataprotocol-client repo to handle the extended ListDatabaseRequest and response properly - depends on step NO.1

- [ ] 3. update SqlToolsService to implement extended ListDatabasesRequest handler
implement full size

- [ ] 4. widget container, so that the databases widget can show without t

[2020-04-29 09:23] tbolon commented on #6450
This error still occurs on latest version (1.17). Was already submitted in #3270.

As suggested in the other issue, the database listing is instant when using the server details, but fails when using the left pane browser. For just displaying the database nodes, the query you execute could be optimized.

[2020-04-29 11:34] rodrigolopes opened #10207 "Error signing in to Azure"
after opening Azure data studio for first time after upgrade, I try to sign in to Azure and a page opens in a  browser with message 'Failure when retreiving tokens.'
url of the page is:
http://localhost:53248/callback?code=AQABAAIAAAAm-06blBE1TpVMil8KPQ41GqQD5dyOIwVJoyj_8G6l8GzuPZww5DMrtHOerUFIKraLI8E-M_R-r5nxU0Dvt2UJIQ4_iQZpb3l50LWw0d7zdidLlJxwwRDg09pG7twFovazNtrTGNJ_kx5VNJ67yiARhQw7qiP0r5vgQM1qL

[2020-04-29 12:48] MarkStockwellZA opened #10208 "Syntax highlighting breaks after selecting a string containing a backslash"
- Azure Data Studio Version: 1.17.0

SELECT statements work fine, but the syntax is not highlighted with the correct colors.

Steps to Reproduce:

1. Write a select statement with a literal string that contains a backslash.

Example: In this screenshot, the **AS** keyword should be blue and the column names should be white with the default dark theme on Windows 10.

<img width="549" alt="Capture"

[2020-04-29 13:27] mateeyas commented on #10197
Have the same issue. Was able to connect just before the software update. And can still connect now with SSMS, just no longer with ADS.

[code]

[2020-04-29 14:04] jtandrew commented on #10197
I just had to roll back to a previous version to get connections using AAD to work on our ADW.
1.17.0 and Insiders 1.18.0 had the same issue with the NT AUTHORITY\ANONYMOUS LOGON error.

[2020-04-29 15:05] gsogeek opened #10209 "UI blurred on startup after W10 update"
Issue Type: <b>Bug</b>

When starting the application with hardware GPU enabled, the UI is unusable. Adding the --disable-gpu flag will allow the UI to display properly. This also appears to be affecting VS Code and other Electron-based apps, so it may be an upstream issue with Radeon adapters. _Included System Info was gathered without the --disable-gpu flag._

- With Hardware GPU Enabled:

![ima

[2020-04-29 16:12] corvinrok opened #10210 "Support for GraphQL"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution or feature you'd like**
I would like to use Azure Studio to access GraphQL sources

**Describe alternatives you've considered**
Graph QL playground

**Additional context**
nope

[2020-04-29 17:29] #9836 closed

[2020-04-29 17:32] Xtrimmer opened #10211 "Large Number of Error Messages Results in ADS Unresponsiveness"
- Azure Data Studio Version: 1.17.0

Steps to Reproduce:

1. Do anything that would result in STS returning hundreds of error messages that would show up in the MESSAGES Pane.

![image](https://user-images.githubusercontent.com/4079568/80626623-95253500-8a03-11ea-91c2-ed93cb078c9e.png)

When the error count exceeds a large number, the Message pane becomes empty and ADS becomes unresponsive.

[2020-04-29 18:38] anthonydresser commented on #10211
Are the error arriving quickly and that is causing the slow down? or does it take a while before the window stops responding?

[2020-04-29 18:41] anthonydresser commented on #9851
If you could turn on tracing (`F1` -> `Developer: Set Log Level`), reproduce the issue and post your render logs, that would be helpful in tracking down this issue.

[2020-04-29 19:39] aaomidi opened #10213 "PaneView broken on latest ADS Master"
This line is relatively new, and we're getting exceptions when using the azure pane.

This is broken in ads master 4/29/2020

https://github.com/microsoft/vscode/blob/21766ad4954840db18f07fdc4bfd64dac316c01a/src/vs/base/browser/ui/splitview/paneview.ts#L240

[2020-04-29 19:41] Xtrimmer commented on #10211
They come in at a pretty fast rate but not so fast that is freezes up instantaneously. It usually takes about approximately 30 seconds before the the program becomes overwhelmed.

[2020-04-29 20:06] DerAlbertCom commented on #8824
Nope. Not fixed, I've updated to 1.17

I had to reconnect to Azure (that's may be because of update azure handling, so no bug there).

I can list all the Database and Servers in the Azure Pane, but If I wan't to connect i still have to change Authentication Type and Azure AD Tenant.

If i try direct to Manged a database then I get the login error for user `INSERTSERVERADMINUSERNAME`.

[2020-04-29 20:10] anthonydresser commented on #10211
Last time I tried to solve a similar problem I used a test script that just while looped printed messages and was able to solve the issue reasonably well. I'll need a better test script to attempt to solve it this time.

[2020-04-29 20:20] vksf01 opened #10217 "Unable to log in to Azure SQLDB using Azure AD"
We are unable to log in to our Azure SQLDB instance.  We get the error
**Login failed for user < token-identified principal >**

The weird thing is that we can connect using Power BI with the same credentials, it's just not able to do so using Azure Data Studio

The error dump is as follows
[code]

The error number 18456 seems to imply that the user doesn't have access to the server but this doesn

[2020-04-29 20:40] chriskinsman commented on #9885
This is still an issue for me with Azure Insiders 1.18.0 build.

Trying to connect to postgres.

  ERR Error: Failed to get Azure account token for connection
    at e.connectWithOptions (workbench.desktop.main.js:5724) [<root>]
    at async e.handleDefaultOnConnect (workbench.desktop.main.js:7901) [<root>]

[2020-04-29 20:46] aaomidi commented on #10197
So I've been able to root cause this issue. This issue happens specifically when connecting to the SQL DW DB, rather than the server itself (with no specific DB) (Can someone else confirm this too?)

I think the PR above fixes the problem from some quick testing. We'll discuss a potential hotfix for this release with this change set, but we need to make sure this doesn't break any other services.

[2020-04-29 20:47] aaomidi commented on #10217
Likely related to https://github.com/microsoft/azuredatastudio/issues/10197

[2020-04-29 20:49] SteveDMurphy commented on #10197
@aaomidi - thanks! Can confirm it succeeds when removing the DB for me 👍

[2020-04-29 21:09] aaomidi commented on #10197
To double check this change, please do this if you can:

Close Azure Data Studio

if you're on Windows/Linux (not sure if you can do this on OSX since stricter security requirements)

If you navigate to the location the application is installed:

for me:

[code]

In this path, there is an `extension.js` file, open this file in your favorite editor and search for `https://database.windows.net`, cha

[2020-04-29 21:20] aasimkhan30 commented on #5891
@kburtram I think this issue isn't present in the correct build. Correct me if I'm wrong.

[2020-04-29 21:23] jtandrew commented on #10197
Yeah I was unable to find that on OSX.  I will wait and hope this fixes it.

[2020-04-29 21:23] aaomidi commented on #10197
@jtandrew That file would be in `/Applications/Azure Data Studio/resources/app` on OSX.

[2020-04-29 21:44] jtandrew commented on #10197
@aaomidi I was able to drill into the package contents and change the URL, that fixed it for me too.  Thanks!!

[2020-04-29 21:45] aaomidi commented on #10197
Thank you for confirming, we'll get a hotfix out ASAP :)

[2020-04-29 21:50] aaomidi commented on #9885
Insiders is unfortunately a little broken at the moment. I would suggest sticking to the release branch.

If this issue is specific to PostgreSQL, I would recommend opening another issue.

[2020-04-29 23:33] aaomidi commented on #8824
That's expected behavior at the moment. I'll make an issue with this feature request.

[2020-04-29 23:33] aaomidi commented on #8824
Unfortunately we had to revert this change at the last minute as it was causing other issues :(

I'll reopen this and start tracking it again.

[2020-04-29 23:34] vksf01 commented on #10217
Hi
we got it to start working by explicitly putting in the database name in the login screen.  This was referenced in this link https://github.com/microsoft/azuredatastudio/issues/10197#issuecomment-621454569

[2020-04-29 23:34] #10217 closed

[2020-04-29 23:35] aaomidi commented on #10217
Great! A hotfix with this issue fixed should be coming out soon.

[2020-04-30 00:24] chriskinsman commented on #9885
Wasn't working in release which is why I tried insiders.

[2020-04-30 12:41] amcdermitt opened #10228 "Azure Synapse Analytics Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'."
Issue Type: <b>Bug</b>

I get the following error message when attempting to log into Azure Synapse Analytics. Login failed for user 'NT AUTHORITY\ANONYMOUS LOGON'. using MFA authentication.

I am able to log into it using SSMS MFA Authentication. I am specifying the database that I want to log into and it does not work. I am able to log into it if I make myself the AAD Admin and connect, however

[2020-04-30 12:45] #10228 closed

[2020-04-30 17:02] lucasgit2000 commented on #7440
april 30 and here i am with the same problem, I noticed that happens more often when I leave ads idle for considered period of time. If i execute query after other it works fine...

[2020-04-30 17:09] winzig commented on #8867
@kenvanhyning Any update from the driver team? Is there something that outside people could work on or look at to push this forward?

[2020-04-30 17:28] rkdiekhoffwk opened #10229 "Add Disconnect All Option"
Issue Type: <b>Feature Request</b>

I work on queries across multiple servers and it would be nice to have a "Disconnect All Editors" option in ADS, similar to the "Disconnect All Queries" menu option in SSMS where users could disconnect all open editors in one action vs. having to disconnect each editor individually or have to close ADS to effectively disconnect all.

Azure Data Studio version: a

[2020-04-30 17:36] rkdiekhoffwk opened #10230 "Organize Open Editors By Server or Server Group"
Issue Type: <b>Feature Request</b>

Organize/group all open editors showing in Explorer based on what server or server group they are connected with.  Disconnected editors/queries could be organized under their own group as well.

Azure Data Studio version: azuredatastudio 1.17.0 (b32a48ab73d8914647d33d9684bcb7b48adfe0cc, 2020-04-24T00:21:10.639Z)
OS version: Windows_NT x64 10.0.18362

[2020-04-30 18:44] aaomidi commented on #10137
Hi! Is this still an issue with the latest 1.17.1 release?

[2020-04-30 20:49] #9408 closed

[2020-04-30 23:16] DTronD commented on #10104
I do get the "flatFileImport.start' not found" error if I attempt to launch via CTRL-I upon immediately opening ADS but before I get a connection to a SQL server.  I do not have a proxy server between me and public internet.

Fortunately, I can get around that issue by only launching the import wizard after I have established a connection to the server and run a query.

But I am hitting an error w

[2020-04-30 23:21] DTronD commented on #9822
Similar to #10104  perhaps?

[2020-04-30 23:59] #10197 closed

[2020-05-01 00:00] kburtram commented on #10197
The 1.17.1 release contains a fix for this issue.

[2020-05-01 00:21] kburtram commented on #10102
Thanks for opening this issue!  Feedback on twitter is reaching @vickyharp, who is the PM owner for this product.  Please let us know if there are any issues you're encountering using the product that I could assist with.

[2020-05-01 00:21] #10102 closed

[2020-05-01 00:27] kburtram commented on #10207
@aaomidi do you have any ideas for this issue?

[2020-05-01 00:28] kburtram commented on #10209
@anthonydresser any ideas on this one?  Looks like a OS driver issue if I had to guess.

[2020-05-01 00:33] kburtram commented on #10169
It looks like we've overwrote this shortcut with one of the query execution commands.  You can delete this shortcut using the "Preferences->Keymaps" interface to restore the Minimize command.

<img width="658" alt="Screen Shot 2020-04-30 at 5 30 45 PM" src="https://user-images.githubusercontent.com/599935/80771460-69d83e00-8b08-11ea-96c1-f5d56413760c.png">

[2020-05-01 00:33] anthonydresser commented on #10209
Most likely its a electron driver issue if disabling gpu fixes it. vscode is investigating upgrading electron to 8 so that might fix it.

[2020-05-01 00:37] anthonydresser commented on #10209
not sure how much testing they have done with it, but it doesn't look they have found too much wrong with the upgrade https://github.com/microsoft/vscode/compare/electron-8.0.x so we might be able to make our own upgrade before them if we think we will need a fix before they make a fix.

[2020-05-01 08:10] aaomidi commented on #10213
Seems to be fixed by https://github.com/microsoft/azuredatastudio/commit/cebbd04d10bb50e52b4ac73e0155d71675eb5074

[2020-05-01 11:12] SQLDBAWithABeard opened #10238 "Compare Two Notebook runs"
**Is your feature request related to a problem? Please describe.**

Sometimes I run the same notebook more than once and want to compare the results. I _can_ do this by committing the notebook to source control each time I have run it and using GitLens or diff tool to compare them, however the results are tricky to read, you have to be able to parse the JSON in your head and for SQL Notebooks, mat

[2020-05-01 11:12] SQLDBAWithABeard commented on #10238
{
    "metadata": {
        "kernelspec": {
            "name": "SQL",
            "display_name": "SQL",
            "language": "sql"
        },
        "language_info": {
            "name": "sql",
            "version": ""
        }
    },
    "nbformat_minor": 2,
    "nbformat": 4,
    "cells": [
        {
            "cell_type": "markdown",
            "source": [
                "# Compari

[2020-05-01 11:14] SQLDBAWithABeard commented on #10238
Notebook I used for screenshot is here
<script src="https://gist.github.com/SQLDBAWithABeard/2c85a8d81cf8a9cc7a646afae4514ee7.js"></script>

[2020-05-01 11:21] canwaf commented on #9174
I know this is closed; however the behaviour continues.

[2020-05-01 13:37] scuffell opened #10239 "Temporal Tables"
Issue Type: <b>Feature Request</b>

When scripting a  drop of a temporal table, the history table is not scripted.

Please include the history table when doing a "script as drop" on temporal tables.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.16299

[2020-05-01 14:56] mrlife opened #10240 "SQL Agent History - Job Step Duration"
Please add the duration a step ran.

[2020-05-01 15:35] gsogeek commented on #10209
I'm doing a bit more testing on the affected devices and there seems to be a common element between electron-based apps and the Radeon driver being delivered in the latest round of Windows Updates... I'm seeing it stabilize and clear up when I remove the driver set, and re-install from AMD (Radeon Software 19.10.24.04) rather than what is delivered by windows update. I'll know more for sure when I

[2020-05-01 17:19] #10181 closed

[2020-05-01 17:53] #9748 closed

[2020-05-01 17:55] chlafreniere opened #10243 "Notebooks: Fix Cell Margins to Match Previous Releases"
Fixes #10191 to bring back the notebook cell margins to previous levels until we have the cell toolbar (in which case we can get rid of the Add code/Add text buttons, and have our desired cell margins).

March release:
![image](https://user-images.githubusercontent.com/40371649/80828462-26c6ab00-8b9a-11ea-86c8-f5054d87655e.png)

April Release:
![image](https://user-images.githubusercontent.com/403

[2020-05-01 18:04] kisantia commented on #9361
@aasimkhan30 the PR #10216 only made changes in the import extension. Can azdata.connection.listDatabases be fixed to not fail when the user does not have access to master db? Other extensions besides the import extension use this api, like the dacpac extension. Right now, the dacpac extension has been modified to catch this in #9362, but it would be nice if azdata.connection.listDatabases got fix

[2020-05-01 18:12] SteveDMurphy commented on #10197
Thanks everyone and @aaomidi for the quick help with this! Moved to 1.17.1 today and connection worked perfectly 👍

[2020-05-01 18:16] kisantia opened #10244 "overflow focus isn't always the first element"
The focus of the toolbar overflow should be the first item when opened. Right now the focus is only getting set to the correct element when there aren't any separators left in the toolbar

![image](https://user-images.githubusercontent.com/31145923/80829917-e0bf1680-8b9c-11ea-8984-4e1dba8657a9.png)

[2020-05-01 18:19] aaomidi commented on #9174
Yeah after more work in this area I realized this wouldn't be fixed. I'll try to get it done for the next release. Thank you!

[2020-05-01 18:26] #6418 closed

[2020-05-01 18:35] daschall opened #10245 "Search highlights very big sections instead of just the search word or sentence."
Issue Type: <b>Bug</b>

When searching for a term in a Jupyter notebook, the current paragraph or sentence is highlighted, instead of just the search word.
This is nice if the word is contained in a small paragraph/sentence, but not if ADS starts highlighting my entire screen and I have to search for the exact occurence myself.

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca8

[2020-05-01 18:38] #10140 closed

[2020-05-01 18:39] #9359 closed

[2020-05-01 18:44] #9732 closed

[2020-05-01 18:57] kisantia commented on #9802
@Dvnoten the DABO permission is now in the DacFx version in ADS. Can you try using schema compare again?

[2020-05-01 19:48] #10243 closed

[2020-05-01 20:26] nikolasoggMSFT opened #10249 "Large DBCC CHECKTABLE Output can cause ADS to crash"
Issue Type: <b>Bug</b>

When running DBCC CHECKTABLE(id) WITH EXTENDED_LOGICAL_CHECKS large amounts of output can cause ADS to crash. Unfortunately I don't have further repro steps and can't give logs.

Happened on a new installation of ADS version 1.16.1 (user setup).
Version: 1.16.1 (user setup)
Commit: 16801c522df68e63218b39ccb5b4a7431f9bf667
Date: 2020-03-23T22:08:06.892Z
VS Code: 1.42.0
Elect

[2020-05-01 21:12] #10191 closed

[2020-05-01 21:31] alanrenmsft commented on #9411
@hannahqin I am closing this one since this is showing up on our s360 dashboard.

[2020-05-01 21:31] #9411 closed

[2020-05-01 23:15] smartguest commented on #1296
From the current build, this problem no longer happens when I attempt to repro it with a varchar table.

@luismiguelgilbert Have you still encountered this issue with the latest build? Let us know if you do.

[2020-05-01 23:15] #1296 closed

[2020-05-01 23:37] #10063 closed

[2020-05-02 00:28] ttilberg commented on #10191
@chlafreniere Thank you.

[2020-05-02 00:43] JCKodel commented on #8668
I would like a related suggestion:

Scenario:

I have two servers (one localhost for development, one on my server).

I have a query that I use very often (and it's nice ADS always load with that query on screen, even if I hadn't save it.

Now, I'm in this screen:
![image](https://user-images.githubusercontent.com/379339/80850695-9f0d8a80-8bf3-11ea-81fb-0b27d82b08d3.png)

When I press the execute

[2020-05-02 02:27] HumorMe opened #10253 "Problems connecting as I open a .sql file"
Issue Type: <b>Bug</b>

I believe I have identified a couple of possible bugs. In order to see them, all I have to do is open a .sql file and connect it to a db on my local sql server instance. After that, the following 2 bugs repeat 100%:

Bug 1:  Double-click a second .sql file. Instead of opening connected to the same db as the first, it prompts me with the connection panel. If I drag the same

[2020-05-02 03:30] #7115 closed

[2020-05-02 03:32] aasimkhan30 commented on #7115
This issue was fixed with PR #10216

[2020-05-02 03:35] aasimkhan30 commented on #9361
It makes more sense. I'll look into it on the SQL Tool service end to fix the issue.

[2020-05-02 14:53] sqlkoala commented on #8727
I recently learned that vscode/azureDS already has the "Trigger Suggest", which pretty much does what I am looking for in this case.

[2020-05-02 14:53] #8727 closed

[2020-05-02 14:55] Charles-Gagnon commented on #10208
This was broken with https://github.com/microsoft/azuredatastudio/commit/1868a7d3705e4dc32b438ab24303052ed2cc9f09#diff-bb684abea1ae7b363da775aeba9b0bf6

@MarkStockwellZA @NanookSoftware As a temporary workaround while I investigate why this was changed you can manually revert the file to get the previous colorization behavior back.

Go to https://raw.githubusercontent.com/microsoft/azuredatastudio

[2020-05-03 17:50] MsSQLGirl commented on #9550
It looks like .md file exhibits some of the search attributes properly, but not .ipynb.

![image](https://user-images.githubusercontent.com/6405919/80921493-915b2080-8d2b-11ea-8e85-b014dc6d8902.png)

1. the highlight is done at the word level
2. the scroll bar shows the occurrences of the keywords

However, it seems that the search doesn't give an option to do regex or case sensitive option - as s

[2020-05-03 17:51] MsSQLGirl commented on #10245
Same issue as #9550.

[2020-05-04 03:50] tuananh commented on #8058
still have this problem on insider build

[code]

[2020-05-04 09:15] MusabEdriss opened #10258 "Microsoft.Data.SqlClient.SqlException"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2020-05-04 11:19] Dvnoten commented on #9802
@kisantia thank you for the update. I updated the SSDT extension in VS and the Azure Data Studio client but the issue remains the same. I still get the DABO permission warning in VS as illustrated above and in Azure Data Studio I still don't see any results using schema compare. Could you tell me how I can maybe better troubleshoot the exact issue or did I forgot to update something maybe?

[2020-05-04 13:21] Expecho commented on #9713
Can we expect some intellisense in the (near) future?

[2020-05-04 15:05] gregveres commented on #9252
@kburtram You guys are still missing the point of this request and my request that is identical. This is not a performance problem. This is a UI problem. You should open the query window immediately - before you ever build a query to send to the server to get the shape of the ultimate query.

I just updated to the april release and I can tell that you guys did some great performance work on execut

[2020-05-04 15:07] gregveres commented on #9252
I think this is more a dup of [#8926](https://github.com/microsoft/azuredatastudio/issues/8926) rather than #8513.

[2020-05-04 15:10] gregveres commented on #8926
I see that some performance work was done in the April 2020 release and building the query and executing the query seem to be significantly faster. Thank you for that.

However, that doesn't change the need for this item. This is not a performance issue, even though somebody flagged it as such. It is a UI issue that I just don't understand why it isn't really easy to fix.  Open the window and put

[2020-05-04 16:56] dtate22 opened #10259 "Notebooks have strange behavior when path contains '%20'"
Issue Type: <b>Bug</b>

On my machine, when I run a SQL statement it fails consistent.
- I have a brand new machine

Rendering is failing for all SQL at various different points...
- If I re-open a SAVED NOTEBOOK mostly

I've installed the tool 5 or 6 times various versions.

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-30T00:16:35.943Z)
OS v

[2020-05-04 18:22] Charles-Gagnon commented on #10253
So I looked into this and here's what's happening :

1. When clicking on a file in the documents view it ends up calling openEditor twice
2. The first time it goes through the input convert which then starts opening the connection for the editor from the global connection (the existing open file in this case)
3. The second time it does the same thing - but since the first connection usually hasn't

[2020-05-04 18:45] Charles-Gagnon commented on #10208
Closing this as upstream https://github.com/microsoft/vscode-mssql/issues/1666

We'll work on getting this fixed but for the time being you can revert to the earlier version of the grammar as described above if this is affecting you.

[2020-05-04 18:45] aaomidi commented on #10213
Looks like this issue is back.

[2020-05-04 18:59] jdanton opened #10260 "Azure SQL Database DNS Alias Fails to Connect"
- Azure Data Studio Version:

Version: 1.17.1
Commit: 814ce88c41e0daaca89afed8b184e795057a6f9d
Date: 2020-04-29T23:53:03.736Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.3.0

Steps to Reproduce:

1. Create a DNS alias for an Azure SQL Database.
2. Attempt to connect to that database.
3. Connection never completes

![AzureSQLDB-

[2020-05-04 18:59] rhythmnewt commented on #10145
@ransagy I have the same issue with the Azure blade still. It's baffling that both this issue and mine #9525 are marked as fixed but they really are not.

[2020-05-04 19:01] rhythmnewt commented on #9525
@Charles-Gagnon just updated to the latest release and am still having the same issue with the Azure blade.

Version: 1.17.1 (user setup)
Commit: 814ce88c41e0daaca89afed8b184e795057a6f9d
Date: 2020-04-30T00:16:35.943Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-05-04 19:06] aaomidi commented on #10259
Hi! Do you have more information and context on what kind of queries are breaking for you? Any information, even if trivial, might help us root cause this problem :)

[2020-05-04 19:17] dtate22 commented on #10259
Select * from dbo.account

Simple query…

  *   The problem is on a new computer
     *   Either the login to SQL Server through SQL Server MFA (third party verification) is failing
     *   Or something else
  *   Next the render fails – either login or something else
  *   Once this happens, my Azure Data Studio is toast until Icreate a brand new notebook

I’m available to speak if you need more

[2020-05-04 19:35] consultcory commented on #8052
One thing different from SSMS that I would thoroughly enjoy is to (optionally?) persist at least the database-level filter rule(s) and reapply them on new connections. The filter rules could be stored at  the connection level in the settings.json file.

In SSMS, I repeatedly apply a "Does not contain" search expression to our production database list every time I connect to it, which takes time bu

[2020-05-04 19:35] ransagy commented on #10145
I wonder if we should open a new, specific issue on that - As both our issues respective titles reflect something different.

The issue specifically is that any action initiated from the Azure view/group of the connections tab always tries to use SqlLogin repeatedly regardless of which authentication was used before.

thoughts @kburtram @Charles-Gagnon ? (as you worked on the other mentioned issue

[2020-05-04 21:03] dtate22 commented on #10259
Render File: (no problem)

  *   When I open a Notebook the first time, everything is good
  *   SQL executes – no problem
C:\Users\Derrick.Tate\AppData\Roaming\azuredatastudio\logs\20200504T165621\renderer1.log<command:workbench.action.openLogsFolder>

<< file is empty >>

[cid:image002.png@01D62235.F9D75C20]

When I save the notebook.

  *   Close Azure Data Studio
  *   Open Azure Data Studio

[2020-05-04 21:05] aaomidi commented on #9525
Ah so the problem is you have a cached password for a database that's incorrect.

These credentials are stored by the operating system credential manager. For windows, if you press the start button and search `Credential Manager` you should see a control panel utility come up.

If you click `Windows Credentials` you'll see all the credentials stored by various applications. You're going to be look

[2020-05-04 21:16] #10168 closed

[2020-05-04 21:25] aaomidi commented on #10259
Thank you!

[2020-05-04 21:44] aaomidi opened #10262 "Remove the SQL Credential Manager and use the VSCode Credential Manager"
VSCode already has a credential manager, we could use this instead of the SQLToolsService one.

Should we make this change? @anthonydresser @kburtram

[2020-05-04 22:55] anthonydresser commented on #10262
We'd have to make sure  there's no issues with the difference (they store on the front end, we store on the back end). Probably it would make more sense to do a test run with converting the extension first.

[2020-05-04 23:51] aaomidi commented on #10145
New issues are always appreciated. Sometimes a specific issue ends up being multiple and are marked as closed when a PR is sent out for them.

[2020-05-05 10:48] ransagy opened #10268 "The Azure Group in the Connections sidebar uses the wrong auth mechanism"
Issue Type: <b>Bug</b>

When trying to perform any action from the Connections > Azure sidebar group, Every operation fails to login properly. This issue follows up on two others: #10145 #9525

**Steps to repro:**
1. Add an Azure account using Universal MFA auth - get redirected to browser, choose account, close browser window after connection is done.
2. Unfold the the account, subscription, SQL

[2020-05-05 10:48] ransagy commented on #10145
Done: #10268

[2020-05-05 14:18] jkarr opened #10269 "OverType doesn't work"
Issue Type: <b>Bug</b>

When I press the Insert key on my keyboard, it does not toggle the editor into OverType mode.

To reproduce,
1) Place the cursor at the beginning of a line of text.
2) Press INS on keybaord
3) Start typing

Expected Behavior: the typed text replaced the text at the cursor position as the cursor advances.
Actual Behavior: the typed text is inserted at the cursor position, bu

[2020-05-05 15:48] kburtram opened #10270 "Several shell icons are missing in web-mode"
- Azure Data Studio Version: `master` + `webmode`

Steps to Reproduce:

1. Run linux server

Actual: Several icons are missing

![image](https://user-images.githubusercontent.com/599935/81086256-19b4ff00-8ead-11ea-884c-4ac212d2009d.png)

[2020-05-05 15:48] kburtram commented on #10270
@anthonydresser could you please check out what's going on with today's build?

[2020-05-05 16:08] Charles-Gagnon commented on #10269
As a workaround you can install the https://marketplace.visualstudio.com/items?itemName=adammaras.overtype extension for VS Code into ADS and that should work fine.

This is apparently a long standing ask for VS Code to implement but they have yet to do so in the core editor. https://github.com/microsoft/vscode/issues/1012

[2020-05-05 17:14] Charles-Gagnon commented on #9525
Thanks for the confirmation - we're working on improvements in this area so we'll update once we have more for you to try!

We'll be using https://github.com/microsoft/azuredatastudio/issues/10268 to track the Azure pane always using sql auth for the underlying nodes which seems to be the main issue here.

[2020-05-05 17:41] rhythmnewt commented on #9525
@aaomidi Issue #10268 is really the problem that I'm having, it's a much clearer explanation. I did try removing these credentials, but the effect is still the same.

[2020-05-05 18:13] dtate22 commented on #10259
Hey Amir,  ( MY PROBLEM is now resolved! )

I figure out – what I believe the problem is or was.

I have a laptop where Azure Data Studio runs 100% correct.

On a new PC it didn’t run, it had the weird behavior below.
So, today, I went to my PC and compared

  *   Azure Data Studio to see what extensions I had installed
  *   VS Code to see what extensions that I had installed

I made sure all ext

[2020-05-05 18:22] #9525 closed

[2020-05-05 18:24] aaomidi commented on #10259
Oh interesting. It might make sense for ADS to do more handholding in this situation.

[2020-05-05 19:05] #10213 closed

[2020-05-05 19:08] aaomidi commented on #10260
Is this consistent? Does this problem still exist when you've restarted your computer?

How have you made the DNS record?

[2020-05-05 19:13] aaomidi commented on #10268
Thank you for this issue. Unfortunately switching the default behavior isn't going to be super easy since the majority of our users still use SqlLogin over MFA.

I'll have to brainstorm some ideas on how to make this experience work for both scenarios without too much hassle.

[2020-05-05 19:30] Charles-Gagnon commented on #10268
@aaomidi I think at the very least we can make it remember which auth type the user chose and default to that. That should a good start I think since yeah it's going to be difficult to pick the "right" one by default.

[2020-05-05 19:32] ransagy commented on #10268
Either that or a way to configure it - If i signed into the account with MFA, either default to that or give me an option to set it, whether in advance or at the point of creation.

[2020-05-05 20:02] #10244 closed

[2020-05-05 20:14] dtate22 commented on #10259
I got the exact problem….

  *   It wasn’t Python related at all

My directory structure contained a “Notebook”

The name of the Path to the file was:
                C:\TempNoteBooks\EMA%20Core\Notebook-0.ipynb

I changed the name of the directory to “EMA_Core” and everything works now.

In my DevOps REPO when I CLONED the REPO, there is a SPACE in the file name that turns into “%20” which is a v

[2020-05-05 20:31] udeeshagautam opened #10273 "[Task] dotnet build doesnt work with dlls when ther are in sqltools Folder"
This is to track a bug where we are facing issues while loading DacFx dlls to load in build. When the files are in SqlToolsService folder normally - the build fails to load them (particularly the composition dll) but copying them to a separate folder works.

[2020-05-06 09:03] marcin-vt commented on #10207
Same here Version: 1.17.1
Commit: 814ce88c41e0daaca89afed8b184e795057a6f9d
Date: 2020-04-29T23:48:52.060Z (6 days ago)
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 4.15.0-1082-azure

Console log:

Can it be related to a proxy settings? Is there a local log with more information?

[2020-05-06 10:43] Exicle opened #10280 "Escape character \ causes incorrect colour formatting"
### Azure Data Studio Version:
Version: 1.17.1 (system setup)
Commit: 814ce88c41e0daaca89afed8b184e795057a6f9d
Date: 2020-04-30T00:16:35.943Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.14393
### Steps to Reproduce:
Example code:

SELECT *
FROM LoadType
WHERE CHARINDEX(**'\\' + LoadTypeName + '\\', @Filename) > 0;**

The

[2020-05-06 10:49] Exicle commented on #10280
(I'm using this with a subsequent big chunk of SQL and the whole thing has a tinge of red to it as if it was dynamic SQL but with the actual character literals in blue/black...)

[2020-05-06 11:04] Exicle commented on #10280
Workaround:
USE CHAR(92) instead of '\'

[2020-05-06 11:11] liamdo opened #10281 "Preserve line endings in results grid when copying"
**Is your feature request related to a problem? Please describe.**
When copying from a results grid cell that contains line endings, the pasted result does not preserve the line endings.
**Describe the solution or feature you'd like**
I'd like a option to preserve line endings from the results grid or not when copying similar to SSMS.

1. Execute this query in Azure Data Studio
`SELECT 'line 1' +

[2020-05-06 13:49] Charles-Gagnon commented on #10281
This setting exists as `Sql: Copy Remove New Line`

![image](https://user-images.githubusercontent.com/28519865/81184771-a7542580-8f65-11ea-86f8-59cf7867f239.png)

When unchecked it will preserve CR/LF from copied results.

[2020-05-06 13:49] #10281 closed

[2020-05-06 13:50] joshfria commented on #9381
I'm getting this same behavior. It wont even stay functional for a whole day.

[2020-05-06 13:51] Charles-Gagnon commented on #10280
Duplicate of https://github.com/microsoft/azuredatastudio/issues/10208 - see that for a workaround to revert to older version of the language file.

[2020-05-06 13:51] #10280 closed

[2020-05-06 15:41] aasimkhan30 commented on #5891
@kburtram Please check my PR #10278. I think I fixes the issue.

[2020-05-06 15:53] kburtram opened #10282 "Profiler leaving orphaned editor windows"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Run Profiler extension and browse through the text results for some events
2. Close and reopen ADS

Expected: no orphaned editors

Actual: There are some left over editor windows that can cause error notifications

[2020-05-06 16:27] xantilon commented on #168
this would be nice for CSV too

[2020-05-06 16:32] DTronD commented on #9350
Not sure if the command is uncommented and actually wired up yet, but in case it isn't or doesn't give the expected results, it seems for v1.17.1 the name of the token file has changed (again!).  Today it is showing as azureTokeCache_azure_publicCloud versus the value that it had when @acblksun posted.  Next week? Who knows!

[2020-05-06 16:36] DTronD commented on #4085
Well at least I have .BAT to clear the Azure Token cache every few days when the error/warning pops up...because this issue (_ADS v.1.17.1(system setup_)) IS still occurring even though I am a member of the server admin group on the Azure SQL Database.  Though it seems the name of the token has changed at least three time since I originally was made aware of the workaround (and that's what it is,

[2020-05-06 16:55] liamdo commented on #10281
@Charles-Gagnon Thank for pointing that out, in my settings that was ticked. My google-fu missed this!

[2020-05-06 18:42] #10202 closed

[2020-05-06 18:51] RamkumarSGitHub opened #10283 "Splitting the query window"
Splitting the query window view will be helpful during tsql development (stored procedure) in the azure data studio.
similar to the feature in Visual Studio IDE

[2020-05-06 19:16] #9851 closed

[2020-05-06 20:24] aaomidi commented on #9350
The name of that file changing shouldn't impact this. If you're seeing a specific error happen please open a new issue as we're trying to sift through all the various OAuth woes.

[2020-05-06 20:30] aaomidi commented on #10207
@marcin-vt, @rodrigolopes

As a debugging step, would you mind going to

Settings -> Extensions > Azure Authentication Method

Disable Azure Code Grant, and enable Azure Device Code.

Try the authentication again with the developer console open (Help -> Toggle Developer Tools).

Does this authentication method succeed or does it fail the same way?

Thanks!

[2020-05-06 20:46] #9285 closed

[2020-05-06 20:46] aaomidi commented on #9285
Since I haven't been able to repro this and I haven't received any new info I'll close this issue.

[2020-05-06 20:47] aaomidi commented on #9548
Hmm, I've been unable to repro this on my side. Just for a sanity check is this still happening?

[2020-05-06 20:49] aaomidi commented on #9885
So since the original issue is fixed, I'll be closing this issue.

Please definitely open a new issue if you are seeing any issues with AzureMFA.

[2020-05-06 20:49] #9885 closed

[2020-05-06 20:51] aaomidi commented on #4182
I'll close out this issue for now. Please comment back if you've seen this behavior recently and I'll reopen the issue.

[2020-05-06 20:52] aaomidi commented on #4044
This seems like a pretty big edge case. It's certainly possible to pass this in but the code is currently not setup for that.

Is this a feature PM wants to see in ADS? @yualan

[2020-05-06 20:55] aaomidi commented on #3334
So I think this issue has been covered by the auth updates, and the changes Matt made here.

[2020-05-06 20:55] #3334 closed

[2020-05-06 20:56] aaomidi commented on #6698
Resolved.

[2020-05-06 20:56] #6698 closed

[2020-05-06 20:57] aaomidi commented on #7805
Solved.

[2020-05-06 20:57] #7805 closed

[2020-05-06 21:09] ranasaria opened #10284 "Failed to register account provider"
- Azure Data Studio Version:
Version: 1.18.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z
VS Code: 1.45.0
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0
Steps to Reproduce:

1. Startup Azure Data Studio
2. Open developer  tools -> console.

The following error is seen:

/Users/arvranmac/git/ads/node_modules/z

[2020-05-06 22:08] dharmeshkakadia commented on #9548
Yes. Its been broken for almost a month now. :(

[2020-05-06 22:13] aaomidi commented on #9548
Thanks! I hope we can root cause this issue as well.

[2020-05-06 23:04] kburtram opened #10290 "Notebook viewlet steals focus on startup"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open a folder containing a notebook (such as the azuredatastudio repo directory)
2. Close and reopen ADS
3. Start working with a saved connection

Expected: Focus stays in the Connection viewlet

Actual: About 5 or 10 seconds after startup focus is switched to the Notebook viewlet, even if user is in middle of task in Connection viewle

[2020-05-06 23:36] aaomidi opened #10291 "Issue on ADS startup"
Latest master

[code]

[2020-05-06 23:38] aaomidi commented on #10284
Are you seeing this issue in insiders?

[2020-05-07 00:53] kburtram commented on #10291
@aaomidi for some reason I'm not seeing this exception on startup.  Any other useful repro steps you can think of?

[2020-05-07 00:54] ranasaria commented on #10284
i observed it on a dev build but I am ~2 days behind the master.

[2020-05-07 01:14] aaomidi commented on #10291
@kburtram I'm even seeing it on our test runs.

e.g.: https://github.com/microsoft/azuredatastudio/pull/10285/checks?check_run_id=651041062#step:12:33

[2020-05-07 01:24] ranasaria opened #10293 "css-style getting copied unexpectedly to container from a contained item"
- Azure Data Studio Version:
Version: 1.18.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z
VS Code: 1.45.0
Electron: 7.2.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.4.0

Steps to Reproduce:

1. Create an azdata.TextComponent object with the following CSS style properties set:
`{
		"border-right-width": "2px",
		"border-right

[2020-05-07 07:54] TerjeST opened #10296 "While dumping/exporting data to excel, and extra tab with SQL-query is saved"
Hi

When doing a dump/export of data to excel, I would like it to also dump the corresponding SQL code in an extra excel tab.

I'm no code expert - as it probably could be coded. So a feature like this could save  me time when trying to find out why the excel dump looks like it is or trying to recreate it.

[2020-05-07 08:36] marcin-vt commented on #10207
Thnx for answer @aaomidi.

Changing authentication method causes following error:

Strangely enough I also have version 1.12 installed (same vm) and there authentication with device code works there without any issue.

[2020-05-07 12:57] peter-rangelov opened #10298 "Login failed for user '<token-identified principal>'."
Issue Type: <b>Bug</b>

Can't log in using Azure AD w/ MFA. Login works from SSMS.
Microsoft.Data.SqlClient.SqlException (0x80131904): Login failed for user '<token-identified principal>'.

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-29T23:53:03.736Z)
OS version: Darwin x64 19.4.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|

[2020-05-07 14:47] amadeogallardo commented on #9486
Same issue here, restarting Azure Data Studio seems to be the only way to reliably re-establish the connection.

[2020-05-07 16:40] CallSign-Filter commented on #3594
Any way this can be fixed? This may seem trivial to other users but I run into this problem constantly as I am developing full stack. I spend all day with Azure open writing stored procedures and front end code so my same files stay open all of the time. I would move to another SQL editor but Azure seems to be the only one that supports Windows Authentication through Kerberos

[2020-05-07 17:08] #10282 closed

[2020-05-07 18:04] kburtram commented on #9901
This is fixed in the latest builds.

[2020-05-07 18:04] #9901 closed

[2020-05-07 18:15] silkfire commented on #3594
I think this error could occur when a connection to the database is being established, but at the same time, other threads are trying to run the Connect() method as well. I think it could probably be solved with a semaphore or a mutex.

[2020-05-07 18:16] kburtram commented on #9927
@gaurav1022 this is a generic error message from the SQL Server driver (SqlClient) that indicates that it was unable to establish a network connection to the server instance.  Have you been able to otherwise verify connectivity to the server from the client machine (perhaps with an alternate tool like sqlcmd)?

The Network Configuration Manager would be on the server, assuming you're using a Windo

[2020-05-07 18:19] kburtram commented on #9965
@cssuh if you have a chance could you please take a look at this issue?

[2020-05-07 18:27] ninarn opened #10300 "Connecting to server or DB in Azure view does not allow navigating to the Manage view. Must connect via Server connections"
- Azure Data Studio Version: The very latest **insider** build. I honestly can't find how to check the version number, but I updated to the latest only this morning. (I suggest providing instructions for how to check version number in the above instructions.)

Steps to Reproduce:

1. Open Azure Data Studio - Insiders
2. Connect to Azure account
3. In Connections viewlet, expand Azure section in ob

[2020-05-07 18:31] kisantia opened #10301 "Add option in Dacpac deploy for Azure db SLO"
By default, deploying a dacpac to an Azure db creates an GP_Gen5_2. There should be an option to select the Azure edition/service objective in the dacpac deploy extension.

[2020-05-07 18:31] kburtram commented on #10017
For the core editing behaviors we typically follow the UX established by vscode team.  Ideally this change would be made their and we would pick it up from them in a subsequent source code refresh.

[2020-05-07 18:42] kburtram commented on #10023
@aaomidi any ideas on this one?

[2020-05-07 19:00] aaomidi commented on #10023
Have you verified that this server connects via SSMS with AAD?

[2020-05-07 19:13] kburtram commented on #10122
@gerrydoro thanks for filing the issue.  Perhaps we should have a better error message to handle this scenario, since it seems like a somewhat common experience that a user may try to connect to an offline server in some cases.

[2020-05-07 19:14] kburtram commented on #10121
I wasn't able to reproduce a connection error when using a SQL file that was included in a git repo.  Are there any additional repro steps or error logs that may help us narrow down the problem?

[2020-05-07 19:54] kburtram commented on #10173
Looks like a likely duplicate of https://github.com/microsoft/azuredatastudio/issues/3594.  Please add any additional related comments to that issue.  Thanks for reporting!

[2020-05-07 19:54] #10173 closed

[2020-05-07 19:55] kburtram commented on #10187
@subbaraonv thanks for reporting this bug.  I'll close it as a duplicate of #8407.  Please add any additional related comments to that issue.

[2020-05-07 19:55] #10187 closed

[2020-05-07 19:56] kburtram commented on #10192
@bmeares are you getting any particular error message when trying to connect?

[2020-05-07 19:57] ninarn commented on #10300
To provide more info, I am having this same issue for all of the right click operations/actions that I try to execute in the Azure view versus the Servers view. All of the options in the right click menu in the Azure view for a database don't work for me. Info for each action I've tried below:

1. **Manage** - works in Server view, does nothing from Azure view
2. **New query or New notebook** - wo

[2020-05-07 19:58] kburtram commented on #10240
@mrlife thanks for the suggestion!  This looks like mostly a duplicate of https://github.com/microsoft/azuredatastudio/issues/7005.  Please add any additional comments to that issue so we can track the request.

[2020-05-07 19:58] #10240 closed

[2020-05-07 20:07] kburtram commented on #10300
@ninarn we're in the process of redesigning the Azure view experience.  That refactoring should address this type of issue.

[2020-05-07 20:12] kburtram commented on #10269
We rely on vscode for basic editor functions.  Ideally this will be addressed upstream.  I'll close as a duplicate of microsoft/vscode#1012

[2020-05-07 20:12] #10269 closed

[2020-05-07 20:13] kburtram commented on #10284
I'm not seeing this in the insiders build or my dev environment.  Please reactive if you see this in an official build, otherwise, I suspect it's something with the local dev build.

[2020-05-07 20:13] #10284 closed

[2020-05-07 20:17] kburtram commented on #10258
@MusabEdriss from the bug message it looks like there is some missing data that was copied into the clipboard.  Please add that information to the bug if available, with a description of the problem and repro steps, ideally.

[2020-05-07 20:23] kburtram commented on #5891
Closing as fixed based on #10278.

[2020-05-07 20:23] #5891 closed

[2020-05-07 22:02] romeyinfc opened #10304 "Tried to open a connection that's being tunneled through SSH"
Issue Type: <b>Bug</b>

1. Opened  a connection to the tunneled connection using "Connections"
2. Opened a new file that tries to use that connection.
3. Received error.

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-30T00:16:35.943Z)
OS version: Windows_NT x64 10.0.19624

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2020-05-08 00:45] mrlife commented on #10240
Hi @kburtram This one is for duration of each step, which may be different than what is tracked by the other ticket... looks like it’s for the duration of an entire job.

[2020-05-08 00:49] qifahs opened #10308 "Connections widget: Need filtering to find the connection in a long list"
Issue Type: <b>Feature Request</b>

When there are a lot of connections in the Servers section of the Connections widget, we need filtering to identify the connection. When the connections require a scroll bar to display them, this is very useful.

![image](https://user-images.githubusercontent.com/7318752/81358272-e334db00-908a-11ea-9940-821db993c8b4.png)

In addition to just filtering on the clu

[2020-05-08 01:03] Charles-Gagnon commented on #10308
We already have a couple of issues that have the same request

https://github.com/microsoft/azuredatastudio/issues/6963
https://github.com/microsoft/azuredatastudio/issues/860

So I'm closing this one as a duplicate.

@qifahs Feel free to add the live site label to those if you think it'd be useful

[2020-05-08 01:03] #10308 closed

[2020-05-08 04:14] chlafreniere commented on #10290
@corivera you were looking at a bug in this area, correct?

[2020-05-08 05:42] kasbert commented on #2849
Disabling Settings / Application / Telemetry made a big difference for me.

[2020-05-08 09:01] jwatkin opened #10312 "Window hung, lost work"
- Azure Data Studio Version:
Version: 1.17.1
Commit: 814ce88c41e0daaca89afed8b184e795057a6f9d
Date: 2020-04-29T23:53:03.736Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 18.7.0

Steps to Reproduce:
My ADS window hung while I was editing a SQL notebook. As far as I can recall, no queries were running at the time. A dialog popped up

[2020-05-08 09:26] krypto639 opened #10313 "Importing date from csv seperating into 3 columns"

[2020-05-08 11:58] rohrerb opened #10314 "Azure AD Guest User Access (B2B) failes to Authenticate"
- Azure Data Studio Version: 1.17.1 (MAC OS)

Steps to Reproduce:

**Setup:**

1. Created a guest user in alternate AD Tenant AD.
2. Invited the guest user into the primary AD.
3. Ensure the Guest user accepted the invitation and configured MFA.
4. Created a AD Group in the primary AD tenant  called `Guest_Group_Test` and added the Guest User.
5. Ensure AD Integration is on with the Azure SQL Serv

[2020-05-08 12:59] mrlife commented on #7005
Per #10240, please also add the duration for each step in a job.

[2020-05-08 13:18] gbritton1 opened #10315 "script renders in red from line 2,as if inside a string literal"
Issue Type: <b>Bug</b>

This script

[code]
reders in red from line 2, as if it is inside a string literal, which it  is not.  It runs fine.

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-30T00:16:35.943Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CP

[2020-05-08 14:09] jwatkin commented on #10312
After rebooting my Mac, all of my missing tabs and my SQL notebook have been restored. I guess it would be OK to close this issue. Sorry I didn't think to reboot my Mac before reporting this issue.

[2020-05-08 14:18] Charles-Gagnon commented on #10315
Duplicate of #10208 - see that for a workaround to revert to older version of the language file.

[2020-05-08 14:18] #10315 closed

[2020-05-08 15:04] saumyasuhagiya opened #10316 "Memory grant required shows tables in congestion"
- Azure Data Studio Version:

Steps to Reproduce:

1. Connect to DW.
2. create more than 10 tables in SQL DW.
3. Right Click on left pane entry of DW.
4. Select the launch profiler.

<img width="855" alt="Screenshot 2020-05-08 at 8 20 24 PM" src="https://user-images.githubusercontent.com/2899428/81419030-38481e00-916b-11ea-98ca-1f95bc13367c.png">

[2020-05-08 15:04] Powderhound509 commented on #10023
I have confirmed that AAD with MFA does work from SSMS.  The behavior has
changed a little bit since I first submitted (see attached).  At this
point, I have authenticated my AZGov AAD account via the browser popup and
the Azure Data Studio is just spinning after acknowledging the errors in
the screenshot.

On Thu, May 7, 2020 at 12:00 PM Amir Omidi <notifications@github.com> wrote:

[2020-05-08 15:07] saumyasuhagiya commented on #9222
@kburtram Its basically, before we load the DB connection, it should validate if the connection is working or not.

[2020-05-08 15:37] saumyasuhagiya opened #10317 "Profiler not opening and showing error"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open any database connection.
2. Right click on that connection in left pane.
3. Select Launch profiler

<img width="504" alt="Screenshot 2020-05-08 at 9 04 28 PM" src="https://user-images.githubusercontent.com/2899428/81421891-d76f1480-916f-11ea-9c01-00be57bfd481.png">

[2020-05-08 16:12] abist commented on #10240
@mrlife I'll change the title to reflect that the duration is needed for step and job both.

[2020-05-08 16:17] abist opened #10318 "Marketplace screenshot for Agent not updated"
The screenshot in the marketplace for SQL Agent isn't updated with the new dashboard. Need to update the screenshot in the marketplace preview.

![96369849_774556196285426_5343348149865938944_n](https://user-images.githubusercontent.com/6411451/81425567-add0d180-910c-11ea-926f-f9260f5b4c76.png)

[2020-05-08 16:57] corivera commented on #10290
Should be fixed. Here's the original PR: https://github.com/microsoft/azuredatastudio/pull/10234

[2020-05-08 17:09] ronychatterjee opened #10319 "Notebook: White space around markdown cells"
Issue Type: <b>Feature Request</b>

Hi,

There seems to be lot of white spaces around the markdown cells. Is this by design?

![image](https://user-images.githubusercontent.com/22312581/81430238-f6d85400-9113-11ea-8786-827aa2d61d11.png)

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-30T00:16:35.943Z)
OS version: Windows_NT x64 10.0.18363

[2020-05-08 17:12] chlafreniere commented on #10319
Thanks for the issue, @ronychatterjee. This is a dupe of #10191, which has been fixed in master.

[2020-05-08 17:12] #10319 closed

[2020-05-08 17:15] alanrenmsft commented on #10317
@saumyasuhagiya what version of ADS are you using, stable or insider? do you see any error related to this in the console of developer tools window? (Help menu -> Toggle developer tools, and select the console tab).

also i noticed there are multiple pop ups in your screenshot, are they showing the same error?

[2020-05-08 17:16] chlafreniere opened #10320 "Notebooks Launched from Books Viewlet Open as JSON"
When I click on a notebook from the books viewlet from the Insiders build, the JSON representation of the notebooks opens instead of our notebook editor.

@MaddyDev can you take a look?

[2020-05-08 17:21] MaddyDev commented on #10320
Looking into it.

[2020-05-08 18:20] aaomidi commented on #10207
Hi! The latest insiders version should give you more information on why the authentication failed.

Could you please try that?

[2020-05-08 19:38] gbritton1 opened #10324 "Second run of a query hangs"
Issue Type: <b>Bug</b>

1. open a new query
2. type "select 42"
3. run the query
4. run it again -- hangs here.

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-30T00:16:35.943Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8650U CPU @ 1.90GHz (8 x 2112)|
|GPU

[2020-05-08 19:53] gbritton1 commented on #10324
This is new with the latest update of ADS, at least, new to me

On Fri, May 8, 2020 at 3:38 PM adsbot[bot] <notifications@github.com> wrote:

--
Gerald Britton, Pluralsight Author
LinkedIn Profile: http://ca.linkedin.com/in/geraldbritton
Pluralsight Courses: https://bit.ly/2WB2TdX <https://bit.ly/2WB2TdX>

[2020-05-08 20:04] capnsue opened #10325 "Provided Books is empty"
Issue Type: <b>Bug</b>

in ADS insiders, the "provided books" section is empty.  This is where the troubleshooting / deployment notebooks should be.  They do show up in my non-Insiders ADS for some reason.  How can I fix this?

Azure Data Studio version: azuredatastudio-insiders 1.18.0-insider (dac1970c4355d47bfb710e09a3791226c4b7c929, 2020-05-08T05:38:03.421Z)
OS version: Windows_NT x64 10.0.1439

[2020-05-08 22:24] DTronD commented on #9350
@aamidi , I didn't mean to imply the name change was an issue.  I was just mentioning it in case anybody else scripted the delete and then starts swearing when that token-delete workaround seems to no longer work.

Also, today I had to use my old friend SSMS and I want to tell you and everybody else working on ADS, THANK YOU!   Not disparaging SSMS (as it's been very good to me over the years).  B

[2020-05-08 23:21] gsogeek commented on #10209
This is a result of a windows update interacting with a Radeon GPU.

[2020-05-08 23:21] #10209 closed

[2020-05-08 23:49] #7400 closed

[2020-05-09 06:28] #10320 closed

[2020-05-09 21:02] irshad-bluecast commented on #2716
Any update on this?

[2020-05-09 22:49] themuniz opened #10331 "Add vi key bindings to query editor"
I would like to have (even basic) vi key bindings added to the query editor.

Currently I use:
1. Vim with dadbod (plugin)
2. VS code with sqlserver & vim extensions
3. msql-cli

However, none of them offer the advanced DB management functionality of Azure (thanks!). However, I find that I'm much slower and make more errors because of non-vi context switching.

Even very basic navigation and editi

[2020-05-11 03:41] hannahqin commented on #9402
This is also a duplicate of an upstream bug that was previously approved for exclusion: http://sqlbuvsts01:8080/Main/SQL%20Server/_workitems#_a=edit&id=11697790. It is already documented in our Conformance Document.

[2020-05-11 06:38] bbuic opened #10333 "Profiler error"
Issue Type: <b>Bug</b>

Hello,

when try to open azure data studio profiler a got error:

cannot set property "actionbarcontext" of undefined.

Call stack:

INFO Creating new connection connection:providerName:MSSQL|applicationName:azdata|authenticationType:SqlLogin|database:go2bike-db_test_azure|server:go2bike-sqlserver-test.database.windows.net|user:Go2BikeTest|databaseDisplayName:go2bike-db_tes

[2020-05-11 07:42] sanderstad opened #10334 "Git repository not being recognized"
Issue Type: <b>Bug</b>

Since version 1.18 I no longer have the ability to handle Git repositories in ADS.
It will tell me to initialize the repo if I want but the folder is already a repository

1. Update to version 1.18
2. Create a repository
3. Open the folder in Azure Data Studio using "Open Folder"

See image below how it looks. Left you see the Git repo not being recognized. The terminal sho

[2020-05-11 07:56] Stuart-Moore commented on #10334
Can replicate on MacOS

Same folder/rep is fine in the standard build

[2020-05-11 08:12] marcin-vt commented on #10207
@aaomidi sadly it did not give me more meaningful error messages (maybe you can get more out of it):
- device code method (fails straight after clicking add account): [device_code_errm.log](https://github.com/microsoft/azuredatastudio/files/4608285/device_code_errm.log)
- code grant method (fails after logging in browser with my AD user): [code_grant_errm.log](https://github.com/microsoft/azuredat

[2020-05-11 12:32] Ravi5ingh opened #10335 "Copy does not work"
Issue Type: <b>Bug</b>

1. Query any data with Azure Data Studio

2. Try and copy all of part of the results. For eg: a row, a cell, a colum, a subset of data (Ctrl + C or right-click and copy)

3. Sometimes it copies correct, sometimes, it doesn't copy at all, sometimes it copies the wrong field. The issue is not predictable.

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89

[2020-05-11 14:27] kburtram commented on #10333
@bbuic thanks for reporting this issue.  This appears to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/10282.  There is a fix in the latest insider build, or a workaround is to close all the broken editor windows the profiler is leaving behind.  The easiest way to do this is to either open a folder or close the currently open folder, which will reset the hotexit editor wind

[2020-05-11 14:27] #10333 closed

[2020-05-11 14:54] kburtram commented on #10334
I can also repro this.  Maybe we had a break in a recent vscode merge.

[2020-05-11 14:57] kburtram commented on #9927
I'll close this as the issue appears to be external to ADS from the available information.  Please let me know if you've verified network connectivity to the SQL Server from the client machine and are still encountering this issue.  Typical causes could be router\network configuration, DNS issues, or the TCP port is turn-off on the server, for example.

[2020-05-11 14:57] #9927 closed

[2020-05-11 15:00] kburtram commented on #10304
@romeyinfc do you know what error you received?  Have you been able to verify the tunnel is generally working, perhaps by validating with a different application such as SQLCMD?

[2020-05-11 15:05] kburtram commented on #10258
Closing since the issue doesn't contain sufficient information to investigate.  Please let us know if you have additional information regarding this exception.

[2020-05-11 15:05] #10258 closed

[2020-05-11 15:06] kburtram commented on #10314
@aaomidi do you have any context on this scenario?

[2020-05-11 15:08] kburtram commented on #10335
This looks a lot like https://github.com/microsoft/azuredatastudio/issues/1388.  Which was recently closed as no repro.  I'll move this one into the next milestone for further investigation.

[2020-05-11 15:13] kburtram commented on #10331
@themuniz as a workaround, you can install vscode extensions into azure data studio.  To do so you first need to download the VSIX from the vscode marketplace (e.g. https://marketplace.visualstudio.com/items?itemName=vscodevim.vim Download Extension link on the right navbar).  Then use the `Install extension from VSIX package` command in the the file menu.

[2020-05-11 15:14] kburtram commented on #10313
@krypto639 could you please provide a sample of the input and expected output for this scenario?  Specifically how are the date pieces being separated in the input.  Thanks!

[2020-05-11 15:19] romeyinfc commented on #10304
@kburtram the error popped up after connecting to the database. To be honest, it looked like a false-positive because I was still able to connect and do everything I needed to do. However, the error kept persisting.

[2020-05-11 15:27] kburtram commented on #10324
@gbritton1 I wasn't able to repro this issue using the provided steps on 1.17.1.  Do you know if there is any additional information that may be helpful to diagnosis the problem?

[2020-05-11 15:39] kburtram commented on #9832
@aaomidi do you know the status of this task with regards to the May release?

[2020-05-11 15:44] kburtram commented on #10021
I'm going to move to the postgres project repo since bugs are tracked separately for that component.  Thanks for reporting this issue.

[2020-05-11 15:49] #9033 closed

[2020-05-11 16:39] aaomidi commented on #10314
I don't, the only thing I could think of is if the wrong account is selected.

I'll try to investigate this some more.

[2020-05-11 16:53] aaomidi commented on #9832
I haven't added any of the other national clouds yet. Just the US govt one.

[2020-05-11 17:43] igakigongo opened #10337 "Connecting to remote SQL Server from Ubuntu 20.04"
Issue Type: <b>Bug</b>

Previously it worked on Ubuntu 18.04, but after upgrading to 20.04 and installing Azure Data Studio, it does not even load the databases after I add the IP address of the server and the credentials.

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-29T23:48:52.060Z)
OS version: Linux x64 5.4.0-29-generic

<details>
<summar

[2020-05-11 17:50] #10185 closed

[2020-05-11 17:57] llali opened #10338 "ML - add radio button for selecting existing table for model or create new one"
- Azure Data Studio Version:

Add a radio button to ML import model table page so it's clear for user to choose existing table or create new one

[2020-05-11 17:58] llali opened #10339 "ML - Updating document links in dashboard"
- Azure Data Studio Version:

Updating the document links on ML dashboard

[2020-05-11 18:01] llali opened #10340 "ML- RUNTIME parameter added to PREDICT TSQL"
- Azure Data Studio Version:

Update the Predict TSQL adding Runtime parameter

[2020-05-11 18:01] llali opened #10341 "ML- update extension readme and other documents"
- Azure Data Studio Version:

update ML extension readme and other documents

[2020-05-11 18:07] #9940 closed

[2020-05-11 18:13] kburtram commented on #9757
@ecolin100 the BAK files are loaded and saved to the server machine, so the /var folder would be on the server, which in this case may be a docker image.  You can access it by using the `docker cp` command to copy files out of the container, or if it's a Linux server you can likely get the BAK file with sftp.

The exclusive lock issue is because some other session is holding a lock on the DB.  Som

[2020-05-11 20:02] #9717 closed

[2020-05-11 20:58] aaomidi commented on #10268
I'll have to push this issue back since there are some other azure login issues right now.

[2020-05-11 20:59] chlafreniere commented on #10065
This has since been fixed. Closing as dupe.

[2020-05-11 20:59] #10065 closed

[2020-05-11 20:59] chlafreniere commented on #10027
Fixed by #10055.

[2020-05-11 20:59] #10027 closed

[2020-05-11 21:00] #10207 closed

[2020-05-11 21:05] aaomidi commented on #10137
I'll close this in favor of #10314 to track the azure auth issues there.

[2020-05-11 21:05] #10137 closed

[2020-05-11 21:47] aaomidi commented on #9832
@yualan @kburtram has there been an ask for govt clouds of other regions? If not I think we can keep this in the backlog and start tracking when there is an ask.

[2020-05-11 21:50] aaomidi commented on #10291
Fixed by https://github.com/microsoft/vscode/commit/635fc326c9d98ddafeb7e0c847af87c78f096178

[2020-05-11 21:50] #10291 closed

[2020-05-11 22:23] #9965 closed

[2020-05-11 22:46] chlafreniere commented on #9378
Can move this into a milestone when this work is planned.

[2020-05-11 22:58] aaomidi commented on #10334
This seems to be fixed in master now.

[2020-05-11 22:58] aaomidi opened #10347 "Azure Data Studio Welcome page scrollbar is larger than the content"
Easier to see than explain:

[Scrolling.zip](https://github.com/microsoft/azuredatastudio/files/4612463/Scrolling.zip)

(The file is a mp4 since gif reduces the quality a lot)

[2020-05-12 00:29] #10338 closed

[2020-05-12 02:27] swilkodev commented on #10314
I'm encountering the same issue today as #10207 on Windows. I've tried 1.17.1 and the insiders build but still the issue persists. Below is the console log.

c:\Program Files\Azure Data Studio - Insiders\resources\app\node_modules.asar\zone.js\dist\zone-node.js:2280 Retrieving the Azure token failed. Please sign in again.
console.<computed> @ c:\Program Files\Azure Data Studio - Insiders\resources

[2020-05-12 06:27] MsSQLGirl opened #10351 "Notebooks have too much white space between cells"
- Azure Data Studio Version:
Version: 1.17.1 (user setup)
Commit: 814ce88c41e0daaca89afed8b184e795057a6f9d
Date: 2020-04-30T00:16:35.943Z
VS Code: 1.42.0
Electron: 7.1.11
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Create a new notebook
2. Create a text cell, a code cell and a text cell.
You will see a lot of white spaces

[2020-05-12 08:12] smartguest commented on #1339
Fixed by PR #10214

[2020-05-12 08:12] #1339 closed

[2020-05-12 09:00] ransagy opened #10352 "Query lost after login token expiry"
Issue Type: <b>Bug</b>

I was working on two query windows, each connected to a different Azure SQL server instance.
One of those servers was maintained over night and thus my login to it expired. ADS didn't detect this but when i try to run a query in that open window, I got the "login token expired" message once, and then nothing worked.

When i went to disconnect/reconnect from the Connections

[2020-05-12 10:18] sanderstad commented on #10334
Thanks! As soon as the insiders edition gets released I'll test the changes

[2020-05-12 15:43] Charles-Gagnon commented on #10352
Note in your case you may need to go up a directory from the logs folder and find the log corresponding to the time that this happened.

If this happens again in the future please capture the error message though - anything we can get to give us a clue what might have happened here would be helpful.

[2020-05-12 15:44] llali opened #10353 "ML - Set default value for Python executable to ADS Python location"
- Azure Data Studio Version:

The default value for Python executable used in ML extension is "Python". User has to setup the location first time using the extension. Setting the default value to ADS Python location might be a better experience for the user.

[2020-05-12 15:55] Charles-Gagnon commented on #10351
Likely duplicate of https://github.com/microsoft/azuredatastudio/issues/10191 - should be fixed in master/insiders.

[2020-05-12 15:55] #10351 closed

[2020-05-12 15:57] MsSQLGirl commented on #10351
Confirmed. It is a duplicate of #10191.

[2020-05-12 16:42] ransagy commented on #10352
I think i dismissed the message because it seemed very generic; akin to object-ref-null messages on some property. Obviously, I'll be more careful next time :)

Only the renderer1.log file seemed to have any real content in it, here it is after i removed actual URLs/emails:

[code]

[2020-05-12 16:47] abist opened #10354 "May 2020 Endgame"
# May 2020 - Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.18

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

## Extensions Testing

Install the latest build of ADS from the link above.

#### VSIX

[2020-05-12 18:14] kisantia commented on #9217
first fix didn't work, so now targeting to get this fixed for June release.

[2020-05-12 18:16] kisantia commented on #9522
first fix didn't work, so now targeting to get this fixed for June release.

[2020-05-12 18:19] kisantia commented on #9802
@Dvnoten The new DacFx bits might not be in the SSDT yet, which is why the DABO permission is still there. Would you be able to share the dacpacs of the databases so we can debug this?

[2020-05-12 18:47] Charles-Gagnon opened #10357 "ModelView Radio Buttons checked property isn't updated when button is deselected"
The RadioButtonComponent isn't getting its properties updated on the extension side if deselected because another button in the named group was selected.

This is mostly due to the fact that radio button inputs don't get notified through the change event when deselected - so there's no easy way to hook into this. A possible fix is to keep a map of all radio buttons in each group and when one is up

[2020-05-12 19:23] MaddyDev commented on #9704
@way0utwest are you still facing this issue?

[2020-05-12 19:28] MaddyDev commented on #10193
This is introduced from March since vscode made changes on save behavior for untitled files with associated file path (related vscode issue: https://github.com/Microsoft/vscode/issues/67946)

[2020-05-12 19:31] chlafreniere commented on #9775
This has been fixed by #9776.

[2020-05-12 19:31] #9775 closed

[2020-05-12 19:32] chlafreniere commented on #9912
Assigning to @gupta1 to work with kqlmagic folks on the index issue. Feel free to move into a milestone when we have an ack that this can be done from the kqlmagic side.

[2020-05-12 19:33] chlafreniere commented on #9913
This has since been fixed with kqlmagic giving data in the dataresource MIME type.

[2020-05-12 19:33] #9913 closed

[2020-05-12 19:45] ninken commented on #8052
When you have a 100 databases then you need redgate search. Just sayin.   I left this  tool, it has some likes when it comes to other databases and cloud, but clearly it's UI focus. Some simple  and basic task are not a right click away, or searching within the database you are currently dealing with.  Sorry but SSMS is king when it comes to MSSQL. Maybe I'll use this on other projects, but not le

[2020-05-12 19:46] way0utwest commented on #9704
@MaddyDev Got a new machine, and haven't tried again in a month or so, but I will give it another try and see how smooth this is. The new machine only has Python 3.8, so that might make things easier.

[2020-05-12 19:50] llali opened #10359 "ML - Generating predict script should open SQL doc and run the query"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Predict Wizard and go through the steps
2. Generate the predict script

Expected: should open the SQL editor and run the query
Actual: and editor is opened but it's not SQL. Clicking on the editor opens a SQL editor which is not connected

[2020-05-12 19:58] kburtram commented on #10334
This should be fixed in today's insider build.  Thanks for reporting!

[2020-05-12 20:05] corivera opened #10360 "Uncheck unselected radio buttons in Configure Python wizard"
When clicking on the Installation Type radio buttons in the Configure Python wizard, the visual button state changes correctly, but the "checked" state in the backing RadioButtonComponent doesn't update. The checked state gets set to true, but never gets set to false. Thus the impact here is that the user is locked into the installation type initially selected in the wizard, and trying to change t

[2020-05-12 20:15] chlafreniere commented on #9699
If the dotnet kernel is installed, users can leverage the dotnet kernel in 2 ways, if the following setting is checked:

![image](https://user-images.githubusercontent.com/40371649/81740848-776bbd00-9452-11ea-9ab4-2dec79b41991.png)

- If users open a previously saved dotnet kernel notebook, ADS should be able to load these kernels
- If users go to new notebook, the dotnet kernels won't show up unt

[2020-05-12 20:37] kburtram commented on #10360
Approved in shiproom

[2020-05-12 20:42] chlafreniere commented on #9828
This is an upstream issue for vscode. Doesn't work on markdown files themselves. Will create new issue there.

[2020-05-12 20:44] #10290 closed

[2020-05-12 20:47] #10100 closed

[2020-05-12 21:53] aaomidi commented on #10298
Closing in favor of #10314

[2020-05-12 21:53] #10298 closed

[2020-05-12 22:00] aaomidi commented on #10108
This should be resolved and I think we have a new SqlToolsService version in release.

[2020-05-12 22:00] #10108 closed

[2020-05-12 22:02] Charles-Gagnon opened #10363 "Port #10362 - Enable Script as Create for SqlOnDemand"
https://github.com/microsoft/azuredatastudio/pull/10362

Exposing the command in the UI, as it's already supported by STS/SMO.

[2020-05-12 22:29] gjpsiqueira commented on #3594
I Having the same issue. To resolve, I having than open a tab 'new query' to run the query and reconnecting to database. That's much frustrating.
There's no nothing to resolve this problem ?

[2020-05-12 22:47] JustinMDotNet opened #10366 "Server connections shows caret when there are no children"
- Azure Data Studio Version: 1.18

Steps to Reproduce:

1. Connect to any Sql Server or Kusto Cluster
2. Open any object in the tree view with no children
3. Notice the caret is still visible to be clicked (see screenshot)

Sql Server
![image](https://user-images.githubusercontent.com/63619224/81753081-df78ce00-9467-11ea-9dd3-c084a12a9608.png)

Kusto
![image](https://user-images.githubusercontent.

[2020-05-12 22:47] anthonydresser opened #10367 "Failing pipelines"
Pipelines are failing.

[2020-05-13 00:09] carlosal1015 commented on #2716
On Arch Linux, open ADS, first from Extensions (Ctrl + Shift + X) install SQL Server Import. Close ADS. Then:

[code]
Open again ADS, and may works Import Wizard.

Cheers.

[2020-05-13 03:26] aaomidi commented on #10314
Hi to all in this thread, we have a new insiders build with more error messages.

The error messages have been enhanced both when signing in to Azure, and when logging into a server with Azure MFA. Could you please try both scenarios, and post your Developer tool logs and other logs in this issue.

Thank you!

[2020-05-13 03:27] aaomidi commented on #10207
https://github.com/microsoft/azuredatastudio/issues/10314#issuecomment-627722312