[2021-01-27 23:32] Charles-Gagnon opened #14078 "Deploying instance from Arc controller dashboard doesn't select correct controller"
When deploying a MIAA/PG instance onto an Arc controller from the dashboard it opens up the wizard but doesn't set the context to the controller - which means that unless the controller just happens to be the first in the list then it's very easy to accidently have the wrong one selected and not realize it.

[2021-01-28 00:06] chlafreniere commented on #14056
This is being tracked by #9237. Closing this as dupe.

[2021-01-28 00:06] #14056 closed

[2021-01-28 00:06] #13674 closed

[2021-01-28 00:21] MaddyDev commented on #14018
@radentonev @yualan I have a fix that highlights the correct term one by one instead of highlight all results and then use different highlight color for the current one. Do you think there is added value to the latter way? (It's relatively easy for me to make that change as well) So asking for your opinions here.
Also @chlafreniere  your thoughts as well?

[2021-01-28 00:33] jekon29 opened #14081 "You must enable preview features in order to use restore"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2021-01-28 00:45] nasc17 opened #14082 "Deleting all Azure Arc Resources and refreshing Controller Dashboard causes inaccurate table"
When verifying that ADS could update appropriately after deleting an instance, it was discovered that the Controller Dashboard does not refresh properly to show a newly emptied list of Azure Arc Resources. ADS progress notification gave the message that the postgres instance has been deleted. Refreshing the dashboard shows that the Azure Arc Resources table did not remove the deleted instance and

[2021-01-28 00:45] #14066 closed

[2021-01-28 01:23] chlafreniere commented on #13772
@VasuBhog  can you still repro this?

[2021-01-28 01:25] chlafreniere commented on #13133
Closing this as we need more info.

[2021-01-28 01:25] #13133 closed

[2021-01-28 01:25] kisantia opened #14085 "Projects new project and open existing icons aren't in the view title anymore"
expected:
![image](https://user-images.githubusercontent.com/31145923/106076518-8c61ac80-60c4-11eb-8603-fc87b4a1b684.png)

actual:
![image](https://user-images.githubusercontent.com/31145923/106076534-9388ba80-60c4-11eb-9471-0fd9cc49d3cc.png)

[2021-01-28 01:29] chlafreniere commented on #7910
Can no longer repro. This has been fixed (likely as part of dashboard redesign)

[2021-01-28 01:29] #7910 closed

[2021-01-28 02:41] BrentOzar commented on #4404
If it helps, here's my use case: I do a lot of public & private training classes that focus on performance tuning, and the first step in query tuning is query plans.

Notebook support for query plans is the one thing holding me back from using Azure Data Studio in *all* of my training classes, all of 'em, full stop. If I had query plans - even just the current html-query-plan implementation is fin

[2021-01-28 03:00] codykonior commented on #14067
Hi, I haven't been able to find any way to get to a package manager. It doesn't show in the fast > menu, it's not on the sidebar, it's not in the title bar menus. I also Google'd azure data studio and "package manager" and nothing came up.

[2021-01-28 03:03] codykonior commented on #14067
Found it! 0.1.4.

[2021-01-28 05:23] malcolm738 commented on #14075
I think is is the cross platform build issue I had
Using the reference - https://github.com/rr-wfm/MSBuild.Sdk.SqlProj
I updated to add Sdk ref to the .sqlproj file and "MSBuild.Sdk.SqlProj/1.10.0" works for me
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0" Sdk="MSBuild.Sdk.SqlProj/1.10.0">

Tests as build ADS build on windows
Also wi

[2021-01-28 05:25] alanrenmsft commented on #13652
Turns out this is caused by the Backup Growth Trend, it is returning over 2000 data points and for some reason ChartJS is not able to handle it properly.

![image](https://user-images.githubusercontent.com/13777222/106093959-153d1000-60e6-11eb-9811-963cbcafc10b.png)

[2021-01-28 08:33] federicoaguirre1 commented on #14044
Hello Alan, sorry for the late reply.

I have got a .sql file on my local git repository folder
[image: image.png]

then, I try to open it with azure data studio
[image: image.png]
and I get this error (I cannot use that file in azure data studio, it does
not allow me to run the query, or connect with any db, nothing, what I need
to do is to copy and paste the sql code into another new window)
[im

[2021-01-28 08:39] malcolm738 commented on #14075
Just double checked and with the following updates to the sqlproj file i can build from ADS on windows
and with dotnet build once code shipped into ubuntu 18.04 container

Added Sdk ref, TargetFramework and SqlServerVersion
Also updated the Import of .targets to check '$(NetCoreBuild)'
is 'true'
or is not 'true' and not '' (empty)

< !-- File updates applied based on https://github.com/rr-wfm/MSBu

[2021-01-28 16:38] alanrenmsft commented on #14044
@federicoaguirre1 Thanks for reply, I am not able see the images you sent, I am afraid you have to open github and attach images:

![image](https://user-images.githubusercontent.com/13777222/106169378-2a488c00-6144-11eb-8f2f-64761b0936e4.png)

[2021-01-28 16:50] barbaravaldez opened #14091 "Throw an error if the book toc is not compliant with the Jupyter Book version"
Using the toc.yml field values for the legacy version of Jupyter Books while using the folder structure of the newest version does not throw an error. It loads the book, but the notebooks do not work.

When identifying the version, scan the toc.yml as well.

- Azure Data Studio Version:
Version: 1.25.1
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98
Date: 2020-12-11T01:57:41.946Z
VS Code: 1.48.0

[2021-01-28 17:00] #13555 closed

[2021-01-28 17:56] bergeron opened #14092 "Error in Arc deployment notebooks - undefined variables"
@nasc17 and I are getting this error in the deployment notebooks for SQL MI and Postgres on Arc.

- ... -> New Deployment
- Choose Azure SQL MI Arc or Postgres Hyperscale Arc
- Fill in options
- Click deploy

![image](https://user-images.githubusercontent.com/3500406/106178626-dbecba80-614e-11eb-90b0-e3cc0013cf53.png)

If I comment out the offending line, controller_kubectl_context is not defined

[2021-01-28 18:15] #14085 closed

[2021-01-28 18:37] alanrenmsft commented on #14048
@Charles-Gagnon could you please put this in a milestone?

[2021-01-28 18:44] kisantia commented on #6189
closing as by design. As mentioned above, dbo isn't always a user's default schema, so the current behavior makes sense.

[2021-01-28 18:44] #6189 closed

[2021-01-28 19:18] UgmaDevelopment commented on #3631
I came here looking for a setting to turn on to allow me to scroll through multiple result panes without stopping at the bottom of the current one, but am I correct in assuming that this is a bug, not a feature?

Thanks for all your efforts! Let me know if I can lend a hand.

[2021-01-28 19:50] federicoaguirre1 commented on #14044
![image](https://user-images.githubusercontent.com/70523193/106190819-13388700-61a2-11eb-8202-aac7b57081a9.png)
![image (2)](https://user-images.githubusercontent.com/70523193/106190820-13d11d80-61a2-11eb-93df-c5482c7ae679.png)
![image (1)](https://user-images.githubusercontent.com/70523193/106190826-15024a80-61a2-11eb-8264-401fed17ce17.png)

[2021-01-28 19:57] kisantia commented on #14075
looks similar to the problem in #13409.

@MHacker9404 the targets file gets copied from SqlToolsService during the first build using ADS, so that needs to be done before command line build will work.

[2021-01-28 20:05] Charles-Gagnon commented on #14044
This is a similar issue to https://github.com/microsoft/azuredatastudio/issues/10259. I'm not sure if the PR that fixes the Notebook issue will also fix this though so leaving this one open for the time being.

@pensivebrian If you get a chance could you test out this scenario with your fix to see if it also resolves this one?

[2021-01-28 20:11] pensivebrian commented on #14044
My fix is for notebooks only - I still need to figure out an automated test for that.

For the .sql editor, we have to make a fix in the sqltoolsservice.

[2021-01-28 20:21] MHacker9404 opened #14094 "Error creating Ubuntu 20 build container"
- Azure Data Studio Version: 1.25.2

Steps to Reproduce:

1. Using mcr.microsoft.com/dotnet/sdk:latest as base image
2. wget -nv -O azuredatastudio.deb "https://go.microsoft.com/fwlink/?linkid=2151506"
3. dpkg -i azuredatastudio.deb
4. azuredatastudio --install-extension microsoft.admin-pack --user-data-dir='.'

results in:
`/usr/share/azuredatastudio/bin/../azuredatastudio: error while loading sh

[2021-01-28 21:23] #13652 closed

[2021-01-28 22:43] chlafreniere commented on #13837
@VasuBhog can you still repro?

[2021-01-28 22:45] chlafreniere commented on #7557
Tried reproing this bug again but was unable to. There have been so many changes in this area in the past year+ that it may have been fixed by now. If you see this again @vickyharp please feel free to reopen and we'll do our best to get to the bottom of it.

[2021-01-28 22:45] #7557 closed

[2021-01-28 22:49] chlafreniere commented on #11799
Moving to dashboard, since the screenshot doesn't show anything notebook related.

[2021-01-29 00:02] vasubhog1 commented on #13837
I can not repro on current Mac insiders. However, I do see it still happening on the first click of cancel on Windows. If a user clicks `cancel` twice on windows then it will close (workaround).

[2021-01-29 03:08] malcolm738 commented on #14075
@MHacker9404 yes chicken and egg, the hack's I made to get working for me provide the farmer (build engine) clues on where the hen house (.target files) so they can collect eggs from their chickens
I believe the updates help the command line build for net core (5 in my case) to do the build without the need for Visual Studio, VSCode or ADS to be installed.
However the hack needs to be validated an

[2021-01-29 07:44] dipakyadav opened #14105 "Support connecting and querying MySQL Server/Database"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2021-01-29 09:28] keepsimple opened #14106 "Can't close a query document tab after file compare"
Issue Type: <b>Bug</b>

It's impossible to close a query documente tab after file compare.
Step di reproduce:
1- Open ADS
2-Create a new query (CTRL+N). Name will be "SQLQuery_1"
3- Write "SELECT NULL"
4-Create a new query (CTRL+N). Name will be "SQLQuery_2"
5-Write "SELECT NULL" on SQLQuery_2
6-Focus on "SQLQuery_1" e select "Compare active file with..."
7-Select "SQLQuery_2"
8-Close "compare tab

[2021-01-29 10:11] VikAga opened #14107 "Schema Compare Failed:Unknown error while trying to Compare SQL Datawarehouse and dacpac file using Schema Compare extension"
- Azure Data Studio Version:1.25.2

Steps to Reproduce:

1.In schema Compare extension, select a SQL Datwarehouse as source  and a dacpac file as target and try to compare.

![Capture](https://user-images.githubusercontent.com/78205980/106262003-f8890100-61e7-11eb-88ad-0ea08795fe25.PNG)

[2021-01-29 14:17] empz opened #14108 "Can't signin with Azure AD"
Issue Type: <b>Bug</b>

After signin in with Azure AD I can't see anything. When trying to switch the subscription I get the following error:

Azure Data Studio version: azuredatastudio 1.25.2 (4d4917d328ab7a7526817a0f0ef03237a79aa54d, 2021-01-20T22:52:13.492Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H C

[2021-01-29 14:36] Saancreed commented on #13969
I'm facing the same issue on my machine, complete with Azure viewlet staying at `Loading …`. Disabling all external extensions and waiting for up to 10 minutes does not help. Fwiw, system keychain integration is disabled.

My extensions:
[code]

Some info from About dialog:
[code]

Logs (`console.log` is included in the zip file): [20210129T151946.zip](https://github.com/microsoft/azuredatastudio/

[2021-01-29 17:35] roysumanjit commented on #8543
@abist how was this issues resolved. I have the same issue on my Azure Data Studio v 1.25.2

[2021-01-29 17:36] alanrenmsft commented on #14094
@MHacker9404 are you able to start azuredatastudio? I am trying to understand whether the error is related to install-extension.

[2021-01-29 17:38] alanrenmsft commented on #14105
close as dupe of #4904

[2021-01-29 17:38] #14105 closed

[2021-01-29 17:40] MHacker9404 commented on #14094
Within the ubuntu container that I'm trying to create? Trying to manually run ADS gives me the same exact error as above.
All I'm trying to do is a create a custom image that can be used for my build processes - I don't need to run ADS in an interactive mode in the container.  That's on my desktops...

[2021-01-29 17:48] alanrenmsft commented on #14094
thanks, in that case it is not related to install extension, I will put it under the correct area path.
A couple more questions:
1. Did this ever work before?
2. since you said you don't need to run ADS in interactive mode, I am curious how are you planning to use the custom image with azuredatastudio?

[2021-01-29 17:54] MHacker9404 commented on #14094
So this works with the AWS CodeBuild Ubuntu image to build an sqlproj as part of the buildspec.yaml.  But there were intermittent failures on loading the extensions, which is why I'm going down the road with the custom-image, so everything is already installed.  (Plus - it speeds up build times).
The interactive sessions woud be my developers using ADS on their local workstations....I just need th

[2021-01-29 17:56] alanrenmsft opened #14109 "resource deployment: the loading required tools information never returns"
the resource type doesn't require any tool but i am seeing an infinite loading tool information here.
![image](https://user-images.githubusercontent.com/13777222/106310114-f048ba00-6217-11eb-8850-96108e43fd22.png)

[2021-01-29 17:59] alanrenmsft commented on #14109
actually, it is not only for the sql on windows, I am using sql server container image, it is also not returning for it.

![image](https://user-images.githubusercontent.com/13777222/106310583-a01e2780-6218-11eb-8e53-2268b0579a53.png)

[2021-01-29 18:06] alanrenmsft commented on #14094
If you only need the build capability you might not need ads.
@udeeshagautam @kisantia what is the easiest way to build a .sqlproj on Linux?

[2021-01-29 18:10] MHacker9404 commented on #14094
I wish - I've tried the [MSBuild.Sdk](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj), but having issues with the master.dacpac reference - which I need for a view in my database.
ADS builds the whole thing fine - but the buildspec is not stable enough - so I go the custom image route 😄

[2021-01-29 18:29] aasimkhan30 opened #14112 "Install Tools Button is always visible in Resource Deployment Wizard"
![image](https://user-images.githubusercontent.com/6816294/106313273-c8a82080-621c-11eb-8619-03274e4e1a03.png)

[2021-01-29 18:33] hashik4d commented on #13950
![image](https://user-images.githubusercontent.com/14106111/106313543-019cc100-622e-11eb-960a-a24ee39d3c34.png)

It shows the above message but it never load the accounts. Let look like below.
![image](https://user-images.githubusercontent.com/14106111/106313614-1a0cdb80-622e-11eb-8ddd-ff093860b62d.png)
Even if i enable the clouds and restart the app its still says the same

[2021-01-29 19:07] Charles-Gagnon commented on #14092
This is probably caused by insiders being ahead of the current extension version in the marketplace - I updated the extension and no longer get this error. @bergeron @nasc17 Could you update to the latest version and give it a shot?

[2021-01-29 19:08] #14082 closed

[2021-01-29 19:16] udeeshagautam commented on #14107
@VikAga thanks for reporting this issue. We have some followup questions that would help use debug this better,
1. Can you please confirm if this is happenieng for a specific DW database or all DW databases for you. If this happeneing for a specific database would it be possible for you to share a sample dacpac/model file for us.
2. Can you please open the Dev Console in ADS (Help --> Toggel Devel

[2021-01-29 19:19] udeeshagautam commented on #13398
Closing the issue as per above confirmation. Please reactivate if you face this again.

[2021-01-29 19:19] #13398 closed

[2021-01-29 19:21] udeeshagautam commented on #13331
@kakins please let us know if you are still facing this issue. Thanks!

[2021-01-29 19:22] nasc17 commented on #14092
Updating the extensions and did not see the error.

[2021-01-29 19:31] joberume commented on #13969
@MsSQLGirl , can we get this triaged again? It seems to be a broader issue

[2021-01-29 19:34] #14109 closed

[2021-01-29 19:47] kakins commented on #13331
Sorry for the delay!  I downloaded the latest version and it appears to work now, thanks!

[2021-01-29 19:47] #13331 closed

[2021-01-29 20:05] kburtram commented on #14108
@ChrisSun-ms any ideas how we could troubleshoot this issue?

@empz is there a link to refresh the account credentials in the Accounts Dialog?  It sounds like there may be some invalid cached state for this account.  Was this the first time you tried adding this account?

[2021-01-29 20:20] kburtram commented on #14094
@MHacker9404 you may look at how we create our Linux Integration Test images https://github.com/microsoft/azuredatastudio/blob/main/build/azure-pipelines/linux/Dockerfile.  This has some `apt install` commands and the xvfb config steps to run ADS headless.

[2021-01-29 20:21] kburtram commented on #14081
@jekon29 thanks for reporting this issue.  Currently the Restore feature is still in preview, so this is the expected behavior.  We are planning the remaining work to move this feature out of preview.

[2021-01-29 20:21] #14081 closed

[2021-01-29 20:22] MHacker9404 commented on #14094
Will do - thank you muchly....

[2021-01-29 20:22] kburtram commented on #14072
@aasimkhan30 could you try to determine what is happening here?

[2021-01-29 20:27] bergeron commented on #14092
I updated the extensions and no longer get the error.  I'll close the bug.

[2021-01-29 20:28] #14092 closed

[2021-01-29 20:41] aasimkhan30 commented on #14072
@ckas28, You seem to be using a very old version of Azure Data Studio. Can you please update your ADS to the latest version?

[2021-01-29 21:24] barbaravaldez opened #14116 "Close jupyter notebook command does not work in notebooks within a book."
The close jupyter notebook command does not work in notebooks within a book.
- Azure Data Studio Version:
Version: 1.25.2
Commit: 4d4917d328ab7a7526817a0f0ef03237a79aa54d
Date: 2021-01-20T22:47:41.882Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.2.0
Steps to Reproduce:

1. Open a book, right click "Close Jupyter Notebook".
2. I

[2021-01-29 21:34] chlafreniere commented on #7613
Chatted with @llali offline and confirmed that she hasn't seen this recently. Therefore, closing this issue.

[2021-01-29 21:34] #7613 closed

[2021-01-29 21:35] Charles-Gagnon commented on #13699
@dnethi I just updated the insiders extension version, I'm going to close this since I haven't seen it and if you see this issue again let me know

[2021-01-29 21:35] #13699 closed

[2021-01-29 21:35] chlafreniere commented on #14116
@barbaravaldez can I assume that this isn't new behavior?

[2021-01-29 21:46] barbaravaldez commented on #14116
It's not new.

[2021-01-29 22:10] empz commented on #14108
Tried refreshing, removing and re-adding the account. Used to work a while
ago, but haven't used it for a while. Now it won't no matter what I try.

On Fri, 29 Jan 2021 at 21:05, Karl Burtram <notifications@github.com> wrote:

[2021-01-29 22:12] #13053 closed

[2021-01-29 22:12] Charles-Gagnon commented on #13085
Haven't seen this so assuming it's been fixed by now

[2021-01-29 22:12] #13085 closed

[2021-01-29 22:13] #12832 closed

[2021-01-29 22:13] cssuh commented on #14108
https://github.com/microsoft/azuredatastudio/issues/12637#issuecomment-754116948
can you please try this method of re-adding your account?

[2021-01-29 22:15] Charles-Gagnon commented on #12599
This has been fixed

[2021-01-29 22:15] #12599 closed

[2021-01-29 22:16] Charles-Gagnon commented on #12561
Haven't seen this in a while so closing until we see it again

[2021-01-29 22:16] #12561 closed

[2021-01-29 22:18] Charles-Gagnon commented on #12664
Duplicate of https://github.com/microsoft/azuredatastudio/issues/14078

[2021-01-29 22:18] #12664 closed

[2021-01-29 22:50] Benjin opened #14118 "Replace data dev extension Errors with typed errors for better GDPR-safe errors in telemetry"
Better system for extracting GDPR-safe information from errors for use in telemetry

[2021-01-29 23:02] dzsquared commented on #14094
@MHacker9404 - if you're looking to build a sqlproj from Linux, you may find this info helpful: https://docs.microsoft.com/sql/azure-data-studio/extensions/sql-database-project-extension-build-from-command-line
It lays out which files to grab from an ADS install to build from the command line - only prerequisite then is the .NET Core SDK.

[2021-01-30 00:27] #13553 closed

[2021-01-30 00:28] empz commented on #14108
I actually just had to do a clean install of Windows for other reasons and I can no longer reproduce this issue.
It's working fine. Closing.

[2021-01-30 00:28] #14108 closed

[2021-01-30 00:42] #14112 closed

[2021-01-30 01:41] kisantia commented on #13973
We will need to do more investigation to get this working. Initial thoughts are that this feature needs a re-design for .net core

[2021-01-30 08:51] tcbjc opened #14121 "Can't login in Azure China"
- Azure Data Studio Version: 1.25.2 for Windows

Steps to Reproduce:
1. Setting - Extensions - Azure Account Configuration - enable China Cloud
2. Add China Account - redirect to browser - fill in user & password - get error
![image](https://user-images.githubusercontent.com/26422656/106352064-3dfa1b00-631b-11eb-9a9b-9d75b356baf9.png)

[2021-01-31 07:26] kraay opened #14122 "Failed to start profiler - Failed to start session: An exception occurred while executing a Transact-SQL statement or batch."
- Azure Data Studio Version: 1.25.2

Steps to Reproduce:

1. Connect to server.
2. Go to database
3. Press Alt + P

Error: Failed to start session: An exception occurred while executing a Transact-SQL statement or batch.

![image](https://user-images.githubusercontent.com/10906811/106377528-9f75c480-63c3-11eb-8deb-76dae4a28f1b.png)

It is failing for this server, but working for another server I c

[2021-01-31 07:27] kraay commented on #14122
I tried the workaround shared in https://github.com/microsoft/azuredatastudio/issues/6353. I ran the script on the server and tried starting the profiler again in Azure Data Studio, but it failed with the same issue.

[2021-02-01 07:40] vitaha123 opened #14125 "Icon for Mac OS"
Issue Type: <b>Bug</b>

The Azure Data Studio icon is not symmetrical. It stands out from the general appearance of Microsoft and Mac OS icons.
<a href="http://piccy.info/view3/14185094/46667d6d372c1d523b890c2c3b3b1f12/orig/" target="_blank"><img src="http://i.piccy.info/i9/75a0ba7f9db81ff90636950dd2158f89/1612164743/27265/1415897/Snymok_ekrana_2021_02_01_v_09_33_31_800.jpg" alt="Piccy.info - Free

[2021-02-01 08:47] jebouruama commented on #14121
Same error when using kusto plugin to connect to ADX in China azure cloud.

[2021-02-01 11:18] yesspadilla75 commented on #3594
HI again.

This is happening now more frequently than before. It seems as though you cannot leave a tab unnatended for more than 5 minutes before it somehow disconnects or simply stops responding. My work around is to copy the script in one tab and create a new but this is quite suboptimal. Af the end of the day I end up with 20 tabs opened, which makes my work very confusing. ANy idea of a fix to

[2021-02-01 13:02] janszedc opened #14126 "SQL Connection - Database Dashboard Widgets not Working"
After updating to the latest release of ADS, the database dashboard widgets no longer populate with data.  This includes third party extensions such as sp_WhoIsActive.  This issue also occurred for others on my team.

![image](https://user-images.githubusercontent.com/49908138/106462386-021e9d00-6464-11eb-9531-997e7ceb49d1.png)

[2021-02-01 17:53] vickyharp opened #14127 "Unable to close notebook without saving"
Issue Type: <b>Bug</b>

I seem to be unable to exit a notebook without saving changes, whether or not I have made the changes myself or (in the gif) using an external process like my parameterization test notebook.

![Azure Data Studio - Unable to Close without Saving](https://user-images.githubusercontent.com/8250560/106497743-482f2d00-6473-11eb-89fb-fa489d176d17.gif)

Azure Data Studio version:

[2021-02-01 18:07] MsSQLGirl commented on #13969
@Charles-Gagnon - As per Jorge mentioend above, seems to be a broader issue also. Saancreed can repro this above (not related to Livesite work).
 https://github.com/microsoft/azuredatastudio/issues/13969#issuecomment-769841976

Can you please help? Thanks!

[2021-02-01 18:11] vickyharp opened #14128 "Adding a connection resets zoom level"
Issue Type: <b>Bug</b>

Adding a new connection resets the zoom level of the environment, similar to https://github.com/microsoft/azuredatastudio/issues/12328

In this gif it's going from an extreme zoom in to an extreme zoom out

![Azure Data Studio - Resize when adding connections](https://user-images.githubusercontent.com/8250560/106499708-c12f8400-6475-11eb-9ec6-35c35afd4dc9.gif)

Note that if

[2021-02-01 18:14] Charles-Gagnon commented on #13969
If this is a broader issue then we should close this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/11260 I would think.

But I'll leave that up to @cssuh @kburtram as the owners of the Connection/Azure areas

[2021-02-01 18:20] Charles-Gagnon commented on #14125
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/14125

By "symmetrical" do you mean that it extends above and below the other icons?

[2021-02-01 18:20] #14125 closed

[2021-02-01 18:32] yinebebz opened #14129 "Started Executing Querry of by +1"
Issue Type: <b>Bug</b>

When highlighting a querry to run. The Message "Started executing query at Line x" is off by +1.

So if i highlight line 14 and hit F5 to run that line
The message window will say "Started executing query at Line 15" which is not right

Azure Data Studio version: azuredatastudio 1.24.0 (eb3c0f5d9df86b9490606aab7fffaa253b0aca4d, 2020-11-10T23:38:09.705Z)
OS version: Windows_

[2021-02-01 20:27] chlafreniere commented on #14017
There's a scenario where we really can't do anything about here; at the very top of the document, if there is text behind the search box, there is nowhere to scroll to.

[2021-02-01 20:53] kburtram commented on #14126
@janszedc the current ADS version is 1.25.2.  Have you tried this scenario with the latest version (screenshot shows version 1.15.0)?

[2021-02-01 20:59] kburtram commented on #14122
@kraay do you see any error message in the "Help->Toggle Developer Tools" Console log?

[2021-02-01 21:19] janszedc commented on #14126
For some reason I think my ADS keeps downgrading itself. The notification
to check for updates continually pops up saying new updates are available
no matter how many times I run it. Eventually it will say no updates are
available, but when I restart it pops back up.

I wonder if some group policy or security firewall is blocking the install
and silently continuing? I will have to look tomorrow.

[2021-02-01 21:32] nasc17 opened #14131 "Altering declarative table causes components to be not shown"
Trying to filter through the rows of the declarative table causes the components to not be shown. The table gets updated by checking the parameter name and its description to search for a word or phrase.
`this.parametersTable.data = this._parameters
			.filter(p => p.parameterName?.search(search) !== -1 || p.description?.search(search) !== -1)
			.map(p => [p.parameterName, p.valueContainer, p.des

[2021-02-01 22:21] #12011 closed

[2021-02-01 22:26] MaddyDev commented on #12878
#14080 fixes this.

[2021-02-01 22:26] #12878 closed

[2021-02-02 00:12] spencer741 commented on #390
First off, thank you @yualan for adding the appropriate Impact -UX Research label, because it 100% applies.

Now... Looks like similar functionality illustrated in [Issue #7455](https://github.com/microsoft/azuredatastudio/issues/7455) was added to the [backlog](https://github.com/microsoft/azuredatastudio/milestone/6), with the "Script as Create" being added to the context menu of database object

[2021-02-02 01:11] kburtram commented on #14126
@janszedc that's strange behavior with the upgrade.  It's not a good long-term solution, but you can find the direct links to download the latest version from the project README.

[2021-02-02 01:13] kburtram commented on #14094
I close this issue based on the above discussion.  I think some of the commands in the linked docker file could make ADS work on the build container, but likely @dzsquared's suggestion to pull out the required build tools makes more sense for CI pipeline.  Please let us know if there's anything else we can assist with here.

[2021-02-02 01:13] #14094 closed

[2021-02-02 01:19] kburtram commented on #14054
@mees- I wasn't able to repro this issue.  I used the query `select * from sys.tables` and used the database drop-down in the query editor to switch between databases.  The query returned the tables for the selected table.

Am I missing something else in the repro?  You may try using `USE databasename` in your SQL scripts as a workaround (this is basically what the drop-down does).

[2021-02-02 01:26] kburtram commented on #13877
I don't see this rendering issue on my machine (screenshot below).  Do you know what are your display settings?

![image](https://user-images.githubusercontent.com/599935/106539187-62d4c680-64b2-11eb-984d-5994a28ddf0f.png)

[2021-02-02 01:34] kburtram commented on #14016
Closing since this doesn't have enough context to properly route.  Please reactive or log another issue with additional context if you are still having problems with this UI.

[2021-02-02 01:34] #14016 closed

[2021-02-02 01:48] chlafreniere commented on #13146
@MsSQLGirl can you still repro this? I was able to previously, but I now see the following:

![image](https://user-images.githubusercontent.com/40371649/106540867-ac72e080-64b5-11eb-9671-d570a4bacd28.png)

[2021-02-02 01:56] chlafreniere commented on #5276
No repro along with needs more info label. Closing this issue.

[2021-02-02 01:56] #5276 closed

[2021-02-02 01:56] chlafreniere commented on #5510
@pradm have you seen this issue happen lately?

[2021-02-02 02:14] chlafreniere commented on #14067
May be similar root cause to https://github.com/microsoft/azuredatastudio/issues/6251

[2021-02-02 02:16] chlafreniere commented on #6507
Hi @robertnaum I just tried this on my machine and was able to get a successful result back:

![image](https://user-images.githubusercontent.com/40371649/106542930-9cf59680-64b9-11eb-993d-ce1098bf61da.png)

Do you still see the behavior above?

[2021-02-02 04:35] chlafreniere commented on #12138
Thanks @stuartpa. Closing this issue.

[2021-02-02 04:35] #12138 closed

[2021-02-02 04:38] chlafreniere commented on #11247
We've removed prose from the default list of packages that we install for the past couple of releases, and no longer ping that particular endpoint for packages. Closing this issue.

[2021-02-02 04:38] #11247 closed

[2021-02-02 05:03] amit0904 commented on #14107
Same issue, recently started for me also.

[2021-02-02 05:04] chlafreniere commented on #10896
Given that we have some folks unable to repro, closing this issue. Feel free to reactivate if we have a consistent repro.

[2021-02-02 05:04] #10896 closed

[2021-02-02 05:23] chlafreniere commented on #9864
This is being tracked by #7758.

[2021-02-02 05:23] #9864 closed

[2021-02-02 05:57] #12816 closed

[2021-02-02 09:06] Saancreed commented on #13969
Good news: I can't reproduce this issue on Insiders build, so I guess whatever the cause was, 1.26 will have fixed it.

[2021-02-02 09:59] erapade opened #14136 "Frequently disconnected from Azure SQL database using AAD authentications"
Issue Type: <b>Bug</b>

We are frequently disconnected from Azure SQL database using AAD authentication. Looking for the best way to track down the issue.

Working from home so no corp. FW should be involved and the FW settings on the SQL server are granting me access. But yes, we are also using a SaaS proxy-server from Zscaler, although, both the IP from Zscaler and my internet NAT IP are cleared

[2021-02-02 11:34] erapade commented on #14136
This is the error message:
Login failed for user '<token-identified principal>'. Token is expired.

[2021-02-02 17:25] halerankin commented on #13146
Re-tested main branch in local build using Mac OS. Confirmed as displaying as expected.

[2021-02-02 21:20] kblok opened #14138 "Getting results from other tabs"
Issue Type: <b>Bug</b>

When I run a script I'm getting results from scripts in other tabs.
I would love to give you more insights or steps to reproduce it, but it's quite erratic.

Azure Data Studio version: azuredatastudio 1.25.2 (4d4917d328ab7a7526817a0f0ef03237a79aa54d, 2021-01-20T22:47:41.882Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CP

[2021-02-02 21:44] udeeshagautam commented on #9572
This has not been happening for last two releases - so closing for now.

[2021-02-02 21:44] #9572 closed

[2021-02-02 21:49] Charles-Gagnon opened #14139 "Update status report to include additional TSA run status"
Should add TSA Run Status for

- [SqlToolsService](https://mssqltools.visualstudio.com/TSA/_build?definitionId=41)
- [SqlOpsStudioExtensions ](https://mssqltools.visualstudio.com/SqlOpsStudioExtensions/_build?definitionId=156)
- [vscode-MSSQL](https://mssqltools.visualstudio.com/TSA/_build?definitionId=42)

[2021-02-02 22:01] abist commented on #14138
@kblok You just need to copy the errors (if any), you can get rid of any personal data in the logs

[2021-02-02 22:06] kblok commented on #14138
how about this?

[code]

[2021-02-02 23:44] kisantia opened #14141 "Database dropdown shouldn't be editable in create project from database dialog"
This dropdown shouldn't be editable since an existing database name needs to be chosen.

[2021-02-03 00:07] chlafreniere commented on #12877
Tracked with #12467.

[2021-02-03 00:07] #12877 closed

[2021-02-03 01:31] #14141 closed

[2021-02-03 02:35] chlafreniere commented on #7304
Looked briefly into this and this has to do with the `highlight` method in markedOptions.

CSS is included for highlight.js but not the library itself in core, so we need to figure out if we should include that or not by default.

Otherwise, we'll need to figure out how to mesh vscode's syntax highlighting in editors with this css.

[2021-02-03 07:53] cecesare commented on #13877
I'm also experiencing the same issue independently of the monitor (built-in, external, etc.).
The icon changes when I pin it to the taskbar, otherwise it's normal.
![Capture](https://user-images.githubusercontent.com/78469640/106715149-092ce300-65fd-11eb-9a52-8eba04dcd12b.PNG)

[2021-02-03 07:58] JawaharlalMuthinni commented on #13877
Display Settings

![image](https://user-images.githubusercontent.com/76511254/106715884-adc21b80-6623-11eb-9bc7-32484cd6fc40.png)

[2021-02-03 08:50] mees- commented on #14054
@kburtram I have also not been able to reproduce this bug since I first encountered it. When I first noticed it I was very sure that I was looking at the wrong data. As I said, I haven't had the issue since the first time.

[2021-02-03 09:21] ibuda commented on #6763
Hi, I get the same error, but not only on unsaved tabs:
Unable to open 'playground.sql - 35.242...l_user)': Cannot read property 'slice' of undefined.

[code]

[2021-02-03 10:47] VikAga commented on #14107
@udeeshagautam

1.Yes ,this is happening for all DW Databases. Its working for dacpac vs master DB and failing for dacpac vs DWH.

2.Please find below error from console:

![error](https://user-images.githubusercontent.com/78205980/106736296-e4c00f00-65da-11eb-85d1-fe9ada20bff8.PNG)

[2021-02-03 15:06] pradm commented on #5510
@chlafreniere , nope i have not seen this issue in recent repro's. if i encounter it again will reopen. you can archive this for now.
Thank you so much for looking into this.

[2021-02-03 15:42] giammin opened #14145 "column collation"
Issue Type: <b>Bug</b>

there is no way to read collation of a column, table,database

also when using "script as create" there are no collation info

to reproduce just create a table with a column with collation different from the db default

Azure Data Studio version: azuredatastudio 1.25.2 (4d4917d328ab7a7526817a0f0ef03237a79aa54d, 2021-01-20T22:52:13.492Z)
OS version: Windows_NT x64 10.0.18363

[2021-02-03 16:27] slaymaker1907 commented on #7922
One workaround is to run "ctrl+shift+P", "Reload Window". This is not ideal though since it may take much longer to restart the whole window than to just restart a single kernel.

[2021-02-03 16:58] MsSQLGirl commented on #7922
Another workaround is to change the Kernel to another language / kernel selection.

[2021-02-03 17:11] aarongiust opened #14146 "Unsaved tabs keep reopening"
Issue Type: <b>Bug</b>

Tabs that were never saved and explicitly closed before exiting Azure Data Studio, reopen when Azure Data Studio is launched again.

Azure Data Studio version: azuredatastudio 1.25.2 (4d4917d328ab7a7526817a0f0ef03237a79aa54d, 2021-01-20T22:52:13.492Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(

[2021-02-03 17:45] firxworx commented on #13836
I get a similar bug that affects only certain users. Same error in logs "Could not find ServerInfo for connection" ... "when updating icon".

Expanding databases and tables works fine for these users in SSMS just not ADS.

Interestingly I have a very high privileged user on the same server and ADS works fine to expand Databases and Tables in that case. My affected users should have sufficient priv

[2021-02-03 18:16] MsSQLGirl opened #14147 "WYSIWYG is stripping empty bullet points and changing the bullet point style"
- Azure Data Studio Version:
Version: 1.26.0-insider (user setup)
Commit: 9ac180d772b9e20050d5d030c4886b6c86cf48fd
Date: 2021-02-03T06:37:10.156Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. In a new notebook paste the following md using Split View.
[code]
![image](https://user-images.githubu

[2021-02-03 19:09] alanrenmsft opened #14149 "replace the save/restore cache tasks with ADO's own cache task"
the save/restore cache tasks will fail occasionally and they are no longer being maintained, but the ADO's Cache task only support one folder, I've opened a feature request: https://developercommunity.visualstudio.com/idea/1324372/support-multiple-folders-in-ado-cache-task.html

we should do the replacement once the request is completed, or we can do our own processing under the restriction of one

[2021-02-03 19:25] Charles-Gagnon commented on #14149
Could we not have multiple cache tasks - one for each folder?

[2021-02-03 19:45] alanrenmsft commented on #14149
if we do that we will need to configure at least 1+x (number of extensions) tasks, and when new extensions are added the build yaml also needs to be updated. doesn't seem to be a good solution to me.

[2021-02-03 19:53] MsSQLGirl opened #14151 "Ability to Copy and Paste Link to a notebook with context"
**Is your feature request related to a problem? Please describe.**
1. When I'm working within a Jupyter Book and I want to create a relative link to another notebook from a current notebook, easily within seconds (instead of minutes)
2. When I'm working with a Jupyter Book on a repo, I want to be able to create a link to the current notebook that I can share with other people in the team that have

[2021-02-03 19:59] chlafreniere commented on #14147
@MsSQLGirl for WYSIWYG, we cannot currently retain the info about which style is used, because we're doing WYSIWYG replacement at a cell level instead of at a line level; if different styles are used in the same cell, we have no current mechanism to distinguish if one line uses bullet style `+` vs. `-`. Because of this, we've made the decision to use the same defaults that are used in the markdown

[2021-02-03 20:18] #14131 closed

[2021-02-03 20:19] MsSQLGirl commented on #14147
Adding @qifahs

[2021-02-03 21:12] chlafreniere commented on #13990
@MsSQLGirl I believe you mentioned that some teams will be moving to their own workspaces. Can you comment on the priority of this item?

[2021-02-03 21:19] MsSQLGirl commented on #13990
Let's lower this to Pri:2.

[2021-02-03 21:20] MsSQLGirl commented on #13990
(if I can click properly :D)
We'll revisit this in a couple of months as more users are onboarding.

[2021-02-03 21:27] MsSQLGirl commented on #9282
Something to consider in the walk / run phase: broken links detection as part of the book edit (move or delete book).

[2021-02-03 22:14] Charles-Gagnon opened #14153 "Spark kernel fails on installing cryptography > 3.2.1"
1.	Setup BDC cluster with AD  (AZDATA.LOCAL domain)
2.	Setup new Hyper-v Windows 10 image and added it to AZDATA.LOCAL
3.	Download and install ADS insider version from here https://azuredatastudio-update.azurewebsites.net/latest/win32-x64-user/insider
<< OLE Object: Picture (Device Independent Bitmap) >>
4.	I am able to connect ADS to BDC
5.	I create new Notebook and try to change Kernel to “Spark

[2021-02-03 22:22] aasimkhan30 commented on #13423
@mdougherty3 and @gpuma can you update azure data studio and install (after uninstalling) import extension and see if it is working.

[2021-02-04 02:17] #13688 closed

[2021-02-04 07:03] cotyhuang commented on #3152
Really need it, please implement it asap.

[2021-02-04 09:09] spencer741 commented on #14028
@yualan I agree with @alanrenmsft , some detail could be added ...

On this thread, I _would_ like to illustrate a scenario that might be related and could be included as a bug fix.

1. I am in ADS, not connected to any servers.
2. I open up a SQL file in the query editor and write some queries.
3. I naturally cannot select a database since I am not connected, so I click the "connect" button, whic

[2021-02-04 14:11] aisbergde opened #14157 "improve Notebook: allow drag and drop from server object tree, allow copy and paste of object names (table, view)"
**Is your feature request related to a problem? Please describe.**

I want to create sql queries directly in notebooks, using the object tree, containing tables, views, procedures, ...

**Describe the solution or feature you'd like**

I would like to work as I can do in a quey window (or in SSMS)
- find objects (table, view, ...) in the object tree
- copy the object and past it into the code windo

[2021-02-04 15:02] aisbergde opened #14158 "quick show and hide query result window"
**Is your feature request related to a problem? Please describe.**

Working in SSMS the most used feature for me is to show and hide the result window using a Hot-Key (Ctrl-R in a normal query result, Ctrl-4 in the edit mode - but it is not so important in edit mode). I did not yet find a way to quick show or hide the result window in ADS (or to minimize, maximize, get a normal size). This is a ma

[2021-02-04 16:06] dzsquared commented on #14158
Hi @aisbergde - while this is only for the query editor and not notebooks - there is a command for collapsing the results window.

With ctrl+shift+P to open the command palette you can search with the phrase "results" to reveal "Toggle Query Results".  The default shortcut for this is "shift+win+R".

However! Someone took the time to create an extension to remap a bunch of commands to the SSMS key

[2021-02-04 16:44] alexr-degreed opened #14159 ""error":"invalid_grant","error_description":"AADSTS700082: The refresh token has expired due to inactivity"
I am unable to connect to my db servers using "Azure Active Directory - Universal with MFA support"

Response error! - {"error":"invalid_grant","error_description":"AADSTS700082: The refresh token has expired due to inactivity. The token was issued on 2020-10-13T15:45:19.5985103Z and was inactive for 90.00:00:00.\r\nTrace ID: 70b8e9ad-158e-41c0-9c29-8b701a558c00\r\nCorrelation ID: caa5d7a2-9e88-4e

[2021-02-04 17:19] aisbergde commented on #14158
@dzsquared
Thank you very much!
I was looking in the `menu > View > ...`
Because there I can also select "Output", "Terminal" and so on. I also tried to click in the result window to get a `context menu`.

It doesn't come to my mind that I should use the command palette :-)
There is no command palette in SSMS. In SSMS all is available via menus or context menus. I need to rethink, when using ADS.

[2021-02-04 17:52] #14153 closed

[2021-02-04 21:57] cssuh commented on #13930
I found that reverting [this commit](https://github.com/microsoft/azuredatastudio/pull/13813) fixed the issue so I have asked @aasimkhan30 to take a look.

[2021-02-04 23:15] aasimkhan30 opened #14165 "ADS fails to get credentials for an azure account"
- Azure Data Studio Version: 1.25.2
Steps to Reproduce:

1. Add an azure account in ADS
2. Open the account in data explorer.

![image](https://user-images.githubusercontent.com/6816294/106967311-cdc50e00-66fb-11eb-9d3d-42358462f9a1.png)

[2021-02-05 00:16] abist commented on #14165
@aasimkhan30 Could you please use the template to include the ADS version in the issue as well

[2021-02-05 02:48] #13930 closed

[2021-02-05 03:24] liuwy1005 commented on #14158
you can try "win+shift+r" on ubuntu AzureDataStudio
step1：win
step2：shift
step3：r
the sequence can be important

[2021-02-05 06:21] mattneerincx opened #14167 "Notebook Navigation Bar Does Not Work"
We have written the needed data into your clipboard because it was too large to send. Please paste.

[2021-02-05 06:22] mattneerincx commented on #14167
I can navigate notebooks using file explorer pane but NoteBook view does not work.  Clicking on Notebook nothing happens.

[2021-02-05 08:31] aisbergde opened #14168 "sometimes a query window can't be closed"
Issue Type: <b>Bug</b>

I can't close some Query Windows. I use Ctrl-4 or the context menu of the window, I get the dialog (Save, Don't Save, Cancel). I press "Don't Save", but the window doen't close. This happens only in one specific window. It happens all the time, but I am afraid, this can't be reproduced, because I see this the first time)

Azure Data Studio version: azuredatastudio 1.25.2 (4

[2021-02-05 08:34] aisbergde commented on #14168
I closed and reopened ADS and then it was closed.

[2021-02-05 10:37] harshgangrade111 opened #14169 "A11y_Azure Data Studio_Azure Added Account_ColorContrast: Color contrast ratio of Keyboard focus outline is less than 3:1."
“[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing faster an

[2021-02-05 11:08] harshgangrade111 opened #14170 "A11y_Azure Data Studio_Azure Added Account_Keyboard: Keyboard focus is not in logical order after pressing tab from "Remove Account' button."
“[Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing faster an

[2021-02-05 12:15] harshgangrade111 opened #14171 "A11y_Azure Data Studio_Azure Menu _Screenreader: Screenreader does not announcing "Presse Shift+F10 for expand Azure Menu" when keyboard focus is on Azure Tree Item."
“[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing faster an

[2021-02-05 13:54] harshgangrade111 opened #14172 "A11y_Azure Data Studio_Azure tree item_Screenreader: Screenreader announce unnecessary content when keyboard focus goes to selected Azure account Tree Item after pressing tab or UP/down arrow key."
“[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing faster an

[2021-02-05 17:38] Charles-Gagnon commented on #10573
Closing until we revisit the plans for this

[2021-02-05 17:38] #10573 closed

[2021-02-05 18:12] #13547 closed

[2021-02-05 20:11] chlafreniere opened #14178 "Notebook Extension Should Not Fail to Load if Python Command Fails"
We've seen the following log file internally. The extension should still load if the following command fails:

Activating extension 'Microsoft.notebook' failed: Command failed: "C:\Users\\{something}\azuredatastudio-python\0.0.1\python.exe" -c "import site;print(site.USER_SITE)"

[2021-02-05 21:09] barbaravaldez commented on #13597
@rajeshka - I included the book title to the error message.
@chlafreniere - I'll add some logging to book operations for next release.

[2021-02-05 21:09] #13597 closed

[2021-02-05 21:14] rajeshka opened #14179 "Visualization setting not remembered if the cell is executed after the chart is set"
- Azure Data Studio Version: 1.25.2

Steps to Reproduce:

- Run a query on Notebook
- Change it to Pie chart
- Rerun the query

The chart changes to table instead of Pie. Is this a known issue ?

[2021-02-05 21:36] chlafreniere commented on #14167
Tracked with #14178

[2021-02-05 21:36] #14167 closed

[2021-02-05 21:39] barbaravaldez commented on #9282
@chlafreniere  and @MsSQLGirl - I'm moving this issue to March release, since we are going to continue iterating over it.

[2021-02-05 22:29] vektor8891 opened #14181 "SQL Server Import cannot convert string to number when importing CSV on Ubuntu Linux 20.04"
- Azure Data Studio Version: 1.25.2
- OS: Ubuntu Linux 20.04

Steps to Reproduce:

1. Create a CSV file with the following content:
[code]
2. Load file using SQL Server Import
3. Use default data type settings for both columns (`decimal(2,1)` and `bit`)
4. Click `Import data` at the last step.

You should receive an error:

![kép](https://user-images.githubusercontent.com/38993315/107095608-1e5d69

[2021-02-06 00:27] amthomas46 opened #14184 "Convert python script to notebook"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when I have to convert my python scripts to notebooks by hand

**Describe the solution or feature you'd like**
A button to convert a .py file to a .ipynb file with Python kernel.

**Describe alternatives you've considered**
Copy & paste

**Additional

[2021-02-06 02:10] MsSQLGirl commented on #185
Seem to be similar issue to #14179 (<- for notebook)

[2021-02-06 04:50] #14018 closed

[2021-02-07 20:06] SakshiS-harma opened #14190 "Enhance project dashboard to have components more than just button (e.g. dropdown)"

[2021-02-08 06:35] aasimkhan30 opened #14191 "February 2021 Release Endgame"
# February 2021 Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.26

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

Install the latest build of ADS from the link above.

## Scenario Sign Off

- [x] Q

[2021-02-08 06:54] christopheranderson opened #14192 "non-functional pip after using "New Python Installation" option, even after switching to another version"
- Azure Data Studio Version:
Version: 1.25.2 (user setup)
Commit: 4d4917d328ab7a7526817a0f0ef03237a79aa54d
Date: 2021-01-20T22:52:13.492Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. With a fresh install of 1.25.2, setup Notebooks and choose "Python 3" kernel. Upon intitial setup, choose "New

[2021-02-08 07:52] 2ndcahl commented on #1783
Bump? Just ran into this issue... collapsing the SQL pane makes Azure Data Studio revert back to the standard query.

[2021-02-08 17:25] MsSQLGirl commented on #12740
Adding feedback from Tyler -
User is searching for a keyword using the ADS Search extension (not Notebook search).
User opened Notebook-A from the search result, which contains a link to another notebook, Notebook-B.
User then wants to see other Notebooks that are "subpage" of Notebook-B, e.g. Notebook-B1, Notebook-B2 and potentially Notebook-C (sibling of Notebook-B). This is currently not possib

[2021-02-08 17:38] #12357 closed

[2021-02-08 18:35] nasc17 opened #14199 "Toolbar Container needs more top/bottom padding"
The toolbar container across the dashboards could use more top/bottom padding for the buttons found within it.

Comparison to toolbar in Portal:
<img width="400" alt="toolbaragain" src="https://user-images.githubusercontent.com/69922333/107265567-4af0cb80-69f9-11eb-9362-e1daa7821ffa.PNG">

[2021-02-08 18:43] Charles-Gagnon commented on #13373
Reopening for ask mode

[2021-02-08 18:52] #13701 closed

[2021-02-08 19:28] alanrenmsft commented on #14061
@cssuh please close if you are not able to repro this anymore.

[2021-02-08 20:20] arendkolk commented on #8104
any solution? I have the same problem running PowerShell in visual studio code on Ubuntu.

**== PowerShell Details ==**
- PowerShell version: 7.1.1
- Language mode:      FullLanguage

**== Environment Details ==**
 - OS description:  Linux 5.4.0-65-generic #73~18.04.1-Ubuntu SMP Tue Jan 19 09:02:24 UTC 2021
 - OS architecture: X64
 - Process bitness: 64

**$PSVersionTable**
Name

[2021-02-08 21:07] cssuh commented on #14061
Not seeing this issue anymore.

[2021-02-08 21:34] alanrenmsft commented on #14199
I fixed this in https://github.com/microsoft/azuredatastudio/pull/14188

[2021-02-08 21:34] #14199 closed

[2021-02-08 22:13] chlafreniere commented on #14184
@yualan FYI.

@amthomas46 out of curiosity have you tried leveraging nbconvert for this purpose before? We don't expose anything in ADS that uses nbconvert under the covers, but it would be interesting to hear if that helped make your workflow any easier.

[2021-02-08 22:17] Charles-Gagnon opened #14201 "Arc PG Dashboard parameters search is case sensitive"

[2021-02-08 22:19] amthomas46 commented on #14184
I've never tried it but I will look into it :)

[2021-02-08 22:45] chlafreniere commented on #14192
@lucyzhang929 can you take a look here?

[2021-02-08 22:47] chlafreniere commented on #14179
This is a dupe of #185, so closing.. Let's use that issue to track (it already has Impact: Live site).

[2021-02-08 22:47] #14179 closed

[2021-02-08 22:53] chlafreniere commented on #13146
Closing as neither @halerankin nor I can repro this any longer. Feel free to reopen if you see this again @MsSQLGirl

[2021-02-08 22:53] #13146 closed

[2021-02-08 23:03] chlafreniere opened #14204 "Notebooks: Allow Users to Default to Markdown View in Text Cells"
We currently only allow users to default to either split view or WYSIWYG. A couple of users have asked us to also add the ability for users to default straight to markdown view as well.

[2021-02-08 23:12] #14062 closed

[2021-02-09 09:53] marko-p opened #14206 "Notebook: scroll while selecting"
Issue Type: <b>Feature Request</b>

Notebooks are impractical for larger code blocks, because you can't select more than the displayed height with a mouse. I know I can place the cursor at the start of the selection and than SHIFT + click at the end of the selection, but this does not work with block/column select (at least I'm not aware of). It would be best if the notebook would scroll when we s

[2021-02-09 11:29] mrobst commented on #9236
I just had the same issue with a file hosted on WSL2. It goes away if you map a network drive to WSL2 and use that from within ADS e.g. Z:\home\myUser\bin\myRepo

[2021-02-09 15:27] janitorr commented on #12165
Had the same issue on:

Version: 1.25.2 (user setup)
Commit: 4d4917d328ab7a7526817a0f0ef03237a79aa54d
Date: 2021-01-20T22:52:13.492Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Deleting file from and re-authenticating helped.
C:\Users\{UserNameHere}\AppData\Roaming\azuredatastudio\Azure Accounts

[2021-02-09 16:40] Charles-Gagnon opened #14207 "ModelView components in wrong order when addItem used with withItems"
From https://github.com/microsoft/azuredatastudio/pull/14198

Items added using addItem to a container that already had items added through withItems are showing up before the withItems items even though they were added afterwards which isn't correct.

![image](https://user-images.githubusercontent.com/31145923/107264245-9a35fc80-69f7-11eb-8946-dba3e6e7f07e.png)

[2021-02-09 18:03] kburtram commented on #13946
@laurajjiang thanks for reporting this issue.  We don't do anything in the application to control the placement of these standard macOS windows buttons.  I assume this is an issue upstream, either in vscode or Electron.  FWIW, I'm not seeing the same positioning as you on my macos (screen below).  Unfortunately, I don't think we have a straightforward way to adjust the placement of those buttons.

[2021-02-09 18:03] #13946 closed

[2021-02-09 18:04] kburtram commented on #13987
Closing due to lack of needed info.  Please let us know if you're still experiencing connectivity issues.

[2021-02-09 18:04] #13987 closed

[2021-02-09 18:10] kburtram commented on #14014
@dadepretto thanks for reporting this issue.  We'll pass your feedback to our UX designers.

[2021-02-09 18:26] ursu123 opened #14211 "Script view as Create/Alter not working"
Issue Type: <b>Bug</b>

When I click Script view/table as Create/Alter I get this error and nothing happens:

Error running command dataExplorer.scriptAsCreate: undefined. This is likely caused by the extension that contributes dataExplorer.scriptAsCreate.

Azure Data Studio version: azuredatastudio 1.25.2 (4d4917d328ab7a7526817a0f0ef03237a79aa54d, 2021-01-20T22:47:41.882Z)
OS version: Darwin x64

[2021-02-09 18:42] janecosham commented on #14159
I'm getting this error as well. I've tried clicking "Refresh account credentials" which works (says Your account was added successfully) but connecting still fails saying the refresh token has expired.

[2021-02-09 19:06] drizztdourden08 commented on #10584
Why is this still not resolved? I'm using an Azure database so there is no local setup reason for this. ADS is ignoring every single command I throw at it in the right click menu way too often. I have to restart it for it to work again and it's doomed to fail again at some point. It's not just laggy, it does nothing or at least it seems to.

This literally make ADS unusable from a productivity sta

[2021-02-09 19:13] drizztdourden08 commented on #13782
Why would Azure Data Studio not provide a GUI for Table design. I know plenty of people to which I've suggestion ADS for work and they all gone back to SSMS because of this single function.

Designing table should not be relying on T-SQL. This is frequent work that people have to do and this breaks the flow. When you have a lot of design change, you got to write every single query by hand.

You ha

[2021-02-09 19:37] gregveres commented on #10584
If you look at the release notes of every version put out, it seems they are too focused on Notebooks rather than on the core functionality of the product.

I think SSMS is a better choice for the core functionality as ADS's usability is so poor.

[2021-02-09 19:43] drizztdourden08 commented on #10584
I've been trying it in and out in the hope to have this fixed as well as Table Design functionality since it was called something else (I can't remember what it was called before ADS). It's at least 2 years ago and still nothing.

I agree we should stop pushing for functionality a minority uses and focus on making this the default tool for MS SQL.

[2021-02-09 19:43] kisantia opened #14213 "Dacpac extension doesn't remember db context except for deploy"
- Azure Data Studio Version: February RC build

Steps to Reproduce:

1. In connections viewlet, right click on a database that isn't the first one in the list and select "Data-tier application wizard"
2.  Select any action besides deploy
3. Click next

Actual: Selected database is the first database in the dropdown, not the database that the wizard was launched from
Expected: Selected database sho

[2021-02-09 20:02] gregveres commented on #10584
Yea, you are probably right that it has been about 2 years since they did anything with the core use case of the product. I have filed a number of usability improvement requests that just go ignored.
For instance, as soon as you issue a query, the tool should open the window and put a spinner in to give us feedback that it took our command and is running with it. How hard can that be?
I asked for

[2021-02-09 20:06] drizztdourden08 commented on #10584
Who manage this project? Is it microsoft or is that open-source? Wonder who prioritize everything. It's definitely not done with user in mind.

[2021-02-09 20:22] ursu123 commented on #14211
[20210209T201209.zip](https://github.com/microsoft/azuredatastudio/files/5954034/20210209T201209.zip)
[console.log](https://github.com/microsoft/azuredatastudio/files/5954035/console.log)

[2021-02-09 20:44] NathanMSFT opened #14214 "Virtualize Data Doesn't Allow Named Instance for SQL Server External Data Source"
- Azure Data Studio Version: 1.25.2

Steps to Reproduce:

1. In a new database, right-click on the database and choose Virtualize Data
2. In Step 1, select SQL Server
3. In Step 2, enter Master Key password
4. In Step 3, enter a External Data Source Name, give Server Name the named instance 'ServerName\InstanceName', enter information for Configure Credential, and click Next.

At this point you wi

[2021-02-09 20:45] NathanMSFT opened #14215 "Virtualize Data Doesn't Allow CONNECTION_OPTIONS"
**Is your feature request related to a problem? Please describe.**
External Data Source definitions with T-SQL allow for CONNECTION_OPTIONS to be specified in the [CREATE EXTERNAL DATA SOURCE](https://docs.microsoft.com/en-us/sql/t-sql/statements/create-external-data-source-transact-sql?view=sql-server-ver15&tabs=dedicated) statement. Virtualize Data Step 3: Create a connection to your Data Source

[2021-02-09 23:28] nelhage commented on #13987
Hi folks,

I am seeing an identical issue here. I have a SQL server URL that I am able to connect to from SMSS, but when I try to connect from Azure Data Studio, I get a very similar authentication error to the. OP.

version info:
[code]

Error text:
[code]

[2021-02-09 23:48] VasuBhog commented on #13772
Just checked the latest insiders on Mac and got "getJupyterBookVersion" is not defined. Looks to be good on Windows, however.
Will work with @barbaravaldez to see if she can repro.

[2021-02-10 00:44] kisantia opened #14220 "Schema compare options reset doesn't work"
Clicking the reset button should reset the options to their default states, but as seen below with the table object type, that isn't happening. The actual option gets updated and is correct when used in the comparison, but it isn't reflected in the UI.
![schemaCompareOptions](https://user-images.githubusercontent.com/31145923/107448110-d8194a80-6af5-11eb-9592-86f1bc0d300b.gif)

[2021-02-10 00:48] nahk-ivanov opened #14221 "TreeComponent collapses after backward wizard navigation"
- Azure Data Studio Version: 1.26.0-insider (user setup)
Commit: 06bace1fcf7ec79b3f2df8588400f56b54476125

Steps to Reproduce:

1. In the extensions sample, update `mainController.ts` to render `TreeComponent` in a wizard, rather than a dialog by changing [line 529](https://github.com/microsoft/azuredatastudio/blob/ce612a3d9613a1857772150892e5f9abe1dd44f7/samples/sqlservices/src/controllers/mainCo

[2021-02-10 01:22] MaddyDev opened #14222 "Notebook find highlight disappears when clicked on any markdown cell."
Issue Type: <b>Bug</b>

Open a notebook document, launch find ctrl-f and search for a term. And click on any cell. Find highloght disappears even though then find widget is active.

Azure Data Studio version: azuredatastudio 1.25.2 (4d4917d328ab7a7526817a0f0ef03237a79aa54d, 2021-01-20T22:47:41.882Z)
OS version: Darwin x64 20.1.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CP

[2021-02-10 01:25] Charles-Gagnon opened #14223 "Race condition when fetching accounts or getting account security tokens"
https://github.com/microsoft/azuredatastudio/blob/main/src/sql/workbench/api/common/extHostAccountManagement.ts

There was a race condition here - we were storing accounts in an instance var _accounts, but every time someone called functions such as getAccountSecurityToken it would clear that array and then start fetching the accounts again. If multiple calls came in quick succession then one of t

[2021-02-10 01:54] nahk-ivanov opened #14226 "WizardComponent does not refresh buttons state when set from TreeComponent change handler"
- Azure Data Studio Version: 1.26.0-insider (user setup)
Commit: 06bace1fcf7ec79b3f2df8588400f56b54476125

Steps to Reproduce:

1. In the extensions sample, update `mainController.ts` to accept `Next` button in `getTab3Content`, by changing [line 83](https://github.com/microsoft/azuredatastudio/blob/ce612a3d9613a1857772150892e5f9abe1dd44f7/samples/sqlservices/src/controllers/mainController.ts#L83)

[2021-02-10 02:46] VasuBhog commented on #14067
Hey @codykonior, seems this issue is only on Windows as far as my testing has been. I will be working on updating the PowerShell kernel to fix this issue. The issue does revolve around the PowerShell version you may have installed on your windows.
If you download the newest version of Powershell located [here](https://github.com/PowerShell/PowerShell/tree/master/docs/learning-powershell) the issue

[2021-02-10 02:55] codykonior commented on #14067
Hi, yes it’s Windows and PS 5.1, and I’ll remember to mention that next time thanks.

I won’t be using PowerShell Core for a bunch of reasons but look forward to your fix. Thanks.

[2021-02-10 02:56] nahk-ivanov opened #14229 "TreeComponent fails to handle node state change when azdata.TreeComponentItem defines an id"
- Azure Data Studio Version: 1.26.0-insider (user setup)
Commit: 06bace1fcf7ec79b3f2df8588400f56b54476125

There are actually two issues for the price of one! :)

Steps to Reproduce:

1. In the extensions sample, update `treeDataProvider.ts` to populate `id` property of the `TreeComponentItem`s that it returns by adding the following line after [line 273](https://github.com/microsoft/azuredatastud

[2021-02-10 13:34] gjh71 commented on #12992
Like mentioned by hfleitas (https://github.com/microsoft/azuredatastudio/issues/12992#issuecomment-716667849) the problem was solved in my case, by upgrading the sql-server 2019 server with CU-8.
I've noticed that I was able to get the database list with 'sysadmin' rights, but I preferred applying the cumulative update :-)

[2021-02-10 13:46] mr-onion-2 commented on #7335
Hi

I know this issue is pretty old so I'm not sure whether you still in need of some logs.

If so, hopefully this helps. If not please let me know if there are any other logs I can share.

[code]

Version: 1.25.2
Commit: 4d4917d328ab7a7526817a0f0ef03237a79aa54d
Date: 2021-01-20T22:45:05.496Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux

[2021-02-10 16:34] mrjrdnthms commented on #8965
There are serious connection issues to Azure sql databases that are really painful. ADS cannot hold on to a connection to an Azure SQL Database. Connections are lost regularly over the course of several hours. We use ADS all day targeting several different Azure SQL databases and as a result we have to disconnect and reconnect multiple times per hour. ADS has so many benefits over SSMS. But this b

[2021-02-10 17:43] kburtram commented on #7335
@mr-onion-2 the stack traces provide some code paths we can inspect.  I'll move this into the current milestone to take another look.

[2021-02-10 17:43] covlorin commented on #12992
Glad applying an update worked for you, but it doesn't work for us.
The servers we are having this problem with are SQL Server 2019 that are already update with a higher version than CU-8 OR KB4577194. The version of the SQL Server update that is installed is GDR 15.0.2080.9(15.0.4083.0) with a KBKB4583458.

[2021-02-10 18:04] kburtram opened #14234 "Update Electron to 9.4.3 to pickup bug fixes"
Update Electron to 9.4.3 to pickup important bug fixes from upstream.

[2021-02-10 18:28] barbaravaldez opened #14235 "Editing Books: Error message appears for missing section"
Wait for book changes to reload before watching the table of contents file.

- Azure Data Studio Version:
Version: 1.26.0-rc1
Commit: 06bace1fcf7ec79b3f2df8588400f56b54476125
Date: 2021-02-08T08:33:58.217Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.3.0

Steps to Reproduce:
1. Move a section to another section.
2. An error mess

[2021-02-10 18:47] Charles-Gagnon opened #14239 "Notebook view is blank"
Latest insiders/main

![image](https://user-images.githubusercontent.com/28519865/107556504-58d75580-6b8d-11eb-9fc7-f274cf4b99f6.png)

[2021-02-10 18:50] Charles-Gagnon opened #14240 "Workbench contribution error on startup"
Latest insiders/main

[code]

[2021-02-10 20:54] hcc-donder commented on #13897
Neither of the workarounds actually solve the problems mentioned. If I am working on a query, I want to be able to see all the columns in a table. Right now, I scroll through the list of tables in the Connections pane to the table of interest and expand. Sometimes that can take a while given the number of tables and views I have. The manage options lets me filter the tables/views easily, but I can

[2021-02-10 21:46] #14220 closed

[2021-02-10 21:49] udeeshagautam commented on #13622
Validated. Closing since this error doesnt happen any more (as expected - this was only for the first release after WS changes).

Not waiting for shiproom since this doesnt need any changes.

[2021-02-10 21:49] #13622 closed

[2021-02-10 21:49] chlafreniere commented on #14239
Taking a quick initial look. May reassign if the fix turns out to not be so trivial.

[2021-02-10 22:16] MsSQLGirl opened #14247 "Cross-referencing standards in Jupyter Notebooks"
- Azure Data Studio Version:
Version: 1.26.0-insider (user setup)
Commit: 06bace1fcf7ec79b3f2df8588400f56b54476125
Date: 2021-02-08T06:39:21.221Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

**Steps to Reproduce:**

Given the following markdown:
`## **1. Searching / navigating files**`

My research shows three diffe

[2021-02-10 22:26] simonsabin commented on #13920
Just hit this, would definitely like to see it.

[2021-02-10 22:35] allan-stewart commented on #12637
This was a huge pain for me as well. I ended up reinstalling to fix because fussing within the app was more painful than just starting over.

[2021-02-10 22:54] robo66 commented on #9174
@aaomidi  I'm still getting token expired after a period of inactivity in Azure Data Studio -

Login failed for user '<token-identified principal>'. Token is expired.

Version: 1.25.3 (user setup)
Commit: b277eafb8f5328ea26c6edfddd1999292ac27937
Date: 2021-02-09T23:10:35.151Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19

[2021-02-10 23:41] Charles-Gagnon opened #14250 "Extension recommendation isn't working"
Insiders/main

1. Make sure SandDance extension isn't installed
1. Run SQL query
1. Click "Chart" button on results tab

Expected : Prompt displayed asking if user wants to install Visualizer extensions

Actual : No prompt

[2021-02-10 23:51] chlafreniere commented on #14250
Saw the same behavior.

[code]

[2021-02-11 00:06] kisantia opened #14252 "System db reference disappears when target platform is changed"
![systemDbRef](https://user-images.githubusercontent.com/31145923/107588987-d1540b80-6bb9-11eb-8b1a-e65c73c04e8b.gif)

actual: reference to system db dacpac disappears from the sqlproj

expected: path to system db dacpac should be changed to the appropriate target platform path

[2021-02-11 00:24] #14239 closed

[2021-02-11 00:25] jackfido opened #14253 "It changes the nemo behavior"
Issue Type: <b>Bug</b>

when I launch files (nemo or others) it opens azure, what did azure studio to change the normal behavior of nemo?

Azure Data Studio version: azuredatastudio 1.25.3 (b277eafb8f5328ea26c6edfddd1999292ac27937, 2021-02-09T22:55:06.361Z)
OS version: Linux x64 5.8.0-43-generic

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 3 2200U with Radeon V

[2021-02-11 03:00] chlafreniere commented on #6718
We now close notebooks that have been renamed, so this bug no longer reproes.

[2021-02-11 03:00] #6718 closed

[2021-02-11 03:01] chlafreniere commented on #5510
Thanks @pradm. Will close this then. Feel free to reopen if you see this behavior in the future.

[2021-02-11 03:01] #5510 closed

[2021-02-11 03:02] chlafreniere commented on #6507
Closing since we're not able to repro any longer and need more info on whether our repro is different. If you see this in the future, feel free to reopen!

[2021-02-11 03:02] #6507 closed

[2021-02-11 04:45] chlafreniere commented on #11454
Dupe of #7151

[2021-02-11 04:45] #11454 closed

[2021-02-11 04:45] chlafreniere commented on #4184
Tracked by #7545. Closing as dupe.

[2021-02-11 04:45] #4184 closed

[2021-02-11 05:50] chlafreniere commented on #9943
@alanrenmsft does the welcome page still have the preview tag? I don't see it anymore.

[2021-02-11 06:38] abinsubizdk commented on #6171
I recently moved to Azure Data Studio from SSMS. Primarily because of the fact that SSMS is painfully slow to use on Azure databases, and secondly for the GIT integration.

I'm using Azure Active Directory - Universal with MFA support.

It's quite a big issue that i'm forced to constantly reconnect my queries, and annoying that you cannot see in any way that the connection has dropped.

The same g

[2021-02-11 07:11] abinsubizdk opened #14256 "Cannot connect to view Object Properties"
Issue Type: <b>Bug</b>

I'm using Azure Active Directory - Universal with MFA support to connect to our Azure Database.

This works fine to connect and to perform queries, besides the annoying fact that the connection drops every 30 mins bacause of the token timing out :)

But whenever I right click an object to view properties (e.g. a table) I get an error box saying that it failed to connect.

"

[2021-02-11 08:23] hoeztutar commented on #7
+1 ! I am using the https://github.com/nicholas-ross/SSMS-Schema-Folders add-in for SSMS and it works great. A similar feature at ADS would make things way easier for a lot of people.

[2021-02-11 14:11] jpsebasti commented on #13969
When will 1.26 be available.  All my databases are in Azure and right now, this software is useless to me until I can connect.

[2021-02-11 15:27] #14240 closed

[2021-02-11 17:17] rgreig commented on #12992
This issue impacts me, but I have also found that I cannot view query plans either. With 1.22.1 or earlier everything is fine, but with 1.23.0 or later I have the issue of the server tree not populating and also being unable to view a query plan (i.e when I click Explain the query just executes but no plan is shown, and no tab is shown for the plan).

I don't see a specific error relating to the p

[2021-02-11 17:59] kburtram commented on #14234
Ported to release/1.26

[2021-02-11 17:59] #14234 closed

[2021-02-11 18:04] #13373 closed

[2021-02-11 18:19] alanrenmsft commented on #9943
![image](https://user-images.githubusercontent.com/13777222/107680320-8a662480-6c52-11eb-939c-efdf54f21818.png)
it is still there but it is now a standard tooltip. I think this issue is no longer relevant. Closing it.

[2021-02-11 18:19] #9943 closed

[2021-02-11 18:34] shaneholder commented on #9424
Agreed still happens in 1.25.3.  SSMS has the same issues, Intellisense just stops working.

[2021-02-11 18:42] barbaravaldez opened #14259 "Search results are confusing when pinned Notebook's book is opened in Book Tree View"
Having the book of a pinned notebook opened in the Books View will divide the results in two nodes (the directory of the pinned notebook and the book's root)
![Screen Shot 2021-02-11 at 10 38 47 AM](https://user-images.githubusercontent.com/34872381/107682568-57716000-6c55-11eb-8044-a8435ed11924.png)

- Azure Data Studio Version:
Version: 1.26.0-rc1
Commit: 06bace1fcf7ec79b3f2df8588400f56b54476125

[2021-02-11 18:54] MsSQLGirl opened #14260 "Using $ in ADS works (but not Jupyter Notebook?)"
- Azure Data Studio Version:
Version: 1.26.0-insider (user setup)
Commit: e4c5af266399991296e538d3428906e9dd918cbf
Date: 2021-02-11T07:01:41.112Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Source file is here: https://gist.github.com/MsSQLGirl/2be8583c80221d2ef761926a6610e266

Raw:
[code]

[2021-02-11 18:56] MaddyDev commented on #14127
This is a corner case caused by parametrization.
Repro steps:
1. Get the Papermill-Parametrization notebooks from https://github.com/VasuBhog/AzureDataStudio-Notebooks and save them.
2. Open the folder where you saved the notebooks and open both ExcecuteInput_UsingPapermill.ipynb and output.ipynb
3. Update the contents of ExcecuteInput_UsingPapermill.ipynb to below and run the notebook.

[code]
4.

[2021-02-11 19:05] adriennn commented on #14069
closing this as I can't reproduce in the latest version.

[2021-02-11 19:05] #14069 closed

[2021-02-11 20:14] chlafreniere commented on #14260
Please see https://github.com/jupyter/notebook/issues/1183 for context.

[2021-02-11 21:48] aasimkhan30 commented on #14259
@barbaravaldez assigning this issue to you. In the future, please assign all the ask mode issues. Thanks!

[2021-02-11 21:49] GeorgeDom commented on #1026
Please add Analysis Services to Azure Data Studio.

[2021-02-11 21:49] MsSQLGirl commented on #14260
Ok. I guess for now we can close this with "\" to escape $ :)
Thoughts?

[2021-02-11 22:00] #14252 closed

[2021-02-11 22:45] chlafreniere commented on #7558
This causes performance implications, since when this occurs, we're not able to use the fast edit code path (and are instead serializing the notebook on every edit). Moving to March.

[2021-02-12 00:00] kisantia opened #14266 "Dacpac wizard should use folder button instead of ..."
For choosing files and file locations, the dacpac wizard currently has a button with '...' text. It would look nicer if it used the same folder icon as the sql database projects dialogs

![image](https://user-images.githubusercontent.com/31145923/107714407-12afee00-6c82-11eb-9614-dbe92f08fbc9.png)

[2021-02-12 00:08] kburtram commented on #14253
@jackfido we haven't done anything intentional to change nemo file associations.  Though it's possible something in the installation package is having unintended side-effects.  Which Linux distribution are you using and how did you install Azure Data Studio?  Thanks!

[2021-02-12 00:34] jackfido commented on #14253
Hello, thank you for your response.

Im using Ubuntu Unity 20.10, maybe it is not an azure problem, but is so curious, because I recently install Ubuntu Unity, I mean is an Ubuntu instalation clean, and after install azure the behavior changes a little, example, when I use Android Studio and I launch "see in windows manager" it launchs azure, or when I connect a device like a phone it launchs azur

[2021-02-12 00:39] kburtram commented on #14253
Thanks for the additional context.  We'll take a look at our DEB packaging metadata and test this scenario with Ubuntu Unity.

[2021-02-12 02:13] kisantia commented on #13667
only repros when the "New Database" radio button is selected after the dacpac is chosen. Doesn't happen if "New Database" is chosen before the file is chosen, so this probably has something to do with the database name getting set when the file location is selected

[2021-02-12 12:29] TuzeszSzarkany commented on #6724
I would like to upvote this request as well.
It could help us a lot in our daily support/developement.

[2021-02-12 12:35] centeiol opened #14270 "altair graphics is not displayed in output"
Hi

the example below  from https://altair-viz.github.io/
the graphics are not displayed in azuredatastudio ( 1.25.3 ) but in jupyter notebook are displayed correctly.

Regards

--------------------------------

import altair as alt

# load a simple dataset as a pandas DataFrame
from vega_datasets import data
cars = data.cars()

alt.Chart(cars).mark_point().encode(
    x='Horsepower',
    y='Miles

[2021-02-12 12:53] matt40k commented on #1026
Can folks do a thumbs up on the original post rather than just adding a comment saying "Please add Analysis Services to Azure Data Studio" - yes, we all want it, and it gets me all depressed when I see an update on this issue and it isn't progress it's just more people saying they really need it. </rant>

[2021-02-12 16:27] nicolaslledo opened #14271 "Script as Create functionnality doesn't set column collation"
Issue Type: <b>Bug</b>

Create a table with a varchar column having a different collation from the database.
Example.
Database collation French_100_CI_AS_SC_UTF8 and column wkh_swip_id has another collation
[code]
Then from the schema browser right click on the table and chose 'Script as Create'

Script produced:
[code]

Azure Data Studio version: azuredatastudio 1.25.3 (b277eafb8f5328ea26c6edfddd

[2021-02-12 16:30] #14235 closed

[2021-02-12 19:35] Charles-Gagnon opened #14274 "Scenario recommendations don't respect global `Ignore Recommendations` setting"
Stable 1.25.3

1. Uninstall Sanddance extension if installed
2. Check the `Ignore Recommendations` setting

![image](https://user-images.githubusercontent.com/28519865/107814179-5eb46e80-6d26-11eb-83ee-3e9547fbe394.png)

3. Run query and click chart button

Expected : No recommendation prompt shown
Actual : Recommendation prompt shown

[2021-02-12 20:04] #14201 closed

[2021-02-12 20:05] #14178 closed

[2021-02-12 20:05] #14207 closed

[2021-02-12 20:05] #14223 closed

[2021-02-12 21:00] #14250 closed

[2021-02-12 22:32] Charles-Gagnon opened #14281 "Failed to execute 'add' on 'DOMTokenList' error when opening dashboard"
[code]

[2021-02-12 23:03] Charles-Gagnon opened #14282 "Restore dialog doesn't select correct database on open + UI flashing"
RC1

Previous behavior was that when you right clicked on a database and selected `Restore` it would open the restore dialog with that database selected from the list of database backups. This is no longer happening - it's selecting the first one in the list instead.

There also appears to be other UI related issues - selected various options is resulting in lots of values flashing in and out.

[2021-02-12 23:04] Charles-Gagnon commented on #14282
@udeeshagautam Did you not see these when you were doing signoff testing?

[2021-02-12 23:10] kisantia commented on #14282
this sounds similar to this issue in the dacpac extension #14213 where the first database in the list is selected instead of the database that was right clicked to launch the dialog

[2021-02-12 23:24] udeeshagautam commented on #14282
Confirmed that it is flashing for right click (not for other launch points - not sure why)

[2021-02-13 01:10] Charles-Gagnon opened #14287 "Error connecting to MIAA instance when listing databases"
RC1

1. Open MIAA Dashboard
2. Click `Connect to Server`

This error is shown

[code]

[2021-02-13 01:48] #14259 closed

[2021-02-13 01:50] chlafreniere commented on #13837
Reopening for port request

[2021-02-13 02:05] alanrenmsft opened #14291 "not able to close Profiler editor"
when the session is not stopped, user is not able to close the profiler window, and the message is irrelevant.
![image](https://user-images.githubusercontent.com/13777222/107838698-e2d51900-6d5b-11eb-9962-fa62e03426c6.png)

[2021-02-13 05:45] kburtram commented on #14291
@alanrenmsft is this impacting the 1.26 (Feb) release?  Or a recent regression?

[2021-02-13 16:31] Eagle3386 commented on #6724
Then hit the OP's 👍🏻 as that's what's counted here..

[2021-02-14 03:01] #14291 closed

[2021-02-15 01:30] vik-singh commented on #14191
Any chance of an Apple Silicon (MacOS / ARM64) package?

[2021-02-15 08:00] alanrenmsft commented on #14044
@federicoaguirre1 the issue is caused by the `%20` in the file path, we are working on a fix. for now, to unblock you, you can either remove the %20 string from the folder name or copy the query to a new window and run it.

[2021-02-15 09:17] federicoaguirre1 commented on #14044
Alright, thank you.
Have a good day
Federico

On Mon, 15 Feb 2021 at 08:00, Alan Ren <notifications@github.com> wrote:

[2021-02-15 09:34] leecheeaun commented on #12992
Still experiencing this issue - connecting using Microsoft SQL Server with Auth type SQL Login -> Cant see any databases in the side bar after connecting. Queries run fine, but none of the DB > Tables / Views / Functions are populated in the sidebar. Surprisingly, the Postgres extension works flawlessly ...

[2021-02-15 10:23] ffes commented on #7753
Dup of #738

[2021-02-15 15:55] aabelnetline opened #14301 "Windows Authentication can't log in as a different user"
I am logged in to Windows on my home laptop but want to be able to connect to a SQL Server instance using a work domain user. But in Azure Data Studio when I select Windows Authentication the username and password are grayed out so I can't choose to log in as a different user.

[2021-02-15 16:36] joshbooker commented on #13308
This is highly needed.  Perhaps consider adding the option to re-script project files from database if that would be easier in the meantime.  We are deleting and recreating the project which is time consuming and can get messy in source control.

[2021-02-15 19:04] joshbooker commented on #13344
Also should be able to include an entire folder.  Like Add Existing > Choose folder and all scripts in dir are added to SQL Project.

This would help when we reorganized the folder structure.  For example, some of my projects are organized beneath schema folders and some are not.  I'd like to simply add the 'dbo' folder and drag the dirs in there in the file explorer.  This breaks the SQL project.

[2021-02-16 03:59] sqlzelda commented on #12185
Where can we upvote the ability to create/modify publish profiles in Azure Data Studio?

[2021-02-16 06:17] Shivamd1 opened #14303 "A11y_AzureDataStudioSQL_Project_CreateNewProject_ScreenReader: NVDA announces incorrect label for "Name" edit field when navigating using tab key."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL_Feb2021;#SQL Azure Data Studio;#Win10;#FTP;#DesktopApp;#WCAG3.3.2;#JAWS;#NVDA;#STP;#AINotInScope;#Element:Edit Field;

### Environment Details:
Application Name: Azure Data S

[2021-02-16 07:42] alanrenmsft commented on #14221
I am working on these issues this week. @nahk-ivanov

[2021-02-16 08:29] Shivamd1 opened #14304 "A11y_AzureDataStudioSQL_Project_CreateNewProject_Popup_Keyboard: Keyboard focus goes outside of the popup by hitting tab key"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL_Feb2021;#SQL Azure Data Studio;#Win10;#FTP;#DesktopApp;#WCAG2.4.3;#Keyboard;#AINotInScope;

### Environment Details:
Application Name: Azure Data Studio
Version: 1.26.0-insid

[2021-02-16 09:49] akselsoft opened #14305 "No keyboard shortcut support"
Issue Type: <b>Bug</b>

I clicked the close on a tab and was prompted with the "Save or Don't Save" dialog. I attempted to use Tab OR arrow keys to move to the Don't Save.

I then tried Ctrl or Alt or anything. NO keybaord shortcut worked to respond to the dialog.

Very frustrating

Azure Data Studio version: azuredatastudio 1.25.3 (b277eafb8f5328ea26c6edfddd1999292ac27937, 2021-02-09T23:17:41.828

[2021-02-16 16:08] phil-boyd-iat commented on #14107
I'm getting a similar issue...brand new project, just created from scratch
` WARN Could not find descriptor for child component component1_7 when removing from container component1_16
2
log.ts:197   ERR An unknown error occurred. Please consult the log for more details.`
`[2021-02-16 10:52:15.591] [renderer1] [error] Cannot read property 'path' of undefined: TypeError: Cannot read property 'path'

[2021-02-16 16:56] kburtram commented on #14282
@udeeshagautam I've ported your fix to release/1.26.

[2021-02-16 16:56] #14282 closed

[2021-02-16 16:57] kburtram commented on #13837
Closing since related PR has merged to release/1.26.

[2021-02-16 16:57] #13837 closed

[2021-02-16 16:58] kburtram commented on #14287
Closing since fix ported to release/1.26

[2021-02-16 16:58] #14287 closed

[2021-02-16 17:46] Charles-Gagnon opened #14306 "Add Node status to Arc PG overview"
New feature - display node status on the overview page of the Arc PG dashboard

[2021-02-16 18:19] kisantia commented on #12185
@sqlzelda you can add a reaction to the first post. Thanks!

[2021-02-16 18:23] #14213 closed

[2021-02-16 20:57] #14266 closed

[2021-02-16 21:18] kisantia opened #14310 "Adding project to temp workspace doesn't work"
Steps to Reproduce:

1. Close any open workspace
2. Go to file -> Add a folder to the current workspace and add a folder. This will create an untitled workspace
3. Go to projects viewlet and add a new project. You can tell it's a temp workspace because the path to the workspace is just a number
![image](https://user-images.githubusercontent.com/31145923/108121907-56c33a00-7058-11eb-9207-4930668cce

[2021-02-16 21:34] cssuh commented on #14306
Fix is in the release branch

[2021-02-16 21:34] #14306 closed

[2021-02-16 22:20] chris-larsen opened #14313 "View Foreign Key Relationships (like in SSMS) by double clicking a key in the object explorer"
<img width="874" alt="Screen Shot 2021-02-16 at 1 59 03 PM" src="https://user-images.githubusercontent.com/32186637/108127973-ee2c8b00-7060-11eb-804d-bee019ced504.png">

Feature Request: Double clicking on a key in the object explorer on the left pane in Azure Data Studio brings up the Foreign Key Relationships window.

Feels like not having this Window (screenshot is from SSMS) available to me to

[2021-02-16 22:41] #14221 closed

[2021-02-17 00:54] qifahs commented on #13737
This is important for livesite customers. It is not intuitive for the customer to realize that there is a Kusto query on the Notebook, and switch the kernel dropdown to Kusto, before choosing the connection. If a Notebook was saved with the Kusto kernel displayed in the dropdown, it should re-open with the same kernel displayed, and not switch back to displaying SQL.

[2021-02-17 01:02] alanrenmsft commented on #14226
the state of the the following three buttons are controlled by the wizard itself: next, previous, done. extensions are supposed to leverage the page validation to control the enabled state of them. I tried the following code in the sqlservices extensions on top of your changes. around line 124 in maincontroller.ts

[code]

you can use this or the navigation validator we chatted about today. let me

[2021-02-17 01:04] alanrenmsft commented on #14226
forgot to tag you @nahk-ivanov

[2021-02-17 01:23] chlafreniere commented on #13737
@MsSQLGirl need your help with priority here. Any chance that you could help?

[2021-02-17 02:09] onionhammer commented on #4916
Any update? bumptybump

[2021-02-17 02:22] alanrenmsft commented on #14229
I am not able to reproduce the issue anymore, I tried local dev instance as well as the latest insider build, could you please give it another try?

[2021-02-17 05:08] willvelida commented on #4916
This would be awesome to have! Especially since Cosmos DB support for Storage Explorer is deprecated.

It would be good to have support across all APIs. We use both Table and SQL API accounts and it would be nice to be able to navigate between them easily rather than having to navigate to different accounts in the portal.

+1 on being able to run queries in ADS (Similar to how you can use queries

[2021-02-17 06:03] abist commented on #14191
@vik-singh We are working on it so we can get out a stable build for ARM64. Unfortunately, it won't make it for this or the next release but is being worked on.

[2021-02-17 08:51] Andr3w1000 opened #14314 "Default result panel hight"
Hi guys,

I was wondering if there is an option to set the default hight of the Result panel?
Whenever I run a SQL query the result panel takes up 50% of the window.

Thanks,
Andrew

[2021-02-17 09:27] Makxik commented on #14256
The problem persists with SQL Login authentication but not with Windows (e.g. localdb).

[2021-02-17 09:29] lluthus opened #14315 "Tabs settings"
Issue Type: <b>Bug</b>

I change the tabs size to 3, but still give me 4 empty space when I am going to tan

Azure Data Studio version: azuredatastudio 1.25.3 (b277eafb8f5328ea26c6edfddd1999292ac27937, 2021-02-09T23:10:35.151Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5600U CPU @ 2.60GHz (4 x 2594)|
|GPU Stat

[2021-02-17 09:30] #14315 closed

[2021-02-17 09:42] Shivamd1 opened #14316 "A11y_AzureDataStudioSQL_Project_CreateNewProject_ScreenReader: NVDA not announces the path information which is the disabled content present under "Workspace" using any key"
### Actual:
NVDA does not announces the path information which is the disabled content present under "Workspace" using any key.

Same issue is not observed with Jaws

Similar issue is observed in below scenarios:

- Open Existing Project- Project

### Expected:
NVDA should announce path information which is the disabled content present under "Workspace".

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev

[2021-02-17 10:43] Shivamd1 opened #14317 "A11y_AzureDataStudioSQL_Project_Database_CreateProjectFromDatabase_Keyboard: Keyboard focus is moving outside of the "Create Project From Database" pane after hitting shift + tab key."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL_Feb2021;#SQL Azure Data Studio;#Win10;#FTP;#DesktopApp;#WCAG2.4.3;#Keyboard;#FTP;#AINotInScope;

### Environment Details:
Application Name: Azure Data Studio
Windows Version:

[2021-02-17 10:52] Shivamd1 opened #14318 "A11y_AzureDataStudioSQL_Project_CreateProjectFromDatabase_Keyboard: Keyboard focus is getting trapped as it is not moving by hitting tab key when keyboard focus is on "cancel" button"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL_Feb2021;#SQL Azure Data Studio;#Win10;#FTP;#DesktopApp;#WCAG2.1.2;#Keyboard;#AINotInScope;

### Environment Details:
Application Name: Azure Data Studio
Windows Version: Wind

[2021-02-17 12:35] zamkam opened #14319 "Do not ask to save unmodified content"
Description says it all, Azure Data Studio always asks to save a tab's content even when there are no changes. In my case I'm working with an application that uses JSON heavily, so I'm constantly inspecting JSON data from query results. That data is displayed in a new tab, nicely formatted, I just inspect the content and don't edit anything. But when closing the tab I always get the pop-up asking

[2021-02-17 12:38] #14319 closed

[2021-02-17 12:42] zamkam opened #14320 "Do not ask to save unmodified content"
Azure Data Studio always asks to save a tab's content even when there are no changes. In my case I'm working with an application that uses JSON heavily, so I'm constantly inspecting JSON data from query results. That data is displayed in a new tab, nicely formatted, I just inspect the content and don't edit anything. But when closing the tab I **always** get the pop-up asking "Do you want to save

[2021-02-17 14:40] onionhammer commented on #4916
SIDENOTE: Have you checked out azure synapse for this? I know it doesnt work for serverless which stinks...

[2021-02-17 14:59] drizztdourden08 opened #14321 "Query Tab database icon always show red even if connected"
- Azure Data Studio Version: 1.25.3

Steps to Reproduce:

1. Open a new query
2. Run any query
3. Icon is shown in red at all time

[2021-02-17 16:34] barbaravaldez opened #14322 "Editing Books: Throw error if section is not found when trying to update target book table of contents after git pull."
Throw error when section is not found, before attempting to modify the table of contents. If we do not check then we are only removing the section but never adding it again.
This issue only happens when the book view doesn't pick up the latest changes of table of contents. Like trying to pull changes on git and never reloading ADS. https://github.com/microsoft/azuredatastudio/issues/9249

- Azure

[2021-02-17 18:19] MsSQLGirl opened #14325 "Clicking on a notebook file from Search Results of Notebook viewlet should open the file and highlight the keyword"
**Is your feature request related to a problem? Please describe.**
When searching for a keyword in the Search pane of Notebook Viewlet, it will then display the notebooks containing the keyword. I click on the notebook file to open the file.
Areas to improve: **I then have to click Ctrl + F and copy the keyword and paste it to the Find dialog (3 more steps).**

**Describe the solution or feature y

[2021-02-17 18:30] kburtram opened #14326 "Tooltips are showing text 'SQL' instead of proper tip"
This was broken in last vscode merge.

1. Run a query
2. Hover over SQL text

Expected
![image](https://user-images.githubusercontent.com/599935/108250406-140e6a00-710b-11eb-8ed9-2672f9da18f6.png)

Actual
![image](https://user-images.githubusercontent.com/599935/108250437-1b357800-710b-11eb-8a35-6cb82244cf7b.png)

[2021-02-17 18:50] aisbergde commented on #14055
Maybe as an intermediate step you could implement that the following setting also affects result windows of "Edit Data":

At the moment, turning off only works for a "normal" result window.

It would be even better if there were a separate area in the settings under Data next to "queryEditor", for example "dataEditor". Because the Data Editor is different from the normal Query Editor.

[2021-02-17 19:27] alanrenmsft commented on #14229
please reactive if you are still seeing the issue.

[2021-02-17 19:28] alanrenmsft commented on #14226
please reactivate if you are having issue with the solution I provided.

[2021-02-17 19:28] #14226 closed

[2021-02-17 20:03] chlafreniere commented on #14127
I'm able to repro this with the following:

- Open notebook with injected parameters cell
- Make a change (editor shows dirty)
- Attempt to close + don't save

Editor will remain open

[2021-02-17 20:26] chlafreniere commented on #14322
hey @barbaravaldez I just want to make sure I'm crystal clear on the repro here. Is the following correct?

- Open a book in ADS
- Alter some files outside of the book editing mechanism (e.g. either outside of ADS, git pull, etc.)
- (this part I'm not 100% clear on) Make an edit to the book in ADS
- Section will be gone

Can you help clarify?

[2021-02-17 20:33] barbaravaldez commented on #14322
So, if there were some changes and the Book View does not reflect those. For instance a section that no longer in the table of contents, the quick pick will still show the the section because to the BookModel the section is still there.
So if I want to move a notebook/section to that section then it'll remove it from the source book toc but it won't add it to the target book because it'll never fi

[2021-02-17 20:53] chlafreniere commented on #14322
Chatted about this offline. Not a regression. Doesn't meet escrow bar, but good to fix in insiders and get in for March.

[2021-02-17 21:50] aaronostlund commented on #12992
This is happening to me as well. It happens on windows auth.

[2021-02-17 22:08] aasimkhan30 opened #14330 "Migration Dashboard has visibility issues in dark/high contrast mode."
Steps to Reproduce:

1. Connect to a server
2. Click on the migrations pane

![image](https://user-images.githubusercontent.com/6816294/108274142-58106780-7129-11eb-9df1-897df4a73f5a.png)

[2021-02-17 22:42] paulgear opened #14331 "Please publish .deb packages to https://packages.microsoft.com/"
- Azure Data Studio Version:

Steps to Reproduce:

1. Read https://docs.microsoft.com/en-us/sql/azure-data-studio/download-azure-data-studio?view=sql-server-linux-ver15#get-azure-data-studio-for-linux
2. Wonder why we have to separately install dependencies and download manually via https://go.microsoft.com/fwlink/...

Preferred option:

- Packages published to master repository at https://package

[2021-02-18 01:45] kburtram commented on #14321
@drizztdourden08 the red color of the query tab is no meant to convey connectivity state.  It is actually just the color vscode assigned to SQL files at some point, since they wanted to have different colors for different file types.  I'll pass your feedback to our UX team.  Thanks!

[2021-02-18 01:45] #14321 closed

[2021-02-18 01:47] drizztdourden08 commented on #14321
Wow. Yeah. Thanks for that.

Very confusing. The tab can actually be disconnected and will show the "disconnected" writings. The color probably should reflect that state instead.

[2021-02-18 01:47] kburtram commented on #14314
@Andr3w1000 we don't have a setting for this sizing.  Were you hoping for the results pane to take less or more space?

[2021-02-18 01:52] kburtram commented on #14301
@aabelnetline this is a long standing request we've had with azuredatastudio https://github.com/microsoft/azuredatastudio/issues/112.  The blocking issue has been the SqlClient driver doesn't easily support this scenario and would require updates for this.  The suggested workaround is to use the "runas" command to launch the ADS process as a different user.  I'll close this as a duplicate of the l

[2021-02-18 01:52] #14301 closed

[2021-02-18 05:15] MatrixArchitect opened #14335 "ADS crashes when chart button is clicked in the results pane"
Issue Type: <b>Bug</b>

1. Execute any query that returns tabular data
2. Click on the Chart button/icon to the right of the results pane
3. ADS pops up a a little window on bottom right saying it recommends installing some visualization extension and freezes. The buttons in the dialog box ("Install All" and "Show Recommendations") do not respond to mouse clicks. ADS becomes unresponsive to all us

[2021-02-18 05:30] chlafreniere commented on #14127
Ported to release/1.26.

[2021-02-18 05:30] #14127 closed

[2021-02-18 05:55] Shivamd1 opened #14336 "A11y_AzureDataStudioSQL_Projects_CreateNewProject_Keyboard: Keyboard focus is not visible on "Ok" button."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL_Feb2021;#SQL Azure Data Studio;#Win10;#FTP;#DesktopApp;#Keyboard;#WCAG2.4.7;#AINotInScope;
### Environment Details:
Application Name: Azure Data Studio
Version: 1.27.0-inside

[2021-02-18 08:38] SQLDBAWithABeard opened #14337 "SQL Notebook Agent Job runs successfully but Notebook does not open."
- Azure Data Studio Version:

                  Version: 1.25.3 (system setup)
                  Commit: b277eafb8f5328ea26c6edfddd1999292ac27937
                  Date: 2021-02-09T23:10:35.151Z
                  VS Code: 1.48.0
                  Electron: 9.4.3
                  Chrome: 83.0.4103.122
                  Node.js: 12.14.1
                  V8: 8.3.110.13-electron.0

[2021-02-18 14:24] Andr3w1000 commented on #14314
Way more less. In SSMS the result panel takes around 30% of the screen when I run a qurey.
I think the result panel takes too much space from the code editor.
So maybe if ADS could remember the last height I set for the result panel would be nice.

[2021-02-18 17:43] extofer commented on #11790
Since the added ability to use ADS for PostgreSQL databases, brackets are not acceptable syntax. In order to use this one tool for development, an option to remove the brackets when drag and drop objects would be beneficial.

[2021-02-18 18:43] nahk-ivanov commented on #14229
Just updated to latest insider build:
  Version: 1.27.0-insider (user setup)
  Commit: 87a9ae0975d89222b41d2c804eff2500fe61d8a7

and the issue is still present. It is actually very interesting - the error happens when you check node `112`, but does not happen when you check/uncheck leaf `12` node, which makes me think more and more that it is a bug and not an expected behavior.

![image](https://u

[2021-02-18 19:31] SakshiS-harma opened #14341 "Add icon for title of project dashboard"
![image](https://user-images.githubusercontent.com/57200045/108410904-d67a1180-71dc-11eb-947e-06f48606c544.png)

[2021-02-18 20:07] MsSQLGirl commented on #12740
@chlafreniere (bumping this to Pri:1)

[2021-02-18 21:11] cssuh opened #14344 "Connection error box has extra border"
- Azure Data Studio Version:
![Screen Shot 2021-02-18 at 4 10 54 PM](https://user-images.githubusercontent.com/18150417/108421928-e22cfe80-7203-11eb-9cff-162f580c7b63.png)

Steps to Reproduce:

1. Try to connect to a DB that will throw a connection error (in my case, I did not have the docker container running for the DB I was trying to connect to)
2. The connection error box has this extra border

[2021-02-18 21:17] MsSQLGirl commented on #10747
@chlafreniere - adding this as Pri 2 to make sure it's in our radar. Not P1 for now.

[2021-02-18 23:33] dzsquared opened #14345 "Drag and drop for Postgres should not include square brackets"
- Azure Data Studio Version:
Version: 1.25.1 (system setup)
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98
Date: 2020-12-11T01:59:24.271Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Connect to a postgres server
2. use the object explorer drag and drop functionality to bring table and/or co

[2021-02-19 00:24] aasimkhan30 opened #14346 "Adding row in edit data messes up the table"
- Azure Data Studio Version: 1.26 RC1

Steps to Reproduce:

1. Right click on a table in data explorer
2. Click on Edit data
3. Add a table row (tab through cells while entering the data)

Data Entered in Edit Data:
![image](https://user-images.githubusercontent.com/6816294/108439138-8f544680-7205-11eb-81e4-4f669b5955fb.png)
Data Actually Displayed in Table:
![image](https://user-images.githubuser

[2021-02-19 00:40] aasimkhan30 commented on #14346
Seems to be a regression. Moving it to February milestone.

[2021-02-19 02:24] TheJY opened #14349 "Unable to scale out Arc Postgres Hyperscale"
- Azure Data Studio Version:
Version: 1.26.0-rc1 (user setup)
Commit: 37727b7911f67c09ae9de526709d24788ffb6dec
Date: 2021-02-18T06:12:35.818Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Arc extension: 0.7.3

Steps to Reproduce:

1. deploy Arc Postgres Hyperscale
2. Go to compute/storage page and increase the number

[2021-02-19 02:32] TheJY opened #14350 "Unable to create a support request for Arc Postgres Hyperscale"
- Azure Data Studio Version:
Version: 1.26.0-rc1 (user setup)
Commit: 37727b7911f67c09ae9de526709d24788ffb6dec
Date: 2021-02-18T06:12:35.818Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Arc extension: 0.7.3

Steps to Reproduce:

1.deploy Arc Postgres Hyperscale
2.go to the new support request page
3. click new supp

[2021-02-19 02:38] TheJY opened #14351 "Configure node parameters for Arc Postgres Hyperscale does not work"
- Azure Data Studio Version:
Version: 1.26.0-rc1 (user setup)
Commit: 37727b7911f67c09ae9de526709d24788ffb6dec
Date: 2021-02-18T06:12:35.818Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Arc extension 0.7.3

Steps to Reproduce:

1. Deploy Arc Postgres Hyperscale
2. Go to the node parameters page
3. some of the page

[2021-02-19 02:43] kburtram commented on #14335
@MatrixArchitect I wasn't able to repro this behavior.  Could you please see if there are any error logs in the Developer Tools Console following instructions above?

The Show Recommendations button will prompt to install SandDance extension.  Likely if you install that extension it would avoid showing the prompt (as a temporary workaround to the crash).

[2021-02-19 02:53] TheJY opened #14352 "Experience with Arc Postgres Hyperscale is too unstable and unpredictable"
- Azure Data Studio Version:
Version: 1.26.0-rc1 (user setup)
Commit: 37727b7911f67c09ae9de526709d24788ffb6dec
Date: 2021-02-18T06:12:35.818Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Arc extension 0.7.3

Steps to Reproduce:

1. At times none of the content loaded at run time loads
2. deploy Arc Postgres Hypersca

[2021-02-19 02:59] TheJY opened #14353 "Subscription field in overview page is missing the copy control/button"
- Azure Data Studio Version:
Version: 1.26.0-rc1 (user setup)
Commit: 37727b7911f67c09ae9de526709d24788ffb6dec
Date: 2021-02-18T06:12:35.818Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Arc extension 0.7.3

Steps to Reproduce:

1. deploy Arc Postgres Hyperscale
2. go to properties page
3. the copy contol/button is

[2021-02-19 03:11] TheJY opened #14355 "Configuring mem/vCPU settings does not seem to work"
Azure Data Studio Version:
Version: 1.26.0-rc1 (user setup)
Commit: 37727b7
Date: 2021-02-18T06:12:35.818Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Arc extension: 0.7.3

Steps to Reproduce:

1. deploy Arc Postgres Hyperscale
2. Go to compute/storage page and set CPU limit.
It does display a window
image
![image]

[2021-02-19 04:05] MatrixArchitect commented on #14335
[exthost.log](https://github.com/microsoft/azuredatastudio/files/6007554/exthost.log)
[DeveloperTools.log](https://github.com/microsoft/azuredatastudio/files/6007555/DeveloperTools.log)

@kburtram Thank you. I have attached both the logs. I see in the Console that some js libraries failed to load. I also see a message about "whoisacitve" extension being unresponsive. However, I used to run into th

[2021-02-19 04:28] aasimkhan30 commented on #13423
Closing this issue as it cannot be reproduced in the latest version.

[2021-02-19 04:28] #13423 closed

[2021-02-19 05:11] Yash14j opened #14359 "A11y_AzureDataStudioSQL_Projects_Add External Streaming Job_Keyboard: Expand collapse button present in 7th line in code editor is not accessible with any keyboard key"
“[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing faster an

[2021-02-19 05:46] Yash14j opened #14360 "A11y_AzureDataStudioSQL_Add Database reference_System Database_ScreenReader:Nvda does not announces required when user navigates on Database name edit box with the help of tab key"
“[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing faster an

[2021-02-19 07:30] theoko opened #14361 "can i automatically export my notebook to a .py file every time i save my notebook?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2021-02-19 08:59] peterlukerow opened #14362 "Add support for new database and restore DB directly from BAK"
### The Frustration of missing functionality is high!
Currently in ADS there is no way to create a new database via the UI. I found an extension that gives you a "New Database" option in the context menu for the Databases node in the server pane, but it woefully in adequate as all it does is ask for a name, there are no options to control initial size, growth options like you get in SSMS. Thus, I

[2021-02-19 09:59] Yash14j opened #14363 "A11y_AzureDataStudioSQL_Projects_Publish Projects_ScreenReader: NVDA does not announces name of database Combox"
### Actual:
NVDA does not announces name of database Combox. Nvda only announces Combobox collapse when navigated on it with the help of tab key.

Same issue is observed with Jaws

### Expected:
NVDA should announce name of Combox when navigated on it with the help of tab key.. Nvda should announce it as Database editbox collapsed.

**GitHubTags:** #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQ

[2021-02-19 11:11] trdgit1 opened #14364 "queries may get saved broken to history"
Issue Type: <b>Bug</b>

![изображение_2021-02-19_141019](https://user-images.githubusercontent.com/11870372/108497227-32679780-72bc-11eb-8cae-300cdd467227.png)

Azure Data Studio version: azuredatastudio 1.25.3 (b277eafb8f5328ea26c6edfddd1999292ac27937, 2021-02-09T23:10:35.151Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) C

[2021-02-19 12:51] aisbergde commented on #3152
This missing feature is one major reason why use other software to work with sql server. For example SSMS, where I can use the graphical design editor to expand, or some SSMS extensions doing this job.

[2021-02-19 17:43] kburtram commented on #14362
@peterlukerow thanks for the feedback.  Regarding "Restore from a BAK", If you open the Manage dashboard for a Server there is a Restore Toolbar button that allows you to launch the Restore dialog without any existing DBs. (also, if you launch Restore from any DB you can set the restore target to a new DB name to create a new database).  Is the request there to add a "Restore" context menu to the

[2021-02-19 18:32] nasc17 opened #14366 "Postgres Parameters Page Discard Button never disabled."
Discard button stays enabled after use.
- Azure Data Studio Version: Version: 1.26.0-rc1 (user setup)
![discardbutton](https://user-images.githubusercontent.com/69922333/108754614-02f29e00-74fb-11eb-9952-16704297cc01.gif)

Steps to Reproduce:

1. Deploy Arc Postgres Hyperscale
2. Go to the node parameters page
3. Alter a a parameter value
4. Press discard button
5. Table is set back to initial sta

[2021-02-19 18:58] #13819 closed

[2021-02-19 19:03] halerankin opened #14367 "Alignment with portal button style broke Notebook and ML extension button styles"
- Azure Data Studio Version: Stable

Latest changes made to align button styles with portal button styles has impacted two places:

**Notebooks:** calloutDialog, as shown in editor.
Cancel button no longer has outline. Screenshots below:
<img width="632" alt="Notebooks-light" src="https://user-images.githubusercontent.com/12279161/108549132-a0eb2c00-72a1-11eb-899f-1110110ded8d.png">
<img width="65

[2021-02-19 19:05] #12423 closed

[2021-02-19 19:10] VasuBhog commented on #14361
Hi @theoko,
The current only method that you can convert notebooks to .py file is using `jupyter nbconvert --to script [Your Notebook].ipynb`.

This would only be able to work properly with python notebooks as other kernels would as far as I know do not have a translation setup to translate over to a .py script.

[2021-02-19 19:16] nasc17 commented on #14351
**No repro**
Arc extension 0.7.3
Version: 1.26.0-rc1 (user setup)
Commit: 995095f696fd9800e7e621d34daa895d57989ccd
Date: 2021-02-19T03:43:27.038Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2021-02-19 19:16] #14351 closed

[2021-02-19 19:16] nasc17 commented on #14349
**No repro**
Arc extension 0.7.3
Version: 1.26.0-rc1 (user setup)
Commit: 995095f696fd9800e7e621d34daa895d57989ccd
Date: 2021-02-19T03:43:27.038Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2021-02-19 19:16] #14349 closed

[2021-02-19 19:19] jetzerb opened #14368 "Schema Compare: Grouping and sorting options, collapse/expand groups"
**Is your feature request related to a problem? Please describe.**
Not a _code_ problem, but a _UX_ problem.

**Describe the solution or feature you'd like**
Related to #8108, in that this is a request to provide functionality that's available in the Visual Studio schema compare.  I would like the ability to
- group the differences by schema in addition to C~~R~~UD operation
- expand/collapse each

[2021-02-19 19:27] alanrenmsft opened #14369 "Enable query result grid selection summary for notebooks"
in https://github.com/microsoft/azuredatastudio/pull/14358, the feature is not enabled for notebook due to the lack of a global notebook query execution state change event.

[2021-02-19 19:29] #512 closed

[2021-02-19 20:11] dgnsaglam commented on #9174
Having the same issue. At times I can execute queries on the database no issues, but when I want to open up a stored procedure to alter it, I get the error.
Version: 1.25.3
Commit: b277eafb8f5328ea26c6edfddd1999292ac27937
Date: 2021-02-09T23:17:41.828Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

[2021-02-19 20:43] TheJY opened #14370 "Need to be able to reset scheduling parameters CPU/mem request/limit to defaults (ie empty strings)"
- Azure Data Studio Version:
Version: 1.26.0-rc1 (user setup)
Commit: 37727b7911f67c09ae9de526709d24788ffb6dec
Date: 2021-02-18T06:12:35.818Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Arc extension: 0.7.3

Steps to Reproduce:

1. deploy Postgres Hyperscale
2. go to Compute + storage page
3. try to remove any valu

[2021-02-19 21:29] nasc17 opened #14371 "Postgres Properties Page places name of namespace as name of data controller"
The name of data controller is arc-dc instead of arc. arc is the namespace

![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/69922333/108563478-5aec9300-72b6-11eb-8317-e1b0696fa70e.png)

[2021-02-19 22:39] cssuh commented on #14346
Tried running the `Edit Data` command on an existing table, and it does not work.  I put more data and hit `Run`, but it doesn't show up when I query the DB.

[2021-02-19 22:50] sw-mmm opened #14372 "Groups for open editors"
Issue Type: <b>Feature Request</b>

Please give me the ability to take open editors and arbitrarily group them on the open editors side pane. Groups should be able to be expanded / collapsed.

Use case: I have a bunch of sql files open, relating to work A, and want to keep it around while perform work B

Azure Data Studio version: azuredatastudio 1.25.3 (b277eafb8f5328ea26c6edfddd1999292ac27937, 2

[2021-02-19 23:17] bergeron commented on #14350
@TheJY Was `azdata arc dc upload` run?  The resource won't be created in Azure until then.

[2021-02-19 23:32] nasc17 commented on #14350
No repro
Arc extension 0.7.3
Version: 1.26.0-rc1 (user setup)
Commit: 995095f
Date: 2021-02-19T03:43:27.038Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2021-02-19 23:33] #14350 closed

[2021-02-19 23:34] nasc17 commented on #14350
Uploaded resource (indirect connectivity mode) to portal before trying to create support request.

[2021-02-20 00:06] smartguest commented on #14346
@cssuh Hitting run doesn't do anything for Edit Data at the moment, its only meant to edit the data as with SSMS. The results table will show up when you query the top 1000 results.

[2021-02-20 12:10] daniel0x00 commented on #7440
Reporting hereby the same problem. It happens randomly and cannot reproduce so much. It seems it happens when you move across query windows. Very annoying, it makes it not usable. Only solution is to restart.

Environment:
- **OS**: Windows 10 20H2.
- **ADS**: 1.25.3 - most up to date version as of now.
- **MSSQL**: local server: Microsoft SQL Server 2019 (RTM) - 15.0.2000.5 (X64)   Sep 24 2019 13

[2021-02-20 18:09] erapade opened #14377 "Remote Jupyter notebook folder location"
**Is your feature request related to a problem? Please describe.**
My personal folder gets cluttered when the remove Jupyter notebooks I download are either placed in ()...
"Remote Jupyter books load a Jupyter book from a public repository into Azure Data Studio, either in the **currently open folder** or a **temporary location**".
Looks like "currently open folder" are enforced whenever I have on

[2021-02-21 03:01] glittle commented on #13969
I have a new install of Data Studio.  I was able to connect to my Azure account. I later removed the account.  Now, when I try to connect, I get "You have no clouds enabled."

I had, then uninstalled, the "SQL Server Profiler" extension. I've restarted the app a number of times. The "public cloud" is enabled.

The "Loading..." message does not go away:
![image](https://user-images.githubuserconten

[2021-02-21 03:11] glittle commented on #13969
I deleted the folder at C:\Users\[My User Account]\AppData\Roaming\azuredatastudio

After that, Data Studio started up fresh and I was able to add my account and keep going.

[2021-02-21 03:12] glittle commented on #13969
@jpsebasti Try resetting as I did.

[2021-02-21 15:11] jpsebasti commented on #13969
Thank you glittle. I'm on a Mac so I'll have to see if I can figure out where equivalent (if one exists) folder is.

[2021-02-21 18:15] kburtram commented on #13969
@jpsebasti I'm not on my mac now to get the exact path, but it's under something like ~/Library/Application Support/azuredatastudio.  Please let us know if deleting this directory helps resolve the issue.  The 1.26 release is planned for tomorrow morning (to answer a previous questions).

This issue was tracking a specific issue we saw when various extensions were enabled.  Since it's now discussi

[2021-02-21 18:15] #13969 closed

[2021-02-21 18:16] kburtram commented on #11260
Moving into March for further investigation based on related reports on issue #13969.

[2021-02-21 18:27] kburtram opened #14379 "Error showing Restore Database File Browser dialog"
- Azure Data Studio Version: 1.26.0

Steps to Reproduce:

1. Connect to Server and open Restore Dialog
2. Switch to restore backup file and click browse for file "..." button

Expected: Remote Browser works without error

Actual: An error message pops up the first time.  Then the dialog doesn't render correct on subsequent launches.  A telemetry error shows in dev console.

![image](https://user-i

[2021-02-21 18:29] kburtram commented on #14379
FWIW, the error didn't repro after restarting ADS, so it's likely the bug is in the dashboard telemetry call and that is having a side-effect (at least with the rendering issue).  The first error still may be in the restore code, and what "broke" the connection, but I didn't see any exception from that error.

[2021-02-22 06:32] aasimkhan30 commented on #14346
moving to backlog as it cannot be reproduced

[2021-02-22 09:19] peterlukerow commented on #14362
@kburtram - thanks for that info. Hopefully you can see that the existing UX is not that great since it didn't make much sense to me to even look there.

Having restore in a context menu on the database node in the server pane is simply put far more intuitive to me. I mean, ADS has backup/restore context menu options when you right click an existing DB after all.

Hmmm.... I don't like the sound o

[2021-02-22 15:14] Simone-86828 opened #14382 "Cannot connect"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

Since the upgrade to 1.26.0 I can no longer connect to any server. Downloaded again the 1.25.3 and it works just fine.
Any particular change or is this a bug?

Please the error message I get here below:
Microsoft.Data.SqlClient.SqlException (0x80131904): A network-related or

[2021-02-22 16:00] SQLDBAWithABeard opened #14383 "Database Projects - Add existing file to project"
**Is your feature request related to a problem? Please describe.**
Because it is a requirement, I need to add existing files into a database project (yeah I know it's not awesome but still it is there)

I can of course do this by editing the sqlproj file but this is unsuitable for some users.

**Describe the solution or feature you'd like**
Add Existing Item to be added to this menu and to the com

[2021-02-22 17:23] Charles-Gagnon commented on #14382
Also - what type of server are you connecting to? SQL On-Prem (remote or localhost)/Azure/etc.

[2021-02-22 17:25] #14191 closed

[2021-02-22 17:41] Charles-Gagnon commented on #14364
This looks to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/11865 so I'm going to close it - let me know if that doesn't seem to be the case here.

[2021-02-22 17:41] #14364 closed

[2021-02-22 18:01] NicholasIbarra opened #14384 "Arrows to Collapse\Open Folders"
Issue Type: <b>Bug</b>

In SSMS, I can navigate the folders via my arrow keys left and right. I.e.
Server
   --> Databases
      --> [Database]
         --> Programability
            --> Stored Procedures
               --> [Procedure]
               --> [Procedure]
               --> [Procedure]

I can be on a specific procedure and arrow left and it will collpase the folder. And continute to do

[2021-02-22 18:24] kburtram commented on #14384
@NicholasIbarra thanks for your suggestion!  Currently the spacebar will expand/collapse containers in the tree, but I agree the arrows are also a natural command for this action.

[2021-02-22 18:57] #14371 closed

[2021-02-22 19:05] Simone-86828 commented on #14382
Hello,
please find the requested logs attached.
I'm trying to connect to 4 different instances of on-prem SQL sry 2014 std.
Running Azure Data Studio on macOS Catalina (10.15.7), while SQL instances are on 3 different server VMs, all running Windows 2012 R2.
Any other info you need please ask.
Thank you

Best regards

[Console.log](https://github.com/microsoft/azuredatastudio/files/6024535/Console

[2021-02-22 19:16] nasc17 commented on #14355
No repro
Arc extension 0.7.3
Version: 1.26.0-rc1 (user setup)
Commit: 995095f
Date: 2021-02-19T03:43:27.038Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2021-02-22 19:16] #14355 closed

[2021-02-22 19:22] NicholasIbarra commented on #14384
@kburtram Perfect, I will use this work around in the mean time. I want to migrate to the Data Services, so just wanted to provide feedback. I use SSMS daily and navigating the file tree speeds up finding objects since we have a lot of views and procedures. Thanks!

[2021-02-22 19:33] #13670 closed

[2021-02-22 19:59] mas-dse-juremigi opened #14388 "Unable to connect to sql server saved connections"
Issue Type: <b>Bug</b>

Previous saved sql server connections no longer working after latest update

Microsoft.Data.SqlClient.SqlException (0x80131904): A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connect

[2021-02-22 20:01] kburtram commented on #14382
@Simone-86828 we update the SqlClient driver in this build, which always has possibility for regressions/side-effects.  Though we aren't seeing wide-spread connectivity problems related to the upgrade yet this morning.  The error is indicating a network related problem accessing the server.

Have you ruled out that there may have been an intermittent network issue to these servers at the time you

[2021-02-22 20:02] mas-dse-juremigi commented on #14382
@kburtram
I'm having the same issue. I reported it here:
https://github.com/microsoft/azuredatastudio/issues/14388

[2021-02-22 20:03] kburtram commented on #14382
@mas-dse-juremigi thanks for confirming!  Let's close the other issue as a duplicate and track the issue here.

[2021-02-22 20:04] kburtram commented on #14388
@mas-dse-juremigi thanks for logging this issue.  Let's track in the duplicate https://github.com/microsoft/azuredatastudio/issues/14382.

[2021-02-22 20:04] #14388 closed

[2021-02-22 20:06] kburtram commented on #14382
@mas-dse-juremigi are you also using a mac client?  can you provide any additional info about the servers you're connecting to?  is there anything interesting in the logs (besides the exception callstack) that could help determine what's happening here.

[2021-02-22 20:38] Code-DJ commented on #14382
@kburtram I am using mac client. I also get a connectivity error. Using Windows Authentication. It says run kinit but when I run it, it has no impact. Goes back to showing the following error:

[code]

[2021-02-22 20:43] jpsebasti commented on #11260
I just installed ADS version 1.26.0 on my Mac OS Catalina 10.15.7.  This is a fresh install, I removed the older version.
I click on the person icon (above settings cog).  I have the ability to Add and Account.  I click that and immediately get an error message: You have no clouds enabled.  Go to Settings -> Search Azure Account Configuration -> Enable at least one cloud

I go to Settings and in t

[2021-02-22 20:48] kburtram commented on #14382
@Code-DJ it likes a different issue than the other ones.  But could also be related to the driver bump (though we did specifically test windows auth on mac, there were some changes in the driver in this area).  Just to connections are working fine on 1.25.3 and broke with today's update?

[2021-02-22 21:05] #14353 closed

[2021-02-22 21:13] Code-DJ commented on #14382
@kburtram yes, it was working on 1.25.3 and then broke on 1.26. Also, when I compare the SqlException in my note to @Simone-86828 first note, it looks the same.

[2021-02-22 21:32] willvelida commented on #4916
@onionhammer Synapse Link for Cosmos DB is awesome! I'm hoping it'll be open for all the APIs soon!

[2021-02-22 21:44] Code-DJ commented on #14382
@Charles-Gagnon On-Prem SQL Server 2019.

[2021-02-22 21:51] cssuh commented on #14382
@Code-DJ are you trying to run kinit through ADS or through Terminal?

[2021-02-22 21:55] Code-DJ commented on #14382
@cssuh through Terminal on ADS. Just tried it through iTerm2, same issue.

[2021-02-22 22:08] cssuh commented on #14382
after running kinit, does it give any messages?  Also, after running kinit, if you run klist, do you get a message containing the credentials issued and expire date?

[2021-02-22 22:08] nasc17 opened #14390 "Add Loading component to Postgres Connection String page"
The Postgres Connection String page could use a loading component to indicate more content will be available soon.  It is mainly blank until the model data is uploaded. The other pages have some form of indicator that more information is to come.
![csaddloading](https://user-images.githubusercontent.com/69922333/108776376-2e838180-7517-11eb-8ca6-993e8a89e1f0.gif)

[2021-02-22 22:13] mas-dse-juremigi commented on #14382
@kburtram  Yes, I am using a Mac. I am using On-Prem SQL Servers. kinit works without issue as I can authenticate with other services.  I have no issue connecting to the same sql servers using python, pyodbc + latest version of Microsoft ODBC drivers (which also authentication using kerberos).  Only Azure Data Studio is having issues.

[2021-02-22 22:15] nasc17 commented on #14352
Checked to see if this issue came up at all on stable release and still could not repro.
Version: 1.26.0 (user setup)
Commit: 995095f696fd9800e7e621d34daa895d57989ccd
Date: 2021-02-19T03:26:50.428Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2021-02-22 22:16] Code-DJ commented on #14382
@cssuh

kinit does not throw any errors. klist shows the following output:

[code]

[2021-02-22 23:54] adricl commented on #13769
Error is similar to this one: Results Horizontal scroll bar #4374

[2021-02-23 00:12] udeeshagautam commented on #13976
@dzsquared FYI

[2021-02-23 00:23] barbaravaldez commented on #9249
The PR: _Fix debounce issue when book toc is updated_ #14392 handles the case where the toc file is changed outside of ADS. We refresh the Book View to reflect those changes.

I'll keep this issue open because we still need to implement the desired scenario when a notebook or markdown file is updated and ADS needs to prompt the user if they want to reload it.

[2021-02-23 00:30] kburtram commented on #14382
I created a test build that is the same as the 1.26.0 release, except that it contains the SqlClient 2.0.0 driver instead of the upgraded driver.  If anyone experiencing connectivity problems with 1.26.0 could please try one of the below builds to see if that resolves the problem.  This will help isolate the source of the issue.  Thanks!

macOS - https://azuredatastudiobuilds.blob.core.windows.net

[2021-02-23 00:33] Charles-Gagnon commented on #14352
I'll close this then unless we get a more consistent repro with the stable build.

[2021-02-23 00:33] #14352 closed

[2021-02-23 00:56] Code-DJ commented on #14382
@kburtram I have verified the macOS zip file. It works fine.

BTW, on Windows I don't have any issues with 1.26. It connects fine using the Stable build.

[2021-02-23 00:59] rajeshka opened #14393 "Notebok Visual Settings to be retained on subsequent execution"
- Azure Data Studio Version: 1.2.6

**Steps to Reproduce:**

1. Run a query in a code cell and configure a chart
1. Re-run the cell

The chart settings are not retained and the output defaults to table

**Fix Required:**

The cell should remember the chart configuration and render the chart accordingly without defaulting to table

[2021-02-23 01:05] udeeshagautam commented on #14310
@kisantia assigning to you, let's disuess this week. @dzsquared  FYI

[2021-02-23 01:19] udeeshagautam commented on #13955
@wknsJimmy thanks for the details.

In the above message looks like image you shared for question-3 dotnet version did not come through. Can you please share the dotnet sdk version on you machine again.

I tried reproing this with a few databases on our side but could not get the error so far. Is it possible for you to share the project or just the sqlproj file with us?

[2021-02-23 02:18] kisantia commented on #14336
When using the High Contrast theme, it is clear when focus is on the ok button.

Focus on ok button:
![image](https://user-images.githubusercontent.com/31145923/108794227-3c96c980-753a-11eb-8add-fb25be88d8c5.png)

focus not on ok button:
![image](https://user-images.githubusercontent.com/31145923/108794235-41f41400-753a-11eb-85f1-95eba07bc043.png)

[2021-02-23 09:43] peterlukerow commented on #14362
@kburtram my mistake, you are entirely correct with regards to the restore dialog accessed from the manage server dashboard. I got confused between source and target. I'm going to chalk that up to not focusing on one thing at a time.

It's good news that an engineer has been assigned to work through at least some of the UX problems. I apologise for some of the harshness in my replies, I'd been but

[2021-02-23 09:59] Shivamd1 commented on #14336
Issue does not reproduces in latest 1.25.3 hence closing the bug

[2021-02-23 09:59] #14336 closed

[2021-02-23 10:43] Shivamd1 opened #14398 "A11y_AzureDataStudioSQL_Project_CreateNewProject_Reflow: Data is getting lost at 400% zoom"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yWCAG2.1;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL_Feb2021;#SQL Azure Data Studio;#Win10;#FTP;#DesktopApp;#WCAG1.4.10;#AINotInScope;#Zoom;

### Prerequisite:

- Set resolution to 1280*1024
- Set scaling to 400

### Enviro

[2021-02-23 13:30] thierry-bm opened #14399 "Copy paste results broken"
- Azure Data Studio Version: 1.26.0

Steps to Reproduce:

1. Make a query.
2. Try copying the results to excel.
3. At the moment, I can only paste the header row or the a subset of the results.

[2021-02-23 13:36] thierry-bm commented on #14399
Woops problem is on my side :)

Pasting a result dataset right next to a collapsed Excel table yields weird results.

[2021-02-23 13:36] #14399 closed

[2021-02-23 15:13] LPugens opened #14400 "Global search hiding matches"
Issue Type: <b>Bug</b>

Lets say I search for the term "foo" and it appears in files A.txt a B.txt.

Using the left menu:
- I select the match in A.txt
- Aftwards I select the match in B.txt
- Then the match in A.txt disapears from the left menu

This problem appeared recently in some update of the last weeks.

Azure Data Studio version: azuredatastudio 1.26.0 (995095f696fd9800e7e621d34daa895d5798

[2021-02-23 15:33] #14400 closed

[2021-02-23 16:39] zxli commented on #14366
I'm able to repro this issue.

[2021-02-23 16:56] kburtram commented on #14382
@Code-DJ @Simone-86828 thanks for confirming!

[2021-02-23 17:25] Code-DJ commented on #14382
@kburtram is this https://github.com/dotnet/SqlClient/pull/848 included in the upgraded Client version for ADS?

[2021-02-23 17:27] Charles-Gagnon commented on #14382
It is - we were using the latest 2.1.1 release which contains that fix.

https://github.com/dotnet/SqlClient/releases/tag/v2.1.1

[2021-02-23 17:43] #14281 closed

[2021-02-23 17:44] kburtram commented on #14335
@MatrixArchitect thanks for the additional context.  The logs unfortunately don't have too much to go on, particularly if you hit the issue prior to installing whoisactive extension called out in the log.  Could you generally describe the dataset you're trying to graph, e.g., how many rows/columns, any large data types like JSON, XML, BLOB, etc.?  Thanks!

[2021-02-23 17:56] kburtram commented on #14346
@aasimkhan30 if this can no longer be reproduced should we close the issue?

[2021-02-23 17:56] #14346 closed

[2021-02-23 18:00] kburtram commented on #14122
I wasn't able to repro this with the latest build/extension.  Please add additional context to the issue, such as error logs etc., if you are still experiencing this problem.  Thanks!

[2021-02-23 18:00] #14122 closed

[2021-02-23 18:01] kburtram commented on #14126
@janszedc please let us know if this issue is occurring on the latest ADS build.  If you are still experiencing auto-upgrade problems, please open a separate bug for that.  Thanks!

[2021-02-23 18:01] #14126 closed

[2021-02-23 18:53] Charles-Gagnon commented on #14382
@Code-DJ @Simone-86828

The SqlClient team said that this might be because of a known issue - https://github.com/dotnet/SqlClient/issues/868

Can you confirm whether you are attempting to connect to a non-default instance?

[2021-02-23 19:14] kpapaj commented on #13955
Looks the same problem in v0.6.1 version of SQL Datababase Project:
[ Build ]

    stdout: Microsoft (R) Build Engine version 15.9.20+g88f5fadfbe for .NET Core
    stdout: Copyright (C) Microsoft Corporation. All rights reserved.
    stdout:
    stdout:
    stdout:   Restore completed in 54,92 ms for c:\TMP\TSQLV5\TSQLV5.sqlproj.
    stdout:
    stdout:   Creating a model to represent the project.

[2021-02-23 19:52] Code-DJ commented on #14382
@Charles-Gagnon I am connecting to a default instance. Here's one of the connections in the settings.json

[code]

I tried 2.1.1 with a .net project and the following connection string and get kerberos error. Don't get the error with 2.0.1

[code]

[2021-02-23 20:08] Charles-Gagnon commented on #14382
Would you mind opening an issue in the SqlClient repo with that information? We can track further progress on the issue there.

[2021-02-23 20:23] karinazhou commented on #14382
Hi @Code-DJ , please feel free to create an issue in [dotnet/sqlclient](https://github.com/dotnet/SqlClient/issues) so we can look further into it.

[2021-02-23 20:26] Code-DJ commented on #14382
@Charles-Gagnon @karinazhou done https://github.com/dotnet/SqlClient/issues/926

Thanks

[2021-02-23 21:28] #14367 closed

[2021-02-23 21:57] kisantia commented on #14107
@VikAga does this also happen when using the SSDT schema compare?

@phil-boyd-iat did the build for the project succeed? If the issue is not related to a DW database, please open another issue to track it separately. Thanks!

[2021-02-23 22:00] joberume opened #14402 "Single click WYSIWYG cell editing in Notebooks"
Request that the notebook experience allows for 1-click editing for notebook cells when in Preview mode. One challenge our customers are facing is the numerous amount of clicks needed to get started in editing their content. In OneNote this is very simple -- 1 click and start typing away. In the notebook experience, 1 click to select the cell, and double click to focus on the cell's text in previe

[2021-02-23 22:05] alanrenmsft opened #14403 "not able to reach and edit the text cell"
add a text cell and try to navigate to it using keyboard
![image](https://user-images.githubusercontent.com/13777222/108914374-162b6980-75e0-11eb-9a06-271f729ff3c3.png)

actual: the focus never reaches the text cell

[2021-02-23 22:08] alanrenmsft opened #14404 "Text cell editor doesn't respect the 'Tab Moves Focus' setting"
Steps to Reproduce:

1. Open a notebook and create a text cell
2. Run the 'Toggle Tab key Moves Focus ' command
![image](https://user-images.githubusercontent.com/13777222/108914534-54c12400-75e0-11eb-8a08-a94f0bb61b7d.png)
3. Set the focus in the text editor and then press tab

Expected:
Just like in other editors, I should be able to move the keyboard focus out from the text cell

Actual:
focus

[2021-02-23 22:11] tlentine commented on #12730
Just ran into this bug today ourselves.

[2021-02-23 22:13] alanrenmsft opened #14405 "The code cell toolbar is not shown when the focus is moved to it using keyboard"
Steps to Reproduce:

1. Open a new notebook and add a code cell
2. click inside the code cell and now you can see the cell toolbar
3. move the focus away and navigate to the code cell with keyboard (tab key)

Expected:
the toolbar should appear

Actual:
toolbar is not shown

[2021-02-23 22:14] alanrenmsft commented on #14403
while fixing this, please also make sure the toolbar and view switcher are accessible using keyboard

![image](https://user-images.githubusercontent.com/13777222/108915269-7c64bc00-75e1-11eb-91e5-08bba1054f6d.png)

[2021-02-23 22:18] alanrenmsft opened #14406 "not able to do keyboard navigation within ADS because of the callout dialog"
once we have the callout dialog opened once, the keyboard navigation within ADS is broken, unless the notebook is closed.

![image](https://user-images.githubusercontent.com/13777222/108915606-fbf28b00-75e1-11eb-9106-754ff5ef6085.png)

[2021-02-23 22:20] alanrenmsft commented on #14406
also, keyboard navigation is not possible within this dialog

[2021-02-23 22:22] corivera opened #14407 "Python Manage Packages dialog doesn't filter packages according to which python version they support"
The default Python instance used by ADS is Python 3.6.6, but pandas 1.2.2 requires at least Python 3.7.1. Going by the dialog, it seems like we should be able to install 1.2.2 successfully, but the install fails later due to the current Python version being unsupported for that version of pandas. We should be filtering out the package versions in the version dropdown according to what is supported

[2021-02-23 22:31] chlafreniere commented on #14404
@alanrenmsft which edit mode are you in? WYSIWYG, or split/markdown view for the text cell?

[2021-02-23 22:32] chlafreniere commented on #14406
@halerankin please take a look. We need to fix this for March. Please let me know if you have any concerns.

[2021-02-23 22:35] alanrenmsft commented on #14404
I tried all 3 modes, behaves the same

[2021-02-23 22:43] chlafreniere commented on #14404
Whoa that's wild. Code and text cells use the same editor control. Good catch.

[2021-02-23 23:00] chlafreniere commented on #14402
Chatted offline. Working with design.

[2021-02-23 23:26] Code-DJ commented on #14382
See https://github.com/dotnet/SqlClient/issues/926#issuecomment-784583820 for the fix. 2.1.1 changed the way it checks for SPN. It now includes the default port number in the name, so you have to include the default port number (1433) when setting the SPN.

[2021-02-23 23:32] Charles-Gagnon commented on #14382
Thanks @Code-DJ for following up with this!

@Simone-86828 @mas-dse-juremigi Could you see if their suggested fix helps you out as well?

[2021-02-24 00:05] wknsJimmy commented on #13955
The version of dotnet is as follows:

2.1.202 [C:\Program Files\dotnet\sdk]
2.1.403 [C:\Program Files\dotnet\sdk]
2.1.520 [C:\Program Files\dotnet\sdk]

And here is the content of the sqlproj file

<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003" ToolsVersion="4.0">
  <PropertyGroup>
    <Configuration Condition=" '$

[2021-02-24 00:07] wknsJimmy commented on #13955
[SIRDev.txt](https://github.com/microsoft/azuredatastudio/files/6032454/SIRDev.txt)

Here is the sqlproj file with the extension changed to txt

[2021-02-24 01:14] mas-dse-juremigi commented on #14382
@Charles-Gagnon  I cannot test this as I don't manage our sql servers.

[2021-02-24 01:17] #14078 closed

[2021-02-24 01:27] Charles-Gagnon commented on #14382
Are you using SQL auth or Integrated auth through kerberos?

[2021-02-24 01:31] mas-dse-juremigi commented on #14382
@Charles-Gagnon  I am using integrated through kerberos

[2021-02-24 02:03] SakshiS-harma opened #14411 "Add Icon type in azdata.d.ts"
Add
type Icon: string | vscode.Uri | { light: string | vscode.Uri, dark: string | vscode.Uri };
in azdata.d.ts
To be used as:
readonly icon?: Icon;

[2021-02-24 02:48] supamii commented on #13955
@wknsJimmy - I had the same problem you did.  Missing System.Runtime is seems fundamentally off.

I had Visual Studio 2017 Pro with dotnet core 2.1 (no other dotnet core runtimes/sdks)

-- On a hunch I went head and installed a more recent version of dotnet core (requires visual studio 2019)

I went ahead and installed Visual Studio 2019 Community with dotnet core 3.x

The build feature in Azure D

[2021-02-24 02:57] Code-DJ commented on #14382
Folks, I have reopened https://github.com/dotnet/SqlClient/issues/926

[2021-02-24 07:00] leonardder opened #14413 "Sync with VS Code source"
**Is your feature request related to a problem? Please describe.**
VS Code has received some major accessibility improvements in the last few months. Most notably, the settings UI is way more usable for blind or partially sighted people.

**Describe the solution or feature you'd like**
Sync with latest VS Code source. Also, please consider formalizing a strategy to do this on a regular basis, e.g.

[2021-02-24 09:28] kpapaj commented on #13955
@supamii - I have VS 2017, VS 2019 and .NET SDK 2.1.521 installed, still the problem persists ...

[2021-02-24 09:47] supamii commented on #13955
If you're looking to unblock yourself, try to install dotnet3.x

[2021-02-24 10:05] Simone-86828 commented on #14382
Hello everybody,
I'm connecting to named instances. I tried including the port number (with this syntax: server\instance:port) but I got the same error.
Auth is integrated through kerberos for me as well.

[2021-02-24 10:26] kpapaj commented on #13955
Installing dotnet 3.x doesn't help, the same error again.

[2021-02-24 10:36] Yash14j opened #14414 "A11y_AzureDataStudioSQL_Projects_Add View_ScreenReader: NVDA does not announces the line number in code editor on which keyboard focus is there"
### Actual:
NVDA does not announces the line number in code editor on which keyboard focus is there when navigated on it with the help of tab key.

Same issue is observed with Jaws
Same issue is observed throughout the application where code editor is present

### Expected:
NVDA should announce it as line 1 and then the information present in line when navigated on it with the help of tab key.

**

[2021-02-24 17:35] kburtram commented on #14413
@leonardder we have a process to routinely update the vscode source we're build from.  Currently the insiders builds has an update through ~1.51.  We are planning to catchup with 1.53 in the next few weeks.  This is on-going engineering, so we don't track this through github issues.  Thanks!

[2021-02-24 17:35] #14413 closed

[2021-02-24 17:39] kburtram opened #14417 "Limit number of digits in statusbar average field"
- Azure Data Studio Version: main

Steps to Reproduce:

1. Run a query with numeric values
2. Select some numbers that don't average to an integer value requiring many digits

Expected: Number truncated to not take up a lot of space with fractional digits.  Excel has some logic to cut off repeating digits at 3 and go to 5 for non-repeating digits (as far as I could tell).  I recommend we could sim

[2021-02-24 18:12] leonardder commented on #14413
Thanks for your explanation! Is there an easy way to find out what version of Code is targeted by a certain release of Data Studio?

[2021-02-24 18:12] jparadis2 opened #14419 "1.26.0 Broke On Prem SQL Server Connections"
Issue Type: <b>Bug</b>

I got this bug when Azure Data Studio was upgraded to 1.25.0. Please see the closed ticket below:

https://github.com/microsoft/azuredatastudio/issues/13751

Current error:
Microsoft.Data.SqlClient.SqlException (0x80131904): A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Ve

[2021-02-24 18:14] kburtram commented on #14419
@jparadis2 you may be impacted by the bug discussed here https://github.com/microsoft/azuredatastudio/issues/14382.  Could you please add any comments there for this?  I'll close this as a duplicate.  FYI, we're preparing a hotfix for that issue.

[2021-02-24 18:14] #14419 closed

[2021-02-24 18:16] vinny1575 commented on #605
Same issue.

[2021-02-24 18:16] jparadis2 commented on #14419
Yes, this is the same issue. Please close mine.

[2021-02-24 18:17] jparadis2 commented on #14382
Same issue for me. Also happened when upgrading to 1.25.0 below was the ticket for that one:
https://github.com/microsoft/azuredatastudio/issues/13751

[2021-02-24 18:26] karinazhou commented on #14382
Hi,

If you are connecting with named instances that have `\` in the server name, this will fail on Linux due to one of the changes we made in Microsoft.Data.SqlClient v2.1.0-preview2. The hot fix for this will be out soon.

If you are using the default instances, that is related to the SPN generation change in the driver. We are currently working on the fix.

Thanks,

[2021-02-24 18:45] Charles-Gagnon commented on #14382
We'll be releasing a hotfix to roll back the driver change to unblock folks hitting this with ADS.

But for anyone running into this issue it would be helpful if you could go over to https://github.com/dotnet/SqlClient/issues/926 and comment there to try and track down this issue so that we're able to update to the new driver version in the future without breaking everyone again 😄

[2021-02-24 20:49] #14411 closed

[2021-02-24 21:07] #14417 closed

[2021-02-24 22:22] chlafreniere commented on #9282
Getting feedback; we won't be addressing this for March past the crawl, so moving to backlog for now.

[2021-02-24 22:25] alanrenmsft commented on #14344
this is caused by https://github.com/microsoft/azuredatastudio/pull/13078
![image](https://user-images.githubusercontent.com/13777222/109074027-05e0c080-76ac-11eb-8d35-acfe63d2691b.png)

please prioritize this since this is an in-cycle regression.

[2021-02-24 23:11] Charles-Gagnon opened #14426 "Adding cells doesn't mark a Notebook as dirty"
1. Create New Notebook
2. Add a new cell to it
3. Close Notebook editor

Expected : Prompted to ask to save Notebook

Actual : No prompt - editor is closed immediately

This is a regression from 1.25.3

Note that typing in the cell does then correctly mark it as dirty - it's just the initial adding that doesn't.

[2021-02-24 23:12] MatrixArchitect commented on #14335
@kburtram - thanks for your response. I definitely hit the issue before installing the "whoisactive" extension.

I just upgraded 1.26 but the issue continues to happen. To answer your question: I just run a simple query against AdventureWorks2019. Here it is:

SELECT
    CustomerID,
    CAST(OrderDate AS DATE) AS OrderDate,
    SalesOrderID,
    ROW_NUMBER() OVER(PARTITION BY CustomerID ORDER BY S

[2021-02-24 23:15] chlafreniere commented on #14426
![image](https://user-images.githubusercontent.com/40371649/109078948-0e88c500-76b3-11eb-8762-fe15c19967ce.png)

No repro on Mac.

[2021-02-24 23:22] kisantia commented on #14310
after some discussion, we should treat this like the "no workspace open" case. If there's a temp workspace open, have the "new workspace will be created text" and inputbox for the location with a default, save it before adding project to it.

[2021-02-25 00:23] #13384 closed

[2021-02-25 00:24] #12890 closed

[2021-02-25 00:24] #12727 closed

[2021-02-25 00:25] Charles-Gagnon commented on #12728
Not something we're planning on doing currently

[2021-02-25 00:25] #12728 closed

[2021-02-25 00:26] Charles-Gagnon commented on #12543
Not applicable anymore since all deployments go through Notebooks now

[2021-02-25 00:26] #12543 closed

[2021-02-25 00:26] #12281 closed

[2021-02-25 00:27] #12518 closed

[2021-02-25 00:28] Charles-Gagnon commented on #12349
Closing this since it isn't something we plan on working on currently

[2021-02-25 00:28] #12349 closed

[2021-02-25 00:28] Charles-Gagnon commented on #13556
Haven't heard any other feedback about this so closing

[2021-02-25 00:28] #13556 closed

[2021-02-25 00:38] kburtram commented on #14335
@MatrixArchitect thanks for the additional context.  I think we have some scalability problems with charting lots of datapoints.  We should either fix, or at least limit the number of datapoints rendered to avoid causing UI hangs.

@alanrenmsft any thoughts on how to handle this scenario?

[2021-02-25 00:51] alanrenmsft commented on #14335
I'll think about it and come up with something in April release.

[2021-02-25 01:08] halerankin commented on #14344
Using Mac OS X and the latest from main. I cleaned git and rebuilt locally. Used the same repro steps and I do NOT see this occurring (screenshot below). While working on my feature PR, I recall seeing the bad example you included above. I corrected my code so that would not occur.

![image](https://user-images.githubusercontent.com/12279161/109087625-ab069380-76c2-11eb-9aa7-be0e2ca93d91.png)

[2021-02-25 01:10] alanrenmsft commented on #14344
The original screenshot is using dark theme.

[2021-02-25 01:10] halerankin commented on #14344
... and I just saw the problem using the dark theme. Okay, so obviously something needs adjusting. I'm on it.

[2021-02-25 01:12] halerankin commented on #14344
Was that warning always a modal located at top and center of screen and NOT a flyout?

[2021-02-25 01:13] alanrenmsft commented on #14344
yes, if you need to check other old behaviors you can install the latest stable build.

[2021-02-25 04:27] MatrixArchitect commented on #14335
@kburtram and @alanrenmsft thank you both. Look forward to the update.

[2021-02-25 10:58] jaquesleroux opened #14430 "IPV6 / Named Pipe connection no longer working"
Issue Type: <b>Bug</b>

MacOS Big Sur

Was able to connect to SQL dev with named pipe using IPv6 address
This week after update . No longer able to connect to any of our customers SQL servers

Tested.. With Window MSSMS on Windows with same credentials and able to connect.
 - so.. Not server issue.
 - Applciation issue.

How is this a production release version!
Did that before about a year ago .

[2021-02-25 13:21] codrzywolski commented on #4850
I would also like to see this :-)

[2021-02-25 14:09] fykcz opened #14431 "Add new snippet variable for current database"
[Some standard variables](https://code.visualstudio.com/docs/editor/userdefinedsnippets#_variables) are available in snipets (eg CURRENT_YEAR, etc.). I need to have the variable CURRENT_DATABASE available.
![image](https://user-images.githubusercontent.com/6848471/109164958-4bb88a00-777b-11eb-9ca3-a2e3f81e2eac.png)

[2021-02-25 14:31] tlentine opened #14432 "Schema Compare could not start because build failed error... only the build succeeded"
- Azure Data Studio Version:

Steps to Reproduce:

1. Using a database project opened in Azure Data Studio, right-click on the top-level project and select "Schema Compare"
2. This will invoke the build process, which in my case ultimately succeeds
3. However, I get an error that "Schema compare could not start because build failed."
4. I see in the output pane that the build actually succeeded, a

[2021-02-25 15:06] lucyzhang929 opened #14434 "Notebooks: Escape does not make current active cell inactive"
- Azure Data Studio Version:
Version: 1.27.0-insider
Commit: 9148aa1ed552cc89b7362f8132c2dec437ce5537
Date: 2021-02-23T09:26:49.644Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

Steps to Reproduce:

1. Create new notebook
2. Add cell (either code or text)
3. Press escape

Cell remains active.

[2021-02-25 16:13] sqlworldwide opened #14435 "SQL Assessment Extension - not rendering the result in UI"
- Azure Data Studio Version:
- Version: 1.26.0 (system setup)
Commit: 995095f696fd9800e7e621d34daa895d57989ccd
Date: 2021-02-19T03:26:50.428Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Using the extension run an SQL assessment
2. I see the assessment if I click the history tab
3. Clicking o

[2021-02-25 16:23] grayspace commented on #6450
I've had this same issue happening for months, currently on version 1.25.2. I keep updating to see if it works itself out, but so far it hasn't. Love everything about ADS except this.

[2021-02-25 16:31] kburtram commented on #6450
@grayspace the next time you hit this error could you please check if there are any exceptions in the "Help->Developer Tools" Console?  We haven't been able to get a consistent repro for this, so we're not sure how to resolve yet.

[2021-02-25 16:34] kburtram commented on #14430
@jaquesleroux we are tracking a connectivity regression impacting macos with issue https://github.com/microsoft/azuredatastudio/issues/14382.  We have a hotfix planned for today which reverts the SqlClient driver update.

Here's a direct link to that build https://sqlopsbuilds.azureedge.net/stable/796abbdf5fdd341e3528e30a6b777c93e115eb02/azuredatastudio-macos-1.26.1.zip.  If you have time please l

[2021-02-25 16:39] tbolon commented on #6450
@kburtram
![image](https://user-images.githubusercontent.com/127185/109185616-782ad100-7790-11eb-8a65-64f9475b0d53.png)

[2021-02-25 17:40] dzsquared commented on #14413
@leonardder to get the VS Code engine version of your currently installed Azure Data Studio, click "About" in the "Help" menu

[2021-02-25 17:49] Charles-Gagnon commented on #14413
@dzsquared I believe @leonardder was asking for whether we plan out the syncs such that external users could see when we plan to be synced up to a certain point.

Currently we do not do this though - the VS Code merging isn't done on a completely regular basis at this time and depending on what changes have been made on their end some merges take longer than others. But typically we try to stay wi

[2021-02-25 17:55] Charles-Gagnon commented on #14435
Thanks for the report - it looks like this was an issue that got into the 1.26 build but has been fixed in Insiders.

Could you install the latest insiders build from https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main and verify that it's fixed there for you?

(It looks like there's another issue with duplicate filter icons though - I'll file an issue for that

[2021-02-25 17:56] Charles-Gagnon commented on #14435
@vchvlad FYI

[2021-02-25 18:03] Charles-Gagnon opened #14437 "Table filter icon displaying multiple times"
Insiders/Main

This only appears to happen for the SQL Assessment extension - my hunch is that it's because they're the only ones to do appendData

Possibly caused by https://github.com/microsoft/azuredatastudio/pull/14333

![image](https://user-images.githubusercontent.com/28519865/109196427-8ce77480-7750-11eb-94f4-3f4136953295.png)

[2021-02-25 18:03] Charles-Gagnon commented on #14437
@alanrenmsft Do you have time to look into this?

[2021-02-25 18:22] sqlworldwide commented on #14435
Thank you so much. I will and let you know.

[2021-02-25 18:29] alanrenmsft commented on #14437
let me take a look and I will fix it

[2021-02-25 18:36] nahk-ivanov opened #14439 "`addToProject` API adds duplicate items"
- Azure Data Studio Version: 1.27.0-insider (user setup)
Commit: 9148aa1ed552cc89b7362f8132c2dec437ce5537

**Steps to Reproduce:**

1. Using new `addToProject` API from [this change](https://github.com/microsoft/azuredatastudio/pull/14391), call it twice with the same file:
[code]
2.  `.sqlproj` gets two items with `Build` build action for the same file:
[code]

**Expected result:**
I think we sho

[2021-02-25 18:39] dzsquared commented on #14413
This is also an item we have included in the release notes in the past, adding @yualan for awareness
For example: https://docs.microsoft.com/en-us/sql/azure-data-studio/release-notes-azure-data-studio?view=sql-server-ver15#march-2020

[2021-02-25 18:41] nahk-ivanov opened #14440 "Cannot delete folder with files from the SQL Database Project"
- Azure Data Studio Version: 1.27.0-insider (user setup)
Commit: 9148aa1ed552cc89b7362f8132c2dec437ce5537

**Steps to Reproduce:**

1. In the database project, right-click a non-empty folder and select "Delete":
![image](https://user-images.githubusercontent.com/11728682/109200856-f027d580-7755-11eb-8de0-5c4c2bf08b56.png)

2. The error message appears:
![image](https://user-images.githubuserconten

[2021-02-25 19:03] nahk-ivanov opened #14441 "Cannot delete a folder from SQL Database Project when there are excluded files in it"
- Azure Data Studio Version: 1.27.0-insider (user setup)
Commit: 9148aa1ed552cc89b7362f8132c2dec437ce5537

**Steps to Reproduce:**

1. Create new SQL Database Project, add folder and a file under it.
![image](https://user-images.githubusercontent.com/11728682/109202949-69282c80-7758-11eb-8c18-1ae489f078e6.png)

2. Right-click the **file** and select "Exclude from project"
![image](https://user-ima

[2021-02-25 19:12] barbaravaldez commented on #9249
Third scenario was fixed and it's in main now. Moving this to backlog, since we are not addressing the first and second scenario for March release.

[2021-02-25 19:32] kisantia opened #14444 "sql database projects error validateWorkspace() isn't a function"
- Azure Data Studio Version: 1.25.3
- Sql database projects extension version: 0.6.1

A dependency on a new api in data workspaces was added in the 0.6.1 sql database projects extension, but the required version of ADS was not bumped. Since this api did not exist in the 1.25.3 release of ADS, the error "validateWorkspace() isn't a function" happens when creating a project from database.

workaroun

[2021-02-25 20:24] NathanMSFT opened #14446 "CREATE EXTERNAL TABLE script should check if schema exists"
- Azure Data Studio Version: 1.26.0

Steps to Reproduce:

1.Use Data Virtualization feature to script a table. My example is a MongoDB external data source where the Data Virtualization wizard will automatically create a schema based on the MongoDB database (TestDB1):

BEGIN TRY
    BEGIN TRANSACTION T832cef4276dc490891f6e80eb5f5d05
        USE [MyDatabase];
        EXEC(N'CREATE SCHEMA [TestDB1]'

[2021-02-25 20:53] tlentine opened #14448 "Remember General Settings Preferences in Schema Compare from session to session"
**Is your feature request related to a problem? Please describe.**
When performing a schema compare from a .dacpac to a target database, there are certain "General Options" that I would like to be able to set and forget. This would include things like Ignoring Column order, Ignoring Authorizer, Ignoring Comments, etc.

While one can click "Options" and scroll through the list of settings to toggle

[2021-02-25 20:58] tlentine opened #14450 "Schema Compare - Generate Script includes objects I haven't set to include"
- Azure Data Studio Version: Insiders build 1.27.0 - insider
- Schema Compare: 1.9.1
- Dacpac: 1.7.0
- Database Project: 0.7.0

Steps to Reproduce:

1. Perform a Schema compare from a local .dacpac file to a target database (in this case an Azure DB)
2. Scroll through the list of objects, uncheck the "false positives" that inevitably are flagged due to white space differences (that's a whole diffe

[2021-02-25 21:10] tlentine opened #14452 "Add "Script as Create" capability for SQL Server Security Policies within Azure Data Studio"
**Is your feature request related to a problem? Please describe.**
Every now and then I need to adjust an existing Security Policy (e.g adding tables to the policy or removing one so I can make an edit). Unfortunately, I can't right-click on the object within the Database Explorer and select "Script as Create" as one can with other database objects.

Instead, I have to fire up SSMS to perform said

[2021-02-25 21:18] xrayzwei commented on #12770
Wanted to add an additional comment to support this being integrated into ADS. Results and Messages together in the file was very useful in SMSS

[2021-02-25 21:21] chlafreniere commented on #14403
Possibly related to #14416

[2021-02-25 21:22] chlafreniere commented on #14260
Agreed. Feel free to reactivate if you encounter further problems.

[2021-02-25 21:22] #14260 closed

[2021-02-25 21:23] #14437 closed

[2021-02-25 21:25] kisantia commented on #14441
@zijchen lets look into what vscode does when you try to delete a folder in the file explorer and be consistent with that

[2021-02-25 21:27] tlentine opened #14453 "Schema Compare Generate Script Ignores Tables defined in Security Policy in SQL Server"
- Azure Data Studio Version: Insiders version 1.27.0-insider
- Schema Compare: 1.9.1
- Dacpac: 1.7.0
- Database Project: 0.7.0

**Background**
We use Security Policies as part of our adoption of Row Level Security within SQL Server. We have a process in place that ensures any table defined within the specified schema (dbo in this case) is added to the existing security policy. Typically we do not

[2021-02-25 21:41] dnethi opened #14454 "azdata arc sql mi list throws error on OCP"
running azdata arc sql mi list, on an OCP cluster throws the following error:

![image](https://user-images.githubusercontent.com/43253513/109223137-1312b380-776f-11eb-908c-283c4498262e.png)

 azdata arc sql mi list
Traceback (most recent call last):
  File "C:\Program Files (x86)\Microsoft SDKs\Azdata\CLI\lib\runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "C:\Program

[2021-02-25 21:44] #14454 closed

[2021-02-25 21:45] halerankin opened #14455 "Find highlight is not seen when cell edit mode is active"
On Mac OS X, with a given cell editor active, the **scroll to** position of the current highlighted hit (in orange) is just out of view. See image below:
<img width="1520" alt="image" src="https://user-images.githubusercontent.com/12279161/108438024-44d1ca80-7203-11eb-9a99-4f18dd3aff1d.png">

When the editor is NOT active, the highlighted hit is not obstructed by the UI in any way. See image below

[2021-02-25 22:15] sqlworldwide commented on #14435
I can confirm that the insider's edition fixed the issue I reported. Thank you for a quick response.

[2021-02-25 22:17] Charles-Gagnon commented on #14435
Thanks! The next stable release is planned for mid-March so this fix should be in there then. Sorry for the inconvenience!

[2021-02-25 22:17] #14435 closed

[2021-02-25 22:51] kburtram commented on #14382
Update 1.26.1 is available that rolls back the SQL Client driver.  Please let us know if there are still connectivity issues with the latest build.

[2021-02-26 00:16] barbaravaldez commented on #9249
@MsSQLGirl , I tried to repro the first two scenarios by modifying notebooks outside ADS and it seems that once I save the file, ADS automatically shows the changes.
I think this was fixed by https://github.com/microsoft/azuredatastudio/pull/12309

And if there's a conflict then an error message appears:
![editingConflict](https://user-images.githubusercontent.com/34872381/109236564-b4f0cb00-7784-

[2021-02-26 00:31] kisantia commented on #14448
@tlentine these settings can be saved and reloaded form an scmp file. After you select all the settings desired, you can click "Save .smcp file" in the schema compare toolbar and have all the selections saved to a file. When you start up schema compare again, then you can click "Open .scmp file" to load the settings from the file. Scmp files can also save the source, target, and included/excluded

[2021-02-26 00:43] kisantia commented on #14453
@tlentine is this the same behavior as SSDT schema compare? Just want to make sure we have the same baseline behavior right now.

[2021-02-26 00:57] #14404 closed

[2021-02-26 03:31] bgreen77 opened #14460 "Remember Notebooks Folder"
Issue Type: <b>Feature Request</b>

On initially opening the App, and selecting a folder for Notebooks, the notebooks stored in the selected folder are listed.

Closing and then re-openening the app, the previously selected folder for the notebooks is lost, and it has to be selected again.

It would be good to either:
- Have a setting of the default notebooks folder, so that they are listed automa

[2021-02-26 06:28] abinsubizdk opened #14461 "Keywords for Temporal Tables catched as problem"
Issue Type: <b>Bug</b>

Running ADS on Azure Database.

Have some script that manipulates Temporal tables.

For some reason some of the keywords are highlighted as problems, but the query runs just fine.

 ALTER TABLE [dbo].[xxx] SET ( SYSTEM_VERSIONING = OFF );
 ALTER TABLE [dbo].[xxx]  DROP PERIOD FOR SYSTEM_TIME;

SYSTEM_VERSIONING
FOR

are both reported.

![Problems Reported for Temporal Comma

[2021-02-26 07:04] leonardder commented on #14413
Wow, I should have checked that myself, it is good to know that this info is available. Thanks for pointing this out.

Stable is now at 1.48, so that clarifies why the new settings editor behavior (introduced in 1.50) isn't yet there.

Yes, I recall that and it would be very helpful if this could be added in next release notes. For many people it might not be relevant, but as for accessibility, AD

[2021-02-26 07:23] jaquesleroux commented on #14430
@kburtram Many thanks  😊

I downloaded it now and able to connect.
Many thanks for getting this resolved so quickly .
Apologies for harshness earlier.. Was a frustrating day all in all 😇

FYI: Version details where it is working
Version: 1.26.1
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:37:01.966Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8:

[2021-02-26 07:23] #14430 closed

[2021-02-26 15:31] bernardojanson opened #14463 "Error saving file after querying PostgreSQL database"
<img width="640" alt="Screenshot 2021-02-26 153037" src="https://user-images.githubusercontent.com/74906369/109320132-96073d00-7847-11eb-8646-1e36d74bc027.png">

I am trying to save a file with the results of my sQL query, but the "Saving file" message is in a loop and doesn't save the file.
The number of results was only 958 rows.

[2021-02-26 16:50] tlentine commented on #14448
I've tried the scmp files with limited success. I've found that opening / using a .scmp file tends to fail to compare more often than not (at least with the Insiders Build). If I "start from scratch" comparing the .dacpac to the target database it works as expected - I just need to go thru and toggle all my defaults again.

I'm also managing multiple databases across multiple environments, so savi

[2021-02-26 16:54] tlentine commented on #14453
They are similar, yes - it's been a pain point for us for a while with SSDT - I'm hoping we'll have a better experience with Azure Data Studio / Schema Compare overall.

[2021-02-26 18:12] kisantia commented on #14432
@tlentine were there any warnings from the build? Would you be able to share a sample project that repros this?

[2021-02-26 18:18] kisantia commented on #14453
this change would need to be made in DacFx

[2021-02-26 18:22] rrgrimm opened #14464 "Can't connect to Kusto cluster"
Issue Type: <b>Bug</b>

I use Kusto (ADX) all day everyday on my Microsoft machine with no problem. I cannot make a cluster connection to Kusto in ADS:

1. Installed Azure Data Studio
2. Installed the Kusto extension
3. Clicked Connections
4. Connection type:  Azure Data Explorer (Kusto)
5. Cluster:  cgadatamall.westus
6. Authentication type: it selects AAD - Universal with MFA support
7. Account:

[2021-02-26 19:29] kisantia commented on #14448
what errors happen when using an .scmp?

Makes sense that it could be beneficial to have a workspace setting with your default settings or the location of a file with those stored. Definitely something to consider adding if there are a few more requests for this feature :)

[2021-02-26 20:57] chlafreniere commented on #14460
Thanks @bgreen77.

Out of curiosity, if you open a folder in ADS (i.e. through the File menu), does that help your scenario, or do you need the flexibility to see notebooks in different folders than whatever folder/workspace is opened globally in ADS?

[2021-02-26 23:57] chlafreniere commented on #14434
May be related to the keydown/keyup conversation with the callout feature.

[2021-02-27 00:02] tlentine commented on #14432
There are no warnings from the build (originally when I first encountered this issue there were build warnings, but no errors - I modified the 1 constraint that was triggering the warning to eliminate that).

If there are diagnostics I can provide from my machine I am happy to do that - unfortunately the error message from Schema Compare isn't helpful.

I'll see if I can create a sample project th

[2021-02-27 00:11] tlentine commented on #14448
Re more requests - totally makes sense, thanks for considering it.

For the .scmp errors, I can configure the Schema Compare settings as one would expect, and save the .scmp file to disk without issue. However, the next time I open the .scmp file, it will open without issue, but when I run "Compare" I get an error saying

"Schema Compare failed: Object reference not set to an instance of an object

[2021-02-27 00:12] tlentine commented on #14453
Is there a public repo where I can open an issue?

[2021-02-27 00:21] Code-DJ commented on #14382
@kburtram @Charles-Gagnon FYI, the issue is resolved in SqlClient https://github.com/dotnet/SqlClient/issues/926

[2021-02-27 00:50] kburtram commented on #14382
@Code-DJ thanks for the update!  I'm not sure the exact plans for trying the driver update again at the moment.  The last two releases required hotfixing a driver rollback, so we may wait a little to try to avoid pulling in additional regressions next month.  I believe there are some fixes for AlwaysEncrypted Secure Enclaves we're trying to pickup with the driver update.

[2021-02-27 00:57] zijchen commented on #14441
VSCode prompts user for delete confirmation so we can probably do something similar
![image](https://user-images.githubusercontent.com/13544267/109370087-b63cf900-7853-11eb-8cd3-d1a17bb05a92.png)

[2021-02-27 00:58] kisantia commented on #14453
there's this repo https://github.com/microsoft/DACExtensions/issues, but it's the same team that works on DacFx and the extensions that use DacFx in ADS, so we're aware of this issue opened here.

[2021-02-27 01:05] kisantia commented on #12689
fixed by https://github.com/microsoft/azuredatastudio/pull/14182 so now the full path shows when a project node is hovered on

[2021-02-27 01:05] #12689 closed

[2021-02-27 01:42] MsSQLGirl commented on #13703
Thanks @Charles-Gagnon for the feedback.

@qifahs  @gupta1 - can we use Ctrl + K Ctrl + R combo?
It seems that ADS is still using Ctrl + Alt + C right now.

[2021-02-27 01:48] MsSQLGirl commented on #11645
For Item 2, the crawl implementation that we've done is to use Command Palette. i.e. Ctrl + Shift + P then Copy with Results. We need to modify the key combo though as per https://github.com/microsoft/azuredatastudio/issues/13703.
![image](https://user-images.githubusercontent.com/6405919/109371618-9e1ca800-785a-11eb-97f4-3ff9f742438e.png)

[2021-02-27 01:56] MsSQLGirl commented on #14464
Can you please try typing in the following format?
<clustername>.<cluster region>.kusto.windows.net

[2021-02-27 01:58] MsSQLGirl opened #14474 "Notebook scrolling focus usability issue"
Scrolling focus makes it difficult to navigate the notebook with code cells.

On a usability note, it is difficult to scroll down a notebook when there are results with lots of rows. While scrolling down a TSG, the scrolling focus will shift to a resulting table as I'm going down the page, which will temporarily block me from scrolling down the notebook until I finish scrolling down row of results

[2021-02-27 02:16] James-Firth commented on #7
I was considering using Azure Data Studio for a project but without this database newbies on my team will have difficulty, so we'll probably have to stick with DBeaver for now.

I'd love to see this feature (especially for postgres)!

[2021-02-27 02:20] kisantia opened #14475 "Schema compare dialog should use folder icon instead of ..."
Like https://github.com/microsoft/azuredatastudio/issues/14266, it would be nicer if schema compare used a folder icon in the dialog to select source and target. It's also distracting that the current button isn't aligned with the textbox
![image](https://user-images.githubusercontent.com/31145923/109372618-4c2a5100-785f-11eb-9699-9ce4165090ca.png)

[2021-02-27 03:47] MsSQLGirl commented on #14017
We might be able to lower the priority on this and look into it as part of the longer term / run Search design. (Understood that this is a Find, but the spirit of ability to find things applies)

[2021-02-27 16:53] luismiguelgilbert commented on #14314
Exactly!!
It would be great to have a setting for this (height: 15 or height: "200px").
This would avoid having to resize height on new tabs also..

[2021-02-28 04:15] rajeshka opened #14477 "Notebook: "Attach to" Drop down should list Saved Connection in the drop down list as per the kernel"
Currently user has to do click **Change Connection** and then select the server connection from Recent or Saved Connection list.
![image](https://user-images.githubusercontent.com/29285871/109407550-8e729180-7936-11eb-8cf0-977b20df48bf.png)

The best thing to do is to populate the drop down list of saved/recent connections.
![image](https://user-images.githubusercontent.com/29285871/109407624-34be

[2021-02-28 17:46] mikedavem opened #14478 "Issue to connect to named instance from ADS on MacOS"
- Azure Data Studio Version: 1.26.0

Steps to Reproduce:

1. Using **server\instance** format fails to connect to named instance

I'm facing the following error msg:

**_A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to all

[2021-03-01 02:09] aricc opened #14480 "Unable to install most of the extensions"
- Azure Data Studio Version:1.25.1

Steps to Reproduce:

1.Ctrl+Shift+X open extension list
2.select any extension

 the extension details page cannot be displayed on the right.
cannot install via the "install" button
prompt "Unable to open 'Extension: PostgreSQL': XHR failed." in the lower right corner

![Snipaste_2021-03-01_09-08-26](https://user-images.githubusercontent.com/1269692/109443699-2d

[2021-03-01 02:25] claudiosalvio-vscode opened #14481 "IPYNB file corruption"
Issue Type: <b>Bug</b>

Several times during the last few days IPYNB files got corrupted while I was editing them in ADS.

I have been using ADS on Windows and managing this kind of files for almost a year and this is the first time this has happened.
The only recent change I've made in my enviroment is that I upgraded ADS to version 1.26.1.

In order to try to find the problem, I opened an IPYNB

[2021-03-01 09:06] mcx808 commented on #13988
**Update**
I no longer experience this issue on v1.26.0.
I don't know if there was a change, however I have found that I can kinit using user@domain.com successfully and replicate the issue.
I must use `kinit user@DOMAIN.COM` (uppercase) in order to then authenticate with Azure Data Studio, even though I have the domain_realm mapping in /etc/krb5.conf
[code]
I will leave this solution for anyone e

[2021-03-01 09:06] #13988 closed

[2021-03-01 16:12] Abhinav625 commented on #11056
Unfortunately, no update so far.

[2021-03-01 16:49] MsSQLGirl commented on #14017
Bumping down to P2 after consulting with the team.

[2021-03-01 17:13] Charles-Gagnon commented on #14478
@mikedavem Please update to the latest version - 1.26.1. This is a hotfix rolling back a SqlClient driver change that had a regression for kerberos auth on non-Windows platforms. See https://github.com/microsoft/azuredatastudio/issues/14382 for more details.

[2021-03-01 17:13] #14478 closed

[2021-03-01 17:37] chlafreniere commented on #14407
Hey @corivera will this realistically make the March release? If so, great!

If you won't be able to get to this over the next few days, please feel free to move out to April.

[2021-03-01 17:57] chlafreniere commented on #14481
@MaddyDev you have some context here, correct?

[2021-03-01 18:38] chlafreniere commented on #14481
Once fix has been identified, potential hotfix candidate.

[2021-03-01 18:44] corivera commented on #14407
If the package metadata has a supported versions list, then I should be able to do it by end of day.

[2021-03-01 18:45] chlafreniere commented on #14407
@corivera sounds good, thanks! Just making sure our list for March is up to date 😄

[2021-03-01 18:50] MaddyDev commented on #14481
@claudiosalvio-vscode Sorry about the experience, Can you elaborate when you say corrupted? Are you seeing the content updated to something unexpected when you open the file or the file contents not rendered at all. If you can share a repro/steps to a repro would help us find the issue. Thanks.

[2021-03-01 19:14] kisantia commented on #14448
which authentication are you using for the source and target? Also, just to confirm, does the same .scmp file work without errors when opened in SSDT?

[2021-03-01 19:15] kisantia commented on #14432
a sample project to repro this would be very helpful. Thanks!

[2021-03-01 19:17] chlafreniere commented on #14477
@rajeshka we've adhered to the principle of not replicating the connection dialog MRU + saved connection lists in the attach to dropdown. There is more data in the connection dialog, and users cannot easily distinguish between connections when they're connecting with different auth methods or user names.

Re: the strings, they can certainly use some work.

[2021-03-01 19:18] kbardai commented on #14382
I know this is closed, but I am a new user of ADS and am getting the same error as @Code-DJ is above...I am on version 1.26.1 on macOS Catalina 10.15.7.

The difference is, I am able to connect to 1 server (the first server I tried, for some reason, no idea why others don't connect, no difference in other servers, slight minor version difference, same AD credentials, work's without issue on window

[2021-03-01 19:28] MsSQLGirl opened #14483 "Markdown horizontal scrollbar usability"
To repro:
* ADS
Version: 1.26.1 (user setup)
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:42:55.085Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

**Is your feature request related to a problem? Please describe.**
1. Floating horizontal scrollbar is hard to get to when word wrap is turned off.

[2021-03-01 19:47] cssuh opened #14484 "Declarative table selection text needs contrast"
**Is your feature request related to a problem? Please describe.**
Users are not able to clearly see the text for a selected table cell in a declarative table

**Describe the solution or feature you'd like**
The text color should change to be more highly contrasted with the selection color

[2021-03-01 19:51] tlentine commented on #14448
The source I am using the .dacpac file generated by my project. The target is a database in Azure (elastic pools). I am using "Azure Active Directory - Universal with MFA support" as the authentication method.

The .scmp file was/is created using the tools within Azure Data Studio - I haven't tried it with SSDT / Visual Studio.

The scmp file will work when it is first created, when I change the s

[2021-03-01 21:01] Charles-Gagnon opened #14486 "Notebook output fields not saved"
Version: 1.26.1 (user setup)
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:42:55.085Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

1. Create Notebook
2. Add code cell with some simple code it in and execute
3. Save the Notebook
4. Clear the Notebook results
5. Save the Notebook
6. Close the No

[2021-03-01 21:43] #14222 closed

[2021-03-01 21:44] Charles-Gagnon opened #14487 "Notebook taskbar actions cut off at small widths"
This only seems to happen for the actions in the top right - the main actions overflow correctly.

![image](https://user-images.githubusercontent.com/28519865/109563061-1cb05a00-7a94-11eb-89fb-e3a9afaf3a58.png)

[2021-03-01 21:46] Charles-Gagnon commented on #14487
@alanrenmsft @chlafreniere This probably isn't specifically a Notebook issue but more of a general taskbar issue - although I can't remember if anything else uses these secondary actions.

[2021-03-01 21:47] #14139 closed

[2021-03-01 21:49] tlentine commented on #14432
I can reliably reproduce it with our main project, which unfortunately I can't share. However, despite my best efforts to create a new project from scratch that repros the issue I have been unable to do so. I'll keep trying, but there must be something special about this project (which has been around for quite some time, so maybe there's some cruft built up in it?)

[2021-03-01 22:14] #14426 closed

[2021-03-01 22:15] MaddyDev commented on #14486
#14427 fixes this.

[2021-03-01 22:15] #14486 closed

[2021-03-01 22:53] lotsahelp opened #14489 "Retrieval misspelled as retrival"
- Azure Data Studio Version: 1.26.1

Steps to Reproduce:

1. Attempt to login to SQL via AAD - MFA with an expired token.
2. Get this message: Token **retrival** failed with an error. Open developer tools to view the error

[2021-03-01 23:52] #14489 closed

[2021-03-02 00:45] #14390 closed

[2021-03-02 01:41] egorchabala commented on #12611
Same issue on my end

- macOS 11.2.1
- ADS 1.26.1

[2021-03-02 01:47] alanrenmsft opened #14493 "add an Azure account doesn't work due to SSL error"
![image](https://user-images.githubusercontent.com/13777222/109584134-de2b9700-7ab5-11eb-95e5-4c1c09f30546.png)

in the code, we use http but most modern browser will automatically use https. when this error happens, user has to disable auto https in order to make it work.

[2021-03-02 04:17] MsSQLGirl commented on #14483
Added more details and screenshots.

[2021-03-02 12:10] therealdandecker commented on #1774
So where does this stand? You’ve got Surface Pro X, Raspberry Pi and now Mac OS all operating on ARM64. With the insiders build available for VS Code and the SQL extension failing is it a matter of ODBC/OLE DB connectivity on the new architecture?

[2021-03-02 13:42] martindlarsson opened #14495 "Unable to close tab after connection deletion"
- Azure Data Studio Version: 1.26.1

Steps to Reproduce:

1. Created a new connection to a database and saved it with a name under connections
2. Right clicked on it and clicked Manage. A new tab appears with objects
3. Right click on the connection and delete it
4. I am now unable to close the "Manage"-tab. Needed to restart the client to get rid of the tab.

[2021-03-02 15:39] CoolDadTx opened #14496 "Some queries never stop executing"
Issue Type: <b>Bug</b>

Starting with the latest release I'm seeing issues running simple queries. In one case I had a T-SQL error in the query but in another the query looks fine (having just run it on another machine's instance of ADS). However when I click Run it starts running the query and never ends. Clicking Cancel does nothing. This is for an arbitrary query. For example the one I was tryi

[2021-03-02 16:37] lipoteFR opened #14497 "Msg 18456 - Token is expired"
When i let my connection (MFA) opened for a while i have the message :
[code]
Would it be possible to silent-refresh the token ?
Rgds
L

[2021-03-02 17:06] MsSQLGirl commented on #14477
Brainstorming a little bit here - say, I'm working on a few notebooks with the same database connection (Kusto / SQL), what's the best way to reduce clicks when I'm working from one notebook to another?
Also, it is possible that I'm working with two connections across notebooks, how do we reduce clicks as well?
Thoughts?

[2021-03-02 17:10] chlafreniere commented on #14477
@MsSQLGirl let's sync with our design friend for multiple databases 😄 .

For the same database, the connection alias can be saved in a notebook.

[2021-03-02 17:59] Charles-Gagnon commented on #14497
This looks like a duplicate of https://github.com/microsoft/azuredatastudio/issues/13866 so I'm closing this one, thanks for the report!

[2021-03-02 17:59] #14497 closed

[2021-03-02 18:09] Charles-Gagnon commented on #14480
@aricc Are you behind a firewall or something that might be blocking the download?

Can you download the VSIX directly from this link? https://sqlopsextensions.blob.core.windows.net/extensions/postgresql/azuredatastudio-postgresql-0.2.7.vsix

[2021-03-02 18:11] mwc360 commented on #10842
Any update on this? I would love to move from SSMS to ADF for Synapse development but the lack of generating a graphical estimated plan is a deal breaker. This should work just like SSMS for est. query plans. After this, please implement graphical d-sql query plan.

I hate the fact that for Synapse development i have to work in SSMS and then copy XML d-sql plans to visual studio so i can format th

[2021-03-02 19:07] barbaravaldez commented on #14247
@chlafreniere, this probably won't make for March so I'll be moving this to April.

[2021-03-02 19:34] kisantia opened #14500 "Create project from db dialog shows undefined in inputboxes when database isn't chosen"
Project and workspace names shouldn't have "undefined" in them when this happens

![image](https://user-images.githubusercontent.com/31145923/109704082-0dd8ae80-7b4b-11eb-958d-00e0fd051ccd.png)

It would also be nice to have a loading indicator in the database dropdown since sometimes it takes a couple seconds for it to populate

[2021-03-02 19:37] Charles-Gagnon opened #14501 "Add slider component"
Needed for things such as Arc dashboard

[2021-03-02 22:06] aasimkhan30 commented on #13919
@liuwy1005 can you please provide me an example of the data that you are trying to import. I cannot repro this error at my end.

[2021-03-02 22:06] #13419 closed

[2021-03-02 22:07] #13070 closed

[2021-03-02 22:07] aasimkhan30 commented on #13419
Closing this issue as it cannot be reproduced on the latest version

[2021-03-02 22:07] VasuBhog commented on #13070
Closing since there isn't currently sufficient context to investigate.

[2021-03-02 22:10] aasimkhan30 commented on #13406
This change was fixed in the https://github.com/microsoft/vscode/pull/110760 and merged to ADS. Closing this issue for now.

[2021-03-02 22:10] #13406 closed

[2021-03-02 22:21] kburtram commented on #14493
I recall Amir looked at this scenario a while ago and determined there isn't really anything we can do.  We can get a verified certificate for localhost, so even if we tried to support HTTPS the user would still hit a cert validation error.  Perhaps if we moved the entire auth scenario into the product UI (without shelling to browser) we could avoid hitting an error in this configuration.

[2021-03-02 23:29] radentonev opened #14507 "Manage Packages Icon has styling issues"
Manage Packages Icon Issues:
- Padding is off (all themes)
- Color is wrong for dark theme.

![Screen Shot 2021-03-02 at 3 26 50 PM](https://user-images.githubusercontent.com/71295692/109728806-c1519b00-7b6b-11eb-8e2c-703002a52f52.png)

**Steps to Reproduce:**
1. Open a notebook
2. Select Python kernel
3. For color issue, select dark theme

**Azure Data Studio Version:**
Version: 1.27.0-insider
Co

[2021-03-02 23:46] radentonev opened #14509 "Toolbar actions switch between being hidden and disabled"
Some action icons are only applicable to certain kernels. For example, the Manage packages icon is NOT for SQL kernel, while the convert to SQL icon is Only for SQL kernel. When an icon is not applicable for a given kernel, it should be hidden. This behavior seems to be happening only sometimes, while other times we see the icons displayed. It seems to have to do with the initial display of the no

[2021-03-03 00:15] #14370 closed

[2021-03-03 01:59] jaapie opened #14514 "Latest version syntax highlighting not working on macOS 11.2.2"
Version: 1.26.1
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:37:01.966Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.3.0

After updating to the above version from 1.21 syntax highlighting has stopped working in the main window. The code overview appears to be functioning with syntax highlighting.

Dark th

[2021-03-03 02:05] chlafreniere commented on #14514
Hi @jaapie, can you paste a screenshot? I'm also using MacOS 11.2.2. I'm using the default dark theme and syntax highlighting is working ok for me on the query editor:

![image](https://user-images.githubusercontent.com/40371649/109741294-9ffba980-7b81-11eb-9ee6-b4c8856bba34.png)

[2021-03-03 02:22] aricc commented on #14480
@Charles-Gagnon
There is no firewall in my network environment, and I connect to the Internet through a home wireless router.
I can download this VSIX file directly through the link you provided.

In fact, when I click on an extension item in the list, the extension page will be displayed in the window on the right, but the page is automatically closed within 1 second. And the prompt message in th

[2021-03-03 02:40] chlafreniere opened #14515 "Notebooks: Cell Attachments Property Should Only be Serialized when it Exists"
Do not serialize cell attachments if they don't exist. Called out in the *-docs repo.

[2021-03-03 03:21] claudio-salvio commented on #14481
Almost every time the file was corrupted it showed garbage but on one or two occasions the content did not appear at all.
By garbage I mean characters that were out of place.
For example, on one occasion there was a "99" written in a place where I had not written any numbers.
On another occasion there was a stray ">" in the wrong place in a text cell and it was visible when the cell was not in edi

[2021-03-03 04:44] liuwy1005 commented on #13919
hi there:
&nbsp; &nbsp; example of the test data is in the email attachment
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; thanks.

刘文勇
liuwy1005@qq.com

&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:

[2021-03-03 05:07] liuwy1005 commented on #13919
This issue has been fixed.

[2021-03-03 05:07] #13919 closed

[2021-03-03 07:37] malcolm738 commented on #14075
Update after testing and changes

**Use of the 'Sdk="MSBuild.Sdk.SqlProj/1.10.0"'**
This allows a bypass of the .target file and will by default build all '.sql' files in the projects subfolders into a DacPac
Limited support exists for referencing 'other' databases, this requires Nuget version so has issues with the system database
Where I clone and extend the database in my project (Unit Tests on