[2020-06-15 20:50] kisantia opened #10925 "Full profile.xml support for sql proj publish"
Consider unifying with how sqlpackage accepts a profile to avoid duplicating parsing work.

[2020-06-15 21:23] #9731 closed

[2020-06-15 21:59] #10831 closed

[2020-06-15 22:27] #10875 closed

[2020-06-15 23:40] Benjin commented on #10589
Appears to also have been fixed by https://github.com/microsoft/azuredatastudio/pull/10882

[2020-06-15 23:51] Benjin commented on #10589
Reopening as an investigation task on the relationship between /obj/assets.json and /bin/*.dll, even though the underlying problem is fixed.

[2020-06-16 00:06] Charles-Gagnon opened #10929 "Open Notebook command doesn't work"
Insiders/main only

Errors with this message :

[code]

[2020-06-16 00:08] don-binerd commented on #10335
Me Too!  have tried close and reopen..  still no luck
![copypaste](https://user-images.githubusercontent.com/63085169/84717448-26069e80-afb9-11ea-8d2d-e35fa5da3734.gif)

![image](https://user-images.githubusercontent.com/63085169/84717470-40d91300-afb9-11ea-9ebf-e7e3e88c447d.png)

[2020-06-16 00:13] anthonydresser commented on #10335
@don-binerd looks like your issue is related to notebooks.

[2020-06-16 00:14] anthonydresser opened #10931 "Issue copying data from notebook grid"
Me Too!  have tried close and reopen..  still no luck
![copypaste](https://user-images.githubusercontent.com/63085169/84717448-26069e80-afb9-11ea-8d2d-e35fa5da3734.gif)

![image](https://user-images.githubusercontent.com/63085169/84717470-40d91300-afb9-11ea-9ebf-e7e3e88c447d.png)

_Originally posted by @don-binerd in https://github.com/microsoft/azuredatastudio/issues/10335#issuecomment-644453968_

[2020-06-16 00:20] Benjin opened #10932 "Database project deploy UI doesn't do anything if some options are changed."
1. Open Deploy UI
2. select an ADS connection, then select radio button for data sources, then go back to the ADS connection
3. Click Deploy

Expected: deploy occurs with latest selections

Actual: Deploy UI closes, nothing more happens

[2020-06-16 00:42] don-binerd commented on #10335
The same behaviour (not copying results to clipboard) is happening with a query file too.  very weird

[2020-06-16 01:49] #10720 closed

[2020-06-16 02:19] #10932 closed

[2020-06-16 02:21] Benjin commented on #10841
Dropping to Pri 2 because Insider experience will use profiles loaded from file instead of UX for changing sqlcmdvars at deployment time

[2020-06-16 03:52] #3630 closed

[2020-06-16 06:40] OSch24 commented on #28
I'm of the same mind.
That's the only reason I still have SSMS

[2020-06-16 13:16] AmonBune opened #10936 "Zoom with Ctrl + Mouse wheel"
**Is your feature request related to a problem? Please describe.**
Every other application has it. For example in Visual Studio, Notepad++, even the normal Notepad.exe you you can scroll by pressing CTRL and moving the mouse wheel / scroll wheel.

**Describe the solution or feature you'd like**
By pressing Ctrl + moving the Mouse wheel, the query editor should zoom in and out smoothly.

**Describe

[2020-06-16 13:55] Tom-Hogan opened #10937 "SQL Agent - Default sort jobs by name"
**Is your feature request related to a problem? Please describe.**
N/A

**Describe the solution or feature you'd like**
When looking at the list of Jobs in the SQL Agent, they appear to be sorted randomly.  Please default the sort order for Jobs to be by name (like SSMS).

**Describe alternatives you've considered**
N/A

**Additional context**
n?A

[2020-06-16 17:12] #4754 closed

[2020-06-16 17:13] #1303 closed

[2020-06-16 17:16] MsSQLGirl opened #10938 "Notebook Viewlet doesn't highlight activated / opened file from Search viewlet"
- Azure Data Studio Version:
Version: 1.18.1 (user setup)
Commit: 5b3b97f4a34018f3b37b0fce30e32f2af7ad78fa
Date: 2020-05-26T21:14:29.147Z
VS Code: 1.45.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Go to Search Viewlet.
2. Search for a keyword.
3. Open the file from the search result.
4. Navigate to the Note

[2020-06-16 17:40] qwertybba opened #10940 "Script Table as"
Please Add Script Table as like SSMS
![Script Table as](https://user-images.githubusercontent.com/20028775/84808617-d51a9880-b000-11ea-8f37-cf4dcf982ab0.png)

[2020-06-16 17:52] Charles-Gagnon commented on #10938
This sounds like the issue @MaddyDev fixed - can you update to 1.19 and try it there?

[2020-06-16 18:03] wesleifreitas commented on #10337
same problem

[2020-06-16 18:20] Benjin opened #10942 "Database project should be able to be opened from context menu on .sqlproj file"

[2020-06-16 18:21] Benjin opened #10943 "Update to SqlToolsService 3.0.0-release.1 breaks Database Project build"
Via PR https://github.com/microsoft/azuredatastudio/pull/10935
FYI to @kburtram

[2020-06-16 18:25] kburtram commented on #10943
@Benjin the main change here is to upgrade to .Net Core SDK 3.0.

[2020-06-16 18:28] Benjin commented on #10943
Yup; I'm looking into what needs changing on our end to facilitate the new version.

[2020-06-16 18:45] MsSQLGirl commented on #10938
Oh yes.. I was going to add that I could repro in 1.19.
Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

I also talked offline with @MaddyDev on this. She can repro too.

[2020-06-16 18:53] kburtram commented on #10943
@Benjin cool, let me know if there are any hard blocking issues that need to be resolved.  If necessary, we can rollback the upgrade while the issues are worked through.  But since .Net Core 2 is approaching end of life, we'll want to get this upgrade in relatively soon.

[2020-06-16 18:58] MaddyDev commented on #10938
This is not a regression and has the same behavior on prior releases as well. (@MsSQLGirl can you confirm that) We fixed a regression on the highlight behavior in 1.19.

[2020-06-16 19:10] anthonydresser commented on #9697
fixed #10934

[2020-06-16 19:10] #9697 closed

[2020-06-16 19:46] MsSQLGirl commented on #10938
Correct. Not regression.

[2020-06-16 19:55] merla commented on #9116
Even I get this error in my mac when accessing docker run sql server with Azure data studio

[2020-06-16 19:59] jialinding opened #10945 ""Explain" button just runs the query, without showing query plan"
Issue Type: <b>Bug</b>

When writing a query, pressing the "Explain" button has the same effect as pressing "Run". That is, it returns full results and has no tabs for "Query Plan" or "Top Operations". This happens even on simple queries (for example, the default "Select top 1000" query for a given table).

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a

[2020-06-16 20:06] #10929 closed

[2020-06-16 22:18] kisantia opened #10947 "show SQLCMD variables loaded from profile"

[2020-06-16 23:21] kburtram commented on #10945
@jialinding I wasn't able to repro with basic testing.  Is there any additional information you could provide to help isolate the problem? e.g., which version of SQL Server running against, extensions installed, etc.?

Here's what I'm seeing with SELECT 1000 against SQL Server 2019.

![image](https://user-images.githubusercontent.com/599935/84837590-5ec06b00-afed-11ea-8f3a-38ad15ef1597.png)

[2020-06-16 23:27] stelth240 commented on #6763
Hi @kburtram, is there any update on this issue? I am currently unable to use the software due to potential loss of work from this bug. Thank you.

[2020-06-16 23:50] jialinding commented on #10945
@kburtram I have no extensions downloaded, and I am connecting to an Azure Synapse SQL pool instance. I just downloaded and re-installed the newest version of Data Studio and the problem is slightly different now: the first time I press the "Explain" button, it works as expected and there is a "Query Plan" tab. But if I press "Explain" again, it just runs the query. If I disconnect from the SQL po

[2020-06-17 00:38] kburtram commented on #6763
@stelth240 unfortunately the error message provided doesn't give enough information to go on.  Basically it says we're calling slice somewhere with a null object, which could be one of numerous places in the code.  The Zone code is a wrapper to handle calls that cross an isolation boundary and isn't the actual source of the error.  I haven't been able to repro this yet, but some mentioned that per

[2020-06-17 02:14] SakshiS-harma opened #10954 "Hitting error after adding a required await"
After adding await for reveal method, project focus started throwing following error.

![image](https://user-images.githubusercontent.com/57200045/84847203-6e4bae00-b005-11ea-8c6a-be8da8e7239f.png)

[2020-06-17 07:17] datauduong commented on #4904
With Notebook support in Azure Data Studio, it would be very useful to be able to connect to Azure MySQL (Knowing Azure PostgreSQL already been supported in Azure Data Studio)

Azure Data Studio team can you please shed some light on whether this is considered so that we can see the end.

Thanks.

[2020-06-17 10:13] jovanpop-msft opened #10956 "Cannot see long error message because horizontal scroll is missing"
- Azure Data Studio Version: 1.19.0

I have executed some SQL query that has longer error message. In the **Messages**  tab is shown error message but since it is long I cannot see the end of the message. There is no horizontal scroll.

I need to copy entire error message and paste it in some editor to see what is the issue.

Steps to Reproduce:

1. Execute some statement that will cause long erro

[2020-06-17 12:40] imranbaloch commented on #2830
I am also getting the same error,

[code]

[2020-06-17 13:40] timothyhoffmann opened #10957 "Script as Insert for table right-click menu"
Issue Type: <b>Feature Request</b>

Right  click on a table shows "Script as Create", etc.  It would be very handy to have a "Script as Insert" that would build:
`Insert into table (col1,col2...) values(@col1,@col2...)`

Ditto a "Script as Update":
`update table set col1=@col1,col2=@col2...`

I've often needed this to build SQL statements in code.

Azure Data Studio version: azuredatastudio 1.19.0

[2020-06-17 15:17] timothyhoffmann opened #10958 "Right-click to Collapse parent tree group"
Issue Type: <b>Feature Request</b>

When viewing the left-side tree it would be very useful to have a right-click of an item show "Collapse Parent" to quickly collapse a long list.  e.g. Right click on a table name and the Tables group would collapse.  This is similar in thought to #4850.

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06

[2020-06-17 16:33] imranbaloch commented on #2830
I got my reason it was due to excel maximum rows limitation which is 1,048,576 rows https://support.microsoft.com/en-us/office/excel-specifications-and-limits-1672b34d-7043-467e-8e27-269d656771c3?ui=en-us&rs=en-us&ad=us

[2020-06-17 16:37] rodrigoassumpcao opened #10959 "Special characters are displayed incorrectly"
Issue Type: <b>Bug</b>

All special characters are displayed incorrectly in result grid, in SQL Tab and Notebook Tab

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-30T00:16:35.943Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7300U CPU @ 2.60GHz (4 x 2712)|

[2020-06-17 16:42] rodrigoassumpcao commented on #10959
![special_characters](https://user-images.githubusercontent.com/24454974/84925533-6c82f880-b0a0-11ea-9a80-26842ffc8a16.png)

[2020-06-17 17:58] Benjin commented on #10943
Leaving this open until SqlToolsService is back to the updated version (including the updated DacFx)

[2020-06-17 18:10] rodrigoassumpcao commented on #10959
The problem occurs in others parts of the IDE too:

![image](https://user-images.githubusercontent.com/24454974/84933638-9510ef80-b0ac-11ea-9989-e0897c8591b2.png)

[2020-06-17 18:17] #10843 closed

[2020-06-17 18:37] Charles-Gagnon opened #10962 "Error filtering subscriptions"
This just started happening on insiders. Click on the "filter" icon next to an Azure account and this error appears :

[code]

[2020-06-17 18:50] anthonydresser commented on #10956
This was caused by #10554, working on a generic fix now.

[2020-06-17 19:26] aaomidi commented on #10962
Interesting, it happens when you don't have stuff expanded.

[2020-06-17 20:31] Benjin opened #10966 "Import UX should have friendly names for the enums"
![image](https://user-images.githubusercontent.com/1609827/84947038-6d1a8f80-b09e-11ea-89a3-fd5e8b83a9e2.png)

Repro:
1. Right-click on database in Connections activity
2. Select "Import to Database Project

Expected:
* "Object type" instead of "ObjectType", etc.
* Flavor text for textbox should probably be something like "How do you want the SQL files organized?"

[2020-06-17 20:32] anthonydresser commented on #10249
Could be

[2020-06-17 20:37] kisantia opened #10967 "Schema compare from sql proj doesn't have Source set to dacpac"
Steps to Reproduce:
1. Right click on project and select "Schema Compare"
2. Schema compare window opens with source text box empty

Expected:
Source should be pre-populated with the dacpac created from building the project

[2020-06-17 20:37] Benjin opened #10968 "Properties folder in tree starts expanded"
Repro: Create new project

Expected: Should start collapsed like everything else
Reality: starts expanded

Do we even need this, or is it an outdated paradigm from Visual Studio?  I haven't seen anything in it in SSDT before.

If we keep it, it should start collapsed like everything else.

[2020-06-17 20:41] Benjin opened #10971 "Inelegant failure for cancelling out of connection picker for Import welcome button"
![image](https://user-images.githubusercontent.com/1609827/84948112-12823300-b0a0-11ea-87fb-d61fff2f37e9.png)

Repro:
0. Close all open projects, so you can see the Welcome buttons
1. Click Import Project from Database
2. Click cancel on connection picker

Expected: Silent failure because it's a cancellation or clean message that user cancelled the operation
Reality: ugly error that's unhelpful to

[2020-06-17 20:42] kisantia commented on #10967
Need to update SC extension

[2020-06-17 20:43] udeeshagautam opened #10972 "Database ref command from Pallet - should show or give user friendly error"
- Azure Data Studio Version:

the Add database ref command shows from command pallet when no project is added. in this case if click it gives a root not found error.

it should either not show in command pallet at all. or may be give a more user friendly error like run the command after opening a project etc.

![image](https://user-images.githubusercontent.com/46980425/84948327-73117000-b0a0-11ea-

[2020-06-17 20:44] llali opened #10973 "Database project creates two output consoles"
<img width="595" alt="Screen Shot 2020-06-17 at 1 43 06 PM" src="https://user-images.githubusercontent.com/17187348/84948426-94725c00-b0a0-11ea-8eb0-edbdd94ccda7.png">

- Azure Data Studio Version:

Steps to Reproduce:

1.

[2020-06-17 20:51] llali opened #10974 "SQL Project should create folder for new project"
In the SQL project, creating new project creates a new file. I was expecting it to be a folder so that new items will be added to same folder. I didn't know that so I was accidentally adding too many project files to the base folder I selected when creating the project

[2020-06-17 20:54] Benjin opened #10975 "Register build as task (with additional details over in Output)"
Repro: Build a project

Expected: ADS displays task with in progress/success/failure indicators, with text saying details over in Output pane
![image](https://user-images.githubusercontent.com/1609827/84949240-c6d08900-b0a1-11ea-802c-5765152bfb03.png)

Reality: No task created in ADS; all details over in Output, somewhat difficult to parse to see what the result of Build was.

![image](https://use

[2020-06-17 20:55] llali opened #10976 "Creating SQL is not visible in UI to show project created successfully"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open connection viewlet
2. Create a new project
Expected: The view let for project should has the focus or some message should show up
Actua: I didn't see anything in the UI so didn't know if project created successfully.  Then I noticed the project viewlet is added but the UI focus was still on connection viewlet

[2020-06-17 20:59] #10962 closed

[2020-06-17 21:01] kisantia opened #10977 "Same database reference can be added more than once"
Steps to Reproduce:
Note: also occurs for normal database references, not just system database references
1. Add system database reference to master
2. Try to add another system database reference to master

Expected:
Shouldn't be allowed to add same reference twice

Actual:
There are now two references to master
![Screen Shot 2020-06-17 at 2 01 24 PM](https://user-images.githubusercontent.com/311

[2020-06-17 21:02] SakshiS-harma opened #10978 "RE from database to project doesn't add all the properties that SSDT adds"
Steps to Reproduce:

1. Import a project from an existing database in ADS.
2. Import the same database to a project in SSDT.

sqlproj from both the sources do not match, wrt properties.

[2020-06-17 21:05] udeeshagautam opened #10979 "Expand/collapse all nodes options"
- Azure Data Studio Version:

Steps to Reproduce:

1. For bigger database projects having all nodes expanded might be bit overwhelmening to work with.

possible improvements
1. Adding a button/toggle in the viewlet for expand all collapse all
2 At first open the DB with notes collapsed (lets check what SSDT does)
Longer term..
3. if we could remember state what is open collapsed is greater long te

[2020-06-17 21:08] Benjin opened #10980 "User should be able to pick a connection using the ADS connection dialog from Schema Compare"
![image](https://user-images.githubusercontent.com/1609827/84950387-ae616e00-b0a3-11ea-983a-be1197774b34.png)

Repro:
1. Start new instance of ADS
2. Without opening a connection, launch Schema Compare (e.g. via database project)
3. Select Database as a source/target type

Expected: prompted to open a new connection
Reality: Get message saying no active connections, and have to exit dialog in orde

[2020-06-17 21:15] llali opened #10981 "Creating project for master db, opening editor does not have master as selected db"
- Azure Data Studio Version:

Steps to Reproduce:

1. Create SQL project
2. Add a table item which already exists in master
3. build the project
4. close the editors
5. from problems panel, find the error in the table and click on it

Expected: the editor should open with "master" as selected db
Actual: Database dropdown doesn't have anything selected. in onecase it showed undefined

[2020-06-17 21:26] udeeshagautam opened #10982 "Import from command pallet flow asks for DB twice"
- Azure Data Studio Version:

Steps to Reproduce:

If i import from command pallet flow - the connection dialog opens and get the server and db info - the command pallet then ask to pick db again - which seems a little confusing.

We should may be confirm again but not ask again. We should pass the info on from connection dialog to Import flow and behave differently if we already have DB

![Two ti

[2020-06-17 21:31] llali opened #10983 "Data source option should not available as an option for publish if the feature is not ready"
- Azure Data Studio Version:

Data source feature is still not ready for SQL project so the option for it should not be available for user for publish
![Untitled](https://user-images.githubusercontent.com/17187348/84952701-3eed7d80-b0a7-11ea-9a7f-cf25f0ac13f4.png)

[2020-06-17 21:35] llali opened #10984 "Not clear how to provide target connection in publish dialog"
- Azure Data Studio Version:

the Edit button in the dialog is not clear to be for adding new connection.

[2020-06-17 21:38] Benjin commented on #10589
It seems to be back =/

[2020-06-17 21:41] llali opened #10985 "Publish doesn't show details about connection error"
- Azure Data Studio Version:

Steps to Reproduce:

1. Create SQL project
2. Add tables
3. Publish to a server

Actual: the connection fails and it's not clear why. there's not actual error
Expected: If connection fails for the publish, it should show the error details

[2020-06-17 21:45] kisantia opened #10986 "files not arranged in folders when sqlproj created on windows is opened on mac"
Steps to Reproduce:

1. Create a new project on Windows in SSDT by importing a database so it has some files and folders
2. Copy the folder of the project to a mac
3. Open the project in ADS on mac

Actual:
<img width="263" alt="Screen Shot 2020-06-17 at 2 26 50 PM" src="https://user-images.githubusercontent.com/31145923/84952485-e4542180-b0a6-11ea-9088-72a31ce08b31.png">

Expected:
It should be d

[2020-06-17 21:56] SakshiS-harma opened #10987 "Updating database in Schema Compare dialog doesn't enable "Ok" button"
Steps to Reproduce:

1. Open Schema Compare.
2. Populate Source and Target databases for schema compare. Press 'Ok'.
3. Press '...' to update source or target. In the dialog, update either of the databases. 'Ok' still remains disabled.

[2020-06-17 22:14] kisantia opened #10988 "Add import database project to server/database dashboard toolbar"

[2020-06-17 22:16] Benjin commented on #10984
Ideas:
* Make connection-string box read-only
* Consider "Edit" rename to something else

To discuss with Raden

[2020-06-17 22:17] SakshiS-harma opened #10989 "'Import database' to be present at server level in Connections tree."

[2020-06-17 22:18] SakshiS-harma opened #10990 "'Import database' to be present in Database dashboard."

[2020-06-17 22:54] Benjin commented on #10980
Looks like this is a duplicate of https://www.github.com/microsoft/azuredatastudio/issues/5222

[2020-06-17 22:54] #10980 closed

[2020-06-17 23:09] kburtram commented on #10839
@aaomidi any thoughts on how to troubleshoot this one?

[2020-06-17 23:11] aaomidi commented on #10839
We definitely need more logs on this. @basilcherian can you click Help -> About on the machine you're having issues from and send us the information? Also, the same process on the machines you're not having a problem on.

Would be good to see what the differences between these two machines are.

[2020-06-17 23:31] alanrenmsft commented on #10657
dupe of #10620

[2020-06-17 23:31] #10657 closed

[2020-06-17 23:43] #10967 closed

[2020-06-18 02:22] JipingWang opened #10997 "xml formating removes name prefix"
Issue Type: <b>Bug</b>

<x:name> formatted to <name>
while kept in VS Code.

Azure Data Studio version: azuredatastudio 1.16.1 (16801c522df68e63218b39ccb5b4a7431f9bf667, 2020-03-23T22:08:06.892Z)
OS version: Windows_NT x64 10.0.18363

[2020-06-18 10:11] brase commented on #10068
I got the same error when trying to open the profiler.

I am using 1.19.0

[2020-06-18 14:05] dzsquared opened #11000 "Open DB Project Does Not Integrate with Source Control Provider"
- Azure Data Studio Version:
Version: 1.20.0-insider (user setup)
Commit: 95107f1f611df05f85e1cc7122f088f4d9cc6aec
Date: 2020-06-18T05:34:11.799Z
VS Code: 1.46.0
Electron: 7.3.0
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Open established sqlproj (in folder initialized for git)
2. Unless user also opens the project in files

[2020-06-18 14:29] dzsquared opened #11001 "Add Icons to DB Project Pane"
For users familiar with the files viewlet, the projects pane is missing the familiar actions icons.

Icons for "Add Item", "Add Folder", and "Collapse Folders" would aid the user in navigating the extension.

(collapse folders is a duplicate of #10979)

[2020-06-18 14:46] rrmetzger opened #11002 "Proxy Authentication Error"
- Azure Data Studio Version:
Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

After install the program asks for proxy authentication on start, but the dialog is 'locked'. The fields are available, but pressing <O

[2020-06-18 15:46] dzsquared commented on #10984
I would caution against making the connection string box read-only.  Users may be bringing connection strings from other sources - web deployment, key vault, (??).

I like the idea of renaming the "Edit" button.

[2020-06-18 16:02] rrmistry commented on #389
@joshbooker , based on workflow in these gifs: https://github.com/microsoft/azuredatastudio/issues/389#issuecomment-437542015 any chance we can prioritize https://github.com/microsoft/azuredatastudio/issues/10370 ?

[2020-06-18 16:26] yesspadilla75 commented on #3594
I'm also having the issue. Is there any way in which this is avoided? It's really annoying to have to reconnect every half an hour... or opening multiple query notepads, in the end you lose track of what you query on.  Any news on this?

[2020-06-18 17:41] MsSQLGirl commented on #7045
I think this is fixed now :)
![image](https://user-images.githubusercontent.com/6405919/85053958-2dac7b80-b150-11ea-92bf-7eccfd48cac1.png)

@yualan - can you please confirm?

[2020-06-18 18:25] #10723 closed

[2020-06-18 18:25] alanrenmsft commented on #10620
@fsteffi this is an upstream issue (chromium), vscode also has the same problem, see screenshot below

<img width="1466" alt="Screen Shot 2020-06-18 at 11 23 19 AM" src="https://user-images.githubusercontent.com/13777222/85057978-4c157580-b156-11ea-9960-e5b991816dc5.png">

please open an issue for vscode.

[2020-06-18 18:25] #10620 closed

[2020-06-18 18:55] MsSQLGirl opened #11004 "Azure Data Studio (Not Responding) after changing Results Grid Font Size"
- Azure Data Studio Version:
Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Create a simple new notebook with one Code cell
[code]

2. Run and these should give 2 resultsets.

3. Open Set

[2020-06-18 21:09] #10972 closed

[2020-06-18 21:12] MsSQLGirl opened #11007 "Improvement on Results Grid padding and whitespace usage"
**Is your feature request related to a problem? Please describe.**
When seeing a large amount of dataset, the whitespaces take too much space.

**Describe the solution or feature you'd like**
The Results Grid padding is static so it seems it's about the same for font size 8 and font size 18

**Describe alternatives you've considered**
SSMS ...

**Additional context**
Azure Data Studio result grid

[2020-06-18 21:47] MsSQLGirl commented on #11004
This issue seems to repro-able when Settings is opened. i.e. I've tested it with SQL File. It's not as severe, but having notebook file opened with Settings are the reliable combo to repro this.

[2020-06-19 00:44] #10924 closed

[2020-06-19 00:44] #10947 closed

[2020-06-19 12:14] deepankar-j commented on #5692
I'm encountering the same issue with OS X 10.15.5.   I was able to connect successfully before, but all of a sudden (without any password change), I see the same error as this thread.

Has anyone solved this issue?

[2020-06-19 12:48] rodrigoassumpcao commented on #10959
Same error on version 1.19.0

[2020-06-19 12:58] rodrigoassumpcao opened #11011 "Add a export option (excel and csv) when right click in a Table"
The behavior is the same when you export a result in SQL page or Notebook page. It's a shortcut.

The only option to export a table is make a query. This feature will help any user that wants only to export a table.

This can be a extension, of course.

[2020-06-19 15:31] perrydyball commented on #6450
Still an issue in 1.19

Changing to using full fat SQL SSMS

[2020-06-19 16:13] aasimkhan30 commented on #10997
Hi @JipingWang, can you provide more information about where this bug is found and steps to reproduce this error. Thank you!

[2020-06-19 17:48] chlafreniere commented on #11011
I'm not sure if the right area for new table functionality, so just added query editor. for any enhancements always happy to collaborate.

[2020-06-19 20:24] ahkenho opened #11017 "Stuck at step 2 of Create a new book."
- Azure Data Studio Version:
Version: 1.19.0
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:03:19.036Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0

Steps to Reproduce:
ran step 2 script, enter the folder for the book, then enter the location for notebooks and markdown. then get below error. Please help

[2020-06-19 20:42] ahkenho commented on #11017
I have set the encoding in Terminal to en_US.UTF-8, and still getting the same error.
export LC_ALL=en_US.UTF-8

and I see both LC-ALL and LANG is set to en_US.UTF-8.

[2020-06-19 22:14] udeeshagautam opened #11018 "Nested folders dont show correctly in SSDT for MAC style paths"
- Azure Data Studio Version: Dev

Steps to Reproduce:

1. Create a project in ADS running on MAC
2. Create a nested folder structure in this project, add files inside folder
3. Save
4. open in ADS on Windows - works fine
5. open in SSDT on Windows - all files show correctly in the folder paths but folders inside folders entries dont show correctly.  Seems like the <Folder> tag behaving different t

[2020-06-19 22:18] udeeshagautam commented on #10986
Related less severe issue from other side of round tripping : https://github.com/microsoft/azuredatastudio/issues/11018

[2020-06-20 00:41] rtheil commented on #8058
Also having this issue. Claimed to be fixed in Electron 6, but I upgraded to 9.0.4 and no difference, even though config doesn't show 9.0.4. Only happens when HDR enabled on monitor.

Version: 1.46.1 (user setup)
Commit: cd9ea6488829f560dc949a8b2fb789f3cdc05f5d
Date: 2020-06-17T21:13:20.174Z
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.183

[2020-06-21 04:59] Aashishgk7760 opened #11023 "shortcut ctrl l feature not working"
- Azure Data Studio Version:

Steps to Reproduce:

1.

[2020-06-21 07:55] vladimir-novoseltsev commented on #8058
Same problem on latest VS Code, adding in launcher "--force-color-profile srgb" seem to fix the problem. Is it possible to make it configurable option from VSCode, or somewhere else to enable globally for all instances, not just the one launched with shortcut?

[2020-06-21 07:59] vladimir-novoseltsev commented on #8058
Never mind, found it. The property could be set globally in "Preferences: Configure Runtime Arguments".

[2020-06-21 15:44] kevchant opened #11024 "Notebook results showing password"
Issue Type: <b>Bug</b>

Hi, spotted something unusual the other day and thought I better report it.

If you use the Deploy SQL Server Wizard to create a container the password is hidden for the results of the 'Required information' cell.

However, in the 'Start a new container' section it is very visible, so you have to be careful if sharing notebooks. Is this expected, or should this password als

[2020-06-21 16:22] jbx1 commented on #6171
This issue is so annoying. Sometimes I need to refer to different SQL files just to check the text in the files (stored procedures etc.) and the connection prompt comes up with each click on a file! If a connection per workspace is too much to implement, at least there should be an option to work in disconnected mode, or simply prompt only when the run button to execute SQL is clicked. (I think th

[2020-06-21 20:42] udeeshagautam opened #11025 "Fully qualified paths are not working in project"
- Azure Data Studio Version: Dev

Cross drive files or fully defined paths of files are causing project to not load. All the auto generated  paths in both tools (ADS/SSDT) are relative but this case might occur when someone adds a file manually editing the csproj or adding file in link in SSDT. following error occurs at loading

![image](https://user-images.githubusercontent.com/46980425/85234813-

[2020-06-21 21:02] udeeshagautam opened #11026 "[Test Issue] the project tree paths misses intermediate folder in uri"
**Azure Data Studio Version:**
Dev

**Test issue:**
Not able to find a repro for this issue outside of test. Please use project.tree.test suite to reproduce.
Product behavior looks fine.

**Steps to Repro:**
When added an entry into a project TestProj,  that looks like following :
    <Build Include="somefolder\nestedfolder\nestedfile1.sql" />

If you look at the path of some folder the path is fo

[2020-06-21 21:36] udeeshagautam opened #11028 "After a loading error reopening project says already opened"
- Azure Data Studio Version:

Steps to Reproduce:

1.Open project that doesnt load due to some error
2. So at this time project is not showing open in the list
3. reopen this - says already open. User has to restart ADS to be able to open this project again.

Expected : let user retry opening the project that didn't open first time

![image](https://user-images.githubusercontent.com/46980425/85235

[2020-06-22 09:50] Barthezzcz commented on #10692
still bugged even on 1.19.0

[2020-06-22 11:23] eghazal opened #11030 "Intellisence not working"
Issue Type: <b>Performance Issue</b>

Intellisence not working when connecting to Azure SQL database.

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8550U CPU @ 1.80GHz (8 x 1992)|
|GPU Status|2d_

[2020-06-22 11:25] eghazal commented on #3270
Same issue with less than 20 databases !
I'm using user token as authentication method and connecting to Azure SQL database server.

[2020-06-22 12:25] gregveres commented on #5527
Are you guys ever going to fix this very annoying workflow? This frustrates me every single time I use Azure Data Studio.

[2020-06-22 14:46] deepankar-j commented on #5692
In case anyone else encounters this issue, here's how it was resolved for me:

My IT Department found that for some reason my computer's domain binding failed (not sure exactly what that entails).   They forced my computer to re-join the company's domain, which resolved the issue.

[2020-06-22 14:51] Charles-Gagnon commented on #11030
I'm going to close this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/4817 - if you have any further specific information to give that might help us please post it there! Unfortunately there's a number of known issues with Intellisense that we've been unable to track down so I don't have any update on a potential fix at this point in time.

[2020-06-22 14:51] #11030 closed

[2020-06-22 16:17] JipingWang commented on #10997
I've solved this by download XMLTools extension.

ADS default XML file formatting tool - "XML Language Features" will remove prefix, but I just need to formating it. I use another extention in VS Code "XML Tools", but I couldn't find it in ADS Extentions tab. Later I downloaded the extention manually and "Install from VISX" to ADS.

Issue:
<x:name> some content </x:name>
formatted to:
<name> some

[2020-06-22 16:53] dfloresgonz opened #11033 "AUTOCOMMIT - POSTGRES"
**Is your feature request related to a problem? Please describe.**

It is really helpful when executing a DML or DDL operation to have the rollback option, the commit should be trigger by the user.

**Describe the solution or feature you'd like**

To have a commit and rollback buttons and an option to turn on/off autocommit

**Describe alternatives you've considered**

**Additional context**

![im

[2020-06-22 17:10] KevinLeeBuchan commented on #10793
Here are updated logs where it happened again.
[20200619T204620.zip](https://github.com/microsoft/azuredatastudio/files/4814615/20200619T204620.zip)

[2020-06-22 17:20] dzsquared opened #11034 "SQL Project command palette selection of "add database reference" error"
- Azure Data Studio Version:
Version: 1.20.0-insider (user setup)
Commit: 340d8d37c94c7aea74fdea72d016654cb2f4f5bd
Date: 2020-06-19T05:33:29.191Z
VS Code: 1.46.0
Electron: 7.3.0
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Open database project.  Optional: select "Database References" item in viewlet
2. Using the command pal

[2020-06-22 17:24] dnethi opened #11035 "screen to display kube config info is stuck in spinning mode when config file is not present - Arc data controller extension"
- Azure Data Studio Version:

Steps to Reproduce:

1. Deploy the Azure Arc data controller extension onto the latest insiders build
2. Launch the data controller wizard
3. In the screen where the wizard attemps to read the config file from the default path to display the cluster contexts, if the config file is not present, it seems to be stuck with a spinning wheel.

It should drop an error messag

[2020-06-22 18:11] smartguest commented on #2251
Already fixed by pull

[2020-06-22 18:11] #2251 closed

[2020-06-22 18:58] herofusit commented on #4374
Makes this pretty unusable. Any update on status?

[2020-06-22 20:22] aaomidi opened #11044 "AzureCore should maybe integrate with VSCode accounts"
VSCode Accounts Added

![image](https://user-images.githubusercontent.com/1465785/85331681-6a97ab80-b48b-11ea-9fc1-bf593a1d6471.png)

Thoughts?

[2020-06-22 20:33] pnhughes commented on #7440
I'm experiencing this problem as well. Seems to occur if I run a query that raises an error. After correcting the code and rerunning the segment, I get the Executing hang immediately. My elapsed time keeps counting.  Disconnecting from the database causes the elapsed time to stop but if I reconnect to the same database, the elapsed time resumes counting from where it left off.  Clicking the Cancel

[2020-06-22 20:43] #9497 closed

[2020-06-22 20:45] #9358 closed

[2020-06-22 22:10] chlafreniere commented on #11024
@alanrenmsft can you take a look at this?

[2020-06-22 22:12] alanrenmsft commented on #11024
@chlafreniere Should I work with @yualan on this?

[2020-06-22 22:46] Benjin opened #11047 "Show projects that fail to load in tree"
Useful information to include in overall UX:
* message for why it failed to load
* context menu item for reloading

Steps to repro the issue:
Mangle the XML to remove either a few tags, skip element name or attribute information.

[2020-06-23 04:27] #10974 closed

[2020-06-23 05:37] #10986 closed

[2020-06-23 05:37] #11028 closed

[2020-06-23 12:48] nesshoever opened #11055 "Linked Account does not display non-ASCII characters"
Issue Type: <b>Bug</b>

If the display name of a microsoft account contains non-ASCII characters, they are not displayed correclty encoded

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version: Windows_NT x64 10.0.18363

![2020-06-23_14-46-21](https://user-images.githubusercontent.com/11948164/85405303-7f923e80-b560-11ea-

[2020-06-23 13:50] Abhinav625 opened #11056 "Azure Data Studio Behind Proxy"
**Azure Data Studio Version:**
Version 1.0.0
Commit cab8f3e37c9ac4367e0dacef5185da08bd8021c2
Date 2018-09-20T22:04:35.897Z
VS Code 1.26.1
Shell 2.0.9
Renderer 61.0.3163.100
Node 8.9.3
V8: 6.1.534.41
Architecture x64

**Steps to Reproduce:**
1. Go to File->Preferences ->Setting->HTTP
2. Edit "http.proxy" :" " to "http.proxy" : "10.x.x.x:1234"

**Issue:**
I am from network security team and one of o

[2020-06-23 14:01] JumbaJookiba opened #11057 "Intellisense not recognizing a view"
Issue Type: <b>Bug</b>

In the query editor, my view is not recognized as an existing item, and everything is underlined as error, although the query is correctly executed, when run.

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|--

[2020-06-23 15:30] harlananelson opened #11059 "Can no longer create new code and text blocks by clicking below a current code blocka current code block."
There is a bug in the current Azure Data Studio update.  The functionality for creating a new code block by clicking under a current code block is disabled.  Can this be fixed as using a drop down menu is extremely inconvenient and requires many more mouse clicks.  Even better would be to allow command mode like jupyter.

[2020-06-23 15:34] harlananelson commented on #11059
It is also interesting to note that the menu options are "insert code After" and "insert code Before"  This give the letters A for After and B for Before, gas-lighting those who think B is for "Below" and A is for "Above" as in jupyter notebooks.

[2020-06-23 16:48] Charles-Gagnon commented on #11044
My gut instinct is "yes" since it's likely that this is something they're going to be using across the app so it seems to make sense to hook into this if we can. Have you been able to look at all into what that would take? Is this something that other extensions can contribute to?

[2020-06-23 16:57] #10983 closed

[2020-06-23 17:06] Benjin commented on #10943
Updated DacFx came into SqlToolsService with https://github.com/microsoft/sqltoolsservice/pull/986

[2020-06-23 17:29] #10971 closed

[2020-06-23 17:40] sdlins opened #11060 "Options to include automatic Order By (ASC or DESC) clause for Primary Key"
When selecting top N or editing data, we will probably want to see the *last* registers, not the early ones. Most of the time I need to add a ORDER BY clause to result.

So, I propose to add 2 new configs/options like:

- [ ] Auto order by data edition by the table primay key? (Never|ASC|DESC);

- [ ] Auto order by data selection by the table primay key? (Never|ASC|DESC);

It would add a `ORDER BY

[2020-06-23 19:24] #10977 closed

[2020-06-23 19:47] udeeshagautam opened #11062 "Support for .NET core SDK cross multiple versions (older versions) in build"
Current Net core SDK support for bbuild is limited to the version sqltoolsservice is build on and higher. We need a mechanism to allow supporting cross SDK support for build.

[2020-06-23 21:13] jamiefutch opened #11064 "Results grid column size not respecting the max col size of Query: Text Size"
Issue Type: <b>Bug</b>

Results grid column size not respecting the max col size of Query: Text Size
value of 2147483647

It is limiting text to 65536.

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM)

[2020-06-23 21:36] MsSQLGirl commented on #9378
I can't seem to repro this anymore. Perhaps we can close it?
@gupta1 - thoughts?

[2020-06-23 21:37] #10920 closed

[2020-06-23 22:22] #10486 closed

[2020-06-23 22:22] #10514 closed

[2020-06-23 22:22] #10943 closed

[2020-06-24 00:52] MsSQLGirl opened #11067 "Searching requires an extra '\' for escaped characters"
- Azure Data Studio Version:
Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Create a notebook with a text cell that looks like this:
```sys.database\_files```

The rendered view will look

[2020-06-24 01:33] goudstad opened #11068 "Notebook Data Export"
Issue Type: <b>Bug</b>

Environment: Azure Data Studio Notebook with SQL.

Issues:
- Exporting data result to Excel spreadsheet does not include header.
- Copying data result to Excel is not comma-separated; all texts are joined together.

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version: Windows_NT x64 10.0.18362

[2020-06-24 04:08] #10976 closed

[2020-06-24 11:26] Matteus-Andersen opened #11070 "ADS prompts for authentication for every tenant my AzureAD account has a guest account in."
- Azure Data Studio Version: 1.19.0

When I start ADS I get several prompts to authenticate to ever tenant that my azure account has a guest account in.
![image](https://user-images.githubusercontent.com/67370493/85546907-abbfc500-b61d-11ea-91db-75f5b05a7373.png)

This started after I updated to version 1.19.0.

Is there a way to specify the tenant ID I want to use?

[2020-06-24 16:51] TarekSalha opened #11071 "server list is not showing up correctly if several different tiers are used in the server's databases"
We have written
Issue Type: <b>Bug</b>

create a server with one serverless database and one in standard tier (not core-based),
try to open with admin account on server level (master),
open databases in hierarchy,
list of databases shows error message "failed to connect to server <servername>

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T2

[2020-06-24 16:57] yualan opened #11072 "Move Azure view to Connections Dialog"
This issue tracks moving Azure view in Connections Viewlet to Connections dialog

[2020-06-24 17:27] #10819 closed

[2020-06-24 20:44] #10938 closed

[2020-06-24 22:20] #11024 closed

[2020-06-24 23:17] #10745 closed

[2020-06-24 23:39] Charles-Gagnon opened #11081 "Azure regions shouldn't be hardcoded in resource deployment"
Now that the azurecore has an API for mapping region names we shouldn't have this hardcoded in the deployment extension.

[2020-06-25 00:27] Charles-Gagnon opened #11085 "Getting started tour doesn't seem to work"
I click the button and nothing happens except the sidebar closes. This is in the console :

[code]

[2020-06-25 00:27] dnethi opened #11086 "Arc data controller deployment fails"
- Azure Data Studio Version:

Steps to Reproduce:

1.Go through the Azure Arc data controller deployment and select a region that has multiple words such as "West US 2"
2. run the notebook.

The deployment fails because the region is not properly mapped back to westus2.

[2020-06-25 01:20] Charles-Gagnon opened #11087 "MIAA Delete doesn't remove from registrations list"
Need to look into whether we can delete the registration too.

[2020-06-25 05:16] bweissman opened #11091 "Data Virtualization doesn't work against SQL Server in CU5"
- Azure Data Studio Version: 1.19.0
Data Virtualization Extension: 1.5.2

Steps to Reproduce:

Connect to a BDC running CU5
Pick any User Database
Run the "Virtualize Data" Wizard
Pick SQL Server as your Source
Provide master key, data source and credentials (I used another BDC and an azure SQL DB with adventureworksLT to test)
in the table selection dialogue:
expand tables, select one table, clic

[2020-06-25 06:49] Benjin opened #11095 "Add ability to create/open/import new Database Project from File menu"

[2020-06-25 06:51] Benjin opened #11096 "Schema compare extension dependency isn't automatically installed when Database Projects is installed"

[2020-06-25 15:16] spartan27244 opened #11098 "Unable to change Account Password"
- Azure Data Studio Version:

Steps to Reproduce:

1. Changed Azure AD Password
2. Unable to connect to Azure SQL database because it does not prompt for new password
3. Cannot Add a new Account

So I have no way to use this product anymore until I can get it to recognize a new password is needed.

[2020-06-25 15:23] thomaslevesque commented on #6804
I'm seeing this problem too. And it can't be blamed on the network, since it happens even when querying against a LocalDB instance.

[2020-06-25 15:25] bweissman commented on #11091
[20200625T152100.zip](https://github.com/microsoft/azuredatastudio/files/4832273/20200625T152100.zip)

Full logs attached. Also, happy to jump on a call or try a preview VSIX if that helps.

[2020-06-25 15:31] Charles-Gagnon commented on #11091
In the meantime - putting the instructions here for anyone else hitting issues using the new version of the Wizard.

To roll back and use the previous version of the Wizard :

1. Go to the Extensions Gallery in ADS
1. Find the **Data Virtualization** extension and uninstall it, then restart ADS
1. in ADS go to settings and uncheck this box (this will prevent the extension from auto-updating to the

[2020-06-25 15:50] #11087 closed

[2020-06-25 17:16] ranasaria commented on #11086
I will look at this since Charles is OOF.

[2020-06-25 17:30] kisantia commented on #11034
fixed by #11003. "Add Database Reference" shouldn't have been in the command palette

[2020-06-25 17:30] #11034 closed

[2020-06-25 18:09] ranasaria commented on #11086
Only East US, East US2, and Central US were the supported regions in azure arc deployments in the past. I synced up with Dinaker and I will make a check-in to expand this list to the following regions:
                "East US",
                "East US 2",
                "Central US",
                "East US 2 EUAP",
                "Central US EUAP",
                "West Europe",

[2020-06-25 18:23] chlafreniere commented on #11023
@Aashishgk7760 can you include some more info please?

[2020-06-25 18:25] #8756 closed

[2020-06-25 18:25] chlafreniere commented on #8756
This has since been done; in the June release, the popups no longer appear.

[2020-06-25 18:27] chlafreniere commented on #9381
In our insiders builds, this should no longer repro for the PowerShell kernel any more; we aren't running these set environment variable commands in the background for the powershell kernel.

[2020-06-25 18:28] chlafreniere commented on #9729
This should be fixed now with our June release. Please feel free to reactivate if you still encounter this problem.

[2020-06-25 18:28] #9729 closed

[2020-06-25 18:29] amthomas46 commented on #9381
Confirmed - i have not been able to repro on Insiders! Thank you Chris!

[2020-06-25 18:31] chlafreniere commented on #9381
Very happy to hear that! I'll close this issue then 😄

[2020-06-25 18:31] #9381 closed

[2020-06-25 20:23] Benjin opened #11100 "Import database doesn't new sqlproj file into correct folder"
Import a database, and organize as anything other than File.

the sqlproj file is placed in a folder alongside all the extracted .sql scripts

[2020-06-25 20:24] kisantia opened #11101 "Add "Open folder in file explorer" option in the project tree"

[2020-06-25 21:57] kisantia opened #11103 "No error when trying to add file or folder with name that already exists"
Steps to Reproduce:

1. Create a project with a table called Table1.sql
2. Add table with the same name

Expected: There should be an error that a file with the same name already exists on disk at that location.

Actual: The entry gets added to the sqlproj and the old file is overwritten

Same problem for creating a folder with the same name

[2020-06-25 22:08] dzsquared opened #11105 "Seeking community feedback on SQL Database Projects extension (Insiders preview)"
### To bring project-based SQL database development to a cross-platform experience, we are announcing SQL Database Projects Extension (Insiders Preview) is now available in the latest [Azure Data Studio Insiders build](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main).

![Projects-Listing - Copy](https://user-images.githubusercontent.com/12227241/85800375-78

[2020-06-25 22:37] #11100 closed

[2020-06-25 22:58] MsSQLGirl opened #11107 "Import New Database Project - Unable to save in root directory"
- Azure Data Studio Version:
Version: 1.20.0-insider (user setup)
Commit: 710d0462d8d81373aa2bc0f36f88955c902cb173
Date: 2020-06-25T05:31:00.820Z
VS Code: 1.46.0
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Right click on SQL Server 2019 database and choose Import New Database Project.
2. Use default name.
3.

[2020-06-25 23:37] alanrenmsft opened #11109 "notebook search feature is broken"
- Azure Data Studio Version: latest insider

Steps to Reproduce:

1. Open a notebook
2. use keyboard shortcut to bring up the search box: cmd+F (i am using macOS)

nothing happens.

[2020-06-26 00:18] #10982 closed

[2020-06-26 02:18] #11086 closed

[2020-06-26 03:10] kevinvngo opened #11114 "SQL Database Projects fails to build in ADS but succeeded in VS. And then bringing project back into VS is broken"
Version: 1.20.0-insider (user setup)
Commit: 710d0462d8d81373aa2bc0f36f88955c902cb173
Date: 2020-06-25T05:31:00.820Z
VS Code: 1.46.0
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363
Steps to Reproduce:

Using Synapse SQL Pool (SQL DW).

1.	Create SSDT Database Project in VS and then run a successful build.
2.	Open the Database Project in

[2020-06-26 03:16] kevinvngo opened #11115 "Import New Database Project from live database does not show object explorer"
Version: 1.20.0-insider (user setup)
Commit: 710d0462d8d81373aa2bc0f36f88955c902cb173
Date: 2020-06-25T05:31:00.820Z
VS Code: 1.46.0
Electron: 7.3.1
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:
Using Synapse SQL Pool (SQL DW).

1. Click Create project from Database

2. Connect to live Database
3. Click SchemaObjectType
4. Observ

[2020-06-26 08:09] leonardder commented on #112
Any updates on this subject, now it is June?

[2020-06-26 11:33] JeffBusterCase opened #11118 "Open recent closed and not saved queries."
**Is your feature request related to a problem? Please describe.**
I'm always confronted with query closed by some error. Thus, some error may occur.

**Describe the solution or feature you'd like**
Wouldn't be more better to save any query as a file(without known by the user). So as if some error happens, you will be able to reopen him later no matter the error. As Document editor's do.

**Descri

[2020-06-26 15:34] veywrn commented on #2767
Howdy! Using ADS 1.19.0 on a Win10 environment.

I also kept running into this confounding UX where *Go to Definition* would show me a `CREATE SCHEMA` script instead of the stored procedure I was trying to examine. The thing that threw me was I used three-part naming, had the full string highlighted, and expected the command to consider the text selected in searching the server instance of the con

[2020-06-26 17:18] kisantia commented on #11115
should be fixed by #11102

[2020-06-26 17:18] #11115 closed

[2020-06-26 17:28] kisantia commented on #11114
does doing Rebuild or Build after Clean in VS fail too? The build failing in VS should've been fixed by #10882

[2020-06-26 18:18] alanrenmsft commented on #10645
@fsteffi we tried this scenario with Narrator, and narrator does announce it as a dialog, looks like an issue with JAWS. I am closing the issue as external, please let me know if you have any questions.

also this dialog is a feature of vscode, you can open vscode and find an extension and click on the repository link on the extension page. if you think this is not a JAWS issue, please open an iss

[2020-06-26 18:18] #10645 closed

[2020-06-26 18:44] danielloganking opened #11119 "After Changing to 64-bit Python Notebook Process Fails to Start"
Issue Type: **Bug**

## Background

Originally, when working with 32-bit Python, I had no issues opening my notebook. However, I wanted to play with `nimbusml` which requires a 64-bit install so I uninstalled 32-bit Python and installed 64-bit Python. Then, I upgraded `pip` using the standard `python -m pip install --upgrade pip`. I also did a `pip install wheel`. I then attempted to open my noteb

[2020-06-26 19:00] ranasaria commented on #11086
Upon further discussion with the platform team in the final check-in we decided to skip the following:

"East US 2 EUAP",
"Central US EUAP",

as the above are used only internally for testing.

[2020-06-26 19:17] aasimkhan30 opened #11120 "Find keeps refocusing you to the found item in Notebook"
We have written the needed data into
Issue Type: <b>Bug</b>

1. Open a Notebook.
2. Click Ctrl + F and search for something that's present in a notebook cell.
3. After the item is found, switch to some other cell and start typing something  **( Note: Keep the find textbox open)**
4. After typing a single letter in the new cell, the notebook will automatically focus to the cell where something was

[2020-06-26 20:20] kevinvngo commented on #11114
Thanks! After Rebuild, this is resolved. The first issue still occurs though.

[2020-06-26 20:40] danielloganking commented on #11119
I'm gonna close this issue for now because I think the error is somewhere in how PIP and pycache managed the transition.

[code]

As you can see `jupyter` is still trying to run python from the 32-bit location (which of course no longer exists). Note, to even see this error I had to manually add the following to my user associated path:

[code]

[2020-06-26 20:40] #11119 closed

[2020-06-26 20:46] #10887 closed

[2020-06-26 20:55] kawai924 commented on #5692
resolved with the same method.
in user & group> login options > click on "edit" for Network account Server > choose the AD you want to update > open directory utility > choose active directory > unbind
then join the AD again

[2020-06-26 21:17] #11109 closed

[2020-06-26 23:27] llali opened #11124 "Uninstalling required packages are not prevented in notebook package managements"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open notebook Python3 kernel
2. Select  package which is required for notebook. I tried zipp
3. Uninstall the selected package

Expected: the package is required for notebook so it should not let user uninstall it
Actual: I successfully uninstalled the package and after closing, re-opening ADS and notebook, I get an error when trying to change

[2020-06-26 23:31] kisantia commented on #10968
Maybe we should hide the properties folder for now since we don't have support for changing the project's properties yet.
In SSDT, the only option for the Properties folder is "Open" which opens this
![image](https://user-images.githubusercontent.com/31145923/85908363-9d161100-b7c9-11ea-9a10-27a0c03e78a3.png)

[2020-06-26 23:57] salinsde opened #11126 "ADS Pipetables not working unless NewLine prior"
- Azure Data Studio Version: 1.19.0

Steps to Reproduce:

1.  If the ipynb files has pipe tables.  there 'MUST' be a newline prior to the pipetable for the table to show correctly.

Content:
**_Broken content:_**
PG Server life cycle. | req_elastic_server_name | request_id | is_success | latest_state | operation_type | res_upsert_operation_type | min_TIMESTAMP | max_TIMESTAMP | latency | prev_app_

[2020-06-27 00:10] salinsde opened #11127 "Newline are not displayed correctly if begin with ["
- Azure Data Studio Version:

Steps to Reproduce:
1. We have each 'text' on a newline but when displayed it is not displaying correctly on each line, it displays all together.  (see Images below)
2) To resolve I had to add the \  (only \ no space after) to get the new line to work properly.

**Current Display:**
![image](https://user-images.githubusercontent.com/1909866/85909411-8e7e2880-b7ce-11ea

[2020-06-27 02:03] #2315 closed

[2020-06-27 02:03] #10683 closed

[2020-06-27 02:04] aasimkhan30 commented on #10656
This fix is merged in the main

[2020-06-27 02:04] #10656 closed

[2020-06-29 02:26] sureshkumar-renganathan opened #11130 "Connection issue - Azure AD - MFA"
I am trying with Azure AD - MFA . It connected for the very first time after it is always giving the following error. I even tried creating new connection, Uninstall - reinstall Azure DS - no luck. Please help.

Issue Type: **Bug**

Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the login process. (pr

[2020-06-29 08:04] ipatalas commented on #7440
I'm experiencing the same issue almost daily. I really love ADS but still have to fall back to SSMS. The only thing that helps is to restart ADS :(
Funny thing is that even a query as simple as that fails:
![image](https://user-images.githubusercontent.com/2623329/85988761-cfa15300-b9ef-11ea-8850-4e3d2629ad3b.png)
Left it running for few days...

My specs:
Version: 1.19.0 (user setup)
Commit: 4095

[2020-06-29 11:41] ravikd744 commented on #10314
Did anyone find the solution for this issue? https://github.com/microsoft/azuredatastudio/issues/10314#issuecomment-628498834

My ADS is broken suddenly, I am behind proxy and was working fine, downgrading to previous versions don’t help. I am currently on 1.19 with no extension, have removed profile settings multiple times and reinstalled 1.19 and 1.18 multiple times.

Fails with auth code grant

[2020-06-29 15:55] CalebmKopp commented on #9116
Same error code, similar issue.

[code]

[2020-06-29 16:55] #11085 closed

[2020-06-29 17:01] Benjin commented on #10968
All the settings in this UI are packed into the .sqlproj file, right?  I've never seen them serialized into the folder itself, I think.

[2020-06-29 18:31] Charles-Gagnon opened #11135 "Allow changing username for Arc controller connections"

[2020-06-29 18:32] Charles-Gagnon opened #11136 "Change properties container flow"
Currently goes L->R, T->B, but going by the Azure portal standard it should be T->B, L->R

[2020-06-29 18:33] Charles-Gagnon opened #11137 "Automatically append https/port for Arc controller connections"
Allow users to just type in the IP and fill in the https/port as needed

[2020-06-29 19:58] aaomidi opened #11138 "Notebook substring error"
[code]

Likely caused at https://github.com/microsoft/azuredatastudio/blob/561b881200631cbe420f98249ead377ac17d3217/extensions/notebook/src/book/bookTreeView.ts#L264-L265

[2020-06-29 20:46] Charles-Gagnon commented on #11091
@bweissman Does this happen even if you create a smaller source database? There's some perf issues with larger databases that I'm going to look into improving, but I want to make sure there's nothing else you might be running in to as well.

[2020-06-29 20:49] bweissman commented on #11091
It even happens with adventureworksLT - switching back to CU4 or the previous extension fixes it for me so far consistently every single time.

Benjamin Weissman
Geschäftsführer
​
t: +49-911-990077-21 | m: +49 1715401508
b.weissman@solisyon.de
Solisyon GmbH, Fürther Str. 212, 90429 Nürnberg
​

​Geschäftsführer: Benjamin Weissman - Amtsgericht Nürnberg, HRB 18312, USt-ID Nr. DE 813156856

Dieses E-

[2020-06-29 20:54] Charles-Gagnon commented on #11091
Could you run this command on the BDC that has CU5 (replacing the data_source value with the name of the External Data Source you created for your source server.

[code]

I just want to know if it runs successfully and about how long it took - no need to paste the contents.

If that runs successfully could you then still try just making an empty database/table and virtualizing that to make sure it

[2020-06-29 21:09] Benjin commented on #10415
Covered by https://github.com/microsoft/azuredatastudio/issues/11096

[2020-06-29 21:09] #10415 closed

[2020-06-29 21:11] Benjin commented on #10561
Moved over to ADO for tracking due to size

[2020-06-29 21:11] #10561 closed

[2020-06-29 21:13] Benjin commented on #10590
Tracked over in ADO

[2020-06-29 21:13] #10590 closed

[2020-06-29 21:23] Benjin commented on #10841
Tracked in ADO

[2020-06-29 21:23] #10841 closed

[2020-06-29 21:28] Benjin commented on #10905
Standardize on backslash for writing, convert to local at runtime for displaying the tree

[2020-06-29 21:31] Benjin commented on #10925
Tracking in ADO

[2020-06-29 21:31] #10925 closed

[2020-06-29 21:33] Benjin commented on #10942
Tracked in ADO

[2020-06-29 21:33] #10942 closed

[2020-06-29 21:36] Benjin commented on #10975
Tracked in ADO

[2020-06-29 21:36] #10975 closed

[2020-06-29 21:42] #10984 closed

[2020-06-29 21:44] Benjin commented on #10985
Thought this already happened when publish failed.  Confirm the current behavior and circle back with Leila if behaving as expected

[2020-06-29 21:48] Benjin commented on #10988
Tracking with other dashboard tasks in ADO; needs investigation to figure out what (if anything) needs to happen on the dashboard side

[2020-06-29 21:52] udeeshagautam commented on #10990
Covered by : https://github.com/microsoft/azuredatastudio/issues/10988

[2020-06-29 21:52] #10990 closed

[2020-06-29 21:53] udeeshagautam commented on #11000
Moving to ADO

[2020-06-29 21:53] #11000 closed

[2020-06-29 21:55] udeeshagautam commented on #11018
covered by #10905

[2020-06-29 21:55] #11018 closed

[2020-06-29 22:04] udeeshagautam commented on #11062
Moving to ADO

[2020-06-29 22:04] #11062 closed

[2020-06-29 22:06] udeeshagautam commented on #11095
Discussion of 1) ok design pattern or not 2) possible for extns or not

[2020-06-29 22:08] udeeshagautam commented on #11103
already in PR

[2020-06-29 22:11] udeeshagautam commented on #11107
Check if import is also creating a new folder with proj name - if not we may want to follow the same path

[2020-06-29 22:29] bergeron opened #11141 "Can't update child component's value after adding it to parent component"
This might be by design, but it seems odd to me.  Child components must have their values set before they're added to a parent component.  If the child component's value is modified after adding it to the parent component, the UI does not show the new value.

I have a minimal repro in the branch [brberger/set-value-before-adding-to-parent](https://github.com/microsoft/azuredatastudio/blob/brberger

[2020-06-29 22:37] #10966 closed

[2020-06-29 23:25] #10956 closed

[2020-06-30 02:17] kburtram commented on #11130
@aaomidi any ideas how best to troubleshoot this issue?

[2020-06-30 03:46] yualan opened #11147 "Update text in Azure Arc extension"
Update deployment wizard text
- [ ] Replace 'SQL DB managed instance' to 'Azure SQL managed instance – Azure Arc’
- [ ] Update azdata description with 'Deploy, manage and use Azure Arc enabled data services and Big Data Clusters

[2020-06-30 03:53] #7045 closed

[2020-06-30 04:31] twright-msft commented on #11147
- [ ] Rename 'Docker account details' to 'Container registry details'

- [ ] Rename 'Docker account login' to 'Container registry login'

- [ ] Rename 'Password' to 'Container registry password'

[2020-06-30 05:40] bweissman commented on #11091
The query works. Takes 5 seconds on first run, 1 second after that.

Doing this with an empty database doesn't help as the error requires me to select a table.
When doing it with a database that only holds one table, same error occurs.

[2020-06-30 05:47] bweissman commented on #11091
Also, just tried on a non-BDC SQL Server 2019 CU5 running on Linux: same issue

[2020-06-30 06:23] bweissman commented on #11091
And on Windows CU5: same

[2020-06-30 09:22] MarkStockwellZA commented on #10208
The issue is re-occurring in the latest version of VS Code and Azure Data Studio. Specifically, it seems to happen when the last character of a string literal is a backslash. Thanks.
<img width="1028" alt="Capture" src="https://user-images.githubusercontent.com/64535776/86108521-8d494600-bac3-11ea-9066-2517aabed0dd.PNG">

[2020-06-30 09:23] MarkStockwellZA opened #11150 "Incorrect coloration when a string ends with a backslash"
The issue is re-occurring in the latest version of VS Code and Azure Data Studio. Specifically, it seems to happen when the last character of a string literal is a backslash. Thanks.
<img width="1028" alt="Capture" src="https://user-images.githubusercontent.com/64535776/86108521-8d494600-bac3-11ea-9066-2517aabed0dd.PNG">

_Originally posted by @MarkStockwellZA in https://github.com/microsoft/azure

[2020-06-30 10:38] anbudhanush opened #11152 "Profiler Extension not working on Azure Synapse / Azure Data Warehouse"
- Azure Data Studio Version:

Steps to Reproduce:

1.Install Azure Data Studio
2.Install SQL Admin extension with SQL Profiler
3.Connect to Azure Data warehouse
4. Error Message appears as Failed to create session: An exception occurred while executing a Transact-SQL statement or batch.

[2020-06-30 14:43] ErikEJ commented on #11105
The linked "data tier application" article has too much confusing emphasis on .bacpac (and not enough on .dacpac)

[2020-06-30 15:49] sgellock opened #11153 "Fragile connection behavior using Serverless Azure SQL database"
Issue Type: <b>Bug</b>

1.  run an Azure SQL Serverless database
2.  connect to the database using Azure Data Studio
3.  once connected, create a new query, File -> New Query
4.  write any simple query against any table you wish.  Do not save the query.  Leave it in an unsaved query file (e.g. SQLQuery_1)
5. run the query, see the successful results of the query
6.  now let enough time to pass tha

[2020-06-30 16:08] #11147 closed

[2020-06-30 16:46] Charles-Gagnon commented on #11150
Looks like it just got into VS Code recently and is currently slated to be merged into our repo.

https://github.com/microsoft/azuredatastudio/pull/11149/files?file-filters%5B%5D=.json#diff-bb684abea1ae7b363da775aeba9b0bf6

I'll make sure this gets in for the July release of ADS - and VS Code should have the fix in their next major release. It looks like the VS Code insiders build has it fixed alr

[2020-06-30 17:46] Charles-Gagnon commented on #11091
And when you say "error" - there isn't any actual error that pops up right? It just doesn't do anything?

[2020-06-30 17:49] Charles-Gagnon commented on #11091
Could you capture a recording of you going through the wizard and hitting this? I want to make sure I'm not missing anything here since currently I'm not able to repro this myself with similar setups.

[2020-06-30 18:01] chlafreniere opened #11155 "Notebooks: Determine Better API Wrapper Story"
APIWrapper is currently just being passed everywhere; we may want to look into leveraging a singleton architecture here to reduce the amount of plumbing work required.

[2020-06-30 18:37] sgellock commented on #11153
#8557 is related, but not the same behavior I'm experiencing and tracked with this issue.

[2020-06-30 18:59] pengyuehaha opened #11158 "Get 'Error: no such option: --content-folder' when create book(Preview)"
- Azure Data Studio Version:
1.19.0
Steps to Reproduce:

1. Create Book(Preview)
2. When Running 'Create a new book' Cell, after input the book name and content folder I will get such error.
![error](https://user-images.githubusercontent.com/5258804/86166084-1151fc80-bac9-11ea-83f9-0de8beb362da.PNG)

[2020-06-30 19:17] MaddyDev commented on #11158
@pengyuehaha What values did you provide on destination and source input prompts?

[2020-06-30 20:11] carofe82 opened #11159 "The "Code or Text" link no longer showing up in between Cells"
Issue Type: <b>Bug</b>

I am not sure if this is a feature request for something that was removed on purpose or it is a bug.

The Code or Text link is not longer showing up in between cells. This was a very useful feature as it was close in proximity to where you wanted to put your new cell, and you could do it in one click. It was frictionless.
I see it still shows up when you open a brand new no

[2020-06-30 20:21] pengyuehaha commented on #11158
I put C:\Book1 and C:\OSS\Spark\content. And the markdown files and notebooks are all under C:\OSS\Spark\content

[2020-06-30 20:37] #10129 closed

[2020-06-30 20:42] #10968 closed

[2020-06-30 20:42] #11103 closed

[2020-06-30 20:45] yualan commented on #11159
Hi Carlos, this feature was removed and replaced as an action at each cell.

![image](https://user-images.githubusercontent.com/30873802/86175174-b673d180-bad7-11ea-937c-701b5588d940.png)

We received feedback in the past that the buttons between cells were leading to more redundant whitespace and users did not want the hovering visual effect as they run their mouse down the notebook. It is helpfu

[2020-06-30 20:52] Charles-Gagnon commented on #11091
@bweissman Ok so we've identified an issue with the geography type. This is unfortunately an issue with the Polybase backend so isn't something we can fix on the extension side.

You're saying you see this even with a simple table though?

[2020-06-30 20:58] MaddyDev commented on #11158
Can you open Manage Packages (the last icon the notebook toolbar located at the top right corner) and in your installed packages list, can you scroll and check the version of jupyter-book installed.

[2020-06-30 21:13] pengyuehaha commented on #11158
It is 0.7.0

[2020-06-30 21:22] chlafreniere commented on #11158
Ah, this is almost certainly because jupyter-book 0.7.0 has a breaking change with the folder structure, which we don't support yet.

[2020-06-30 22:13] yualan opened #11161 "Align with data controller API changes"
Align with changes in azdata commands removal of REST API

Controller
- [x] Controller deployment
- [x] Controller dashboard
MIAA
- [x] MIAA deployment
- [x] MIAA Dashboard

[2020-06-30 22:13] yualan opened #11162 "Handle branching scenario for Azure Arc versions"

[2020-06-30 22:31] simonsabin commented on #11114
The issue is due to the project.assets.json in the obj folder.

I believe a solution is to change the .sqlproj file. data Studio adds this
[code]
if you change it to the following it works for me.

[code]

[2020-07-01 00:06] Charles-Gagnon commented on #11091
@bweissman Alright, I've made a change to how we fetch the data that should help with the perf problems I mentioned before. When you get a chance could try it out and let me know if you're still seeing issues?

1. Uninstall current version of the extension
2. Download https://sqlopsextensions.blob.core.windows.net/extensions/datavirtualization/datavirtualization-1.6.0.vsix
3. In ADS go to `File` -

[2020-07-01 00:42] aaomidi commented on #11098
What operating system are you using?

[2020-07-01 01:01] aaomidi commented on #10314
@ravikd744 What do you mean it failed to callback 127.0.0.1? What error did you get in your browser?

@kburtram I think the problem here might be solved if we upgrade to SqlClient 2.0, they've added an AuthenticationProvider that gets context from the service we're connecting to about what token (which tenant, etc) the server is expecting.

https://docs.microsoft.com/en-us/dotnet/api/microsoft.dat

[2020-07-01 02:23] #10774 closed

[2020-07-01 04:43] chrisbabayans opened #11164 "OS X 10.10.15 Cannot Connect to Server or Account"
- Azure Data Studio Version:1.19.0
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:03:19.036Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 14.5.0

Steps to Reproduce:
---No server connection----
1.OS X 10.10.15
2. +New Server Connection
3. Gets stuck for hours. I used my Windows 10 machine to connect with the sa

[2020-07-01 08:20] bweissman commented on #11091
This version of the extension fixes the issue! Thanks!

[2020-07-01 13:45] spartan27244 commented on #11098
Windows Server 2016

Sent from my Samsung Galaxy smartphone.

-------- Original message --------
From: Amir Omidi <notifications@github.com>
Date: 6/30/20 8:42 PM (GMT-05:00)
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Lee Taylor <ltaylor@taylorcomputing.com>, Author <author@noreply.github.com>
Subject: Re: [microsoft/azuredatastudio] Unable to change Account Password (#

[2020-07-01 18:44] kburtram opened #11166 "Azure sign-in icon on Action Bar uses vscode account"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open ADS

Expected: Single account icon that uses ADS account provider

Actual: Two account icons.  One from ADS and one from recent vscode merge.  We should remove the account icon from the status bar and update the vscode icon to use the ADS account provider.

<img width="240" alt="Screen Shot 2020-07-01 at 11 39 43 AM" src="https://us

[2020-07-01 19:09] aaomidi opened #11168 "Separate out the tests to be their own step in the extension"

[2020-07-01 19:26] scalderon12 commented on #2767
Go to Definition doesn't work for me consistently either.
I learned it's because the object has to match the database context of the connection, which is a bug. I should be able use 3 part name to refer to any object. I run a lot of queries across databases so this is big issue that prevents me from being able to use Azure Data Studio over something like Redgate's SQL Prompt.

For example, this wo

[2020-07-01 20:05] Charles-Gagnon commented on #11091
@bweissman Alright, I've published the new extension to the gallery. I'd suggest uninstalling the current version and then reinstalling from the gallery. Thanks for the help tracking down these issues!

[2020-07-01 20:16] Charles-Gagnon opened #11170 "Checkboxes in ModelView tree components don't display correctly"
Latest insiders/main

Only the data virtualization extension seems to be using this feature of the ModelView tree.

The checkboxes are all set to the intermediate state by default now and clicking them doesn't do anything.

![Capture](https://user-images.githubusercontent.com/28519865/86287330-df11cf00-bb9c-11ea-9e9a-fe99e246f0a6.gif)

[2020-07-01 21:12] kburtram opened #11172 "Empty "Accounts" viewlet showing up in ActionBar"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Tab through Action Bar or click on Action Bar a little below extension manager icon

Expected: No hidden, empty viewlets

Actual: Accounts viewlet button is there with no icon and empty viewlet.  It appears to be a side-effect of this change https://github.com/microsoft/azuredatastudio/commit/d08a224550b4156b23bc4edcecb26cf437f1e64e.

<i

[2020-07-01 21:24] MaddyDev commented on #11158
As an alternative until we roll our changes to fix this, Please make sure to install jupyter-book version <= 0.6.4 before running/using this notebook to create a book. (You can install using the manage packages and selecting the version 0.6.4)

[2020-07-01 22:27] #11158 closed

[2020-07-01 22:55] #11166 closed

[2020-07-01 23:38] udeeshagautam commented on #11114
@kevinvngo for the first issue - can you please check what is the value of **QueryStoreMaxStorageSize** tag in sqlproj file that you have. Also, can you please explain how did you create the project in SSDT i.e. via new project flow or importing from a database?

[2020-07-01 23:40] kburtram commented on #11070
@aaomidi do you have any suggestions to resolve this issue?

[2020-07-01 23:56] kburtram commented on #11044
We'll likely want to keep our account management UX, but it will probably make sense to use the same underlying authentication\account storage subsystem at some point.  I'm not aware of any incoming vscode features that require us to escalate this work, so I think we're fine to do this some time in the next several months.

[2020-07-02 00:01] alanrenmsft opened #11175 "notebook find results color is not cleared after the text has been changed"
Steps to Reproduce:

1. open a notebook and add a code cell with the following text:
`
test blah blah blah
`
2. open the find widget of notebook (cmd+F on macOS) and type in test
3. now the text 'test' should be highlighted
4. update the cell text and change 'test' to 'abc'

expected: nothing is highlighted
actual: 'a' is still highlighted
<img width="634" alt="Screen Shot 2020-07-01 at 4 59 08 PM

[2020-07-02 00:21] alanrenmsft commented on #11175
also, not sure how did it get into this state, multiple highlights + highlights visible even after closing the find widget, I can't repro this one though:
<img width="1246" alt="Screen Shot 2020-07-01 at 5 20 12 PM" src="https://user-images.githubusercontent.com/13777222/86302966-3e80d680-bbbf-11ea-9abf-1ec8282edc58.png">

[2020-07-02 00:37] mmcconnell1618 commented on #282
Can we can an update on if this is on the roadmap or not? It looks like the issue was requested 2.5 years ago and there is a lot of interest. It would be helpful know if this is coming or if I need to purchase a 3rd party tool to use SQL Server from my Mac. Azure Data Studio is great and I really appreciate the Mac support (and also VS Code and VS Mac) but like others have said, that missing table

[2020-07-02 00:59] aaomidi commented on #9116
We're seeing this error in exploration as well. We should investigate it.

[2020-07-02 02:14] chrisbabayans commented on #11164
[Data studio logs OSX 10 10 15.zip](https://github.com/microsoft/azuredatastudio/files/4861601/Data.studio.logs.OSX.10.10.15.zip)
Here's the entire log folder. I appreciate your it.

[2020-07-02 11:42] jmgnjetable opened #11180 "Impossible to add new Azure account"
- Azure Data Studio Version:

Steps to Reproduce:

1. following the latest Azure Data Studio update, I tried to setup a new Azure AD connection (because my password had expired).
2. when I click on "Add an Account", Azure Data Studio opens a web page with the following link https://localhost:58329/signin?nonce=0q+qzCB/VlJuGu02ouse4w==
3. this link doesn't work due to the localhost in the URL.

I d

[2020-07-02 14:23] pachitorusso commented on #7
+1! Would be great to have it.

[2020-07-02 15:10] Charles-Gagnon opened #11181 "Text on Device Code login page very difficult to read in dark mode"
![image](https://user-images.githubusercontent.com/28519865/86376118-66158480-bc3b-11ea-94ef-b025c92e02da.png)

[2020-07-02 15:12] minoseah629 opened #11182 "connecting to non-local sql server with window authenication not working from 1.20.0-insider"
launch azure data studio insider
select on previously saved connection with windows authentication
error message is shown
youtube link below provides actual issue.

insider video - actual
https://youtu.be/nFo0kF1crhA
release video - expected
https://youtu.be/AV-81mZ4FJE
[code]

[2020-07-02 15:18] Charles-Gagnon opened #11183 "Device Code "Copy & Open" button hidden by "Adding account" status message"
What about just using the status bar instead of the big notification box? And/or having it just automatically prompt the user to copy & open

![image](https://user-images.githubusercontent.com/28519865/86376873-7e39d380-bc3c-11ea-92d7-f769d2f803d9.png)

[2020-07-02 15:19] Charles-Gagnon commented on #11183
Also - closing this box doesn't appear to do anything. I'm still able to log in just fine after dismissing the pop up.

[2020-07-02 15:25] Charles-Gagnon commented on #11180
@aaomidi

What do you mean it didn't work "due to the localhost in the URL"? The default method we use is to start up a local web server that is used to fetch the token so this is expected. Is there something preventing you from doing this?

If so you then you can go back to the Device Code method by finding this setting in the settings UI and selecting it.

![image](https://user-images.githubuser

[2020-07-02 15:41] jmgnjetable commented on #11180
hi @Charles-Gagnon thank you very much for your answer. This solved my problem. Not sure what happened and why the usual method was not working anymore, because I don't think I have changed anything on my side.

[2020-07-02 15:41] #11180 closed

[2020-07-02 16:03] Charles-Gagnon commented on #11180
The Code Grant method is something we added fairly recently so if you hadn't updated in a while that's probably why. We used to only have the Device Code method.

Did you end up going back to the Device Code method? The Code Grant is the preferred method for authenticating so if you had issues with that would you mind going into more details about the errors/unexpected behavior you encountered wit

[2020-07-02 16:15] kburtram commented on #10793
@KevinLeeBuchan I couldn't see anything that I could use to locate a root cause from the logs.  I only saw the below errors, which unfortunately are too generic to identify what went wrong.  I'll continue to try to get an internal repro.

[code]

[2020-07-02 16:24] kburtram commented on #11057
@JumbaJookiba the IntelliSense schema suggestions come from a locally maintained metadata cache that is created when the query editor connection is established.  If the metadata is updated while the query editor is open it's possible for the cache to contain outdated info.  Please try running the `Refresh IntelliSense Cache` command from the Command Palette to rebuild the local cache on-demand.

[2020-07-02 16:36] kburtram commented on #11164
@chrisbabayans the only errors that seemed unusual in the log were ones like the following `[2020-06-30 21:40:49.823] [renderer1] [error] An unknown error occurred. Please consult the log for more details.`  Unfortunately this doesn't provide a lot of context on where to look for the problem.

@aaomidi do you have any suggestions for possible workarounds or additional diagnostics that could help t

[2020-07-02 16:40] kburtram commented on #11098
@spartan27244 have you tried removing and re-adding the account in the Account Manager dialog as a workaround for this bug?

[2020-07-02 16:57] spartan27244 commented on #11098
There is no account management option in the app.

[2020-07-02 17:15] kisantia commented on #10905
confirmed that csproj also uses backslashes on Mac

[2020-07-02 18:50] sujayi opened #11185 "ADS is wrongly generating bdc.json file when we customize storage settings for BDC"
- Azure Data Studio Version: 1.19.0

Steps to Reproduce:

1. Select New Deployment and choose SQL Server Big Data Cluster. You can choose either New AKS Cluster or Existing AKS Cluster. Click on next by filling mandatory fields until you reach below step.
2. Provide the desired Claim Size for data per pools then click on next.
![image](https://user-images.githubusercontent.com/42182826/86390450-b1

[2020-07-02 19:15] aaomidi commented on #11098
If you login with the new & correct password, it should just accept it and work fine.

If that's not working, open Credential Manager on windows. Go to Windows Credentials. Delete entries that start with `Microsoft.SqlTools`. This will delete your credentials associated with ADS.

[2020-07-02 19:16] spartan27244 commented on #11098
It does not ask me to login

[2020-07-02 19:18] aaomidi commented on #11098
@spartan27244 What I meant was pressing "New Connection" and then entering the server details, username, and password (Assuming you're using SqlLogin) and pressing connect. That should overwrite whatever is currently stored.

[2020-07-02 19:18] KevinLeeBuchan commented on #10793
Thank you for your efforts.

At the time I reported the issue, it was maddenly common.  Now it doesn't
even happen daily.  Perhaps it was more OS related and patches largely
resolved it.

Since there is not a lot of detail logged, I will not add more info until I
am able to reliably reproduce the issue.
______________________________
Kevin Buchan

On Thu, Jul 2, 2020 at 12:15 PM Karl Burtram <noti

[2020-07-02 19:20] aaomidi commented on #11180
It'd also be helpful to know what was the error that you were getting with the localhost URL.

[2020-07-02 19:20] spartan27244 commented on #11098
I have tried deleting the connection and re-adding it. It remembers the account information and does not give me the opportunity to log in or change a password. It simply tri3es to connect and errors out.

[2020-07-02 19:25] aaomidi commented on #11164
Let's try to get you into a fresh state of the application.

Could you please open Terminal, and go to `~Library/Application Support`. Do you see a folder called `azuredatastudio`?

Can you delete that folder? `rm -rf azuredatastudio` should do the trick.

If you don't want to do this, we can start by trying to get more logs. Please open Azure Data Studio, and click Help -> Toggle Developer Tools.

[2020-07-02 19:25] aaomidi commented on #11098
Alright let's try to do the credential manager route then :)

[2020-07-02 19:27] aaomidi commented on #11183
Closing the box doesn't really do anything by design. But that UI looks terrible. I'll try to clean it up - although it's less of a priority since this is a non default auth method.

[2020-07-02 19:28] spartan27244 commented on #11098
And that would be?

[2020-07-02 19:31] aaomidi commented on #11098
https://github.com/microsoft/azuredatastudio/issues/11098#issuecomment-653178559

[2020-07-02 19:34] spartan27244 commented on #11098
There is nothing in credential manager that even resembles that entry

[2020-07-02 19:35] aaomidi commented on #11098
So you don't have any entries that resemble:

![image](https://user-images.githubusercontent.com/1465785/86402298-7429cc00-bc60-11ea-93fb-3b3c6e0a3f45.png)
?

If that's the case whats the error you get when connecting to a server?

[2020-07-02 19:35] spartan27244 commented on #11098
Not a single one

[2020-07-02 19:37] spartan27244 commented on #11098
![Untitled](https://user-images.githubusercontent.com/45295245/86402540-fffc2200-bc79-11ea-86ba-f3e15f3cb300.png)

[2020-07-02 19:39] spartan27244 commented on #11098
![Untitled](https://user-images.githubusercontent.com/45295245/86402636-2c17a300-bc7a-11ea-8bf5-53e860d6ff26.png)

[2020-07-02 19:40] aaomidi commented on #11098
Thanks!

Can you press the +
![image](https://user-images.githubusercontent.com/1465785/86402669-12b62d00-bc61-11ea-8d57-45d71c19332f.png)  here, and add your account again?

You can also press Help -> Toggle Developer Tools to get more context on what the error is when failing to refresh your account.

[2020-07-02 19:44] spartan27244 commented on #11098
I see where you are pointing to and I see my credential there, I deleted it, and upon a reconnect attempt it now goes to a browser to get credential information. i.e. it works. Seems a lot to go through if you had a lot of connections and just needed to update your password.

Thanks.

[2020-07-02 19:45] aaomidi commented on #11098
Thanks! I mainly misunderstood your problem as being that you changed your SqlLogin password initially. Sorry about that!

[2020-07-02 19:45] #11098 closed

[2020-07-02 20:37] alanrenmsft commented on #11035
@ranasaria will you be able to fix in July milestone?

[2020-07-02 21:05] #11091 closed

[2020-07-02 21:06] anthonydresser commented on #10862
The blank space is there to make room for the actions on the right side of the grid. We will need some ux review on this to understand what we can do in this area.

[2020-07-02 21:56] v-bbrady commented on #10624
I was no able to recreate issue

[2020-07-03 00:22] #10688 closed

[2020-07-03 00:51] aaomidi commented on #11168
ADO: Done

GitHub: Pending

[2020-07-03 00:56] SakshiS-harma opened #11190 "Add integration tests for Sql-database-projects' context menu"
Add tests to verify the context menu for database projects is generated correctly.
Something similar to objectExplorer tests(https://github.com/microsoft/azuredatastudio/blob/main/extensions/integration-tests/src/test/objectExplorer.test.ts#L47).

[2020-07-03 02:03] chrisbabayans commented on #11164
`(base) Christophers-MacBook-Pro:Library christopherbabayans$ ls azuredatastudio
ls: azuredatastudio: No such file or directory
(base) Christophers-MacBook-Pro:Library christopherbabayans$ pwd
/Users/christopherbabayans/Library
`

No

[2020-07-03 03:28] aaomidi commented on #11164
Library/Application Support

[2020-07-03 04:04] chrisbabayans commented on #11164
[code]

Still no

[2020-07-03 07:08] fsteffi opened #11193 "A11y_AzureDataStudioStayHealthy_Notebook_Toolbar_Keyboard: The 3 buttons in the tool bar are not keyboard accessible"
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_AzureDataStudioStayHealthy;#A11yTCS;#A11yMAS;#DesktopApp;#MAS2.1.1;#SQL Azure Data Studio;#FTP;#STP;#Keyboard;#Benchmark;#A11ySev1;#Win32;

**Environment Details:**
Application Name: Azure Data Studio
Version: 1.20.0-insider

[2020-07-03 07:18] fsteffi opened #11194 "A11y_AzureDataStudioStayHealthy_Notebook_Toolbar_ColorContrast: The separator color contrasts is below 3:1"
["Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_AzureDataStudioStayHealthy;#A11yTCS;#A11yWCAG2.1;#Benchmark;#DesktopApp;#WCAG1.4.11;#SQL Azure Data Studio;#FTP;#ColorContrast;#A11ySev2;#Acc123;#Win32;

**Environment Details:**
Application Name: Azure Data Studio
Version:

[2020-07-03 09:11] aaomidi commented on #11164
By any chance is it `Azure Data Studio`?

[2020-07-03 10:05] fsteffi opened #11195 "A11y_AzureDataStudioStayHealthy_Notebook_Toolbar_AI4D: Control type set wrong for add cell and toggle option"
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_AzureDataStudioStayHealthy;#A11ySev2;#A11yTCS;#A11yMAS;#Benchmark;#DesktopApp;#WCAG4.1.2;#WCAG1.3.1;#SQL Azure Data Studio;#FTP;#AI4D;#Win32;

**Environment Details:**
Application Name: Azure Data Studio
Version: 1.20.0-insi

[2020-07-03 10:54] fsteffi opened #11196 "A11y_AzureDataStudioStayHealthy_Notebook_Python Dependencies Wizard_ColorContrast: The drop down color contrasts is below 3:1"
["Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_AzureDataStudioStayHealthy;#A11yTCS;#A11yWCAG2.1;#Benchmark;#DesktopApp;#WCAG1.4.11;#SQL Azure Data Studio;#FTP;#ColorContrast;#A11ySev2;#Acc123;#Win32;

**Environment Details:**
Application Name: Azure Data Studio
Version:

[2020-07-03 11:47] pranshu512 opened #11197 "A11y_AzureDataStudioStayHealthy_Notebook_Python Dependencies Wizard_Screenreader : NVDA is not announcing the install required dependencies wizard table data."
[“Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_AzureDataStudioStayHealthy;#A11ySev2;#A11yTCS;#A11yMAS;#DesktopApp;#MAS1.3.1;#SQL Azure Data Studio;#FTP;#NVDA;#Benchmark;#Win32;

**Environment Details:**
Application Name: Azure Data Studio
Version: 1.20.0-insider (system

[2020-07-03 12:02] fsteffi opened #11198 "A11y_AzureDataStudioStayHealthy_Notebook_Python Dependencies Wizard_ScreenReader: The grid data is nor announced correctly."
["Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_AzureDataStudioStayHealthy;#A11yTCS;#A11yMAS;#Benchmark;#DesktopApp;#MAS1.3.1;#SQL Azure Data Studio;#STP;#JAWS;#A11ySev2;#Win32;

**Environment Details:**
Application Name: Azure Data Studio
Version: 1.20.0-insider (system

[2020-07-03 12:09] pranshu512 opened #11199 "A11y_AzureDataStudioStayHealthy_Notebook_Python Dependencies Wizard_Screenreader : Screen Reader is incorrectly announcing different level heading at same level."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11y_AzureDataStudioStayHealthy;#A11ySev2;#A11yTCS;#A11yMAS;#DesktopApp;#MAS1.3.1;#SQL Azure Data Studio;#FTP;#NVDA;#JAWS;#Benchmark;#STP;#Win32;

**Environment Details:**
Application Name: Azure Data Studio
Version: 1.20.0-insid

[2020-07-03 13:38] jmgnjetable commented on #11180
hi @Charles-Gagnon and @aaomidi unfortunately I am unable to reproduce anymore...

All I did before was click on add an account, then a browser window opened with the link with the localhost in the URL and then nothing happened I got the "this site is unaccesible" error from Google chrome.

Now when I click on add an account, I can choose between the 2 methods, and when I select auth code grant, t

[2020-07-03 13:51] krlmlr opened #11200 "Database Projects extension: Build error on Linux (reproing on WSL)"
Issue Type: <b>Bug</b>

1. Install .Net Core SDK: `apt install dotnet-sdk-3.1`
1. Configure `/usr/bin` as location for .Net Core SDK: `"sqlDatabaseProjects.netCoreSDKLocation": "/usr/bin"`
1. Create new database project: Ctrl + Shift + P, "proj new" (Database Projects: New Database Project)
1. Build the project: In "Projects" pane, right-click on `.sqlproj` file, select "Build"

Error:

[code]

Fa

[2020-07-03 18:16] rhvarona opened #11201 "Additional format options when Saving as CSV"
The current functionality has these settings:
Delimiter: The custom delimiter to use between values
Encoding: The csv file encoding
Include headers: Whether to include headers in the CSV file
Line Separator: Line separator characters
Text Identifier: Character used for enclosing text fields

Would like these options added:
Enclose all fields (default to false): If true, enclose all fields with the

[2020-07-03 18:21] davidancr commented on #10337
Same problem.

[2020-07-03 18:38] chrisbabayans commented on #11164
[code]
No

[2020-07-03 20:35] adlerdias commented on #10692
I'm moving to valentina studio free for now, if some test is needed just mention.

[2020-07-04 14:39] dubeg opened #11203 "Editor's title formatting is inconsistent when tabs are hidden"
Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Toggle tabs visibility

__Before__
![image](https://user-images.githubusercontent.com/6020602/86514725-a151b800-bde1-11ea-900f-2d684c8d06da.

[2020-07-05 22:58] ravikd744 commented on #10314
Hi Amir,

The sign-in is happening but the azure connection is not visible post
signin.

This issue happens only from 1.17+ version. If I rollback to 1.16 I am able
to connect to Azure. Strangely, my colleague with the same environment
settings is able to connect with v1.19.

Thanks!

On Tue, Jun 30, 2020 at 21:01 Amir Omidi <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-07-06 07:10] peterblazejewicz commented on #5779
Sample, given a table:

[code]
using T-SQL to export data as JSON:
[code]
the outcome is:
[code]
while when using built-in `save as JSON` option, the outcome would be:
[code]
if someone is using outcome of the export as JSON for EntityFramework seeding, this results in errors, unless proper value converter is in place.

[2020-07-06 08:48] aveuud commented on #7897
My problem has now been solved. The issue was a space in the repository name cloned from DevOps. When Azure data studio tried to connect to the database it also tried to find a working folder, but failed due to the space in the name. Committing, pushing and pulling worked just fine, but the database connection failed until I renamed the repository folder.

[2020-07-06 14:36] kevin-david commented on #8829
I'm still seeing issues that seem related to this - no matter how I try to refresh/remove/readd my account, I consistently get "Failed to get Azure account token for connection" when I try to log in. This is with the latest insiders build:

<details>
  <summary markdown="span">Version Info</summary>

[code]

</details>

It looks like I'm hitting the condition created by https://github.com/microsof

[2020-07-06 16:05] chlafreniere commented on #11175
We idenfieid a regression recently here and already fixed one issue. Will take a look. Thanks.

[2020-07-06 16:07] chlafreniere commented on #11159
Closing as by design.

[2020-07-06 16:07] #11159 closed

[2020-07-06 16:32] gavincampbell commented on #11200
I can reproduce in a Fedora 32 toolbox, Data Studio commit 2d989e extension version 0.1.1

[2020-07-06 17:41] anthonydresser opened #11205 "Extensions in welcome page no icon"
Issue Type: <b>Bug</b>

The icons for some of the extensions in the welcome page are blank.

![image](https://user-images.githubusercontent.com/4324725/86622687-2d481900-bf75-11ea-9d52-524db2b8a39e.png)

Azure Data Studio version: azuredatastudio-insiders 1.20.0-insider (2d989e1180f342d684a4e26f76b941843b7fc261, 2020-07-03T05:33:38.245Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>Sy

[2020-07-06 17:56] llali opened #11206 "Notebook with power shell script does't load kernel"
- Azure Data Studio Version: 1.19.0

Steps to Reproduce:

1. Create a notebook with powershell scripts and saved.
2. Close ADS
3. Re-open ADS and open the notebook created in step#1

Expected: Powershell Kernel should load successfully
Actual: Kernel is at" Loading" state for ever and doesn't let me to change it

[2020-07-06 18:03] Charles-Gagnon commented on #11205
Dupe of https://github.com/microsoft/azuredatastudio/issues/10731 - although that was closed for some reason so I'll leave this open.

Being fixed by https://github.com/microsoft/azuredatastudio/pull/11104

[2020-07-06 18:06] ranasaria commented on #11035
We will tackle it in August release. Planned to shipped in insiders before that.

[2020-07-06 18:11] aaomidi commented on #8829
I'm guessing that GSuite being the IdP is probably part of the issue. I'm making a new PR https://github.com/microsoft/azuredatastudio/pull/11208 to give us some more context on what the error was.

[2020-07-06 18:15] krlmlr commented on #11200
Thanks. Are you referring to 2d989e1?

I suspect this is not a problem with the extension, because `dotnet build` run from the console gives the same error. Still it will affect users of the extension. Happy to follow any pointers.

[2020-07-06 18:16] aaomidi commented on #10314
By azure connection, do you mean your account isn't visible on the azure pane?

Can you go to Help -> Toggle Developer Tools when logging in to see if there is any additional context to the signin failing.

[2020-07-06 18:23] aaomidi commented on #11168
Since GitHub actions doesn't allow looping, I think I'm going to close the issue for now.

[2020-07-06 18:23] #11168 closed

[2020-07-06 18:23] gavincampbell commented on #11200
yes, that;s the right commit. I have tried from the console too, same message. It is the extension that downloads the build-time dependencies and sets `NETCoreTargetsPath="/var/home/gavin/.azuredatastudio-insiders/extensions/microsoft.sql-database-projects-0.1.1/BuildDirectory"`

[2020-07-06 19:00] aaomidi commented on #11172
Hmm, looks like by default it registers itself there. Will try to find where that's happening.

[2020-07-06 19:00] ravikd744 commented on #10314
It shows error in the same zone-node Js at line 2280 error as pointed out
by other members. 🙁

On Mon, Jul 6, 2020 at 14:16 Amir Omidi <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-07-06 19:03] aaomidi commented on #10314
With the developer tools open, and on the console tab. Could you press the + sign and try to sign into Azure (not a SQL DB, just to Azure).

There should be more context on whats failing.

[2020-07-06 19:04] kisantia opened #11209 "Don't set database name to master in publish dialog"
In the publish dialog, if the selected connection is to master, the database name changes to master. Since master shouldn't be deployed to, we shouldn't update the database name to master in this case.

[2020-07-06 19:04] #10613 closed

[2020-07-06 19:05] aaomidi commented on #10613
The new branding should be available for August release and insiders.

[2020-07-06 19:27] chlafreniere commented on #11127
This is by design based on the renderer used (which is shared with vscode). Two spaces or a '\' at the end of the line (or a <br>) will create a newline here for various items.

![image](https://user-images.githubusercontent.com/40371649/86632257-01805f80-bf84-11ea-9d42-7e569fc10969.png)

[2020-07-06 19:28] chlafreniere commented on #11124
This is a good issue, but given that it's existed for a while it's going into the backlog for now.

[2020-07-06 19:29] chlafreniere commented on #11120
@MaddyDev can you take a look?

[2020-07-06 19:31] MaddyDev commented on #11120
Yep, I've actually fixed this in the search PR. I can send a separate PR addressing this.

[2020-07-06 19:32] chlafreniere commented on #11206
@corivera would be great if you could help @llali with this one 😄

[2020-07-06 19:38] chlafreniere commented on #11059
Thanks, @harlananelson. Very helpful.

Based on your feedback, we've changed the wording to use "above" and "below":
![image](https://user-images.githubusercontent.com/40371649/86633135-245f4380-bf85-11ea-97e8-163a1526cacc.png)

Thanks for the feedback around creating cells inline. We've made a few tweaks:
- To create a cell below the current one, the "+" button in the cell toolbar allows you to d

[2020-07-06 19:44] chlafreniere commented on #10798
Moving to August as this is part of our edit mode work that design is helping us with.

[2020-07-06 19:45] chlafreniere commented on #10800
Fixed by #10827.

[2020-07-06 19:45] #10800 closed

[2020-07-06 19:45] chlafreniere commented on #10739
This has since been fixed.

[2020-07-06 19:45] #10739 closed

[2020-07-06 19:46] chlafreniere commented on #10767
We have accessibility bugs tracking this that won't be in the July release; because of that, moving to August.

[2020-07-06 19:47] chlafreniere commented on #11175
Dupe of #11120.

[2020-07-06 19:47] #11175 closed

[2020-07-06 20:13] llali opened #11213 "Power shell scripts keep running without any result or status"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open notebook and change kernel to powershell
2. add the following script:
$msbuild = "C:\WINDOWS\Microsoft.NET\Framework\v3.5\MSBuild.exe"
$arguments = "/v:q /nologo"
start-process $msbuild $arguments
3. run the cell
Expected: Should either fail or run the process
Actual: cell keeps running without any result

[2020-07-06 20:17] #10905 closed

[2020-07-06 20:23] #11101 closed

[2020-07-06 20:36] kburtram commented on #10707
Approved in shiproom

[2020-07-06 20:37] #10722 closed

[2020-07-06 20:37] kburtram commented on #10828
Approved in shiproom.

[2020-07-06 20:50] kburtram commented on #11120
Approved in shiproom

[2020-07-06 20:56] kburtram commented on #11206
Approved in shiproom

[2020-07-06 21:01] #10445 closed

[2020-07-06 21:01] #10625 closed

[2020-07-06 21:09] MaddyDev commented on #10501
This has been fixed by #10523. Closing this.

[2020-07-06 21:09] #10501 closed

[2020-07-06 21:09] Charles-Gagnon commented on #11150
Moving this back into July - it's currently fixed in insiders and I just want to verify it in the RC build before closing this.

[2020-07-06 21:11] Charles-Gagnon commented on #11170
Moving this back into July - this is a complete breaking bug for the Data Virt extension so needs to be fixed. I will investigate and work on a fix.

[2020-07-06 21:21] aaomidi commented on #11130
This seems like its a DNS issue. If you do nslookup on the address of the sql server, what IP do you get?

e.g:

[code]

[2020-07-06 21:28] MaddyDev commented on #9704
Closing this since we haven't heard any further issues on this. We can revisit if anyone complains.

[2020-07-06 21:28] #9704 closed

[2020-07-06 21:36] aaomidi commented on #11164
Alright in that case lets try to do the other suggestion.

 Please open Azure Data Studio, and click Help -> Toggle Developer Tools - click on the console tab. Try to add your Azure account to the application again with the + sign on the Azure pane. Does the application provide any more interesting information in the logs?

[2020-07-06 21:38] aaomidi commented on #11070
The plan for the future in this space: We should load and refresh the azure accounts JIT instead of at startup.

[2020-07-06 21:39] aaomidi commented on #11070
@Matteus-Andersen This is expected for now - this is a limitation from your tenant and is based on the security settings of the tenant. We'll try to make the UX better in the future.

[2020-07-06 21:51] ravikd744 commented on #10314
Hi Amir,

Hope this helps.
[azuredatastudio.docx](https://github.com/microsoft/azuredatastudio/files/4881365/azuredatastudio.docx)

thanks!

[2020-07-06 22:06] ravikd744 commented on #10314
![image](https://user-images.githubusercontent.com/28813487/86652747-a74ac300-bfb2-11ea-9149-22f25d4c4e5c.png)
![image](https://user-images.githubusercontent.com/28813487/86652797-b16cc180-bfb2-11ea-97cc-57b9cc734124.png)
![image](https://user-images.githubusercontent.com/28813487/86653052-e4af5080-bfb2-11ea-9237-6f4ae391b8e4.png)
![image](https://user-images.githubusercontent.com/28813487/8665324

[2020-07-06 23:01] anthonydresser commented on #11205
This probably has to do with my firewall, since others can't repro.

[2020-07-06 23:01] #11205 closed

[2020-07-06 23:47] kisantia opened #11219 "Dashboard toolbar doesn't pass connection profile to extension contributed actions"
The connection profile isn't getting passed when executing the actions contributed by extensions to server/database dashboard toolbar. If an action is launched from a dashboard, the connection should be passed like it is for the default toolbar actions like new query and backup.

expected - import flow should start knowing the database:
![expectedImport](https://user-images.githubusercontent.com/3

[2020-07-06 23:48] llali opened #11220 "Error message in query editor is cut off and there's not scrollbar"
- Azure Data Studio Version:

I get an error message from query I'm running but I cannot see the whole message and I don't see any scrollbar
![image](https://user-images.githubusercontent.com/17187348/86669442-71a0dc80-bfa8-11ea-8734-772b46fca6bc.png)

[2020-07-07 01:30] ami-levin opened #11221 "An empty string is shown in the results as being a NULL."
- Azure Data Studio Version: 1.19.0

Steps to Reproduce:

Open a connection to PostgreSQL and Execute the query:
SELECT NULL, '';

The result is:
Column1 | Column2
----------------------
NULL       | NULL

Expected result is:
Column1 | Column2
----------------------
NULL       |

An empty string is not a NULL. An empty string is a valid string value.
NULL is a state that indicates a missing value.

[2020-07-07 02:03] Charles-Gagnon commented on #11205
He's changing it so the icons are bundled in with the app anyways so it shouldn't be a problem once that goes in.

[2020-07-07 02:26] chlafreniere commented on #10828
This was previously merged in (see linked PR).

[2020-07-07 02:26] #10828 closed

[2020-07-07 02:38] aaomidi commented on #10314
Thank you! That's a bug I've not seen before!

[2020-07-07 02:40] aaomidi commented on #10314
@ravikd744, can you go to Settings -> Azure Authentication Method and turn on `Code Grant Method` and turn off `Device Code Method`?

I'm interested to see what happens with the code grant method - and we have more debugging there.

[2020-07-07 02:44] aaomidi commented on #10314
@ravikd744 Are you behind some sort of proxy? This error you have doesn't seem like a standard error?

[2020-07-07 03:22] ravikd744 commented on #10314
Yes it’s behind a corporate proxy. Strange enough, it works for another
colleague behind the same proxy.

If I downgrade to v1.16 it works fine for me too.

On Mon, Jul 6, 2020 at 22:44 Amir Omidi <notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-07-07 04:30] yualan commented on #282
Hi Marcus, yes this is planned and committed by the team. If there is interest, we could share some of the proposed designs and get feedback. @dzsquared @shueybubbles

[2020-07-07 04:42] winzig commented on #282
Yes, please

On Mon, Jul 6, 2020 at 9:30 PM Alan Yu <notifications@github.com> wrote:

--

[2020-07-07 08:05] combrinckd opened #11225 "Update not working"
Issue Type: <b>Bug</b>

Every time in last 2 weeks I open Azure Data Studio, it says there is an update. Like before I download the update and replace the old files (on linux Mint 19.2)
Reopening Data Studio I would expect it to be updated, yet it is still on version 1.18.1, even though the update downloaded and opened from the extracted folder is 1.19.0 (file downloaded is azuredatastudio-linux-1

[2020-07-07 13:52] Matteus-Andersen commented on #11070
Is the limitation a setting I can change or something?

Also, is it possible to add a feature so that you can specify a tenant ID you want to connect to?

[2020-07-07 16:09] Charles-Gagnon commented on #11070
@aaomidi That's a good suggestion - having a filter list or something people could add tenant IDs to which would make us skip that when processing Azure stuff. Thoughts?

[2020-07-07 17:23] kisantia opened #11226 "Don't allow publishing dacpac to system dbs"
Remove system dbs from dropsdowns in UI so that they don't get published to

[2020-07-07 17:31] alanrenmsft commented on #10643
@fsteffi I have confirmed such scenarios with Ryan Shugart before, if a button already states what it does and it finishes immediately, we don't have to announce that the copy is done.
closing as won't fix.

[2020-07-07 17:31] #10643 closed

[2020-07-07 17:32] llali opened #11227 "ML Extension - Database should be selected in manage packages when connection is for a database"
- Azure Data Studio Version:

Steps to Reproduce:

1. from connection viewlet connect to a database
2. Open the dashboard and select ML
3. click on  "manage packages"
Expected: database should be selected in the list
Actual: database is not selected so user has to select it again

[2020-07-07 17:34] #11219 closed

[2020-07-07 17:57] JFitzMan opened #11228 "Parts of the program freeze whenever this background query runs"
Issue Type: <b>Bug</b>

Every couple of minutes I'm unable to run queries or copy results out of the grid. This is due to this query running in the background, on average it completely takes over my SQL connection for about a minute at a time. This query runs often, about once every 5 minutes or so

Here's the query that's run by Azure Data Studio:

`
(@_msparam_0 nvarchar(4000),@_msparam_1 nvarch

[2020-07-07 18:06] #10622 closed

[2020-07-07 18:39] dzsquared opened #11230 "SSMS/ADS Integration for Azure SQL DB and SQL auth broken in v1.19"
- Azure Data Studio Version:
Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Connect to an Azure SQL DB in SSMS with sql authentication
2. At a database or server node in object explorer,

[2020-07-07 18:51] v-bbrady opened #11231 "Getting Started Tour not"
Steps to Reproduce:

1.

[2020-07-07 18:54] alanrenmsft opened #11232 "July 2020 Endgame"
# July 2020 - Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.20

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

## Extensions Testing

Install the latest build of ADS from the link above.

#### Ext

[2020-07-07 18:57] aaomidi commented on #11070
Yeah that was my initial thought. "Don't ask again" button, and it adds itself to the settings of the user.

@kburtram @alanrenmsft any thoughts on this suggestion?

[2020-07-07 19:02] #11120 closed

[2020-07-07 19:04] udeeshagautam commented on #10981
- Not Letting user connect and shows undefined in drop down
- Check if it specifically happens master or other databases too

(the expectation is not really that it should be connected but should allow user to connect at least)

[2020-07-07 19:06] alanrenmsft commented on #11197
@chlafreniere could you please take a look at this one?

[2020-07-07 19:21] abist opened #11234 "Preview text and icon not horizontally aligned"
The `i` icon seems to be lower than the `Preview` text:

<img width="89" alt="Screen Shot 2020-07-07 at 12 19 42 PM" src="https://user-images.githubusercontent.com/6411451/86831877-51c2f480-c04c-11ea-9051-4bc412768c77.png">

[2020-07-07 19:30] halerankin opened #11235 "A11y - Cell toolbar & Markdown toolbar - Enter after selecting Delete or Hide/Show Preview does nothing"
- Azure Data Studio Version: 1.23.0

## Steps to Reproduce:

### Test using **Narrator** in **Windows**:
1. Add a new cell.
2. Navigate via keyboard through the cell toolbar icons to the **Delete** icon.
3. Hit Enter.
Result: Nothing happens

4. Navigate from there to the **Move cell up** and hit Enter.
Result: Cell is deleted. _(Cell should have moved up)_

5. Add a new cell.
6. Navigate via keyb

[2020-07-07 19:55] corivera opened #11237 "Enable python notebooks on SAW machines"

[2020-07-07 20:10] chlafreniere commented on #11206
Worked with @llali and with the latest RC the issue no longer reproes either for her or for me. Possibly due to our environment variable bug fix when loading powershell kernels.

[2020-07-07 20:10] #11206 closed

[2020-07-07 20:13] chlafreniere commented on #11213
This no longer reproes on the RC build, either for @llali or for me.

[2020-07-07 20:13] #11213 closed

[2020-07-07 20:30] chlafreniere commented on #10707
I've been looking at this and will continue looking today; it's an issue that affects any extension-contributed actions to the notebook toolbar.

[2020-07-07 20:34] #11172 closed

[2020-07-07 20:34] aaomidi commented on #11172
Merged to main and release

[2020-07-07 20:42] kburtram commented on #11170
Approved in shiproom

[2020-07-07 20:43] kburtram commented on #11237
Approved in shiproom

[2020-07-07 20:53] Charles-Gagnon commented on #11150
Verified fixed in RC build

[2020-07-07 20:53] #11150 closed

[2020-07-07 21:04] kburtram commented on #11225
@combrinckd I wasn't able to repro this on Ubuntu 20.  The update was pointing me at the 1.19.0 for me.  Do you see similar behavior when downloading the archive from https://go.microsoft.com/fwlink/?linkid=2132349?  Have you verified that the path is correctly setup to load the azuredatastudio binary from the 1.19.0 folder?

[2020-07-07 21:28] #10374 closed

[2020-07-07 23:50] combrinckd commented on #11225
@kburtram thank you for the assist. For some reason update worked when downloading it from the link you provided. I have not downloaded it from there before. Been under bit of pressure couple of weeks so haven't checked it myself, my apologies. Thanks again.

[2020-07-07 23:50] #11225 closed

[2020-07-07 23:51] #11209 closed

[2020-07-08 00:02] dzsquared commented on #10613
I just stumbled on this tonight while installing ADS on my chromebook.  I noticed in the merged fix the old sqlops URL is still in play.  Maybe we swap that out for https://aka.ms/azuredatastudio?

[2020-07-08 02:02] chlafreniere opened #11240 "New Query Prompts for Text Editor, Opens Generic File Editor"
On the RC build, when selecting New Query (either from the File Menu, keyboard shortcut, or welcome page), I'm always prompted to select the text editor with which to open the new file:

![image](https://user-images.githubusercontent.com/40371649/86865652-44c1f780-c084-11ea-9da2-d82864ba2fce.png)

Selecting the editor then opens the generic file editor:

![image](https://user-images.githubusercont

[2020-07-08 03:12] kkbruce opened #11242 "Paste Guid will be automatically broken line"
Issue Type: <b>Bug</b>

copy any Guid data, example `62febb88-62a2-42e8-bb21-bbc646aa0a6a` and paste to ADS Editor will be automatically broken line.

[code]

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Cor

[2020-07-08 03:19] kevin-david commented on #8829
Tested out the new insider build today. Here's my console output from today's attempt:

[code]

[2020-07-08 04:13] aasimkhan30 commented on #11230
@kburtram ssms doesn't pass the authenticationType when starting the ADS instance. ADS by default uses Integrated login if no authentication type is provided. So, there is nothing we can do in ADS to fix the bug.

We can close this issue or wait for ssms to fix the bug and then close it.

[2020-07-08 04:48] chlafreniere commented on #10707
There's interplay here between the masked icons that isn't trivial to figure out at all, so we need to have a discussion with design. The ask here is to have the same icons for light + dark mode (but not for hc). This action is contributed by an extension, so it makes fixing this particular issue in a generic way much harder. A few different avenues to pursue here:
- Work with design to review the

[2020-07-08 08:17] GrahamTheCoder commented on #389
@joshbooker It'd be great to get to get official support for these workflows.
My use case is to auto-pull-request database drift. i.e. Compare deployed version to the db, script any changes to files, commit, PR.

There are some promising looking workarounds here - though I haven't tested them yet:
1. https://github.com/DarylSmith/DacpacToSqlCmdlet/blob/master/DacpacSqlConverter.cs#L47-L89
2. https

[2020-07-08 09:39] aaomidi commented on #8829
@kevin-david Settings -> Azure -> "No System Keychain" - is it checked or not?

You might want to disable the system keychain and try it again.

[2020-07-08 13:51] fykcz opened #11244 "Syntax highlighting breaks after backslash char"
- Azure Data Studio Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Use this code:
    DECLARE @X VARCHAR(100);
    DECLARE @L VARCHAR(100);
    SET @L = 'DOMAIN\USER';
    SET @X = REPLAC

[2020-07-08 14:45] RicardoNoerr opened #11245 "Open Recent doesn't show recent files"
Issue Type: <b>Bug</b>

Open Recent option doesn't show many recent files I used/created in past sessions

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8250U CPU @ 1.60GHz (8 x 1800)|
|GPU Status

[2020-07-08 14:53] RicardoNoerr opened #11246 "Save as csv/excel or copy/paste don't include headers in Notebooks"
Issue Type: <b>Bug</b>

Save as csv/excel or copy/paste don't include headers when saving or copying from a SQL result cell in Notebooks.

Settings are ok:

![image](https://user-images.githubusercontent.com/49344920/86934021-3669ef00-c109-11ea-9a78-93359d1be28b.png)

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version:

[2020-07-08 15:14] Charles-Gagnon commented on #11244
Duplicate of https://github.com/microsoft/azuredatastudio/issues/11150 - this issue is currently fixed in insiders and will be included in the upcoming stable release. Thanks for the report!

[2020-07-08 15:14] #11244 closed

[2020-07-08 15:31] funkjo opened #11247 "Trouble downloading Python dependencies"
- Azure Data Studio Version: 1.18.1

Steps to Reproduce:

1. Open a new notebook for the first time
2. Change kernal to Python 3
3. For Python installation, create a new path - Notebook: Python Path (On windows, it defaulted to C:\Users\user\azuredatastudio-python

After Python download is complete, Python dependencies installation is attempted:
```> "C:\Users\<user>\azuredatastudio-python\0.0.1\p

[2020-07-08 15:33] RicardoNoerr commented on #8839
I had the same problem but also on copy/paste
I opened the issue #11246

[2020-07-08 16:09] Exicle opened #11248 "Search not working on all files, unless open"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open folder
2. Open .sql file
3. Choose text to search for from file
4. Close file
5. Search for text

I renamed a table from Load >> LoadHistory, and renamed the identity column from LoadID to LoadHistoryID.  In searching for any instances of the old column name, encountered this error.

I cannot see at all what could be causing this.  The key

[2020-07-08 16:18] fykcz commented on #11244
Oops, i didn't find this related issue. I'm sorry, my mistake. Thank you for solving the problem and for closing my duplicate issue.

[2020-07-08 16:41] jonfen opened #11249 "Linux Version 1.19.0 forces TLS1.2 and therefore can't connect to Windows Server 2012 Standard?"
- Azure Data Studio Version:

Version: 1.19.0
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T21:58:44.841Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.0-40-generic

Steps to Reproduce:

db.domain.com Windows Server 2019 Standard (SQL Server 13.0.4259.0)
dbd.domain.com Windows Server 2012 Standard (SQL Server 1

[2020-07-08 17:00] #11185 closed

[2020-07-08 18:06] #11237 closed

[2020-07-08 18:07] chlafreniere commented on #11247
@corivera can you please help here

[2020-07-08 18:22] kburtram commented on #11240
I've only been able to repro this from the Welcome Page on the latest RC build.

[2020-07-08 18:24] chlafreniere commented on #11240
Interesting. Was just able to repro via File --> New Query.

(am on Mac).

[2020-07-08 18:26] alanrenmsft commented on #11185
@sujayi Thanks for opening the issue, the fix should be in tomorrow's insider release.

[2020-07-08 18:29] corivera commented on #11247
The index at https://prose-python-packages.azurewebsites.net is only needed for the **prose-codeaccelerator** package, which isn't needed for most use cases. In ADS we only use that package for our Analyze in Notebook feature, which is only usable when connecting to Spark clusters. If you're not planning on using Prose, then you can skip installing that package.

In case the other packages weren't

[2020-07-08 18:33] alanrenmsft commented on #11081
I believe this has been fixed, right? @Charles-Gagnon

[2020-07-08 18:35] alanrenmsft opened #11251 "azure account list not getting populated"
the subscription list is populated properly but the account list is empty, if i press Refresh, then it will be correctly populated.

<img width="251" alt="Screen Shot 2020-07-08 at 11 32 29 AM" src="https://user-images.githubusercontent.com/13777222/86956994-e55cf980-c10e-11ea-901c-051a6bb25569.png">

[2020-07-08 18:36] alanrenmsft commented on #11251
@Charles-Gagnon  have you seen this issue before?

[2020-07-08 18:38] sujayi commented on #11185
Thanks for your help Alan.

Best,
Sujay

From: Alan Ren <notifications@github.com>
Sent: Wednesday, July 8, 2020 1:27 PM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Sujay Babu Inaganti <Sujay.Inaganti@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/azuredatastudio] ADS is wrongly generating bdc.json file when we customize storage settings for

[2020-07-08 18:51] kburtram commented on #11240
@chlafreniere thanks, I can repro from the File->New Query menu on mac as well.

@anthonydresser could you please take a look at this?

[2020-07-08 18:54] #11081 closed

[2020-07-08 19:10] anthonydresser commented on #11240
I can only repro from the welcome page and I can see why its reproing from the welcome page.

[2020-07-08 19:12] Charles-Gagnon commented on #11251
Nope, gut feeling here is this is a modelview issue. Did you verify that the values are being set and then on the renderer side they're being updated in the correct order?

[2020-07-08 19:46] dzsquared opened #11255 "Resource Groups duplicated in Edge to VM deployment dialog"
- Azure Data Studio Version:
Version: 1.20.0-insider (user setup)
Commit: f95cb5f5d38531d4968c2b4c4b6ebcc543d59e4e
Date: 2020-07-08T05:30:20.501Z
VS Code: 1.46.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

In selecting the 2nd subscription under this account in the ADS dialog, I get a doubled up list of resource groups.

![image](h

[2020-07-08 20:26] chlafreniere commented on #11246
This is a dupe of #11068. Let's track this work there.

[2020-07-08 20:26] #11246 closed

[2020-07-08 20:35] kburtram commented on #11170
Port request for this https://github.com/microsoft/azuredatastudio/pull/11256

[2020-07-08 20:41] kburtram commented on #11240
Approved in shiproom

[2020-07-08 21:02] RicardoNoerr commented on #11068
Also on Copy/Paste

[2020-07-08 21:31] kburtram opened #11258 "Connection dialog "Server group" has incorrect default value"
- Azure Data Studio Version: `rc1`

Steps to Reproduce:

1. Open Connection Dialog when there is at least 1 saved server group

Expected: Default server group value is `<default>`

Actual: Default server group is not set to `<default>`

![image](https://user-images.githubusercontent.com/599935/86972383-b99a3d80-c127-11ea-9e37-a73b07b001c4.png)

[2020-07-08 21:55] kburtram opened #11259 "Clicking Edit Data run button a few times can cause error"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Edit Data a table
2. Click the Run button a few times relatively quickly (~every seconds or two)

Expected: Grid and document to be in a consistent state once the Run operation is done and no errors occur.

Actual: Grid shows all values as "NULL" and a few errors in console log.

![image](https://user-images.githubusercontent.com/59993

[2020-07-08 21:57] kburtram commented on #11259
Clicking stop in this state cause this error:

[code]

[2020-07-08 22:49] kburtram opened #11260 "No enabled cloud error when using Account Dialog on startup"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open ADS and open Account Dialog immediately after startup
2. Click Add Account

Expected: Go through process to add account

Actual: Error about no clouds enabled even though public cloud is enabled.  This appears to be a race condition with something loading on startup.  Trying to add an account a little later (~10-15 seconds) works

[2020-07-08 22:50] alina-mulik opened #11261 "Cannot connect to the SQL Server from Azure Data Studio on Ubuntu os"
**Precondition:**
VPN connection required.
**Steps:**
1. Open Azure Data Studio
2. Connection type - Microsoft  SQL Server
3. Enter Server name
4. Authentication type - SQL Login
5. Enter Password
6. Press Connect
**Actual result:** The connection is installing for a long time. As a result - cannot connect to the server. Absolutely the same steps work on Widows.

[2020-07-08 22:58] kisantia opened #11262 "Support reading AAD auth connection strings from publish profile"
Only SQL Login and Integrated auth connection strings can be read right now. Support needs to be added in Data Sources

[2020-07-09 01:09] chrisbabayans commented on #11164
I drew lines in Console View PNG connecting the message to the button clicked to cause it. On the right side of the screen, you can see the connection pane is stuck.

![Console View](https://user-images.githubusercontent.com/12175419/86985250-af873780-c145-11ea-94d5-04deaae51d20.png)

Below is a picture of the enabled clouds so we are sure I am not imagining things.

![Enabled Clouds](https://user

[2020-07-09 03:10] marchy opened #11267 "Add ability to restore to a specific time/date (ie: equivalent to Timeline feature in SSMS)"
The current editor has the 'Timeline' field grayed out and always set to 'Last backup taken'.

It is critical that we be able to restore to more than the last snapshot, and there should be some sort of picker similar to the 'Timeline...' button ins SQL Server Management Studio (although even a simple list of times would suffice).

### Here is Azure Data Studio:
NOTE: 'Restore to' has no way of cho

[2020-07-09 03:41] rrmistry commented on #11105
Firstly, great work team 👍  Huge thanks from our whole team ❤️ !!!

Our specific requests by priority:
1. Ability to select verbosity of output for any SSDT tasks
   (e.g. "Import Project from Database" only creates 1 line log for import task saying "Extract project files succeeded ...")
1. Closer integration between Azure Data Studio folder workspaces and active SSDT project
   1. Is it possible

[2020-07-09 04:44] chlafreniere opened #11268 "Books: "No books are currently selected in the viewlet" when Sections are Notebooks (Instead of md)"
![image](https://user-images.githubusercontent.com/40371649/86997799-d3597600-c163-11ea-87e8-22af6494b543.png)

Users see the above error in some of our internal books, which have been migrated to use notebooks instead of markdown files when defining a section. Our viewlet makes assumptions that these files are markdown files.

[2020-07-09 05:13] jp4u opened #11270 "Unable to authenticate MFA for Conditional Access"
Hi there,

I am currently developing a solution for my company and I am on a time crunch. Any assistance would be highly appreciated. My current environment is a Mac, using Azure Data Studio and Visual Studio Code.

I set up a personal Azure portal using a free account which I am currently on a Premium 2 trial for Active Directory. Originally I was able to access the database using the credentials

[2020-07-09 07:02] fsteffi opened #11272 "Update Accessibility Conformance Documentation"
GitHubTags:#A11y_AzureDataStudioStayHealthy;#A11yTCS;#A11yMAS;#A11yAAT;#DesktopApp;#SQL Azure Data Studio;#A11ySev3;#Win32;

**Recommendation**: "Fix and close other bugs before starting accessibility conformance documentation.  Any bug that will not be fixed and closed within SLA must be declared in the AAT.  The SLA for this bug is also 60 days."

**Link to the current AAT entry**:-https://cela-

[2020-07-09 12:25] Sodajunkie opened #11274 "Loading kernels hangs when switching to Python3"
- Azure Data Studio Version:  1.19.0 (user setup)

Steps to Reproduce:

1.  Open a new notebook
2. Wait time for all kernels to display approx. 45-60 seconds
3. SQL displays as default kernel
4. Choose Python3
5. Error produced:
`"Failed to change kernel. Kernel SQL will be used. Error was: Can't find notebook manager for provider jupyter"
`

### Or

Open existing notebook and wait while loading k

[2020-07-09 17:18] #11023 closed

[2020-07-09 18:10] Sodajunkie commented on #11274
I checked those but they don't cover my case.

[2020-07-09 20:33] #11170 closed

[2020-07-09 20:33] #11240 closed

[2020-07-09 20:58] #11251 closed

[2020-07-09 21:16] abist commented on #11234
This is fixed in latest.

[2020-07-09 21:16] #11234 closed

[2020-07-09 21:29] kburtram commented on #11270
@aaomidi do you have any suggestions or thoughts on this issue?

[2020-07-09 21:31] aaomidi commented on #11270
@jp4u It should've prompted you to authenticate again when you get that error, did it not?

[2020-07-09 21:35] kburtram commented on #11261
@alina-mulik was there any error message when trying to connect?  I was able be repro using a basic connection with SqlLogin from Ubuntu 20.

[2020-07-09 22:01] #8915 closed

[2020-07-09 22:13] jp4u commented on #11270
@aaomidi No it didn't I have been trying different combinations of conditional access for days now. I put a session timeout for 1 hr, and every time I try between that hour it denies me with the token principal. When the hour is up it asks me reauthenticate again, I hit the webpage it sends me to and authenticate on app then it says invalid token principal again.

[2020-07-09 22:15] jp4u commented on #11270
For conditional access, I have tried Azure Sql Database, using groups, MFA (one of selected) and 1 hr session timeout. I have also tried instead of Azure Aql Database all cloud apps.

[2020-07-09 22:43] aaomidi commented on #11270
I mean this error should cause ADS to prompt to reauthenticate: (AADSTS50076: Due to a configuration change made by your administrator, or because you moved to a new location, you must use multi-factor authentication to access '022907d3-0f1b-48f7-badc-1ba6abab6d66'.

[2020-07-09 23:01] jp4u commented on #11270
@aaomidi
That error is in visual studio code.  I think that may not be possible for me to do at this time however since I am using .net core currently.

https://docs.microsoft.com/en-us/azure/azure-sql/database/active-directory-interactive-connect-azure-sql-db

I believe it says here. (Under "New Authentication Enum Value") I need to be using 4.7.2 .NET unless I am mistaken. Also, it appears that

[2020-07-09 23:24] kisantia opened #11279 "Change "Import New Database Project" to a different name"
A couple options so far are "Create New Database Project" or "Export into database project"

[2020-07-09 23:27] SakshiS-harma commented on #11279
To be consistent with SSDT, I would vote for "Create New Database Project".

[2020-07-09 23:46] jp4u commented on #11270
Azure Data Studio asks me to re-authenticate and after I do (login on website, which sends me a push notification through the app) it still says login failed for token principal.

[2020-07-09 23:47] #10988 closed

[2020-07-10 00:00] simonsabin commented on #11200
Looking at this I wonder if its a case issue, where the DLL name is being UPPER CASED and thus can't be found

[2020-07-10 00:59] Charles-Gagnon opened #11282 "Server dashboard actions not working on database table"
1. Open server dashboard
1. Go to databases
1. Click on ...

The `New Notebook` action fails with this :

[code]

The `Script as Create` fails with this :

[code]

[2020-07-10 01:08] Charles-Gagnon opened #11283 "'workbench.view.accountpanel' showing up in panel tabs"
@aaomidi Related to your fix you did earlier for getting this out of the viewlet panel?

![image](https://user-images.githubusercontent.com/28519865/87105109-e2e1c900-c20e-11ea-86ea-957945ac13c7.png)

[2020-07-10 01:30] Charles-Gagnon opened #11284 "Insights 'Show Details' actions don't work"
1. Open dashboard with an insight widget (I used Server Reports)
1. Click on the `...` and select `Show Details`

Nothing happens and this shows up in the console

[code]

[2020-07-10 02:42] alanrenmsft opened #11285 "powershell kernel doesn't work on macOS"
![Screen Shot 2020-07-09 at 7 35 40 PM](https://user-images.githubusercontent.com/13777222/87110564-2f7fd100-c21c-11ea-9a82-52265092d677.png)

[2020-07-10 02:46] alanrenmsft opened #11286 "manage packages button is enabled for powershell kernel"
for SQL kernel, this button is disabled, but for powershell kernel it is not.

![Screen Shot 2020-07-09 at 7 42 57 PM](https://user-images.githubusercontent.com/13777222/87110863-dc5a4e00-c21c-11ea-9017-0f14ed4e813f.png)

[2020-07-10 03:42] krlmlr commented on #11200
Thanks for confirming this. It works on macOS which also has a case-insensitive file system by default.

[2020-07-10 04:24] aaomidi commented on #11283
Hmm..Not sure what the fix for this would be.

[2020-07-10 07:24] #11268 closed

[2020-07-10 08:07] alina-mulik commented on #11261
Hi, unfortunately, here were no messages, just endless connection process,
i stopped it manually.

Kind regards,
Alina Mulik

пт, 10 июл. 2020 г., 00:35 Karl Burtram <notifications@github.com>:

[2020-07-10 08:09] alina-mulik commented on #11261
Also, yes, the issue was on Ubuntu 20.

Kind regards,
Alina Mulik

пт, 10 июл. 2020 г., 00:35 Karl Burtram <notifications@github.com>:

[2020-07-10 16:22] Charles-Gagnon opened #11292 "BDC Deployment wizard locations don't have friendly names"
These should be displayed as their friendly names in the dialog

![image](https://user-images.githubusercontent.com/28519865/87176350-d309c980-c28e-11ea-8645-24f3ce9fbc1b.png)

[2020-07-10 16:39] shueybubbles commented on #11152
I didn't think synapse supported extended events. Has that changed?

[2020-07-10 17:08] chlafreniere commented on #11286
It's enabled for every Jupyter kernel, since the package management is for Python packages. This is by design.

[2020-07-10 17:08] #11286 closed

[2020-07-10 17:33] simonsabin commented on #11200
It’s interesting that the error message has the paths in upper case, that’s what led me to believe that could be the issue

[2020-07-10 18:08] Charles-Gagnon opened #11294 "Error message when cancelling release notes link dialog"
![image](https://user-images.githubusercontent.com/28519865/87184887-a9a46a00-c29d-11ea-8a67-bac514761996.png)

[2020-07-10 19:00] rizal-ang opened #11296 "Incorrect syntax near 'DISTRIBUTION'"
Issue Type: <b>Bug</b>

My T-SQL create table query (with distribution) is working fine, but Azure Data Studio keeps throwing this error message:

Incorrect syntax near 'DISTRIBUTION'

I can't get rid of it. Could you help?

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:06:05.429Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summar

[2020-07-10 19:31] #11294 closed

[2020-07-10 19:48] Charles-Gagnon opened #11297 "MIAA instances under Azure view have themselves as children"
They have all their sibling nodes as children, infinitely recursing

![image](https://user-images.githubusercontent.com/28519865/87192746-f8f19700-c2ab-11ea-95b0-f6024eac6546.png)

![image](https://user-images.githubusercontent.com/28519865/87192508-79fc5e80-c2ab-11ea-941d-aec874966540.png)

[2020-07-10 20:09] chlafreniere commented on #11274
@Sodajunkie can you try reinstalling Azure Data Studio? Since those commands cannot be found, I'm curious if there's something wrong with the ADS installation on your machine; they should be available by default.

[2020-07-10 20:13] anthonydresser opened #11300 "Results scrolling is broken"
Issue Type: <b>Bug</b>

With enough results grid to start scrolling, the scrolling breaks in the results grid.

![image](https://user-images.githubusercontent.com/4324725/87197332-31df3b00-c2af-11ea-9501-be7c323d2d78.png)

Azure Data Studio version: azuredatastudio Dev 1.20.0 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summ

[2020-07-10 20:20] lucyzhang929 opened #11301 "No shortcut key to show Notebooks viewlet"
Feature request: shortcut key for opening Notebooks viewlet

<img width="1786" alt="ADSNotebooksViewlet" src="https://user-images.githubusercontent.com/23462877/87192847-2dfde980-c2ac-11ea-87a6-1551b7452d28.png">

[2020-07-10 20:31] Charles-Gagnon commented on #11301
FYI - those parts are called "Views". "Viewlet" is the larger containers in the left sidebar (so there is a Notebook Viewlet that contains 3 views - "Search Results", "Notebooks" and "Provided Books")

[2020-07-10 20:35] #11230 closed

[2020-07-10 20:42] kburtram commented on #11297
Approved in shiproom

[2020-07-10 21:09] #11283 closed

[2020-07-11 01:48] alanrenmsft opened #11312 "server properties insight has missing letters"
<img width="563" alt="Screen Shot 2020-07-10 at 6 45 57 PM" src="https://user-images.githubusercontent.com/13777222/87213982-eabc6e80-c2dd-11ea-99b4-bab50893ac2d.png">

![Screen Shot 2020-07-10 at 6 39 56 PM](https://user-images.githubusercontent.com/13777222/87213985-edb75f00-c2dd-11ea-8ba1-c1b5b375df7d.png)

![Screen Shot 2020-07-10 at 6 39 32 PM](https://user-images.githubusercontent.com/137772

[2020-07-11 19:11] minoseah629 commented on #11182
i was curious about the code so i looked around.
appears to happen around here:  src\sql\workbench\services\connection\browser\connectionDialogService.ts

https://github.com/microsoft/azuredatastudio/blob/d2bdd2bace223ecc9436eee27b47b2618a353de6/src/sql/workbench/services/connection/browser/connectionDialogService.ts#L254
https://github.com/microsoft/azuredatastudio/blob/d2bdd2bace223ecc9436eee27b

[2020-07-12 07:24] MsSQLGirl commented on #9550
@chlafreniere / @MaddyDev - can you please help updating the milestone appropriately? :)

[2020-07-12 18:11] MsSQLGirl commented on #7716
@chlafreniere - bubbling this up.

- Azure Data Studio Version:
Version: 1.20.0-rc1 (user setup)
Commit: c36961378259f18fb3af0257d89c482fc3afe1a0
Date: 2020-07-11T13:14:59.340Z
VS Code: 1.46.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

- Azure Data Studio Version:
Version: 1.20.0-insider (user setup)
Commit: 7d5ecfe905e2e521e9c10c

[2020-07-13 14:27] sqlworldwide opened #11313 "Kqlmagic in notebook - KeyError: 'primaryKey'"
- Azure Data Studio Version:
Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041
Steps to Reproduce:

1. In Azure Data studio:
%kql loganalytics://workspace='DEMO_WORKSPACE';appkey='DEMO_KEY';alias='myworkspace'

%%kq

[2020-07-13 16:23] MsSQLGirl commented on #11313
@gupta1  - FYI.

The same query seems to work on aka.ms/lademo

![image](https://user-images.githubusercontent.com/6405919/87328521-730f5f00-c4ea-11ea-87d8-d19f4adac92c.png)

[2020-07-13 16:48] #11297 closed

[2020-07-13 17:11] kburtram opened #11315 "Exported XML is no longer formatted"
- Azure Data Studio Version: `release/1.20`

Steps to Reproduce:

1. Run a query and export results as XML

Expected: Formatted XML

Actual: Unformatted XML

`release/1.20`

![image](https://user-images.githubusercontent.com/599935/87332837-12cfeb80-c4f1-11ea-98e3-d0ca9c6fdad0.png)

`release/1.19`
![image](https://user-images.githubusercontent.com/599935/87332848-195e6300-c4f1-11ea-9d03-dd96bf3bbc

[2020-07-13 17:18] kburtram opened #11316 "Export Excel file no longer shows "Open File" prompt"
- Azure Data Studio Version: `release/1.20`

Steps to Reproduce:

1. Run a query and Export results as Excel

Expected: A prompt to open the file after saving

Actual: No prompt to open the file.  The prompt should look like as below.

![image](https://user-images.githubusercontent.com/599935/87333604-321b4880-c4f2-11ea-8e21-66de8c56d66c.png)

[2020-07-13 17:47] #11300 closed

[2020-07-13 17:47] kburtram commented on #11300
Fix merged to release/1.20

[2020-07-13 17:48] ranasaria opened #11318 "rendering issue with linking"
- Azure Data Studio Version:
July 2020 Release Candidate
Version: 1.20.0-rc1
Commit: 810cd8c33b3cc95872a1c71a4b097ae0b8df44fd
Date: 2020-07-10T07:58:47.322Z
VS Code: 1.46.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0
Steps to Reproduce:

1. In a new notebook, Zoom in 2-3 times and enter the following code in a text markdown cell.
[code]
You

[2020-07-13 17:53] kburtram commented on #11284
Fix merged to release/1.20

[2020-07-13 17:53] #11284 closed

[2020-07-13 18:50] aasimkhan30 opened #11320 "Datatype dropdown doesn't work in Modify Column Page of Import Wizard"
- Azure Data Studio Version:

Steps to Reproduce:

1. Start the import wizard, select a file to import, click next.
2. Click next on preview page
3. On the modify column page try changing the datatype.
4. The datatype changes are not reflected when the table is created.

![image](https://user-images.githubusercontent.com/6816294/87341742-f89d0a00-c4fe-11ea-8d19-767089e0d82f.png)

[2020-07-13 18:57] Charles-Gagnon commented on #11320
@aasimkhan30 This seems like a pretty big issue (that might be affecting other components). Please verify whether it's a regression and try to figure out why this isn't working so we have some context for shiproom.

[2020-07-13 19:18] #10839 closed

[2020-07-13 19:36] lucyzhang929 commented on #11301
There is already a shortcut key for notebooks viewlet (ctrl/cmd + shift + B).

[2020-07-13 19:36] #11301 closed

[2020-07-13 19:51] anthonydresser commented on #11316
This is caused by https://github.com/microsoft/azuredatastudio/commit/381a747b623f877db5f58970e2c72838c54691d1 I think the safest thing to do this late is just revert the commit in the release branch (it was targeted for fixing remote) and I'll work on a better fix in main.

[2020-07-13 20:02] aasimkhan30 commented on #11320
@Charles-Gagnon I'm adding a temporary fix for this particular issue. I will also keep investigation on what is actually causing this bug.

[2020-07-13 20:03] anthonydresser commented on #11316
I also have #11324 which adds back the open file option, but not the open file location option.

[2020-07-13 20:05] #11315 closed

[2020-07-13 20:22] ranasaria opened #11327 "Documented notebook keyboard shortcuts do not work"
- Azure Data Studio Version:
Version: 1.20.0-rc1
Commit: 810cd8c33b3cc95872a1c71a4b097ae0b8df44fd
Date: 2020-07-10T07:58:47.322Z
VS Code: 1.46.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0
Steps to Reproduce:

1. on a mac, in ADS, press Cmd-K, Cmd-S, this brings up a 'Keyboard shortcuts' editor window.
2. Search for 'notebook'. It shows the

[2020-07-13 20:28] chlafreniere commented on #11327
These are vscode notebook shortcuts. We should figure out a story here so that users aren't confused.

[2020-07-13 20:30] ranasaria opened #11329 "Notebook - AttachTo connection add does not handly a new servername with same connection string correctly"
- Azure Data Studio Version:
Version: 1.20.0-rc1
Commit: 810cd8c33b3cc95872a1c71a4b097ae0b8df44fd
Date: 2020-07-10T07:58:47.322Z
VS Code: 1.46.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Darwin x64 19.5.0
Steps to Reproduce:

1. In a notebook click on 'Attach To' to create a new connection
2. In the connection-dialogue, create a new connection but to serve

[2020-07-13 20:46] udeeshagautam commented on #11114
@kevinvngo can you please share the bove info on the property value. thanks for your help.

[2020-07-13 20:49] udeeshagautam commented on #10981
@llali I tried this with and without master db and I am always able active connection wen there is one in connetcion explorer and connect button enabled when there is none. based on the expectation that looks correct - can we close this?

![image](https://user-images.githubusercontent.com/46980425/87352282-a87a7380-c50f-11ea-8c3b-d2632c528f9b.png)

![image](https://user-images.githubusercontent.co

[2020-07-13 21:52] #11070 closed

[2020-07-13 22:25] llali commented on #10981
sure if it works as expected let's close it. Thanks

[2020-07-14 00:02] alanrenmsft commented on #10651
@pranshu512 you are comparing 2 background colors, background of the hovered row and the background color of the dashboard, it doesn't impact user from reading the information on the screen. my understanding is that only text vs background contrast ratio needs to meet 3:1 requirement. please reopen if you think my understanding is wrong.

[2020-07-14 00:02] #10651 closed

[2020-07-14 00:07] alanrenmsft commented on #10650
@pranshu512 , please don't include other scenarios as similar issues in an issue, you should open separate issues for each scenario.

for this particular issue, the ... button is not meant to be a button with expanded/collapsed state. it is just providing an extra way to open the context menu. closing as won't fix.

[2020-07-14 00:07] #10650 closed

[2020-07-14 01:57] #11320 closed

[2020-07-14 02:09] alanrenmsft commented on #10649
@pranshu512 that is weird, i am not able to reproduce this issue, could you please try again?
this is what i am getting:
![Screen Shot 2020-07-13 at 7 08 12 PM](https://user-images.githubusercontent.com/13777222/87372396-484df680-c53c-11ea-9d18-a8359960a66f.png)

[2020-07-14 02:09] #10649 closed

[2020-07-14 02:18] alanrenmsft commented on #10648
it is by design that the focus doesn't go to the table header, we have this pattern all of ADS, for example query editor's query result table. the header information is announced when you are navigating inside the row using tab or left/right keys, see my screenshot below
![Screen Shot 2020-07-13 at 7 15 55 PM](https://user-images.githubusercontent.com/13777222/87372902-81d33180-c53d-11ea-82bd-5b7a

[2020-07-14 02:18] #10648 closed

[2020-07-14 02:49] alanrenmsft commented on #10647
this is also by design, tab focus should move item to focusable items, if you want to navigate the page there are special screen reader keys for it. not sure about nvda, but on macOS voiceover you can press CAPS + Left/Right to browse the text elements.

[2020-07-14 02:49] #10647 closed

[2020-07-14 06:30] Eagle3386 commented on #6123
@yualan Any update?

[2020-07-14 11:15] mpwhitt opened #11338 "SQL Tools Service component exited unexpectedly (on startup)"
- Azure Data Studio Version: 1.20.0-insider

Steps to Reproduce:

1.  Open Azure Data Studio
2.  Observe errors thrown.

Azure Data Studio suddenly started throwing errors late last week.  As a note, I have a separate user account on the same machine running Azure Data Studio with no issues.  This error started on the normal version and continues to appear on the insiders build.  I have updated No

[2020-07-14 22:09] minoseah629 opened #11344 "release and insider share same temporary file from other version"
- Azure Data Studio Version:
Version: 1.20.0-insider (user setup)
Commit: cbf3cd7445b8471f32b998cefd9281070afe2217
Date: 2020-07-14T05:46:07.060Z
VS Code: 1.46.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
El

[2020-07-15 00:16] simonsabin opened #11349 "Database Project do we need a project tree view"
This is really a discussion item about the approach to have a different project view for database projects.

I don't really see the value as the project tree isn't a logical entity model, but just the same files that are in the files view and thus confusing.

It feels like a confusing approach and one based on old VS approach to files and solutions.

[2020-07-15 00:50] kburtram commented on #11338
@mpwhitt does the `1.19.0` stable build work correctly?  Do you have any extensions installed or anything else that could help narrow down the root cause?

You may try uninstall\reinstall just to make sure nothing got corrupted during installation, or something like that.

[2020-07-15 02:31] #11107 closed

[2020-07-15 03:40] GPHemsley commented on #9236
I am also experiencing this, using a file hosted on WSL (not SharePoint). I don't know how SharePoint paths are constructed, but could it be that Azure Data Studio is having trouble with the $ in the path?

[2020-07-15 11:25] mpwhitt commented on #11338
@kburtram The 1.19.0 build throws the same errors when launching after a fresh install.  I also deleted the azuredatastudio folder under %APPDATA%.  No extensions installed that I'm aware of.

[2020-07-15 11:52] mpwhitt commented on #11338
Not sure if this is related or not, but I also see this when clicking "Change SQL language provider"...

![getControlError](https://user-images.githubusercontent.com/5447314/87541895-0de57600-c670-11ea-84ec-5e8a889ddbee.PNG)

[2020-07-15 15:06] jonfen commented on #11249
**Attempting with the insider build I get more information:**

Version: 1.20.0-insider
Commit: cbf3cd7445b8471f32b998cefd9281070afe2217
Date: 2020-07-14T05:32:24.361Z
VS Code: 1.46.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.0-40-generic

[code]

[2020-07-15 15:15] jonfen commented on #1727
I am having a similar issue: #11249

[2020-07-15 16:46] dsmeltz opened #11353 "Azure account handling"
Issue Type: <b>Bug</b>

I can only log in to one of my Azure tenants at a time.  I know that my situation is odd.  We have two tenants, one was setup with personal accounts and another using AD.   The user names are the same.  I'm unable to log into both of these tenants at the same time.  Take a look at Azure Storage Explorer, it's capable of handling this.

Azure Data Studio version: azuredatast

[2020-07-15 17:36] winzig commented on #8867
@kenvanhyning Any update?

[2020-07-15 17:40] ScottSchwalm commented on #7
Please add this.  It would be a tremendous help in better adoption.  We have hundreds of tables in many many schemas.  Scrolling through hundreds of tables is a real problem trying to find the table you want.

[2020-07-15 17:54] anthonydresser commented on #11344
This is intentional, but there was talk at one point to work more like vscode and separate the data directories for our different qualities. @kburtram

[2020-07-15 18:11] #11232 closed

[2020-07-15 18:38] winzig commented on #8867
I just went spelunking through this repo trying to ascertain how exactly it connects to SQL Server, but could not figure it out. Could someone point me in the right direction? I.e. the driver that Ken mentioned back in January?

[2020-07-15 18:42] Charles-Gagnon commented on #8867
@winzig The connection stuff is handled by SqlToolsService - a separate C# process that runs alongside ADS.

Most of the connection stuff uses the ReliableSqlConnection class here so if you're wanting to dig into this I'd suggest starting there :

https://github.com/microsoft/sqltoolsservice/blob/main/src/Microsoft.SqlTools.CoreServices/Connection/ReliableConnection/ReliableSqlConnection.cs#L483

[2020-07-15 19:23] kburtram commented on #11353
@aaomidi do you happen to know if this is a change in `1.20.0`?  Or if we expect this scenario to be supported currently?

[2020-07-15 19:24] ranasaria opened #11355 "extract method in output processor does not hand sentinel JSONObject inputs correctly"
- Azure Data Studio Version:
main.

Steps to Reproduce:

1. Call extract method in src/sql/workbench/contrib/notebook/browser/models/outputProcessor.ts with value of 'value' parameter undefined. The following error is thrown:
**_SyntaxError: Unexpected token u in JSON at position 0_**

[2020-07-15 19:28] aaomidi commented on #11353
Can you explain more on how the application doesn't handle multiple azure accounts? If you sign in with two accounts what happens?

[2020-07-15 19:28] aaomidi commented on #11353
@kburtram This isn't anything we should've caused with 1.20.0

[2020-07-15 19:48] dsmeltz commented on #11353
Let me see if I can clarify my issue.

I have 2 Azure accounts, one is a personal account and one is a work/business account.  Both accounts use the same email address. (I know this is odd, but the company had an Azure tenant before we adopted Dynamics 365.  With the move to Dynamics, we now have another, Active Directory controlled, tenant.)

When I log in to Azure, I have to say which account I

[2020-07-15 19:49] aaomidi commented on #11353
Ah yeah, this is definitely an issue since I think we've historically used the account email as the "unique key" for storage.

Thanks I'll  see if I can get around this and use proper UUIDs we get from oauth.

[2020-07-15 20:19] kburtram opened #11356 "Dark theme is now the default theme"
- Azure Data Studio Version: `1.20.0`

Steps to Reproduce:

1. Open shell

Expected: Default theme is light theme

Actual: Default theme is dark theme

[2020-07-15 20:20] #11316 closed

[2020-07-15 20:27] kburtram commented on #11356
@anthonydresser it looks like the default theme changed in a recent code merge.  Could you please take a look? Thanks!

[2020-07-15 21:59] don-binerd commented on #10335
Please close.
The issue is now working with the latest version of data studio.

For newbies you must right click the data and not the headers (behaves differently to ssms)

[2020-07-15 22:11] #10335 closed

[2020-07-15 22:12] lucyzhang929 commented on #10931
Resolved in latest version of ADS.

[2020-07-15 22:12] #10931 closed

[2020-07-15 22:19] schallm opened #11365 "Better Intellisense for ON clause"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when typing SQL statements that Intellisense doesn't help more in the ON clause by suggesting the table you are joining to first and then other tables from query at the top of the list.

**Describe the solution or feature you'd like**
When typing `select * from customers inner join orders on` the first item in

[2020-07-15 22:23] v-bbrady opened #11366 "Recent File List Entries duplicating list items"
Steps to Reproduce:

1. Open Azure Data Studio
2. If welcome page not open, open welcome page
3. Under resents notice the duplication of files

[2020-07-15 22:27] pchinnala opened #11367 "Connection Error"
We have written the needed data into your clipboard because it was too large
Issue Type: <b>Bug</b>

Receiving this error trying to connect to sql server database after upgrading to latest version:

Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: HTTP Provider, error

[2020-07-15 22:33] aasimkhan30 commented on #10503
This issue is fixed with #11341

[2020-07-15 22:33] #10503 closed

[2020-07-15 22:35] aasimkhan30 commented on #2824
The prose version is updated to 7.13.1 in #11341 . Closing this issue.

[2020-07-15 22:35] #2824 closed

[2020-07-15 22:38] aasimkhan30 commented on #9822
#11341  has added compatibility for DWs. Closing this issue

[2020-07-15 22:38] #9822 closed

[2020-07-15 23:52] laurajjiang opened #11369 "Opening notebook using bookTreeView command"
- Azure Data Studio Version: 1.20.0

Steps to Reproduce:

1. Use the `bookTreeView.openBook` command to open a notebook in the side viewlet bar
2. Receive an error showing that no TOC is found so the notebook cannot be opened

[2020-07-16 01:04] #10623 closed

[2020-07-16 02:52] kburtram opened #11372 "Object Explorer drag-and-drop table incorrectly wraps table names"
- Azure Data Studio Version: `1.20.0

Steps to Reproduce:

1. Drag a table from Object Explorer to the query editor

Expected: Tables are wrap with brackets around each part, for example `[database].[schema].[table]`.

Actual: Table are wrapped incorrectly, for example , `[schema].[table]`

<img width="530" alt="Screen Shot 2020-07-15 at 7 51 50 PM" src="https://user-images.githubusercontent.com/5

[2020-07-16 04:44] alanrenmsft commented on #10644
we don't have an active PR for this issue, @v-bbrady , please take a look at this one.

[2020-07-16 04:45] alanrenmsft commented on #10642
@v-bbrady looks like we don't have an active PR to fix this issue.

[2020-07-16 04:45] alanrenmsft commented on #10619
we don't have an active PR for this one as well. @v-bbrady

[2020-07-16 05:27] #10732 closed

[2020-07-16 05:27] alanrenmsft commented on #10732
fixed

[2020-07-16 05:29] alanrenmsft commented on #11282
dupe of #10765

[2020-07-16 05:29] #11282 closed

[2020-07-16 07:35] kaysauter opened #11374 "drag and drop of columns and tables: multiple selections should be possible"
**Is your feature request related to a problem? Please describe.**
With release Version 1.20.0 you've released the new feature of drag & drop from Tables or Columns into the editor for writing queries. A single table / column doesn't really solve a pain though; The real pain is when you've got to write (or drag & drop) every single table / column. For tables, it might be a bit less obvious but I c

[2020-07-16 08:16] OliverPearmain commented on #9302
I'm seeing the same issue.  I think its just tried to auto updated itself to v1.20.0.  Pretty annoying as I'm right in the middle of something important and having to reinstall is pretty inconvenient.  I'm running Catalina FYI.

[2020-07-16 08:21] tbolon commented on #6450
Still occurring on latest version with less than 50 databases on a Azure Sql Database server. Same error: the server browser tries to connect to all databases one after another with a global timeout of 45 seconds. Unsurprisingly, it does not scale well when you have any serious amount of databases. And it works perfectly well when you use the Manage Server pane to list all databases (certainly onl

[2020-07-16 09:34] kaysauter commented on #11374
I was asked to open this issue. Source: https://www.linkedin.com/feed/update/urn:li:activity:6689263020633276416?commentUrn=urn%3Ali%3Acomment%3A%28activity%3A6689263020633276416%2C6689298645348700160%29

[2020-07-16 09:35] PMLIO opened #11375 "Unable to add account"
Issue Type: <b>Bug</b>

Unable to add account. Opens browser and then times out

Azure Data Studio version: azuredatastudio 1.20.0 (cfbadd1eaef2dfa1fd643009c572137c704f1009, 2020-07-14T23:40:35.393Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E3-1225 v3 @ 3.20GHz (4 x 3193)|
|GPU Status|2d_canvas: enabled<br>fl

[2020-07-16 10:52] psarin commented on #11367
I'm having the same issue with latest update.

[2020-07-16 12:46] dbenz04 commented on #11367
I'm having the same problem with v1.2. I can connect to SQL Server 2019, but not to any SQL 2017 instances.

[2020-07-16 14:58] clansing-chr commented on #28
So I have the CMS extension.  I realize it's in preview mode.  I was able to setup a CMS with several registered servers, but how do I query all the servers at the sane time?

[2020-07-16 16:08] Charles-Gagnon commented on #11367
The following information will also be useful in trying to determine what the issue is :

1. The type (Azure/Standard On-Prem/DW/etc) of database connecting to
2. The type of authentication used to connect

[2020-07-16 16:32] pchinnala commented on #11367
Here's the details you need:
1. Standard On-Prem
2. Sql Login
3. Windows 10 Enterprise

[2020-07-16 16:37] Charles-Gagnon commented on #11367
Could you get the full output from running `SELECT @@VERSION` on the server @pchinnala ? And is there anything in the logs (instructions posted by the bot above)?

I've tried repro'ing this myself with a similar setup and haven't had any issues so we're going to need some more information.

[2020-07-16 16:57] pchinnala commented on #11367
Sql Server version: Microsoft SQL Server 2016 (SP2-CU10) (KB4524334) - 13.0.5492.2 (X64)   Oct  4 2019 19:14:08   Copyright (c) Microsoft Corporation  Enterprise Edition: Core-based Licensing (64-bit) on Windows Server 2016 Standard 10.0 <X64> (Build 14393: )

[renderer1.log](https://github.com/microsoft/azuredatastudio/files/4932988/renderer1.log)

[2020-07-16 17:00] cheenamalhotra commented on #11367
Hi @pchinnala @psarin @dbenz04

Would you be able to test your connectivity with [Microsoft.Data.SqlClient](https://www.nuget.org/packages/Microsoft.Data.SqlClient) driver by running a basic .NET Core Console app and let us know if you're able to connect? You can use connection string as below:

`Data Source=<server host/IP>;UID=<user>;PWD=<password>;Initial Catalog=<database>`

[2020-07-16 17:21] alanrenmsft commented on #6450
@abist could you please take a look?

[2020-07-16 17:22] #10765 closed

[2020-07-16 17:26] dbenz04 commented on #11367
@pchinnala Is your SQL Server in a failover cluster? I've determined that I can connect to SQL 2016 and 2019 if they aren't clustered. When I try to connect to any clustered instance, I get the error.

Perhaps some sort of name resolution/SPN issue?

[2020-07-16 17:44] cheenamalhotra commented on #11367
@dbenz04

You could try to connect with combinations of server host + port (use 1433 for default instance), IP + port to validate if this is due to name/SPN resolution.

[2020-07-16 18:41] dbenz04 commented on #11367
No luck using IP, IP+port, server name+port. Same error.

[2020-07-16 18:54] abist commented on #6450
@alanrenmsft I don't think I will be able to work on this for August release, this is a perf issue and a non-trivial task

[2020-07-16 19:00] pchinnala commented on #11367
@dbenz04  - same here, no luck with either combination in the connection string, I get the same error.  Not sure if the sql server is in a fail over cluster, its a vendor database and I've no clue.

I was able to connect to the same database server with prior version 1.19.

[2020-07-16 19:12] cheenamalhotra commented on #11367
Ok, please try setting"**TrustServerCertificate**" connection property to "**true**" on your connection.
The reason you're seeing issue is because server might be enforcing "Encryption" but your clients don't have certificates installed.

[2020-07-16 19:14] dbenz04 commented on #11367
@cheenamalhotra That worked!

[2020-07-16 19:17] alanrenmsft commented on #10642
Hi @fsteffi, the tooltip is standard html tooltip, also, we are updating the tooltip to match the aria-label to be 'Install' so there is no inaccessible information for keyboard users.

there is already an umbrella issue tracking the keyboard accessible tooltip issue: https://github.com/microsoft/vscode/issues/52016

[2020-07-16 19:29] alanrenmsft commented on #10621
@v-bbrady please tag this issue in the pr where you are adding tabindex=-1 for the invisible element

[2020-07-16 19:59] pchinnala commented on #11367
Now, it works for me too. Thanks!!!

[2020-07-16 22:16] #11372 closed

[2020-07-16 23:07] lucyzhang929 commented on #10654
![Screen Shot 2020-07-16 at 2 42 34 PM](https://user-images.githubusercontent.com/23462877/87731085-71f66000-c77e-11ea-97b9-23cad6e3883f.png)

[2020-07-16 23:13] hannahqin commented on #10654
@pranshu512 can we close this issue based on Alexandria's comment above indicating that this should not be an accessibility issue?

[2020-07-17 02:07] chlafreniere opened #11389 "Notebooks Markdown Editor Doesn't Respect Word Wrap Settings Correctly"
With word wrap turned off, we don't correctly display the horizontal scrollbar:
![image](https://user-images.githubusercontent.com/40371649/87740548-4f247580-c797-11ea-8ba6-de619c568d1f.png)

[2020-07-17 04:33] #10883 closed

[2020-07-17 05:30] jp4u commented on #11270
Hello just checking back up on this issue

[2020-07-17 06:14] GizzmoAsus commented on #8058
Same on the below version:

Version: 1.47.2 (system setup)
Commit: 17299e413d5590b14ab0340ea477cdd86ff13daf
Date: 2020-07-15T18:22:06.216Z
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Resolved by following https://github.com/microsoft/azuredatastudio/issues/8058#issuecomment-612907109 👍

[2020-07-17 06:39] aaomidi commented on #11270
Can you check with the latest insiders just to see if the issue is till there?

[2020-07-17 07:27] simonsabin commented on #11279
I've always hated the menus in SSMS for DAC as they aren't clear on context.
"Export to Database project" and of "Sync with database project" to keep a database project up to date.

[2020-07-17 07:36] simonsabin opened #11391 "Change Schema Compare to different name"
**Schema compare as a menu items doesn't give context**
As a name what does the schema compare do. It allows comparison to a project, another database, so why not have those as options.

**Provide clear actions**
Beyond Compare has a nice feature, that I right click on a folder/file and select "Select left file/folder to compare". Have the menu "Select source database to compare" and then when I r

[2020-07-17 13:18] SimonYeatsEM commented on #11367
Thanks Cheena, that worked for me also, for the SQL servers that were having the connection failure in ADS
(they have enforce TLS set.)

Thanks Cheena, that worked for me also, for the SQL servers that were having the connection failure in ADS
(they have enforce TLS set.)

[2020-07-17 13:30] minoseah629 commented on #11367
thanks for addressing my issue 15 days ago
https://github.com/microsoft/azuredatastudio/issues/11182

[2020-07-17 13:42] #11182 closed

[2020-07-17 15:31] Sodajunkie commented on #11274
I found the error and was able to fix it.

Using the Process Explorer from the Help menu option, I found the log
files.  The log files contained a statement about inability to find
python.exe at the given path.  Since I recently had to uninstall python and
reinstalled it differently, I changed the path for python.  When I
restarted ADS, it prompted me to finish setting up the python dependencies
a

[2020-07-17 15:49] kburtram opened #11403 "Focus not in editor after dropping table from OE into editor"
- Azure Data Studio Version: `1.21.1`

Steps to Reproduce:

1. Drag and drop a table from OE into the editor

Expected: Focus is in the editor after the drop operation is complete.  This allows typing operations to go to the editor after the drop is complete, which is a natural workflow when using this feature.

Actual: Focus is in Object Explorer.

[2020-07-17 15:50] kburtram commented on #11403
@cssuh could you please take a look at this for August?  I think this minor enhancement will smooth out the most common use-case a bit.

[2020-07-17 15:53] cssuh commented on #11403
ok sure I think it would be a good improvement to the user experience

[2020-07-17 15:59] rramname opened #11404 "Column width of Search panel is too short"
Issue Type : Bug

Hi Team,

Thanks for the great product.

The column width (which seems to be 18-20 chars Max) in the search panel (Right click database -> Manage -> Enter Search team) is too small. Objects with larger names are not visible which is making it difficult to correctly identify object.

Could it be made a little bigger?

Here is the screen shot of default master database.

![image](h

[2020-07-17 16:04] #10653 closed

[2020-07-17 16:48] cssuh commented on #8335
isn't this a duplicate?

[2020-07-17 16:52] #10644 closed

[2020-07-17 17:17] MsSQLGirl opened #11408 "Notebook: Scrolling text / markdown editor and preview should ideally in sync"
- Azure Data Studio Version:
Version: 1.21.0-insider (user setup)
Commit: b098ce64b5f79b6db2d39f637cea73a2fa9f4550
Date: 2020-07-17T05:40:08.933Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1.Open a Jupyter Book SQL 2019 BDC and launch TSG100 (long text cell).
2. Resize your screen such that the

[2020-07-17 17:52] OsmanAktemur commented on #10692
Hi again, i solved this issue by following these steps;
https://askubuntu.com/questions/1233186/ubuntu-20-04-how-to-set-lower-ssl-security-level

@adlerdias if you wanna try check it

[2020-07-17 17:56] jostrander commented on #11261
I've tried finding logs for this particular error and there doesn't seem to be anything of value.

[code]

Looking in the rest of the logs folder most of the logs are empty or show an initialization message.

[2020-07-17 18:19] MsSQLGirl commented on #11313
@sqlworldwide  - can you please try running this and send it back? (Please rename txt to ipynb since GitHub doesn't support attaching ipynb).

Recommended steps to run: clear all results, and run cell one-by-one.

[Kqlmagic - LogAnalytics demo.txt](https://github.com/microsoft/azuredatastudio/files/4939437/Kqlmagic.-.LogAnalytics.demo.txt)

[2020-07-17 18:36] gisdev-km opened #11409 "SQL Server Import Extension - Keyword not supported: 'trust server certificate'"
- Azure Data Studio Version: Version: 1.20.0

Steps to Reproduce:

1. Using an on-prem SQL Server with a self-signed certificate where the connection has `Trust Server Certificate` set to True, attempt to import a CSV to a table to get the following error.

![Screen Shot 2020-07-17 at 11 34 30 AM](https://user-images.githubusercontent.com/2168316/87819762-a8d18200-c821-11ea-8fe0-1785a15f7663.png)

[2020-07-17 19:10] VasuBhog commented on #11126
This issue has the same behavior in VS Code as shown in the screenshot below. If this issue needs to be fixed then please file an issue in VS Code.

![image](https://user-images.githubusercontent.com/23587151/87822275-cf4de800-c836-11ea-832d-9b9a0fe38c61.png)

[2020-07-17 19:12] #10621 closed

[2020-07-17 19:15] alanrenmsft commented on #11404
@rramname please see my comments here: https://github.com/microsoft/azuredatastudio/issues/10611#issuecomment-635745613

please reopen the issue if it doesn't help.

[2020-07-17 19:15] #11404 closed

[2020-07-17 19:33] MsSQLGirl commented on #11408
Note: the workaround is to turn the word-wrap on from Settings.
![image](https://user-images.githubusercontent.com/6405919/87824225-b559d880-c829-11ea-92f6-c4a2fd0b1238.png)

[2020-07-17 20:04] VasuBhog commented on #11126
VS Code Issue: https://github.com/microsoft/vscode/issues/102820

[2020-07-17 20:08] rajeshka commented on #11127
Can we assign this bug to VSCode for addressing this issue ?

[2020-07-17 20:39] #11353 closed

[2020-07-17 20:54] alanrenmsft commented on #3449
this has been implemented

[2020-07-17 20:54] #3449 closed

[2020-07-17 21:29] stelth240 commented on #6763
@kburtram Thanks for the reply. I actually did find where I think the error is occurring based on the error message that is thrown. Maybe that will help trace back to the root issue. It is in the "vs" folder under "src", so is it something that the vscode team would need to fix?

Here is the line with the error that is emitted:

https://github.com/microsoft/azuredatastudio/blob/5613a97fae6b5cb37f0

[2020-07-17 22:20] rajeshka commented on #11126
Seems like ADS issue. Not VSCode.
VSCode
![image](https://user-images.githubusercontent.com/29285871/87835083-fdd0c080-c840-11ea-9c9d-7cd626a0afbd.png)
ADS
![image](https://user-images.githubusercontent.com/29285871/87835100-06c19200-c841-11ea-8739-e0a661a41dd9.png)

[2020-07-18 00:29] chlafreniere commented on #11126
Ok. Here goes 😄.

vscode doesn't actually use the same markdown renderer that we use everywhere... For extensions, vscode actually leverages Markdown-It, which handles this particular case correctly. We actually leverage gfm (GitHub Flavored Markdown) and this isn't being rendered properly using marked.js (the markdown renderer that we leverage for notebooks).

GitHub itself renders the following

[2020-07-18 07:51] RedRevYol opened #11420 "WHERE keyword not implemented properly"
- Azure Data Studio Version:

Steps to Reproduce:

Getting an error saying "Invalid column name 'name'".
I wrote:
SELECT * FROM table
WHERE column="name";

I'm getting red squigglies on "name" showing the error message

[2020-07-18 19:51] colathro commented on #8279
Bumping for a bit of traction and to ask if there is a workaround to get full column data from ADS.

The results to file conversions seem to only operate on whats currently displayed in the results pane, so not quite a work around. I wasn't able to find any options to go straight to file and skip the results view, which could possibly avoid this 65,000 => 75,000 character limit.

Note: For anyone

[2020-07-19 19:17] MsSQLGirl commented on #11313
@sqlworldwide - I'm closing this issue since it seems to be working for you now.
Please feel free to add additional comments on what might have fixed the problem that you first encountered.

[2020-07-19 23:28] RobertJBlackburn commented on #9580
This would be very useful.

[2020-07-20 11:56] Barthezzcz commented on #10692
THANKS ! its working now

pá 17. 7. 2020 v 19:53 odesílatel OsmanAktemur <notifications@github.com>
napsal:

[2020-07-20 15:48] Charles-Gagnon commented on #11420
What you pasted isn't a valid statement to begin with - for example " aren't valid string delimiters in T-SQL.

Could you provide more information such as the table schema you're trying to select from and paste the exact query that's giving you the error?

[2020-07-20 16:23] emead-spentech commented on #3341
This is probably the only thing keeping me from moving fully from SSMS :(

[2020-07-20 17:00] Charles-Gagnon opened #11424 "Azure Account pane doesn't show e-mail"
Insiders :

![image](https://user-images.githubusercontent.com/28519865/87964958-d7dd3300-ca6f-11ea-909a-6fa241eebb54.png)

Stable :

![image](https://user-images.githubusercontent.com/28519865/87964829-a2d0e080-ca6f-11ea-889c-1da505224c45.png)

[2020-07-20 17:02] Charles-Gagnon opened #11425 "Azure Accounts clicking "Add Account" does nothing"
Insiders

1. Open Azure Accounts pane
1. Click "Add Account" button
1. "Adding Account..." message appears but nothing else happens

No errors in console.

[2020-07-20 17:09] Charles-Gagnon opened #11426 "New Notebook action error in console"
Right click on server -> New Notebook

[code]

[2020-07-20 17:13] Charles-Gagnon opened #11427 ""Show chart" action on Notebook cell doesn't update actionbar item"
1. Right click on results grid
1. Select "Show chart" action
1. View switches to chart but actionbar item is left as "Show chart"

Note that this doesn't affect functionality - clicking "Show chart" will still toggle it back to the grid. But then the actionbar item will always be showing the "wrong" item since it also toggles the item to "Show table"

[2020-07-20 17:19] Charles-Gagnon commented on #11424
@aaomidi I'm guessing these are due to your OID changes you made. I can't remove an account either and pretty much anything using an account is completely broken.

[2020-07-20 17:21] #11409 closed

[2020-07-20 18:13] #11004 closed

[2020-07-20 18:22] halerankin commented on #10808
@Charles-Gagnon I just tested this on Mac OS and on Windows. I see the following:
![notebook-ui-main](https://user-images.githubusercontent.com/12279161/87972085-30fe9400-ca7b-11ea-863f-40813219e2c5.PNG)
There does not appear to be a layout issue with the dropdown arrow for each.

[2020-07-20 18:57] aaomidi commented on #11425
I'm unable to repro this.

[2020-07-20 19:44] aaomidi opened #11434 "A refresh token isn't always provided by Azure Identity Platform - we need to deal with those situations gracefully"

[2020-07-20 19:58] Charles-Gagnon commented on #11425
I don't really have any other information to provide so I'll close this for now and if I keep seeing it we can investigate further.

[2020-07-20 19:58] #11425 closed

[2020-07-20 20:13] Charles-Gagnon commented on #10808
Looks fine on main for me now - possibly some temporary issue from vs code merge. Will close for now.

[2020-07-20 20:13] #10808 closed

[2020-07-20 20:45] #11155 closed

[2020-07-20 20:48] Charles-Gagnon commented on #11367
Closing this out now with the solution posted above.

For further information, this issue was caused by a client driver update which fixed an issue where TLS encryption wasn't enforced correctly. See https://github.com/dotnet/SqlClient/blob/master/release-notes/2.0/2.0.0.md#breaking-changes-1 and https://docs.microsoft.com/en-us/sql/relational-databases/native-client/features/using-encryption-with

[2020-07-20 20:48] #11367 closed

[2020-07-20 20:50] #11389 closed

[2020-07-20 21:44] paulgbrown opened #11436 "Large Notebook appears to cause a crash"
- Azure Data Studio Version:

Steps to Reproduce:

1. Create a large Jupyter Notebook. File causing problem specifically contain 265,615 rows with 31 cells. 16 Text and 15 Code. It also contained the results of numerous queries in the code.

2. Save the file and close ADS.

3. Restart ADS and open the file. ADS should appear to hang and eventually this message appears:
![image](https://user-images

[2020-07-20 22:12] paulgbrown opened #11440 "Add Setting to toggle query results being saved as part of a Notebook"
**Create a setting that will allow/prevent query results from being saved as part of a Notebook.**
Notebooks currently save query results to the file. This can cause an issue with confidential data being included in the file and then version control. It is incumbent on the user to remember to Clear Results.

It would be better to allow the user to opt-out of this behavior.

Proposed: includeQueryR

[2020-07-20 23:24] #11137 closed

[2020-07-20 23:35] alanrenmsft commented on #11255
@dzsquared , you are no longer able to reproduce the issue with latest ADS insider build, right?

[2020-07-21 00:40] RedRevYol commented on #11420
Nevermind, put this issue as resolved. Sorry for the convenience

[2020-07-21 00:48] #11313 closed

[2020-07-21 03:17] dzsquared commented on #11255
Correct - the resource groups do now populate correctly.

[2020-07-21 03:17] #11255 closed

[2020-07-21 03:41] kburtram commented on #11420
@RedRevYol thanks for confirming.

[2020-07-21 03:41] #11420 closed

[2020-07-21 05:15] MsSQLGirl commented on #9713
@gupta1  - FYI.

[2020-07-21 05:19] MsSQLGirl commented on #7922
User reported when they are using Python with Kqlmagic in notebook:
When they don't use the notebook for a while, it will say Kernel is dead. It's not obvious how to "revive" this.

@chlafreniere - do we know how long before Kernel is disconnected?

[2020-07-21 08:55] sandermvanvliet opened #11447 "Cannot read property of undefined"
Issue Type: <b>Bug</b>

With the latest update I get the error while browsing servers in the connections pane:

[code]

**Steps to reproduce:**
- Open Azure Data Studio

The error message appears immediately and it is not possible to expand an existing connection to view the databases or to create a new connection.

Azure Data Studio version: azuredatastudio-insiders 1.21.0-insider (6f9991e22ba4aa

[2020-07-21 14:42] thebitslinger opened #11448 "Mac OS X (Catalina) Azure Data Studio - MS Import - flatfileimport.start Not Found"
- Azure Data Studio Version: 1.3.8

Steps to Reproduce:

1. Installed SQL Server Import 0.18.0
2. Selected Database and clicked CTRL = I
3. Got message: command 'flatFileImport.start' not found

Developer console logged the following:

/private/var/folders/n8/5_lt1nh57nl7c85vzgtsv89wzd_41d/T/AppTranslocation/B468B019-1A9D-42A7-9C1C-0CF3E3C7AB9D/d/Azure Data Studio.app/Contents/Resources/app/node_m

[2020-07-21 14:48] Charles-Gagnon commented on #11448
Is ADS version 1.3.8 accurate? The 0.18 version of the Import extension requires ADS to be at least version 1.20.0, so you'll need to update to the latest version of ADS to use it.

[2020-07-21 14:49] #8335 closed

[2020-07-21 14:49] Charles-Gagnon commented on #11448
I'm going to close this as it's working as intended if that's the case. Let us know if you think this is inaccurate and we can investigate further.

[2020-07-21 14:49] #11448 closed

[2020-07-21 15:20] thebitslinger commented on #11448
@Charles-Gagnon Interesting... I ADS, I check for updates, and it says there are no updates available.

[2020-07-21 16:15] Charles-Gagnon opened #11449 "Azure Account Device Code flow broken"
Insiders/main

1. Add Account
1. Select "Device Code" method
1. Picker closes but nothing happens

These are in the console log :
[code]

[code]

[code]

[2020-07-21 16:29] Charles-Gagnon opened #11450 "Azure AAD Auth doesn't work"
Insiders/main

1. Create new connection to AAD-enabled server
1. Select account
1. Try to connect

Get this error

![image](https://user-images.githubusercontent.com/28519865/88080840-77fc9000-cb34-11ea-84e6-52120a4af0f2.png)

and this in log :

[code]

[2020-07-21 16:36] Charles-Gagnon opened #11451 "Books viewlet tree has Azure account actions"
1. Expand an Azure subscription node (this seems to be a required step - if you don't do this the actions don't appear)
1. Open books viewlet
1. Open book/notebook (in either view)
1. Right click on items in the tree

Actions for Azure Accounts are showing up
![image](https://user-images.githubusercontent.com/28519865/88081464-40daae80-cb35-11ea-960c-783dc9e9578d.png)

[2020-07-21 16:37] Charles-Gagnon commented on #11451
@aaomidi @MaddyDev Assigning this to both of you - not sure whether this is an Azure view issue or Notebooks view issue.

[2020-07-21 16:43] pcj-jenzabar opened #11452 "Tab to autocomplete field names chooses the last option instead of first"
Issue Type: <b>Bug</b>

I have two fields in my table JOB_NAME, and JOB_TIME. When I type 'job' and press TAB it autocompletes with JOB_TIME instead of JOB_NAME. It should select the first entry by default instead of the last.

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64 10.0.17763

<details>
<sum

[2020-07-21 16:46] Charles-Gagnon opened #11453 "Problems pane for SQL Editors opens new editors"
1. Create new sql query editor
1. Type some invalid syntax
1. Problems pane lists issue
1. Click on issue

Expected : Existing query editor with issue is opened

Actual : New editor is opened with same text as original editor

[2020-07-21 16:50] Charles-Gagnon opened #11454 "Problems pane for Notebook editors shows each editor as separate section"
1. Open Notebook editor
1. Add a couple code cells
1. Type some invalid syntax in each of them

Expected : Problems pane shows one section for the Notebook with the problems listed

Actual : Separate section for each code editor - with names that are impossible to map back to the original Notebook. Clicking on these problems then opens a new query editor window with that text instead of opening th

[2020-07-21 17:10] #11426 closed

[2020-07-21 18:09] simonsabin opened #11455 "Database projects build using .net core msbuild make dacpac references upper case"
- Azure Data Studio Version: Insider build

Steps to Reproduce:

1. build a database project with a reference
2. deploying using sqlpackage fails with sqlpackage looking for references with UPPERCASE FILENAMES

Renaming dacpac referenced files to be upper case works.

The model file has the references in upper case
[code]

[code]

Workaround is to rename files, this might not work and you have to

[2020-07-21 18:34] erddys opened #11456 "A connection was successfully established with the server, but then an error occurred during the pre-login handshake."
- Azure Data Studio Version: 1.20.1
Hello,
After an update to the latest version I started getting this error when trying to conect to a database **A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught)**

Asking some friends, they were having the same issue, except

[2020-07-21 18:41] Charles-Gagnon commented on #11456
https://github.com/microsoft/azuredatastudio/issues/11367#issuecomment-659614111

Does this solve your issue?

[2020-07-21 18:49] alanrenmsft commented on #10654
please reopen if you have any questions. @pranshu512

[2020-07-21 18:49] #10654 closed

[2020-07-21 18:50] erddys commented on #11456
Yes, the downgrade to the version 17.1.1 solve the issue

[2020-07-21 18:57] erddys commented on #11456
Yes, #11367  solve the issue. Thanks

[2020-07-21 19:10] #11456 closed

[2020-07-21 19:29] eflamm opened #11459 "Linux Shell Script redirects to old install?"
- Azure Data Studio Version: 1.20.1

Steps to Reproduce:

1. Install some version on Linux box (mine is an Amazon Linux workspace, but I don't think it matters).
2. Somehow, the executable and support files will be installed in /usr/share/azuredatastudio - but not by the install instructions which simply involve unzipping the archive to a local directory (azuredatastudio-linux-x64)
3. The shell sc

[2020-07-21 19:32] shagimardanova commented on #7812
It still reproduces.
@ellbosch I suppose there should be a label "Area - Notebooks".
Before I found this issue it seemed like the interface was not responding sometimes.

Version: 1.19.0 (system setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22:06:05.429Z
VS Code: 1.46.0
Electron: 7.2.4
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.

[2020-07-21 20:08] vin-yu opened #11461 "Missing "Install tools" button"
- Azure Data Studio Version:

Version: 1.21.0-insider (user setup)
Commit: 92c8d890c453dae24d8dc63fe47df27e2ce6b8f4
Date: 2020-07-21T06:04:40.423Z
VS Code: 1.48.0
Electron: 8.3.3
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.19569

Scenario:
Trying to deploy Managed Instance - Azure Arc

Steps to Reproduce:
1. Open Azure Data Studio and install Arc plugin

[2020-07-21 20:26] simonsabin opened #11462 "dotnet build of project builds even when nothing has changed"
- Azure Data Studio Version:  sql targets 15.0.4822.1

Steps to Reproduce:

1. dotnet build project
2. dotnet build project

Second build shouldn't have to do anything as nothing has changed. This is a huge optimisation with msbuild and would be a problem if not their with dotnet builds

[2020-07-21 20:44] chlafreniere commented on #11461
@Charles-Gagnon can you assist Vin here?

@vin-yu please follow the bug bash instructions for installing azdata; there is no integrated install yet through the deployment experience for Arc resources

[2020-07-21 21:08] VasuBhog commented on #11193
@fsteffi there is already a keyboard shortcut **(Outdent)** that allows for the user to tab backwards to the toolbar when the focus is on the code cell editor.

Below is the keyboard shortcut that can be found through Command Palette:

![image](https://user-images.githubusercontent.com/23587151/88106872-cda05f00-cb6b-11ea-9840-3287fbdb5e5c.png)

**Outdent: Shift + Tab**

[2020-07-21 21:08] #11193 closed

[2020-07-21 21:12] Charles-Gagnon commented on #11461
@vin-yu If you close and re-open the dialog does the "Install tools" button appear?

But what Chris said is true - while we do support auto-install for azdata it will download the publicly released version of azdata and so will not have the Arc commands. You need to pre-install the correct version of azdata per the bug bash docs.

[2020-07-21 21:33] Charles-Gagnon commented on #11461
It works fine for me - it looks like this is on Windows, right? We install them one at a time - did you maybe close the UAC prompt or something? I can't see anything immediately obvious as to what went wrong - we seem to be handling the error cases fine.

If this still shows even after closing and re-opening the dialog or we can get a consistent repro then I can investigate further - doesn't seem

[2020-07-21 21:40] v-bbrady opened #11466 "Welcome Page Button Height"
Steps to Reproduce:

1. Open ADS welcome page
2. View "New" and "Open file" buttons
3. Notice height difference

[2020-07-21 22:44] kisantia opened #11468 "SQLCMD table showing after loading profile when it shouldn't"
Steps to Reproduce:

1. Open a SQL Project without any SQLCMD variables
2. Right click on Project and select publish. Dialog opens without any table for SQLCMD variables as expected
3. load a profile without SQLCMD variables
4. SQLCMD variables table shows up but it shouldn't

<img width="407" alt="Screen Shot 2020-07-21 at 3 41 18 PM" src="https://user-images.githubusercontent.com/31145923/881144

[2020-07-22 02:08] #10619 closed

[2020-07-22 04:20] haydnlj opened #11474 "Saving Query Editor disconnects session for that editor"
Issue Type: <b>Bug</b>

Start adhoc query, save query as .sql file to filesystem. Upon save, the current SQL connection is closed for that editor.

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-63

[2020-07-22 04:42] yualan opened #11475 "Adding SQL Assessment extension as a recommended extension"
Let's update the SQL Assessment extension as a Microsoft recommended extension. Thank you!

[2020-07-22 07:49] simonsabin commented on #11200
Its definitely case. Just checked and MacOS the default for the ABFS is case insensitive from 10.3 https://developer.apple.com/documentation/foundation/file_system/about_apple_file_system

[2020-07-22 14:00] rramname commented on #11404
Thank you @alanrenmsft . That did the trick.

[2020-07-22 14:01] alexprotsenko commented on #11475
@alanrenmsft let me know if I need to provide you with something to get this done.

[2020-07-22 16:15] Charles-Gagnon commented on #11452
Could you attach a video of this happening? It seems to work fine for me. Is the highlighted item in the list on JOB_NAME or on JOB_TIME when you start typing JOB?

![Capture](https://user-images.githubusercontent.com/28519865/88201046-d2145880-cbfb-11ea-9aea-45ad70983f7e.gif)

[2020-07-22 17:47] jdms754 commented on #10763
I am able to reproduce still. Issue appeared recently. Deleted the folder in %appdata%, but that did not resolve it.

Version: 1.21.0-insider (user setup)
Commit: 53ec7585a9da594c2465bfffa01238d1efc190a7
Date: 2020-07-22T05:58:57.276Z
VS Code: 1.48.0
Electron: 8.3.3
Chrome: 80.0.3987.165
Node.js: 12.13.0
V8: 8.0.426.27-electron.0
OS: Windows_NT x64 10.0.19635

[2020-07-22 18:15] #11475 closed

[2020-07-22 18:23] smartguest commented on #10871
Issue does not repro when opening a saved SQL file and connecting it to a database. Opening another file shows its connected to the same database. Clicking on the first SQL file in explorer shows it is still connected.

[2020-07-22 18:23] #10871 closed

[2020-07-22 18:25] smartguest commented on #10871
@Proavtor have you tried the latest build yet and see if it was able to be reproduced there?

[2020-07-22 19:27] #11355 closed

[2020-07-22 20:19] RandallDW opened #11480 "unable to login sqlserver db"
Issue Type: <b>Bug</b>

I was able to connect my db before, but several days ago, it suddenly not work.
Got connection error as
[code]
I tried to connect with sqlcmd, everything works fine but not with azure data studio.

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:32:14.131Z)
OS version: MacOS Catalina

<details>
<summary>System Info<

[2020-07-22 20:43] kisantia commented on #11455
@simonsabin does publishing through ADS work or does it also have this error?

[2020-07-22 20:45] simonsabin commented on #11455
This is building not publishing. I’m running the same dot net command as run by ads.

Simon Sabin

________________________________
From: Kim Santiago <notifications@github.com>
Sent: Wednesday, July 22, 2020 9:44:15 PM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Simon Sabin <Simon@sabin.io>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/azuredatastudio] D

[2020-07-22 21:27] simonsabin commented on #11455
I don't have ADS on linux to test.

But ADS won't publish the project.

I was testing with sqlpackage to deploy

[2020-07-22 22:05] aaomidi opened #11481 "Connections made with the new azure auth show the wrong thing for the display name"
![image](https://user-images.githubusercontent.com/1465785/88233544-c2613800-cc2c-11ea-8ca2-6589e33b21bd.png)

[2020-07-22 22:33] #11434 closed

[2020-07-22 22:33] #11450 closed

[2020-07-22 22:33] #11449 closed

[2020-07-22 22:33] #11424 closed

[2020-07-22 22:58] Charles-Gagnon commented on #7377
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052 as some cleanup

[2020-07-22 22:58] #7377 closed

[2020-07-22 22:59] Charles-Gagnon commented on #3761
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052 as cleanup

[2020-07-22 22:59] #3761 closed

[2020-07-22 22:59] Charles-Gagnon commented on #3331
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052 as cleanup

[2020-07-22 22:59] #3331 closed

[2020-07-22 22:59] Charles-Gagnon commented on #2724
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052 as cleanup

[2020-07-22 22:59] #2724 closed

[2020-07-22 23:00] Charles-Gagnon commented on #2025
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052 as cleanup

[2020-07-22 23:00] #2025 closed

[2020-07-22 23:00] Charles-Gagnon commented on #1628
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052 as cleanup

[2020-07-22 23:00] #1628 closed

[2020-07-22 23:01] Charles-Gagnon commented on #69
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052 as cleanup

[2020-07-22 23:01] #69 closed

[2020-07-22 23:10] MsSQLGirl opened #11482 "Jupyter Book: Collapse multiple books in the workspace setting"
**Is your feature request related to a problem? Please describe.**
My workspace has more than 7 books with multiple chapters. When the workspace is opened, the books are all expanded to the first level chapters.

**Describe the solution or feature you'd like**
When opening a workspace with multiple books, it should be possible to configure the workspace to open the books collapsed by default.

**D

[2020-07-23 00:59] #11468 closed

[2020-07-23 02:31] #11481 closed

[2020-07-23 04:17] krlmlr commented on #11200
I can work around by adding uppercase symlinks to the correct directories, e.g.:

[code]

The generated `obj/Debug/Model.xml` contains the bad path in a `"FileName"` element.