[2021-03-03 07:44] malcolm738 commented on #14383
I think there is a possible issue with the "Exclude from project" option
Logically in it does the same thing as delete in ADS, just leaving an orphaned file as well

Could it amend the 'Build Include="my.sql"' to 'None Include="my.sql"' so it's visible in ADS and excluded from project build

The enhancement would fit with the above request as the file being re-added may have been excluded and not

[2021-03-03 07:55] KNP-BI commented on #13836
I have the same issue with one specific server.
I suspect I have limited privileges on this server although not sure exactly what they are as it is monitored/maintained outside of our immediate team and they are reapplied via script on db restore.

Everything works correctly in SSMS.

Please let me know if there is additional info I can provide to help debug this. It is frustrating to have to jump

[2021-03-03 08:59] Shivamd1 opened #14517 "A11y_AzureDataStudioSQL_PublishProjects_Generate Scripts(Terminal)_Zoom: Data is not properly visible under Task(terminal)at 200% zoom"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:** #A11yWCAG2.1;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL_Feb2021;#SQL Azure Data Studio;#Win10;#FTP;#DesktopApp;#WCAG1.4.4;#AINotInScope;#Zoom;

### Prerequisite:

- Set the text size to 200% in "Ease of access settings"

### E

[2021-03-03 10:43] RohitJadhav-TCS opened #14518 "A11y_AzureDataStudioSQL_Project_CreateNewProject_Popup_Keyboard: Keyboard focus goes outside of the popup by hitting tab key"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags**: #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL-MAC-Feb2021;#SQL Azure Data Studio;#MAC;#FTP;#DesktopApp;#WCAG2.4.3;#Keyboard;#AINotInScope;

### Environment Details:
Application Name: Azure Data Studio
Version: 1.26.1
Mac

[2021-03-03 11:07] RohitJadhav-TCS opened #14519 "A11y_AzureDataStudioSQL_Project_Database_CreateProjectFromDatabase_Keyboard: Keyboard focus is moving outside of the "Create Project From Database" pane after hitting shift + tab key."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags**: #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL-MAC-Feb2021;#SQL Azure Data Studio;#MAC;#FTP;#DesktopApp;#WCAG2.4.3;#Keyboard;#AINotInScope;

### Environment Details:
Application Name: Azure Data Studio
Mac OS Version: Big

[2021-03-03 11:17] RohitJadhav-TCS opened #14520 "A11y_AzureDataStudioSQL_Project_CreateProjectFromDatabase_Keyboard: Keyboard focus is getting trapped as it is not moving by hitting tab key when keyboard focus is on "cancel" button."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags**: #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL-MAC-Feb2021;#SQL Azure Data Studio;#MAC;#FTP;#DesktopApp;#WCAG2.1.2;#Keyboard;#AINotInScope;

### Environment Details:
Application Name: Azure Data Studio
Mac OS Version: Big

[2021-03-03 11:26] RohitJadhav-TCS opened #14521 "A11y_AzureDataStudioSQL_Projects_Add External Streaming Job_Keyboard: Expand collapse button present in 6th line in code editor is not accessible with any keyboard key."
“[Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing faster an

[2021-03-03 11:32] RohitJadhav-TCS opened #14522 "A11y_AzureDataStudioSQL_Add Database reference_System Database_ScreenReader:Voice Over does not announces required when user navigates on Database name edit box with the help of tab key."
“[Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing faster an

[2021-03-03 11:41] RohitJadhav-TCS opened #14523 "A11y_AzureDataStudioSQL_Projects_Publish Projects_ScreenReader: Voice Over announces control type of database Combo box as Button."
### Actual:
Voice Over announces control type of database Combo box as Button.

### Expected:
Voice Over should announce the control type for Database combo box as combo box.

**GitHubTags**: #A11yMAS;#A11yTCS;#A11ySev2;#SH_AzureDataStudioSQL-MAC-Feb2021;#SQL Azure Data Studio;#MAC;#FTP;#DesktopApp;#WCAG4.1.2;#VoiceOver;#Element:Combobox:#AINotInScope;

### Environment Details:
Application Name: A

[2021-03-03 11:57] RohitJadhav-TCS opened #14524 "A11y_AzureDataStudioSQL_Projects_Add View_ScreenReader: Voice Over does not announces the line number in code editor on which keyboard focus is there."
### Actual:
Voice Over does not announces the line number in code editor on which keyboard focus is there when navigated on it with the help of tab key.

Same issue is observed throughout the application where code editor is present

### Expected:
Voice Over should announce it as line 1 and then the information present in line when navigated on it with the help of tab key.

**GitHubTags**: #A11yMA

[2021-03-03 16:13] ssucher opened #14525 "Connections: Servers not showing connected servers"
Issue Type: <b>Bug</b>

"Connections: Servers" section in the upper left is regularly not showing my connected servers in the list.  When I refresh, or reestablish the connection, I can connect and run queries just fine, but the sever doesnt show in the list.

Azure Data Studio version: azuredatastudio 1.19.0 (4095037f2578c23033867e611e82c13de114ca5a, 2020-06-11T22:03:19.036Z)
OS version: Darwin x

[2021-03-03 16:57] Charles-Gagnon commented on #14525
@ssucher Do you mean the actual top level servers or the folders underneath each connection? (Databases/tables/etc)?

[2021-03-03 17:04] kburtram opened #14527 "DB Pools syntax not working with connection dialog"
We need to investigate connecting to DB pools using connection dialog.  Currently there are some errors in the experience.

[2021-03-03 17:06] #14515 closed

[2021-03-03 17:43] corivera commented on #14407
@chlafreniere I have the package filtering working (with tests included), and I'm currently scanning through the PyPI Rest API docs to see if I've missed any weird versioning details.

[2021-03-03 18:10] ssucher commented on #14525
Both - i expect to see a server and list of folders under each connection here:
![image](https://user-images.githubusercontent.com/18265660/109851462-f06e1800-7c10-11eb-9e06-3441fa8d7a66.png)

[2021-03-03 18:19] #13667 closed

[2021-03-03 18:33] #14500 closed

[2021-03-03 18:51] alanrenmsft commented on #14493
for those who run into this issue, you can workaround the issue by disabling the auto https setting in your browser for localhost and retry. for Microsoft Edge(chromium based), you can follow the instructions here: https://stackoverflow.com/questions/63825407/microsoft-edge-redirects-http-localhost-to-https-localhost

[2021-03-03 19:00] radentonev commented on #14325
I think the behavior after clicking on a result should be to open file + highlight search results, but no NOT show CTRL+F search box. After click on the notebook content, the highlights should be cleared. if the user wants to see the highlights again, they can once again click on the search results to display them.

Showing CTRL+F menu automatically seems a bit too too far, as I believe some users

[2021-03-03 19:08] kisantia commented on #14075
@malcolm738 can you open up separate issues for these enhancement requests for easier tracking? Thanks!

[2021-03-03 19:09] kburtram commented on #14493
@alanrenmsft thanks!  I believe switching to Device Code authentication in the User Settings also avoids this issue.

[2021-03-03 19:16] lucyzhang929 commented on #14192
Hi @christopheranderson,

The path in the error message contains "python-3.6.6-win-x64-0.0.1-offline". Have you installed an offline version of python before?

Also, if you run `!python -m pip --version` in a cell, does that work? The `!pip` command sometimes runs into issues because of multiple python versions installed. We usually recommend that users run `!python -m pip` instead.

[2021-03-03 19:29] kisantia commented on #14524
same issue as the one opened for Windows https://github.com/microsoft/azuredatastudio/issues/14414

[2021-03-03 19:31] kisantia commented on #14521
same as Windows issue https://github.com/microsoft/azuredatastudio/issues/14359

[2021-03-03 19:33] kisantia commented on #14518
same as windows issue https://github.com/microsoft/azuredatastudio/issues/14304

[2021-03-03 19:35] kisantia commented on #14520
same as windows issue https://github.com/microsoft/azuredatastudio/issues/14318

[2021-03-03 19:35] kisantia commented on #14519
same as windows issue https://github.com/microsoft/azuredatastudio/issues/14317

[2021-03-03 19:45] smartguest commented on #1986
@JohnyL For now: the workaround for this issue is to immediately after the JSON file pops up in the editor is to click the encoding button once more and click "Save with encoding" and select Windows-1251 to properly save the file into JSON with the right encoding. The current design of saving to JSON does not take into account the formatting of the editor and is handled by another service. More in

[2021-03-03 19:50] #14434 closed

[2021-03-03 20:59] VasuBhog commented on #14151
Some users should not have to edit the relative path for links to reference the parent (can make this a setting).

Issue shown below (images and files):
![link-parent-issue](https://user-images.githubusercontent.com/23587151/109871311-ee5f8580-7c1f-11eb-885f-e87d780a7a1c.gif)

[2021-03-03 21:02] rajeshka opened #14534 "Markdown: scroll bars are hard to find and hard to use for long cells"
- Azure Data Studio Version:

Steps to Reproduce:

1.

[2021-03-03 21:06] MsSQLGirl commented on #11408
Bumped up the wrong issue. I meant to bump this up instead: #14483

[2021-03-03 21:06] #14534 closed

[2021-03-03 21:07] rajeshka commented on #14534
Duplicate

[2021-03-03 21:57] radentonev commented on #14483
**Scroll bar visibility**: this seems to be consistent with rest of ADS: only show scrollbars on mouse hover and/or if editor is active. I think if we are to make a change, it needs to be more global and would require alignment with everyone. At first glance, this doesn't seem like a problem to me.

**Scroll bar off screen**: For large cells, I think that it is problematic that it is off screen. I

[2021-03-03 22:32] jaapie commented on #14514
Hey @chlafreniere, thanks for getting back to me.

Solarised light theme:
![image](https://user-images.githubusercontent.com/1159018/109881380-4eac0100-7ccc-11eb-82a3-4e4abbf8b785.png)

Monokai (dark) theme:
![image](https://user-images.githubusercontent.com/1159018/109881045-c3cb0680-7ccb-11eb-8fc2-65795d600254.png)

Hope that helps. I duplicated the lines so you could more easily see the differe

[2021-03-03 22:42] dzsquared commented on #13678
1. "Create new or open existing to get started."
2. "To learn more about projects read our docs."

[2021-03-03 22:48] aricc commented on #14480
[console.log](https://github.com/microsoft/azuredatastudio/files/6079651/console.log)
[20210304T063215.zip](https://github.com/microsoft/azuredatastudio/files/6079653/20210304T063215.zip)

there's the log

thx

[2021-03-03 23:05] simonsabin commented on #13678
Hey Drew,
Any comment about why a workspace is needed? I've found the requirement quite intrusive since its introduction

[2021-03-03 23:07] dzsquared commented on #13678
@simonsabin - the workspace supports managing additional settings around the project. I would be interested in knowing how it is causing friction for you so we can streamline

[2021-03-03 23:07] dzsquared commented on #13678
@SakshiS-harma - new docs link https://aka.ms/azuredatastudio-projects

[2021-03-03 23:18] kisantia opened #14537 "Projects open/create workspace causes many things to not work anymore"
When a workspace is created or opened by the data workspace extension, the extension host restarts. However, this causes problems since there is state maintained in the core that relies on ext host that gets lost when the ext host gets restarted.

Examples of things that don't work anymore:
- can't connect
- trying to refresh a connection gives the error "TypeError: Cannot read property 'toLowerCa

[2021-03-03 23:31] #14310 closed

[2021-03-03 23:38] lucyzhang929 opened #14538 "Notebooks: New Python installation should be used after configuration"
- Azure Data Studio Version:
Version: 1.26.1
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:37:01.966Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

Steps to Reproduce:

1. Install or change python installation through Configure Python for Notebooks Wizard.

Expected:
New Python configuration should be

[2021-03-03 23:40] lucyzhang929 opened #14539 "Notebooks: Errors from running !pip command should be shown in cell output"
- Azure Data Studio Version:
Version: 1.26.1
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:37:01.966Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

[2021-03-03 23:44] simonsabin commented on #13678
On the workspace aspect and also the project view #11349
* For no other projects we develop in VS Code do we use workspace and thus the need to create one is odd
* The language about New, Open Existing, feel odd when you have projects already "open" in the folder you've got open.
* The approach of "hiding the project file" and having a different folder view hiding files seems totally against the c

[2021-03-04 00:38] jagdishrajan commented on #13661
The Win+SHIFT+F only puts focus on the title of the Results pane.  Can we have it actually put focus on the results?  Pressing it again should put focus on the body of the Messages pane and pressing it again should put focus back on the editor pane.  Right now after focus is on the title you still have to hit TAB to put focus on the body or the results cells.

[2021-03-04 00:44] jagdishrajan opened #14541 "Results Pane selection not updating"
- Azure Data Studio Version: 1.26.1

Steps to Reproduce:

1. Execute a query and put focus on the Results pane.
When a cell in the Results pane grid is clicked it can be copied.  Now if you use the keyboard to navigate to another cell the original cell is still selected with light highlight and the new cell (that we have navigated to) is selected with a darker highlight.  When clicking Ctlr+C for

[2021-03-04 01:44] #14192 closed

[2021-03-04 02:03] MaddyDev commented on #14481
Thanks for the info, I haven't been able to repro this behavior, are you editing the notebook on ADS using wysiwyg mode or markdown? Also it would be great if you can share the corrupted notebook with us.

[2021-03-04 02:16] malcolm738 commented on #14075
Hey @kisantia no problem, I already added a note to https://github.com/microsoft/azuredatastudio/issues/14383 for the files in  project to be excluded.
I will raise something new for each option so they are recorded
I understand that support for the 'MSBuild.Sdk.SqlProj' may be closed as an uncontrolled third party

[2021-03-04 02:26] malcolm738 opened #14542 "Support Sdk="MSBuild.Sdk.SqlProj/1.10.0" in .sqlproj Project setting for standalone build"
**Is your feature request related to a problem? Please describe.**
When doing a cross platform build if the build machine doesn't have access to the '.targets' file then the build will fail

**Describe the solution or feature you'd like**
The MSBuild Sdk for SQLProj, https://github.com/rr-wfm/MSBuild.Sdk.SqlProj , provides an option for the build to work
There are limitations on referenced databas

[2021-03-04 02:34] malcolm738 opened #14543 "Make the BuildDirectory with '.target' file and system DacPac available for deployment to build machines"
**Is your feature request related to a problem? Please describe.**
When doing a cross platform build
Windows PC and ADS for project development and Linux (ubuntu 18.04 netcore 5) build
The '.targets' file and system dacpac's are not available and build is not possible

**Describe the solution or feature you'd like**
To be able to use the build command
**_dotnet build {project path} /p:NetCoreBuild

[2021-03-04 02:58] malcolm738 opened #14544 "Update to supported tags in .sqlproj file to exclude / remove files from build / project view"
**Is your feature request related to a problem? Please describe.**
The ADS extension doesn't support the 'Build Action' option in Visual Studio
So a file listed in the Project will be in the Build, depending on the build option other files in the folder may be included as well

Supporting more than just
- Folder Include
- Build Include
would allow better visibility of files in the project folders

[2021-03-04 03:28] VasuBhog opened #14545 "[Notebook] Kusto Notebook Language Info Metadata is only updated after connecting to a Kusto connection"
- Azure Data Studio Version: 1.26.1
- Windows and Mac

**Not a Regression.**

Steps to Reproduce:

1. Created new notebook
2. Changed kernel to Kusto
3. Saved notebook
4. Reopened notebook

Change Kernel and Save:
![StableSaveKusto](https://user-images.githubusercontent.com/23587151/109904968-e79e3600-7c52-11eb-81fb-40d783330bfe.gif)

Change connection to Kusto cluster and save:
![SaveKustoConnect

[2021-03-04 04:35] Yash14j opened #14546 "A11y_AzureDataStudioSQL_Project_System Database_ColorContrast: Color contrast ratio of Keyboard focus outline on System Database radio button is less than 3:1"
“[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-stfe%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458850501301&sdata=mxhokIKNMb22llsjXHLgU3XZibj1Qfx37rpY4PU2sfE%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing faster an

[2021-03-04 06:40] #14393 closed

[2021-03-04 13:47] isdataninja opened #14548 "Negative multiplication to 0 returns a -0"
- Azure Data Studio Version:

- Version: 1.26.1 (user setup)
- Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
- Date: 2021-02-24T23:42:55.085Z
- VS Code: 1.48.0
- Electron: 9.4.3
- Chrome: 83.0.4103.122
- Node.js: 12.14.1
- V8: 8.3.110.13-electron.0
- OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1.
`SELECT
	EOMONTH(P.[Transaction date]) AS 'Eff Date',
	P.[Investment Group] AS 'Investment

[2021-03-04 17:57] chlafreniere commented on #7558
When reaching max tokenization length for a given line, we need split up that line into n lines. I was hoping that this support existed as part of the vscode text model, but looks like we'll have to brew our own implementation here. Given the other high pri livesite asks, this won't make March.

[2021-03-04 19:22] udeeshagautam opened #14551 "Recent DacFx update seems to have caused a Schema compare regression"
ADS Dev Build
Steps to Reproduce:

1.there is a schema compare where a table change can not be excluded due to a dependent view
2. exclude all view in sql deployment options through excluded items
3. now compare again and  exclude table - should work - but isn't working

will revert the update if we cant get a fix soon.

[2021-03-04 19:46] kisantia commented on #14543
The files in the BuildDirectory folder can be downloaded in the DacFx nuget used by SqlToolsService, as mentioned in #13409.

@dzsquared can the docs be updated to mention this as an option for getting the targets file for building from the command line without needing to install and start ADS? I don't think just any DacFx nuget can be used since these files are only in the nuget made from the Dac

[2021-03-04 20:13] MsSQLGirl opened #14553 "Ability to add new notebook to a Jupyter Book easily with GUI"
**Is your feature request related to a problem? Please describe.**
Currently to add a new notebook to a Jupyter Book, I need to know toc.yml, file directory etc.

**Describe the solution or feature you'd like**
Using GUI to add a new notebook to a jupyter book.

**Describe alternatives you've considered**
None in GUI way

**Additional context**

[2021-03-04 20:36] #13737 closed

[2021-03-04 20:51] #12859 closed

[2021-03-04 20:51] #14406 closed

[2021-03-04 21:19] drizztdourden08 opened #14555 ""DROP TABLE IF EXIST" statement detected as an error"
- Azure Data Studio Version:

Steps to Reproduce:

1. Using Azure Database here in an Elastic pool, if that information is even useful
2. When written the statement "DROP TABLE IF EXISTS dbo.#xxxxx". It is detected as an error even though the statement is correct and function as normal.

This was reported back in 2019 as well:
https://github.com/microsoft/azuredatastudio/issues/2712

Screenshot:
!

[2021-03-04 21:40] #14537 closed

[2021-03-04 21:46] Charles-Gagnon opened #14556 "Error in console when azdata extension isn't installed"
[code]

[2021-03-04 21:58] nonanomalous commented on #6763
Happening to me several times a day.  I now save every query every on every change.  Very annoying.

[2021-03-04 22:36] chlafreniere opened #14557 "Rendered Notebook in Diff Editor"
Ask is to create a setting that allows a rendered notebook to show up in the diff editor.

No line diffs, this is literally just a before/after rendered difference.

[2021-03-04 23:12] chlafreniere opened #14558 "Notebooks Callout Dialog Cut Off if at Bottom of Document"
If a text cell is at the bottom of a document, controls can get cut off, and users are unable to see the full dialog:
![image](https://user-images.githubusercontent.com/40371649/110043318-04427880-7cfc-11eb-8187-94ff70e17c90.png)

[2021-03-04 23:15] #14229 closed

[2021-03-04 23:31] Charles-Gagnon commented on #14555
Duplicate of https://github.com/microsoft/azuredatastudio/issues/13431

[2021-03-04 23:31] #14555 closed

[2021-03-04 23:51] jeffqu17 opened #14560 "Profiling appears to have some limitation on size of the call submitted"
Issue Type: <b>Bug</b>

The sql profiler does not capture calls that appear to be of a certain size. Eg. I have a sproc that takes a table type parameter that can 30,000 rows in it. I have to limit the number of items to get it to be captured. Even still the trace call is truncated. If sql can accept the call and process it why can't the profiler capture it?

It kills my ability to troubleshoot wh

[2021-03-05 00:31] corivera opened #14563 "Notebooks don't use a virtual environment's instance of python"
While doing some Anaconda testing, I noticed that the instance of python can change depending on whether you're using a virtual environment. The default instance is located in the base Anaconda folder, but virtual environment instances are located under the **envs** folder. Currently we always use the instance in the base folder, which isn't correctly respecting the virtual environment configurati

[2021-03-05 00:37] alanrenmsft commented on #14031
I am not able to reproduce the issue:
1. open database dashboard
2. create a table
3. refresh the database dashboard
I see the new table show up immediately.

[2021-03-05 00:37] #14031 closed

[2021-03-05 00:41] alanrenmsft commented on #13797
@malicanli Do yo have a consistent repro of the issue?

[2021-03-05 00:58] alanrenmsft commented on #14496
@CoolDadTx Are you saying the query you posted can be executed just fine? I see two problems with it. in line 2 you are missing `exec` and in line 4, there should be a pair of parenthesis after ERROR_MESSAGE.

[2021-03-05 01:05] #14556 closed

[2021-03-05 01:30] kisantia opened #14565 "data workspace should handle not finding a project more gracefully"
If a project in the workspace's projects can't be found, an error shows and no projects are loaded. It would be nicer to handle this more gracefully and still open any other projects that can be found.

[2021-03-05 01:38] javacavaj commented on #12611
Same issue here.

- Using Azure Key Vault

- SSMS is working

- Azure account is connected

- "Always Encrypted" is Enabled

- Secure Enclave is not being used

- macOS 11.2.2

- ADS 1.26.1

I iterated through the archived versions, and the last time this work was ADS v1.20.1

[2021-03-05 01:40] kisantia commented on #14523
As decided in https://github.com/microsoft/azuredatastudio/issues/5679 and https://github.com/microsoft/azuredatastudio/issues/6847, this is the expected behavior on Mac. Can we close this?

[2021-03-05 01:47] kisantia commented on #14517
@Shivamd1 can you share a screenshot of how this looks? What is the expected behavior?

I tried zooming to 200% and saw that tasks look like this, but the tooltip shows the full text
![image](https://user-images.githubusercontent.com/31145923/110055329-a4ef6300-7d11-11eb-882e-91072f60285a.png)

[2021-03-05 01:57] Charles-Gagnon commented on #12611
@Xtrimmer Do you think this might be caused by the SqlClient issue that was recently fixed? We had to roll back the driver update due to another regression so the current driver being used doesn't contain that fix.

[2021-03-05 06:20] #14551 closed

[2021-03-05 12:59] Houndgrin opened #14573 "An improvement of contextual recommendations for the MATCH statement"
Issue Type: <b>Feature Request</b>

The MERGE statement goes like this:
[code]
When writing M for MATCHED I receive the recommendations which among others contain MATCH but not MATCHED. Thus, the perfect fit isn't there.
![image](https://user-images.githubusercontent.com/73253350/110118501-8352b200-7dcb-11eb-8091-b3432f125e12.png)

A code snippet to play with:
[code]

Azure Data Studio version: az

[2021-03-05 14:00] CoolDadTx commented on #14496
@alanrenmsft No. I'm saying that if I take the same query and put it into SSMS then it fails immediately. However in ADS it starts and never completes. Once in this state the only way to recover is to restart ADS. If I take a working query in SSMS and drop it into a new instance of ADS then it executes. I can also see query errors in ADS for some queries but others just refuse to stop.

It almost

[2021-03-05 16:02] cesarfp commented on #12637
This just happened to me as well and it worked. Thank you everybody.

[2021-03-05 18:01] alanrenmsft commented on #14548
@notyourninja could you please attach a screenshot?
I tried this query: select -1 *0
and I am getting this:
![image](https://user-images.githubusercontent.com/13777222/110154614-4cfc3f00-7d99-11eb-96c0-949da1a02289.png)

And BTW, what is the `**` for in your query.

[2021-03-05 18:18] MsSQLGirl opened #14576 "When saving a notebook file after copying to WYSIWYG mode, the format changed"
- Azure Data Studio Version:
Version: 1.26.1 (user setup)
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:42:55.085Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Copy and paste OneNote to Notebook where it has multiple list items, paragraphs, table and some formatted text

[2021-03-05 18:56] MaddyDev commented on #14481
@claudiosalvio-vscode Thanks for your time, but we're not sure what change caused this and we're not able to repro this on our latest. It would be a huge help if you can try our insiders and see if this issue repros.

[2021-03-05 19:35] Xtrimmer commented on #12611
@Charles-Gagnon it is quite possible, especially if it is within a non-windows environment. We knew that without the Microsoft.Data.SqlClient driver version 2.1.0 or greater, there will be issues with the Always Encrypted feature on MacOS and Linux platforms.

[2021-03-05 19:38] disfracted commented on #12611
I'm experiencing the same thing and I'm on Windows

[2021-03-05 19:41] #14322 closed

[2021-03-05 19:46] barbaravaldez commented on #14576
Hi @MsSQLGirl, do you know if this is a regression?

[2021-03-05 19:56] barbaravaldez opened #14578 "Handle concurrent calls in Initialize Books method."
- Azure Data Studio Version:
Version: 1.27.0-insider
Commit: 6ecacd6faa47b8b3c8d96abd4477a983ef583cdf
Date: 2021-03-03T23:32:47.800Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.3.0

When modifying multiple books at the same time, we need to handle concurrent calls, so that when a book gets refreshed it doesn't end in a weird st

[2021-03-05 20:01] kburtram commented on #14022
We pick up vscode changes periodically on an on-going basis.  So we don't track individual upstream features as issues in the repo.  Thanks!

[2021-03-05 20:01] #14022 closed

[2021-03-05 20:23] MsSQLGirl commented on #14576
I'm not sure actually. @chlafreniere has been looking into this.
Chris mentioned that he could repro in stable, and couldn't repro it in the Insiders version anymore. I just also tested, and confirmed that is the case.

[2021-03-05 20:23] kburtram commented on #13429
We haven't been able to repro widespread upgrade issues with ADS on Big Sur.  I'll close this out due to this.  If anyone is still experiencing issues, please open a new issue with details of the crash from the Developer console.  Thanks!

[2021-03-05 20:23] #13429 closed

[2021-03-05 21:07] kburtram commented on #11260
@jpsebasti you shouldn't need to enable an Azure Account Configuration.  This setting is mostly for isolated cloud environments for certain regions/entities.  Could you please check in the Help->Developer Tools console to see if there are any errors there?

@cssuh any ideas how to troubleshot or correct the issue @jpsebasti is encountering?

[2021-03-05 21:09] kburtram commented on #12992
This looks similar to https://github.com/microsoft/azuredatastudio/issues/6450.  I close this as duplicate of that issue to consolidate the bug reports and diagnostic info.

[2021-03-05 21:09] #12992 closed

[2021-03-05 21:11] kburtram commented on #13836
This looks similar to https://github.com/microsoft/azuredatastudio/issues/6450.  I'll close this as a duplicate to consolidate the investigations.  There may be multiple issues showing up with similar buggy behavior, but having related discussions in one issue helps track the various diagnostic logs easier.

[2021-03-05 21:11] #13836 closed

[2021-03-05 21:16] acohenOT commented on #12992
@kburtram not sure these are duplicates. This problem started with 1.23.0 (it worked in 1.22.1) -- the other issue #6450 was a problem way before that. Also this issue has no timeout or any other error when you expand the Database Folder - it just shows nothing. Appears to only affect on-prem SQL Server and not Azure.

[2021-03-05 21:16] kburtram commented on #14136
@cssuh do we know how long the AAD tokens are expected to valid prior to expiration?  I assume this issue is just that we need to auto-renew the refresh token when expired?

[2021-03-05 21:18] kburtram commented on #14326
Fixe in latest insider build

[2021-03-05 21:18] #14326 closed

[2021-03-05 21:23] chlafreniere commented on #14578
@barbaravaldez what's the impact of this bug? I'm not super clear here what can happen.

[2021-03-05 21:23] kburtram commented on #14211
@abist could you please try to determine what's happening here?

[2021-03-05 21:30] kburtram commented on #14541
The results grid has a different setting for active focus cell vs. active selected cell.  I can't recall the exact reason for this, though I agree having a single focus and selection setting seems more intuitive to me.  You can workaround this by pushing `Shift-UP ARROW Shift-DOWN ARROW` to move the selection state to the current focus cell.

[2021-03-05 21:43] barbaravaldez commented on #14578
@chlafreniere actually I thought this would happen rarely, but I could repro twice when moving sections back to back for a while.
The weird state it enters is that it won't load the book completely. I'll put this for March Release

[2021-03-05 21:45] chlafreniere commented on #14578
Ok. If you can already repro, then let's try to fix it for March if we can, @barbaravaldez. Just wanted to make sure this was a problem that we've been able to see in action 😄.

[2021-03-05 21:55] cssuh commented on #14305
This is expected behavior and is in line with what vscode does.

[2021-03-05 21:55] #14305 closed

[2021-03-05 22:21] iperez79 opened #14580 "I cannot access the Accounts section of Azure Data Studio to add a new Azure subscription I created..."
- Azure Data Studio Version:

Steps to Reproduce:

1. I clicked on the accounts icon
![image](https://user-images.githubusercontent.com/60801869/110178655-64a0eb00-7dcc-11eb-8ab6-bf1a0de165ad.png)

2. A popup showed I had no linked accounts  (which is strange because I am already connecting with a previous subscription I added a while back)
![image](https://user-images.githubusercontent.com/608018

[2021-03-05 22:50] chlafreniere opened #14582 "Create Book String Inconsistency"
![image](https://user-images.githubusercontent.com/40371649/110182618-f9eab200-7dc1-11eb-8b79-a82674cb4b58.png)

![image](https://user-images.githubusercontent.com/40371649/110182647-08d16480-7dc2-11eb-8ea8-ee2c58ac13a1.png)

[2021-03-05 23:22] #14345 closed

[2021-03-05 23:23] #14558 closed

[2021-03-05 23:33] chlafreniere commented on #14576
This was fixed by #14529. New for March.

[2021-03-06 00:13] MsSQLGirl commented on #14576
Note: this happens to existing notebook files not just a fresh oneNote to Notebook copy+paste.

[2021-03-06 00:17] sql-sith commented on #52
This is one of the show-stopper gaps preventing me from including ADS in my normal daily workflow. Like others, I use text to grab sp_helptext results. But there are other use cases. For example, to post results into a code block (say, on GitHub or in Slack), it is very easy to do some light editing, such as using rectangular selections to change column width, before pasting the text into the app

[2021-03-06 00:26] #14582 closed

[2021-03-06 00:28] kburtram commented on #14580
@iperez79 could you please check if there are any errors in the "Help->Developer Tools" Console?  Also, which extensions do you have installed?

[2021-03-06 00:40] alanrenmsft opened #14587 "query results filtering issues"
- [x] show user about the configurable max row count supported by filtering setting

- [x] add sort state indicator

- [x]  use virtualized list in the pop out menu - p2

- [x] there is a lag to restore the filtered editors when switching editors

- [x] copy selected cells are still based on the original results instead of the filtered/sorted results

- [x] when the filter pop out shows up, the fo

[2021-03-06 01:34] #14344 closed

[2021-03-06 02:39] #14565 closed

[2021-03-06 13:51] notyourninja commented on #14548
hi @alanrenmsft,
to clarify this was in using a notebook, please see screenshot here. please disregard the **, that was a slight error in trying to obfuscate the query.
![2021-03-06 08_45_34-Edit Check Validation ipynb - Azure Data Studio](https://user-images.githubusercontent.com/15051875/110209156-e50d2d80-7e58-11eb-8396-e056918e5d6e.png)

[2021-03-06 22:48] MsSQLGirl opened #14592 "WYSIWYG - Quote Block Shift Tab causes the second line to be the first line"
- Azure Data Studio Version:
Version: 1.27.0-insider (user setup)
Commit: f6f45bc3f96cf1be5cabd3e153345afbeb7fced0
Date: 2021-03-05T18:03:45.837Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Using WYSIWYG create a quote using Tab.
2. Type something and then do `Shift` + `Enter` to create a li

[2021-03-06 23:00] MsSQLGirl opened #14593 "WYSIWYG - inconsistent tab behavior Quote Block vs Code Block"
- Azure Data Studio Version:
Version: 1.27.0-insider (user setup)
Commit: f6f45bc3f96cf1be5cabd3e153345afbeb7fced0
Date: 2021-03-05T18:03:45.837Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Start a new notebook
2. In WYSIWYG mode, press `Tab` then write something. This should let you create

[2021-03-06 23:09] MsSQLGirl opened #14594 "WYSIWYG - inconsistent Enter behavior when editing Quote block"
- Azure Data Studio Version:

Steps to Reproduce:

1. Create a new notebook
2. Press `Tab` to start a quote block. Type something, press `Enter`, type something, press `Enter`, type something.
3. Press `Esc`. Now you should end up with three separate Quote blocks.
4. Go back to the cell and edit it. Go to the first line. Press `Enter` then type a new line.
5. Press `Esc`. Now you would end up with

[2021-03-06 23:22] MsSQLGirl opened #14595 "WYSIWYG - support for creating a table"
**Is your feature request related to a problem? Please describe.**
Need to be able to create a table easily without learning markdown.

**Describe the solution or feature you'd like**
One button to create _x_ columns and _y_ rows. So that users can start editing within cells.

**Describe alternatives you've considered**
Create a table in Excel and copy + paste.

**Additional context**
Add any othe

[2021-03-07 05:41] MsSQLGirl commented on #13305
It looks like

[2021-03-07 11:33] aricc commented on #14480
@Charles-Gagnon
I uploaded the logs 4 days ago, have you received it?

[2021-03-07 16:32] Charles-Gagnon commented on #14480
I did but it's still unclear exactly what the issue is - here's some more information that might help :

1. Are you being a proxy?
1. Can you reach https://raw.githubusercontent.com/microsoft/azuredatastudio/main/extensions/arc/images/extension.png through a normal web browser?
1. Go to Help -> Toggle Developer Tools -> Network tab and then copy any errors you see there

[2021-03-08 00:52] aricc commented on #14480
@Charles-Gagnon
1.I'm not
2.I can't
ping raw.githubusercontent.com , request could not find the host
ping www.githubusercontent.com , can receive the reply normally
3.network traffic can not be copied,see the attachment.
![Snipaste_2021-03-08_08-49-43](https://user-images.githubusercontent.com/1269692/110261498-757b7780-7feb-11eb-871c-3f30ff9ea970.png)

[2021-03-08 07:16] cssuh opened #14596 "March 2021 Release Endgame"
# March 2021 Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.27

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

[win-user]: https://go.microsoft.com/fwlink/?linkid=2132305
[win-system]: https://go.m

[2021-03-08 14:38] jpsebasti commented on #11260
I'll also note that the error on a Mac says:  Go to Settings->Search Azure Account Configuration -> Enable at least one cloud.

On a mac, the flow is actually Azure Data Studio->Preferences->Settings    to get to the Settings menu.  Also, the error that I'm getting as shown above says "Search Azure Account Configuration"  what does that mean?  Does it mean put the words "Search Azure Account Confi

[2021-03-08 14:47] CoolDadTx commented on #14496
Here's another query.

[code]

This query is valid. When I originally ran it the first 2 times it had errors such as bad alias and unknown function. It correctly reported the errors. After I fixed those errors and got to this query I ran it and ADS started running the query and never stopped.  Closing ADS and opening it back up, opening a new query window, pasting the above query in and then runni

[2021-03-08 16:44] grayspace commented on #6450
I don't always get an error, and the issue seems to be occurring less frequently than before, but I have gotten the same error as in the @tbolon screenshot.

[2021-03-08 17:03] Charles-Gagnon commented on #14480
Interesting - are you behind a corporate firewall? Or is there any other reason why you don't think you'd be able to reach the raw.githubusercontent subdomain?

What error

Unfortunately there isn't really much we can do if you can't reach that subdomain since there's a number of things we pull from there- this seems to be a problem with your network configuration. You could try reaching out to th

[2021-03-08 18:03] alanrenmsft opened #14598 "focus outline for toolbar item is overlapping with the item"
![image](https://user-images.githubusercontent.com/13777222/110361929-80d3a080-7ff5-11eb-8fa8-5f7f57b4c02b.png)

[2021-03-08 18:03] barbaravaldez commented on #13000
This is issue was fixed in #14210

[2021-03-08 18:03] #13000 closed

[2021-03-08 18:05] alanrenmsft opened #14599 "icon column for sql assessment grid should not be resizable"
![image](https://user-images.githubusercontent.com/13777222/110362101-bc6e6a80-7ff5-11eb-8b5d-05905abdf70c.png)

might be caused to my recent changes.

[2021-03-08 18:21] alanrenmsft commented on #14461
I am able to reproduce the issue with azure sql server.

[2021-03-08 18:31] alanrenmsft commented on #14496
thanks @CoolDadTx  I will take a look at this issue.

[2021-03-08 18:40] alanrenmsft commented on #14548
notebook and query editor share the same grid component. For this particular row, what is the actual value of P.[Amount Reporting Ccy]?
I tried the following query in notebook
`select ISNULL(NULL, 0.0) * -1.0 as 'ColumnA'` but not able to reproduce the issue, I suspect that value is not null.

[2021-03-08 18:46] drizztdourden08 commented on #8331
@gitdrk Only your solution actually brought some light to this.

It is incredible the number of issue this app have that they just don't care to fix. I have been on multiple post for different issues and it's always the same answer and months old stuff in backlog. In the meantime, they add functionality that nobody cares about except them.

If only they'd give the same attention to ADS that VsCode

[2021-03-08 19:18] kburtram commented on #14596
@cssuh since we tracking this release test sign-off through ADO I don't think we need this issue anymore.

[2021-03-08 19:23] kburtram commented on #14514
@jaapie are you seeing any errors in the "Help->Toggle Developer Tools" Console?  We haven't had wide-spread reports of this problem yet, so I'm wondering this is an installation issue.  (i.e. the colorization comes from a metadata file that is dropped into the installation directory, so I wonder if a problem is occurring reading that file).

[2021-03-08 20:45] chlafreniere commented on #14325
Initial implementation is in March. The question re: the find widget popping up will be post-March

[2021-03-08 20:46] chlafreniere commented on #14557
If this makes it in, this will go into insiders. Discussed with @qifahs during our scrum today. Moving out from March release milestone.

[2021-03-08 21:12] drizztdourden08 opened #14602 "ADS re-open previously closed tabs"
- Azure Data Studio Version:

Steps to Reproduce:

Same issue as "ADS reopen closed files #4381"

1. Work in ADS
2. Close some tabs
3. Close ADS normally
4. Re-open ADS
4.1 If you left some tabs opened before closing, they'll open along with the one you already closed
4.2 if you left nothing opened and unsaved, only the one you closed will open

I am unsure what triggered that exactly to be honest

[2021-03-08 21:20] drizztdourden08 commented on #14602
Also, these seems to be the only opened tab that don't ask to "save or discard". they just close straight no prompt.

[2021-03-08 21:22] lucyzhang929 commented on #14576
@chlafreniere @MsSQLGirl Can this issue be closed now since it was fixed by https://github.com/microsoft/azuredatastudio/pull/14529?

[2021-03-08 21:25] drizztdourden08 commented on #14602
Correction: It's 4 tabs that won't close. The first one in the screenshot was one of them. (called "SQLQuery_5")

Troubleshoot:
1. I closed everything
2. Opened ADS
3. Modified one of the buggy tabs
4. Closed ADS
5. Upon re-opening, ADS opened the same 4 buggy tabs again alons with the one I just modified. These 4 tabs are stuck somewhere.

I tried a few functions from F1 but couldn't find anythin

[2021-03-08 21:41] alanrenmsft commented on #14596
we can leave the RC build link in this issue.

[2021-03-08 21:49] dzsquared opened #14603 "sqlproj - keep new object input box open when user navigates UI"
For a user to be able to navigate the OE tree or look at another application while writing a new object/table/procedure name in SQL database projects, the input box needs to remain open on alternative focus.
the `ignoreFocusOut: true` property would allow the user more flexibility in writing the name
https://code.visualstudio.com/api/references/vscode-api#QuickInput

[2021-03-08 23:09] alanrenmsft commented on #14548
@notyourninja could you please also try the query I posted?

[2021-03-08 23:47] franciscohanna92 commented on #11492
I'm having this issue on:
![image](https://user-images.githubusercontent.com/12707758/110396859-81992080-804f-11eb-88d1-c5bee8054c16.png)

[2021-03-09 00:09] Charles-Gagnon commented on #14507
@halerankin Please sync up with @chlafreniere if you want to bring this to ask mode for the March release

[2021-03-09 00:09] bronthulke opened #14606 "Failure to run queries after short idle time"
It seems sometimes when I don't do anything in Azure Data Studio for a while (e.g. about 20 minutes), when I next try to run a query it, it gets stuck just saying "Executing query...".  If I hit "Cancel" nothing happens, it doesn't cancel anything.  The connection still shows as connected (it has a green dot on it).

I've experienced this when connecting to a remote Azure SQL Database AND just a l

[2021-03-09 02:05] #14407 closed

[2021-03-09 04:34] chlafreniere commented on #14507
Tested in main and looks good. Reopening for Ken's consideration:
![image](https://user-images.githubusercontent.com/40371649/110419171-a5f3fd80-804d-11eb-8c93-983036eb38be.png)
![image](https://user-images.githubusercontent.com/40371649/110419192-b0ae9280-804d-11eb-940b-f3c1e2e10e88.png)
![image](https://user-images.githubusercontent.com/40371649/110419206-b73d0a00-804d-11eb-831c-e094a1f3e547.png

[2021-03-09 06:10] firxworx commented on #6450
We reported similar issue in #13836 that was closed due to possible duplicate with this one. I'm not sure that it exactly is but it could be related. Over in that one we [multiple users] note cases where everything runs as expected in SSMS but not ADS.

With ADS I had read-only users with sufficient permissions to view db/tables and when I encountered the issue I even tried explicitly granting VIE

[2021-03-09 12:08] encimita opened #14610 "Content is lost if editing in both rich text mode and split view mode"
Issue Type: <b>Bug</b>

- Open the attached notebook (rename BEFORE.txt to BEFORE.ipynb:
[BEFORE.txt](https://github.com/microsoft/azuredatastudio/files/6108330/BEFORE.txt))
- Select the markdown cell containing the subtitle "### Pointers", double click to edit
- Change the cell view to Split view
- On the left side of the cell (the markdown one, not the preview one), select all the text from the

[2021-03-09 16:33] jagdishrajan opened #14612 "Toggle Between Query and Results with Focus"
**Is your feature request related to a problem? Please describe.**
In [13661](https://github.com/microsoft/azuredatastudio/issues/13661) I asked to I have focus put on the Results pane after running a query by pressing F5 rather than having to use the mouse to navigate to the results pane or the messages pane. The toggle query results (Shift+Windows+R) works but it doesn't place the focus on the R

[2021-03-09 17:53] chlafreniere commented on #12891
Since this was moved to a different release, removed the Approved label.

[2021-03-09 18:12] kburtram opened #14615 "'Start Tour' button isn't working on preview Welcome page"
- Azure Data Studio Version: `1.27 RC`

Steps to Reproduce:

1. Open Preview Welcome page
2. Click `Start Tour` button

Expected: Tour started

Actual: Nothing and exception in the log.

[code]

[2021-03-09 18:23] chlafreniere opened #14616 "Extension Settings Sync Dialog Pops Up when Upgrading Extension"
When upgrading the Arc extension on the RC build, the following dialog popped up for me:
![image](https://user-images.githubusercontent.com/40371649/110518669-39b2e180-80c1-11eb-9f00-69ffbaa490ee.png)

It was my impression that settings sync isn't functional for ADS yet. If I'm correct, then it doesn't make a lot of sense for us to display this dialog.

Note: I don't have any reason to believe thi

[2021-03-09 18:30] kburtram opened #14617 "Should not show warning for vscode extension recommendations not found in ads marketplace"
- Azure Data Studio Version: master
Steps to Reproduce:

1. Open a workspace with vscode extension recommendations

Expected: no warnings

Actual: Warning about extensions missing from marketplace.  The extensions are expected to be missing and user cannot correct, so the warning is unneeded and a little confusing.

![image](https://user-images.githubusercontent.com/599935/110519585-5ac80200-80c2-

[2021-03-09 18:35] kburtram opened #14618 "Should not suggest extensions based on .JS file extension"
- Azure Data Studio Version: `1.27 RC`

Steps to Reproduce:

1. Open a .JS file

Expected: No extension recommendation prompts

Actual: Prompted to install extensions for .JS files (which we don't have any in marketplace).  When clicking the search button, the search results are incorrectly filtered and show unrelated extension results.

*Prompt*
![image](https://user-images.githubusercontent.com/

[2021-03-09 18:40] kburtram commented on #14618
FYI, I see recommendations for Edit Data documents too.

![image](https://user-images.githubusercontent.com/599935/110520891-e726f480-80c3-11eb-80a0-74e9b8ebed13.png)

[2021-03-09 18:43] chlafreniere opened #14620 "Charts Do Not Render Properly"
Charting doesn't appear to work as expected in RC build.

I did a quick `select * from sys.tables` in the query editor (

RC build:
![image](https://user-images.githubusercontent.com/40371649/110520854-dc6c5f80-80c3-11eb-9052-31cbb522678f.png)

February release:
![image](https://user-images.githubusercontent.com/40371649/110520917-f017c600-80c3-11eb-90ea-fad545397d13.png)

[2021-03-09 18:43] yunghk opened #14621 "Error when connecting to SQL Server"
- Azure Data Studio Version:
Version: 1.26.1 (user setup)
Date: 2021-02-24T23:42:55.085Z
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:
1. Open ADS
2. New connection: Microsoft SQL Server
3. Enter credentials, <default> database, connect
4. Double-click on Server explorer

Server connection keeps on loading and do not expand the server explorer as expected.

Error log using DevTools:
`
ERROR T

[2021-03-09 18:56] kburtram opened #14622 "azuredatastudio-python should either be marked preview or have a 1.0+ version number"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open a Python notebook and install a new Python runtime

Expected: If preview software is being used then the experience should be marked preview and placed behind the "Enable Preview Features" flag.

Actual: Python notebooks are not behind preview flag, but install a 0.0.1 version python runtime.  The version should be 1.0.0+ if the r

[2021-03-09 18:56] #14620 closed

[2021-03-09 19:01] Charles-Gagnon commented on #14616
I agree it's unlikely to be Arc specific but I'll take a look anyways

[2021-03-09 19:09] kburtram commented on #14621
@yunghk the error appears to be coming from the Manage dashboard.  Specifically one of the input box references is undefined.  Is there anything noteworthy about this server?  e.g do you have permissions to access, etc.

Do you know if other servers are working properly in the tool?  If not, you may try uninstall/reinstall in case something broke during installation.

Also, as a possible workaroun

[2021-03-09 19:11] Charles-Gagnon commented on #14616
@chlafreniere I can't repro this - and the code that controls this popup is checking for settings sync being enabled which should never be true.

Is this a fresh install? What do you see if you click the gear icon - do you see an option about enabling settings sync?

[2021-03-09 19:16] yunghk commented on #14621
@kburtram I don't have full permission on this server, but i tried connecting to a specific Database, that i have full permission, and the Explorer didn't work too.

I have noticed that i can do queries normally when connected to this last database, but when left-click in Manage, the Database Properties tab don't show anything but the loading icon.

[2021-03-09 19:21] kburtram opened #14623 "Issue Reporter dialog is blank"
- Azure Data Studio Version: `1.27.0 RC`

Steps to Reproduce:

1. Open Issue Reporter

Expected: Dialog renders

Actual: Dialog is blank.  No exception in the output console.

![image](https://user-images.githubusercontent.com/599935/110525481-7aaef400-80c9-11eb-9fb5-4167b7ab82b2.png)

[2021-03-09 19:48] MsSQLGirl opened #14625 "Notebook Split View scrolling issue when using ADS Notebook scrollbar"
Repro:

Version: 1.27.0-insider (user setup)
Commit: e2a585915531fa8660374dae93b0f4133adafd52
Date: 2021-03-09T06:40:58.670Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Description:
When using the ADS notebook to scroll, the Markdown edit mode is incrementally out of sync from the Preview. User has expressed that t

[2021-03-09 22:48] Charles-Gagnon commented on #14165
@rajeshsetlem The error states `The user account is disabled` - have you confirmed that the account you're attempting to use is indeed active?

[2021-03-09 23:31] lucyzhang929 commented on #14610
Hi @encimita, thank you for the detailed steps. This issue is fixed in Azure Data Studio Insiders (which can be downloaded here: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main) and will also be available in our next release (1.27).
Note: The other issue you mentioned around new lines disappearing is tracked here https://github.com/microsoft/azuredatastudio

[2021-03-09 23:31] #14610 closed

[2021-03-09 23:35] rajeshsetlem commented on #14165
@Charles-Gagnon The account is active in my AAD home organization. But since I got added to other AAD tenants, my account is locked out in one of them and ADS should ideally have improved exception handling.

[2021-03-10 00:24] Charles-Gagnon opened #14628 "Notebook navigation buttons sometimes don't show"
RC1/main

This seems to happen more in RC1/main although I was able to see it in 1.26 as well so seems like it might not be a full regression.

1. Open BDC 2019 book
2. Click the `Troubleshooters` section link
3. Click the `TSG101` link

Expected : `Previous` and `Next` buttons appear

Actual : No buttons

No errors in the console either

[2021-03-10 00:29] Charles-Gagnon opened #14629 "Provided books view opens Notebooks differently based on link source"
RC/main (not regression)

1. Open SQL 2019 book in Provided Books view
2. Click on the `TSG101` item in the view (editor opens)
3. Click `Troubleshooters` ToC section
4. In the MD editor click the `TSG101` link

Expected - existing `TSG101` editor is brought into focus
Actual - new editor is opened up with same content

One thing to note is that the link opens up an editor with this breadcrumb :

[2021-03-10 00:38] Charles-Gagnon opened #14630 "Book search action doesn't work"
Stable 1.26 & main

1. Open book in Notebook view
2. Click on magnifying glass next to book item
3. Enter search term in search box

Expected : Search completes successfully
Actual : Get error about a missing path

![image](https://user-images.githubusercontent.com/28519865/110557559-a8aa2d80-80f5-11eb-99d0-b5fa49c28564.png)

The issue seems to be the search path isn't constructed correctly - it's

[2021-03-10 00:54] strelok1 opened #14632 "Cannot open query plan"
- Azure Data Studio Version:
Version: 1.26.1
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:37:01.966Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0

- Steps to Reproduce:

1. Open any Sql Query plan exported by SSMS 18
2. Query plan doesn't open

Error in notification
Unable to open 'Query Plan': Cannot

[2021-03-10 02:22] kburtram commented on #14580
@iperez79 I saw a similar issue today and deleting %APPDATA%\azuredatastudio resolved the issue with the missing Azure settings.  You could try that, though removing that folder would reset the application state back to 1st-launch.  Please let us know if you see errors in the log files.

[2021-03-10 02:30] kisantia opened #14634 "Dacpac upgrade existing doesn't remember the correct database"
If you right click on a db that isn't the first one on the list, the database in the summary page of the deploy - upgrade existing flow is the first database in the list, not the one that was right clicked.

Looks like this was a bug already in 1.7.0, before https://github.com/microsoft/azuredatastudio/pull/14285. Might have been exposed by the modelview improvements made in November that caused m

[2021-03-10 15:23] erapade commented on #14136
Reading this: https://github.com/microsoft/azuredatastudio/issues/12165

I noticed my "azureTokenCache_azure_publicCloud" file was modified at 13:06 today and not it's 16:21 and I have lost access. I will delete that file and see if the issue goes away. En general, this happens for me maybe 10 times a day so it's very irritating.

[2021-03-10 15:33] erapade commented on #14136
I found this, don't know if this is related, but the change was happening approximate the same time as I started to get problems:
https://docs.microsoft.com/en-us/azure/active-directory/develop/configure-token-lifetimes#create-token-lifetime-policies-for-refresh-and-session-tokens
and this: https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-configurable-token-lifetime

[2021-03-10 19:11] aasimkhan30 opened #14644 "Allow selection of AD tenants in making azure core API calls."
Currently all the queries exposed by azure core run on all the tenants that are available in the passed account. Ideally, the callers should be able to select a tenant or a set of tenants to run these queries on.

[2021-03-10 19:53] erapade commented on #14107
Happens for me to:
notificationsAlerts.ts:40 Schema Compare failed: Unknown
onDidChangeNotification @ notificationsAlerts.ts:36
(anonymous) @ breadcrumbsModel.ts:294
fire @ event.ts:570
addNotification @ notifications.ts:205
notify @ notificationService.ts:94
(anonymous) @ mainThreadLogService.ts:16
ZoneAwarePromise @ C:\Program Files\Azure Data Studio\resources\app\node_modules.asar\zone.js\dist\

[2021-03-10 20:03] chlafreniere commented on #12611
Merged into release/1.27.

[2021-03-10 20:03] #12611 closed

[2021-03-10 20:37] ahartman89 opened #14645 "Group items in side panel by schema."
Issue Type: <b>Feature Request</b>

I'd like the tree view/object explorer/side bar to group items by schema.

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 10.0.19042

[2021-03-10 21:08] SakshiS-harma opened #14647 "Create table using tsql queries instead of deploying dacpac in SC Integration tests"

[2021-03-10 21:59] udeeshagautam opened #14649 "Name-suffix of the backup file after a differential backup is not getting reset"
- Azure Data Studio Version:
Update : the name suffix this is fixed last week only the reset is fixed.

Steps to Reproduce:

1. select backup on a DB - dialog opens with suggested file name of bak file with suffix "Full" and backup type Full
2. change backup type to differential - the suggested name prefix  doesnt change (which is not good but ot very bad)
3. do the backup and close
4. select some

[2021-03-10 22:26] barbaravaldez opened #14652 "Clicking on search result may expand code cells in notebook"
Open a book and search for a term. Click on a notebook, search filter will be triggered in the selected notebook and some code cells could be expanded.
If user wants to close the notebook, then ADS will prompt the user to save the changes made to the notebook.

- Azure Data Studio Version:
Version: 1.27.0-rc1
Commit: cecc83c89dcd29ac21fa8edb7b4a43fdc6692c3b
Date: 2021-03-08T08:12:14.562Z
VS Code:

[2021-03-10 22:54] kisantia opened #14654 "There should be a notification when sqlproj is modified"
SSDT has a popup asking if you want to reload the project. It would be nice to have something like this in ADS too. Right now we only ask if they want to reload the project if the sqlproj is modified in ADS using the right click action "Edit .sqlproj File."
![image](https://user-images.githubusercontent.com/31145923/110708929-48c48d00-81b0-11eb-9d83-c4ff16be220f.png)

[2021-03-10 23:02] #14634 closed

[2021-03-10 23:07] udeeshagautam opened #14655 "Temporal Table drop is failing in Schema Compare Apply"
- Azure Data Studio Version:

Steps to Reproduce:

1. Compare a schema with temporal table to one without it
2. try to genrate script or apply
3. the oder of drop steps seems to be
- remove sys versioning
- dop anything depepndent on the table
- drop the table

order should be

- dop anything depepndent on the table
- remove sys versioning
- drop the table

The current order is causing script to f

[2021-03-11 00:08] alanrenmsft opened #14662 "deploy Azure SQL DB Edge fails due to create vm failure"
in create VM step, the following query returns empty array and caused the deployment to fail.

az vm image list --all --location westus --offer iot_edge_vm_ubuntu --publisher microsoft_iot_edge --sku ubuntu_1604_edgeruntimeonly

![image](https://user-images.githubusercontent.com/13777222/110715809-cbeae080-81ba-11eb-95a8-d9466ac60a4c.png)

[2021-03-11 00:58] alanrenmsft opened #14663 "notebook is not able to handle large output"
Steps to Reproduce:

you need to have azure cli installed.

1. open a new notebook
2. switch to Python3 kernel

**scenario** 1:
add the following code cell and run it

[code]

expected:
all the output are displayed

actual:
output truncated

**scenario** 2:
add 2 code cells
1st cell:
[code]
2nd cell:
[code]

the output of the 2nd cell is not shown instead, it shows the truncated output of the firs

[2021-03-11 01:23] alanrenmsft commented on #14632
@kburtram I tried this in previous stable builds, the issue is not new. did we ever support visualize the query plan file? my understanding is we should just treat this file as a normal text file, please confirm.

[2021-03-11 01:24] alanrenmsft commented on #14632
also, doesn't seem to be an ASK mode issue, I am going to move this out to April milestone. sounds good? @kburtram

[2021-03-11 02:41] chlafreniere commented on #14663
I can repro this; only on Windows.

[2021-03-11 03:04] #14578 closed

[2021-03-11 05:09] #14618 closed

[2021-03-11 09:31] jaapie commented on #14514
@kburtram please see the screenshot or check [console.log](https://github.com/microsoft/azuredatastudio/files/6121900/console.log). There are one or two errors, but I don't know their significance. Lots of warnings about sourcemaps but I suspect that's not a problem.

![image](https://user-images.githubusercontent.com/1159018/110765240-18f8b080-82a8-11eb-8dce-f3b535015947.png)

I might download an

[2021-03-11 17:45] Charles-Gagnon commented on #14616
@chlafreniere @kburtram I'm going to close this since I haven't been able to repro it and haven't heard of anyone else running into this.

I would be curious to know how Chris got into this state - but right now it doesn't seem like something worth investigating unless we hear of it happening to more people.

[2021-03-11 17:53] MsSQLGirl commented on #14483
Changing this to P2.

[2021-03-11 18:54] rajeshpandeyji opened #14669 "Failed to start SQL Tools Service"
Issue Type: <b>Bug</b>

After upading to my mac to new update of mac big sur 11.2.2, i am unable to open Azure Data Studio and even after recent update to 11.2.3 issue is not resolved.

Azure Data Studio version: azuredatastudio 1.26.1 (796abbdf5fdd341e3528e30a6b777c93e115eb02, 2021-02-24T23:37:01.966Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|

[2021-03-11 19:12] AlleghenyMW opened #14671 "Object Explorer Cannot Connect"
Issue Type: <b>Performance Issue</b>

I cannot connect to anything in Object Explorer. When trying to list databases, it times out, when trying to list logins, I get the error, an exception occurred.

Azure Data Studio version: azuredatastudio 1.26.1 (796abbdf5fdd341e3528e30a6b777c93e115eb02, 2021-02-24T23:42:55.085Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

[2021-03-11 19:19] joshbooker opened #14672 "db project references should use relative path when dacpac inside project dir"
- Azure Data Studio Version:
Version: 1.26.1 (user setup)
Commit: 796abbdf5fdd341e3528e30a6b777c93e115eb02
Date: 2021-02-24T23:42:55.085Z
VS Code: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:
1. Project Viewlet > Add Database Reference > choose dacpac inside the the project dir

This causes all db referen

[2021-03-11 19:42] chlafreniere commented on #14663
Also reproes in Jupyter, which is why this was moved out.

[2021-03-11 19:49] Charles-Gagnon opened #14673 "Resource Deployment type filtering persists across multiple deployments"
main/RC1

1. Open Arc controller dashboard
2. Click "New Instance"
3. Select `Azure SQL managed instance`
4. Type dropdown should contain only single value - `Azure SQL managed instance - Azure Arc (preview)`
5. Close wizard
6. Open Resource Deployment wizard from connections viewlet
7. Select `Azure SQL managed Instance`

Expected : Dropdown should contain all MI options

Actual : Dropdown only c

[2021-03-11 20:16] joshbooker opened #14674 "db project messy diffs when sqlproj edited in Visual Studio"
It appears certain edits in the Project Applet (ie: add file, add reference) cause the .sqlproj file to be re-written and there is an extra space on many lines.  This becomes a problem if/when the project is edited in Visual Studio which doesn't add the extra space.

This makes for messy diffs in source control.

Interestingly, ADS doesn't add extra space on lines I've edited manually such as thos

[2021-03-11 21:01] kisantia opened #14675 "Dropdown arrow overlaps with text"
example in schema compare dialog:
![image](https://user-images.githubusercontent.com/31145923/110854397-c4364500-8269-11eb-8916-8fe4e2a495ad.png)

[2021-03-11 21:05] Charles-Gagnon commented on #14616
Re-opening since Chris is still seeing this across multiple machines

[2021-03-11 21:06] zijchen opened #14676 "Database dropdown styling issue with extra long database names"
Azure Data Studio Version: 1.26.1

Steps to Reproduce:

1. Create and build a database project
2. Publish project -> select a server
3. Database dropdown dialog is misaligned:
![image](https://user-images.githubusercontent.com/13544267/110855557-5ee35380-826b-11eb-8dc6-b6892dae7d1a.png)

This only seems to be an issue when there are very long database names. Example when database names are short:

[2021-03-11 21:10] kisantia commented on #14674
in the last release we changed the behavior in ADS to add whitespace at the end of self closing tags since that's what Visual Studio does https://github.com/microsoft/azuredatastudio/pull/13805. We can consider making this a configurable setting if that would be helpful.

[2021-03-11 21:15] joshbooker commented on #14674
thanks Kim for your reply.  I must have had it backwards.  I noticed this sometime ago in VS then saw it again today so it was the new release rather than an ongoing discrepancy.  As long as the tools do it the same way, my needs are met. case closed.

Thanks again for all your hard work.  We're really loving the ADS Project tooling.

[2021-03-11 21:39] #14615 closed

[2021-03-11 21:44] rajeshka opened #14678 "Markdown editing causes notebook file corruption"
- Azure Data Studio Version: 1.26

A notebook was edited repeatedly and it seems that the closing ] bracket of got misplaced.
<img width="414" alt="image" src="https://user-images.githubusercontent.com/29285871/110859138-d6b37d00-826f-11eb-8ed1-6fb0cb0d17ac.png">

[2021-03-11 21:49] joshbooker opened #14680 "feature: db project git init"
## Feature
it would be really swell to have a one-click git init for db project directories which did the following repetitive tasks:

- initialize repo
- create readme.md
- create .gitignore

- stage all

Maybe this could be added as an option onto 'Create Project From Database' feature.

Currently doing this in terminal.
[code]
Which works well but gets repetitive with many nested projects in wo

[2021-03-11 21:58] kisantia commented on #14674
Ok I'll close this issue then. Feel free to open again if it would be useful to have this as a configurable user setting.

Thanks for the feedback! :)

[2021-03-11 21:58] #14674 closed

[2021-03-11 22:21] barbaravaldez commented on #14628
I checked back to September 2020 Release and it seems that when opening a notebook from a link the navigation buttons won't show.

[2021-03-11 22:23] KevinLeeBuchan opened #14681 "Query execution hangs when executing query on SQL Server HA cluster"
Issue Type: <b>Bug</b>

There's not a lot of details to share...

I will connect to the SQL listener for the HA cluster.  It seems to connect just fine, but when I try to execute a query, it just hangs until it times out.  Sometimes I can drop and reconnect and it'll work.  Other times I have to close ADS and try again.

It does not happen every time, but it's often. Easily reproducible by followi

[2021-03-11 22:32] smartguest opened #14682 "Localization does not work for extensions (only for the core main file.)"
- Azure Data Studio Version: Insider
Steps to Reproduce:

Example:

1. Open a lang pack for ADS with any language.

2. In the package.json file there are either the main json file (id: 'vscode'), and extension json files (id: 'vscode.<extension_name>') as shown below:
![LocalizeScreenshot1](https://user-images.githubusercontent.com/18018452/110861640-46773700-8273-11eb-8e02-01554d6158a2.png)

3. H

[2021-03-11 22:55] llali opened #14685 "Ml extension - Azure model browse page doesn't render correctly"
- Azure Data Studio Version:

Steps to Reproduce:

1.From ML dashboard click on Make Prediction
2. from first page of the wizard select Azure
Expected: The page should show azure resource filter and models
Actual: Imported models are rendered inside the Azure page which is wrong

![image](https://user-images.githubusercontent.com/17187348/110866094-788b9780-8279-11eb-8584-ca7004ada221.png)

[2021-03-11 23:37] Charles-Gagnon opened #14686 "Welcome page layout is broken"
Current :

![MicrosoftTeams-image](https://user-images.githubusercontent.com/28519865/110869596-9825be80-827f-11eb-879a-65e1ee9f9099.png)

Previous release :
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/28519865/110869603-9a881880-827f-11eb-9ac1-07f15ee6954e.png)

[2021-03-12 00:23] chlafreniere opened #14687 "Attempting to Convert Empty Notebook Results in NullRef"
(1.27 RC build)

Note: **not** a regression

- Create new notebook
- Without adding any content, click the "Export Notebook as SQL" action.

Result:

![image](https://user-images.githubusercontent.com/40371649/110873142-f9509080-8285-11eb-8692-d670e81b7037.png)

[2021-03-12 01:36] chlafreniere opened #14690 "Notebooks: Database Name Not Shown in Attach To if Alias Exists"
Connect to a database that has an alias set.

Create a new notebook by right clicking on a database from OE (or from a dashboard) and selecting new notebook.

Expected: Attach To shows database name, e.g. "Alias (db_name)"
Actual: Only alias is shown, e.g. "Alias"

**Not** a regression from previous release. This may never have worked.

[2021-03-12 07:55] alanrenmsft commented on #14681
Have you experienced the same issue with SSMS? @KevinLeeBuchan

[2021-03-12 09:38] BraveThrasher commented on #8918
After my comment about a year ago there seemed to be progress because after updating ADS a couple of times it did not lose any passwords again. I'm pretty much following the release timeline. However since the last update all my passwords are gone again. This is really a major PITA. I even find myself using pgAdmin 4 more frequent which is awful for only querying data.

Azure Data Studio version:

[2021-03-12 10:02] VasuBhog opened #14692 "Python Table Visualization scroll bar issue"
- Azure Data Studio Version: 1.27.0-rc1

Steps to Reproduce:

1. Python Notebook Dataframe visual does not have a scrollbar to view the full table
![image](https://user-images.githubusercontent.com/23587151/110911089-135e9300-82c7-11eb-9ce8-fc056a2be854.png)

**Not a regression.**

[2021-03-12 12:45] AlleghenyMW commented on #14671
[20210311T185948.zip](https://github.com/microsoft/azuredatastudio/files/6130077/20210311T185948.zip)
[Console.log](https://github.com/microsoft/azuredatastudio/files/6130078/Console.log)

[2021-03-12 13:56] sneevand opened #14693 "Synapse Spark Pool Notebooks"
Right now we have ability to write notebooks, but unable to execute notebooks connecting to apache spark pool created as part of Synapse

Give Notebook editor as in synpase, rather longing every time with synapse studio, would be helpful  if we we execute from AZD.

Let me know if we already support it or extension available .

[2021-03-12 14:17] JureBericic commented on #14320
I am in the same boat and proposed behavior would spare me a lot of clicking.

[2021-03-12 15:57] devlern opened #14694 "Option to display a list of connections & servers on the right hand side"
Please provide an option to display a list of connections & servers on the right hand side just like in a browser you can move developers tools from left to right, it would be great for the AZ Studio to have this flexibility as well

Thanks!

[2021-03-12 16:05] devlern opened #14695 "Please add ability to Search for a stored proc by name"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
---------------------------------------------------------------------------------------------------------------
When using AZ studio it can be difficult to find a stored proc when scrolling thru a list of 100s of procs
---------------------

[2021-03-12 16:44] Charles-Gagnon commented on #14694
You can actually do this already! Right click on the side bar and select `Move side bar right`

![image](https://user-images.githubusercontent.com/28519865/110970973-24cb8d80-830f-11eb-80a2-711e27647d0c.png)

[2021-03-12 16:44] #14694 closed

[2021-03-12 16:45] Charles-Gagnon commented on #14694
(There's also a `Toggle Side Bar Position` command that can be ran from the command palette to accomplish the same thing)

[2021-03-12 16:51] #13425 closed

[2021-03-12 16:55] llali opened #14696 "ML - Import model target table should get populated from user history"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Import models wizard
2. Select the Import source
3. select the model to import
4.  add model details
5. select the table location to import model to
6. after model imported repeat the steps from 1 to 5
Expected: in step 5, existing table should be selected by default
Actual: default is set to import to new table

[2021-03-12 16:57] llali opened #14697 "ML - Imported mode list get refreshed multiple times"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open predict wizard
2. click on next
expected: imported models should show up without refreshing
actual: list get refreshed multiple times

[2021-03-12 17:39] #14507 closed

[2021-03-12 18:01] Charles-Gagnon opened #14699 "Welcome page doesn't update layout correctly when maximized/unmaximized"
1.26.1/main

1. Open welcome page
2. Resize ADS window so it's small enough that the content is laid out in a vertical column
2. Maximize ADS
3. Unmaximize ADS

The Welcome page content is now cut off at the bottom. Manually resizing the window at this point will update the layout and cause it to be resized correctly.

![image](https://user-images.githubusercontent.com/28519865/110979727-d66fbc00-

[2021-03-12 18:04] Charles-Gagnon opened #14700 "Welcome page preview link doesn't show on small window widths"
1.26.1/main

1. Open the welcome page
2. Resize ADS to a smaller width

The "Preview" text/link at the top right will move off to the right and not be visible - the only way to get it back is to increase the window size again.

![WelcomePage_Preview](https://user-images.githubusercontent.com/28519865/110980053-441be800-831a-11eb-90e5-943d158ef902.gif)

[2021-03-12 18:37] alanrenmsft commented on #14695
@devlern

this feature is available in the database dashboard:
you can bring up the dashboard by the 'Manage' item of the database's context menu
![image](https://user-images.githubusercontent.com/13777222/110983220-55ff8a00-831e-11eb-8eca-83d9ee7f20a8.png)

in the search box, type: `sp:SearchText`
![image](https://user-images.githubusercontent.com/13777222/110983399-8e06cd00-831e-11eb-988c-8c40d7

[2021-03-12 18:53] #14662 closed

[2021-03-12 18:58] #12267 closed

[2021-03-12 19:01] wallig1 opened #14703 "ADS Insiders Update Install bug"
- Azure Data Studio Version: Insider

Steps to Reproduce:

1. Accepted update lastest version of ADS Insider
2. I interrupted the install
3. When I went back into ADS Insider I got this
![image](https://user-images.githubusercontent.com/71532375/110986178-30747f80-8322-11eb-9b26-de6279b71d3f.png)
4. Cannot go back into ADS - not sure if I need to delete and reinstall

[2021-03-12 19:36] Charles-Gagnon commented on #14703
At this point you'd need to reinstall - just running the installer again should fix any issues. Let us know if it doesn't!

[2021-03-12 19:36] #14703 closed

[2021-03-12 20:19] TroyWitthoeft commented on #13851
@schwammy  Thanks for reminding me of this.  Yes, this kinda died on the vine.  But, I went ahead and forked this repo and pushed my feature out on my own branch here.  https://github.com/TroyWitthoeft/azuredatastudio/tree/Feature-AutoAzureAD

[2021-03-12 20:25] ParminderGrewal commented on #447
I am facing the same issue now. Since mac does not support LocalDb, i had to install docker along with Azure Data Studio. Coming across following errors now.

Error 1: Cannot authenticate using Kerberos. Ensure Kerberos has been initialized on the client with 'kinit' and a Service Principal Name has been registered for the SQL Server to allow Kerberos authentication.
ErrorCode=InternalError, Excep

[2021-03-12 20:36] ParminderGrewal commented on #447
I was able to resolve this issue now: Change your connection string to the following.

"Server=localhost;Database=dbname;Trusted_Connection=False;MultipleActiveResultSets=true;User ID=sa;Password=yourPassword;"

On running the command in the terminal: dotnet ef database update  - successfully executes without any error. Also, I did not do any setup for Kerberos .

[2021-03-12 20:42] michaelblyons commented on #447
That's not Windows Authentication. That's SQL Authentication.

[2021-03-12 21:29] Charles-Gagnon opened #14712 "PG/MIAA Deployment page blank if no Arc controllers connected"
![image](https://user-images.githubusercontent.com/28519865/111000441-eb0e7d00-8336-11eb-8671-c71b94b8b649.png)

[2021-03-12 21:37] #14616 closed

[2021-03-12 21:47] KevinLeeBuchan commented on #14681
I do not experience this with SSMS.  In fact, I often switch to SSMS to continue my work, when I encounter the issue.

[console.log](https://github.com/microsoft/azuredatastudio/files/6133157/console.log)

[2021-03-12 21:47] KevinLeeBuchan commented on #14681
[20210312T162546.zip](https://github.com/microsoft/azuredatastudio/files/6133160/20210312T162546.zip)

[2021-03-12 22:16] lucyzhang929 opened #14715 "Notebooks: Relative links don't work in markdown preview"
- Azure Data Studio Version: 1.27 RC build
(not a regression)

Steps to Reproduce:

1. Open folder with notebooks in subfolder (Ex. open Desktop/ which contains Notebooks/)
2. Create new notebook
3. Add text cell
5. Right click a notebook in Notebooks/ folder in Explorer and choose copy relative path (Ex. Notebooks/test.ipynb)
6. In Split View, type: [link](/Notebooks/test.ipynb)
7. Click link in

[2021-03-12 22:29] nasc17 opened #14716 "Postgres reset memory limit takes in wrong value"
Version: 1.27.0-rc1 (user setup)
Commit: 26156b4e61e2e62153d4715cb3b07c0fb0ee8deb
Date: 2021-03-12T19:38:20.200Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:
1. Manage postgres instance
2. Pass in empty value to Memory limit input box

[2021-03-12 22:39] lucyzhang929 opened #14719 "Notebooks: Result table columns are squished after saving notebook with chart"
- Azure Data Studio Version: 1.27 RC build
(not a regression)

Steps to Reproduce:

1. Run query in notebook code cell that returns table with multiple columns
2. Click on chart option
3. Save notebook
4. Close and reopen notebook (chart is shown)
5. Click table option
6. Table columns will be squished
![Screen Shot 2021-03-12 at 2 34 22 PM](https://user-images.githubusercontent.com/23462877/11100

[2021-03-12 23:19] #14685 closed

[2021-03-12 23:50] #14716 closed

[2021-03-13 00:23] ssreerama commented on #14107
@VikAga I have tried the steps you mentioned to repro the issue, but couldn't repro it both ADS and SSDT SC. Could you please upload any sample bacpacs that you were able to repro the issue. Thanks :)

[2021-03-13 08:01] erapade commented on #14136
F.Y.I. Deleting the "azureTokenCache_azure_publicCloud" file didn't help, problem the problem reoccured after some time (1-2 hours)

[2021-03-13 18:55] JordanMarr opened #14723 "Simplify workflow for renaming a connection"
**Is your feature request related to a problem? Please describe.**
Renaming an existing connection is difficult / impossible for me.
My steps:
- I right click the connection
- I expect to see "Rename Connection", but I see "Edit Connection", so I click that
- I expect to be able to change things and save, but instead I see a "Connect" or "Cancel" button
- I add or modify the "Name (optional)" fiel

[2021-03-13 22:17] JordanMarr commented on #13308
I was creating a blog post on how to use Azure Data Studio with SQL Database Projects today when I realized that the Schema Compare tool is only one-way (from SQL Project to Database) which stopped me dead in my tracks.

There is no way to update the SQL Database Project from the Database as I am used to doing in Visual Studio Professional SSDT.

I wanted the blog post to showcase SSDT for Azure D

[2021-03-13 23:19] MsSQLGirl opened #14724 "Notebook - Ability to see and edit links in WYSIWYG mode"
**Is your feature request related to a problem? Please describe.**
User wants to see what link was created when in WYSIWYG mode.

**Describe the solution or feature you'd like**
Consider Display Text in WYSIWYG that has underlying markdown `[Display Text](URL)` ...

When users are using WYSIWYG mode:
1. Users can select the _Display Text_ that has been associated to some _URL_, and click on the Li

[2021-03-14 14:45] cadayton opened #14725 "Absolute poor PowerShell usage training material"
Issue Type: <b>Feature Request</b>

Absolute poor PowerShell usage training material.

All of the "How To blogs" that I have reviewed are fundmentality useless in doing anything meaningful with Azure Data Studio.  Most suffer from going from 0 to 60 in 2 seconds rather than taking a baby steps approach to presenting the detail.

Azure Data Studio version: azuredatastudio 1.26.1 (796abbdf5fdd341e35

[2021-03-15 14:27] clementhervy commented on #12293
I can attest to that happening on 1.26.1 almost every time I compare files, with/between either unsaved "SQLQuery_X" tabs or fully saved to disk files, in an active Git repo or not.

Only way to get the contents of the saved file to display again is by exit/restart or reloading the window. Unsaved files are lost as far as I can tell.

In total I must have lost a few hours of work that way.

[2021-03-15 14:42] glennoleum opened #14728 "Tab Confusion"
Issue Type: <b>Feature Request</b>

The current tab is indistinguishable from other tabs. I find myself closing all tabs so I know where I am.

Please change the appearance of the current tab.

Azure Data Studio version: azuredatastudio 1.26.1 (796abbdf5fdd341e3528e30a6b777c93e115eb02, 2021-02-24T23:42:55.085Z)
OS version: Windows_NT x64 10.0.19041

[2021-03-15 16:43] nasc17 opened #14729 "ADS align with consolidating multiple CRDs for postgresql."
This change  [PR 20817: Consolidate multiple CRDs for postgresql.](https://microsoft.sharepoint.com/sites/hrw/Pages/CompensationandPayrollHome.aspx) will require ADS to fix
postgres version is no longer in the resource's kind. It's in spec.engine.version. And we no longer need to pass --engine-version to the edit command.

[2021-03-15 16:45] RussellSmithGit opened #14730 "add account"
Issue Type: <b>Bug</b>

When I trie to add a connection, and use Universal with MFA support.  I select "Add account" it launches a browser (localhost:###) but the site claims connection is not secure.  and cannot proceed.

Azure Data Studio version: azuredatastudio 1.26.1 (796abbdf5fdd341e3528e30a6b777c93e115eb02, 2021-02-24T23:42:55.085Z)
OS version: Windows_NT x64 10.0.21332

<details>
<summary>

[2021-03-15 16:49] kburtram commented on #14730
@RussellSmithGit the AAD login redirect is opened as HTTP connection.  Some browsers have a setting that will auto-redirect HTTP to HTTPS, so you can likely workaround the issue by modify the URL in the web-browser to force the connection to HTTP.  Alternatively, there is a setting to switch to "Device Code" authentication in the User Settings (try searching for Device Code).  I think that auth me

[2021-03-15 17:04] cssuh commented on #14730
@RussellSmithGit Yes, please give the device code method a try.  You should be able to select it after selecting "Add Account" under the accounts view.  Also, what web browser are you using?

[2021-03-15 17:20] kburtram commented on #14725
@cadayton thanks for opening this issue.  I don't have context on which blogs you're referring to.  Could you please provide a couple example links?  The issues on this repo are mainly tracking product bugs and feature requests, but we may be able to forward this feedback to the correct owner with more context.

[2021-03-15 17:59] #14686 closed

[2021-03-15 18:48] #13678 closed

[2021-03-15 18:48] m4th13u79 commented on #14621
I installed v1.26 this morning and I have the same problem. I can execute query but when I try to manage the Database it doesn't work. I just have a loading spinner.

I got the following warning/errors in the console :
[renderer1] [warning] Could not find ServerInfo for connection f3e5f0a8-5cf8-4d09-97f6-b0e32f558851 when updating icon
[renderer1] [error] Error rendering widget explorer-widget {}

[2021-03-15 19:07] #14673 closed

[2021-03-15 19:40] vin-yu opened #14733 "Specify Replicas in MIAA deployment"
MIAA should be able to deploy with '1' or '3' replicas

[2021-03-15 19:55] barbaravaldez opened #14734 "[WYSIWYG] Add a link to a section"
Adding a link to a section works, until the code cell is modified then the link is replaced by workbench html.

Expected result:
`[Code](#code)`
Result:
`[Code](..\AppData\Local\Programs\Azure%20Data%20Studio%20-%20RC1\resources\app\out\vs\code\electron-browser\workbench\workbench.html)`

- Azure Data Studio Version:
Version: 1.27.0-rc1 (user setup)
Commit: 3368af9371f777338a7318e3c746f3dca390396d

[2021-03-15 20:00] #14603 closed

[2021-03-15 20:00] chlafreniere commented on #14576
Verified that it has been fixed by #14529. Closing.

[2021-03-15 20:00] #14576 closed

[2021-03-15 20:03] barbaravaldez opened #14736 "[WYSIWYG] Relative Link paths are changed when updating cells."
Absolute links are changed to relative links, but relative links are changed to a different path, when updating the code cell.
It's important to note that both links keep working, but it could be confusing for the user to see a different path from what they entered.
Actual result:
[code]

Expected Result:
[code]

Azure Data Studio Version:
Version: 1.27.0-rc1 (user setup)
Commit: 3368af9
Date: 202

[2021-03-15 21:41] MaddyDev commented on #14678
Duplicate of #14481

[2021-03-15 21:41] #14678 closed

[2021-03-15 21:42] MaddyDev commented on #14481
Fixed by #14529 Waiting confirmation from user.

[2021-03-15 21:57] Olga-B opened #14737 "extremely long wait time connecting to saved servers or executing simple queries and high system memory use"
Issue Type: <b>Bug</b>

hello this is happening consistently regardless of which server I connect to using either Recent or Saved connections

Azure Data Studio version: azuredatastudio 1.26.1 (796abbdf5fdd341e3528e30a6b777c93e115eb02, 2021-02-24T23:42:55.085Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10610U

[2021-03-15 22:00] MaddyDev commented on #13893
@tster123  Does ADS throw any error when you open the book? Also can you send me the toc.yml file and tell me what you're moving around in it. Thanks.

[2021-03-15 22:33] chlafreniere commented on #14623
@kburtram I see that this was merged. Can we close this issue?

[2021-03-15 23:11] tster123 commented on #13893
Seems like this issue has been fixed since I opened it.

[2021-03-15 23:11] #13893 closed

[2021-03-15 23:20] kisantia commented on #14523
@RohitJadhav-TCS can we close this as expected behavior?

[2021-03-15 23:27] Charles-Gagnon opened #14738 "Add Azure survey link to Welcome page"
Links to https://aka.ms/AzureSQLSurvey

![image](https://user-images.githubusercontent.com/28519865/110987940-b72a5c00-8324-11eb-8442-9bed8acd7431.png)

[2021-03-15 23:30] Charles-Gagnon commented on #14738
Shiproom approved separately

[2021-03-15 23:37] kisantia commented on #14363
@Yash14j the name "Database" gets announced right after combo box. Is there something I'm misunderstanding?
![image](https://user-images.githubusercontent.com/31145923/111234781-8e1bfc80-85ac-11eb-9adf-485d97cf6572.png)

[2021-03-16 00:25] #14738 closed

[2021-03-16 00:50] ghost opened #14742 "Connection Error"
Issue Type: <b>Bug</b>

Attempt to connect to previously working saved connection. It will not connect, and give the error message "Connection canceled" with no further details.

Azure Data Studio version: azuredatastudio 1.26.1 (796abbdf5fdd341e3528e30a6b777c93e115eb02, 2021-02-24T23:37:01.966Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|

[2021-03-16 00:51] chlafreniere commented on #12854
@MsSQLGirl what's the action item here? I'm not super clear.

This behavior is inherited from vscode:

![image](https://user-images.githubusercontent.com/40371649/111239650-d3ddc280-85b6-11eb-89aa-9fbdbb82ad66.png)

![image](https://user-images.githubusercontent.com/40371649/111239700-f5d74500-85b6-11eb-86d1-e28526c52143.png)

(github is below)

[2021-03-16 07:07] tcbjc commented on #14121
@cssuh @kburtram We are still waiting for Azure Data Studio support China Azure. I find the bug have moved to backlog from March 2021 Release, Would you please let us know when it can work?

[2021-03-16 08:19] Chutneypot89 opened #14744 "Unable to open 'SQLQuery_1 - sqldev...grated)': Maximum call stack size exceeded."
- Azure Data Studio Version:

Steps to Reproduce:

1. Run following query until complete

declare @cnt int = 1
while @cnt <= 130000
begin
print @cnt
set @cnt = @cnt + 1
end

2. Open a new Query tab window

3. Return to the first query window, that is when you will receive the following error:
    "Unable to open 'SQLQuery_1 - sqldev...grated)': Maximum call stack size exceeded."

4. Also it will e

[2021-03-16 08:30] kjartanvalur commented on #14159
How I fixed the problem

- Hit F1
- Select "Azure: Sign in"
- Removed the linked account.
- Add the account back.

https://github.com/microsoft/azuredatastudio/issues/8331

[2021-03-16 09:05] abist commented on #14737
@Olga-B Thanks for opening the issue. Could you please elaborate the problem you're facing? What happens when you try to connect using Recent or Saved connections?

[2021-03-16 09:17] abist commented on #14728
@glennoleum Thanks for opening the issue. The current tab always has a darker background compared to other tab backgrounds. Is there something else you're suggesting here?

[2021-03-16 10:29] demoolya opened #14745 "Create an Azure Arc data controller in the Azure portal - Provisioning Notebook Namespace Input"
- Azure Data Studio Version:
Version: 1.27.0-insider (user setup)
Commit: 9df7c6c1aa78e90ec084a66f5b4901d86c579387
Date: 2021-03-15T05:46:24.739Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Generate provisioning notebook for Azure Arc data controller with the steps mentioned in https://docs.

[2021-03-16 13:45] pauldj54 opened #14746 "After executing a schema compare"
- Azure Data Studio Version: 1.26.1
Steps to Reproduce:

1. Open a database project
2. Open the schema compare
3. Select as source the database project and as target the Azure Synapse Provisioned Pool as target
4. Run "compare"

Results:
![image](https://user-images.githubusercontent.com/706754/111319371-34780880-8666-11eb-8420-cfee05ab2a58.png)

Connection to the database works. I was able to cre

[2021-03-16 14:09] grantav opened #14747 "User identity not being assigned"
When I try to import a flat file using Azure Data Studio (1.26.1) using Universal with MFA support. I get an error at the end (screen shot attached) which I cannot select to paste here for some reason.

Details:
OS: Linux (x64 5.4.0-66-generic - ElementaryOS (ubuntu 18.04LTS))
VS COde: 1.48.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0

To replicate:
ctrl-I to

[2021-03-16 14:51] mhammons commented on #13931
Is this still an open bug? I am getting the same error when trying to use ADS to connect to a Dataverse using SQL.

Login failed: The HTTP request is unauthorized with client authentication scheme 'Anonymous'. The authentication header received from the server was 'Bearer authorization_uri=https://login.microsoftonline.com/043207df-e689-4bf6-9020-01038f11f0b1/oauth2/authorize, resource_id=https://

[2021-03-16 15:07] Charles-Gagnon commented on #14745
Thanks for the suggestion @demoolya! The Notebook in question is actually going to be replaced with a link that will open the Deployment wizard in ADS directly - so I'm going to close this since that should be happening before too long and this isn't blocking any scenarios.

[2021-03-16 15:07] #14745 closed

[2021-03-16 15:25] #14729 closed

[2021-03-16 16:06] Charles-Gagnon opened #14749 "Opening deployment from URI can fail if using custom options source"
When opening a deployment from a URI for a resource that has a custom options source the wizard may fail if the extension contributing the options source hasn't been activated yet. The exact behavior isn't defined, but a specific case is the Arc config options source which will just be a blank page until the user closes and reopens the deployment (or opens the URI again)

[2021-03-16 16:08] #14623 closed

[2021-03-16 17:04] Olga-B commented on #14737
@abist Sorry for the delayed response.
It depends. Often it just hangs indefinitely.
Just now, I tried opening a new querying editor and connecting to a server using a recent connection and it's been "connecting" for 5 minutes. During that time I've opened a new query editor in SSMS, connected to the same server and ran use to connect to a staging db and then a simple select top 10 from a table. A

[2021-03-16 17:05] #14712 closed

[2021-03-16 17:23] Olga-B commented on #14737
I just tried connecting using a saved connection instead of a recent one and got the following error this time (log file attached):
```An unexpected error occurred while connecting. Please [file an issue](command:workbench.action.openIssueReporter) with the title 'Unexpected Error Occurred while Connecting' and include the log file [C:\Users\OBlyumin\AppData\Roaming\azuredatastudio\logs\20210316T1

[2021-03-16 17:24] kisantia commented on #14746
looks like same issue as #14107

[2021-03-16 17:24] #14746 closed

[2021-03-16 18:11] #14749 closed

[2021-03-16 18:36] #14518 closed

[2021-03-16 19:57] WorldFootballLeague opened #14754 "In ADS on a Mac: Unable to load profile file"
- Azure Data Studio Version:
NOTE:  This error occurred on a Mac running ms sql server in a docker container.  I was able to use the same process on a windows machine (running ms sql server natively) without error.

Steps to Reproduce:
1. Open a sqlproj in ADS
2. Make sure you have a sql server running locally with a db you can deploy to
3. After updating the db name, intial catalog, user name, an

[2021-03-16 22:02] #14116 closed

[2021-03-16 22:45] #14599 closed

[2021-03-16 23:04] #14522 closed

[2021-03-16 23:13] #14598 closed

[2021-03-16 23:13] alanrenmsft commented on #14598
dev time only

[2021-03-16 23:49] kisantia opened #14760 "sql projects "open containing folder" not working correctly"
Version: 1.27.0

If you have multiple projects open, doing "open containing folder" on the different projects won't bring you to the correct file in file explorer or finder.

The correct uri is getting passed through the command to fileActions.contribution.ts. Looks like this got broken in the latest vscode merge. Right clicking on a file in the file explorer viewlet and doing "reveal in finder/fi

[2021-03-17 00:45] slaymaker1907 opened #14761 "Markdown in notebook not scrolling"
Issue Type: <b>Bug</b>

There should be a scroll bar which scrolls the entire length of the markdown cell for very large markdown cells when editing the raw markdown.

Note that when previewing the markdown in ADS, the scroll bar correctly accounts for the very long cell and the entire length of the cell can be scrolled through using the scroll bar.

It is possible to scroll through all the conten

[2021-03-17 04:22] Shivamd1 commented on #14304
@kisantia Could you please let us know in which build the issue is fixed so that we can verify?
Also could you please reopen the bug so that i can close it after verifying?

[2021-03-17 06:28] FransGer opened #14762 "Connect to azure sql database from script in git repo on Azure DevOps"
Issue Type: <b>Bug</b>

Connect to azure sql database from script in git repo on Azure DevOps

Azure Data Studio version: azuredatastudio 1.26.1 (796abbdf5fdd341e3528e30a6b777c93e115eb02, 2021-02-24T23:42:55.085Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) Platinum 8171M CPU @ 2.60GHz (4 x 2095)|
|GPU Status|2d_can

[2021-03-17 15:06] nellang commented on #11056
Still no update? I have the same issue :(

[2021-03-17 17:24] #4032 closed

[2021-03-17 17:33] abist commented on #14762
@FransGer Thanks for opening the issue! Could you please elaborate on the problem you're facing? Are you trying to query a database which fails?

[2021-03-17 17:45] kisantia commented on #14304
@Shivamd1 sure will do. I'll update the build and should be able to get it to you tomorrow

[2021-03-17 18:11] #14596 closed

[2021-03-17 18:46] VasuBhog commented on #14761
You are able to scroll the raw markdown cell, do you specifically mean you only want to scroll only inside the markdown cell and not the whole notebook?

[2021-03-17 19:41] FransGer commented on #14762
@abist Yes, I have a script that is sitting in a Git repo from Azure DevOps.
When I open a normal file and try and connect the DB in question, it works fine, but as soon as I try and open the script from the local repo and try and open the same connection it gives me this error.

Hope this is enough info to go on, if you need more please let me know :-)

![image](https://user-images.githubusercont

[2021-03-17 19:51] janecosham commented on #14159
When I went to the linked accounts it didn't have any listed, and if I tried to add one it said I didn't have any clouds enabled, although this had all worked previously. I uninstalled and also deleted the whole folder from my roaming profile folder and reinstalled fresh and now it is working again. Just uninstall/reinstall didn't help - it would be good to know what to delete from the settings to

[2021-03-17 20:04] EricBuMSFT opened #14776 "Attempting to "Create Azure Arc Data Controller" give account error"
Hi,

I get the following error in the "Create Azure Arc Data Controller" Wizard. Step 1.

ADS Insiders Build 1.27.0
Azure Arc Extension 0.9.0

Error: Error fetching subscriptions for account Eric Burgess - ericbu@microsoft.com tenant 105bXXXX-XXXX-XXXX-XXXX-24d304d195dc : Token retrieval failed with an error. Open developer tools to view the error
Error: Error fetching subscriptions for account Er

[2021-03-17 20:28] nasc17 opened #14777 "Postgres Resource Health Page shows instance as available when state is updating"
When the postgres instance is in an updating state but all of the pod conditions are successful, Resource Health page shows that instance is available.
![noconditionupdatehlath](https://user-images.githubusercontent.com/69922333/111533974-ab73d680-8724-11eb-9a5a-7142a0a83ef9.gif)

[2021-03-17 20:51] nasc17 opened #14778 "Cannot edit Postgres Instance"
When trying to save edits from Compute and Storage dashboard, no changes are being done in the backend.
Notification of instance updating pops up to the window and only azdata login is being run. Never getting to call on azdata arc postgres server edit.

- Azure Data Studio Version: 1.27.0-insider (user setup)
- Azure Arc extension Version: 0.9.0

Steps to Reproduce:
1. Manage PostgreSQL Hyperscal

[2021-03-17 21:59] nasc17 opened #14780 "Postgres Parameters Discard"
Postgres parameters page not discarding checkbox values.

Azure Data Studio Version: 1.27.0-insider (user setup)
Azure Arc extension Version: 0.9.0

Steps to Reproduce:

1. Manage PostgreSQL Hyperscale instance
2. Change values of parameters with checkbox
3. Discard changes
4. Change values of any parameters
5. Save changes
6. Look in spec to see if values that were supposed to be discarded have b

[2021-03-17 22:32] #14484 closed

[2021-03-17 23:15] #14780 closed

[2021-03-17 23:15] kisantia commented on #14523
closing as expected behavior on Mac, as previously approved in #5679 and #6847

@hannahqin fyi

[2021-03-17 23:15] #14523 closed

[2021-03-17 23:33] kisantia commented on #14754
@WorldFootballLeague can you share the contents of the publish profile to repro this (without the connection info of course)?

I was able to load this simple publish profile:
[code]

[2021-03-17 23:39] WorldFootballLeague commented on #14754
<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns=http://schemas.microsoft.com/developer/msbuild/2003>
  <PropertyGroup>
    <TargetDatabaseName>Database_Name</TargetDatabaseName>
    <DeployScriptFileName>Script.database.sql</DeployScriptFileName>
    <TargetConnectionString>Data Source=(LOCAL);Initial Catalog=NAMEOFDATABASE;User id=USER;Password=TYPEPASSWORDHERE</TargetCon

[2021-03-18 00:05] kisantia commented on #14754
looks like there were just quotes missing on the second line around "http://schemas.microsoft.com/developer/msbuild/2003". I was able to load the profile on mac after adding those. The error message in SSDT actually said what was wrong, so I will work on improving the error message in ADS.

[2021-03-18 00:07] WorldFootballLeague commented on #14754
Thanks.

From: Kim Santiago ***@***.***>
Sent: Wednesday, March 17, 2021 8:06 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: Wendy Lanning ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azuredatastudio] In ADS on a Mac: Unable to load profile file (#14754)

looks like there were just quotes missing on the second line around "http://schemas.microsoft.com/developer/msbuild/2003<https:

[2021-03-18 00:36] WorldFootballLeague commented on #14754
Even if I quote the line indicated, I still get “cannot open profile file.”  Now I get the error on the Windows machine too.  The example you sent me failed.  I do not have a prod variable set up.  And, I need the switches below.

<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <TargetDatabaseName

[2021-03-18 03:47] TroyWitthoeft commented on #13851
All right, I spoke with @kburtram on prior PR #14709.  I implemented his fixes, I believe I also found a bug fix.  New PR #14784 created.  Local testing looks good.

[2021-03-18 04:50] donkeyhit opened #14785 "Notebook-results of code cell cannot be cleared if the file is saved with results"
1, Open the notebook, and run some cells. The result will be shown below the cell. If I click save, the output will be saved.
2, Then, even I click "Clear results" button, the output is not displayed, but the "outputs" content is still in the file.
3, close this file and open the file again, the results of previously running the cell will be shown
4, these results can never be cleared in ADS

[2021-03-18 06:56] johnalbertginete opened #14786 "SQL SERVER AGENT extension not appearing in 'Manage'"
Issue Type: <b>Bug</b>

To reproduce the bug:
1. Install SQL Server Agent extension into Azure Data studio
2. Reload as necessary
3. Go to Servers or DB, right-click, then click Manage
4. You'll see that the new extension SQL Server Agent does not appear in any of the tabs

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:18:54.187Z)
OS ver

[2021-03-18 09:49] Kellett commented on #14070
Uninstalled, reinstalled. Still having the issue

[2021-03-18 13:31] ssSnowflake commented on #3817
Hey,

Any updates on the above feature?

Really starting to enjoy using Azure Data Studio but the nice to have features like splitting the code screen or popping out a query is a real bummer. I am having to open the application multiple times and then I can move the query windows across. Splitting code window I cannot find... which lead me here.

[2021-03-18 14:37] lucyzhang929 commented on #14785
Hi @donkeyhit, which version of ADS are you using? I am unable to repro this issue on the latest version (1.27)

[2021-03-18 16:00] Charles-Gagnon commented on #14786
What kind of server are you connecting to? The Agent tab won't show up if it's an Azure, SQL On Demand or if the connection is to a specific DB (it needs to be a top-level server connection)

[2021-03-18 16:20] #14441 closed

[2021-03-18 16:38] donkeyhit commented on #14785
Hi Lucy,

I am using 1.26.1. Not sure if that is the reason. But I have one file that
I cannot clear the results.

On Thu, Mar 18, 2021 at 7:37 AM Lucy Zhang ***@***.***> wrote:

[2021-03-18 16:44] lucyzhang929 commented on #14785
Can you update to the latest version of ADS and try clearing the results?

[2021-03-18 16:48] nasc17 commented on #14777
If the pods are ready, then it should be available and ready to accept sql connection. Resource Health status should not be changed. Bug is elsewhere.

[2021-03-18 16:48] #14777 closed

[2021-03-18 17:24] #14736 closed

[2021-03-18 17:40] slaymaker1907 commented on #14761
Either would be good, but currently neither works. It's actually even worse than I initially thought since ADS is removing semantic whitespace. [example.zip](https://github.com/microsoft/azuredatastudio/files/6166157/example.zip) has a notebook file where newlines between paragraphs were removed. I just generated [lorem ipsum using 20 paragraphs](https://lipsum.com/) and then pasted it several tim

[2021-03-18 18:07] abist commented on #14786
@johnalbertginete Also make sure you have the preview settings switched on in the user settings for Agent to show up.

[2021-03-18 18:23] slaymaker1907 commented on #14761
Issue with deleted newlines seems to have been resolved with the latest update (1.27.0). However, the scrolling issue is still present.

[2021-03-18 18:50] VasuBhog commented on #14761
Unable to repro issue of Markdown **not** scrolling in both Windows and Mac.

[2021-03-18 19:15] kisantia opened #14789 "sql project can't load profile with connection string ending in ;"
example publish profile:
[code]

profile loads correctly if you remove the last semicolong before </TargetConnectionString>. The profile should still be able to load even if there's a semicolon there.

[2021-03-18 19:15] kisantia commented on #14754
@WorldFootballLeague sorry the example I sent was meant to just show the format I was requesting for sharing the publish profile. I was able to repro the error and looks like it's because of the semicolon at the end of the target connection string. If there's no semicolon before </TargetConnectionString> the profile will load successfully. I have opened a bug to track fixing this #14789

[2021-03-18 19:24] VasuBhog commented on #14761
The issue is that with a large Markdown Cell the scrollbar is not representative of the size of the cell and if you use the scrollbar to scroll to the bottom it may not be the end of the cell. Instead, the user will have to use a scroll wheel or mouse pad to continue scrolling properly.

[2021-03-18 19:30] kisantia commented on #14304
@Shivamd1 build is now updated. Please test using the insiders build and version 0.8.0 of the sql database projects extension

[2021-03-18 19:37] #14360 closed

[2021-03-18 19:51] galel52 opened #14791 "AD will not connect from ADS on laptop, Does on server"
Issue Type: <b>Bug</b>

When I try to connect from my laptop AD Windows Authentication fails but works on destination Server.  Used to work without failure.
Microsoft.Data.SqlClient.SqlException (0x80131904): Failed to generate SSPI context.
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data

[2021-03-18 20:01] NavtejSaini-MSFT commented on #14744
@alanrenmsft Please help us with this issue as this has been raised on [Microsoft Q&A](https://docs.microsoft.com/en-us/answers/questions/314719/index.html) as well and Cx is blocked here.
Let us know if we need to get some info from Cx.

[2021-03-18 20:09] alanrenmsft commented on #14744
@NavtejSaini-MSFT sure, let me try to repro it.

[2021-03-18 20:29] EdCallahan commented on #13217
Still broken in azuredatastudio 1.27.0

[2021-03-18 21:50] joshbooker commented on #14680
Here's our method for doing this with VSCode Extension and User Task.

Uses an extension for a sub-directory Quick Picker then executes the script below to do the following:

- initialize repo
- create readme.md & .gitignore
- stage all
- first commit
- create github repo
- add remote and push to github
- add git submodule to parent workspace repo

**Please Note: git submodules are awesome way to

[2021-03-18 22:51] joshbooker commented on #14362
+1

New Database and BackUp/Restore is nearing the only reason I open SSMS these days.

There is a [new database extension](https://github.com/kevcunnane/azuredatastudio-newdatabase) but would be nice to have OOB.

Thanks for listening.

[2021-03-19 01:01] SakshiS-harma opened #14799 "Telemetry for Sql Db projects doesn't capture elapsed time correctly"
This PR https://github.com/microsoft/azuredatastudio/pull/14088 added telemetry for Sql db projects.
But for measuring the elapsed time, getTime() method should have been used instead of getMilliseconds(). So for now, the measurement isn't accurate.

[2021-03-19 05:49] johnalbertginete commented on #14786
Thanks for your responses @Charles-Gagnon and @abist!

I am connecting to an Azure SQL Server so I guess that's the reason why it does not appear?
Also, I confirm that my 'Preview Settings' is switched on.

Below is a screenshot of my settings. It's strange that the SQL Server Agent does not appear in the 'Extensions' section.
![image](https://user-images.githubusercontent.com/48909968/111736964-b

[2021-03-19 06:48] johnalbertginete opened #14801 "SQL Server Import Flat file stopped working"
Issue Type: <b>Bug</b>

1. Open Azure DataStudio
2. Press CTRL+I
3. 'Activating Extensions' notification appears on the lower left corner
4. SQL Server Import Flat file should 'pop-up' but instead it does not 'pop up'

Notes:
1. Last seen to be working yesterday, Feb 18 SGT
2. I tried this both on MacOS and Windows
3. Errors are found in the console:
![image](https://user-images.githubusercontent.

[2021-03-19 08:15] lluthus commented on #12165
The same for me from yesterday evening
 Error: Token retrieval failed with an error. Open developer tools to view the error

any help ?

[2021-03-19 09:10] memblin-taurus commented on #12165
Hi @lluthus

There are two issues I've found with Azure Data Studio's implementation of Azure AD - Universal with MFA support authentication.

Token refresh failure:
--------------------
You will find that after about 2 weeks token dies and will not refresh as you would expect. No amount of trying to open a new connection will trigger the re-auth process.

Solution: Close Azure Data Studio and del

[2021-03-19 15:53] Charles-Gagnon commented on #14786
SQL Agent is a feature that's only available for On-Prem and Managed Instance servers, so unfortunately if you're using a SQL Azure server then you won't be able to use this feature.

https://docs.microsoft.com/sql/ssms/agent/sql-server-agent

As for why it doesn't show in the extensions section - that's because it doesn't have any extension-specific settings. The view you're looking at is just fo

[2021-03-19 15:53] #14786 closed

[2021-03-19 16:56] #14169 closed

[2021-03-19 19:20] nasc17 commented on #14778
Needed updated azdata VSIX.

[2021-03-19 19:20] #14778 closed

[2021-03-19 19:22] nasc17 commented on #13905
Only an issue when running from source. Not seen in ADS releases.

[2021-03-19 19:22] #13905 closed

[2021-03-19 19:39] nasc17 opened #14803 "Postgres Server Parameters Page does not show expectation"
When running edit command from server parameters page, exit code was not caught. Pop up notification states instance has been updated which is inaccurate.

<img width="676" alt="uncaughtexception" src="https://user-images.githubusercontent.com/69922333/111833696-c45cc300-88af-11eb-89d0-ddf6e25e24c1.PNG">

[2021-03-19 19:49] nasc17 opened #14804 "Postgres Parameters Page reset calls does not always refresh table"
This appears to not be a consistent issue. When resetting all parameters or resetting individual parameter, the command completes successfully but the table is not always refreshed to show default value.

- Azure Data Studio Version: 1.28.0-insider (user setup)

[2021-03-19 20:01] Charles-Gagnon commented on #14803
Is this a consistent repro? Do you know what caused it? (for repro/debugging purposes)

[2021-03-19 20:17] nasc17 commented on #14803
Specifically in this case it is being cause by the incorrect argument for engine version: server edit -n pgt1 --engine-settings allow_system_table_mods="On",archive_mode="always",array_nulls="Off",autovacuum="Off",authentication_timeout="66",autovacuum_analyze_scale_factor="0.15" **--engine-version postgresql**
This is happening when running from source not the ADS release ( was appearing previous

[2021-03-19 20:17] #14789 closed

[2021-03-19 20:19] kisantia commented on #14754
@WorldFootballLeague were you able to verify if this worked? I made the fix and it will be in the next release of the sql database projects next month.

[2021-03-19 20:27] Charles-Gagnon commented on #14803
Gotcha, thanks. I'll take a look at this one since it seems like a more general problem with the azdata extension. I'll let you know if I need any other information.

[2021-03-19 20:30] nasc17 commented on #14803
I just checked it on the compute and storage page and that catches the same error just fine. I am pretty sure it is something specific with this dashboard.

[2021-03-19 20:46] Charles-Gagnon commented on #14801
The errors displayed are unrelated - how long did you wait before trying the command? The service was updated with the latest release which means it needs to download the new one (which are the messages you see in the console at the bottom). This may take a little while but once that's done it should start up much quicker.

[2021-03-19 21:11] WorldFootballLeague commented on #14754
Thanks for contacting me.  I’m working with a Mac user on this issue and he has not had the time to get with me today.  I will update you as soon as I can.

From: Kim Santiago ***@***.***>
Sent: Friday, March 19, 2021 4:20 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: Wendy Lanning ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azuredatastudio] In ADS on a Mac: Unable to load profi

[2021-03-19 22:26] alanrenmsft opened #14808 "fix the tenant list in add account dialog"
the tenant list is not correctly implemented, it is not showing anything and has wrong size.
use tab key to navigate to the remove button (shown in screenshot below)
![image](https://user-images.githubusercontent.com/13777222/111848003-47d5de80-88c7-11eb-8f53-c0eb36b6a565.png)

and now press tab key, you will get to the blank screen and the account list disappeared.
![image](https://user-images.gi

[2021-03-19 22:44] alanrenmsft commented on #14171
@harshgangrade111 I don't think this is a reasonable expectation, Please provide the link to the requirement and examples implementing it and then reactivate the issue.

Thanks

[2021-03-19 22:44] #14171 closed

[2021-03-19 22:53] Charles-Gagnon commented on #14776
Issues with the security tokens for Azure accounts are a known issue - see https://github.com/microsoft/azuredatastudio/issues/12165 - so I'm going to close this as a dupe of that (and also since it's not specifically an Arc issue)

[2021-03-19 22:53] #14776 closed

[2021-03-19 23:17] Charles-Gagnon commented on #13496
I haven't heard of anyone else running into this and there isn't really a good solution here without doing a lot of manual lookups - plus the error gives the instructions to fix it (run the command). So I'm going to close this for now and if it ends up being a bigger issue for people I can take another look.

[2021-03-19 23:17] #13496 closed

[2021-03-19 23:18] #13456 closed

[2021-03-19 23:19] #11794 closed

[2021-03-20 00:03] #14170 closed

[2021-03-20 00:25] #14803 closed

[2021-03-20 01:05] #14172 closed

[2021-03-20 01:34] johnalbertginete commented on #14801
I checked again today - at first it was still not working.
I explored into the 'Settings' and suddenly the 'Output' of the flat file import service started downloading and installing (probably updates?). My Flat File import now works!

Thank you for checking!

[2021-03-20 01:34] #14801 closed

[2021-03-20 03:06] #14546 closed

[2021-03-22 10:15] Shivamd1 commented on #14304
Verified the issue in the insider build and  version 0.8.0 of the sql database projects extension and with reference to this  #14741 the popup dialog opens where focus does not go outside hence closing this issue.

[2021-03-22 10:15] #14304 closed

[2021-03-22 11:08] Geekimo commented on #13782
This feature is really missing since I'm developing on a Mac M1 and I can't run SSMS using parallels for example, thus I'm not really familiar with T-SQL.

[2021-03-22 13:39] gregveres commented on #5527
A couple of years later and the same bad UI still exists. I can't believe something this fundemental and easy to do isn't  being done. This would have a huge impact on  how usable the product is.

[2021-03-22 13:40] gregveres commented on #5950
Still not implemented. come on guys!

[2021-03-22 16:02] ptc-cjm opened #14818 "App folder for MacOs has incorrect created date: Currently 12/31/1979"
- Azure Data Studio Version: 1.27

Steps to Reproduce:

1. Unzip deliverable package.
2. Examine Date Created property of parent App folder.

[2021-03-22 16:13] abist commented on #14818
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/12787

[2021-03-22 16:13] #14818 closed

[2021-03-22 16:47] janszedc opened #14822 "Rich-Click Manage Database not populating charts/widgets"
Using the latest build of Azure Data Studio.
![image](https://user-images.githubusercontent.com/49908138/112026261-6547ba00-8b0c-11eb-9e18-771e9125a690.png)

When right-clicking on a **server** and selecting 'Manage' both the Database Size (MB) and Search widget populate correctly.  However, when right-clicking on a **database** and selecting 'Manage', nothing populates in the dashboard.

![image]

[2021-03-22 16:53] janszedc commented on #14822
Please delete this issue.  I will re-open the following: https://github.com/microsoft/azuredatastudio/issues/14126

[2021-03-22 16:55] janszedc commented on #14126
@kburtram This issue is still occurring in the latest build of ADS 1.27.0 as well as version 1.26.1.

The auto-updating is still a problem, but I have not opened a separate issue for that.  I was able to temporarily work around that by doing a fresh install like you recommended.

[2021-03-22 17:17] #11852 closed

[2021-03-22 18:02] alanrenmsft commented on #14316
I tried Narrator and it is able to get to the disabled items using items mode, this is more of a NVDA issue, I don't think there is anything we can do about it.

[2021-03-22 18:02] #14316 closed

[2021-03-22 18:06] kisantia commented on #14363
closing because the combobox name is getting announced, as mentioned above. Please reopen if needed.

[2021-03-22 18:06] #14363 closed

[2021-03-22 19:19] jmezach opened #14825 "Licensing question for master.dacpac files in this repository"
**Is your feature request related to a problem? Please describe.**
This is more a question than a feature request and isn't necessarily a problem.

**Describe the solution or feature you'd like**
As the author of [MSBuild.Sdk.SqlProj](https://github.com/rr-wfm/MSBuild.Sdk.SqlProj/) I've been receiving quite a few questions (ie. rr-wfm/MSBuild.Sdk.SqlProj#64) as to whether our users can reference o

[2021-03-22 21:54] #14369 closed

[2021-03-22 23:14] udeeshagautam commented on #14303
@Shivamd1, it was suggested to us in a previous testing round that screen reader should read the message for the field if field is empty. Here is the older bug for the same : https://github.com/microsoft/azuredatastudio/issues/6846

Based on the previous bug, we added the message. Hence this behavior seems by design as per the accessibility rules. Can you please check with the SMEs and clarify the

[2021-03-22 23:58] cssuh opened #14830 "Selected state should be cleared when data reset (Declarative Table Component)"
Steps to Reproduce:

After I select the first "Warning" for the "test" db and then select the "test-2" db, the "Warning" stays selected (but I want it to be cleared and able to be selected again)

![Screen Shot 2021-03-22 at 4 56 28 PM](https://user-images.githubusercontent.com/18150417/112072663-8cfc4980-8b2f-11eb-9d0d-c8b875d6eb48.png)
![Screen Shot 2021-03-22 at 4 56 36 PM](https://user-images.

[2021-03-23 04:56] Shivamd1 commented on #14316
The issue does not reprduces in nvda scan mode.

[2021-03-23 09:36] RobinCollie opened #14835 "Unable to add user account - callback fails"
Issue Type: <b>Bug</b>

Using 'Add an account' when setting up a connection opens the correct domain login window, but the callback fails:

Denne side virker ikke127.0.0.1 har ikke sendt nogen data.
ERR_EMPTY_RESPONSE

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:24:59.168Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>Syst

[2021-03-23 16:17] abist commented on #14825
@udeeshagautam This seems like a question for SQL projects, so you might have some idea here

[2021-03-23 18:52] MaddyDev commented on #14481
Closing the issue since March release that has the fix is out.

[2021-03-23 18:52] #14481 closed

[2021-03-23 18:55] brett-x opened #14839 "Easily Change sort method in Explorer side panel"
I normally like the files in the Explorer pane to be sorted by date Modified. But fairly often I need to find a file by its name, or at least what the name starts with. (I sometimes have older versions of the same file that I keep for reference.)

This request is to Add a button (or other method) in the Explorer view that allows me to change the sort, instead of having to 1) search for the file, o

[2021-03-23 19:25] drizztdourden08 commented on #14602
I think last version fixed this and it can be closed. I don't have the issue anymore.

[2021-03-23 19:25] #14602 closed

[2021-03-23 21:08] cssuh opened #14841 "Switching focus between declarative tables"
- Azure Data Studio Version:

When selecting rows from two different tables, we should be able to change the focus
![ads-focus](https://user-images.githubusercontent.com/18150417/112218476-fbe5ab00-8be0-11eb-88fd-1f5e9790d896.PNG)

[2021-03-23 22:40] #14830 closed

[2021-03-24 00:58] shahiddev opened #14845 "Azure AD authenticated user permission change not reflected unless account removed and re-added"
- Azure Data Studio Version:
Version: 1.27.0 (system setup)
Commit: 765c7064d46253d88393e0e1ff78874b6fe8fa64
Date: 2021-03-16T21:24:59.168Z (1 wk ago)
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Azure SQL, create users based on AD groups (e.g. Create user [db-readers] FROM EXTERNAL PROVIDER;

[2021-03-24 03:22] alanrenmsft commented on #14822
@janszedc what is the type of server you are connecting to?

[2021-03-24 09:00] JonathanWilkins commented on #12293
Version: 1.27.0 (user setup)
Commit: 765c7064d46253d88393e0e1ff78874b6fe8fa64
Date: 2021-03-16T21:24:59.168Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.18363

I find this happens every time I compare scripts, sometimes if its an unsaved file I can't close the file either. I'll get prompted to save the file after say no i

[2021-03-24 10:03] garyamorris opened #14851 "Azure Active Directory - Universal with MFA support never renews grants"
- Azure Data Studio Version:

Version: 1.27.0 (user setup)
Commit: 765c7064d46253d88393e0e1ff78874b6fe8fa64
Date: 2021-03-16T21:24:59.168Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Add a db connection using Azure Active Directory - Universal MFA support
2. Add user account within the conne

[2021-03-24 11:13] janszedc commented on #14822
I was able to fix it by not only reinstalling ADS, but also removing any related files and doing a clean install.  It was something in my settings.json file that was causing the issue in my admin account, but not my normal domain user that I use to sign in to my PC.

[2021-03-24 11:13] #14822 closed

[2021-03-24 12:22] QiangZ commented on #13429
I have the same problem  with macOS catalina 10.15.7 @kburtram  where is the Developers console to create a new issue?

[2021-03-24 16:53] aarongiust opened #14853 "Disconnects from SQL Databases"
Issue Type: <b>Bug</b>

Azure Data Studio constantly disconnects from Azure SQL Databases which causes functionality to stop working such as Intellisense and object browsing. It should be able to stay connected just as SSMS can stay connected.

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:24:59.168Z)
OS version: Windows_NT x64 10.0.1836

[2021-03-24 17:33] jtsom commented on #7440
Happens for me almost for every new query. Even a simple query such as `select * from settings where id = 1` will hang forever.

This is running under Windows connecting to mssqllocaldb.

[code]

[2021-03-24 17:45] #14841 closed

[2021-03-24 18:25] alanrenmsft commented on #14524
dupe of https://github.com/microsoft/monaco-editor/issues/410

[2021-03-24 18:25] alanrenmsft commented on #14414
dupe of https://github.com/microsoft/monaco-editor/issues/410

[2021-03-24 18:27] aasimkhan30 opened #14855 "Request for onFocus event in declarative table component"
Need to expose onFocus event for declarative table in extensibility API.

[2021-03-24 18:36] alanrenmsft commented on #14359
there are shortcut keys defined for fold/unfold actions,
1. go to command palette (main menu-> View -> Command Palette...)
2. run command 'Open Keyboard Shortcuts'
3. look for editor.fold and editor.unfold

![image](https://user-images.githubusercontent.com/13777222/112365624-1aa57980-8c95-11eb-80e0-e80ffa02c31b.png)

![image](https://user-images.githubusercontent.com/13777222/112365665-2729d200-8

[2021-03-24 18:36] #14359 closed

[2021-03-24 18:37] alanrenmsft commented on #14521
the feature is supported, please see my comments in https://github.com/microsoft/azuredatastudio/issues/14359

[2021-03-24 18:37] #14521 closed

[2021-03-24 18:41] #14414 closed

[2021-03-24 18:41] #14524 closed

[2021-03-24 22:31] #14538 closed

[2021-03-24 23:40] #14855 closed

[2021-03-25 04:11] Shivamd1 commented on #14303
As the message gives the additional information along with label so closing the bug.

[2021-03-25 04:11] #14303 closed

[2021-03-25 08:40] jirifa opened #14865 "Issue: Big execution plan is not complete so it can't be saved"
ADS Version: 1.27.0
OS: Windows 10

Reproducible steps:
1. Write a query with big execution plan
2. Run query with actual plan (CTRL + M)
3. Click on XML ShowPlan
4. It opens new tab with the plan but it is not complete (the plan has 1 row and 2 097 153 columns - I assume, that the limit is 2MB)
5. SentryOne Plan Explorer extension can't process it

Log from developer tools:
[-1616661545038.log](h

[2021-03-25 11:01] NavtejSaini-MSFT commented on #14744
@alanrenmsft Were you able to test this?

[2021-03-25 13:59] dlindblom commented on #14808
Can we have proper tenant list implemented? As today Data Studio does not work when having multiple tenant under same account, and especially with MFA enabled

[2021-03-25 14:22] nikonso commented on #5863
Is this something were you would be open to an external contribution? If so, and if you could give me a code pointer, I wouldn't mind giving this a shot..

As it is constant source of pain when working with an otherwise amazing product.

[2021-03-25 15:48] Oxoproline commented on #3270
Still an issue Please fix this it's really annoying. It makes every task and navigation much more complicated.

[2021-03-25 16:21] rrosendahlk opened #14866 "Can't see tables/columns"
Issue Type: <b>Bug</b>

My company uses PostGres on AWS.
Since we moved to AWS from Heroku, I can connect, run queries, and see some databases with tables and columns, but not our production DB. (When I click "Manage", a table list is shown.)

I was told the root cause is this:
The problem is that the database that you have access to connect to is a semi random (d3m1d66l1kigms_analytics_pool) to p

[2021-03-25 16:39] alanrenmsft commented on #14744
not yet, I will give it a try this week.

[2021-03-25 16:46] pogh opened #14867 "Line 501 is missing when exporting results to csv or Excel"
- Azure Data Studio Version:
  - Version: 1.27.0 (user setup)
  - Commit: 765c7064d46253d88393e0e1ff78874b6fe8fa64
  - Date: 2021-03-16T21:24:59.168Z
  - VS Code: 1.51.0
  - Electron: 9.4.3
  - Chrome: 83.0.4103.122
  - Node.js: 12.14.1
  - V8: 8.3.110.13-electron.0
  - OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Open new Notebook
2. Create new Code Cell
3. Select Kernel SQL, Connect to

[2021-03-25 16:49] #14317 closed

[2021-03-25 16:49] #14318 closed

[2021-03-25 16:49] #14519 closed

[2021-03-25 16:49] #14520 closed

[2021-03-25 17:17] mappao opened #14868 "Item #512: feature doesn't work with decimal datatype"
- Azure Data Studio Version: 1.27

https://github.com/microsoft/azuredatastudio/issues/512

Steps to Reproduce:

1. Simply select a dataset from a table with a decimal datatype (I've tried with decimal(18,4)) column and select a cell range. No summary shows on bottom bar

[2021-03-25 17:56] alanrenmsft commented on #14744
@NavtejSaini-MSFT I am able to reproduce it, I will investigate it.

[2021-03-25 18:11] alanrenmsft commented on #14744
@NavtejSaini-MSFT BTW, Azure Data Studio issues should be tracked in this repository, I think you should close the ticket on Microsoft Q&A.

[2021-03-25 18:22] Charles-Gagnon opened #14871 "Error trying to open a provided book"
Insiders/Main

Try to open a provided book, get an error similar to this :

[code]

[2021-03-25 18:23] leewilson86 commented on #3270
Yes, still an issue for me too.

Unfortunately turning it off and turning it back on doesn't fix this one 🙄

Please fix as it's a really annoying issue and it has been open for over two years.

[2021-03-25 20:09] brunodorati commented on #11249
Works for me!
Tanks.

[2021-03-25 21:27] nwicke-pk opened #14873 "Cant connect to db after opening a new file"
Issue Type: <b>Bug</b>

 Whenever I open a .sql file and try to connect to an azure sql database I  get...
 An unexpected error occurred while connecting. Please [file an issue](command:workbench.action.openIssueReporter) with the title 'Unexpected Error Occurred while Connecting' and include the log file [C:\Users\nwicke\AppData\Roaming\azuredatastudio\logs\20210325T104427\renderer1.log](command:

[2021-03-25 21:40] lcanastreiro opened #14874 "Not able to install / configure the Notebook dependencies (timeout accessing pypi.org"
- Azure Data Studio Version: 1.27.0

Steps to Reproduce:

I’m having problems setting up notebook dependencies extension when I'm changing the Kernel of a notebook from the Default SQL to Pyspark:

  WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'ConnectTimeoutError(<pip._vendor.urllib3.connection.VerifiedHTTPSConnection object a

[2021-03-25 22:04] dparsons86 commented on #3627
Confirmed that this is still a think with the March 2021 release.

[2021-03-26 04:02] cstyve opened #14879 "Connecting to server..."
Issue Type: <b>Bug</b>

Double click on connection

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:24:59.168Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) W-2123 CPU @ 3.60GHz (8 x 3600)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d:

[2021-03-26 04:31] SQLDataSide opened #14880 "Can't see the Projects viewlet under Explorer"
Hi I have installed "SQL Database Projects" in my Azure Data Studio, but I can't see the  Projects viewlet under Explorer, also I tried " Projects: New in the command palette" and I got the message ....

A new workspace will be created and opened in order to open project. The Extension Host will restart and if there is a folder currently open, it will be closed.

.... then I got the error .....
No

[2021-03-26 06:31] GDeGruyter commented on #7258
Having the same issue using version 1.27

[2021-03-26 07:03] wy193777 commented on #6068
Any update on this?

[2021-03-26 07:09] GDeGruyter commented on #7258
Searched for the file 'Microsoft.SqlServer.MaintenancePlanTasks' on my computer. I found it in a folder 'C:\Program Files (x86)\Microsoft SQL Server\150\DTS\Tasks'. I copied the content of this folder to c:\windows\system32. That worked for me. A little bit dirty workaround, but it works!

[2021-03-26 07:31] GDeGruyter commented on #7258
I found the file in following directory on my computer 'C:\Program Files (x86)\Microsoft SQL Server\150\DTS\Tasks' as well as in 'C:\Program Files\Microsoft SQL Server\150\DTS\Tasks' and also in the GAC. File version is 15.0.2000.5. The error message specify an older required version: 'Could not load file or assembly 'Microsoft.SqlServer.MaintenancePlanTasks, Version=15.100.0.0'.

[2021-03-26 14:26] lucyzhang929 opened #14881 "Notebooks: Save grid as csv/excel/json/xml not working"
- Azure Data Studio Version: insiders/main

[2021-03-26 17:32] kisantia commented on #14880
Hi Nik, which version of ADS and the sql database projects extension do you have installed?

[2021-03-26 17:33] chlafreniere commented on #14325
@MsSQLGirl since this has been implemented, this is no longer a Pri: 1, no?

[2021-03-26 17:41] kisantia commented on #14754
@WorldFootballLeague just following up on if you heard back from the user and if we can close this issue.

Thanks,
Kim

[2021-03-26 17:55] WorldFootballLeague commented on #14754
The user is so frustrated that he has, I believe, abandoned trying to update his database locally.  If he recovers enough to try again, I will let you know the outcome.  Closing the issue seems to be the most appropriate course right now.

Thanks.

From: Kim Santiago ***@***.***>
Sent: Friday, March 26, 2021 1:42 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: Wendy Lanning ***@***.***>; Mention

[2021-03-26 17:57] kisantia commented on #14754
ok thanks I will close this then. Assuming the semicolon was the issue, the fix will be in the release next month.

[2021-03-26 17:57] #14754 closed

[2021-03-26 18:18] VasuBhog commented on #14874
@corivera I know you were working in this area. Is there a way to get the dependencies offline?

[2021-03-26 19:07] corivera commented on #14874
You can download package dependencies to a local directory using the following command:

`python -m pip download jupyter sparkmagic -d .\WheelDir`

Then once you have that package directory, you can install the packages from it using this command:

`python -m pip install --no-index jupyter sparkmagic --find-links .\WheelDir`

[2021-03-26 19:11] kpedroza commented on #13953
Go to the Azure Accounts folder and rename (or delete, depending on how brave you feel in the moment) the file stored in it (azureTokenCache_azure_publicCloud), so you force Azure to create a new token

![MicrosoftTeams-image](https://user-images.githubusercontent.com/10052726/112681716-b8837a80-8e34-11eb-8165-b8a860314d1c.png)

[2021-03-26 21:54] chlafreniere commented on #14247
Talked about this with @MsSQLGirl and since this isn't blocking OneNote adoption (or causing customer dissat at the moment -- this item tracks an item that would prevent future issues with notebook interop), moving down to Pri 2.

[2021-03-26 22:02] lcanastreiro commented on #14874
Thanks Cory and Vasu for your replies. But in this case, the process isn't yet on the process of installing the packages. It's  blocking firstly, in terms of pip and the specific version (19.2.3) that ADS is trying to install.

Another aspect, do you think that would be possible to document which (URI/URLs) should be whitelisted, at least for the default set of extensions and required packages?

[2021-03-26 22:17] zijchen commented on #13841
I think this issue is fixed in #14511, I can no longer reproduce in latest ADS release. @kisantia can you verify?

[2021-03-26 22:20] chlafreniere commented on #14325
Given that this work is in, closing this tracking issue. Let's chat about what your concerns are, @radentonev. Would be great to get some user feedback here as well, and we can track that work item separately.

[2021-03-26 22:20] #14325 closed

[2021-03-26 22:21] kisantia commented on #13841
yup this is already fixed. Sorry I forgot about this issue when I sent out that PR.

[2021-03-26 22:21] #13841 closed

[2021-03-26 22:38] corivera commented on #14874
You'd have to whitelist whatever endpoints pip requires, since that's what we're using to install the packages. There's the main PyPI URL, https://pypi.org, as well as the site that hosts the packages, https://files.pythonhosted.org. There may be others, but those are the only ones I'm aware of.

At what point are you getting this install error? Was it after going through the python install dialog

[2021-03-26 23:01] lcanastreiro commented on #14874
Thanks Cory.

This happening, when I try to create a new notebook, then I select PySpark Kernel and then there's a form to install the Python Runtime, I'm selecting the default Option (New Python Installation) and then the download of Python happens, it says that Python is installed and then it fails when the process tries to install pip.

Thanks,
Luís.

[2021-03-26 23:19] MsSQLGirl commented on #12859
Note: this issue fixes the crawl experience that @VasuBhog  worked on.
https://github.com/microsoft/azuredatastudio/issues/14151#issuecomment-790050558

[2021-03-26 23:34] MsSQLGirl commented on #14151
Additional comment: the crawl experience in v1.27.0 allows users to save minutes in attempting to translate relative path by simply pasting Copy Path to the create link dialog in WYSIWYG, and under the hood the local path is translated to relative path.
See the experience here:
![CopyPathTranslation](https://user-images.githubusercontent.com/6405919/112702558-23db4580-8e51-11eb-9b52-f241cc684b52.g

[2021-03-27 00:44] NavtejSaini-MSFT commented on #14744
@alanrenmsft There is no closure of issues on Microsoft Q&A but I would love to post the resolution for other people. I thank you for checking the issue.

[2021-03-27 03:26] alanrenmsft opened #14891 "support local file path for open notebook with parameters using hyperlinks in ADS"
right now we only support http and https protocols, Azure Stack extension will need the ability to open notebooks with parameters

azuredatastudio://microsoft.notebook/open?url=https://raw.githubusercontent.com/VasuBhog/AzureDataStudio-Notebooks/main/Papermill-Parameterization/Input.ipynb?let%20x=1&let%20y=2

[2021-03-27 04:16] alanrenmsft commented on #14744
@NavtejSaini-MSFT @Chutneypot89 I have a PR out to fix the issue.

[2021-03-27 08:53] Chutneypot89 commented on #14744
Thank you, did you receive the same error codes when you reproduced the issue?

[2021-03-27 09:46] helm100 commented on #13457
Update: this problem occurs when running it on Ubuntu. When I run Azure Data Studio on Windows on the same computer (dual boot), there is no problem.
Still, when connecting to the database with another program (e.g. DataGrip) on Ubuntu, there is also no problem. It seems there is something wrong specifically with my Ubuntu install.

[2021-03-27 11:24] cadayton commented on #14725
@cadayton.  I was just commenting in general about the collection of blogs in the wild that didn't do much justice to get started with Azure Data Studio.  There more of a show off of here is what I've done vrs here is how accomplished X using Y.

[2021-03-27 12:47] azizovnihad opened #14892 "Keybindings for Notebooks"
Issue Type: <b>Bug</b>

Keybindings for Notebooks in Azure data studio doesn't work neither with 'notebookEditorFocused && !inputFocus' condition nor others.

Kernel: SQL
Notebook Azure Data Studio
Keybindings: notebook.cell.moveUp, notebook.cell.moveDown

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:24:59.168Z)
OS version: Windows_NT x

[2021-03-27 21:48] mejiaej opened #14893 "Add selected text as parameter in query shortcuts"
**Is your feature request related to a problem? Please describe.**
I really like the query shortcut feature, I just think that adding the selected text at the end of the query is not enough. For example, one query that I run a lot is `select * from table order by 1 desc`. I use that query to see recent records that I've added to a table. Currently, there is no way to set up a query shortcut that i

[2021-03-28 15:51] SQLDataSide commented on #14880
still cant get it working

I have.............................
Version: 1.25.2 (user setup)
Commit: 4d4917d328ab7a7526817a0f0ef03237a79aa54d
Date: 2021-01-20T22:52:13.492Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041
.....................................................................
and for SSMS i have
.
SQL Serve

[2021-03-29 06:30] Chutneypot89 commented on #14744
Thank you

[2021-03-29 07:17] AndreaCuneo commented on #14851
Same issue here. No workaround found yet and I cannot work with my databases, so is quite impactful.

I'm looking for some profile folder from where I can remove the previous grants. Any pointers where the folder is?

Version: 1.27.0 (system setup)
Commit: 765c7064d46253d88393e0e1ff78874b6fe8fa64
Date: 2021-03-16T21:24:59.168Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1

[2021-03-29 09:50] KeithWalters commented on #14384
See also #5579

I think the key thing is that space-bar can't move you up to the parent. Most treeviews support using the left arrow to both collapse the current node if expanded, but also move up to the parent if the current node is already collapsed - that's the more specific useful keyboard navigation.

[2021-03-29 14:15] #14881 closed

[2021-03-29 14:16] #14867 closed

[2021-03-29 16:35] kisantia commented on #14880
can you try using the [latest](https://github.com/microsoft/azuredatastudio/releases/tag/1.27.0_release) ADS release and verifying that the latest version of sql database projects extension(0.6.0) is installed?

[2021-03-29 17:31] #14682 closed

[2021-03-29 17:44] kburtram opened #14897 "Query editor and Notebook toolbar styles are inconsistent"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open query and notebook documents

Expected: Similar design styles for toolbars in both document types

Actual: Toolbars use a different style causing inconsistent UX

**Query**
![image](https://user-images.githubusercontent.com/599935/112877508-b2cba600-907b-11eb-8f1b-437f1f22266a.png)

**Notebook**
![image](https://user-images.githubus

[2021-03-29 18:16] cssuh commented on #14879
Hi could you please elaborate more on the bug you are facing? How can we reproduce the error you are seeing? Do you get any error messages?

[2021-03-29 19:07] #14744 closed

[2021-03-29 19:20] #14799 closed

[2021-03-29 19:21] cssuh commented on #14873
Can you please include the log file here?

[2021-03-29 19:23] cssuh commented on #14580
Closing this issue for now, we can reopen if more info is added

[2021-03-29 19:23] #14580 closed

[2021-03-29 19:27] cssuh commented on #14791
Hi @galel52, are you able to connect using SSMS with Windows auth?

[2021-03-29 19:48] romanyefimets opened #14901 "Cannot read property 'connection' of undefined"
- Azure Data Studio Version: 1.27.0 (MacOS)

Cannot create a new connection. Clicking new connection produces the error
"Cannot read property 'connection' of undefined"

Also, cannot chose the Connection Type, clicking the dropdown arrow does nothing.

![Screen Shot 2021-03-29 at 12 47 14 PM](https://user-images.githubusercontent.com/19218559/112891498-101c2300-908d-11eb-84ff-3f13f9e615b2.png)

St

[2021-03-29 20:02] alanrenmsft commented on #14744
the changes are merged, it will be in tomorrow's insider build https://github.com/microsoft/azuredatastudio#download-the-latest-azure-data-studio-release.

[2021-03-29 20:17] corivera commented on #14874
Sounds like it's a pip reachability issue, then. We pip install required packages after downloading our provided python package for the New Install option. Our python package is hosted on the Microsoft Download Center, so maybe that's already allowed on your machine while pypi.org is not.

[2021-03-29 23:22] paschott commented on #3171
Tried again today - had a Windows login tied to a user and I know that's not allowed in a bacpac, but it would be _great_ to have an option to ignore those logins/users when generating a bacpac. I've been blocked by so many small things when trying to generate dacpacs/bacpacs using the GUI tools that it's been quite frustrating trying to move databases around this way.

[2021-03-29 23:45] #13672 closed

[2021-03-30 15:24] mirsky72 opened #14904 "Ability to connect to Synapse Spark Pool in notebooks"
Please allow for Azure data studio to connect to spark pools via an Azure Data Studio notebook.

[2021-03-30 17:23] udeeshagautam opened #14906 "If I open a new project and no workspace is open but its existing - error occurs"
- Azure Data Studio Version:

Steps to Reproduce:

1. have a workspace in a folder names abc.workspace and a abc.sqlproj
2. Open ADS with no project
3. Go through Open existing flow and select project abc.sqlproj
4. This tries to makes another abc.workspace in same place and fails

Expected: it should be able to reuse the workspace with some notif message.

![image](https://user-images.githubuserc

[2021-03-30 17:32] nasc17 opened #14907 "Slider Components start with default min value not set min value"
For the slider component the default initial value is its minimum value. The default min value is 1. Here I have initialized the slider components to have a min value of 0.25 however it does not show this number at first. When I move the slider forward and back to its original place that is when I see the 0.25 value it should have started at.
![sliderwrongmin](https://user-images.githubusercontent

[2021-03-30 17:38] nasc17 opened #14908 "Slider components when values are changed , box does not align."
The discard button is supposed to set all the slider components back to their original values. In this case it is all of their min values. When the values are changed the sliders move back to their original positions, but the boxes to the side do not change the value within it.
![slidernosres](https://user-images.githubusercontent.com/69922333/113031795-fb4e9680-9143-11eb-9e73-8ecdabd2a9cc.gif)

I

[2021-03-30 19:37] Charles-Gagnon commented on #14760
@kisantia Since the VS Code merge might still be a bit away you could bring over the fix early if you wanted to as well - seems like a small enough one that it should be fine

[2021-03-30 20:35] nwicke-pk commented on #14873
Log is attached.  I removed some identifying information.
[renderer1.log](https://github.com/microsoft/azuredatastudio/files/6232006/renderer1.log)

[2021-03-30 20:55] SakshiS-harma opened #14914 "Machine Learning widget isn't horizontally scrollable"
Steps to Reproduce:

1. Open server dashboard and navigate to Machine learning widget.

![MachineLearning](https://user-images.githubusercontent.com/57200045/113055583-9acd5280-915f-11eb-9f24-b696349273a2.gif)

[2021-03-30 21:10] drizztdourden08 opened #14915 "ADS table Contextual menu options do nothing after a while"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open ADS
2. Use it (Or not) and leave it open for a while
3. At some point, the contextual menu on a table (Select Top 1000, Edit Data) become unresponsive

The only way I found to fix the issue is a restart of ADS. I'm not exactly what the cause is but I do use these function quite a lot and I have to restart ADS pretty often. Where it is inst

[2021-03-30 21:28] Charles-Gagnon opened #14916 "Error expanding editable dropdowns"
1. Click on editable dropdown (such as DB list on query editor)

This error appears in console :

`Cannot read property 'map' of undefined: TypeError: Cannot read property 'map' of undefined`

[2021-03-30 21:36] Charles-Gagnon opened #14917 "Error opening Arc connect to controller dialog"
1. Click "Add Existing Connection" to open "Connect to Controller" dialog in Arc view

Error in console :

`Error: ViewDestroyedError: Attempt to use a destroyed view:
detectChanges`

[2021-03-30 22:11] #14760 closed

[2021-03-30 22:43] MsSQLGirl opened #14920 "Word wrap button for Text Cell in notebooks"
**Is your feature request related to a problem? Please describe.**
Users sometimes don't remember that they can do `Alt` + `Z` to toggle word wrap at text cell level.

**Describe the solution or feature you'd like**
Add a Word wrap button at the cell level.

**Describe alternatives you've considered**
Remembering `Alt` + `Z`

**Additional context**
Add any other context or screenshots about the fe

[2021-03-31 00:06] #14672 closed

[2021-03-31 00:33] #14907 closed

[2021-03-31 00:33] #14908 closed

[2021-03-31 01:44] #14553 closed

[2021-03-31 14:29] aarongiust opened #14929 "Tabs closing"
Issue Type: <b>Bug</b>

Tabs are closing on their own in Azure Data Studio. A tab will be open, I go to another tab, but when I go back to the original tab ADS says it is unable to open it.

The message says "Unable to open 'file name/tab name': Cannot read property 'slice' of undefined."

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:24

[2021-03-31 15:53] #14893 closed

[2021-03-31 17:19] Charles-Gagnon commented on #14929
This seems to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/6763

(https://github.com/microsoft/azuredatastudio/issues/13797 looks to be too)

[2021-03-31 17:43] gle-glcsi opened #14933 "Index not shown"
Issue Type: <b>Bug</b>

Hello
Index not shown in Azure Data Studio but shown in SSMS
![image](https://user-images.githubusercontent.com/77354281/113187466-2ecf1500-9259-11eb-817f-b0bbce40ae4a.png)
![image](https://user-images.githubusercontent.com/77354281/113187513-3db5c780-9259-11eb-90d2-77085f003ac8.png)
Best regards

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff

[2021-03-31 17:51] sir-farfan opened #14934 "Should use the proxy to resolve the Server name"
Issue Type: <b>Bug</b>

A DB server running in a private VPN network.
A proxy server with access to the privade VPN.

Configure ADS to connect using that proxy.

ADS uses the host DNS to resolve the privade server resulting in a stack trace with: Name or service not known

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:15:38.801Z)
OS vers

[2021-03-31 18:11] aarongiust opened #14935 "AD Password Change Breaks All Saved Connections"
Issue Type: <b>Bug</b>

I had to change my password on my AD account and now all of my saved connections do not work. It keeps asking me to re-authenticate, takes me out to a web page to log in, after logging in it says I'm good to go, but then the whole cycle starts over once back in Azure Data Studio.

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2

[2021-03-31 18:17] aarongiust commented on #14935
Going to the linked accounts dialog, deleting the account, and then adding it back clears this issue.

[2021-03-31 18:40] solarisra commented on #10583
This seems to be the same issue as https://github.com/microsoft/azuredatastudio/issues/8041.

[2021-03-31 20:48] desmortum commented on #14014
VSCode just updated with new icon! Need to catch up.

[2021-03-31 22:15] Charles-Gagnon opened #14939 "Remove survey link from welcome page"
Reminder to remove the survey link added in last release

[2021-04-01 00:47] amarnp opened #14941 "New Query -> Failed to Connect"
Issue Type: <b>Bug</b>

Right click on an Azure SQL DB and select New Query

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:18:54.187Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 (8 x 2400)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enabled<br>

[2021-04-01 02:08] chlafreniere commented on #14692
Don't have anyone assigned yet, so moving out.

[2021-04-01 04:38] chlafreniere commented on #14629
@Charles-Gagnon moving this out. If you disagree, let's chat 😄

[2021-04-01 07:02] jeeva-development commented on #9116
Is there any workaround for this issue? and when the fix is expected? I am using Azure Data Studio 1.27.0, Running mssql server in docker container - mcr.microsoft.com/mssql/server:2017-GA-ubuntu. Azure Data Studio says 'A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 0 - 33085607)'

[2021-04-01 13:38] mrlife commented on #10937
@abist Possible to implement this soon if it's a low effort? Having to sort every time to find the job I'm looking for is a genuine issue.

[2021-04-01 13:40] mrlife commented on #10240
@abist Please make this update. Thanks.

[2021-04-01 15:00] abist commented on #10937
@mrlife Thanks for the request, I'll take it for the next release.

[2021-04-01 16:24] JrogeT commented on #8750
Is there any new about this?

[2021-04-01 16:41] #14632 closed

[2021-04-01 16:48] radentonev opened #14945 "Welcome page text color issue in dark theme"
Issue Type: <b>Bug</b>

The SQL Admin Pack title and body text turn black in dark theme, which is wrong. The text should remain white instead, b/c its background is rather dark.

<img width="1680" alt="Screen Shot 2021-04-01 at 9 44 50 AM" src="https://user-images.githubusercontent.com/71295692/113326905-23b6cc00-92cf-11eb-9fa8-74180ca94e74.png">

Azure Data Studio version: azuredatastudio 1.27.0

[2021-04-01 18:07] alanrenmsft commented on #14496
I am not able to reproduce the issue, are you still seeing the issue with the latest ADS release? if so please reactivate and add the logs mentioned in the comment (https://github.com/microsoft/azuredatastudio/issues/14496#issuecomment-791063311) above.

[2021-04-01 18:07] #14496 closed

[2021-04-01 18:11] #14917 closed

[2021-04-01 18:16] #14630 closed

[2021-04-01 18:19] alanrenmsft commented on #14495
not able to reproduce the issue.

[2021-04-01 18:19] AnthonySalmeron opened #14947 "Deploying local sql db to Azure"
**Is your feature request related to a problem? Please describe.**
I'd like a way to deploy a local SQL database to Azure seamlessly from the UI.
**Describe the solution or feature you'd like**
In the same way the SSMS allows you to right click on a local database and deploy it the Azure, I'd like a similar feature for Azure Data Studio. This would be really helpful for people using non-Windows ma

[2021-04-01 21:09] kisantia commented on #14655
@udeeshagautam @ssreerama moving this to May release to give more time for this to be fixed in DacFx since code complete for April release is tomorrow

[2021-04-01 21:52] #14916 closed

[2021-04-02 03:38] alanrenmsft commented on #7335
the errors provided by @mr-onion-2 should be fixed by https://github.com/microsoft/azuredatastudio/pull/14946, the original error in this issue is still not actionable.

[2021-04-02 04:01] alanrenmsft commented on #7335
I've added more logging for the open editor error scenario, the changes will be in the upcoming ADS release, please try and let us know the new error messages you see in the toast notification.

[2021-04-02 14:24] shueybubbles opened #14953 "vulkan-1.dll is unsigned in Azure Data Studio"
The same file is signed in VS Code.

[2021-04-02 15:23] Geims83 opened #14954 "Data Studio is more responsive while run as administrator"
Issue Type: <b>Performance Issue</b>

Since a couple of weeks I'm having issues with Data Studio.
Everything related to user interaction (intellisense, scrolling, higlighting, rendering query results) seems stuttering.
Tried to run as administrator, with the same extensions and same test, and it runs a lot smoothier.

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff788

[2021-04-02 15:57] Charles-Gagnon commented on #14953
<ADSRoot>\vulkan-1.dll

[2021-04-02 16:33] ssreerama commented on #14655
Sure that would be good. Also, this has been completed and merged to the DacFx Dev :)

[2021-04-02 17:33] davidancr commented on #10337
Hi guys,

The past march 25th the openssl.org people released the 1.1.1k version, I tested this new version and everything looks great.
if you want to try this is the link:
https://www.openssl.org/source/
installing directly from linux repositories is not available yet.

[2021-04-02 18:47] cssuh commented on #14915
For the table you are trying to query, is this a local DB or one in Azure?

[2021-04-02 18:50] cssuh commented on #14935
#12637 closing for duplicate issue

[2021-04-02 18:50] #14935 closed

[2021-04-02 18:56] drizztdourden08 commented on #14915
These are DB in an elastic pool on Azure. I have 12 of them in two different pool and this does the same thing for all.

[2021-04-02 21:03] ssreerama opened #14957 "Schema Compare extension Source/Target database dropdowns always selecting first option"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Schema compare extension and try to select source and target databases any option from the dropdown.
2. Verify the databases selected before clicking ok.
3. Verify the database names that is showing in the source and target database text fields. It is showing the different database name which is the first option.

[2021-04-02 21:49] #14557 closed

[2021-04-02 23:22] minma898 commented on #8742
I have exact same issue with latest version of Azure Data Studio. PolyBase is installed and enabled on the target server and I verified result returns 1 for those two queries
SELECT SERVERPROPERTY('IsPolybaseInstalled');
SELECT value_in_use FROM sys.configurations WHERE name='polybase enabled';

I can run CREATE EXTERNAL TABLE successfully on the target server using SQL Server Management Studio. H

[2021-04-03 02:33] #12740 closed

[2021-04-03 02:36] #14335 closed

[2021-04-03 08:55] fvilches17 commented on #4916
Hello 2021!

315 thumbs up at time of writing. What threshold are we looking at? 😃

[2021-04-03 17:23] alanrenmsft opened #14962 "filter dropdown button is visible even when the row number exceeds the max value"
filter dropdown button is visible even when the row number exceeds the max value, clicking on it won't do anything (which is expected), this happens when:
1. randomly when executing query
2. when switching tabs

![image](https://user-images.githubusercontent.com/13777222/113486911-e9356680-9469-11eb-9670-0153ecc67440.png)

configured limit is 2000 rows.

[2021-04-04 07:10] alanrenmsft opened #14964 "clicking on the label doesn't select the corresponding checkbox or radio button"
User have to click on the radio button or checkbox directly in order to check/uncheck the checkbox/radio button

[2021-04-04 13:22] ferox commented on #4903
This project provides a SQLite connection provider for use in Azure Data Studio tests.
Link: https://github.com/microsoft/azuredatastudio-sqlite

[2021-04-04 13:28] OdinTech3 commented on #4903
@ferox Have you tried it, does it work well?

[2021-04-04 17:51] ferox commented on #4903
No.
Take a look at here: https://github.com/microsoft/azuredatastudio-sqlite/issues/5

[2021-04-05 15:43] emindemir93 opened #14966 "there is a problem after an update"
Issue Type: <b>Bug</b>

after last update of azure data studio it cannot load my connections and doesn't understand the language that i use and cannot connect to database

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:18:54.187Z)
OS version: Darwin x64 20.3.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R

[2021-04-05 16:29] kenvanhyning commented on #14644
Definitely should do this but doesn't meet ask mode bar.  Postponing - please bring back for May if the code is ready.

[2021-04-05 16:31] kenvanhyning commented on #14621
Holding this in ask mode for April - need to see if we can get a solid repro and a fix this week.  Otherwise we will move to May.

[2021-04-05 16:35] Charles-Gagnon commented on #8742
@minma898

Can you try running this query? And make sure you're running this as the same login you're trying to use the virtualize data wizard for and is against the `master` DB.

[code]

[2021-04-05 16:35] kenvanhyning commented on #14514
Currently holding this for April ask mode.  Need to clarify if we have a repro and if so, can we get a fix in this week.

[2021-04-05 16:37] kenvanhyning commented on #14501
Moving to postponed/backlog.  Please bring back for May if code is ready.

[2021-04-05 16:38] abist opened #14967 "April 2021 Release Endgame"
# April 2021 Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.28

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

[win-user]: https://go.microsoft.com/fwlink/?linkid=2132305
[win-system]: https://go.m

[2021-04-05 16:38] Charles-Gagnon commented on #14501
Oops, this should have been closed. It's already in =)

[2021-04-05 16:38] #14501 closed

[2021-04-05 16:39] kenvanhyning commented on #14211
Holding this for April askmode since it was postponed in March.  Need to verify if this is actionable this week.

[2021-04-05 16:41] kenvanhyning commented on #14181
Looks like this isn't going to make April either.  Moving this to May.

[2021-04-05 16:43] Charles-Gagnon commented on #14929
Note - for anyone having this issue we added some more information to our logging to help track this down. It's currently in the latest [Insiders](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main) build so if you're able to use that and then hit the issue please attach the logs as described above.

Otherwise the logging will be included in the next stable up

[2021-04-05 16:43] kenvanhyning commented on #14165
Moving tenant related work to May.  Too large of a change to add for ask mode.

[2021-04-05 16:43] Charles-Gagnon commented on #6763
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/14929 - see that for some more information on additional logging we added recently to try and track this down.

[2021-04-05 16:44] Charles-Gagnon commented on #13797
Closing this as a duplicate of #14929 - see that for some more information on additional logging we added recently to try and track this down.

[2021-04-05 16:44] #13797 closed

[2021-04-05 16:44] kenvanhyning commented on #14048
Doesn't meet ask mode bar.

[2021-04-05 16:46] kenvanhyning commented on #13953
Moving out of April ask mode.  If there is a known repro and fix ready, please bring back for April consideration.

[2021-04-05 16:47] dgorti opened #14969 "Fails to connect with MFA"
Issue Type: <b>Bug</b>

It asks for adding an account, says it is successful, and then fails to connect

Azure Data Studio version: azuredatastudio 1.27.0 (765c7064d46253d88393e0e1ff78874b6fe8fa64, 2021-03-16T21:24:59.168Z)
OS version: Windows_NT x64 10.0.19042

[2021-04-05 16:47] kenvanhyning commented on #13931
moving out to May for investigation and consideration.

[2021-04-05 16:59] minma898 commented on #8742
Ok, The query result is attached, I used the same login that I try to use virtualize data wizard
![Query](https://user-images.githubusercontent.com/81834992/113600994-a56f6800-95f5-11eb-8eab-15b5338f3337.PNG)

[2021-04-05 17:03] Charles-Gagnon commented on #8742
And this happens 100% of the time for you? (or at least consistently enough to be a problem)

[2021-04-05 17:09] minma898 commented on #8742
Yes, It happens 100%. I have never been able to run virtualize data (v1.12.0)

[2021-04-05 17:11] #14964 closed

[2021-04-05 17:34] alanrenmsft commented on #14621
I will take a look at this one.

[2021-04-05 18:02] dzsquared commented on #14825
@jmezach Am I understanding correctly that the system dacpacs are needed in CI/CD pipelines for build validation of objects that use system objects? I'm checking again into the ability to alter the licensing on the dacpacs but I'm also wondering if there's an alternative of changing the build logic.

[2021-04-05 18:08] kisantia commented on #14957
might be related to https://github.com/microsoft/azuredatastudio/issues/12779

[2021-04-05 18:29] Charles-Gagnon commented on #14953
I'll take a look at this one

[2021-04-05 18:49] Charles-Gagnon opened #14973 "Update Arc/Azdata Extensions for March release"
Contains latest fixes/changes to support Arc March release.

[2021-04-05 18:54] joshbooker opened #14975 "sqlpackage.exe feedback"
Where is the correct place/method to provide feedback on the sqlpackage.exe utility?

For example, it's a known issue that export bacpac fails when there are windows credentials in the database.  Apparently this is by design.  I'd like to suggest the need for an an added option to ignore users\permissions.

ie: https://github.com/Microsoft/azuredatastudio/issues/3337

TIA

[2021-04-05 19:00] kisantia commented on #14517
closing this since the original issue is resolved and fix has been verified. Please open a new issue for making the horizontal scrolling keyboard accessible, as this problem is also present in the connections view and file explorer view.

[2021-04-05 19:00] #14517 closed

[2021-04-05 19:26] minma898 commented on #8742
Hi, Attached are log files requested (no private data in the files). Thanks for the help.

From: github-actions[bot] ***@***.***>
Sent: Monday, April 5, 2021 10:49 AM
To: microsoft/azuredatastudio ***@***.***>
Cc: Min Ma ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azuredatastudio] Error, Requires "PolyBase to be enabled..." even If already enabled (#8742)

CAUTION: This email origin

[2021-04-05 19:41] Charles-Gagnon commented on #8742
@minma898 It looks like the attachments weren't included - could you try uploading them again? You can also e-mail them to me directly if you wish and I'll take a look.

[2021-04-05 19:51] kburtram commented on #14742
@waltersblake do you see any exception in the "Help -> Toogle Developer Tools" Console?  Or anything else that could help us repro this bug?

[2021-04-05 19:53] kburtram commented on #14966
@emindemir93 are you seeing any errors in the "Help -> Toggle Developer Tools" Console?  Have you tried reinstalling ADS (as we haven't see widespread reports of this type of error after upgrade to 1.27.0?

[2021-04-05 20:00] minma898 commented on #8742
Log files are attached

[Console.log](https://github.com/microsoft/azuredatastudio/files/6260355/Console.log)
[20210405T114231.zip](https://github.com/microsoft/azuredatastudio/files/6260361/20210405T114231.zip)

[2021-04-05 20:01] emindemir93 commented on #14966
I did re-install but didn't fix so I download the v1.26.1 after that i update the ADS and now everything is look OK

[2021-04-05 20:09] Charles-Gagnon commented on #8742
It looks like you might not have the logging setting enabled, could you see if you have the following setting checked? If you don't then :

1. Check the setting
2. Restart ADS
3. Follow the steps above to generate the logs again

![image](https://user-images.githubusercontent.com/28519865/113620978-e8d6d000-960f-11eb-990e-8d373103ab38.png)

[2021-04-05 20:10] #14973 closed

[2021-04-05 20:11] #14966 closed

[2021-04-05 20:13] alanrenmsft opened #14977 "notebook cell execution never stops if the row count exceeds the max row count"
the default max row count for notebook cell output is 5000, as shown in the screenshot below, there are more than 5000 rows returned by the query, when the first 5000 are displayed in the output, the execution status indicator is never updated to completed.

![image](https://user-images.githubusercontent.com/13777222/113621425-74506100-9610-11eb-9759-8bc764b82585.png)

[2021-04-05 20:28] #14962 closed

[2021-04-05 20:37] udeeshagautam opened #14979 "Project Dashboard should have a message when empty (when no Deployment/Build history)"
- Azure Data Studio Version:

Steps to Reproduce:

1. We recently added the Project Dashboard to Shoul build and deploy history
2. When there is no history for the session The dashboard is empty and look weird.
3. the Dashboard should have a message to the effect of "run build and Deployments to see the data/history here."

[2021-04-05 20:46] minma898 commented on #8742
Enabled logging setting and generated logs again

[Console.log](https://github.com/microsoft/azuredatastudio/files/6260511/Console.log)
[20210402T151835.zip](https://github.com/microsoft/azuredatastudio/files/6260526/20210402T151835.zip)

[2021-04-05 21:18] alanrenmsft commented on #14621
I have coded a PR for the error message reported in the issue description: https://github.com/microsoft/azuredatastudio/pull/14981.

but I don't think it is causing the server explorer to stop working. I tried to connect using a user with the 'public' server, I am able to connect and expand the server tree.

@yunghk and @m4th13u79  , could you please provide more detailed information:
1. what type

[2021-04-05 21:40] alanrenmsft commented on #14514
@jaapie are u still having the issue?

[2021-04-05 22:06] Charles-Gagnon commented on #8742
Unfortunately it looks like something happened and the logs I'm expecting aren't there. Could you try the following to help try and figure out what's going on?

1. Close all instances of ADS
2. Start ADS
3. Verify setting from above is still checked
4. Open up Data Virtualization dialog
5. Run the `Developer: Open Extension Logs Folder` command (note this is slightly different than the one above)

[2021-04-05 23:11] Charles-Gagnon opened #14985 "Add more Notebook telemetry events"
PM request to add more events for tracking Notebook usage

[2021-04-05 23:29] #14939 closed

[2021-04-05 23:30] jayden-macrae commented on #13872
[Issue 8792](https://github.com/microsoft/azuredatastudio/issues/8792) has [a comment which suggests removing](https://github.com/microsoft/azuredatastudio/issues/8792#issuecomment-605030113):
c:\Users[your username]\AppData\Roaming\azuredatastudio\Backups[random number]\untitled\

Removing these files stopped the reported behaviour.

[2021-04-05 23:33] abist commented on #14211
@ursu123 I wasn't able to repro this issue. Could you specify what kind of server and database you're connected to?

[2021-04-05 23:44] abist commented on #14211
@ursu123 I noticed in the logs you provided that there's a login error right before the scriptAsCreate error:

[code]
Is the connection being made with the correct credentials?

[2021-04-06 00:22] minma898 commented on #8742
After run Developer: Open Extension Logs Folder, I see folder named Micrisoft.datavirtualization there and it contains a log file which is not empty

Here is result from command in powershell window

CommandLine
-----------
c:\Users\xxxxx\.azuredatastudio\extensions\microsoft.datavirtualization-1.12.0\scaleoutdataservice\Windows\1.10.0\MicrosoftSqlToolsScaleOutData.exe --log-dir c:\Users\xxxxx\App

[2021-04-06 06:43] jmezach commented on #14825
@dzsquared Yes, that is one of the primary motivations behind `MSBuild.Sdk.SqlProj` to allow CI/CD of database projects without the need to have Visual Studio with SQL Server Data Tools installed on your build agent and also so that you can do CI/CD cross-platform (ie. on Linux/Mac).

Personally I'm not usually referencing system objects from my database projects, but I can understand why people w

[2021-04-06 17:08] Charles-Gagnon opened #14997 "Update minimum required azdata version to 20.3.2"
Update to latest released version

[2021-04-06 17:13] #14985 closed

[2021-04-06 17:34] #14953 closed

[2021-04-06 17:35] chlafreniere commented on #14953
Merged into release/1.28.

[2021-04-06 17:37] mrjrdnthms commented on #14853
this is a brutal bug. happens all the time and the team has not addressed it for too long. the only option right now is to close and reopen azure data studio. if you close and reopen it is forced to reconnect to the db and queries execute immediately again. I close and reopen the app about every 10 min. its awfully annoying.

[2021-04-06 20:24] Charles-Gagnon commented on #8742
Thanks. although I'm not seeing why this is failing still. So if you have time to try these two things that would be great :

1. Run this query using the same login against the master DB :

[code]

2.
- Download this zip [Microsoft.SqlTools.ScaleOutData.Services.dll.zip](https://github.com/microsoft/azuredatastudio/files/6267330/Microsoft.SqlTools.ScaleOutData.Services.dll.zip)
- Extract the DLL
-

[2021-04-06 20:27] chlafreniere commented on #14724
Merged into release/1.28.

[2021-04-06 20:27] #14724 closed

[2021-04-06 20:27] JustinMDotNet opened #15003 "Kusto Extension Update"
**Is your feature request related to a problem? Please describe.**
The current Kusto extension is set to run against version 1.27 and needs to be updated.

**Describe the solution or feature you'd like**
The latest version of the Kusto Extension needs to be updated to only work against ADS 1.28

**Describe alternatives you've considered**
Wait for next release cycle

**Additional context**
n/a

[2021-04-06 20:44] udeeshagautam commented on #14957
@ssreerama - was the issue that its 1) showing incorrect DB when you open the dialog OR 2) that you are not able to change it. If the issue is only (1) @kisantia  please add this to you PR and we cna port it if it (2) then lets close this since its not repoing?

[2021-04-06 20:46] aasimkhan30 commented on #13864
This seems a duplicate to this https://github.com/microsoft/azuredatastudio/issues/5692 issue.

Here is the solution posted for this issue.
https://github.com/microsoft/azuredatastudio/issues/5692#issuecomment-650396719

[2021-04-06 20:46] #13864 closed

[2021-04-06 21:14] barbaravaldez opened #15007 "Bump SQL Server Guide package version in ADS"
- Azure Data Studio Version:
Version: 1.28.0-rc1
Commit: 124f7ca887bb12e8b0054e3a707404cdedf6b688
Date: 2021-04-05T20:28:22.005Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.3.0

[2021-04-06 22:05] SakshiS-harma opened #15008 "Add refresh button on Projects dashboard"
It might be confusing for customers on how to refresh dashboard. As of now, it needs to be reopened.
![image](https://user-images.githubusercontent.com/57200045/113783993-79351380-96e9-11eb-96cf-c5174274241e.png)

Add a refresh button on the toolbar.

[2021-04-06 22:12] Charles-Gagnon opened #15009 "Azdata extension doesn't check for minimum version"
The Azdata extension doesn't check that the version currently installed supports the features it needs - so if someone has an older version of azdata installed then the extension and anything depending on it may break in various ways.

We should make it clear when a version is required and not allow the user to use any functionality until the version is updated.

[2021-04-06 23:15] #12779 closed

[2021-04-07 00:09] cssuh opened #15013 "Enable disabling of checkboxes in declarative table"
**Is your feature request related to a problem? Please describe.**
I want to be able to disable checkboxes for declarative tables like in the image below: right now this is not possible.
![MicrosoftTeams-image (4)](https://user-images.githubusercontent.com/18150417/113792379-a9d17900-96fa-11eb-9ec0-1ebaaab3192a.png)

[2021-04-07 00:09] udeeshagautam commented on #15008
@SakshiS-harma please add labels when creating the issues :)

[2021-04-07 01:40] udeeshagautam commented on #15008
Marking it april since it came from and In-april bug PR comment

[2021-04-07 02:42] shahiddev commented on #14845
If someone was able to give me some hints as to how to tackle this I may be able to take a look at this and submit a PR if possible?

[2021-04-07 05:23] ssreerama commented on #14957
@udeeshagautam, This is not related to the #1. We have noticed this issue is caused because of ADS cache, when I cleared the cache on local, everything works as expected. Due to cache the schema compare dialog functionality wasn't responding with the changes and still maintaining the initial populated server/database values. I am gonna close this is Issue, as it was only reproduced in my machine a

[2021-04-07 05:23] #14957 closed

[2021-04-07 07:42] #14979 closed

[2021-04-07 08:29] mrmartan opened #15016 "Standalone cloud-native tooling"
I am sorry to start like this but the approach described at https://docs.microsoft.com/en-us/sql/azure-data-studio/extensions/sql-database-project-extension-build-from-command-line?view=sql-server-ver15 is ridiculous (Installing desktop application, building from UI, copying dlls).

Please deliver the ability to build and deploy database projects in a cloud native way out of the box.

The way to g

[2021-04-07 12:47] JoshPorterFKH commented on #8331
+1 for this being a ridiculous defect.  I can reproduce and it causes me to close ADS in frustration every few months when I attempt to use it again.  Come on MS.

[2021-04-07 12:58] rgmane opened #15017 "Change Order of Server Groups"
It is not currently possible to drag-rearrange server groups. To change the order of custom server groups, the user must delete and remake the groups in the desired sequence. It is possible to drag and drop server groups inside one another, but not to drag them above and below to change their order.

Change the UI to allow the order to be altered by moving server groups above and below.

Create a

[2021-04-07 16:46] Charles-Gagnon commented on #15017
As a workaround you can also modify the settings file directly.

1. Run the `Preferences: Open Settings (JSON)` command
2. Find the `datasource.connectionGroups` section
3. Re-order the groups there as desired
4. Close and re-open ADS

The groups should now be in the new order.

[2021-04-07 16:57] minma898 commented on #8742
1) Run the query with same login against the target DB, attached the query result.
2) Here are what I see in the log file. I see value is 0 for Polybase enabled, but the query returns 1.
![2021-04-07 09_31_03-● SQLQuery_1 - SPCPDWHOUSE01 master (Integrated) - Azure Data Studio](https://user-images.githubusercontent.com/81834992/113905011-8c96bc00-9787-11eb-8323-6d6d3fd7293f.png)

4/7/2021 9:41:23

[2021-04-07 17:26] Charles-Gagnon commented on #8742
And in the connection string from the logs is the database set to master? And the data source looks correct - no weirdness going on there?

[2021-04-07 17:30] Charles-Gagnon commented on #8742
Actually - looks like the connection string will still list the original database (we set a different property on the SqlConnection). But it might be relevant if that database is different than master so I'd still like to know if this is for another database.

Are you able to connect directly to master? If so could you try making another connection for that and seeing if the wizard works there?

[2021-04-07 17:46] MsSQLGirl commented on #13771
Linking #9658 to this thread as a related parameterization work.

[2021-04-07 17:53] chlafreniere commented on #15009
Merged into release/1.28.

[2021-04-07 17:53] #15009 closed

[2021-04-07 18:16] MsSQLGirl commented on #8541
This split cell would be very useful for code cell also.

[2021-04-07 18:31] kisantia opened #15020 "Project dashboard shows data of all open projects, not just current project"
A project's dashboard should only show that project's build and publish information. As seen in the gif below, the two project dashboards are showing the started build of the AdventureWorks project.

![dashboardbug](https://user-images.githubusercontent.com/31145923/113915942-3bd99000-9794-11eb-97a5-4676f51b0874.gif)

[2021-04-07 18:33] MsSQLGirl commented on #13737
This issue is now tracked here: 14545

[2021-04-07 18:43] MsSQLGirl commented on #9699
Additional note on Impact - There have been multiple requests to use multiple languages in the same notebook from livesite engineers.

[2021-04-07 18:59] kisantia opened #15021 "Project dashboard build ids change with each new build"
The build ids of builds changes with each build. Might also be confusing to users that the build ids start at zero.

Steps to repro:
1. start a build for a project and open dashboard. Refresh dashboard when build is finished
2. Start another build for the same project and refresh the dashboard.

Expected: build id for the already existing builds shouldn't change.

Actual: Every time there is a new

[2021-04-07 19:11] kisantia opened #15022 "Project dashboard deployment doesn't differentiate between publish and generate script"
Either add an additional column to the deployments table to specify if it's a publish or generate script or don't show generate scripts in the deployments table.

Also, should we consider aligning on the wording for publish/deploy? It's a little confusing that the dashboard uses "Deployments" but the context menu action and dialog say "Publish." @dzsquared for any suggestions

[2021-04-07 19:16] MaddyDev opened #15023 "Fails to select active notebook file in viewlet when opened from command pallet"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Livesite workspace and try to open 'Login errors' file from command pallet.

Expected to open the file and select it on the viewlet.

Bug: It only expands until its parent book and doesn't select the notebook itself.

[2021-04-07 20:32] #15008 closed

[2021-04-07 20:40] Charles-Gagnon opened #15028 "DatabaseConnected event has wrong provider property name"
The property name was recently changed from `provider` to `providerName` which is breaking our reporting

[2021-04-07 21:45] rgmane commented on #15017
That worked. Thanks @Charles-Gagnon

[2021-04-07 22:15] kisantia commented on #14975
sqlpackage/dacfx issues can be opened in the [DacExtensions](https://github.com/microsoft/DACExtensions/issues) repo

[2021-04-07 22:17] udeeshagautam opened #15040 "if no connection is available Backup command pallet launch freezes ADS"
- Azure Data Studio Version:

Steps to Reproduce:

1. Launch ADS - dont start any connections or so
2. Open command pallet and select backup
3. backup dialog opens - **it should not open and should give an error saying there is no db in context - it already has an error for such cases**
4. Even if it does open and it doesnt not have any context - I should be able to click cancel - **Cancel button

[2021-04-07 22:27] #15013 closed

[2021-04-07 23:09] #15007 closed

[2021-04-07 23:15] #15028 closed

[2021-04-07 23:16] minma898 commented on #8742
Yes, I am able to connect directly to master without any issue, same as connecting to my working database, Regardless which databases connected, the wizard stops working with the same error

[2021-04-08 01:30] MsSQLGirl opened #15043 "Insert link in WYSIWYG modifies existing section / header link unexpectedly"
- Azure Data Studio Version:
Version: 1.27.0 (user setup)
Commit: 765c7064d46253d88393e0e1ff78874b6fe8fa64
Date: 2021-03-16T21:24:59.168Z
VS Code: 1.51.0
Electron: 9.4.3
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

and

Version: 1.28.0-rc1 (user setup)
Commit: 519012c69002b890cdacc9b5528f8e04231a03c9
Date: 2021-04-07T23:26:03.155Z
VS Code: 1.51.0

[2021-04-08 01:32] MsSQLGirl commented on #15043
@chlafreniere  - I added this as Pri:1 ...

I'm going to investigate what happens if this is not a header link next.

[2021-04-08 01:34] MsSQLGirl commented on #15043
Confirmed that this seems to be affecting only those `#` header / section links.

[2021-04-08 02:15] VasuBhog commented on #15043
I believe that this is similar to this bug that @barbaravaldez issued: #14734 and has a PR currently out: #14950. I will test this specific issue, as it seems anchor links currently get formatted improperly once edited.

[2021-04-08 06:20] VasuBhog commented on #15043
I can confirm (on Windows) that I was not able to reproduce this issue with Barbara current fix for anchors in WYSIWYG.

[2021-04-08 07:24] aasimkhan30 opened #15045 "Import extension asking azdata CLI to be installed/updated before startup"
- Azure Data Studio Version: 1.28.0-insider

Steps to Reproduce:

1. Install Import extension
2. Press ctrl + I

@Charles-Gagnon This popup shows up when I am trying to start the import extension.

![image](https://user-images.githubusercontent.com/6816294/113984902-71b45e00-9800-11eb-9fed-769eabb39309.png)

After clicking 'Accept', it just gets stuck on this step and flat file service never start

[2021-04-08 09:30] sj7272 commented on #11586
Hi,
What's the latest on this - I have the same error - any workarounds?

[2021-04-08 12:09] maccer83 opened #15046 "Db project: "Go to definition" for a stored procedure/function should open the file where the proc/function is defined"
I am using Azure Data Studio 1.27.0 with the SQL Database Projects plugin v 0.7.1 on macOS Catalina 10.15.7.

Within a database project created from a database (.sqlproj), I open a file where one of my stored procedures is declared (e.g. MySchema1/StoredProcedures/MyStoredProcedure1.sql).

This stored procedure calls another stored procedure that I want to see the definition for and edit:
`EXEC My

[2021-04-08 12:28] maccer83 opened #15047 "Clickable link to database project contains erranous square bracket at the end"
Issue Type: <b>Bug</b>

When building a sql database project and getting error messages in the console, you can usually click the links. But the link to the database project itself contains a closing bracket at the end (see image where the "]" after ".sqlproj]" is underlined and thus included in the link.

![Square bracket at end of clickable link](https://user-images.githubusercontent.com/1206430

[2021-04-08 13:50] jwatkin opened #15048 "Missing row when SQL notebook saves to Excel or csv"
- Azure Data Studio Version: 1.27.0

Steps to Reproduce:

1. Create a new SQL notebook in Azure Data Studio.
2. Create a code cell.
3. Create a SQL query in this code cell that will return at least 1000 rows, I don't know the exact limit.
4. Examine the result set, specifically row 501.
5. Use the SQL notebook result set controls on top of the result set to save the file as Excel or csv.
6. Open t

[2021-04-08 14:02] jwatkin opened #15049 "SQL notebook warning before deleting cell, or implement undo"
**Is your feature request related to a problem? Please describe.**
It's too easy to accidentally delete a SQL notebook cell by clicking its trash can icon, and undo isn't implemented to recover the cell. This can lead to lost work and suffering.

**Describe the solution or feature you'd like**
Before deleting the cell, produce a warning dialog with text something like: "Are you certain you want to

[2021-04-08 14:16] jwatkin opened #15050 "Spell checker extension for SQL notebooks"
**Is your feature request related to a problem? Please describe.**
I don't see a spell checker extension installation option for Azure Data Studio. This is necessary to spell check SQL notebook text cells, and to spell check comments in code cells.

**Describe the solution or feature you'd like**
Create a spell checker extension for Azure Data Studio SQL notebooks, or assist an existing spell chec

[2021-04-08 14:31] lucyzhang929 commented on #15048
Hi @jwatkin, thank you for reporting. This issue has been fixed and will be available in the next ADS release (v1.28.0). It is also available now in Insiders which can be downloaded here: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main.

[2021-04-08 14:31] #15048 closed

[2021-04-08 15:09] jwatkin commented on #15048
Thank you. I'm sorry I didn't spot that. I had only searched for open issues, not closed ones.

[2021-04-08 15:33] Charles-Gagnon commented on #15045
This should have nothing to do with the import extension - the azdata extension will display this regardless of any other extensions when there's a new update. It's probably just a timing thing where both extensions are activating at the same time. If you just start up ADS you should see the prompt regardless of whether you start the import wizard or not.

Where is the import extension getting stu

[2021-04-08 15:34] Charles-Gagnon commented on #15045
There was an issue with the download center yesterday that was causing the azdata install to fail on windows - if you try again do you still see the same behavior?

[2021-04-08 15:51] Charles-Gagnon commented on #15045
Are you sure that you weren't just downloading/installing the Import Service? I just tried it and did see that - and then once the flat file import service was installed it opened the dialog as expected.

[code]

[2021-04-08 16:48] kisantia commented on #15047
duplicate of #13955

[2021-04-08 17:03] kisantia opened #15052 "Database references dialog project dropdown shows projects that failed to load"
If there are projects in the workspace file that failed to load, like if they don't exist, they will still show in the projects dropdown in the database references dialog as options to add a project references.

Expected: only projects loaded in the projects viewlet can be added as project references.

![image](https://user-images.githubusercontent.com/31145923/114066445-99cbad80-9850-11eb-851c-d0

[2021-04-08 17:13] kisantia commented on #15047
reopening since related issue has additional issues. Looks like the problem is with how the filepath is parsed, since the closing ] is being considered as part of the path, but the [ isn't. Fix will probably be somewhere in the ADS core code.

[2021-04-08 17:21] maccer83 commented on #15047
Thanks, was just going to say that the other bug wasn't really about the clickable link in the file path :-)

There's a related issue with spaces in folder names (such as the "Stored Procedures" folders created by SSDT) breaking the clickable links, not sure if I should create a new bug report about that?
![Space_in_folder_name_breaks_clickable_link](https://user-images.githubusercontent.com/12064

[2021-04-08 17:46] udeeshagautam commented on #13955
Hi @wknsJimmy, we tried reproing the issue but could not so far. I tried using the project file you shared and after removing the objects (tables/views, which I dont have) it is building fine with ADS and command prompt. Following are few steps that can help us debug the issue further.

1. We are using dotnet.exe to do the build, so can you please help check if you run the same cmmand from command

[2021-04-08 17:54] udeeshagautam opened #15053 "Show better error for unsupported (lower) versions of Dotnet installed for SqlDB Project"
- Azure Data Studio Version:

Steps to Reproduce:

1. Currently we give the right set of errors if no dotnet is installed

"The .NET Core SDK cannnot be located. Project build will not work. Please install .NET Core SDK version 3.1 or update the .Net Core SDK location in settings if already installed."

2. BUT if dotnet is present but the version is such that it might not be supported the error is

[2021-04-08 17:56] udeeshagautam commented on #15053
We got this from https://github.com/microsoft/azuredatastudio/issues/13955

[2021-04-08 18:07] mastercorp-usa commented on #14107
I am having the same problem..

/C:/Users/venum/AppD…desktop.main.js:494 [Extension Host] (node:19064) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead. (at writeOut (internal/process/warning.js:27:3))

[2021-04-08 18:11] Charles-Gagnon commented on #8742
Here's another version of the DLL with some additional logging - if you get a chance could you follow the same steps above to install it and then get the logs?

[Microsoft.SqlTools.ScaleOutData.Services.zip](https://github.com/microsoft/azuredatastudio/files/6280626/Microsoft.SqlTools.ScaleOutData.Services.zip)

[2021-04-08 18:17] mastercorp-usa commented on #14432
I am having the same problem and I can reproduce the issue, please let me know..
I am using both test and production instance in (Azure SQL) Azure cloud.

/C:/Users/venum/AppD…desktop.main.js:494 [Extension Host] (node:19064) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods inste

[2021-04-08 18:23] kburtram opened #15056 "azdata update prompt doesn't have a "Don't Show Again" option"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Launch ADS (particularly in dev mode with all extensions installed)

Expected: No notifications on startup that can't be disabled.  All prompts we show on startup should have a "Do not show again" option.

Actual: azdata keeps popping up a notification

![image](https://user-images.githubusercontent.com/599935/114077482-b66de280-985c-11e

[2021-04-08 18:28] kburtram commented on #15056
BTW, when I restarted and clicked "Yes" I got the below error.  Also attempting the update required me to elevate my permissions.  These are a couple additional reason we need to be able to turn off this prompt if we don't want to upgrade.

![image](https://user-images.githubusercontent.com/599935/114078034-4f046280-985d-11eb-8c12-99b09d4e1293.png)

[2021-04-08 18:29] #15020 closed

[2021-04-08 18:43] Charles-Gagnon commented on #15056
@kburtram This particular version of the prompt has the "Don't show again" because the update is required for the extension to work and so I want it to always prompt whenever the extension activates or functionality of the extension is used.

I'll think about it - maybe what I can do is have the "Don't show" prompt on the initial startup message but then for any further uses of it not allow them t

[2021-04-08 18:46] Charles-Gagnon commented on #15056
Updating always requires elevating permissions unfortunately - this is just a requirement of the azdata CLI installer.

The error is interesting though - do you know of any reason why that error would be given? Were you running multiple instances of ADS at once that might have been conflicting?

[2021-04-08 19:07] kburtram commented on #15056
@Charles-Gagnon I think the error is that I clicked Yes and that started the update process.  Then a few minutes later I closed ADS.  Then when I started ADS again I clicked Yes again (since I can't otherwise get the prompt to stop appearing).  Probably some of the start/stop ADS workflows are more related to dev use-case than customer use-case.  But in general for even the dev experience it's goo

[2021-04-08 19:21] Charles-Gagnon commented on #15056
Gotcha, thanks. PR out to add the "Don't show again" prompt for the initial message.

I'll look into fixing the resource busy error too - azdata takes a long time to install so that was likely still running when you started it up again hence why it was busy. Adding a hash/timestamp to the filename when we download it should fix that issue.

[2021-04-08 19:24] Charles-Gagnon opened #15059 ""Resource is busy" error when restarting azdata update"
1. Start azdata update
2. Close ADS
3. Open ADS
4. Start azdata update

Get "Resource is busy" error - the file downloaded just uses the original filename which means that we'll try to overwrite the one that's still being used by the original update. We should probably add a hash/timestamp to the filename to prevent this.

![image](https://user-images.githubusercontent.com/599935/114078034-4f04628