[2022-10-13 01:48] cheenamalhotra commented on #20831
@raycelgraterol this appears to be a known issue, https://github.com/microsoft/azuredatastudio/issues/20551.
You may close this one and follow updates on the existing one :)

[2022-10-13 03:00] #20789 closed

[2022-10-13 06:48] wapayne69 opened #20833 "Unable to build my project due to missing assemblies after installing .net core 3.1.424"
Issue Type: <b>Bug</b>

After installing .net core 3.1.424 sdk as per documented requirements. I am still unable to build my database project (there are also no other versions of .net on this machine).

I had to jump through a lot of infosec hoops just to get someone with admin permissions to install this on my laptop. Before I go through the whole process again, can someone please tell me exactly

[2022-10-13 07:38] IcyCooldrink opened #20834 "Bar at top of editor pane disappears if (kql) query is saved"
Issue Type: <b>Bug</b>

I'll say up-front that this might just be a setting that I inadvertently changed and don't know how to change back.  Not that I move away from defaults usually, but it's not impossible I did a random command shortcut.

This relates to kql queries with the kusto(KQL) extension installed.

Actual behaviour
1. Right-click an open Kusto connection and click 'New Query'
2. Write

[2022-10-13 11:30] sqlworldwide commented on #20822
I downloaded an older version .37, and it works fine there. Meaning some recent changes broke this functionality.

[2022-10-13 13:54] VojtechDx opened #20835 "Error listing source tables in Data Virtualization extension when schema name is "All""
Issue Type: <b>Bug</b>

I have a source DB where the schema is named "ALL"
When I want to list available tables for virtualization error
“105076;The specified LOCATION string '[XXX].ALL' could not be parsed.”
is shown.
From log I have noticed that the following code is executed:
”
BEGIN TRY BEGIN TRANSACTION T4dbc01093b2d49248c0e281eb8f63ba
    DECLARE @eds_schemas TABLE  (
        OBJECT_TYPE NVA

[2022-10-13 17:06] caohai opened #20838 "Table Designer initialization error from OE Azure view"
Repro:
1. Open table designer from OE Azure view -> Exception
2. Open table designer for the same server from OE Servers view -> still exception

[2022-10-13 18:01] #15071 closed

[2022-10-13 18:12] alanrenmsft opened #20839 "Create table fails for Azure Synapse non-master database"
![image](https://user-images.githubusercontent.com/13777222/195673575-afa80f23-8a53-4356-89c5-8161e2b10c19.png)

this is due to the limitation listed here:
https://learn.microsoft.com/en-us/azure/synapse-analytics/sql-data-warehouse/sql-data-warehouse-develop-transactions#limitations

update the table designer to disable transaction support for Azure Synapse database, also similar to the memory-op

[2022-10-13 18:14] alanrenmsft commented on #20787
also I just tried table designer with Azure Synapse, I was able to open table designer successfully. what is the spec for your Azure Synapse database?

note that there is an issue with publishing changes for non-master databases: https://github.com/microsoft/azuredatastudio/issues/20839

[2022-10-13 18:39] cheenamalhotra commented on #20831
Closing as duplicate

[2022-10-13 18:39] #20831 closed

[2022-10-13 18:43] ArtisanByteCrafter commented on #13180
It would be helpful if there was an option to force this behavior, even if the data doesn't need it. Often business/project requirements require enclosed values regardless.

[2022-10-13 20:19] alanrenmsft commented on #1774
Folks, I just tried Azure Data Studio on a Windows 11 with ARM processor, and I am able to use it without any issue. I saw some comments mentioned they couldn't even run the app at all, I suppose it is because the emulator is only available recently?

Now the ask here is to produce a native build for Windows on ARM, right?

[2022-10-13 20:49] kisantia commented on #20833
@wapayne69 It's strange that it's looking for .NETFramework assemblies. Does the project you're trying to build have a target framework specified in the .sqlproj? Can you check if building a new empty project fails?

[2022-10-13 21:40] wapayne69 commented on #20833
So if I create a new project, I don't get the .net errors. If I copy the project with errors to a new location I also don't get .net errors.

This appears to be related to the fact that my project is git connected?

[2022-10-13 22:58] alanrenmsft commented on #20709
table designer is working now for Cheena, closing the issue.

[2022-10-13 22:58] #20709 closed

[2022-10-13 23:58] kisantia commented on #20833
@SakshiS-harma can you look into it since you might have a repro?

[2022-10-14 00:15] SakshiS-harma commented on #20833
@wapayne69 did you create this project in SSDT and then imported it to ADS?
You said if you change the location, it builds fine - is this understanding correct?
Also, what is the target framework specified in the .sqlproj?

[2022-10-14 00:37] SakshiS-harma commented on #20833
@wapayne69 Can you please confirm if "Microsoft.NETFramework.ReferenceAssemblies" package is been referenced in the .sqlproj file?

[2022-10-14 01:44] Charles-Gagnon opened #20846 "Kusto & Azure Monitor tools services crash during smoke tests"
Seeing this during smoke tests. For now will disable these extensions during smoke tests since they aren't actually used for any of the tests and are causing other tests to fail unexpectedly.

![NotebookTreeView_Pin_notebook](https://user-images.githubusercontent.com/28519865/195742743-d1bd5dee-4fd8-4796-822f-8ae85f69371c.png)

[2022-10-14 03:35] wapayne69 commented on #20833
This project was created using the Data Studio extension, I don't have SSDT installed on this machine.

I don't see any reference to "Microsoft.NETFramework.ReferenceAssemblies" in the sqlproj file (is there somewhere else I should be looking?

<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build">
  <Sdk Name="Microsoft.Build.Sql" Version="0.1.3-preview" />
  <PropertyGroup>

[2022-10-14 04:19] cheenamalhotra commented on #20839
Regular tables would work in a dedicated SQL Pool, so you may try that.
Serverless SQL Pool provides limited data storage support.
Reference: https://learn.microsoft.com/en-us/azure/synapse-analytics/sql/develop-tables-overview

[2022-10-14 06:16] aasimkhan30 commented on #20777
@poojapatil36 , it seems NVDA is only announcing graphic when the focus first enters the chart. Which is expected. It does not announce graphic when we are navigating between nodes.

[2022-10-14 06:19] aasimkhan30 commented on #20777
![azuredatastudio_13YXztU2u6](https://user-images.githubusercontent.com/6816294/195776049-d0f398a4-380e-45f8-8d97-93e948235c17.gif)

[2022-10-14 11:10] poojapatil36 commented on #20777
@aasimkhan30 For second node also it is announced as link for graphic when navigate the tree view in scan mode.

[2022-10-14 15:30] SakshiS-harma commented on #20833
Can you try adding the below line in your sqlproj file under a separate "ItemGroup":
<PackageReference Condition="'$(NetCoreBuild)' == 'true'" Include="Microsoft.NETFramework.ReferenceAssemblies" Version="1.0.0" PrivateAssets="All" />
and then try building the project?
Can you also confirm if this package reference exists in your working project?

[2022-10-14 17:23] MrHippo85 commented on #20787
Hi there @alanrenmsft.

Thanks again for getting back to me.

Unfortunately, I am unable to provide the information requested, as I am using ADS within a corporate environment and do not have the required permissions to access the billing information nor spec of the databases we use in any detail. I am aware that we are on an Enterprise Agreement if this helps. I appreciate this is not very helpfu

[2022-10-14 22:38] alanrenmsft commented on #19480
@dfalso this has been fixed now, please refer to this comment: https://github.com/microsoft/azuredatastudio/issues/392#issuecomment-1239773578

[2022-10-14 22:38] #19480 closed

[2022-10-14 22:39] alanrenmsft commented on #19480
@dfalso BTW, this is only available in the Insiders build, the next stable release will have the fix.

[2022-10-14 23:16] alanrenmsft opened #20855 "cell selection and navigation issues with query result grid"
- [ ] Can't use mouse select button to select cells that span cross multiple pages.  refer to Excel for the desired behavior
![select-multiple-pages-with-mouse](https://user-images.githubusercontent.com/13777222/195955527-9504e15d-cf02-4135-b663-158ad320554f.gif)

- [ ] Use mouse select button and mouse wheel/page up down key to select a range, the focus will be moved out of the grid. original iss

[2022-10-15 02:44] #2727 closed

[2022-10-15 02:45] alanrenmsft commented on #2727
I've added support for SHIFT key, here is a summary of the selection behaviors
**NOTE**: The multi-selection key is CTRL for Windows/Linux, CMD key for macOS.

**Scenarios**
1. Select all - click the header of row number column
![select-all](https://user-images.githubusercontent.com/13777222/195930089-9b29a3f2-6c74-4961-bf11-2e4852cfaf16.gif)

4. Select a single column - click the column header
![

[2022-10-15 02:50] alanrenmsft commented on #20551
@nathangmahler1987 please try it again when the new version is available in a month or so.

[2022-10-15 02:50] #20551 closed

[2022-10-15 04:18] nathangmahler1987 commented on #20551
Thanks!

On Fri, Oct 14, 2022 at 8:50 PM Alan Ren ***@***.***> wrote:

[2022-10-15 17:40] #20241 closed

[2022-10-15 17:42] alanrenmsft commented on #20241
the fix will be the Nov stable release. If you are using Insiders build, Oct 17th's Insider build should have it.

[2022-10-15 17:59] alanrenmsft commented on #5558
There is an extension for COSMOS DB in Azure Data Studio: https://github.com/microsoft/azuredatastudio/issues/4916#issuecomment-1267512387.

Please open issue in the extension team's own repository for feature requests/bugs.

[2022-10-15 17:59] #5558 closed

[2022-10-17 19:59] SakshiS-harma commented on #20833
@wapayne69 Any update? Can you share your sqlproj file, so that I can take a look at it as well.

[2022-10-17 21:04] aasimkhan30 commented on #20078
Here is why they vscode team had decided to close it https://github.com/microsoft/vscode/issues/137731

[2022-10-17 21:06] Charles-Gagnon commented on #20078
I'm going to close this for now then - if we start seeing failures again after the driver update we can reopen and investigate.

[2022-10-17 21:06] #20078 closed

[2022-10-18 04:58] vikarBCC opened #20864 "TypeError: Cannot read property 'token' of undefined"
Issue Type: <b>Bug</b>

When a new connection to SQL server database with MFA is attempted the following error message is produced:
TypeError: Cannot read property 'token' of undefined

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summ

[2022-10-18 06:52] rishky-msft opened #20865 "Script as Create for stored procedures is failing with error in ADS for MySQL extension."
- Azure Data Studio Version: 1.40.0 insider
- OS Version: Edition Windows 10 Pro

Hi Team,

User is facing an error thrown by ADS while using script as create for procedures using MySQL Extension.
More details are in the issue opened in MySQL extension repo:
https://github.com/microsoft/azuredatastudio-mysql/issues/81

In the issue MySQL logs are attached. From logs I can see that scripting/script

[2022-10-18 11:22] semics-tech opened #20866 "SQL Server Agent Job Activity Monitor"
**Is your feature request related to a problem? Please describe.**
In SSMS there is a Job Activity Monitor which makes it very easy to see what is currently running and what has failed. This is not available in ADS and so it's hard to tell what's actually running.

**Describe the solution or feature you'd like**
Job Activity Monitor page to show running jobs.

**Describe alternatives you've consid

[2022-10-18 14:15] rishky-msft commented on #20865
resolved at users end

[2022-10-18 14:15] #20865 closed

[2022-10-18 15:21] aharpervc opened #20867 "How to have a keyboard shortcut to focus the database switcher"
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when I have to click the database switcher with my mouse. I don't know if that's the right name, I mean this...
<img width="452" alt="image" src="https://user-images.githubusercontent.com/441085/196472244-ef085cff-2c7e-4d62-9f64-2900de1010eb.png">

**Describe the solution or feature you'd like**

I'd like to

[2022-10-18 15:22] aharpervc commented on #20867
Possible duplicate: https://github.com/microsoft/azuredatastudio/issues/1187

[2022-10-18 15:23] aharpervc commented on #1187
@dzsquared this link is a 404, do you have an updated link for this extension?

[2022-10-18 17:26] erinstellato-ms opened #20869 "Focus does not change to expensive operator when highlighted"
- Azure Data Studio Version:

Version: 1.40.0-insider (user setup)
Commit: 0f46b3ef9bac74de5dbe5277ece470f1111cc3a5
Date: 2022-10-18T05:39:59.025Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22621

- OS Version:

Windows 11

Steps to Reproduce:

1. Enable Actual Plan
2. Execute a query
3. From the right menu, or right-cl

[2022-10-18 17:29] erinstellato-ms opened #20870 "Misleading notification when all operators have the same value for an attribute used to find expensive operators"
- Azure Data Studio Version:

Version: 1.40.0-insider (user setup)
Commit: 0f46b3ef9bac74de5dbe5277ece470f1111cc3a5
Date: 2022-10-18T05:39:59.025Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22621

- OS Version:

Windows 11

Steps to Reproduce:

1. Enable Actual Plan
2. Execute the query below
3. From the right menu, or

[2022-10-18 17:48] erinstellato-ms opened #20873 "Do not display Importance sort icon on properties window for a single plan"
- Azure Data Studio Version:

Version: 1.40.0-insider (user setup)
Commit: 0f46b3ef9bac74de5dbe5277ece470f1111cc3a5
Date: 2022-10-18T05:39:59.025Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22621

- OS Version:

Windows 11

Steps to Reproduce:

1. Enable Actual Plan
2. Execute a query
3. Open the Properties pane
4. The

[2022-10-18 17:51] erinstellato-ms commented on #20873
Importance for attributes determined internally (and consistent with weighting assigned in SSMS).  Leaving the icon as is.

[2022-10-18 17:51] #20873 closed

[2022-10-18 22:34] dzsquared commented on #1187
@aharpervc - I ended up rolling it into Query Editor Boost - https://github.com/dzsquared/query-editor-boost

(standard disclaimer - while I work for Microsoft at this time, my work on Query Editor Boost is as a 3rd party)

[2022-10-18 22:47] drewwalters commented on #1187
@dzsquared Thank you for the great extension! This has been the best option thus far.

However - the issue shouldn't be closed until it's a native feature in ADS.

[2022-10-18 23:38] dzsquared commented on #1187
@drewwalters - to be clear, I'm not advocating that this issue get closed.  I'm responding to the question from @aharpervc about where the workaround extension is now available.

[2022-10-19 10:35] Jtith opened #20876 "A11y_Azure data studio_Query History_Start/Pause Query History Capture_ContentOnHoverOver: When we hoverover with mouse to History, Pause, Maximize ,Close Panel button present on right navigation the tooltip is visible but it's not accessible with tab key or any other arrow keys."
### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SH_SQLAzureDataStudio_Win32_Oct2022; #SQL Azure Data Studio; #Win32; #FTP; #DesktopApp; #Keyboard; #NonBenchmark; #WCAG2.1.1; #Win11;

### Environment Details:
Application Name: SQL Azure Data Studio
Windows 11 22H2 Version OS Build 22621.674
Screen Reader: NVDA 2020.4

### Repro Steps:

1. Install Azure Data Studio – Insiders
2. Tab till New connect

[2022-10-19 11:11] sgarwood commented on #20052
Hi @Benjin. Thanks for your efforts on this. I've only just had chance to attempt to recreate this from scratch.
Following a very similar methodology to what you described above I am also unable to recreate this.

The project I am currently working on was an existing database that I have imported into SSDT but yet to rerun the publish on the production database. Would this have any impact do you t

[2022-10-19 12:44] Jtith opened #20877 "A11y_Azure data studio_Extentions_Query History_Keyboard: When we tab to "Disable button" after pressing on right arrow key the keyboard focus is on Disable button itself instead of moving to Uninstall button."
### GitHub Tags:
#A11yMAS; #A11yTCS; #A11ySev2; #SH_SQLAzureDataStudio_Win32_Oct2022; #SQL Azure Data Studio; #WCAG2.1.1; #Keyboard; #Win11; #FTP; #DesktopApp; #Win32; #NonBenchmark;

### Environment details:
Application Name: SQL Azure Data Studio
Windows 11 22H2 Version OS Build 22621.674

### Repro Steps:

1. Install Azure Data Studio – Insiders
2. Tab till New connection and press enter.
3. Us

[2022-10-19 13:56] rodrigo-guimaraes-codefix opened #20878 "Feature Request: Result of queries in multiple tabs"
When running multiple queries at the same time, please show the result in multiple tabs, one for each query. Similar to the PLSQL Developer tool. Tabs can make it easier to see the results.

[2022-10-19 18:27] Charles-Gagnon commented on #20877
Upstream issue, filed an issue for it in VS Code : https://github.com/microsoft/vscode/issues/164050

@Jtith - can we close this one? If they fix it there we'll port the fix over

[2022-10-19 19:47] DSunrisein opened #20880 "Schema Compare - unchecked differences included in generated script"
after schema compare, when generate script. generate script contains all the script which is not selected in schema compare. even though I did not select the script I don't want to transfer click on generate script includes everything.

[2022-10-19 20:03] SakshiS-harma commented on #20880
Possible duplicate: https://github.com/microsoft/azuredatastudio/issues/14450

[2022-10-19 20:36] Charles-Gagnon commented on #20876
Dupe of https://github.com/microsoft/azuredatastudio/issues/19566 - so we should at least be able to downgrade this to sev3.

But in general @Jtith I'm confused at the requirement here. Is there actually an expectation that tooltips show up when you tab into a button? That'd get pretty annoying having that pop up constantly and is not something I've seen in other apps. Can you link to the WCAG ite

[2022-10-19 21:19] Charles-Gagnon commented on #19566
@Jtith I'm confused at the requirement here. Is there actually an expectation that tooltips show up when you tab into a button? That'd get pretty annoying having that pop up constantly and is not something I've seen in other apps. Can you link to the WCAG item for this? (or other documented requirement)

[2022-10-19 21:55] #19876 closed

[2022-10-19 21:58] #20785 closed

[2022-10-19 21:58] #20749 closed

[2022-10-19 22:28] James-Pini opened #20881 "Rendering HTML in Edit Rows mode"
Issue Type: <b>Bug</b>

I was testing my API by deliberately inserting some harmless injected HTML to ensure it's being stripped.

However it looks like azure data studio is rendering the html.

Here's the HTML I used:
[code]

Steps:
1. Insert code while editing table rows into a specific column
2. I don't remember it rendering upon insert. I believe this only appeared when reopening azure data st

[2022-10-19 22:37] #20432 closed

[2022-10-19 22:44] SakshiS-harma commented on #16930
The issue is fixed on the DacFx side. It will be brought into ADS when a new version of Microsoft.Build.Sql is released.

[2022-10-19 22:44] #16930 closed

[2022-10-20 04:49] kburtram opened #20885 "Reenable integration and smoke tests in builds"
The smoke and integration tests were disabled to pull in the VS Code 1.67 merge due to some failures.  These need to be reenabled.

[2022-10-20 05:12] kburtram opened #20886 "Server buttons aren't sized correctly"
1. Open the Servers viewlet

Expected: Buttons are correct size

Actual:  Buttons are too big.  It looks like some styles got lost during merge to main.

![image](https://user-images.githubusercontent.com/599935/196861581-9e0ff87d-56a3-4e3b-ade0-d58f5c7c80ab.png)

[2022-10-20 06:00] uaychaich commented on #20584
Why is this issue close?
Did They have a solution?
I still have this issue and i don't know how to fix.

[2022-10-20 09:03] GlebStar1 commented on #20321
Having issue with the same error when connected to Azure SQL Server

Version: 1.39.1 (system setup)
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:11:13.047Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19044

[2022-10-20 09:13] Jtith opened #20889 "A11y_Azure data studio_Query History_Executed query_Screenreader: Screenreader is not reading the completed information present under the Query history "SELECT 9" Executed query"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHub Tags:
#A11yMAS; #A11yTCS; #A11ySev2; #SH_SQLAzureDataStudio_Win32_Oct2022; #SQL Azure Data Studio; #WCAG1.3.1; #Screen reader; #NVDA; #JAWS; #Win11; #FTP; #DesktopApp; #Win32; #Element:Tablerow;
### Environment Details:
Applicatio

[2022-10-20 09:15] Jtith opened #20890 "A11y_Azure data studio_Query History_Executed query_Screenreader: Screen reader is not announcing the any message whether it is context menu present on "query history" row for right click to open the menu."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHub Tags:
#A11yTCS; #A11ySev4; #A11yUsable; #SH_SQLAzureDataStudio_Win32_Oct2022; #SQL Azure Data Studio; #Screen reader; #NVDA; #JAWS; #Win11; #FTP; #DesktopApp; #Win32;

### Environment Details:
Application Name: SQL Azure Data Stud

[2022-10-20 09:15] Jtith opened #20891 "A11y_Azure data studio_Executed query_Clear All history_Screenreader: Screen Reader is not reading out the status message "No Query to display" After when user activated Clear all history button presents on right navigation using tab key."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHub Tags:
#A11yMAS; #A11yTCS; #A11ySev2; #A11yWCAG2.1; #SH_SQLAzureDataStudio_Win32_Oct2022; #SQL Azure Data Studio; #WCAG4.1.3; #Screen reader; #NVDA; #JAWS; #Win11; #FTP; #DesktopApp; #Win32; #NonBenchmark; #Status Message;

### Env

[2022-10-20 11:43] BhanuPrakashGit commented on #20627
As per the above comment, "In case there are multiple impacted objects, the user needs to tab through them to select it." Hence closing the bug.

[2022-10-20 11:44] #20627 closed

[2022-10-20 15:08] apasha14 opened #20892 "Can't generate SQL script"
Issue Type: <b>Bug</b>

I'm attempting to generate a create script on a table but am unable to do so. I a get an error saying that it could not connect to the server but the connection is fine and I'm able to query the table.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode:

[2022-10-20 15:59] Charles-Gagnon commented on #20891
@Jtith That's not a "status" message - it's meant to show that there's specifically no entries in the list. The user already knows they clicked the "clear all" button so do we really need to announce to them again that there aren't any items present?

[2022-10-20 16:03] alanrenmsft commented on #20753
minimum: hide it for mysql

[2022-10-20 16:27] Charles-Gagnon commented on #20890
@Jtith What is this "any message"? I'm not aware of any requirement that an element needs to announce when it has a context menu and this isn't something we do anywhere else in the app.

Can you provide a link to the documentation explaining this and/or an example of this being done elsewhere?

[2022-10-20 16:41] Charles-Gagnon opened #20893 "Errors in shared process on startup"
After the merge I'm now seeing the shared process dev tools window open on startup of the dev build of ADS with these errors

![image](https://user-images.githubusercontent.com/28519865/197008042-ed4584c3-f39f-477e-8e83-cdca53c13327.png)

It's unclear what this is affecting, although given the applicationinsights package this may be affecting our telemetry. Investigation is needed into the cause a

[2022-10-20 16:49] Charles-Gagnon opened #20894 ""Install location of tool Azure CLI could not be found" error on startup"
Resource Deployment extension is throwing and not handling this error which is showing up in the console

![image](https://user-images.githubusercontent.com/28519865/197009843-8b71746e-47e3-48d8-b732-875a20cbf860.png)

[2022-10-20 18:54] Charles-Gagnon commented on #20893
https://github.com/microsoft/vscode/issues/140624

Following up with VS Code team, seems like this will go away with the switch to 1DS appender.

[2022-10-20 19:40] kburtram opened #20898 "Jupyter extension needs to be updated post vscode bump"
The Jupyter extension used by .Net Interactive needs to be updated following the vscode merge.  I tested with the latest successfully in dev branch, but the latest extension is missing the required notebook contribution from jupyter-book that is provided from current version.  This contribution will need to be provided somewhere, either from a patch Jupyter/.Net Interactive VSIX or from core noteb

[2022-10-20 20:31] patamu1223 opened #20901 "Add Secondary Side Bar like in VS Code"
Since Azure Data Studio is based on VS Code and VS Code has the Secondary Side Bar, could we get that functionality added to Azure Data Studio? That way I could get rid of the fairly useless tabs.

[2022-10-20 20:43] Charles-Gagnon commented on #20901
We will eventually! We merge in changes from VS Code on a regular basis - but we lag behind to keep things more stable and give us time to make sure the features are working as intended.

I'm going to close this since it's not something we'll be actively working on as a specific feature, so just keep an eye on our releases to see when we bring in this feature from VS Code. (No ETA at the moment un

[2022-10-20 20:43] #20901 closed

[2022-10-20 20:56] dimitri-furman opened #20902 "Opening ADS from URL with a sqlplan file does not render graphical query plan"
- Azure Data Studio Version: 1.39.1
- OS Version: Windows_NT x64 10.0.22621

Steps to Reproduce:

1. With ADS installed on a machine, enter the following URL in a browser location bar: `azuredatastudio://file/path\to\file\untitled-1.sqlplan` and hit Enter. Here, `untitled-1.sqlplan` contains query plan XML retrieved from Query Store.
2. After a couple of prompts, ADS will open and display the XML

[2022-10-20 21:02] alanrenmsft commented on #20886
ack!

[2022-10-20 21:04] Charles-Gagnon commented on #20901
Actually, I have good news - it looks like this was included in the merge we just brought in!

![image](https://user-images.githubusercontent.com/28519865/197057656-3c3bed4a-9f27-42d3-b67e-dd20566203f5.png)

So if things go according to plan you should see this feature in the next major release in November.

[2022-10-20 21:48] Charles-Gagnon opened #20903 "Hover text is broken"
Post-merge

Hovering over functions or other T-SQL text causes a tooltip that just says "Loading..." to appear and the console is filled with these messages :

[code]

[2022-10-20 21:55] barbaravaldez opened #20904 "[Find in Notebooks] Scrolling not working for code cells"
Version: 1.40.0-insider (Universal)
Commit: 0f46b3ef9bac74de5dbe5277ece470f1111cc3a5
Date: 2022-10-18T05:37:14.689Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 21.6.0

1. Cmd + F to open find widget
2. Look for term in code cell
3. The notebook does not scroll to search result

[2022-10-20 22:24] #20747 closed

[2022-10-20 22:28] Charles-Gagnon commented on #20903
Closing this - it's due to the latest sqlparser I'm using locally so not an issue in ADS currently.

[2022-10-20 22:28] #20903 closed

[2022-10-21 00:14] #20904 closed

[2022-10-21 02:21] jameswong2000 opened #20908 "Display the hostname in the profiler"
Add the field "HostName" to display in the profiler so that users can filter the record using "HostName" to retrieve the SQL query so that only SQL statement executed by user's own workstation will be displayed.

[2022-10-21 02:31] #20886 closed

[2022-10-21 06:32] Solar-Matrix-Core commented on #19252
I got a same issue, and setting "trustServerCertificate" to true does not work for me. However, when I use sqlcmd or connection string on .Net Core project, I can connect to this server. Any other solutions?

[2022-10-21 08:26] ingebeumer opened #20910 "Ctrl+H (find and replace) in Notebook"
Issue Type: <b>Bug</b>

Hi Azure Data Studio team,

Can you please review if it's feasible to make Ctrl+H for Find and Replace available for an entire Notebook? Like Ctrl+F for Find? Would be nice if you want to replace something with many occurrences throughout different cells in a Notebook.

Now Find and Replace is only available per individual code cell, not for an entire Notebook and not for t

[2022-10-21 13:53] clcridgeview opened #20913 "Selection Summary Enhancement"
I love the selection summary feature and when I need quick stats for my results it's such a time saver.  It gives me the functionality that I have with SSMS and SSMS Boost.  But there are a couple of statistics missing that I feel would be valuable.

I realize UI space in the bottom bar is limited so I propose this may be better as a tooltip pop-up window.  But the addition of:
**Distinct Count
Mi

[2022-10-21 14:09] gfoley97 opened #20914 "Incorrect Server Connection"
Issue Type: <b>Bug</b>

I was noticing a weird issue in our prod SQL environment.

I connected to a SQL server and the bottom right says that i'm connected to our prod server, but it is in fact connected to our dev server (i confirmed this by selecting @@servername).

I cannot use azure data studio if this is going to happen.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b759

[2022-10-21 16:43] cchurchwell opened #20915 "Azure Data Studio cannot pull subscription information for MAG (Microsoft Azure Government)"
When registering linked services to Azure, my commercial Azure account works properly and shows my subscriptions, but my MAG account does not pull any subscription information.  My assumption is behind the scenes the tool is calling Connect-AzAccount without using the -Environment parameter, which defaults to Commercial

[2022-10-21 16:45] cchurchwell commented on #20915
![ADS_MAG](https://user-images.githubusercontent.com/51726004/197247228-059f405d-6b95-4730-a225-aaaee4faaec5.jpg)

[2022-10-21 16:51] erinstellato-ms commented on #20915
@kburtram @cheenamalhotra Not sure if this is expected behavior so I asked Chad to open an issue.  Let me know if you have questions, thanks!

[2022-10-21 17:05] cheenamalhotra commented on #20915
@cssuh
Can you please take a look?

[2022-10-21 17:28] #20908 closed

[2022-10-21 18:03] #18736 closed

[2022-10-21 18:03] #10424 closed

[2022-10-21 18:07] SakshiS-harma commented on #20833
@wapayne69 Just checking back if you have any update on the raised issue.

[2022-10-21 18:08] dzsquared opened #20916 "SQL Tools Service does not start on macOS (arm and intel builds)"
Version: 1.40.0-insider
Commit: 533e1ec1b921d2d246695f6edc441a8231790e9a
Date: 2022-10-21T16:32:05.903Z
VS Code: undefined
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin arm64 22.1.0

![image](https://user-images.githubusercontent.com/12227241/197261244-5caf93d8-d04c-497b-923f-a9cd9980b492.png)

[2022-10-21 18:21] cheenamalhotra commented on #6406
Hi @Charles-Gagnon , @adrianbanks

I've tested the Change Database use cases and can confirm that this issue is also fixed with the recent PR #20907
I will update here when the fix is available in Insiders build for validation.

[2022-10-21 19:41] jtsom opened #20919 "Errors launching and connecting to databases"
- Azure Data Studio Version:
[code]

Steps to Reproduce:

1. Launch ADS-Insiders
2. See error message in notification:

![image](https://user-images.githubusercontent.com/13488/197276193-edee1a82-cc3c-429c-a789-023e8be9b991.png)

![image](https://user-images.githubusercontent.com/13488/197276241-dbf8b954-f335-4450-bf3d-227a87953918.png)

Does this issue occur when all extensions are disabled?: Yes

[2022-10-21 20:00] #20475 closed

[2022-10-21 20:38] Charles-Gagnon commented on #20593
https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=175800&view=results

[2022-10-21 20:44] alanrenmsft commented on #20867
closing as a dupe.

[2022-10-21 20:44] #20867 closed

[2022-10-21 21:01] Charles-Gagnon commented on #20919
Dupe of https://github.com/microsoft/azuredatastudio/issues/20916 - we have a fix out and this will be resolved with the next build. Thanks and sorry for the inconvenience!

[2022-10-21 21:01] #20919 closed

[2022-10-21 21:04] #19528 closed

[2022-10-21 21:06] raphaelquati commented on #20919
To the error is different:

![image](https://user-images.githubusercontent.com/815086/197287888-3bb585f4-7989-42ca-ab8c-143cccb64ae7.png)

[code]

[2022-10-21 21:11] cheenamalhotra commented on #20914
Hi @gfoley97

If this is related to Editing a connection, we've recently made a fix with PR #20907 that should resolve this issue. The fix will be part of next release. Can you confirm the behavior is expected without using the 'Edit Connection' context feature?

[2022-10-21 21:17] alanrenmsft opened #20921 "icon got stretched to the full height of the application"
the application icon is stretched on the blank editor page, this only happen for the packaged version of ADS.

![image](https://user-images.githubusercontent.com/13777222/197289998-2ea85fd4-88c0-42f2-9e69-642aaf7f51a4.png)

[2022-10-21 21:22] kburtram commented on #20921
@alanrenmsft I think this is also related to the mixin issue.  We should have a new insiders build in an hour or two that I will use for verification.

[2022-10-22 03:12] alanrenmsft opened #20924 "some developer tool's options are covered by the window buttons"
![image](https://user-images.githubusercontent.com/13777222/197316511-4c778ffb-9815-4323-a9c9-d62f577a0e5b.png)

making it hard to open the options as well as changing the dock position.

for those who run into this issue, you can use CTRL+SHIFT+D to change the dock position and then access the hidden buttons.

[2022-10-22 04:20] #20921 closed

[2022-10-22 04:22] alanrenmsft opened #20925 "label sizing in table designer has stopped working after recent merge"
Insiders build

![image](https://user-images.githubusercontent.com/13777222/197318830-d0de43dd-ef88-4a00-a577-3c65d61a0ede.png)

[2022-10-22 16:29] kburtram commented on #20916
The current insider build shouldn't have this issue any more.  Sorry for the inconvenience.

[2022-10-22 16:29] #20916 closed

[2022-10-23 20:21] kburtram opened #20931 "ipynb files open as text editor from File Explorer viewlet"
- Azure Data Studio Version: `insider`

Steps to Reproduce:

1. Click on an ipynb file in an opened folder/workspace in Explorer viewlet

Expected: Opens as notebook

Actual: Opens as text file

[2022-10-23 20:27] kburtram opened #20932 "ADS hangs opening folder"
- Azure Data Studio Version: `insider`
- OS Version: Windows

Steps to Reproduce:

1. Open ADS and pick a folder to open from "Open Folder" command

Expected: ADS loads folder

Actual: ADS hangs.  I've only been able to repro with insiders build on Windows.  Open Folder is working fine for me on mac & on Windows in dev env and locally packaged build.

[2022-10-23 20:33] kburtram opened #20933 "Notebook untitled documents do not add .ipynb file extension when saving"
- Azure Data Studio Version: `insider`

Steps to Reproduce:

1. Open New Notebook
2. Save the notebook

Expected: Save as dialog adds .ipynb file extension

Actual: No file extension added

[2022-10-24 01:08] richardtallent opened #20936 "Add Extension column-aligner-ads"
**Is your feature request related to a problem? Please describe.**
I've authored a small new extension for ADS that formats code to tab-align it with your selection.

**Describe the solution or feature you'd like**
Please add it to the extension gallery.

**Describe alternatives you've considered**
Local VSIX install, but then I can't share it with the cheering masses!

**Additional context**
I ha

[2022-10-24 16:02] Charles-Gagnon commented on #20932
@kburtram Did you mean to close this with https://github.com/microsoft/azuredatastudio/pull/20934 or are you waiting to validate it with a packaged build?

[2022-10-24 17:37] alanrenmsft opened #20941 "Icon for disabled buttons are not styled properly, they look like enabled"
all the places that we are using SVGs are having the issue.
![image](https://user-images.githubusercontent.com/13777222/197589950-6927ab07-b413-49c1-9a70-80ab278f372f.png)
![image](https://user-images.githubusercontent.com/13777222/197590181-63894d97-fd5f-44d5-a679-76f00ccc87cc.png)

[2022-10-24 17:43] #20925 closed

[2022-10-24 17:54] alanrenmsft opened #20943 "Error in the developer console when switch tabs in dashboard"
not a recent regression, it is also shown in the stable build.

![image](https://user-images.githubusercontent.com/13777222/197592997-b2454925-df4f-4bfd-8727-883aea7ee755.png)

[2022-10-24 19:13] alanrenmsft commented on #20767
will reopen once we have the requested information.

[2022-10-24 19:13] #20767 closed

[2022-10-24 19:14] alanrenmsft commented on #20799
Will reopen once we have the requested information in order to proceed.

[2022-10-24 19:14] #20799 closed

[2022-10-24 19:19] #20941 closed

[2022-10-24 19:33] nocomputeruser opened #20945 "Unable to expand column when double clicking on header in results grid view"
Issue Type: <b>Bug</b>

Azure Data Studio Version: 1.39.1
OS Version: Windows 11 Enterprise 21H2

Steps to Reproduce:

1. Running any query that has a long field of text against our database in ADS will not allow me to double-click on the header column edge in the results grid view to expand the column width.  Double clicking on the header column edge only shrinks the column some or puts it back t

[2022-10-24 19:37] barbaravaldez opened #20946 "Jupyter Extension activation failed"
Version: 1.40.0-insider (Universal)
Commit: de3683dd018b1f28744f9eb8797a825bb38d784c
Date: 2022-10-24T05:29:21.556Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin x64 21.6.0

Extension failed to activate when opening ADS.

<img width="1779" alt="Screen Shot 2022-10-24 at 12 31 17 PM" src="https://user-images.githubusercontent.com/3487

[2022-10-24 19:59] barbaravaldez opened #20947 "Cannot open Provided Books"
Version: 1.40.0-insider (Universal)
Commit: de3683dd018b1f28744f9eb8797a825bb38d784c
Date: 2022-10-24T05:29:21.556Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin x64 21.6.0

 ERR command 'books.sqlserver2019' not found: Error: command 'books.sqlserver2019' not found
    at u._tryExecuteCommand (vscode-file://vscode-app/Applications/A

[2022-10-24 20:04] barbaravaldez opened #20948 "Search in Notebooks View not working"
Error: spawn /Applications/Azure Data Studio - Insiders-3.app/Contents/Resources/app/node_modules.asar.unpacked/@vscode/ripgrep/bin/rg ENOENT	at Process.ChildProcess._handle.onexit (node:internal/child_process:282:19)	at onErrorNT (node:internal/child_process:477:16)	at processTicksAndRejections (node:internal/process/task_queues:83:21)

[2022-10-24 20:17] alanrenmsft opened #20950 "Not able to open table designer"
1. Enable the preload database model setting for table designer
2. Connect to a database and create a function
3. Reload ADS
4. Open the database in OE and wait for a few seconds (to wait for the model to load)
5. delete the function created in step 2.
6. add a new table

![image](https://user-images.githubusercontent.com/13777222/197620705-f34469f0-8761-4b21-866f-c995fa3fff28.png)

[2022-10-24 20:23] barbaravaldez opened #20951 "Cannot save untitled notebook"
Version: 1.40.0-insider (Universal)
Commit: de3683dd018b1f28744f9eb8797a825bb38d784c
Date: 2022-10-24T05:29:21.556Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin x64 21.6.0

When saving an untitled notebook, it generates an empty file.

[2022-10-24 20:24] barbaravaldez commented on #20951
Related to https://github.com/microsoft/azuredatastudio/issues/20933

[2022-10-24 20:28] barbaravaldez opened #20952 "Error when converting notebook to sql script"
Version: 1.40.0-insider (Universal)
Commit: de3683dd018b1f28744f9eb8797a825bb38d784c
Date: 2022-10-24T05:29:21.556Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin x64 21.6.0

An error occurred converting the Notebook document to SQL. Error : TypeError: Cannot read properties of undefined (reading 'getText')

[2022-10-24 20:35] barbaravaldez commented on #20952
Actually the issue was solved when installing the newest extension by Microsoft

[2022-10-24 20:35] #20952 closed

[2022-10-24 20:56] #20931 closed

[2022-10-24 20:56] #20933 closed

[2022-10-24 21:05] corivera opened #20953 "Cannot open notebooks with Open File"
When opening a notebook with Open File (Ctrl+O), the notebook opens as text rather than a notebook. However, opening the notebook from file explorer works as expected.

[2022-10-24 21:14] brian-harris commented on #20651
this issue is fixed in PR #20265

[2022-10-24 21:16] brian-harris commented on #20651
this issue was fixed as part of this PR:
[20265](https://github.com/microsoft/azuredatastudio/pull/20265)

[2022-10-24 21:21] Charles-Gagnon commented on #20651
@brian-harris Please don't close a11y issues yourself, the a11y needs to verify and close them - so you should @-mention them to let them know they need to recheck.

(if there isn't a response in a week after doing that then we can close them ourselves though)

[2022-10-24 21:22] Charles-Gagnon commented on #20651
@BhanuPrakashGit Please validate that the issue is fixed using the latest insiders build

[2022-10-24 21:26] dzsquared opened #20955 "cannot build old style SQL project in insiders, M1"
Issue Type: <b>Bug</b>

Created a SQL project from AdventureWorksLT as an old-style SQL project.  Attempted to build and received a build failure for missing targets.

(SDK-style SQL projects build fine)

	[ Build ]

    stdout: Microsoft (R) Build Engine version 17.2.0+41abc5629 for .NET
    stdout: Copyright (C) Microsoft Corporation. All rights reserved.
    stdout:
    stdout:
    stdout: /Vol

[2022-10-24 21:27] brian-harris commented on #20160
this is by design:
the service selection dialog will only show the list of locations and resource groups that contain one or more services.  In this case it does not appear that the subscription has any migration services created under it yet.

[2022-10-24 21:27] #20160 closed

[2022-10-24 22:15] corivera commented on #20953
Already fixed, but had to do a rebuild to pick it up.

[2022-10-24 22:15] #20953 closed

[2022-10-24 22:20] kisantia commented on #20955
This is happening because the sql database projects extension hasn't been updated in insiders since the dependency on the DacFx dlls in STS was removed back in September. Copying the targets file from the DacFx nuget to the STS output was removed in https://github.com/microsoft/sqltoolsservice/pull/1674.

When the sql database projects extension gets updated in insiders, this shouldn't be a proble

[2022-10-24 22:20] #20955 closed

[2022-10-24 22:53] cssuh opened #20957 "deletePassword fails for Keytar"
This was introduced by the vscode merge, same issue as here:
https://github.com/microsoft/vscode/issues/149931

The deletePassword is failing in keytar due to an `Unexpected token` error

[2022-10-24 23:04] corivera commented on #20951
Fixed by Karl's languageId PR

[2022-10-24 23:04] #20951 closed

[2022-10-24 23:32] corivera commented on #20948
@barbaravaldez what notebook did you see this with? Searching in the notebooks viewlet works for me for books and notebooks

[2022-10-25 00:48] #20957 closed

[2022-10-25 09:15] NgHieu90 opened #20960 "Export data to excel alert recover when open at version 1.39.1"
- Azure Data Studio Version:1.39.1
- OS Version:Darwin x64 22.1.0

Steps to Reproduce:

1. Run query
2.Export result "save as excel'
3.Alert when open excel file have exported and cannot count value at some field

Same query and export step at version 1.37.0 no error

Does this issue occur when all extensions are disabled?: Yes/No

<img width="740" alt="Result at 1 39 1" src="https://user-images.g

[2022-10-25 11:13] Xanadu333 commented on #19205
Hi, I am having the same issue and would like it to be reviewed/solved.
Note: SSMS works perfectly fine with this concept and yet Azure Data Studio doesn't.

[2022-10-25 12:39] wapayne69 commented on #20833
Unfortunately still seem to be getting the error with the changes.

<?xml version="1.0" encoding="utf-8"?>
<Project DefaultTargets="Build">
  <Sdk Name="Microsoft.Build.Sql" Version="0.1.3-preview" />
  <PropertyGroup>
    <Name>mydb</Name>
    <ProjectGuid>{0A8937A1-8414-452B-ACBD-AC8324318096}</ProjectGuid>
    <DSP>Microsoft.Data.Tools.Schema.Sql.SqlAzureV12DatabaseSchemaProvider</DSP>
    <Mod

[2022-10-25 13:14] gfoley97 commented on #20914
This is not related to edit connection

On Fri, Oct 21, 2022, 5:11 PM Cheena Malhotra ***@***.***>
wrote:

[2022-10-25 14:05] nielsvdc opened #20961 "Failed to connect to server after time-out and refresh"
This happens to me regularly.

- I was connected to a database and then a time-out of the connection occurs after not using the connection for a while.
- I disconnect the server connection via right-click.
- I refresh the servers and reconnect to the specific server and database.
- The server connection indicator is green
- Go to views, right-click on a view and select "Script as create, drop or a

[2022-10-25 15:50] kburtram opened #20962 "Viewlet icons don't render correctly in some themes"
- Azure Data Studio Version: `insider`

Steps to Reproduce:

1. Open ADS and switch themes to Solarized or Quiet Light, for example

Expected: Icons in action bar render consistently

Actual: Some icons are using a white outline rather than a theme aware color.  Screenshot below.

![image](https://user-images.githubusercontent.com/599935/197821455-d841e313-a71e-4766-abe1-75ab78c4558f.png)

[2022-10-25 15:51] kburtram commented on #20947
@barbaravaldez I disabled downloading this as part of the build due to errors in the gulp tasks.  Let me reenable so we can see the specific error being generated.

[2022-10-25 16:10] Charles-Gagnon commented on #20962
Duplicate of https://github.com/microsoft/azuredatastudio/issues/11930 so not a recent regression.

Given that we've now opened this issue a number of times maybe worth actually fixing here though?

I'll close the other issue since that one only mentions Notebooks

[2022-10-25 16:11] Charles-Gagnon commented on #11930
Duplicate of https://github.com/microsoft/azuredatastudio/issues/20962 - using that one for tracking

[2022-10-25 16:11] #11930 closed

[2022-10-25 16:15] kburtram opened #20964 "ShowPlan XML link doesn't open execution plan editor"
- Azure Data Studio Version: `insiders`

Steps to Reproduce:

1. Open a SQL query with some statements and run Estimated Plan command
2. Click the Show Plan XML link

Expected: Show Plan document is opened

Actual: Document opens then closes.  Below exception is raised in application log.

[code]

[2022-10-25 16:16] kburtram commented on #20964
@aasimkhan30 I think this likely broke as part of the vscode refresh.  Could you please take a look?  Let me know if you don't have time and I can investigate.  Thanks!

[2022-10-25 16:19] #20932 closed

[2022-10-25 16:27] kburtram commented on #20947
The attached PR shows the error I was hitting in the gulp scripts while downloading this pacakge https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=176290&view=logs&j=bd1e231b-cef9-51a2-e461-b67194c0a817&t=9cc46b07-0f4a-51e5-598b-b142e2b8a72a.  I recall a discussion that we may no longer need these notebooks embedded in the product long term, so may not be worth inves

[2022-10-25 16:30] alanrenmsft opened #20965 "'welcome' menu item is missing in Help menu"
1.39.1
![image](https://user-images.githubusercontent.com/13777222/197830770-0ac38478-3510-487b-91fd-6a233f4eb7cd.png)

1.40.0 insiders
![image](https://user-images.githubusercontent.com/13777222/197830865-a8c4a775-32c4-4833-aaf6-d2714c42ebca.png)

welcome page won't be displayed on start up, also, the startup editor setting is gone

1.39.1
![image](https://user-images.githubusercontent.com/137772

[2022-10-25 16:40] alanrenmsft commented on #18186
@barbaravaldez @chlafreniere , I just noticed that the resource deployment related extensions are not working on ARM64 macOS because of the notebook extension failed to load.

I chatted with the MySQL extension team, they had a similar issue recently, the need to have a separate build of MySQL Tools Service for ARM64 macOS to include additional packages required

[2022-10-25 16:45] alanrenmsft commented on #18186
@chlafreniere
`mainThreadExtensionService.ts:111 Activating extension 'Microsoft.notebook' failed: Command failed: "/Users/jianren/azuredatastudio-python/bin/python3" -c "import platform;print(platform.python_version())"
dyld[6343]: Library not loaded: '/usr/local/opt/gettext/lib/libintl.8.dylib'
  Referenced from: '/Users/jianren/azuredatastudio-python/bin/python3.8'
  Reason: tried: '/usr/local/

[2022-10-25 16:47] chlafreniere commented on #18186
@alanrenmsft I see, thanks. @corivera could we need a different python build to work with ARM-based Macs?

[2022-10-25 16:50] stephajn commented on #19090
I'm seeing some real sluggish performance as well with a fresh install of Azure Data Studio 1.39.1.
When I run a simple query that selects from an SQL Server 2019 table that has maybe 6 columns and only 10 rows, the query results grid takes a second or more to appear, and then it appears with empty columns before finally populating the columns with data retrieved.

[2022-10-25 17:07] aasimkhan30 commented on #19868
The Chromium version 98 that is used in ads has an issue causing this bug. The latest one 106 does not have this issue. We can keep it open until ADS gets updated to that version.

[2022-10-25 17:13] kburtram commented on #20946
@barbaravaldez this issue is likely related to https://github.com/microsoft/azuredatastudio/issues/20898.  Jupyter books extension needs to be updated to use the stable notebook APIs rather than the proposed APIs used in the version we're referring to.  In addition, the current version of the VSIX doesn't register the notebook contributions as the old version and that causes runtime break, so eith

[2022-10-25 17:16] kburtram commented on #20947
@caohai could you please take a look to see what's going in the build scripts for the custom package download?

[2022-10-25 17:25] kburtram commented on #20885
Integration test have been enabled accept for a few failing suites I will follow up on.  Smoke tests still need investigation as the upstream framework has been significantly updated, including remove key methods that we're depending on in our tests.

I'll leave this open for now.  But will likely close and create individual issues for the items mentioned above.

[2022-10-25 17:29] kburtram commented on #20961
@nielsvdc which version of ADS are you using?  We've made several changes to the token refresh code in recent releases that should fix most these issues.

@cssuh could you take a look at the exception to confirm this is one of the cases we'd have expected to be fixed by recent refresh token fixes?

[2022-10-25 17:31] Charles-Gagnon commented on #20889
@Jtith This issue has been fixed, please make sure you have at least the `0.5.2` version of the extension installed when verifying.

[2022-10-25 17:32] corivera commented on #18186
Possibly, but it's interesting that this is happening during extension activation. I thought our notebook python instance was only getting loaded when using the Python kernel in an open notebook. Could this be a PATH issue where the azuredatastudio-python bits are messing with the local version of python?

[2022-10-25 17:33] aasimkhan30 commented on #20764
@poojapatil36, this is fixed in the latest insiders. Can you please review it?

[2022-10-25 17:35] aasimkhan30 commented on #20796
@Rama8345, this issue is fixed in the latest insiders. Can you please re test it?

[2022-10-25 17:36] aasimkhan30 commented on #20777
@poojapatil36 , this issue is fixed in the latest insiders. Can you please test it?

[2022-10-25 17:37] Charles-Gagnon opened #20968 "Links in markdown open in external web browser"
Version: 1.40.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22621

1. Open a markdown file with relative links to other files
2. Click on the link

Instead of opening in ADS it tries to open it in an external web browser with a URL like thi

[2022-10-25 17:39] aasimkhan30 commented on #20779
@Rama8345, we have added a keyboard shortcut F3 to sort the rows. This is an alternate solution of directly accessing the column headers. Can you please re test and close this issue.

[2022-10-25 17:40] aasimkhan30 commented on #20781
@Truptik12, this issue is fixed in the latest insiders. Can you please re test and close this issue?

[2022-10-25 17:41] aasimkhan30 commented on #20782
@Truptik12, can you please retest and close this issue?

[2022-10-25 17:42] aasimkhan30 commented on #20783
@Truptik12, this is fixed in the latest insiders. Can you please re test and close this issue?

[2022-10-25 17:43] aasimkhan30 commented on #20786
@Truptik12 , this issue is fixed in the latest insiders. Please retest and close this issue.

[2022-10-25 17:57] alanrenmsft commented on #18186
@corivera let me know if you want to use my M1 macbook.

[2022-10-25 17:59] corivera commented on #18186
Will do

[2022-10-25 19:27] barbaravaldez commented on #20948
I used the SQL Server 2019 book. It's not finding results for me
<img width="952" alt="Screen Shot 2022-10-25 at 11 49 55 AM" src="https://user-images.githubusercontent.com/34872381/197864225-d943c5a7-69b4-43b2-bedc-14eecd1b4a7c.png">

[2022-10-25 19:32] alanrenmsft commented on #20893
@Charles-Gagnon no milestone?

[2022-10-25 19:35] #20965 closed

[2022-10-25 20:03] SakshiS-harma commented on #20833
@wapayne69 Do you mind sharing your sqlproj file for further investigation?
Also, is this the only project that has the issue or you haven't been to build any project on your machine ever?

[2022-10-25 20:13] Charles-Gagnon opened #20971 "New encrypt option defaults to true even if connection previously was saved with Encrypt = false"
1. Open ADS stable
2. Create a connection and in the Advanced tab set Encrypt to false
3. Save the connection and exit ADS
4. Open up ADS dev/insiders (when the encrypt option change gets in insiders)
5. Edit the connection made in stable

Encrypt now shows in the main dialog area as expected, but it shows false even though encrypt is set to false in the options

![image](https://user-images.githu

[2022-10-25 20:17] Charles-Gagnon opened #20972 "Saved passwords not being populated after Encrypt option change"
1. Open ADS stable and create a connection with a saved password
2. Close ADS
3. Open up ADS dev/insiders, then in the connection dialog select the connection you just made

The information fills in but the password is not populated and "Save Password" is not checked

![image](https://user-images.githubusercontent.com/28519865/197873120-c9947f4b-c90d-46d7-84b6-6598e6ac4581.png)

[2022-10-25 20:24] Charles-Gagnon commented on #6406
@cheenamalhotra This is still isn't fixed. Using the repro extension above :

![image](https://user-images.githubusercontent.com/28519865/197874213-3d3796ff-c2ba-4d2f-9e2a-006ad6dd27fc.png)

Note this issue has nothing to do with edit connection, but rather how we pass the connection ID to STS so it can generate the connection string. My comment has details about the exact problem causing this if

[2022-10-25 20:28] kburtram opened #20973 "Remove "Preview" strings from query execution plan UI"
- Azure Data Studio Version: `insider`

Steps to Reproduce:

1. Run a query execution plan

Expected: No preview strings in query execution plan UI once feature is GA.  Also, if UI is behind Preview flag that should be removed.

Actual: Preview sting in tab titles in a few places.

[2022-10-25 20:45] nielsvdc commented on #20961
@kburtram I'm using the latest version 1.39.1. Btw, connected query still keep working. And refresh of objects also works, Viewing of tables and view, editing tables and requesting object scripts does not.

[2022-10-25 20:55] barbaravaldez commented on #20968
I looked into this and it seems that some files in the markdown-language extension are missing, specifically media/index.js and media/pre.js.

The notebook-out directory is also missing from the markdown-math extension which is causing this other issue https://github.com/microsoft/azuredatastudio/issues/20091

[2022-10-25 21:25] Benjin commented on #20052
Thanks for chatting this morning, @sgarwood!  That was very helpful.  For everyone else following along, **we think this bug is stemming from the newline characters (`LF` vs `CRLF`) in string literals**.  If a stored procedure (or anything else) is defined involving a multi-line string, the newlines in that string are not ignored by the `Ignore Whitespace` option... which makes sense because DacFx

[2022-10-25 21:26] wapayne69 commented on #20833
It’s a customer supplied machine. So this is my first project.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Sakshi Sharma ***@***.***>
Sent: Wednesday, October 26, 2022 6:04:07 AM
To: microsoft/azuredatastudio ***@***.***>
Cc: Waylon Payne ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azuredatastudio] Unable to build my project due to missing asse

[2022-10-25 21:30] SakshiS-harma commented on #20833
Can you share the project file for further investigation, please?

[2022-10-25 21:45] sgarwood opened #20974 "AzureData Tools Database projects unable to open SQL files with @ in filename."
- Azure Data Studio Version: 1.39.1
- OS Version: Windows 10

Steps to Reproduce:

1. Optional-  Clone https://github.com/sgarwood/dontAtMeADS.git repo and open `SQLProj` in Visual Studio SSDT. Click on `Create@User.sql`  in Solution Explorer. Observe the source code opens for the procedure.
2. Open new Azure Data Studio Window
3. Open Database Projects Panel.
4. Open Existing -> Remote git reposi

[2022-10-25 21:48] sgarwood commented on #20974
@Benjin Hopefully a clear repro for one of the other issues I mentioned earlier today. Thanks once again

[2022-10-25 21:57] sgarwood commented on #20974
Also seems to case issues when trying to perform a schema compare

1. Open new schema compare
1. Select a Database as Source
2. Select Above SQL project as Target
3. Select Compare
4. See the error `Schema Compare failed: Unexpected exception caught during population of target model: Could not find file 'c:\Users\sgarwood\source\repos\azure-data-studio\dontAtMeADS\dontAtMeSSDT\Create%40User.sql'.`

[2022-10-25 22:48] cssuh commented on #20915
Hi @cchurchwell have you been able to successfully fetch subscriptions previously?

[2022-10-25 22:49] Charles-Gagnon commented on #20894
Not seeing this anymore so closing this until I have more information

[2022-10-25 22:49] #20894 closed

[2022-10-25 22:50] cchurchwell commented on #20915
I’m not sure as I’ve never tried - I was performing an evaluation of the product for Erin

Chad Churchwell
Data and AI
Sr. Cloud Solution Architect

Sent from Outlook for IOS
________________________________
From: Christopher Suh ***@***.***>
Sent: Tuesday, October 25, 2022 6:48:48 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: Chad Churchwell ***@***.***>; Mention ***@***.***>
Subject: Re: [mi

[2022-10-25 22:50] Charles-Gagnon commented on #20523
This has been done

[2022-10-25 22:50] #20523 closed

[2022-10-25 22:58] cssuh commented on #20915
Hi @cchurchwell, do you have the government cloud enabled in your settings?
<img width="1350" alt="Screen Shot 2022-10-25 at 3 58 28 PM" src="https://user-images.githubusercontent.com/18150417/197897587-0fe1e93a-d20b-492a-988f-bd1f6007a341.png">

[2022-10-25 23:05] cchurchwell commented on #20915
Yes it is enabled

[Graphical user interface, text, application  Description automatically generated]

From: Christopher Suh ***@***.***>
Sent: Tuesday, October 25, 2022 6:59 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: Chad Churchwell ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azuredatastudio] Azure Data Studio cannot pull subscription information for MAG (Microsoft Azure Gov

[2022-10-25 23:07] cchurchwell commented on #20915
OK, I went and re-registered after enabling Azure government and if I register under the government section, it successfully pulls subscription information

[Graphical user interface, application  Description automatically generated]

Chad Churchwell
Senior Cloud Solution Architect
Microsoft Federal
Data and AI
[MSFT_logo]
***@***.******@***.***
Mobile: 904-502-7754
***@***.******@***.***>

SQL Se

[2022-10-25 23:17] cssuh commented on #20915
Ok, I will go ahead and close the issue.  If you run into any other problems, feel free to open a new issue.

[2022-10-25 23:17] #20915 closed

[2022-10-25 23:51] cheenamalhotra commented on #20972
It's very strange why it's not working, the only change responsible is this here:

https://github.com/microsoft/azuredatastudio/pull/20959/files#diff-f952231bc3fde12d411ad32e4e9fd058ae7127e1516fb230e077106f55fe858fR218

But we also need this otherwise when you edit a connection and only change **Encrypt** property it doesn't consider that when saving a new profile and you don't see its effect.

[2022-10-25 23:56] erinstellato-ms commented on #20915
@cssuh thank you for your help with this!

[2022-10-26 00:11] cheenamalhotra commented on #20972
Apparently, Credential Manager doesn't like the keyword '**encrypt**' 🤔 and noticed that saved credentials actually don't exist. If I skip property name, it works fine.

Can you confirm if this issue also happens in Mac OS?

[2022-10-26 00:14] vikarBCC commented on #20864
Hi, Is there any update on this issue?

[2022-10-26 00:24] cheenamalhotra commented on #20972
I think this is related to credential exhaustion. You and me too, we have exhausted the Windows Credential Store and therefore are not able to create new credentials anymore. Not sure of the reason how, but I see VSCode has enormous credentials in history.

If you clean a few old ones and make room for a new one, you'd be able to create new credentials and retrieve them.

[2022-10-26 00:44] cheenamalhotra commented on #20864
Hi @vikarBCC

Can you begin by clearing access token cache from ADS by running below commands from Command Prompt:
- Azure Accounts: Clear Azure account token cache
- Clear all saved accounts

Try logging in again and if you still face issues, please gather logs for the failure and share with us.

[2022-10-26 06:09] Charles-Gagnon commented on #20972
This is because of the change to [ProviderConnectionInfo.getOptionsKey](https://github.com/microsoft/azuredatastudio/commit/987aed3b922c7b46882ab205154bc2177569b31b#diff-f952231bc3fde12d411ad32e4e9fd058ae7127e1516fb230e077106f55fe858fR218).

The key generated here is used to do the password lookup from connectionManagementService. But because you changed the key to now include the encrypt option i

[2022-10-26 07:51] poojapatil36 commented on #20764
Verified the issue in latest insiders. Issue is fixed with both NVDA and JAWS.
Please find below screenshot for reference.
![20764_Closing attachment](https://user-images.githubusercontent.com/97668775/197966831-9b7305ca-351d-4746-8abe-1dee246a4ccf.png)
![20764_Fixed](https://user-images.githubusercontent.com/97668775/197966837-616970c4-b808-42ec-8206-11c1029b205a.png)

[2022-10-26 07:51] #20764 closed

[2022-10-26 07:55] poojapatil36 commented on #20748
Verified the issue in latest insider, issue is fixed.
Please find below screenshot for reference.
![20748_Fixed](https://user-images.githubusercontent.com/97668775/197967787-f864e5fb-0423-4dc8-9646-05d15dcf8600.png)

[2022-10-26 07:55] #20748 closed

[2022-10-26 08:11] Truptik12 commented on #20786
Verified the bug in the below environment
Version: 1.40.0-insider (user setup)
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:45:47.459Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22621

The Screen reader is announcing "Alphabetical" and "Reverse Alphabetical" for the buttons. So the bug does not

[2022-10-26 08:11] #20786 closed

[2022-10-26 08:15] Truptik12 commented on #20783
Verified the bug in the below environment
Version: 1.40.0-insider (user setup)
Commit: https://github.com/microsoft/azuredatastudio/commit/d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:45:47.459Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22621
The bug does not repro. Hence closing the bug. Please find

[2022-10-26 08:15] #20783 closed

[2022-10-26 08:19] Truptik12 commented on #20782
Verified the bug in the below environment
Version: 1.40.0-insider (user setup)
Commit: https://github.com/microsoft/azuredatastudio/commit/d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:45:47.459Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22621
The bug does not repro. Hence closing the bug. Please find

[2022-10-26 08:19] #20782 closed

[2022-10-26 08:22] Truptik12 commented on #20781
@aasimkhan30

Verified the bug in the below environment
Version: 1.40.0-insider (user setup)
Commit: https://github.com/microsoft/azuredatastudio/commit/d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:45:47.459Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22621

The bug is not yet fixed, the combo box stil

[2022-10-26 13:46] jtsom commented on #20971
Just had this occur to me. Installed latest insiders, never have used an "Encrypt" option, tried to connect to my local SQLEXPRESS database, which I was just connected to before the update. When I tried to connect, I received an error, the details of which are:

[code]

[2022-10-26 13:54] inmindtechnologies commented on #8263
I totally agree.

We want to keep distinct connections by workspace. We don't want to recopy "datasource.connections" in user settings.
Simply add a flag to remove that automatic recopy. That should not take 3 years to do.

[2022-10-26 14:10] inmindtechnologies commented on #8263
I notice that it will recopy the connection in user settings only when we **left click** the connection in the Servers side bar. If we right click and select Manage it will not recopy the setting.

[2022-10-26 15:10] #20971 closed

[2022-10-26 16:20] Charles-Gagnon commented on #20971
@jtsom That part is intended, although we're working on how to best alert customers of these changes.

What you're seeing is the change to default to `Encrypt = true` that was actually introduced last year in SqlClient v4 (see https://techcommunity.microsoft.com/t5/sql-server-blog/released-general-availability-of-microsoft-data-sqlclient-4-0/ba-p/2983346). We've been using v3 up to this point thou

[2022-10-26 16:25] jtsom commented on #20971
@Charles-Gagnon Thanks for the info. I think a problem is, the error dialog that pops up doesn't really say that this is the cause - it looks like more of a systemic problem:

![image](https://user-images.githubusercontent.com/13488/198081226-11a21291-9bbf-421a-bb46-700dcdedc9c1.png)

I read that and had no idea what happened. I had to come here, and luckily found this reported issue and turned of

[2022-10-26 16:40] Charles-Gagnon commented on #20971
Yeah, that's the part that we're discussing how to best surface to users - right now that error message is just from the engine and I agree is not the easiest to understand for many users who aren't familiar with these security features.

The last part sounds like a bug though and not one that I can repro - if I set Encrypt=false and then connect the entry that shows up in recent connections also

[2022-10-26 16:46] jtsom commented on #20971
OK that was it, the older, duplicate connection didn't change, but the newer one was updated.

How do I update the saved connections? I tried setting to false, setting Server Group to Save to my local group - it added another entry, but didn't update the original, and I see no way to edit/delete entries.

Thanks.

[2022-10-26 16:48] Charles-Gagnon commented on #20971
If you right click on an entry in the server tree you should see "Edit Connection" - if you then change Encrypt to false in there and click Connect it should update that connection.

(you could also delete the connection and then re-add it, making sure to specify "Encrypt=false")

[2022-10-26 17:17] dzsquared opened #20977 "publish to container creates container but fails to publish - problem connecting with azdata.connection.connect"
Issue Type: <b>Bug</b>

	[ Build ]

    stdout: Microsoft (R) Build Engine version 17.2.0+41abc5629 for .NET
    stdout: Copyright (C) Microsoft Corporation. All rights reserved.
    stdout:
    stdout:
    stdout:   Determining projects to restore...
    stdout:
    stdout:   All projects are up-to-date for restore.
    stdout:
    stdout:   Creating a model to represent the project...
    stdout

[2022-10-26 17:18] Charles-Gagnon opened #20978 "Welcome page video images aren't showing"
Version: 1.40.0-insider (user setup)
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:45:47.459Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22621

Likely related to the same issue we've seen pop up before post-merge : https://github.com/microsoft/azuredatastudio/issues/18002

![image](https://user-

[2022-10-26 17:42] Charles-Gagnon opened #20980 "Extension version check is comparing VS Code engine version to ADS version"
Version: 1.40.0-insider (user setup)
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:45:47.459Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Windows_NT x64 10.0.22621

This extension specifies a VS Code engine version ^1.48.0, but ADS seems to be comparing that to the ADS version (1.40.0) instead

This means that the e

[2022-10-26 17:43] kisantia commented on #20977
I tried to fix this by setting encrypt to false here, but it's still failing to connect, so it seems like the encrypt option is not actually getting set to false. https://github.com/microsoft/azuredatastudio/blob/b2def5c44ef36904e51cef938d494fc5f32fb989/extensions/sql-database-projects/src/models/connections/connectionService.ts#L35-L48

[2022-10-26 17:46] tdoshin opened #20981 "SqlClient encrypt resets default to false"
- Azure Data Studio Version: Insiders
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Set Encrypt property default to "False" and connect to server

2. Customer (me) realizes cert is not trusted so I disconnect in OE with the intention of setting the default back to "True"

![image](https://user-images.githubusercontent.com/72947001/198096100-235c2155-663f-4c83-be89-f1ea364ec815.png)

3.

[2022-10-26 17:51] alanrenmsft opened #20982 "the change to the encrypt option resulted in 3 entries in OE for the same target databases"
![image](https://user-images.githubusercontent.com/13777222/198099307-eb08d452-c2be-4806-861b-ed09498c7407.png)

the first one is the connection prior to upgrading to the latest insider.
the second is with Encrypt on.
the third is with Encrypt off.

IMO, this option shouldn't be an identity option, that means, there should be only 1 connection in the OE entry.

[2022-10-26 17:53] Charles-Gagnon commented on #20982
Same issue as https://github.com/microsoft/azuredatastudio/issues/20972 - see comments there for explanation of where the problem is exactly

[2022-10-26 17:55] #20982 closed

[2022-10-26 17:56] alanrenmsft commented on #20972
https://github.com/microsoft/azuredatastudio/commit/987aed3b922c7b46882ab205154bc2177569b31b#diff-f952231bc3fde12d411ad32e4e9fd058ae7127e1516fb230e077106f55fe858fR218

this change should be reverted so that it is solely based on the IsIdentity property, whether it is on the front page shouldn't matter.

[2022-10-26 18:00] lucasmarotta opened #20983 "Add options to check and uncheck all objects in Schema Compare"
**Is your feature request related to a problem? Please describe.**
When using Schema Compare having a lot of differences between a source and target, is difficult to just select what you want per type, action and select or uncheck all.

**Describe the solution or feature you'd like**
Add an option to check and uncheck all object differences. Add ways to check per object type (like table, view, pro

[2022-10-26 18:14] kisantia commented on #20974
closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/17020. Workaround is https://github.com/microsoft/azuredatastudio/issues/17020#issuecomment-966738340

[2022-10-26 18:14] #20974 closed

[2022-10-26 18:15] kisantia commented on #20983
closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/10430

[2022-10-26 18:15] #20983 closed

[2022-10-26 18:18] llali opened #20984 "ML Extension icons and images not showing up in the main page"
- Azure Data Studio Version:
- OS Version:

<img width="880" alt="Screen Shot 2022-10-26 at 11 13 32 AM" src="https://user-images.githubusercontent.com/17187348/198104897-e175cc8a-77a8-4672-bf31-2e96dfb1a9a8.png">

Does this issue occur when all extensions are disabled?: Yes/No

[2022-10-26 18:21] Charles-Gagnon opened #20985 "Editing a "live" connection doesn't apply new properties to that connection immediately"
Version: 1.39.1 (user setup)
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:11:13.047Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22621

1. Create a new connection to a server that doesn't have a valid server cert installed (don't change any properties yet)
2. Connection should succeed
3. While con

[2022-10-26 18:32] Charles-Gagnon commented on #20981
@tdoshin I'm going to close this because this is currently expected behavior - changes to a connection require that the connection is able to successfully be made, which means that we only apply the changes when "Connect" is clicked and the connection successfully goes through.

Hitting cancel will discard all changes, that's expected.

We could consider allowing edit connection to have a separate

[2022-10-26 18:32] #20981 closed

[2022-10-26 18:35] alanrenmsft opened #20986 "Drag a file to ADS no longer opens the file"
This works in latest stable release, seems to be a regression caused by recent merge.

when the drop target is the editor group's tab header area, then it works, otherwise it won't open the file.

tried with latest vscode, it works as expected.

[2022-10-26 18:41] dzsquared opened #20987 "SQL Server containers and Edge container deployment notebooks cannot connect"
The links generated at the bottom of the deployment notebooks does not include the encrypt=false connection parameter.
As a result, the container deploys but does not connect when the user clicks the html link generated

example from SQL Server container notebook:
[code]

Version: 1.40.0-insider
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:48:43.511Z
VS Code: 1.67.0
Electro

[2022-10-26 18:45] Charles-Gagnon opened #20988 "Sorting while cells are selected and then exporting those cells exports "wrong" cells"
Stable/Insiders

Version: 1.39.1 (user setup)
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:11:13.047Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22621

1. Run query with results
2. Select some number of cells
3. Export (any should do, I used CSV) - check the selected cells are exported
4. Sort on

[2022-10-26 18:52] alanrenmsft commented on #20834
@IcyCooldrink I am able to reproduce the issue with 1.39.1 but not with the latest insider build, I will investigate it further.

in the meanwhile, I was able to open it with the query editor action bar after closing the other editors. you can use this as a workaround for now.

[2022-10-26 18:56] Charles-Gagnon opened #20989 "Many settings refer to VS Code"
Open settings UI and type "VS Code" into search bar - lots of the settings there mention VS Code. These should be updated to reference "Azure Data Studio".

![image](https://user-images.githubusercontent.com/28519865/198112568-4052440d-0445-40e6-912b-76e68952112c.png)

[2022-10-26 18:58] cheenamalhotra opened #20990 "Windows Credential Manager is not able to save credentials more than 20"
- Azure Data Studio Version: 1.39.1
- OS Version: Windows 11

Identified in https://github.com/microsoft/azuredatastudio/issues/20972#issuecomment-1291276907, after exhausting limits of saved credentials by ADS in Windows (with password/ azure tokens), even on clicking 'Remember Password' for a new server/db, new connections don't save credentials to credential manager anymore.

**Steps to Reprodu

[2022-10-26 18:59] cheenamalhotra commented on #20972
Coming back to this bug, there is no bug with password saving and retrieval with the changes, so would recommend renaming to "Existing saved passwords are not being populated... "

Also to mention, the issue with credential limit does apply and can be easily reproduced, you can try #20990

We need to think of a better way to save passwords as this might be already affecting customers trying to mak

[2022-10-26 19:06] cheenamalhotra commented on #20985
As discussed, and also mentioned here: https://github.com/microsoft/azuredatastudio/issues/20972#issuecomment-1291259140 the current design of connection profile identity is flawed and needs to be fixed. Profile identity creation needs to consider all connection properties (as applicable to provider) in order to make this work.

[2022-10-26 19:45] Charles-Gagnon commented on #20990
How exactly are you seeing this surface? I have way more than 20 stored in Windows Credential Manager

![image](https://user-images.githubusercontent.com/28519865/198121039-fae90fb8-c827-42d7-b88b-d83a8f09a3ce.png)

and I haven't seen any problems. Given that VS Code uses credential manager for storing secrets from extensions if there really was a limit of 20 that'd pretty much make that feature u

[2022-10-26 20:19] dzsquared opened #20992 "schema compare include header turns into non-functional checkbox when clicked"
Version: 1.40.0-insider
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:48:43.511Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin arm64 22.1.0

Steps to Reproduce:
- run schema compare
- click "Include" column header
- word turns into checkbox
- apply changes
- all changes applied, even ones that were deselected m

[2022-10-26 20:27] VasuBhog opened #20993 "File -> New File (shown twice)"
Version: 1.40.0-insider (Universal)
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:49:36.314Z (14 hrs ago)
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin x64 21.6.0

Steps to Reproduce:
![Screen Shot 2022-10-26 at 1 24 21 PM](https://user-images.githubusercontent.com/23587151/198130122-59b6a235-993b-45e1-83e6-dec

[2022-10-26 20:36] VasuBhog opened #20994 "Kusto (recent or saved) connection does not get auto populated in connection details"
Version: 1.40.0-insider (Universal)
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:49:36.314Z (14 hrs ago)
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin x64 21.6.0

Steps to Reproduce:

1. Either Open the Connection Dialog via the Connection Pane or Change the Connection in Query / Notebook Editor
2. Initially s

[2022-10-26 20:57] kburtram commented on #20985
@cheenamalhotra I think this can be fixed without changing the "connection identity" concept by forcing a reconnect when editing a connection.  In may make sense to decouple the two issues for implementation reasons.  Since this isn't a recent regression you can decide if you think this should be fixed for Nov.

[2022-10-26 21:12] cheenamalhotra commented on #20994
I noticed that it does take some time for extension to load, but once it does, it does populate fields. I don't reproduce the behavior otherwise. Can you confirm?

[2022-10-26 21:13] VasuBhog opened #20995 "Kusto Notebook defaults to SQL kernel when opened"
Version: 1.40.0-insider (Universal)
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:49:36.314Z (15 hrs ago)
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin x64 21.6.0

Steps to Reproduce:

1. Open a Saved Kusto Notebook (that had just the kernel and save - then close the notebook and reopen it)
2. The Kernel should

[2022-10-26 21:42] alanrenmsft commented on #20834
I just produced a stable build with latest code and I am not able to reproduce the issue with it anymore, it has been fixed.

[2022-10-26 21:42] #20834 closed

[2022-10-26 22:49] dzsquared opened #20998 "import wizard will not active on macos M1"
Issue Type: <b>Bug</b>

After installing the import wizard extension on the insiders for M1, it will not activate citing an incompatible platform

![image](https://user-images.githubusercontent.com/12227241/198153150-fac45ca8-c5b1-4165-9833-1a129fa64ec3.png)

Extension version: 1.5.0
Azure Data Studio version: azuredatastudio-insiders 1.40.0-insider (d5cf088ba7b794859438fd2c1902249fd1e6a947, 2022-

[2022-10-26 23:19] dzsquared commented on #20520
appears to be resolved as of:
Version: 1.40.0-insider
Commit: d5cf088ba7b794859438fd2c1902249fd1e6a947
Date: 2022-10-26T05:48:43.511Z
VS Code: 1.67.0
Electron: 17.4.5
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.13-electron.0
OS: Darwin arm64 22.1.0

[2022-10-26 23:44] #20972 closed

[2022-10-27 02:27] #20962 closed

[2022-10-27 04:50] kburtram opened #21007 "Cannot drag Tasks panel into secondary side bar"
- Azure Data Studio Version: `insiders`

Steps to Reproduce:

1. Open Tasks panel and Secondary Side Bar
2. Attempt to move Tasks to Secondary Side Bar

Expected: Tasks can dock in side bar similar to other panels

Actual: Tasks isn't dockable in side bar

![image](https://user-images.githubusercontent.com/599935/198194697-69c36d92-d524-477b-9b8a-e64961d0690f.png)

[2022-10-27 05:21] richardtallent commented on #20936
Fixes have been made in the PR... what's the next step?

[2022-10-27 05:46] #20980 closed

[2022-10-27 06:12] Sachid26 opened #21009 "new table option is not there."
- Azure Data Studio Version: 1.39.1(user setup)
- OS Version:

Steps to Reproduce:

1. install the azure data studio
2. right click on the tables folder within an active connection

Does this issue occur when all extensions are disabled?: Yes/No

![image](https://user-images.githubusercontent.com/70128087/198205288-f2549442-b119-4b1b-887e-e31bd5a25ad6.png)

[2022-10-27 06:16] cheenamalhotra commented on #20990
Related topic: https://learn.microsoft.com/en-us/answers/questions/896113/github-issue-microsoft-visual-studio-we-could-not.html

[2022-10-27 06:32] Sachid26 commented on #21009
I am also not getting the design option when right clicking the table.
![image](https://user-images.githubusercontent.com/70128087/198208530-b71fbdf0-44bd-4117-ba23-3397c4ab6e34.png)

[2022-10-27 07:12] palhal opened #21011 "SQL Server datetimeoffset precision not honored in select results"
- Azure Data Studio Version: 1.39.1
- OS Version: Windows 10 21H2
- DB Version: Microsoft SQL Server 2019 (RTM-GDR) (KB5014356) - 15.0.2095.3 (X64)

Steps to Reproduce:

1. Run the following query:
[code]
This results in:
[code]
2. Observe that datetime2 precision is honored, while datetimeoffset is not

Does this issue occur when all extensions are disabled?: Yes

I use a lot of datetimeoffset(0)

[2022-10-27 07:35] feihuao opened #21012 "too much whitespace in notebook"
Version: 1.39.1 (user setup)
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:11:13.047Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

![image](https://user-images.githubusercontent.com/46892804/198219883-9f54ef7a-e01a-4ab1-a251-d4ca66e9c148.png)

[2022-10-27 14:29] dspencer-hpg opened #21013 "Database tables not loading in the window pain popout on the left"
Issue Type: <b>Bug</b>

Add a connection to a database
click on the servers icon
click the drop down arrow

database objects don't load and timeout after 45 seconds.
it should load the server/database objects in the pop out panel

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19044
Restricted M

[2022-10-27 15:28] dzsquared commented on #21009
@Sachid26 the table designer feature is in preview, can you confirm that workbench preview features are enabled in Azure Data Studio?  This can be found in settings under search for "preview features".

[2022-10-27 16:21] Sachid26 commented on #21009
yeah, i enabled this and it got visible now. The documentation is not clear on enabling the preview features. Can a link to the enabling preview features be put on all the feature docs that are released in preview?

[2022-10-27 16:45] #20993 closed

[2022-10-27 16:54] Charles-Gagnon commented on #20990
Well that's super weird. Honestly though - if we're going to be looking into this I would highly suggest we look at using the native secret storage instead of this separate service. That way we keep all our credential management in the app in the same place and avoid the overhead of making these RPC calls and having to start up an EXE just for that.

I'll try to find some time for trying to repro

[2022-10-27 17:05] #20973 closed

[2022-10-27 17:31] dzsquared commented on #21009
There's an update for docs out for publishing:
![image](https://user-images.githubusercontent.com/12227241/198358345-fec3f0c7-de2a-47d0-921e-c79500259a3f.png)

[2022-10-27 17:31] #21009 closed

[2022-10-27 17:39] AlreadyPicked opened #21016 "Unable to start trace in Profiler"
- Azure Data Studio Version: 1.39.1
- OS Version: Windows 10 Enterprise (21H1 : 19043.2130)

Steps to Reproduce:

1. Connect to server
2. ALT-P to start a new trace, Only session template available ==> Standard_Azure
3. Enter a session name : AzureSQLSession001 and then click Start
4. Button Start on toolbar or ALT-S does nothing

Does this issue occur when all extensions are disabled?: Yes

[2022-10-27 18:42] kisantia commented on #20992
This is a regression from the August release

[2022-10-27 19:44] leonardobravo-utilities commented on #5173
version 1.39.1

... error still present.

[2022-10-27 19:50] mathewrosssmith commented on #13931
Same issue here. Data Studio connection to Dynamics365 data source (xxxxx.crm.dynamics.com) fails with the error described by others. Using the latest insiders build made no difference as of today. SSMS 15 works fine with the connection. Opening Azure Data Studio directly from the active connection in the object explorer changes nothing. Using Active Directory with MFA. Would love to be a guinea p

[2022-10-27 21:25] kisantia commented on #20992
This started failing at commit 37636012da25cca3cb0a1e0fe32c88d2766aec80. @aasimkhan30 can you please take a look since this is related to the table changes made in https://github.com/microsoft/azuredatastudio/pull/20514?

[2022-10-27 21:49] alanrenmsft opened #21017 "extensions that are not web-packed do not have node_modules folder included in the vsix"
This is not caused by recent merge.

e.g. Import extension.

[2022-10-27 22:44] #20898 closed

[2022-10-28 00:27] #20936 closed

[2022-10-28 05:56] Charles-Gagnon opened #21023 "Extension contribution points should be validated before registration"
Currently we have some extension contribution points such as [ConnectionProvider](https://github.com/Microsoft/azuredatastudio/blob/b8858f011d2cbeb92d60dfa9a33d1346b313cba3/src/sql/workbench/contrib/connection/common/connectionProviderExtension.ts#L160) that don't validate their inputs before registering them. This could lead to unexpected runtime errors if types are used that aren't expected - fo

[2022-10-28 05:59] #20978 closed

[2022-10-28 05:59] #20984 closed

[2022-10-28 11:58] nord- opened #21026 "Tab coloring"
Issue Type: <b>Bug</b>

When I've set a color for server group and open a new tab the tab is not colored at all and looks disconnected. If I switch tab it's updated.
![image](https://user-images.githubusercontent.com/3777600/198581704-7be26074-e60c-4c2f-9633-58a72324ea95.png)

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS

[2022-10-28 14:40] gscheife opened #21027 "Database Project on Ubuntu 22.04 Cannot find .NET Core SDK 3.1 or higher"
- Azure Data Studio Version: 1.39.1
- OS Version: Ubuntu 22.04

Steps to Reproduce:

1. clone git repo locally
2. build or publish throws "The .NET SDK cannot be located. Project build will not work. Please install .NET Core SDK version 3.1 or higher or update the .NET SDK location in settings if already installed.

Does this issue occur when all extensions are disabled?: Yes/No

Yes

This project

[2022-10-28 15:39] Chahk42 commented on #21016
Same issue here.  Here's what happens when I try to click on the "Select Session" dropdown:
![image](https://user-images.githubusercontent.com/116903311/198677533-7b4e920a-6be3-4154-9b24-136dce85c8ef.png)

[2022-10-28 15:42] Chahk42 commented on #20767
Same issue.  Connecting to Azure SQL Database.  Here's the console log of what happens when I try to click on the Session dropdown:
![image](https://user-images.githubusercontent.com/116903311/198678123-3022e1ac-8943-46a2-a820-62a3d3fd38d2.png)

[2022-10-28 17:28] SakshiS-harma commented on #21027
Hi @gscheife , can you try the latest insider build (https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main)? This issue was fixed after the August release (https://github.com/microsoft/azuredatastudio/issues/16598).

For the workaround, can you try updating the path to: /usr/lib/dotnet (and not the whole path). It tries to find the latest version within this fold

[2022-10-28 17:28] #20964 closed

[2022-10-28 17:35] aasimkhan30 commented on #20778
@poojapatil36, this issues if fixed in the latest insiders. Can you please verify and close the issue?

[2022-10-28 17:36] aasimkhan30 commented on #20765
@Rama8345, this issue is fixed in the lates insiders. Now, when you click on the node the tooltip is shown and announced. Can you please verify and close? Thanks!

[2022-10-28 18:15] gscheife commented on #21027
Thank you for the reply. I did download the Insiders from about. When I try "/usr/lib/dotnet" I get "/usr/lib/dotnet/dotnet: not found" but when I just use "/usr/lib" I get "/usr/lib/dotnet: permission denied." is there a specific path that needs access?

[2022-10-28 18:49] cheenamalhotra opened #21030 "Support generic type for ConnectionOption.defaultValue"
Captured in PR #21020

As of now `ConnectionOption.defaultValue` is declared to be a string in azdata, but it's decoupled with the package.json in mssql/cms extension where connection options are actually defined.

DefaultValue should support generic types than string, ideally should be an `Object`.

### Impact
If `defaultValue` is set to any other type than a string, compiler wouldn't know, and i

[2022-10-28 19:37] SakshiS-harma commented on #21027
My bad, the default installation location for Ubuntu/Linux version is under "/usr/share/dotnet". Can you try specifying "/usr/share" and see if that works?

[2022-10-28 19:45] gscheife commented on #21027
I do not have a dotnet install in /usr/share/.

[2022-10-28 20:02] #20989 closed

[2022-10-28 20:22] #20995 closed

[2022-10-28 20:26] cheenamalhotra commented on #20985
I looked into that but it seems reconnect does happen on the server tree, but with old advanced properties even though connection profile shows updated properties (which is not good news). I also looked in SQL Server profiler and saw new connection being made, but when I expect failure, it still manages to connect.

Dashboard does attempt the new options (if an existing dashboard for same connecti

[2022-10-28 21:14] #18577 closed

[2022-10-28 21:15] #18693 closed

[2022-10-28 21:21] SakshiS-harma commented on #21027
Just to be sure, do you have the access permissions for "/usr/lib/dotnet". Because if you have specified the location in Settings, it should be able to find the dotnet from there.
![image](https://user-images.githubusercontent.com/57200045/198734853-dbbe9ebc-f5c0-4938-8cd0-9809f21c9925.png)

[2022-10-28 22:06] kburtram opened #21032 "Connections can show incorrect user name when retrying creation in dialog"
- Azure Data Studio Version: `main`

1. Try to connect to server using invalid SQL Login details, such as incorrect password
2. When asked to retry creation switch to Integrated Auth with valid domain account

Expected: New connection with integrated auth in display name

Actual: Invalid SQL Login details still in display name.  For example, below connection says it's using sa user but it's actual

[2022-10-28 22:26] kburtram opened #21034 "Creating a table adds a bunch of unrelated changes to update script"
- Azure Data Studio Version: `insider`

Steps to Reproduce:

1. Add a simple table to the default WideWorldImporters DB
2. Publish the table to the DB

Expected: Table publishes successfully.

Actual: The publish script has a bunch of different DB updates unrelated to adding the table to the DB.  These additional changes cause publish to fail.  The same steps work as expected in SSDT.

ADS Publish

[2022-10-28 22:47] kisantia opened #21035 "Unexcludable elements in schema compare should show without a checkbox"
SSDT shows unexcludable differences without the checkbox:
![image](https://user-images.githubusercontent.com/31145923/198746880-de5ff3e2-5035-484c-8b1d-1d915189b10a.png)

Right now in ADS, they aren't shown at all in schema compare because they get filtered out here: https://github.com/microsoft/sqltoolsservice/blob/6f198e9e5aacc0e1a8eacb3ad07b556e0cbe3d52/src/Microsoft.SqlTools.ServiceLayer/Schem

[2022-10-28 23:03] kburtram commented on #21034
This didn't repro when I restarted and tried again.  So I'll assign to myself for additional investigation.

[2022-10-29 00:14] #21032 closed

[2022-10-29 01:15] #20992 closed

[2022-10-29 01:45] kburtram opened #21038 "Query editor loses results when saved"
- Azure Data Studio Version: `insider`

Steps to Reproduce:

1. Open an untitled SQL editor and run a query
2. Save query file

Expected: Results are retained

Actual: Results are lost

[2022-10-29 02:01] kburtram commented on #21038
This is how this issue was fixed when we encountered it previously https://github.com/microsoft/azuredatastudio/pull/16883.

[2022-10-29 04:53] cheenamalhotra commented on #20985
Found the bug in SqlToolsService, PR https://github.com/microsoft/sqltoolsservice/pull/1739 should fix this issue.

[2022-10-29 23:37] Charles-Gagnon commented on #20091
I haven't seen this since the original issue was fixed so closing for now

[2022-10-30 10:48] AsifRehman opened #21042 "Search Option In Toolbar"
Issue Type: <b>Feature Request</b>

On Side Pane, There should be search option to search tables, views, strored procedure.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 6.3.9600
Restricted Mode: No

[2022-10-30 16:06] uttahb commented on #20323
same issue here as well
![image](https://user-images.githubusercontent.com/11409246/198888897-fdc453a8-8c66-4d63-98bf-053e8718c895.png)
this is the screenshot of the callstack.

[2022-10-31 02:12] jameswong2000 opened #21045 "Include the Host Name in all the view"
Add the field "HostName" to display in the profiler so that users can filter the record using "HostName" to retrieve the SQL query so that only SQL statement executed by user's own workstation will be displayed.

[2022-10-31 14:48] andrekamman commented on #12629
Same here!
Since Azure specifically asks for your name, you can expect people to use accents and characters that are applicable to spell their name correctly. Displaying that incorrectly in a tool, especially if that tool is related to handling data, should never happen and seems like something which is easy to fix to me.
![Snag_d3d35860](https://user-images.githubusercontent.com/5106160/199036524

[2022-10-31 15:07] bidgeir commented on #12629
I have the same issue. It´s not a showstopper but it´s very annoying in this day and age. It´s not really helpful for adoptions when your name cannot be spelt correctly.

![image](https://user-images.githubusercontent.com/4395145/199040872-cf6b347d-5e50-4dea-ac68-eb211c2e1529.png)

[2022-10-31 15:10] ClaudioESSilva commented on #12629
Hi folks, +1 here
![image](https://user-images.githubusercontent.com/19521315/199041387-08bbec11-7b22-453f-9379-41f77619c782.png)

[2022-10-31 16:00] ishazel opened #21046 "Can't connect to database after Insider update"
Issue Type: <b>Bug</b>
I am unable to connect to a database after updating to the latest Insider build. I can successfully connect using the same connection with the release version of ADS.

Expected Result:
To successfully connect to the database.

Error details:

Azure Data Studio version: azuredatastudio-insiders 1.40.0-insider (5f6eed12c2aee34bac916be44aa7cee3971dbf09, 2022-10-28T05:51:26.873Z

[2022-10-31 16:34] #21046 closed

[2022-10-31 17:25] #20091 closed

[2022-10-31 17:25] #20968 closed

[2022-10-31 17:41] kisantia commented on #20880
it's possible that these are unexcludable differences that shouldn't have a checkbox shown - issue tracking that change is https://github.com/microsoft/azuredatastudio/issues/21035

@DSunrisein can you please share a sample repro for this so I can try debuging?

[2022-10-31 18:26] barbaravaldez commented on #20947
@caohai It looks like the opening Provided Books functionality is still broken on latest insiders. I'm not sure if this is only happening on macOS. Can you confirm?

[2022-10-31 18:35] caohai commented on #20947
@barbaravaldez The linked PR was only intended to fix the previously disabled extension downloading step.
I just tested the provided notebook with latest insider and the error msg is `command 'books.sqlserver2019' not found ` which I think is a separate issue.

[2022-10-31 21:30] corivera commented on #20546
Seems like this is just a jupyter dependency (required by jupyter's psutil dependent package), since I get the same error when trying to install it using a standalone python instance on Windows Server.

[2022-10-31 21:30] #20546 closed

[2022-11-01 00:25] AmariLuigi commented on #5173
Same problem here!

[2022-11-01 05:23] aasimkhan30 commented on #20781
@Truptik12
we are using similar patterns across ads which is inherited from Vscode. We are providing users with the aria lables for those controls. Is that not enough?

Search example:
![image](https://user-images.githubusercontent.com/6816294/199164665-e96e1617-7ce5-4e7c-871a-feaeb238203a.png)

[2022-11-01 11:34] Rama8345 commented on #20796
@aasimkhan30
Verified the bug in the latest insiders build, but we are getting below error.
![image](https://user-images.githubusercontent.com/115216656/199223982-4d526e37-ff58-4f98-9410-d235badfb14b.png)

[2022-11-01 11:37] Rama8345 commented on #20765
@aasimkhan30
Verified the bug in the latest insiders build, but we are getting below error.
![image](https://user-images.githubusercontent.com/115216656/199224409-66c9dff7-11c4-4f6a-8c1c-657559e55fc1.png)

[2022-11-01 11:37] Rama8345 commented on #20779
Verified the bug in the latest insiders build, but we are getting below error.
![image](https://user-images.githubusercontent.com/115216656/199224487-d33530f1-bcbe-4564-9702-ef0e22d2b896.png)

[2022-11-01 11:39] Rama8345 commented on #20777
@aasimkhan30
Verified the bug in the latest insiders build, but we are getting below error.
![image](https://user-images.githubusercontent.com/115216656/199224780-816f3427-3543-4880-81c9-bf186522c6d7.png)

[2022-11-01 11:40] Rama8345 commented on #20778
@aasimkhan30
Verified the bug in the latest insiders build, but we are getting below error.
![image](https://user-images.githubusercontent.com/115216656/199224868-6facc11d-dc0c-4fb1-a672-6facd30d992c.png)

[2022-11-01 11:54] bartvanandel opened #21051 "Excel export: configure header formatting"
**Is your feature request related to a problem? Please describe.**

I find myself opening and editing every single Excel export to perform the following steps:
- Make headers bold _(select first row, <kbd>Ctrl</kbd>+<kbd>B</kbd>)_
- Enable filtering for all columns _(Data tab > Filter)_
- Freeze top row _(View tab > Freeze Panes > Freeze Top Row)_
- Make all rows fit their contents _(click top lef

[2022-11-01 15:29] #20948 closed

[2022-11-01 16:26] #20977 closed

[2022-11-01 16:53] #14128 closed

[2022-11-01 17:27] llali opened #21055 "Schema compare include "Delete" even after uncheck option "Drop object not in source""
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Create a db with one table
2. Create another db
3. Compare those dbs (1 as source, 2 as target) and verify  Delete table
4. Open options and un check "Drop objects not in source"
5. Compare again
Expected: Result should not include "Delete table"
Actual: Still see "Delete" in the result

Does this issue occur when all extensions a

[2022-11-01 17:37] kisantia commented on #21055
closing as duplicate of #19730

[2022-11-01 17:37] #21055 closed

[2022-11-01 20:37] corivera commented on #18186
Did a bit of testing, and looks like only our provided python package has this problem. Using the existing python instance on MacOS worked fine without any issues. Since Python is included with Macs by default, we can probably document using that as a workaround.

[2022-11-01 22:11] kisantia commented on #21035
Repro:
Project1: one table
Project2: script with:
[code]

Schema compare with Project1 as source and Project2 as target

[2022-11-01 22:14] jackRoark commented on #1039
I just installed ADS for the first time, two and half years after this issue was resolved and I'm experiencing this same exact problem. As with the OP, the proper syntax highlighting is adopted but the database connection toolbar does not display.

[2022-11-01 22:27] jackRoark commented on #1039
Nevermind, all set. I found that after creating this setting:

[code]

I also have to create this one:

[code]

[2022-11-01 22:50] chris-larsen commented on #19166
Preview release seems to reintroduce this issue on MacOS ARM build.

[2022-11-01 22:58] cheenamalhotra commented on #20985
Closing as fixed.

[2022-11-01 22:58] #20985 closed

[2022-11-02 00:03] chlafreniere commented on #17404
@MaddyDev does this still repro?

[2022-11-02 00:04] chlafreniere commented on #16088
@lucyzhang929 is this something that you can look at for November, or do we need to punt?

[2022-11-02 00:06] lewis-sanchez opened #21062 "Fix src/code.ts missing definitions and errors for smoke tests to run"
Resolve the following missing definitions/errors in `src/code.ts` that are preventing notebook smoke tests from executing correctly:

- Cannot find name `poll`
   - 187: `return await poll(`
- Cannot find name `windowId`
   - 188: `() => this.driver.getElements(windowId...`
- Argument of type `string` is not assignable to parameter of type `boolean | undefined`
   - 188: `() => this.driver.getElem

[2022-11-02 00:53] kburtram commented on #16125
@alanrenmsft are you keeping this open or should it be closed now?

[2022-11-02 01:12] alanrenmsft commented on #16125
@kburtram I'll close this after the Nov release.

[2022-11-02 05:04] BhanuPrakashGit commented on #20651
@Charles-Gagnon Tried to update the application but getting below error. Could you please tell me from where we can download the latest insiders build or what action should I take here? Thanks

![MicrosoftTeams-image (13)](https://user-images.githubusercontent.com/104351566/199402243-45ef0089-e335-400f-877e-c3713b0d9f56.png)

[2022-11-02 06:00] Rama8345 commented on #20765
Verified the issue in the latest insiders build. The issue is fixed. So closing the bug. Please find attachment for reference.
![20765_Closed](https://user-images.githubusercontent.com/115216656/199409770-99d2c2ec-4d51-42aa-8760-b69f89713cb1.gif)

[2022-11-02 06:00] #20765 closed

[2022-11-02 06:05] cheenamalhotra opened #21067 "Canceling while editing a connection makes connection unstable"
- Azure Data Studio Version: main
- OS Version: Windows 11

### Steps to Reproduce:
1. Open a connection
2. Right click and select 'Edit Connection'
3. Don't modify anything and hit Cancel.
4. Right after canceling Edit Connection, add a new connection to another server.

### Notice:
* The first connection shows red icon (disconnected)
* Upon cancellation of edit window, right clicking the first c

[2022-11-02 06:27] Rama8345 commented on #20796
Verified the issue in the latest insiders build. The issue is fixed. So closing the bug. Please find attachment for reference.
![20796_Closed](https://user-images.githubusercontent.com/115216656/199414040-d9a78751-fc6a-4ac9-b20e-6322e147cc30.gif)

[2022-11-02 06:27] #20796 closed

[2022-11-02 06:31] aasimkhan30 commented on #20781
@Truptik12 , based on the guidelines WCAG2.4.6 https://www.w3.org/TR/UNDERSTANDING-WCAG20/navigation-mechanisms-descriptive.html
It seems that visual labels are not necessary.
![image](https://user-images.githubusercontent.com/6816294/199414605-b52521be-a717-42e9-8c6c-db8fde8dac69.png)

If that's the case then this is not a bug. Can you please verify and close this issue?

[2022-11-02 06:31] cheenamalhotra commented on #21013
@dspencer-hpg

Do you know how many tables you have in the database? Can you find out from `sys.tables`?
I would appreciate any more details you can provide to help reproduce the issue at our end.

[2022-11-02 07:05] poojapatil36 commented on #20778
Verified the issue in latest build
Issue is still reproducing, please find below attachment for reference.
![20778_Still repro](https://user-images.githubusercontent.com/97668775/199422326-8698a845-c0dd-4389-bb55-79cd2e7e706b.png)

[2022-11-02 08:26] Rama8345 commented on #20777
Verified the issue on latest build, now we are unable to navigate the tree view in scan mode. Now when we are pressing "Insert + Space" then tooltip is appearing. Please find attachment for reference.
![20777_NotFixed](https://user-images.githubusercontent.com/115216656/199437641-502a706e-9297-4a9a-9a0e-98ce57a155b7.gif)

[2022-11-02 09:39] Liriel commented on #18841
the wayland issues seem to be fixed sine integrating #21015

[2022-11-02 13:44] lucyzhang929 commented on #16088
I can take a look for November

[2022-11-02 15:51] #21034 closed

[2022-11-02 16:13] Silverutm opened #21072 "ip does not have access to the server, but I do"
Issue Type: <b>Bug</b>

I keep receiving this pop up saying your ip does not have access to the server, but I do have access, (probably vpn tunneling), I just close it and query again, and the query works, but this things keeps comming up, a lot, and it's quite annoying

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS versio

[2022-11-02 16:18] Silverutm opened #21073 "New notebook sends me to existing unsaved notebook-x"
Issue Type: <b>Bug</b>

This happens when I reopen azure data studio and I have several unsaved notebooks (Notebook-0, 1, 2,...)
Then I go to a server and right click create new notebook, and it sends me to the unsaved already existing Notebook-0, if I clic create new nootebook again it sends me to NB-1 (that already exists and was unsaved), and I have to do this several times (nb 2 then nb 3...)u

[2022-11-02 16:23] kisantia commented on #20821
When doing the same comparison in ADS and SSDT of the same database with an empty project, ADS shows the `GRANT EXECUTE ... ` statements in the stored proc scripts, but SSDT does not. This is with the default compare settings - if "exclude permissions" is selected in ADS schema compare, then the `GRANT EXECUTE ... ` statements no longer show. SSDT does not have this option in the options dialog, s

[2022-11-02 16:27] chrisbaudo opened #21074 "ADS Does Not Populate Location, Resource group, or Azure SQL Managed Instance Drop Down Lists (Azure Gov)"
- Azure Data Studio Version: 1.39.1
- OS Version: Windows 10 Enterprise N

Steps to Reproduce:

1. Start a database assessment for a SQL Server VM in Azure Government
2. Choose Azure SQL Managed Instance as the Azure SQL target
3. Click Next and notice that the Subscriptions are populated, but the remaining drop-down lists are not

I do have Azure Government enabled in the Settings of Azure Data S

[2022-11-02 16:32] Charles-Gagnon commented on #20651
Did you click the link in the notification? That should provide information on what to do when you see this error.

Here's the direct link to the Insiders download though if you want to just start fresh with the latest version : https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

[2022-11-02 16:35] kisantia commented on #20821
If "Exclude Permissions" is selected in the options of ADS, no differences are shown for the comparison originally mentioned in this issue:
![image](https://user-images.githubusercontent.com/31145923/199547807-a6f75e20-5db0-46f2-8be3-72f7dfccb50d.png)

Closing this as by design since I was the one who opened it and no one else has reported this.

[2022-11-02 16:42] barbaravaldez opened #21075 "Notebook name not updated after saving it"
Saving a new notebook does not update the name of the notebook in the editor.

Version: 1.40.0-insider
Commit: 9d921e4efc2a00c5c9c8f440c32fa2f6c9277737
Date: 2022-11-02T05:55:55.526Z
VS Code: 1.67.0
Electron: 17.4.11
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.14-electron.0
OS: Darwin x64 21.6.0

https://user-images.githubusercontent.com/34872381/199549464-71620f6d-abfb-48d5-a391-30f9aa95

[2022-11-02 17:04] #12629 closed

[2022-11-02 17:05] #21067 closed

[2022-11-02 17:05] #20806 closed

[2022-11-02 17:06] #16088 closed

[2022-11-02 17:11] smartguest commented on #15598
@easinus We have made a fix that seems to address the issue, please download ADS insiders and see if it works on your side: https://github.com/microsoft/azuredatastudio/pull/21070

[2022-11-02 17:11] #15598 closed

[2022-11-02 17:22] alanrenmsft commented on #21038
verified the fix using today's insider build.

[2022-11-02 17:22] #21038 closed

[2022-11-02 17:26] alanrenmsft commented on #20727
need more information in order to proceed, will reopen once we get the required information.

[2022-11-02 17:26] #20727 closed

[2022-11-02 17:53] cheenamalhotra commented on #21072
Is that the firewall popup when connecting/refreshing connection with Azure?
Have you tried specifying subnet range?

[2022-11-02 18:05] Silverutm opened #21077 "Reconnect after saving notebook"
Issue Type: <b>Bug</b>

Whenever right clic on a server and create a new book and run some queries, if after that I save the notebook, I have to connect again to server

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.22621
Restricted Mode: No

<details><summary>Extensions (6)</summary>

Extensio

[2022-11-02 18:27] kburtram commented on #20499
Closing due to no response to previous question.  I wasn't able to repro typing NULL into a cell using SQL Server connection.

[2022-11-02 18:27] #20499 closed

[2022-11-02 19:06] josh-rathke commented on #19269
I also have this issue. Would be interested in any fixes

[2022-11-02 19:09] P-de-Jong commented on #5173
Same problem here, very annoying. I really want to keep using azure data studio, but this makes it really difficult :(

[2022-11-02 19:56] #21045 closed

[2022-11-02 20:22] alanrenmsft commented on #21026
@nord- are you able to reproduce this consistently? I tried multiple times, but no repro. From your screenshot, I can tell that the editor is connected but the title still shows disconnected, does it become as expected after a couple seconds?

![tab-color](https://user-images.githubusercontent.com/13777222/199594724-af035792-0cc1-45cd-81e7-5fb8468efb75.gif)

[2022-11-02 20:26] cheenamalhotra commented on #21074
Hi @chrisbaudo

To help us identify where this issue occurs, could you confirm if you meant to start a SQL Assessment or Azure SQL Migration, and does it seem related to https://github.com/microsoft/azuredatastudio/issues/20275 ?

[2022-11-02 20:33] alanrenmsft commented on #20945
@nocomputeruser there is a configurable max column width, you can increase it to fit your needs.

![image](https://user-images.githubusercontent.com/13777222/199596714-8f89183f-83f7-4ebb-b7ea-dba195d033a5.png)

[2022-11-02 20:33] #20945 closed

[2022-11-02 20:43] alanrenmsft commented on #21011
@palhal this is a SQL Server topic and you should raise the question at https://techcommunity.microsoft.com/t5/sql-server/ct-p/SQL-Server. Azure Data Studio is just displaying whatever SQL Server returns.

[2022-11-02 20:44] alanrenmsft commented on #20988
dupe of https://github.com/microsoft/azuredatastudio/issues/19030

[2022-11-02 20:44] #20988 closed

[2022-11-02 20:49] alanrenmsft commented on #20960
@caohai could you please give this a try on mac?

[2022-11-02 20:51] chlafreniere commented on #21073
@corivera can you take a look at this please?

[2022-11-02 21:00] cheenamalhotra commented on #20707
Hi @Lukydemboy

Following up, do you have Logs we can look into, or you were able to resolve issue?

[2022-11-02 21:40] corivera commented on #21073
Sure

[2022-11-02 21:51] caohai commented on #20960
I did a simple test and it's working for me. I'm wondering if it has something to do with the content of the query result.

![image](https://user-images.githubusercontent.com/21186993/199609294-e63a029a-2463-4895-a773-702fb5cbe26b.png)

[2022-11-02 21:52] alanrenmsft commented on #20960
@NgHieu90 could you please share the data with us for repro? please remember to remove any sensitive data.

[2022-11-02 22:01] chrisbaudo commented on #21074
I was doing an Azure SQL Migration, and I'm 99% sure I have the same issue as #20275 in that the wrong management endpoints are being used.  Azure Government endpoints need to be used if an Azure Government subscription is chosen.

[2022-11-02 22:11] cssuh commented on #20914
@gfoley97 can you please provide us with the steps to reproduce this behavior so we can investigate further?

[2022-11-02 22:25] cssuh commented on #19913
I am not able to reproduce this on my system, once I select "sign in with github" it brings me to this page where I can select an email associated with my account.  I am then able to select "use a different email address" which then allows me to enter a different account email.  Do you see this option @j3ffc0ll1ns ?  If not, can you please send a screenshot/video of what you see?
<img width="442"

[2022-11-02 22:44] cssuh commented on #20262
@BhavanaPilli11 @aholler2 this is probably due to some proxy configuration, have you set the proxy configuration in ADS?

[2022-11-02 22:46] gfoley97 commented on #20914
I've tried but I am unable to recreate this consistently. Very sporadic.

On Wed, Nov 2, 2022, 6:11 PM Christopher Suh ***@***.***>
wrote:

[2022-11-02 23:08] palhal commented on #21011
@alanrenmsft I see. I guess that means that both SSMS and sqlcmd are doing special formatting based on the precision? When I run:
[code]
I get the expected result without fractional seconds. If this really is the case, I wonder why they didn't fix it in the server instead.

[2022-11-02 23:18] SakshiS-harma commented on #21027
@gscheife additionally, does the sdk show up when you do "dotnet --list-sdks"?  And what is its path?

[2022-11-02 23:19] cheenamalhotra commented on #20701
Same issue leads to multiple entries of same Azure account:
![image](https://user-images.githubusercontent.com/13396919/199620247-4bbc75b4-c2fe-406a-8b3c-56114f6b725e.png)

[2022-11-02 23:27] alanrenmsft commented on #20679
@aasimkhan30

In order to make the extension work on arm64 macOS, I recently upgraded ads-service-downloader package for it, and then I realized the vsix package got produced doesn't include the node_modules folder, in order to fix the issue we can:
1. fix the packaging task to include the node_modules, I am looking into the issue but I prefer option 2.
OR
2. webpack the extension just like other

[2022-11-02 23:37] alanrenmsft commented on #21011
SQL CMD:
![image](https://user-images.githubusercontent.com/13777222/199621791-b89fe56f-ba02-463e-b941-8143f201afb3.png)

SSMS:
![image](https://user-images.githubusercontent.com/13777222/199621870-7aa93216-c53c-46c1-8c7c-66ca8dad33cd.png)

ads:
![image](https://user-images.githubusercontent.com/13777222/199621996-d67ea8c3-2066-4b4c-8e2b-dfe6ed9f7a84.png)

[2022-11-03 00:15] aasimkhan30 commented on #2140
Closing this issue as we have implemented these features in the new execution plan

[2022-11-03 00:15] #2140 closed

[2022-11-03 00:19] aasimkhan30 commented on #18378
duplicate of #20796

[2022-11-03 00:19] #18378 closed

[2022-11-03 00:23] aasimkhan30 commented on #19003
Badge tooltips were removed and this is not an issue anymore

[2022-11-03 00:23] #19003 closed

[2022-11-03 00:25] aasimkhan30 commented on #19049
This has been fixed in the latest insiders.

[2022-11-03 00:25] #19049 closed

[2022-11-03 00:27] aasimkhan30 commented on #19052
The fix is present in latest insiders.

[2022-11-03 00:27] #19052 closed

[2022-11-03 00:28] #20259 closed

[2022-11-03 01:18] #20524 closed

[2022-11-03 04:31] #21062 closed

[2022-11-03 15:01] stetou commented on #21016
Same issue as @AlreadyPicked  here

[2022-11-03 15:16] #20870 closed

[2022-11-03 15:45] #20893 closed

[2022-11-03 15:53] rishky-msft opened #21091 "Scripting errors returned by MySQL Tools Service are not being shown on the Script Error Dialog"
- Azure Data Studio Version: 1.40.0 insider's
- OS Version: Windows 11

Does this issue occur when all extensions are disabled?: Yes/No Yes

Hi Team,
Script errors returned by MySQL Tools Service are not being shown on the Script Error Dialog.
They are only coming in the output window as shown in the below screenshot.

<img width="1920" alt="MicrosoftTeams-image (1)" src="https://user-images.githu

[2022-11-03 16:51] corivera commented on #20946
The Jupyter extension has already been updated in Insiders, so this issue will go away with the new stable release. Keeping this open for tracking porting the extension to stable, though.

[2022-11-03 17:27] alanrenmsft commented on #20787
@caohai could you please follow up?

[2022-11-03 18:01] #18186 closed

[2022-11-03 18:01] StyonsSoftware opened #21095 "Support alt-key edits, to-uppercase, and to-lowercase in the editor (like SSMS and Visual Studio)"
In SSMS, Visual Studio, MS Word, Notepad++ and many other tools, you can hold down ALT+SHIFT+[up or down arrow keys] to edit multiple lines at once.

You can also hold down CTRL+SHIFT+U to uppercase the selected text.

In Visual Studio (not SSMS) you can also do CTRL+U to lowercase the selected text.

I use these features frequently, and I really miss them in ADS, which is in most other ways a rea

[2022-11-03 18:04] #20701 closed

[2022-11-03 18:07] corivera commented on #21073
@chlafreniere Looks like notebooks don't show up in azdata.nb.notebookDocuments until we click on that notebook's tab, which throws off the search for a free editor title in the New Notebook command. If I open ADS with 10 notebook tabs already open, then when I click New Notebook it only sees the currently open notebook. But if I click through all those tabs first then it correctly opens an editor

[2022-11-03 18:13] caohai commented on #20787
As for the long loading time, there's one setting you can try out:
![image](https://user-images.githubusercontent.com/21186993/199800722-48bf93a8-13ac-4407-a855-c6c0cc7a7953.png)

I use a fairly low end Azure SQL Server for testing and haven't seen a similar issue...

For the error happening during opening the Table Designer **twice**, we have a fix related to initialization that might help. This

[2022-11-03 18:37] #20950 closed

[2022-11-03 18:38] #20838 closed

[2022-11-03 19:31] tomgron commented on #12629
Version: 1.39.1 (user setup)
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:11:13.047Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22621

This has still the name wrong,

![image](https://user-images.githubusercontent.com/1743381/199816863-16c921c6-35a4-44e8-81df-6212cfd497db.png)

[2022-11-03 19:34] Charles-Gagnon commented on #12629
This should be fixed in the [Insiders Build](https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main), and will be included in the next stable update later this month. If you try out insiders and still see the issue let us know and we can investigate further!

[2022-11-03 19:44] tomgron commented on #12629
True, at least for me insiders build seems to work perfectly. Hope this gets soon to the main release :
![image](https://user-images.githubusercontent.com/1743381/199819198-c13e782f-ad37-4b5e-b246-2bcad832d3d7.png)

[2022-11-03 20:07] aasimkhan30 commented on #20778
@poojapatil36, based on my discussion with accessibility team during the office hours. We are announcing the navigation information only once when the user enter the graph.

Please check the highlighted line from your screenshot.
![image](https://user-images.githubusercontent.com/6816294/199823479-162db60a-99ce-4e20-9ad6-b3b5fa78d4a9.png)

[2022-11-03 20:08] aasimkhan30 commented on #20780
@Rama8345, this issue is fixed in the latest insiders. Please verify it

[2022-11-03 20:08] aasimkhan30 commented on #20784
This issue is fixed in the latest insiders. Please verify and close it

[2022-11-03 20:12] #20987 closed

[2022-11-03 20:13] #20498 closed

[2022-11-03 20:39] chlafreniere commented on #21077
Tracking this ask with #7681.

[2022-11-03 20:39] #21077 closed

[2022-11-03 20:55] alanrenmsft commented on #19776
![image](https://user-images.githubusercontent.com/13777222/199832077-d2d5b22f-64a8-42de-9398-7984e8af1e88.png)
this is fixed now.

[2022-11-03 20:55] #19776 closed

[2022-11-03 21:06] Charles-Gagnon opened #21097 "Encryption update notification should tell user how to fix any issues"
The current text is very absolute, making it sound like the connections will be broken without a way to fix them which is a pretty scary thing for people to see pop up right after updating.

I would suggest making it a little clearer that this is easily fixed - something like `...no longer working unless certain Encryption related connection properties are changed`.

![image](https://user-images.g

[2022-11-03 21:08] Charles-Gagnon opened #21098 "Encryption update notification should have different wording when there aren't any MSSQL connections"
Currently all users see the same message

![image](https://user-images.githubusercontent.com/28519865/199834247-41102f29-af1d-4881-bf42-02407424bdb2.png)

But this doesn't make much sense for new users or users who don't have any MSSQL connections.

It'd be nice to have slightly different text when there aren't any saved MSSQL connections - or possibly even not showing the dialog at all in that ca

[2022-11-03 21:27] cheenamalhotra commented on #21097
cc @erinstellato-ms

[2022-11-03 21:28] cheenamalhotra commented on #21098
cc @erinstellato-ms

[2022-11-03 21:55] ryanrayfield commented on #18514
This makes it very cumbersome to use data studio with a large multi schema database - please help!

[2022-11-04 00:13] caohai commented on #20324
![Nov-03-2022 17-08-23](https://user-images.githubusercontent.com/21186993/199857930-7ed00e12-ed70-491f-9829-9f25db772272.gif)
@martinfbluesoftcz I did a quick test using latest version, the test was done solely by keyboard. Steps for the test:
1. I input a query like this then run the query by pressing F5
[code]

2. I use up arrow key to switch to line 1 and then press command + k, c to comment o

[2022-11-04 00:44] alanrenmsft commented on #21091
@rishky-msft
 please go to your extension and edit \node_modules\dataprotocol-client\lib\main.js
line 800 and change it to `return Promise.reject(e);`
![image](https://user-images.githubusercontent.com/13777222/199861024-5472096c-752b-427e-89bc-334d5ed10aab.png)

then, run the reload ADS and retry the operation, let me know whether this does the job.

[2022-11-04 03:16] #21097 closed

[2022-11-04 03:16] #21098 closed

[2022-11-04 05:47] rishky-msft commented on #21091
@alanrenmsft

Its working with the above change in dataprotocol client

[2022-11-04 07:03] yazilim4 opened #21104 "cannot connect to freemysqlhosting.net"
Hello

I created a new mysql database on https://www.freemysqlhosting.net. And while connection this database on azure datastudio when I receive an error that (1043, 'Bad handshake')i

Steps to Reproduce:

1. Create a mysql database on https://www.freemysqlhosting.net
2. Try to connect this database on AzureDataStudio Insiders.

[2022-11-04 07:31] Jtith commented on #20876
@Charles-Gagnon we can only close this bug. once the duplicate bug is fixed and closed.

[2022-11-04 08:03] cheenamalhotra commented on #21027
Also to add, currently in latest insiders, .NET runtime is downloaded every time a reload happens.

[2022-11-04 12:13] poojapatil36 commented on #20778
Closing this bug as it is reading the navigation key when we enter the node

[2022-11-04 12:13] #20778 closed

[2022-11-04 16:29] emanuelaguna opened #21106 "Unexpected Error Occurred while Connecting"
Issue Type: <b>Bug</b>

[2022-11-04 10:13:09.082] [main] [info] update#setState idle
[2022-11-04 10:13:39.087] [main] [info] update#setState checking for updates
[2022-11-04 10:13:39.620] [main] [error] UpdateService error: Cannot update while running on a read-only volume. The application is on a read-only volume. Please move the application and try again. If you're on macOS Sierra or later, you'

[2022-11-04 17:34] #20869 closed

[2022-11-04 18:05] #20488 closed

[2022-11-04 18:29] alanrenmsft commented on #21091
@rishky-msft please update your sqlops-dataprotocolclient to latest version: https://github.com/microsoft/sqlops-dataprotocolclient/releases/tag/1.3.1

I noticed that you are using 0.3.0 which is really old, it might not be as easy as updating the package.json file, there could be compatibility issues.

[2022-11-04 18:29] #21091 closed

[2022-11-04 18:45] alanrenmsft commented on #21091
@rishky-msft I created a patch release for 0.3.0 just in case there are too many issues need to be resolved in order to upgrade to 1.3.1. https://github.com/microsoft/sqlops-dataprotocolclient/releases/tag/0.3.1.

but you should just use this for the time being and upgrade to latest dataprotocol-client.

[2022-11-04 19:11] chlafreniere commented on #19586
Waiting on more info, so closing for now.

[2022-11-04 19:11] #19586 closed

[2022-11-04 20:23] alanrenmsft commented on #16125
The ARM64 macOS native builds will be available for the upcoming stable release.

[2022-11-04 20:23] #16125 closed

[2022-11-04 20:37] gscheife commented on #21027
I appreciate the help but I have given up on this extension using Linux.

[2022-11-04 20:56] wethompson opened #21110 "Play sound upon query completion"
In SSMS, there is an option to play the Windows default beep when a query batch completes. This is a great option for when you are multitasking while waiting on a query. It would be helpful to have a similar option in ADS.

I have searched the Extensions and could not find any that added this option.

[2022-11-05 00:08] corivera opened #21114 "Trying to download a notebook from a URI link fails"
Repro Steps:
1. Open a notebook and create a text cell.
2. Click on the insert link button and use the following URI: azuredatastudio://microsoft.notebook/open?url=https://github.com/microsoft/azuredatastudio/blob/main/extensions/resource-deployment/notebooks/azuredb/create-sqldb.ipynb
3. No confirmation dialog pops up to download it, and a new tab opens with a resource not found error for that UR

[2022-11-05 01:14] Charles-Gagnon commented on #21114
FYI - for what it matters the schema name is different for each different quality :

`azuredatastudio://` - stable
`azuredatastudio-insiders://` - insiders
`azuredatastudio-oss://` - dev

[2022-11-05 01:52] corivera commented on #21114
With the oss part I no longer get the resource error, but nothing happens after clicking the link and there's still nothing hitting the URI Handler. There's also no errors in the log.

[2022-11-05 02:00] #18921 closed

[2022-11-05 02:31] #21073 closed

[2022-11-05 16:40] ninjadq opened #21119 "Can't connect to kusto with error net.tcp"
The error details
[code]

[2022-11-05 16:40] #20947 closed

[2022-11-05 20:48] ashimg opened #21120 "profiler stop not working"
Issue Type: <b>Bug</b>

After running sql server profiler to find queries/processes having high resource usage and hitting 'stop' to stop profiler itself does not stop it. The 'stop' button is still active as well as 'pause' and it does not stop.

Extension version: 0.11.0
Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:12:48.559Z)
OS vers

[2022-11-06 05:57] Charles-Gagnon commented on #21095
1. This is supported in Azure Data Studio (and VS Code) through the "Multiple Cursor" feature. See https://code.visualstudio.com/docs/editor/codebasics#_multiple-selections-multicursor for an explanation of how to use it. Note you can change the default keybinding for adding a new cursor (Ctrl+Alt+Up/Down) to something else (such as alt+shift+up/down) if you wish
2. Uppercase/Lowercase - these are

[2022-11-06 05:57] #21095 closed

[2022-11-06 12:50] DaotomSLP opened #21121 "Download link not working"
- Azure Data Studio Version:
- OS Version: macos

Steps to Reproduce:

1. Download link not working.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2022-11-06 12:50] DaotomSLP opened #21122 "Download link not working"
- Azure Data Studio Version:
- OS Version: macos

Steps to Reproduce:

1. Download link not working.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2022-11-06 19:58] Charles-Gagnon commented on #21121
The links seem to work fine to me so I'm closing this, please provide the link that's not working and what error you're setting if you're still seeing this and we can investigate!

[2022-11-06 19:58] #21121 closed

[2022-11-06 19:58] Charles-Gagnon commented on #21121
The links seem to work fine to me so I'm closing this, please provide the link that's not working and what error you're setting if you're still seeing this and we can investigate!

[2022-11-06 19:59] Charles-Gagnon commented on #21122
The links seem to work fine to me so I'm closing this, please provide the link that's not working and what error you're setting if you're still seeing this and we can investigate!

[2022-11-06 19:59] #21122 closed

[2022-11-07 03:22] nhuy4595 opened #21124 "Import flat file wizard on Macbook"
Import flat file wizard --> step 4: loading
(unable importing .csv file on Table)
<img width="714" alt="image" src="https://user-images.githubusercontent.com/117498048/200220130-f3c2ba1e-7f6a-41e4-a8d2-89d43d54fc4a.png">

[2022-11-07 04:35] loony-alice opened #21125 "CSV import not going through"
Issue Type: <b>Bug</b>

The CSV import to an Asure SQL Database used to work fine until an update in early November. Now, I get a message in the extension's "Runtime Status" saying this:

Cannot read property 'Integrated' of undefined

There is no issue with the connection. I am able to query the existing contents of the database without issues. It is just the import which fails.

Extension versio

[2022-11-07 07:50] NgHieu90 commented on #20960
@alanrenmsft here the 2 file generated by 2 version, please take a look
[1.37.0.xlsx](https://github.com/microsoft/azuredatastudio/files/9949210/1.37.0.xlsx)
[1.39.1.xlsx](https://github.com/microsoft/azuredatastudio/files/9949212/1.39.1.xlsx)

[2022-11-07 10:50] JelmerWouters opened #21126 "Databases not loading from server"
Issue Type: <b>Bug</b>

I can connect to a server, but in my 'Connections' menu the server keeps 'spinning', thus not loading the databases within that server

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:12:48.559Z)
OS version: Darwin x64 22.1.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs

[2022-11-07 11:35] sophorn-thun commented on #21124
I encountered the exact same issue. Did you happen to get this solved yet?

[2022-11-07 11:48] nord- commented on #21026
Yup. Reproducible every time.

https://user-images.githubusercontent.com/3777600/200302872-2023da13-2119-4e2f-8a51-cfaa25123f8e.mp4

[2022-11-07 12:16] pamelagumera1 commented on #21125
Hi, did you find how to fix this? I'
ve been having the same issue since 2 days ago.

[2022-11-07 12:17] pamelagumera1 commented on #21124
Hi, did you resolve the issue? I've been having the same problem since 2 days ago and was all over google to find the solution.

[2022-11-07 13:59] loony-alice commented on #21125
I have only managed a workaround - by using DBeaver for the upload. I'm still faced with the issue on Azure Data Studio.

[2022-11-07 15:02] FairW opened #21127 "Editing an existing database connection does not propagate all over"
- Azure Data Studio Version: 1.39.1
- OS Version: Win 2019 server

Basic problem: Changing a database connection from using a db_owner user (or other "high level role"? - I haven't tested) to a user which only has GRANT EXE on Store Procedures, does NOT refresh the credentials for server tree structure fully. The "old" users credentials seems to "hang around" in some parts.

Steps to Reproduce:

1

[2022-11-07 15:40] cheenamalhotra commented on #21127
Hi @FairW

We have addressed this issue recently, could you please try the latest insiders build and let us know if you still experience issues?

You may download insiders build from here:
https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

[2022-11-07 15:59] aholler2 commented on #20262
@cssuh http_proxy and https_proxy variables are both configured

[2022-11-07 16:20] cnkeats commented on #19166
I am also having this issue on MacOS when listing objects in Azure SQL databases

ADS Version 1.39.1
MacOS Monterey 12.6

[2022-11-07 16:21] cnkeats commented on #5173
Still having this issue on 1.39.1

[2022-11-07 18:08] alanrenmsft commented on #20679
@aasimkhan30 these are issues with the current import extension code: https://github.com/microsoft/azuredatastudio/issues/21125
https://github.com/microsoft/azuredatastudio/issues/21124

I had to revert it to 1.5.0's content. make sure these scenarios are working when you look into this issue.

[2022-11-07 18:16] alanrenmsft commented on #21125
@loony-alice @pamelagumera1 sorry about the inconvenience, I just released a new release that reverted the recent changes to the extension. the new version is 1.5.3. it should be available in a few minutes, please restart your ADS to pick it up.

let me know if it still doesn't work.

[2022-11-07 18:16] #21125 closed

[2022-11-07 18:17] cheenamalhotra commented on #21126
Duplicate of #5173

[2022-11-07 18:17] #21126 closed

[2022-11-07 18:18] alanrenmsft commented on #21124
dupe of #21125, please refer to https://github.com/microsoft/azuredatastudio/issues/21125#issuecomment-1306006377.

sorry for the inconvenience.

[2022-11-07 18:18] #21124 closed

[2022-11-07 18:21] cheenamalhotra commented on #21106
@emanuelaguna

It seems you may be running ADS from the Downloads directory.. Can you try moving the installation location to a different directory? Also, 1.30.1 seems to be a very old version of ADS, could you please try updating to a newer version as well?

[2022-11-07 18:22] alanrenmsft commented on #20998
I had to reactivate this issue because I reverted recent changes to the import extension due to regressions. @aasimkhan30 will handle this in December release.

[2022-11-07 18:33] alanrenmsft commented on #21120
@ashimg what kind of server were you connecting to? how many records were there in the profiler? were you able to reproduce it consistently?

[2022-11-07 18:37] cheenamalhotra commented on #21104
Hi @yazilim4

SSL mode is set to 'Require' by default for MySql provider.

It seems the free mysql database you're connecting to doesn't support SSL. You will have to update Advanced Properties > SSL Mode to 'Disabled' to be able to connect.

cc @alanrenmsft

[2022-11-07 18:42] erpett opened #21131 "November 2022 Release Endgame"
# November 2022 Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.40

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip (Universal)][osx-universal]
- [MacOS Zip (Intel Chip)][osx-zip]
- [MacOS Zip (Apple Silicon)][osx-arm64]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][

[2022-11-07 18:50] JPCarrierSignal opened #21132 "Why is this tool so slow?"
Issue Type: <b>Bug</b>

When I open a table, ADS needs about ten seconds to open a window, run the query, and display the results.  Why?  The older SSMS tool is significantly faster, so ADS seems like a step backwards for my day-to-day work.

I honestly can't think of what would legitimately require so long to run a basic "SELECT * FROM X" query unless you're loading some sort of large control/gri

[2022-11-07 19:03] tommi1hirvonen opened #21133 "[SQL Database Projects] Generate script adds incorrect SET ANSI_NULLS OFF commands for scripted objects"
Issue Type: <b>Bug</b>

The generated script for new objects by the schema compare tool includes prefixed `SET ANSI_NULLS OFF` commands even though this setting is not set on the object or the project level. The generated script with the same database project differs between Azure Data Studio and Visual Studio. In Visual Studio 2022 the `SET ANSI_NULLS OFF` commands are missing, as expected and de

[2022-11-07 19:11] tdoshin commented on #18291
![image](https://user-images.githubusercontent.com/72947001/200394479-2c9403a8-0dc0-4d44-8146-980c3089d7e6.png)

Is this what you are referring to? Just confirming @aasimkhan30 @erinstellato-ms

[2022-11-07 19:12] corivera opened #21134 "Untitled notebook titles skip numbers after closing all notebooks after reopening ADS"
Repro Steps:
1. Create several new untitled notebooks
2. Close and reopen ADS
3. Right click on one of the existing notebook tabs and click Close All
4. Create a new notebook again. Note that the tab numbers will be higher than all the other closed ones.

Seems like this is related to how we cleanup untitled notebooks in the untitled editor service. When clicking Close All, only one Dispose call w

[2022-11-07 19:40] kisantia opened #21135 "Automatically refresh sql projects dashboard after publish and build"
Currently users have to click the "Refresh" button on the toolbar to refresh. It would be nice if the dashboard was automatically refreshed after a build or publish is executed.

[2022-11-07 20:13] erinstellato-ms commented on #18291
@tdoshin Not sure of the reference here?

[2022-11-07 21:06] cssuh commented on #20262
Hi @aholler2 , are your proxy variables configured as follows:
[code]

[2022-11-07 21:37] #20520 closed

[2022-11-07 22:01] llali opened #21138 "Updating the version of DacFx in ADS"
- Azure Data Studio Version:
- OS Version:

The version of DacFx that ADS is using right now includes a commit which can potentially cause regression for some users. The change is related to a system schema name which SQL Server introduced recently and we added a change in DacFx to exclude any objects with that schema name in the bacpac.  It is possible users have schema in their db with the same

[2022-11-07 22:53] smartguest opened #21142 "Issue for localized LCL for Langpacks"
This issue is for tracking the update to LCL files for the langpacks.

This is for PR: https://github.com/microsoft/azuredatastudio/pull/21137

Without this change, the langpacks won't have up to date strings.

[2022-11-07 23:26] cheenamalhotra commented on #17458
Closing as PR #20621 is merged that should address this issue.

[2022-11-07 23:26] #17458 closed

[2022-11-07 23:34] cheenamalhotra commented on #19307
This request will require significant changes to the way connection profile identity is created.
I'd like to re-valuate how is this is a useful request from practical point of view?

@sergten
Can you elaborate why this would be a useful feature for an end user? Why would you want to create multiple connections with differing names for the same server/db connection?

[2022-11-07 23:38] cheenamalhotra commented on #20321
Noticed an exiting issue we're tracking for the same concern: #5173

[2022-11-07 23:38] #20321 closed

[2022-11-07 23:39] cheenamalhotra commented on #18305
Closing due to inactivity.

[2022-11-07 23:39] #18305 closed

[2022-11-07 23:43] cheenamalhotra commented on #19905
Hi @Dylan-MSFT

We've discussed this internally and it would require significant changes with validations. We've been currently working on adding MSAL library support, which is currently in review. One the PR #21024 completes, we will get back on this issue to be addressed soon after. Please feel free to reach out to me directly if you have any timeline related concerns or any other urgent request

[2022-11-07 23:46] cheenamalhotra commented on #6406
I noticed the issue occurs when you open a query window from the server root node in the server tree. But does not occur when you open a new query window from one of the Database nodes. I will continue investigating and will provide any update as I have one.

[2022-11-08 00:16] alanrenmsft opened #21145 "cell editor doesn't have horizontal scrollbar"
![image](https://user-images.githubusercontent.com/13777222/200442820-4f5a73c6-4ed2-4445-9648-7bf54e89087b.png)

the first line is a very long line and I don't have word wrap enabled, I am expecting the scrollbar but it is not there.

[2022-11-08 00:20] alanrenmsft opened #21146 "the text goes out of text cell boundary"
1. copy a long text
2. open a new notebook and add a text cell
3. paste the text
expected: horizontal scroll within the cell boundary

actual:
![notebook](https://user-images.githubusercontent.com/13777222/200443481-45255d31-5d84-4982-ae43-39302ea73baf.gif)

[2022-11-08 00:26] smartguest opened #21148 "Update Langpack Source Files for November Release"
Issue for updating the langpack source files for the November release:

PR from Main:
https://github.com/microsoft/azuredatastudio/pull/21147

This is based on the resources currently available in the November release branch and nothing past it, without these source files checked in, there will be no langpack for the November release.

[2022-11-08 00:32] sergten commented on #19307
Namely for transaction management. I may have uncommitted changes in one connection that I don't want to see from another - that was my main use case. I can think of other use cases, such as for SQL Server I can have a DAC connection, for Oracle - SYSDBA.

[2022-11-08 00:34] #21148 closed

[2022-11-08 00:53] sergten commented on #19307
But not super-critical, feel free to de-prioritize.

[2022-11-08 01:18] caohai opened #21151 "[Table Designer] Cannot edit IsComputed for a computed column"
Once a column is changed to computed (isComputed enabled), you cannot change it back to normal column. This is a regression from August release.

[2022-11-08 02:37] cheenamalhotra commented on #19307
Fyi, you don't need a new connection in server tree to not view uncommitted results btw, since every new query opens a different new connection with database underneath.

If you want to query uncommitted data, just open a new query window from the same server tree connection, and that should work for you!

[2022-11-08 02:41] sergten commented on #19307
I know. I was mocking with Oracle, whose provider doesn't allow running arbitrary scripts, so I was messing with the tree itself. Like I said - not critical. It's just mathematically incorrect to give a connection a name and watch it being applied to something else.

[2022-11-08 06:36] goyal-anjali commented on #19226
Hey @aasimkhan30, any updates on this issue?

[2022-11-08 07:27] FairW commented on #21127
Confirmation: Insiders Build 1.40.0 has fixed the issue I posted! Thanks!

[2022-11-08 07:27] #21127 closed

[2022-11-08 08:19] chlafreniere commented on #21146
Moving to November for now to ensure this does not get missed. Will wait to see how investigation looks to determine if this is a regression, and if it is, what the fix looks like.

[2022-11-08 11:38] PraveenMacherla commented on #21151
when this will be implemented?

[2022-11-08 12:58] petrkoutnycz commented on #5173
It'd be nice if I'm able to configure this timeout but since it is hardcoded somewhere, it basically prevents from using it :-(

[2022-11-08 13:08] gwalkey commented on #8279
Still an issue in 2022 ADS v1.39.1

[2022-11-08 14:39] betorolim1 commented on #4217
I have the same problem here! Any update?

[2022-11-08 17:03] tommi1hirvonen commented on #21133
I found that this issue is actually down to the DacFx library and SqlPackage.exe command line tool used under the hood of the SQL Database Projects extension. Generating the publish script with the SqlPackage.exe CLI _using a schema compare file (.scmp) as a source_ generated the same output as Azure Data Studio. If I switched to using the .dacpac file (after building the project) as a source for

[2022-11-08 17:03] #21133 closed

[2022-11-08 17:30] caohai commented on #21151
If you are talking about computed column support, it's been added since June release so if you are using latest version of ADS, computed column support should already be there.

This issue is for tracking a regression related to IsComputed setting and we'll be fixing this today.

[2022-11-08 17:44] Benjin opened #21155 "Scripts outside the project folder don't appear in file tree if their name matches a script within."
Repro:
1. Add reference to `<Build Include="Table1.sql">`
2. Add reference to `<Build Include="..\Table1.sql">`
3. Load project

Expected:
Two different entries in the file tree

Reality:
Only one entry appears in file tree; if you open it, it's the internal entry.  No indication that `..\Table1.sql` is part of the project.

[2022-11-08 17:59] kisantia commented on #21138
closing this one as the DacFx update will be done as part of the fix for #21151

[2022-11-08 17:59] #21138 closed

[2022-11-08 18:27] kisantia commented on #15725
I added the sql projects dashboard daily users to the Data Developer Experiences report so it's easier to find

[2022-11-08 18:27] #15725 closed

[2022-11-08 18:35] kburtram opened #21158 "Port commit from vscode hotfix"
Following the 1.67 source code refresh we need to pick up https://github.com/microsoft/vscode/commit/c5da5332d54f610b1b3e6dd9ea9b699971b57407

[2022-11-08 19:14] SakshiS-harma commented on #21027
Hey @gscheife , I understand your frustration here and I regret not been of any help to you.
Thank you for trying out the extension in Linux though. I hope you will give this extension another chance and I will be pleased to assist you then.
For now since there is nothing that I can provide an aid to, I will go ahead and close this issue. You can either reopen it or create a new one for any more c

[2022-11-08 19:14] #21027 closed

[2022-11-08 19:31] #21142 closed

[2022-11-08 19:35] kburtram commented on #21132
@JPCarrierSignal when first starting ADS it takes time to load background services, which can cause queries issued during this time to be delayed while services load.  Subsequently, SELECT queries generally should take about a second to load the editor and execute the query.  After you seeing ~10 second delays after ADS has fully loaded (you can tell because there will be a message in status bar s

[2022-11-08 19:37] Charles-Gagnon commented on #20889
@Jtith I'm closing this since we haven't heard back in a couple of weeks. Please let us know if you're able to verify the issue is fixed.

[2022-11-08 19:37] #20889 closed

[2022-11-08 19:38] Charles-Gagnon commented on #20891
@Jtith Could you please respond to the above question? I want to be sure of what the expectation is here before I change anything here since it seems to be working as intended to me

[2022-11-08 19:42] kburtram commented on #20324
The is a command "Run Current Query" (Ctrl-F5) which will run the current query or selected text.  If the delete statement was highlighted without the `--` and this command was executed you would run the commented-out code.  Otherwise, I'm not sure how you could have the commented-out statements execute.  I also wasn't able to repro as described.

[2022-11-08 20:30] cheenamalhotra commented on #71
SQL Server Alias support is now available in Windows with the insiders and [1.40.1-rc1](https://github.com/microsoft/azuredatastudio/issues/21131) builds, would request feedback from anyone waiting for this support.

Unix support is not yet available as the feature works with Windows Registry at the moment.
Cross platform support is in design phase in the underlying driver.

[2022-11-08 21:07] tmjones212 commented on #1026
This sure would be neat

[2022-11-08 21:15] kburtram commented on #20986
This is fixed in latest build

[2022-11-08 21:15] #20986 closed

[2022-11-08 21:20] #21158 closed, assigned to kburtram

[2022-11-08 21:39] dzsquared opened #21163 "info icon in connection dialog does not reveal tooltip"
Issue Type: <b>Bug</b>

If I click the (i) icon next to encrypt or trust server certificate in the SQL connection dialog, no tooltip with more information appears as I would expect.

Azure Data Studio version: azuredatastudio-rc1 1.40.0-rc1 (9c55574ddda2291b286eb872135831a6e1e94137, 2022-11-08T01:05:31.379Z)
OS version: Darwin arm64 22.2.0
Restricted Mode: No
Preview Features: Enabled
![image](htt

[2022-11-08 21:42] AkshayMata opened #21164 "[SQL Migration] Missing Login migration and bug for SKU recommendation"
- Azure Data Studio Version: 1.39
- OS Version: Windows 11 21H2

Steps to Reproduce:

1. Launch SQL Migration wizard, proceed to assessment and SKU recommendation steps
2. SKU recommendation fails due to error of malformed sql db

Does this issue occur when all extensions are disabled?: Yes/No

Note:
This bug is for tracking a port request to the release branch for sqltoolsservice / mssql in ADS.

[2022-11-08 21:49] dzsquared commented on #21163
nevermind ignore me, clicking an icon is not how to make the tooltip appear.

tooltip appears if I hover the cursor and wait a fraction of a second.

[2022-11-08 21:49] #21163 closed

[2022-11-08 21:52] VasuBhog opened #21165 "Word Wrap setting still"
- Azure Data Studio Version: Stable and RC
- OS Version: 13.0 (22A380)

Steps to Reproduce:

1. Set markdown - editor.wordWrap to be OFF in settings.json for User (shown below):
![Screenshot 2022-11-08 at 1 15 03 PM](https://user-images.githubusercontent.com/23587151/200683409-25b6373e-79e0-4f82-beac-e39015602fdd.png)
2. Also confirm in settings for User / Workspace (if you have folder open) make

[2022-11-08 22:09] kburtram commented on #20711
@mchern do you know if this is a new error from a recent build?  I'm not sure the team has a machine with this particular macOS version.  I confirmed the latest build is working with the current macOS version.

@alanrenmsft any ideas about this issue?

[2022-11-08 22:14] kburtram commented on #20750
Closing as I was unable to repro this issue given the details provided.  Please add additional details if this issue is still impacting you.

[2022-11-08 22:14] #20750 closed

[2022-11-08 22:14] aasimkhan30 commented on #19226
@goyal-anjali , I have taken this issue for the December release

[2022-11-08 22:33] alanrenmsft commented on #20711
@mchern I found a similar issue in VSCode repository: https://github.com/microsoft/vscode/issues/110761, how did you exactract the azure data studio archive? does it help if you follow the instructions in the vscode issue?

[2022-11-08 22:59] kburtram opened #21167 ""Compare execution plan" should use consistent casing as other items"
- Azure Data Studio Version: `insiders`

Steps to Reproduce:

1. Right click on an execution plan

Expected: Menu items use a consistent casing style, either "All Words Cap" or "Only the first work cap".  Mixing the two styles looks like an oversight.

Actual: One item uses an inconsistent style as the other items.  "Zoom to fit" should also be "Zoom to Fit" or "Zoon To Fit".

![image](https://use

[2022-11-09 02:57] TimoBahama opened #21171 "Unable to list views"
I cant list my views anymore. Table listing is ok.

Version: 1.39.1
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:12:48.559Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 18.7.0

<img width="1395" alt="Screenshot 2022-11-09 at 9 55 43 AM" src="https://user-images.githubusercontent.com/35799097/200726298-0eb8e

[2022-11-09 03:24] #21167 closed

[2022-11-09 16:58] petersnoopy commented on #16259
+1

[2022-11-09 16:59] petersnoopy commented on #16259
Any news how to fix this issue?

[2022-11-09 18:08] gregchak opened #21174 "Authentication"
Issue Type: <b>Bug</b>

I don't know if its authentication in general or when the account is MFA, but I have issues where when I try to expand nodes, for example columns of a table, that I get an error saying it can't be retrieved.  Also it doesn't handle the expiration of an MFA authentication very well either.  A better example of how MFA auth should work would be Storage Explorer.  The way that

[2022-11-09 18:53] barbaravaldez commented on #21114
Setting the url as:  azuredatastudio://microsoft.notebook/open?url=https://raw.githubusercontent.com/microsoft/azuredatastudio/main/extensions/resource-deployment/notebooks/azuredb/create-sqldb.ipynb, fixes the issue.

[2022-11-09 18:53] #21114 closed

[2022-11-09 18:56] cheenamalhotra commented on #21174
Hi @gregchak

Could you please test with the latest insiders build ([Link](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main))? We've made some improvements in this domain, do we're hopeful. Let us know if you continue to see issues, we can investigate more with you!

[2022-11-09 19:05] alanrenmsft opened #21177 "not able to connect to cms server"
there are 2 issues:
1. after I accept the suggested setting, it won't connect.
2. the two options encrypt and trust server certificate is not on the connection dialog or the advanced dialog.
![cms](https://user-images.githubusercontent.com/13777222/200918653-3d8d622d-c0fc-4b1b-a07f-46e082e8de8f.gif)

[2022-11-09 19:16] caohai commented on #21151
Port PR https://github.com/microsoft/azuredatastudio/pull/21168 already merged to `release/1.40`, keep this issue open until PR to main is merged.

[2022-11-09 19:39] VasuBhog commented on #21146
Was able to repro on stable. So this is not a regression. Moving to December.

[2022-11-09 20:52] lucyzhang929 opened #21180 "Export to csv and excel repeats header row twice"
- Azure Data Studio Version: 1.40-rc1
- OS Version: mac

Steps to Reproduce:

1. Run a query that returns a result table in a notebook code cell
2. Save the result as Csv or Excel
3. Open Csv or Excel file

The header row is repeated twice. This only happens when exporting from notebooks and not from query editor.

[2022-11-09 20:53] VasuBhog commented on #21146
Also, the workaround is once a user exits the cell will autoformat and word-wrap the text in the cell. Then the cell will work as expected.

[2022-11-09 21:37] #21151 closed

[2022-11-09 21:55] smartguest opened #21182 "Tabbing for edit data, ignores invalid data after a couple of tries"
Pressing tab or shift tab on an invalid edit for a cell causes the data to eventually move to the adjacent cell (the one being tabbed to, or will be erroneously submitted after a while, preventing users from editing the table and requiring a reset). This appears to happen with nchar(10) columns at the moment.

[2022-11-09 22:56] cheenamalhotra opened #21187 "Updating System.Data.SqlClient to 4.8.5 (SqlToolsService)"
As we need to update to the latest SqlClient library in the SqlToolsService library, it would require a new version update for the same through release/4.3 branch.

Creating this issue to track that change arrives to mssql provider extension.

This SqlClient update applies to Kusto connections as we consume the library via **Microsoft.Azure.Kusto.Data** NuGet package.

[2022-11-09 23:37] MaddyDev commented on #17404
Yes this still repros.

[2022-11-10 02:20] cheenamalhotra commented on #20517
Revalidated and seems like a small change was missed out, this issue is not completely fixed currently.

[2022-11-10 09:22] emessell opened #21192 "Cannot run anything when I did 'Join'"
Issue Type: <b>Bug</b>

I excuted this query and stopped for twice.

UPDATE REPLACE_SHIP_NAME
SET REPLACE_SHIP_NAME.REPLACED_SHIP_NAME = POL_SHIP_NAME.SHORT_SHIP_NAME
FROM REPLACE_SHIP_NAME
    JOIN
    POL_SHIP_NAME
    ON REPLACE_SHIP_NAME.REPLACED_SHIP_NAME = POL_SHIP_NAME.SHIP_NAME

if something is weird, query should not start I think.
But it started and stopped. help.

Azure Data Studio vers

[2022-11-10 14:09] gregchak commented on #21174
I started using the build you recommended this morning.  Its a little more graceful but still erroring out and not refreshing my token.  I got this message when I ran my query:
[code]
And I got this when I tried to reconnect my query:
`Login failed for user '<token-identified principal>'. Token is expired.`

[2022-11-10 19:56] gregchak commented on #21174
Some extra info for my previous post.  It looks as if when I got that error it was because I needed to reauthenticate.  It wasn't able to refresh my token because I needed to authenticate.  I would have expected it to open my browser like it does for initial authentication when this happens.

I do however still get the `Failed to retrieve data for this request.` issue when expanding nodes.  I'm st

[2022-11-10 20:11] cheenamalhotra commented on #21174
Thanks for the info and explanation. It looks like we might not be able to refresh access token when needed on an open connection in object explorer.

I will try to reproduce this scenario and get back to you!

[2022-11-10 21:31] alanrenmsft commented on #20822
@sqlworldwide the issue has been fixed now, the fix will be included in the December release.

[2022-11-10 21:31] #20822 closed

[2022-11-10 21:40] #20946 closed

[2022-11-10 22:11] alanrenmsft commented on #21177
verified working now.

[2022-11-10 22:11] #21177 closed

[2022-11-10 22:11] alanrenmsft commented on #21164
@AkshayMata please verify the fix using the RC1 build and close the issue.

[2022-11-10 23:11] AkshayMata commented on #21164
@alanrenmsft  I believe @raymondtruong  tested the nugets part as well as the other features for the ADS release. I will verify, test and close the issue. Thanks for the follow up!

[2022-11-11 01:54] AkshayMata commented on #21164
@junierch tested the sku recommendation part: validation completed, it works fine, throws no more error on specific data set
I validated that my nuget changes are included in STS and doesn't break any existing migration features.

[2022-11-11 01:54] #21164 closed

[2022-11-11 02:08] jhay06 opened #21204 "[AzureDataStudio] 1.39.1 on Linux does not work with old Sql servers"
Hi Team,
   i will share my experience using azure data studio on my ubuntu 22.04 with version 1.39.1

our company have some servers ST servers that are still in SQL version 2005 and 2008  , since it's ST servers it is not priority to them to migrate to newer version of SQL servers

on my windows workstation connecting to that servers using the latest version of azure is fine. i can connect using

[2022-11-11 05:23] cheenamalhotra opened #21205 "Not able to expand Logins for Azure connections in 'main' branch"
- Azure Data Studio Version: main
- OS Version: Windows 11

Steps to Reproduce:

1. Connect to an Azure SQL Server (master db)
2. Expand to Security > Logins
3. Fails with error "ERR An exception occurred while executing a Transact-SQL statement or batch."

![image](https://user-images.githubusercontent.com/13396919/201267971-12413b8a-906f-487a-9727-582adc2bac64.png)

(It works fine in yesterday's

[2022-11-11 05:34] cheenamalhotra commented on #21204
Hi @jhay06

Please make sure you are able to negotiate a common TLS protocol with the server. As Linux operating systems now don't support anything below TLS1.2, it is possible that you will not be able to connect to a SQL Server if it doesn't support TLS 1.2.
Please find guidelines to update SQL Server: [Enabling TLS 1.2 support in SQL Server](https://support.microsoft.com/en-us/topic/kb3135244-t

[2022-11-11 05:39] jhay06 commented on #21204
hi @cheenamalhotra  , thanks for the response .  how can i enable insecure protocols ?

[2022-11-11 09:27] SakshiS-harma opened #21207 "Better wording for dotnet sdk location"
To provide a non-default location for dotnet sdk, the text is ambiguous.
![image](https://user-images.githubusercontent.com/57200045/201300007-a705c672-a858-4f37-ba96-ed55fa69a2ac.png)

The code actually only needs net core install location to be until the dotnet folder.
As an example, for Windows if the install location is " C:\folder1\folder2\dotnet\dotnet.exe", the global property for dotnet sd

[2022-11-11 09:30] SakshiS-harma commented on #21207
This is the probable reason for the customer facing https://github.com/microsoft/azuredatastudio/issues/21027 issue.

[2022-11-11 09:55] SakshiS-harma opened #21208 "Focus issues with new projects"
After creating a new database project, the focus should ideally shift to the newly created project. Instead, it stays on the project where the last operation happened.

![image](https://user-images.githubusercontent.com/57200045/201315171-f9ddef62-c187-4b60-9103-820d0dfee196.png)

[2022-11-11 09:57] NickyvVr commented on #1026
I can't believe this is not possible yet, please add support for it

[2022-11-11 10:22] SakshiS-harma opened #21209 "New connection from schema compare doesn't show up in Active connections list"
Steps to Reproduce:

1. Open Scmp
2. Add connections in schema compare dialog
3. The new connections don't show up in Active connections list.
![image](https://user-images.githubusercontent.com/57200045/201320263-02e75a37-5ceb-40de-a0d3-33156cd24d59.png)

[2022-11-11 10:42] SakshiS-harma opened #21210 "Newly added connection doesn't get auto-populated in schema compare dialog"
Steps to Reproduce:

1. Open schema compare dialog from within a server/server>database
2. Click ... to open schema compare dialog.
3. Add a new connection using + sign beside the server information.

Expected: New connection gets added to the server dropdown in schema compare dialog and auto populates as the Server information.
Actual: New connection auto populate as the Server information.

[2022-11-11 11:17] SakshiS-harma opened #21211 "Create project from database doesn't work in vscode mssql"
Try to create project from database. It fails with the following error:
![image](https://user-images.githubusercontent.com/57200045/201329558-09f89412-80c1-4297-b6a8-2819a06514a2.png)

[2022-11-11 14:38] #21180 closed

[2022-11-11 14:47] ChrisCottellNH opened #21212 "Cannot select top 1000"
Issue Type: <b>Bug</b>

When clicking "Select top 1000" option on a table nothing happens on certain Azure warehouses.

Selecting "Script as Create" works and the select option works on other SQL databases.

Our IT have been over it and reinstalled ADS. This impacts some other users but not all.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-3

[2022-11-11 17:52] jrc46 commented on #3121
Same as everyone else. This is an awesome feature, but familiarity with notebooks is useless since the engrained keyboard shortcuts don't work here.

[2022-11-11 18:02] kisantia commented on #21210
I see the source connection staying as the original connection and the target connection getting updated to the new connection:

![schemaCompareNewConnection](https://user-images.githubusercontent.com/31145923/201401237-9986b243-70a8-4692-81fb-342ffb78cde3.gif)

[2022-11-11 18:10] kisantia commented on #21211
This error is because vscode-mssql hasn't been released with the change in https://github.com/microsoft/vscode-mssql/pull/17445. We'll hold off on updating sql projects in vscode until the next vscode-mssql extension update

[2022-11-11 18:17] sqlworldwide commented on #20822
Thank you

[2022-11-11 18:36] alanrenmsft commented on #21212
@ChrisCottellNH the issue has been fixed, the upcoming release (mid next week) will have the fix.

[2022-11-11 18:36] #21212 closed

[2022-11-11 18:37] alanrenmsft commented on #21212
dupe of https://github.com/microsoft/azuredatastudio/issues/20241

[2022-11-11 18:41] Charles-Gagnon commented on #21212
If you get a chance you can try it out with the latest [Insiders](https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main) build in the meantime - and let us know if you're still seeing issues!

[2022-11-11 18:43] alanrenmsft commented on #1774
Folks, we have arm64 builds for Window now, it is only available for Insiders build at the moment and will be available in December stable build.

https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main-branch
![image](https://user-images.githubusercontent.com/13777222/201409332-a1c1b4e9-7d99-43fd-8d68-d4426eaf6e17.png)

@cobrow @iemejia

[2022-11-11 19:12] #21075 closed

[2022-11-11 19:15] corivera opened #21215 "Can't open notebook after saving it from a side by side editor"
1. Open a new notebook.
2. Right click on the notebook tab and click split right.
3. Edit the notebook in the new split pane and save it.
4. Close both of the notebook tabs and reopen the saved notebook file.
5. Opening the notebook fails due to undefined error in fileNotebookInput.resolve()

[2022-11-11 19:34] Benjin opened #21216 "Excluding the last child of a folder in SQL Projects also hides the parent folder."
Steps:
1. Create a new SDK-style project (Framework-style projects work fine because they explicitly list each folder)
2. Create a new folder `Folder1` in the project - the empty folder is visible
3. Create a new file `Script.sql` in `Folder1`
4. Exclude or Delete `Script.sql` from the project

Expected:
`Folder1` is still visible in the project tree

Reality:
`Folder1` is automatically removed/ex

[2022-11-11 21:39] #19226 closed

[2022-11-12 05:12] cheenamalhotra commented on #21205
Closing this, as I don't reproduce this with Insiders build anymore. Must have been a missed yarn with branch switching.

[2022-11-12 05:12] #21205 closed

[2022-11-12 05:13] cheenamalhotra commented on #21204
The link https://github.com/dotnet/SqlClient/issues/776#issuecomment-760798110 takes you to solutions.

[2022-11-12 05:27] cheenamalhotra commented on #11249
Can you try this instead as TLSv1.2 should be the one enabled on OS.

[code]

[2022-11-13 16:47] Mootfrost777 opened #21220 "Installed docker not found"
- Azure Data Studio Version: 1.39.1
- OS Version: Arch linux with kde plasma 5.26

Steps to Reproduce:

1. Install it via pacman
2. Try to deploy container

Error message:
'docker' was not discovered and automated installation is not currently supported. Install 'docker' manually or ensure it is started and discoverable. Once done please restart Azure Data Studio. See [https://docs.docker.com/inst

[2022-11-14 12:31] plmosqueda commented on #11249
Hi cheenamalhotra, thank you for your time investigating this. I tested in fresh Ubuntu install today and is not working. :-(

[2022-11-14 18:50] lewis-sanchez commented on #21171
HI @TimoBahama, I was unable to reproduce this for a local SQL DB and an Azure SQL DB. Would you be able to share any warnings/errors you see in the dev tools console.

You can open the dev tools console like this, if you aren't sure on how to do that:
![image](https://user-images.githubusercontent.com/87730006/201741467-90592f5e-b6db-46a2-9e32-1387560e5f37.png)

[2022-11-14 19:09] alanrenmsft commented on #21220
@Mootfrost777 have you added it to the PATH environment variable? open the terminal in Azure Data Studio and run `docker`, you should be able to tell whether docker is discoverable.

[2022-11-14 22:16] tburgesspw opened #21224 "Minimized window when not running Windows Explorer is blank (no restore/maximize/close buttons)"
- Azure Data Studio Version: 1.39.1 (system setup)
- OS Version: Windows_NT x64 10.0.19044

Steps to Reproduce:

1. Run Windows without Windows Explorer running (no explorer.exe processes running)
2. Run Azure Data Studio
3. Minimize Azure Data Studio

Does this issue occur when all extensions are disabled?: Yes

![azuredatastudio_noexplorer](https://user-images.githubusercontent.com/92603142/2017

[2022-11-14 22:40] aholler2 commented on #20262
@cssuh Yes, they are both configured. They don't need authentication with username/password.

PS C:\Users\hollea> dir env:

Name                           Value
----                           -----
http_proxy                     http://proxy.mycompanydomain.com:80
https_proxy                    http://proxy.mycompanydomain.com:80

[2022-11-14 23:56] cssuh opened #21226 "Unable to close Developer Tools Console"
- Azure Data Studio Version:
![image](https://user-images.githubusercontent.com/18150417/201792400-2d41a5aa-33d1-4ebd-a9f2-0d9f861d8569.png)

- OS Version:
Edition	Windows 11 Pro
Version	22H2
Installed on	‎9/‎29/‎2022
OS build	22621.819
Experience	Windows Feature Experience Pack 1000.22636.1000.0

Steps to Reproduce:

1. Open Developer Tools Console
2. The close button for ADS overlaps the close b

[2022-11-15 00:04] cssuh commented on #21226
I also see this behavior in the RC1 build for November

[2022-11-15 00:09] Charles-Gagnon commented on #21226
Duplicate of https://github.com/microsoft/azuredatastudio/issues/20924

You can use ctrl + shift + d to change the dock position of the window as a workaround for the time being.

[2022-11-15 00:09] #21226 closed

[2022-11-15 01:55] cheenamalhotra commented on #17352
@danabrash

Checking in, do you still observe any issue with Azure connection?
Could you please try [latest insider build](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main-branch) and let us know?

[2022-11-15 01:59] cheenamalhotra commented on #20264
@jheavin-iit

Would request you to please try latest ADS from [insiders build](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main-branch) and let us know if you still experience the issue?

[2022-11-15 05:30] Jtith commented on #20891
@Charles-Gagnon As per observation in the environment. after we press  enter on "clear all" button, screenreader is not announcing 0 items in list and Also, there is a message popping in the screen "No Query to display" is also, not being announced.  "No Query to display" should be announced to fix this issue.

[2022-11-15 05:50] Jtith commented on #20877
@Charles-Gagnon Once this https://github.com/microsoft/vscode/issues/164050 bug fixed and closed. we will verify in our environment and then we can close this bug. Please don't close this bug directly it should be closed by accessibility tester only. Thanks!

[2022-11-15 05:54] Jtith commented on #19566
@Charles-Gagnon You can refer MAS reference link [MAS 2.1.1 – Keyboard](https://aka.ms/MAS2.1.1) for better understanding of keyboard and tooltip related issue also this bug would be closed once issue is fixed throughout the application as we are closing the Duplicate bug https://github.com/microsoft/azuredatastudio/issues/20876

[2022-11-15 05:56] Jtith commented on #20876
@Charles-Gagnon We are closing this bug as this issue is repro on throughout the application, we are tracking same on below bug and https://github.com/microsoft/azuredatastudio/issues/19566 bug would be closed once issue is fixed throughout the application.

[2022-11-15 05:56] #20876 closed

[2022-11-15 05:58] Jtith commented on #20889
@Charles-Gagnon Please provide the latest environment and version details to verify the issue

[2022-11-15 07:39] TimoBahama commented on #21171
[console.log](https://github.com/microsoft/azuredatastudio/files/10010307/console.log)
[logs.zip](https://github.com/microsoft/azuredatastudio/files/10010308/logs.zip)

Please kindly find the requested elements attached

[2022-11-15 09:46] pierobox opened #21229 "Saved server connections sometimes confusing"
Issue Type: <b>Bug</b>

I created two server connections to the same azure sql database, which only differ in their "profile" name and in the ApplicationIntent property (one has "ReadOnly", the other not, so it's readwrite)
I create a query from the R/O connection, and it works.
I then expand from the connections pane the R/W connection and it renames the R/O connection with the same name and prop

[2022-11-15 17:46] MHenley commented on #21016
Same issue here, first time I've attempted to use ADS and profiling is essentially broken.

Given it was reported 19 days ago and still needs triage, does anyone have a workaround at least?

[2022-11-15 18:49] Zeddox opened #21231 "Increase scrollbar height for horizontal scroll of grid query results"
Issue Type: <b>Feature Request</b>

The horizontal scrollbar is very thin on the grid query results, making it difficult to scroll without accidentally selecting a cell. The vertical scrollbar has a wide scroll thumb and is easy to select via the mouse.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64

[2022-11-15 21:01] danielatsherpack commented on #6380
It's 2022 and this still seems to be an issue.

I'm attempting to find the right environment for a small team to collaborate on data science projects, and thought Data Studio would be a nice fit since it helps us manage the database. My use case is similar to those above -- experimentation and making interactive data visualizations.

[2022-11-15 21:47] Charles-Gagnon commented on #20891
Per office hours this is being downgraded to a sev3

[2022-11-16 00:09] jessaskey commented on #13931
Still an issue as of today, devs.. can you please fix this?  Same error as OP and Im connecting to XXXX.crm.dynamics.com. SQL Server Management Studio (SSMS) works fine but Azure Data Studio errors.

[2022-11-16 03:27] alanrenmsft commented on #21131
@suraj50488 yes.

[2022-11-16 04:59] Johannes-Vink commented on #15296
I am sorely missing this feature compared to SSMS and this is the number one reason why I go back to SSMS. I am a data warehouse developer/architect and use SSMS as a primary driver for SQL development work and some monitoring on the agent jobs.Nothing DBA fancy stuff.

We have 5k+ database objects, spread across multiple schema's, divided in tables, views, stored procedures, functions. We have th

[2022-11-16 05:46] suraj50488 commented on #17153
Is it still in backlog? or any plans to address this? I agree with the sentiments above. Currently, it is not a good experience to scroll through a bunch of schema objects before getting to the actual tables within a DB using the object explorer.

[2022-11-16 14:22] azeembh opened #21236 "Comment Command Missing"
Issue Type: <b>Feature Request</b>

There shall be toolbar/menus like SQL Server Management Studio with some important featrues like following

1. Comment/Uncomment/Block Comments
2. Document Formatting

and more....

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

[2022-11-16 16:21] Charles-Gagnon commented on #21236
You can assign shortcut keys to these commands already (in addition to just running the command directly from the command palette), is there a specific reason you want an actual button for these?

[2022-11-16 19:05] #21207 closed

[2022-11-16 20:01] alanrenmsft commented on #16125
Release 1.40 is now available:

https://github.com/microsoft/azuredatastudio#download-the-latest-azure-data-studio-release
![image](https://user-images.githubusercontent.com/13777222/202282010-4c5efd95-becf-491d-a8f3-d7119f3d6dc8.png)

[2022-11-16 20:14] alanrenmsft commented on #21016
@stetou @Chahk42 @AlreadyPicked  does this help:  https://github.com/microsoft/azuredatastudio/issues/21016#issuecomment-1315663687

[2022-11-16 20:59] AlreadyPicked commented on #21016
I'm connecting with a AAD user that is in the group defined as the Active Directory admin. It should have all the permissions, right?

[2022-11-16 21:52] Naval01 opened #21245 "Unable to view tables in the dropdown"
Issue Type: <b>Bug</b>

After the new update, I cannot find the tables in the Table Dropdown.
I can see them when I use SSMS.
I can only see system tables, even though I made a connection to a particular database.

<img width="213" alt="DataStudio" src="https://user-images.githubusercontent.com/38318511/202302277-adc94dc4-7047-48d3-9f33-dd8346b5904a.PNG">

Azure Data Studio version: azuredatastudi

[2022-11-16 21:58] lucasmarotta commented on #2767
To me does not work at all. It opens a new tab with `CREATE SCHEMA [dbo]`

[2022-11-16 22:17] vikarBCC opened #21246 "Add Column headers in copy paste"
**Is your feature request related to a problem? Please describe.**
When copying output from results pan, I can select all the records and copy them but there is no option to copy column headers.

**Describe the solution or feature you'd like**
Provide 'Copy with Header' option similar to SSMS while copying result data from result pan.

[2022-11-16 22:44] preethamrajk commented on #17356
Still having the same issue @cssuh.

Don't think this has been fixed in the latest release from yesterday.

[code]

[2022-11-16 22:58] cssuh commented on #17356
Hi @preethamrajk, can you please share the error you're seeing?

[2022-11-16 23:01] alanrenmsft commented on #21016
@AlreadyPicked, Active Directory Admin doesn't necessarily have admin permission on a SQL DB. Do you see the following error when trying to profile the database?
![image](https://user-images.githubusercontent.com/13777222/202312712-26350dfa-4669-4124-a074-cac1d8ef72b5.png)

If so, you can either open the Azure Portal and set the admin to yourself or a security group that you are a member of.
![ima

[2022-11-16 23:02] alanrenmsft commented on #21220
Thanks @seanjseymour.

[2022-11-16 23:02] #21220 closed

[2022-11-16 23:17] alanrenmsft commented on #21246
@vikarBCC it is already there:
![image](https://user-images.githubusercontent.com/13777222/202314765-25eaff78-eedc-4242-a2d1-e1e63ae30319.png)

[2022-11-16 23:17] #21246 closed

[2022-11-16 23:37] cheenamalhotra commented on #21229
Hi @pierobox

This is a known design issue. Currently both Profile Name and Advanced options are not considered for connection differentiation. We hope to address this in future releases.

Duplicate of https://github.com/microsoft/azuredatastudio/issues/17438

[2022-11-16 23:40] #21229 closed

[2022-11-16 23:41] #21131 closed

[2022-11-16 23:47] #21236 closed

[2022-11-16 23:56] stephajn commented on #19090
As a follow-up to my comment 22 days ago (as of this writing) I just updated to 1.40.0. If I thought it was slow before, now it's even slower!
I just tried running a query that selects a single row from an SQL Server and it took almost 45 seconds for the application to update and render my results grid! And it isn't like the row I am selecting from the server has a bunch of data in it or is even n

[2022-11-16 23:59] stephajn commented on #18524
Working with Azure Data Studio 1.40.0. Running a simple query that returns a single row from the server is taking at times 45 seconds or more.

My machine is an AMD Ryzen 9 5900X with a GeForce 3080 Ti, Windows 10 Pro 21H2 64 bit, and 64 GB of RAM.

[2022-11-17 00:00] aasimkhan30 commented on #21245
@Naval01 , can you please follow those steps and add logs?

[2022-11-17 00:00] preethamrajk commented on #17356
Adding logs from

.....\azuredatastudio\logs\20221117T105753\exthost1\output_logging_20221117T105758

[code]

[2022-11-17 00:08] cheenamalhotra commented on #19090
@stephajn

Can you confirm if your observation is "after" the SQL Tools Service is started?
Please note ADS activates extensions on load, and once you see "SQL Tools Service Started" message in the status bar (left), that should be the ideal moment to start measuring time from.

Please share performance profiler trace as mentioned by @kburtram above, if otherwise.

[2022-11-17 00:23] cheenamalhotra commented on #20517
Fix available in latest insiders now, verified.

[2022-11-17 00:23] #20517 closed

[2022-11-17 00:30] cheenamalhotra commented on #71
_Gentle ping..._

This feature is now available in [**Azure Data Studio v1.40**](https://aka.ms/getazuredatastudio) on Windows.

[2022-11-17 00:45] cssuh commented on #17356
@preethamrajk Can you also please share your proxy settings?

[2022-11-17 00:49] preethamrajk commented on #17356
Here it is
[code]

[2022-11-17 00:56] alanrenmsft commented on #21231
@Zeddox just to confirm you are talking about the bottom h-scroll bar in the image below, right?

![image](https://user-images.githubusercontent.com/13777222/202327761-bad1ad0e-3cf0-4c99-9dc7-7e7010d0d847.png)

[2022-11-17 02:58] ZacharyArgentin commented on #20321
It looks like this fix was scheduled for the October 2022 release. I just downloaded the new release today and the issue has not been fixed.

I've attached log files and system info below

[console.log](https://github.com/microsoft/azuredatastudio/files/10027352/console.log)
[20221116T184908.zip](https://github.com/microsoft/azuredatastudio/files/10027353/20221116T184908.zip)

**Azure Data Studio

[2022-11-17 05:52] cheenamalhotra commented on #20321
Sure, you may. Issue is not fixed yet - it will be addressed in #5173.
This one was closed as a duplicate.

[2022-11-17 08:14] lennybacon commented on #71
Thank you

[2022-11-17 13:03] jmetape opened #21252 "Azure Data Studio Notebooks Intellisense Cache"
Mac:
- Azure Data Studio Version: Version: 1.39.1
- OS Version: Monterey 12.5.1  (21G83)

Windows:
- Azure Data Studio Version: Version: 1.39.0
- OS Version: Windows 10 Pro Version 20H2

Hi, I've noticed that my SQL notebooks will take a long time to refresh the intellisense compared to a .sql file. When I create a new object, no matter how many times I "Refresh Intellisense Cache", the object wil

[2022-11-17 15:38] jikuja opened #21253 "Connect button on server blade/Azure prefills wrong Azure AD tenant information on Connection details when selected server/database is on B2B guest tenant"
- Azure Data Studio Version: 1.14.0
- OS Version: OS X 10.15.7 / Windows 10

Steps to Reproduce:

1. Open connections blade
2. Expand Azure section
3. Select subcription that is on B2B tenant guest AAD
4. Expand SQL database
5. Select existing database and click connect icon
6. Connection blade with prefilled connection details open
7. Pre-filled Azure AD tenant is set to home tenant instead of su

[2022-11-17 15:38] jikuja opened #21254 "Editing saved connection pre-fills connection details with wrong Azure AD tenant when B2B guest tenant is saved on saved connections"
- Azure Data Studio Version: 1.14.10
- OS Version: OS X 10.15.7 / Windows 10

Steps to Reproduce:

1. Open connections blade
2. Select saved connection that is using B2B guest Azure AD tenant for auth
3. click context menu of connection and click edit
4. Expand SQL database
6. Connection blade with pre-filled connection details open
7. Prefilled Azure AD tenant is set to home tenant instead of B2B

[2022-11-17 15:52] jikuja opened #21255 "Connection blade pre-fills connection details with wrong tenant id when B2B guest tenant was used on saved connection"
- Azure Data Studio Version: 1.14.0
- OS Version: OS X 10.15.7 / Windows 10

Steps to Reproduce:

1. Open a new notebook with SQL kernel
2. Click `attach to` dropdown menu and select `Change connection`
3. Open en entry that WAS using B2B guest tenant on `recent` or on `Browse` => `Saved` list
4. Connection details will be pre-filled
5. Azure AD tenant is reset back to account's home tenant
6. Wit

[2022-11-17 16:23] stephajn commented on #19090
@cheenamalhotra
I never see a message about "SQL Tools Service Started" in the status bar. By any chance, is there an extension I have to install to improve my experience here? I had understood that Azure Data Studio works just fine with Azure SQL, and just about every modern version of SQL Server out of the box. I have absolutely no extensions installed at all.

As for the performance profiler tr

[2022-11-17 16:28] Zeddox commented on #21231
@alanrenmsft Yep that is the one I'm referring to

[2022-11-17 17:00] LordZoltan commented on #17561
@YodasMyDad has the correct way to sort this - especially since device code is being deprecated

[2022-11-17 18:56] aparkhills commented on #21245
I am on MacOS (Monterey 12.3.1) and encountering the same issue after the latest update.

Repro scenario:

1. Right-clicked on the server name and clicked Connect option

2. Was given this error message:
<img width="300" src="https://user-images.githubusercontent.com/8392836/202533503-449fa94b-b889-
41d0-9863-4344585e5186.png">

3. Clicked the Enable button and ADS connected to the database

I can

[2022-11-17 19:12] chris-larsen commented on #16044
this is never getting touched isnt it lol (since snowflake and azure seem to be competitors in the space)

i doubt the day will ever come where i dont have to use two sql ide's. Been running datagrip alongside azure data studio, azure data studio finally getting mysql support was huge. But i always hoped this app would be the "vscode-esque" connector-syntax-agnostic sql end-all tool, but it doesnt

[2022-11-17 19:28] cheenamalhotra commented on #21255
Hi @jikuja

This is a known issue (https://github.com/microsoft/azuredatastudio/issues/20517) and has been recently fixed with https://github.com/microsoft/azuredatastudio/pull/21190, it's targeted for the December release.

Could you please let us know if the latest Insiders build resolves the issue for you, as it contains the fix I linked above:
[Try out the latest insiders build from main branc

[2022-11-17 20:24] jikuja commented on #21255
ty. Used wrong keywords with a search.

Tried insider build:
Version: 1.41.0-insider
Commit: a37d6230f94943ee49dbe4109a40dd5d3d2a0d9c
Date: 2022-11-16T06:33:42.633Z (1 day ago)
VS Code: 1.67.0
Electron: 17.4.11
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.14-electron.0
OS: Darwin x64 19.6.0

Results:
Fix **not** fully working:

1. Open a new notebook with SQL kernel
2. Click attach to drop

[2022-11-17 21:11] cheenamalhotra commented on #21255
Thanks for quick feedback!

I can see the behavior in `Browse > Azure`, which I would agree got missed out.
But `Browse > Recent` or `Recent list` are working fine for me, but I'll take a closer look as I fix the `Azure` tab.

I did notice it defaults to the first index when you click 'Change Connection' which is by design, since it doesn't populate previous connection at that time.

[2022-11-17 21:21] cheenamalhotra opened #21259 "CMS connection with SQL Authentication fails after save"
- Azure Data Studio Version: Insiders (v1.41.0-insider)
- OS Version: Windows 11
- Extension: CMS

Steps to Reproduce:

1. Create a new CMS connection with SQL Authentication
2. Once added, open tree again or Right click > Refresh.
3. ADS fails with below error:

![image](https://user-images.githubusercontent.com/13396919/202561914-ebb811c9-1c7c-4225-852e-f0c8ceea4854.png)

[2022-11-17 22:14] bisd-mike opened #21261 "Start up error on MacOS Ventura"
Issue Type: <b>Bug</b>

I'm tyring to get Azure Data Studio up and running on a new Macbook Pro with MacOS Ventura but I'm getting error messages on startup. They are,  "Couldn't start client SerilizationProvider", "Couldn't start client AzureResourceProvider" and "Failed to start SQL Tools Service". Another was similar but something about Server Tools not starting. Thanks, let me know if there is

[2022-11-18 01:56] cssuh opened #21264 "Account Dialog does not load"
- Azure Data Studio Version: current main (on commit 0d62fa0224b25918813e3a9346905fd533f62deb)
- OS Version: Mac OS 13.0.1

Steps to Reproduce:

1. Open ADS
2. Open Account Dialog
3. Observe following behavior: (account dialog stuck on loading)

<img width="1904" alt="Screenshot 2022-11-17 at 5 54 14 PM" src="https://user-images.githubusercontent.com/18150417/202598959-128e6eaa-4d0d-4b7e-8af8-855c

[2022-11-18 04:19] aasimkhan30 commented on #19864
@alanrenmsft , we are doing everything correctly on the ADS side. This seems to be an screen reader issue: https://github.com/nvaccess/nvda/issues/14332

[2022-11-18 04:22] aasimkhan30 commented on #19864
@alanrenmsft, I am guessing we can open a similar bug for narrator. What do you suggest here?

[2022-11-18 04:24] alanrenmsft commented on #19864
@aasimkhan30  have you ruled out the possibility of this being an Electron issue?

[2022-11-18 04:26] aasimkhan30 commented on #19864
Yeah, there is an example attached to the nvda bug. It happens on chrome as well. So, I don't think this is an electron issue.

[2022-11-18 04:27] alanrenmsft commented on #19864
I see, yes, please open issue for the screen readers.

[2022-11-18 04:28] alanrenmsft commented on #19864
the issue should be closed in this case, right? @NiharikaTipirishetty

[2022-11-18 07:12] nigel108 opened #21265 "Add Filter\Search to search for tables,views, procs, etc like SQL Server has."
**Is your feature request related to a problem? Please describe.**
Yes, my problem is that whenever i want to search for anything in a database, for example a table, I have to expand Database>Tables> then scroll through the list of tables manually to find it.

**Describe the solution or feature you'd like**
Why not copy SQL Server, instead of making me scroll to find the table or proc etc i want.

[2022-11-18 08:57] iemejia opened #21266 "Azure Data Studio for ARM installer proposes incorrect installation directory"
- Azure Data Studio Version: Daily Insiders
- OS Version: Windows 11 for ARM

Steps to Reproduce:

1. Run the Azure Data Studio Insiders installer for ARM64
https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main-branch
2. The installer proposes to install in the `Program Files (x86)` path
I am not sure what is the standard in this case since I see some native ARM

[2022-11-18 08:58] iemejia commented on #1774
@alanrenmsft For ref, just started to test it and found this minor issue https://github.com/microsoft/azuredatastudio/issues/21266

[2022-11-18 11:52] betorolim1 commented on #18524
Same problem here :(

[2022-11-18 15:35] Liriel opened #21267 "service component could not start popup when opening Flat File Import Wizard"
- Azure Data Studio Version:
Version: 1.40.0-insider
Commit: 9d921e4efc2a00c5c9c8f440c32fa2f6c9277737
Date: 2022-11-02T05:43:35.004Z
VS Code: 1.67.0
Electron: 17.4.11
Chromium: 98.0.4758.141
Node.js: 16.13.0
V8: 9.8.177.14-electron.0
OS: Linux x64 5.10.150-gentoo
- OS Version: Linux x64 5.10.150-gentoo

Steps to Reproduce:

1. open "Flat File Import Wizard"
2. error gets displayed

the installatio

[2022-11-18 17:03] msmosso commented on #18524
I am facing the same issue. During a simple ```select current_user``` Executing query... message is displayed in the status bar forever

[2022-11-18 17:22] aparkhills commented on #21245
@aasimkhan30 - Is there any update on this ticket? ADS has been an important part of my daily routine and I am still experiencing the issue mentioned above. Thank you for your time.

[2022-11-18 17:33] aasimkhan30 commented on #21245
@aparkhills,I am sorry to hear that.  Your error seems to be different that this issue. Make sure you are enabling trust server certificates.
<img width="929" alt="image" src="https://user-images.githubusercontent.com/6816294/202766450-3c5f2283-bf47-4ece-af13-394de43ff8f1.png">

[2022-11-18 17:40] Charles-Gagnon commented on #21245
@cheenamalhotra We may want to look at the logic for displaying the trust server certificate here - it seems like it shouldn't have been shown in that case (since my understanding from looking at the other issue thread is that this problem is some other internal issue and not likely to be fixed by setting trust server certificate to true).

[2022-11-18 17:57] aparkhills commented on #21245
@aasimkhan30 @Charles-Gagnon @cheenamalhotra  - @aasimkhan30's comment above fixed my issue permanently. No more connection or TCP error message. Thank y'all!

[2022-11-18 18:07] aasimkhan30 commented on #21245
@Charles-Gagnon @cheenamalhotra it seems that enable trust certificate in the error dialog did not function properly. Is that a known issue?

[2022-11-18 18:09] cheenamalhotra opened #21269 "Enabling both Azure Auth modes (Code Grant and Device Code) don't prompt for selection"
- Azure Data Studio Version: 1.40.0
- OS Version: Windows 11

**Steps to Reproduce:**

1. Enable both settings: "Azure: Auth: Code Grant" and "Azure: Auth: Device Code"
2. Reload Window and attempt to Sign in to Azure

**Expected:**
Should prompt for selection of Auth mode.

**Actual:**
Uses Code Auth by default and requires Code Auth to be disabled in order to make Device Code auth work.

**Regre

[2022-11-18 18:32] cdunn1331 commented on #20192
Hi @cheenamalhotra -  I'm currently at PASS and @erinstellato-ms mentioned this would be the best way to reach out for you on the error in this thread. I had a handful of Mac users try connecting this morning incase the error was fixed in the latest release (Erin and one of the ADS engineering, mentioned that it could have but weren't completely sure) and still getting that dreaded error.

I'm jus

[2022-11-18 19:18] cheenamalhotra commented on #20192
Hi @cdunn1331

Sure, can you copy the error details from the error popup and confirm if you get one of these?

[code]

[code]

Please paste if otherwise.

[2022-11-18 19:40] cssuh commented on #21264
nevermind, this went away when I did a clean build with `git clean -fxd; yarn; yarn run watch`

[2022-11-18 19:40] #21264 closed

[2022-11-18 19:57] gregveres commented on #21245
I am seeing the same problem as @Naval01.
I am connecting to a SQL Database hosted in Azure. This update completely blew away my ability to see the tables. Everything that @Naval01 said above is what I see.

I have did what the github bot suggested to do and have attached the two files here, after removing the name of my server, user and database.

[console.log](https://github.com/microsoft/azured

[2022-11-18 20:01] gregveres commented on #21132
I routinely see large delays. I have even run a query that took long enough that I said "screw this" and opened SMSS, connected to the DB, found the table, did the query and got back the results, all before ADS did anything.

The workflow is also horrid, in that ADS should bring up the query window immediately, before going to the DB to fetch the columns of the table. Show me that ADS recieved my

[2022-11-18 20:06] cheenamalhotra commented on #9116
Would like to address different error messages to avoid confusions:

- Device not configured
[code]
    This is a DNS Resolution issue, recommended action is to do `nslookup servername` and fix any incorrect DNS entries.
    Refer: https://github.com/dotnet/runtime/issues/19222
- Connection string not valid
[code]
    This is a connection string issue, as an invalid string was passed to driver. Pl

[2022-11-18 20:56] jmetape commented on #21265
rt click on the connection in ADS and go to "manage". A new editor tab window will be opened. Ust the filtering capabilities there

![image](https://user-images.githubusercontent.com/10228011/202800800-0a6a3b6c-f274-44fc-86e9-7b71ef569e5a.png)

[2022-11-18 22:27] cheenamalhotra commented on #21245
Can someone try to disable Encrypt (set it to false) and try again? We would be able to rule out authentication factors if they're contributing to the issue.

Steps to follow:
- Edit Connection
- Set Encrypt=false
- Connect

[2022-11-18 22:36] ZacharyArgentin commented on #5173
I'm copying my post over from #20321 as it was deemed a duplicate and closed.

Issue Type: Bug

I've successfully connected to a SQL Server that has 3 databases on it. I only have access to 2 of those databases (i.e. I have a SQL Login for the SQL Server, but I only have a SQL User for 2 out of those 3 databases).

The object explorer fails to load. I've faced a similar issue in the past and i've

[2022-11-18 23:00] aasimkhan30 commented on #21245
@gregveres, from the logs that you have shared, we can see that you are connecting to master database in your server. Can you please confirm that you're connecting to the right database.

If not, can you please connect to the correct database and send the logs again? Thank you!

[2022-11-18 23:17] #21269 closed

[2022-11-19 01:23] gregveres commented on #21245
I had tried all combinations of the encryption flags before posting. They all produce the same result.

[2022-11-19 01:30] gregveres commented on #21245
Microsoft SQL Azure (RTM) - 12.0.2000.8  	Oct 18 2022 13:24:45  	Copyright (C) 2022 Microsoft Corporation

Now, since you are saying that the db that is being selected is master rather than the db that I specified, I think you found the problem.

Before I upgraded, I was not selecting any specific db. When I connected to the server, I had to select the db, then I could open the tables. After the u