[2020-07-23 05:23] #11369 closed

[2020-07-23 11:03] dbauszus-glx commented on #7
It's not just pgadmin... Pretty much every GUI bar azuredatastudio does the schema tree...

I have seen this in OMNI. And here is a screenshot from beekeeper.

![image](https://user-images.githubusercontent.com/22201617/88279551-2e4ea980-ccdc-11ea-839d-154e3977ed8b.png)

274 tables is by no means an exception. We have databases with many more relations.

[2020-07-23 14:12] krlmlr commented on #11200
A very similar problem occurs if the project includes a post-deployment script: Can't find `/.../POSTDEPLOY.SQL`.

[2020-07-23 14:37] icbm007 commented on #1080
I agree with this. Azure Data Studio needs to be able to support the Integration Services Catalog feature of SSMS. Major let down its not there.

[2020-07-23 16:46] Charles-Gagnon opened #11490 "Opening folder in workspace containing Books causes error shown in Notebooks Viewlet"
1. Open folder (not a Jupyter Book - just a regular folder) that contains Books
1. Browse to Notebooks Viewlet

(I haven't tested this fully so maybe it's something else causing this - the repo I tried this with is the SqlNewHireOnboarding and this just happened when I opened the root folder in ADS from File -> Open Folder)

This error appears :

![image](https://user-images.githubusercontent.com/

[2020-07-23 17:17] molegris commented on #7440
Hi, new to github.  Can we vote for this bug to be fixed?  Cause I have to same issue, happens 1-2 per day.  And it's very annoying.

As @ipatalas said, once it starts doing that even a Select 1 will hang.
If I may add to the use case, once the problem started to appear I'm still able to run queries ONLY IF I do it File>NewQuery.  Then whatever query is in there will run perfectly the first time b

[2020-07-23 17:23] kburtram commented on #11242
@kkbruce I don't see this behavior when pasting `62febb88-62a2-42e8-bb21-bbc646aa0a6a` into the ADS editor.  Could you provide any additional details that may help repro the problem?

[2020-07-23 17:27] kburtram commented on #11245
@RicardoNoerr I am not able to repro this issue. The files and folders that I've opened are showing in the "Open Recent" menu.  The menu will only show saved files\folders, so temporary\untitled scripts would be displayed there.  Please let me know if there are any additional repro steps that could help narrow down the problem.

<img width="752" alt="Screen Shot 2020-07-23 at 10 25 45 AM" src="htt

[2020-07-23 17:44] RicardoNoerr commented on #11245
Hi Karl,

I checked whit a new notebook I’m just working, and it didn’t show in the Open Recent.

Anyway I repeated with a other new notebook:

1             New notebook created with some text

2.            Saved As “Test.ipynb”

3.            Closed the notebook in Azure Data Studio

4.            Exit and started Azure Data Studio again

5.            Try to open it in Open Recent and no “Test

[2020-07-23 17:49] kburtram commented on #11374
@ChrisSun-ms can you see if this would be a relatively straightforward enhancement to the OE DnD feature?

[2020-07-23 17:49] kburtram commented on #11375
@aaomidi any suggestions on how to troubleshoot this issue?

[2020-07-23 18:00] cssuh opened #11492 "Unable to create firewall rule if SqlLogin authentication was used (regression)"
- Azure Data Studio Version:
![Screen Shot 2020-07-23 at 1 58 44 PM](https://user-images.githubusercontent.com/18150417/88321224-cce30680-ccec-11ea-90c0-614a5ed5ffb4.png)

Steps to Reproduce:

1. Attempt to connect to Azure DB that doesn't have the correct firewall rule set (so ADS will prompt you to add one)
2. Add Azure account in the firewall rule prompt
3. Select OK (in firewall rule prompt)
!

[2020-07-23 18:02] cssuh commented on #11492
not sure why the commit says 2 years ago, when I do a git log it gives me
![Screen Shot 2020-07-23 at 2 02 15 PM](https://user-images.githubusercontent.com/18150417/88321405-1e8b9100-cced-11ea-9ad6-91df0d3b8582.png)

[2020-07-23 18:05] aaomidi commented on #11375
I just changed a lot of the code in this area yesterday. Does this issue still happen?

Please make sure that that localhost website its trying to load isn't forcing to be https, that won't work. If it does you have HSTS enabled for localhost. If you tell me which browser you're using I can help you disable HSTS for localhost.

[2020-07-23 18:05] chlafreniere commented on #11490
@MaddyDev may be related to the other issues you've been looking into.

[2020-07-23 18:14] kburtram commented on #11459
@eflamm thanks for reporting the issue.  To clarify, are you referring to the installation instructions from https://docs.microsoft.com/en-us/sql/azure-data-studio/download-azure-data-studio?view=sql-server-ver15?  Specifically the below steps:

[code]

If the `source ~/.bashrc` isn't working as intended on your system you could try the following:

1. Change the PATH to something like `echo 'expor

[2020-07-23 18:15] chlafreniere commented on #11482
Ack. Until we have this implemented, it's good to direct folks to the collapse action in the viewlet:

![image](https://user-images.githubusercontent.com/40371649/88322612-d4e37c00-ccd5-11ea-8193-725325ee22e2.png)

[2020-07-23 18:27] MaddyDev commented on #11490
Looking into it.

[2020-07-23 18:36] vnachimu opened #11493 "Unable to Add Azure account to Linked Accounts in Azure Data Studio Insiders"
- Azure Data Studio Version:
azuredatastudio-macos-1.21.0-insider

Steps to Reproduce:

1.  After authenticating with Microsoft Azure Account, the browser throws an error saying "Failure when retrieving tokens".
![image](https://user-images.githubusercontent.com/42034164/88324557-79e76e80-cd41-11ea-8e77-b8c6997935e8.png)

[2020-07-23 18:47] vnachimu commented on #11493
Firefox web console reponse.
<img width="1138" alt="Screenshot 2020-07-24 at 12 16 14 AM" src="https://user-images.githubusercontent.com/42034164/88325782-06def780-cd43-11ea-941e-853c48e1f89e.png">

[2020-07-23 19:41] JustinMDotNet opened #11495 "Non-Kusto icons show for connections added through TSGWorkspace"
- Azure Data Studio Version: 1.21

Steps to Reproduce:

1. Have Kusto connection added to TSGWorkspace.code-workspace
2. Open ADS and see connection in connection explorer
3. Notice the icon associated with the connection does not have a kusto icon

[2020-07-23 22:32] davidancr commented on #10337
the connection was successful with linux 18.04 but i can't connect the sql from linux 20.04

[2020-07-23 23:18] Charles-Gagnon opened #11499 "Azure fields in Deployment dialog will fail if account is stale"
If the account chosen is stale (needs to be re-authenticated) then the queries to get the subscriptions/RGs will fail without any indication what the issue is.

This happens at https://github.com/microsoft/azuredatastudio/blob/main/extensions/resource-deployment/src/ui/modelViewUtils.ts#L906 and https://github.com/microsoft/azuredatastudio/blob/main/extensions/resource-deployment/src/ui/modelViewU

[2020-07-23 23:19] Charles-Gagnon commented on #11499
@ranasaria I'm assigning this to you for now - if you're finished with the test stuff this would be a good thing to look at.

[2020-07-23 23:34] JustinMDotNet opened #11500 "Kusto Connections in object explorer added through workspace don't show databases"
- Azure Data Studio Version:

Steps to Reproduce:

1. Have Kusto connection setup through Workspace
2. Connect to Kusto Connection
3. Open Connection by clicking on caret
4. Notice no databases / tables are shown

[2020-07-23 23:57] Charles-Gagnon opened #11501 "Update getSecurityToken in azurecore"
https://github.com/microsoft/azuredatastudio/blob/main/extensions/azurecore/src/azureResource/utils.ts#L119

This is still using getSecurityToken - it should be updated to use getAccountSecurityToken instead per the changes Amir did.

[code]

[2020-07-24 00:00] Charles-Gagnon commented on #11501
@ranasaria @aaomidi I'm assigning this to you - could one of you two take care of this when you get a chance? (I'll try to if I have time but I have a bunch of other stuff I'm working on too)

@aaomidi Would recommend sending out a mail to owners of our stuff that use this API - I see there's some ML things that use it too for example.

[2020-07-24 00:40] kisantia opened #11504 "Update error message when project with same name already exists"
Steps to reproduce:
1. Import a project from a database with the default name
2. Try to import the same database project again to the same location

Expected:
Project should be successfully created, possibly with an incremented counter appended to the folder name, or an error message that says that a project with the same name exists at that location

Actual:
This error message didn't get updated

[2020-07-24 02:14] #11501 closed

[2020-07-24 03:20] kkbruce commented on #11242
@kburtram

I have updated to the latest version.

[code]

I capture a gif for sample demo this problem: https://giphy.com/gifs/Qs0ygUwKbbsX2JqKe1
I found that the rule is that this happens whenever there are two consecutive "-" symbols in a string.

[2020-07-24 06:58] ranasaria opened #11506 "Resource Deployment does not discover installed azdat"
- Azure Data Studio Version:
Insiders build as of 23 July 2020.

OS: MacOs Catalina with all the latest updates.

Steps to Reproduce:

1.click on + next to arc deployments
2. A wizard opens with arc card sele Ted that reports missing azdata tool. This happens even when azdata of right version was already installed. And when azdata is just installed by ads itself.

Impact: can't install arc instanc

[2020-07-24 13:58] Charles-Gagnon commented on #11506
This has been working fine for me - do you have any other information? Did you restart ADS after the installation? What platform are you on?

[2020-07-24 16:29] DTronD commented on #10104
I am getting a different error now.  May be moot as this issue is still in the backlog, but in case it helps when repair work begins, this is what I get now when trying to do a csv import to an Azure SQL Database to a new table (i.e. import wizard to create during import).  I'm using WinAuth+MFA for authentication in the connection I ran a test query in the DB prior to launching the import wizard.

[2020-07-24 16:37] CodedBeard commented on #10104
I've got exactly the same issue as @DTronD, which I found after a colleague reported they were having the issue as well. I'm the server admin, and like above I was connected and able to run whatever queries I liked. I also tested running the import with sql manager instead, which worked fine.

[2020-07-24 16:38] ranasaria commented on #11506
This is the error that I get:
❯ azdata -v
dyld: Library not loaded: @executable_path/../.Python
  Referenced from: /usr/local/Cellar/azdata-cli/20.0.0/libexec/bin/python
  Reason: image not found
/usr/local/bin/azdata: line 2: 35930 Abort trap: 6           /usr/local/Cellar/azdata-cli/20.0.0/libexec/bin/python -m azdata.cli "$@"

[2020-07-24 17:49] aaomidi commented on #11447
This one should be fixed in the new insiders. Can you test again?

[2020-07-24 17:49] aaomidi commented on #11492
This should be fixed in the new insiders. Can you test it again?

[2020-07-24 18:06] aaomidi commented on #11164
Could you please test this scenario on the latest insiders?

[2020-07-24 18:07] aaomidi commented on #10314
Could you please test this scenario on the latest insiders?

[2020-07-24 18:31] ranasaria commented on #11506
So this was not a doc bug after all and reproduced with the latest ignite build of azdata.

[2020-07-24 18:37] kisantia opened #11509 "Import New Database Project doesn't have icon in dashboard toolbar anymore"
![image](https://user-images.githubusercontent.com/31145923/88424131-dda18400-cda1-11ea-9dba-9fbd463aff5f.png)

Previously used icon was removed in #11488

[2020-07-24 18:50] Charles-Gagnon commented on #11506
@ranasaria We can close this out then since it's confirmed to be an azdata issue?

[2020-07-24 19:11] ranasaria commented on #11506
I am waiting for a platform workitem for this. Will close this after linking to that.

[2020-07-24 19:28] mwc360 opened #11511 "System Tables Not Visible"
When browsing a SQL Sever DB in ADS, I can't see system tables within the table folder. When accessing the same DB in SSMS I am able to see all of the system tables (i.e. cdc schema tables).

I am able to query from the system (i.e. cdc.change_tables) but it isn't visible in the server explorer view.

Version: 1.19.0 (user setup)
Commit: 4095037f2578c23033867e611e82c13de114ca5a
Date: 2020-06-11T22

[2020-07-24 20:46] ranasaria commented on #11499
Ok will do. I still have next week on test stuff but I will start stealing some cycles for this next week.

[2020-07-24 21:12] twright-msft opened #11515 "When executing kubectl exec ... wget in a Python notebook the execution hangs and there is no output"
Issue Type: <b>Bug</b>

Create Python 3 notebook.  Have a code cell like this:
!kubectl exec <pod name> -n <namespace name> -c <container name if needed> -- wget <some file URL>

Azure Data Studio version: azuredatastudio-insiders 1.21.0-insider (a889d017f597fa7cbe504a5e408e23884486375a, 2020-07-23T06:25:28.415Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Ite

[2020-07-24 21:56] ranasaria commented on #11506
Tracking this using the following platform bug:
https://sqlhelsinki.visualstudio.com/DefaultCollection/aris/_workitems/edit/15979/?triage=true

so closing it here.

[2020-07-24 21:56] #11506 closed

[2020-07-25 00:54] pareshmotiwala commented on #10847
Can somebody explain, what does the status mean? sorry I am not familiar with this!

[2020-07-25 05:15] TheJY opened #11521 "The description of the deploy experience should not refer to SQL Server."
- Azure Data Studio Version:
Version: 1.21.0-insider (user setup)
Commit: b098ce64b5f79b6db2d39f637cea73a2fa9f4550
Date: 2020-07-17T05:40:08.933Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1.
![image](https://user-images.githubusercontent.com/22226386/88449362-23d70180-cdfb-11ea-9afc-54e5f54d03

[2020-07-25 05:23] TheJY opened #11522 "Need to be able to display a name/alias to an Arc data controller in ADS"
- Azure Data Studio Version:
Version: 1.21.0-insider (user setup)
Commit: b098ce64b5f79b6db2d39f637cea73a2fa9f4550
Date: 2020-07-17T05:40:08.933Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:
Right now a controller appears under its IP address and port. With several controllers registered in their

[2020-07-25 05:32] TheJY opened #11523 "Need the ability to automatically refresh the content displayed under a Arc Data Controller node."
- Azure Data Studio Version:
Version: 1.21.0-insider (user setup)
Commit: b098ce64b5f79b6db2d39f637cea73a2fa9f4550
Date: 2020-07-17T05:40:08.933Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

n/a

[2020-07-25 10:37] sandermvanvliet commented on #11447
Just updated to:

[code]

and can confirm that the error message is gone now and I can connect and browse Azure SQL Servers again.

One thing I noticed is that my configured accounts are no longer there and I had to add them back again. Not a big deal, glad everything works again 👍

[2020-07-25 10:53] #11447 closed

[2020-07-25 15:07] twright-msft commented on #11522
A data controller has a name property.  Ideally we retrieve that and use it.  Alternatively, we could allow the user to specify a user-chosen friendly name similar to the Servers viewlet in the Connections panel.

[2020-07-25 18:08] kevin-david commented on #8829
@aaomidi sorry for the delay getting back to you. I installed the latest insiders build today and this appears to be fixed?

<details>
  <summary markdown="span">Working Version Info</summary>

[code]
</details>

It doesn't work on the latest non-insiders build, as far as I can tell. Before I updated, I got an error I hadn't seen before: `Error running command azure.resource.selectsubscriptions: C

[2020-07-25 22:59] aaomidi commented on #8829
Yep the fix is only in insiders right now. I'm glad to see it's working now!

[2020-07-25 23:00] aaomidi commented on #8829
I'll be closing this issue now - please test with the latest insiders and let me know if any issues pop up with this. If the issue is unrelated to this one please open a new one!

[2020-07-25 23:00] #8829 closed

[2020-07-25 23:01] aaomidi commented on #11130
Please reopen this issue if the problem is still there.

[2020-07-25 23:01] #11130 closed

[2020-07-25 23:03] aaomidi commented on #10790
Closing this issue. Please feel free to reopen a new one if the issue is still there on the latest insiders build.

[2020-07-25 23:03] #10790 closed

[2020-07-25 23:03] #9660 closed

[2020-07-25 23:03] aaomidi commented on #10268
For now we've decided SqlLogin should remain the default.

[2020-07-25 23:03] #10268 closed

[2020-07-26 07:17] ransagy commented on #10268
What about configuring it? Or at least remembering the last used value?

The experience as it is is very poor for Azure users, to be honest.

[2020-07-26 15:47] FascinateDK commented on #3152
Any news here ?

[2020-07-26 21:39] jp4u commented on #11270
@aaomidi What is the latest insiders? I am unfamiliar

[2020-07-27 00:02] jdelforno commented on #8058
Version: 1.47.2 (user setup)
Commit: 17299e413d5590b14ab0340ea477cdd86ff13daf
Date: 2020-07-15T18:22:06.216Z (1 wk ago)
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Opened "Preferences: Configure Runtime Arguments"
Set: 	"disable-color-correct-rendering": false

Fixed it.

[2020-07-27 01:05] dzsquared commented on #11492
@aaomidi I'm seeing this same behavior in today's insiders - unable to create a firewall rule with this error message:

Firewall rule error: Error: Specifed tenant with ID 'undefined' not found.

**Version info**
Version: 1.21.0-insider (user setup)
Commit: eccf3cf5fe8f60d04d70096bc94c654cab60d81a
Date: 2020-07-24T09:33:09.435Z
VS Code: 1.48.0
Electron: 9.1.0
Chrome: 83.0.4103.122
Node.js: 12.14.1

[2020-07-27 01:58] casa-henrym opened #11526 "Error connecting to database after update to 1.20.1"
Issue Type: <b>Bug</b>

When attempting to connect I get this error:

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz (4 x 2712)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enab

[2020-07-27 02:08] casa-henrym commented on #11526
The [suggestion](https://github.com/microsoft/azuredatastudio/issues/11367#issuecomment-659614111) to set "TrustServerCertificate" to "True" has resolved this issue.

[2020-07-27 02:08] #11526 closed

[2020-07-27 04:38] jotigautam opened #11527 "Import Wizard extension not working"
- Azure Data Studio Version:

Steps to Reproduce:

1.  Import Wizard is not showing up on pressing ctrl+I or by clicking on 'Import wizard' on particular database.

[2020-07-27 04:39] jotigautam commented on #11527
Azure data Studio 1.20.1

[2020-07-27 08:43] MayuriNaik opened #11528 "A11y_AzureDataStudio_Welcome_AzureDataStudio-Insiders_ScreenReader : No proper name is announced for "Close" control for screen reader users."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-27 09:42] aaomidi commented on #11270
It's the daily builds: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

[2020-07-27 10:45] MayuriNaik opened #11529 "A11y_AzureDataStudio_Welcome_AzureDataStudio-Insiders_ScreenReader : The title and role of "Preview" dialog is not announced for screen reader user."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-27 14:07] NeilGoodUKABC commented on #11527
Issue for us - Unable to Import simple Text/CSV file
Steps taken:

- Open SQL Flat File Import Wizard
- Select Database and file to Import
- Agree with Columns and Style of data
- Click Import
- Get long error message (which I cannot copy over to here).
-
![image](https://user-images.githubusercontent.com/68856622/88551430-c3bea600-d01a-11ea-9b7d-08d6c2d9d5d7.png)

Thanks, Neil Good.

System Info

[2020-07-27 15:19] ncapito opened #11530 "Authentication Type: Active Directory - Universal with MFA Support"
Issue Type: <b>Bug</b>

Can't login with Active Directory + MFA (chrome, mac).  Was working previously but now when we go to login it tries to open a new tab in chrome (https://localhost:50801/signin?nonce=iclearedthisincaseitsenesitve)  and chrome displays: This site can’t provide a secure connection

Steps to reproduce (i previously went through these steps and saved):
1. Connection Type: Micros

[2020-07-27 16:03] ravikd744 commented on #10314
Hi Amir,

I am still getting the same error, but with a different tag.

![image](https://user-images.githubusercontent.com/28813487/88564397-2acf6100-d001-11ea-8941-6dfa6b160d52.png)

[2020-07-27 16:08] #11068 closed

[2020-07-27 16:16] lucyzhang929 commented on #8839
Issue fixed in this PR https://github.com/microsoft/azuredatastudio/pull/11491

[2020-07-27 16:16] #8839 closed

[2020-07-27 16:31] kburtram commented on #11511
@mwc360 you should be able to view the system tables by looking under one of the system databases (e.g. master, model, tempdb, etc.).  Please let me know if you don't see them there.

[2020-07-27 16:36] #11403 closed

[2020-07-27 17:13] TheJY opened #11532 "The title of the dashboard pane should contain the name of the instance it is about"
- Azure Data Studio Version:

Steps to Reproduce:

The title of the dashboard panes should contain the name of the instance (Postgres for instance) it is about. Right now it does not and it is confusing.

In this example, I have 8 instances deployed. I have opened dashboards for several of them but I can't distinguish them unless I look at the pane itself:
![image](https://user-images.githubuserco

[2020-07-27 17:35] barbaravaldez commented on #10896
Hi @mikelawell, are you trying to use markdown links?

[2020-07-27 17:47] mikelawell commented on #10896
Sorry, been awhile... this is using markdown links... I converted to an A tag to work around this. I need to try to repro to see if it got fixed in the past couple of releases.

[2020-07-27 18:00] mikelawell commented on #10896
![Links](https://user-images.githubusercontent.com/39015075/88575087-efd12b80-d008-11ea-98d9-91804061ef81.jpg)
There is still some weirdness. It looks like it is still adding a front slash to the link. I'm now using 1.20.1

[2020-07-27 18:09] alanrenmsft commented on #11522
@Charles-Gagnon do we have an area for Arc?

[2020-07-27 18:14] barbaravaldez commented on #10896
Thank you for the screenshot 😄 Yeah, it seems that something weird is happening when it's trying to convert the relative link into an absolute path. I'll take a look at this. Thank you!! 😄

[2020-07-27 18:44] aaomidi commented on #11492
Thanks I found out what the issue is. If we use SqlLogin the tenantId isn't populated... We need to get the tenantId somehow. Maybe the account picker needs to also have a tenant picker.

@Charles-Gagnon any ideas?

[2020-07-27 19:23] Charles-Gagnon commented on #11492
Where is the tenant id used in this case?

[2020-07-27 19:25] #11035 closed

[2020-07-27 20:04] aaomidi commented on #11492
https://github.com/microsoft/azuredatastudio/blob/587abd43c2d92d83af1214399172fe8734597915/src/sql/workbench/services/resourceProvider/browser/firewallRuleDialogController.ts#L64

[2020-07-27 21:13] #11220 closed

[2020-07-27 21:35] #11509 closed

[2020-07-27 21:46] pcj-jenzabar commented on #11452
Here you go.

![2020-07-27-16-43-57](https://user-images.githubusercontent.com/67909738/88595533-c0cab200-d028-11ea-8670-a3300e631d54.gif)

[2020-07-27 21:49] pcj-jenzabar commented on #11452
I should mention this is in an INSERT INTO statement, not a select, that is a difference I noted here. Though I also see JOB_TIME coming up first in a SELECT (I just don't often query based on that column myself)

[2020-07-27 21:50] alanrenmsft opened #11537 "my personal Azure account displayed twice"
Steps to Reproduce:

1. add my personal Azure account
2. restart ADS
3. open Azure account dialog

I am getting the following view, there are 2 entries for my personal account.

![image](https://user-images.githubusercontent.com/13777222/88595221-6d9c3380-d017-11ea-8641-a88e2424418f.png)

also, for my personal account, instead of showing my name, the email address is displayed twice.

[2020-07-27 21:52] alanrenmsft commented on #11532
@Charles-Gagnon could you please put this in a proper milestone?

[2020-07-27 21:54] aaomidi commented on #11537
Just had this happen to me too. I've root caused it too. Thanks for filing this bug.

[2020-07-27 22:36] #11537 closed

[2020-07-28 00:12] MayuriNaik opened #11541 "A11y_AzureDataStudio_Welcome_AzureDataStudio-Insiders_ScreenReader : The screen reader focus does not remain within the "Preview" dialog while navigation."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 00:36] MayuriNaik opened #11542 "A11y_AzureDataStudio_Welcome_AzureDataStudio-Insiders_Keyboard : The "X" (Close) control is not actionable using keyboard and announced as text for screen reader users."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 01:03] MayuriNaik opened #11544 "A11y_AzureDataStudio_Welcome_AzureDataStudio-Insiders_ScreenReader : No proper role and expand/collapse state is announced for the "New" control for screen reader users."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 02:19] MayuriNaik opened #11545 "A11y_AzureDataStudio_Welcome_AzureDataStudio-Insiders_ScreenReader : Screen reader users are unable to access the expanded content of the "New" control also list structure is not provided."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 02:59] MayuriNaik opened #11546 "A11y_AzureDataStudio_Welcome_Resources_ScreenReader : Hidden content as radio button is announced while navigating to the "History" tab control."
**"[Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 03:29] MayuriNaik opened #11547 "A11y_AzureDataStudio_Welcome_Resources_ScreenReader : The "History" control is not announced with proper role for screen reader users."
**"[Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 03:47] MayuriNaik opened #11548 "A11y_AzureDataStudio_Welcome_ExtendyourdataStudio_ScreenReader : The decorative image present besides the links such as "SQL Server Agent", "SQL Server Profiler", etc. is announced for screen reader users."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 04:13] MayuriNaik opened #11549 "A11y_AzureDataStudio_Welcome_ExtendyourdataStudio_ColorContrast : The color contrast ratio of "Show All" control is less than 4.5:1."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 04:34] MayuriNaik opened #11550 "A11y_AzureDataStudio_Welcome_ExtendyourdataStudio_ScreenReader : The "SQL Admin Pack" is not announced as heading element for screen reader users."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 06:38] MayuriNaik opened #11551 "A11y_AzureDataStudio_Dashboard_Home-Toolbar_ScreenReader : Incorrect name as 'In collapse' is announced for a "^" control for screen reader users."
**"[Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 08:17] MayuriNaik opened #11552 "A11y_AzureDataStudio_Dashboard_Home-Toolbar_ScreenReader : Unnecessary state as 'Selected' is announced and the expand/collapse state is not announced for "Toggle More" control for screen reader user."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 08:29] MayuriNaik opened #11553 "A11y_AzureDataStudio_Dashboard_Databases_ScreenReader : The expand/collapse state is not announced for "Show Action" control for screen reader user."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 09:16] MayuriNaik opened #11554 "A11y_AzureDataStudio_Notebook_MarkdownToolbar_ScreenReader : Incorrect reading order for the "Kernel" and "Attach to" controls for screen reader users."
**"[Check out Accessibility Insights!](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0) - Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 09:41] MayuriNaik opened #11555 "A11y_AzureDataStudio_ImportFlatFileWizard_SpecifyInputFile_ScreenReader : The screen reader focus does not move "Import flat file wizard" dialog as soon as it appears on the screen."
**"[Check out Accessibility Insights! ](https://nam06.safelinks.protection.outlook.com/?url=https://accessibilityinsights.io/&data=02%7c01%7cv-manai%40microsoft.com%7cb67b2c4b646d4f9561a208d6f4b5c39b%7c72f988bf86f141af91ab2d7cd011db47%7c1%7c0%7c636965458847260936&sdata=T26HQfSGOlnuRQdX%2ByXk%2B2bxqgwFvCIVfuboZUWidYY%3D&reserved=0)- Identify accessibility bugs before check-in and make bug fixing fa

[2020-07-28 11:11] tholap commented on #10337
`the connection was successful with linux 18.04 but i can't connect the sql from linux 20.04`
same here

[2020-07-28 14:10] Fokolee opened #11556 "Cannot connect to SQL Server"
Issue Type: <b>Bug</b>

Microsoft.Data.SqlClient.SqlException (0x80131904): A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is configured to allow remote connections. (provider: TCP Provider, error: 40 - Could not open a connection to SQL

[2020-07-28 14:13] Fokolee commented on #11556
what do i do if my data studio isnt connecting to the the sql server

[2020-07-28 15:31] mwc360 commented on #11511
I did already look there and didn’t find them. CDC generates tables aren’t stored in the master\etc. databases. In SSMS they show up under the database with CDC enabled in a System tables folder.

________________________________
From: Karl Burtram <notifications@github.com>
Sent: Monday, July 27, 2020 10:32:08 AM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: mwc360 <m.w.c

[2020-07-28 16:13] ranasaria opened #11557 "Azure arc controller creation wizard shows location code in summary page"
- Azure Data Studio Version:
Version: 1.21.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z
VS Code: 1.48.0
Electron: 9.1.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.5.0
Steps to Reproduce:

The Summary Screen in Data controller creation wizard shows a location code: 'eastus2' instead of location name like: 'East Us 2'

[2020-07-28 17:15] kburtram commented on #11511
@mwc360 thanks for clarifying that this is related to CDC system tables.

[2020-07-28 17:51] rajeshka opened #11560 "Jupyter Books should be collapsed/expanded using keyboard shortcuts"
With multiple Books showing up its cumbersome to navigate to the root of each book to to collapse/expand levels when the books contains thousands of notebooks.

There should be keyboard shortcuts and/or menu items to do just that. Below is an example from a popular editor which has this feature.

<img width="481" alt="image" src="https://user-images.githubusercontent.com/29285871/88702131-cde6b000

[2020-07-28 18:04] MaddyDev commented on #11017
@ahkenho are you able to run other notebooks? (python)

[2020-07-28 18:07] MaddyDev commented on #11490
This is a valid error, there is actually a file 'Table of Contents' missing from one of the books opened. So closing this issue, I'll look into enhancing the error shown to include the bookName/path from where the file is missing.

[2020-07-28 18:07] #11490 closed

[2020-07-28 19:03] #11557 closed

[2020-07-28 19:19] BobPusateri opened #11561 "CSV Headers Setting also effects saving to Excel"
- Azure Data Studio Version:
[code]

The setting `Query Editor > Results >Save As Csv: Include Headers` not only determines if headers are present when saving results to Csv, but also when saving to Excel.

Steps to Reproduce:

1. With `Query Editor > Results >Save As Csv: Include Headers` enabled, run a query and save it's results to Excel. Note how headers are included in the excel file.

2. Wit

[2020-07-28 19:21] MaddyDev commented on #11138
Fixed with the search PR #11117

[2020-07-28 19:21] #11138 closed

[2020-07-28 19:26] MaddyDev commented on #10869
Added unit tests to test the revealActiveDocumemtInViewlet #11348

[2020-07-28 19:50] Charles-Gagnon commented on #11561
Thanks @BobPusateri - this was an intentional change we did in https://github.com/microsoft/azuredatastudio/pull/11491 to fix https://github.com/microsoft/azuredatastudio/issues/11068.

Do you find this behavior undesirable in its current state - i.e. would you rather we use separate settings for this? Or is just documenting the behavior enough?

[2020-07-28 19:50] Charles-Gagnon commented on #11561
@lucyzhang929 FYI

[2020-07-28 20:01] BobPusateri commented on #11561
Hi @Charles-Gagnon - I don't find the behavior undesirable, I just figure it might be worth documenting. In my mind, the time it takes to delete a header row if I don't want it is trivial. And if I require anything more customized, I'd be generating the file with something else as opposed to saving results from ADS.

This came up because I received a question about headers not appearing in Excel f

[2020-07-28 20:09] #11453 closed

[2020-07-28 21:55] yualan opened #11563 "Manage packages button does not open"
- Azure Data Studio Version: 1.21.0-insiders

Steps to Reproduce:

1. Open notebook
2. Switch kernel to Python
3. Try to click manage packages

Manage packages dialog should open.

[2020-07-28 21:59] Charles-Gagnon opened #11564 "Saving Text Editors defaults to txt"
Insiders/main

![image](https://user-images.githubusercontent.com/28519865/88726611-eae0aa80-d0e2-11ea-8e0d-34311b884d3e.png)

[2020-07-28 22:00] Charles-Gagnon commented on #11564
@MaddyDev @chlafreniere FYI

[2020-07-28 22:18] #11461 closed

[2020-07-28 22:47] alanrenmsft commented on #11553
for this particular issue, the ... button is not meant to be a button with expanded/collapsed state. it is just providing an extra way to open the context menu. closing as won't fix.

[2020-07-28 22:47] #11553 closed

[2020-07-28 22:47] alanrenmsft commented on #11553
dupe of #10650

[2020-07-28 23:09] Charles-Gagnon commented on #11563
I actually ran into this now while working on something else - will take a look here since I'm already in the area.

[2020-07-29 00:56] #11552 closed

[2020-07-29 00:58] alanrenmsft commented on #11552
the action is not meant to be a toggle button with a state, I've renamed it to Show Actions.

[2020-07-29 06:46] chlafreniere commented on #11564
I'm guessing this is related to https://github.com/microsoft/vscode/pull/102100/files. This also affects query editor on my machine btw, @anthonydresser

[2020-07-29 06:57] Matticusau opened #11569 "Drag and drop view names the same way we can drag and drop view columns or table names and columns"
**Is your feature request related to a problem? Please describe.**
Currently we can drag and drop Table Names and Columns. We can also drag and drop View Columns into the editor. However we cannot drag and drop the view name.

Raising this as a feature request as I know in the [July Release](https://cloudblogs.microsoft.com/sqlserver/2020/07/15/the-july-2020-release-of-azure-data-studio-is-now-ava

[2020-07-29 11:32] MayuriNaik opened #11570 "Create Accessibility Conformance Documentation"

[2020-07-29 15:00] richardtallent opened #11571 "Backslash before a single quote within a string breaks syntax highlighting"
- Azure Data Studio Version: 1.19.0

If a `\` appears within an SQL string immediately before a `'` character, all text after that string appears as if it is part of the string (*i.e.*, in dark red by default). Intellisense isn't broken, just the syntax highlighting.

This issue happens both for `\` appearing at the end of a string (where the `'` is the string terminator), or within a string where

[2020-07-29 15:14] Charles-Gagnon commented on #11571
This should be fixed with the latest stable release (1.20). Let me know if you're still seeing the issue after updating!

[2020-07-29 15:14] #11571 closed

[2020-07-29 17:28] udeeshagautam commented on #11200
Autoclsed with PR. Reopenening to track till update.

[2020-07-29 17:45] krlmlr commented on #11200
Nice, thanks! Can you share a link to the fix in DacFx? How can I use `dotnet build` without installing Azure Data Studio (e.g. in a Docker container)?

[2020-07-29 17:46] simonsabin commented on #11200
https://www.nuget.org/packages/Microsoft.SqlServer.DACFx/

[2020-07-29 18:26] kburtram opened #11573 "File Explorer viewlet is switching focus on startup"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open ADS

Expected: Viewlet focus stays on Servers viewlet

Actual: Viewlet focus is switching to File Explorer

Note: I'm only seeing this behavior when I have a folder open with a sqlproject so I think this is related to SQL Project extension.

[2020-07-29 18:28] kburtram opened #11574 "azdata error message shows up every launch on dev builds"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open ADS

Expected: No error messages

Actual: The below error message on every startup.  Please add a "Don't Show Again" option to the error message so it doesn't keep popping up.

<img width="506" alt="Screen Shot 2020-07-29 at 11 26 44 AM" src="https://user-images.githubusercontent.com/599935/88838548-91ce5080-d18e-11ea-80a3-bb90831d9

[2020-07-29 19:29] Charles-Gagnon commented on #11574
Yeah, guess people are probably going to get annoying by that. Its for a non-shipped extension so isn't something that would show up in released builds but I'll remove the error message for now and figure out a better way to handle displaying the message so it isn't a pain for dev work.

[2020-07-29 20:08] kburtram commented on #11569
@cssuh could you look at this?  seems like a reasonable request.

[2020-07-29 20:55] simonsabin opened #11576 "Passing location of NETCoreTargetsPath as linux path doesn't work"
- Azure Data Studio Version:

Steps to Reproduce:

1. resolving a full path to the /mnt/c/.....
2. run the dotnet build <project> "/p:NETCoreTargetsPath=<resolved path>"

[code]

[2020-07-29 20:59] simonsabin opened #11577 "Passing relative path to NETCoreTargetsPath doesn't work"
- Azure Data Studio Version:
Passing a relative path to the NETCoreTargetsPath doesn't work as it either can't find the targets file or can't find the dlls.  even though its the same folder

Steps to Reproduce:

1. Passing a relative path to the NETCoreTargetsPath with "../../../src/lib/BuildDirectory" doesn't resolve the targets
The imported project "C:\Users\SimonSabin\source\repos\src\lib\Build

[2020-07-29 21:04] kburtram opened #11578 "Welcome page history shows a bunch of items the shrinks on startup"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open ADS with Welcome page open and lots of items in history

Expected: History loads with a particular view and doesn't change after loading

Actual: History list shows all the items and then a second or two later reduces to a list of a few items and a "Show More" link.  The UI change after welcome page is done load is pretty noticeable

[2020-07-30 00:38] udeeshagautam commented on #11577
+ @dzsquared FYI

Thanks @simonsabin - so far we have been concentrating on build from ADS scenarios. The commandline build would need few extra steps/configs. We will try to get the steps for commandline build documented and shared soon.

[2020-07-30 00:39] simonsabin commented on #11577
Sure just wanted this logged.

[2020-07-30 00:41] udeeshagautam commented on #11576
related : https://github.com/microsoft/azuredatastudio/issues/11577.

Documentation required.

[2020-07-30 11:27] Tarig0 commented on #11480
This is also happening on windows, seems to be introduced in the last update.

Version: 1.20.1 (user setup)
Commit: fe6312306647441b30102a64bb43abb06ebcf2be
Date: 2020-07-17T02:39:41.016Z
VS Code: 1.47.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

[2020-07-30 11:29] Tarig0 commented on #11556
Can you ping your server?

[2020-07-30 12:05] riyadparvez commented on #398
This is the only thing stopping me from using data studio.

[2020-07-30 13:09] timothyhoffmann opened #11581 "Tooltip on results needs to be above icon"
Issue Type: <b>Feature Request</b>

For the tooltips on the icons on the far right of the result grids the tooltips need to be above the icon not below or else the cursor obscures the text.  I'd include a screen shot but the tooltips and cursor don't get captured.

![image](https://user-images.githubusercontent.com/28546239/88926483-0e6f3680-d244-11ea-8580-67f362bb3293.png)

Azure Data Studio vers

[2020-07-30 15:19] #11574 closed

[2020-07-30 15:36] kburtram commented on #398
Would something like the the VS Code Remote SSH extension (i.e. https://marketplace.visualstudio.com/items?itemName=ms-vscode-remote.remote-ssh#:~:text=Visual%20Studio%20Code%20Remote%20-%20SSH%20The%20Remote,and%20troubleshooting%20in%20a%20wide%20variety%20of%20situations.) be a good solution for this problem?  It provides ssh tunneling and connections would be initiated from the remote machine.

[2020-07-30 15:46] far-blue commented on #398
The VSCode remote capabilities work by starting a 'server' instance on the remote and I don't think that's really needed or generally useful in this case. All I really need is for DataStudio to automate something like:

1) Create an ssh tunnel using `ssh -L<local unused port>:<db host>:1433 <remote host>`
2) Create a db connection using `localhost:<local port from above>`

The ssh connection can b

[2020-07-30 18:18] #11375 closed

[2020-07-30 20:24] deej79 opened #11585 "Maximize Window Display Error"
We have written the needed data into your clipboard because it was too large to send. Please p
Issue Type: <b>Bug</b>

I have 2 monitors. Azure Data Studio opens in the right-hand monitor. When maximized the window does NOT extend fully to the right side of the screen, and the a thin line of the left side of the window bleeds over to the right side of the left-hand screen. This does NOT happen wit

[2020-07-30 20:34] chlafreniere commented on #10798
This will miss August, but will make September. I'll be helping out here.

[2020-07-30 20:42] alanrenmsft commented on #11576
@udeeshagautam is this an August issue? if so, could you please assign this issue?

[2020-07-30 20:46] simonsabin commented on #11576
its with https://www.nuget.org/packages/Microsoft.SqlServer.DACFx/150.4861.1-preview

[2020-07-30 20:52] #11226 closed

[2020-07-30 21:06] aasimkhan30 opened #11586 "Unable to Import simple Text/CSV file"
Issue for us - Unable to Import simple Text/CSV file
Steps taken:

- Open SQL Flat File Import Wizard
- Select Database and file to Import
- Agree with Columns and Style of data
- Click Import
- Get long error message (which I cannot copy over to here).
-
![image](https://user-images.githubusercontent.com/68856622/88551430-c3bea600-d01a-11ea-9b7d-08d6c2d9d5d7.png)

Thanks, Neil Good.

System Info

[2020-07-30 21:11] #11563 closed

[2020-07-30 21:48] aaomidi commented on #10314
Could you please try this with code grant method @ravikd744

[2020-07-30 21:50] #11573 closed

[2020-07-30 21:51] aaomidi commented on #11258
Can we close this issue now?

[2020-07-30 22:50] aaomidi commented on #11527
@NeilGoodUKABC @jotigautam What type of SQL Server are you using? What type of authentication are you using to authenticate to the SQL Server (SQL Login, AAD, etc)

Thanks!

[2020-07-30 22:57] alanrenmsft commented on #11585
@deej79 could you please share the screenshots with us?

[2020-07-31 00:18] darrenpricedcww opened #11592 "Issue when trying to open on a new install (vscode also installed)"
- Azure Data Studio Version: 1.20.1 (system install)

Steps to Reproduce:

1. Installed v1.20.1 (system install) on a server 2016 OS where vscode 1.46.1 (system install) is also installed
2. Get a black screen only when trying to open
3. After a while a prompt the window is no longer responding comes up, tried wait and reopen options but doesn't help only option is to close which terminates the pr

[2020-07-31 00:41] deej79 commented on #11585
I would be happy to, if you can suggest how. The Snipping Tool captures both screens, but doesn't really help you to see anything. The two screens are shown side by side. The "bleed" is perhaps 2-3 pixels wide, but is noticeable.

    On Thursday, July 30, 2020, 6:58:03 PM EDT, Alan Ren <notifications@github.com> wrote:

@deej79 could you please share the screenshots with us?

—
You are receiving

[2020-07-31 02:41] alanrenmsft commented on #11585
are you talking about the white line below? is so that is actually the indicator of which view is being selected
![image](https://user-images.githubusercontent.com/13777222/88994107-78b3c580-d29c-11ea-9ad0-5c22f9c3a989.png)

[2020-07-31 02:43] alanrenmsft commented on #11585
if not you can use the snipping tool to capture the problematic area, the shortcut key should be: Windows Key + Shift + S @deej79

[2020-07-31 03:46] deej79 commented on #11585
The edge of the ADS window (right screen) appears on the right side of the left hand screen, whether or not it shows a window for another app, or just the wallpaper. This never happened before, and as I said, it only happens with ADS, not any other app. The attached screen shots don't show it very well, but I guess it's a start. "Bleed.jpg" is from ADS. "NoBleed.jpg" is maximized Firefox on the ri

[2020-07-31 05:58] myusrn commented on #4904
Its more than a year since this issue was opened.  Is support for localhost or azure hosted mysql connection still not supported?

Searched extensions and not seeing any hits.

[2020-07-31 09:42] IanKemp commented on #8829
How do I get an insiders build?

[2020-07-31 13:30] ravikd744 commented on #10314
Hi Amir,

its the same error :(

[Extension Host] logFile for SqlToolsResourceProviderService.exe is c:\Users\user\AppData\Roaming\azuredatastudio\logs\20200731T092421\exthost1\Microsoft.mssql\resourceprovider.log (at Object.t.getCommonLaunchArgsAndCleanupOldLogFiles (c:\Users\user\AppData\Local\Programs\Azure Data Studio - Insiders\resources\app\extensions\mssql\dist\main.js:1:16801))
C:\Users\us

[2020-07-31 13:43] Charles-Gagnon commented on #8829
https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

[2020-07-31 15:47] Charles-Gagnon commented on #11564
This is actually a regression in vs code too - issue submitted

https://github.com/microsoft/vscode/issues/103704

It'd be fairly easy to fix ourselves if needed - but I think we should wait and see if they get back to this quickly.

[2020-07-31 16:41] Charles-Gagnon commented on #11452
Do you have the `Editor: Suggest Selection` setting set to recentlyUsed?

![image](https://user-images.githubusercontent.com/28519865/89057107-f1a13480-d311-11ea-8fba-f75166f0cad3.png)

[2020-07-31 17:06] alanrenmsft commented on #11585
@deej79 I don't see the images you mentioned, you may have to go to github.com to upload the images.

[2020-07-31 18:20] deej79 commented on #11585
Try this...

[2020-07-31 18:21] deej79 commented on #11585
Try this...

[2020-07-31 18:25] deej79 commented on #11585
Having trouble attaching the files. One more try...
![NoBleed](https://user-images.githubusercontent.com/37565278/89065427-ab5fcb80-d339-11ea-865b-03f267fbbe60.jpg)
![Bleed](https://user-images.githubusercontent.com/37565278/89065439-aef35280-d339-11ea-909e-0c342d2f31a5.jpg)

[2020-07-31 20:41] #10973 closed

[2020-07-31 20:43] udeeshagautam commented on #10981
closing for now as discussed

[2020-07-31 20:43] #10981 closed

[2020-07-31 20:46] udeeshagautam commented on #11025
Added support for relative path (https://github.com/microsoft/azuredatastudio/pull/11445). Not adding full path support since it can not work for cross plat.

[2020-07-31 20:46] #11025 closed

[2020-07-31 20:47] chlafreniere opened #11598 "Welcome Page: Open Button Text Not Visible (Light Theme)"
When using the default theme and opening the welcome page, I can't see the text in the Open button:

![image](https://user-images.githubusercontent.com/40371649/89075947-2f16b980-d334-11ea-9657-15d64ca0ca3b.png)

[2020-07-31 20:48] twright-msft opened #11599 "Need to check for azdata login context before attempting azdata-based actions"
- Azure Data Studio Version:

Steps to Reproduce:

1.Try to deploy a SQL or PG instance via the ADS deployment wizard.  If the user doesnt login via azdata login prior to running the wizard it will fail.

Version: 1.19.0-insider (user setup)
Commit: 187667f4f1f52ee5e5a4b74e9a183574d6f46273
Date: 2020-06-10T05:36:56.219Z
VS Code: 1.46.0
Electron: 7.3.0
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.

[2020-07-31 20:53] udeeshagautam commented on #11001
First set of icons added. Keeping it open to track for second set

[2020-07-31 20:54] udeeshagautam commented on #11095
closing for now since we discussed its not posisble for extns to add the contributions points for the  same.

[2020-07-31 20:54] #11095 closed

[2020-07-31 20:56] #11555 closed

[2020-07-31 20:58] udeeshagautam opened #11600 "Allow edit of Sqlproj in place and Reload"
Sql project should allow righclick open and edit of Sqlproj file and a toast notif for reload after the update.

[2020-07-31 21:04] udeeshagautam commented on #11600
related for reload : https://github.com/microsoft/azuredatastudio/issues/11047

[2020-07-31 21:04] jtlarson commented on #112
I''d also really like to see this happen and am curious about the current status...

[2020-07-31 21:44] #11482 closed

[2020-07-31 21:50] #11504 closed

[2020-07-31 22:25] rafaribe commented on #4904
Would appreciate if the devs could just shed some light if they care about such support or not. Just look at the emoji count of the first post. The community cares.

[2020-07-31 22:41] udeeshagautam commented on #11504
@kisantia should we have an item for auto increment separartely (thats not included in the PR right?)? @anjalia might have some cycles to help with that one.

[2020-07-31 22:44] kisantia opened #11601 "Auto increment project name/folder if a project with the same name already exists"
Steps to reproduce:

1. Import a sql project from a database with the default name
2. Try to import the same database project again to the same location with the default name

Actual:
Shows an error message that a project already exists at that location

Expected:
Project should be successfully created with an incremented counter appended to the folder and project name

[2020-07-31 22:46] kisantia commented on #11504
@udeeshagautam opened up #11601 to track this. It would be great is @anjalia has time to get this added :)

[2020-07-31 23:14] aaomidi commented on #112
Hey all, this is going to take a bit longer as it's not in our immediate plans. There is also some technical stuff we need to figure out to get this working with the best possible experience.

These technical discussions are happening concurrently with the work we're doing for the rest of the project.

Please use the emoji responses to show interest in this as that makes it easier to push this one

[2020-07-31 23:43] udeeshagautam commented on #10979
ref: https://github.com/microsoft/azuredatastudio/issues/11105

[2020-08-01 00:11] barbaravaldez opened #11602 "Remote Book Version Picker Doesn't Work on Mac"
- Azure Data Studio Version:
Version: 1.21.0-insider
Commit: 4f58f53e57011abe6f7c2782d4b87e08507545e7
Date: 2020-07-31T05:50:30.617Z (18 hrs ago)
VS Code: 1.48.0
Electron: 9.1.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.5.0

Steps to Reproduce:

1. Click on more option on the Notebooks Viewlet section.
2. Add Remote Jupyter Book
3. Select a book from tiger

[2020-08-01 03:07] #11492 closed

[2020-08-01 04:22] alanrenmsft commented on #11585
@deej79 Thanks for the screenshots, do you experience the same thing with VSCode?

[2020-08-01 04:57] deej79 commented on #11585
I tried VS Code maximized on either monitor -- no problem. I tried ADS on the left monitor -- the same problem (but reversed -- right edge of left monitor max window bleeds over to right monitor).

    On Saturday, August 1, 2020, 12:22:41 AM EDT, Alan Ren <notifications@github.com> wrote:

@deej79 Thanks for the screenshots, do you experience the same thing with VSCode?

—
You are receiving this

[2020-08-01 20:45] Charles-Gagnon commented on #11599
@twright-msft Yup - this is part of the work I'm doing for the azdata extension. Should have some sort of experience for the August release.

[2020-08-02 15:43] shpsyte opened #11605 "SSL Handshake failed with OpenSSL error - SSL_ERROR_SSL."
- Azure Data Studio Version:
Version: 1.20.1
Commit: fe6312306647441b30102a64bb43abb06ebcf2be
Date: 2020-07-17T02:31:21.317Z
VS Code: 1.47.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Linux x64 5.4.0-42-generic

Hi, I know that is not a specific problem from AzureDataStudio, but I couldn't find the solution in the specific forum, maybe you export guys can h

[2020-08-02 16:56] cobrow opened #11606 "Attempting to install arm64 version of Data Studio on WSL Ubuntu with error"
- Azure Data Studio Version: azuredatastudio-linux-1.20.1

Steps to Reproduce:

1. Running Windows ARM64 Build 20175
2. Download the deb build for Azure Data Studio
3. Open Ubuntu terminal running WSL version 20.04
4. Ran command to install sudo dpkg -i ./downloads/azuredatastudio-linux-1.20.1.deb
5. Received error message below

dpkg: error processing archive ./downloads/azuredatastudio-linux-1.2

[2020-08-02 19:23] shpsyte commented on #11605
Guys, I found the solution
For who is facing, just downgrade the OPENSSL to 1.1.1
PS> I am using Linux!

here What I have done:

Tks all, for who is facing the same issue:
I Just downgrade the SSL to 1.1.1 and it works.

SQL server 2008 r2 SP3 should support 1.1.1g or 1.1.1f.

Below are the instructions to follow:

1. Open a terminal (Ctrl+Alt+t).
2. Fetch the tarball: `wget https://www.openssl.or

[2020-08-02 19:23] #11605 closed

[2020-08-02 19:30] charithdilshancaldera opened #11607 "Kernel does not load properly (Need to Change to Python3 but appears to be not responding)"
- Azure Data Studio Version:

![image](https://user-images.githubusercontent.com/68316199/89130649-e105df80-d506-11ea-8898-d142f77a81f9.png)

Steps to Reproduce:

1. Install Azure Data Studios (Fresh Install)
2. Open a new notebook
3. Change the kernel to Python 3
4. Let the libraries to install

I have already checked previous similar issues, but couldn't find anything useful.

![image](https://u

[2020-08-03 07:54] circa94 opened #11610 "Null reference exception when starting profiler"
Issue Type: <b>Bug</b>

I am getting a null reference exception when starting the profiler.

Steps to Reproduce:
- right click on connected SQL server from Azure
- click Launch Profiler
- click on start in the profiler

The following message appears:
"Failed to start session: Object reference not set to an instance of an object."

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b

[2020-08-03 10:52] pete1854 commented on #11607
I have the same problem.

[2020-08-03 11:17] pete1854 opened #11611 "Changing kernel to Python 3 doesn't work"
Issue Type: <b>Bug</b>

1. Install ADS
2. Create a new Notebook
3. Change kernel to Python 3
4. Let ADS install a new instance of Python
5. Let ADS launch the notebook server w/ the previously installed python instance

The output windows shows the Notebook server is starting. But the Kernel drop-down keeps displaying "_Changing kernel..._". Clicking on "Run cell" results in a notification saying

[2020-08-03 14:34] Tarig0 commented on #11480
Just found out if I use the server name instead of an alias the connection would work

[2020-08-03 15:03] Charles-Gagnon commented on #11480
I'll close this since your problem was resolved - but what alias are you referring to? And you said sqlcmd worked - was that with the alias too?

[2020-08-03 15:03] #11480 closed

[2020-08-03 16:42] Tarig0 commented on #11480
Alias in the domain joined name of the box is x and we can connect using a different alias y. This is a work around and not a solution since this worked before.

[2020-08-03 17:02] #11258 closed

[2020-08-03 18:16] chlafreniere commented on #11607
@corivera could you help here please

[2020-08-03 18:28] chlafreniere opened #11612 "Save Book Not Showing Up on Provided Books Viewlet"
The action to save a provided book is not showing up when hovering over the root of a book. This prevents users from being able to save a provided book.

[2020-08-03 18:30] Charles-Gagnon opened #11613 "August 2020 - Release Endgame"
# August 2020 - Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.21

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

## Extensions Testing

Install the latest build of ADS from the link above.

#### E

[2020-08-03 19:24] woojamon opened #11616 "Tab Color Does Not Update When Changing Connection"
Steps to reproduce:

1. Create two server groups and set a different color for each.
2. Set `"queryEditor.tabColorMode": "fill"` in settings.
3. Click on a server in a group and open a new query. Note that the tab has the correct color.
4. Click the "Change Connection" button near the top of the tab, and change the connection to a server in the other color group.
5. The tab color does not change.

[2020-08-03 20:49] hardevs opened #11618 "Refresh account credentials and Add an account doesn't work"
- Azure Data Studio Version: 1.20.1
- OS: macOS Catalina 10.15.6

Steps to Reproduce:

1. Under CONNECTIONS, click New Connection icon
2. In Connection Details section:
- When an account is selected, clicking on "Refresh account credentials" doesn't do anything
- Selecting "Add an account..." also doesn't do anything

In either cases, I would expect browser to launch and user would need to enter t

[2020-08-03 21:01] IvanAlekseev commented on #11493
Any update on this one? I have the same issue in stable version. Tried latest insiders build and got this error:
[code]

[2020-08-03 21:12] MsSQLGirl opened #11619 "ML Extension - PREDICT sql script formatted for readability"
**Is your feature request related to a problem? Please describe.**
The PREDICT function is not preformatted, making it hard to read.

**Describe the solution or feature you'd like**
SQL Keywords should be in capital.
Indentation to make it easier to read.
Here's an example:
[expected_predict_format.txt](https://github.com/microsoft/azuredatastudio/files/5018600/expected_predict_format.txt)

**Desc

[2020-08-03 21:28] corivera commented on #11607
@charithdilshancaldera Is there any additional output after the start notebook command in the output, or does it just hang after that point without any additional info?

[2020-08-03 21:45] MsSQLGirl opened #11622 "ML Extension - PREDICT capability creates 2 duplicate tabs of the SQL file"
- Azure Data Studio Version:
Version: 1.20.1 (user setup)
Commit: fe6312306647441b30102a64bb43abb06ebcf2be
Date: 2020-07-17T02:39:41.016Z
VS Code: 1.47.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

ML extension:
v0.2.1

Steps to Reproduce:

1. Connect to Azure SQL MI to navigate to Make Prediction with ML Extension dashboard.
2. Us

[2020-08-03 22:00] MsSQLGirl commented on #10484
Which columns are these referring to? Which capability?

[2020-08-03 22:02] #10359 closed

[2020-08-03 22:05] llali commented on #10484
@MsSQLGirl  in the last page of predict wizard. user has to map the table column with model inputs. we're not validating the mapping correctly

[2020-08-03 23:08] ariscol opened #11627 "More control over the Save-Results-As-File experience"
One task I perform frequently is to run a query that produces many result sets, and I need to save each result set as a .csv. Every time I save a given result set as a csv, the resulting csv is opened within Azure Data Studio as a new tab, and I'm given a toast popup (notification) which feels redundant and the toast itself is in the way of my result pane when I go back to save the subsequent resu

[2020-08-03 23:17] kenvanhyning commented on #11466
In the future - please add screenshots for issues like this.  Much quicker to assess impact during triage.  Thanks!

[2020-08-03 23:37] ranasaria opened #11628 "radio button labels do not show up on arc dc create wizard on catalina"
- Azure Data Studio Version:
Version: 1.21.0-insider
Commit: f941f9910bd481220cb8d2e944d51163731e849d
Date: 2020-08-03T05:35:46.115Z
VS Code: 1.48.0
Electron: 9.1.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.5.0

- Steps to Reproduce:

1. Fire up the 'Create New Controller' (+) button on the Azure Arc Controllers:
2. Accept the license terms and click next:

[2020-08-04 00:34] ranasaria opened #11630 "install error on a non domain joined local user windows environment"
- Azure Data Studio Version:
Version: 1.21.0-insider (user setup)
Commit: f941f9910bd481220cb8d2e944d51163731e849d
Date: 2020-08-03T05:36:14.244Z
VS Code: 1.48.0
Electron: 9.1.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

- Steps to Reproduce:

1. Log in as a local windows user account in a workgroup joined brand new windows vm.
2. Download the W

[2020-08-04 01:55] ranasaria opened #11631 "changing to python3 kernel hangs on a non domain joined local user windows vm"
- Azure Data Studio Version:
Version: 1.21.0-insider (user setup)
Commit: f941f99
Date: 2020-08-03T05:36:14.244Z
VS Code: 1.48.0
Electron: 9.1.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

- Steps to Reproduce:

1. Login into a windows hyper-v host machine. The bug was reproduced from SQLTOOLS-HEKA1
2. From Hyper-V manager right click on the host

[2020-08-04 03:58] #11612 closed

[2020-08-04 04:55] charithdilshancaldera commented on #11607
Hi Corivera,
no there is no additional output after below -

... Creating C:\Users\[Username]\AppData\Roaming\jupyter\instances\36fb4632-6e1e-4a1a-b6c0-2c8b9fa95f16
... Creating C:\Users\[Username]\AppData\Roaming\jupyter\instances\36fb4632-6e1e-4a1a-b6c0-2c8b9fa95f16\config
... Creating C:\Users\[Username]\AppData\Roaming\jupyter\instances\36fb4632-6e1e-4a1a-b6c0-2c8b9fa95f16\data
... Creating C:

[2020-08-04 06:30] sanderstad opened #11633 "Notebooks stays on status "Loading Kernels""
Issue Type: <b>Bug</b>

I have a clean Windows 10 Professional VM containing the system install of ADS.

When I try to open an existing PowerShell Notebook It keeps the status on "Loading kernels" and never finishes. This is also the case when I try to create a new Notebook.

I first though this may have been due to some delay but I waited for over an hour to see if it would time out but it would

[2020-08-04 13:15] drewfurgiuele opened #11634 "Spark notebooks on Mac broke with local python install"
Issue Type: <b>Bug</b>

Using a Mac, if I have the notebook pythin to be configured to my /usr/local install of Python 3.8, the notebook server will not load any kernels for notebooks; drop-downs are stuck on "Loading kernels..." and don't move. Using a local installed version of the built-in python interperter loads the kernels... but no PySpark jobs work.

Azure Data Studio version: azuredatastu

[2020-08-04 15:34] dcritchlow opened #11635 "Connecting to SQL Server after latest update"
Issue Type: <b>Bug</b>

The below error happens when I try to connect to SQL Server. This didn't happen until the latest update.

Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: HTTP Provider, error: 0 - )
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(

[2020-08-04 15:52] Charles-Gagnon opened #11636 "Data Virt validation isn't working for Oracle SID field"
Able to leave the page without having anything entered in.

[2020-08-04 17:20] chlafreniere commented on #11436
Thanks, we've looked into this and this is related to how we render tables. Work is ongoing here.

[2020-08-04 17:25] kenvanhyning commented on #11636
IIUC, the wizard works okay as long as a value is entered properly then?  If so, we can move this to September.

[2020-08-04 17:31] chlafreniere commented on #11560
This is a vscode issue if you don't like the existing keyboard shortcut. But items can be collapsed/expanded using the spacebar.

[2020-08-04 17:31] #11560 closed

[2020-08-04 17:33] chlafreniere commented on #11607
If you take the command (port + token aren't necessary) and paste it into a command prompt, would you mind pasting the output?

`"C:\Users[Username]\azuredatastudio-python\0.0.1\python.exe" "c:\Users[Username]\AppData\Local\Programs\Azure Data Studio\resources\app\extensions\notebook\resources\pythonScripts\startNotebook.py" --no-browser --no-mathjax --notebook-dir "c:\Users[Username]"`

[2020-08-04 17:34] chlafreniere commented on #11611
This is a dupe of #11607. Tracking the issue there.

[2020-08-04 17:34] #11611 closed

[2020-08-04 17:34] chlafreniere commented on #11631
Dupe of #11607.

[2020-08-04 17:34] #11631 closed

[2020-08-04 17:36] Charles-Gagnon commented on #11636
I'm still working on doing that validation - but yes it should.

Can we at least see what the fix is? I'm worried this is going to affect other dialogs that use required fields as well which could end up causing lots of issues.

[2020-08-04 17:51] #11578 closed

[2020-08-04 18:08] abist opened #11640 "CMS: System Databases and master shown twice"
The `master` database and the `System Databases` folder shows up twice when expanding the CMS servers.

![Screen Shot 2020-08-04 at 11 06 18 AM](https://user-images.githubusercontent.com/6411451/89328770-ba4cc380-d642-11ea-88d0-a73d16bc0fc0.png)

[2020-08-04 18:09] chlafreniere commented on #11633
Dupe of #11607. We're investigating currently.

[2020-08-04 18:09] #11633 closed

[2020-08-04 18:16] abist opened #11641 "Data Explorer incorrectly shows context menu action"
The context menu actions in the Data Explorer (Not Object Explorer) incorrectly shows the `Properties` context menu action, when it's not shown in the Object Explorer:

Context Menu for Object Explorer -

![Screen Shot 2020-08-04 at 11 11 20 AM](https://user-images.githubusercontent.com/6411451/89329139-452dbe00-d643-11ea-95cd-1a40ccc27469.png)

Context Menu for the same table in CMS -
![Screen Sh

[2020-08-04 18:24] alanrenmsft commented on #11366
@v-bbrady please port this to the release branch.

[2020-08-04 18:25] alanrenmsft commented on #11598
@v-bbrady are you working on this one?

[2020-08-04 19:21] udeeshagautam commented on #11200
Build is fixed for Linux with latest insiders build (extension version 0.1.2).
For using command line build will document and share the steps soon.

[2020-08-04 19:22] leewilson86 commented on #5173
I am getting this issue as well. And it's not just on small databases and elastic pools, but even ones with 20 vcores, and pretty much zero traffic going to them.

This looks like a bug within the application

[2020-08-04 19:35] paulgbrown commented on #11436
Thanks, Chris!

[2020-08-04 20:28] kburtram commented on #11493
@aaomidi do you know what's happening in this situation?

[2020-08-04 20:39] kburtram commented on #11493
Approved for shiproom for August pending a fix.

[2020-08-04 20:42] kburtram commented on #11607
Approved in shiproom

[2020-08-04 20:43] aaomidi commented on #11493
@IvanAlekseev which authentication method were you using? The one that opens up a browser page and logs you in or the one that you need to paste a code into the browser page?

[2020-08-04 20:49] kburtram commented on #11641
Approved in shiproom

[2020-08-04 20:54] kburtram commented on #11618
@aaomidi do you know what could be happening in this scenario?

[2020-08-04 20:59] alanrenmsft commented on #11598
@v-bbrady it does repro for me on Mac. BTW, you can ask your questions in the issue so that everyone knows you are working on it.

[2020-08-04 21:17] IvanAlekseev commented on #11493
@aaomidi the one that opens browser window. I am logging in and this is the error I see in the end
![image](https://user-images.githubusercontent.com/23052247/89345827-fc582280-d69f-11ea-8802-f160927aa7f3.png)

[2020-08-04 21:52] aaomidi commented on #11493
Hmm that's weird, can you go to Help -> Toggle Developer Tools to see if you see any extra errors or information?

You can also go to Settings -> Enable PII Logging and turn that to on, that will print out the raw responses we get from Microsoft's OAuth servers.

[2020-08-04 23:15] alanrenmsft opened #11644 "Connection dialog - some fields are not accessible when the window height is not enough"
as shown in the screenshot below, some fields and the advanced button are not accessible since no scroll bar is present.

![image](https://user-images.githubusercontent.com/13777222/89354349-77ecac00-d66d-11ea-8c2b-d00b16a505b1.png)

[2020-08-04 23:23] MsSQLGirl opened #11645 "Ability to copy a query and result set for sharing in email or other form of communication"
**Is your feature request related to a problem? Please describe.**
I need to share a query and it's results easily with my team members that I'm working to troubleshoot things.
This is also "logging" the steps that I've done to do for mitigation.

**Describe the solution or feature you'd like**
There are two options to do this:
1. As a user, I can create a notebook easily with the query and run it

[2020-08-04 23:35] alanrenmsft commented on #11644
this issue has been there for a very long time, I guess this is not really a August release candidate.

[2020-08-05 00:21] #11602 closed

[2020-08-05 00:23] MsSQLGirl opened #11647 "Ability to easily view and select + copy text from long cells in result grid"
**Is your feature request related to a problem? Please describe.**
When I'm troubleshooting / performing some data analysis (especially log related), one of the columns usually can be quite verbose. The current view by default is minimized (which is OK). But at times, I need to expand to view the text of the particular cell (scanning), and then once I found the cell with the info, I need to copy s

[2020-08-05 00:23] MsSQLGirl commented on #11647
Note: this is applicable to both notebooks and general query result grid.

[2020-08-05 00:31] chlafreniere commented on #11607
We've identified this as an issue relating to the `notebook` python package. There was a recent update earlier this week which ended up breaking the ability for us to detect when a Jupyter server was running. We're working on a fix for this issue.

In the meantime, @charithdilshancaldera and @pete1854 if you do the following, it should allow you to work around this issue:

First, identify the full

[2020-08-05 00:49] #11374 closed

[2020-08-05 02:35] alanrenmsft opened #11651 "implement the category filtering in extension view"
<img width="679" alt="Screen Shot 2020-08-04 at 7 33 49 PM" src="https://user-images.githubusercontent.com/13777222/89365488-9496dd00-d689-11ea-87d4-67f9bdbf62ed.png">

[2020-08-05 06:49] sanderstad commented on #11607
@chlafreniere I have executed the command you mentioned and this was the result

![image](https://user-images.githubusercontent.com/6154981/89380822-7d430880-d6f8-11ea-98a6-4f569feddb7e.png)

After restarting ADS I was able to open an existing PowerShell Notebook

[2020-08-05 07:45] simonsabin commented on #11200
Just updated to the latest bits in ADS insiders and the extension updated to 0.1.2 but I still get the error.

c:\Users\SimonSabin\source\repos\template.sql\src\TemplateProject.Db\obj\Debug\TemplateProject.Db.dll : Build error SQL72025: The referenced assembly C:\USERS\SIMONSABIN\SOURCE\REPOS\TEMPLATE.SQL\SRC\TEMPLATEPROJECT.DB\OBJ\DEBUG\TEMPLATEPROJECT.DB.DLL is corrupt or not valid.

Creating a

[2020-08-05 08:11] krlmlr commented on #11200
@udeeshagautam: It would be great to understand command line build and also to know the upstream repository of the source code that is responsible for the errors. Ultimately I want to run `dotnet build` in a Docker container; I'm working around by copying assemblies from Azure Database Studio into the project, there must be a better way.

[2020-08-05 09:52] pete1854 commented on #11607
Thanks @chlafreniere - this worked for me. Kernel changed successfully.

[2020-08-05 11:48] mikewo commented on #8589
Any chance this is going to be be added?

[2020-08-05 11:58] aperally opened #11652 "Silent/Very Silent Install with system installer results in application opening after installation"
Hi, I know this is known as issue #549 and it's supposed to be fixed, I'm experiencing the same behavior with version 1.20.1 of the system installer. The parameters I'm using are /SP- /VERYSILENT /LOG:AzDataStudioLog.log

[2020-08-05 14:52] minoseah629 commented on #11635
@dcritchlow:
go to your connection and click the advanced option:

![image](https://user-images.githubusercontent.com/1980068/89427782-a1f3ac00-d709-11ea-8adb-1fcecffaaf83.png)

the comment link below has the rationale of the solution if you're curious:
https://github.com/microsoft/azuredatastudio/issues/11367#issuecomment-660102782

[2020-08-05 16:30] IvanAlekseev commented on #11493
@aaomidi this is what I get in release version:
[code]

[2020-08-05 16:37] udeeshagautam commented on #11200
@simonsabin as of now this is the change is made only for Linux because by default Linux is the case-sensitive file system. From the error you shared it seems like you are using Windows. However for MAC and Windows with default settings, file paths are case insensitive and hence the all caps path should not affect build. Can you please share more around if you are using any specific case sensitive

[2020-08-05 16:38] udeeshagautam commented on #11200
@krlmlr sure we will document the same. Regarding the build error on linux, are you still getting the same?

[2020-08-05 16:39] simonsabin commented on #11200
We’ve been testing with wsl and thus that’s making the directories case sensitive.

Wonder why the change hasn’t been made for all?

How are you detecting linux?

Simon Sabin

________________________________
From: Udeesha Gautam <notifications@github.com>
Sent: Wednesday, August 5, 2020 5:37:30 PM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Simon Sabin <Simon@sabin.io>;

[2020-08-05 16:40] ChristopherTotty commented on #8792
And for those on Mac, the folder is:
/Users/username/Library/Application Support/azuredatastudio/Backups/number/untitled

[2020-08-05 16:50] simonsabin commented on #11200
Also tried direct on wsl using pwsh core and it doesn’t work.

Simon Sabin

________________________________
From: Simon Sabin <Simon@sabin.io>
Sent: Wednesday, August 5, 2020 5:39:47 PM
To: microsoft/azuredatastudio <reply@reply.github.com>; microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [microsoft/azuredatastudio] Database Pro

[2020-08-05 16:51] Charles-Gagnon opened #11653 "Show/Hide preview state for MD cells isn't consistent"
1. Create text cell
1. Click edit to go into edit mode. Preview mode should be enabled and clicking the Show/Hide preview button works as expected
1. Hide the preview
1. Exit edit mode
1. Enter edit mode again

Expected : Either preview mode is remembered for future edit sessions or the button is correctly reset when starting new edit session

Actual : Preview mode is enabled but button still show

[2020-08-05 17:11] udeeshagautam commented on #11200
Thanks @simonsabin for the details. Will share an update soon.

[2020-08-05 17:14] aaomidi commented on #11493
Can you enable PII logging and test this again? It should give you more specifics on the error.

[2020-08-05 17:15] #11644 closed

[2020-08-05 17:17] yualan commented on #8589
Hi Mike, we have some discussions internally with the Azure Monitor team, but no hard commitments at this time. I'm optimistic that there may be some interesting integration points.

@MsSQLGirl may have more context.

[2020-08-05 17:38] minoseah629 opened #11654 "Add server objects to file picker"
**Is your feature request related to a problem? Please describe.**
In VS Code, user can hit control+p to quickly search for the files.

![image](https://user-images.githubusercontent.com/1980068/89439009-90b19c00-d717-11ea-9629-525d745754c6.png)

Also in VS Code, user can type in left panel and it searchs for file matching search criteria like below:

![image](https://user-images.githubusercontent

[2020-08-05 17:42] alanrenmsft opened #11655 "Second level pop out menu disappearing after 2 seconds on Windows"
reproes on Insider as well as RC builds

as shown in the following screenshot, the Views pop out will disappear after 2 seconds.
![image](https://user-images.githubusercontent.com/13777222/89445262-c0f13e80-d707-11ea-9aa5-ecc944b54dee.png)

[2020-08-05 17:45] Charles-Gagnon commented on #11654
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052

[2020-08-05 18:00] MaddyDev opened #11657 "Relative links on markdown doesn't work"
- Azure Data Studio Version: 1.21.0-rc1

Steps to Reproduce:

1. Open TSG book from Provided books pane in Notebooks viewlet
2. From any preview markdown, open any link, instead of opening the file in the editor it opens opens it in file explorer viewlet.

[2020-08-05 18:20] barbaravaldez commented on #10896
Hi @mikelawell, I tried to repro this issue using markdown relative links in Notebooks but it seems to be working fine. So, I just wanted to clarify does this issue happens on Notebooks or Books?

[2020-08-05 18:25] #11466 closed

[2020-08-05 18:50] alanrenmsft commented on #11598
@v-bbrady please only close the issue when the fix is ported to the release branch. thanks

[2020-08-05 19:55] cnshenj commented on #9424
This happens way too often.

[2020-08-05 20:15] aaomidi opened #11662 "Dropdowns in firewalls look weird"
![image](https://user-images.githubusercontent.com/1465785/89459623-cb1e3780-d71d-11ea-9391-5421ee8550dd.png)

[2020-08-05 20:27] aaomidi commented on #11618
@hardevs Could you please try with the latest insiders build: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

[2020-08-05 20:34] Charles-Gagnon commented on #11662
Approved in shiproom

[2020-08-05 20:36] Charles-Gagnon commented on #11657
Approved in shiproom

[2020-08-05 20:43] #11499 closed

[2020-08-05 20:49] Charles-Gagnon commented on #11655
Shiproom approved

[2020-08-05 20:50] #11607 closed

[2020-08-05 21:00] Charles-Gagnon commented on #10896
Closing this one as a duplicate of #11657

[2020-08-05 21:06] chlafreniere commented on #11607
Thanks for confirming, @sanderstad and @pete1854. We have a fix for this in the insiders build today (i.e. so users won't need to run these commands). We'll have this fix in the next (stable) release as well later this month.

[2020-08-05 21:07] chlafreniere commented on #10896
I was incorrect here; this affects text cells instead of markdown files, which use slightly different code paths. Reopening.

[2020-08-05 21:07] minoseah629 commented on #11654
@Charles-Gagnon, this issue you mentioned does not say anything about putting in the control + p thing is.  i dont know what to call this control.

[2020-08-05 21:22] Charles-Gagnon commented on #11654
What are you suggesting that should do? Because as you mentioned it does currently search for files open in the workspace/folder. Is there further enhancement to that picker that you'd like to see?

[2020-08-05 21:57] minoseah629 commented on #11654
I assume the OE Tree View is this left panel:
![image](https://user-images.githubusercontent.com/1980068/89467276-434b2400-d743-11ea-9ccf-9b46e70dd675.png)

thats good.

but I asking to have the same features in the control + p :
![image](https://user-images.githubusercontent.com/1980068/89467532-c10f2f80-d743-11ea-82a9-09f9e3deef6f.png)

the control + p feature specifically currently does files.

[2020-08-05 22:09] kisantia opened #11665 "Schema compare loading spinner not showing"
- Azure Data Studio Version: 1.21.0-rc1

Steps to Reproduce:

1. Do a schema compare
2. Click compare again and see that the loading spinner and loading text don't show (they show for the first comparison)

[2020-08-05 22:09] kisantia opened #11666 "Schema compare options reset button doesn't work"
- Azure Data Studio Version:  1.21.0-rc1

Steps to Reproduce:

1. Select a source and target for a schema comparison
2. Click on options
3. Change an option, then click Reset and see that the tables are gone
![image](https://user-images.githubusercontent.com/31145923/89468790-0aa05000-d72d-11ea-9b32-97882f94d0ab.png)

[2020-08-05 22:12] udeeshagautam commented on #11665
This is with no changes in Schema Compare Extension (reproing with old SC with latest ADS)

[2020-08-05 22:12] udeeshagautam commented on #11666
This is with no changes in Schema Compare Extension (reproing with old SC with latest ADS)

[2020-08-05 22:40] Charles-Gagnon commented on #11654
Gotcha, I updated the name for that portion of your ask as a separate issue from the OE filter. As for that one - stay tuned =)

[2020-08-05 23:57] minoseah629 commented on #11654
thanks @Charles-Gagnon .

the title just has server object.

just to be sure: does that include tables, functions, views, etc?

[2020-08-06 00:08] Charles-Gagnon commented on #11654
Yeah - "server objects" here is including all objects on a server.

Appreciate the feedback!

[2020-08-06 02:34] kburtram commented on #11662
Merged fix

[2020-08-06 02:34] #11662 closed

[2020-08-06 06:25] joepaulk opened #11673 "azure data studio is very slow (responsiveness) on macos"
- Azure Data Studio Version: Version: 1.20.1
System info (attached):
MacBook Air (13-inch Early 2015)
Processor: 1.6 GHz Dual-Core Intel Core i5
Memory: 8 GB 1600 MHz DDR3

Steps to Reproduce:

1. Try to open an azure sql database using azure ad authentication or sql authentication.
2. Then try to open three or four tabs.

[2020-08-06 06:28] joepaulk commented on #11673
![macbook-air-sys-info](https://user-images.githubusercontent.com/10821941/89498548-c468f080-d801-11ea-94e9-a982aad4c235.png)

attached the sysinfo.

I can try to add a screen capture of it later.

[2020-08-06 09:15] leewilson86 commented on #3270
Any chance this issue can be raised further. It has been an issue for coming up to two years and has spanned many versions. It is not like this is an intermittent or isolated issue to a specific version. This is a chronic issue which happens constantly.

I have multiple Azure SQL Servers with varying numbers of databases from as few as 2 up to as much as 60. And this error appears for all.

Error

[2020-08-06 10:41] sql-koala commented on #10916
Hi, you can solve this for yourself with config in keybinding.json:
[code]
For Azure DS you basically need to disable Enter key to accept (intellisense) suggestions.

[2020-08-06 11:10] benlcurrie opened #11676 "Cannot connect to AWS RDS instance"
Issue Type: <b>Bug</b>

Hi in trying to do this I get the message:

A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 35 - An internal exception was caught)

I can telnet, so it is not connectivity, I previously could connect, I recently upgraded but not sure if the issue was happening before the up

[2020-08-06 11:52] sql-koala commented on #1289
I added this to my sql snippets. It's a good workaround, imo.

[code]

[2020-08-06 13:09] RandallDW commented on #11480
Login without alias doesn't work for me neither.

[2020-08-06 13:33] harlananelson commented on #11059
Thanks.

It would also be amazing if one could mix kernels within the same notebook.

Harlan

On Mon, Jul 6, 2020 at 3:39 PM Chris LaFreniere <notifications@github.com>
wrote:

[2020-08-06 14:20] benlcurrie commented on #11676
Seems to be a cert issue?  :

[code]

Any suggestions how/where this is fixed?

[2020-08-06 17:18] kburtram commented on #11676
This error indicates the the SqlClient driver isn't able to validate the SQL Server certificate for some reason.  To resolve you should verify the certificate on the server was issues by a CA that's registered on the client machine.  Alternatively, you can try going into the Advanced options page on the connection dialog and setting the "Trust server certificate" option to True.  This page has mor

[2020-08-06 17:22] kburtram commented on #11673
@joepaulk are there any particular features or other details that can help repro?  For example, are you working with BLOBs, chart, scripts that generate large logs or many resultsets, etc?  We're planning to do some targeted perf fixes in the upcoming months, so specific details of what's slow will help prioritize fixes.  Thanks!

[2020-08-06 17:36] WebSolutionsBB commented on #11627
I thought about this enhancement before I saw your issue. A possible way to accommodate both in the context menu as follows:
Export to new window as >
    CSV
    Excel
    JSON
    XML
Save as >
    CSV
    Excel
    JSON
    XML
Make a sub menu for Export as and Save as so the context menu won't become cluttered.

[2020-08-06 17:40] ariscol commented on #11627
I like that solution.

What should be the behavior of the “Save As…” buttons to the right?
What about the question of whether a notification (and toast) should be generated when results are saved or exported?

From: WebSolutionsBB<mailto:notifications@github.com>
Sent: Thursday, August 6, 2020 11:36 AM
To: microsoft/azuredatastudio<mailto:azuredatastudio@noreply.github.com>
Cc: ariscol<mailto:aris

[2020-08-06 18:09] dsmeltz opened #11681 "AAD - Auth Type, no discernable tenant selection"
Issue Type: <b>Bug</b>

Trying to sign in to a Managed Instance and I get 3 "Default Directory" options in the "Azure AD tenant" field.  None of them work.

I would expect to see two, that are differentiated in some way.

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>S

[2020-08-06 18:11] kburtram commented on #11598
Fix in release/1.21

[2020-08-06 18:11] #11598 closed

[2020-08-06 18:11] kburtram commented on #11366
Fix in releae/1.21

[2020-08-06 18:11] #11366 closed

[2020-08-06 18:12] kburtram commented on #11564
Fixed in release/1.21

[2020-08-06 18:12] #11564 closed

[2020-08-06 18:13] kburtram commented on #11655
Waiting for vscode merge https://github.com/microsoft/azuredatastudio/pull/11674 to see if this resolves this issue.

[2020-08-06 18:17] kburtram commented on #11530
@aaomidi any ideas what's happening?  Or how to resolve?  Do you think this is fixed in the latest insiders build potentially?

[2020-08-06 18:21] kburtram commented on #11556
@Fokolee the error says the SqlClient driver can't access the SQL Server over the network.  This can have several underlying causes such as DNS, VPN or router configurations, for example.  Are you able to ping the server or access SQL Server using other tools on the client?

[2020-08-06 18:25] phampdx opened #11682 "Column editing"
Issue Type: <b>Feature Request</b>

Please provide column mode editing feature as available in VS and SSMS.

Thanks,

Khanh

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64 10.0.18363

[2020-08-06 18:29] IeuanWalker opened #11683 "Constantly trying to connect to Azure SQL server"
Issue Type: <b>Bug</b>

Failing to connect to azure SQL server through AAD MFA

Just constantly loading

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8700K CPU @ 3.70GHz (12 x 3696)|
|GPU Status|

[2020-08-06 18:33] kburtram commented on #11561
Probably changing the text for the setting description and perhaps renaming the setting makes sense here.

[2020-08-06 18:46] kburtram opened #11684 "Welcome page isn't displayed on 1st launch"
- Azure Data Studio Version: `release/1.21`
OS: macos

Steps to Reproduce:

1. Open ADS on first launch

Expected: Non-preview welcome page

Actual: No welcome page

[2020-08-06 19:30] udeeshagautam commented on #11665
@Charles-Gagnon thanks for the fix, validated in main. Since you have the fix - okay to assign the bug to you?

[2020-08-06 19:35] Datarowe opened #11686 "Closing git diff closes main file editor"
Issue Type: <b>Bug</b>

1. Open saved file from explorer
2. Open change diff on the same file from source control
3. Close change diff file
When you close the change diff, the content of the opened file in it's own tab is gone, no text editor to view. Have to close and re-open to see file contents again.

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be,

[2020-08-06 19:42] corivera opened #11687 "Enable Python kernels for notebooks on SAW devices"

[2020-08-06 20:05] lucyzhang929 opened #11689 "Intellisense decorations persist when switching languages in notebooks and query editor"
Steps to Reproduce:
1. Create new notebook in ADS
2. Add code cell
3. Type "i = 0"
4. Red squiggly line should appear underneath "="
5. Switch kernel from SQL to Python

Expected: Red squiggly line should disappear

Actual: Red squiggly line stays

[2020-08-06 20:20] kburtram commented on #8414
Merged change into SQL Tools Service to fix this issue https://github.com/microsoft/sqltoolsservice/pull/931.  The change will be picked up in the next sqltoolsservice refresh and included in September release.

[2020-08-06 20:21] #8414 closed

[2020-08-06 20:36] Charles-Gagnon commented on #11687
Shiproom approved

[2020-08-06 20:41] Charles-Gagnon commented on #11684
Shiproom approved pending triage

[2020-08-06 20:44] Charles-Gagnon commented on #11666
Shiproom approved

[2020-08-06 20:44] Charles-Gagnon commented on #11665
Shiproom approved

[2020-08-06 21:04] IvanAlekseev commented on #11493
@aaomidi just downloaded latest insiders build and here is what I get in console:
[code]

[2020-08-06 22:18] #11270 closed

[2020-08-06 22:51] udeeshagautam opened #11697 "publish project is failing with SQL login"
- Azure Data Studio Version:

Steps to Reproduce:

1. create and build a project
2. use sql login to deploy - deployment fails with following error

![image](https://user-images.githubusercontent.com/46980425/89590399-aa78df00-d7fc-11ea-9820-3a8ea37739b2.png)

[2020-08-07 01:42] alanrenmsft opened #11704 "allow extension author to provide custom search hint text for explorer widget"
for example, Kusto doesn't provide stored procedure search, but the default hint text for explorer widget under database context is: Search by name of type (t:, v:, f:, or sp:).

[2020-08-07 03:53] kburtram commented on #11684
Fix ported to release/1.21

[2020-08-07 03:53] #11684 closed

[2020-08-07 04:21] #11704 closed

[2020-08-07 06:33] Michaeljohannessen commented on #3152
Asking for the same feature, could be awesome to implement!

[2020-08-07 09:47] KhairulHabibSamaon opened #11707 "pre-login Handshake"
Issue Type: <b>Bug</b>

A connection was successfully established with the server, but then an error
occurred during the pre-login handshake. (provider: SSL Provider, error: 0 -
The wait operation timed out.)

previous version i'm ok to connect to the server. but after update lately, that server cannot login anymore while i'm login with other software it's work

Azure Data Studio version: azuredat

[2020-08-07 10:19] benlcurrie commented on #11676
Thanks @kburtram, unfortunately I'm on a mac (sorry think I negelected to mention this) and the link is for windows clients? Any idea for a Mac?

[2020-08-07 11:08] benlcurrie commented on #11676
Fixed it, downloaded the CA certs from AWS and trusted them in Keychain, not sure how this got broke in the first place though.

[2020-08-07 15:03] Charles-Gagnon commented on #11676
@benlcurrie This is due to a recent SqlClient driver update that fixed an issue with checking the server certificate. See https://github.com/microsoft/azuredatastudio/issues/11367#issuecomment-659614111 for more details.

[2020-08-07 15:21] Charles-Gagnon commented on #11707
This looks likely to be caused by https://github.com/microsoft/azuredatastudio/issues/11367#issuecomment-659614111 - please try either installing the server certificate locally or setting `TrustServerCertificate` to true in the advanced properties and see it that solves your issue.

[2020-08-07 16:01] kburtram commented on #11676
@Charles-Gagnon do you know why Trust server certificate is still required if @benlcurrie has downloaded and installed the correct CA certs?  It seems like that should be the preferred recommendation on how to resolve this issue.

[2020-08-07 16:03] Charles-Gagnon commented on #11676
@benlcurrie Can you confirm if you are still encountering this issue? I read your response to mean that you fixed it by downloading the certs and installing them (which is another way to solve the issue - TrustServerCertificates being the other)

[2020-08-07 16:05] kburtram commented on #11676
@Charles-Gagnon nevermind, I reread and it looks like installing the certs work.  That's the solution we should be recommending to users, and the bypass validation option should be a fallback if that's not possible for some reason.  Thanks!

[2020-08-07 16:05] #11676 closed

[2020-08-07 16:10] hardevs commented on #11618
@aaomidi  Insiders build works just fine.

[2020-08-07 17:19] #11452 closed

[2020-08-07 17:24] ekwc opened #11709 "After upgrade to 1.20.1, cannot connect. Error: A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: HTTP Provider, error: 0 - )"
Microsoft.Data.SqlClient.SqlException (0x80131904): A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: HTTP Provider, error: 0 - )
   at Microsoft.Data.SqlClient.SqlInternalConnection.OnError(SqlException exception, Boolean breakConnection, Action`1 wrapCloseInAction)
   at Microsoft.Data.SqlClient.TdsParser.ThrowExcepti

[2020-08-07 17:26] Charles-Gagnon commented on #11709
Try the solutions mentioned in https://github.com/microsoft/azuredatastudio/issues/11367#issuecomment-659614111 and let us know if you still encounter issues.

[2020-08-07 17:31] ekwc commented on #11709
Worked.
https://github.com/microsoft/azuredatastudio/issues/11367#issuecomment-659614111

[2020-08-07 17:31] #11709 closed

[2020-08-07 20:11] MsSQLGirl commented on #185
Need both preserved setting for the same query; and also the below.
_Templates (basic settings for charts, so when I am running 5 different queries in a notebook in a row, I don’t have to configure that chart 5 times)_

(Thanks to Ben Weissman for the suggestion too :))

[2020-08-07 20:21] Charles-Gagnon opened #11716 "Error when cancelling out of ML "Manage Packages" prompts"
1. Open dashboard
2. Navigate to Machine Learning tab
3. Click `Manage packages in database`
4. Get prompted to install packages
5. Decline (cancel) the dialog by hitting escape or clicking elsewhere

This error message shows up

![image](https://user-images.githubusercontent.com/28519865/89685231-cccc3480-d8b0-11ea-8420-5d8d3806908e.png)

Show an error message of some sort here seems fine - but t

[2020-08-07 20:37] #11199 closed

[2020-08-07 20:44] #11655 closed

[2020-08-07 20:46] #11666 closed

[2020-08-07 20:46] #11665 closed

[2020-08-07 20:50] #11687 closed

[2020-08-07 21:06] Charles-Gagnon opened #11717 "Improve logging for test failures"
We get intermittent test failures from the integration tests, but currently the error messages aren't useful enough to be able to tell exactly what went wrong from the logs themselves. We should investigate whether there's any additional information we can include in the logs to help diagnose these issues.

https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=72403&view

[2020-08-07 21:19] #11527 closed

[2020-08-07 21:29] Charles-Gagnon opened #11718 "ML Import Models using deprecated getSecurityToken"
When importing from Azure :

![image](https://user-images.githubusercontent.com/28519865/89689940-46b4eb80-d8ba-11ea-849c-9fb204557f1e.png)

https://github.com/microsoft/azuredatastudio/blob/main/extensions/machine-learning/src/common/apiWrapper.ts#L103

[2020-08-07 23:19] #10313 closed

[2020-08-07 23:47] #11522 closed

[2020-08-08 14:17] TheBigBear commented on #9836
I do have brew openssl installed and I still run into this. what do you need from me to fix this?

[2020-08-09 07:10] wsmelton opened #11725 "Allow Tasks API"
In an attempt to make ADS development tool for Azure Functions it requires that the Tasks API be available. The Azure Functions extension integrates with it for function development.

Install the extensions for Azure Account and Azure Functions and then upon trying to activate the Azure Functions explorer you see this error:

![image](https://user-images.githubusercontent.com/11204251/89726893-816

[2020-08-09 17:53] kburtram commented on #11725
@abist is currently working on enabling the vscode Tasks API and integrating with the existing ads task management functionality as part of the SQL Project build feature.  The current plan is to release this in September.

[2020-08-09 21:32] kburtram opened #11727 "Connection dialog auth controls don't reset after using AAD"
- Azure Data Studio Version: `1.21.0`

Steps to Reproduce:

1. Connect to a server using AAD
2. Try to connect to a different server

Expected: Connection dialog resets to default controls in step 2.

Actual: Auth type switches to SqlLogin (on macOS) but control for AAD account picker remains.  The username\password controls should be visible when SqlLogin auth type selected.

<img width="509" alt

[2020-08-10 01:06] KhairulHabibSamaon commented on #11707
@Charles-Gagnon thanks boss it's working

[2020-08-10 01:06] #11707 closed

[2020-08-10 06:43] #11657 closed

[2020-08-10 11:08] NeilGoodUK commented on #3626
This continues to be an issue for us as well.
SQL Version - Microsoft SQL Azure (RTM) - 12.0.2000.8
Using AAD with Universal MFA
ADS Version: 1.20.1 (user setup)
Commit: fe6312306647441b30102a64bb43abb06ebcf2be
Date: 2020-07-17T02:39:41.016Z
VS Code: 1.47.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18362

[2020-08-10 13:35] Jonathan-Quilter opened #11729 "BEGIN Keyword misplaced when using Format document"
Issue Type: <b>Bug</b>

The BEGIN in the following extract is placed at the end of the previous line when it should actually be on its own line

correct formatting
IF(SELECT Col1
    FROM table1
    WHERE Col1 ='somestring') IS NOT NULL
    BEGIN
        PRINT 'message';

        DELETE TOP(@DeleteRowCount)FROM dbo.table2
        WHERE TransactionID<=@MinTransactionID;
    END;

incorrect formatti

[2020-08-10 15:58] IanKemp commented on #11613
So, which is the latest build?

The one linked here?

Or the one linked at https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main ?

[2020-08-10 16:04] kburtram commented on #11613
@IanKemp we publish three release channels.  (1) stable builds released monthly with hotfixes as needed (2) insiders build from main branch published daily.  This is the "latest" build. (3) the release candidate build for the upcoming monthly release.  This is the build linked from this issue and is used for the purpose of test sign-off.  We create the release branch about a week prior to releasin

[2020-08-10 16:33] llali opened #11730 "ML - Azure API warning when connecting to Azure"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open import model wizard
2. select Azure to import model from Azure
3. login to azure

Expected: Subscriptions should show up successfully
Actual: ADS shows a warning "
A call was made to azdata.accounts.getSecurityToken, this method is deprecated and will be removed in future releases. Please use getAccountSecurityToken instead. "

Subscriptio

[2020-08-10 16:36] Charles-Gagnon commented on #11730
Duplicate of https://github.com/microsoft/azuredatastudio/issues/11718 😄

[2020-08-10 16:36] #11730 closed

[2020-08-10 16:40] IanKemp opened #11731 "Still failing to login to Azure via https://localhost"
- Azure Data Studio Version: 1.20.1, 1.21.0-rc1, 1.21.0-insider

Steps to Reproduce:

1. Click Azure > Sign into Azure... > Add account
2. Browser window opens at https://localhost:<some_port>/signin?nonce=<some_base64_value>
3. Nothing else happens

The fact that this is still happening, months after I reported basic usability issues with logging in to Azure (#8331) and after others have reported

[2020-08-10 17:00] ranasaria commented on #11628
This was a regression from a recent check-in. Reverting that check-in fixed this. We will revisit a proper check-in for the one that was reverted later.

[2020-08-10 17:00] #11628 closed

[2020-08-10 18:04] kburtram commented on #11731
@aaomidi any idea why the localhost auth page isn't loading?

@IanKemp have you tried using Device Code auth to add the Azure account?  I don't think that method requires opening a localhost socket.

<img width="549" alt="Screen Shot 2020-08-10 at 11 01 46 AM" src="https://user-images.githubusercontent.com/599935/89815210-39d20b00-daf9-11ea-8744-b882a4000d5a.png">

[2020-08-10 18:10] kburtram commented on #11731
@IanKemp regarding the SQL Profiler error, the issue there is connections to servers use the master database as the DB for the connection.  So when Profiler is launched from this node it tries to use master, which is blocked on Azure.  A workaround is to specify the database in the connection dialog when creating the connection and launch the profiler from this node.  I'll open a separate bug to r

[2020-08-10 18:12] kburtram opened #11732 "SQL Profiler doesn't work on Azure connections that don't specify a user database"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Create a connection to Azure SQL DB server using default database
2. Launch Profiler on this node

Expected: Profiler uses one of the user dbs for profiling, or the Launch Profiler option isn't available on the server, but is only on the actual child DB nodes.

Actual: Profiler gives error saying "Can't profile system databases"

[2020-08-10 18:42] kburtram commented on #11203
I'm not seeing this behavior on the latest builds.  Please let us know if this is still an issue on your machine?

**Example tab bar**
<img width="787" alt="Screen Shot 2020-08-10 at 11 41 09 AM" src="https://user-images.githubusercontent.com/599935/89818365-7c4a1680-dafe-11ea-86c0-6ff4eac4b32b.png">

[2020-08-10 18:42] #11203 closed

[2020-08-10 19:02] aaomidi commented on #11731
The issue here is that your browser has an HSTS tag attached to localhost, this means your browser will force localhost to load with https - and that will just fail.

If you're on edge:
- Visit edge://net-internals/#hsts
- Delete domain security policies
- Enter `localhost`

If you're on chrome, do the same thing as edge except the address is chrome://net-internals/#hsts. Other browsers have simil

[2020-08-10 19:02] #11731 closed

[2020-08-10 19:03] aaomidi commented on #11731
Please comment back if the hsts problem didn't solve your issue and we can look into it more!

[2020-08-10 19:18] alanrenmsft opened #11735 "Improve scripting service"
currently we are hard coding when the scripting actions should show up in ADS core, we need to improve the scripting service to add the ability to provide the core whether an operation is supported for a specific object type.

[2020-08-10 19:24] kburtram opened #11739 "Query editor smoke tests failing in release/1.21 builds"
Query editor smoke tests failing in release/1.21 builds.

[2020-08-10 19:29] kburtram commented on #11739
Fixed by https://github.com/microsoft/azuredatastudio/pull/11738

[2020-08-10 19:29] #11739 closed

[2020-08-10 20:06] #11718 closed

[2020-08-10 21:12] aasimkhan30 commented on #11586
@Charles-Gagnon I was able to repro the bug using AAD on import extension. This is a shipblocker.

[2020-08-10 21:50] Charles-Gagnon commented on #11586
Is this a regression with the latest stable build? If it's a shipblocker why is it in the September release milestone?

[2020-08-10 23:54] #11618 closed

[2020-08-10 23:55] aaomidi commented on #11618
This fix will be in the next version of ADS :)

[2020-08-11 00:16] kburtram commented on #11635
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/11367.  Please let us know if the issue persists after trying the mitigations mentioned in the linked bug.

[2020-08-11 00:16] #11635 closed

[2020-08-11 00:20] aaomidi commented on #11683
Could you also please try this scenario on the latest insiders version?

[2020-08-11 01:04] kburtram opened #11748 "Should remove Peek Call Hierarchy from editor context menu"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. The editor context menu has a Peek Call Hierarchy, which doesn't make sense for any of the scenarios ADS currently supports.  We should consider removing it.

<img width="646" alt="Screen Shot 2020-08-10 at 6 03 15 PM" src="https://user-images.githubusercontent.com/599935/89845668-f5b02c00-db33-11ea-93ad-85b91153129e.png">

[2020-08-11 10:45] openindustryorg commented on #1774
Could you provide an an update on the status of this issue?

Thanks for you work.

[2020-08-11 13:07] daviodassi opened #11749 "shortcut sp_help"
Issue Type: <b>Bug</b>

shortcut sp_help alt + f2 doesn´t work znymore

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-3317U CPU @ 1.70GHz (4 x 1696)|
|GPU Status|2d_canvas: enabled<br>flash_3d: en

[2020-08-11 14:36] rrmistry commented on #11725
Linking to related issue https://github.com/microsoft/azuredatastudio/issues/10370 so we can potentially close at the same time.

[2020-08-11 16:45] ymkumar commented on #10492
I am also getting the same error. I have uninstall land Installed it.

**I am unable to launch the SQL profiler though the Azure Studio and getting following error.  Any suggestions?
Unable to open 'Profiler: tcp:glpf2tmdpn.datab': Cannot set property 'actionBarContext' of undefined.**

[2020-08-11 16:56] kburtram commented on #10492
@ymkumar have you updated to the latest version of ADS and the profiler extension?  After that please try opening and\or closing any folder.  That will clear out the "open tabs" cache to and hopefully reset the bad state causing this.

[2020-08-11 16:59] Charles-Gagnon commented on #10394
Reopening this since @ymkumar is apparently running into this issue with the 1.20.1 build.

@alanrenmsft did we ever figure out what the issue was here?

@ymkumar Please include your ADS version info here for confirmation

[2020-08-11 17:00] ymkumar commented on #10394
here is the ADS version
![image](https://user-images.githubusercontent.com/22806495/89926240-6ea59700-dbb9-11ea-8fec-a8c311336b79.png)

[2020-08-11 17:03] alanrenmsft commented on #10394
@ymkumar Please follow what Karl pointed out in the other issue: https://github.com/microsoft/azuredatastudio/issues/10492#issuecomment-672090036

[2020-08-11 17:07] coolsekali opened #11753 "Extension Admin pack for SQL Server not working properly"
After installing "Admin Pack for SQL Server" extension, none of the administration options shows up on the database info page. I was able to reproduce the issue on a different machine running Windows server 2019.

Version: 1.20.1 (user setup)
Commit: fe6312306647441b30102a64bb43abb06ebcf2be
Date: 2020-07-17T02:39:41.016Z
VS Code: 1.47.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8

[2020-08-11 17:33] kburtram commented on #10394
IIRC, the issue was bad state cached by an earlier version, so the problem can repro in any future ADS build if that bad state is still cached.  Open\closing a folder should reset the "open document" cache.  Worst case, the entire application cache can be removed but that would lose all application state and revert to a "first launch" state.

[2020-08-11 17:35] kburtram commented on #11753
@coolsekali please verify that you have Preview Features setting enabled.

<img width="558" alt="Screen Shot 2020-08-11 at 10 34 08 AM" src="https://user-images.githubusercontent.com/599935/89929602-440a0d00-dbbe-11ea-9b7f-1f7c7b35df70.png">

[2020-08-11 17:39] coolsekali commented on #11753
Thank you! I have enabled the preview and it works. Thanks!

[2020-08-11 17:39] #11753 closed

[2020-08-11 18:12] alanrenmsft commented on #10394
worked with @ymkumar offline and the problem has been solved for him.

steps to resolve the issue for whoever run into this:
1. In the main menu, under "File", select 'Open Folder'
![image](https://user-images.githubusercontent.com/13777222/89932594-bd0b6380-dbc2-11ea-8928-65b0bbdc3f6a.png)
1. Pick a folder and press "Select Folder"
![image](https://user-images.githubusercontent.com/13777222/89933

[2020-08-11 18:12] #10394 closed

[2020-08-11 18:12] raudabaugh commented on #11676
Downloading and installing the certs [provided here](https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/UsingWithRDS.SSL.html) didn't help in my case. I had to set `TrustServerCertificates` to fix it. Any ideas why?

[2020-08-11 19:28] VasuBhog opened #11756 "Opened Notebook won't get the extension providers on a relaunched instance of ADS"
- Azure Data Studio Version: 1.20.1 & DEV (1.21.0)

Steps to Reproduce:

1. Create a new Notebook in ADS.
2. Close ADS and reopen and notice the notebook made in step 1.
3. The Kernels Dropdown Method in NotebookAction does not get CapabilitiesService (extension providers) and therefore would not be able to get the extensions currently installed. (This is used for Kusto Kernel work).
4. In order t

[2020-08-11 20:29] kburtram commented on #11586
Moving to September since this isn't a recent regression according to @aasimkhan30

[2020-08-11 20:58] TheBigBear commented on #11607
Had the exact same issue and the workaround of downgrading to 6.03 of notebook module worked for me too. Thanks.

[2020-08-11 21:04] #11259 closed

[2020-08-11 23:32] udeeshagautam opened #11765 "Import Db project shows in Server Dashboard toolbar and fails when using"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open the server dashboard - it shows menu item new db project
2. click it - it doesnt not ask for which DB to use and directly  prompts to create a project named "DatabaseProjetnull"
3. go through the flow with or without changing the name : fails to create project

NOTE that one from database dashboard and command pallet works fine - specifica

[2020-08-11 23:48] llali commented on #11619
@MsSQLGirl does this look correct?

DECLARE @model VARBINARY(max) = (
	SELECT model
	FROM [onnx].[dbo].[models3]
	WHERE model_id = 3
);
WITH predict_input
AS (
	SELECT TOP 1000
	CAST([pi].[CRIM] AS FLOAT) AS CRIM,
	CAST([pi].[ZN] AS FLOAT) AS ZN,
	CAST([pi].[INDUS] AS FLOAT) AS INDUS,
	CAST([pi].[CHAS] AS FLOAT) AS CHAS,
	CAST([pi].[NOX] AS FLOAT) AS NOX,
	CAST([pi].[RM] AS FLOAT) AS RM,
	CAST([pi

[2020-08-11 23:49] llali commented on #11619
<img width="424" alt="Screen Shot 2020-08-11 at 4 48 51 PM" src="https://user-images.githubusercontent.com/17187348/89960018-9ebd5c00-dbf2-11ea-966c-670ad39f3108.png">

[2020-08-12 00:59] stevenhurwitt opened #11768 "Add to Path on MacOSX"
How do you add ```azuredatastudio``` to path on mac osx? to install i just downloaded a .zip and put the application in the /Applications folder. Is there a default location the binaries/folders are stored on mac such as /bin or something?

[2020-08-12 01:08] #11765 closed

[2020-08-12 01:33] kburtram commented on #11768
@stevenhurwitt have you tried to run the "Install azuredatastudio command in PATH" command? You can access it from the command-line.

<img width="661" alt="Screen Shot 2020-08-11 at 6 32 14 PM" src="https://user-images.githubusercontent.com/599935/89965230-290cbc80-dc01-11ea-9251-12cfce7009c3.png">

[2020-08-12 01:36] kburtram commented on #11749
@daviodassi I think this shortcut can be added by installing the "SSMS Keymap" extension from the Extension Manager.  I don't think this was previously the default keymap for `alt-f2` as far as I can recall.

[2020-08-12 02:14] stevenhurwitt commented on #11768
ohhh thanks didn't realize that was literally a command in data studio! that should work

[2020-08-12 02:14] #11768 closed

[2020-08-12 05:18] davidwales opened #11769 "Results grid becomes blank when switching between many tabs"
Issue Type: <b>Bug</b>

I ran 'select top 1000 rows' for nearly 200 tables, which opened up nearly 200 tabs. Now when I switch between tabs, sometimes the data is visible, and sometimes it's not. Sometimes (but not always) the data comes back when I do something else for awhile and come back, but it goes away again when I switch tabs.

The column titles and the number of rows are visible, but the

[2020-08-12 12:33] daviodassi commented on #11749
Until previous version it has that shortcut, but in version 1.20.1 it´s gone.
I tried "SSMS Keymap" extension but I had the same issue

[2020-08-12 12:47] daviodassi commented on #11749
@kburtram
I have another computer here.
I just did the shortcut test in version 1.16.0 and it had sp_help shortcut alt+F2 working fine (without "SSMS Keymap" extension installed)
I updated for the last version 1.20.1 and it´s gone in this another machine.

Hope it helps!

[2020-08-12 13:58] botelhojj8 opened #11771 "Print the contents of SQL Notebooks"
I use SQL Notebooks for documentation of SQL processes and instruction.  It would be helpful to be able to print the contents of the SQL notebooks to PDF to place in our documentation system.

[2020-08-12 14:43] danr76 opened #11773 "Notebook change kernel Python3 not work"
Issue Type: <b>Bug</b>

Changing kernel to Python3 , just hanging nothing happens. Output:
Starting Notebook server

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8565U CPU @ 1.80GHz (8 x 1992)|
|

[2020-08-12 15:16] bentleysj commented on #11773
Same issue here., changing to any non-SQL kernel, or if already a Python Notebook, dropdown stays at 'loading kernels'. Version etc. the same. I got about 20 minutes of being able to work on a notebook after first installing, and this issue ever after. Reinstalls, changing the python environment, nothing seems to help. Searching has turned up a few previous examples of this issue being raised, but

[2020-08-12 16:27] #11613 closed

[2020-08-12 16:27] ojintoad commented on #11773
Same issue here.

![image](https://user-images.githubusercontent.com/3084796/90041363-2f4d7800-dc97-11ea-9018-a008ac9d5879.png)

[2020-08-12 16:33] ojintoad commented on #11773
Looks like a 1.21.0 update has fixed this for me, worth trying for others?

[2020-08-12 16:46] Charles-Gagnon commented on #11749
Thanks for the additional information, we made some changes to the settings recently and this got broken with that. I have a PR out to fix it - that should be in insiders in the next day or two.

[2020-08-12 18:45] aharpervc commented on #7440
I was disappointed to see that this wasn't addressed in this month's release 😢

[2020-08-12 18:48] winzig commented on #7440
I've been tracking this issue here as it's referenced in many other tickets as well: https://github.com/microsoft/azuredatastudio/issues/8867

The underlying issue, according to MSFT folks, is that the macOS version of the SQL Client driver does not have connection resiliency. Or at least, it does not work properly. The last comment on my ticket provides a bit more detail referencing where the pro

[2020-08-12 19:40] chlafreniere commented on #11773
Indeed, this is a dupe of #11607. We released a new update for Azure Data Studio (1.21.0) today, which should fix this problem.

[2020-08-12 19:40] #11773 closed

[2020-08-12 20:05] MaddyDev commented on #10500
This is by design, since we open the provided books as untitled files (they do not have a path associated with them).

[2020-08-12 20:11] chlafreniere commented on #10500
@MaddyDev the only question I would have is whether we have the ability to tease apart these concepts. Opening the file as untitled makes sense (so that users don't overwrite the original book). Can we still call the `cwd` magic with the "correct" file path in it when starting a session?

[2020-08-12 20:16] chlafreniere commented on #11607
A fix for this (i.e. not requiring the workaround with the `notebook` package) is included in our latest release (which shipped earlier today).

[2020-08-12 20:20] coltr-genebygene opened #11778 "ADS maximized window spills onto second monitor"
- Azure Data Studio Version: 1.21.0
Version: 1.21.0 (user setup)
Commit: 2413919f186f780f0193d047da3d90bb3c1e9bf6
Date: 2020-08-11T20:52:47.502Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Maximize ADS on a display in a multi-monitor setup
2. You will see that the edges of the ADS window spil

[2020-08-12 20:20] MsSQLGirl opened #11779 "Search in Notebook viewlet errored after collapse all and expand a book"
- Azure Data Studio Version:
Version: 1.21.0-rc1 (user setup)
Commit: cb1f46bfcd8620a3670284097fb56d32e602517b
Date: 2020-08-09T18:38:41.644Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Load a workspace with multiple books.
2. Perform a search in **Notebook viewlet** where the results will sh

[2020-08-12 20:21] MsSQLGirl commented on #11771
+ @joberume : FYI :)

[2020-08-12 20:27] chlafreniere commented on #11779
@MaddyDev can you take a look?

[2020-08-12 20:36] lberrocal commented on #7440
I'd just like to point out that this happens to me frequently on Windows and If memory serves right, a couple other issues that were closed as a duplicate of this one had Windows information as well. Same behavior described in here.

[2020-08-12 20:36] #11619 closed

[2020-08-12 22:42] Charles-Gagnon opened #11782 "Deployment Azure token error showing up before pages with Azure controls"
This shouldn't show up until we browse to the page with the control on it.

![image](https://user-images.githubusercontent.com/28519865/90075508-69784300-dcb2-11ea-88ed-450b7fbd2a77.png)

[2020-08-13 05:47] WisdomCorp opened #11787 "Diagram and Table Design UI"
** We would like the Diagram and Table Design UI like in SQL Server Management Studio like in Windows. **
Diagram like how we visually build relationship in Sql Server Management Studio in Windows. Thanks

[2020-08-13 07:39] MiRacLe-RPZ opened #11788 "Broken link to release archive"
- Azure Data Studio Version: 1.21.0

Steps to Reproduce:

1. https://github.com/microsoft/azuredatastudio/releases/tag/1.21.0

2. Linux TAR.GZ (https://go.microsoft.com/fwlink/?linkid=2138706)

3. curl -I "https://go.microsoft.com/fwlink/?linkid=2138706"
HTTP/1.1 302 Moved Temporarily
Location: https://azuredatastudio-update.azurewebsites.net/1.21.0/linux-x64-archive/stable

4. curl -I "https://az

[2020-08-13 08:42] Titovdwalt opened #11789 "Cannot activate extension for SQL Server Import"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open a new query
2. Connect to a database
3. press ctrl + I

It will then say "Activating Extensions" and then nothing happens

[2020-08-13 09:24] peterlukerow opened #11790 "Improve drag and drop of columns into query editor"
A while back it was requested that you implement drag/drop of tables and column into a query window to save some typing, the same way as SQL Management Studio does. Unfortunately you didn't implement the functionality as well as SSMS.

In the server explore pane, when you drill down to a specific table one of the nodes under it is "columns". I should be able to drag and drop this node on the query

[2020-08-13 13:26] arunkumargit opened #11791 "Generate script only for actions Change and Add"
- Azure Data Studio Version: 1.20.1
- Schema compare Version: v1.4.0

When we are comparing 2 schemas there are so many tables in source that are not part of target and we just want to ignore them and generate diff script only for table names that match both source and target. Is there any way to do this ?

[2020-08-13 14:04] aappddeevv commented on #1727
I just hit this on 1.21.0 which I just installed. Older version worked fine.

Older sql server version gives the error, newer ones do not.

Connecting via mssql-cli works fine for all still.

[2020-08-13 14:23] breyed opened #11792 "Completion mode"
Add a setting to enable completion mode, such that typing a space, ".", or other non-identifier characters causes the selected suggestion to be inserted. This is faster than the current approach (suggestion mode), where you have to press Tab or Enter for each completion.

In Visual Studio and SSMS, there is a toggle in the main menu. For Azure Data Studio, it would be fine if the choice between co

[2020-08-13 14:34] Charles-Gagnon commented on #11788
Fixed, thanks!

[2020-08-13 14:34] #11788 closed

[2020-08-13 14:43] end-user opened #11793 "Updates fail under strict security"
Issue Type: <b>Performance Issue</b>

I cannot run the auto-update as it's trying to execute under a temp directory and is being blocked by company policy.  I need a way to change the configuration, prompt to overide/elevate, or some other alternative.

Azure Data Studio version: azuredatastudio 1.20.1 (fe6312306647441b30102a64bb43abb06ebcf2be, 2020-07-17T02:39:41.016Z)
OS version: Windows_NT x64

[2020-08-13 15:52] #10694 closed

[2020-08-13 16:24] yualan opened #11794 "Support Azure Portal parameters passed into Azure Data Studio wizards"
Charles will help with passing DC create parameters into Azure Data Studio deployment dialog

[2020-08-13 16:38] IvanAlekseev commented on #11493
The same error `No access token returned from Microsoft OAuth` is now happening in the August release.

[2020-08-13 17:44] aaomidi commented on #11493
@IvanAlekseev Did you ever get a chance to turn on pii Logging in the settings?

[2020-08-13 17:55] Charles-Gagnon commented on #11789
@aasimkhan30 Can you investigate?

@Titovdwalt - If you can provide logs (details below) that'd help

[2020-08-13 18:14] #11569 closed

[2020-08-13 18:34] anjalia opened #11795 "Expand/Collapse All Nodes of a Database Project from Context Menu"
Problem:
Users would like functionality to easily view all of the subfolders and files of a database project

Suggested Improvement:
Add "Expand All" and "Collapse All" to context menu when one right-clicks on a specific database project

Need for this discussed in PR: https://github.com/microsoft/azuredatastudio/pull/11728. Related to issue #10979

[2020-08-13 18:42] alanrenmsft commented on #11197
I am not sure why nvda is not working, on Windows, we tried Narrator, and by pressing CAPS + Left/Right, I am able to navigate through all the elements, for the table, it will read row and column count as well as all the information inside it along with column and row index. general guideline we were told is we don't optimize for a particular screen reader if we are already adding all the accessib

[2020-08-13 18:42] #11197 closed

[2020-08-13 19:03] VasuBhog commented on #11197
Along with @alanrenmsft comment above. I was able to navigate to the table using VoiceOver on Mac as I was able to get through all elements of the table as well using CAPS + Right/Down Arrow keys to navigate within the table and out of the table.

![image](https://user-images.githubusercontent.com/23587151/90175048-7c4f4e00-dd6c-11ea-86fb-fd8fdcded4fa.png)
![image](https://user-images.githubuserco

[2020-08-13 19:06] chlafreniere commented on #11194
I've reached out to the accessibility team internally. I see the same behavior in a number of other apps:
- VS Code
- Edge (Chromium)
- Teams
- Notepad++

Waiting on a definitive answer from the desktop app accessibility SME, but this is the information I've been given so far:

"Electron does things a bit differently and because of the Chromium engine there are just things we can’t fix in the Elec

[2020-08-13 19:14] aappddeevv commented on #10337
I'm running 1.20 on fedora 32. I have a similar error:
[code]
I'm trying to reset the use of tls by SqlClient but perhaps that is not the issue and I've not figured out how to configure additional .net config into the azuredatastudio executable.

[2020-08-13 19:19] #11556 closed

[2020-08-13 19:45] #11749 closed

[2020-08-13 20:01] gupta1 opened #11797 "Integrate Kusto extension with main branch"
- Azure Data Studio Version:

Steps to Reproduce:

1. Integrate Kusto extension with main branch

[2020-08-13 20:02] gupta1 opened #11798 "Integrate Kusto with main branch"
- Azure Data Studio Version:

Steps to Reproduce:

1. Integrate Kusto extension with main branch

[2020-08-13 20:13] IvanAlekseev commented on #11493
@aaomidi PII is enabled
![image](https://user-images.githubusercontent.com/23052247/90182409-d3bfdf00-dda9-11ea-89ae-14d6339b9fb8.png)

And this is the first error in console
![image](https://user-images.githubusercontent.com/23052247/90182355-bf7be200-dda9-11ea-92aa-5900d057f923.png)

[2020-08-13 20:16] aaomidi commented on #11493
Huh, so the {} print before that was supposed to be the data returned from the post request... I'm honestly not sure what's causing that to break.

[2020-08-13 20:21] joberume opened #11799 "SQL language in status bar"
SQL Language status bar is present when editing Kusto query
![image](https://user-images.githubusercontent.com/52225468/90183038-b4a05d80-dd67-11ea-9065-37b3ca363064.png)

[2020-08-13 20:23] IvanAlekseev commented on #11493
Here is the internals of {}
![image](https://user-images.githubusercontent.com/23052247/90182966-a889bf80-ddaa-11ea-9add-5b678829f7bc.png)
Can it be because of zscaler proxy?
Also I am able to connect using MFA in SSMS

[2020-08-13 20:27] qifahs opened #11800 "Need "Script as Execute" option for Kusto functions"
**Is your feature request related to a problem? Please describe.**
When the current tab is not Kusto, then there is no way to open a new query window using the function as the starting point.

**Describe the solution or feature you'd like**
Add a "Script as Execute" right-click menu option to open a new Kusto query window on the function.

**Describe alternatives you've considered**
Alternative is

[2020-08-13 20:29] aaomidi commented on #11493
It could definitely be because of zscaler proxy. Essentially something is modifying the post request from Microsoft oauth's service to ADS. This could potentially be a security feature setup by your org.

The way SSMS does oauth is a little different as it's on-demand per server. We try to load in your account in ADS. Essentially a tiny bit different. They also technically use a different client I

[2020-08-13 20:33] joberume opened #11801 "Folder structure still seen"
![image](https://user-images.githubusercontent.com/52225468/90184169-8cb1f980-dd69-11ea-8614-19cc3f38d3c1.png)

[2020-08-13 20:35] IvanAlekseev commented on #11493
Thanks, I'll ask our security team to look into it. A bit more logging for that request would be nice, so I can share it with them

[2020-08-13 20:36] aaomidi commented on #11493
Yeah definitely. I'll see where I can add more logging.

Alternatively you can attach fiddler to see what are the requests being made.

[2020-08-13 20:37] joberume opened #11802 "Kusto querying gets into an unstable state"
Steps to repro
1. Click on Select Top 1000
2. Double click title bar to create a new query
3. Close new query

Two bugs:
- Original tab gets closed along the newly created tab/query
- Kusto querying is broken from thereafter, failing with the following error:
`Unable to open 'KUSTOQuery_1 -k...ft.com)': Cant modify splitview.`

Will send a gif of the problem to you in email

[2020-08-13 20:43] joberume opened #11803 "Kusto Experience: For queries with multiple results show all result tables"
Metadata tables are still being shown when a query is executed. This needs to be removed

[2020-08-13 20:45] qifahs opened #11804 "Need a provider specific management dashboard in ADS"
**Is your feature request related to a problem? Please describe.**
Users can add widgets to show up on the management dashboard. Current users have widgets backed by SQL queries. Now that we are adding support for Kusto, these widgets show up on the Kusto management dashboard and they are errored out.
![image](https://user-images.githubusercontent.com/7318752/90186576-347cf680-dd6d-11ea-9478-2343b

[2020-08-13 21:01] joberume opened #11805 "Kusto query shows layout issuse"
Perhaps due to issue shared via email with you, I get into this unstable state for querying kusto:
![image](https://user-images.githubusercontent.com/52225468/90186677-6a21df80-dd6d-11ea-8bfa-9ee41eac131b.png)

[2020-08-13 21:02] IvanAlekseev commented on #11493
@aaomidi do I need to do any specific setup for Fiddler? It doesn't capture anything from ADS
![image](https://user-images.githubusercontent.com/23052247/90186796-b0e4f900-ddb0-11ea-9023-3bb5c535d894.png)

[2020-08-13 21:10] aaomidi commented on #11493
Hmm that callback does include the proper code...

[2020-08-13 21:31] SakshiS-harma opened #11807 "Deleting an item doesn't remove it from the disk"
Steps to Reproduce:

1. Open a project.
2. Try deleting an item.
3. This deletes the item from the tree and sqlproj, but not from disk.

[2020-08-13 21:37] SakshiS-harma opened #11808 "Show warning message while trying to add an item with the same name that exists in sql proj"
Steps to Reproduce:

1. Open/Create a project
2. Add folder Folder1 and table item Table1 within Folder1.
3. Add table item Table1 at proj level (outside Folder1). It doesn't fail here, but fails at the time of Build.

[2020-08-14 01:31] #10954 closed

[2020-08-14 01:31] #10979 closed

[2020-08-14 04:46] kburtram commented on #11493
@IvanAlekseev you would need to set some environment variables prior to launching azuredatastudio to have the network traffic redirected to fiddler (for example, see http://blog.knor.net/2016/12/capture-network-traffic-in-nodejs-with-fiddler/).

[2020-08-14 06:36] IvanAlekseev commented on #11493
@kburtram @aaomidi It works now! So I went to change environment variables and found that `https_proxy` was already set to `http://127.0.0.1:9000`. I removed it, restarted ADS and I am able to connect now. And it works through fiddler as well when I set a variables as per article.
Thank you for your help!

[2020-08-14 06:40] aaomidi commented on #11493
Awesome news!

[2020-08-14 07:33] Titovdwalt commented on #11789
Hi @Charles-Gagnon, I managed to get it to work.
I restarted and then reinstalled the app (not sure if any of that was necessary).

It then showed that it was installing a few things after I pressed CTRL + I and then after a minute or so it worked!

[2020-08-14 13:29] shikhy commented on #549
Have you tried passing the response file along with the Silent/Very Silent switch?

[2020-08-14 14:52] pranshu512 opened #11814 "A11y_ApplicationInsights_WCAG_ApplicationInsightsConfiguration_Zoom: When zoomed to 400% contents on the screen gets distorted and not visible."
"[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier."
​
**Environment Details:​**
Application Name: Application Insights
Operating System: Windows 10
Visual Studio: Version 16.6.0 Preview 2.0
​
**Pre- Requisite:**
On Windows, set your display resolution to 1280x1024, then use DPI zoom to 400%.(W

[2020-08-14 15:01] pranshu512 commented on #11814
Sorry,this bug was logged in incorrect path by mistake.

[2020-08-14 15:01] #11814 closed

[2020-08-14 16:33] Matteo-T commented on #11652
I used to have the same issue, but the following sequence seems to do the trick for me:

/VERYSILENT /NORESTART /RESTARTEXITCODE=3010 /FORCECLOSEAPPLICATIONS /MERGETASKS=!runcode /LOG=...

The key element being the `/MERGETASKS=!runcode` - which I found on some "VSCode" Forum (so credit to whoever wrote that post)

[2020-08-14 17:06] aperally commented on #11652
@Matteo-T I'll try that, thanks! I'll post back here the outcome. Ti farò sapere :)

[2020-08-14 17:55] adampelah opened #11816 "Tasks widget not appearing on dashboard."
- Azure Data Studio Version:

Steps to Reproduce:

1. Connect to server.

2. Go to DB dashboard.

3. Tasks widget is not appearing, although is present in settings file.

[2020-08-14 21:42] alanrenmsft commented on #11198
@fsteffi as you mentioned this seems to be a JAWS only issue, and I don't think there is anything we can do about it. our general guideline from the Accessibility team is: there is no need to optimize for a specific screen reader as long as we are setting the accessibility related properties properly.

[2020-08-14 21:42] #11198 closed

[2020-08-14 23:13] #11262 closed

[2020-08-14 23:54] chlafreniere opened #11818 "Notebooks: Cannot read property 'layout' of undefined when rendering grid"
On insiders, seeing the following issue when executing a notebook that outputs a grid:

![image](https://user-images.githubusercontent.com/40371649/90300312-c0b31a80-de4e-11ea-8d2a-f25686a1b13f.png)

[2020-08-15 00:12] SakshiS-harma commented on #11807
Cannot repro on latest build.

[2020-08-15 00:12] #11807 closed

[2020-08-15 02:52] #11818 closed

[2020-08-15 05:22] CoolDixon commented on #3594
I do also vote for this fix!!. My workaround is to click on disconnect and connect again but it is so constant issue that is annoying
I migrated from SSMS to ADS as I like the later for everyday use leaving former only to edit SQL Agent Jobs (that ADS doesn't handle properly), but I miss this "always reconnect by itself" from SSMS

[2020-08-15 23:53] MsSQLGirl opened #11823 "Drag and drop object to a Query Window should use Kusto identifier quoting"
- Azure Data Studio Version:

Steps to Reproduce:

1. Drag & drop a table from object explorer to a Query window.

Actual:
![image](https://user-images.githubusercontent.com/6405919/90323571-cc1e4880-df17-11ea-83ce-32fd986a2e7b.png)

Expected:
`['Covid19'] | take 10`
or
`["Covid19"] | take 10`

As per documented [here](https://docs.microsoft.com/en-us/azure/data-explorer/kusto/query/schema-entitie

[2020-08-16 00:04] MsSQLGirl opened #11824 "Refresh Kusto cluster doesn't seem to reconnect properly"
- Azure Data Studio Version:

Steps to Reproduce:

1. Connect to ADX cluster in the Connections viewlet.
2. After a few minutes, try to expand the objects. It will show:
![image](https://user-images.githubusercontent.com/6405919/90323668-371c4f00-df19-11ea-8b83-8fd135156322.png)

3. Click on Refresh on the database level or the cluster level, it still doesn't seem to reconnect.

Expected: reconnec

[2020-08-16 00:24] MsSQLGirl opened #11825 "Server / cluster icon on Connections wizard should represent the server / cluster type"
- Azure Data Studio Version:

Steps to Reproduce:

Connection wizard
![image](https://user-images.githubusercontent.com/6405919/90323837-924f4100-df1b-11ea-9a9f-23ff180048fd.png)
Usability issues:
1. it's hard to tell that one of the kusto connection is using SQL vs the other one using Kusto.
2. hard to tell which one is Kusto vs SQL - it'd be good to be able to distinguish with icon cue.
3. incon

[2020-08-16 00:34] MsSQLGirl commented on #11805
Also had similar issue -
![image](https://user-images.githubusercontent.com/6405919/90323957-849abb00-df1d-11ea-99fe-7afe648d6d0f.png)

[2020-08-16 00:46] MsSQLGirl opened #11827 "Reopening Azure Data Studio with Kusto notebook didn't work"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open a Kusto notebook in ADS with some query and results.
2. Close and reopen.
![image](https://user-images.githubusercontent.com/6405919/90324062-d5f77a00-df1e-11ea-8a3a-9aab34778671.png)

Or ..
Reopen a saved Kusto notebook also causes similar issues.

[2020-08-16 00:50] MsSQLGirl opened #11828 "Output terminal shows mutiple Kusto items"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Output tab from the terminal. From the drop down list, you can see two Kusto items.

![image](https://user-images.githubusercontent.com/6405919/90324134-c593cf00-df1f-11ea-867c-ade2781e58ce.png)

[2020-08-16 00:57] MsSQLGirl opened #11829 "Saving Kusto file should be default to .kql"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open a new query with Kusto (through right click New Query from Kusto database).
2. Type some kusto query.
3. Save it.
The dialog box by default will save as .csl
![image](https://user-images.githubusercontent.com/6405919/90324211-aa758f00-df20-11ea-862a-3b63bc96d5c2.png)

Expected: .kql

[2020-08-16 00:58] MsSQLGirl commented on #11645
@joberume : FYI.

[2020-08-16 01:09] MsSQLGirl opened #11830 "After a period of inactivity on Query editor, unable to reconnect automatically"
- Azure Data Studio Version:
Version: 1.21.0
Commit: c44e2bc6104d3cfcdc4b2800d9ec56515491f988
Date: 2020-08-13T19:16:41.418Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Write a query in Kusto and then don't use it for a few minutes.
2. Come back to the query and rerun the query. You should se

[2020-08-16 14:36] mauvedeity commented on #11789
I'm also having this issue, on MacOS 10.15.6, fully patched up to date. I've followed the steps above to find the log files, but I can't see "renderer.log".

[2020-08-16 15:45] Charles-Gagnon commented on #11789
@mauvedeity

The actual filename will have a number in it - e.g. `renderer1.log`.

If you don't see that - what files do you see in that folder?

[2020-08-17 10:38] romanovmv commented on #7440
I have the same problem, raised a ticket #9170 but it's still unresolved as well.
Happens on my macOS, but I've installed ADS on my virtual machine running Windows and had the same issue.

It's working fine while I'm connecting to local SQL Servers (local I mean ping < 50ms here in Australia). Once I switch to the "remote" US or UK server with ping above 300ms - here the problem occurs. `azdata-la

[2020-08-17 15:04] #11689 closed

[2020-08-17 15:52] #11779 closed

[2020-08-17 15:57] Charles-Gagnon commented on #549
As mentioned in https://github.com/microsoft/azuredatastudio/issues/11652 `/MERGETASKS=!runcode` option. Let us know if that doesn't work.

[2020-08-17 17:09] kisantia commented on #11791
One option is to uncheck the "Drop Objects Not in Source" option so that there won't be any drops, but this will include other objects besides tables.

If this is a comparison that is done often, then another option is to unselect the changes to the tables that should be ignored, then save the .scmp file. The scmp will remember which changes were excluded when it's opened again.

[2020-08-17 18:05] cssuh opened #11832 "Switching query tabs closes both"
- Azure Data Studio Version:
![Screen Shot 2020-08-17 at 2 05 43 PM](https://user-images.githubusercontent.com/18150417/90428928-bed99900-e092-11ea-86f7-937dc6f87e71.png)

Steps to Reproduce:

1. Connect to two different DBs (I had one local DB and on Azure DB)
2. Select the 'Select Top 1000' option from one table in the local DB
3. Select the 'Select Top 1000' option from one table in the Azure D

[2020-08-17 18:07] udeeshagautam commented on #11200
Hi @simonsabin, can you please try to use the latest nsiders build for ADS and verify if the issue with caps in dll pasth is fixed for your scenario. You should only need the insiders update for ADS and same extension version (0.1.2). Please let us know if you still see the issue. Thanks for your help!

[2020-08-17 18:07] udeeshagautam commented on #11697
Fixed

[2020-08-17 18:07] #11697 closed

[2020-08-17 18:29] udeeshagautam commented on #11577
Hi @simonsabin, had a few quick questions while looking into this, can you please help with the following

1. If you are using command line directly the paths are parsed by dotnet and not ADS so it seems like dotnet is not able to understand the paths in this case. Can you please check if giving windows style (backslash paths) work. I tried the repro giving windows sytle relative paths (on windows

[2020-08-17 18:45] gupta1 opened #11833 "Add extensibility hook to add query editor commands based on data provider"
**Is your feature request related to a problem? Please describe.**
Some way for providers to register the query editor actions/commands it supports. SInce we are adding new provider "KUSTO" and would like to make ADS changes extensible enough to make it easier to add more new providers in future.

**Describe the solution or feature you'd like**
A clear and concise description of what you want to h

[2020-08-17 19:20] Jazzynupe commented on #11793
Also seeing the same issue on my laptop as well when trying to run the update through Azure Data Studio or manually through download. Would need a command line switch to change the temp directory for running this update.

[2020-08-17 20:04] MsSQLGirl opened #11834 "Inconsistent display of user defined data type on object explorer in ADS (compared to SSMS)"
- Azure Data Studio Version:
Version: 1.22.0-insider (user setup)
Commit: 3192d056f2d5545089a61f5ef6debd9382bb07c7
Date: 2020-08-17T05:37:23.730Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Create Azure SQL DB from AdventureWorksLT sample.
2. Navigate to [SalesLT].[ProductModel] in object exp

[2020-08-17 21:57] MsSQLGirl opened #11835 "Notebook: Scrolling horizontally on the editor should be visible at all times (on the bottom of the screen)"
- Azure Data Studio Version:
Version: 1.22.0-insider (user setup)
Commit: 3192d056f2d5545089a61f5ef6debd9382bb07c7
Date: 2020-08-17T05:37:23.730Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Write very long notebook and that goes beyond the screen length.
2. When editing it's hard to scroll le

[2020-08-17 22:04] halerankin commented on #11835
Screen shots?
Does the content wrap or not?

[2020-08-17 22:19] llali commented on #10516
@MEhrenmueller , I believe the issue you were seeing with server name ".\SQL2019" should be fixed. Can you please let me know if you still see it?

Thanks,
Leila

[2020-08-17 23:10] MsSQLGirl opened #11836 "DB project - need to support Miscellaneous area (to exclude folders & files from Build)"
- Azure Data Studio Version:
Version: 1.22.0-insider (user setup)
Commit: 3192d056f2d5545089a61f5ef6debd9382bb07c7
Date: 2020-08-17T05:37:23.730Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to repro:
1. Add a new folder and a new script (e.g. kql file)
2. Click on Build.. it will come up with an error.

Ask: w

[2020-08-18 00:11] #10825 closed

[2020-08-18 00:11] #10566 closed

[2020-08-18 00:11] #10572 closed

[2020-08-18 00:14] datauduong opened #11837 "Jupyter note book - SQL Collapsible/Foldable code section"
**Is your feature request related to a problem? Please describe.**
in the code section of the notebook, it does not support foldable where you have a long piece of code, it is very hard to read

**Describe the solution or feature you'd like**
In the code section
--#region this is collapsible/foldable
--#endregion
Note, this feature is currently support in Azure Data Studio, but not in the Jupyter

[2020-08-18 00:50] MsSQLGirl opened #11839 "Notebook Kernel doesn't load; and "Could not display contents: Cannot read property 'layout' of undefined" error"
- Azure Data Studio Version: (Note: This build is from @gupta1 )
Version: 1.21.0
Commit: c44e2bc6104d3cfcdc4b2800d9ec56515491f988
Date: 2020-08-13T19:16:41.418Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Open a notebook (or create a new one)
Kernel is stuck.
![image](https://user-images.gith

[2020-08-18 02:20] MsSQLGirl commented on #11839
+ @gupta1
It seems that in the build, the only way I can create a new notebook using this build is to launch it from either (a) "Manage" dashboard or (b) from right click server > New Notebook.
If I do "File" > "New Notebook" it doesn't work.

[2020-08-18 07:46] slimmingworlduk commented on #3270
Same issue on latest version with <100 databases.

[2020-08-18 08:14] Ant-Green opened #11840 "ADS 1.21.0 (User) Wont install Juypter and other Kernels, SSL error - CIS hardened hardware Windows 10"
- Azure Data Studio Version: 1.21.0 (User)

Steps to Reproduce:

1.  Install ADS on a CIS hardened Windows 10 machine
2. Open new notebook
3. Change Kernel to PowerShell
4. Follow blades to install python and Juypter etc
5.  Fails with various SSL errors

Encountered an error when trying to retrieve list of installed packages: Unexpected token C in JSON at position 85
Notebook dependencies install

[2020-08-18 12:37] NWISSQLTeam opened #11841 "Azure Data Studio Updates Corrupt Installation"
I have an issue where randomly an update will sometimes throw the error c:\program files\Azure Data Studio\azuredatastudio.exe

an error occurred while trying to replace the existing file: DeleteFile failed; code 5. Access denied.

Click Retry to try again, ignore to skip this file, or Abort to cancel installation. Every option fails and then the ADS application won't load with a similar error to

[2020-08-18 12:40] NWISSQLTeam commented on #9633
Does Triage Done mean this has now been implemented?

[2020-08-18 13:38] bweissman opened #11842 "Virtualize Data from CSV isn't working"
- Azure Data Studio Version: 1.21.0 / data virt extension: 1.7.0

Steps to Reproduce:

1. Connect to a BDC
2. Expand the HDFS and navigate to any CSV
3. run the CSV virtualize data wizard
4. just hit next on first screen
5. 2nd screen (preview) doesn't show preview and gives an error: Method not found

[2020-08-18 13:38] bweissman commented on #11842
@Charles-Gagnon  - could you look into that for me please?

[2020-08-18 15:57] RD3LE0N commented on #10337
Check this https://github.com/microsoft/azuredatastudio/issues/11367#issuecomment-659614111 this was published in the last update on official page https://docs.microsoft.com/es-es/sql/azure-data-studio/release-notes-azure-data-studio?view=sql-server-ver15

[2020-08-18 16:16] jmgnjetable commented on #11180
hi @Charles-Gagnon @aaomidi
I have experienced again the issue today following the latest update.
ADS loses my previous Azure account and when I click on add a new account, and select Code grant, a browser window opens with localhost but then nothing happens

I have made the enclosed video to illustrate.

I'd be happy to provide you with more info, let me know

[Nouvel onglet - Google Chrome 2020-

[2020-08-18 16:23] MsSQLGirl opened #11846 "Notebook newline behavior in ADS vs ADO Jupyter Preview"
- Azure Data Studio Version:
Version: 1.22.0-insider (user setup)
Commit: 3192d056f2d5545089a61f5ef6debd9382bb07c7
Date: 2020-08-17T05:37:23.730Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Create a bullet point with a new line and create a table.
ADS will show render the table properly.
ADO

[2020-08-18 16:26] MsSQLGirl opened #11847 "Notebook markdown toolbar should always be pinned on the top when scrolling"
- Azure Data Studio Version:
Version: 1.22.0-insider (user setup)
Commit: fc9d08a62bfc50596d4c5c4dba4f9567b7562908
Date: 2020-08-18T05:41:09.330Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Write a long text that wraps around. The length should exceed the app length.
2. When scrolling on the

[2020-08-18 16:27] MsSQLGirl commented on #11408
Note: this problem is exacerbated when there is a big image rendered on the preview. The editor will easily lose track of where things are at.

[2020-08-18 16:47] MsSQLGirl commented on #9282
@chlafreniere - bump 🎁

[2020-08-18 17:45] TheJY opened #11850 "ADS still shows under Data Controller node those instances that were previously deleted"
- Azure Data Studio Version:

Steps to Reproduce:

1. create a Postgres instance
2. Show it in ADS under data controller node
3. delete the instance from azdata CLI
4 refresh controller in ADS, the instance still shows up

The issue persists even after disconnecting from the Arc Data Controller and reconnecting to it.
See screenshot attached

![MicrosoftTeams-image (1)](https://user-images.githubu

[2020-08-18 18:10] TheJY opened #11851 "ADS - Jupyter notebook: Unable to open several instances of the TSG100 notebook"
- Azure Data Studio Version:

Steps to Reproduce:

1.In this example I would like to run one instance of the notebook to troubleshoot each of the Postgres instances that are deployed:
![image](https://user-images.githubusercontent.com/22226386/90549508-79c16f80-e143-11ea-8dd6-99b6ac169123.png)

[2020-08-18 18:11] aaomidi commented on #11180
Visit chrome://net-internals#hsts
Remove localhost from the HSTS list:

![image](https://user-images.githubusercontent.com/1465785/90549616-99f12e80-e143-11ea-937c-e8ecf0a9e2db.png)

[2020-08-18 18:13] chlafreniere commented on #11839
This was fixed on Friday and I verified the fix in the latest insiders build.

Dupe of #11818.

[2020-08-18 18:13] #11839 closed

[2020-08-18 18:17] TheJY opened #11852 "After deleting a server, the dashboard window for that server should be closed automatically"
- Azure Data Studio Version:

Steps to Reproduce:

After deleting a server, the dashboard window for that server is not automatically closed. It should. It may be confusing to users that the dashboards are still accessible even though the instance has been deleted.

[2020-08-18 18:19] TheJY opened #11853 "The delete instance experience in ADS should refer to an instance and not a resource."
- Azure Data Studio Version:

Steps to Reproduce:

The delete experience refers to a resource and not an instance. That may be misleading as we also have experiences - CLI - to delete shadow resources. The delete instance experience in ADS should refer to an instance and not a resource.

additional comments on https://dev.azure.com/OrcasHybrid/Dusky/_queries/query/2799498c-4c8c-4269-86b1-c99159d77

[2020-08-18 18:53] Charles-Gagnon commented on #11842
@bweissman Thanks, found the issue and am working on a fix. Will update once that's available.

[2020-08-18 19:04] abist commented on #9633
@NWISSQLTeam Triage done means that we have acknowledged this issue and have considered taking it for future releases.

[2020-08-18 19:11] udeeshagautam commented on #11836
We should have feature parity wih SSDt here. if I know correclty we added the exclude for files already. The folder exclude is still remaining.

[2020-08-18 20:04] VasuBhog commented on #11756
Fix by #11760

[2020-08-18 20:04] #11756 closed

[2020-08-18 20:05] anthonydresser commented on #11832
Can you still repro this in main? doesn't seem to be reproing for me

[2020-08-18 20:08] MsSQLGirl opened #11855 "Unable to cancel a kusto query"
- Azure Data Studio Version:
Version: 1.21.0
Commit: c4d2fc6992b0f0772346e0cbd5b2c5a1a9b007fc
Date: 2020-08-18T06:27:54.583Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Run a long running kusto query.
2. Click cancel.
You should see an error message like this:
Canceling the query failed: Erro

[2020-08-18 20:11] kburtram opened #11856 "Azure tenant drop-down isn't sized correctly with no accounts"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open Create Firewall rule dialog with no Azure accounts added

Actual: Azure tenant drop-down is not sized correctly

![image](https://user-images.githubusercontent.com/599935/90560610-39b6b880-e154-11ea-9720-74b148dc57c4.png)

[2020-08-18 20:16] kburtram commented on #11832
I can repro on today's insider build with the following.

1. Open a connected SQL editor
2. Open another connected SQL editor
3. Run a query in one editor
4. Run a query in the other editor
5. Switch back to the first editor

[2020-08-18 20:18] aaomidi commented on #11856
Huh I solved this issue a while ago hmm

[2020-08-18 20:55] anthonydresser commented on #11832
This is no longer reproing on main, I merged my table in this morning, so I might have fixed it as part of that PR, but I can verify.

[2020-08-18 20:57] anthonydresser commented on #11832
This was fixed as part of #11781

[2020-08-18 20:57] #11832 closed

[2020-08-18 21:03] chlafreniere commented on #11194
We chatted about this in accessibility office hours, and decided the following:

![image](https://user-images.githubusercontent.com/40371649/90565215-691cf380-e15b-11ea-8b77-a953558c585b.png)

This is because there is more space between items that have the separator (rather than items that don't have the separator).

[2020-08-18 21:37] MsSQLGirl commented on #11855
+ @gupta1 : FYI

[2020-08-18 23:15] MsSQLGirl opened #11860 "Alt + Z for wordwrap support in notebooks"
- Azure Data Studio Version:
Version: 1.22.0-insider (user setup)
Commit: fc9d08a62bfc50596d4c5c4dba4f9567b7562908
Date: 2020-08-18T05:41:09.330Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1. Open / create a notebook with long text cell.
2. Press `Alt` + `Z` to toggle word wrap.
Use this file f

[2020-08-18 23:16] MsSQLGirl opened #11861 "WYSIWYG – Ability to copy paste table from excel to notebook text cell"
**Is your feature request related to a problem? Please describe.**
Users want to add a selection of cells (rows x columns) from Excel to Notebook. They want the pasted data gets preformatted by notebook.

**Describe the solution or feature you'd like**
Ctrl+V to understand context and build a table markdown with the context automatically for users when pasting to text cell in Notebooks

**Describe

[2020-08-18 23:17] MsSQLGirl opened #11862 "WYSIWYG – Ability to add row/columns options while editing text cell in notebooks"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2020-08-18 23:38] #11850 closed

[2020-08-18 23:38] TheJY commented on #11850
no repro on latest build

[2020-08-19 00:36] davidancr commented on #10337
i checked and tried but the issue persist

[2020-08-19 02:45] MsSQLGirl commented on #11862
@rajeshka - feel free to add more details here in case I've missed anything on the expected experience.

[2020-08-19 02:48] MsSQLGirl commented on #11861
@rajeshka - feel free to clarify the expected experience here in case I missed anything.

[2020-08-19 02:55] MsSQLGirl commented on #11860
@rajeshka  - Feel free to add additional details, in case I've missed anything.

[2020-08-19 09:52] jmgnjetable commented on #11180
@aaomidi I have done this and now it seems that I cannot add an azure account at all in ADS, not sure if related though

the Azure ribbon keeps writing "loading..." and when I click add an account I get an error saying I need to check the settings and activate a cloud account, but it looks active to me looking at the settings?

![image](https://user-images.githubusercontent.com/67741263/90620057-4

[2020-08-19 09:55] jmgnjetable commented on #11180
nevermind! I just ticked and unticked all the options several times, restarted ADS and was able to add again my account. the locahost issue is also gone.

[2020-08-19 10:23] JonathanWilkins opened #11865 "Query History truncates query when selected"
- Azure Data Studio Version:
Version: 1.21.0 (user setup)
Commit: 2413919f186f780f0193d047da3d90bb3c1e9bf6
Date: 2020-08-11T20:52:47.502Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Select a query to execute
2. Execute query that has been selected
3. Query showing in query has been truncated

[2020-08-19 11:49] Ant-Green commented on #11840
Seems to be down to the host's not being trusted, unsure how you can force this within ADS itself, but I took the "pip" command and ran it in python outside of ADS like below and then ADS after a restart and a kernel change picked up all the stuff was installed.

Maybe an open to force the sites as trusted may be needed here.

"C:\Users\<myuser>\azuredatastudio-python\0.0.1\python.exe" -m pip inst

[2020-08-19 13:44] mahoneyl opened #11866 "[Database Support] IBM DB2"
If you want to see DB2 support in Azure Data Studio, click the thumbs up 👍 sign.

**Note:** Please keep comments to this issue focused on discussions of what you would like to see instead of +1 comments.

[2020-08-19 13:47] mahoneyl commented on #11866
There were a few threads in the past requesting DB2 support which were closed. I wanted to show there's still interest for this feature! AzureDataStudio is a great product which would make a huge impact in the DB2 world.

https://github.com/microsoft/azuredatastudio/issues/929
https://github.com/microsoft/azuredatastudio/issues/6043
https://github.com/microsoft/azuredatastudio/issues/56

[2020-08-19 14:40] chlafreniere opened #11867 "Notebook Grid Actions should be Horizontal, not Vertical"
Stable:
![image](https://user-images.githubusercontent.com/40371649/90649024-13922680-e1ef-11ea-8229-67ad123c6e63.png)

Insiders:
![image](https://user-images.githubusercontent.com/40371649/90648897-f198a400-e1ee-11ea-9eb4-995797e4de48.png)

[2020-08-19 17:30] Charles-Gagnon commented on #11842
@bweissman Could you try out https://sqlopsextensions.blob.core.windows.net/extensions/datavirtualization/datavirtualization-1.8.0.vsix and verify that it fixes your issue?

1. Uninstall current data virt extension
1. Download vsix from above
1. Manually install VSIX (File -> Install Extension from VSIX Package)
1. Reload ADS
1. Try to Virtualize from CSV

[2020-08-19 20:35] MsSQLGirl commented on #5943
+ @VasuBhog bump 🎁

[2020-08-19 20:52] #11162 closed

[2020-08-19 20:55] #10570 closed

[2020-08-19 20:55] #10569 closed

[2020-08-19 20:55] #10568 closed

[2020-08-19 21:05] Charles-Gagnon opened #11873 "AsyncServerTree - badge icons are misplaced"
![image](https://user-images.githubusercontent.com/28519865/90689489-04c66680-e225-11ea-90ae-03d5d7e1be64.png)

[2020-08-19 21:08] Charles-Gagnon opened #11874 "AsyncServerTree - Can't drag items onto root node"
Throws an error and nothing happens

[2020-08-19 21:18] #11551 closed

[2020-08-19 21:33] Charles-Gagnon commented on #8052
Filtering on the server tree has been added with https://github.com/microsoft/azuredatastudio/pull/11838 - this should be in tomorrow's [insiders build](https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main). Please try it out and let me know if you run into any issues with it!

To enable this filtering :

1. Click the tree or otherwise focus on it
2. Start typin

[2020-08-19 21:33] #8052 closed

[2020-08-19 21:35] Charles-Gagnon commented on #6963
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/8052 - this has been added and will be available in the upcoming insiders build for early testing. Feedback is appreciated!

[2020-08-19 21:35] #6963 closed

[2020-08-19 21:36] Charles-Gagnon commented on #860
Closing as a duplicate of #8052 - this has been added and will be available in the upcoming insiders build for early testing. Feedback is appreciated!

[2020-08-19 21:36] #860 closed

[2020-08-19 21:42] #11867 closed

[2020-08-19 22:43] udeeshagautam commented on #11001
@SakshiS-harma  to check for folder icon

[2020-08-19 22:47] udeeshagautam commented on #11808
Need continous model building like SSDT

[2020-08-20 06:52] bweissman commented on #11842
@Charles-Gagnon The wizard runs through but the output is wrong.

The issue is the format that's being generated (STRING_DELIMITER and FIRST_ROW, see below):

Output:

CREATE EXTERNAL FILE FORMAT [CSV]
WITH (FORMAT_TYPE = DELIMITEDTEXT, FORMAT_OPTIONS (FIELD_TERMINATOR = N',', STRING_DELIMITER = N'Some ''"''', FIRST_ROW = 1));

Desired (and previous) Output:

CREATE EXTERNAL FILE FORMAT [CSV]
WITH

[2020-08-20 07:26] #10989 closed

[2020-08-20 13:47] bestickley commented on #94
Please add!

[2020-08-20 14:59] chaotic3quilibrium opened #11881 "Enable export/import of the column definitions in "Step 3" of "The Import File Wizard"..."
**Is your feature request related to a problem? Please describe.**
I have a client who provided a tab-separated file with 132 columns and 650,000 rows. I will need to import this file manually once a month until I can build out the automated process elsewhere. The defaults provided by the wizard must be changed for almost half of the column definitions. It is exceedingly laborious to have to do th

[2020-08-20 16:01] Charles-Gagnon commented on #11842
Thanks, yeah looks like some stuff has changed with the underlying Prose discovery implementation. Investigating.

@aasimkhan30 FYI

[2020-08-20 16:46] abist opened #11883 "AsyncServerTree: Dragging and dropping a node into anything other than the editor breaks the app"
- Azure Data Studio Version: main

Steps to Reproduce:

1. Drag and drop a node from the OE to any window other than a SQL editor such as a Dashboard or Welcome Page. App breaks with the following error -
[code]

[2020-08-20 16:47] halerankin commented on #11847
@MsSQLGirl This is not a bug. It's a request to modify UI behavior. The markdown toolbar remains at top of the cell and does not stick to top of screen when content is scrolled.

[2020-08-20 16:52] abist opened #11884 "Connection Dialog - Horizontal scrollbar shown in Saved Connections Tab"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Saved Connections Tab in Connection Dialog.

Expected - No horizontal scrollbar since there's not a server name that long in the list
Actual -

![Screen Shot 2020-08-20 at 9 49 56 AM](https://user-images.githubusercontent.com/6411451/90801334-a48a0000-e2ca-11ea-9d06-5ad103b2ce68.png)

EDIT: This issue is similar to the issue about horizont

[2020-08-20 17:04] abist opened #11885 "Extensions: Marketplace extension page disable button doesn't do anything"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open the Extensions view to see installed extensions.
2. Go to the page of one of the installed extensions and click on Diable.

Expected - Either Disable button shouldn't exist in built-in extensions' pages or disable should actually disable the extension
Actual - Nothing happens

![Screen Shot 2020-08-20 at 10 03 39 AM](https://user-images.gi

[2020-08-20 17:18] abist opened #11886 "AsyncServerTree - Dragging tree items expands connection nodes as they're dragged over"
- Azure Data Studio Version:

Steps to Reproduce:

1. Place a server inside a server group.
2. Drag and drop the server out of the test group to remove it from the group.

Expected - Should be able to move a server out of a group by dragging out

Actual - Not possible now, and other servers that are hovered on while dragging, get connected to.

[2020-08-20 17:52] abist opened #11887 "Connection Dialog - Saved Connection group isn't updated"
- Azure Data Studio Version:

Steps to Reproduce:

1. Add a connection to a group.
2. Open Connection Dialog to see the Saved Connections.

Expected - Connection should be updated inside the Connection Dialog
Actual - Connection Dialog still shows the connection out of the group

[2020-08-20 18:26] Charles-Gagnon commented on #11886
From your description I believe this is a duplicate of https://github.com/microsoft/azuredatastudio/issues/11874.

I'm going to update it to refer to the dragging connection issue instead since that's a separate thing.

[2020-08-20 19:16] anthonydresser opened #11890 "Query Editor not showing correctly"
Issue Type: <b>Bug</b>

Query editor is not showing the command bar when opening a sql file.
![image](https://user-images.githubusercontent.com/4324725/90815098-fc326680-e2de-11ea-93de-1476578cd515.png)

This was caused by #11750

Azure Data Studio version: azuredatastudio Dev 1.22.0 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 10.0.18362

<detail

[2020-08-20 19:23] abist opened #11891 "Connection Dialog: Recent Connections tab unindented"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Connection Dialog.

Expected - Recent Connections should be indented as earlier.

Actual -

Before:
![Screen Shot 2020-08-20 at 12 22 52 PM](https://user-images.githubusercontent.com/6411451/90815681-ed987f00-e2df-11ea-8bec-bd756587a765.png)

After:
![Screen Shot 2020-08-20 at 12 21 13 PM](https://user-images.githubusercontent.com/6411451/

[2020-08-20 19:29] Charles-Gagnon commented on #11891
@abist I think you're missing a screenshot? Or could you explain further? I'm not seeing what issue you're referring to - the old tree wasn't indented either.

Old Tree :

![image](https://user-images.githubusercontent.com/28519865/90816238-cb533100-e2e0-11ea-896b-dee6435ae938.png)

![image](https://user-images.githubusercontent.com/28519865/90816217-c1313280-e2e0-11ea-99c5-b0cf9fd69fae.png)

[2020-08-20 19:55] cssuh commented on #11890
I am seeing this as well on the latest insiders build

[2020-08-20 20:16] chaotic3quilibrium commented on #11881
BTW, as another option, given I am already attached to a data source by Step 3, allowing me to point to an existing table from which to fetch the meta-data would also work. Offering both would be glorious. However, offering either allows for both significantly reduced surface area for introducing manual errors as well as for enabling task delegation to a less skilled user.

[2020-08-20 20:45] abist commented on #11891
Sorry if it wasn't clear, I meant the Tab Title `Recent Connections` right at the top is indented towards left and is the left-most thing in the dialog.

[2020-08-20 20:51] Charles-Gagnon commented on #11891
Ahhhh, ok @anthonydresser this is probably related to your changes for the Azure view I imagine?

[2020-08-20 21:18] hannahqin commented on #11272
Closing as duplicate

[2020-08-20 21:18] #11272 closed

[2020-08-20 21:43] abist opened #11895 "AsyncServerTree - Horizontal scrollbar in connections tree"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open User Preferences and turn "Horizontal Scrolling" to true in workbench settings.

Expected - Object Explorer tree should behave like it did earlier or show the horizontal bar only when necessary.

Actual - A horizontal scrollbar is shown no matter what. It cannot be used to drag sideways either.

![Screen Shot 2020-08-20 at 2 40 33 PM](http

[2020-08-20 21:44] abist commented on #11884
Left an edit about clearer repro

[2020-08-20 21:55] #11890 closed

[2020-08-20 22:08] cssuh opened #11896 "Inconsistent tests causing very small percentage change in test coverage results"
When PRs are created that should not impact the unit test coverage, the test coverage percentage still changes by a very small percentage due to a few inconsistent tests.

[2020-08-20 22:55] kburtram opened #11897 "Canceling Create Firewall Rule causes an error in OE"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Try to expand a SQL DB node in OE that requires creating a Firewall rule
2. Cancel the Create Firewall rule dialog

Expected: No error

Actual: Cannot read `connected` of undefined

![image](https://user-images.githubusercontent.com/599935/90833731-7f62b500-e2fd-11ea-9685-aa97e3033060.png)

[code]

[2020-08-20 22:56] kburtram commented on #11897
This is a regression since August, potentially from OE tree refactor.

[2020-08-20 23:02] kburtram opened #11899 "Create Firewall Rule dialog shows account list empty even through accounts are registered"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open Create Firewall Rule dialog with accounts registered

Expected: Accounts shown in picker

Actual: No accounts shown in picker, but tenant shows content.  Note, this doesn't reproduce consistently.

![image](https://user-images.githubusercontent.com/599935/90834062-38c18a80-e2fe-11ea-8f36-b66db19cfb92.png)

![image](https://user-imag

[2020-08-20 23:54] chlafreniere opened #11902 "Notebook Run Button should have Sticky Position"
The run button on notebook cells should have a sticky position, so that it's always visible, regardless of the cell's height.

The current behavior is the following:
![image](https://user-images.githubusercontent.com/40371649/90837055-be950400-e305-11ea-9210-279a710b1762.png)

[2020-08-21 07:15] MsSQLGirl commented on #9912
@gupta1 - I think this issue is resolved now.

[2020-08-21 07:58] jsobus-neurosys opened #11908 "No info about DB while using "Edit data" view."
**Is your feature request related to a problem? Please describe.**
While working on multiple DB connections, "Edit data" view is not showing what is the DB context used for that. That means that if I have multiple "Edit data" views opened I am not able to know for which DB connection it is used.

**Describe the solution or feature you'd like**
Add in the header of of Card info about DB or like in

[2020-08-21 16:32] dnethi opened #11909 "data controller notebook not getting generated"
- Azure Data Studio Version:

Steps to Reproduce:

1. Run through the Deploy Azure Arc data controller wizard and provide all the required values
2. Click on Script to Notebook

Expecting to see the notebook.
However, its stuck at a partially generated notebook.
screenshot below:

![image](https://user-images.githubusercontent.com/43253513/90913404-16c51800-e391-11ea-8a03-a9187a3ac8d9.png)

[2020-08-21 16:34] dnethi opened #11910 "Disable the "Direct" option during Azure Arc data controller deployment"
- Azure Data Studio Version:

Steps to Reproduce:

1. Currently we are only supporting the "Indirect" connectivity mode. So, to avoid confusion for users, lets disable the "Direct" connectivity-mode option.

[2020-08-21 18:46] llali opened #11913 "Undefined error when click on error in output channel"
- Azure Data Studio Version:

[91283:0821/114353.435627:INFO:CONSOLE(2280)] "%c  ERR color: #f33 Cannot read property 'element' of undefined: TypeError: Cannot read property 'element' of undefined
    at ErrorMessageDialog.open (file:///Users/llali-mac/work/azuredatastudio/out/sql/workbench/services/errorMessage/browser/errorMessageDialog.js:109:34)
    at ErrorMessageService.doShowDialog (file://

[2020-08-21 20:08] #11910 closed, assigned to Charles-Gagnon

[2020-08-22 00:41] MsSQLGirl opened #11923 "Notebook: Ability to persist environment / connection details and to remove them"
**Is your feature request related to a problem? Please describe.**
I want to share a troubleshooting notebook (in SQL or Kusto) with my team mate, including the results. This is so that they can see when it was run, where it was run and what the result looks like.

**Describe the solution or feature you'd like**
There are two options:
1. make the environment, connection and results part of the not

[2020-08-23 02:27] mwdarab opened #11929 "BDC Deployment Wizard - Greyed Out Next Button"
Running ADS on Windows 10 Surface Book 2.

**ADS version**:
Version: 1.21.0 (user setup)
Commit: 2413919f186f780f0193d047da3d90bb3c1e9bf6
Date: 2020-08-11T20:52:47.502Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.18363

**Steps to reproduce**:

1. Open ADS and click on Connections ellipses
2. Click on New Deployment...
3.

[2020-08-23 04:52] MsSQLGirl opened #11930 "Notebook Viewlet icon color issue for a number of Color Themes"
- Azure Data Studio Version:
Version: 1.21.0 (user setup)
Commit: 2413919f186f780f0193d047da3d90bb3c1e9bf6
Date: 2020-08-11T20:52:47.502Z
VS Code: 1.48.0
Electron: 7.3.2
Chrome: 78.0.3904.130
Node.js: 12.8.1
V8: 7.8.279.23-electron.0
OS: Windows_NT x64 10.0.19041

Steps to Reproduce:

1.Choose any of these  Color Themes:  PowerShell ISE, Queit Light, Solarized Light, Kimbie Dark, High Contrast
Act

[2020-08-23 07:28] MsSQLGirl opened #11931 "Ability to copy and paste notebook cell (both text and code cells) to another notebook / within the same notebook"
**Is your feature request related to a problem? Please describe.**
Trying to copy text cell to another notebook requires too many steps. When having to do this multiple times, it is cumbersome.
1. On the source notebook, click Edit (pencil).
2. Select all
3. Ctrl + C
4. Switch to target notebook.
5. Create a new text cell
6. Ctrl + V

Similar step for Code cell.
For copying code cell with results

[2020-08-24 07:18] bweissman commented on #11842
Works like a charm - thank you :)

[2020-08-24 07:18] #11842 closed

[2020-08-24 11:45] rishenp commented on #11105
Im trying to build a .sqlproj file, and im getting the following error:
/Users/profile/.azuredatastudio-insiders/extensions/microsoft.sql-database-projects-0.1.2/BuildDirectory/Microsoft.Data.Tools.Schema.SqlTasks.targets(586,5): Build error : .NET Core should not be using a file backed model. [/Users/profile/dev/test.sqlproj]

Any ideas?

[2020-08-24 12:59] SvenAelterman opened #11936 "After upgrading to August 2020 release, AAD accounts are gone and unable to add new one"
- Azure Data Studio Version: 1.21.0

Steps to Reproduce:

1. Have a working AAD account to connect to Azure SQL DB.
2. Upgrade to August 2020 release.
3. AAD account is missing from the servers where it was previously saved. Add Account... leads to a webpage where an SSL error occurs (as described in another issue: #11530 )

[2020-08-24 16:40] Charles-Gagnon commented on #11842
@bweissman The extension has been updated on both stable and insiders builds. I would suggest uninstalling the extension that I gave you and then installing it again from the gallery (there shouldn't be any differences but it's good to make sure you're on the "official" version)

Thanks again for helping track down this issue!

[2020-08-24 23:05] #11902 closed

[2020-08-25 01:07] #11886 closed

[2020-08-25 01:07] #11874 closed

[2020-08-25 02:01] MarcusOy opened #11948 "Option to Switch a Modal to a Tab"
**Is your feature request related to a problem? Please describe.**
I am currently using the SQL Server Import extension and the flat file import wizard is presented as a side modal. I feel that the wizard doesn't need to be modal, as I would like to consult other tabs while completing steps on the wizard.

**Describe the solution or feature you'd like**
Allow menus that open up as modals to be swi

[2020-08-25 02:16] MarcusOy opened #11949 "SQL Server Import: Modify Columns step is ignoring my edits on Azure Data Studio for macOS."
My issue is explained well with this old comment:

_Originally posted by @williamthiago in https://github.com/microsoft/azuredatastudio/issues/2090#issuecomment-509819216_

A few details about my environment:
- Version: 1.21.0
- Commit: 2413919f186f780f0193d047da3d90bb3c1e9bf6
- Date: 2020-08-11T20:51:42.148Z (1 wk ago)
- VS Code: 1.48.0
- Electron: 7.3.2
- Chrome: 78.0.3904.130
- Node.js: 12.8.1

[2020-08-25 02:22] #11860 closed

[2020-08-25 02:37] MarcusOy commented on #11949
Contributers, please change label from `Area - Edit Data` to `Area - SQL Import`.

[2020-08-25 05:23] yooakim opened #11950 "Property - Connection String"
It would be great if one could find the current connection string for a database and copy it to the clipboard.

As a developer I frequently need to find the connection string for a database.

In Visual Studio I can right click a connection and find the connection string via the Properties for an open database like shown here:
<img width="354" alt="property-connection-string" src="https://user-imag

[2020-08-25 12:23] fsteffi commented on #11194
Closing the bug as per the above comment and logging the same bug as a usability bug

[2020-08-25 12:23] #11194 closed

[2020-08-25 12:27] fsteffi opened #11951 "A11y_AzureDataStudioStayHealthy_Notebook_Toolbar_Usability: The separator color contrasts is below 3:1"
["Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

**GitHubTags:**#A11y_AzureDataStudioStayHealthy;#A11yTCS;#A11yUsable;#Benchmark;#DesktopApp;#SQL Azure Data Studio;#FTP;#ColorContrast;#A11ySev4;#Win32;

**Environment Details:**
Application Name: Azure Data Studio
Version: 1.20.0-insider (s

[2020-08-25 13:51] ponchautf commented on #2849
Yes, Data studio is faster with telemetry disabled but queries are still slower than with other application
e.g. with SQLPRO studio connection to DB is less than 1sec (5-15 second with ADS) and execute queries are faster too, getting 1000 rows is about 1.214 sec , and 5-20 seconds in ADS (can't be more precise, the time for the query is always 00:00:00 !!)

[2020-08-25 15:01] Charles-Gagnon opened #11952 "Improve getAsyncConnectionNodeChildren logic"
- [ ] Timeout waiting for onUpdateObjectExplorerNodes
- [ ] Don't throw on all errors from onUpdateObjectExplorerNodes
- [ ] Look at replacing onUpdateObjectExplorerNodes callback

[2020-08-25 15:45] #11873 closed

[2020-08-25 15:52] Charles-Gagnon commented on #11909
@dnethi It works fine for me. Can you confirm :

- You're using the latest insiders version
- `%USERPROFILE%\.azuredatastudio-insiders\extensions\microsoft.arc-0.3.0\notebooks\arcDeployment\deploy.arc.control.plane.ipynb` exists

Are there any errors in the console after it attempts to open?

[2020-08-25 18:33] kburtram opened #11954 "Unexpected Error Occurred while Connecting"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open ADS
2. Double-click on a connection node

Expected: Node expands

Actual: Frequently hitting below prompt

[code]

![image](https://user-images.githubusercontent.com/599935/91213611-b6064a00-e6c6-11ea-8d05-34d956d4d19a.png)

Error log contains below error
[code]

[2020-08-25 19:00] #11279 closed

[2020-08-25 19:17] Benjin opened #11955 "Way to select/set active Pre/Post-deployment script in project"
SSDT lets users add multiple pre/post-deployment scripts, but anything beyond the first of each type uses a <None> tag because we only support one at a time.  Currently, there's no way to change the selected script, aside from manually editing a .sqlproj file.

We should have a UI way for changing the "active" pre- and post-deployment scripts.  Two initial ideas:

1. context menu on a pre/post-dep

[2020-08-25 19:25] abist opened #11956 "Font color mismatch in Welcome Page"
The blue color for `Show All` seems deeper than the blue for every other link.

![118230244_314192463158219_320447093935554761_n](https://user-images.githubusercontent.com/6411451/91218453-ebfafc80-e6cd-11ea-8269-042a62d3b603.png)

[2020-08-25 19:30] kburtram commented on #11954
I'm also see connections getting into a "spinning forever" state pretty frequently with recent builds.

![image](https://user-images.githubusercontent.com/599935/91218936-b4408480-e6ce-11ea-8362-67f3f1f4b7c4.png)

[2020-08-25 19:31] kburtram commented on #11954
@Charles-Gagnon I'm seeing a lot of OE and Connection related errors that I don't recall seeing in August release.  Could you please confirm whether these are related to recent large refactoring in this area.

[2020-08-25 19:32] kburtram commented on #11954
Seeing this exception causing OE problems in current builds as well.  Not sure if this is all the same category of errors or distinct bugs.

[code]

[2020-08-25 20:03] Charles-Gagnon commented on #11954
Ack, I'll take a look. Don't think I've ran into this myself though so any extra information you're able to provide about the circumstances would be helpful. I'll at least try to add in some logging to try and help track down what's going on.

[2020-08-25 20:20] Charles-Gagnon opened #11958 "Don't display Arc MIAA server properties if no external endpoint"

[2020-08-25 21:29] kburtram commented on #11954
@Charles-Gagnon I'll keep trying to get a better repro\root cause.  The issue seems to happen when I double-click on saved connections during early several seconds of startup, while tools service and extensions are loading.

[2020-08-26 00:39] yualan opened #11964 "Azure account credentials refresh button"
- Azure Data Studio Version: v1.21.0-insider

Steps to Reproduce:

1. Azure account credentials need to be refreshed with warning icon
2. User opens Azure account and selects account that needs to be refreshed so that it is highlighted in blue.
3. When user attempts to click refresh button, it is very hard to see due to similar shade of blue.

We should either update the icon color with UX, update

[2020-08-26 00:40] yualan opened #11965 "Deployment password field for data controller cannot have password pasted"
- Azure Data Studio Version: v1.22.0-insiders

Steps to Reproduce:

1. Launch deployment wizard.
2. Choose data controller option.
3. Click next, attempt to paste into password field.

This happened on a Mac as FYI. Let's double check to see if this is specific to password field or not.

From Azure Arc bug bash.

[2020-08-26 05:15] Totekin opened #11967 "Deploy Arc Controller to AKS"
1. I have pre-reqs for Kube and az already installed on my machine. During the deployment the customer should not be asked for the pre-reqs again.

[2020-08-26 07:29] #11789 closed

[2020-08-26 10:25] ramonpego commented on #4904
i'll have faith

[2020-08-26 10:47] bweissman opened #11968 "Datatype in CSV wizard won't be accepted"
Azure Data Studio Version: 1.21.0 / data virt extension: 1.8.0

Steps to Reproduce:

1. Run the virtualize CSV wizard
2. Change the datatype of a string column from nvarchar(50) to char(10) from the drop down
3. Change it manually to char(2)
4. Generate the Script
5. The script will have char(10)

[2020-08-26 10:47] bweissman commented on #11968
@Charles-Gagnon sorry - I think I got another one for you :)

[2020-08-26 13:21] ak800i opened #11969 "TypeError: Cannot read property 'connectionProfile' of undefined"
Issue Type: <b>Bug</b>

Title says it all

Azure Data Studio version: azuredatastudio 1.17.1 (814ce88c41e0daaca89afed8b184e795057a6f9d, 2020-04-30T00:16:35.943Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5820K CPU @ 3.30GHz (12 x 3300)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_stage3d: enab

[2020-08-26 15:34] Charles-Gagnon commented on #11967
@Totekin Could you please explain further what you mean? What pre-reqs are you referring to and where are we asking for them?

Are you referring to this?

![image](https://user-images.githubusercontent.com/28519865/91324416-e73e5300-e776-11ea-8a26-099939db97c3.png)

[2020-08-26 15:45] Charles-Gagnon commented on #11969
@ak800i Please update to the latest version (currently 1.21) and let us know if the problem persists.

[2020-08-26 16:04] Charles-Gagnon commented on #11968
Good find @bweissman ! I've confirmed the repro and will look into this.

It does work if you press enter while in the input box as a short-term workaround if you need this functionality.

[2020-08-26 16:37] Charles-Gagnon commented on #11965
@yualan Who was running into this issue? We can't seem to repro it - did you make sure to verify that they did actually have text in the clipboard for pasting?

[2020-08-26 16:41] MsSQLGirl commented on #8195
+ @joberume : FYI.

[2020-08-26 17:11] Charles-Gagnon opened #11971 "azdata - watch for changes to installation"
Currently if a user uninstalls/modifies azdata outside the extension the extension isn't updated and so may fail unexpectedly. We should add a filewatcher to the found instance of azdata that updates the state whenever the file is modified.

[AB#3784](https://mssqltools.visualstudio.com/dea8be32-0532-4a8f-a2f4-89271d8b1cc5/_workitems/edit/3784)

[2020-08-26 19:14] #11601 closed

[2020-08-26 19:24] MaddyDev commented on #11451
Don't see these actions anymore, @Charles-Gagnon can you also confirm so I can close this.

[2020-08-26 19:48] #11451 closed

[2020-08-26 19:48] Charles-Gagnon commented on #11451
Confirmed I'm not seeing this behavior anymore.

[2020-08-26 21:13] #11829 closed

[2020-08-26 21:18] Charles-Gagnon commented on #11195
@fsteffi We already set the aria role to button for these :

![image](https://user-images.githubusercontent.com/28519865/91357821-b37b2180-e7a6-11ea-92c8-77316a9ff842.png)

And they're announced correctly in NVDA :

[code]

So I don't see any issues there. Can you confirm if there's some other issue with our implementation?

@MaddyDev It does look like we're not correctly announcing the menu statu

[2020-08-26 21:44] aaomidi commented on #11896
Let's keep an eye out and see if this continues to happen after that PR

[2020-08-26 22:21] #11798 closed

[2020-08-26 22:23] #11797 closed

[2020-08-26 22:26] JustinMDotNet commented on #11801
Resolved in https://github.com/microsoft/sqltoolsservice/pull/1056/files

[2020-08-26 22:26] #11801 closed

[2020-08-26 23:32] qifahs opened #11977 "Searching through output cells in Notebooks"
**Is your feature request related to a problem? Please describe.**
While debugging through issues using a Notebook, I can have really long tables or output from my code. If I need to search through that content, I cannot do this in ADS Notebooks. I have to copy/paste the content out to some other app like Notepad++ and sift through it. It would be really helpful if do not need to flip between apps

[2020-08-27 01:44] vaidymohan opened #11978 "workbench.action.query.shortcut1 error message - cannot read property 'shortcut1' of undefined"
- Azure Data Studio Version:

Steps to Reproduce:

1. Launch Azure Data Studio.
2. Connect to a database server.
3. Open a new query window.
4. Write a query (for instance; SELECT * FROM AuditLog).
5. Select the table name and use the shortcut that would mimic "sp_help". In my case, I've set it up to F1.
6. When I use the keyboard shortcut, I get the error message "Cannot read property 'shortcut1'

[2020-08-27 03:57] #11847 closed

[2020-08-27 03:59] MsSQLGirl commented on #11847
Reopened it because while it was not a bug, it had usability implication.
Closed it because I have just realized that Laura has solved the issue regardless the classification of the issue :D

Thanks @halerankin & @laurajjiang.

[2020-08-27 04:05] MsSQLGirl commented on #8589
@mikewo - Currently Kqlmagic in Azure Data Studio allows you to connect to Azure Monitor and AppInsights. See more details here: [Kqlmagic with Application Insights](https://docs.microsoft.com/en-us/sql/azure-data-studio/notebooks-kqlmagic?view=sql-server-ver15#kqlmagic-with-application-insights) and [Kqlmagic with Azure Monitor logs](https://docs.microsoft.com/en-us/sql/azure-data-studio/notebook

[2020-08-27 04:06] MsSQLGirl commented on #11619
Thanks @llali :)

[2020-08-27 06:04] abist opened #11979 "Add button for New and Open Database Project"
It would be nice to have the button actions for `New` and `Open` projects similar to other trees.

![Screen Shot 2020-08-26 at 11 01 02 PM](https://user-images.githubusercontent.com/6411451/91396887-3379a980-e7f0-11ea-8b91-531e6fbd7355.png)

[2020-08-27 14:35] #11958 closed

[2020-08-27 17:50] #11001 closed

[2020-08-27 17:54] ranasaria opened #11982 "Add version to azdata upgrade console output"
Ping - please add the version here

_Originally posted by @Charles-Gagnon in https://github.com/microsoft/azuredatastudio/pull/11906#discussion_r478537295_

Where this message is logged version is not conveniently available. We are always doing findAzdata, I will log the version found after install and upgrade but later not for this PR, please.

[2020-08-27 18:05] Charles-Gagnon opened #11983 "Add Storage Class fields to MIAA deployment"

[2020-08-27 18:16] Charles-Gagnon opened #11984 "Kusto extension errors on startup"
![image](https://user-images.githubusercontent.com/28519865/91479678-af0e4180-e856-11ea-9e5b-464c742ab7bb.png)

[2020-08-27 18:18] ranasaria commented on #11982
This is already addressed as findAzdata logs the version found.

[2020-08-27 18:18] #11982 closed

[2020-08-27 18:34] twright-msft opened #11985 "Arc data controller deployment notebook has incorrect command 'kubectl get pods -A'"
- Azure Data Studio Version:

Steps to Reproduce:

1.  Go through the Arc data controller deployment wizard
2.  Run the notebook.
3.  In the output, you will see that it tells you to run something like this:  C:\ProgramData\chocolatey\bin\kubectl.exe get pods -A

But this will give  you an error:
C:\ProgramData\chocolatey\bin\kubectl.exe get pods -A

I think this -A thing was deprecated in kubectl

[2020-08-27 18:35] Charles-Gagnon commented on #11985
Good feedback - I'll update it to use the namespace instead

[2020-08-27 18:38] Charles-Gagnon commented on #11985
@ranasaria I'll work on this - you focus on your other stuff.

[2020-08-27 19:28] aaomidi commented on #11936
the SSL error is due to something in your environment enforcing https for localhost.

To remove that rule:

- Microsoft Edge: Visit `edge://net-internals/#hsts` Under "Delete domain security policies" put in localhost
- Google Chrome: Visit `chrome://net-internals/#hsts` Under "Delete domain security policies" put in localhost

[2020-08-27 19:28] #11936 closed

[2020-08-27 19:29] aaomidi commented on #11530
the SSL error is due to something in your environment enforcing https for localhost.

To remove that rule:

Microsoft Edge: Visit edge://net-internals/#hsts Under "Delete domain security policies" put in localhost
Google Chrome: Visit chrome://net-internals/#hsts Under "Delete domain security policies" put in localhost

[2020-08-27 19:29] #11530 closed

[2020-08-27 19:32] #11493 closed

[2020-08-27 19:40] #11985 closed

[2020-08-27 20:05] llali opened #11988 "Notebook cell highlights on a line is longer than cell border"
- Azure Data Studio Version:

Steps to Reproduce:

1.
![image](https://user-images.githubusercontent.com/17187348/91489595-e9cba600-e865-11ea-85f4-bdc8e8b3bb04.png)

[2020-08-27 20:08] Charles-Gagnon commented on #11984
@gupta1 @qifahs Can you look at this? It's pretty annoying to have this pop up every time I launch ADS from sources currently.

[2020-08-27 20:11] Charles-Gagnon commented on #11978
@vaidymohan This should be fixed in insiders by https://github.com/microsoft/azuredatastudio/issues/11749 - if you have a chance could you try it out there and see if you're still seeing it?

https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

[2020-08-27 20:44] halerankin opened #11989 "WYSIWYG - text view does not have state or text-specific (not markdown) styles"
**Feature branch (draft PR currently open)**
https://github.com/microsoft/azuredatastudio/pull/11540

**Issues to address**
- Text view handles input via contenteditable attribute. Changes to text view should persist after applying style. Currently this is broken -- text added will disappear once a style button is clicked. Switching to Markdown view will show the style tags of the previously appli

[2020-08-27 21:52] #11968 closed

[2020-08-27 23:11] Charles-Gagnon opened #11992 "Errors updating azdata"
2 reported issues :

1. This error is appearing - looks like some path isn't quoted properly

[code]

2. `Error updating azdata: not found: azdata.cmd` on startup when azdata isn't installed. We shouldn't be displaying that error during update when it isn't user-prompted (instead just fail silently)

[2020-08-27 23:36] Charles-Gagnon commented on #11992
https://github.com/microsoft/azuredatastudio/blob/main/extensions/azdata/src/azdata.ts#L288 Issue for the first one is here - the path is being double quoted. Once on 288 and again on 289. Only one is needed.

[2020-08-28 01:19] #11983 closed

[2020-08-28 14:55] CallSign-Filter commented on #3152
Bumping to keep this alive... please implement!!!

[2020-08-28 15:22] #11161 closed

[2020-08-28 15:27] Charles-Gagnon commented on #11984
@gupta1 @qifahs What's the status on this? There's been multiple people who've asked about this - it would be nice to get this resolved quickly so people don't think something is broken with ADS.

[2020-08-28 15:39] Charles-Gagnon commented on #11984
Here's some more errors from the log :

[code]

[2020-08-28 16:26] #10921 closed

[2020-08-28 16:27] #11072 closed

[2020-08-28 20:18] barbaravaldez opened #12004 "Add collapse books setting to workspace config"
The Collapse Books config setting in the Notebook Configuration does not modify the workspace config file.

[2020-08-28 22:07] rajeshka opened #12005 "Notebook should support embedded images"
Users are not able to freely share notebooks if they have images linked to them. Currently there is no way to embedded images and also ADS does not show embedded images

Users should be able to embed screenshots or images inline similar to Jupyter book supports