[2022-07-09 14:21] ail22 opened #19976 "alo816721@gmail.com"
Issue Type: <b>Feature Request</b>

wayou.vscode-todo-highlight

Azure Data Studio version: azuredatastudio 1.35.0 (e9c8eb8564f537726b36b5f15c7f35e62f229284, 2022-02-23T17:36:02.883Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No

[2022-07-09 14:22] ail22 opened #19977 "wayou.vscode-todo-highlight"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2022-07-10 07:14] extrobe opened #19979 "Unable to authenticate against GitHub (Version not high enough)"
- Azure Data Studio Version: `1.37.0` & `1.38.0-insider`
- OS Version: MacOS 12.3

Steps to Reproduce:

1. Open a GitHub repo folder for the first time (Clean install)
2. Change a file
3. Attempt to commit file
4. You'll be prompted to authenticate against GitHub

<img width="263" alt="image" src="https://user-images.githubusercontent.com/25456852/178134907-4a0c4b17-3d75-4dee-94df-d9306ad2b8d8.png

[2022-07-10 07:49] romanovmv commented on #7440
@alanrenmsft I did, downloaded the insiders build and enabled the setting. I can definitely see some improvement (especially when manualy triggering the "Refresh Intellisense Cache" action), but the problem still persists when just writing the code and intellisence tries to get the definition of the object you're typing. Please find the steps to reproduce it here: [https://drive.google.com/file/d/

[2022-07-10 12:19] maordahari commented on #1026
Me also

[2022-07-10 18:58] mscottsewell commented on #13931
I'm unable to connect to Dynamics via Azure Data Factory - or SSMS v19 Release 2.
(I have no trouble with SSMS v18.)

[2022-07-10 22:41] pvspain commented on #690
Yes! Yes! Please add a debugger. This would be a massive timesaver

[2022-07-11 02:41] tecodan commented on #19228
Any updates on this?
I am experiencing the exact same issue (ADS v1.37.0, schema compare tool v1.14.0, SQL Database objects v0.17.1)

[2022-07-11 04:49] VijayaBharathyA commented on #18590
@alanrenmsft Could you please let us know if we need to route this bug to the SQL server installer team? If yes, could you please do let us know the vso and owner's details?

[2022-07-11 04:55] Gayathri1501 commented on #18595
@alanrenmsft Could you please let us know if we need to route this bug to the SQL server installer team? If yes, could you please do let us know the vso and owner's details?

[2022-07-11 08:00] VijayaBharathyA commented on #18586
Verified in the latest Environment
azure Data studio Version: 1.37.0
Issue is Fixed
![18586_Narrator](https://user-images.githubusercontent.com/100189407/178205124-b19574bb-e723-428f-a4a3-86efd72ce080.jpg)
![18586_NVDA](https://user-images.githubusercontent.com/100189407/178205135-19774f46-3893-4e65-bccf-44a2eae1ede6.jpg)

[2022-07-11 08:02] VijayaBharathyA commented on #18587
Verified in the latest Environment
Azure Data studio Version: 1.37.0
Issue is Fixed.
![18587_Fixed](https://user-images.githubusercontent.com/100189407/178216939-66f1fc29-d354-45b5-bb62-3080a511b47b.gif)

[2022-07-11 08:08] VijayaBharathyA commented on #18596
@alanrenmsft Could you please let us know if we need to route this bug to the sql server installer team? If yes, could you please let us know the vso and owner's detaills?  and also can you resolve that bug, because bug can be closed by trusted tester only

[2022-07-11 09:48] Gayathri1501 commented on #18592
Verified this issue in scan mode. Issue is Fixed. Hence, closing this bug.
![A11y_AzureDataStudio_New Deployment_ SQL Server 2019 Big Data Cluster_Screen Reader_](https://user-images.githubusercontent.com/99962579/178236569-2bd413b8-962f-45c1-a9ad-a5d8a1f836d9.gif)

[2022-07-11 09:52] Gayathri1501 commented on #18594
Here, the issue is that GB size if the Claim size of the data is not announcing by the Narrator. The Expected result should be announced by the Narrator. And this bug should be closed by the Trusted tester only. Please confirm us once this bug is fixed.
Verified in the below version,
Version: 1.37.0 (user setup)
Commit: d904740d93d7df76a0ba361f20e4351813b57645
Date: 2022-06-14T01:05:12.352Z
VS Cod

[2022-07-11 09:57] aafvstam commented on #2814
How is this still a 'new' issue from 2018. It is blocking us from moving from MS SSMS as it won't allow to connect Azure AD identity by using a username and password.

[2022-07-11 11:12] VijayaBharathyA commented on #18591
@alanrenmsft Could you please let us know if we need to route this bug to the sql server installer team? If yes, could you please let us know the vso and owner's detaills?  and also can you resolve that bug, because bug can be closed by trusted tester only

[2022-07-11 13:11] ALZDBA opened #19982 "Create view with extended properties "incorrect syntax" caused by position of GO without line break"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1.Reverse engineer a database that has views with extended properties
2.Reverse engineer again and "apply" the changes with the local repository
-----
example script
CREATE VIEW [kw].[v_SignaalLog_CRM3]
AS
SELECT     guid, ts_registratie_GMT, d331, d332, d333, d354,
                      d355
FROM         kw.t_SignaalLog_CRM3GO

[2022-07-11 13:36] rossOTG opened #19983 "Results showing NULL instead of empty string for PostgreSQL"
Empty string values are showing as _NULL_ in the results window when querying an Azure Database for PostgreSQL database.

Quite misleading as I was treating them as genuine null values and couldn't understand why IS NULL/IS NOT NULL were not working as expected

![Empty string](https://user-images.githubusercontent.com/101193501/178276648-ddc8aea6-0b95-483a-9742-a9e86fe4f07f.jpg)
.

[2022-07-11 16:30] hdrenollet-csusa opened #19984 "Connections Sort By Display Name"
Issue Type: <b>Bug</b>

The option to Sort By Display Name for Connections and Connection Groups doesn't actually display in alphabetical order.  Captial letters A-Z always appear before lowercase letters a-z in the list.  Instead, it should be true alphabetical order where the case should not matter.

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 202

[2022-07-11 16:44] Charles-Gagnon commented on #19977
Closing this as there is no actionable information, please re-open and include details of the issue you're experiencing and we'll do what we can to help!

[2022-07-11 16:44] #19977 closed

[2022-07-11 16:45] #19976 closed

[2022-07-11 17:42] Charles-Gagnon commented on #19984
@caohai Can you look into this?

[2022-07-11 17:44] Charles-Gagnon commented on #19982
@kisantia @Benjin This seems like it might be a DacFX bug

[2022-07-11 18:12] smartguest opened #19988 "Edit Data invalid cell handling only works once for existing rows if data remains unchanged"
If you attempt to submit an existing cell with invalid data once, the cell submission would be rejected and the focus jump back to the invalid cell. However, if you don't change the cell data and press enter, the cell gets entered into the grid (though not on the server itself), due to the callback for onCellChange not firing. This was introduced with #19634

[2022-07-11 19:09] kisantia commented on #19972
as discussed in standup, this localization is probably from DacFx and those strings haven't been localized yet in the DacFx repo. @ssreerama you can check the sql-database-projects .xlf files in ADS to confirm if the other other description strings that are localized are present there to verify if they come from DacFx.

[2022-07-11 21:18] kburtram opened #19993 "VS Code merge follow-ups"
- [x] Enable integration tests
- [x] Fix build folder build
- [x] Enable skipped Notebook tests
- [x] Mark createEditor method as deprecated
- [x] Fix query plan trusted type error

[2022-07-11 21:19] kisantia commented on #19982
@ALZDBA can you please provide:
- scripts for a sample source and target project to repro
- what the folder structure of the project is (ex: schema/object type, object type, schema, flat, file)

[2022-07-11 21:23] Charles-Gagnon commented on #19979
How did you originally clone this repo? I'm unable to repro this issue if I clone the repo separately and then make changes as you said. I did see the issue though when trying to clone a new repo within ADS and selecting `Clone from Github`.

We'll be working on a fix, but for now are you able to work around the issue by cloning the repo from the command line and then opening the folder in ADS fro

[2022-07-11 22:22] extrobe commented on #19979
I cloned it via GitHub desktop rather than CLI

My workaround for now has been to just use Github desktop or VS Code to make my commits, but I'll also trying doing a clone via CLI to see if that solves it.

[2022-07-11 23:51] corivera opened #19997 "WYSIWYG lists keep getting bigger when changing text size"
Repro steps:
1. Create a new WYSIWYG text cell.
2. Enter some text and convert it to a bulleted or numbered list.
3. Change the text size to different headings or paragraph. The text will continually get bigger instead of smaller, regardless of which size you pick.

[2022-07-11 23:56] corivera commented on #19997
Seems like this issue has been around for a while, at least since 1.35.1.

[2022-07-12 00:27] ssreerama commented on #19972
I see all the non localized strings are recently updated DacFx string! Do you know when can we expect the new DacFx Localized strings? Is it a regular process before the release or need to log a request! thanks

[2022-07-12 00:37] casa-henrym opened #19999 "Save as parquet"
On the right side of the Results pane are the icons for: "Save as CSV", "Save as Excel", "Save as JSON", "Save as XML".

The request is for a "Save as Parquet" option here.

Apache Parquet is an efficient format for storing large amounts of data, and works well as an intermediary format for data that I want to bring into Power BI (The query takes a long time to execute and I don't want to block Po

[2022-07-12 00:47] kisantia commented on #19972
If you look at the history of DacFx commits, all the LEGO checkins are localization and these PRs get sent periodically, without us needing to request it. If it's urgent, there's probably a way to request it.

[2022-07-12 01:57] chlafreniere opened #20002 "Connection Advanced Properties Not Rendering"
Likely related to merge, this is what I see on my machine:

<img width="500" alt="image" src="https://user-images.githubusercontent.com/40371649/178391901-8c606f32-b20a-4fc0-827a-20d0771831de.png">

Unfortunately, nothing in the dev console 😞

[2022-07-12 02:05] chlafreniere opened #20003 "Welcome Page Large Buttons Don't Work"
Large buttons on welcome page don't appear to do anything post merge:

<img width="1162" alt="image" src="https://user-images.githubusercontent.com/40371649/178392804-9a1764a0-dbb7-4dce-9daf-131bbb700cb1.png">

[2022-07-12 02:15] chlafreniere commented on #20002
This isn't a 100% repro for me. Curious what other folks see.

[2022-07-12 03:06] SantoshKesava commented on #16044
I'm waiting for this feature too....

[2022-07-12 07:57] v-jagansai commented on #9367
#closed;

[2022-07-12 09:23] robfarley opened #20008 "Rectangle selected with Alt only runs first line"
- Azure Data Studio Version: 1.37.0
- OS Version: Win 11

Steps to Reproduce:

Select a rectangle containing a query by clicking at the top left, and then holding down Alt+Shift and clicking at the bottom right.
Run the query.

Result: only the first line runs, not the whole selection.

![96080CEA-1269-40A8-BA98-9DD5A0C2A11D](https://user-images.githubusercontent.com/13270502/178457026-5aa3798a-4e

[2022-07-12 09:27] ALZDBA commented on #19982
This db project has been reverse engineered from an old db to ADS [schema/object type] using ADS.
[View1.sql.txt](https://github.com/microsoft/azuredatastudio/files/9091507/View1.sql.txt)

[2022-07-12 09:57] v-jagansai commented on #9368
Issue was still repro using NVDA the clear results button was not working.

Attachment added for reference
![Screen Recording (1) (1)](https://user-images.githubusercontent.com/109065315/178463962-8836c6bf-867a-4a94-860a-7a435a95957e.gif)

[2022-07-12 12:33] fsteffi commented on #9368
Discussed this in office hours with v-tayazd - for actions which execute immediately such as these we shouldn't be announcing that an action is occurring as that tends to be too verbose.

#closed;

[2022-07-12 15:16] #20003 closed

[2022-07-12 15:39] kburtram opened #20010 "Cannot install SQL Agent extension from gallery"
- Azure Data Studio Version: `insiders`

Steps to Reproduce:

1. Try to install SQL Agent from extension manager with latest insider build.

Expected: Extension installs

Actual: Error message and extension does not install.  Does not repro on stable.

![image](https://user-images.githubusercontent.com/599935/178531288-99539914-4566-4d6f-9a48-1b56a8d25f3a.png)

[code]

Does this issue occur when a

[2022-07-12 15:55] ciacco85 commented on #17410
Thanks!

[2022-07-12 15:55] #17410 closed

[2022-07-12 16:25] Charles-Gagnon opened #20013 "DisposableStore errors when running query multiple times"
Version: 1.38.0-insider (user setup)
Commit: 980a233aad2e3baec7a23f725eb1a95b90ef618a
Date: 2022-07-12T05:58:41.373Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

1. Create new query and execute it
2. Execute it again

A bunch of these errors appear in the console

[code]

[2022-07-12 17:16] alanrenmsft commented on #19582
closing as the tester's alias is no longer availabe, will reactivate if the test team marks this issue properly.

[2022-07-12 17:16] #19582 closed

[2022-07-12 17:17] alanrenmsft commented on #15776
@candiceye ping...

[2022-07-12 17:26] alanrenmsft commented on #18555
@Gayathri1501 we will keep the issue open and let you guys close it. for this specific one, please close it ASAP, it will show up on our s360 dashboard.

[2022-07-12 17:36] #20010 closed

[2022-07-12 17:38] kburtram opened #20014 "Insight widgets not displaying correctly on dashboard"
- Azure Data Studio Version: `insider`
- OS Version: All

Steps to Reproduce:

1. Connect to a non-Azure server and open Manage dashboard

Expected: Widgets render correctly

Actual: Widgets don't render.

![image](https://user-images.githubusercontent.com/599935/178557028-f68a46ce-f440-48b5-8386-12fc0e05316d.png)

Does this issue occur when all extensions are disabled?: Yes/No

[2022-07-12 19:03] chlafreniere commented on #20013
I've seen this as well. Especially when going to messages + back to the results tab + re-executing

[2022-07-12 21:37] coreywebber opened #20017 "Data Compare"
**Is your feature request related to a problem? Please describe.**
I need to be able to compare the data between 2 queries and see where the differences are.

**Describe the solution or feature you'd like**
I want to be able to run a query in Tab A, and a query in Tab B, then select Compare Data, a wizard pops up, showing me the fields from Tab A that Match with Tab B, here I will select a compari

[2022-07-12 21:39] kisantia commented on #19982
@ALZDBA can you help clarify the steps a bit more? What changed in the database between when the project was created and later updated?

This is what I tried, but was unable to repro the GO being added without a line break:
1. Created a new db on SQL Server 2019
2. Created a basic dbo.Table1:
[code]
3. Ran the provided script (after moving the GO to the next line so it would run) to create View1 a

[2022-07-12 22:51] aaelony-aeg commented on #19939
Hello - after tinkering with this, I think I got it to work.  In my case, the issue appears to have been that Azure Data Studio was not run from `/Applications` but a subdirectory `/Applications/azure`.  Simply copying `Azure Data Studio.app` to `/Applications` and restarting finally triggered the kernel dropdown to find kernels found in `jupyter kernelspec list`.

Thank-you for looking into this

[2022-07-12 22:51] #19939 closed

[2022-07-12 22:54] #19682 closed

[2022-07-12 23:21] caohai opened #20019 "[Table Designer] table cell editor broken after vscode merge"
![image](https://user-images.githubusercontent.com/21186993/178614596-0e57d1fd-6fda-4601-910f-09f17e8be44c.png)

[2022-07-13 00:14] #19701 closed

[2022-07-13 00:33] ssreerama commented on #19972
@kisantia , I see there is already a LEGO checkin happened in DacFx offical branch. We need to use that Nuget version in STS right!

[2022-07-13 08:35] Smoovsky commented on #7440
Can't believe no improvements have been in the last two years.
Most issues mentioned here could be easily reproduced under a high network latency condition.

[2022-07-13 09:44] Gayathri1501 commented on #18555
Verified this issue in the environment. Hence, closing this bug
https://user-images.githubusercontent.com/99962579/178259966-0aca2fc6-2001-4623-ac72-d0f594a82792.gif

[2022-07-13 09:46] #18555 closed

[2022-07-13 09:47] Gayathri1501 commented on #18595
@alanrenmsft --Could you please provide alias for the owner of this bug. So, that I can discuss the bug with him. Thanks in Advance.

[2022-07-13 10:51] raoulteeuwenPE commented on #18714
I'm running into this error pretty often as well. Per your request scripts to create the tables for an example where i'm running into this problem:

Table 1 of 2

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [crm].[TriggersExtracted](
	[TriggerProcessLogId] [uniqueidentifier] NOT NULL,
	[RetentieTriggersResponseId] [int] NOT NULL,
	[TriggerGroup] [uniqueidentifier] NOT NULL,
	[Org

[2022-07-13 11:05] RohitMundhra opened #20034 "My Azure Data Studio crashes very frequently"
- MSSQL Extension Version: Microsoft SQL Azure (RTM) - 12.0.2000.8 	May 12 2022 23:11:24 	Copyright (C) 2022 Microsoft Corporation
- VSCode Version: 1.48.0
- OS Version: macOS Big Sur version 11.6.7

Steps to Reproduce:

1. Whenever i query for table having more than 500 columns it crashes
2. If i run small query for 5-10 times, then also it crashes
<img width="1409" alt="Screenshot 2022-07-13 at

[2022-07-13 11:18] ALZDBA opened #20022 "Publish to Github & login fails "...Please upgrade VS Code...""
- Azure Data Studio Version:1.37.0 ( **vscode 1.59.0**)
- OS Version: Win10 20H2

Steps to Reproduce:

1. Publish to Github
2.it routes to login via Edge to https://vscode-auth.github.com/ and gives the message

I have upgraded VSCode and rebooted my laptop, still I cannot publish to github

Does this issue occur when all extensions are disabled?: Yes/No

![2022-07-13 13_17_05-Window](https://user

[2022-07-13 11:20] ALZDBA commented on #20022
Strange thing is when I start VSCode, it shows following information: !!!

**Version: 1.69.1 (user setup)**
Commit: b06ae3b2d2dbfe28bca3134cc6be65935cdfea6a
Date: 2022-07-12T08:21:24.514Z
Electron: 18.3.5
Chromium: 100.0.4896.160
Node.js: 16.13.2
V8: 10.0.139.17-electron.0
OS: Windows_NT x64 10.0.19042

[2022-07-13 11:26] ALZDBA commented on #19982
Actually, I just reverse engineered that database and had it compare it
again.
If I create a new database and perform the creates myself, It works
correctly.
So I suppose it may be an issue with older versions of SSMS that may cause
the problem.

However, preparing version control and devops integration, this reverse
engineering project will need way more attention and time as previously
hoped for

[2022-07-13 15:29] ajvaldesg opened #20023 "Intellisense Not working consistently"
The SSMS is by far much better than Azure Data Studio I want .. I really want to give the opportunity to this tool but I can't with this, accounts fail to connect even though is saying is connected, intellisense never works properly. sometimes works, sometimes not work, as far I know there is not a way to REFRESH the intellisense like CTRL + SHIFT +R to refresh the Cache as we do in SSMS... CMON G

[2022-07-13 15:40] Charles-Gagnon commented on #20022
Duplicate of https://github.com/microsoft/azuredatastudio/issues/19979

As a workaround you can try publishing the branch using the git CLI and authenticating through that, after which you should be able to push commits through ADS again.

[2022-07-13 15:40] #20022 closed

[2022-07-13 15:44] Charles-Gagnon commented on #20023
We already have a number of other issues opened for various Intellisense issues I'm going to close this one as a duplicate - we continue to work to make improvements and fixes as we track them down. If you have a specific thing you're seeing please open an issue with details so we can look into it further!

ADS does have a refresh intellisense cache command though

![image](https://user-images.git

[2022-07-13 17:47] alanrenmsft commented on #18595
@Gayathri1501 I already did: matteot.

[2022-07-13 17:48] chlafreniere opened #20025 "Coveralls Shows "Out" Instead of "Src" folder Post Merge"
Go to https://coveralls.io/github/microsoft/azuredatastudio. Instead of seeing `extensions` and `src`, I see the following:

<img width="210" alt="image" src="https://user-images.githubusercontent.com/40371649/178797915-cacd644e-93c7-45c3-985c-3ba69f8d0f30.png">

[2022-07-13 19:18] candiceye commented on #15776
@Charles-Gagnon  @alanrenmsft  @Shivamd1
Just tested it out with 1.38.0 insiders and it does not seem to have regressed.
![image](https://user-images.githubusercontent.com/22386690/178813932-844e9a3c-d8c3-499b-925e-efecb9cf0d0a.png)

[2022-07-13 19:19] candiceye commented on #15776
![image](https://user-images.githubusercontent.com/22386690/178814160-1d4543d8-7691-4814-9c17-3614599766dd.png)

[2022-07-13 19:19] candiceye commented on #15776
The current color is: #a1260d

[2022-07-13 19:21] alanrenmsft commented on #15776
I also tried on latest insider build and the color is same as what @candiceye mentioned.
![image](https://user-images.githubusercontent.com/13777222/178814443-a79b3358-a3e5-4ae7-8704-147d78a03791.png)

@Shivamd1 please retest ASAP since the issue is going out of SLA soon.

[2022-07-13 20:00] #20019 closed

[2022-07-13 22:34] kisantia opened #20027 "Handle configuration property in .sqlproj"
Currently, if Configuration property is set to something that isn't "Debug" in a .sqlproj, the sql projects extension doesn't use it for determining the default output path when looking for the dacpac for publishing a project.

If the configuration is set to Release, the default output path should be `.\bin\Release`, but the extension looks for the dacpac in `.\bin\Debug` is `OutputPath` isn't set

[2022-07-14 00:05] #20025 closed

[2022-07-14 04:58] Gayathri1501 commented on #18567
Verified in this environment by the guidelines of Narrator team as the shortcut using the Ctrl+Shift+Alt+Up arrow, the cells with column header are announcing. Hence, the issue is fixed. Plese find the below attachment.
![A11y_AzureDataStudio_New deployment SQL Server 2019 Big Data Cluster_Screen Reader_](https://user-images.githubusercontent.com/99962579/178902474-8b6142da-b825-4d3a-a1bd-718f5bd4

[2022-07-14 05:03] Gayathri1501 commented on #18568
# External bug ID: https://microsoft.visualstudio.com/OS/_workitems/edit/40438048
We will take action on this bug once the external bug is fixed and closed.
And also, please confirm that this bug should close this bug only by Truster tester.  Thanks in Advance.

[2022-07-14 06:09] ALZDBA commented on #19979
Is my understanding correct that ADS includes its own copy of VSCode ?
Why isn't it just using the VSCode installed by the client ? ( and only installs it when needed )

[2022-07-14 06:11] Shivamd1 commented on #15776
@alanrenmsft @candiceye @candiceye Thanks for the update. verified again and the issue does not repro now closing the bug

![image](https://user-images.githubusercontent.com/60880975/178912484-e20d1cea-71a3-4e90-beac-4e6622ff0438.png)

[2022-07-14 06:11] #15776 closed

[2022-07-14 06:30] Charles-Gagnon commented on #19979
ADS is actually a modified fork of VS Code. So we share a lot of the same code but there are some differences, and we lag behind a bit with getting the latest updates from them (which is why you're seeing this error)

[2022-07-14 06:31] ALZDBA opened #20032 "Database Projects - Do Not Expand Projects Treeview"
Issue Type: <b>Feature Request</b>

- In AzureDataStudio how do you **prevent all DatabaseProjects folder structures being opened** at DBExtension activate time?
**ToLongAList**
It might be interesting if you could specify e.g. **OpenTreeView=false** in the _settings.json_, so it would only show a first level of folders in the map.

With hundereds of SQLServer instances to support, this list is wa

[2022-07-14 11:39] Gayathri1501 commented on #18597
@alanrenmsft --Could you please route it to the appropriate owner or team and reactivate the bug.
#Note: "Please do not close this bug. This bug should only be closed by TCS, C+AI Accessibility or the Divisional Driver"

[2022-07-14 11:42] VijayaBharathyA commented on #18596
@alanrenmsft Could you please route it to the appropriate owner or team and reactivate the bug.
**Note:** "Please do not close this bug. This bug should only be closed by TCS, C+AI Accessibility or the Divisional Driver"

[2022-07-14 11:42] VijayaBharathyA commented on #18595
@alanrenmsft Could you please route it to the appropriate owner or team and reactivate the bug.
**Note:** "Please do not close this bug. This bug should only be closed by TCS, C+AI Accessibility or the Divisional Driver"

[2022-07-14 11:42] VijayaBharathyA commented on #18591
@alanrenmsft Could you please route it to the appropriate owner or team and reactivate the bug.
**Note:** "Please do not close this bug. This bug should only be closed by TCS, C+AI Accessibility or the Divisional Driver"

[2022-07-14 11:43] VijayaBharathyA commented on #18590
@alanrenmsft Could you please route it to the appropriate owner or team and reactivate the bug.
**Note:** "Please do not close this bug. This bug should only be closed by TCS, C+AI Accessibility or the Divisional Driver"

[2022-07-14 13:29] danielsbezerra opened #20033 "Unable to view database properties throught Central Management Servers connection pane"
Database Administration Tool Extensions for Windows refers to this repo.
- Extendion Version: Database Administration Tool Extensions for Windows v0.0.4 (Preview)

- Azure Data Studio and OS Version:
Version: 1.37.0 (system setup)
Commit: d904740d93d7df76a0ba361f20e4351813b57645
Date: 2022-06-14T01:05:12.352Z
VS Code: 1.59.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-el

[2022-07-14 17:34] alanrenmsft commented on #20008
@robfarley please use Shift instead of Alt+Shift. Alt+Shift is column selection mode.

[2022-07-14 17:35] Charles-Gagnon commented on #20032
For your second ask - if you click in the view area and start typing you can search/filter the nodes

![image](https://user-images.githubusercontent.com/28519865/179046759-19cef130-8666-4bc8-9ee7-091e7655359f.png)

(click the filter icon in the widget to switch between search and filter view)

Is that what you want? Or are you talking about filtering the servers list? (which currently isn't suppor

[2022-07-14 18:12] Charles-Gagnon commented on #20014
FYI @kburtram I'm also seeing this now after I cleared the previous settings I had and made some new connections. I'll try to dig into it to see if I can figure out what's going on

[2022-07-14 18:38] Charles-Gagnon opened #20036 "createEditorInput not awaiting canHandleResource properly"
https://github.com/Microsoft/azuredatastudio/blob/main/src/vs/workbench/services/editor/browser/editorService.ts#L944

canHandleResource was made async in the merge so this check isn't working properly now (always truthy).

I just noticed this while fixing https://github.com/microsoft/azuredatastudio/issues/20014 so I don't have an exact idea of how this would affect us but given the central natur

[2022-07-14 20:18] VasuBhog opened #20041 "Notebook Kernels list does not update after .Net Interactive Ext install"
ADS Dev Version: 1.38.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z (4 yrs ago)
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 21.5.0

Steps to Reproduce:

1. Uninstall the .Net Interactive Extension and reload ADS.
2. Open a new notebook (check to see that the .Net Interactive kernel is not in th

[2022-07-14 20:37] lucyzhang929 commented on #11951
@chlafreniere Chatted with the accessibility team and since this is a usability bug, it would be good to fix but given the comment with examples of separators in other apps in the PR linked above, I'll move this to backlog.

[2022-07-14 21:02] kisantia commented on #20032
@ALZDBA just to confirm, the request is for the project nodes to be collapsed like this when the sql database projects extension is activated, right?
![image](https://user-images.githubusercontent.com/31145923/179085251-12fd663e-415d-407e-8f1f-77c161cabca6.png)

[2022-07-14 21:13] Charles-Gagnon commented on #20014
Fixed with https://github.com/microsoft/azuredatastudio/pull/20037

[2022-07-14 21:13] #20014 closed

[2022-07-14 21:13] chlafreniere commented on #19470
By the way, I got a message similar to this when adding an input binding, and then tried adding an output binding into the same function project.

[2022-07-14 21:26] VasuBhog commented on #19470
Will prioritize this in order to ensure we can help users identify the problem. This was found to be a dev machine issue where if a user does the same command in terminal it should state what the issue is.

[2022-07-14 21:49] alanrenmsft opened #20043 "dashboard icon changed after code merge."
now:
![image](https://user-images.githubusercontent.com/13777222/179091591-fb953a78-ba19-4858-b591-414e029c4bf7.png)

previously:
![image](https://user-images.githubusercontent.com/13777222/179091778-3fab481e-7c0f-4797-8958-ee5898bcc6ba.png)

[2022-07-15 00:34] #20043 closed

[2022-07-15 02:39] #20036 closed

[2022-07-15 02:56] jhay06 opened #20049 "Request TLS"
Hi , would like to request to have this feature on azure data studio ,

setting TLS version , this will support backward compatibility to lower version of SQL servers

Thanks

[2022-07-15 11:34] robfarley commented on #20008
Why should column selection only run the first line? SSMS will run the whole selected part.

[2022-07-15 12:56] Pr1vEsc commented on #1774
SQL Tools [4.1.0.19] Is showing a package for MAC ARM using .NET 6.
(Microsoft.SqlTools.ServiceLayer-osx-arm64-net6.0.tar.gz).

I hope Azure Data Studio will soon be native because that would be great.

[2022-07-15 15:10] erinstellato-ms commented on #20008
@robfarley This isn't SSMS, so keystrokes may be mapped differently.  I never use ALT + SHIFT to select a section, quite honestly, I've always just used SHIFT (which also works in SSMS).

[2022-07-15 17:25] sgarwood opened #20052 "Schema Compare tool showing objects as changed but no differences displayed in the diff itself (potential line ending mismatch)"
- Azure Data Studio Version:
[code]

- OS Version:
[code]

Steps to Reproduce:

1. Right click on a  Database Project
2. Select "Schema Compare" from dropdown menu.
3. In the open Schema Compare menu select a SQL Database as the source and Database Project as the Target
4. Observe that views and stored procedures appear with 'Change' in the Action column but the 'Compare Details' window below show

[2022-07-15 23:54] danielsbezerra commented on #20033
1. Trying to connect to SQL Server 2016.
2. Yes, it happens on all SQL Server instances.
3. No, It works perfectly using the direct connection. It fails only from the CMS view.

[2022-07-15 23:57] robfarley commented on #20008
It’s a different thing, which you can see described in https://www.timmitchell.net/post/2019/12/13/ssms-tip-vertical-text-selection/ (or lots of other people’s posts too).

But when there is a block selected like this and someone hits Run, I don’t expect to have only the first row run. It should either be everything that’s selected, or nothing (that is, Run should be unavailable). SSMS runs the wh

[2022-07-16 03:32] alanrenmsft commented on #20008
@robfarley I'll see whether vscode can return the selected text.

[2022-07-16 06:32] robfarley commented on #20008
Thanks Alan.

[2022-07-16 15:36] thecircleoflifefree opened #20061 "Cento7 with azure 1.37 causing system to become unusable , reboot required."
- Azure Data Studio Version: 1.37.0
- OS Version: Linux mymachine 3.10.0-1160.71.1.el7.x86_64 #1 SMP Tue Jun 28 15:37:28 UTC 2022 x86_64 x86_64 x86_64 GNU/Linux
- Machine: Centos 7

Steps to Reproduce:

1. download file
2. yum install the file
3. ensure as per guide that dependency libXScrnSaver is installed
4. run azuredatastudio

Its just stuck/hanging/freeze unable to do anything on the GUI unt

[2022-07-16 15:43] thecircleoflifefree commented on #20061
PD: tested 1.23.0 and no issues experienced

[2022-07-16 17:28] tomgron commented on #12629
This still shows wrong in latest version (1.37.0 user setup)
![image](https://user-images.githubusercontent.com/1743381/179365674-aaeca921-cad0-432c-9ce9-ba4348fa3686.png)

[2022-07-18 15:27] erinstellato-ms commented on #20008
@robfarley Interesting.  Thanks for the more detailed description of the scenario where you use this keystroke combination.  How Tim uses SHIFT + ALT feels different than how you're using it - but I see how technically it's not.

In ADS, using SHIFT+ALT as described in Tim's post doesn't work the same way at all.  @alanrenmsft we can talk about what would be best for ADS.

[2022-07-18 17:21] erpett opened #20063 "July 2022 Release Endgame"
# July 2022 Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.38

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

[win-user]: https://go.microsoft.com/fwlink/?linkid=2132305
[win-system]: https://go.mi

[2022-07-18 17:29] kburtram commented on #20002
Closing since we haven't seen a repro of this.

[2022-07-18 17:29] #20002 closed

[2022-07-18 17:30] #19993 closed

[2022-07-18 18:21] #19916 closed

[2022-07-18 18:27] kisantia commented on #20052
@sgarwood can you check if this also happens in SSDT Schema Compare or if this is specific to ADS?

[2022-07-18 19:32] sgarwood commented on #20052
Defintely looking like line endings here. Windows ADS configured with CRLF and Linux ADS configured with LF.

![windows-ads](https://user-images.githubusercontent.com/13749959/179601916-a91e4747-86ad-4f72-90f9-97054eb06f0b.png)
![linux-ads](https://user-images.githubusercontent.com/13749959/179601921-1f1dc886-74a6-428d-9254-965225f92fc7.png)

When running the compare after switching to CRLF and ru

[2022-07-18 21:25] kisantia commented on #20052
Thanks for all the additional info! Looks like this is something we'll have to look into fixing in DacFx.

[2022-07-18 23:51] robfarley commented on #20008
The concept of selecting a block is the same as in Tim’s post. He says, “Once selected, you can do most anything with that text block,” but doesn’t explicitly say Run. Multi-line editing works fine in ADS. I just don’t like that hitting Run only executes the first line. What if that’s “DELETE dbo.SomeTable” with my WHERE clause on the second line? If someone has been editing with a block selection

[2022-07-19 00:04] #20032 closed

[2022-07-19 00:51] xaxum commented on #6450
For Azure SQL with 10 DBs I can confirm if a serverless DB is asleep it fails to show the databases in the explorer window.  If I wake up the database and they all are online it shows the DBs pretty quickly without issue.

[2022-07-19 10:30] pituach opened #20075 "Request to add Hebrew language to SQL Operations Studio"

[2022-07-19 16:16] barryseymour opened #20077 "Keybinding for objectexplorer.manage doesn't work"
Issue Type: <b>Bug</b>

I need a quick way to initiate a database seaarch. Right-clicking the server and selecting 'Manage' gets me to the search window I want.

I mapped a key binding to that command so I could launch it quickly with they keyboard. I set the key binding for objectExplorer.manage to Ctrl+Shift+F12. The binding displays when I right-click the server, but the key binding does not wo

[2022-07-19 16:42] Charles-Gagnon opened #20078 "Smoke tests fail with `no such file or directory`"
Occasionally the smoke tests will fail with an error similar to this

[code]

It doesn't seem directly related to the specific test (the logs folder is created for each test) though.

[2022-07-19 17:51] Charles-Gagnon opened #20079 "Query history extension not working"
Insiders/RC1

I had made some changes to the query events but haven't published a new version of the extension yet to insiders/RC1 so the current version is broken.

[2022-07-19 18:10] kisantia opened #20082 "Legacy style sqlproj OutputPath not calculated correctly"
This broke in #19987, breaking publish and generate script for most legacy style sqlproj. The sql projects extension used to always look for the dacpac at `.\bin\Debug` when publishing, then this PR added support to read where the `OutputPath` property if it's there and use that as the location of the dacpac.

This was fine if there's only one OutputPath property specified, but not if there are mu

[2022-07-19 19:46] corivera opened #20086 ""Export Notebook as SQL" button still enabled when using python kernel"

[2022-07-19 20:58] Charles-Gagnon opened #20091 ""Unable to read file katex.min.css" error on markdown files"
Open up markdown file (such as in a Jupyter book). This error appears in the console. I'm not seeing this in 1.37 stable

[code]

[2022-07-19 21:16] corivera opened #20092 "Markdown cell toolbar shortcuts don't work just after creating new split view cell"
Repro steps:
1. In the user settings, set the defaultTextEditMode setting to "Split View".
2. Create a new text cell and add some text.
3. Select that text and try to bold it with Ctrl+B.
4. A notification will pop up in the lower right saying "Command 'bold' not found" and the selected text will not be bolded.

Toolbar buttons also don't work in the same repro scenario.

Note that exiting and re-

[2022-07-19 21:18] corivera opened #20093 "Text cells are created in split view mode when setting defaultTextEditMode setting to markdown"
Repro steps:
1. In the user settings, set notebook.defaultTextEditMode to "Markdown"
2. Create a new text cell
3. That cell will be opened in split view mode, but the markdown view tab is selected.

[2022-07-19 21:22] Charles-Gagnon commented on #20092
Can repro in 1.37

[2022-07-19 21:23] Charles-Gagnon commented on #20093
Can repro in 1.37.0

![image](https://user-images.githubusercontent.com/28519865/179850930-cdae5c4e-0d0c-41ee-8a14-6254860b25b4.png)

[2022-07-19 21:24] candiceye opened #20094 "Enable Radio Buttons' defaultValue to be type ResourceTypeOptionValue"
**Is your feature request related to a problem? Please describe.**
DefaultValue can only be a string right now. This causes a default value to not be selected when a radio button's option type is a ResourceTypeOptionValue (looks like: { name, displayName }.

**Describe the solution or feature you'd like**
I made defaultValue of type string | ResourceTypeOptionValue.

**Describe alternatives you've

[2022-07-19 21:53] Charles-Gagnon opened #20095 "Switching notebook kernels doesn't disconnect code cells"
1. Create a Notebook and add a code cell
2. Select SQL kernel
3. Write a T-SQL query and execute it
4. Switch to Kusto kernel
5. Run cells

The cells still run successfully. We should be disconnecting the connection and prompting the user for a new one either when we switch kernels or when they try to run the code cell again.

[2022-07-19 23:31] VasuBhog commented on #20095
Tested on stable. Not a regression.

[2022-07-20 00:18] Charles-Gagnon commented on #20094
Turns out this isn't needed, there were some other issues that made this seem like a bug.

[2022-07-20 00:18] #20094 closed

[2022-07-20 04:27] chlafreniere commented on #20091
@barbaravaldez can you see if you can repro this?

[2022-07-20 04:55] chlafreniere opened #20103 "Attempting to Reopen Closed Notebook or SQL File has No Effect"
- Open notebook (or .sql file)
- Close file
- Press ctrl/cmd+shift+t (or try to navigate via File->Open Recent->Reopen Closed Editor)

Expected: last file reopens
Actual: nothing happens

Note: with .md file, this functionality works as expected. Possibly something to do with how we register our custom editors?

[2022-07-20 05:40] barbaravaldez commented on #20091
I can repro. The issue looks very similar to this other issue in vscode https://github.com/microsoft/vscode/issues/127761

[2022-07-20 10:29] paweston70 opened #20106 "Width of database drop down"
Issue Type: <b>Bug</b>

I realise this is a tiny thing, in the grand scheme of things, but would it be possible to make the database drop-down list either dynamic, based on the width of the current database or database list of names, OR make it a much wider fixed width (or a configurable fixed width)?

![image](https://user-images.githubusercontent.com/37217207/179961004-0437adce-905e-4f4a-9309-d7

[2022-07-20 10:55] river-fall commented on #3220
yes, the issue still persists

[2022-07-20 12:06] henry-js commented on #869
You can download the LiveShare extensions from [here](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare) and [here](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare-audio).
 I downloaded and installed both to Azure Data Studio fine:
![image](https://user-images.githubusercontent.com/79054685/179977740-8d6869b7-39ae-41eb-baf1-1a8f944e02f6.p

[2022-07-20 16:38] ParseBang opened #20110 "Missing index recommendation syntax"
Issue Type: <b>Bug</b>

When using "Estimated Plan" and there is a missing index recommendation, the generated create index syntax puts the same column name in the index column list and INCLUDE column list. This syntax is invalid and fails with:
Msg 1909, Level 16, State 2, Line
Cannot use duplicate column names in index. Column name 'Column' listed more than once.

/*
Missing Index Details from u

[2022-07-20 16:46] Charles-Gagnon opened #20111 "Blank error when connection string connection fails"
1. Open connection dialog
2. Select `Connection String` connection type
1. Enter connection string that will fail (such as `server=skflds`)

A blank error appears instead of the actual error message

![image](https://user-images.githubusercontent.com/28519865/180037781-54e289b8-33b5-4826-819d-21889f45ce1e.png)

[2022-07-20 17:23] alanrenmsft commented on #19783
closing the issue as the fix has been ported to release branch.

[2022-07-20 17:23] #19783 closed

[2022-07-20 17:40] MaddyDev opened #20114 "Unable to open markdown files."
Issue Type: <b>Bug</b>

Open any book that has a markdown readme file
Try opening the markdown file.
Fails with the below error:
<img width="476" alt="image" src="https://user-images.githubusercontent.com/12754347/180047219-f85495f3-6494-489d-9668-30b434a26f72.png">

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T19:53:12.357Z)
OS version: D

[2022-07-20 18:02] Charles-Gagnon commented on #20114
Known issue, this has to do with running multiple versions of ADS at the same time (insiders/RC1/stable). Nothing we can realistically do about it - fix/workaround is just to close all other instances of ADS and then  open up the version you're testing with.

[2022-07-20 18:04] datalou opened #20115 "Login failed for user"
Issue Type: <b>Bug</b>

Login failed for user ""

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T19:53:12.357Z)
OS version: Darwin x64 19.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-7360U CPU @ 2.30GHz (4 x 2300)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabl

[2022-07-20 18:13] Charles-Gagnon commented on #18594
Thanks for the extra details @Gayathri1501 - the fix has been made and you should see it in the latest version of ADS insiders builds.

[2022-07-20 18:19] alanrenmsft commented on #20103
the issue also exists in the previous stable release.

[2022-07-20 19:01] kisantia opened #20117 "Schema compare diff editor colors not reversed after vscode merge"
After the most recent vscode merge, the schema compare diff editor colors are no longer swapped. They are reversed so that the corresponding colors make more sense (ex: scripts that red are getting deleted)

Expected:
![image](https://user-images.githubusercontent.com/31145923/180061210-47e820a0-459e-4f46-9e82-a3cfa6bbf79c.png)

Actual:
![image](https://user-images.githubusercontent.com/31145923/1

[2022-07-20 19:08] chlafreniere commented on #20103
@alanrenmsft yes agreed. If it doesn't meet the bar for July, can we move it to August?

[2022-07-20 19:29] DigitalDuquette opened #20119 "SQLCMD in TSQL not working in ADS"
- Azure Data Studio Version: 1.37.0
- OS Version: Windows 10 Pro

Steps to Reproduce:

1. test.sql executes via sqlcmd in SSMS; however, an `Object reference not set to an instance of an object.` is thrown when running in ADS
![Screen Shot 2022-07-20 at 3 17 37 PM](https://user-images.githubusercontent.com/47231954/180064875-02311c78-3056-4437-8548-5c8d27f74549.png)
![Screen Shot 2022-07-20 at 3 1

[2022-07-20 19:49] smartguest opened #20122 "Langpack Issue for July Release"
If langpack source files aren't included, the strings won't be translated for users.

[2022-07-20 20:19] kboom opened #20123 "Cannot render timecharts"
- Azure Data Studio Version: 1.37.0
- OS Version: Windows 11 Build 22000.co_release.210604-1628

Steps to Reproduce:

1. Produce any KUSTO query that includes a time series (like summarize by bin(Timestamp, 5m) or make-series)
2. Try to view a timechart. It will not show the time on the x axis, or the time will be one day, unrelated to data, and it will be empty.

Does this issue occur when all ex

[2022-07-20 20:23] #20122 closed

[2022-07-20 20:58] #19546 closed

[2022-07-20 21:59] kisantia commented on #20082
For the July release, revert to the previous behavior and target getting the full fix in the August release.

[2022-07-20 22:16] nofield opened #20128 "Ledger Icons to ADS Object Explorer"
For Ledger feature support in ADS, Ledger icons should be added to indicate the following ledger objects: tables, views, and databases.

[2022-07-20 23:19] kburtram opened #20130 "Agent extension causes connections to stop working"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open Agent dashboard
2. Click on Notebooks view when there are no Notebook jobs

Expected: Text saying no notebook jobs

Actual: Spinner never stops and connections stop working.  I suspect the agent service is blocking the message dispatcher.

![image](https://user-images.githubusercontent.com/599935/180098654-a518c119-056c-4b26-84bc-ad

[2022-07-20 23:58] #20117 closed

[2022-07-21 00:56] zijchen opened #20133 "Database Projects - Generate script not working for new Azure SQL DBs"
- Azure Data Studio Version: RC build from https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=163875&view=results
- OS Version: Win 11

Steps to Reproduce:

1. Create SDK style project, add some tables/views/etc.
2. Build and generate script to a new database, the script task says it succeeded but the output script is empty

![image](https://user-images.githubusercont

[2022-07-21 02:21] ssreerama commented on #20133
weird, I tried the same thing but I can see the script generated. I installed the RC from the build and installed SQL DB v0.18.0., created an SDK style proj and added a table and view. (In Win10)..

![image](https://user-images.githubusercontent.com/74571829/180115865-cfbcaccc-67bb-4deb-9a04-5d0c69b99167.png)

[2022-07-21 15:05] mkorsukov opened #20134 "Allow results panel to be moved right or left"
**Feature request**

It would be so helpful to be able to move _the results panel_ left or right. It saves tons of space and improves productivity. Please see attached images.

**Current layout**

![ads-01](https://user-images.githubusercontent.com/21244808/180247743-57a729f8-7983-4852-a6c0-d854ab67370e.png)

**Desired (optional) layout**

![ads-02](https://user-images.githubusercontent.com/212448

[2022-07-21 15:19] danielsbezerra commented on #869
Works perfectly! In fact, there's an option to download Live Share Extension Pack from [here](https://marketplace.visualstudio.com/items?itemName=MS-vsliveshare.vsliveshare-pack), which includes live share audio and text chat.

<sup>Note.: Instructions about how to download extension directly from Marketplace [here](https://code.visualstudio.com/docs/editor/extension-marketplace#_can-i-download-an

[2022-07-21 15:32] kisantia commented on #20133
I'm also not able to repro this on the latest RC build with sql database projects 0.18.0. Let's check again if this still happens after the fix for #20082 gets into the release branch

[2022-07-21 17:23] alanrenmsft commented on #20134
@mkorsukov is it going to help if text editor area and results are on different tabs within the query editor?

[2022-07-21 17:25] alanrenmsft commented on #20123
will try to repro and triage in Aug milestone

[2022-07-21 17:26] alanrenmsft commented on #20119
![image](https://user-images.githubusercontent.com/13777222/180276020-d73171db-9e04-4db3-bca2-7e9dbee5f69d.png)

@DigitalDuquette have you enabled SQLCMD in the query editor?

[2022-07-21 17:28] alanrenmsft commented on #20115
@datalou could you please add detailed repro steps?

[2022-07-21 17:36] DigitalDuquette commented on #20119
@alanrenmsft 100% I am and obsessively have checked a few times. Here's a .gif example where it's enabled in SSMS _and_ ADS with SSMS working and ADS kicking the error:

![Screen Recording 2022-07-21 at 1 34 29 PM](https://user-images.githubusercontent.com/47231954/180277629-ed4d9493-829e-4f19-bacc-6a1e4192733c.gif)

I've also tested on macOS and on another windows box with the same error.

[2022-07-21 17:43] Charles-Gagnon opened #20137 "CMS view blank when no saved servers"
1.37/RC1/Insiders

1. Install CMS extension
2. Make sure there are no saved extensions
3. Reload window

The CMS view is shown, but it's blank.

![image](https://user-images.githubusercontent.com/28519865/180278309-87ba2696-edf7-4798-9cea-ab11b8f32c51.png)

Expected

![image](https://user-images.githubusercontent.com/28519865/180278538-830e6504-0dc3-4dc5-83dd-0a6795a04b35.png)

There's this error

[2022-07-21 17:48] Charles-Gagnon commented on #20137
Seems like same issue as https://github.com/microsoft/azuredatastudio/pull/20116

[2022-07-21 17:54] DigitalDuquette commented on #20119
[20220721T135202.zip](https://github.com/microsoft/azuredatastudio/files/9161657/20220721T135202.zip)

Cleaned up log folder, then enabled debug mode, attached .zip.  I don't see anything in here but I dunno what I'm looking for either. 🤷‍♂️

[2022-07-21 18:15] DigitalDuquette commented on #20119
Also, here are the scripts I used for testing:
[sqlcmd.zip](https://github.com/microsoft/azuredatastudio/files/9161752/sqlcmd.zip)

[2022-07-21 18:19] mkorsukov commented on #20134
@alanrenmsft It works as temporary workaround, however it needs to sync (run query) the second tab again and again. Here is the same idea from SSMS:

![image](https://user-images.githubusercontent.com/21244808/180285519-b179848a-3267-4f86-9c8d-0da4007c4a40.png)

[2022-07-21 21:18] #20082 closed

[2022-07-21 22:15] mkorsukov commented on #20134
Would be nice having _three icons (buttons) on the results panel itself_. Here is an existing example in VS Code (ignore the dropdown menu, please):

![image](https://user-images.githubusercontent.com/21244808/180323661-27f0fdbf-4681-493d-aaef-cfa828fda0e4.png)

😄

[2022-07-21 22:32] justinw-SMC commented on #20061
I've been able to reproduce this issue and attached the full log file
OS: CentOS Linux release 7.9.2009 (Core)
azuredatastudio --version = 1.37.0

I've tried `--disable-gpu` and `--disable-extensions` but the problem persists

Error snippet:
[code]

[azure-error.log](https://github.com/microsoft/azuredatastudio/files/9163130/azure-error.log)

[2022-07-21 22:50] dzsquared opened #20141 "Adding 2022 container to deployment wizard"
![image](https://user-images.githubusercontent.com/12227241/180326657-54c9bea6-ef25-4b09-aaed-0f4155d4aed7.png)

mcr.microsoft.com/mssql/server:2022-latest
for SQL Server 2022 (preview)

[2022-07-21 22:50] dzsquared opened #20142 "Adding 2022 container to sqlproj publish"
with sql projects targeting SQL 2022, the publish to container should now point towards mcr.microsoft.com/mssql/server:2022-latest with the label SQL Server 2022 (preview)

[2022-07-21 23:23] kisantia commented on #20133
Update: this is only happening on Azure when generating script for a database that doesn't exist and the script doesn't contain any of the expected create table and view statements, just this:
[code]

When generating script for an Azure db that already exists or to an on prem db that doesn't exist, the script gets created with the expected create table and view statements. I've checked back to the

[2022-07-21 23:33] ssreerama opened #20143 "Schema compare Sql Proj as target shows differences for SqlView and StoredProcedures after apply"
- Azure Data Studio Version: ADS 1.38.0-rc1
- OS Version: Win10

Steps to Reproduce:

1. Open SQl DB Proj extension and open SC on fresh SQL DB proj
2. Select DB as source (have some table/view/sp objects)
3. Select SQL DB Project as target
4. Compare and apply changes
5. Compare again after the changes applied to the sql proj
6. Should expect no differences, but is showing view/Sp in the diff win

[2022-07-22 00:24] justinw-SMC commented on #20061
**The last stable version is 1.30.0**
This bug appears in [July 2021 Release Hotfix 1 (version 1.31.1)](https://github.com/microsoft/azuredatastudio/releases/tag/1.31.1)
It appears to be the same issue from 1.31.1 to 1.37.0.
Here are the `azuredatastudio --verbose` outputs:
[1_30_0.txt](https://github.com/microsoft/azuredatastudio/files/9163534/1_30_0.txt)
[1_31_1.txt](https://github.com/microsoft

[2022-07-22 00:46] kisantia commented on #20143
The scripts for views, stored procedures, and schemas weren't getting recognized as part of the model because the `GO` was appended on the same line at the end of the script, not on a new line, like this;
[code]

This was caused by a recent change in DacFx that changed where the logic of where `GO` gets added to the script. This wasn't caught by the tests because there were only tests for tables a

[2022-07-22 01:17] kisantia commented on #20143
Left images are the first schema compare result and the right images are the result after applying the changes and doing a second schema compare

expected - no changes:
![image](https://user-images.githubusercontent.com/31145923/180340833-8b1b26f8-a2b1-4407-b456-c8a4c9968f40.png)

actual - there are objects not missing from the target project's model and a build failure:
![image](https://user-imag

[2022-07-22 05:20] #20128 closed

[2022-07-22 12:27] Desmo46 opened #20147 "Search for tables, SPs, etc in the Connections window"
Issue Type: <b>Feature Request</b>

Can we implement a search function on the Connections sidebar to search through all listed DBs for table names, SP names, udf names, etc.

SQL server has this functionality which is extremely valuable for servers with hundreds of tables and procedures.

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:

[2022-07-22 12:30] Desmo46 commented on #20147
I see this is already raised in issue #12932

[2022-07-22 12:30] Desmo46 commented on #20147
``

[2022-07-22 12:31] Desmo46 commented on #12932
Would love to see some progress on this, a simply function but makes using ADS very difficult to use without.

[2022-07-22 12:32] Desmo46 commented on #20147
Closing as per similar topics.

[2022-07-22 12:32] #20147 closed

[2022-07-22 14:11] craibuc opened #20148 "Macro to export result sets"
**Is your feature request related to a problem? Please describe.**
I generate datasets for clinical researchers.  Often times, the queries will return multiple result sets, which need to be exported as CSV or XLSX and sent to the requestor.  Currently, I need to click the export button for each result set; I'd like to be able to automate this process.

**Describe the solution or feature you'd like

[2022-07-22 17:22] #20092 closed

[2022-07-22 17:42] alanrenmsft commented on #20141
@dzsquared you read my mind, i was just about to ask when testing this feature.

[2022-07-22 17:43] #19719 closed

[2022-07-22 18:00] alanrenmsft commented on #20137
fix has been merged to release branch. closing the issue

[2022-07-22 18:00] #20137 closed

[2022-07-22 18:00] alanrenmsft commented on #20130
fix has been merged to release branch. closing the issue

[2022-07-22 18:00] #20130 closed

[2022-07-22 18:17] justinw-SMC opened #20151 "CentOS7 unable to connect to database"
- Azure Data Studio Version: 1.29.0 and later
- OS Version: CentOS 7
[code]
Steps to Reproduce:

1. sudo yum install -y azuredatastudio-linux-1.29.0.rpm
2. ensure libXScrnSaver is installed
3. azuredatastudio --disable-extensions
4. Select "Add Connection" under CONNECTIONS
5. Enter anything and press Connect (doesn't have to be valid credentials, since error should pop up)
6. Notice connection wi

[2022-07-22 18:22] justinw-SMC commented on #20151
Expected behavior from 1.28.0

Should show at least an error message. I'm also able to make a connection to my company database using this version.

![image](https://user-images.githubusercontent.com/91086628/180500322-6d3c752f-b36c-40c3-8de6-f15c7a7f6c38.png)

[2022-07-22 19:14] Charles-Gagnon commented on #20137
Verified that issue no longer repros on RC1

[2022-07-22 19:28] alanrenmsft commented on #20137
yes, I did verify it.

[2022-07-22 19:35] Charles-Gagnon commented on #20137
Oh sorry, I meant that I went and verified it too just for extra confirmation 😁

[2022-07-22 20:41] chlafreniere commented on #20091
@barbaravaldez where did we land on this issue? Is it already fixed in main?

[2022-07-22 20:48] #20141 closed

[2022-07-22 20:51] chlafreniere commented on #20041
@corivera is this something that we could address soon, or should this go to backlog for further triage?

[2022-07-22 20:52] corivera commented on #20041
It might just be a kernel dropdown thing. I'll take a look

[2022-07-22 20:54] chlafreniere commented on #20041
Sounds good, thanks @corivera

[2022-07-22 22:58] barbaravaldez commented on #20091
@chlafreniere I can still repro. There's another issue that is similar to this in vscode. i'm going to try that approach and see if it works

[2022-07-23 18:42] ankushcngls opened #20160 "Azure SQL Migration extension"
- Azure Data Studio Version:  1.37.0
- OS Version:Windows_NT x64 10.0.19044

Steps to Reproduce:

1.Click on Azure SQL Migration extension
2.Select a database migration service and get a below screenshot
3. Not able to view location and resource group.

![image](https://user-images.githubusercontent.com/109872570/180618687-cfc30799-a97d-437f-9cf5-a5d0f323f44d.png)

Note: Location,Resource group an

[2022-07-25 15:48] Charles-Gagnon commented on #20160
@brian-harris @raymondtruong @rchlkm

[2022-07-25 18:45] caohai commented on #19812
Fixed by STS vbump in #20150

@drizztdourden08 This should be fixed in the latest insider build. Can you give it a try?

[2022-07-25 18:45] #19812 closed

[2022-07-25 19:04] alanrenmsft commented on #19812
@caohai actually we don't have an insider build today, there is an issue with the build pipeline. please wait for the new insider build.

[2022-07-25 19:07] caohai commented on #19812
I think the latest insider is from 7/22. I tested with that one and this issue is fixed for me.
![image](https://user-images.githubusercontent.com/21186993/180855334-9320c5d4-1d6e-4c67-a69b-ae955e8fceaa.png)

[2022-07-25 19:15] caohai opened #20163 "[Table Designer] History table name not consistent with current table name if current is renamed"
Steps to reproduce:
1. Create a new table
2. Change table name
3. Enable system-versioning

![image](https://user-images.githubusercontent.com/21186993/180856538-731bcc0d-1e20-47ea-8ee3-29f112f482f2.png)

[2022-07-25 19:58] drizztdourden08 commented on #19812
Thanks for this.

I don’t have an insider build to test on the machine where I saw the problem. It’s an enterprise server machine and I can’t use insider preview on it. I’ll take your word for it for now and wait for the release.

good support and timeline to work on this. Really great team. :)

[2022-07-25 20:35] #20143 closed

[2022-07-25 21:37] alanrenmsft commented on #19938
no repro.

[2022-07-25 21:37] #19938 closed

[2022-07-25 21:39] #5307 closed

[2022-07-25 21:43] alanrenmsft commented on #6669
found this old issue and I gave it a try, no longer reproducible.

[2022-07-25 21:43] #6669 closed

[2022-07-25 21:56] alanrenmsft commented on #20106
@paweston70 if the current database name is truncated you can also find it in other places:
![image](https://user-images.githubusercontent.com/13777222/180879908-1afce239-c3c9-44cf-b853-8fc01c3509ce.png)

At this point, we don't see a need to introduce a setting or dynamically change the width of it. but we can definitely revisit if this becomes a major complaint.

[2022-07-25 21:56] #20106 closed

[2022-07-25 22:39] alanrenmsft commented on #20123
I took a look at the time series implementation, and turns out it has special requirements on the data, there must be 3 columns,
column 1: the series name
column 2: the datetime value
column 3: the numeric value

I used the following T-SQL query:
[code]
and produced the following result and chart:
![image](https://user-images.githubusercontent.com/13777222/180885638-f7765d22-51b2-4250-8f24-f5af05d

[2022-07-25 22:46] alanrenmsft commented on #16860
Time series chart has special requirements on the data, there must be 3 columns,
column 1: the series name
column 2: the datetime value
column 3: the numeric value

example:

![image](https://user-images.githubusercontent.com/13777222/180885638-f7765d22-51b2-4250-8f24-f5af05da955d.png)

![image](https://user-images.githubusercontent.com/13777222/180885741-b53a6c0c-d75c-4ad9-a776-6f26ed0b1bd6.png)

[2022-07-25 22:47] alanrenmsft commented on #20123
@kboom I am closing this issue as a dupe of #16860, if you have additional issues with this feature, please add comments over there to make it easier to manage.

[2022-07-25 22:47] #20123 closed

[2022-07-25 22:49] alanrenmsft commented on #16860
@erinstellato-ms @yualan , the requirements on data is not discoverable to the users, please let me know how you want to prioritize and proceed.

[2022-07-25 22:53] #19826 closed

[2022-07-26 01:03] erinstellato-ms commented on #16860
@alanrenmsft You're stating that if those three data elements (series name, datetime value, numeric value) do not exist, then you cannot render a timechart.

Reviewing Julie's query...

StormEvents
| summarize EventCount = count() by StartTime = bin(StartTime, 1d), EventType
| order by StartTime  asc
| take 100

count(*) is the numeric value
EventType is series name
and StartTime is datetime

I cr

[2022-07-26 09:51] fkpwolf opened #20169 "Sometimes all columns in Result are left as empty"
Issue Type: <b>Bug</b>

I have to wait a few seconds and then the columns show data.

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:12.352Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|AMD Ryzen 7 5800X 8-Core Processor              (16 x 3793)|
|GPU

[2022-07-26 17:15] kburtram opened #20171 "Cannot create new Agent Job Step"
- Azure Data Studio Version: 1.37

Steps to Reproduce:

1. Create agent job
2. Add step to job
3. Fill out all required fields

Expected: Job step can be created.

Actual: OK button is disabled even when all required fields have been populated.

![image](https://user-images.githubusercontent.com/599935/181069537-41ef3510-eee6-4b42-8c37-f1f56020046a.png)

[2022-07-26 17:23] kburtram opened #20173 "Restore remote file browser raises error dialog"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open Restore dialog and change to backup file
2. Open remote file browser dialog

Expected: No errors and dialog works properly.

Actual: Error message shown with little details about cause.  Dialog works properly.  Seems to only show error first time the dialog is loaded.

![image](https://user-images.githubusercontent.com/599935/181071

[2022-07-26 21:00] smartguest opened #20175 "Pressing enter on new row for edit data does not commit the row until you click on it."
Entering a valid value into the new row and pressing enter does not create a new row below or actually submit the cell until you click on the cell, at which point it finally does.

[2022-07-26 21:18] vidhyasagarreddy opened #20176 "App resets zoom when clicking on JSON dataset, that opens data in a separate tab"
Issue Type: <b>Bug</b>

Set some Zoom percentage
Run a query that returns a JSON dataset
Select one of the JSON value and observer the IDE, the zoom would be reset

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:12.352Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|-

[2022-07-27 00:39] #16518 closed

[2022-07-27 05:10] bnsateesh opened #20179 "Run with Parameters is encoding input parameter values (no encoding is expected)"
- Azure Data Studio Version: 1.35.1
- OS Version: Windows 11 21H2 22000.795

Steps to Reproduce:

1. Run any Python Kernel notebook using 'Run with Parameters' option
2. Enter a string with spaces and spaces will be converted to '+' in the injected cells for parameters. Screenshot attached. No encoding is expected and value should be as is actually.

Does this issue occur when all extensions are d

[2022-07-27 11:44] marvinbuss opened #20180 "Wrong URL provided when selecting Database"
- Azure Data Studio Version: 1.37.0
- OS Version: Windows 11

Steps to Reproduce:

1. Login to Azure Account
2. Select Synapse SQL Pool from subscription to create a connection
3. Check connection details: *Server*

For a Synapse SQL Pool, it should provide the following URL `<synapse-workspace-name>.azuresynapse.net` instead of `<synapse-workspace-name>.database.windows.net`. This is a bug and th

[2022-07-27 12:55] erinstellato-ms commented on #16860
@alanrenmsft Ok, I recreated the issue that Julie reported.

The output is only State and EventCount, there is no datetime value, therefore the chart cannot be rendered.

So when you say "the requirements on data is not discoverable to the users" - I think what you're saying is that we're not helping the user understand that they are missing a required data element, correct?

Is there any way to d

[2022-07-27 13:24] JonTheTurnip commented on #3121
Just checking out notebooks in Azure Data Studio, great stuff but really need the shortcuts :)

[2022-07-27 15:23] aersamkull opened #20181 "Files containing @ displayed incorrectly and leading to error"
Issue Type: <b>Bug</b>

1. Create a SQL Project with Files containing @, eg using Visual Studio SSDT
2. Open in Azure Data Studio
3. File shows in Azure Data Studio with %40 instead of @ and opening it fails

Extension version: 0.17.2
Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:12.352Z)
OS version: Windows_NT x64 10.0.19044
Restrict

[2022-07-27 15:24] aersamkull commented on #20181
I have such files because of Azure AD Logins

[2022-07-27 15:31] aersamkull commented on #20181
It seems that the csproj actually contains %40 in the filename, maybe some kind of encoding

[2022-07-27 18:24] alanrenmsft commented on #19826
@swaschitz There was a bug when calculating the required width for a given text, I have fixed it. Could you please try the [latest insider build](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main)?

The fix will be included in August's stable release.

[2022-07-27 18:49] shudson302 commented on #3270
Please fix this!  I have to keep SSMS running just to use the object explorer!

[2022-07-27 19:40] #20063 closed

[2022-07-27 20:30] swaschitz commented on #19826
I can confirm that this is now working as I would expect in this Insiders Release:

Version: 1.39.0-insider
OS: Darwin x64 21.6.0

Thank you very much!!!  I really appreciate it!
<img width="422" alt="2022-07-27_16-26-19" src="https://user-images.githubusercontent.com/71793478/181366374-7b23d1d8-50ef-440a-bc7a-b1d81d60c22c.png">

[2022-07-27 20:59] swaschitz commented on #19826
I can also confirm this is fixed on Windows.  Once again, thank you very much!!! I really appreciate it!
<img width="415" alt="2022-07-27_16-58-20" src="https://user-images.githubusercontent.com/71793478/181371158-1e801e1a-c216-441d-a002-ff3b56ecce3d.png">

[2022-07-27 21:43] alanrenmsft commented on #19826
@swaschitz good to know. thanks for confirming.

[2022-07-27 23:09] Charles-Gagnon commented on #18594
@Gayathri1501 Please verify the fix and close this issue

[2022-07-27 23:12] Charles-Gagnon commented on #19756
@aborremans These should be correctly colorized in the latest ADS update. Let us know if you see any more that aren't correct!

![image](https://user-images.githubusercontent.com/28519865/181388158-a7c944f0-a41f-4b85-9444-ed6d576cf14c.png)

[2022-07-27 23:12] #19756 closed

[2022-07-28 01:39] alexbousquet opened #20189 "Won't parse SqlCmdVariable "<DefaultValue />" generated by SSDT build"
Issue Type: <b>Bug</b>

1. Add following section to a `sqlproj` file that is currently refreshing without any errors:
[code]

2. Save `sqlproj` file
3. Refresh to confirm no errors have been introduced
4. Change`<DefaultValue></DefaultValue>` to `<DefaultValue />`
    - This was changed by building the project in SSDT
5. Refresh project again
    - *Expected*: Same result as step 2 (no notificatio

[2022-07-28 01:44] #20103 closed

[2022-07-28 07:17] Gayathri1501 commented on #18594
Verified in this below version:
Version: 1.38.0 (user setup)
Commit: dff93c4736269ef2a7e8a225737a0d8354bf0246
Date: 2022-07-26T23:56:16.217Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.25163

Issue is not fixed, it is still reproducing in the latest version also. Please find the Attachment.
<img width="960" alt="A11y_Azu

[2022-07-28 07:31] GrzegorzLyp opened #20190 "Query Plan Viewer hides query details panel when using collapse buttons on plan"
- Azure Data Studio Version: 1.38
- OS Version: Win11 22000.832

Steps to Reproduce:

1. Execute query with actual plan turned on
2. Press the "minus" button on the plan.
3. Upper gray panel with query cost and query text hides

Does this issue occur when all extensions are disabled?: Yes

![image](https://user-images.githubusercontent.com/29247982/181447213-a6c526f4-eb2c-48aa-be08-87051c52d9ac.pn

[2022-07-28 08:07] mcx808 commented on #16125
Bump. A year in and VSCode is now arm64, MSSQL Extension is arm64, even OneDrive is arm64. In fact ADS is the only tool I have left that is still not apple silicon native.

[2022-07-28 11:47] gfoley97 opened #20191 "XML Columns - Linearized"
Issue Type: <b>Feature Request</b>

I would like an option to be able to click on an XML column in the SQL results view and have it open the XML in a new window "pretty printed" instead of linearized.

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:16.217Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: Yes

[2022-07-28 14:42] sqlatspeed opened #20192 ""TCP Provider, error: 35 - An internal exception was caught" when connecting to Managed Instances"
- Azure Data Studio Version: 1.37.0
- OS Version: macOS Catalina 10.15.7

Steps to Reproduce:

1. Open ADS
2. Log into VPN
3. Connect to any managed instance in our production subscription
4. "TCP Provider, error: 35 - An internal exception was caught" displays after 60 seconds

Does this issue occur when all extensions are disabled?: Yes
![Screen Shot 2022-07-28 at 8 22 36 AM](https://user-images

[2022-07-28 15:28] clcridgeview opened #20193 "Query History has no icon when moved to the Activity Bar"
When query history is dragged from the default location (bottom panel) over to the activity bar it doesn't show an icon.

I generally keep the bottom panel closed, especially with results showing, that's a lot of screen lost.  So dragging it off to the activity bar puts in a visible space when I need it without having to open the bottom panel, restore the query, close bottom panel.  Feels more nat

[2022-07-28 16:01] craibuc commented on #6724
What is the development state of the `Extension for Oracle` extension?  Any idea when query support will be present?

[2022-07-28 16:25] Charles-Gagnon commented on #18594
@Gayathri1501 Please always use the latest insiders builds when verifying fixes.

https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

Stable builds are only released every other month (approximately) and so fixes made will take a long time to show up there.

[2022-07-28 16:35] NanaYawJr commented on #1727
i am getting the same error while trying to create a new connection

A connection was successfully established with the server, but then an error occurred during the pre-login handshake. (provider: TCP Provider, error: 0 - Undefined error: 0)

[2022-07-28 16:58] #20193 closed

[2022-07-28 17:12] kburtram commented on #1727
@NanaYawJr this is a pretty old issue and this can occur for a variety of causes.  You can try setting "Trust Server Certificate" to True in the Advanced Connection options, which helps in some cases.  You can also search through older issues for various other suggestions to similar issues.  If that doesn't help please open a new issue with more details on your repro/environment.  Thanks!

[2022-07-28 17:33] aborremans commented on #19756
I just updated to the most recent version and things are looking great! Thanks @Charles-Gagnon

[2022-07-28 21:42] alanrenmsft commented on #20008
Did some investigation today, we don't have support for multiple selection mode. In order to support this, changes need to be made in ADS core, extension API definition as well as the sql tools service that actually implement the query execution.

[2022-07-28 21:46] alanrenmsft commented on #16860
@erinstellato-ms , yes, that's what I meant.
yes, we can show a message to the user about the requirements. Please create a doc page and share the message and the link with me, I'll show it in ADS when user try to use the time series chart, but the data doesn't meet the requirements.

[2022-07-28 21:48] alanrenmsft commented on #20008
put this in backlog for now and @erinstellato-ms you can decide the correct milestone for it.

[2022-07-28 21:50] alanrenmsft commented on #20119
@DigitalDuquette I've fixed the issue and it will be available in tomorrow's [Insider build](https://github.com/microsoft/azuredatastudio/issues/20008), please give it a try. Thanks

[2022-07-28 21:51] #20119 closed

[2022-07-28 21:55] alanrenmsft commented on #19886
closing as a dupe of #20107

[2022-07-28 21:55] #19886 closed

[2022-07-28 23:29] robfarley commented on #20008
Ok thanks Alan. If you can't run all of it, I'd rather it runs none of it. If you can detect that it's in "multiple selection mode", then maybe just disable execution? (To avoid accidentally running a "DELETE dbo.someTable" without the WHERE clause on the line below.

[2022-07-28 23:38] alanrenmsft commented on #20008
@robfarley that sounds reasonable, let me work with Erin on this.

[2022-07-28 23:40] alanrenmsft commented on #20119
corrected the link in above comment.

[2022-07-28 23:41] alanrenmsft commented on #20119
@DigitalDuquette I've fixed the issue and it will be available in tomorrow's [Insider build](https://github.com/microsoft/azuredatastudio/#try-out-the-latest-insiders-build-from-main), please give it a try. Thanks

[2022-07-29 00:03] DSunrisein opened #20202 "Schema Compare scrolls back to top after each click"
when comparing schema, auto scroll back to top of the page after each click.

[2022-07-29 02:58] erinstellato-ms commented on #20008
@alanrenmsft  I'd agree with Rob's assessment to just not run the statement at all if you can detect that.  Let me know if you want to chat further.

[2022-07-29 02:59] erinstellato-ms commented on #16860
@alanrenmsft ack - give me time to figure out where the page should go and get it put together.

[2022-07-29 06:06] tuxpoldo commented on #16125
August 2022 Release (1.38) since without Apple Silicon support :-(

[2022-07-29 09:47] paweston70 commented on #19886
Apologies - had forgotten that I'd put this in already.  Thanks @alanrenmsft

[2022-07-29 17:11] cesoftware opened #20206 "Left Ctrl +Left Shift + P won't open Command Palette"
In preparing this bug report, I also checked Visual Studio Code and this is an issue there as well.

When I hit Left Ctrl +Left Shift + P, ADS does nothing. Every other combination works. For instance:

Works:
- Right Ctrl + Left Shift + P
- Right Ctrl + Right Shift +P
- Left Ctrl + Right Shift + P
- F1

Doesn't work:
- Left Ctrl + Left Shift +P

I've not been able to find any other key combinatio

[2022-07-29 17:53] OzBob opened #20207 "save as, ctrl Z, removes all content"
Issue Type: <b>Bug</b>

open a saved document
type
1<enter>
2<enter>
3<enter>
press ctrlZ 3 times, as expected.
Now, SaveAs
press ctrlZ and the whole document dissappears

expected behaviour
press ctrl Z after saveas and the 1,2,3 dissapear.

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:16.217Z)
OS version: Windows_NT x64 10.0.22000

[2022-07-29 18:47] kburtram commented on #20115
We are unable to investigate this issue with the provided details.  Please provide additional repro steps if you are still impacted by this issue.  Thanks!

[2022-07-29 18:47] #20115 closed

[2022-07-29 20:14] #7437 closed

[2022-07-29 20:21] EklipZgit commented on #7643
This is a pretty big bug to be open for 3 years. Troubleshooting an issue where SSMS and Azure Data Studio did not agree on the state of the database was freaky. Not a good look, at least disable the setting so that users dont THINK that it is reading committed when really reading uncommitted.....

[2022-07-29 21:08] alanrenmsft commented on #20207
This is an issue we inherited from vscode, I've created an issue in vscode repo:https://github.com/microsoft/vscode/issues/156697

[2022-07-29 21:08] #20207 closed

[2022-07-29 22:41] kburtram commented on #7643
The current implementation is that query execution options are applied to the session each time a query is executed.  If the above script is executed as a single unit then the result is as expected, but line-by-line the query options get reapplied on each query execution, so if a previously executed SET statement conflicts with the user's query execution options then the previous statements change

[2022-07-29 23:03] Charles-Gagnon commented on #20193
@clcridgeview I just updated the Insiders gallery with a version of the extension that should fix this, try it out and let me know if you still see any issues! Thank you for the feedback!

[2022-07-29 23:05] Charles-Gagnon commented on #7437
@Peter-Msft I just updated the Insiders gallery with a version of the extension that add double-click support, try it out and let me know what you think! You can configure whether it'll open or run the query on double click in the user settings.

Thank you for your feedback!

[2022-07-29 23:22] EklipZgit commented on #7643
I don't think you're understanding the problem here.

User A: Open SSMS,
Begin transaction
DELETE one row from table. DO NOT commit transaction.

User B:
Open SSMS. SELECT FROM (TABLE) WHERE id = (deleted uncommitted id)
   returns 1 row, it isn't committed.
Open ADS. SELECT FROM (TABLE) WHERE id = (deleted uncommitted id)
   returns 0 rows, reading the uncommitted transaction despite my settings

[2022-07-29 23:40] dzsquared commented on #18767
Closing as low pri with upcoming .NET Core 3.1 EOL in Dec 2022.

[2022-07-29 23:40] #18767 closed

[2022-07-30 00:50] rajyraman commented on #13931
Does not work for me in Azure Data Studio 1.38.0 as well. I am able to use `SqlConnection` with C# and connect to the TDS endpoint using Service Principal and secret, but ADS does not work at all.

[2022-07-30 01:12] #19771 closed

[2022-07-30 01:13] alanrenmsft commented on #19771
@irahsu thanks for reporting the issue, I've fixed it and next stable build should have the fix, if you are using Insider build, you should be able to get the fix by next week.

[2022-07-30 02:24] alanrenmsft commented on #20008
I've blocked the query execution when the editor is in mult-selection mode for both ADS and vscode-mssql extension. also confirmed that the notebook feature doesn't have this issue because it is designed to always execute all the text in a cell.

[2022-07-30 02:34] MaddyTP commented on #13931
Any update on this issue?

It’s beginning to seem like maybe they don’t want to solve so as to force use of Azure Synapse Link for Dataverse…

[2022-07-31 05:01] robfarley commented on #20008
Thank you. :)

[2022-07-31 14:10] beautifulcoder commented on #5139
I have this set in Azure Data Studio but looks like the grid simply ignores these settings. Is the fix to allow customizations of the scrollbar width? I assume for both horizontal and vertical scrollbars.

"editor.scrollbar.verticalScrollbarSize": 6

[2022-07-31 14:15] beautifulcoder commented on #5139
Oof, I am noticing it also ignores this setting, and the scrolling experience is clunky.

"editor.mouseWheelScrollSensitivity": 3

[2022-08-01 03:00] TalariaxKhin commented on #2090
after upload the file, got an error message "Language Client is not ready yet." what does it means?

[2022-08-01 08:40] kenhan90 opened #20217 "can not new table in chinese ver"
Issue Type: <b>Bug</b>
![image](https://user-images.githubusercontent.com/28731801/182108833-ce71a8ca-8822-4db2-b65f-6fa18afc4f6f.png)
can not new table in chinese version,only refresh!
中文版本不能新建表，右击看不到创建按钮，只有刷新按钮
![image](https://user-images.githubusercontent.com/28731801/182108604-b4a189fd-ff08-48f9-ab51-280b637866cc.png)

Extension version: 1.38.0
Azure Data Studio version: azuredatastudio 1.38.

[2022-08-01 11:17] Gayathri1501 commented on #18594
Verified this bug in this below version in Insiders version:
Version: 1.39.0-insider (user setup)
Commit: 6be142022080c2c32451afe99f8758cb7c63c52d
Date: 2022-08-01T05:33:09.170Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.25163
<img width="960" alt="A11y_AzureDataStudio_New Deployment SQL server 2019 Big Data Cluster_Scr

[2022-08-01 11:17] #18594 closed

[2022-08-01 16:10] cesoftware commented on #20206
Remember how I said repeatable? It has been for a while. But this morning I tried it in both ADS and VSC and left ctrl + left shift + P is now working. I don't know why. I haven't changed the configuration in either since I put in this bug report and neither the machine I'm using nor ADS & VSC have been restarted.

Being unable to reproduce it anymore nor able to provide insight as to why it's sud

[2022-08-01 16:10] #20206 closed

[2022-08-01 16:47] dzsquared commented on #2090
@TalariaxKhin please open a new issue with more details on the issue you encountered. The "report issue" menu item in ADS may be helpful.

[2022-08-01 19:09] heliolino opened #20219 "Not possible to save profiler trace"
Issue Type: <b>Bug</b>

one customer is trying to use Azure Data Studio to trace application queries but wants to export/save the trace captured.

Is there a way to save the data somewhere ? the closest he got was from this page https://thewindowsupdate.com/2022/04/09/tips-tricks-2-sql-server-profiler-xevents-for-azure-sql-db/, but at the end of the process he lost all data after stopping the trac

[2022-08-01 21:44] smartguest commented on #20219
Saving is currently not supported by ADS at the moment for profiler tracing @heliolino

[2022-08-02 07:13] markroosenlom opened #20223 "after software update lost all my connections and connecting to a data source (sql server) is not working anymore"
Issue Type: <b>Bug</b>

open azure data studio
left hand side open a server > connection

connection is failing

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:16.217Z)
OS version: Windows_NT x64 10.0.18363
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @ 1.70G

[2022-08-02 15:38] Palsternakka opened #20225 "Unable to connect to SQL Server using Windows Authentication"
- Azure Data Studio Version: 1.38.0
- OS Version: Xubuntu 22.04.1 LTS

**Steps to Reproduce:**

1. Run `kinit` in a terminal, enter credentials
2. Click New Connection in Azure Data Studio
3. Enter Server, select Windows Authentication as Authentication Type
4. Click Connect

After a few seconds this error appears:

![image](https://user-images.githubusercontent.com/41788480/182412594-9ec85a95-0f0

[2022-08-02 15:57] caviyacht commented on #392
Any update on this, I want to leave SSMS in the past but I can't...

[2022-08-02 16:57] pelsql opened #20226 "Redo is limited to only one redo, while Undo is not limited."
Issue Type: <b>Bug</b>

This is so unexpected, as VS-CODE and SSMS Redo aren't limited to only one Redo. For example, add three words to a text file, repeat undo three times, and then redo three times, and the text is back as it was before.

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:12.352Z)
OS version: Windows_NT x64 10.0.22000
R

[2022-08-02 17:21] pelsql opened #20228 "In editor, for example there are many line in my udf and I highlight a subset of them for which I want to replace ( by [. When I launch the replace, all lines of the Udf are searched and all ( are replaced to [, while lines are still selected."
Issue Type: <b>Bug</b>

The editor seems to ignore selected lines in search and replace, but limits also replace to the udf on which I'm currently working on.

Just before I play around with collapsing code block for the code of the UDF.  But at the time of the replace, lines in which the replace had to be done, where clearly the only one I wanted, and the block wan't collapse.

Azure Data Studio

[2022-08-02 17:28] raeokay commented on #7440
Can confirm this is still an issue with parallel message processing enabled. I've recently moved to a _slightly_ higher-latency ISP (unfortunately) and the issue is becoming unbearable. Nearly every query hangs now, whereas before it was more intermittent.

The connection isn't bad enough to affect anything else I use on a regular basis. Just ADS. Queries hang and Intellisense is unusable.

[2022-08-02 17:54] mssaid04 opened #20229 "please add button to toggle querry result"
Issue Type: <b>Feature Request</b>

after run some querry, please add button to toggle querry result not only keyboard shortcut {
  "key": "shift+win+r",
  "command": "toggleQueryResultsKeyboardAction",
  "when": "queryEditorVisible"
}

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:16.217Z)
OS version: Windows_NT x64 10.0.22000
Restri

[2022-08-02 19:03] richardtallent commented on #7440
Same here. I'm on gigabit fiber, but at home connected through a corporate VPN (zscaler) and then from there to Azure. The issue is constant. I think it actually may have gotten worse in the most recent version or two (with the parallel query flag on)

[2022-08-02 19:49] DigitalDuquette commented on #20119
@alanrenmsft working beautifully on the insider build, thanks!

[2022-08-02 19:57] gumbarros commented on #11249
Anyone solved on Pop!_OS 22.04? This error happens also on Rider 2022 but not on DBeaver CE

[2022-08-02 20:04] lucyzhang929 opened #20230 "Saving a notebook as a dib file not working correctly"
- Azure Data Studio Version: 1.38
- OS Version: mac

Steps to Reproduce:

1. Create new notebook
2. Add some code cells and text cells
3. Save notebook with dib extension

Expected:
![Screen Shot 2022-08-02 at 1 01 31 PM](https://user-images.githubusercontent.com/23462877/182462854-4d75ff08-7f18-42e9-88ef-af02434ce2bf.png)

Actual:
Notebook content gets saved as json in one code cell.
![Screen Sho

[2022-08-02 20:08] corivera commented on #20230
@lucyzhang929 were you doing New Notebook and then saving it manually with a dib extension? If so, that's not supported. There's a separate Create New Notebook command in the command palette for creating Interactive dib notebooks.

[2022-08-02 20:12] lucyzhang929 commented on #20230
Ah I see. Yes I was using New Notebook. Just tested the Interactive command palette command and that worked as expected. I'll close this issue, thanks @corivera!

[2022-08-02 20:12] #20230 closed

[2022-08-02 20:39] #20217 closed

[2022-08-02 21:13] Spice-King commented on #18844
Kinda forgot about this ticket since it feels very little priority is allocated to it with the issue being kicked down the road twice since I started following it. Here is a small update from my usage after 4 months.

I've since updated to Pop!_OS 22.04 LTS, 1.34.0 no longer opens (the older Electron version has issue with newer libraries or something, adding the `--no-sandbox` allows it to run, b

[2022-08-02 22:37] erinstellato-ms commented on #20008
Thanks @alanrenmsft, and appreciate the extra testing with Notebooks.

[2022-08-02 23:54] plmosqueda commented on #11249
The solution works on debian, I tried ubuntu with no Luck. It happens to me when i try to connect to a database via Fortinet vpn but work great on a hamachi vpn. I s not a server problem because the connection works great on fedora, rhel or Arch. Please some one help us XDDD

[2022-08-03 03:07] alanrenmsft opened #20233 "empty query editor shows results of another query editor"
1. open a query editor and execute some query wait for the results to be rendered
2. open a new empty query editor
3. run the command `Toggle Query Results`
4. switch between `Results` tab and `Messages` tab

expected:
both tab should be empty

actual:
when navigating back to the `Results` tab, the results from the previous query editor is displayed

![query-results](https://user-images.githubuser

[2022-08-03 03:13] orlando-colamatteo opened #20235 "improve Connections: allow drag and drop from object tree to code window, allow copy of object names (server, database, table, view, etc.)"
**Is your feature request related to a problem? Please describe.**
I am used to SSMS for SQL development, and it is convenient to be able to drag an object from the Object Explorer onto a Query Window to put the object name into my code.

**Describe the solution or feature you'd like**
Mimic SSMS functionality available in Object Explorer, in the Data Studio Connections pane and support dragging a

[2022-08-03 05:15] oliverdrummond commented on #18268
Another user that had this "feature" tricked him :(

[2022-08-03 05:53] cheenamalhotra commented on #7643
Hi @EklipZgit

Are you connecting to an instance of Azure Synapse Analytics or a Parallel Data Warehouse? In which case the default mode is indeed **READ_UNCOMMITTED** as also mentioned on [MS Documentation](https://docs.microsoft.com/en-us/sql/t-sql/statements/set-transaction-isolation-level-transact-sql?view=sql-server-ver16).

I verified with both Azure SQL DB as well as on-premise SQL Server a

[2022-08-03 06:15] goyal-anjali commented on #19226
Following up @aasimkhan30

[2022-08-03 09:32] tpeixinho commented on #20171
I can confirm this is happening to me also:
Version: 1.39.0-insider
Commit: 4d1be1e2882e9bead453bed88c340930e5055701
Date: 2022-08-03T05:35:18.830Z (3 hrs ago)
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 21.6.0

[2022-08-03 10:09] nielsvdc opened #20238 "Setting primary key in table designer/primary key tab does not uncheck Allow Nulls option"
- Azure Data Studio Version: 1.38
- OS Version: Windows 11 (10.0.22000)

Steps to Reproduce:

1. Open the table designer for a MSSQL table and go to the Primary Key tab.
2. Add one or more columns that have the "Allow Nulls" option checked.
3. In the Issues pane a message is shown "Columns in primary key cannot be nullable".
4. Go to the Columns tab and you will see the "Primary Key" option checke

[2022-08-03 13:28] SheldonHage commented on #18193
Problem has been solved with recent updates.   Can no longer reproduce.

[2022-08-03 14:56] lauraaawr opened #20239 "How can I run/connect Azure Data Studio from existing virtual env in Anaconda?"
Azure Data Studio 1.38.0
OS: Windows Server 2019
Anaconda3 & Python 3.9

1. Configured the Python installation path to the main Anaconda folder (C:\Users\Administrator\Anaconda3) and the option of Anaconda package type appears in the Manage Packages panel, together with the list of all installed conda packages.
![image](https://user-images.githubusercontent.com/85976879/182820954-9aaa2e62-fba4-445

[2022-08-03 16:27] PowerDBAKlaas opened #20240 "SDK 'Microsoft.Build.Sql/0.1.3-preview' specified could not be found"
Issue Type: <b>Bug</b>

1. open a sql database project
1. in 'database projects', right-click projectname and choose 'Build'

=> OUTPUT
[code]

Extension version: 0.18.0
Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:16.217Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Valu

[2022-08-03 16:36] #20093 closed

[2022-08-03 17:28] aasimkhan30 commented on #19778
This issue is fixed by PR #19770

[2022-08-03 17:28] #19778 closed

[2022-08-03 17:45] #20013 closed

[2022-08-03 17:45] #20233 closed

[2022-08-03 17:56] alanrenmsft commented on #20228
@pelsql could you please add detailed repro steps and screenshots?

[2022-08-03 19:37] christianleivam opened #20241 "error select top 1000 with Synapse Dedicated Pools"
Issue Type: <b>Bug</b>

in versión 1.38 sql, the select 1000 did not work. I had to install the previous version

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:12.352Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10510U CPU @ 1.8

[2022-08-03 20:46] #19885 closed

[2022-08-03 22:20] aasimkhan30 commented on #19847
This issue is duplicated of  https://github.com/microsoft/azuredatastudio/issues/19583
and was fixed by PR #19741

[2022-08-03 22:20] #19847 closed

[2022-08-03 22:23] aasimkhan30 commented on #19860
@brian-harris, can you please add aria-label to these links?

[2022-08-03 22:27] aasimkhan30 commented on #19866
@brian-harris, can you please change it to a list component?
Example:
https://github.com/microsoft/azuredatastudio/blob/4096037167a7fea5ab3c4efcd6a041dfcfa687d4/extensions/resource-deployment/src/ui/resourceTypePickerDialog.ts#L136

It looks like this
![image](https://user-images.githubusercontent.com/6816294/182723176-3bca0dd4-f2c5-492b-9cc3-2d2b64e11c33.png)

[2022-08-03 22:30] aasimkhan30 commented on #19861
@brian-harris, can you please add aria-label to these links with a better description?

[2022-08-03 22:41] kburtram commented on #7643
@EklipZgit thanks for providing the additional context.  I also was unable to repro the above problem using the following repro.  It's likely there is some detail I'm missing.

0. Open Azure Data Studio or SSMS with default query options and connect to SQL Server.
1. Open an editor and execute BEGIN TRAN and DELETE a row.  Leave the editor open and the transaction pending.
2. Open another editor a

[2022-08-04 00:26] corivera commented on #19997
Chrome does the same thing, so closing as won't fix.

[2022-08-04 00:26] #19997 closed

[2022-08-04 01:29] pelsql commented on #20228
Here is sample text. The problem seems to occur when replacing left parenthesis.  Select the 5 first lines where there is 5 left parenthesis. When replace is done all left parenthesis are done, including the las t line which is not selected.

  , Sch   -- Schema name
  , name  -- object name
  , SN    -- Schema.Name
  , DSN   -- Database.Schema.Name
  , QDb   -- (Database)
  , QSch  -- (Schema nam

[2022-08-04 01:36] aasimkhan30 commented on #19883
@alanrenmsft , the voiceover is reading both the aria label and the contents of the cells. What will be the best way to deal with this. I was thinking of removing the aria-label from the cell.

[2022-08-04 01:37] aasimkhan30 commented on #19865
@alanrenmsft , this requires us to add a new theme to ads. Is this something we want to support?

[2022-08-04 01:39] aasimkhan30 commented on #19862
@NiharikaTipirishetty, the focus of the row selects the row and shows the content on the right side of the screen. Whereas the focus of the checkbox just clicks the checkbox. So, they are not performing the same action. What should be the expected behavior in this case?

[2022-08-04 01:42] alanrenmsft commented on #19865
@aasimkhan30 similar to https://github.com/microsoft/azuredatastudio/issues/18555, we only support one high contrast theme.

@NiharikaTipirishetty  please close the issue, this is by design.

[2022-08-04 01:43] alanrenmsft commented on #19883
how about on windows? @aasimkhan30

[2022-08-04 01:45] aasimkhan30 commented on #19883
It does not make a difference in windows. Windows will announce the cell content only once regardless if aria-label is present or not.

[2022-08-04 02:43] alanrenmsft commented on #19883
@bbarik06 on Windows, the feature work as expected, the guideline is that we don't optimize for a specific screen reader. so we are not going to fix this. please close the issue.

[2022-08-04 02:50] alanrenmsft commented on #20229
@erinstellato-ms  there are also other keyboard only actions available, it is definitely not a good idea to add all of them to to the action bar, we need to redesign the query editor toolbar to solve these kind of issues.

[2022-08-04 02:52] alanrenmsft commented on #20241
@christianleivam please include more details so that it is actionable for us, and a screenshot would help.

[2022-08-04 03:25] #19845 closed

[2022-08-04 03:26] sgomolka opened #20245 "blank results from query"
Issue Type: <b>Bug</b>

query will return blank results, sometimes querys hang. this is after the latest update that just occured around august 1st 2022

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:16.217Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CP

[2022-08-04 07:00] ALZDBA commented on #16539
In my case, we recently enabled AAD MFA, it is requesting another password after AAD MFA validation ( call to number ).
No matter the password I provide, it fails !

_> git log --oneline --cherry master...master@{upstream} --

fatal: Failed to find location service
fatal: Authentication failed for 'https://dev.azure.com/aperam/MyProject /_git/MyProject /'_

[2022-08-04 09:17] Noggington commented on #18844
Hi Guys - I have been trying this on OpenSuse Tumbleweed, Kubuntu 22.04 and Fedora 36.

I can get kerberos working on each platform mentioned above but Azure data studio will not connect to a local Windows SQL Server using kerberos.  I get the same errors the op mentioned above.

Is there any updates to this?

[2022-08-04 13:42] ALZDBA commented on #16539
Did this ever work with AAD MFA ??

[2022-08-04 13:47] hcc-donder opened #20247 "New Query opens editor with an old query"
Issue Type: <b>Bug</b>

Action: Selected New Query from the file men

Expectation: I expected to have a new tab opened with a blank editor.

Actual: Creating a new query from the file menu will frequently create a new tab with an old query in the editor box. Seems to be a former query that I closed. This does not always occur, but occurs most of the time.

Azure Data Studio version: azuredatastudi

[2022-08-04 14:24] erinstellato-ms commented on #20229
@alanrenmsft let's discuss, open to ideas

[2022-08-04 18:38] caohai commented on #20238
I believe this was by design when we implemented this part.
The current implementation is that when a user adds a column from the Primary Key tab, we are adding the first column of the table as a "placeholder", later a user can change it to the actual column (or another placeholder) the user wants so it might not make sense to automatically mark the placeholder as NOT NULL. There's no good way of

[2022-08-04 19:12] smartguest commented on #20247
Fixed by a recent update made to ADS

[2022-08-04 19:12] #20247 closed

[2022-08-04 21:01] jjturner opened #20249 "Missing Index definition repeats columns"
Issue Type: <b>Bug</b>

1) enable Actual Plan
2) create a query with:
    a.  predicates against various columns
    b.  sufficiently complex
    c.  lacking covering index(es)
3) run query

When Missing Index recommendation is returned in the plan, its definition will list the needed columns in the main column list and repeat them in the INCLUDE list.

Azure Data Studio version: azuredatastudio 1

[2022-08-04 22:11] cheenamalhotra opened #20251 "Display popup for unsupported settings when connecting to Azure Synapse Analytics / PDW"
**Is your feature request related to a problem? Please describe.**
When connecting to Azure Synapse Analytics, SSMS shows popup as below to prompt user of unsupported settings that would not be applied, but Azure Data Studio does not:

![image](https://user-images.githubusercontent.com/13396919/182959836-3f2cdcab-be34-4ad9-9096-3593c8cf07c6.png)

**Describe the solution or feature you'd like**
Sin

[2022-08-05 00:20] cheenamalhotra commented on #20192
Hi @sqlatspeed

Could you please confirm you're able to connect to the target SQL Managed Instance from a Windows OS using SSMS/ADS, just to ensure connectivity is established? As SQL Managed Instances require clients to be in the same virtual network.

[2022-08-05 05:35] cheenamalhotra commented on #20111
When you click on "Copy Details", you'd get "UserName cannot be null or empty when using SqlLogin authentication" in text copied.. issue seems to be in rendering the text on dialogbox.

[2022-08-05 07:42] Carsten3000 opened #20252 "Synapse Serverless wrong classifaction and Connection"
- Azure Data Studio Version:  1.38.0
- OS Version: Windows 10 21H2

![image](https://user-images.githubusercontent.com/43674046/183027961-430540de-4b6d-42c9-8293-9314101f2aea.png)

- Synapse Serverless is classified as SQL Server, i would propose an extra folder for Synapse Serverless
- The Servername in the connection panel is wrong. I suspect that it just takes the server name and adds ".databas

[2022-08-05 19:55] tdoshin opened #20255 "Issue when deleting and recreating Temporal Table"
- Azure Data Studio Version: 1.38
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Create Temporal Table
2. Delete Temporal Table and Refresh on OE
3. Recreate Temporal Table with same parameters as in Step 1, but change the Table name

Expected Result:

User should be able to recreate Temporal Table

Actual Result

System is not responding to deletion. See below.

Old/Deleted Table Name

[2022-08-05 20:08] tdoshin opened #20256 "Entered value in column field reverts to default when user clicks out of it. Only works by Tabbing"
- Azure Data Studio Version: 1.38
- OS Version:

Steps to Reproduce:

1. Create new Table
2. Edit name field in column
3. Click out of column into anywhere else on TD

Expected Result:

Input entered in column remains intact

Actual Result:

Input reverts to default value

Does this issue occur when all extensions are disabled?: No

@alanrenmsft  is this related to the work @smartguest has been wo

[2022-08-05 20:17] alanrenmsft commented on #20191
the feature you requested is already there, please see the gif below.
![format-xml](https://user-images.githubusercontent.com/13777222/183156427-4353dbe4-7787-4b8c-b73a-d9022ad21ce9.gif)

there is another issue with this feature: https://github.com/microsoft/azuredatastudio/issues/20176, I've submitted a fix for it.

[2022-08-05 20:17] #20191 closed

[2022-08-05 20:18] tdoshin opened #20257 "Inconsistencies in Temporal Table when deleting using script as drop"
- Azure Data Studio Version: 1.38
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Create a Temporal Table with System Versioning set to "ON"
2. Delete Temporal Table using Script as Drop command

Expected Result:

The T-SQL of the Table being dropped should show that the Table is System Versioned.

Actual Result:

System Versioning is set to "OFF" on the T-SQL script when scripting as dr

[2022-08-05 20:20] #20257 closed

[2022-08-05 20:27] tdoshin opened #20258 "If System-Versioning is set to "ON", user must be disallowed from dropping the History Table per sql server docs"
- Azure Data Studio Version: 1.38
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Create Temporal Table
2. Set System-Versioning to "ON"
3. History Table is checked to be created by default, no need to do anything here
4. Delete History Table

Expected Result:

User should be disallowed to delete history table when System-Versioning is set to "ON

Actual Result:

User is allowed to delet

[2022-08-05 20:30] smartguest commented on #20256
@tdoshin Not quite, my work only affects when you right click on an existing table in the object explorer and press edit data.

[2022-08-05 20:30] alanrenmsft commented on #20258
@tdoshin did you delete the history table using T-SQL? I don't believe we have UI support in table designer to delete the table. if so please ping the SQL Server PM team that owns this feature.

[2022-08-05 20:30] #20258 closed

[2022-08-05 20:34] caohai commented on #20256
Here is what I'm seeing with latest release. Looks like the input is preserved when I click out. Is this the same steps you used to repro the issue?
![rename](https://user-images.githubusercontent.com/21186993/183158386-d9c97a70-f9fd-4bbb-9917-b4726ce0047a.gif)

Version: 1.38.0 (user setup)
Commit: dff93c4736269ef2a7e8a225737a0d8354bf0246
Date: 2022-07-26T23:56:16.217Z
VS Code: 1.62.0
Electron: 13

[2022-08-05 20:48] #20176 closed

[2022-08-05 20:52] caohai commented on #20255
I'm not able to repro this on my machine with latest release/
For step2, by deleting you mean running the script from `Script as Drop`, right?
For step3, are you using `Add New` and doing all the same steps as in 1 for designing then publish?
If so I'm doing the same.

[2022-08-05 21:07] alanrenmsft commented on #19612
@Troesler-illuminate I did experience the slowness comparing to small dataset, but eventually, it will be rendered after a second or so. for you how long does it stay like that for?
![slow-results](https://user-images.githubusercontent.com/13777222/183180748-ca43fd2c-88f9-49ca-a65c-8d79dfd70de6.gif)

[2022-08-05 21:10] alanrenmsft commented on #7440
there was a regression in this area recently, I've addressed it, for those using Insider build, could you please give it a try?

[2022-08-05 21:19] alanrenmsft commented on #19880
this is by design. The button's handler is to open a web page, it doesn't necessarily make itself a link.

[2022-08-05 21:19] #19880 closed

[2022-08-05 21:21] alanrenmsft commented on #19876
similar to this one: https://github.com/microsoft/azuredatastudio/issues/19566
please downgrade to sev3

[2022-08-05 21:24] #19871 closed

[2022-08-05 21:54] erinstellato-ms opened #20259 "Add CPU elapsed time and diff of estimated and actual rows to Top Operations"
It would be extremely helpful to have a column which is the diff of Estimated and Actual Rows in the Top Operations window, along with the Actual Elapsed CPU time (ms), which appears in the Properties for an operator.

[2022-08-05 21:57] erinstellato-ms opened #20260 "Highlight the most expensive operators in a plan"
Identify the most expensive operator(s) in a plan with a color notation (or something else if more accessible) to help users with prioritizing what to investigate in a plan.  Historically, cost has been used to identify "what is expensive", but other options include Actual Elapsed CPU Time (ms) or Actual Elapsed Time (ms).  Theoretically, folks could also be interested in operators with the highes

[2022-08-05 22:17] BhavanaPilli11 opened #20262 "Unable to add account"
Issue Type: <b>Bug</b>

Unable to add account and it fails with error  "no access token returned from microsoft oauth"
username - b0p00b9@homeoffice.wal-mart.com

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T17:24:38.381Z)
OS version: Darwin x64 20.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|C

[2022-08-05 22:42] satishfied commented on #8279
Workaround till we have some settings in ADS

MS SQL Script to retrieve whole text using CAST to XML

SELECT CAST(clob AS XML)
FROM  TABLE
WHERE <condition>;

Here,
column "clob" is of type Text

If column "clob" is of some other character type (Viz. varchar, nvarchar, etc) for sure we can use CAST to Text or varchar(MAX) and then cast it to XML.

[2022-08-06 02:02] jheavin-iit opened #20264 "Only some of my Azure Subscriptions load"
Issue Type: <b>Bug</b>

When I login with my Azure account only some of my Azure subscriptions show up (53 out of 71). I am an owner of the subscriptions and an AAD SQL admin on the SQL servers in the subscriptions that don't show up. I can also login with the same account in VScode and those subscriptions will show up. They are not in the filter (all subscriptions are checked in the filter)

Azur

[2022-08-07 02:20] sqlatspeed commented on #20192
Cheena,
I am fully able to connect to this managed instance (it is one of our production MIs) via SSMS from Windows PCs. Let me know what other information you need. Thanks for the help!
Matt Gordon
    On Thursday, August 4, 2022 at 07:20:53 PM CDT, Cheena Malhotra ***@***.***> wrote:

Hi @sqlatspeed

Could you please confirm you're able to connect to the target SQL Managed Instance from a Window

[2022-08-07 03:50] LanceTrahan commented on #16930
I'm having this issue as well. Trying to build from ADS or VSCode with the SQL Database Projects extension fails on Mac until I flip the slashes for the r: entries in the PostDeployment.sql file. Hope that clarifies.

Here are my versions for reference:
Azure Data Studio Version: 1.38.0
OS Version: Mac OS 10.14.6
SQL Database Projects extension 0.18.0

[2022-08-07 14:45] iandonov commented on #18867
I have the same issue.

I am running this on elastic pool database, not server.
There is no XE Profiler for elastic pool Azure SQL databases.

When I run a script suggested in a an issue from couple of years ago, I get these errors:
<img width="1276" alt="image" src="https://user-images.githubusercontent.com/1765223/183296457-6fb4bcb2-fe19-4146-b078-5bd639b1ad0d.png">

Is there a fix for this in V

[2022-08-07 15:34] iandonov commented on #18867
Adding option for MAX_MEMORY fixes the issue for me:
		WITH (
                        MAX_MEMORY = 16192 KB,
                        EVENT_RETENTION_MODE=ALLOW_SINGLE_EVENT_LOSS,
                        MAX_DISPATCH_LATENCY=5 SECONDS,
                        MAX_EVENT_SIZE=0 KB,
                        MEMORY_PARTITION_MODE=PER_CPU,
                        TRACK_CAUSALITY=ON,

[2022-08-08 14:35] Yannlagaf commented on #13931
hello, I'm having the same problem. with Azure Data Studio.

[2022-08-08 15:30] raeokay commented on #7440
I'm having a lot of issues running the Insider build with this setting enabled, now. Intellisense is running very badly, and I'm getting errors when running full queries that look like I'm trying to run an incomplete statement (like "Incorrect syntax near 'FROM' when trying to run a simple `SELECT * FROM dbo.table`).

My connection seems fine elsewhere, and running the main build is no better or w

[2022-08-08 15:56] jake-carpenter commented on #7440
I was using the Insider build until last week because it seems to have become completely broken with issues like mentioned in the post above. However, it still seemed to be doing better at avoiding the hanging issue with the Parallel Message Processing option enabled than the stable build normally is. So, unfortunately, I can't really test on the Insider build because it's unusable for me ATM.

On

[2022-08-08 16:16] jkupcho commented on #18844
No update on my end, only running an older version seems to fix the issue.

[2022-08-08 16:41] dzsquared opened #20266 "update PowerShell extension to July 2022 release"
The July 2022 PowerShell extension release is available to be added to the extension gallery in ADS - https://github.com/PowerShell/vscode-powershell/releases/tag/v2022.7.2

cc @Charles-Gagnon @alanrenmsft

[2022-08-08 17:51] alanrenmsft commented on #20266
done https://github.com/microsoft/azuredatastudio/pull/20267

[2022-08-08 17:51] #20266 closed

[2022-08-08 18:18] alanrenmsft commented on #20238
@caohai let's set the allowNulls to false if a column is added to primary key in the primary key tab, otherwise it is not intuitive for user to correct it.

[2022-08-08 21:46] AkshayMata commented on #19868
need to fix NETWORK_SHARE_PATH_FORMAT. used \\\\ to escape in string, but narrator is reading without "escaping"

[2022-08-08 22:03] AkshayMata commented on #19868
our string constant is defined as:

export const NETWORK_SHARE_PATH_FORMAT = localize('sql.migration.network.share.path.format', "\\\\Servername.domainname.com\\Backupfolder");

the placeholder text is properly being escaped, but this is leading to narrator reading \ out twice. @aasimkhan30 will ask to figure out how we can escape to satisfy those conditions

[2022-08-08 22:05] AkshayMata commented on #19866
@aasimkhan30 please re-assign yourself. The table component was used because we have icons for blocking scenarios and list view doesn't have support.

we also discussed creating a single column table with flex container in each cell to add the icons, but we agreed that adding icons to list view will be the better solution going forward. @aasimkhan30 to add support for this

[2022-08-08 22:29] tdoshin commented on #20256
@caohai Seems to be working now. Not sure why it wasn't the other day when @erinstellato-ms and I were testing

[2022-08-09 00:06] #19870 closed

[2022-08-09 02:39] aasimkhan30 commented on #19868
@NiharikaTipirishetty, this is a narrator bug. We do not optimize for individual screen readers. Please close this issue.

[2022-08-09 12:34] ALZDBA commented on #20022
**The reason for my problems was, I wasn't presented a "personal account" to use during the login process.
Hence devops got mixedup because or the login failed (password) or the login succeeded but the userid no longer matched ( in the background), resulting in failed login.**

I managed to correct this and now ads seems to remember the account to use.

[2022-08-09 13:11] peterlukerow opened #20274 "Restore menu item doesn't work anymore"
Issue Type: <b>Bug</b>

1) Using the create database extension (because this basic functionality is still not part of the core product), right click on the Databases node in the server pane and create a new DB
2) Right click on the DB and click the restore option - nothing happens!

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:16.217

[2022-08-09 15:13] twodawg commented on #10957
I am using this extension to provide this functionality. https://github.com/pacoweb/extraSqlScriptAs

[2022-08-09 15:50] jcbrooks92 opened #20275 "Azure SQL migration assistant extensions for Azure Government"
- Azure Data Studio Version:
Version: 1.38.0 (system setup)
Commit: dff93c4736269ef2a7e8a225737a0d8354bf0246
Date: 2022-07-26T23:56:16.217Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

- OS Version:
Windows 11

Steps to Reproduce:

1. Run through the SQL migration process
2. Select Settings -> Azure Account -> Azur

[2022-08-09 15:56] kisantia commented on #20240
@PowerDBAKlaas Did building this project used to work and recently start failing? Can you please share the sqlproj for this project?

[2022-08-09 15:58] kisantia commented on #20181
closing as duplicate of #17020. Workaround is https://github.com/microsoft/azuredatastudio/issues/17020#issuecomment-966738340

[2022-08-09 15:58] #20181 closed

[2022-08-09 16:17] kisantia commented on #19884
@bbarik06 this is now fixed in the latest ADS release [1.38.0](https://github.com/microsoft/azuredatastudio/releases/tag/1.38.0).

[2022-08-09 16:27] kburtram commented on #20223
@markroosenlom are you getting an error message when the connection fails?  either as an error message dialog or in the "Help->Developer Tools" Console?  Thanks!

[2022-08-09 16:33] kburtram commented on #20226
@pelsql I am unable to repro this issue.  If I open a new file and type 'one two three' and then undo three times, then redo three times the text 'one two three' is the final result in the file.  Did I miss something with the repro?

For what it's worth, ADS has not done any customizations to the undo/redo code from the VS Code implementation so the behaviors between the two tools should be the sa

[2022-08-09 17:21] raymondtruong commented on #20275
Currently investigating

[2022-08-09 17:40] kburtram commented on #20264
@jheavin-iit do you see any errors in the "Help>Developer Tools" Console while the subscriptions are loading?

@cssuh or @alanrenmsft any suggestions on how to troubleshoot what's going on here?

[2022-08-09 17:45] timothyhoffmann commented on #10957
Very nice, I'll try it out!

[2022-08-09 17:49] 4ouR04 opened #20278 "Network-related or instance-specific error occured while establishing a connection to SQL server"
- Azure Data Studio Version:Studio 1.38.0
- OS Version: 5.15.0-kali3-amd64

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No No

[2022-08-09 17:51] tdoshin commented on #19952
Any chance we can get this for the August Release? We may be doing another PGI demo in September and will need to be able to visually describe node vs graph tables to audience members @alanrenmsft

[2022-08-09 17:52] 4ouR04 commented on #20278
![Screenshot_2022-08-09_20_51_23](https://user-images.githubusercontent.com/86522089/183724761-debfa687-cfed-487d-9c25-0d5674620866.png)

[2022-08-09 17:54] kburtram commented on #20245
@sgomolka can you please provide additional details on how to repro this issue?  Do the queries you are executing have any particular characteristics (e.g. large BLOB columns, XML, JSON, etc.).  Is the CPU load particularly high/app not responding?  Any errors in the Help->Developer Tools->Console?  Thanks!

[2022-08-09 17:59] alanrenmsft commented on #19952
not sure, the priority of this is lower than other issues that I am working on. but I will try to get to this once I am done with other high priority bugs.

[2022-08-09 19:32] monteholyfield commented on #18305
We are also experiencing this error and cannot complete the authentication to a Synapse SQL Pool using MFA.

Currently using:
Version: 1.37.0 (system setup)
Commit: d904740d93d7df76a0ba361f20e4351813b57645
Date: 2022-06-14T01:05:12.352Z
VS Code: 1.59.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.18363

Any update on this is appreciated.

[2022-08-09 19:42] kburtram commented on #20278
@4ouR04 this error message is coming from the SQL Client driver and is saying that it cannot find an MSSQL server instance running on localhost on port 1433.  Tools such as netstat can be used to confirm SQL Server is running and bound to this IP/port, e.g `netstat -na | egrep 1433`.  Are other tools able to connect to this IP/port successfully?

[2022-08-09 20:15] alanrenmsft commented on #19873
please let us know if this is not sufficient, the issue is going out of SLA, so closing it.

[2022-08-09 20:15] #19873 closed

[2022-08-09 20:18] #19883 closed

[2022-08-09 20:18] alanrenmsft commented on #19874
this is by design, since we haven't heard back for so long, I am going to close the issue.

[2022-08-09 20:18] #19874 closed

[2022-08-09 20:24] aasimkhan30 commented on #19846
This is a narrator issue and we do not optimize for specific screen-readers. Please close this bug

[2022-08-09 20:26] kisantia commented on #19982
@ALZDBA can you try again with the latest ADS release (1.38.0)? I made a fix for GO being on the same line in some cases, which looks related to this bug, if not the same: https://github.com/microsoft/azuredatastudio/issues/20143

[2022-08-09 20:27] kisantia commented on #19972
closing since loc updates will come from DacFx

[2022-08-09 20:27] #19972 closed

[2022-08-09 20:29] kisantia commented on #15483
should be easy now with the addition of the options dialog

[2022-08-09 20:29] #15483 closed

[2022-08-09 21:11] chlafreniere opened #20280 "Selecting New SC Option Scrolls Options Back to Top"
- Compare two databases (in this case, I compared the same database, but I don't think that matters)
- Scroll down in the General Options
- Select one of the previously unselected options

Expected: nothing happens beyond checkbox being checked
Actual: dialog scrolls back to the top

https://user-images.githubusercontent.com/40371649/183761907-8b346017-c82b-4529-b26e-f6f8b02dbcc4.mp4

[2022-08-09 21:27] kisantia opened #20281 "Extra periods in dacfx options"
In the schema compare options dialog and sql projects publish dialog, there's extra periods after 2 options:

![image](https://user-images.githubusercontent.com/31145923/183764542-bc52cf92-be34-45a3-a52d-c01d227c335c.png)

[2022-08-09 21:33] Benjin opened #20282 "Table of options takes a while to load for DacFx options"
Maybe worth having a loading circle as it constructs the table

[2022-08-09 21:35] Benjin opened #20283 "DacFx options: after loading profile, unclear whether "reset" goes to the default values, or the loaded values"

[2022-08-09 21:37] Benjin opened #20284 "DacFx options: no ability to save options to a .profile.xml file"

[2022-08-09 21:50] ssreerama commented on #20283
This is the information that we had from the last sync discussion on profiles options.

**Still need to figure out:**
1. Options reset to DacFx defaults or options from profile?
2. How to clear the loaded profile
3. Move load profile option up before Server connection

[2022-08-09 22:40] chlafreniere commented on #20091
@barbaravaldez what did you end up finding?

[2022-08-09 22:43] smartguest opened #20286 "SQL Server will occasionally not add new rows and recognize their changes."
This also happens in SSMS as well (although this has been tested after running ADS). Sometimes, the SQL Server won't recognize new row changes added to the server at all and you have to restart the server entirely as a result. Switching to different versions of ADS does not fix the issue. This only happens shortly after running the latest version of ADS.

[2022-08-09 22:50] smartguest commented on #20286
Closing issue as it appears to be an issue with the table itself on the server (having all null rows)

[2022-08-09 22:51] #20286 closed

[2022-08-09 23:33] pelsql commented on #20226
I tried to repro it again. It doesn’t work.  I think that the fact or restarting the program, cleared some incorrect state the program got into.
If I do something that triggers the bug, I will try to find out what just happened before

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Karl ***@***.***>
Sent: 9 août 2022 12:33
To: ***@***.***>
Cc: Maurice ***@***.***

[2022-08-09 23:44] kisantia commented on #20280
looks like the same as #16718

[2022-08-09 23:45] kisantia commented on #20280
also could be related to the scrolling issues on the main schema compare window: #20202 and #19674

[2022-08-09 23:55] DaveSkender commented on #20240
Same happens to me.  Builds fine in full Visual Studio Community edition IDE.  I have both VS 2022 and VS 2022 Preview installed, which I suspect is the root of the problem … kind of the risk one takes with previews. :neckbeard:

[2022-08-10 00:10] ssreerama commented on #20280
exactly these all issues are same, exists with the table component, need to figure it out if its a component that is causing or the way of handling the rows. @kisantia

[2022-08-10 03:46] VijayaBharathyA commented on #19868
Here in the Help text backslash () provided two times. Please find attachment for reference.
![MicrosoftTeams-image (3)](https://user-images.githubusercontent.com/100189407/183808383-e747a5eb-8344-442e-9134-ecffecbf56cb.png)

[2022-08-10 08:48] ALZDBA opened #20290 "ADS - SQL db build ok, publish to new sqlserver new (empty) db fails when logins need to be created at instance level"
- **Azure Data Studio** Version:Version: 1.38.0 (system setup)
Commit: dff93c4736269ef2a7e8a225737a0d8354bf0246
Date: 2022-07-26T23:56:16.217Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19042
- OS Version: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. see attached dbproj
2. build db ( **ok** )
3. publish to (local)

[2022-08-10 14:15] Troesler-illuminate commented on #19612
@alanrenmsft I just tested with the latest build and it offers similar behavior to what you included in your screen recording. Before it would just stay like that until I moved the scroll bar one way or the other. The performance in the latest build is much better/acceptable!

[2022-08-10 14:31] ALZDBA commented on #19982
Now it is OK
The GO statement is on a line of its own.

CREATE TABLE [dbo].[Table2] (
    [Tb2Col1] INT          NOT NULL,
    [Tb2Col2] VARCHAR (50) NULL
);

GO

EXECUTE sp_addextendedproperty @name = N'MS_Description', @value = N'This is the description for this column', @level0type = N'SCHEMA', @level0name = N'dbo', @level1type = N'TABLE', @level1name = N'Table2', @level2type = N'COLUMN', @leve

[2022-08-10 15:07] gfoley97 commented on #20191
Mine does not do this and I'm on the latest version. Is this a setting?

On Fri, Aug 5, 2022, 4:17 PM Alan Ren ***@***.***> wrote:

[2022-08-10 15:46] peperami97 opened #20292 "Running a Select returns Query Failed : Object reference not set to an instance of an object"
Issue Type: <b>Bug</b>

I have run a simple select statement of the form

select *
from table1 e
inner join table2 eph on e.field1 = eph.field1
inner join table3 eh on eh.field1 = e.field1
left join table4 el on e.field1 = el.field1

This causes the following message

16:39:52Started executing query at Line 1
(169 rows affected)
Total execution time: 00:00:00.157

The results grid is available but

[2022-08-10 16:29] #19982 closed

[2022-08-10 17:30] barbaravaldez commented on #20091
@chlafreniere Just found out the issue, the css file path wasn't updated

[2022-08-10 17:32] alanrenmsft commented on #19612
great to know, thanks!

[2022-08-10 17:32] #19612 closed

[2022-08-10 17:32] alanrenmsft commented on #19872
the issue has been fixed in the latest insider build.

[2022-08-10 17:43] yzorg commented on #1871
Please prioritize Excel (*.xlsx) over other data sources.  The file format has been openly documented since 2007.  Any design or usability justification for supporting xlsx for export but not import?

[2022-08-10 17:55] alanrenmsft commented on #20191
@gfoley97 no setting for this behavior.

In the new document that contains the xml, if you press "SHIFT+ALT+F" (or run the `format document` in command palette (Menu: View->Command Palette...)), does it format the document correctly?

also, what do you see if you type `@builtin xml` in the extensions view container's search box
![image](https://user-images.githubusercontent.com/13777222/183982823-

[2022-08-10 17:56] barbaravaldez commented on #19210
Closing since we cannot repro on latest build

[2022-08-10 17:56] #19210 closed

[2022-08-10 18:17] gfoley97 commented on #20191
Ahhh I found it finally. My workspace was not trusted. I trusted it and now
the xml is formatted

On Wed, Aug 10, 2022, 1:55 PM Alan Ren ***@***.***> wrote:

[2022-08-10 18:22] alanrenmsft commented on #20191
great! 🥇

[2022-08-10 18:35] alanrenmsft commented on #19875
dupe of #19566

[2022-08-10 18:35] #19875 closed

[2022-08-10 19:24] #20226 closed

[2022-08-10 20:06] vihardik opened #20297 "Feedback on the migration experience"
Issue Type: <b>Bug</b>

1. I have a SQL MI instance on Azure.
2. I created a migration from SQL Server on my laptop to Azure SQL MI. It worked fine.
3. Later I got my SQL MI instance added to some backend process - So I can start and stop the Azure SQL MI. I stopped my Azure SQL and later started the Azure SQL MI through PS Script.
4. I can connect to the Azure SQL MI through Azure Data Factory an

[2022-08-10 20:07] kisantia commented on #20284
closing as dup of #12185

[2022-08-10 20:07] #20284 closed

[2022-08-10 21:01] treytro opened #20298 "Feedback on the migration experience"
Issue Type: <b>Bug</b>

If you try to run more than one assessment per day, it throws the error below because the json file already exists.  The work around is to rename or delete the json file.

The file 'c:\Users\Trey.JINTECH\AppData\Roaming\azuredatastudio\logs\20220810T151012\exthost1\Microsoft.mssql\SqlAssessmentReport-20220810.json' already exists.

Extension version: 1.0.4
Azure Data Studio

[2022-08-10 21:07] treytro commented on #20298
Callstack...

An error occurred while assessing the server 'nnn'.
========================
message: Microsoft.SqlServer.DataCollection.Common.Contracts.Exceptions.FailedToSaveResultsException: Saving the report file 'c:\Users\Trey.JINTECH\AppData\Roaming\azuredatastudio\logs\20220810T151012\exthost1\Microsoft.mssql\SqlAssessmentReport-20220810.json' failed.
 ---> System.IO.IOException: The file 'c

[2022-08-10 21:28] tdoshin commented on #19812
Thank you so much for this feedback @drizztdourden08. It seems like you are very excited and knowledgeable about the Table Designer Feature in Azure Data Studio. Would you be interested in participating in a brief survey? If yes, please respond in this thread and I will follow up with additional details

[2022-08-10 21:28] alanrenmsft commented on #19879
this seems to be an issue with the voice-over screen reader, not sure why is it reading things as group. also, if you think this is an issue that needs to be fixed, please open an issue in vscode repo, we inherited it from vscode.

[2022-08-10 21:28] #19879 closed

[2022-08-10 22:20] drizztdourden08 commented on #19812
Sure.

Sure. Send it over. I’d be glad to help.

[2022-08-10 22:37] alanrenmsft commented on #19895
@bbarik06 fix should be included in tomorrow's insider build. please retest

[2022-08-11 02:58] #19861 closed

[2022-08-11 03:10] dwadezimmerman opened #20306 "Intellisync sometimes works"
Issue Type: <b>Bug</b>

Sometimes intellisync works and other times, it will not show any of the schema information at all.

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T17:24:38.381Z)
OS version: Darwin x64 21.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Apple M1 Max (10 x 24)|
|GPU Statu

[2022-08-11 06:49] PowerDBAKlaas commented on #20240
@kisantia it is the first time I try to build a proj, so I have no idea since when this problem exists
I can share the proj later (on holiday now) but it is nothing complicated;
I created a new testDB with just 1 table with 4 columns

[2022-08-11 08:26] alexszasz opened #20308 "Schema Compare - Object Name filtering"
Working with databases with over 500 different objects is really cumbersome. Even more so, when it's part of a smaller project involving only a few objects. In the current version you need to manually deselect ALL objects except the very few ones you need.

I would like to have a way of pre-filtering the objects to be compared using a schema/name filter (similar to the SSMS option)
<img width="528

[2022-08-11 11:08] semics-tech opened #20310 "CLR types are not supported on .NET Core SQL Database Projects Publish"
- Azure Data Studio Version: 1.38.0
- OS Version: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. Load existing SSDT project (created in Visual Studio)
2. Publish project from Publish Profile
3. Publish fails with errors:

[code]

Does this issue occur when all extensions are disabled?: NA

[2022-08-11 16:47] #20202 closed

[2022-08-11 16:47] #16718 closed

[2022-08-11 16:47] #19674 closed

[2022-08-11 17:40] caohai commented on #20255
@tdoshin kindly ping

[2022-08-11 17:44] caohai commented on #20163
Fixed by STS vbump in #20031

[2022-08-11 17:44] #20163 closed

[2022-08-11 17:47] caohai commented on #19849
Fixed by STS vbump in #20031

[2022-08-11 17:47] #19849 closed

[2022-08-11 17:47] PyMach opened #20312 "Python package in ADS"
- Azure Data Studio Version: 1.38
- OS Version: Windows 10

Steps to Reproduce:

1. Create a new Notebook and check the kernel to Python3
2.  In the Code Cell  add the below code
import os
import sys
import pyodbc
import pandas as pd
print(sys.version_info)
print(os.path.dirname(sys.executable))
3. run
 and you will receive error message

**ModuleNotFoundError: No module named 'pyodbc'**

Does thi

[2022-08-11 17:48] #19727 closed

[2022-08-11 17:49] TidyPyAi opened #20313 "Table Hint NOLOCK is not allowed"
Schema Compare failed:
Table Hint NOLOCK not Allowed
Source:  SQL Server Schema Compare Extension
![image](https://user-images.githubusercontent.com/109158403/184199534-d02e1956-61db-4275-9ff9-177a2045cb5c.png)

[2022-08-11 17:50] caohai commented on #19278
Added via STS vbump in #20031

[2022-08-11 17:50] #19278 closed

[2022-08-11 17:50] caohai commented on #19259
Added via STS vbump in #20031

[2022-08-11 17:50] #19259 closed

[2022-08-11 18:21] aasimkhan30 commented on #19723
This feature was added in the PR #20168

[2022-08-11 18:21] #19723 closed

[2022-08-11 18:21] aasimkhan30 commented on #19721
Closing as the issue was fixed

[2022-08-11 18:21] #19721 closed

[2022-08-11 18:22] aasimkhan30 commented on #19128
already fixed by PR #20208

[2022-08-11 18:22] #19128 closed

[2022-08-11 18:27] aasimkhan30 commented on #18371
This feature was added in PR https://github.com/microsoft/azuredatastudio/pull/19629

[2022-08-11 18:27] #18371 closed

[2022-08-11 18:29] aasimkhan30 commented on #18359
This was fixed with PR #20208

[2022-08-11 18:29] #18359 closed

[2022-08-11 20:03] #19860 closed

[2022-08-11 20:43] kisantia commented on #20313
@TidyPyAi can you check if this scenario works in SSDT in Visual Studio? Also, please provide a simple repro. Thanks!

[2022-08-11 20:57] kisantia commented on #20290
This should be fixed in the upcoming release. Previously, publish was using the same DacDeployOptions as Schema Compare, which had logins as an excluded object type. In the upcoming release, all object types are included by default.

As a workaround for now, you could try creating a publish profile and loading that in the publish dialog as that will use only the options specified in the publish pr

[2022-08-11 21:00] kisantia commented on #20308
closing as dups of https://github.com/microsoft/azuredatastudio/issues/10430 and https://github.com/microsoft/azuredatastudio/issues/12964. Please upvote these other issues to help us track interest in these enhancements.

[2022-08-11 21:00] #20308 closed

[2022-08-11 21:32] nofield opened #20315 "System-Versioned tables are not scripted correctly with "Script as Create""
Issue Type: <b>Bug</b>

Steps to Reproduce

1. Create a System Versioned (Temporal) table on a database, e.g.,
[code]

2. In Object Explorer, select 'Script as Create' from the table's context menu:
![image](https://user-images.githubusercontent.com/58005768/184241566-ca16026d-2bd3-4965-9365-343eb56c76c9.png)

3. The generated script will fail. Instead of creating the table with a primary key, it

[2022-08-11 21:34] lucyzhang929 commented on #19346
Repro steps for me:
1. Right click on table
2. Create AF with SQL Binding
3. Create new project
4. Go through quick input flow
5. Entered Yes for including password in local.settings.json

[2022-08-11 21:38] zijchen opened #20316 "SQL Bindings: Create Function adds all files in folder just selected"
- Azure Data Studio Version: N/A
- OS Version: Win11
- VS Code mssql extension version: 1.16
- VS Code database projects extension: 0.17.2
- VS Code SQL bindings extension: 0.3

Steps to Reproduce:

1. Right click on table
2. Create Azure Function with SQL Bindings
3. It prompts to select a folder. I was half expecting it to create a subfolder before adding all the files (host.json, csproj, etc.)

[2022-08-11 21:41] nofield opened #20317 "Generated Scripts with Primary Key Definitions include Intellisense syntax error on SORT_IN_TEMPDB"
Issue Type: <b>Bug</b>

Steps to Reproduce

1. Create a table with a primary key, e.g.,
[code]

2. In Object Explorer, select 'Script as Create' from the Primary Key's context menu:
![image](https://user-images.githubusercontent.com/58005768/184246549-c71157c6-0a37-4c4d-baec-e52ab2dfbf2d.png)

3. Generated script:
![image](https://user-images.githubusercontent.com/58005768/184247108-7bfafb69-5c76-

[2022-08-11 21:42] VasuBhog commented on #20316
@zijchen is the selected folder empty or did it have other azure function project files in it as well?

[2022-08-11 21:51] nofield commented on #20315
For reference, the same action in SSMS produces the following generated script:

![image](https://user-images.githubusercontent.com/58005768/184248621-db3d7e7a-aab1-468a-9234-7b183281d793.png)

[2022-08-11 21:58] #20142 closed

[2022-08-11 22:03] zijchen commented on #20316
@VasuBhog it wasn't empty but it didn't have other function project files. I selected something like `C:\src`

[2022-08-11 22:05] alanrenmsft commented on #19664
@nmyron are you still having this issue with the latest ADS? I tried but not able to reproduce it, can you think you of anything special about your local setup?

![query-grid-sizing](https://user-images.githubusercontent.com/13777222/184250442-e1abb229-2148-48c7-865c-72f66bba1f5d.gif)

[2022-08-11 22:12] alanrenmsft commented on #20228
@pelsql, I guess you didn't enable the `Find in Selection` option when doing the replace.
![find-replace](https://user-images.githubusercontent.com/13777222/184251249-25d42307-e062-4d89-a377-f442c98dc37f.gif)

[2022-08-11 22:13] #19453 closed

[2022-08-11 23:46] pelsql commented on #20228
I just reproduced it.  See the selection Highlight, the option to search and replace in selection that is selected, and it says there is only 1 item selected while the selection contains 4.

***@***.***
Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Alan ***@***.***>
Sent: 11 août 2022 18:12
To: ***@***.***>
Cc: Maurice ***@***.***>; ***@***.***>
Subject: Re: [mi

[2022-08-11 23:47] tdoshin commented on #20255
Apologies for the late reply. @caohai .I am also unable to repro. We can close for now.

[2022-08-11 23:47] #20255 closed

[2022-08-11 23:51] alanrenmsft commented on #20228
@pelsql do you also have vscode installed? do you observe the same behavior?

[2022-08-12 00:24] #20133 closed

[2022-08-12 04:22] #19694 closed

[2022-08-12 05:07] ZacharyArgentin opened #20321 ""Object Explorer task didn't complete within 45 seconds" Error when connected to a server for which I don't have access to all the databases."
Issue Type: <b>Bug</b>

I've successfully connected to a SQL Server that has 3 databases on it. I only have access to 2 of those databases (i.e. I have a SQL Login for the SQL Server, but I only have a SQL User for 2 out of those 3 databases).

The object explorer fails to load. I've faced a similar issue in the past and i've fixed it by creating a SQL User for my SQL Login for all of the database

[2022-08-12 08:25] ALZDBA opened #20322 "ADS cannot find Azure CLI extension, but extension shows installed"
Issue Type: <b>Bug</b>

ADS cannot find Azure CLI extension, but extension shows installed !

message:
Could not find Azure CLI, install it now? If not then some features will not be able to function.

First time I clicked "Yes" for "install now" .

After succesful install, I restarted ADS and keep on getting the same message

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8

[2022-08-12 08:26] alexszasz commented on #10430
Absolutely need this!

[2022-08-12 08:28] alexszasz commented on #12964
Would absolutely need this

[2022-08-12 10:24] SIFAR786 opened #20323 "after upload the file, got an error message "Language Client is not ready yet." what does it means?"
after upload the file, got an error message "Language Client is not ready yet." what does it means?
![290240617_539897654595859_6335606747929296825_n](https://user-images.githubusercontent.com/104894652/182064180-8f93589f-d287-417a-9b38-e67998854590.png)

_Originally posted by @TalariaxKhin in https://github.com/microsoft/azuredatastudio/issues/2090#issuecomment-1200632887_

[2022-08-12 10:29] SIFAR786 commented on #20323
I have installed the latest version of Azure data studio and connecting successfully to SQL Server in a docker container on my Pop!_OS. I installed this extension and while importing any csv files, i am getting the following errors on the 2nd step of the import wizard:

[code]
When i opened and checked the extension page in Azure Data Studio, in the runtime status section it shows the following er

[2022-08-12 14:46] martinfbluesoftcz opened #20324 "SQL delete is performed for commented query in some situations"
Issue Type: <b>Bug</b>

Hello, this is second time when I have experience with running undesirable DELETE SQL query.
I had this code in editor (commented DELETE query):

[code]

First I had uncommented version and then commented DELETE part and pushed F5

But DELETE SQL performed and table was event completely deleted.
Probably performed this query:
`delete from PP_BusinessCentralSyncHistory`

Thi

[2022-08-12 15:33] DigitalDuquette opened #20325 "ADS Not Parsing :error in SQLCMD t-sql script"
- Azure Data Studio Version: 1.38
- OS Version: macOS, Windows 10

Steps to Reproduce:

1. Use the following script the `:error` sqlcmd causes failure of script with error
[code]
3. Same script files used to test as in issue #20119
4. ADS in Windows and macOS both stable and insiders gives error:
<img width="412" alt="Screen Shot 2022-08-12 at 11 31 15 AM" src="https://user-images.githubuserconten

[2022-08-12 16:11] kburtram commented on #20323
@aasimkhan30 any ideas what these errors on Import extension activation would mean?

@SIFAR786 could you please check the "Help->Developer Tools" Console for the callstack details for the exceptions that are being raised (if present)?  Thanks!

[2022-08-12 16:43] theyo opened #20327 "Intellisense error for Window Function references"
Issue Type: <b>Bug</b>

Create a window function reference when connected to an Azure SQL Server database that is at compatibility level 160.

Intellisense reports an error where the window function is defined as well as the first usage of it as demonstrated in this psuedo code:

[code]

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:1

[2022-08-12 18:16] chlafreniere commented on #20239
@corivera can you provide guidance here

[2022-08-12 18:17] chlafreniere commented on #20179
@VasuBhog seems like a nice candidate for us in the next release (October). Sound ok?

[2022-08-12 18:19] chlafreniere commented on #20114
Same as #18048. Closing as known issue with multiple instances open.

[2022-08-12 18:19] #20114 closed

[2022-08-12 18:21] VasuBhog commented on #20179
@chlafreniere yup! I will target for October!

[2022-08-12 18:55] corivera commented on #20239
I remember there was a path detection bug when using virtual environments. Basically, the notebook thinks it's using pip because it can't find the conda executable, which is why there's no anaconda in the packages dropdown. Let me look around and see if that's the case here.

[2022-08-12 19:05] corivera commented on #20239
Yeah, there's no conda exe in the env folder, so we don't detect that it's conda when starting the notebook.

[2022-08-12 19:08] corivera commented on #20239
@lauraaawr Are you able to see the packages if you activate the conda environment manually from a terminal, launch ADS from that same terminal, and then select the root python folder in the Configure Python dialog?

[2022-08-12 20:29] ssreerama opened #20330 "Creating Azure funcitons on existing loaded function struck at password setting step"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. created an Azure function on table and followed the prompted settings, it created and opened the project.
2. created an Azure functions on View while the above project is loaded, it just prompted some settings and struck at Password one!

Does this issue occur when all extensions are disabled?: Yes/No

https://user-images.githubus

[2022-08-12 20:30] ssreerama commented on #20330
@VasuBhog , created the issue as per the discussion on SqlBindings bugbash! Thanks

[2022-08-12 20:50] TidyPyAi commented on #20313
I’m not sure about the request for a repo?
Below I’m able to connect;  probably an issue on my end; as I cannot see some things.

***@***.***

***@***.***

Best regards,
Christopher Lazok
Applications Systems Analyst
Office: 281.647.3789
Email: ***@***.******@***.***>
16850 Park Row Dr. Houston, TX 77084

This message and any files transmitted with it are intended exclusively for the intended reci

[2022-08-12 21:30] #20282 closed

[2022-08-12 21:35] SakshiS-harma opened #20332 "Save scmp file doesn't store "File Structure" information for database projects as target"
Steps to Reproduce:

1. Open schema compare.
2. Update source and target information for comparison, with target set as Database projects.
3.  Save scmp file.

Expected behavior: All the provided information is stored in the file.
Actual: It doesn't store "File structure" information.

[2022-08-12 21:59] #19044 closed

[2022-08-12 23:11] SakshiS-harma opened #20334 "Add test for open scmp option"

[2022-08-13 00:14] kisantia commented on #14543
another alternative to downloading the .target file is using the Microsoft.Build.Sql sdk - https://github.com/microsoft/DacFx/tree/main/src/Microsoft.Build.Sql

Availability of system dacpacs is being tracked in https://github.com/microsoft/azuredatastudio/issues/14825

[2022-08-13 00:14] #14543 closed

[2022-08-13 00:15] kisantia commented on #12847
should be fixed now with the recent options changes

[2022-08-13 00:15] #12847 closed

[2022-08-13 03:01] #19952 closed

[2022-08-13 03:01] #20238 closed

[2022-08-13 03:03] alanrenmsft commented on #19884
near SLA, so closing, please let us know if this still reproes.

[2022-08-13 03:03] #19884 closed

[2022-08-13 03:03] alanrenmsft commented on #19895
please let us know if the fix is not working. closing since the SLA is near.

[2022-08-13 03:03] #19895 closed

[2022-08-13 03:03] alanrenmsft commented on #19872
please let us know if the fix is not working. closing since the SLA is near.

[2022-08-13 03:03] #19872 closed

[2022-08-13 06:37] alanrenmsft commented on #19694
@Terrymac22 the fix is in the latest insider build and will be in next stable build in a couple weeks.

[2022-08-13 14:02] SIFAR786 commented on #20323
@kburtram i am not sure i understood your request. I don't know how to get the call stack details. Kindly help.

[2022-08-14 01:27] lauraaawr commented on #20239
Hi @corivera nope, still not able to see the conda packages after launching ADS from the activated environment in Anaconda terminal. The only difference is ADS automatically detected the conda environment's python path in Configure Python dialog, but only pip packages appear in Manage Packages dropdown.

[2022-08-14 02:34] pelsql commented on #20228
Another detail, ADS doesn't keep the selection when I dismiss the search and replace dialog, while vscode does.

Maurice
________________________________
From: Alan Ren ***@***.***>
Sent: August 11, 2022 18:12
To: microsoft/azuredatastudio ***@***.***>
Cc: Maurice Pelchat ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azuredatastudio] In editor, for example there are many line in my ud

[2022-08-15 02:24] Smoovsky commented on #7440
I can confirm the "query hang" issue is greatly improved if not completely gone. But like others mentioned above, the other unrelated issue makes insider build hardly useable.

[2022-08-15 06:50] romanovmv commented on #7440
I'm on the version 1.39.0-insiders now at it works like a charm. No issues from the previous comments and no more hanging queries.

[2022-08-15 08:38] donnienosa commented on #829
I totally agree with you. I use dbForge SQL Complete and would love to have same behaviour on ADS. I believe it's doable

[2022-08-15 11:05] piotr-napadlek commented on #392
same in here, can only use ads on mac but still have to use a windows vm to launch ssms and view query plans (I could do so if they weren't truncated in the output of sys.query_store_plan table so I could store and view them as .sqlplan files)

[2022-08-15 15:23] #19228 closed

[2022-08-15 15:47] kburtram commented on #18173
Closing based on the previous comment regarding no longer being able to repro.  Thanks!

[2022-08-15 15:47] #18173 closed

[2022-08-15 15:52] kburtram commented on #13494
Closing older issues.

[2022-08-15 15:52] #13494 closed

[2022-08-15 15:56] kburtram commented on #17907
Closing based on the merged PR referenced above.  Please let us know if you're still impacted by this bug.  Thanks!

[2022-08-15 15:56] #17907 closed

[2022-08-15 16:02] kburtram commented on #17803
@cssuh are we able to repro or diagnosis this issue (e.g confirm it's related to proxy settings, etc.)?  do you expect the upgrade to MSAL library to help address this bug?

[2022-08-15 16:03] #17848 closed

[2022-08-15 16:40] kisantia commented on #13157
closing now that the Dac Deploy Options are now exposed in the publish dialog, added in https://github.com/microsoft/azuredatastudio/pull/19789. This is now available in insiders and will be in the next release.

[2022-08-15 16:40] #13157 closed

[2022-08-15 16:45] kburtram commented on #18867
@iandonov thanks for providing the additional details.  We'll follow-up on why the default memory allocation is insufficient in this case and how best to allow this to be configured in the UI.

@erinstellato-ms fyi, when looking at Profiler session configuration gaps.

[2022-08-15 16:56] kburtram commented on #19252
@Colio please search through the issue history for similar issues (such as https://github.com/microsoft/azuredatastudio/issues/13457).  This is typically caused by a change in the Sql Client driver to no longer trust self-signed server certificates by default.  This can be overridden by setting Trust Server Certificate to True in the Advanced Connection settings.  Please let us know if this does n

[2022-08-15 16:56] #19252 closed

[2022-08-15 16:59] kisantia commented on #17785
fixed in https://github.com/microsoft/azuredatastudio/pull/18890

[2022-08-15 16:59] #17785 closed

[2022-08-15 17:00] kisantia commented on #17783
I'm not able to repro this anymore. Might have been fixed with https://github.com/microsoft/azuredatastudio/pull/18890, since that reloads the projects

[2022-08-15 17:00] #17783 closed

[2022-08-15 17:06] corivera commented on #20239
What path are you using in the Configure dialog?

[2022-08-15 17:08] kisantia commented on #17256
closing for now since we aren't focusing in this area right now

[2022-08-15 17:08] #17256 closed

[2022-08-15 17:18] erpett opened #20343 "August 2022 Release Endgame"
# August 2022 Release Endgame

Branch: https://github.com/microsoft/azuredatastudio/tree/release/1.39

## Testing Links:

- [Windows User EXE][win-user]
- [Windows System EXE][win-system]
- [Windows ZIP][win-zip]
- [MacOS Zip][osx-zip]
- [Linux tar.gz][linux-zip]
- [Linux rpm][linux-rpm]
- [Linux deb][linux-deb]

[win-user]: https://go.microsoft.com/fwlink/?linkid=2132305
[win-system]: https://go.

[2022-08-15 17:35] kburtram commented on #19905
@cheenamalhotra could you please help assess the impact of this defect?

[2022-08-15 17:38] kburtram commented on #19559
The option appears there and is working correctly with latest ADS/SSMS on Windows 11 in my testing today.  I'll close based on lack from repro and unanswered question above.  Please let us know if you are still impacted by this issue.  Thanks!

![image](https://user-images.githubusercontent.com/599935/184686539-bdf44b92-c2b4-4b0b-8fd8-6deef3a8f996.png)

[2022-08-15 17:38] #19559 closed

[2022-08-15 17:53] kburtram commented on #19764
@erinstellato-ms any thoughts on this one?  Originally we didn't add the confirmation prompt since (1) there is no change to servers/etc. only to local metadata and (2) the connection can usually be recreated using the entry in the connection dialog MRU without much trouble in the case of accidental deletion.  Though adding a prompt and moving items around seems reasonable as well.

[2022-08-15 17:58] kburtram commented on #20151
I'm going to consolidate this issue into https://github.com/microsoft/azuredatastudio/issues/20061 since they look similar.  We'll investigate both the UI freezes and the inability to connect in with CentOS 7 in that issue.  Thanks!

[2022-08-15 17:58] #20151 closed

[2022-08-15 18:04] SakshiS-harma opened #20344 "Localized strings sent to backend from Schema Compare window"
Localized folder structure strings are sent to DacFx from SC open dialog. This might create problems for non-English users. It would be better to send enum instead of localized strings.

[2022-08-15 18:05] tdoshin commented on #20256
Hey @caohai and @alanrenmsft. See, I was able to reproduce again. See GIF. Here are the steps I took

1.) Clicked inside existing column with default name and changed to 'columntimi'

2.) Navigate to "+New Column" using mouse. Be sure to do this without typing out of the Tab field

![Column name reversing](https://user-images.githubusercontent.com/72947001/184690590-44a60c19-10b8-4f5b-ab73-419d853

[2022-08-15 18:24] tdoshin opened #20345 "Bug when changing data type of two columns in the same index"
- Azure Data Studio Version: Insiders Build
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Create a table like this

 CREATE TABLE ThreeDates (id int NOT NULL,
                         d1 datetime NOT NULL,
                         d2 datetime NOT NULL,
                         d3 datetime NOT NULL,
      CONSTRAINT pk_ThreeDates PRIMARY KEY(id)
)
go
CREATE NONCLUSTERED INDEX d1_d2_ix O

[2022-08-15 18:33] tdoshin opened #20346 "Sysname not recognized as data type"
- Azure Data Studio Version: Insiders
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Open new table in Table Designer
2. In the "Type" field, select the drop down and search for "sysname" data type

Expected:

User should be able to find this data type

Actual:

User is not able to find this data type right away. They have to scroll to the bottom of the list against alphabetical order a

[2022-08-15 18:44] tdoshin opened #20347 "Database Object dropdown in Query Window quickly disappears when clicked"
- Azure Data Studio Version: Insiders
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Open Azure Data Studio
2. Right-click on any server connection and select "New Query"
3. Navigate to the database object drop down menu and select the drop down icon

Expected:

User should be able to see the list of all database objects and select the one in which they want the query to be executed in

[2022-08-15 18:46] erinstellato commented on #19764
@kburtram While deletion only removes metadata, from personal experience I know that re-creating those can take a few minutes if you don't keep server/instance name handy (e.g. datamart connection info has GUIDs and isn't something I memorize).  Prompting for delete would be nice to have.  Alternatively, in the Edit Connection option, there could be a delete button (instead of on the right-click m

[2022-08-15 18:48] alanrenmsft commented on #20347
just tried latest insider build, and I am not able to reproduce the issue.

[2022-08-15 18:51] tdoshin opened #20348 "Drop down menus should activate arrow cursor and not text cursor"
**Is your feature request related to a problem? Please describe.**
Drop down menus should activate arrow cursor or pointer cursor and not text cursor.

**Describe the solution or feature you'd like**
Drop down menus should activate arrow cursor and not text cursor

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered

[2022-08-15 19:01] alanrenmsft commented on #20348
wrong screenshot? this seems to be a dupe of https://github.com/microsoft/azuredatastudio/issues/20347

[2022-08-15 19:06] tdoshin opened #20349 "Lower/Uppercase inconsistencies in dropdown data type names vs in script"
- Azure Data Studio Version: Insiders
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Open Table Designer in Azure Data Studio
2. Open data type drown. Observe case settings in data type drop down
3. Make changes to the table and select "Publish"
4. Select "Generate Script" to view T-SQL script of table

Expected:

Case-sensitivity should be consistent in data type drop down and script

[2022-08-15 19:28] tdoshin opened #20351 "Name on Check and Foreign Key Constraints should include table name"
**Is your feature request related to a problem? Please describe.**
I note that if I add a CHECK constraint it is simply called CK_1, and an FK constraint is called FK_1 etc.

**Describe the solution or feature you'd like**
CKs, FKs should include Table name in the descriptions.

**Describe alternatives you've considered**
For instance, CK_TableName_1 and FK_TableName_ForeignTableName

**Additional

[2022-08-15 19:32] tdoshin opened #20352 "Designer should name default constraints"
**Is your feature request related to a problem? Please describe.**

If I define a default for a column, Designer should generate a name for the constraint. Best practice is to name all constraints explicitly to avoid pain if you need to drop and re-add in conjunction with a schema change.

**Describe the solution or feature you'd like**
 for instance DEFAULT_NewTable_NewColumn

**Describe alternat

[2022-08-15 19:32] VasuBhog opened #20353 "[SQL Bindings] Dotnet add package does not update SQL nuget version"
SQL Bindings latest in VS Code.

Steps to Reproduce:

1. Have an open azure function project
2. Ensure that this azure function project (.csproj) has a version **less** the current latest found [here]
(https://www.nuget.org/packages/Microsoft.Azure.WebJobs.Extensions.Sql)
a. Example:
- current latest is 0.1.346-preview
- version in the azure function project is 0.1.319-preview

4. Use the command

[2022-08-15 19:33] lawrencek76 opened #20354 "Xml is formatted incorrectly"
Issue Type: <b>Bug</b>

select from a table with xml field data saved like

[code]
the proper pretty print for the original xml that does not change the value of the nodes is

[code]

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:12.352Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summar

[2022-08-15 19:36] tdoshin opened #20355 "Provide support for Hash-Index in Memory-Optimized Tables"
**Is your feature request related to a problem? Please describe.**
Hash indexes are one of the possible index types in a memory-optimized table, and so they should be supported

**Describe the solution or feature you'd like**
Provide support for Hash Indexes for Memory-Optimized Table types

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2022-08-15 19:51] aasimkhan30 commented on #19865
Closing the issue based on previous discussion

[2022-08-15 19:55] tdoshin opened #20357 "Add ability to specify filegroups to Tables"
**Is your feature request related to a problem? Please describe.**
Data files can be grouped together in filegroups for allocation and administration purposes. Datafiles can contain Tables, indexes, stored procedures, views. A user may need to allocate a Table (Data file) to a specific file group and this functionality currently does not exist.

**Describe the solution or feature you'd like**
Prov

[2022-08-15 19:59] erinstellato commented on #20357
Clarification: objects (tables, indexes) exist in a filegroup.  If not specifically assigned during object creation, they will exist in the DEFAULT filegroup (usually PRIMARY).  For folks that create additional filegroups (which have one or more data files within them), they can specify the filegroup during object creation.  Within table designer, there is no option to specify a filegroup (sample

[2022-08-15 20:02] tdoshin opened #20358 "Add tooltip to formula field in Computed Columns to guide new users"
**Is your feature request related to a problem? Please describe.**
The computed column field has this expression "1" by default. We need to provide better guidance to newer SQL users on the correct formula syntax when using computed columns

![image](https://user-images.githubusercontent.com/72947001/184708934-3a14a8b2-4675-4b4f-8376-03a043a3dbfe.png)

**Describe the solution or feature you'd like

[2022-08-15 20:15] cheenamalhotra commented on #20192
The error you mentioned is thrown by the underlying driver when the hostname does not resolve to an IP address. Here is complete error information:

[code]

You may want to check if DNS resolves to an IP address for this hostname in this environment.
Are you able to do a quick `nslookup` to confirm and modify /etc/hosts if needed?

[2022-08-15 20:21] jheavin-iit commented on #20264
@kburtram I do not see any errors pop up in the console while the subscriptions are loading.

[2022-08-15 20:27] VasuBhog commented on #20353
So root cause is due to the azure function template SQL Nuget package reference that needs to be published in order to utilize the new versions each time.

[2022-08-15 20:27] tdoshin opened #20359 "Alter Table Considerations in Table Designer"
**Is your feature request related to a problem? Please describe.**

Table Designer provides the ability to add new columns to a table, or re-order columns.  In some cases of adding a column to a table, for example, adding a column to the end of the table with a NULL value, it is only a metadata change.  In other cases, such as adding the new column to the middle of existing columns, or changing th

[2022-08-15 20:28] Ben-CA commented on #7440
I'm running version: 1.38.0, and this is really a pain. Need to keep closing the program. Don't have this issue with MS SQL Server Management Studio, just on Azure Data Studio. (There's other things I like about Azure Data Studio though.)

[2022-08-15 20:37] alanrenmsft commented on #20324
not able to repro but will take another look later.
@martinfbluesoftcz do you remember doing anything special that might help the repro?

[2022-08-15 20:54] BhavanaPilli11 commented on #20262
[1-Azure Accounts.log](https://github.com/microsoft/azuredatastudio/files/9339798/1-Azure.Accounts.log)

[2022-08-15 20:55] BhavanaPilli11 commented on #20262
Followed above steps and attached the logs file above. Please check and let me know if any other info is required.

[2022-08-15 21:01] kisantia commented on #20281
fixed in DacFx. Will get brought into ADS whenever DacFx gets updated

[2022-08-15 21:01] #20281 closed

[2022-08-15 21:24] lucyzhang929 commented on #16088
Both the vertical and horizontal scrollbars are showing again since the July release.

[2022-08-15 21:48] caohai commented on #20355
@tdoshin Erin created the same issue a while ago #19257 I'm going to close this one.

[2022-08-15 21:48] #20355 closed

[2022-08-15 21:49] kburtram commented on #20034
I wasn't able to reproduce this by executing a small query many times query.  I'll need to setup a table with ~500 columns to verify that scenario.

[2022-08-15 22:20] alanrenmsft opened #20360 "system views shows under dropped ledger views"
I have a sql 2019 server locally

![image](https://user-images.githubusercontent.com/13777222/184728015-09f96bb2-39ad-45af-aeef-7b735130ae7e.png)

[2022-08-16 00:27] romanovmv commented on #7440
@Ben-CA 1.38.0 didn't work for me as well, please try updating to 1.39.0

[2022-08-16 00:27] monteholyfield opened #20363 "Schema Compare failed: The source and target platform must be the same to use Schema Compare for Azure Synapse Dedicated SQL Pool"
Azure Data Studio Version: 1.38.0 (user setup)
Commit: dff93c4736269ef2a7e8a225737a0d8354bf0246
Date: 2022-07-26T23:56:16.217Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

Steps to Reproduce:

1. create connection to Azure Synapse SQL Pool
2. choose 'Create project from database'
3. commit
4. choose 'Update project

[2022-08-16 01:29] cheenamalhotra commented on #19779
Need to investigate further, and reproduce specifically with **kernel 4.18.0-372.9.1.el8.x86_64 (RHEL 8 x86_64)**, as its heavy backport on 4.18.0 kernel as well as extended x64 architecture.

[2022-08-16 11:52] sturginho commented on #20241
I am getting the same error as martinleo above:

ERR Scripting failed. error: An error occurred while scripting the objects. Failed to retrieve data for this request.

It only affects Azure SQL Pool (SQL DW) and not Azure SQL DB

[2022-08-16 14:36] thgauchet opened #20364 "Linked accounts panel frozen on "Loading accounts""
left bottom corner, click on "Accounts" icon
it opens Linked accounts panel
Linked accounts panel is blocked for hours with "Loading accounts" as message.
I would like to be able to clean my all linked accounts and restart config from scratch.

[2022-08-16 15:50] hdrenollet-csusa opened #20365 "Select Top 1000 Context Menu Does Nothing"
Issue Type: <b>Bug</b>

Every time I use the "Select Top 1000" option on a table in the context menu, absolutely nothing happens.  No window opens, no messages, no errors, nothing.  I've even sat here and waited for over 30 minutes after clicking it and still nothing happens.  It happens literally every time.

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0

[2022-08-16 16:13] theSuda commented on #14384
Is this under development? I miss this feature so much every day. Also the ability to apply filter on trees. It's so hard to replace SSMS :)

[2022-08-16 17:00] BhavanaPilli11 commented on #20262
No access token returned from Microsoft OAuth
onDidChangeNotification @ workbench.desktop.main.js:1635
(anonymous) @ workbench.desktop.main.js:1635
fire @ workbench.desktop.main.js:137
addNotification @ workbench.desktop.main.js:1637
notify @ workbench.desktop.main.js:2419
(anonymous) @ workbench.desktop.main.js:2369
ZoneAwarePromise @ /Applications/Azure Data Studio.app/Contents/Resources/app/nod

[2022-08-16 17:01] BhavanaPilli11 commented on #20262
Above are the error logs in Developer tool console.

[2022-08-16 17:09] kburtram commented on #20364
@thgauchet there isn't a way to clear the accounts specifically, outside using the UI.  But you can clear all the application config by removing the local application state.  One Windows you can delete `%APPDATA%\azuredatastudio` to get back to a 1st-launch config.

If you are getting any errors in the logs that may help us give better suggestion on how to workaround the UI hang.  Please let us kn

[2022-08-16 17:13] kburtram commented on #20262
thanks @BhavanaPilli11!  @cssuh can you please take a look at the above error and provide a recommendation for possible workarounds?

[2022-08-16 17:29] alanrenmsft commented on #19180
fixed by https://github.com/microsoft/sqltoolsservice/pull/1633

[2022-08-16 17:29] #19180 closed

[2022-08-16 17:54] barryseymour commented on #6171
I too would like this feature, but let me suggest you give the user the following configuration choices:

1. Do not automatically connect to any server (default)
2. Automatically connect to a default server I specify
3. Automatically connect to the last server I connected to

Upvoting!

[2022-08-16 18:17] sqlatspeed commented on #20192
Cheena,
Thanks for the response. What's odd about this is that it doesn't happen to every user in our environment. Some ADS users seem to be able to connect to the managed instances just fine. DNS does resolve to a hostname for these MIs so that doesn't seem to be the issue here. How would it be inconsistent across users when they are all on our same network? Is it because of the nature of MIs the

[2022-08-16 18:20] SakshiS-harma commented on #19730
With "Drop objects not in source" unchecked in the Options dialog:
- Using SSDT: applying changes to database works as expected. But applying changes to a database project doesn't work, i.e. all the existing objects in the project are removed (with the new objects been added).
- Using ADS: applying changes to database works as expected. But applying changes to a database project doesn't work parti

[2022-08-16 18:21] alanrenmsft opened #20366 "error while updating description for table/column"
![image](https://user-images.githubusercontent.com/13777222/184951112-63d4e45a-a966-4d93-afb7-9529bfbeeef9.png)

[2022-08-16 18:30] alanrenmsft opened #20367 "when a column is changed to computed column the default constraint on it should be deleted"
also check other non-applicable constraints or indexes

[2022-08-16 19:04] kisantia opened #20368 "Building empty legacy .sqlproj fails"
- Azure Data Studio Version: RC build

Building an empty legacy style sqlproj fails with these errors (non-empty legacy project fails too):
[code]
I suspect this is caused by the update to newer DacFx preview nuget, 160.6263.0-preview. When changing the STS version back to 4.2.0.10, which has DacFx 160.6253.0-preview, building legacy style sqlproj succeeds.

Building sdk-style projects still works

[2022-08-16 19:16] kburtram commented on #20061
I am also encountering the error above regarding missing C++ runtime on CentOS 7.  `Error: /lib64/libstdc++.so.6: version `GLIBCXX_3.4.20' not found (required by /home/user/Downloads/azuredatastudio-linux-x64/resources/app/node_modules.asar.unpacked/spdlog/build/Release/spdlog.node)`.

According to this topic on Redhat site this version of the C++ runtime is not supported on this older operating s

[2022-08-16 19:18] #19470 closed

[2022-08-16 19:43] PyMach opened #20369 "Not able to publish database"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. 1.38
2. Windows 10

Does this issue occur when all extensions are disabled?: Yes

I have a database project and try to publish but it fails and getting the below error message, can you please check and help?

**Deploy dacpac: Could not deploy package.
Warning SQL72012: The object [DBName***] exists in the target, but it will not b

[2022-08-16 19:59] kisantia commented on #20368
investigation update: this error not from the newer DacFx nuget, but because of a different version of System.ComponentModel.Composition in STS 4.2.0.16.

STS 4.2.0.10 has System.ComponentModel.Composition 4.6.26515.6 and STS 4.2.0.16 has System.ComponentModel.Composition 4.700.19.56404. This is one of the dlls used when building a sqlproj.

[2022-08-16 20:26] tdoshin commented on #20348
Yes, its a dupe of the screen shot, but intended as such. If you see the drop down icon, the cursor is showing as a text cursor, instead of an arrow cursor @alanrenmsft

[2022-08-16 21:01] raymondtruong opened #20370 "[SQL Migration] Missing SKU recommendation and assessment functionality"
- Azure Data Studio Version: 1.38.0
- OS Version: Windows 11 21H2

Steps to Reproduce:

1. Launch SQL Migration wizard, proceed to assessment and SKU recommendation steps
2. Observe missing functionality (see below)

Does this issue occur when all extensions are disabled?: Yes/No

----------

**Note:**

This bug is for tracking a port request to the release branch for sqltoolsservice / mssql in AD

[2022-08-16 21:30] tdoshin commented on #20347
@alanrenmsft or @caohai  if possible, could you show a GIF of what happens when you use the drop-down menu in the data type drop down in the Table Designer?
What type of cursor do you see?

[2022-08-16 21:31] ssreerama opened #20371 "SC Include object types options tab should have some unchecked values"
- Azure Data Studio Version: 1.39.0-rc1
- OS Version: Win10/11

Steps to Reproduce:

1. Connect to server and open till databases
2. Right click on database and select schema compare
3. Select source and target databases
4. click on options gear icon and select includeObjectTypes tab
5. validate all options are showing as selected, which results in SC diff window shows excluded differences too.

D

[2022-08-16 21:43] ssreerama commented on #20371
Note: Since SQL DB project extension shares the similar logic, need to test for the SQL db extension too!

[2022-08-16 22:02] alanrenmsft commented on #20360
not done yet, still have to update the STS version in the release branch.

[2022-08-16 22:57] caohai opened #20373 "Computed column option should be disabled for graph type columns"

[2022-08-16 23:00] kisantia opened #20374 "Remove sql project build dependency on STS"
Right now, the sql projects extension copies over the dlls it needs for building from STS. Unfortunately, this leaves us vulnerable to breaking if a dll version is changed in STS by an unrelated feature, like what happened with https://github.com/microsoft/azuredatastudio/issues/20368.

Only legacy style projects use these copied over dlls, while sdk-style projects use the dlls bundled in the Micr

[2022-08-16 23:14] kisantia commented on #20368
update: confirmed that this new version was brought in by the upgrade of Microsoft.SqlServer.Migration.Assessment in https://github.com/microsoft/sqltoolsservice/pull/1617, which increased the System.ComponentModel.Composition dependency to 4.7.0.

As a workaround for the August release, Raymond has helped create a new nuget of Microsoft.SqlServer.Migration.Assessment that has the System.Component

[2022-08-16 23:18] alanrenmsft commented on #20370
PR merged

[2022-08-16 23:18] #20370 closed

[2022-08-16 23:29] ssreerama commented on #20371
Verified, and noticed SC was not updated to latest version and working fine with 1.16.0

[2022-08-16 23:29] #20371 closed

[2022-08-16 23:53] ssreerama opened #20378 "SC options window add loading component before the options display"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. Open SC options window
2. Notice there is fraction of milliseconds delay before the options show up.
3. Should have the loading component in place like SQL proj extension options.

Does this issue occur when all extensions are disabled?: Yes/No

Similar to this PR: https://github.com/microsoft/azuredatastudio/pull/20314

[2022-08-17 02:49] alanrenmsft commented on #20360
verified

[2022-08-17 02:49] #20360 closed

[2022-08-17 03:21] #20378 closed

[2022-08-17 07:18] delsehi opened #20380 "Cannot publish SQL Project to local emulator, Error SQL72014"
- Azure Data Studio Version: 1.38.0
- OS Version: Windows 10

Steps to Reproduce:

1. Install the SQL Database Projects extension and start Docker.
2. In the Database Projects extension, create project from database. I select an existing production database in Azure. It's an SQL server. Folder structure = Schema/Object Type, SDK-Style project enabled.
3. Build the project. I get 0 errors and 357 w

[2022-08-17 08:33] OSch24 commented on #19675
Today the new official version 1.38 was installed.
The behaviour has not changed.
This is just for your information, in case it is important.

[2022-08-17 08:40] OSch24 commented on #19359
Sorry, I saw it was identical to #15623.
I'm trying to close the double one.

_Contents of the other - double - ticket:_

Hello,
I am looking for a function in SSMS that shows me the basic data types when creating scripts. So, right click on a table that uses custom data types and then I select, Create script to create.

Now SSMS does not show me the user-defined data types, but the basic data typ

[2022-08-17 08:41] OSch24 commented on #15623
Double Entry with #19359

[2022-08-17 08:41] #15623 closed

[2022-08-17 11:38] martinleo commented on #20365
Looks like a duplicate of [20241](https://github.com/microsoft/azuredatastudio/issues/20241)

[2022-08-17 13:49] hdrenollet-csusa commented on #20241
Yes, this matches the error that I'm receiving as well for Azure Synapse Analytics Dedicated SQL Pools

[2022-08-17 13:49] hdrenollet-csusa commented on #20365
Yes, this matches the error that I'm receiving as well for Azure Synapse Analytics Dedicated SQL Pools

[2022-08-17 13:49] #20365 closed

[2022-08-17 14:20] Michael-Kagnew commented on #20363
I get this exact same issue, and even more so doing anything involving schema compare and Azure Synapse Dedicated Sql Pool. Notably, doing this in Visual Studio will work instead.

[2022-08-17 15:20] orlando-colamatteo opened #20381 "Rendering a resultset with a column of type array generates an unhandled exception"
- Azure Data Studio Version: 1.38
- OS Version: Windows_NT x64 10.0.19044

Steps to Reproduce:

1. Open a new query window against a cluster running PostgreSQL 13.7 on x86_64-pc-linux-gnu, compiled by gcc (GCC) 8.5.0 20210514 (Red Hat 8.5.0-10), 64-bit
2. Run this query: SELECT r.rolname
  ,ARRAY(SELECT b.rolname
        FROM pg_catalog.pg_auth_members m
        JOIN pg_catalog.pg_roles b ON (m.ro

[2022-08-17 15:48] thgauchet commented on #20364
Hi Karl,
thank you so much, I was blocked on this since several weeks. I have not found on internet your method to clear accounts.. It works perfectly. Great!

--
best regards
Thomas Gauchet

From: Karl Burtram ***@***.***>
Sent: Tuesday, August 16, 2022 7:10 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: GAUCHET Thomas - Contractor ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azu

[2022-08-17 16:09] karol1999 commented on #18524
switched to "Verbose" option helped, thank you very much

[2022-08-17 16:41] barryseymour opened #20383 "Keyboard Shortcut Issues"
I mapped a few new keyboard shortcuts, but they're not as reliable as I'd like.

I mapped Ctrl+Alt+M to the 'manage' command so I could quickly open up the Manage window and do a search. Doesn't work. The shortcut appears with I right-click on a server name, however.

I removed the shortcut Ctrl+` (which toggles the terminal) and reassigned it to toggle visibility of the results pane. It works whe

[2022-08-17 17:41] kburtram opened #20385 "Does not handle server going offline well"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Connect to server and open some queries, OE, dashboard, etc.
2. Turn off server

Expected: Reasonable error message that server is unreachable and option to disconnect/close UI

Actual: UI breaks and no error message.  There are errors in the logs.  For example, query results are shown blank and many things timeout after a couple minute

[2022-08-17 18:01] #20368 closed

[2022-08-17 18:55] corivera opened #20387 "Empty markdown cells load incorrectly in jupyter viewer"
Repro steps:
1. Open a notebook and create several text cells without putting any text in them.
2. Start a jupyter instance and open the notebook in the jupyter viewer.
3. Instead of empty cells the following malformed text is displayed instead.

![MarkdownCells](https://user-images.githubusercontent.com/12820011/185219847-2b99a5fd-0551-4518-bbaa-c3e30f121d30.PNG)

Looks like jupyter expects empty

[2022-08-17 20:04] jtsom opened #20389 "Database queries taking a long time using domain name with VPN"
Issue Type: <b>Bug</b>

When connected to our Azure database via our Azure VPN using the domain name, a simple query (select top 10 * from user) takes an order on magnitude longer than if I connect to the database via its IP address (10 seconds vs. milliseconds)

Even making the connection takes an extremely long time - I had to up the timeout values to 60 seconds.

The same connection and query u

[2022-08-17 20:21] #20171 closed

[2022-08-17 20:32] alanrenmsft commented on #19763
@cheenamalhotra @dnethi is actively experiencing the issue, please contact him if you need a live repro.

[2022-08-17 20:33] alanrenmsft commented on #19763
@candiceye FYI

[2022-08-17 20:39] candiceye commented on #19763
@cheenamalhotra Dinakar is unable to connect his Azure Account to ADS as seen in these screenshots:

![image](https://user-images.githubusercontent.com/22386690/185238549-f4414b03-aa47-4bd4-8dd9-107368f95d0e.png)

![image](https://user-images.githubusercontent.com/22386690/185238679-6f425333-c0f7-49e9-b733-73eeaff2a079.png)

He is seeing errors like:
Please provide below info when asking for suppo

[2022-08-17 20:50] candiceye opened #20391 "Add a stateChanged boolean property to InputBoxComponent"
**Is your feature request related to a problem? Please describe.**
Problem: increment/decrement button for the InputBoxComponent field is re-setting the value down to the minimum when clicked, despite the value in the field. Upon investigation, I found out that this problem is the result of a workaround that was implemented so that the page could determine when the Save and Discard buttons should

[2022-08-17 21:00] barbaravaldez opened #20392 "Cannot unpin notebook on Windows"
Version: 1.39.0-rc1
Commit: 4fd2d9e76bf360e0a98c4bb72a3b9120745ea517
Date: 2022-08-17T18:34:37.440Z (2 hrs ago)
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 21.6.0

Repro steps:
1) Open book in Books Tree View
2) Pin notebook
3) Unpin notebook

[2022-08-17 21:47] Charles-Gagnon commented on #20322
@candiceye FYI

[2022-08-17 22:56] SakshiS-harma opened #20395 "Sql project opened as target in SCMp doesn't have Folder structure options"
Steps to Reproduce:

1. Open a db project. Start schema compare from the projects workspace.
2. Switch direction.
3. Open source/target dialog by pressing '...'
4. Db project is populated by default in Target, but "Folder structure" option is missing.

Actual:
![image](https://user-images.githubusercontent.com/57200045/185257509-fb727cf2-971d-4a93-a16b-64fe5e646a6a.png)

Expected:
![image](https:/

[2022-08-17 23:11] dzsquared commented on #20363
In the .sqlproj file for that project - what is the value in the <DSP> tag?

[2022-08-17 23:11] alanrenmsft commented on #20345
fix is available in dacfx.

[2022-08-18 00:43] Benjin opened #20398 "Schema Compare + Apply results in unexpected folder structure for non-schema-contained objects"
For Schema/ObjectType organization:

Objects that don't belong to a schema are created at `<objectName>/<objectType>/objectName.sql`, when they should be created at just `<objectType>/objectName.sql`

![image](https://user-images.githubusercontent.com/1609827/185267656-5b14705e-80c6-477b-8e37-e12716845eb8.png)

[2022-08-18 01:06] VasuBhog opened #20399 "SQL Bindings dev environment dotnet add issue"
SQL Bindings Ext v3

1. Have an azure function project already opened
2. Open the .cs file and use `Add SQL binding` via the command palette.
3. Follow prompts and see that this issue is shown (this is due to a dev environment issue so may not occur always):
<img width="396" alt="Screen Shot 2022-08-17 at 4 04 24 PM" src="https://user-images.githubusercontent.com/23587151/185269632-0748cbff-4c14-4

[2022-08-18 01:24] haydnlj commented on #7440
Insiders version 1.39.0 and 1.40.0 both appear to have corrected the hanging query issue. Will continue to use for a few days and report if any regression, but otherwise would suggest this is a great improvement, thank you!!

[2022-08-18 02:00] athomas-wtv commented on #7440
I’m using 1.37 and haven’t had any issues. Or, at least, the hang has been drastically reduced.

[2022-08-18 03:44] #20353 closed

[2022-08-18 03:57] alanrenmsft commented on #20366
verified with latest rc1 build

[2022-08-18 03:57] #20366 closed

[2022-08-18 05:19] nakulms opened #20402 "In settings, edit in settings.json option does not open with variable already written"
- Azure Data Studio Version:1.38.0
- OS Version: Microsoft Windows 10 Enterprise

Steps to Reproduce:

1. Go to File -> Preferences -> Settings and select any setting which provides option to "Edit in settings.json".
2. In earlier versions of ADS, the variable used to appear already corresponding to that setting and the value had to be filled in settings.json when you clicked on "Edit in settings.

[2022-08-18 06:27] gidziu commented on #2767
super disappointed with this ADS, so many issues with data projects, context searches, looking up definition etc., some issues linger for years!!!
hard to be believe that we are in 2022 and MS still can't get it right

[2022-08-18 07:53] mckenzm commented on #398
Now that private endpoints are generally available in Azure especially this becomes more than a nice to have.  Not just for Postgres - it is only an example here because this works so well in PGAdmin4 (the rest of which might be flaky but improving).  Datagrip has it.  Yes you can do it manually, and you don't need additional loopback ip's (useful for some, though).

[2022-08-18 12:41] jaquesleroux commented on #16125
Garr... Moved to October 2022 Release now 😞😞😞

[2022-08-18 15:59] #20392 closed

[2022-08-18 17:08] #20358 closed

[2022-08-18 20:07] corivera commented on #20387
Seems like this also happens if you create empty cells directly in the jupyter viewer and then reopen the notebook. Closing this since it sees like a jupyter issue, rather than an ADS one.

[2022-08-18 20:07] #20387 closed

[2022-08-18 21:22] kisantia commented on #20380
Looks similar to #20290, more details in this comment https://github.com/microsoft/azuredatastudio/issues/20290#issuecomment-1212485474. This should be fixed in the upcoming August release.

[2022-08-18 21:25] kisantia commented on #20369
@PyMach the error message says "The login already has an account under a different user name.", so either the other user associated with the login needs to be dropped or domain\USERID not created

[2022-08-18 21:46] alanrenmsft opened #20410 "not able to delete server registration"
1. add a central management server
2. add a server registration under it
3. delete the newly added server registration

actual: the server registration deletion doesn't work

![cms](https://user-images.githubusercontent.com/13777222/185500874-42773e78-6dc5-4fb8-9f1d-af6ce2056c7c.gif)

[2022-08-18 22:18] cheenamalhotra commented on #18844
The issue was reproduced and fix verified with SqlClient update to v3.1.1.
It will be fixed in Azure Data Studio **v1.39 (upcoming release)**.

[2022-08-18 22:18] #18844 closed

[2022-08-18 22:57] SakshiS-harma opened #20412 "No way to change project name after reaching folder location in "Create project from database" in vscode"
Steps to Reproduce:

1. Add a connection or choose from connection profile in "Create project from database" quickpick.
2. Pick db name. Pick project name.
3. After reaching folder location, if a folder already exists with the project's name- there is no way to go back to modify the name for the current project.

To do: Either provide a way to go back in quickpick menu to change name, else switch

[2022-08-18 23:04] corivera commented on #20086
Looks like the action is disabled correctly, but the styling doesn't change to reflect that i.e. getting grayed out and being unclickable.

[2022-08-18 23:06] kisantia commented on #20363
@monteholyfield please check if this is the DSP in the sqlproj:
`    <DSP>Microsoft.Data.Tools.Schema.Sql.SqlDwDatabaseSchemaProvider</DSP>
`

The project's target platform can also be seen by right clicking on the project node and selecting "Change target platform", which will open this quickpick where the current target platform is displayed and can be changed
![image](https://user-images.github

[2022-08-19 03:45] CwjXFH opened #20418 "Cannot display query plane"
Azure Data Studio Version:
![image](https://user-images.githubusercontent.com/11468733/185538508-30f9d0e3-91e0-408c-8c50-e41b7b19d17b.png)

![image](https://user-images.githubusercontent.com/11468733/185538476-0ef92b3e-61b0-4ae7-a147-d7b5e7639f22.png)

[2022-08-19 05:44] lauraaawr commented on #20239
@corivera sorry for confusion, I mean this Python path: c:\Users\Administrator\anaconda3\envs\CRA (custom)

[2022-08-19 08:17] MortenMeisler opened #20417 "Please fix the infinite loading"
When I try to connect via connection string I get an infinite loading.

![image](https://user-images.githubusercontent.com/17620242/185575544-79e117fd-f06f-4ab2-85e0-6ee2567c8da0.png)

Nomatter what might be causing this, it's very bad practice with no feedback here.

Using latest version: 1.38.0

[2022-08-19 16:04] erinstellato-ms commented on #7440
@Ben-CA @haydnlj @romanovmv @jake-carpenter @athomas-wtv @Smoovsky  Thank you for your recent testing and your feedback, we greatly appreciate it.

[2022-08-19 17:16] corivera commented on #20239
Are you able to see the expected environment packages if you use the path c:\Users\Administrator\anaconda3 in the dialog after activating the environment manually?

[2022-08-19 17:29] Charles-Gagnon opened #20420 "Connections and Notebook activity bar icons not visible/incorrect in some color themes"
Quiet Light/Solarized Light

![image](https://user-images.githubusercontent.com/28519865/185674630-673efd66-e8c9-47e5-9e38-846f3cc911e7.png)

High Contrast (they're dimmer than the other ones)

![image](https://user-images.githubusercontent.com/28519865/185674784-9e601e61-226a-4972-a425-95eb00b407c7.png)

[2022-08-19 17:44] erinstellato-ms commented on #20357
For tables with NVARCHAR(MAX), the TEXTIMAGE_ON is also an option:

CREATE TABLE [dbo].[Orders](
	[OrderID] [int] NOT NULL,
	[CustomerID] [int] NOT NULL,
	[SalespersonPersonID] [int] NOT NULL,
	[PickedByPersonID] [int] NULL,
	[ContactPersonID] [int] NOT NULL,
	[BackorderOrderID] [int] NULL,
	[OrderDate] [date] NOT NULL,
	[ExpectedDeliveryDate] [date] NOT NULL,
	[CustomerPurchaseOrderNumber] [nvarc

[2022-08-19 17:47] erinstellato-ms commented on #20346
This exists in the dropdown as sys.sysname - it doesn't appear "alphabetically" in the list.

[2022-08-19 17:50] erinstellato-ms commented on #19915
@NvHulst Checking in to see if you can share more info on the error message with us.  Thanks!

[2022-08-19 18:00] erinstellato-ms opened #20421 "Add Period Columns when Temporal Table selected in Table Designer"
When a table is marked as temporal (system-versioned) in table designer, it would be helpful to automatically created the two period columns for users (if they have not been added).  Provide default names for both columns (SysStartTime, SysEndTime).

If users un-select the system-version option, and there have been no changes to the default values for the period columns, then remove the period col

[2022-08-19 18:02] erinstellato-ms opened #20422 "Change column order in primary key using buttons"
If changing the column order for two or more columns in a primary key, it would be nice to have Move Up and Move Down buttons to change the order.

[2022-08-19 18:06] aasimkhan30 commented on #19862
Closing this issue, as both the focus item have different behaviors and it is working as intended.

[2022-08-19 18:07] aasimkhan30 commented on #19846
Closing this issue as it is a narrator specific bug.

[2022-08-19 18:47] chlafreniere commented on #20420
Dupe of #11930, which I've moved into October.

[2022-08-19 18:47] #20420 closed

[2022-08-19 19:07] #19272 closed

[2022-08-19 21:02] Charles-Gagnon opened #20424 "Query history can get incorrect query text"
1. Type a query in an editor
2. Run the query
3. Immediately delete some characters from the query

When the query history item shows in the view it will often have incorrect text, with some of the letters that were deleted being gone.

The root cause here is that query history gets the text range from the core and then uses the VS Code APIs to get the actual text. But because the event isn't sent

[2022-08-19 21:08] dzsquared commented on #20424
Could we add an API listener for when query execution is called for, but before the query is executed?  This could be used by query history but would also be useful in creating extensions that parse the query text and potentially intercept statements such as UPDATE/DELETE without a where clause.

[2022-08-19 21:11] Charles-Gagnon commented on #20424
That's what 2 is suggesting - I'm trying that out now since we already send this event whenever a query is started.

The intercepting statements thing is definitely interesting as we've discussed before - but for that to truly be powerful I think we'd want to add additional features like being able to veto execution in some scenarios (which isn't something that query history would care about). And

[2022-08-19 23:03] Charles-Gagnon opened #20427 "Have query history show queries in progress"
Currently we only display entries when a query is finished executing. We could improve this to immediately add an item with the query text when a query is started and then show a spinner icon while it's executing - finally updating it to show success/failure once it's done.

[2022-08-19 23:37] kisantia commented on #20313
@NSP1790 @TidyPyAi to clarify, is the database synapse serverless pool for these failing schema compares? Synapse Serverless Pool is not yet supported at the DacFx level (the backend of schema compare) - https://github.com/microsoft/DacFx/issues/23

[2022-08-21 11:36] joao-trigo opened #20432 "Notebook: Save As CSV delimeter settings not working"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1. In the settings queryEditor.results.saveAsCsv.delimiter put any character (for instance |)
2.  Execute a query in the Notebook
3. Click the icon to export as CSV
4. Open the exported file. The separator you choosed is not applied. Same version before this was working fine

Does this issue occur when all extensions are disabled?: Y

[2022-08-21 11:38] joao-trigo commented on #20432
I'm using Windows 11 (64)

[2022-08-21 15:07] lauraaawr commented on #20239
@corivera
- I activated the environment & launch ADS from there
![image](https://user-images.githubusercontent.com/85976879/185796409-5ad36375-b734-483e-aa7f-febacab97d1b.png)
- Choose the main Python path instead of the environment path
![image](https://user-images.githubusercontent.com/85976879/185796601-547f39a7-fc13-4ae5-8c23-7ffd9e07c4bb.png)
- Yeah, now I'm able to see the Anaconda drop-down

[2022-08-22 02:43] aykhara opened #20434 ""Query was canceled by user" when querying encrypted fields"
- Azure Data Studio Version: 1.38.0
- OS Version: Darwin x64 21.6.0

I found [this bug report #12611](https://github.com/microsoft/azuredatastudio/issues/12611) with the same problem on my side, which had already been closed. However, it seems not to have been completely fixed yet.

When querying encrypted fields, query cancels itself, and "Query Canceled by User" message is returned.

- Using Azu

[2022-08-22 06:45] NSP1790 commented on #20313
Yes, it is Synapse Serverless Pool that fails.

[2022-08-22 13:17] tidypy commented on #20313
You are correct; this was a Sql serverless pool.  I am able to run the tool on our Local DB clone, with our lifecycle services VM.
I suppose this limitation should be put in the help files or FAQ?
Also with SSP's the Schema and SYS files will only populate with header information; but will not populate with data unless specifically designed to do so.

Example:  running a data definition query; wil

[2022-08-22 16:51] cheenamalhotra commented on #19905
Hi @Dylan-MSFT

Azure Data Studio uses SqlClient driver to send FEDAUTHINFO to Azure SQL. STS URL and SPN are received from Server when receiving FedAuthInfo token ([ref: code](https://github.com/dotnet/SqlClient/blob/620cf46be3ac07eb59cc73fe59bd6df6200bda1c/src/Microsoft.Data.SqlClient/netcore/src/Microsoft/Data/SqlClient/TdsParser.cs#L3831)), and driver uses the same to request access token from

[2022-08-22 16:57] cheenamalhotra commented on #19905
What you're describing above about App Registrations might be related to [AD Service Principal authentication](https://docs.microsoft.com/en-us/sql/connect/ado-net/sql/azure-active-directory-authentication?view=sql-server-ver16#using-active-directory-service-principal-authentication) mode, where you can pass Client App ID and Secret as credentials to authenticate to server, but that is currently n

[2022-08-22 17:37] cheenamalhotra commented on #20417
Hi @MortenMeisler

Could you please let us know if connection timeout is set to more than 30 seconds (_timeout=0 is infinite timeout_) and does the loading exceed the timeout limit in that case? Also please provide client OS information.

Thanks!

[2022-08-22 17:58] corivera commented on #20239
I'll be opening a fix later today to use the env's python executable

[2022-08-22 18:02] kisantia commented on #20313
thanks for confirming! Support for Synapse Serverless Pools is in progress, and the DacFx issue linked above will be updated when it is completed.

@tidypy thanks for the suggestion, we will add this limitation to the schema compare docs. For the other items, please create new issues to help better track them. Thanks!

[2022-08-22 18:41] cheenamalhotra commented on #20385
Primary cause of this issue seems to be that when ADS makes multiple queries to SqlClient and server is not responsive, the connection resiliency design in SqlClient to reconnect transparently turns into several minutes of delay.

If we can expose a *new* SqlConnection API that validates connection's active state, it can be used by ADS to check connection state before executing anything on this co

[2022-08-22 19:52] #20424 closed

[2022-08-22 21:05] mkyp opened #20436 "Saving CSV file takes a LONG time or never completes"
Issue Type: <b>Bug</b>

I'm doing a query with ~600K rows returned, which I do a "Select All", then "Save as CSV".  initially the majority of the rows are saved to the file, except for the last ~18 rows (683769 out of 683,787)

(base) ~/Downloads$ wc Results-BB-OPS-08-01-to-08-22.csv
  683769 1367540 93855744 Results-BB-OPS-08-01-to-08-22.csv

The UI shows "Saving file..." with an under bar moving

[2022-08-22 21:06] cheenamalhotra commented on #20364
Closing as customer unblocked with local config reset.

[2022-08-22 21:06] #20364 closed

[2022-08-22 21:55] chlafreniere commented on #20312
@corivera can you help take a look?

[2022-08-22 22:02] corivera commented on #20312
Do you have pyodbc installed? Looks like it's a pip package on pypi.