[2019-08-29 15:55] iamwyza commented on #4085
@kimhanse - I had the same issue.  I went in and deleted all the cached settings, values, etc from my AppData folder for Data Studio.  After doing that and re-installing, it started accepting MFA tokens properly.  (not ideal, I know, but it's better than nothing)

[2019-08-29 15:58] iamwyza commented on #3270
This persists for me on 1.10.   Even on servers with only 300 databases it will time out.  Oddly, the list of of databases in the Search Widget on the Server Dashboard loads them just fine.  Even when there are 5k DBs.  So it seems like the code that fetches the list of DBs in the Search widget is different than the code that fetches the list of databases in the Servers Pane.

[2019-08-29 16:06] kisantia commented on #6727
Closing because this is a Jaws specific issue and this works with NVDA.

[2019-08-29 16:06] #6727 closed

[2019-08-29 17:59] kevcunnane commented on #6480
No longer needed as name has been removed

[2019-08-29 17:59] #6480 closed

[2019-08-29 19:24] kimhanse commented on #4085
@iamwyza - Thanks for the suggestion, but it didn't help me.

I am running Debian Linux, and deleted all the settings doing:
[code]

[2019-08-29 20:53] #5678 closed

[2019-08-29 21:05] abist commented on #7005
@SQLDataCloud You can see the duration of the run when you hover over the graph for that run. Is there a specific way you'd like to view it as?

[2019-08-29 23:25] udeeshagautam commented on #6901
vscode diff editor scroll bar is not focusable. the workaround for seeing the lines below is using arrow key on editor itself rather than scroll bar which works. Please let us know if that doesn't work.

[2019-08-29 23:25] #6901 closed

[2019-08-30 00:39] kburtram opened #7010 "SQLCMD mode should have setting to hide\show toolbar button"
- Azure Data Studio Version: master

The new Enable SQLCMD Mode button has a long text label and causes the toolbar to wrap to two lines more often than before.  Since many users (such as myself 😄) almost never use this feature, it would be nice to be able to remove it from the toolbar.  (it may even make sense that the default was to not show it, since I suspect most users don't use this feature)

[2019-08-30 09:51] kieumypham opened #7012 "Azure Studio connection Error with MS SQL on Linux Mint 19.2"
I have MS SQL 2017 running on Linux Mint 19.2. I used "sqlcmd" to verify that it's running, and the reported version is "Microsoft SQL Server 2017 (RTM-CU16) (KB4508218) - 14.0.3223.3 (X64)" However, when I tried connecting to the database server using Azure Studio version 1.10.0 (For Linux) it failed with error as followed: "System.Data.SqlClient.SqlException (0x80131904): A network-related or in

[2019-08-30 12:38] nssidhu opened #7013 "How to change/Revert Language to English"
I by Mistake got my Language changed to Language other than English.
How do I change it back to English.

Tried Re-installing, but still default to some other non-English Language,

[2019-08-30 14:13] SQLDataCloud commented on #7005
Hi Aditya,

Apologies, I did not notice that when clicking on a given SQL Job, it provides the Duration of the job on third item down.  Not sure how I could have missed that! 🤪

I think my point was that you can see some bar charts in green showing previous runs but there was nothing in these to state time/days/minutes/etc.

Maybe some tooltiptext to state day/hour/minute?

Kind Regards

Scott@SQL

[2019-08-30 17:35] blakhani-msft opened #7014 "[sqlbdc]-[ads]-[Notebook] - Loading Kernels... with multiple python versions"
While using ADS on new machine I have been running into “Loading kernels…” after following series of steps.

### How to Reproduce ?
I have logged in as user "balmukund" in the OS so c:\users\balmukund is my profile folder. Replace with your configuration.

1.	Fresh Windows VM
2.	_Install ADS insider - user._ https://github.com/Microsoft/azuredatastudio
3.	Install SQL Server 2019 extension: https:/

[2019-08-30 17:39] udeeshagautam opened #7015 "Backup dialog footer color seems reverse themed [UX]"
Insiders build
Version: 1.11.0-insider (user setup)
Commit: faf6eae535aa7d054731fa877f86aa66e1e25426
Date: 2019-08-29T09:07:55.627Z
VS Code 1.37.0
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Open backup dialog on any database
2. the dialog footer theme seems to use dark theme when theme set is light and vis

[2019-08-30 17:44] kburtram opened #7016 "Setup has incorrect "OSS" icon on EULA page"
- Azure Data Studio Version:

Steps to Reproduce:

1. Run latest setup.exe from master branch

Actual: Incorrect icon is shown during setup

![image](https://user-images.githubusercontent.com/599935/64040958-04642580-cb13-11e9-971a-6021f0998485.png)

[2019-08-30 17:46] udeeshagautam opened #7017 "Backup dialog is always starting in master database context"
Insiders build
Version: 1.11.0-insider (user setup)
Commit: faf6eae
Date: 2019-08-29T09:07:55.627Z
VS Code 1.37.0
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. right click on a non-system database and start backup dialog
2. the backup dialog starts in context of master always

![image](https://user-images.git

[2019-08-30 17:52] kburtram opened #7018 "Backup dialog "button bar" has incorrect background color"
- Azure Data Studio Version: master

Steps to Reproduce:

1. Open backup dialog

Expected: Button bar background color follows theme.

Actual: Button bar has a dark background on light theme

*Backup dialog*
![image](https://user-images.githubusercontent.com/599935/64041313-04185a00-cb14-11e9-94af-313243e6a87a.png)

*Insights dialog for reference*
![image](https://user-images.githubusercontent.com

[2019-08-30 17:59] kburtram commented on #7013
@nssidhu the language can be reset using the "Configure Display Language" command.  This can be executed from the Command Palette (which can be shown with "F1" key, for example).

In the Command Palette, typing "language", selecting "Configure Display Language", then select "en" to restore back to the English.  Please let me know if that doesn't work.

![image](https://user-images.githubuserconten

[2019-08-30 17:59] udeeshagautam commented on #7017
@anthonydresser from a quick look this seems to be caused by the recent change in backupActions.ts (line 68 ) - using new connection profile in place of passing the same profile to backup dialog - can you share why that change was made?

[2019-08-30 18:06] dzsquared opened #7019 "snippet sqlCreateIndex is missing closing parenthesis around column names"
- Azure Data Studio Version:
Version: 1.10.0 (user setup)
Commit: 5fdb967ffcea41df0335ec17cfa396a694bb174e
Date: 2019-08-14T18:28:10.311Z
VS Code 1.37.0
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. insert the sqlCreateIndex snippet
2. tab through the placeholders
3. completed text is syntactically invalid, m

[2019-08-30 20:29] nssidhu commented on #7013
That worked

[2019-08-30 20:29] #7013 closed

[2019-08-30 22:32] #6922 closed

[2019-08-30 23:02] chlafreniere opened #7026 "Notebooks: Empty Markdown Cell Hint Text Isn't There Anymore"
![image](https://user-images.githubusercontent.com/40371649/64055119-7bafae80-cb3f-11e9-9ea3-51a2705422aa.png)

Expected text inside the cell saying "Double-click to edit"

[2019-08-31 10:04] sanan-fataliyev commented on #94
+1

[2019-09-02 07:12] blakhani-msft opened #7029 "azdata installation error - [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1076)"
Issue Type: <b>Bug</b>

[azdata-install-cmd-prompt.txt](https://github.com/microsoft/azuredatastudio/files/3564841/azdata-install-cmd-prompt.txt)
azdata installation error - [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:1076)

Azure Data Studio version: azuredatastudio-insiders 1.11.0-insider (15ec2b3748e78b8049e4aabcbb1bf72c9995c8f5, 20

[2019-09-02 09:14] garethprice1977 opened #7030 "SQL Server Authentication first time connection"
Issue Type: <b>Bug</b>

When using SQL Server Authentication with a new account for the first time where in SSMS you would be promped to change your password in ADS you are told your password needs to be change and cannot log on. I have only tested this from Mac OS for this version of ADS

Azure Data Studio version: Azure Data Studio 1.10.0 (5fdb967ffcea41df0335ec17cfa396a694bb174e, 2019-08-14T18:

[2019-09-02 21:59] ghstwhl opened #7031 "Unattended extension installation"
**Is your feature request related to a problem? Please describe.**
In an environment where workstations are ephemeral, and users do not have administrator access, we pre-bake a workstation image using packer.  This creates a problem when a feature, such as installing Extensions for AZD, does not have an off-line installer

**Describe the solution or feature you'd like**
A command line tool, or pow

[2019-09-03 16:28] abist commented on #7030
@garethprice1977, we have this issue recorded in the thread posted above. Since it's already being tracked, I'm going to go ahead and close this one as a duplicate. Thanks for opening the issue!

[2019-09-03 16:28] #7030 closed

[2019-09-03 17:17] #7017 closed

[2019-09-03 17:24] devlern opened #7032 "Add ability to alter table"
Issue Type: <b>Feature Request</b>

Please Add ability to alter table add column/ assigns table relashipnships/add view diagrams

Azure Data Studio version: azuredatastudio 1.10.0 (5fdb967ffcea41df0335ec17cfa396a694bb174e, 2019-08-14T18:28:10.311Z)
OS version: Windows_NT x64 10.0.17763

[2019-09-03 17:37] #7026 closed

[2019-09-03 18:52] udeeshagautam commented on #7018
Just Fixed. https://github.com/microsoft/azuredatastudio/pull/7025. Will close after validating on next insiders

[2019-09-03 18:59] udeeshagautam commented on #6691
As per our discussion it should be okay to say edit for editable control. Will discuss in Thursday triage.

[2019-09-03 19:12] aaomidi commented on #7016
These two lines are new to the installer process:
https://github.com/microsoft/azuredatastudio/blob/master/build/win32/code.iss#L23-L24

Change log associated with them:

<li>Improved support for high DPI systems:
<ul>
  <li>The <tt>WizardImageFile</tt> and <tt>WizardSmallImageFile</tt> [Setup] section directives now may list multiple files. This support wildcards. When multiple files are specifie

[2019-09-03 19:13] aaomidi commented on #7016
Should we get new icons to support the new high dpi build process or just remove the new highdpi support?

[2019-09-03 19:35] garethprice1977 commented on #7030
That's a windows domain password issue, the one I raised was with SQL authentication, please reopen

[2019-09-03 19:39] abist commented on #7030
@garethprice1977 This is an authentication issue in general (SQL Auth or Windows Auth) where it wouldn't refresh. If you still believe it's something else, feel free to re-open the issue.

[2019-09-03 22:02] kisantia commented on #6693
Closing this because it didn't repro with NVDA. Only "Summary" was announced, not clickable

![image](https://user-images.githubusercontent.com/31145923/64211683-c9882780-ce5b-11e9-9d63-4d12a3498374.png)

[2019-09-03 22:02] #6693 closed

[2019-09-03 22:17] avbhaskar opened #7034 "Azure Government sign-in"
**Problem**
Unable to connect to SQL Azure databases hosted in specialty clouds (ex: _AzureUSGovernment_)

**Feature to pick specialty clouds at add account pane**
Provide an option to pick Azure specialty cloud on "sign into Azure->Add Account"  pane. It only Allows Azure commercial default Page : https://microsoft.com/devicelogin. It wont work for Specialty cloud Sign-ins

**Alternatives conside

[2019-09-03 22:26] kisantia commented on #6821
Fixed with table changes.

![image](https://user-images.githubusercontent.com/31145923/64212651-f853cd00-ce5e-11e9-8bea-f33e8359406b.png)

[2019-09-03 22:26] #6821 closed

[2019-09-03 22:32] kisantia commented on #6823
Fixed by #6863. Focus can now be moved back from the table to to the "..." button using Shift Tab.

[2019-09-03 22:32] #6823 closed

[2019-09-03 23:29] chlafreniere opened #7036 "SSMSMin Error Opening Object Properties when SSMS Not Installed"
Expanded OE so that I could see the columns for a database and chose Properties.

SSMS is not on my machine, and was met with an error:

Error calling SsmsMin with args '-a "sqla:Properties@Microsoft.SqlServer.Management.Smo.Column............."' - The system cannot find the path specified.

And yes, I removed the rest of the args 😄

Seems to me like we should be hiding the Properties here (or, at

[2019-09-03 23:55] kburtram opened #7038 "Object Explorer context menu has separator at top"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Right-click on node in Object Explorer

Expected: No separator at top of menu

Actual: Separator at top of menu

![image](https://user-images.githubusercontent.com/599935/64215935-a1a0c000-ce6b-11e9-9543-868e27327536.png)

[2019-09-03 23:57] kburtram opened #7039 "Results tab is incorrectly ordered"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Run a query

Expected: Results tab then Messages tab

Actual: Messages tab then Results tab

![image](https://user-images.githubusercontent.com/599935/64215989-dc0a5d00-ce6b-11e9-847d-e58c7bc34052.png)

[2019-09-04 01:30] danmarshall opened #7041 "SandDance Visualizer for PostgreSQL"
Issue Type: <b>Bug</b>

Hello, I'm not sure if this issue belongs in either the SandDance extension, the PostgreSQL extension, or here.

After running a PostgreSQL query and seeing the results, clicking the Visualizer icon does nothing.

Azure Data Studio version: azuredatastudio 1.10.0 (5fdb967ffcea41df0335ec17cfa396a694bb174e, 2019-08-14T18:28:10.311Z)
OS version: Windows_NT x64 10.0.18362

<det

[2019-09-04 13:32] peterlukerow opened #7042 "It's hard to find errors in big scripts"
Version: 1.10.0 (system setup)
Commit: 5fdb967ffcea41df0335ec17cfa396a694bb174e
Date: 2019-08-14T18:28:10.311Z
VS Code 1.37.0
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Create a script with multiple batches in it separated by "go"s, enough that it causes the output window to scroll
1. If there is an error

[2019-09-04 16:15] wimmerb72 opened #7043 "Import Wizard Context Menu"
Issue Type: <b>Bug</b>

Install SQL Import Wizard
Right Click the Database Name
Import Wizard Menu Item should appear - it does not

Azure Data Studio version: azuredatastudio 1.10.0 (5fdb967ffcea41df0335ec17cfa396a694bb174e, 2019-08-14T18:28:10.311Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2643 v2 @ 3.50

[2019-09-04 17:14] atshane253 opened #7044 "Split scrolling panes in result sets"
Issue Type: <b>Feature Request</b>

I would like to be able to split the scrolling pane of a result set from a query, similar to Excel and other spreadsheets.  Horizontal and Vertical splits should be supported, and simultaneously, to allow easier viewing through long tables and result sets.

Azure Data Studio version: azuredatastudio 1.10.0 (5fdb967ffcea41df0335ec17cfa396a694bb174e, 2019-08-14T18

[2019-09-04 17:27] #7019 closed

[2019-09-04 17:44] chlafreniere commented on #7014
@corivera assigning this to you as it's related to the sparkmagic dependency chain issue.

[2019-09-04 18:09] chlafreniere commented on #6884
This isn't a ship blocker

[2019-09-04 18:25] chlafreniere commented on #6928
Verified.

[2019-09-04 18:25] #6928 closed

[2019-09-04 18:25] udeeshagautam commented on #2752
This is enabled for September through query editor Enable SQLCMD mode Button.

[2019-09-04 18:25] #2752 closed

[2019-09-04 18:27] chlafreniere commented on #6927
Fixed by #6964.

[2019-09-04 18:27] #6927 closed

[2019-09-04 18:33] kenvanhyning commented on #7010
For September - trim text.

[2019-09-04 18:45] #6231 closed

[2019-09-04 18:46] yualan commented on #6231
This issue was fixed in latest release

[2019-09-04 18:49] #6813 closed

[2019-09-04 18:52] yualan opened #7045 "Feature Request: SQL Notebook Output Toolbar"
In SQL Notebook, each code cell output for a SQL code cell will have some type of results grid. Above each grid, we would like to have the **Save As** options in addition to future charting support.

[2019-09-04 18:52] udeeshagautam commented on #6896
This should be fixed.

[2019-09-04 18:53] udeeshagautam commented on #6895
Validate if this is only jaws or nvda too

[2019-09-04 18:55] yualan opened #7046 "Feature Request: Jupyter Book viewlet separation and features"
Jupyter Books are a collection of notebooks organized in a yml file.

Request #1: Add separate Jupyter Book viewlet to left bar to view only Jupyter Books

Request #2: Add workspace dividers to clearly show Jupyter Books from SQL Server team, custom Jupyter Books, and more.

[2019-09-04 19:06] yualan opened #7047 "Feature Request: Controller Dashboard launching TSG's"
With the toolbar action added to launch troubleshooting Jupyter Book, we would like to have a more context-aware TSG launch experience where depending where user is on the dashboard.

[2019-09-04 19:10] udeeshagautam commented on #7018
Validated : looks right on release branch:
![image](https://user-images.githubusercontent.com/46980425/64283764-e892c200-cf0c-11e9-879a-82fcaea6a82a.png)

[2019-09-04 19:10] #7018 closed

[2019-09-04 19:10] udeeshagautam commented on #7015
Validated on release branch
![image](https://user-images.githubusercontent.com/46980425/64283811-0102dc80-cf0d-11e9-9a33-d73295eeced7.png)

[2019-09-04 19:10] #7015 closed

[2019-09-04 19:25] aaomidi commented on #7016
I'm going to remove those new lines but keep this issue active in case we want to get new icons to support hidpi screens.

[2019-09-04 19:43] joshbooker commented on #389
[SQLCMD Mode is done](https://github.com/microsoft/azuredatastudio/issues/2752#issuecomment-528025609).
Woot!  Thanks ADS Team!

That leaves only two bits remaining for SSDT parity in ADS.
Namely:
1. Script database to .sql files (create sqlproj)
2. Import .sql files (sqlproj) into Dacpac

Here is an old issue that could be used to track that:
https://github.com/microsoft/azuredatastudio/issues/45

[2019-09-04 19:48] joshbooker commented on #45
+1 for this!  I believe this represents the last remaining bits needed for full SSDT parity.
Namely:
1.     Script database to .sql files (create/open sqlproj equivalent)
2.     Import .sql files (sqlproj) into Dacpac

I could be wrong but it may that the existing xplat tools do not do this yet.  As for the 'database project' stuff someone may have to recreate or OSS the [VSDBCMD.EXE](https://docs

[2019-09-04 19:51] udeeshagautam opened #7051 "Azure connections go in a loop to open connection dialog after connection failed + cancel"
- Azure Data Studio Version: (release branch)
Version: 1.11.0 (user setup)
Commit: acc85c2c23f4889b4ae9373282d92daec321b1bd
Date: 2019-09-03T23:55:40.484Z
VS Code 1.37.0
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Connect to an Azure account.
2. expand to subscription-->Servers
3. Click on a server that you

[2019-09-04 19:58] udeeshagautam opened #7052 "After cancel on the add IP dialog the server is forever in loading mode"
- Azure Data Studio Version:

Steps to Reproduce:

1. Connect to Azure Account
2. Double click a Sql Server in a Subscription which opens the add IP dialog
3. Hit Cancel on the dialog
4. The SqlServer remains in loading mode for the whole session (even refreshing the tree doesn't remove loading icon)

![image](https://user-images.githubusercontent.com/46980425/64287054-8ee1c600-cf13-11e9-88a1-89b8

[2019-09-04 20:17] kenvanhyning commented on #7043
Tested and no-repro on RC build of September release.

[2019-09-04 20:17] #7043 closed

[2019-09-04 20:19] kenvanhyning commented on #6701
Looks fixed (or no repro) with September release.  May have been a mismatch of extension and core build.

[2019-09-04 20:19] #6701 closed

[2019-09-04 20:20] kenvanhyning commented on #6639
Tested and no repro on September release candidate build.  If you still see the issue please reopen and add any extra info you might have that could help us repro the issue too.

[2019-09-04 20:20] #6639 closed

[2019-09-04 20:33] Charles-Gagnon commented on #6319
Verified that this is no longer an issue after reverting the server-scoped connection chagnes.

[2019-09-04 20:33] #6319 closed

[2019-09-04 20:45] chlafreniere opened #7054 "Jupyter Book Viewlet Should Not Show Up in Stable Builds"
Jupyter book viewlet should not be in stable builds yet.

[2019-09-04 20:46] abist commented on #7051
Same issue in CMS as well. Looks like a common problem.

[2019-09-04 21:05] #7002 closed

[2019-09-04 21:38] aaomidi commented on #6878
Duplicate of #6803

[2019-09-04 21:38] #6878 closed

[2019-09-04 21:50] sdings opened #7058 "Import Flat File Wizard Keyword not supported 'u:!skjl3qvfwbdwc'"
- Azure Data Studio Version: 1.10.0

When attempting to upload any file using Azure Database Import Flat File Wizard, the wizard fails and produces

I have tried restarting my laptop, reinstalling the SQL Server Import, and trying different files and databases.

The file is a CSV (have tried a UTF-8 csv) and is located on my desktop.

[2019-09-04 22:03] udeeshagautam opened #7060 "Azure Viewlet asks for databases level AAD connection details for every operation on databse"
- Azure Data Studio Version:
Version: 1.11.0 (user setup)
Commit: acc85c2c23f4889b4ae9373282d92daec321b1bd
Date: 2019-09-03T23:55:40.484Z
VS Code 1.37.0
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Connect to an Azure Account.
2. In Azure viewlet expand to a sever you have access for
3. Expand till databases

[2019-09-04 22:04] udeeshagautam opened #7061 "Opening new notebook is opening it in master context always"
- Azure Data Studio Version:
Version: 1.11.0 (user setup)
Commit: acc85c2c23f4889b4ae9373282d92daec321b1bd
Date: 2019-09-03T23:55:40.484Z
VS Code 1.37.0
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Connect to an Azure account
2. In Azure Viewlet right click a server an open Manage i.e. Dashboard
3. Select ne

[2019-09-04 22:16] kburtram commented on #7058
@kenvanhyning @aaomidi have you send this error before?

[2019-09-04 22:24] kburtram commented on #7039
This PR https://github.com/microsoft/azuredatastudio/pull/7035 is supposed to fix this bug.  I'll confirm once a new build is available.

[2019-09-04 22:27] aaomidi commented on #7058
If this file isn't private or confidential/contains personal information I'd love to be able to repro it.

Can you take a screenshot of the error? Would like to see where this shows up.

[2019-09-04 22:30] #6803 closed

[2019-09-04 22:46] abist opened #7063 "CMS server wouldn't get removed from tree when deleted"
CMS Server wouldn't get removed because it was still looking in the old area instead of memento which was recently added.

[2019-09-04 22:47] #7063 closed

[2019-09-04 22:54] Charles-Gagnon commented on #7036
This was insiders builds I assume? In that case that's a known issue - #6276.

SSMSMin is separate from SSMS and so doesn't require SSMS being installed (we download SSMSMin as a separate package when the extension is installed). So you shouldn't see this on a stable build of ADS.

[2019-09-04 22:54] #7036 closed

[2019-09-04 22:55] kburtram commented on #7010
Moving out of September since we took a fix to shorten the button string.  We should review the desired Toolbar UX for a future release as the current approach likely won't scale well.

[2019-09-04 23:02] aaomidi commented on #7039
This is fixed @kburtram

![image](https://user-images.githubusercontent.com/1465785/64299262-58b14000-cf2d-11e9-9b02-a7c13c8ec529.png)

[2019-09-04 23:05] #6797 closed

[2019-09-04 23:08] vickyharp opened #7064 "Cannot type in editors"
Issue Type: <b>Bug</b>

All of my open editors (notebook, markdown, and SQL) have become read-only while in the midst of doing some work.

From the console log:

 ERR Invalid start index: -1: Error: Invalid start index: -1
    at WorkbenchList.splice (file:///C:/Users/viharp/AppData/Local/Programs/Azure Data Studio - Insiders/resources/app/out/vs/workbench/workbench.desktop.main.js:68858:23)
    a

[2019-09-04 23:31] vickyharp opened #7065 "Markdown from notebook appears as top level documents"
Issue Type: <b>Bug</b>

This one is a little hard to explain.

I have a notebook open with some markdown in it, and I have it open to edit:

![image](https://user-images.githubusercontent.com/8250560/64300260-0b36d200-cf31-11e9-8e57-1ad99e4baa41.png)

I noticed that I also have the markdown and the preview available as top level documents open in ADS.

This is occurring simultaneous to https://git

[2019-09-04 23:45] kburtram commented on #7042
@peterlukerow thanks for reporting the issue.  We'll take a look to see if there is a way to make the errors more discoverable in the message log.  I guess whatever repro script I was looking at in #6437 wasn't showing the discrepancies in output verbosity.

This screenshot highlights the additional message volume the ADS query executor is putting into the log.
![image](https://user-images.githubu

[2019-09-04 23:49] kburtram commented on #7034
@avbhaskar thanks for reporting this issue.  We are tracking this work in https://github.com/microsoft/azuredatastudio/issues/3013.  We plan to enable either in Oct. or Nov. release.

[2019-09-04 23:49] #7034 closed

[2019-09-04 23:56] Charles-Gagnon opened #7067 "Can't add CMS Server Groups"
Issue Type: <b>Bug</b>

1. Right click on registered server and select "New Server Group..."
2. Fill in info and click OK

Expected :

Server group is added and shows up in view

Actual :

Nothing happens

Azure Data Studio version: azuredatastudio 1.11.0 (acc85c2c23f4889b4ae9373282d92daec321b1bd, 2019-09-03T23:55:40.484Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summ

[2019-09-05 00:16] kburtram commented on #7038
@abist it looks like the rogue separator is now at the bottom.  Admittedly not as bad as at the top, but we should still fix prior to shipping 😄.  Could you please take a look?

![image](https://user-images.githubusercontent.com/599935/64302280-8bf8cc80-cf37-11e9-995b-c6734c237e01.png)

[2019-09-05 00:44] aaomidi commented on #7064
Somehow, the editor here ends up being undefined:

https://github.com/microsoft/azuredatastudio/blob/master/src/sql/workbench/parts/query/browser/queryActions.ts#L732-L757

Which ends up triggering a this: https://github.com/microsoft/azuredatastudio/blob/master/src/vs/workbench/contrib/files/browser/views/openEditorsView.ts#L146

and we get -1 editor index due to: https://github.com/microsoft/azu

[2019-09-05 01:10] Charles-Gagnon opened #7069 "Add ability to open Jupyter book to specific notebook"
Initial request is for linking to specific TSG notebooks from various dashboard pages

[2019-09-05 01:13] udeeshagautam opened #7070 "Schema compare dialog doesn't remember context if opened from Azure Viewlet"
- Azure Data Studio Version:
Version: 1.11.0 (user setup)
Commit: acc85c2c23f4889b4ae9373282d92daec321b1bd
Date: 2019-09-03T23:55:40.484Z
VS Code 1.37.0
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. connect to Azure ccount
2. expand Azure view let Server--> Databse
3. start a schema compare from DB context me

[2019-09-05 01:20] udeeshagautam commented on #7070
Will take a first look from SC perspective to see if it can be solved from SC

[2019-09-05 02:26] kburtram commented on #7039
@aaomidi thanks for confirming!

[2019-09-05 02:26] #7039 closed

[2019-09-05 07:05] yualan opened #7072 "Feature Request: Setup Prometheus for TSG's"
Prometheus is a monitoring and learning platform on Kubernetes. The goal is that a set of notebooks will be configured as Promtheus monitors, which will always check if the clusters are working. If a notebook fails, there will be a hint to make the cluster work.

[2019-09-05 07:08] yualan opened #7073 "Feature Request: Enable security ACL's for bdc"
We will need a security experience for handling acl's for SQL Server bdc. This will be enabled through the controller dashboard.

[2019-09-05 07:40] peterlukerow commented on #7042
Given ADS outputs these messages I assert one thing that might works is:

- As it outputs the messages move the "Command completed successfully" type messages onto the same line as the "started executing query at line X". This would mean less scrolling since 1 line instead of 2 for success messages.
- If the message is a success message make the text a green colour (could be configurable) with a t

[2019-09-05 15:10] sdings commented on #7058
Hi @aaomidi unfortunately i cannot share the file, but i created this CSV using tableau prep. The error happened again when i tried another CSV that i manipulated in tableau prep.

I have also used excel to save as a CSV (tableau prep creates a UTF-8 CSV) to no avail.

[2019-09-05 15:17] sdings commented on #7058
@aaomidi
![screenshot](https://user-images.githubusercontent.com/46386066/64355167-bba6e380-cfce-11e9-9adf-d2b2d0d85987.png)

[2019-09-05 15:29] AlejoSQL opened #7074 "Azure AD Auth : Error not found in cache"
Issue Type: <b>Bug</b>

Trying to add a credential to connect to Azure SQL DB, triggers the Azure Data Studio link and code to authenticate in browser, and then throws the above error.

Azure Data Studio version: azuredatastudio-insiders 1.11.0-insider (b8518f5795ce15a5a524cbc0f9e531b8e02d8456, 2019-09-04T09:15:54.332Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary

[2019-09-05 15:38] pradm opened #7075 "[ADS]-Save Notebook option re-opens a new python session causing failure to [Reinstall notebook dependencies]"
Issue Type: <b>Bug</b>

It looks like Save Notebook functionality has issues in the latest ADS Insiders build; When a notebook is saved it automatically opens and loads the saved notebook in a new python session but that never opens a new
Notebook tab for a user to understand 2 notebooks are opened. When I close the Original Notebook it only closes the latest python session and the earlier session

[2019-09-05 16:22] #7038 closed

[2019-09-05 16:48] MaddyDev commented on #7075
@alanrenmsft Did you come across this?

[2019-09-05 17:30] ellbosch opened #7077 "Windows Authentication username defaults to terminal's prompt name for Mac"
Windows Authentication on Mac expects the username to be equal to the specified name on the Terminal prompt. Windows Authentication on Mac works when both the Terminal and SQL Server use the same username, but this should not be expected.

Steps to repro:
1. On Mac, clear cached Kerberos ticket by calling `kdestroy`
2. Ensure terminal on Mac uses a prompt name that's unequal to the needed username

[2019-09-05 17:37] kisantia commented on #6897
Fixed in #6775
![image](https://user-images.githubusercontent.com/31145923/64365415-eb52ed00-cfc8-11e9-8678-896fd4fa3571.png)

[2019-09-05 17:37] #6897 closed

[2019-09-05 17:38] danielkuhlwein opened #7078 "Copied result values contain new line"
Issue Type: <b>Feature Request</b>

Copying a single cell value from the results view pastes the value and also pastes onto the next line. So if I'm copying a simple number from the cell, pasting it in the middle of a line of text puts the section after the pasted number onto the next line.

This only started ocurring recently, as a result of a recent update. imo it should be changed back to how i

[2019-09-05 17:38] ellbosch opened #7079 "New connection: Windows Authentication should enable username and password fields"
This feature request is related to issue #7077. ADS makes makes assumptions about the username when attempting to connect using Windows Authentication. If the username isn't correct, the experience requires using the command line to specify the correct username.

I recommend that ADS enables the username and password inputs in the New Connection form so users may input credentials without needing

[2019-09-05 17:39] ellbosch commented on #7077
As a follow-up, I created a feature request: #7079. This suggests enabling the username and password inputs in the New Connection form.

[2019-09-05 17:42] PejmanNik commented on #6942
Hi @DanielAdeniji
I'm the author of "sp_executesql to SQL" extension.
Can you please flow up this issue in the extension repo?
https://github.com/PejmanNik/sqlops-spexecutesql-to-sql
Please create an issue there with your SQL code.
Thank you.

[2019-09-05 17:48] Charles-Gagnon commented on #7078
Thanks for the report - we just did a fix for this (#6803) that will be included in the next stable release which should be out in the next week. Otherwise we should have an updated insiders build out later today that will include this fix if this is a blocking issue for you (stable and insiders can be installed side-by-side)

[2019-09-05 17:48] #7078 closed

[2019-09-05 17:50] Charles-Gagnon commented on #6942
Thanks for following up @PejmanNik  - I'll close this one out then so you can track it in your extension repo.

[2019-09-05 17:50] #6942 closed

[2019-09-05 17:57] DanielAdeniji commented on #6942
Pejman :-

I just checked https://github.com/PejmanNik/sqlops-spexecutesql-to-sql.

Currently, that GitHub repository does not have an Issue Tab.

And, it does not appear that there is an avenue to create bugs.

Please advice if otherwise.

Daniel

[2019-09-05 18:01] PejmanNik commented on #6942
It is strange @DanielAdeniji .
You can use this link to create an issue:
https://github.com/PejmanNik/sqlops-spexecutesql-to-sql/issues/new

[2019-09-05 18:04] DanielAdeniji commented on #6942
Pejman :-

Sorry about that.

Thanks so very much.
Daniel

[2019-09-05 18:21] aaomidi commented on #7058
Thanks!

[2019-09-05 18:28] chlafreniere opened #7080 "Notebooks: Rare Case when Notebook is Serialized Incorrectly"
This occurs when the following is true:

- One cell has multiple outputs, and one of the outputs has a string with an unmatched opening or closing "["
- User either closes Azure Data Studio (without saving notebook) and re-opens Azure Data Studio again, OR user utilizes "Save As" functionality. Note: when using "Save", this issue does not reproduce itself, as it goes through a different codepath

[2019-09-05 18:31] bartjanboer commented on #3700
I have also the same problem on my Mac. I've also tried on windows and that works fine. There version I've installed on my Mac is:

Version: 1.10.0
Commit: 5fdb967ffcea41df0335ec17cfa396a694bb174e
Date: 2019-08-14T18:12:56.165Z
VS Code 1.37.0
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Darwin x64 18.7.0
MacOs: 10.14.6

I get the error by reading the token.

[2019-09-05 18:32] PejmanNik commented on #6942
You're welcome @DanielAdeniji  👍

[2019-09-05 18:36] kburtram opened #7081 "Azure sign-in dialog shows Trusted Domain prompt"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open Azure sign-in dialog and click "Copy & Open"

Expected: Web browser opened to device sign-in page

Actual: "Configure Trusted Domain" prompt is shown.  User must click "Open Link" or "Configure Trusted Domain" to continue.  I think we should preconfigure the microsoft.com addresses into the trusted domain list to avoid redundant p

[2019-09-05 18:45] kburtram opened #7082 "Context menu in Azure Explorer is incorrect"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Connect to a database in Azure Explorer
2. Right-click on a table

Expected: Context menus consistent with context menus in Servers view.

Actual: The context menu ordering is different and there are nodes that don't make sense (e.g. Disconnect and Properties don't do anything in this context).

![image](https://user-images.githubuserc

[2019-09-05 18:48] kburtram commented on #7054
The viewlet icon is now gone in the stable builds.  Though there is still a Command Palette entry to show the viewlet, which doesn't do anything.  I assume that would be a September blocking issue?

![image](https://user-images.githubusercontent.com/599935/64370276-fad73380-cfd2-11e9-933c-a3269aa86177.png)

[2019-09-05 19:04] kisantia commented on #6847
Confirmed that this is expected behavior on Mac.
![image](https://user-images.githubusercontent.com/31145923/64371378-3bd04780-cfd5-11e9-9854-2784f6a5d19b.png)

[2019-09-05 19:04] #6847 closed

[2019-09-05 19:07] MaddyDev commented on #7054
Let me take a look.

[2019-09-05 19:27] kburtram commented on #7054
@MaddyDev sorry in my above comment "I assume that ~would~ be a September blocking issue?", this should read "I assume that **wouldn't** be a September blocking issue?".  (*Funny how a small typo completely changes the meaning.* 😄)

[2019-09-05 19:30] MaddyDev commented on #7054
@kburtram :) Yep, that wouldn't be a September blocker! Am working on a fix anyway.

[2019-09-05 19:53] kburtram opened #7086 "Query results icon bar is too clutter when many results sets"
- Azure Data Studio Version: `master`

The query editor icon bar doesn't work well with scripts that generate many result sets with few rows each.  The below screen capture shows the icon bar when there are a bunch of 1 row result sets in a row.  We should look at alternative UX that work better in this scenario.

![image](https://user-images.githubusercontent.com/599935/64375958-f6634880-cfdb-11e

[2019-09-05 20:10] #7054 closed

[2019-09-05 20:28] sdings commented on #7058
@aaomidi i tried the file using the SQL Server Import and Export wizard in SSMS and had no issues uploading one of the files that did not work in Azure data studio.

[2019-09-05 20:54] hannahqin commented on #6797
Following our conversation with Ryan and Alexandria, rather than change screenreader behavior, we will write documentation explaining how users can navigate to the TSQL script using a screenreader.

[2019-09-05 21:15] MaddyDev opened #7089 "Feature Request: Add 'Save Jupyter Book' action"
SQL Server Troubleshooting guides are provided as a Jupyter Book, discover-able from ADS. (Jupyter Books are a collection of notebooks organized in a yml file.)

These books are opened as Untitled files.

Request #1: Add save Jupyter Book from the viewlet when the books are untitled.

Request #2: Add an option to save a list of notebooks that the user has into a Jupyter Book.

[2019-09-05 21:23] corivera opened #7090 "Make 'should not be dirty after saving notebook' test more reliable"
This test has been causing some failures in the insiders builds due to general flakiness, so it's been disabled for now.

[2019-09-05 21:28] westandy-dcp opened #7092 "Update an Existing Connection"
How hard would it be to allow the ability to update an existing connection.  Like add SSL to an existing connection?  "Manage Connection" just opens a working window.  I would like it to open the original "Create Connection" dialog and allow you to edit the existing connection.

[2019-09-05 21:57] marshallquick opened #7093 "Execute Query on Multiple Instances"
- Azure Data Studio Version:
Version: 1.10.0 (system setup)
Commit: 5fdb967ffcea41df0335ec17cfa396a694bb174e
Date: 2019-08-14T18:28:10.311Z
VS Code 1.37.0
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17134

Steps to Reproduce: [none: new functionality]
Research and Docs reviewed.  I came up with no current functionality like I'm requestin

[2019-09-05 22:40] #7067 closed

[2019-09-05 22:56] Charles-Gagnon opened #7095 "Improve Query History extension documentation"
Currently not very descriptive - add in more detailed description and add screenshots.

[2019-09-05 23:35] vickyharp opened #7097 "Dacpac wizard does not set correct context from optional-named server"
Issue Type: <b>Bug</b>

I have aliased my localhost as "localhostess" in ADS (using the optional name, not a DNS alias)

![image](https://user-images.githubusercontent.com/8250560/64390690-b52e6100-cffa-11e9-839a-a36b5fc6e9f0.png)

If I right click the ProdDB database and click "Data Tier Application Wizard" it prompts me to login (I am already connected):

![image](https://user-images.githubuserc

[2019-09-05 23:39] vickyharp opened #7098 "Dacpac extraction not working"
Issue Type: <b>Bug</b>

When I go through the Data Tier Application Wizard against my SQL 2017 instance, it is not extracting anything.

No visible errors, it just exits the wizard and does nothing.

There are however errors in the console log:

c:\Users\viharp\AppData\Local\Programs\Azure Data Studio - Insiders\resources\app\node_modules.asar\zone.js\dist\zone-node.js:2280 [Extension Host] reject

[2019-09-06 17:09] ellbosch commented on #6846
For Mac, I can confirm that extracting a Dacpac results in correct functionality for VoiceOver.

However, Mac VoiceOver does not work as expected for importing Bacpac. Required fields are instantiated as empty strings, and VoiceOver does not read the displayed errors when the view opens.

[2019-09-06 17:15] JoeSherwood335 opened #7103 "Microsoft SQL Server Import for Azure Data Studio Unable to import Formated Money fields"
Report Issue to prefill these. -->

Microsoft SQL Server Import for Azure Data Studio 0.9.0
Version: 1.10.0
Commit: 5fdb967ffcea41df0335ec17cfa396a694bb174e
Date: 2019-08-14T18:03:49.463Z
VS Code 1.37.0
Electron: 4.2.7
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 3.10.0-693.17.1.el7.x86_64

Problem

unable to import formated money values

Steps to Reproduce:

crea

[2019-09-06 17:28] #6980 closed

[2019-09-06 17:54] ellbosch commented on #6846
Follow-up—VS Code does not appear to suffer from these issues. I'll take a look at our code.

[2019-09-06 18:05] corivera opened #7105 "Allow user to select an existing external file format in External Table From CSV wizard"

[2019-09-06 18:50] ThatWionGuy commented on #2083
Adding my approval as well since it has been a few months without any updates.  Drag and Drop of SQL objects is definitely a feature I miss since the switch from SSMS.

[2019-09-06 23:14] aasimkhan30 opened #7108 "Improving the performance on the agent extension"
The agent extension home screen fetches all jobs in one request and then fetches the history for each and every job in individual requests . This slows down the performance when there are a large number of jobs.

Make all the history calls a one single call that does one round trip fetch from the database

[2019-09-06 23:17] aasimkhan30 opened #7109 "Fixing Agent Job Schedule Update feature"
Agent doesn't update the schedules of a particular job.

[2019-09-06 23:46] kburtram opened #7110 "Profiler spilt pane sizing doesn't account for multiline toolbars"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Profiler window
2. Collapse Text\Detail pane
3. Resize Profiler document such that toolbar takes multiple lines

Expected: The event pane's height is adjusted to account for toolbar height and keep Text\Details header visible

Actual: The Text\Details header get pushed below status bar out of visible area and isn't reachable.

![image](htt

[2019-09-09 14:33] jonescameron opened #7115 "SQL Import - hangs when trying to select database if destination is Azure SQL"
- Azure Data Studio Version: 1.10.0

Steps to Reproduce:

1. Install SQL Import extension
2. Hit Ctrl + I to bring up wizard
3. Select a server that is an Azure SQL server (eg xyz.database.windows.net)
4. You'll be unable to select a database, there is just a progress wheel that goes around forever (see attached)
![issue](https://user-images.githubusercontent.com/22148905/64539858-26ca2000-d317-11

[2019-09-09 15:44] Charles-Gagnon opened #7117 "Remove tree indent guide"
This region will be replaced by the visual scoping affordance once we have scoping for trees in ADS.

This also aligns the Data Explorer tree with the OE (which doesn't have the indent guides)

[2019-09-09 15:50] martinezpedro opened #7118 "Results and Message dissapears"
Results and Message disappears after saving the saving the sql query: 1. run a long query 2. save 3. results and message disappears leaving you to mistaken actions like re executing the query, not knowing what is happening in the background.

[2019-09-09 15:57] Charles-Gagnon commented on #7118
Thanks for the report @martinezpedro - this is a duplicate of https://github.com/microsoft/azuredatastudio/issues/5155 so I'm going to be closing this one. Pleaes follow that for any updates on the issue!

[2019-09-09 15:57] #7118 closed

[2019-09-09 16:12] Charles-Gagnon commented on #7093
Thanks for the report @marshallquick - this appears to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/28 so I'm going to close this one for now. Feel free to reopen it if you think the issue is separate enough - otherwise follow that one for any updates!

[2019-09-09 16:12] #7093 closed

[2019-09-09 16:14] Charles-Gagnon commented on #7092
Thanks for the suggestion @westandy-dcp! This appears to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/5158 though so I'll be closing this one. Please follow that for any updates on the request!

[2019-09-09 16:14] #7092 closed

[2019-09-09 16:19] Charles-Gagnon commented on #7079
Thanks for the suggestion @ellbosch - this appears to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/112 so I'll be closing this one. Please follow that for any updates on the request!

[2019-09-09 16:19] #7079 closed

[2019-09-09 16:45] alanrenmsft opened #7120 "Task - update deploy bdc to new AKS book to accept the parameters collected by wizard"

[2019-09-09 16:47] alanrenmsft opened #7121 "Task - update deploy bdc to existing AKS book to accept the parameters collected by wizard"

[2019-09-09 16:48] alanrenmsft opened #7122 "Task - update deploy bdc to kubeadm notebook to accept the parameters collected by wizard"

[2019-09-09 16:53] alanrenmsft opened #7123 "Task: support active directory option in deploy bdc wizard"
- [x] Parse the profile json to identify whether AD is supported

- [x] Collect the user input in the wizard

- [x] update the notebooks

[2019-09-09 16:57] alanrenmsft opened #7124 "Task - deploy bdc wizard - summary page"

[2019-09-09 17:00] alanrenmsft opened #7126 "Task - tool dependency"
- [x] check tool status and block if not installed

- [ ] install tool if not already installed

[2019-09-09 17:02] jakehockey10 commented on #3700
I'm still having the issue:
![image](https://user-images.githubusercontent.com/1821383/64550971-4c443300-d2f1-11e9-8132-d81417f20d4c.png)
![image](https://user-images.githubusercontent.com/1821383/64550988-56663180-d2f1-11e9-8c7f-db3a538fb5d7.png)
The console says a file does not exist.  But it certainly does.

[2019-09-09 17:44] Charles-Gagnon opened #7128 "Add content margin for BDC Dashboard"
Currently lines and content run to the very edge of the view area. This isn't desirable because it splits the content - making it difficult to represent as a cohesive group.

![content_edge](https://user-images.githubusercontent.com/28519865/64553742-c9ba7400-d2ee-11e9-8ec5-26b7403a0daf.png)

[2019-09-09 17:55] kburtram opened #7130 "Dashboard search widget has incorrect DB context menu items"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open a Server dashboard page
2. Right-click a DB in the Search widget

Expected: Functioning and relevant menu items

Actual: `Script as Create` is present and doesn't do anything.  Also, I don't recall `Manage` being there before, since we're already in the Manage dashboard (though at least it does correctly navigate to the DB page).

[2019-09-09 18:00] ellbosch opened #7131 "Text inputs in Dacpac extension incorrectly announce invalid value in screen reader mode"
Screen reader mode will incorrectly announce an invalid value in a very specific condition for text inputs. This bug exists for both Windows and Mac.

Steps to Reproduce:

1. Install the SQL Server Dacpac extension
2. Right click a database and select "Data-tier Application wizard"
3. Choose any of the 4 bullets
4. Enable screen-reader mode
5. Find a text input. If there isn't pre-populated text,

[2019-09-09 20:36] Charles-Gagnon opened #7134 "BDC Dashboard - Change Last Updated text color for accessibility"
Color should be #595959 for secondary grey color

[2019-09-09 20:38] Charles-Gagnon opened #7135 "BDC Dashboard - Tab text color should reflect interactive capabillities"
Should be styled like a hyperlink

[2019-09-09 20:40] Charles-Gagnon opened #7136 "BDC Dashboard - Title Styling needs to be updated"
Should be 14 semibold, primary text color #323130

[2019-09-09 20:41] Charles-Gagnon opened #7137 "BDC Dashboard - Table Column Titles style needs updating"
Should be 10px bold text-transform:uppercase

[2019-09-09 20:42] Charles-Gagnon opened #7138 "BDC Dashboard - Event table column widths"
Columns should have equal widths going down the page (even across separate tables)

[2019-09-09 21:48] udeeshagautam commented on #6904
Validated this - seems like the PR for cell focus https://github.com/microsoft/azuredatastudio/pull/6882 fixed it

[2019-09-09 21:48] #6904 closed

[2019-09-09 21:50] udeeshagautam commented on #6896
Fixed with https://github.com/microsoft/azuredatastudio/pull/6859

[2019-09-09 21:50] #6896 closed

[2019-09-09 22:39] #6728 closed

[2019-09-09 22:41] #6852 closed

[2019-09-09 22:41] #6726 closed

[2019-09-09 22:41] #6796 closed

[2019-09-09 22:41] #6946 closed

[2019-09-09 22:44] udeeshagautam commented on #6895
NVDA is announcing the options correctly. This seems to be a JAWs only issue

[2019-09-09 22:44] #6895 closed

[2019-09-09 23:28] kisantia commented on #6909
After the PR above, now the column header is read twice when changing columns. The header name being said twice happens when changing columns to indicate that the column has changed and then announce the content of the cell. As seen in the gif below, when navigating up/down a column, the column name is only said once. The column is only said twice when navigating from one header column to another.

[2019-09-09 23:41] kburtram opened #7142 "Typescript folder deployed with extension node_modules"
- Azure Data Studio Version: `master`

The `extensions\node_modules` directory contains a 24MB Typescript folder that doesn't appear to be needed at runtime.  This directory doesn't appear to be needed at runtime as far as I can tell.

![image](https://user-images.githubusercontent.com/599935/64573546-8842bc80-d320-11e9-825b-6ce306944493.png)

[2019-09-09 23:50] udeeshagautam commented on #6689
The slick grid header exposes a onclick function and as per NVDA anything that exposes an on click function will be called out as clickable. Seems a fork of this issue https://github.com/nvaccess/nvda/issues/5481#issuecomment-241574110
and tried fixing with https://github.com/microsoft/vscode/pull/57127 which worked on overall table but could get to work for header.

[2019-09-09 23:51] udeeshagautam commented on #6689
Marking it external for Slickgrid.

[2019-09-10 00:00] udeeshagautam commented on #6662
Slickgrid header has on click and key down exposed and NVDA announces clickable for any such element which exposes this. Found similar issues
https://github.com/nvaccess/nvda/issues/7430
https://github.com/nvaccess/nvda/issues/6161

The workaround from vscode (https://github.com/microsoft/vscode/pull/57127) seems to work but
1) can not reach headers to apply role
2) this does announce the element

[2019-09-10 00:39] udeeshagautam commented on #6901
this PR should add an overall scroll bar which should help overall accessibility : https://github.com/microsoft/azuredatastudio/pull/7104

[2019-09-10 00:53] udeeshagautam commented on #6688
Seems upstream for combination of SlickGrid,  given that role=presentation is not taken as a non-row value for NVDA and that is the indication slick grid provides for header row. https://github.com/nvaccess/nvda/issues/5717

[2019-09-10 01:37] udeeshagautam commented on #6909
Is this the same issue : https://github.com/nvaccess/nvda/issues/10177 which seemingly is part of https://github.com/nvaccess/nvda/issues/10140

[2019-09-10 05:03] ronychatterjee opened #7143 "Schedule Notebook UI"
Issue Type: <b>Bug</b>

I am seeing where the Remove Schedule button is not looking as a button. It should look the same like Pick Schedule. Could we please fix this?

<img width="492" alt="image" src="https://user-images.githubusercontent.com/22312581/64585388-71ff2580-d34d-11e9-9e49-4540808e40b0.png">

Azure Data Studio version: Azure Data Studio 1.11.0-insider (15ec2b3748e78b8049e4aabcbb1bf72c9

[2019-09-10 05:44] twright-msft opened #7144 "The HDFS file system in the object explorer for a big data cluster should be at the top level of the server"
Issue Type: <b>Bug</b>

I think this is a relic of some original design thinking.  Right now HDFS is not immediately discoverable when you connect to a BDC because it is inside of the abstractly named 'Data Services' folder.  Especially since that is the only "data service" under the 'Data Service' folder and we dont have any plans to put any other "data service" under there that I know of, we sho

[2019-09-10 06:59] alexeystrakh opened #7145 "Hangs every few minutes on a query execution"
Issue Type: <b>Bug</b>

Works fine for a single query execution but hangs every few minutes if you execute a bunch of queries. As if every 10th execution it tries to reconnect or so. It happens since the very beggining the studio was created and I'm waiting for this bug to be fixed since then.

Please fix!

Azure Data Studio version: Azure Data Studio 1.10.0 (5fdb967ffcea41df0335ec17cfa396a694bb17

[2019-09-10 10:03] nikonso commented on #5863
I work with a lot of json collumns so this is really a pain point when using ADS. If this is an area where you would accept a PR could you provide a code pointer so I can take a stab at it?

[2019-09-10 16:03] Charles-Gagnon opened #7146 "Update OE Node integration tests to correctly await contributed nodes"
Currently the OE node tests in objectExplorer.test.ts don't wait for contributed nodes to finish being added - awaiting the call to refresh isn't enough as the design is that it returns immediately so as not to hang the UI.

[2019-09-10 16:40] alanrenmsft commented on #7075
@MaddyDev I've see the error before, but closing the open notebooks will do the job.

[2019-09-10 16:51] alanrenmsft commented on #7075
@corivera are we relying on closing of the notebook to properly terminate the jupyter + python processes?

[2019-09-10 18:03] golaat opened #7148 "Uninstall of Azure Data Studio (User) requires Admin permissions"
The uninstall of Azure Data Studio (User) via Windows 10 Apps & Features requires administrative access. I was however able to successfully uninstall via the following command:
"C:\Users\golaat\AppData\Local\Programs\Azure Data Studio\unins000.exe" /SILENT

- Azure Data Studio Version: 1.11

Steps to Reproduce:
1. Install Azure Data Studio (User) using an account without Administrative access to t

[2019-09-10 18:05] corivera commented on #7075
Not sure. @chlafreniere ?

[2019-09-10 18:07] chlafreniere commented on #7075
Yes. Notebooks need to be closed for the jupyter/python processes to be terminated.

[2019-09-10 18:08] aaomidi opened #7149 "Wrong imports being used"
Something from 'browser' is using this file, which then tries to get import('fs'). This isn't allowed.

Getting rid of 'fs', or splitting the functionality to two files would work here.

https://github.com/microsoft/azuredatastudio/blob/master/src/sql/workbench/parts/notebook/electron-browser/outputs/notebookMarkdown.ts#L6

[2019-09-10 18:48] Benjin commented on #6944
Looks like an `aria-rowcount` property will need to be added to VSCode's ITree component.  Pinged @anthonydresser to confirm

[2019-09-10 18:54] aaomidi commented on #7149
Another one: https://github.com/microsoft/azuredatastudio/blob/master/src/sql/workbench/api/browser/mainThreadNotebookDocumentsAndEditors.ts#L19

[2019-09-10 19:00] westandy-dcp commented on #5158
Is there an ETA on this?  Seems like it'd be an easy feature to add.  But what do I know?

[2019-09-10 19:38] kburtram commented on #5158
@westandy-dcp this should be a pretty easy feature to add.  I'll see if I can get someone to look into this in the next few weeks (we're all working on various other tasks most the time).

In the meantime, the two "workarounds" we've suggested are:

1. The connection metadata is stored in the User Settings file.  If you use the `Open Settings (JSON)` command you can edit directly there.

2, If you

[2019-09-10 20:19] Benjin commented on #6944
From Anthony, they weren't able to make that component meet accessibility criteria, so it gets replaced with a standard dropdown in accessibility mode.  Recommended to close.

[2019-09-10 20:39] MaddyDev commented on #7149
@aaomidi/@anthonydresser which library should I use intsead?

[2019-09-10 20:41] anthonydresser commented on #7149
IFileService

[2019-09-10 20:42] anthonydresser commented on #7149
https://github.com/Microsoft/azuredatastudio/blob/master/src/vs/platform/files/common/files.ts#L19

[2019-09-10 20:52] vickyharp opened #7151 "Notebook "problems" do not show notebook name"
Issue Type: <b>Bug</b>

I have a few notebooks open with some syntax errors. They appear in Problems with names like "notebook-editor-348" rather than the actual file name.

![image](https://user-images.githubusercontent.com/8250560/64649393-a1577600-d3d1-11e9-8637-1d234baba9b7.png)

If I click on one of the errors it creates a new file with the name of the editor and no contents, then removes the

[2019-09-10 21:06] adnans opened #7152 "Central Management Servers plugin - extensionApi.getCmsServiceProvider is not a function"
Azure Data Studio Version: Version: 1.11.0 (user setup)
Commit: 460c739a8d90bdbbde39e01abfb8ecdc278ea787
Date: 2019-09-06T18:08:50.974Z
VS Code 1.37.0
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17763

Steps to Reproduce:

1. Attempt to open a CMS server

Central Management Servers 0.4.0.  When trying to open a CMS server to list availab

[2019-09-10 21:42] kburtram commented on #7152
@adnans could you please try updating the CMS 0.5.0 version of the extension?

@abist do you have any context this error?

[2019-09-10 21:59] #6824 closed

[2019-09-10 22:12] abist commented on #7152
@kburtram I know there was refactoring in mssql which affected CMS, Schema Compare, DacFx etc. I'll look into this

[2019-09-10 23:02] adnans commented on #7152
@kburtram No updates showing itself as available in ADS, stuck at 0.4.0.

[2019-09-10 23:22] adnans commented on #7152
Pulled 0.5.0 out of the Github repo and added it to %userprofile%\.azuredatastudio\extensions\, 0.5.0 shows as installed.  Existing CMS list is gone, trying to re-add gives error "command 'cms.resource.registerCmsServer' not found.

[2019-09-10 23:33] kisantia opened #7157 "Schema Compare exclude doesn't always exclude the object"
If an object is depended on by another object, the change will still be included even if it's unchecked as long as the dependency change is included.

Current ADS behavior: Even though the two tables are unchecked, they are included in the generated script because the view depends on them
![image](https://user-images.githubusercontent.com/31145923/64657499-9b20c400-d3e8-11e9-8b61-6b4774052b82.png)

[2019-09-10 23:47] MaddyDev commented on #7149
@anthonydresser  IFileService accepts a URI and doesn't accept string reference paths. We have a several scenarios where we pass in a relative path (../xyz) to check if the path exists. And the IFileService exists function only accepts Uri and bombs when passed in a relative path. Do you know of any alternative to this?

[2019-09-11 00:25] Charles-Gagnon commented on #7149
[URI.file](https://github.com/microsoft/azuredatastudio/blob/0b7e7ddbf96bf76e2acc774ae560a06de064b4f5/src/vs/base/common/uri.ts#L318)

https://github.com/microsoft/azuredatastudio/blob/b2b28409904854ba94cb15698bb32c0399f5978f/src/sql/workbench/services/insights/common/insightsUtils.ts#L39

[2019-09-11 00:36] kburtram commented on #7152
@adnans could you please try deleting the CMS extensions from the user directory and installing the VSIX using the `Install VSIX from Package` command in the file menu?  To confirm, are you trying to install this version of the extension https://sqlopsextensions.blob.core.windows.net/extensions/cms/cms-0.5.0.vsix?

Also, does everything appear to work as expected?  The extension manager should hav

[2019-09-11 00:40] abist commented on #7152
@kburtram I'll have to repro this. I suspect a cached version in the users directory as well.

[2019-09-11 01:57] #6746 closed

[2019-09-11 03:01] jonhall123 commented on #447
I am experiencing the same issue, able to get kerberos ticket but cannot authenticate via AD credentials to my mssql instance in ADS (Azure Data Studio)

[2019-09-11 07:47] aaomidi opened #7160 "Scripting Utils - bad import"
https://github.com/microsoft/azuredatastudio/blob/master/src/sql/workbench/electron-browser/scriptingUtils.ts#L8

This file is being called from a scriptingActions which is being called from explorerWidget.common.contribution.ts which is inside a browser folder.

[2019-09-11 07:58] jakodev opened #7161 "v1.11 broke intellisense, again"
Hi guys, la latest version (v1.11) broke the intellisense. I had to downgrade to v1.10.
Please be aware about this functionality, is the one of most important... imho

thank you and good job,
J.

[2019-09-11 12:29] softveda opened #7162 "Cannot connect to SQL Server LocalDB"
Issue Type: <b>Bug</b>

Just try to connect to SQL Server LocalDB and it doesn't connect
(local)\MSSQLLocalDB

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-5820K CPU @ 3.30GHz (12 x 3299)|
|GPU S

[2019-09-11 12:32] #7162 closed

[2019-09-11 12:32] softveda commented on #7162
Too quick to open issue, the server name I used was incorrect. Should be (localdb)\MSSQLLocalDB

[2019-09-11 14:42] adnans commented on #7152
0.5.0 downloaded normally this morning (I had re-installed 0.4.0 last night before leaving for the day), and the plugin is behaving as expected now.  Thanks for the help, whatever the case.

[2019-09-11 15:05] Charles-Gagnon commented on #7161
Could you please provide details on what exactly broke? What server type/version are you connecting to and what problems are you seeing exactly?

[2019-09-11 15:27] Charles-Gagnon opened #7163 "Query History query text cut off for PGSQL connections"
When running PGSQL queries the end of the query is truncated. e.g. I run the query

[code]

and it shows this in the tab

![image](https://user-images.githubusercontent.com/28519865/64711122-fea10500-d46d-11e9-9531-5e0c4e8c6bdb.png)

[2019-09-11 15:30] Charles-Gagnon commented on #7163
Note this is likely a SQL Tools Service issue instead - it seems like the endLine being returned is off by one which is throwing off the calculations.

[2019-09-11 16:42] kburtram commented on #7152
@adnans thanks for confirming that this is working now.  I'll keep an eye out for other related issues.  Perhaps our cached state is getting corrupted for some reason in some cases.

[2019-09-11 16:42] #7152 closed

[2019-09-11 16:58] #7117 closed

[2019-09-11 18:25] konpl commented on #7161
+1. Strange behavior. All is OK when I choose "New Query" from Connections Browser. But when I creating new file or open some sql file, intellisense isn`t working. "Choose SQL Language provider"  on status bar. But I'm already connected to MSSQL Database =).
System: Windows 7.

[2019-09-11 18:29] kisantia commented on #7098
Fixed after extension version got bumped

[2019-09-11 18:29] #7098 closed

[2019-09-11 20:39] blakemcneill opened #7167 "Add "New Query" for server group in Central Management Servers extension"
**Describe the solution or feature you'd like**
Please add "New Query" to the Central Management Servers extension. My coworkers and I use this feature often to query multiple servers at the same time.

**Describe alternatives you've considered**
Currently use SSMS for this feature.

[2019-09-11 21:00] Charles-Gagnon commented on #7167
Thanks for the suggestion @blakemcneill - this is currently being tracked with #28 so I'll be closing this. Follow that for any updates!

[2019-09-11 21:00] #7167 closed

[2019-09-11 21:31] aaomidi opened #7171 "Promises not handled in dashboard related files"
Promises not handled:

[code]

[2019-09-11 21:32] aaomidi opened #7172 "Promises not handled in notebook related files"
[code]

[2019-09-11 21:32] aaomidi opened #7173 "Promises not handled in profiler related files"
[code]

[2019-09-11 21:34] aaomidi opened #7174 "Promises not handled in query related files"
[code]

[2019-09-11 21:35] aaomidi opened #7175 "Promises not handled in extHost files"
[code]

[2019-09-11 21:38] aaomidi opened #7176 "Promises not handled in jobmanagement related files"
[code]

[2019-09-11 22:25] ellbosch opened #7177 "Large query file closes on its own after cancelling job and switching tabs"
ADS alerts me with `Unable to open 'file.sql - elbosc...elbosc)': Cannot read property 'length' of null.` after switching back to a query file tab following the cancellation of a run. A 1 MB script file was used to produce the bug.

**Particularly concerning is that ADS will close the file even if it is not saved.** There is seemingly no way to restore the file.

Repro steps:
1. Save a large (i.e.

[2019-09-11 22:56] Charles-Gagnon commented on #7161
@konpl Are you sure the query window is connected?

You should see this in the action bar of the editor :

![image](https://user-images.githubusercontent.com/28519865/64741131-56f6f780-d4ac-11e9-90a4-43d019bdf2f3.png)

If you see this (Connect button and other things disabled) that means the editor isn't connected to a database so it's expected you wouldn't have Intellisense at that point.

![imag

[2019-09-11 23:51] peterh-cloudiq opened #7180 "Can't connect to HDFS when running Azure Data Studio with SQL Server on AWS"
- Azure Data Studio Version: 1.9.0

Steps to Reproduce:
1. Create a Kubernetes cluster on AWS EC2
2. Install a SQL Server 2019 Big Data Cluster on Kubernetes
3. Connect to the SQL Server 2019 cluster using ADS
Result: Cannot connect to HDFS under Data Services, getting "Error: ETIMEDOUT"
HDFS Service endpoint is listed with the private (as opposed to public) IP of the gateway endpoint
I am running

[2019-09-12 03:28] chlafreniere commented on #6973
@MaddyDev if this is fixed by the PR linked here,   is this safe to close?

[2019-09-12 03:28] chlafreniere commented on #6911
@MaddyDev can we close this issue?

[2019-09-12 03:29] chlafreniere commented on #6841
@MaddyDev can we close this issue?

[2019-09-12 03:30] chlafreniere commented on #7172
@aaomidi can you help me understand the impact here?

[2019-09-12 05:48] konpl commented on #7161
@Charles-Gagnon
I see this
![изображение](https://user-images.githubusercontent.com/48159828/64757167-f0201f80-d539-11e9-9ad0-678d282d2df4.png)

[2019-09-12 14:38] cyrelk opened #7184 "Connection Timeout when trying to connect to SQL Server 10.50.1617.0"
- Azure Data Studio Version: 1.11.0
- Client OS Debian Buster 10.1
- Windows Server 2008R2 fully patched
- SQL Server 10.50.1617.0
- Azure about box content :
Version : 1.11.0
Validation : 460c739a8d90bdbbde39e01abfb8ecdc278ea787
Date : 2019-09-06T17:09:00.875Z
Électron : 4.2.9
Chrome : 69.0.3497.128
Node.js : 10.11.0
V8 : 6.9.427.31-electron.0
OS : Linux x64 4.19.0-6-amd64

Steps to Reproduce:

1

[2019-09-12 14:55] kburtram opened #7185 "SQL Agent scheduled notebooks not working on BDC instances"
- Azure Data Studio Version: 1.11.0

Steps to Reproduce:

1. Schedule a Notebook as a SQL Agent job on a BDC cluster

Expected: Scheduled notebooks work or fail appropriately

Actual: Scheduled notebooks tab doesn't render in dashboard

[2019-09-12 15:25] JASM2007 opened #7186 "Display Results Slow Performance"
- Azure Data Studio Version:
![image](https://user-images.githubusercontent.com/40634806/64796227-62e6c600-d54d-11e9-91ba-a9f5829a19a5.png)

I am currently running the latest update as of today.

Steps to Reproduce:

1. I wrote one query that had inner joins and left joins which has about 40 or so fields and then did SELECT * to do a bench-marking test between SSMS and Azure Data Studio.
2. Run th

[2019-09-12 15:46] lnicola opened #7187 "Consider moving the connection list out of settings.json"
**Is your feature request related to a problem? Please describe.**
Some users might want to synchronize their settings across multiple computers. In that case, the editor settings should not include the server list.

**Describe the solution or feature you'd like**
The servers (`datasource.connections`) should be stored in a separate file, e.g. `connections.json`.

**Describe alternatives you've co

[2019-09-12 16:24] #7184 closed, assigned to nobody

[2019-09-12 20:38] kyle-depasquale-schoolzilla opened #7189 "Copy and Paste functionality broken"
Issue Type: <b>Bug</b>

Step 1:
Execute a query and copy a column of results. Paste these results in another program, such as Excel.

Result: Whatever was previously in the clipboard pastes instead.

Step 2: Copy a different column of results. Paste these into another program, such as Excel.

Result: The column copied from Step 1 pastes, not the column from Step 2.

Azure Data Studio version: Azur

[2019-09-12 21:53] ghost opened #7191 "IntelliSense not working"
Issue Type: <b>Bug</b>

Intellisense is not working. I have restarted azure data studio, my computer, reset the intellisense cache and checked to make sure that all of the settings are properly selected. Still no luck

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>Syst

[2019-09-12 22:13] #7191 closed, assigned to nobody

[2019-09-12 23:31] dnethi opened #7192 "SQL on Windows Deployment"
Clicking on the "SQL on Windows" card from the Deployment dialog Downloads the setup.exe but doesnt launch it.

It appears that for some users the setup launches and doesnt for some.
(1) The setup.exe currently downloads into user folder. It should go into downloads folder.
(2) We need a message in the Tasks tab, and a notification to let the user know that the download has finished and user can l

[2019-09-13 08:40] Bokaii opened #7196 "Intellisense not working on new installation"
Issue Type: <b>Bug</b>

New fresh installation of latest 1.11.0 ADS, but can never get the app to recognize any objects or recommend any tables when writing querys for example. I can browse and run querys just fine, but all objects are underlined red and show "Invalid object name" in the tooltip.

I have tried refreshing the Intellisence cache through the Command Palette, and connecting/disconnect

[2019-09-13 08:43] Bokaii commented on #7196
Sorry if this is similar to #7161, please move/close if it is.

[2019-09-13 08:47] mitevdev opened #7197 "Select top 1000? how can I change this number?"
- Azure Data Studio Version:
1.11.0

Steps to Reproduce:
right click on any table

[2019-09-13 10:29] abrasaxdeity commented on #5175
This is fixed in version 1.1.0, however, now webview disappears when switching between tabs.

[2019-09-13 11:07] konpl commented on #7161
@Charles-Gagnon Didn't try to reinstall because I having many server connections and don't want to rewrite them.

[sqltools.log](https://github.com/microsoft/azuredatastudio/files/3609737/sqltools.log)
Steps for log write:
1. Open ADS;
2. Select "New Query" from connections window;
3. Write simple SQL query and execute it (Intellisense working);
4. Save file. After this happenned disconnect (It's

[2019-09-13 13:42] jakodev commented on #7161
I'm sorry for late response:
When I type **select * from dbo. ...** _I'm excepecting a list of tables/schemas_ but appears only a list o previous typed words _[abc]etc etc_
The same happens for **select * from dbo.mytable t where t. ...** _I'm excepecting a list of columns_ but nothing appears

I'm using:
SQL SERVER v14.0.2027.2 on Windows Server 2012 R2 Standard (6.3)
SQL SERVER v12.0.6329.1 on M

[2019-09-13 14:49] Charles-Gagnon commented on #7196
If you revert to 1.10 and/or try the custom versions of ADS that Karl made does that resolve the issue? There's known performance issues against Azure DBs so your case might just be one of that instead.

Windows: https://azuredatastudiobuilds.blob.core.windows.net/test/azuredatastudio-windows-intellisense-bug.zip
macOS: https://azuredatastudiobuilds.blob.core.windows.net/test/azuredatastudio-macos

[2019-09-13 14:49] #7196 closed

[2019-09-13 14:56] Bokaii commented on #7196
Hi, yes reverting to 1.10 solved it!

/Jakob

On Fri, 13 Sep 2019, 16:49 Charles Gagnon, <notifications@github.com> wrote:

[2019-09-13 15:47] kburtram commented on #7161
@jakodev if you have time to verify if the below build resolves the issue that would be helpful in narrowing down where to investigate.  This build is from master yesterday with a downgraded SMO component.  Thanks!

Windows: https://azuredatastudiobuilds.blob.core.windows.net/test/azuredatastudio-windows-intellisense-bug.zip
macOS: https://azuredatastudiobuilds.blob.core.windows.net/test/azuredata

[2019-09-13 17:36] dannyoo opened #7198 "Feature Request : Keep connection location after Connection Refresh"
- Azure Data Studio Version: 1.11

Feature Request Behavior:

1. Run a script (for example, remove a table.)
2. Keep connection directory location after refresh. (if the directory hasn't been deleted.)

Currently, you lose your directory location on connection refresh.

[2019-09-13 17:39] hannahqin commented on #6661
Reopening and reassigning to @fsteffi as per the [Accessibility External Bug Process](https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx). @fsteffi, this is an upstream issue from VS Code. Per the instructions in the External Bug Process, can you file this bug with vscode and track it there? https://github.com/microsoft/vscode/issues

[2019-09-13 17:42] hannahqin commented on #6663
Reopening and reassigning to @fsteffi as per the [Accessibility External Bug Process](https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx). @fsteffi, this is an upstream issue from VS Code. Per the instructions in the External Bug Process, can you file this bug with vscode and track it there? https://github.com/microsoft/vscode/issues

This issue is related to #6661. T

[2019-09-13 17:43] hannahqin commented on #6663
Reopening and reassigning to @fsteffi as per the [Accessibility External Bug Process](https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx). @fsteffi, this is an upstream issue from VS Code. Per the instructions in the External Bug Process, can you file this bug with vscode and track it there? https://github.com/microsoft/vscode/issues

This issue is related to #6661. T

[2019-09-13 17:46] HumorMe commented on #7161
Seeing the same problem. I tried with both SQL2008 and SQL2016, so I think you can rule out SQL version as mattering. The key repro seems to just be saving the file kills intellisense.

[2019-09-13 17:46] hannahqin commented on #6750
Reopening and reassigning to @fsteffi as per the [Accessibility External Bug Process](https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx). @fsteffi, this is an upstream issue from VS Code. We have already filed this bug with vscode as microsoft/vscode#79339. Per the instructions in the External Bug Process, can you track it there?

[2019-09-13 17:55] dannyoo commented on #7198
Is there any other way to refresh the connection's sidebar without right-clicking and then pressing refresh?

[2019-09-13 17:56] HumorMe commented on #7161
@kburtram I tried the windows version you linked in your last post. It did not fix the problem.
I am using exact same repro steps as @Charles-Gagnon against a local SQL Server 2016 from a client with Windows 10 build 18362.

[2019-09-13 18:01] hannahqin commented on #6688
Reopening and reassigning to @fsteffi as per the [Accessibility External Bug Process](https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx).

@fsteffi, this is behavior that stems from NVDA: see nvaccess/nvda#5717 for discussion of a related issue that was closed. Since nvaccess/nvda#5717 was closed with no changes, can we deem this to be expected NVDA behavior and clos

[2019-09-13 18:19] mwc360 commented on #6724
This would be really helpful! We currently use VS Code for SQL version control and it is a challenge with having both Oracle and MSFT SQL databases.

[2019-09-13 18:31] hannahqin commented on #6662
Reopening and reassigning to @fsteffi as per the [Accessibility External Bug Process](https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx).

As Udeesha commented above, this issue is caused by how NVDA handles Slickgrid's header element. NVDA's default behavior is to announce 'Clickable' for any element that has a click listener, which is built into Slickgrid's header

[2019-09-13 18:51] #7069 closed

[2019-09-13 19:11] kburtram commented on #7161
@HumorMe thanks for confirming!  That helps us narrow down where not to look.

Azure Data Studio keeps its persisted state in `C:\Users\[USERNAME]\AppData\Roaming\azuredatastudio` and `C:\Users\[USERNAME]\.azuredatastudio`.  These directories shouldn't be altered during uninstall\install.  The connection data specifically is in `C:\Users\[USERNAME]\AppData\Roaming\azuredatastudio\User\settings.jso

[2019-09-13 19:28] aaomidi commented on #7189
I'm unable to reproduce this on the same version as the one you're referencing. How are you copy pasting the columns?

[2019-09-13 19:36] pnhughes commented on #6418
It's hard to believe that this item hasn't been actioned yet given how serious a gap it is.  Wizard is unusable on larger imports due to the amount of time required to track down issues, retry and repeat.

[2019-09-13 19:43] kyle-depasquale-schoolzilla commented on #7189
I'll click and highlight a column or two, use Cmd + C or right click and copy and Cmd +P or right click and paste.

[2019-09-13 19:52] konpl opened #7199 "The "Replace" menu is not completely hidden"
The "Replace" menu is not completely hidden if the replacement text contains many lines.
Steps to Reproduce:
1. Open some sql file;
2. Copy text with 5 or more lines;
3. Ctrl+H;
4. Paste copied text to "Replace" textbox ("Find" text box must bee empty);
5. Close "Replace" menu or hit "Escape";
6. There's still part of the menu.
![изображение](https://user-images.githubusercontent.com/48159828/6489

[2019-09-13 19:54] anthonydresser opened #7200 "Kerberos doesn't have prebuilt binaries for electron 6"
Kerberos (https://github.com/mongodb-js/kerberos) doesn't have prebuilt binaries for the latest version of electron and is failing to compile.

This is blocking vscode merges since they updated to electron 6.

[2019-09-13 20:11] iaclarke opened #7201 "No file corresponding to the given URI"
Issue Type: <b>Bug</b>

Executing selected/highlighted queries (any queries) from a saved file against Azure Database for PostgreSQL returns the following error. The same queries can be copy and pasted into a new query tab and run successfully.

Execution failed due to an unexpected error:
Unhandled exception while handling request method query/executeDocumentSelection: "No file corresponding to t

[2019-09-13 20:11] #7149 closed

[2019-09-13 20:40] akamath46297 commented on #7201
This is a regression with the latest release i.e. 1.11.0 . I verified the older version worked fine.

[2019-09-13 20:49] anthonydresser commented on #7200
Might be related https://github.com/mongodb-js/kerberos/issues/99

[2019-09-13 22:14] aaomidi opened #7204 "Cannot register service for type SmoQuerier, one or more services already registered"
If i click on connections in the OE too fast, I sometimes get this error.

[2019-09-13 23:11] anthonydresser opened #7207 "Color contrast issue in notebooks"
Add new code and new text buttons on hover in notebooks.

![image](https://user-images.githubusercontent.com/4324725/64899599-111f6800-d641-11e9-9d7c-53c9027420a2.png)

I find this difficult to read. Does this meet contrast ratio accessibility requirements?

[2019-09-13 23:32] MaddyDev opened #7209 "Books: When preview markdown file is open, cannot launch command palette"
Steps to Reproduce:

1. Launch the troubleshooting guide book that opens up the preview markdown file (or any markdown file from the books in the view-let)
2. Try to open command pallet.

Expected behavior: Opens up command pallet.
Bug: command pallet flickers and disappears.

[2019-09-14 16:13] KennyEng12 commented on #1618
Hi, may I know is this being implemented?

Thanks,
Kenny.

[2019-09-14 22:47] aasimkhan30 commented on #7109
The agent extension cannot add or remove schedules from a job through the edit dialog.
1. Right click an agent job.
2. Click Edit Job
3. Add/Remove schedules from the Edit Dialog.
4. Save.

[2019-09-15 01:09] joezjy opened #7214 "Open SQL file, automatic prompt box does not have the corresponding information prompt of the database"
Issue Type: <b>Bug</b>

1，打开AZURE，连接上服务器
2，打开硬盘的SQL文件，输入内容，提示框里没有数据库的表、字段等信息提示。
3，新建查询窗口，输入内容时能正常提示以上信息

Azure Data Studio version: Azure Data Studio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T17:14:33.682Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8559U CPU @ 2.70GHz (8 x 2713)|
|GPU Status|2d_canv

[2019-09-16 03:48] xaxdev opened #7215 "Unexpected"
Issue Type: <b>Feature Request</b>

Error

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.18362

[2019-09-16 04:09] jasminsehic commented on #6418
Yep, very frustrating not being able to see any clues to error.

[2019-09-16 05:32] Charles-Gagnon commented on #7215
I'm going to close this since it's not clear what the issue is - please reopen with more details on what problem you're running in to if there's an issue!

[2019-09-16 05:32] #7215 closed

[2019-09-16 10:02] hkroese opened #7218 "Create external tabel - sort order source tables/views alphabetical"
Issue Type: <b>Feature Request</b>

Please order the source tables in the selection window 'Create external table'-step 4 alphabetical or give us a filter functionality. Selection from large databases is difficult.

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.18362

[2019-09-16 12:33] simongottipalli commented on #7074
Similar issue on Mac OSX: 10.14.6
Login Type: Microsoft MFA

[2019-09-16 12:59] Bokaii commented on #7196
Until a forced update installed 1.11 without asking if I wanted it installed. Can I disable the auto update part somehow?

[2019-09-16 14:50] jakodev commented on #7161
Hi @kburtram,
I'm trying this release (v1.12) and the intellisense this time works only if I'm using it in a new clean query sheet. In old/saved query sheet intellisense still doesn't work. Very strange...

Let me know if you need further tests
J.

[2019-09-16 15:44] Charles-Gagnon commented on #7196
@Bokaii Open the settings pane (command palette -> Preferences: Open Settings UI) and then search for the **Update: Mode** setting. Choose either **None** or **Manual** to disable automatic updates.

![image](https://user-images.githubusercontent.com/28519865/64972437-26251280-d85e-11e9-8168-0cdae756a048.png)

[2019-09-16 15:54] rharris-ameresco opened #7219 "Query Editor Does Not Adjust When Resolution Changes"
Issue Type: <b>Bug</b>

Hello,

I use Azure Data Studio for work and have to dock/undock my laptop throughout the day. When doing this, the resolution of the screen changes from the native resolution used on the built-in display to a resolution that has been set for external monitors. Each time my system changes resolution, the query editor no longer horizontally aligns with the text that is prese

[2019-09-16 17:02] abist commented on #7214
From online translation,

1. Open AZURE, connect to the server
2. Open the SQL file of the hard disk, enter the content, there is no database table, field and other information prompts in the prompt box.
3. Create a new query window, the above information can be prompted normally when inputting content

[2019-09-16 17:15] abist commented on #6870
@udeeshagautam I'm going to remove these extra tags on these issues that didn't exist earlier because it broke the issues report. If you need these new tags, please let me know so I can change the report accordingly.

[2019-09-16 17:32] ideoclickVanessa opened #7221 "MSSQL Auto Complete Doesn't Work In Saved .sql Files"
Issue Type: <b>Bug</b>

Create a new database script and save the file with the .sql extension.
Close file and reopen it.
The MSSQL Auto Complete (tables, fields, etc) no longer works.

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|

[2019-09-16 17:49] Charles-Gagnon commented on #7221
Thanks for the report - I'm digging into this issue as part of the investigation into https://github.com/microsoft/azuredatastudio/issues/7221. So I'll be closing this for now - you can follow that one for any updates!

[2019-09-16 17:50] Charles-Gagnon commented on #7221
For the time being you can roll back to 1.10 if this is greatly impacting your work (make sure to disable auto-updates if you do)

[2019-09-16 18:52] ideoclickVanessa commented on #7221
@Charles-Gagnon
Thanks for your quick feedback; however, I'm a little confused as this issue is #7221.

I'm also a little unsure where I would get the old 1.10 installer to roll back to since it's no longer listed on https://docs.microsoft.com/en-us/sql/azure-data-studio/download?view=sql-server-2017  As such, I've switched back to the blinding white of SSMS for the time being.

[2019-09-16 18:57] Charles-Gagnon commented on #7221
https://github.com/microsoft/azuredatastudio/releases/tag/1.10.0

[2019-09-16 18:58] Charles-Gagnon commented on #7221
And shoot, put the wrong link.

https://github.com/microsoft/azuredatastudio/issues/7161 is the one I'm tracking

[2019-09-16 18:59] kburtram opened #7222 "No new lines between rows on copy\paste"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Run a query
2. Copy and paste a region

Expected: New line between rows

Actual: No new lines between rows

![image](https://user-images.githubusercontent.com/599935/64985293-680f8200-d879-11e9-9445-33be7abef4e9.png)

[2019-09-16 19:00] kburtram commented on #7222
@aaomidi could you please see if this is related to your recent copy\paste new line change?

[2019-09-16 19:10] kburtram commented on #7161
@jakodev I'm able to repro now with saved SQL files.  Previously I was testing with untitled files.  This should be enough to determine the root cause.  Thanks!

[2019-09-16 19:19] kburtram opened #7224 "First XML link clicked in sessions doesn't format correct"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Run a query with an XML column, such as below, and click link.

[code]

Expected: The XML document is formatted

Actual: The first time the link is clicked it's not formatted.

![image](https://user-images.githubusercontent.com/599935/64986601-3cda6200-d87c-11e9-8c6c-791807a38b0a.png)

[2019-09-16 19:20] kburtram commented on #7224
@anthonydresser do I recall correctly that you changed the way XML and JSON documents were formatted a couple months ago.  I thought before we used a node module and now we use a different formatter.  Is this correct/

[2019-09-16 19:25] anthonydresser commented on #7224
We use the extension xml-language-features now which internally uses some xml formatter extension. It worked properly when I was testing with show plans, I'll take a look though.

[2019-09-16 19:31] anthonydresser commented on #7219
Can you open a non-query editor (file -> new file) and see if you can repro?

[2019-09-16 19:55] anthonydresser commented on #7224
Looks like a race condition. On small content, the extension doesn't have enough time to start and register itself as a document formatter before we are calling the format document command. On even moderately small content (show plan on the above query) is has enough time since the extension has a very short startup time.

So it's some what of an isolated repro (plus a user can now also format man

[2019-09-16 19:58] chlafreniere commented on #7207
@corivera can you take a look when you have a chance?

[2019-09-16 20:09] #7221 closed

[2019-09-16 20:12] angdesign commented on #7207
Verifying that this fails contrast ratio requirements. The proper styling for dark theme buttons have a different color value that is not reflected here. The correct blue value should be:

![image](https://user-images.githubusercontent.com/29785331/64989888-6d71ca00-d883-11e9-88fd-a734800de811.png)

Achieved by:
.notebookEditor .hoverButton:active, .notebookEditor .hoverButton:hover {
    backgrou

[2019-09-16 20:18] kburtram commented on #7224
@anthonydresser I'm hitting this a lot with Query Plan XML, which is why I created the targeted repro.  I recall seeing a similar customer reported bug, but was not able to locate it.

I think if there is a simple fix we should solve it so the product works correctly consistently.

[2019-09-16 20:23] Charles-Gagnon commented on #7161
Alright, I've tracked down an issue that was indeed introduced in the last release. I'm working on a fix now - will update if I need any more information!

[2019-09-16 20:26] Charles-Gagnon commented on #6936
@jasoncavett Can you attach a gif/video of this behavior? Does this happen for all connections through the connection dialog or only with ones from the **Connect** button in a query editor?

[2019-09-16 20:27] Charles-Gagnon commented on #6411
@juliomutley Sorry for not following up - this fell off my radar. Are you still seeing this issue?

[2019-09-16 20:30] Charles-Gagnon commented on #6408
I'm going to close this as a duplicate of #3700 - please follow that for any updates!

Could you respond in the other issue though if there's any errors listed in the developer console (Help -> Toggle Developer Tools) when this occurs?

[2019-09-16 20:30] #6408 closed

[2019-09-16 20:32] Charles-Gagnon commented on #6949
I'm closing this out as we don't support issues on beta OSes. If this continues to be an issue after the new version is officially released let us know and we can investigate at that time!

[2019-09-16 20:34] Charles-Gagnon commented on #7214
@joezjy Could you include a screenshot showing what the problem is?

[2019-09-16 20:34] udeeshagautam commented on #6997
@peterlukerow  thanks for reporting this issue.
For the issue 1 - Currently Backup/Restore context menu is available on the individual Database node. Restore is also available from Server Dashboard.

For issue 2 Can you please elaborate on : "The confirmation button is disabled"
I tried reproing the same with following steps
 - Open the restore dialog from Server --> Manage -->Restore
 -  Select a

[2019-09-16 20:35] aaomidi opened #7226 "Add test cases for new copy/paste"
Can you add some unit tests that cover this scenario (and other common ones with/without newlines)? Nothing complicated - just testing output of this function to verify that future changes aren't breaking expected behavior.

_Originally posted by @Charles-Gagnon in https://github.com/microsoft/azuredatastudio/pull/7225#issuecomment-531936669_

[2019-09-16 20:37] Charles-Gagnon commented on #7201
@akamath46297 This is likely because of changes in how URIs are handled - we've seen a few issues with the encoding not being done in some cases so you end up with different URIs (file://c:/myfile.txt vs file://c%2a/myfile.txt for example)

Can you confirm if this is the case here?

[2019-09-16 20:38] udeeshagautam commented on #6868
@pjignesh thanks for reporting the issue. Do you see an error message similar to this https://github.com/microsoft/azuredatastudio/issues/4734?

This is fixed in latest versions of ADS - but the version you mention seems to be older. Can you please try to use the latest version from here https://github.com/microsoft/azuredatastudio

[2019-09-16 20:52] kburtram commented on #7224
@anthonydresser activating on `onLanguage:sql` seems to solve this problem and at least keeps the extension load off the earliest part of start-up.  I sent a PR #7228.

[2019-09-16 21:34] #7224 closed

[2019-09-16 21:46] kburtram commented on #6571
Have you tried the `Run Current Query` (CTRL-F5)?  This should only run the current statement.

[2019-09-16 21:50] kburtram commented on #6652
Thanks for this feature suggestion!  This looks like a duplicate of issue https://github.com/microsoft/azuredatastudio/issues/3410.  Please add any additional context there if anything is missing.

[2019-09-16 21:50] #6652 closed

[2019-09-16 22:27] #7207 closed

[2019-09-16 22:54] #7222 closed

[2019-09-16 23:04] chlafreniere commented on #6919
I can't repro this at the moment. Can you still repro, @vickyharp?

[2019-09-16 23:22] anthonydresser commented on #7200
Found the fix

[2019-09-16 23:22] #7200 closed

[2019-09-16 23:36] corivera opened #7233 "Extension field undefined when calling azdata.TreeComponent.registerDataProvider()"
The latest vscode merge introduced the following lines: https://github.com/microsoft/azuredatastudio/commit/ea0f9e6ce95b45def2b694efcd8ffe909bc43d20#diff-9cac4292d1fe863254c28648b24ee20eR208

When calling TreeComponent.registerDataProvider() from the External Table wizard, the extension field at that line is undefined.

[2019-09-17 00:00] joezjy commented on #7214
@Charles-Gagnon
1, open saved sql file,IntelliSense is broke
![屏幕快照 2019-09-17 上午7 53 43](https://user-images.githubusercontent.com/22520014/65001003-69e05080-d920-11e9-9a42-2e3cf783ed54.png)

2,new query windows,IntelliSense is correct
![屏幕快照 2019-09-17 上午7 45 48](https://user-images.githubusercontent.com/22520014/65001221-42d64e80-d921-11e9-9c24-9c4e1562a31e.png)

[2019-09-17 00:10] corivera commented on #7233
@alanrenmsft Seems like this is caused by azdata.createWizardPage not having an extension argument. Either we can check for undefined at that new line (and potentially hit this issue again after another merge), or pass through an extension argument from createWizardPage. Which seems better to you?

[2019-09-17 01:01] chlafreniere opened #7234 "File Format Not Included by Default when Saving Chart"
When saving a chart in ADS, the file format is not populated by default. This looks something like the following:

![image](https://user-images.githubusercontent.com/40371649/65003134-e6851780-d8ab-11e9-8e3f-2023cdadfeeb.png)

[In Windows, the "Save as type" is "All Files (*.*)"]

[2019-09-17 01:05] chlafreniere commented on #3000
@aaomidi has this since been fixed?

[2019-09-17 01:07] Charles-Gagnon commented on #7214
We're currently tracking this issue here : https://github.com/microsoft/azuredatastudio/issues/7161 Please follow that for any updates!

[2019-09-17 01:07] #7214 closed

[2019-09-17 05:44] rharris-ameresco commented on #7219
Hi,

Yes, opening a new query file as requested also contains the bug/issue if the display resolution was previously changed without a restart of Azure Data Studio directly afterwards.

[2019-09-17 08:14] CobusKruger opened #7236 "Notebooks: Collapse sections"
Issue Type: <b>Feature Request</b>

If I have several blocks in a notebook, I may not be interested in all of them at the same time. Being able to collapse sections that are not immediately relevant (and expand them when they become relevant again) will be a great improvement.

At the very least, one should be able to collapse the output, but collapsing the entire block (showing maybe the first th

[2019-09-17 08:17] CobusKruger opened #7237 "Notebooks: Order sections"
Issue Type: <b>Feature request</b>

I'd like to be able to reorder sections, which will especially be useful when I'm comparing either code or results.

Each section already has a menu associated with it, so one could expect simple *move up*/*move down* commands. Or drag and drop reordering could work as well.

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278e

[2019-09-17 09:55] mm-dsibinski commented on #6787
Yes, this is really frustrating...
One more precise scenario to reproduce this issue:
1. Connect to a server, so you have a databases list tree
2. Expand: Databases
3. Choose one database and expand it
4. Expand "Tables"
5. Choose one table and expand it
6. Expand for instance "Columns"
7. Click on "Columns" folder and select "Refresh"
8. See the issue: everything is collapsed, so to see the resul

[2019-09-17 10:15] AbhiramDeshmukh commented on #6822
#A11yMAS;#A11yTCS

[2019-09-17 10:38] dllmr opened #7238 "Invalid update notification on Linux"
Issue Type: <b>Bug</b>

I installed 1.11.0 and see a notification to download an update. If I do so, the update is actually for an earlier version - 1.10.0.

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T17:09:00.875Z)
OS version: Linux x64 5.2.14-arch2-1-ARCH

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R)

[2019-09-17 10:40] juliomutley commented on #6411
to be honest it didn't happened anymorenin  this last build

Em seg, 16 de set de 2019 às 22:27, Charles Gagnon <notifications@github.com>
escreveu:

[2019-09-17 11:39] wwdenis commented on #7201
Same here, verison 1.11.0, Windows 10 x64 10.0.18362.356

**Fail: Open File**

![OPENFILE_FAILED](https://user-images.githubusercontent.com/21691662/65038537-6f558f00-d950-11e9-814e-a629dfe2dded.gif)

**Success: New Query**

![PASTE_SUCCESS](https://user-images.githubusercontent.com/21691662/65038547-754b7000-d950-11e9-8f31-0591d0590b22.gif)

[2019-09-17 12:11] theGrower opened #7239 "Update to version 1.11.0 failing"
Issue Type: <b>Bug</b>

Running Win10 on a Dell XPS 15 laptop. The updater launches then freezes. I  have to end the process in task manager. This is also causing general PC performance issues while it is frozen.

Azure Data Studio version: azuredatastudio 1.10.0 (5fdb967ffcea41df0335ec17cfa396a694bb174e, 2019-08-14T18:28:10.311Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System In

[2019-09-17 14:31] Charles-Gagnon commented on #6411
Alright, thanks for the follow-up! If this happens again let us know. If you do including a screenshot of the actual error will help us try to figure out what kind of issue it is.

[2019-09-17 14:31] #6411 closed

[2019-09-17 15:03] cesarlaforet commented on #7161
While it i not fixed, not sure if everyone knows this but in a query windows after connecting to the database if we run "Refresh IntelliSense Cache" then it works for that query window/database. (v1.11.0)

[2019-09-17 15:04] capnsue commented on #7014
I'm encountering this on pretty much a daily basis - the "reinstall all the python stuff" is really not a great workaround and only fixes it for a little while for me.

[2019-09-17 15:49] csabhickory commented on #6571
Excellent; this seems to work.  I did not know this feature was available.   I am able to select one of the queries in my script and run just the one query with this key combination.   Thank you.

[2019-09-17 15:54] jakodev commented on #7161
Yes, I've already tried without success...thansks for the suggestion.
J.

[2019-09-17 15:55] gregveres commented on #5527
HI Guys

I see this was added to a planning milestone. That's fantastic. I came back here to specifically look for this item because today I was using Data studio a lot and my connection to the database must be particularly slow today because it was taking upwards of 10 seconds before the window would open after I selected "select top 1000". And during that 10 seconds, I am continually second gues

[2019-09-17 16:06] iAlexanderMoon commented on #2090
Same as mdouherty3 on Xubuntu 19.04.

[2019-09-17 17:15] kburtram commented on #6571
@csabhickory thanks for confirming.  I'll close this issue based on your comment.

[2019-09-17 17:15] #6571 closed

[2019-09-17 17:28] chlafreniere commented on #7064
Here are the repro steps that we received from a teammate:

The workaround has seemed to be close all notebook tabs, and then re-load the notebook you got frozen out of.

What is actually happening is… if you have another notebook that is “running all cells”, say running a spark job for 5 minutes… and that notebook is no longer the foreground notebook.  When that now background notebook moves from

[2019-09-17 17:38] anthonydresser commented on #6804
Does the rest of the application continue to work?

[2019-09-17 17:38] #7234 closed

[2019-09-17 17:41] anthonydresser commented on #6763
could be related #7177

[2019-09-17 17:42] anthonydresser commented on #7199
This is most likley upstream, can you repro in a non-sql editor? (file -> new file)

[2019-09-17 17:44] anthonydresser commented on #7201
This will probably require updates to the pgsql extension to work properly. @Charles-Gagnon can you work with @akamath46297 to identify the issue in the pgsql extension since you performed a similar fix in the sqltoolservice?

[2019-09-17 19:53] mark-uscbi commented on #7201
Is there going to be a hotfix available for this?

[2019-09-17 20:01] kburtram commented on #7239
@theGrower how long did the the installer hang prior to killing it?

When performing an upgrade the first the installer does is to uninstall the previous version, during which time the progress bar won't be updated.  The uninstall typically takes a minute or two depending on hardware, load on the machine, etc.

[2019-09-17 20:05] kburtram opened #7242 "Insiders builds show vscode release notes after upgrade"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Update ADS insiders build

Expected: No release notes or correct release notes

Actual: vscode release notes

![image](https://user-images.githubusercontent.com/599935/65075422-bdb45f00-d94b-11e9-9312-f3effffe0766.png)

[2019-09-17 20:10] theGrower commented on #7239
10 minutes the first time. I tried a two more times and stopped the process after 4 or so minutes.

I ended up upgrading using the installer downloaded from the website.

[2019-09-17 20:16] kburtram commented on #7238
@dllmr sorry about that.  It looks like there was incorrect metadata in our update feed.  I've remove it.

Please let me know if you continue to see this problem.

[2019-09-17 20:16] #7238 closed

[2019-09-17 20:19] kburtram commented on #6919
I can't repro either on today's build.  Please reactive if this persists.

[2019-09-17 20:19] #6919 closed

[2019-09-17 20:36] kevcunnane commented on #7144
@twright-msft We should quickly sync to verify there won't be any further services we want to list for 2019 at any stage (even post RTM). I'm happy to take this change just want to verify strategy.

[2019-09-17 20:39] kevcunnane commented on #7029
I'm going to tentatively mark this as upstream issue in azdata package, but will update once we get some feedback from that larger team. Will work either way to get a solution to the problem, thanks for raising it.

[2019-09-17 20:44] MaddyDev commented on #6973
This is fixed in my PR: https://github.com/microsoft/azuredatastudio/pull/7083#event-2622955869

[2019-09-17 20:44] #6973 closed

[2019-09-17 20:44] #6841 closed

[2019-09-17 20:48] kburtram commented on #7239
@theGrower thanks for the additional details!  We'll take a look.

[2019-09-17 21:48] kburtram commented on #6683
@cyberh0me since this is being addressed upstream I'll close this issue.  We'll get the fix once it's merged into vscode master branch.  Thanks!

[2019-09-17 21:48] #6683 closed

[2019-09-17 21:51] kburtram commented on #6827
@obviousSailfish I don't see an error message from the SQL snippet in the issue.

[2019-09-17 21:56] chlafreniere opened #7246 "Notebooks: Cells Not Resizing Automatically"
This is a regression. Need to understand where this came from.

![image](https://user-images.githubusercontent.com/40371649/65082619-4090e600-d95b-11e9-9bff-d2db8d6993a5.png)

Cell height isn't getting resized properly when content changes.

[2019-09-17 22:01] obviousSailfish commented on #6827
Please see the attached screenshot.

I'm connected to Azure SQL Database...

- Version: Microsoft SQL Azure (RTM) - 12.0.2000.8 	Aug 27 2019 17:56:41 	Copyright (C) 2019 Microsoft Corporation
- Database Compatibility Level: 140

Here's updated information on my version of Azure Data Studio:

Version: 1.11.0
Commit: 460c739a8d90bdbbde39e01abfb8ecdc278ea787
Date: 2019-09-06T17:14:33.682Z
VS Code 1.3

[2019-09-17 22:06] #7014 closed

[2019-09-17 22:41] #7246 closed

[2019-09-17 22:54] corivera commented on #7236
Duplicate of https://github.com/microsoft/azuredatastudio/issues/4641

[2019-09-17 22:54] #7236 closed

[2019-09-17 22:55] corivera commented on #7218
Fixed

[2019-09-17 22:55] #7218 closed

[2019-09-18 03:25] chlafreniere opened #7252 "Notebooks: Ensure QueryTextEditor Height Calculation is Called Less"
setHeightToScrollHeight() is called multiple times for every content change event. This is a very expensive operation, so we should limit this to only one call per change.

[2019-09-18 03:59] chlafreniere commented on #4119
This has since been completed.

[2019-09-18 03:59] #4119 closed

[2019-09-18 04:35] dhiraj3301 commented on #3270
I am also facing same issue with only 100 databases.. Please let me know if any solution for it

[2019-09-18 04:58] 9squirrels opened #7255 "Collapse as Schema level"
**Is your feature request related to a problem? Please describe.**
I have some databases that contain multiple schemas and often when looking at tables I'm only interested in tables in specific schemas.

**Describe the solution or feature you'd like**
If there was another collapse level after Database for Schemas, that would allow for easier viewing of those tables and visual separation of schemas

[2019-09-18 05:00] 9squirrels commented on #7255
Woops, already covered here:
https://github.com/microsoft/azuredatastudio/issues/7
I did search, but didn't find that one until it was suggested once I created this suggestion.

[2019-09-18 05:00] #7255 closed

[2019-09-18 05:02] 9squirrels commented on #7
Yup, this would be a great feature, especially now that PostGRES is supported in Azure Data Studio.
Here's a screenshot of how pgAdmin handles it for PostGRES.
![pgAdmin_SchemaHandling](https://user-images.githubusercontent.com/17567283/65113135-54a11a00-da25-11e9-9917-72df464c12d6.PNG)

[2019-09-18 07:05] hkroese opened #7256 "Create external table - selection source-columns"
Issue Type: <b>Feature Request</b>

Is it possible to make a selection of source columns instead of all columns? Sometimes you don't need all columns or the datatypes are unsupported.

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.18362

[2019-09-18 08:27] olebenny commented on #7201
This problem is also found in 1.12.0-insider ( user setup )

[2019-09-18 09:19] peterlukerow commented on #6997
I've been on holiday for a week, sorry for the later reply. Upon my return a new version of ADS was available and now issue 2 is no longer reproducible. When some one says "the confirmation button" in reference to UI in the current context is meant to say the button that confirms the action, i.e. when you click it the action is carried out. In future I will make sure to be explict.

You've not und

[2019-09-18 09:45] iks111 commented on #6787
Yes, this is really frustrating...
One more precise scenario to reproduce this issue:

1. Connect to a server, so you have a databases list tree
2. Expand: Databases
3. Choose one database and expand it
4. Expand "Tables"
5. Choose one table and expand it
6. Expand for instance "Columns"
7. Click on "Columns" folder and select "Refresh"
8. See the issue: everything is collapsed, so to see the resu

[2019-09-18 10:00] CobusKruger opened #7257 "Notebooks: Connection tolerance"
Issue Type: <b>Bug</b>

When a notebook gets disconnected, it cannot recover and I need to restart Azure Data Studio to use the notebook again.

A simple example is when I go home and disconnect my laptop. The next day, the connection is dead and no part of the notebook can be executed anymore.

1. When I try to execute a code block, I get this error: *Query failed: Invalid operation. The connecti

[2019-09-18 11:13] wjvii opened #7258 "Could not load file or assembly Microsoft.SqlServer.MaintenancePlanTask"
When I right click, show properties on an Index on a table I get the message in the title and no properties are shown. I am using version 1.11.0. Properties on things like Tables appear to work. The full error dialog is:

TITLE: Microsoft SQL Server Management Studio
------------------------------

Exception has been thrown by the target of an invocation. (mscorlib)

------------------------------

[2019-09-18 14:30] capnsue opened #7259 "Script as Create fails for external tables created on datapool"
- Azure Data Studio Version:

Steps to Reproduce:

1.

[2019-09-18 14:30] #7259 closed

[2019-09-18 14:34] capnsue opened #7260 "Script as Create returns error for tables created on DataPool"
Issue Type: <b>Bug</b>

1. Create an external table on a SQL 2019 BDC, with data source = SqlDataPool

2. In ADS, right click on "Script As Create"

3. Get error dialog: "Scripting Failed: No script was returned when scritping as Create on object Table"

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64

[2019-09-18 15:29] sharpskie opened #7261 "SQL Server explorer just loading forever"
Issue Type: <b>Bug</b>

In my instance of the azure data studio, I always have the instance that after logging in the instance of the locally installed sql server, the loading icon is just there and no server objects shown.

Steps to reproduce:
1. Open Azure Data Studio
2. Add a connection for the first time
3. Close Azure Data Studio
4. Open Azure Data Studio
5. Open the sql server explorer and d

[2019-09-18 15:46] Charles-Gagnon commented on #6911
@chlafreniere Why did you close this issue? It's still an open issue and should definitely be done.

Ideally I'm thinking the experience should be :

1. The command takes in a book name and optionally a specific section (URL) within that book
2. If launched from the command palette it opens a quick pick with the list of known installed books (such as the SQL 2019 book)

[2019-09-18 15:53] Charles-Gagnon commented on #7257
@CobusKruger I'm confused about your MARS settings - you say the error is `Query failed: The connection does not support MultipleActiveResultSets.` but then you say you specific enable MARS and it fails. That seems expected to me given the error - did you mean to say that you **disabled** MARS and still got the error?

[2019-09-18 15:53] chlafreniere commented on #6911
Ugh I mistakenly closed the wrong one. Thanks for catching me here, @Charles-Gagnon

[2019-09-18 16:07] joelvega commented on #6804
I can still navigate the menus, but I am no longer able to query databases.

[2019-09-18 16:09] Charles-Gagnon commented on #7261
Are you able to connect to other servers?

Are you able to connect using other tools (such as SSMS)?

If you open the developer console (Help -> Toggle Developer Console -> Console tab) are there any errors listed?

In addition could you also follow these steps to get us some additional logs that will hopefully track down what the issue is :

1. In ADS open the settings and find the **Mssql: Traci

[2019-09-18 16:09] kburtram opened #7262 "Update internal build pipelines to use npm caching"
- Azure Data Studio Version: `DRI`

Turn on npm caching in internal Azure Pipeline builds to reduce errors during the `yarn install` build step.

[2019-09-18 16:13] #4523 closed

[2019-09-18 16:19] #6936 closed

[2019-09-18 16:28] sharpskie commented on #7261
Are you able to connect to other servers? **Yes**

Are you able to connect using other tools (such as SSMS)? **Yes**

If you open the developer console (Help -> Toggle Developer Console -> Console tab) are there any errors listed?

I actually dont know which error here is relevant, i just pasted here the errors in my console log
![image](https://user-images.githubusercontent.com/13739208/65166646-

[2019-09-18 16:28] #7261 closed

[2019-09-18 16:40] novusnick opened #7263 "Tab randomly closes when clicked on"
There have been several instances when I am on one tab in the SQL editor and then I click on a separate tab, that the tab that I click on closes.  It doesn't happen all the time and so far I can't detect a pattern for when it happens, save that I'm on a normal view (aka. not split view) when it does happen.  It is very frustrating as I lose all the SQL I was working on

[2019-09-18 16:46] udeeshagautam commented on #6997
Thanks for the explanation. Apologies for not understating the issue fully the first time. Create database is not an option present in ADS at this point. Regarding restore - we will work towards the restore option being available from the databases context menu.

[2019-09-18 16:53] Charles-Gagnon commented on #7261
It looks like you might be hitting an issue that we recently fixed in https://github.com/microsoft/azuredatastudio/pull/7084

If you're able to could you try install the latest [insiders build](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-master) and see if you still have the issue then?

[2019-09-18 17:04] rajmera3 opened #7264 "Manage Packages - Button Trigger on "Enter""
**[Enhancement][UI/UX]**
When I was trying to search and add a package through the Manage Packages GUI, I pressed Enter and instead of the search happening, the sideview was closed. This required restarting the process.

**Solution:**
If a search query has been entered, update the "Enter" button trigger to perform a search instead of closing the view, and update the Search button color to blue to

[2019-09-18 17:16] simonds opened #7265 "Main window is always on top"
Issue Type: <b>Bug</b>

With the latest version, the main application window stays on top of all other windows in the operating system.

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @

[2019-09-18 17:38] gbritton1 opened #7266 "Which version of Markdown is supported in Notebooks?"
Which flavor of markdown is supported in ADS:

1. [Common Mark](https://commonmark.org/)
2. [Github Markdown](https://help.github.com/articles/github-flavored-markdown)
3. [Markdig](https://docs.microsoft.com/en-us/contribute/how-to-write-use-markdown)
4. Something else?

I've noticed several incompatibilities in ADS Notebooks compared with Github Flavored Markdown and Common markdown.

For exampl

[2019-09-18 17:41] uc-msft opened #7267 "Explain plan is broken"
![plan](https://user-images.githubusercontent.com/10999577/65171964-eea29b80-da00-11e9-974f-13552ae8388a.png)
Issue Type: <b>Bug</b>

No lines between operators, just bunch of boxes with the operators are shown & some of the graphics are blank too.

Azure Data Studio version: azuredatastudio-insiders 1.12.0-insider (6af544afde27852343d403e2e11de7e104183a27, 2019-09-18T07:50:32.629Z)
OS version: Wi

[2019-09-18 17:45] CobusKruger commented on #7257
@Charles-Gagnon Note that the MARS error only occurs once a notebook gets disconnected and I try to reconnect.

To clarify, there is nothing dodgy about the connection. Here's the sequence:

1. I used the exact same entry on the *Recent Connections* list when creating the notebook, and it worked a charm.
2. Once disconnected, I _cannot_ reconnect using that entry, whether MARS is on or off.
3. The

[2019-09-18 17:47] uc-msft opened #7269 "Startup of ADS is really slow...."
Issue Type: <b>Bug</b>

I cannot connect to a server or do new query etc for almost a minute in the recent builds.

Azure Data Studio version: azuredatastudio-insiders 1.12.0-insider (6af544afde27852343d403e2e11de7e104183a27, 2019-09-18T07:50:32.629Z)
OS version: Windows_NT x64 10.0.18975

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7820HQ CPU @ 2.90

[2019-09-18 18:08] anthonydresser commented on #7269
For performance related issues can you post the results of the command `Developer: Startup Performance`
![image](https://user-images.githubusercontent.com/4324725/65173868-9a011f80-da04-11e9-9f34-de2e3469c8b7.png)

The useful sections are `Performance Marks` and `Extension Activation Stats`

[2019-09-18 18:08] Charles-Gagnon commented on #7269
Please follow the instructions [here](https://github.com/Microsoft/azuredatastudio/wiki/Performance-Issues) to help us figure out where the problem is.

[2019-09-18 18:22] Charles-Gagnon opened #7271 "Schedule Notebook : Connection picker isn't displaying correctly"
![image](https://user-images.githubusercontent.com/28519865/65174778-63c49f80-da06-11e9-8438-887603adaf09.png)

Note the empty ()

Why are we even having the user select a connection? It should be reusing the SQL connection from the Notebook.

[2019-09-18 18:24] Charles-Gagnon opened #7272 "Schedule Notebook : Not selecting a connection displays modal error"
1. Click **Schedule Notebook** in a Notebook editor
2. Quick pick displays, click somewhere else or hit ESC to not select a connection
3. Get this error

![image](https://user-images.githubusercontent.com/28519865/65174938-ba31de00-da06-11e9-96b3-6d006c310682.png)

We definitely shouldn't be using a modal dialog for this - and really shouldn't be displaying an error at all (cancelling out of the q

[2019-09-18 18:28] Charles-Gagnon opened #7273 "Schedule Notebook : Dialog slow to open"
After selecting a connection I get a long delay where nothing appears to happen - until the dialog pops up. Even then though it stays blank for a bit before populating with the UI

![Capture](https://user-images.githubusercontent.com/28519865/65175238-5a880280-da07-11e9-9047-471ef53f7119.gif)

[2019-09-18 18:29] konpl commented on #7199
Yes. The same situation with plain text and other formats.

[2019-09-18 18:32] Charles-Gagnon opened #7274 "Schedule Notebook : Scheduling from untitled Notebook isn't possible"
1. Create new untitled Notebook
2. Click **Schedule Notebook**
3. Fill out fields and click OK
4. Get this error

![image](https://user-images.githubusercontent.com/28519865/65175548-ebf77480-da07-11e9-9410-b28ac6fde297.png)

This is likely because the Notebook isn't saved to disk so the "path" isn't an actual path

[2019-09-18 18:33] Charles-Gagnon opened #7275 "Schedule Notebook : Databases are marked as required but not being checked"
![image](https://user-images.githubusercontent.com/28519865/65175371-a0dd6180-da07-11e9-885b-148a0ee70c22.png)

Clicking OK at this point gives an error

![image](https://user-images.githubusercontent.com/28519865/65175641-1b0de600-da08-11e9-929e-9b08c310e73b.png)

We should disable the OK button until those fields are populated correctly.

[2019-09-18 18:37] anthonydresser commented on #7199
If you have vscode installrd, can you see if it repros in vscode?

[2019-09-18 18:44] kburtram commented on #7267
Thanks for reporting!  This looks like a duplicate of https://github.com/microsoft/azuredatastudio/issues/4755.  The SentryOne Plan Explorer extension provides a much better execution plan experience.

[2019-09-18 18:44] #7267 closed

[2019-09-18 18:46] kburtram commented on #7265
@simonds do you have any additional repro steps?  We haven't seen this behavior internally yet.

[2019-09-18 18:49] kburtram commented on #6913
@Fatboy125 we don't currently have plans to bring Maintenance Plans to ADS.  One challenge with this feature is that SSIS doesn't have a cross-platform implementation (it contains a lot of C++ COM).  I'll keep this feature request in the backlog for PMs to consider.

[2019-09-18 18:51] konpl commented on #7199
Sorry, can't try in vscode

[2019-09-18 18:51] kburtram commented on #6999
The status bar color depends on the state of the application.  For example, if there is a folder open or not, etc.  We can consider changing this behavior but this is coming from upstream in VS Code.

[2019-09-18 18:52] jasoncavett commented on #6936
Hi @Charles-Gagnon. I just checked on version 1.11.0 (user setup) and it now comes back quickly so this bug is no longer an issue. (It occurred when I would click Connect on the SQL Query editor, but it no longer happens.).

Thank you for checking in on this.

[2019-09-18 19:45] udeeshagautam commented on #6168
Seems similar to this issue #6800
Should be fixed in this PR  https://github.com/microsoft/azuredatastudio/pull/6882

[2019-09-18 19:49] akamath46297 commented on #7201
I have https://github.com/microsoft/pgtoolsservice/pull/219 out for this

[2019-09-18 19:49] udeeshagautam commented on #6167
Non-Default theme issue.

[2019-09-18 19:54] udeeshagautam commented on #6156
Dup of https://github.com/microsoft/azuredatastudio/issues/6153

[2019-09-18 19:58] udeeshagautam commented on #6152
Same issue as #6796
Should be fixed https://github.com/microsoft/azuredatastudio/pull/7008

[2019-09-18 20:01] udeeshagautam commented on #5751
Similar to issue : #6667
Should be fixed in https://github.com/microsoft/azuredatastudio/pull/6774

[2019-09-18 20:15] udeeshagautam commented on #5683
Known issue same as: https://github.com/microsoft/azuredatastudio/issues/6909
This can be close since this happen one when moving away or towards as header

[2019-09-18 20:17] simonds commented on #7265
Restarted app and problem went away. Should have followed first rule of troubleshooting: restart!

[2019-09-18 20:17] #7265 closed

[2019-09-18 20:28] udeeshagautam commented on #6069
Fix should be of the pattern : https://github.com/microsoft/azuredatastudio/pull/6783

[2019-09-18 20:35] udeeshagautam commented on #6151
Fix should be similar to https://github.com/microsoft/azuredatastudio/pull/6816

[2019-09-18 20:37] udeeshagautam commented on #5975
Non-Default theme (solarized light theme) issue.
Sample : #6781

[2019-09-18 22:02] #1618 closed

[2019-09-18 22:14] corivera opened #7280 "Notebook saves wrong kernel when saving immediately after kernel is changed"
Repro steps:
1. Open a new, untitled notebook.
2. Change kernel from SQL to Python 3.
3. After kernel dropdown updates, save the notebook.
4. When the notebook reopens after the save, the kernel in the dropdown is SQL instead of the expected Python 3.

Note that this bug doesn't show up if you add an empty cell after the kernel change. This cell doesn't even need to be run, just added.

[2019-09-18 22:52] ghstwhl commented on #7031
I'd like to amend the last sentence of my first paragraph.  I ended it with "does not have an off-line installer".  I should have said "does not have a command-line installer".  ADS supports the off-line installation of extensions; but that still has to be done via the GUI, which isn't possible in the described scenario.

[2019-09-18 22:59] Charles-Gagnon commented on #7031
Does using the --install-extension option not cover your scenario?

--install-extension <ext> | Install an extension. Provide the full extension name publisher.extension as an argument. Use --force argument to avoid prompts.
-- | --

[2019-09-18 23:17] ghstwhl commented on #7031
@Charles-Gagnon - I had not encountered that in the ADS documentation or when searching for a solution.  Let me give that a try, and I'll close this if it works.

[2019-09-18 23:36] Charles-Gagnon commented on #7031
Yeah it looks like that's a gap in our documentation. You can see the available options by running

`azuredatastudio --help`

from a command prompt or by looking at https://code.visualstudio.com/docs/editor/command-line (we have the same ones they do + a few extras such as server & database for starting with an existing connection open)

[2019-09-18 23:37] Charles-Gagnon commented on #7031
And note that you can give the full path to a VSIX as well if you want to do a truly off-line install of an extension

[2019-09-19 00:21] chlafreniere opened #7281 "Create Tests in ConnectionDialogService for Canceling out out of dialog"
Create tests for connectionDialogService for the following scenarios:

- Connection exists already in queryInput, user cancels out of dialog
- Connection does not yet exist in queryInput,  user cancels out of dialog
- User cancels out of dialog while connecting to new server

[2019-09-19 00:30] Charles-Gagnon commented on #7031
I'm going to close this now since this should resolve your ask - let us know if this doesn't cover your needs completely!

[2019-09-19 00:30] #7031 closed

[2019-09-19 06:55] mochr commented on #3700
As mentioned in issue #6408, I get the error "Error adding account", without further details. The browser returns "You have signed in to the Azure Data Studio application on your device. You may now close this window.".
I'm attempting to log in using my account that is linked to Windows when using the browser.

Using the console, I can see that the error comes from: c:\Users\<user name>\AppData\Lo

[2019-09-19 07:59] Lodzilla commented on #3700
Following on from my post on July 20th:

Despite trying multiple times over multiple days and having no luck, when I tried again with the same version a week later it installed fine. I'm on a Mac, but my system had done no obvious updates, OS cleanups, settings changes, nothing. So it suggests something cache-related on a system-by-system basis, as the errors suggest, but seemingly Microsoft are t

[2019-09-19 10:11] sondreb commented on #4085
I think the reason for this error is due to access to multiple tenants on the account you login with. Using an account that only have access to a single tenant works fine, but if user has access to multiple tenants, the anonymous dialog appear.

[2019-09-19 10:35] millionbonus opened #7283 "Add command or shortcut to focus on results-view."
Sometimes, after run a select command. I need to use mouse click on results-view to get focus on results-view then I can browse data or copy some of them.

If there is a command or shortcut which can get cursor focus on result-view would be good.

[2019-09-19 11:24] SvenAelterman commented on #4085
@sondreb I think you’re on to something.

[2019-09-19 13:17] rl-msft opened #7284 "Create external table wizard against Oracle fails with - Cannot read property 'contributes' of undefined"
### Issue
ADS wizard to create external table against Oracle is failing with this error

 **Cannot read property 'contributes' of undefined**

### ADS build:
Version: 1.12.0-insider (user setup)
Commit: 6af544afde27852343d403e2e11de7e104183a27
Date: 2019-09-18T07:50:32.629Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.1836

[2019-09-19 13:37] demoolya opened #7285 "[ADS] ADS LOGS url (Kibana) not working for Metrics and Logs Pods"
Issue Type: <b>Bug</b>

· In ADS under Big data cluster overview -> Cluster Details-> Control, the LOGS url for metricsdc, metricsui, metricsdb, logsui, logsdb and mgmtproxy takes us to "file:///C:/Program%20Files/Azure%20Data%20Studio%20-%20Insiders/resources/app/out/vs/code/electron-browser/workbench/workbench.html".
· The Kibana logs are not available for these PODS which I assume is expected c

[2019-09-19 15:37] Charles-Gagnon commented on #7285
Thanks for the report @demoolya - I've confirmed that not all instances will have logs available and so am changing it to display N/A if a URL is not available.

[2019-09-19 16:38] amachanic commented on #6968
@Charles-Gagnon the thing you linked to is *not* the extension, it's a SQL stored procedure on which the extension is based.

[The extension is here.](https://github.com/microsoft/azuredatastudio/tree/master/samples/sp_whoIsActive) -- And it's part of this repo, so this issue should be left open and/or fixed here.

[2019-09-19 16:43] Charles-Gagnon commented on #6968
Ah, sorry about that! Don't know how I missed that.

[2019-09-19 16:50] kevcunnane commented on #7284
@corivera can you take a look and see if there's a regression in Insiders?

[2019-09-19 16:59] kevcunnane commented on #7266
@chlafreniere this seems like a bug. In a standard markdown document the code block is colorized as expected. This indicates we're likely missing some CSS rules or other processing that makes this work.

![image](https://user-images.githubusercontent.com/10819925/65264682-fd9e5200-dac3-11e9-8e78-12fefa67e867.png)

@gbritton1 we're using the standard markdown parser used by VSCode elsewhere. I don'

[2019-09-19 18:32] Charles-Gagnon commented on #7161
Fix merged in https://github.com/microsoft/sqltoolsservice/pull/867 - once we get an updated SqlToolsService then I'll update insiders with the new version.

[2019-09-19 18:38] #6968 closed

[2019-09-19 18:54] pchristo4410 opened #7289 "Command Bar disappears on Save"
Issue Type: <b>Bug</b>

When you start a New Query, there is a command bar at the top of the file (Run, Cancel, Disconnect, etc.)

Upon saving the query to a file (File --> Save), the command bar disappears and I see no setting or other way to view it again.

Azure Data Studio version: Azure Data Studio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T17:14:33.682Z)
OS version: Darwin

[2019-09-19 19:17] kburtram commented on #7289
@pchristo4410 are you saving the file with a `.sql` extension?  If not, then the language mode of the file would change causing the toolbar to not be shown.

You should be able to get the get the toolbar back by switching the language mode to SQL by clicking one the language mode button in the status bar (if it already says SQL you should be able to switch to some thing else then switch back to SQ

[2019-09-19 20:19] pchristo4410 commented on #7289
Yes, it was being saved with .SQL extension. The workaround above does work to get it to go back into SQL language mode. Thanks!

[2019-09-19 20:39] kevcunnane opened #7291 "VSCode release notes shown on update of Insiders app"
Issue Type: <b>Bug</b>

- Open Azure Data Studio Insiders
- Check for updates and choose "Restart to update"
- Note that the VSCode Insiders release notes are shown unexpectedly (see image below)

![image](https://user-images.githubusercontent.com/10819925/65279324-d014d100-dae2-11e9-87b2-30bc0061c46b.png)

@anthonydresser any idea if a recent VSCode merge cause this?

Azure Data Studio version: A

[2019-09-19 20:43] Charles-Gagnon commented on #7291
Duplicate of #7242 so closing this one

[2019-09-19 20:43] #7291 closed

[2019-09-19 20:43] #7285 closed

[2019-09-19 20:50] gbritton1 commented on #7266
Thanks!  BTW, is  the markdown supported by the standard md processor documented?  Or can we say that is is like CommonMark or something else?  There are some other things I thought would work but discovered otherwise.  It would be nice to have a handy reference to go to,

[2019-09-19 20:52] corivera commented on #7284
Duplicate of https://github.com/microsoft/azuredatastudio/issues/7233

[2019-09-19 20:53] #7284 closed

[2019-09-19 21:05] A-damW commented on #2724
Yes please...

[2019-09-19 21:13] #7233 closed

[2019-09-19 21:15] kevcunnane commented on #7266
@chlafreniere can you help on this? I'm not as knowledgeable as you.

[2019-09-19 21:39] Charles-Gagnon opened #7294 "Electron 6 Merge : Connection Dialog clear list icon misaligned"
Expected :

![image](https://user-images.githubusercontent.com/28519865/65283056-3271cf80-daeb-11e9-9acb-c41edc579bef.png)

Actual :
![image](https://user-images.githubusercontent.com/28519865/65282924-fc345000-daea-11e9-8f61-5be6901e5d70.png)

[2019-09-19 21:39] chlafreniere commented on #7266
We used a markdown renderer from VS Code, which targets the CommonMark spec: https://code.visualstudio.com/docs/languages/markdown#_does-vs-code-support-github-flavored-markdown.

The caveat to this is that we don't share 100% of the same CSS, so it's possible that we see differences between the 2 products. We can take a look at any differences and try to understand where gaps exist.

[2019-09-19 21:43] anthonydresser commented on #7294
should be fixed https://github.com/microsoft/azuredatastudio/pull/7282/commits/4a4d76da83bad12db80e1aa7870ec2668f0ffabe

[2019-09-19 21:48] A-damW commented on #3331
In my opinion (especially for large/complex DB's), these are essential feature(s).

Another feature I would like to see, is the ability to apply a saved filter as a default.

[2019-09-19 21:52] Charles-Gagnon opened #7295 "Electron 6 Merge : Query Editor missing icons"
Expected :

![image](https://user-images.githubusercontent.com/28519865/65283892-048d8a80-daed-11e9-8b94-dae7cd57a3ef.png)

Actual :
![image](https://user-images.githubusercontent.com/28519865/65283909-0d7e5c00-daed-11e9-90f8-f50656bafab9.png)

[2019-09-19 21:57] Charles-Gagnon opened #7296 "Liveshare extension errors in console"
Activating extension 'Microsoft.liveshare' failed: Cannot find module 'c:\Users\chgagnon\AppData\Local\Programs\Azure Data Studio - Insiders\resources\app\extensions\liveshare\out\main'
Require stack:
- c:\Users\chgagnon\AppData\Local\Programs\Azure Data Studio - Insiders\resources\app\out\vs\loader.js
- c:\Users\chgagnon\AppData\Local\Programs\Azure Data Studio - Insiders\resources\app\out\bootst

[2019-09-19 21:59] Charles-Gagnon opened #7297 "Electron 6 Merge : Message ... didn't get externalized correctly"
Seeing these in the console (not just these two, others occasionally pop up)

![image](https://user-images.githubusercontent.com/28519865/65284309-073caf80-daee-11e9-8602-40b32406da06.png)

[2019-09-19 22:01] Charles-Gagnon opened #7298 "Electron 6 Merge : EnablePreviewFeature depends on UNKNOWN service windowsMainService"
I'm not seeing the pop up asking to enable preview features and this error appears in console

![image](https://user-images.githubusercontent.com/28519865/65284373-34895d80-daee-11e9-98f2-29a013b48d77.png)

[2019-09-19 22:06] anthonydresser commented on #7295
should be fixed 4a4d76d

[2019-09-19 22:06] #7295 closed

[2019-09-19 22:06] #7294 closed

[2019-09-19 22:07] anthonydresser commented on #7296
I don't think this is new in electron 6. This existing in master.

[2019-09-19 22:19] anthonydresser commented on #7298
fixed https://github.com/microsoft/azuredatastudio/pull/7282/commits/4f2fbee44ecdcdc413a944b0deed744e0a09f30d

[2019-09-19 22:19] #7298 closed

[2019-09-19 22:22] anthonydresser commented on #7297
This exists in master.

[2019-09-19 22:22] #7297 closed

[2019-09-19 22:43] rajmera3 commented on #7233
Has this been solved? Getting this error after a fresh install of the SQL Server 2019 Preview extension and then trying to create an external Oracle DB

[2019-09-19 22:45] corivera commented on #7233
Yes, this has been fixed. It should be available in the next insiders build.

[2019-09-19 23:57] HaydenRead opened #7302 "Unable to install with Microsoft AppLocker"
It does not seem to be possible to set this up in Applocker to allow a User based install.
While the install file is Signed, and can be allowed through Applocker, it generates a temporary file
%OSDRIVE%\USERS\*\APPDATA\LOCAL\TEMP\IS-????.TMP\AZUREDATASTUDIO-WINDOWS-USER-SETUP-1.11.0.TMP
It does not seem possible to allow this file through Applocker, and it does not seem to be signed as the install

[2019-09-20 00:51] ghstwhl commented on #7031
@Charles-Gagnon I've added the installation of the extension to our packer build, and it seems to complete without any errors.  But when I deploy a new instance and launch Azure Data Studio I don't see PostgreSQL as an available connection type, and then when I go to View/Extensions I see the PostgreSQL extension as available to be installed.  Seems like the command line install didn't work.

[2019-09-20 03:39] ghstwhl commented on #7031
@Charles-Gagnon I do see a message that preview features need to be enabled for extensions.  Can preview features be enabled via the command line prior to the extension install?  I don't see a command line option for that.

It does seem that having updated to 1.11.0 to make sure I'd tried everything possible that extension installation no longer requires admin privs, so even though command line in

[2019-09-20 13:23] gbritton1 opened #7304 "Gaps in markdown rendering in notebooks"
- System information:

CPUs | Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz (8 x 1896)
-- | --
GPU Status | 2d_canvas: enabledflash_3d: enabledflash_stage3d: enabledflash_stage3d_baseline: enabledgpu_compositing: enabledmultiple_raster_threads: enabled_onnative_gpu_memory_buffers: disabled_softwareoop_rasterization: disabled_offprotected_video_decode: enabledrasterization: enabledskia_deferred_display_

[2019-09-20 13:24] gbritton1 commented on #7266
I opened a new issue on this: https://github.com/microsoft/azuredatastudio/issues/7304

[2019-09-20 13:24] #7266 closed

[2019-09-20 15:06] Charles-Gagnon commented on #7031
@ghstwhl Are you calling the exe directly? You need to invoke the cmd file instead for command-line options to work :

`"%LOCALAPPDATA%\Programs\Azure Data Studio\bin\azuredatastudio.cmd" --install-extension microsoft.azuredatastudio.postgresql`

the above worked for me just fine.

For enabling preview features I don't believe there's a way to do that directly. But you can modify `"%APPDATA%\azure

[2019-09-20 15:40] vtruong68 commented on #6418
Same issue here. I have to open up SSMS and go through the same process to view the errors.

[2019-09-20 15:42] vtruong68 commented on #200
This is a must. I have to interrupt my workflow and convert to .csv or use SSMS to import data.

[2019-09-20 17:04] kburtram opened #7305 "Windows build timeout at 120 minutes and fails"
The ad-hoc Windows Azure DevOps build failed last night from a 120 minute timeout error.  We should either reduce the build time or increase the build timeout.

[2019-09-20 17:41] alanrenmsft opened #7306 "Create a notebook cell in collapsed state using API"
Current API:
[code]

Proposed API:
[code]

[2019-09-20 17:47] #6929 closed

[2019-09-20 18:20] Charles-Gagnon opened #7307 "BDC Dashboard : Long Service Endpoint URLs aren't displayed correctly"
![MicrosoftTeams-image](https://user-images.githubusercontent.com/28519865/65349594-a8804000-db98-11e9-873f-33ba5b3cb928.png)

[2019-09-20 19:06] #7252 closed

[2019-09-20 20:22] MaddyDev opened #7308 "Edit data: ensure user entered line breaks (\r\n or \n) to be persisted as is."
An extension to #1303

To track the below issue:
We shouldn't be modifying the user entered content regardless.

![image](https://user-images.githubusercontent.com/12754347/65356565-9eb30880-dba9-11e9-8b89-481e39ad15ed.png)

[2019-09-20 21:33] alanrenmsft commented on #7308
The ideal solution is to enable multi line text editor if you detect line breaks or long text.
we are using the angular slickgrid wrapper, you can modify it here: https://github.com/Microsoft/angular2-slickgrid. in slickgrid.ts, we have the following code:

[code]

slickgrid provides other editor types, for example LongTextEditor which looks like this:

![Screen Shot 2019-09-20 at 2 32 16 PM](http

[2019-09-20 22:59] camerontbelt opened #7310 "See the design of Views, and Modify stored procedures."
- Azure Data Studio Version: Latest as of 9/20/2019

As the title says I would like to be able to see the design of Views, and Modify stored procedures.

[2019-09-20 23:00] #6348 closed

[2019-09-21 00:01] kburtram commented on #7305
I turned off the "archive compiled files" step to save ~20 minutes from builds.

[2019-09-21 00:01] #7305 closed

[2019-09-21 23:05] #7109 closed

[2019-09-22 19:18] nirzaf opened #7314 "Cannot connect with SQL EXPRESS"
Issue Type: <b>Bug</b>

Cannot connect with SQL EXPRESS

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-5200U CPU @ 2.20GHz (4 x 2195)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash_

[2019-09-23 01:17] ghstwhl commented on #7031
@Charles-Gagnon This is the powershell I use to install the extension.  It works when I run it by hand; but while it runs without error in my build system the resulting image doesn't have the extension installed.  Since the command line option to install works when I run it by hand, the problem is clearly in my build system and not with the functionality itself.  Thank you for all your help.

`Try

[2019-09-23 17:17] chlafreniere opened #7315 "Ensure PySpark Kernel targets Python 3 By Default"
Ensure PySpark kernel targets Python 3 by default.

[2019-09-23 17:41] chlafreniere opened #7316 "Ensure Test Suites are Written to stdout when Running Extension Unit Tests"
The ad-hoc Windows Azure DevOps build failed in part due to extension unit test timeouts.

[2019-09-23 17:55] chlafreniere opened #7317 "Disable Ad-Hoc Scheduled Builds"
We don't need to be running the Ad-Hoc build definitions on a daily basis; these build definitions are supposed to only be run when necessary.

[2019-09-23 17:59] chlafreniere opened #7318 "Cleanup Build Issues when Not Publishing Compiled Artifacts"
We recently stopped generating a compiled tar.gz file on every build, but pipelines in Azure DevOps are failing because some steps (like publishing said artifact) required the compiled.tar.gz file to be there in the Windows pipeline.

[2019-09-23 18:24] kburtram opened #7319 "Improve process around changing build definitions"

[2019-09-23 19:14] dbamaster opened #7320 "Active sessions \ files closes when I open the command palette - Sporadic issue"
- Azure Data Studio Version:
1.11
- Operating system:
macOS 10.14 (Mojave)

Steps to Reproduce:
1. Open a SQL File, connect to a SQL Server instance  (leave it open)
2. Right click on SQL Server instance name, select New Query (leave it open)
3. Open command palette ( ⌘ + ⇧ + p)
4. All active sessions and SQL files disappears

This is a sporadic issue, does not happens all the time. I think will b

[2019-09-23 19:30] rmvp opened #7321 ""service component could not start" Source: SQL Server Import (Extension)"
Issue Type: <b>Bug</b>

When I start Azure Data Studio I get notification staying that;
"service component could not start"
Source: SQL Server Import (Extension)
Then, If I try to run the import wizard, I get the following;
command 'flatFileimport.start' not found

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T17:09:00.875Z)
OS version: Lin

[2019-09-23 19:37] rmvp commented on #7321
![Screenshot from 2019-09-23 14-35-37](https://user-images.githubusercontent.com/30558303/65456731-95c37080-de0f-11e9-9879-596c79b889b0.png)

[2019-09-23 19:39] rmvp commented on #2716
@riddhi95 I have followed your suggestions and still have issue.

![Screenshot from 2019-09-23 14-35-37](https://user-images.githubusercontent.com/30558303/65456868-e63ace00-de0f-11e9-91a2-0074eb288022.png)

[2019-09-23 19:43] kburtram commented on #7317
@chlafreniere let's discuss this in DRI meeting today.  I think there is some value in have a redundant daily build against master, as it helps to determine real infra problems from transient issues.  Thought I agree it may not be worth adding the additional resource consumption\contention.

[2019-09-23 19:46] chlafreniere commented on #7321
@rmvp can you ensure that you have the latest version of the import extension?

[2019-09-23 19:57] chlafreniere opened #7322 "Rows Affected Message No Longer Outputted from Query"
"(n) Rows Affected" message no longer appears either in the query editor or in notebooks.

This issue is blocking publish for the Insiders build from today, as we have test failures.

[2019-09-23 19:59] rmvp commented on #7321
@chlafreniere
Name: SQL Server Import
Id: microsoft.import
Description: SQL Server Import for Azure Data Studio supports importing CSV or JSON files into SQL Server.
Version: 0.10.0
Publisher: Microsoft
VS Marketplace Link: undefined?itemName=Microsoft.import

[2019-09-23 20:03] chlafreniere opened #7323 ""This editor is not connected to a database" Error during Integration Tests"
OE and Dacpac tests are failing with the following error:

Error: This editor is not connected to a database
Parameter name: OwnerUri
    at handleResponse (e:\mssqltoolsagentworkspace\72\s\extensions\mssql\node_modules\vscode-jsonrpc\lib\main.js:436:48)
    at processMessageQueue (e:\mssqltoolsagentworkspace\72\s\extensions\mssql\node_modules\vscode-jsonrpc\lib\main.js:263:17)
    at Immediate.<a

[2019-09-23 20:18] Charles-Gagnon commented on #2716
Could you please open the developer console (Help -> Toggle Developer Tools) and then go to the **Console** tab and include any error messages you're seeing there?

[2019-09-23 20:21] Charles-Gagnon commented on #7321
I'm going to close this as a duplicate of #2716 since they seem to be the same. Please use that one for updating with further information!

[2019-09-23 20:21] #7321 closed

[2019-09-23 20:32] rmvp commented on #2716
@Charles-Gagnon

![Screenshot from 2019-09-23 15-30-17](https://user-images.githubusercontent.com/30558303/65460345-441ee400-de17-11e9-94ec-962bf94dd5f9.png)
![Screenshot from 2019-09-23 15-30-00](https://user-images.githubusercontent.com/30558303/65460346-441ee400-de17-11e9-9b9a-f69874bbac2d.png)

[2019-09-23 20:33] kevcunnane opened #7324 "Controller Dashboard: toolbar isn't styled"
Issue Type: <b>Bug</b>

The toolbar styling isn't matching things like the Notebook toolbar. I believe this should be a built-in component so has this regressed? We should ensure this is consistent.

![image](https://user-images.githubusercontent.com/10819925/65460418-afac8580-de06-11e9-82eb-6637338f733d.png)

Specific issues:
- Spacing is off
- On click, get left with blue selection box around th

[2019-09-23 20:40] chlafreniere opened #7325 "Notebooks: Run Button in Cells is Styled Incorrectly"
The run button for cells is not styled properly and is much smaller than it used to be:
![image](https://user-images.githubusercontent.com/40371649/65460809-95bf7280-de07-11e9-8f36-27407abbc536.png)

Note: not an October issue, as that branch doesn't have this change. This is a regression, however.

[2019-09-23 20:47] chlafreniere commented on #7322
Looks like this is due to the following commit: https://github.com/microsoft/azuredatastudio/commit/1f61a2581cac370eb9b8c69b1557b767adbfd7e1

[2019-09-23 21:05] #6868 closed

[2019-09-23 21:21] Charles-Gagnon commented on #2716
Hmm, nothing too useful. Could you also look in `~/.azuredatastudio/extensions/microsoft.import-0.10.0/` and see if you have a flatfileimportservice folder there? And does it contain anything if it is?

If it isn't then could you try

1. Closing ADS
2. Manually downloading https://sqlopsextensions.blob.core.windows.net/extensions/import/osx.tar.gz and then extracting the contents of that folder in

[2019-09-23 21:23] aaomidi opened #7326 "flexbox.css is being pulled from a bad location"
The flexbox.css file manages a lot of our layout, for example allowing for scrolling and properly displaying content with the overflow settings. However it is only being pulled from https://github.com/microsoft/azuredatastudio/blob/master/src/sql/workbench/parts/editData/browser/gridParentComponent.ts#L6.

This means if  we disable the editData contribution point, the layout for notebooks & dashbo

[2019-09-23 22:08] hannahqin commented on #6661
Marking this for Exclusion. @fsteffi, please work with a SME to review.
https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx

**Importance of Experience:** minimal
Schema compare feature is an extension, not part of ADS core, thus does not affect all users. The re-compare pop-up provides a convenient reminder and easy access point for re-comparing after modifying option

[2019-09-23 22:16] corivera opened #7328 "Notebooks: Cell's More Actions button icon is missing"
![image](https://user-images.githubusercontent.com/12820011/65466971-1b95ea80-de15-11e9-8558-92d6a4c25bef.png)

[2019-09-23 22:17] corivera commented on #7328
Expected style:
![image](https://user-images.githubusercontent.com/12820011/65467044-51d36a00-de15-11e9-8e8d-2ef94f50d9db.png)

[2019-09-23 22:21] hannahqin commented on #6663
Marking this for Exclusion. @fsteffi, please work with a SME to review.
https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx

**Importance of Experience:** minimal
Schema compare feature is an extension, not part of ADS core, thus does not affect all users. The re-compare pop-up is also not a critical experience for schema compares; it provides a convenient way to execu

[2019-09-23 22:21] chlafreniere commented on #7317
We discussed this during the DRI meeting today, and decided to keep this build for no, as it gives more test coverage and allows us to find issues faster. It even found an issue last night that the REL builds didn't find.

[2019-09-23 22:21] #7317 closed

[2019-09-23 23:03] Charles-Gagnon commented on #7322
@chlafreniere So this is definitely because of the SqlClient update. The StatementCompleted event isn't being fired. I'm trying to dig into why that's happening - the changes in our code shouldn't have affected that so I'm thinking this might be an actual bug in SqlClient. I'll update if I figure out anything more specific.

[2019-09-23 23:29] chlafreniere commented on #7318
Thanks for fixing this, @Charles-Gagnon

[2019-09-23 23:29] #7318 closed

[2019-09-23 23:37] chlafreniere commented on #7260
@kevcunnane can you help triage here?

[2019-09-23 23:38] hannahqin commented on #6750
Marking this for Exclusion. @AbhiramDeshmukh, please work with a SME to review.
https://microsoft.sharepoint.com/teams/ceacc/SitePages/External-Bug-process.aspx

**Importance of Experience:** somewhat important
This affects all combo boxes across Azure Data Studio and VS Code (where the bug originated). Combo boxes are most prominently used in wizards that must be installed as part of extensions.

[2019-09-23 23:44] hannahqin commented on #6662
There's a related issue that was approved by an SME for exclusion: http://sqlbuvsts01:8080/Main/SQL%20Server/_workitems#_a=edit&id=11524922 (Azure Data Studio was formerly called SQL Operations Studio)

It references the same NVDA issue that is the cause of this accessibility bug in ADS. **Can we close this?**

[2019-09-24 00:00] qifahs opened #7332 "Loop on canceling connection dialog"
Issue Type: <b>Bug</b>

Repro:
- Connect to Azure using the Object Explorer.
- From one of the subscriptions, click on a SQL database to connect to.
- A connection dialog will popup asking for credentials.
- Try canceling this dialog without entering credentials, to do something else.

ADS gets stuck in a loop. The cancel button brings up a "Login failed to..." message. Dismissing this message, br

[2019-09-24 00:11] stm121184 opened #7333 "Bug changes creds after Correct Sign In!"
Issue Type: <b>Bug</b>

When trying to sign into Azure environment, each drill in requires me to correct the login in after the following error pops up:

----------

System.Data.SqlClient.SqlException (0x80131904): Login failed for user 'rzaradmin'.
   at System.Data.SqlClient.SqlInternalConnectionTds..ctor(DbConnectionPoolIdentity identity, SqlConnectionString connectionOptions, SqlCredential cre

[2019-09-24 00:12] hannahqin commented on #6688
There's a related issue that was closed and approved by an SME for exclusion here: http://sqlbuvsts01:8080/Main/SQL%20Server/_workitems#id=11688052&triage=true&fullScreen=false&_a=edit (Azure Data Studio was formerly called SQL Operations Studio). See discussion for details.

Can we close this one?

[2019-09-24 00:14] chlafreniere commented on #7314
Hi @nirzaf, quick questions:
- Are you able to connect to the same SQL Express instance with any other tools?
- What error are you seeing when attempting to connect?
- Have you previously been able to connect to this instance from Azure Data Studio?

[2019-09-24 00:16] chlafreniere commented on #7333
Hi @stm121184.

Has this experience worked in the past, or has it never worked?

Sorry for the trouble; we'll get someone to take a look at this one.

[2019-09-24 00:19] #7328 closed

[2019-09-24 00:19] MaddyDev commented on #7325
Above merge fixes this.

[2019-09-24 00:19] #7325 closed

[2019-09-24 00:42] chlafreniere commented on #7316
We see the following during test timeouts:

INFO:CONSOLE(177)] "Uncaught Error: write EPIPE", source: events.js (177)
[VS Code]: render process crashed!

[2019-09-24 05:03] extrobe opened #7335 "Open files close unexpectedly with error "Unable to open <filename>.sql: Cannot read property 'length' of null"'"
- Azure Data Studio Version: 1.11.0 (MacOS)

Appears to have been an issue since the update from 1.10.0

Files will close without prompt/warning, and present an error message at the bottom of the screen.

These files are saved on the local machine, and it varies which file it occurs with. I've had it occur with both .sql files and .ipynb files. Not able to reliably reproduce, but occurs several ti

[2019-09-24 14:06] rmvp commented on #2716
@Charles-Gagnon
I think that the content of the folder in the link is for OSX. I am running Ubuntu 18.04
when I extract the content into ~/.azuredatastudio/extensions/microsoft.import-0.10.0/flatfileimportservice and I restart ADS, it installs Flat File Import Service service to ~/.azuredatastudio/extensions/microsoft.import-0.10.0/flatfileimportservice/Linux/0.0.2

[2019-09-24 15:41] rmvp commented on #2716
Correct,
I closed ADS
I deleted the Linux folder from ~/.azuredatastudio/extensions/microsoft.import-0.10.0/flatfileimportservice
Then when I re-start ADS, I can see in the Output window the installation script executes and creates /Linux/0.0.2 folders inside the flatfileimportservice.

![Screenshot from 2019-09-24 10-38-11](https://user-images.githubusercontent.com/30558303/65527112-c2cb5e00-deb7

[2019-09-24 16:37] Charles-Gagnon commented on #7322
Opened https://github.com/dotnet/SqlClient/issues/212 - they're looking into it.

[2019-09-24 17:43] kevcunnane commented on #7260
@shueybubbles does this fail in SSMS also? Is this another case where we need folks to update SMO?

[2019-09-24 17:44] kevcunnane commented on #7260
Triaged - we should get fixed for future update but likely this needs a fix in SMO (by the folks who made related changes)?

[2019-09-24 17:52] abist commented on #7332
@qifahs I'm going to go ahead and close this issue since it' a duplicate of https://github.com/microsoft/azuredatastudio/issues/7332 and being tracked there.

[2019-09-24 17:52] #7332 closed

[2019-09-24 19:52] alanrenmsft opened #7344 "Add validation logic for bdc.json & control.json"

[2019-09-24 20:26] sivey42 commented on #521
Another scenario for this is for me as a consultant. I often am moving from one machine to another, and would love to have a way to export sections of the list and import them elsewhere. For example - at a clients office, I have all of their servers saved, but on my laptop I have folders for each client with servers below them. Being able to import/export at the folder level would make things so m

[2019-09-24 22:00] chlafreniere opened #7347 "Re-Enable SQL Nb Tests after SqlClient Driver Updated"
Re-Enable SQL Nb Tests after SqlClient Driver Updated

See https://github.com/microsoft/azuredatastudio/pull/7346

[2019-09-24 22:01] chlafreniere commented on #7322
https://github.com/microsoft/azuredatastudio/issues/7347 we also need to re-enable these integration tests after a fix comes in from the SqlClient side.

[2019-09-24 22:31] udeeshagautam commented on #5683
Confirmed with accessibility SME Alexandria Reynolds and closing.

[2019-09-24 22:31] #5683 closed

[2019-09-24 23:12] vickyharp opened #7350 "Notebooks: Link hover text is tiny"
Issue Type: <b>Bug</b>

I'm at a pretty normal zoom level but the hover text for a URL is very tiny. Github will scale up the image but on my screen this button text was about 14 pt for reference.

![image](https://user-images.githubusercontent.com/8250560/65556824-df7e8a80-dee5-11e9-99ca-abb1c05624c9.png)

Azure Data Studio version: azuredatastudio-insiders 1.12.0-insider (bf23a52ba433fa13fdc13e9

[2019-09-24 23:40] chlafreniere opened #7351 "ADS Releases for Mac and Linux are failing due to not being able to find source.tar.gz"
ADS Releases for Mac and Linux are failing due to not being able to find source.tar.gz (which we previously stopped building).

[2019-09-25 00:22] kisantia opened #7354 "Schema compare toolbar icons are missing"
The icons in the schema compare toolbar are missing
![image](https://user-images.githubusercontent.com/31145923/65559082-0b9e0980-deee-11e9-81af-a918a4432d70.png)

![image](https://user-images.githubusercontent.com/31145923/65559094-1789cb80-deee-11e9-81eb-6ecc091338b4.png)

[2019-09-25 01:11] kisantia opened #7357 "Schema compare differences table not showing"
After the comparison finishes, the table of differences shows for a second then disappears.

![image](https://user-images.githubusercontent.com/31145923/65561267-ae5a8600-def6-11e9-867a-dda54ade77b6.png)
![schemaCompareDisappearing](https://user-images.githubusercontent.com/31145923/65561274-b61a2a80-def6-11e9-9484-5222c75a9909.gif)

[2019-09-25 03:22] Epivaral commented on #7161
when this fix will be available in the insiders?

[2019-09-25 10:03] eschaubert opened #7358 "Block Comments are not highlighted correctly"
Issue Type: <b>Bug</b>

Block Comments are not highlighted correctly if there is another blockcomment within that blockcomment. In the following code the first test is highlighted as a comment, but the second is not. Evidently, the highlight code looks for the next closing */ even if it does not belong to the blockcomment itself.

/*
/* Test1 */
Test2
*/

Azure Data Studio version: azuredatastudio

[2019-09-25 14:51] tcurtisholden71 opened #7359 "Cannot install revoscalepy"
I would like to use revoscalepy with a Python 3 Azure Data Studio notebook. When I go to Manage Packages I do not see it as one of the installed packages.  I then select Add New then put 'revoscalepy' into the seach box and select the Search button.  The result is 'Could not find the specified package'.  I expect to be able to install revoscalepy so it can be used with Python 3 notebooks in Azure

[2019-09-25 15:00] Charles-Gagnon commented on #7161
@Epivaral The insiders build from last night should have the fix! Try it out and let us know if anyone is still having issues after the update.

[2019-09-25 15:00] #7161 closed

[2019-09-25 15:18] ideoclickVanessa commented on #7161
when can non-insiders expect to see this fix?

[2019-09-25 15:21] Charles-Gagnon commented on #7161
@ideoclickVanessa We're targeting next week for a stable release

[2019-09-25 15:36] Charles-Gagnon opened #7360 "Add Clear All command for Query History"

[2019-09-25 15:39] Charles-Gagnon opened #7361 "Add config setting for Query History Max Entries"
Right now it's unbounded which could cause performance issues. Should have this be a configurable value so users can modify it if they encounter issues.

[2019-09-25 15:44] Charles-Gagnon opened #7362 "Query History doesn't capture separate batches in a single query"
[code]

This results in a single entry in Query History for the first batch but doesn't capture the second or any subsequent batches.

[2019-09-25 17:15] chlafreniere commented on #7323
These tests have been skipped for now.

[2019-09-25 17:17] chlafreniere commented on #7351
Changes were made in the Linux and mac build definitions, and the source artifact is now published. Verified that the insiders build was published on the last successful build.

[2019-09-25 17:17] #7351 closed

[2019-09-25 17:23] chlafreniere opened #7363 "Object Explorer SQL DB Instance Node Label Integration Test Failure"
Insiders build failed last night due to a failure in the "Object Explorer integration suite Azure SQL DB instance node label" test.

Info below:

AssertionError [ERR_ASSERTION] [ERR_ASSERTION]: Failed to find server: "<redacted>.database.windows.net" in OE tree
    at ObjectExplorerTester.<anonymous> (E:\mssqltoolsagentworkspace\72\s\extensions\integration-tests\src\objectExplorer.test.ts:122:3)

[2019-09-25 17:39] vickyharp opened #7364 "Notebooks: Jupyter book TSG behavior on hot exit"
Issue Type: <b>Bug</b>

I did a hot exit from ADS and on reopen, one of the TSGs reopened as shown: long file path, but no content

![image](https://user-images.githubusercontent.com/8250560/65625453-b3641780-df80-11e9-8e14-7c1ec14a97f5.png)

Azure Data Studio version: azuredatastudio-insiders 1.12.0-insider (bf23a52ba433fa13fdc13e97fc0076b19a11de0c, 2019-09-20T09:48:03.076Z)
OS version: Windows_N

[2019-09-25 17:56] #7124 closed

[2019-09-25 18:23] #7315 closed

[2019-09-25 18:40] david8610 opened #7365 "Querry"
Issue Type: <b>Bug</b>

https://dev.azure.com/davidgalim

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-2450M CPU @ 2.50GHz (4 x 2494)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>flash

[2019-09-25 18:41] david8610 commented on #7365
sql aula AS apelido

select top 10  AVG(Listprice) as Pre�o
from Production.Product

Select p.FirstName as Nome, p.LastName as Sobrenome
from Person.Person p

select p.ProductNumber as "Codigo do Produto"
from Production.Product p

select s.UnitPrice as "Pre�o unitario"
from Sales.SalesOrderDetail s

SQL Inner Join

select top 10 *
from Person.Person

select top 10 *
from person.EmailAddress

sele

[2019-09-25 19:05] #7269 closed

[2019-09-25 19:59] #7354 closed

[2019-09-25 20:15] chlafreniere commented on #7365
Hi @david8610 can you give some more info on the issue that you're seeing?

[2019-09-25 20:18] chlafreniere commented on #7359
Hi @tcurtisholden71. We only search the PyPi package index in the Manage Packages dialog. Does this particular package live in another index somewhere?

[2019-09-25 20:21] chlafreniere commented on #7335
Putting this in October for now as this seems really nasty. @extrobe if you see this occur again, any chance that you could open the developer command prompt and go to the console tab? There should be a bit more info about that particular error there.

[2019-09-25 20:22] KyleStay opened #7366 "For existing .sql files, Azure Data Studio isn't using the MSSQL language engine."
Issue Type: <b>Bug</b>

If I try to edit an existing SQL script, Azure Data Studio isn't selecting a SQL engine for it. This prevents intellisense for Database objects. Instead of listing MSSQL, it says "Choose SQL Language". If I copy the script to a new, unsaved file and connect using the same connection, is says "MSSQL".

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e0

[2019-09-25 20:35] KyleStay commented on #7366
To replicate, just a save a new `.sql` file. Intellisense immediately breaks and I see `Choose SQL Language` for `SQL Language Flavor` in the status bar instead of `MSSQL`

[2019-09-25 21:07] Charles-Gagnon commented on #7366
Thanks for the report! This is a known issue - I'm going to close this as a duplicate and you can follow https://github.com/microsoft/azuredatastudio/issues/1876 for any updates.

[2019-09-25 21:07] #7366 closed

[2019-09-25 21:19] KyleStay commented on #1876
@Charles-Gagnon this is show stopping. I have rolled back to the [August release](https://github.com/microsoft/azuredatastudio/releases/tag/1.10.0) which doesn't have this issue and set updating to manual because I cannot work without IntelliSense.

[2019-09-25 21:29] anthonydresser commented on #7366
@Charles-Gagnon I don't believe #1876 is the correct tracking issue.

[2019-09-25 21:31] KyleStay commented on #1876
Also, I think it's a stretch to call this a duplicate. This issue doesn't begin to describe the full severity of the issue referenced in the now closed #7366 and #6585 issues.

With whatever changes were made in the September release, when a file is saved as a .sql or a .sql file is opened, the following issues occur.
* IntelliSense is broken for all MSSQL database engine changes and custom databa

[2019-09-25 21:31] alanrenmsft commented on #6653
done

[2019-09-25 21:31] #6653 closed

[2019-09-25 21:32] alanrenmsft commented on #6977
in latest master, now it is getting a underline decoration.

[2019-09-25 21:32] #6977 closed

[2019-09-25 21:32] #7120 closed

[2019-09-25 21:35] #7121 closed

[2019-09-25 21:35] #7122 closed

[2019-09-25 21:39] KyleStay commented on #1876
And it looks like #7366 was reopened for the time being...

[2019-09-25 22:01] Charles-Gagnon commented on #7366
Hmm, well the intellisense is part of that for sure in that we disconnect the editor when it's saved.

The language status item thing could be considered a separate issue since it looks like it isn't fixed even by reconnecting but it's all from the fact that we disconnect the editor in the first place so I don't see the need to keep this open as a separate issue.

[2019-09-25 22:42] Charles-Gagnon commented on #1876
It sounds like part of the problem you're having is Intellisense being broken for saved files. This is currently fixed in the insiders builds (original issue for that: https://github.com/microsoft/azuredatastudio/issues/7161)

The rest of the issues around editors being disconnected after being saved are separate but that's not a recent regression and is something we're tracking for a fix at some

[2019-09-26 01:53] Charles-Gagnon opened #7372 "Strip passwords and other sensitive text from query history"
Currently if a user writes a query that contains sensitive information (such as a password field) we persist that text exactly as is. Users can remove the node from the history but it would be good to have (possibly an optional) a feature that strips out some known sensitive values from the text if it finds them.

[2019-09-26 01:55] Charles-Gagnon opened #7373 "Add status item/command to toggle enabling query history"
Would be nice to have a command that toggles the query history being enabled. And also possibly having a status button for toggling this as well (similar to SQLCMD mode)

[2019-09-26 11:33] fsteffi commented on #6661
@hannahqin we have logged external : https://github.com/microsoft/vscode/issues/81483

[2019-09-26 11:39] fsteffi commented on #6663
@hannahqin we have logged external bug : https://github.com/microsoft/vscode/issues/81484

[2019-09-26 12:34] gawsandy opened #7376 "Right click Edit Data View"
Issue Type: <b>Feature Request</b>

Please add the functionality to right click --> edit data a view

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.17134

[2019-09-26 12:40] joseluisrod opened #7377 "Filter capabilities"
Issue Type: <b>Feature Request</b>

Hi All: could you add filtering by name for tables, programmability and views please?  Thanks for the great work!

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.17763

[2019-09-26 13:35] mercuriete commented on #94
+1

[2019-09-26 16:46] Ungerfall opened #7379 "Setting files are not revealed in explorer"
- Azure Data Studio Version:
Version: 1.12.0-insider (user setup)
Commit: 2d9f6dcd862227825050eb3182553c3a176e0ce9
Date: 2019-09-26T07:52:29.030Z
VS Code: 1.38.0
Electron: 6.0.9
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

Steps to Reproduce:

1. Open Keyboard Shortcuts (JSON)
2. Press F1
3. Search for Reveal in Explorer command
4. Execute (press E

[2019-09-26 16:46] tcurtisholden71 commented on #7359
Should follow the directions at the URL below to install a python client with all the machine learning packages, including revoscalepy, then have Azure Data Studio use this installation of python 3?

https://docs.microsoft.com/en-us/sql/advanced-analytics/python/setup-python-client-tools-sql?view=sql-server-2017

[2019-09-26 16:56] david8610 commented on #7365
meu problema é a sicronização para o github, para o projeto

[2019-09-26 17:11] Charles-Gagnon opened #7380 "BDC Deploy Initial Page should disable Select button until EULA box is checked"
![image](https://user-images.githubusercontent.com/28519865/65709562-f20fd580-e045-11e9-8bb7-e2e460eb74dc.png)

[2019-09-26 17:15] alanrenmsft commented on #7380
@Charles-Gagnon  I intentionally did it, otherwise it might be hard for user to figure out why the select button is disabled.  @angdesign , what do you think?

[2019-09-26 17:17] udeeshagautam opened #7381 "SQLCMD mode fails to parse :Connect keyword"
**Azure Data Studio Version:**
Version: 1.11.0 (user setup)
Commit: acc85c2c23f4889b4ae9373282d92daec321b1bd
Date: 2019-09-03T23:55:40.484Z
VS Code 1.37.0
Electron: 4.2.9
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

**Steps to Reproduce:**

1. Open Query editor and switch on SQLCMD Mode
2. Run a query like

:Connect localhost

Use  Database1
Go

S

[2019-09-26 17:28] Charles-Gagnon commented on #7380
You should at least have a red * next to it to show that it's required

[2019-09-26 17:37] chlafreniere opened #7382 "Enable Separate Test Runs for Unstable Tests"
We have some tests that are a bit flakey, and we need to drive improvements in those test areas. At the same time, those tests should not block the insiders build when they fail, as they are known to be flakey.

This task tracks adding a new type of run for flakey/unstable tests. We can move tests between the "unstable" and "stable" buckets as necessary.

[2019-09-26 17:52] chlafreniere opened #7383 "Resource Deployment Wizard Error Message Persists when No Tools Required"
When switching between a resource type where the error ribbon is displayed and a resource type (i.e. SQL on Windows) that has no required tools, the error ribbon still appears:

![image](https://user-images.githubusercontent.com/40371649/65712339-ab24de80-e04b-11e9-8116-15cc7ce5953b.png)

![image](https://user-images.githubusercontent.com/40371649/65712358-b546dd00-e04b-11e9-8d8d-bb1e7f5da064.png)

[2019-09-26 18:10] chlafreniere opened #7385 "Opening .ipynb from Git Viewlet Fails on Latest Insiders Build"
Opening an .ipynb file from the Git viewlet results in the following exception being thrown:

Unable to open 'sop003-view-bdc-pod-status.ipynb (Untracked)': this.textEditorModel.onDidStateChange is not a function.

[2019-09-26 18:26] angdesign commented on #7380
Recommend that we have a separate section for the license agreement that is marked as required, as per Charles' comment, attaching a mockup
<img width="1366" alt="BDC_deploy1" src="https://user-images.githubusercontent.com/29785331/65714683-79624680-e050-11e9-8286-f5cde1d126bf.png">

[2019-09-26 18:47] #7307 closed

[2019-09-26 18:57] chlafreniere opened #7386 "Dashboard Icons Aren't Showing Up Correctly"
![image](https://user-images.githubusercontent.com/40371649/65716793-b4667900-e054-11e9-8c03-1338345d34eb.png)

The other 3 tasks should have icons.

[2019-09-26 19:02] chlafreniere commented on #7386
Looks like this is affecting database dashboards as well:

![image](https://user-images.githubusercontent.com/40371649/65717145-7e75c480-e055-11e9-94f4-91ee42bb2dea.png)

[2019-09-26 19:08] chlafreniere opened #7387 "Run Query from Database Size Widget Doesn't Work"
From server dashboard:

- Click on the "..." for the Database Size widget
- Choose "Run Query"
Result:
![image](https://user-images.githubusercontent.com/40371649/65717440-31462280-e056-11e9-8c57-cdf38d00072e.png)

  ERR Cannot read property 'startLine' of undefined: TypeError: Cannot read property 'startLine' of undefined
at file:///C:/Users/redacted/AppData/Local/Programs/Azure Data Studio - Ins

[2019-09-26 19:15] chlafreniere opened #7389 "Jupyter Books "SQL Server 2019 Guide" Command Doesn't Work"
TypeError: Cannot read property 'findChildSection' of undefined
	at Object.showPreviewFile

When choosing command from command palette, get exceptions on my machine.

[2019-09-26 19:35] #7383 closed

[2019-09-26 19:41] alanrenmsft commented on #7380
The required indicator part has been fixed. It seems the EULA might vary  based on the selected options, there are extra work there. Thanks @angdesign , I will incorporate your feedback when I work on that part.

[2019-09-26 19:41] #7380 closed

[2019-09-26 19:45] #7386 closed

[2019-09-26 20:55] chlafreniere commented on #7365
Can you give us some more details about Github issues with synchronization?

[2019-09-26 23:27] Charles-Gagnon opened #7397 "BDC Dashboard Endpoint List is not sorted"
Should be master on top - sorted by endpoint (URL) for everything after.

[2019-09-26 23:29] Charles-Gagnon opened #7398 "Friendly names for BDC Dashboard resource groups"
Currently just display names like metricsdc, should be a more friendly name

[2019-09-26 23:30] Charles-Gagnon opened #7399 "BDC status dot is not aligned"
Offset slightly from text

[2019-09-26 23:33] Charles-Gagnon opened #7400 "BDC Dashboard is not dark theme friendly"
Text color and icons should be theme aware

[2019-09-26 23:38] Charles-Gagnon opened #7401 "BDC Dashboard main content area isn't scrollable"
If window is smaller than content no horizontal scrollbar appears

![image](https://user-images.githubusercontent.com/28519865/65731780-ff47b700-e07b-11e9-91c0-4d4d9b467a5c.png)

[2019-09-27 05:12] #6688 closed

[2019-09-27 05:13] fsteffi commented on #6688
Closing this bug as discussed with the SME.

[2019-09-27 05:14] fsteffi commented on #6662
Closing this bug as discussed with the SME.

[2019-09-27 05:14] #6662 closed

[2019-09-27 08:54] kimhanse commented on #4085
@sondreb Yes, I have multiple tenants on my account. Good catch!

It is not really something I can change now, is there a way to work around this issue, perhaps by marking the tenant I want to use as default somewhere?

[2019-09-27 11:23] MatthewSteeples commented on #4085
@sondreb I can confirm that I've got access to multiple tenants from my account too

[2019-09-27 11:45] fsteffi commented on #6744
The issue has been verified in version as mentioned below and the issue is fixed.
 Version: 1.12.0-insider
Commit: a584aca96997a18ecedee73a575536332e542718
Date: 2019-09-19T07:58:50.448Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362
[#6744A11y_AzureDataStudio(Schema,Dacpac,Backup)_ImportBacpac_ImportBacpacSettings_AI4

[2019-09-27 11:55] fsteffi commented on #6746
Checked and verified in below version the bug is no longer reproduced and hence closing the bug.
Version: 1.12.0-insider
Commit: a584aca96997a18ecedee73a575536332e542718
Date: 2019-09-19T07:58:50.448Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

[#6746 A11y_AzureDataStudio(Schema,Dacpac,Backup)_ImportBacpac_ImportBa

[2019-09-27 12:05] fsteffi commented on #6896
Checked and verified in below version the bug is no longer reproduced and hence closing the bug.
Version: 1.12.0-insider
Commit: a584aca96997a18ecedee73a575536332e542718
Date: 2019-09-19T07:58:50.448Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362
[#6896A11y_AzureDataStudio(Schema,Dacpac,Backup)_DeployDacpac_DeployDacp

[2019-09-27 12:10] fsteffi commented on #6743
Checked and verified in below version the bug is no longer reproduced and hence closing the bug.
Version: 1.12.0-insider
Commit: a584aca96997a18ecedee73a575536332e542718
Date: 2019-09-19T07:58:50.448Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

[#6743A11y_AzureDataStudio(Schema,Dacpac,Backup)_ImportBacpac_ImportBac

[2019-09-27 14:45] #7397 closed

[2019-09-27 15:34] EricBuMSFT opened #7406 "ADS Right Click and "Script as" Option Not available for External Data Sources"
**- Azure Data Studio Version:**

Version: 1.12.0-insider (user setup)
Commit: bf23a52ba433fa13fdc13e97fc0076b19a11de0c
Date: 2019-09-20T09:48:03.076Z
VS Code: 1.38.0
Electron: 6.0.9
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

**Steps to Reproduce:**

1. Create an External Data Source in a user database.
USE dbname
GO
-- Create the SqlDataPool dat

[2019-09-27 16:07] EricBuMSFT opened #7407 "ADS Right Click and Script External Table using DataPool fails"
**- Azure Data Studio Version:**
Version: 1.12.0-insider (user setup)
Commit: bf23a52ba433fa13fdc13e97fc0076b19a11de0c
Date: 2019-09-20T09:48:03.076Z
VS Code: 1.38.0
Electron: 6.0.9
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

**Steps to Reproduce:**

1. Create an external table that uses a datapool (I can let you log into my BDC if you like)
2. Ri

[2019-09-27 17:57] chlafreniere commented on #7363
Fixed by https://github.com/microsoft/azuredatastudio/commit/f7c468d6f0877f0af253541cf4a5434394eea246

[2019-09-27 17:57] #7363 closed

[2019-09-27 18:30] chlafreniere commented on #7407
This will be tracked with #7260

[2019-09-27 18:30] #7407 closed

[2019-09-27 19:46] kburtram opened #7409 "Add toggle query history on\off command"
Add a command to turn query history on\off during a session.

[2019-09-27 20:22] alanrenmsft opened #7410 "Feature Request: execute notebook without showing it"
1. execute notebook in background
2. be able to show it on demand

[2019-09-27 20:42] Charles-Gagnon commented on #7409
@kburtram I already had a task made for this so I'm going to close this one 😄 #7373 (also note I made a new area label for query history too)

[2019-09-27 20:42] #7409 closed

[2019-09-27 20:43] Charles-Gagnon commented on #7373
As an additional enhancement it would be great at some point to allow toggling on/off per editor

[2019-09-27 21:10] alanrenmsft opened #7411 "Feature Request: enhance add notebook cell API"
When adding a new cell to the notebook using API, we should be able to specify whether to focus it or not.

[code]

[2019-09-27 22:21] rajmera3 opened #7412 "External Table Wizard Step Counter Incorrect"
Azure Data Studio Version: Insider's Build

Steps to Reproduce:
If you try to create an external table in a database that already has a master key, the external table wizard only has 4 steps, instead of 5. The side bar with circles will update to 4 circles AFTER choosing the data source and clicking next. Also, on the next pages, in the header of the page, it will continue to say Step X even thoug

[2019-09-27 22:40] kisantia commented on #7357
I tried changing IProgressService to IEditorProgressService in https://github.com/Microsoft/azuredatastudio/blob/diff/src/sql/workbench/browser/modelComponents/diffeditor.component.ts#L73. This got rid of the error, but the table and diffeditor still aren't showing

[2019-09-29 08:22] LokeSonne opened #7416 "Intellisense often not working"
Issue Type: <b>Bug</b>

Intellisense is very on/off. Sometimes it works - most times it doesn't. Otherwise - great product

Azure Data Studio version: Azure Data Studio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T17:14:33.682Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4770HQ CPU @ 2.20GHz (8 x 2200)|

[2019-09-29 08:49] Peter-Msft opened #7417 "The script generated from the HDFS option "Create external table from CSV files" for Storage Pool fails"
Azure Data Studio Version: 1.12.0-insider

Steps to Reproduce:
1) ADS -> Right-click on a CSV file in HDFS -> Create external table from CSV files
2) At the end of the Wizard click -> Generate Script

Example script:
BEGIN TRY
    BEGIN TRANSACTION T4aba716521a64eb5bb273b07e6b25c5
        EXEC('USE [DeepSky]');
        CREATE EXTERNAL FILE FORMAT [FileFormat_Planets]
            WITH (FORMAT_TYPE

[2019-09-29 17:09] Charles-Gagnon commented on #7416
There's already some open issues tracking general performance of Intellisense such as #4817 so I'm going to close this, keep an eye there for any updates!

As a note there was specifically a bug in 1.11 though that made it so Intellisense wasn't working on saved files. See #7161 for details. You can use the current insiders version which has that fix - otherwise we should have the next stable rele

[2019-09-29 17:09] #7416 closed

[2019-09-29 20:34] LokeSonne commented on #7416
Thanks!

Den 29. sep. 2019 kl. 19.09 skrev Charles Gagnon <notifications@github.com<mailto:notifications@github.com>>:

There's already some open issues tracking general performance of Intellisense such as #4817<https://github.com/microsoft/azuredatastudio/issues/4817> so I'm going to close this, keep an eye there for any updates!

As a note there was specifically a bug in 1.11 though that made it

[2019-09-30 06:01] fsteffi commented on #6660
Checked and verified in below version the bug is no longer reproduced and hence closing the bug.

Version Details:
Version: 1.12.0-insider
Commit: a584aca96997a18ecedee73a575536332e542718
Date: 2019-09-19T07:58:50.448Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362

[#6660 A11y_AzureDataStudio(Schema,Dacpac,Backup)_Dep

[2019-09-30 06:15] fsteffi commented on #6694
Checked and verified in below version the bug is no longer reproduced and hence closing the bug.

Version Details:
Version: 1.12.0-insider
Commit: a584aca96997a18ecedee73a575536332e542718
Date: 2019-09-19T07:58:50.448Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362
[#6694A11y_AzureDataStudio(Schema,Dacpac,Backup)_Deplo

[2019-09-30 06:17] fsteffi commented on #6693
Checked and verified in below version the bug is no longer reproduced and hence closing the bug.

Version Details:
Version: 1.12.0-insider
Commit: a584aca96997a18ecedee73a575536332e542718
Date: 2019-09-19T07:58:50.448Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362
[#6693 A11y_AzureDataStudio(Schema,Dacpac,Backup)_Depl

[2019-09-30 06:22] aaomidi commented on #7316
I've done a lot of testing for this over the weekend on my topic branch for it, basically I've reached no where other than something environment specific is causing issues on the Microsoft hosted agents.

[2019-09-30 06:24] fsteffi commented on #6742
Checked and verified in below version the bug is no longer reproduced and hence closing the bug.

Version Details:
Version: 1.12.0-insider
Commit: a584aca96997a18ecedee73a575536332e542718
Date: 2019-09-19T07:58:50.448Z
VS Code 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18362
[#6742 A11y_AzureDataStudio(Schema,Dacpac,Backup)_Impo

[2019-09-30 08:27] IeuanWalker opened #7419 "Issues authenticating with AAD"
Had to create a new bug for this issue, as the adsbot incorrectly closed it - https://github.com/microsoft/azuredatastudio/issues/5742#issue-450201632

[2019-09-30 09:02] bweissman opened #7420 "Refresh collapses everything"
Issue Type: <b>Bug</b>

When doing a refresh on databases or tables, the whole "Databases" folder is collapsed.

This is especially annoying in Demos when you create a new table and want to see/show it ;)

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summ

[2019-09-30 09:03] bweissman opened #7421 "Filter/Search in "Create external Table" wizard"
Issue Type: <b>Feature Request</b>

when using the wizard to create an external table from Oracle or SQL, it would be super helpful if we could filter/search in the source-tables

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.14393

[2019-09-30 09:11] bweissman opened #7422 "Sorting in "Create external Table" wizard"
Issue Type: <b>Bug</b>

when using the wizard to create an external table from Oracle or SQL, the tables shown from the source are not sorted in any logical (e.g. alphabetical) way.

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---

[2019-09-30 09:11] #7422 closed

[2019-09-30 09:15] bweissman opened #7423 "Script from "Create external Table" wizard is not working"
Issue Type: <b>Bug</b>

seems like the "USE" statement in the script created by the wizard is not working

this leads to an error:

`BEGIN TRY
    BEGIN TRANSACTION T12e45695fc5442b9920635d749179db
        EXEC('USE [BigDataFun]');
        CREATE EXTERNAL TABLE [dbo].[ProductModel]
        (
            [ProductModelID] INT NOT NULL,
            [Name] NVARCHAR(50) COLLATE SQL_Latin1_General_CP1_C

[2019-09-30 13:56] joshuaquiz opened #7424 "object disposed error"
Issue Type: <b>Bug</b>

I keep getting opject disposed note in the bottom right and not able to select the completed word/table/column/func/etc

Azure Data Studio version: azuredatastudio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T18:08:50.974Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6800K

[2019-09-30 15:20] #7360 closed

[2019-09-30 17:37] kevcunnane commented on #7423
@corivera is this fixed in Insiders? I think you had a solution, do we have it published/will we be publishing for October release?

[2019-09-30 17:57] kburtram commented on #7424
@joshuaquiz do you know if there are any additional steps?  Is this while typing and using IntelliSense?  Executing queries? etc?

Could you please check the "Help->Toggle Developer Tools" Console to see if there are exception details there?

[2019-09-30 18:02] joshuaquiz commented on #7424
ERR Model is disposed!: Error: Model is disposed!
    at TextModel._assertNotDisposed (file:///C:/Users/joshu/AppData/Local/Programs/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:91326:23)
    at TextModel.deltaDecorations (file:///C:/Users/joshu/AppData/Local/Programs/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:92212:18)
    at LineSuffi

[2019-09-30 18:03] joshuaquiz commented on #7424
ERR Model is disposed!: Error: Model is disposed!
    at TextModel._assertNotDisposed (file:///C:/Users/joshu/AppData/Local/Programs/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:91326:23)
    at TextModel.deltaDecorations (file:///C:/Users/joshu/AppData/Local/Programs/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:92212:18)
    at LineSuffi

[2019-09-30 18:03] joshuaquiz commented on #7424
ERR Model is disposed!: Error: Model is disposed!
    at TextModel._assertNotDisposed (file:///C:/Users/joshu/AppData/Local/Programs/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:91326:23)
    at TextModel.deltaDecorations (file:///C:/Users/joshu/AppData/Local/Programs/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:92212:18)
    at LineSuffi

[2019-09-30 18:03] joshuaquiz commented on #7424
ERR Model is disposed!: Error: Model is disposed!
    at TextModel._assertNotDisposed (file:///C:/Users/joshu/AppData/Local/Programs/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:91326:23)
    at TextModel.deltaDecorations (file:///C:/Users/joshu/AppData/Local/Programs/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:92212:18)
    at LineSuffi

[2019-09-30 18:40] corivera commented on #7423
@kevcunnane Yes, I updated the EXEC statement to be a plain USE.

[2019-09-30 18:59] #7373 closed

[2019-09-30 19:02] kburtram commented on #7424
@joshuaquiz thanks for the additional details!

[2019-09-30 19:34] kevcunnane commented on #7423
@corivera can you work with @yualan to ensure this is included as part of the October release?

@bweissman apologies for the inconvenience. We will publish a refreshed version of the extension with this fix available in our upcoming October release. I'm going to close the issue as the core fix is in, just needs release.

[2019-09-30 19:34] #7423 closed

[2019-10-01 00:38] #7314 closed

[2019-10-01 13:13] Peter-Msft opened #7437 "[SQL History extension] Add the ability to double click on a history entry"
The ADS SQL History extension currently does not have the ability to double click on a history entry.

**Proposed feature**
Enable the ability for the user to double click on a history entry, to either open the SQL statement(s) in a new window (prefered option in my opinion - other opinions welcome) or execute the SQL directly.

[2019-10-01 13:20] Peter-Msft opened #7438 "[SQL History extension] Add ability to persist history after an ADS restart"
The history is not persisted after a restart of ADS.
A nice additional option would be to retain the history entries following a restart.

[2019-10-01 13:45] amtwo opened #7439 "Unable to open diff of ipynb files form Source Control pane"
Issue Type: <b>Bug</b>

* Create a SQL Notebook and save it to an existing local git repo directory.  There is no need to actually stage/commit the change.
* Go to the Source Control pane.
* Double-click on the SQL Notebook you just created.

Expected:
* The SQL Notebook should open, showing a diff of the the committed vs uncommitted versions.  Since the .ipynb file is stored as JSON, I'd expect t

[2019-10-01 14:34] Charles-Gagnon commented on #7419
Sorry about that @IeuanWalker - I've reopened the other issue so I'll close this one

[2019-10-01 14:34] #7419 closed

[2019-10-01 14:38] mackenziepsilb opened #7440 "Query Hangs"
Issue Type: <b>Bug</b>

Sometime when running queries it just sits there saying executing query and doesn't finish.  I have to quit Azure Data Studio, reconnect to the SQL Server and then run the query and it works.

Azure Data Studio version: Azure Data Studio 1.11.0 (460c739a8d90bdbbde39e01abfb8ecdc278ea787, 2019-09-06T17:14:33.682Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info<

[2019-10-01 15:50] wsmelton commented on #5579
Use of the space key is not sufficient when you dealing with the stored procedure folder that has 200 objects. It requires you to still page all the way up before you can collapse the folder. The same ability that the file explorer view has for arrow key control should exists in the Server View....this functionality is present in SSMS.

An example of what can be done with files....just to visualiz

[2019-10-01 16:35] mdmoura opened #7442 "Default plan should be Basic and not Standard"
When creating a database using the Data-Tier application wizard the new database gets the Standard General Purpose plan ...

I think it should be the Basic plan or at least give the option to choose the plan.

A few times I ended up with extra costs with staging databases just because I forgot to go to Azure portal and change the plane from Standard to Basic.

[2019-10-01 16:38] chlafreniere commented on #7439
Thanks, @amtwo. We're tracking this with #7403 currently.

[2019-10-01 16:38] #7439 closed

[2019-10-01 17:18] amtwo commented on #7439
Gah! Thanks. I missed that when I searched since was looking for "source control" rather than "git" 😁

[2019-10-01 17:24] aaomidi opened #7443 "Big Data Cluster fails to load"
Azure Data Studio Version: Insiders 10/01
[code]

[2019-10-01 18:24] aaomidi opened #7448 "Testing with production bits"
We're testing with dev builds which don't always catch issues like the one in #7443. We need to update our tests to support testing with production bits.

[2019-10-01 18:26] aaomidi commented on #7448
How we'd potentially want to do it: https://github.com/microsoft/azuredatastudio/blob/master/scripts/test-integration.bat#L15-L24

[2019-10-01 21:37] aaomidi opened #7452 "Define an eslint rule for tabs vs spaces for JS files."
We're mixing and matching these based on the developers editors, causing any subsequent change from others to look weird. Let's decide on one and enforce it like we do for typescript files.

[2019-10-01 21:43] anthonydresser commented on #7452
You have any specific files with this issue? I believe our hygiene will enforce for js files. https://github.com/microsoft/azuredatastudio/blob/master/build/gulpfile.hygiene.js#L41

[2019-10-01 21:45] aaomidi commented on #7452
Hmm looks like we're ignoring the package.json files for extensions if I understand that correctly?

[2019-10-01 21:52] #7443 closed

[2019-10-01 21:52] Charles-Gagnon commented on #7452
Yeah - https://github.com/microsoft/azuredatastudio/blob/master/build/gulpfile.hygiene.js#L69

I'm fine with removing that line and letting hygiene take care of it.

[2019-10-01 21:56] aaomidi opened #7453 "Multi Row/Column Select"
Allow ctrl+header clicking

[2019-10-01 21:59] aaomidi commented on #7453
Also change shift => ctrl

[2019-10-01 22:07] anthonydresser commented on #7452
I imagine its because lots of different programs control that file (yarn, npm) so we don't want to have the programs constantly changing the whitespace. It's probably legacy from when npm used to do some weird things with the package.json. I don't particularly having a probably changing it to include our extension package.json, but would be against doing it for the root/build package.json since th

[2019-10-01 22:09] kburtram opened #7455 ""Script As Create" on database node on dashboard explorer"
- Azure Data Studio Version: `1.12.0`

Steps to Reproduce:

1. Open a Server dashboard page
2. Right-click on a database node in the explorer widget

Expected: No Script As Create

Actual: There is a Script As Create option that doesn't do anything

![image](https://user-images.githubusercontent.com/599935/66004356-78b91e00-e45d-11e9-8d1d-35b1e500a974.png)

[2019-10-01 22:22] aaomidi commented on #7452
I'd be fine with just specifically specifying our extensions.

[2019-10-01 22:33] kburtram commented on #7455
The sort order for the menu commands on tables is also incorrect.  The order should match OE, which is SELECT 1000, Edit Data, Script As Create.

![image](https://user-images.githubusercontent.com/599935/66005529-a358a600-e460-11e9-9f43-cfe2f44ec831.png)

[2019-10-01 22:49] aaomidi opened #7458 "Faulty schema compare test"
ExtensionContext is undefined when doing unit tests.
[code]

[2019-10-01 23:12] aaomidi commented on #7458
Feel free to merge #7460 once this is fixed

[2019-10-01 23:19] rajmera3 opened #7462 "Create External Table from CSV Files option shows on non .csv files"
- Azure Data Studio Version: Insiders

**Steps to Reproduce:**
1. If you right-click on a non-csv file in HDFS, it will still give you the option to Create External Table from CSV. If you choose this option, it will error.

**Solution**
For non-csv files, do not show the option to Create External Table from CSV upon right-click.

[2019-10-02 00:17] aaomidi opened #7464 "Integration tests failing on Linux"
https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=40373

[2019-10-02 00:27] udeeshagautam commented on #7458
Thanks @aaomidi. Will fix and update.

[2019-10-02 00:31] anthonydresser commented on #7464
#7461 may fix is, not sure why that would cause the tests to straight up fail since it doesn't have any functional affect on the product, but its possible it is reading the raised error as a error for the test.

[2019-10-02 00:41] aaomidi commented on #7464
https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=40388

[2019-10-02 03:10] aaomidi commented on #7464
Looks like it's still failing.

[2019-10-02 06:45] aaomidi commented on #7464
The issue is mkdir with recursive doesn't work on electron 4 ...

[2019-10-02 12:20] aisbergde opened #7468 "Python scrips in notebooks are modified when saved and reopened"
Issue Type: <b>Bug</b>

I created some Python scripts, I tested them. I saved the notebook.
But when I reopened the notebook the python scripts are modified and therefore not valid.
The error can be reproduced every time.

The requirement is:
Code should be saved and restored in the original form.
I lost much time because I stored all  my code in Notebooks, put them under source control to not loo

[2019-10-02 12:25] aisbergde commented on #7468
I see it is hard to read. But I have no idea how to insert the code in a way that it will be displayed correct
I will add the corupted notebook

[POC MQTT Python SQL Server.zip](https://github.com/microsoft/azuredatastudio/files/3681049/POC.MQTT.Python.SQL.Server.zip)

[2019-10-02 12:35] aisbergde commented on #7468
Here is the original Python script.
to reproduce the error:
create an empty Notbook
add the code from the script as code block
save the notebook
in the moment when you save tho notebook it reloads and the code will be changed by Azure Data Studio.
[POC_MQTT_Python_SQL_Server.zip](https://github.com/microsoft/azuredatastudio/files/3681081/POC_MQTT_Python_SQL_Server.zip)

[2019-10-02 12:54] aisbergde commented on #7468
sometimes the error can be reproduced, sometimes not. Sometimes when saving the Notebook the notebook will not be reloaded and the code will not change. Maybe this is the case when it was already saved, in this case it will not reopen and the code still works.
It also depends on other parts of the notebook. I have some other notebooks where I stored the code (or a part of the code) and it will not

[2019-10-02 16:23] rayjohnson529 commented on #4844
Has this been implemented?

Apologies if I should be asking in another way, as I'm new to this.

That said, I've contributed to this conversation here: [](`https://github.com/microsoft/azuredatastudio/issues/6533`)

Frankly, it's a duplicate issue but just wanted it known I went through official channels.

The only thing worth noting in that is that it was in near-term list for implementation back