[2019-11-13 14:01] ibrowne commented on #94
+1

[2019-11-13 15:08] martin-guth commented on #8308
@alanrenmsft Thanks renaming AppData/Roaming/azuredatastudio did the trick for me. ADS starts up fresh with no query reopening.

[2019-11-13 15:08] #8308 closed

[2019-11-13 15:31] #8297 closed

[2019-11-13 16:10] blackmind commented on #4085
Same Problem here.

[2019-11-13 17:41] maracucho1997 opened #8323 "Copy Results mixing up column order"
Issue Type: <b>Bug</b>

When copying Results, the columns are not getting put in the clipboard in the same order as the output in the Results. Using Copy With Headers brings the headers in the right order, but the data in the columns does not belong to the same header. This doesn't happen every time, but I can reproduce it with certain queries.

Azure Data Studio version: azuredatastudio 1.13.0 (c

[2019-11-13 17:44] Charles-Gagnon commented on #8323
Closing as a duplicate of #8210

This has been fixed on the insiders build that you can install now - otherwise it'll be available in the next stable release. Sorry about the inconvenience!

[2019-11-13 17:44] #8323 closed

[2019-11-13 18:30] MaddyDev commented on #8178
This is an issue only on the release branch and is fixed on the master branch by the last vscode merge.

[2019-11-13 18:30] #8178 closed

[2019-11-13 18:54] skanthb opened #8324 "Explain button does nothing"
![no explain plan](https://user-images.githubusercontent.com/17520646/68794476-138c4700-061d-11ea-8d1f-32bcb2073d25.JPG)

- Azure Data Studio Version:
Version: 1.13.0 (user setup)
Commit: cacd481bff25c890e4130aee392569bae43b7e60
Date: 2019-11-02T00:40:05.147Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.17134

Steps to Re

[2019-11-13 18:56] skanthb commented on #8324
no, my issue does not seem to be the one mentioned in #3652. I do not see Query plan tab at all. Both Run query and explain button behave the same.

[2019-11-13 20:16] qmanuel opened #8325 "Notebook outline view will be nice. Something like Word's Table of Contents. This way it will not be too hard to navigate around a notebook specially if it is a long one."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2019-11-13 21:40] kevcunnane commented on #8320
@Charles-Gagnon  - likely another issue related to the ...args change. Can you help a) look into this and b) use this as a reason to start on our testing work? Getting these dialogs covered seems important.

[2019-11-13 21:42] #8148 closed

[2019-11-13 21:43] kevcunnane commented on #8122
@Karl - isn't this fixed? Can we close this out or are you tracking the SqlClient fix with this?

[2019-11-13 21:44] alanrenmsft commented on #7319
TODO: make a Jupyter book to organize the processes.

[2019-11-13 21:45] #7992 closed

[2019-11-13 21:47] kevcunnane commented on #7828
@alanrenmsft I think you fixed this with recent accessibility changes? Can we close?

[2019-11-13 21:47] Charles-Gagnon commented on #8102
This has been fixed so that it will prompt to reconnect if an error occurs

[2019-11-13 21:47] #8102 closed

[2019-11-13 21:48] #7739 closed

[2019-11-13 21:55] #7821 closed

[2019-11-13 22:01] alanrenmsft commented on #7828
yes, fixed.

[2019-11-13 22:01] #7828 closed

[2019-11-13 22:04] alanrenmsft commented on #8156
correct the Area label

[2019-11-13 22:52] Charles-Gagnon commented on #7606
This should be fixed in the latest insiders build

![image](https://user-images.githubusercontent.com/28519865/68811298-2a369c00-0625-11ea-9997-35c5c8460396.png)

[2019-11-13 22:52] #7606 closed

[2019-11-14 00:42] alanrenmsft commented on #8325
we already have the Jupyter book feature in Azure Data Studio.

@chlafreniere @MaddyDev  do we have public documentation for book feature?

[2019-11-14 01:05] stelth240 opened #8327 "Mark changes to files in gutter"
It would be very helpful to have glyphs appear in the left gutter and scrollbar when changes are made to a document, similar to how SSMS does it now.  For instance, changes to a file will mark the gutter yellow, and when the file is re-saved, they will change to green.

I believe Azure Data Studio currently shows source control changes, but if you are working on non-source controlled files, there

[2019-11-14 01:52] Charles-Gagnon opened #8328 "Can't copy from output of notebook code cell while cell is executing"
1. Create code cell with some long running code, such as this
[code]
2. Execute cell
3. While it's running try to copy the output text

The code cell keeps grabbing focus so you can actually select and copy text from the output.

[2019-11-14 03:13] BlackSneak opened #8329 "Copying results window (including headers) pastes in different order"
Issue Type: <b>Bug</b>

I have SQL statements that populate a temporary table that has 50 columns, and a final select statement that returns the results (around 150 rows).

If I Ctrl + A in the results window to highlight all rows, then right-click -> Copy With Headers, then paste into Excel, the column headers are in the same order but some of the columns have been transposed.

I.e. the data in c

[2019-11-14 03:19] Charles-Gagnon commented on #8329
Closing as a duplicate of #8210

This has been fixed on the insiders build that you can install now - otherwise it'll be available in the next stable release. Sorry about the inconvenience!

[2019-11-14 03:19] #8329 closed

[2019-11-14 08:29] infraweavers opened #8330 "Ability to install "system-wide" (or "global) extensions from command line"
**Is your feature request related to a problem? Please describe.**
We'd like to be able to deploy Azure Data Studio company wide, for both PostgreSQL and SQL Server (along with svn integration etc) however all extensions are installed in user folders; we *can* automate this through user logon scripts, but we prefer to keep all of our configuration machine wide if possible as it keeps user logon ni

[2019-11-14 11:24] IanKemp opened #8331 "Incorrect login user is remembered and cannot be removed"
Issue Type: <b>Bug</b>

My employer has an Azure SQL DB. Originally, all devs connected to this DB using a shared SQL login named "Developer". Later policies were improved and each dev was assigned their own SQL login (mine is called "ian") and the Developer login's password was changed.

When I first connected to Azure SQL using ADS, I used the Developer login and ticked the "Remember password" b

[2019-11-14 11:28] IanKemp commented on #8331
I didn't know about the linked issues so this one could be considered a dupe, but seriously - those issues have been sitting around for literally **months** without any work being done on them.

I'll say it again, login functionality is a basic thing that needs to work 100% before you ship a product. And if it doesn't work, you need to fix it fast. That's not happening, which leads me to question

[2019-11-14 13:25] AndyW426 opened #8332 "Powershell in notebooks error"
- Azure Data Studio Version:  1.13.0

Steps to Reproduce:

1.  Install Powershell Extention
2. Create new notebook
3. Add code box
4. Change kernel to Powershell
5. Here it prompts to install Python.  Click Install
6. Install error stating, "Unable to write to user settings"

This was successful at one client but not a second one that I tried.  Not sure what needs to be done to fix it.

[2019-11-14 13:42] Chewieez opened #8333 "Saving a SQL Query disconnects from the current connection"
Issue Type: <b>Bug</b>

Connect to a database
Create a query against that database
Save the query
The open tab which shows the current query you just saved is now disconnected requiring me to sign back into the database

Azure Data Studio version: azuredatastudio 1.13.0 (cacd481bff25c890e4130aee392569bae43b7e60, 2019-11-01T23:25:46.501Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Inf

[2019-11-14 13:44] Chewieez commented on #5155
I am experiencing this same behavior with the current build:  ver 1.13.0

[2019-11-14 14:02] DarthXoc commented on #8107
I'm seeing the same issues on Version: 1.13.0. After deleting and reinstalling, the issue persists.
<img width="177" alt="Screen Shot 2019-11-14 at 8 01 53 AM" src="https://user-images.githubusercontent.com/6225954/68863474-0d49a980-06b5-11ea-898c-71941efb5a03.png">

[2019-11-14 14:28] SEary342 commented on #8333
I am having the same issue on Windows 10 azuredatastudio 1.13.0. If I save an existing file, the connection is kept; however, if I save as a new file, the connection is deleted.

[2019-11-14 17:12] mbcDeveloper2019 opened #8335 "dragging and drop table and columns into the query editor"
- Azure Data Studio Version: 1.13.0

Steps to Reproduce:
support to drag and drop tables and columns in the query editor for ease of use

[2019-11-14 17:21] sqlkoala commented on #2552
I "arrived" here with the same issue and I would also like to see a fix.
Maybe I found a workaround for the time being:
![grafik](https://user-images.githubusercontent.com/30384885/68880231-28470880-070b-11ea-8cf9-c13a24d01d67.png)
The idea is to change the keybinding for this command (which is normally Enter). Then Enter after a table alias will behave as expected. Side effect is that you cant us

[2019-11-14 17:56] alanrenmsft commented on #8327
this seems to me an upstream issue, please triage.

[2019-11-14 17:57] alanrenmsft commented on #8226
updated the build pipeline to enable "Fail on Standard Error"

[2019-11-14 17:57] #8226 closed

[2019-11-14 17:57] alanrenmsft commented on #8069
added notification for release pipeline failure.

[2019-11-14 17:57] #8069 closed

[2019-11-14 18:25] rharris-ameresco opened #8336 "Opening An Exported XLSX File No Longer Opens System's Default App"
Issue Type: <b>Bug</b>

In older versions of Azure Data Studio, I could right-click data and save as xlsx, then once the pop-up said the file was saved and if I want to "Open File Location" or "Open File", I used to be able to click the "Open File" button to have the file loaded into Microsoft Excel (my system's default app for .xlsx files). Now, it tries to open it in the Azure Data Studio editor

[2019-11-14 19:03] chlafreniere commented on #8336
This appears to be the same issue as #8218, so we can track that there.

[2019-11-14 19:03] #8336 closed

[2019-11-14 20:32] anthonydresser commented on #8327
This would be implemented as an extension most likely. We could write our own, but this is upstream in that it is not specific to ads in someway.

[2019-11-14 21:23] winzig commented on #8278
@Charles-Gagnon This is a pretty major bug, would you expect a stable release fixing it prior to the next month's stable build?

[2019-11-14 21:46] #7773 closed

[2019-11-14 22:06] Charles-Gagnon commented on #7599
This is fixed in the latest insiders build

[2019-11-14 22:06] #7599 closed

[2019-11-14 22:25] Charles-Gagnon commented on #8278
We'll be releasing a hotfix release for this - that should be out today or tomorrow.

[2019-11-14 22:36] ranasaria opened #8341 "BDC needs kubectl version >=1.13"
Based on this documentation: https://docs.microsoft.com/en-us/sql/big-data-cluster/deploy-big-data-tools?view=sql-server-ver15#big-data-cluster-tools

kubectl needed for BDC deployment needs to be at least version 1.13 so we need to add this check to our BDC deployment tools acquisition story.

[2019-11-15 01:46] Charles-Gagnon commented on #7603
@12-shweta I'm going to close this since this seems to be the default behavior for select controls and none of the other dropdowns have had this issue raised against them. Let me know if you have information about this being an expected standard.

[2019-11-15 01:46] #7603 closed

[2019-11-15 07:39] Proavtor opened #8345 "Unable to connect for SQL files with % in the path"
Cannot connect to sql server from sql file. Whereas connection succeeds from object explorer window. If I do ctrl+N new window opens connected but not other file.

[2019-11-15 14:42] plsloan opened #8346 "Can't install user installation for Azure Data Studio"
- Azure Data Studio Version: 1.13.0

Steps to Reproduce:

1. Attempt to install user setup
2. See error

It is looking for "C:\Users\FirstName LastName" rather than "C:\Users\firstnamelastname" like it should.

[2019-11-15 15:26] brobichaud opened #8347 "Mouse wheel scrolling is erratic"
Issue Type: <b>Bug</b>

In recent releases I have found mouse behavior to have degraded. In the query window a single turn of the mouse wheel is scrolling far too much. I've checked the "Editor: Mouse Wheel Scroll Sensitivity" setting in Data Studio and it is set to 1. Changing it to 0 makes no difference, higher numbers make it worse. Other apps I use are scrolling a reasonable amount.

In the Re

[2019-11-15 15:41] #7950 closed

[2019-11-15 15:41] #7951 closed

[2019-11-15 16:05] plsloan commented on #8346
Duplicate. Sorry.

[2019-11-15 16:05] #8346 closed

[2019-11-15 16:06] plsloan commented on #8244
Is there an ETA on this? I installed the system version, but it won't update due to this bug either.

[2019-11-15 17:29] kburtram commented on #8347
@anthonydresser can you think of anything that could have changed in this area?  Nothing's coming to mind, perhaps the Electron update?

[2019-11-15 17:41] alanrenmsft opened #8351 "ADS CANARY build failure"
[00:27:18] TypeError: ext.packageBuiltInExtensions is not a function
    at /home/vsts/work/1/s/build/gulpfile.vscode.js:201:7
    at Promise (/home/vsts/work/1/s/build/lib/task.js:44:28)
    at new Promise (<anonymous>)
    at _doExecute (/home/vsts/work/1/s/build/lib/task.js:33:12)
    at _execute (/home/vsts/work/1/s/build/lib/task.js:24:11)
    at result (/home/vsts/work/1/s/build/lib/task.js:

[2019-11-15 19:21] Charles-Gagnon commented on #8331
@IanKemp We don't support modifying existing connections at this time. If you delete the connection and then reconnect with the new username does it still not save correctly?

[2019-11-15 19:51] #7949 closed

[2019-11-15 19:51] anthonydresser commented on #8347
It could be the electron update...but then vscode would be getting similar complaints I imagine. I can't think of anything we have done in this area.

[2019-11-15 20:15] kenvanhyning commented on #8347
Tried this out on my Windows 10 desktop comparing VS Code latest release with current code in master.  I don't see any difference between the two.  On the ADS side, I checked a plain text file, a disconnected sql file (7700+ lines), and then with the sql editor in a connected state with that same sql file.  The mousewheel scrolling appeared consistent across all those.

Probably need some more inf

[2019-11-15 21:13] stelth240 commented on #4303
@kevcunnane, This issue still appears to be happening, at least for me. When I debug an ADS extension in VS Code, it does not output any console.log or console.info messages. This makes it much harder to debug.

I tried to add "outputCapture": "std" as other posts in the past have suggested, but that option does not appear to be available anymore.

This is my launch.json file:

[code]

Thank you f

[2019-11-15 21:38] alanrenmsft commented on #8351
update Canary build to do the full tasks

[2019-11-15 21:40] uc-msft opened #8357 "Unable to close a notebook..."
Issue Type: <b>Bug</b>

Could not start session: Notebook process exited prematurely with error code: 1. StdErr Output: [C 13:35:02.226 NotebookApp] Bad config encountered during initialization:
[C 13:35:02.226 NotebookApp] No such notebook dir: ''\\\\machine_name\\public/''

I opened a notebook from a file share & closed ADS. I opened ADS again which will start with the previously opened notebook

[2019-11-15 21:41] #7319 closed

[2019-11-15 21:41] uc-msft opened #8358 "Opening a notebook that doesn't exist now gives error..."
Issue Type: <b>Bug</b>

Unable to read file (Unknown (FileSystemError): Error: UNKNOWN: unknown error, stat '\\machine_name\public\blah\blah\blah.ipynb')

I opened notebook from share, and closed ADS. Now the share doesn't exist and the error above is thrown upon first start.

Azure Data Studio version: azuredatastudio-insiders 1.14.0-insider (02b1673c717529e2d34805b1e80194596159d327, 2019-11-15T0

[2019-11-15 22:02] brobichaud commented on #8347
I am now seeing a pattern in the results scrolling. If I have multiple result sets and both return a small number of results (small enough to avoid scrollbars in each grid) then I see this behavior. If I have a single resultset or multiple and they each have their own scrollbars then scrolling works ok. On the query window I am consistently seeing this jumpy scrolling behaviour always.

[2019-11-15 22:31] #7595 closed

[2019-11-15 22:50] uc-msft opened #8361 "Unable to close a notebook that has disappeared..."
Issue Type: <b>Bug</b>

1. Open a notebook from a share
2. Close ADS
3. Remove share or access to it or whatever
4. Open ADS

You will get bunch of errors and then try closing the notebook. I could never close it.

Azure Data Studio version: azuredatastudio-insiders 1.14.0-insider (02b1673c717529e2d34805b1e80194596159d327, 2019-11-15T09:31:15.318Z)
OS version: Windows_NT x64 10.0.19025

<details>

[2019-11-15 23:17] #8202 closed

[2019-11-15 23:26] anthonydresser opened #8364 "Investigate telemetry changes in next vscode merge"

[2019-11-16 00:47] alanrenmsft commented on #8351
done

[2019-11-16 00:47] #8351 closed

[2019-11-16 01:03] kenvanhyning commented on #7997
I stepped through this in ADS and it's down in low-level parts of SMO.  It looks to be due to the server having a "paused" database.  SMO is trying to enumerate the databases collection and we are requesting name and status properties.  As SMO is building the items in the collection it is failing on the paused database.  It throws and exception that the login failed to the paused database.

@shuey

[2019-11-16 01:28] shueybubbles commented on #7997
I’ve been bugging the DW team about this issue for a few weeks. I need to upgrade it from a bug to a live site issue.

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: kenvanhyning <notifications@github.com>
Sent: Friday, November 15, 2019 8:03:13 PM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: David Shi

[2019-11-16 01:36] #7797 closed

[2019-11-16 02:00] ranasaria opened #8366 "bdc deployment wizard should grey next button upon error"
- Azure Data Studio Version:
Latest Master

Steps to Reproduce:

1. Invoke the BDC deployment wizard.
On a Linux box even though all tools are installed successfully, and azdata --version returns the version. azdata bdc config fails because dependencies that it needs are not installed.
I have reported the issue to Sean and he is fixing it. However, in this scenario, the 'Next' button in the UI sho

[2019-11-16 02:22] Charles-Gagnon commented on #7593
Fixed by https://github.com/microsoft/azuredatastudio/pull/8348

[2019-11-16 02:22] #7593 closed

[2019-11-16 02:36] Charles-Gagnon commented on #7942
@V-sheman I'm not sure what issue you're referring to here exactly. What do you mean the "text associated with label"? The screen reader seems to be reading the label text off just fine in your video and I've confirmed that it announces the labels correctly for me as well.

[2019-11-16 02:37] edwinhon opened #8368 "Missing Primary Key Information"
Issue Type: <b>Bug</b>

Simply press F12 to view an table definition, the primary key information always missing.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.18362

[2019-11-16 04:15] anthonydresser opened #8369 "Investigate new publishing scripts"
the release and publish have been replaced with create asset and createbuild. documentdb has been remove in favor of cosmos.

[2019-11-16 09:22] thiagolunardi commented on #8257
Hi @Charles-Gagnon

That would be a great start, for sure.

My expectation would be to double click and have it at cursor position at the editor. Maybe this behavior - double click to past at cursor position - could be toggled at settings.

[2019-11-16 17:08] twright-msft opened #8372 "Running two cells in a T-SQL notebook at the same time has unexpected effect"
Issue Type: <b>Bug</b>

I did a SELECT TOP 1000 * FROM sys.messages in the first cell and then a SELECT 1 in the second cell.  Ran the first one and while that one was running I ran the second one.  Not only did the first cell appear to stop executing but the results from the first query showed up as the results pane for the second cell!

Azure Data Studio version: azuredatastudio-insiders 1.14.0-

[2019-11-17 07:52] AliBaghernejad opened #8373 "Model is disposed error in query editor IntelliSense"
When you are working with query editor and IntelliSense, pressing ctl+space or dot after an instance will list all members of that instance, but It seems that appeared drop-down menu is frozen and click on the menu items will cause  **Model is disposed** error.
the below record shows the detail:

![intellisenseDisposedModel](https://user-images.githubusercontent.com/10639835/69004644-16907b80-092c

[2019-11-18 02:28] dzsquared commented on #4668
I've created a pull request for the extension generator as this continues to be a barrier for new extension devs
https://github.com/llali/generator-azuredatastudio/pull/18
@llali

[2019-11-18 05:43] VendolaSolutions opened #8376 "Unable to edit row"
Issue Type: <b>Bug</b>

Select Edit data, but keep encountering the error, unable to edit any data and row at all.

Azure Data Studio version: azuredatastudio 1.13.0 (cacd481bff25c890e4130aee392569bae43b7e60, 2019-11-01T23:25:46.501Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8257U CPU @ 1.40GHz (8 x 1400)|
|GPU Statu

[2019-11-18 14:29] ehutton opened #8377 "Personalize Server Connection"
Issue Type: <b>Feature Request</b>

It would be good if you could set the "color" property of a server , as you can in SSMS.  This makes it easy to tell which server you are connected to in a quick glance.  I typically use a green, yellow, red color scheme for my development, testbed, and production servers.

Azure Data Studio version: azuredatastudio 1.10.0 (5fdb967ffcea41df0335ec17cfa396a694bb17

[2019-11-18 14:45] joezollo commented on #4904
I'd appreciate support for MySQL/MariaDB - supported versions only.

[2019-11-18 15:35] Charles-Gagnon commented on #7811
This is fixed in current insiders builds.

[2019-11-18 15:35] #7811 closed

[2019-11-18 15:53] twright-msft opened #8378 "Creating an external table over Oracle gives error"
Issue Type: <b>Bug</b>

Create an external table over an Oracle XE instance

In one case I get an error message that says this:
105083;The following columns in the user defined schema are incompatible with the external table schema for table 'Tf492bbad85ff4d': user defined column: ([OWNER] VARCHAR(30) COLLATE Latin1_General_BIN) is not compatible with the type of detected external table column: ([

[2019-11-18 15:55] twright-msft opened #8379 "Refreshing OE doesnt refresh the objects"
Issue Type: <b>Bug</b>

Connect to an instance.  Expand something like Databases.  See that there are database X, Y.  Create a new database Z.  Try to refresh OE and it will not show Z.  Same problem happens for tables too.

Azure Data Studio version: azuredatastudio-insiders 1.14.0-insider (02b1673c717529e2d34805b1e80194596159d327, 2019-11-15T08:22:04.489Z)
OS version: Darwin x64 18.2.0

<details

[2019-11-18 16:42] Charles-Gagnon commented on #8379
Did this just start happening? What kind of server are you connecting to? Does it ever show up if you wait a while and refresh? If you run `SELECT * FROM sys.databases` does it show up in that list?

[2019-11-18 17:06] Charles-Gagnon commented on #7814
This has been fixed on the latest insiders build

[2019-11-18 17:06] #7814 closed

[2019-11-18 18:24] #7659 closed

[2019-11-18 19:21] #7999 closed

[2019-11-18 19:21] #8277 closed

[2019-11-18 20:57] kburtram commented on #8324
@skanthb are you seeing any errors in the "Help->Developer Tools" Console?  The Explain button should show the Query Plan tab.

[2019-11-18 21:28] kburtram commented on #8331
@IanKemp the Connection metadata is in the User Setting, which can be reached from the `Open Settings (JSON)` command in the Command Palette (available from F1).  In the JSON file you should be able to directly modify the username for the connection.  Thanks for reporting this bug.

[2019-11-18 23:54] Charles-Gagnon commented on #8345
@Proavtor Can you give us more information about this? Do you see an error? Can you list the steps you're taking that result in the connection not being made?

[2019-11-19 02:37] db-woolies opened #8383 "Intellisense surrounds function names with square brackets"
Issue Type: <b>Bug</b>

When starting to type a function name, Intellisense suggests a matching function, and on selecting it (TAB) inserts the function name surrounded by square brackets, e.g. `[DATEADD]` which causes a syntax error.

Azure Data Studio version: azuredatastudio 1.13.0 (cacd481bff25c890e4130aee392569bae43b7e60, 2019-11-02T00:40:05.147Z)
OS version: Windows_NT x64 10.0.17134

<detai

[2019-11-19 02:39] #8383 closed

[2019-11-19 02:41] dimitri-b commented on #7570
I have the same issue  in 1.13.0

I have 3 extentions:

Extension|Author (truncated)|Version
---|---|---
import|Mic|0.12.0
azdata-sanddance|msr|1.3.9
poor-sql-formatter|WSR|0.1.0

[2019-11-19 05:58] JEONPPA commented on #8106
Still, I can not solve this problem.

[2019-11-19 07:35] Proavtor commented on #8345
1. Open the already saved file
2. Click on Connect
3. In connection window choose the server saved before (or input new no difference)
4. Nothing happens, just progress circle spin
![image](https://user-images.githubusercontent.com/32820090/69123754-38683a80-0ab3-11ea-941f-9d1d01e9e723.png)

But I can establish connection if chose New Connection from Connection Explorer.

[2019-11-19 08:04] erikmourits opened #8385 "No accept/reject buttons in compare mode"
Issue Type: <b>Bug</b>

When trying to save a 'dirty' file, I am prompted to compare my changes with the one on disk. An extra tab is opened with both versions loaded. However I am not able to accept or reject any changes because the buttons are not visible.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_N

[2019-11-19 16:36] dlalancette opened #8387 "Not able to generate script after a database compare"
Version: 1.13.1 (user setup)
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T23:08:09.800Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 6.1.7601

Name: SQL Server Schema Compare
Id: microsoft.schema-compare
Description: Schema Compare tool for dacpac and databases
Version: 1.0.0
Publisher: Microsoft
VS Market

[2019-11-19 16:59] paulirwin opened #8388 "Show Import Wizard context menu option when connected directly to a database"
**Is your feature request related to a problem? Please describe.**
The Import Wizard context menu option shows if you're connected to the `<Default>` database and then you right click on the database name. However, it does not appear if you specify a database when adding the connection, then right click on the server/database.

I believe this might have been what was reported in #7043 but that iss

[2019-11-19 17:41] paulirwin commented on #5579
+1 FYI, Enter also works but it's much more convenient to use the arrow keys so you don't have to either jump around the keyboard or use two hands.

[2019-11-19 17:59] rsaa opened #8389 "Option to export and import all connections"
- Azure Data Studio Version:

Steps to Reproduce:

[2019-11-19 18:01] #8389 closed

[2019-11-19 19:28] alanrenmsft opened #8390 "Update the build pipeline to read secrets from azure key vaults"
so that we only need to make changes in one place instead of updating all build pipelines.

[2019-11-19 19:58] wsmelton opened #8391 "Insiders Icon needs a bit more brightness"
The icon for the Insiders build, now the green color, is very faded on a dark themed taskbar:
![image](https://user-images.githubusercontent.com/11204251/69181427-ab35dd80-0ad4-11ea-8f54-86eccb72d2c3.png)

It would help to brighten that color just a bit.

[2019-11-19 20:27] #8293 closed

[2019-11-19 20:43] #7798 closed

[2019-11-19 20:43] #7594 closed

[2019-11-19 21:42] #7799 closed

[2019-11-19 21:58] anthonydresser commented on #8390
Im doing this as part of the mixin stuff; I can probably just extend it to include this.

[2019-11-19 22:00] alanrenmsft commented on #8390
@anthonydresser nice! when are we planning to switch to the YAML based build pipelines?

[2019-11-19 22:06] anthonydresser commented on #8390
the yml pipelines and the mixin stuff are not related. The yml stuff will probably be whenever we are comfortable with them being stable. The mixin stuff will probably be today or tomorrow.

[2019-11-19 23:23] kisantia commented on #8387
@dlalancette can you please share the dacpacs of these databases so that we can try to repro this?

[2019-11-19 23:58] chlafreniere commented on #8372
This is being tracked by #5300. I'll move that up to planning.

[2019-11-19 23:58] #8372 closed

[2019-11-20 04:42] Charles-Gagnon commented on #8345
How long have you left it spinning? If you open the developer console (Help -> Toggle Developer Tools) and go to the Console tab are there any errors displayed there?

[2019-11-20 06:27] #8066 closed

[2019-11-20 08:04] Proavtor commented on #8345
The bug is pretty floating. While the connection succeeds in the next tab, in this tab I wait a minute or more and nothing happens.
Below you can fing output from console.
` INFO Creating new connection file:///c:/Users/kgarifulin/OneDrive/ООО МигКредит/Team BI - Документы/Разработка/Deploy Scripts/Data Studio/Changes/UCDB/RFC-191083 Стоимость 15% займа/01.5. create table insurance_program_tariff_

[2019-11-20 11:24] IanKemp commented on #8331
The connection metadata under the "Servers" section, yes. But connections under "Azure" are the problem here, and I can't figure out where *that* metadata is living.

[2019-11-20 16:01] ltuch1977 opened #8401 "Cannot set property 'groupid' of undefined"
Issue Type: <b>Bug</b>

When I go to Connections tab in ADS, the Servers don't show up.  Also when I hit the shortcute ctrl+shift+D, I get this error Cannot Set property 'groupid' of undefined.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.17134

<details><summary>Extensions (12)</summary>

Ex

[2019-11-20 16:20] ltuch1977 opened #8402 "Cannot set property 'groupid' of undefined"
- Azure Data Studio Version:

Steps to Reproduce:

1.

[2019-11-20 16:21] #8402 closed

[2019-11-20 16:21] ltuch1977 commented on #8402
duplicated from #8401

[2019-11-20 16:22] Charles-Gagnon commented on #8345
This looks to be an issue with the % in the path, we aren't parsing that correctly. Could you try removing the % from `RFC-191083 Стоимость 15% займа` and then trying again? We'll investigate fixing this but that should hopefully be a workaround for you until we can get a fix out for this.

[2019-11-20 17:52] sqlworldwide opened #8403 "sp_whoisactive extension tasks not working"
- Azure Data Studio Version:
Version: 1.13.1 (user setup)
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T23:08:09.800Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.16299

Steps to Reproduce:
1. Install extension sp_whoisactve.
2. Double click on SQL Server Name in Connection pane
3. On the dashboard sel

[2019-11-20 19:37] anthonydresser commented on #8403
@kburtram who owns sp_whoisactive?

[2019-11-20 19:42] Charles-Gagnon commented on #8403
That's us https://github.com/microsoft/azuredatastudio/tree/master/samples/sp_whoIsActive

I'll take a look at this - I updated it a while back to switch to the azdata namespace so that might have broken something - although I thought I tested all the buttons and they worked fine.

[2019-11-20 20:15] rrgiles opened #8406 "Please update Extension Authoring topics"
- Azure Data Studio Version: current

The Extension Authoring topics located at https://docs.microsoft.com/en-us/sql/azure-data-studio/extensibility?view=sql-server-ver15 should to be updated. Some references to 'sqlops' still exist and should be updated to reflect the use of 'azdata' instead. The instructions for upgrading from older extensions should be referenced here as well and it would be he

[2019-11-20 20:17] ofvargas opened #8407 "After the new Upgrade"
Issue Type: <b>Bug</b>

Cancel a query does not work anymore

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.16299

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-6820HQ CPU @ 2.70GHz (8 x 2712)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enabled<br>

[2019-11-20 20:19] olivesandtrees opened #8408 "Unable to Verify the First Certificate Error When Trying to Add Azure Account"
Issue Type: <b>Bug</b>

When trying to add a Azure account to Azure Data Studio I am greated by the following error "unable to verify the first certificate" as soon as I click the Add an account button.

I have added "http.proxyStrictSSL": false to my settings but it did not make any difference.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-1

[2019-11-20 20:25] alanrenmsft opened #8409 "button stays in active style even when the mouse has moved away"
this happens for all the places when we use toolbarContainer component.
1. move the mouse over a button in the toolbar
1. press the mouse button and don't release it
1. move the mouse away and then release the mouse button
this is what you'll see:
<img width="396" alt="Screen Shot 2019-11-20 at 11 26 28 AM" src="https://user-images.githubusercontent.com/13777222/69275167-b9e1ca80-0b90-11ea-9de1-93

[2019-11-20 20:36] #8077 closed

[2019-11-20 21:28] #8409 closed

[2019-11-20 21:57] #7669 closed

[2019-11-20 21:57] #7666 closed

[2019-11-20 21:57] #7813 closed

[2019-11-20 21:57] #7815 closed

[2019-11-20 22:28] Charles-Gagnon commented on #8403
@sqlworldwide This seems to be working fine in my testing. What version of the extension do you have installed? When you click the button does any error show up in the Developer Console (Help -> Toggle Developer Tools, click Console tab)

[2019-11-20 22:44] ranasaria commented on #8207
Thanks for the repro details Tom. We will investigate this further and get back to you.

@eOkadas - can you also share your repro details and/or object schema as requested before.

[2019-11-20 22:53] smartguest opened #8414 "Deleting row in when using editdata causes entire table to be null"
Steps to Reproduce:

1. Open a table using EditData. (for my case, it was a simple one row table)
2. Click on any rowCell to be deleted, it appears to be removed just fine.
3. When looking in the SQL Server Management Studio or upon refresh, the entire table is null and entries have to be reentered again as a result.

This happens in the master branch as well as in my editdatatest branch (where th

[2019-11-20 22:58] alanrenmsft commented on #8406
thanks @rrgiles , i have submitted a PR to update the content. regarding to the instructions for upgrading sqlops, don't think it is needed tthere since Idera extension is the only one still using sqlops.

[2019-11-20 22:58] #8406 closed

[2019-11-20 23:09] swjain23 opened #8417 "Ability to select sql flavor for offline scripts"
By default language flavor is MSSQL and user is not allowed to change that.
We want to enable customer to be able to select the language flavor in ADS when the editor is offline.

[2019-11-20 23:49] #7660 closed

[2019-11-21 01:52] Charles-Gagnon commented on #7817
Fixed by https://github.com/microsoft/azuredatastudio/pull/8405

[2019-11-21 01:52] #7817 closed

[2019-11-21 01:57] Charles-Gagnon commented on #7663
Duplicate of #7816

[2019-11-21 01:57] #7663 closed

[2019-11-21 01:59] Charles-Gagnon commented on #7672
There are known issues with JAWS and so we (and VS Code) primarily support NVDA as the screen reader of choice. So closing this for now - let us know if this is a concern.

[2019-11-21 02:05] witwiki opened #8421 "Messages and Line Number"
Issue Type: <b>Feature Request</b>

Would love the same feature as in SQL Server where when you double click on an error (or any) message it directs you straight to the line number in the code editor.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.17134

[2019-11-21 02:18] anthonydresser commented on #8421
The "started executing query as" text is clickable and will take you to the batch that those messages are associated with. I don't think we currently have the ability to get more specific than batch level. @kburtram thoughts?
![image](https://user-images.githubusercontent.com/4324725/69298225-15787c00-0bc2-11ea-8ad7-3dfe17a52e49.png)

[2019-11-21 02:39] sqlworldwide commented on #8403
Name: whoisactive
Id: microsoft.whoisactive
Description: sp_whoisactive for Azure Data Studio
Version: 0.1.2
Publisher: Microsoft
VS Marketplace Link: undefined?itemName=Microsoft.whoisactive

I cleared my console and and tried again. Nothing showed up in console when I press those two buttons.

[2019-11-21 08:03] Proavtor commented on #8345
Yeas this was a reason. I have removed % and it's all right now. It is not a problem to remove all % but I didn't know about that issue. Thanks a lot, you make very nice product!

[2019-11-21 12:28] dlalancette commented on #8387
Sorry I can't since this is an enterprise database.

[2019-11-21 12:59] sqlworldwide commented on #8403
Can you please let me know when I click these 2 buttons which location the request goes to? Maybe it is blocked from my end with some setting. Once I know that I can try from browser or another computer.

[2019-11-21 14:32] ahryshchanka commented on #8311
installed version:
[code]

[2019-11-21 14:46] elindstr113 opened #8423 "Ignore Permissions option not working"
- Azure Data Studio Version:  1.13.1
SQL Server Schema Compare 1.0.0

When comparing two databases, I have selected the "Ignore Permissions" option, but differences are still flagged, and the only difference is the permissions.

![ignore_permissions](https://user-images.githubusercontent.com/3483987/69347992-6e3c2900-0c43-11ea-9795-0696cc58931e.jpg)

[2019-11-21 15:49] Charles-Gagnon commented on #8403
Install -> http://whoisactive.com/downloads/
Documentation -> http://whoisactive.com/docs/

[2019-11-21 16:38] sqlworldwide commented on #8403
Thank you. I can get to both without any issues from my browser using the same machine that I used before I reported the bug.

[2019-11-21 16:46] Charles-Gagnon commented on #8403
Hmm, could you try the following :

1. Uninstall the extension
2. Quit ADS
3. Go to %USERPROFILE%\.azuredatastudio\extensions
4. Delete the microsoft.whoisactive-0.1.2
5. Restart ADS and reinstall the extension

and then see if this issue still persists? Do you have other computers on the same network you could also test with to see if it's local to that machine or possibly something else more wid

[2019-11-21 18:04] kevcunnane commented on #8310
@corivera can you investigate this? I'd like to know if it's by design or needs a fix.

[2019-11-21 18:04] Charles-Gagnon commented on #8401
Can you open the Developer Console (Help -> Toggle Developer tools, go to console tab) and see if there's any errors listed there?

[2019-11-21 18:51] sqlworldwide commented on #8403
I believe I found the issue. I am reinstalling. Will let you know. Please do not spend anymore time on this till I put my update.

[2019-11-21 18:59] kisantia commented on #8387
@dlalancette do apply changes and generate script also fail for this comparison when comparing using SSDT?

[2019-11-21 19:08] dlalancette commented on #8387
No, it works.
I have to say that I only get this error since I updated my ADS and the extension SQL Server Schema Compare. Before that, everything was working.

[2019-11-21 19:21] kisantia commented on #8387
Can you send a non-enterprise sample that repros this issue? It would help us narrow down what caused this regression.

Did you update from October release to November release? Or from an older version?

[2019-11-21 19:24] #8147 closed

[2019-11-21 20:12] Alexandria-R commented on #6663
Not approved, as this is an improper use of toast and was not acknowledged by the external party.

[2019-11-21 20:14] Alexandria-R commented on #6661
Not approved, as this is an improper use of toast and was not acknowledged by the external party.

[2019-11-21 20:15] Alexandria-R commented on #6871
Approved to close as non blocking.

[2019-11-21 20:17] Alexandria-R commented on #6666
Approved as non blocking.

[2019-11-21 20:19] Alexandria-R commented on #6903
Approved as non blocking.

[2019-11-21 21:18] jconrey opened #8427 "Brackets are added to SQL function names upon auto-complete"
Issue Type: <b>Bug</b>

if I type "select count_bi", autocomplete will prompt me to select count_big, and when I do it prints completes count_big, but it also surrounds it with brackets, which renders the command useless until I manually remove the brackets, which in turn renders the autocomplete useless. I've not found a way to customize this setting, but could we just remove the brackets from th

[2019-11-21 21:24] joshs-STCU opened #8428 "Notebooks: Internal Document Links Not Functional"
Azure Data Studio Version: 1.13.1

CPUs | Intel(R) Core(TM) i7-6600U CPU @ 2.60GHz (4 x 2808)
-- | --
GPU Status | 2d_canvas: enabledflash_3d: enabledflash_stage3d: enabledflash_stage3d_baseline: enabledgpu_compositing: enabledmultiple_raster_threads: enabled_onnative_gpu_memory_buffers: disabled_softwareoop_rasterization: disabled_offprotected_video_decode: unavailable_offrasterization: enabledsk

[2019-11-21 21:30] anthonydresser commented on #8428
What kind of document are you trying to do this in? notebook, markdown? etc.

[2019-11-21 21:31] kisantia commented on #8423
Thanks for finding this bug! We will investigate why this option isn't being honored.

As a workaround, the permissions should be ignored if "Permissions" is unchecked in the Include Object Types
![image](https://user-images.githubusercontent.com/31145923/69378334-0990c680-0c63-11ea-86be-29855d2b6738.png)

[2019-11-21 21:45] jshihadeh opened #8429 "Azure data studio python requires pykerberos>=1.21, package not found"
- Azure Data Studio Version: 1.13.1 (system setup)
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T23:08:09.800Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.16299

Steps to Reproduce:

1. Open Azure Data Studio
2. Create a new notebook and select Python 3 from Kernel OR select a modified notebook under

[2019-11-21 21:57] hannahqin commented on #6661
@Alexandria-R The VSCode (external) team is saying that they do not think toast notifications should steal focus, and that we should use a large modal dialog if we want focus to shift immediately.

We are using toast notifications as expected according to VSCode's documentation and believe that it's the best user experience to use a toast notification in these cases instead of a modal dialog. Howe

[2019-11-21 21:58] hannahqin commented on #6663
@Alexandria-R The VSCode (external) team is saying that they do not think toast notifications should steal focus, and that we should use a large modal dialog if we want focus to shift immediately.

We are using toast notifications as expected according to VSCode's documentation and believe that it's the best user experience to use a toast notification in these cases instead of a modal dialog. Howe

[2019-11-21 23:29] #8341 closed

[2019-11-21 23:45] joshdba commented on #8428
Apologies: in a Notebook.

[2019-11-22 01:48] rich617 opened #8433 "Support authType connection option for non-SQL (OSS) databases"
**Is your feature request related to a problem? Please describe.**
Our team is attempting to add Active Directory Authentication for Microsoft open-source PaaS databases (PostgreSQL). The connectionWidget and supporting code do not cover our use cases in the following ways:

- Default authType is "Integrated" when OS === Windows, but OSS DBs do not support Windows Integrated Authentication as a ty

[2019-11-22 02:29] sqlworldwide commented on #8403
Interesting twist.
I have two domain account.

- domainName\userName
-domainName\admin-userName

I always log into the Virtual Desktop Tom (in Azure) with 'domainName\userName' but when we connect to any database server we have to use 'domainName\admin-userName' account.

I installed 'Azure Data Studio' using this link https://go.microsoft.com/fwlink/?linkid=2109085 which installed in C:\Program F

[2019-11-22 07:13] dhirensham commented on #3700
I'm having the same issue as tomas-gottwald above. My AAD account is admin on one account and guest on another. Trying to login with MFA enabled into Azure Data Studio, I complete the MFA with the Authenticator app, and then I get the "Error: Entry not found in cache." message. Not sure what log files are required, but I can provide what's necessary.

Version: 1.13.1 (user setup)
Commit: d08d07fe3

[2019-11-22 14:36] josh-greenlaw commented on #2638
I'm having this issue as well, it's super frustrating as the only way I can fix it is by closing Azure Data Studio then re-opening it. I've tried reinstalling, running as admin, and running on a different computer. Whenever it happens, I also get either a table of blank results if I select "Run Query" or the following in Messages (no results).

[code]
![empty-grid](https://user-images.githubuserco

[2019-11-22 16:11] AlejoSQL commented on #7619
Hi All:

I can repro this continuously on
Version: 1.13.0-insider (user setup)
Commit: f8067ffadab178d2929a162408032ff63b0b717b
Date: 2019-10-25T09:46:57.975Z
VS Code: 1.38.0
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

It doesn't allow "Sign in to Azure" or connecting to a Azure SQL DB with MFA

[2019-11-22 16:20] Charles-Gagnon commented on #8403
What do you mean "start ADS with 'Different user'"? You mean you use runas to start ADS as this other user? If you log into the VM as the admin account and then launch ADS does it work as expected?

[2019-11-22 16:25] AlejoSQL commented on #8311
I can repro too

Version: 1.13.0-insider (user setup)
Commit: f8067ffadab178d2929a162408032ff63b0b717b
Date: 2019-10-25T09:46:57.975Z
VS Code: 1.38.0
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

[2019-11-22 16:27] AlejoSQL commented on #8311
Hey, doesn't this seem as the saem as #7619 ?

[2019-11-22 16:34] sqlworldwide commented on #8403
Shift+Right click-->Run as different user
I will try what you suggested and let you know.

[2019-11-22 16:38] AlejoSQL commented on #7074
seems to be similar to #7619 .

[2019-11-22 16:51] sqlworldwide commented on #8403
ADS does not launch when I log int the VM with my admin account. I looked at logs in event viewer, did not find anything.
Tried to launch from 'C:\Program Files\Azure Data Studio\azuredatastudio.exe' still no luck.

[2019-11-22 17:05] erniefarias opened #8435 "Feature Request: Automatically close comments"
- Azure Data Studio Version: 1.13.1

Steps to Reproduce: N/A

When typing in certain characters (e.g. quotes, brackets, parenthesis), Azure Data Studio will automatically add the corresponding character to close the first character. It'd be nice to have the same thing happen for comments - i.e. after typing in _/*_, Azure Data Studio should automatically type _*/_ (and keep the cursor in the middl

[2019-11-22 17:10] Charles-Gagnon commented on #8427
Thanks for the report @jconrey - I'm going to close this as a duplicate of #7570 so follow that for any updates! I haven't been able to dig into what's causing this but I am able to repro it myself so I should be able to figure something out. I'll let you know if I need any more information!

[2019-11-22 17:10] #8427 closed

[2019-11-22 17:26] jconrey commented on #8427
Awesome! Thanks, Charles. Have a great weekend.

On Fri, Nov 22, 2019, 12:10 PM Charles Gagnon <notifications@github.com>
wrote:

[2019-11-22 17:47] dnethi opened #8436 "Update "Deployment Options" page to show the location for cmdline tools"
The current "Deployment Options" dialog detects whether or not the tools are installed but does not show the location.
When user chooses to have ADS installed, we should show the location where we are installing the tools.
I propose we dd another column to the existing "Required Tools" table to add another column "Location" and put the path in there. We may have to adjust the Tool Description to s

[2019-11-22 19:01] #7802 closed

[2019-11-22 19:01] #7670 closed

[2019-11-22 19:11] alanrenmsft commented on #7624
@corivera and @chlafreniere could you please take a look?
<img width="982" alt="Screen Shot 2019-11-22 at 11 10 59 AM" src="https://user-images.githubusercontent.com/13777222/69453460-cd1fa200-0d18-11ea-82e4-315d5891c95b.png">

[2019-11-22 19:24] #7944 closed

[2019-11-22 19:27] #8314 closed

[2019-11-22 19:27] corivera opened #8438 "Investigate default connection picking behavior in NotebookContexts"
When selecting the default connection in NotebookContexts.getActiveContexts, the only criteria used is whether the serverName matches the one in the provided connection profile. We should investigate whether things like database name and user name should also be considered.

Note that this doesn't cause any issues with picking a "wrong" connection. All the other active connections for the supporte

[2019-11-22 19:55] aaomidi commented on #7619
Is this a personal azure account or azure for work?

[2019-11-22 19:58] mrdenny commented on #7619
I was using a work or school account

Thank You,
Denny Cherry
Owner & Principal Consultant
Denny Cherry & Associates Consulting
denny@dcac.com | +1 (323) 686-1478

________________________________
From: Amir Omidi <notifications@github.com>
Sent: Friday, November 22, 2019 11:55:28 AM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Denny Cherry <denny@dcac.com>; Author <autho

[2019-11-22 20:24] AlejoSQL commented on #7619
Work or school account as well

[2019-11-22 20:29] aaomidi commented on #7619
Do you know if you have conditional access setup?

[2019-11-22 20:31] mrdenny commented on #7619
We do not have CA setup

Thank You,
Denny Cherry
Owner & Principal Consultant
Denny Cherry & Associates Consulting
denny@dcac.com | +1 (323) 686-1478

________________________________
From: Amir Omidi <notifications@github.com>
Sent: Friday, November 22, 2019 12:29:58 PM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Denny Cherry <denny@dcac.com>; Author <author@noreply.git

[2019-11-22 20:31] AlejoSQL commented on #7619
No conditional access enabled here

[2019-11-22 21:20] #8126 closed

[2019-11-22 21:55] MaddyDev commented on #8186
Am still seeing this issue intermittently:
![image](https://user-images.githubusercontent.com/12754347/69463151-c6505980-0d2f-11ea-845a-35e435ae6588.png)

[2019-11-22 21:58] MaddyDev commented on #8157
This has been fixed by above linked PR by Chris

[2019-11-22 21:58] #8157 closed

[2019-11-22 22:20] Charles-Gagnon commented on #7662
This was fixed by https://github.com/microsoft/azuredatastudio/pull/8384

[2019-11-22 22:21] Charles-Gagnon commented on #7816
Fixed by https://github.com/microsoft/azuredatastudio/pull/8405

[2019-11-22 22:21] #7816 closed

[2019-11-22 22:46] dfinke opened #8442 "Auto reload ipynb when updated on disk"
I'm building this PowerShell module https://github.com/dfinke/PowerShellNotebook.
One feature, it has a DSL to create PS Notebooks.

Does Azure Data Studio have the feature that reloads the `ipynb`  when it gets updated on disk? If not, it'd be very handy.

[2019-11-22 22:56] MaddyDev commented on #7555
Updated the books last release and this issue should now be resolved.

[2019-11-22 22:56] #7555 closed

[2019-11-22 23:50] #7597 closed

[2019-11-23 00:05] #7818 closed

[2019-11-23 00:17] alanrenmsft commented on #7677
we have removed the checkbox(emoji) in the latest design, see below, closing the issue.
<img width="600" alt="Screen Shot 2019-11-22 at 4 14 46 PM" src="https://user-images.githubusercontent.com/13777222/69469038-98751000-0d43-11ea-8646-3d54b1a34e6e.png">

[2019-11-23 00:17] #7677 closed

[2019-11-23 00:34] alanrenmsft commented on #7675
this is not meant to be a table, according the definition of the roles, it is more like a button: https://developer.mozilla.org/en-US/docs/Web/Accessibility/ARIA/Roles/button_role, i am going to add a button role

[2019-11-23 00:34] cybearg-defense commented on #5692
I am also receiving the error listed above:

GSSAPI operation failed with error - The provided name was not a mechanism name. (unknown mech-code 0 for mech unknown).
at Microsoft.Win32.SafeHandles.SafeGssNameHandle.CreatePrincipal(String name) in /xplat/cfxfork/corefx/src/Common/src/Microsoft/Win32/SafeHandles/GssSafeHandles.cs:line 45

kinit and klist show that I have a valid authorization.

I ha

[2019-11-23 01:20] #8093 closed

[2019-11-23 01:31] #7675 closed

[2019-11-23 01:34] alanrenmsft commented on #7671
it will read the loading and then loading completed

[2019-11-23 01:36] alanrenmsft commented on #7671
now it will read loading xxxx and loading xxx completed

[2019-11-23 02:53] #7671 closed

[2019-11-23 02:55] alanrenmsft commented on #7668
this should have been fixed now by @Charles-Gagnon 's PR https://github.com/microsoft/azuredatastudio/commit/52de2b475108918159a6dfea59efa7407663afa7

[2019-11-23 02:55] #7668 closed

[2019-11-23 02:56] alanrenmsft commented on #7598
should have been fixed by https://github.com/microsoft/azuredatastudio/commit/52de2b475108918159a6dfea59efa7407663afa7

[2019-11-23 02:56] #7598 closed

[2019-11-23 04:41] alanrenmsft commented on #7600
will be fixed by https://github.com/microsoft/azuredatastudio/pull/8451

[2019-11-23 12:11] #4592 closed

[2019-11-23 17:30] CheetahChrome opened #8454 "SQLCMD Execution Reports "Command Include is not Supported""
Issue Type: <b>Bug</b>

On a SQL Server 2019 database when I attempt to execute a sql command script it reports:

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i9-9900 CPU @ 3.10GHz (6 x 3096)|
|GPU

[2019-11-23 21:03] anthonydresser commented on #8454
Are you attempting to run this in the terminal of azuredatastudio?

[2019-11-23 21:51] Charles-Gagnon commented on #8454
It looks like this is for the SQLCMD mode in the query editor.

@udeeshagautam This looks like another instance of a keyword we don't support - can you confirm this?

[2019-11-24 15:11] CheetahChrome commented on #8454
From a script targeting a local instance of SQL Server 2019. Here are the steps:

![image](https://user-images.githubusercontent.com/1110966/69496691-f3b51880-0e91-11ea-9c7b-515f4ac4c3cc.png)

[2019-11-24 15:21] CheetahChrome commented on #8454
Also why does it say "Choose SQL Language" once I run the script?

![image](https://user-images.githubusercontent.com/1110966/69496809-578c1100-0e93-11ea-9173-df59b9529f21.png)

[2019-11-24 17:16] peterrow opened #8455 "In Servers pane refresh will intermittently stop working"
Issue Type: <b>Bug</b>

After adding columns via SQL statements and importing a CSV into a new table right clicking and choosing the refresh option on the database stops refreshing and I can't see the new tables/columns added.

Furthermore when it is working refreshing collapses the whole tree, it shouldn't do this. It should be possible to use the refresh option at the Table node of a DB without

[2019-11-24 20:03] #7596 closed

[2019-11-24 20:03] #7600 closed

[2019-11-24 20:23] #7601 closed

[2019-11-24 20:24] #7602 closed

[2019-11-24 20:50] alanrenmsft commented on #7604
addressed by https://github.com/microsoft/azuredatastudio/pull/8443

[2019-11-24 20:50] #7604 closed

[2019-11-24 20:53] alanrenmsft commented on #7605
now that we no longer have that particular checkbox due to design change, but we still one checkbox and we have fixed the issue

<img width="1159" alt="Screen Shot 2019-11-24 at 12 52 28 PM" src="https://user-images.githubusercontent.com/13777222/69501399-61c10600-0eb9-11ea-8097-7459ca6adea1.png">

![Screen Shot 2019-11-24 at 12 52 34 PM](https://user-images.githubusercontent.com/13777222/69501400

[2019-11-24 20:53] #7605 closed

[2019-11-24 21:29] alanrenmsft commented on #7609
this should have been fixed now, i am able to have narrator read the column name.

[2019-11-24 21:29] #7609 closed

[2019-11-24 21:41] tariq7t opened #8458 "Intellisense not working"
Issue Type: <b>Bug</b>

When I type something, it doesn't show the available similar commands. Such as when I type FROM, it doesn't show the list of tables I can choose from.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:00:55.976Z)
OS version: Darwin x64 18.7.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Int

[2019-11-24 21:48] alanrenmsft commented on #7665
this is because the dropdown itself is disabled and it shouldn't be focusable. @vinodbk197  please let me know if you think disabled control should be focusable.

[2019-11-24 21:48] #7665 closed

[2019-11-24 21:49] #8458 closed

[2019-11-24 22:54] Charles-Gagnon commented on #7870
Fixed

[2019-11-24 22:54] #7870 closed

[2019-11-25 07:54] simongottipalli commented on #7619
Information: I had this problem with my work/school account as well. I found some online resources that suggested that this problem is because the account is linked to more than one Azure subscriptions - which was true in my case.
Out of the two, 1 of them was disabled (not deleted but disabled/deactivated) and one active subscription.
**Workaround**: Delete any inactive/disabled Azure subscriptio

[2019-11-25 08:46] TGod-Ajayi opened #8461 "Error connecting to azure server"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Performance Issue</b>

download azure on macbook pro,
Try connecting to a database

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:00:55.976Z)
OS version: Darwin x64 19.0.0

<details>
<summary>System Info</summary>

|Item|Val

[2019-11-25 09:34] thiagolunardi opened #8463 "Query History: Logs should remain forever"
- Azure Data Studio Version:

Version: 1.13.1 (user setup)
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T23:08:09.800Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.19030

- Query History Extension Version:

Version: 0.1.0

Steps to Reproduce:

1. Connect to any database
2. Run any query. Eg: `SELECT GE

[2019-11-25 09:38] despo4 opened #8465 "Cant export to excel"
Cant export to excel i can save the file but when pouching Open file in the pop up the file insists on opening ion Azure data studio not in excel. What to do=?

1.

[2019-11-25 10:08] mrdenny commented on #7619
We also have multiple subscriptions on our account.

Additionally my account has access to multiple accounts.

Thank You,
Denny Cherry
Owner & Principal Consultant
Denny Cherry & Associates Consulting, an Inc. 5000 company
denny@dcac.com<mailto:denny@dcac.com>
(o) +1 (323) 686-1478<tel:3236861478> | (d) +1 (213) 973-3669<tel:2139733669>
Online Calendar Bookings<https://calendly.com/mrdenny>
[cid:i

[2019-11-25 10:50] AlejoSQL commented on #7619
My account also has access to multiple subscriptions across single and multiple tenants

[2019-11-25 13:36] andysousa commented on #7747
Any update on this, unfortunately our MDM policy doesn't allow us to override these types of warnings via the security tab in the system preferences

[2019-11-25 14:08] DigitalDuquette commented on #8435
While we wait, @erniefarias you could create an additional entry in .code-snippets file (add this):

[code]

[2019-11-25 15:44] Forage commented on #4304
It's a GTK on Wayland issue: https://gitlab.gnome.org/GNOME/gtk/issues/1825

[2019-11-25 15:44] #4304 closed

[2019-11-25 15:47] Charles-Gagnon commented on #8463
Thanks for the feedback @thiagolunardi - we're already tracking this request here - https://github.com/microsoft/azuredatastudio/issues/8243 - so I'm going to close this one as a duplicate.

[2019-11-25 15:47] #8463 closed

[2019-11-25 15:51] Charles-Gagnon commented on #8461
@TGod-Ajayi Could you please provide more information - such as any errors you're seeing?

We're already tracking some issues with connections to Azure here -https://github.com/microsoft/azuredatastudio/issues/7619. Could you see if the issues described there are the same as the ones you're experiencing?

[2019-11-25 15:57] DavidEaves345 commented on #112
+1 for me as well. Runas is just an annoying workaround.

[2019-11-25 16:19] olivesandtrees commented on #8408
I was able to fix this issue by bypassing our security web proxy (which had TLS inspection turned on).

[2019-11-25 18:04] uc-msft opened #8467 "SQL notebook and ability to run SQLCMD or OS commands"
Issue Type: <b>Feature Request</b>

Please enable SQLCMD extension to T-SQL editor and the SQL notebook. The SQLCMD mode in T-SQL editor is currently broken (I have filed separate bug for that).

Currently, I don't want to run python code to run bunch of T-SQL batches and say perform other OS/SQLCMD commands. I use a .SQL script right now and run from SSMS that can support this pattern.

Azure Dat

[2019-11-25 18:29] blakemcneill opened #8468 "Getting Started link is incorrect"
Issue Type: <b>Bug</b>

The menu item Help -> Getting Started goes to the incorrect link. It should go to http://aka.ms/get-started-azdata. It instead goes to https://go.microsoft.com/fwlink/?linkid=875578.

The link from the Welcome page is correct.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10

[2019-11-25 19:27] #8379 closed

[2019-11-25 19:44] aaomidi commented on #7619
I'm currently in the process of re-working our azure login experience. I'll update this issue once we have an updated version out.

I'm unable to repro the specific bug you're suggesting.

[2019-11-25 20:47] rwlpf opened #8470 "Table schema not updating"
Created script to update the schema of a table, ran the script in Azure Data Factory which ran succesfully.

Right hand mouse click on table node eg 'dbo.Stages' in the database, clicked on 'Refresh', did not update the table schema.  Right hand mouse click on Tables Folder node in the database, clicked on 'Refresh', did not update the table schema.

Then went to SSMS which was already connected t

[2019-11-25 20:48] lisaburnett-ha opened #8471 "Data is null for Sql Server Central Management Servers extension"
On Central Management Servers extension.
Added the Azure server and it shows up under the Central Management Servers.
Click on the server and get this error:

Data is Null. This method or property cannot be called on Null values.

[2019-11-25 21:04] #7621 closed

[2019-11-25 21:05] #7608 closed

[2019-11-25 21:25] alanrenmsft commented on #7820
no audio from the pptx file, but if i understand it correctly, you are expecting the voiceover to read the word "column name", which is not something we can control, according to VoiceOver documentation, you can use VO + C + C to let VO announce the column name and it works.

[2019-11-25 21:25] #7820 closed

[2019-11-25 22:29] alanrenmsft opened #8474 "azdata eula link doesn't work"
the correct should be https://aka.ms/eula-azdata-en as per azdata CLI.

[2019-11-25 22:41] #8474 closed

[2019-11-26 00:22] kburtram opened #8477 "Query results grid doesn't display by default"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Run a query that generates a resultset

Expected: Result set is visible

Actual: Result set is not visible.  Running `Toggle Query Results` shows the result grid.

[2019-11-26 00:28] kburtram opened #8478 "HotExit query editors don't work correctly from stable to insiders"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open some SQL scripts and type of content in them using 1.13.1 stable build
2. Close ADS stable with documents unsaved\open for HotExit
3. Open ADS insiders

Expected: SQL editor windows behavior normally

Actual: Closing the SQL editors creates "untitled plain text" tab documents which can't be closed.  Clicking close button on tab do

[2019-11-26 00:28] kburtram commented on #8478
@anthonydresser I think this is likely related to the custom editors change that went in recently.  Could you please take a look?

[2019-11-26 00:34] anthonydresser commented on #8478
This is interesting since aren't insiders and table supposed to use different data store directories? so they don't share hot exit?

[2019-11-26 00:46] kburtram opened #8479 "SQLPLAN files no longer open with custom editor"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Save a query plan to a .SQLPLAN file.  (e.g. Run a query with the Explain option, click the XML link, save the XML file as file.sqlplan).
2. Open the SQLPLAN file

Expected: The plan is rendered in the SQL PLAN custom editor

Actual: XML opens in a query editor document.  This is a regression from 1.13.1.

![image](https://user-images.

[2019-11-26 00:46] kburtram commented on #8479
@anthonydresser this looks like a regression likely from the custom editor changes.  Thanks!

[2019-11-26 00:57] vchauha6 commented on #8429
same issue.my side; even gssapi is already installed.

c:\users\vchauha6\appdata\local\temp\pip-install-0un8d2vx\pykerberos\src\kerberosbasic.h(17): fatal error C1083: Cannot open include file: 'gssapi/gssapi.h': No such file or directory

[2019-11-26 01:12] kburtram commented on #8471
We should probably be raising a more appropriate error messages such as how SSMS handles this scenario.

![image](https://user-images.githubusercontent.com/599935/69591168-bc845b80-0fa6-11ea-9111-b8026c00367e.png)

[2019-11-26 04:31] #7673 closed

[2019-11-26 05:08] alanrenmsft commented on #7667
this is fixed now, nvda reads 2 of 3 and then the name of the option.

[2019-11-26 05:08] #7667 closed

[2019-11-26 05:11] alanrenmsft commented on #7946
this is for Grade B (Usability), i am going to leave this open until we are planning to get to that level as a whole.

[2019-11-26 05:15] alanrenmsft commented on #7607
@V-sheman  we have a similar issue and treated as exception due to the low impact of this behavior: https://github.com/microsoft/azuredatastudio/issues/6662, can we also close this issue?

@yualan , could you please help follow up on this?

[2019-11-26 14:08] ltuch1977 commented on #8401
Hi Charles, here are the errors listed in the console:

c:\Program Files\Azure Data Studio\resources\app\node_modules.asar\zone.js\dist\zone-node.js:388 ERROR TypeError: Cannot read property 'getSelection' of undefined
    at ServerTreeView.getSelection (file:///C:/Program Files/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:187443:31)
    at ObjectExplorerService.getSe

[2019-11-26 16:33] fluggo commented on #6450
I have this same issue in 1.13.1. Like juniordeveloperbootcamp, if I choose to "Manage" and then refresh the Object Explorer view, I am able to see the tables and views. Otherwise, it times out.

Server I'm connecting to is version 14.0.3045.24.

[2019-11-26 18:18] ranasaria opened #8484 "Insiders build failure on 11/26/2019"
The build that started yesterday night failed. https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=47713. I am investigating the failure. This is what the failure looks like:

https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=47716 :

<1s
Unhandled: Not found SourceFolder: e:\mssqltoolsagentworkspace\72\vsix
1s
<1s
Unhandled: Not found So

[2019-11-26 18:33] #8433 closed

[2019-11-26 18:40] #8477 closed

[2019-11-26 19:33] kburtram commented on #8484
@anthonydresser do you think this is related to recent pipeline definition changes?

[2019-11-26 20:05] ranasaria opened #8485 "tools service fails to start on mac if it has not been previously downloaded on machine"
This issue is observed only on a mac using the latest insiders build produced by the new yaml pipeline. When I run the insiders build produced by the old pipeline, this issue is not observed.

Repro steps:
1. Download the latest insiders build for mac using the URL: https://azuredatastudio-update.azurewebsites.net/latest/darwin/insider
2. Unzip the folder
3. run the 'Azure Data Studio - Insiders'

[2019-11-26 20:06] alanrenmsft commented on #7940
this has been fixed by https://github.com/microsoft/azuredatastudio/pull/8452

[2019-11-26 20:06] #7940 closed

[2019-11-26 20:20] anthonydresser commented on #8484
Yes this is because I removed the step that builds the vsixs from the package task as its own task, but this is the old release build.

If we wanted to keep it running, just need to add the ` yarn gulp package-external-extensions` step.

[2019-11-26 20:26] alanrenmsft commented on #7941
I don't think this is a problem with ADS, voice over will read the column twice even for this sample table https://www.w3schools.com/html/html_tables.asp

[2019-11-26 20:26] #7941 closed

[2019-11-26 20:27] alanrenmsft commented on #7939
fixed by https://github.com/microsoft/azuredatastudio/pull/8452

[2019-11-26 20:27] #7939 closed

[2019-11-26 20:53] kburtram commented on #8484
@anthonydresser can we turn off the old builds once we no longer need them?  I don't think we'll need them once we've finished validating the new pipelines.

[2019-11-26 20:54] alanrenmsft opened #8487 "press left key causes the whole group of controls to disapear"
in the azure settings page, while focused on any text input box and press left key

expected: nothing happens

actual: the whole group of controls will disappear.

[2019-11-26 20:55] ranasaria commented on #8484
I think it is a good idea to run them in parallel for one week till we iron out issues like #8485

From: Karl Burtram <notifications@github.com>
Sent: Tuesday, November 26, 2019 12:53 PM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Arvind Ranasaria <Arvind.Ranasaria@microsoft.com>; Assign <assign@noreply.github.com>
Subject: Re: [microsoft/azuredatastudio] Insiders build

[2019-11-26 21:08] anthonydresser commented on #8485
This should be fixed for #8464 you can just produce a new manual build to test.

[2019-11-26 21:13] anthonydresser commented on #8484
Probably it makes sense to run them for the remainder of this week, but I don't think it is necessary past that if we don't find any serious issues.

[2019-11-26 21:25] alanrenmsft commented on #7937
I think this is a VoiceOver issue, we already have aria-label set for all the input controls, actually if you use CAPS left or right keys and go through the controls, sometimes it will read the aria-label sometimes not.

[2019-11-26 21:25] #7937 closed

[2019-11-26 21:42] #8487 closed

[2019-11-26 21:55] kburtram commented on #8470
This looks like a duplicate of https://github.com/microsoft/azuredatastudio/issues/8455.  I haven't been able to repro.  Could you please check if there are errors in the "Help->Developer Tools" Console?  If so, please add to issue #8455.  Thanks!

[2019-11-26 21:55] #8470 closed

[2019-11-26 21:56] kburtram commented on #8455
@peterrow could you please check if there are any errors in the "Help->Developer Tools" Console the next time this occurs?  I haven't been able to repro yet.

[2019-11-26 22:28] #8479 closed

[2019-11-26 22:33] ranasaria commented on #8485
Yes  #8464 has fixed it.

[2019-11-26 22:33] #8485 closed

[2019-11-26 22:34] ranasaria commented on #8484
Failure is understood, but we are turning off these old pipelines instead of fixing it.

[2019-11-26 22:34] #8484 closed

[2019-11-27 00:21] kburtram commented on #8478
@anthonydresser insiders and stable share cached state for ADS (unlike with vscode).  However, the real issue here isn't going back-and-forth with stable\insiders.  I'm expecting this issue should impact all users when they upgrade from 1.13 to 1.14, right?

[2019-11-27 00:22] anthonydresser commented on #8478
I see, yes, I'm looking into the issue, I know where the issue is, I'm thinking on the best way to solve it.

[2019-11-27 00:41] kburtram commented on #8414
It looks like this is related to the type of the column.  I was able to repro using the TEXT column type, but not varchar or int, for example.  The below snippet created a table that repro's this bug.

[code]

[2019-11-27 00:42] chlafreniere commented on #8478
Does this affect notebooks as well, or just query editors?

[2019-11-27 01:16] #7570 closed

[2019-11-27 01:18] anthonydresser commented on #8478
Yes it will affect every custom edtior we have that uses inputs, I have a patch for this upgrade scenario.

[2019-11-27 06:06] BHARATH1986-A1 commented on #6763
frequently encountering this issue.
![image](https://user-images.githubusercontent.com/58246143/69698010-190a8680-111f-11ea-8175-671ac32d42de.png)

[2019-11-27 07:16] BHARATH1986-A1 commented on #6763
Is there any way to open the closed file?

[2019-11-27 09:33] Lukasz994 commented on #7619
The problem here isn't with multi tenancies, its down to how ADS is interpreting MFA configuration. I was using conditional access and MFA enforcement across the tenancy. As it turns out both can directly affect one another. I needed to adjust conditional access policy and enforce MFA in this portal: https://account.activedirectory.windowsazure.com/usermanagement/multifactorverification.aspx

Hope

[2019-11-27 14:08] twright-msft opened #8491 "Data virt wizard for Oracle is not showing a list of tables"
Issue Type: <b>Bug</b>

Repro steps:
Provision Oracle XE instance with HR sample DB.
Create a demo DB in BDC master.
Right click - start external table wizard
Provide encryption key, data source name, server name/IP, etc.
Get to the screen where you select tables or views to virtualize.
Expand tables.  Shows nothing.  Expand views. Those show up.
Can virtualize using T-SQL just fine using the same

[2019-11-27 16:06] #7661 closed

[2019-11-27 17:22] plsloan commented on #8244
This is still happening with version 1.13.1

[2019-11-27 18:01] RandomQuestionGuy opened #8493 "Query Messages Window Hangs"
Query messages window hangs when running a query that outputs a large amount of message information.

Steps to Reproduce:

1. Run a query with hundreds of singleton inserts that each return the message (1 row affected).

Version 1.13.1

[2019-11-27 18:03] kburtram commented on #8465
This looks like a duplicate of https://github.com/microsoft/azuredatastudio/issues/8218.  I'll take a look at why this is happening.

@despo4 the workaround in the meantime would be to "Open File Location" then double-click the file to have it opened by the default application for that file extension.

[2019-11-27 18:03] #8465 closed

[2019-11-27 18:24] kburtram commented on #8376
@VendolaSolutions I'm not clear on the bug.  Is the repro something like:

1. Connect to database and select Edit Data on a Table
2. An error message pops-up saying "Unable to Edit Row"

Could you also please check the "Help->Developer Tools" Console to see if there are any related error messages logged there?

[2019-11-27 18:31] kburtram commented on #8454
@udeeshagautam could you please confirm this is expected based on current SQLCMD mode implementation?  Also, do you know when we're expecting to support these commands?

[2019-11-27 18:33] kburtram commented on #8408
@olivesandtrees thanks for providing the additional context.  ADS uses Node.JS for http communication, which doesn't use the system Certificate Authorities.  This creates issues with packet inspection firewalls that decode HTTPS traffic.  As noted, disabling SSL certificate validation with `"http.proxyStrictSSL": false` is the correct workaround at this time.

[2019-11-27 18:33] #8408 closed

[2019-11-27 18:51] udeeshagautam commented on #8454
Hi, yes the :r (Include) command is not supported yet - so the error is expected.
We've started working to enable these command starting with :Connect, should be available in coming months.

[2019-11-27 19:06] peterrow commented on #8455
Will do, I'll being some more SQL dev with it soon at home so will be sure to check that out and report back.

[2019-11-27 19:52] kburtram commented on #3903
We're tracking this request for all National Clouds with https://github.com/microsoft/azuredatastudio/issues/3013.  We are working on this now and expect this to be available in the Dec release.

[2019-11-27 19:52] #3903 closed

[2019-11-27 19:54] kburtram commented on #7010
I'll close this since we trimmed the text and no external users have requested this yet.  We can come up with a more general solution for toolbar customization in a future release.

[2019-11-27 19:54] #7010 closed

[2019-11-27 20:06] kburtram commented on #7074
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/7619.  We're looking into this area for Dec release.  Please leave any additional related comments on https://github.com/microsoft/azuredatastudio/issues/7619.  Thanks!

[2019-11-27 20:06] #7074 closed

[2019-11-27 20:08] kburtram commented on #7239
We haven't been able to reproduce this issue internally and haven't seen other reports for the 1.12 or 1.13 release.  So I'll close this issue out now.  Please let me know if you continued to see this bug on 1.12 or 1.13 updates.  Thanks!

[2019-11-27 20:08] #7239 closed

[2019-11-27 20:09] kburtram commented on #7016
I think this has been fixed.  I close this issue now.

[2019-11-27 20:09] #7016 closed

[2019-11-27 20:29] twright-msft opened #8496 "Clicking Next on the data source page of the wizard does nothing"
Issue Type: <b>Bug</b>

Repro steps:
In external table wizard for Oracle, get to the data source configuration page.  Provide some information that will not be something that you can connect to.  In my case, i mistyped the service name.  Click Next.

Expected:
Some error message.

Actual:
Nothing happens other than a quick flicker on the next button.

Extension version: 1.1.0
Azure Data Studio ver

[2019-11-27 20:45] #7198 closed

[2019-11-27 20:48] #8478 closed

[2019-11-27 20:57] ranasaria opened #8497 "Remove hardcoding of github api token and use credentials from secret store"
This issue tracks work to remove the hardcoded GitHub API access token stored at:
https://mssqltools.visualstudio.com/_git/CrossPlatBuildScripts?path=%2FAutomatedReleases%2FApiTokens.psm1&version=GBmaster

[2019-11-27 21:27] theGrower commented on #7239
It happened again on 1.12. However, for 1.13 I just started the update and came back after a 20 minute meeting and it worked. Who knows. My guess is it is an environmental issue in my machine. Thanks for your due diligence.

[2019-11-27 22:02] anthonydresser opened #8498 "Shipping multiple version of the toolsservice"
We are currently shipping multiple versions of the sqltoolsservice; we should only ship the newest.

[2019-11-28 00:06] uc-msft opened #8500 "BDC dashboard looks really bad in dark themes..."
![ads2](https://user-images.githubusercontent.com/10999577/69767180-eddc6300-112f-11ea-9d37-50d2727f17c5.png)

![ads](https://user-images.githubusercontent.com/10999577/69767135-aa81f480-112f-11ea-8875-11215537366f.png)
Issue Type: <b>Bug</b>

See attachments for how it looks in Atom & the default dark theme.

Azure Data Studio version: azuredatastudio-insiders 1.14.0-insider (39e6b9933d98002ce10f

[2019-11-28 00:47] qifahs opened #8502 "Notebooks: Prompt the user when links are disabled"
Issue Type: <b>Bug</b>

Links in Notebooks do not work, until you click the "Trusted" button on top. This is un-intuitive. When the user clicks a link, we should atleast show a message to the user that the link will not work because of the Untrusted state, and give an option to Trust the notebook right there in the dialog.

Azure Data Studio version: azuredatastudio 1.13.0 (05a53af085861999ed8dc99

[2019-11-28 00:54] anthonydresser commented on #8502
Did you just create the ADSLivesite label? We should match the standard we have with labels. `Area - Live Site`

[2019-11-28 01:31] qifahs commented on #8502
Fixed.

[2019-11-28 04:07] twright-msft opened #8504 "azdata sql query -q "select * from sys.dm_cluster_endpoints" doesnt work from BDC notebook"
Issue Type: <b>Bug</b>

TSG070-use-azdata-sql-query.ipynb doesnt seem to work when running the azdata sql query command.

Error output below.

Works from CLI terminal.

---------------------------------------------------------------------------
SystemExit                                Traceback (most recent call last)
<ipython-input-11-4d51265c305f> in <module>
----> 1 run(f'azdata sql query -q "

[2019-11-28 04:19] twright-msft opened #8505 "Typo in azdata command in the SAM001 notebook"
Issue Type: <b>Bug</b>

cluster_res = run('azdata bdcta('bdc endpoint list --endpoint="livy"', return_output=True)

Should be
cluster_res = run('azdata bdc endpoint list --endpoint="livy"', return_output=True)

Azure Data Studio version: azuredatastudio-insiders 1.14.0-insider (c9226a07c594cd8be1bf66358da57a82cfe20d82, 2019-11-28T02:19:15.581Z)
OS version: Windows_NT x64 10.0.19025

<details>
<sum

[2019-11-28 04:28] twright-msft opened #8506 "SUGGEST_MACRO is undefined in SAM0002"
Issue Type: <b>Bug</b>

try:
    %load_ext sql
except ModuleNotFoundError:
    SUGGEST_MACRO("SOP062")
    raise

Error message is:

---------------------------------------------------------------------------
ModuleNotFoundError                       Traceback (most recent call last)
<ipython-input-7-abe9e0515c7a> in <module>
      3 try:
----> 4     get_ipython().run_line_magic('load_ext', 'sql')

[2019-11-28 04:36] twright-msft opened #8507 "Markdown tells you to do some stuff you dont need to do in SAM002 notebook"
Issue Type: <b>Bug</b>

Markdown tells you to do this below, but in fact it has a code cell just below this that uses pyodbc to create the connection and then use %%sql to execute the query instead.

Create an external table to HDFS
The storage pool contains web clickstream data in a .csv file stored in HDFS. Use the following steps to define an external table that can acces the data in that file.

[2019-11-28 08:11] bbeda commented on #69
I would definetely want this feature as well. I am sometimes going to SSMS just because I want to have better filtering.
Also, maybe I am missing something here but is there a way to resize the Search pane? Most of the time our names are longer than the pane and what I am searching for has multiple matches. I have to hover over each one of those to select what I am looking for.
Thank you

[2019-11-28 21:52] Charles-Gagnon commented on #8500
Thanks for the feedback @uc-msft ! I'm going to close this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/7400 for now, but I'm planning on improving this for the next release.

[2019-11-28 21:52] #8500 closed

[2019-11-29 06:17] Ungerfall opened #8509 "Results grid does not show results"
Issue Type: <b>Bug</b>

A select query, nor insert/update/delete does not show results on the results tab. And also not showing in the messages tab

Azure Data Studio version: azuredatastudio-insiders 1.14.0-insider (39e6b9933d98002ce10ffa74f69e7d85d7df130b, 2019-11-27T21:06:43.843Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel

[2019-11-29 08:01] Ungerfall commented on #8509
Update: just opened a new query and executed the same query - results was shown.
It seems the results isn't shown for scripts being stored on a disk

[2019-11-29 11:17] ld0614 opened #8510 "Unable to Add Azure AD Account"
Issue Type: <b>Bug</b>

First installation of Azure Data Studio
Connection Type: Microsoft SQL Server
Authentication Type: Azure Active Directory - Universal
Account: Add Account

This opens the device authentication screen, after clicking open and copy Edgium opens and I copy the code into the window.  This sucessfully acknowledges the connection, after a few seconds the dialog in Azure Data Stud

[2019-11-29 13:46] sql-koala opened #8511 "Context menu to support rename"
**Is your feature request related to a problem? Please describe.**
Right now, renaming an object (table, view, ...) is quite a chore. It can be done by typing
`exec sp_rename 'schema.oldname' 'newname'`
but there is no intellisense inside the quotes.

**Describe the solution or feature you'd like**
It would be nice to have a rename entry in the context menu of items in both connection explorer and

[2019-11-29 13:59] daghb commented on #112
My vote for this, too. Cannot use this tool towards several of the databases having personal user accounts which are not in my local AD.

[2019-11-29 18:06] twright-msft opened #8512 "Right click on Databases and refresh doesnt do anything"
Issue Type: <b>Bug</b>

If I create a new database using T-SQL and then right click on Databases in the OE and choose refresh it doesnt appear to do anything.  This is for a BDC if it matters.

Azure Data Studio version: azuredatastudio-insiders 1.14.0-insider (c9226a07c594cd8be1bf66358da57a82cfe20d82, 2019-11-28T02:19:15.581Z)
OS version: Windows_NT x64 10.0.19025

<details>
<summary>System Info<

[2019-11-29 18:07] twright-msft opened #8513 "Right click select top 1000 takes too long"
Issue Type: <b>Bug</b>

It takes several seconds to do a simple right click select top 1000.  Any way to make this faster?

Azure Data Studio version: azuredatastudio-insiders 1.14.0-insider (c9226a07c594cd8be1bf66358da57a82cfe20d82, 2019-11-28T02:19:15.581Z)
OS version: Windows_NT x64 10.0.19025

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-7820HQ CP

[2019-11-30 04:58] Charles-Gagnon commented on #8512
@twright-msft

1. Is this a consistent repro?
1. Is there any error in the error log when this happens?

There's definitely an issue here that I'm able to repro but the more information we have on this the more sure we'll be that we aren't missing any cases.

[2019-12-01 19:49] ekennedy6334 opened #8515 "F# and C# integration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2019-12-01 20:33] solexecution opened #8516 "Disconnnect from database on file save"
Issue Type: <b>Bug</b>

connection is terminated on save of new query file

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.14393

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E5-2673 v4 @ 2.30GHz (8 x 2295)|
|GPU Status|2d_canvas: unavailable_softwa

[2019-12-01 20:51] kburtram opened #8517 "Insiders windows installer much larger than stable installer"
- Azure Data Studio Version: `master`

The current insider installer is almost double the size as the latest stable installer.  We should understand why the installer is so much larger now and fix this if possible.

![image](https://user-images.githubusercontent.com/599935/69920143-19fe2980-1439-11ea-8087-f291429a2287.png)

[2019-12-01 23:48] ozhug commented on #112
my vote as well,

[2019-12-02 16:56] chlafreniere commented on #8498
Like, when downloading the tools service, the package actually contains multiple versions?

[2019-12-02 17:10] Charles-Gagnon commented on #8498
Correct. From a fresh install of the latest insiders :

![image](https://user-images.githubusercontent.com/28519865/69979438-2f2f9280-14e3-11ea-97f1-879c35f9bfb6.png)

This should also fix https://github.com/microsoft/azuredatastudio/issues/8517 - the [installer from the ad hoc run for this PR](https://mssqltools.visualstudio.com/_apis/resources/Containers/1710019?itemPath=drop%2Fuser-setup%2FAzur

[2019-12-02 17:28] chlafreniere commented on #8498
Have we shipped this in stable as well?

[2019-12-02 17:49] Charles-Gagnon commented on #8498
No. My understanding is that this was caused by recent changes in the pipelines which were done after the November release. I've verified that the current stable release only includes a single version of the service.

[2019-12-02 17:58] Charles-Gagnon opened #8521 "Notebook null ref error after cancelling a query"
Versions : 1.13.1 (current stable) and current insiders

1. Start running query
2. Immediately cancel
3. Get this message in the output pane

![image](https://user-images.githubusercontent.com/28519865/69982765-1676ab00-14ea-11ea-88fb-530c89c29d8f.png)

[2019-12-02 18:34] chlafreniere commented on #8498
Awesome, thanks!

[2019-12-02 18:52] kburtram commented on #8513
The majority of the time spent in this operation is generating the columns to include in the SELECT statement.  I think there may also be some initialization actions that occur the first time this command is run.

We could (1) add an option to generate the SELECT statement with a '*' instead of columns (2) possibly pre-initialize some state to improve the time for the first SELECT TOP 1000 operati

[2019-12-02 18:59] qifahs opened #8522 "Notebook view does no update when there is a new version"
Issue Type: <b>Bug</b>

Repro steps:
- Open a notebook in Azure Data Studio.
- After the Notebook opens, go to the folder and overwrite it.

Observed:
- The view does not update. There is no dialog indicating that the file has changed.

Expected:
- ADS should atleast notify the user and give an option to load the latest version.

Azure Data Studio version: azuredatastudio 1.13.0 (05a53af085861999e

[2019-12-02 19:04] kburtram commented on #8517
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/8498.

[2019-12-02 19:04] #8517 closed

[2019-12-02 19:06] #8498 closed

[2019-12-02 19:19] robinhalabicki commented on #681
I would love this, in particular /* */ around selected section instead of --

[2019-12-02 19:29] qifahs opened #8523 "Notebooks: There is no way to go back after an "in-place" navigation to a different page"
Issue Type: <b>Bug</b>

Repro:
- I have a folder with multiple Notebooks with links to each other.
- When I click the links, the new Notebook opens in the same tab.
- There is no way to go back to the previous Notebook.

Observed:
- Clicking Alt+left arrow, switches tabs, but does not go back to the previous Notebook in the same tab.
- Another suggestion is to display a back button somewhere on th

[2019-12-02 19:48] Charles-Gagnon commented on #8390
@ranasaria @anthonydresser With the latest updates to the tools service release pipelines this should be finished, correct?

[2019-12-02 19:51] ranasaria commented on #8390
No I will finish it this afternoon.

From: Charles Gagnon <notifications@github.com>
Sent: Monday, December 2, 2019 11:49 AM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Arvind Ranasaria <Arvind.Ranasaria@microsoft.com>; Mention <mention@noreply.github.com>
Subject: Re: [microsoft/azuredatastudio] Update the build pipeline to read secrets from azure key vaults (#8390)

@r

[2019-12-02 22:28] ranasaria opened #8526 "deploy window is slow to load up"
When we execute new deployments of bdc, the window take a long time to pain the tools table

[2019-12-02 22:41] alanrenmsft opened #8527 "deploy bdc wizard 's profile page takes a long time to load"

[2019-12-02 22:45] alanrenmsft commented on #8265
waiting for your repro @ranasaria

[2019-12-02 22:54] alanrenmsft commented on #8262
@dnethi please check with the security team

[2019-12-02 23:01] Charles-Gagnon opened #8528 "Move build/release pipelines/tasks into checked in YAML"
The build and release pipelines we have now should be converted into checked-in yaml files and the AutomatedReleases scripts checked into the source repos for a more controlled review process and visibility.

- [x] SqlToolsService build

- [x] SqlToolsService release

- [ ] VSCode MSSQL build

- [ ] VSCode MSSQL release

[2019-12-02 23:07] alanrenmsft commented on #7924
@llali If we understand correctly, you are running the azdata command outside of the context of notebook, and we only want to control the KUBECONFIG within the context of notebook. closing as by design.

[2019-12-02 23:07] #7924 closed

[2019-12-02 23:18] alanrenmsft commented on #7612
cluster name requirement

![Screen Shot 2019-12-02 at 3 17 22 PM](https://user-images.githubusercontent.com/13777222/70003076-e42f7280-1516-11ea-854e-4cd19bb9b396.png)

[2019-12-02 23:24] alanrenmsft commented on #7344
this is to make sure the format of the bdc.json and control.json are parsable and exit gracefully if the format is not as expected.

[2019-12-02 23:39] alanrenmsft commented on #7192
1. move to the user's downloads folder
1. use sudo process start

[2019-12-03 00:28] kburtram commented on #7289
I can't repro this with the latest build.  Please let us know if the issue persists.  Thanks!

[2019-12-03 00:28] #7289 closed

[2019-12-03 00:29] kburtram commented on #2801
This is based on upstream behavior that opening a folder reloads the process state.  If we want to change this behavior we should work with the vscode team.

[2019-12-03 00:29] #2801 closed

[2019-12-03 00:30] kburtram commented on #4771
This doesn't appear to have an user facing impact so I'll close it now.

[2019-12-03 00:30] #4771 closed

[2019-12-03 00:30] kburtram commented on #2224
Closing older issues.  Please try to use a machine with at least 4-cores for best performance.  Thanks!

[2019-12-03 00:30] #2224 closed

[2019-12-03 00:32] kburtram commented on #4272
Closing old issues.

[2019-12-03 00:32] #4272 closed

[2019-12-03 00:33] kburtram commented on #4795
I could no longer repro this issue.  Please reactive if the problem persists.

[2019-12-03 00:33] #4795 closed

[2019-12-03 00:35] kburtram commented on #8516
Thanks for reporting this issue.  This appears to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/8333.  Please add any additional comments to that issue.

[2019-12-03 00:35] #8516 closed

[2019-12-03 00:38] kburtram commented on #8509
@anthonydresser this is likely related to the query editor refactor.  I also don't see any results when running a query with a saved .SQL file.  Could you please take a look?

Here is an exception from the dev console.  Not sure if it's related:

[code]

[2019-12-03 01:08] anthonydresser commented on #8509
I found the issue, It's related to the serialization stuff. I'll get a fix out soon and it should be in tonight's insiders.

[2019-12-03 06:28] mmichtch commented on #1026
It was a great disappointment when I found that SSAS is not supported. Please include this in future releases.

[2019-12-03 08:04] abist opened #8531 "Firewall dialog isn't prompted for disconnected nodes"
Firewall service right now only shows the dialog when creating a connection.

Steps to repro -
1. Add a connection which needs a firewall rule.
2. Add firewall rule.
3. Remove firewall rule from Azure Portal.
4. Disconnect the node.
5. Connect node again.

Expected - Firewall dialog to show up
Actual - Only error is shown.

[2019-12-03 08:04] #8531 closed

[2019-12-03 09:59] maddoxdev opened #8532 "An existing connection is replaced with a new one"
- Azure Data Studio Version: 1.13.1

Steps to Reproduce:

1. exists connection1 in group X
2. add new connection2 to X group with the same server name, user and password, but another port
3. connection1 is replaced by connection2 (see below)

![VisualStudioCodeReplacement](https://user-images.githubusercontent.com/10694484/69969651-dfc28400-152d-11ea-95c7-76634d59de16.gif)

[2019-12-03 15:32] mpkarlo opened #8534 "Python Notebooks no longer support relative paths"
Issue Type: <b>Bug</b>

Previously, python notebooks supported paths relative to the currently opened folder on Azure Data Studio. Since an early november update, the working path for Python is the user profile.

This broke several notebooks on my end, and I had to fix it by setting the path using "os.chdir" function. This also hampers portability of the repository, since it previously worked out-

[2019-12-03 17:43] alanrenmsft opened #8535 "create unit tests for radio card group component"

[2019-12-03 18:09] #8509 closed

[2019-12-03 18:18] #8390 closed

[2019-12-03 18:24] Charles-Gagnon commented on #8498
Verified this is fixed with the latest insiders
![image](https://user-images.githubusercontent.com/28519865/70078131-02e54600-15b7-11ea-8407-f1a2358383eb.png)

[2019-12-03 18:36] gbritton1 commented on #8523
Fwiw linked notebooks do not appear to work on windows at all. I created two notebooks then created a link from the first one to the second one. When I clicked on the link it didn't do anything when I hover over it it shows a path that is not really valid in that it has combination of backslash and forward slash

[2019-12-03 18:45] kburtram commented on #5514
I'm no longer seeing this issue.

[2019-12-03 18:45] #5514 closed

[2019-12-03 18:48] kburtram commented on #8510
@aaomidi do you think the work you're doing with the auth stack will help here?

[2019-12-03 18:59] rajmera3 opened #8536 "ML Extension dashboard getting cut off"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open ADS on a Mac in a window of any size.
2.
![image](https://user-images.githubusercontent.com/22081978/70080264-18f50580-15bb-11ea-9f7d-55f2b7ac4535.png)

3. Top of dashboard is cut off (buttons are missing)

**Potential Cause**:
In the image below, we can see that the 'Machine Learning Books' box is larger than it needs to be. The scroll ba

[2019-12-03 19:33] aaomidi commented on #8510
@kburtram yep - the authentication flow is completely different now.

[2019-12-03 19:34] aaomidi commented on #8510
@ld0614 If you click Help -> Toggle Developer Tools and click Console and try to login to Azure again, do you get any errors?

[2019-12-03 19:47] ranasaria opened #8537 "Use AKV tokens for .yml files"

[2019-12-03 19:48] ld0614 commented on #8510
@aaomidi, thanks for the prompt response.  My account appears to be adding now.  One thing I did do yesterday after attempting this was to remove myself from an external B2B directory which also required MFA.  Looking at the successful authentication it appears that the tenants I am connected to are enumerated, I'm wondering if this requirement to MFA a second time caused a silent error?  I may ha

[2019-12-03 20:20] aaomidi commented on #8510
There's some weird oddities with the device code authentication. That may be the reason it failed.

I've been working on refactoring this area and I'll update this issue when we have it ready for testing, it might be interesting to see how this new system behaves in these weird scenarios.

[2019-12-03 20:21] aaomidi commented on #8510
Closing in favor of #7619

[2019-12-03 20:21] #8510 closed

[2019-12-03 21:14] alanrenmsft opened #8539 "wizard: error message is not being displayed"
Repro:
1. open deploy bdc wizard
2. on the first page try to navigate to the next page without selecting a profile card

expected:
error message shows

actual:
no error message

[2019-12-03 21:17] alanrenmsft commented on #7938
similar to #5971 seems to be an issue with VoiceOver

[2019-12-03 21:17] #7938 closed

[2019-12-03 21:19] alanrenmsft commented on #7945
this is for Grade B (Usability), i am going to leave this open until we are planning to get to level B.

[2019-12-03 21:26] #7933 closed

[2019-12-03 21:26] #7936 closed

[2019-12-03 22:02] StefanieCulley commented on #1026
Another vote for adding the BI side of the house.  Please!

[2019-12-03 22:28] #8324 closed

[2019-12-03 22:29] rajeshka opened #8541 "Ability to convert selected text into a new cell in a notebook"
Issue Type: <b>Feature Request</b>

Select text in a markdown
Right-Click ->Convert to Code Cell OR Convert to Text Cell option

A new cell with the selected text gets created. Depending upon location of the selected text the new cell can be created above or below the current cell. If the selected text is in the middle then the current cell is divided into 2 cells and the selected text cell is pla

[2019-12-03 22:33] chlafreniere commented on #8534
Hi @mpkarlo these are notebooks that you previously saved, correct? Is it not defaulting to the folder where the notebook is saved into now?

Untitled notebooks will default to a home directory.

[2019-12-03 22:35] chlafreniere commented on #8521
I can't repro this right this second, but I'd be shocked if it's a regression from a recent month. Because of that, moving to planning.

[2019-12-03 22:37] chlafreniere commented on #8506
@MaddyDev can you ensure that this is fixed with the latest book updates?

[2019-12-03 22:38] chlafreniere commented on #8505
@MaddyDev if you could ensure this is fixed with the latest books update that'd be fantastic

[2019-12-03 22:39] chlafreniere commented on #8504
@MaddyDev sorry this one too 😄

[2019-12-03 22:47] chlafreniere commented on #8442
Not yet unfortunately. We're tracking this ask with #8522 and intend on addressing this concern. Thanks!

[2019-12-03 22:47] #8442 closed

[2019-12-03 22:49] chlafreniere commented on #8429
@corivera if you could try to get a repro, we can look into how to address this. Let me know.

[2019-12-03 22:59] corivera commented on #8429
Already fixing this. This was a regression from when we added the upgrade logic. This package should only be included on non-windows platforms.

[2019-12-03 22:59] kenvanhyning commented on #8471
Though SSMS does allow an azure server to be specified too - is there any reason why we are not disallowing this to even be added?

[2019-12-03 23:03] alanrenmsft commented on #7946
closing as won't fix since this is not accessibility grade c blocker.

[2019-12-03 23:03] #7946 closed

[2019-12-03 23:04] alanrenmsft commented on #7945
closing as won't fix since this is not accessibility grade c blocker.

[2019-12-03 23:04] #7945 closed

[2019-12-03 23:06] MsSQLGirl opened #8542 "Usability issue with creating / picking a SQL Agent schedule"
- Azure Data Studio Version: 1.13.1

Steps to Reproduce:
1. Create a new job or edit an existing one.
2. Go to the Schedules tab.

You should see a Schedules list, but you would need to scroll all the way down to see the Pick Schedule and Remove Schedule buttons. The need to scroll down to see the buttons is not obvious.

Below shows the issue (note that the screenshot is maximized)
![image](https

[2019-12-03 23:15] MsSQLGirl opened #8543 "SQL Agent Extension - The Schedules list does not show the list of schedules"
- Azure Data Studio Version: 1.13.1
- Extension SQL Agent Extension.

Steps to Reproduce:

1. Create a new job with schedule in SSMS.
2. Using Azure Data Studio, edit the job to view the schedule.

You should see something like this:
SSMS -
![image](https://user-images.githubusercontent.com/6405919/70097947-78650c80-15df-11ea-8258-80ceedc1a7f2.png)

Azure Data Studio -
![image](https://user-images

[2019-12-03 23:20] MsSQLGirl commented on #8542
Closing this as it has been reported in  #6359 .

[2019-12-03 23:20] #8542 closed

[2019-12-03 23:21] vchauha6 commented on #8429
so for windows desktop, can we use spark or do we have to connect to remote server running the spark server?

[2019-12-03 23:21] GaboFDC commented on #4904
Would be nice to get an update on the status of this, just to know if still being considered, if is approved and will be done at some point in the future, just to know what to expect, for know it seems like the support will not come any time soon :(

[2019-12-03 23:23] chlafreniere commented on #8332
Never heard this one before. @AndyW426 what happens when you close/reopen ADS and then create a new notebook? Do you still get the same error?

We save the notebook python download path in user settings, so that's almost certainly the operation that's happening.

If you open the command palette and type "Open settings", choose the "(UI)" option and then try to toggle one of the settings on that ma

[2019-12-03 23:24] #8223 closed

[2019-12-04 00:24] Charles-Gagnon commented on #8521
Yeah interesting, I can't seem to repro it either. Odd. Anyways I'll close this for now and if I see it again I'll let you know.

[2019-12-04 00:24] #8521 closed

[2019-12-04 00:40] #8429 closed

[2019-12-04 01:18] Charles-Gagnon opened #8547 "Non-Editable Dropdown text misaligned"
In VS Code merge branch non-editable dropdowns are displaying the text aligned against the left side. In current insiders there's a small margin there.

VS Code Merge build :

![image](https://user-images.githubusercontent.com/28519865/70103689-adc62600-15f0-11ea-9951-2aa274f3e0db.png)

Current insiders :

![image](https://user-images.githubusercontent.com/28519865/70103702-b6b6f780-15f0-11ea-9dd6

[2019-12-04 01:23] Charles-Gagnon opened #8548 "Azure account page header misaligned"
In VS Code merge branch the azure account page header is misaligned.

Merge Branch :

![image](https://user-images.githubusercontent.com/28519865/70103968-79069e80-15f1-11ea-9bcc-6e2603c840d7.png)

Current Insiders :

![image](https://user-images.githubusercontent.com/28519865/70103988-8885e780-15f1-11ea-9cfe-5999bd116902.png)

[2019-12-04 01:27] Charles-Gagnon opened #8549 "Non-Editable dropdowns long text is overflowing"
In merge branch the text isn't being trimmed like in current insiders.

(This is in the Notebook editor)

Merge branch :
![image](https://user-images.githubusercontent.com/28519865/70104197-25488500-15f2-11ea-846a-7deddb80d10c.png)

Current Insiders :

![image](https://user-images.githubusercontent.com/28519865/70104222-37c2be80-15f2-11ea-919c-3fabe25f94bd.png)

[2019-12-04 01:34] Charles-Gagnon opened #8550 "Check for Updates menu item missing"
Not sure if this is intentional on dev builds. Quickly looked through the update contribution code and didn't see anything immediately that would indicate that.

Merge branch :

![image](https://user-images.githubusercontent.com/28519865/70104462-ecf57680-15f2-11ea-8b42-08de5f0c8230.png)

[2019-12-04 01:42] Charles-Gagnon commented on #8539
Fixed by https://github.com/microsoft/azuredatastudio/commit/6cce532ca474cb3272a81c7317d759579e4c2afb

[2019-12-04 01:42] #8539 closed

[2019-12-04 01:43] Charles-Gagnon commented on #7942
I'm closing this as there doesn't appear to be any problem here. Let me know if you can provide more information!

[2019-12-04 01:43] #7942 closed

[2019-12-04 01:49] rajeshka opened #8551 "NoteBooks: Trusted/Not Trusted button should toggle"
Issue Type: <b>Feature Request</b>

Once you mark a notebook as trusted it cannot be "Not Trusted" . The button should toggle between trusted and not trusted state

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.18363

[2019-12-04 01:54] #8548 closed

[2019-12-04 02:27] anthonydresser commented on #8550
If you look at the drop, it looks like it shows up there, so it must be a trigger for not having an update url specified. I can take a look where that would be.

[2019-12-04 02:27] #8547 closed

[2019-12-04 02:30] anthonydresser commented on #8550
Looks like they are using the when condition to do this.
https://github.com/Microsoft/azuredatastudio/blob/ads-master-vscode-2019-12-02T20-33-52/src/vs/workbench/contrib/update/browser/update.ts#L411

I think this is fine since I verified it shows up in drops.

[2019-12-04 02:30] #8550 closed

[2019-12-04 02:35] mpkarlo commented on #8534
Hi, @chlafreniere!

Yes, these are notebooks I had created previously. They are defaulting to my profile home, and not their location or the currently open folder.

Also, I did create a new notebook that I didn't save while testing out a solution, and it also defaulted to my profile's home directory.

To be clear, they're defaulting to %userprofile% on Windows 10, which is under the username in C:

[2019-12-04 05:36] masaoikawa opened #8553 "Cannot edit a table using multibyte characters."
Issue Type: <b>Bug</b>

--Cannot edit a table using multibyte characters

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[M_料金](
	[ID] [int] NOT NULL,
	[拠点コード] [varchar](10) NULL,
	[ブランドコード] [varchar](50) NULL,
	[料金区分コード] [varchar](50) NULL,
	[単位] [varchar](50) NULL,
	[単価] [money] NULL,
 CONSTRAINT [PK_M_料金] PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_

[2019-12-04 09:10] dabasys opened #8554 "Steps in agent jobs not shown?"
- Azure Data Studio Version: 1.13.1

Steps to Reproduce:
When I open a SQL Agent Job, Hit the "Edit the job", Both "Steps" and "Schedules" are empty, nothing showing up in there?

![screenshot](https://user-images.githubusercontent.com/40276953/70129013-4a82d500-167e-11ea-9573-f9a273b33ffa.png)

[2019-12-04 09:41] kfrankie commented on #1026
**Azure Data** Studio but without Azure Analysis Services ? please fix this inconsistency :)

[2019-12-04 10:26] matteote opened #8555 "Object explorer does not display databases if Azure Data Warehouse is paused"
Issue Type: <b>Bug</b>

I have an Azure Data Warehouse in my Azure SQL Database logical server. When the Data Warehouse is paused, the Databases list shows "Failed to connect to server <serve name>"

![image](https://user-images.githubusercontent.com/837087/70134572-ae120000-1688-11ea-8146-bfa1b056751b.png)

Steps to repro:
1. Create an Azure Data Warehouse
2. Pause the Data Warehouse
3. Connect t

[2019-12-04 13:52] AndyW426 commented on #8332
Yes, still get the same error when close/reopen.

When I change one of the UI open settings options, I get this error:
Unable to write into user settings. Please open the user settings to
correct errors/warnings in it and try again.

On Tue, Dec 3, 2019 at 6:23 PM Chris LaFreniere <notifications@github.com>
wrote:

[2019-12-04 14:41] vchauha6 commented on #8429
so then why azure data studio automatically start installing that package? could you  guys fix that in next release ,,, like if os is windows then don't install the package?

[2019-12-04 16:37] iamwyza opened #8556 "Dragging SQL File onto Database dashboard should open query connected to that database"
Issue Type: <b>Feature Request</b>

Presently if you drag a query from an open folder on to the Database Dashboard, it will open that query, but it will open it without it being connected to any server or database.

Ideally when you take this action, it should open the query with it already connected to the database for the dashbaord that you dropped the query on.

Similarly this should also be th

[2019-12-04 17:30] matteote opened #8557 "Browsing databases in object explorer activates paused Serverless databases"
Issue Type: <b>Bug</b>

If I expand the Databases node in object explorer, paused Serverless databases are activated.
My expectation is that a Serverless database should not be activated just because I browse the list of databases in object explorer.

Steps to repro:
1. Create a serverless database.
2. Wait until the database is paused.
3. Browse the Databases list in object explorer.
4. Observe t

[2019-12-04 17:37] #8537 closed

[2019-12-04 18:10] MaddyDev commented on #8505
This will be fixed once I complete the https://mssqltools.visualstudio.com/_git/SqlOpsStudioExtensions/pullrequest/832?_a=overview

[2019-12-04 18:31] MaddyDev commented on #8504
This will be fixed once I refresh the contents as well. I tested it on my windows after refreshing the contents and it worked

![image](https://user-images.githubusercontent.com/12754347/70170251-2b397700-1681-11ea-96a6-3456e290aaf6.png)

[2019-12-04 18:31] ToddABarnes opened #8558 "Switch to edit mode always scrolls to top of notebook"
W
Issue Type: <b>Bug</b>

It seems logical that when a user double clicks to switch to edit mode that the editor would be opened on the line that was double clicked upon.

Repro:
1. Open a notebook of more than a single displayable page.
2. In the preview window scroll to the bottom of the notebook.
3. Double click on the last line of the notebook.
4. Edit page will be scrolled to the top of the n

[2019-12-04 18:38] corivera commented on #8429
@vchauha6 This was already fixed in https://github.com/microsoft/azuredatastudio/pull/8544

[2019-12-04 18:59] #7192 closed

[2019-12-04 19:03] dnethi commented on #7192
Thanks for taking care of this Alan.

Thanks,
Dinakar

From: Alan Ren <notifications@github.com>
Sent: Wednesday, December 4, 2019 11:00 AM
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Dinakar Nethi <Dinakar.Nethi@microsoft.com>; Author <author@noreply.github.com>
Subject: Re: [microsoft/azuredatastudio] SQL on Windows Deployment (#7192)

Closed #7192<https://nam06.safeli

[2019-12-04 19:28] #8461 closed

[2019-12-04 19:34] Charles-Gagnon opened #8561 "Running query from saved file has empty results and messages pane"
Current master/insiders

1. Open query file saved to disk
1. Execute query

Results pane is blank :
![image](https://user-images.githubusercontent.com/28519865/70174326-8707fe00-1689-11ea-8424-ebc626e89624.png)

Sometimes switching to the messages tab and then back fixes it, sometimes I get this error instead :

[code]

[2019-12-04 19:35] Charles-Gagnon commented on #8561
@anthonydresser - Can you look into this? Is this another problem with the editor refactor?

[2019-12-04 21:15] anthonydresser commented on #8561
I fixed this issues yesterday...I'll take a look.

[2019-12-04 21:21] anthonydresser commented on #8561
I'm not seeing this behavior on the latest, can you verify you are on the latest build.

[2019-12-04 21:31] corivera opened #8562 "Configure python dialog cannot find anaconda on different drives"
When @llali was running ADS from a D drive, the configure python dialog couldn't find an anaconda install on the C drive when populating the list of existing installs. The vscode-python extension doesn't seem to have the same problem when running VSCode from a D drive.

[2019-12-04 21:43] Charles-Gagnon commented on #8561
I've had weird stuff like this occasionally with the VM I have this installed on. Let me see if it repros with a fresh install...

Version: 1.14.0-insider (user setup)
Commit: 6cce532ca474cb3272a81c7317d759579e4c2afb
Date: 2019-12-04T07:00:59.701Z
VS Code: 1.38.0
Electron: 6.0.12
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.14393

[2019-12-04 21:54] #8549 closed

[2019-12-04 22:01] xav-stargate commented on #1219
+1
No news ? An extension can do this ?

[2019-12-04 22:06] anthonydresser commented on #8274
I'll add code to increase the default row number length; regarding ui changes though; thats out of scope currently.

[2019-12-04 22:39] ranasaria opened #8566 "download resourceType should log messages to the output channell"
The downloadFile resource type implemented in extensions\resource-deployment\src\services\resourceTypeService.ts logs informational to console.log, these should be redirected to the 'Deployment' output channel.

[2019-12-05 00:04] llali opened #8568 "In Manage Package dialog, focus is lost after using tabs"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open Manage Packages dialog.
2. Use tabs to focus components

Expected: focus goes from drop down to button and goes back to the top
Actual: focus is lost after the last button gets it

[2019-12-05 00:14] corivera commented on #8496
Should be fixed by https://github.com/microsoft/azuredatastudio/pull/8545

[2019-12-05 00:14] #8496 closed

[2019-12-05 03:56] pedroreys commented on #3013
hey folks, is there an ETA for adding support to Azure Gov Account?

[2019-12-05 14:46] wsmelton opened #8572 "CMS Extension - Should allow adding server without connecting"
**Is your feature request related to a problem? Please describe.**
The CMS feature in SSMS allows us to add servers without trying to connect (e.g. it allows a "test" but does not require connecting to just add it). This should be the same functionality in ADS. In most situations we are importing a large list of servers or adding a list and we may or may not have active network access to those ser

[2019-12-05 16:59] twright-msft opened #8573 "Save As doesnt update the file name in the tab"
Issue Type: <b>Bug</b>

Repro steps:
1) Open a new notebook (SQL in my case) OR open an existing notebook
2) Put some stuff in the notebook or otherwise make some edits
3) Save As a file name or different file name

Expected:
New file name is shown in the tab.

Actual:
Notebook-0 is shown for a new notebook or the previous name of the file is shown instead of the new name.

Azure Data Studio versi

[2019-12-05 17:19] chlafreniere commented on #8573
@anthonydresser and I were talking about this last night, and we're trying to track it down.

[2019-12-05 17:35] llali opened #8574 "Supporting multiple locations in Manage Packages dialog"
The Manage Package dialog from notebook only supports managing packages locally. the dialog can be open for a SQL server connection to mange packages on that instance. the model for the dialog supports multiple locations so it might be nice to support multiple locations in the  dialog for user to choose.

[2019-12-05 18:13] #8504 closed

[2019-12-05 18:15] MaddyDev commented on #8506
Should be fixed with the above merge.

[2019-12-05 18:15] #8506 closed

[2019-12-05 18:17] MaddyDev commented on #8505
Fixed by the above merge.

[2019-12-05 18:17] #8505 closed

[2019-12-05 18:19] llali opened #8575 "Cannot configure notebook to use built-in python if python 3.6.6 exists in my machine"
- Azure Data Studio Version:

note sure if this is by design but after I installed python 3.6.6 in my machine and change ADS to use the new location, I cannot change it back to use it's own builtin python
Steps to Reproduce:

1. open ADS, make sure notebook is using ADS python
2. Install 3.6.6 in other location and configure ADS to use that
3. Configure ADS back to use it's own python.  ('Configur

[2019-12-05 18:55] dday-dba opened #8576 "ADS errors on space character from OneNote"
1) create query in ADS
2) verify it runs fine
3) copy-paste query from ADS into a OneNote page
4) copy-paste query from OneNote into query window of ADS
5) run query which will return:
Msg 102, Level #, State 1, Line #
Incorrect syntax near ' '.
6) retype / replace all spaces in the ADS query window
7) verify it runs fine

[2019-12-05 20:26] ranasaria opened #8581 "cards disappear when tools installation is happenning"
- Azure Data Studio Version:
Version: 1.14.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z
VS Code: 1.38.0
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

Pre-requisite: Make sure you do not have kubectl, azure-cli, azdata installed or discoverable. This bug only happens when tools are getting installe

[2019-12-05 20:37] MaddyDev commented on #6427
this is removed for Nov release when we made Books public.

[2019-12-05 20:37] #6427 closed

[2019-12-05 21:23] anthonydresser commented on #8573
@chlafreniere this doesn't happen to query editors. Do you have any ideas what might be happening here?

[2019-12-05 23:28] #8417 closed

[2019-12-05 23:31] ranasaria opened #8584 "When installation of tool has failed/errorered the informational message is wrong"
- Azure Data Studio Version:
Version: 1.14.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z
VS Code: 1.38.0
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363
Steps to Reproduce:

1. start 'Deploy SQL Server ...' dialogue by clicking on ... to the right of connections.
![image](https://user-images.githubuse

[2019-12-06 00:53] #8573 closed

[2019-12-06 02:43] sqlworldwide commented on #8403
When should I retest?

[2019-12-06 03:40] codykonior commented on #4647
I am also a heavy Kusto user and being able to use Kusto in ADS notebooks would be awesome.

[2019-12-06 14:17] waynebloss opened #8588 "Missing buttons to create or edit connections"
Issue Type: <b>Bug</b>

I don't know. The buttons are just missing.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T22:56:48.883Z)
OS version: Linux x64 4.19.85-1-MANJARO

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-4790 CPU @ 3.60GHz (8 x 3850)|
|GPU Status|2d_canvas: enabled<br>flash_3d: enab

[2019-12-06 15:00] ltuch1977 commented on #8401
Hey Karl, any update on this?  Thank you!

Even when I do a new query, I'm getting these errors:

2c:\Program Files\Azure Data Studio\resources\app\node_modules.asar\zone.js\dist\zone-node.js:2280 TypeError: Cannot read property 'getSelection' of undefined
    at ServerTreeView.getSelection (/C:/Program Files/Azure Data Studio/resources/app/out/vs/workbench/workbench.desktop.main.js:187443)
    at

[2019-12-06 16:08] mikewo opened #8589 "Add ability to connect and query Azure Monitor Logs"
**Is your feature request related to a problem? Please describe.**
It would be nice to have the ability to query Azure Monitor logs (and app Insights) as a data source in the tool. This is a type of Azure Data in my opinion and would fit into this tool well.

**Describe the solution you'd like**
I'd like Azure Monitor Log and Azure App Insights to be data sources that can be connected to and queri

[2019-12-06 17:26] Charles-Gagnon commented on #8588
What buttons are these? Can you include a screenshot of where these would normally be? We don't currently have a way to edit existing connections so I'm not sure what "edit connections" button you're referring to here.

[2019-12-06 17:34] Charles-Gagnon commented on #8561
Thought I had closed this.

Anyways this is very weird - I see it sometimes but then it'll just go away. I'll close this out until I have some more solid information on what might be the issue here since there's nothing in the logs indicating an issue occurred.

[2019-12-06 17:34] #8561 closed

[2019-12-06 18:20] #8581 closed

[2019-12-06 19:03] rami-fmj opened #8590 ""disconnected" after "go to definition""
Issue Type: <b>Bug</b>

When you select "go to definition" of a view or store procedure (SQL Server) you appear as disconnected, and you have to reconnect in order to work. It would be good to be connected to the same connection of the original view or procedure.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Wind

[2019-12-06 19:39] Charles-Gagnon commented on #7607
Closing this as noted this was previously determined to be a low-impact issue and is something that would need to be fixed in SlickGrid anyways. Please reopen if there's a problem with this @V-sheman

[2019-12-06 19:39] #7607 closed

[2019-12-06 19:52] #6833 closed

[2019-12-06 20:44] LarnuUK opened #8594 "SQL Server Schema Compare Fails to install"
When trying to install SQL Server Schema Compare from the Recommended Extensions Pane, the error "Failed to install 'microsoft.schema-compare'." is given. Clicking Download Manually takes you to this [page](https://sqlopsextensions.blob.core.windows.net/marketplace/v1/extensionsGallery.json/publishers/Microsoft/vsextensions/schema-compare/1.0.0/vspackage) where the only content is the below:
[code

[2019-12-06 20:48] LarnuUK commented on #8594
Seems that there is a 1.13.1 release, however, ADS does not detect the latest version is available, so does not prompt you to update the application; inherently fixing the issue. A "bug" caused by a bug it seems.

[2019-12-06 20:48] #8594 closed

[2019-12-06 20:48] waynebloss commented on #8588
I found them - only after I re-applied my theme though.

The buttons in the upper right corner of this screenshot [from this YouTube video](https://youtu.be/CsjRU_5wnfI?t=7):

![Screenshot_2019-12-06_15-24-36](https://user-images.githubusercontent.com/623736/70354021-a4c99480-183c-11ea-9c2a-9705c07206d6.png)

_(Buttons in the image are: `New Connection`, `New Server Group` and `Show Active Connect

[2019-12-06 20:51] waynebloss commented on #8588
Just one note about my setup: I have a dark theme for my OS. I was on a dark theme in Azure Data Studio, but when I went to adjust the theme - Azure Data Studio settings showed me that the light theme was set, which I don't think was true. I'll confirm that this happening as well on my other machine.

[2019-12-06 21:04] Charles-Gagnon commented on #8588
Thanks for the additional information @waynebloss! Things seem fine for me in dark theme if you mouse over the buttons so for now it seems like that's working as intended.

![image](https://user-images.githubusercontent.com/28519865/70356161-9e312200-1828-11ea-9787-d0716df4e503.png)

Thanks for the feedback on the discoverability of the buttons though. It's definitely one of those "it's not obviou

[2019-12-06 21:06] #7674 closed

[2019-12-06 22:16] #7907 closed

[2019-12-06 22:33] ranasaria opened #8596 "The informational messages at top of deploy tools dialogues dissappear"
- Azure Data Studio Version:
Version: 1.14.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z
VS Code: 1.38.0
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1.start 'Deploy SQL Server ...' dialogue by clicking on ... to the right of connections.
![image](https://user-images.githubuse

[2019-12-06 22:35] SelmanAY commented on #6949
We are not using SSL certificates to connect to our database servers. They are local servers not azure cloud instances.

With disabling Security related properties in Advanced Properties window i can managed to connect to our databases.

Column Encryption : Disabled
Encrypt : false
Persist Security info : false
Trust Server Certificate : True

[2019-12-06 23:09] #7806 closed

[2019-12-06 23:53] #8436 closed

[2019-12-07 12:02] stona1 commented on #6949
For me your settings not solving problem.
Catalina 10.15.1 and Azure Data Studio 1.13.1 and problem still existing.

[2019-12-08 07:19] vijaychandar1989 commented on #4904
Please give us an update about the support from mysql. I badly require this support.

[2019-12-09 07:45] ggregg commented on #6949
Unfortunately it's the same for me. The solution does not work.

[2019-12-09 09:50] dddd45 opened #8603 "Azure data studio changing notebook kernel takes long time and seems stuck"
Hi,

I got stuck with changing notebook kernel to Spark|Scala (Actually, it's stuck whatever I choose) while I was trying to do this workshop
https://docs.microsoft.com/en-us/sql/big-data-cluster/tutorial-data-pool-ingest-spark?view=sql-server-ver15

![image](https://user-images.githubusercontent.com/44633514/70425337-9e892180-1aa3-11ea-8312-efb2ca6154b6.png)

Please help

[2019-12-09 14:21] aarongiust opened #8604 "Intellisense stops working while query is running"
Issue Type: <b>Bug</b>

Run a long-running query
Try to type out a new query in the editor window while the first query is still running
Intellisense will not work until the first query is done running

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.17134

<details>
<summary>System Info</summary

[2019-12-09 17:06] JCKodel opened #8605 "Scrollbar too tiny"
Issue Type: <b>Feature Request</b>

Please, increase the size of horizontal scroll bar on grid results. Too tiny to be used with a mouse >.<

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.18362

[2019-12-09 18:11] kburtram opened #8606 "Tools Service crashes if "Standard Digits" Windows settings is blank"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Clear Standard digits setting by deleting the below registry value/

```HKEY_CURRENT_USER\Control Panel\International\sNativeDigits```

Expected: SQL Tools Service works or fails with clear error message.

Actual: SQL Tools Service crashes with string parse exception.

![screen1](https://user-images.githubusercontent.com/599935/7046077

[2019-12-09 19:55] chlafreniere opened #8608 "Notebooks: Padding for Dropdowns on Mac Isn't Correct"
The padding on the notebook toolbar dropdowns isn't correct on Mac. Haven't tested on Linux, but verified that it looks ok on PC. Here's how it looks on Mac:

![image](https://user-images.githubusercontent.com/40371649/70467817-c3b56a00-1a7a-11ea-9b08-a695f9c8150f.png)

[2019-12-09 20:18] kburtram opened #8610 "Spacing on drop down lists isn't correct on mac"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open the Connection Dialog

Expected: Spacing before text in drop down lists

Actual: Text is flush with the left side of the control

*Note check the appearance of the editable combo box text below*
<img width="500" alt="Screen Shot 2019-12-09 at 12 14 58 PM" src="https://user-images.githubusercontent.com/599935/70469357-bbaaf980-1a7d

[2019-12-09 20:32] anthonydresser commented on #8610
dupe #8608

[2019-12-09 20:32] #8610 closed

[2019-12-09 21:37] MaddyDev opened #8611 "Edit data fails on relaunch"
Issue Type: <b>Bug</b>

Open any table for editing by right-click actions and select 'Edit Data'.
Close the edit session and try to re-open the table for edit. It fails with the following error: Initialize edit data session failed: Error: Edit session already exists.

![image](https://user-images.githubusercontent.com/12754347/70475224-fbc3a980-1a88-11ea-9414-3cb72f11148e.png)
Azure Data Studio ve

[2019-12-09 22:40] #7947 closed

[2019-12-09 22:52] corivera opened #8612 "Cannot cancel Connection Dialog when opened from Notebook AttachTo dropdown"

[2019-12-09 23:07] Charles-Gagnon commented on #8590
Thanks for the feedback! I'm closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/6298 - you can track that one for status updates.

[2019-12-09 23:07] #8590 closed

[2019-12-09 23:08] Charles-Gagnon commented on #7401
This has been fixed

[2019-12-09 23:08] #7401 closed

[2019-12-09 23:09] #8122 closed

[2019-12-09 23:21] Charles-Gagnon commented on #7639
This has been fixed

[2019-12-09 23:21] #7639 closed

[2019-12-09 23:31] cheenamalhotra commented on #6949
I installed Azure Data Studio fresh on Catalina and I see no problems.
No advanced settings were modified.

Mode of Authentication: SQL Server Authentication with User/Password.

Client Version Summary:
- macOS Catalina 10.15.1 Beta (19B68f)
- Azure Data Studio (Version: 1.13.1)

SQL Server versions tested:
- SQL Server 2008 R2 (SP3-GDR) (10.50.6560.0)
- SQL Server 2012 SP3 (11.0.6020.0)
- SQL Ser

[2019-12-09 23:59] MaddyDev commented on #7641
Fixed https://github.com/microsoft/vscode/issues/83603

[2019-12-09 23:59] #7641 closed

[2019-12-10 00:28] pohvak opened #8613 "no tabs for open files"
Issue Type: <b>Bug</b>

When i have several open files, the typical tab with opened files doesn't show up, instead i got only one file on the tab and when i click it it shows a list to select the desire file to open

[https://twitter.com/i/status/1204193179349721089](url)

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:00:55.976Z)
OS vers

[2019-12-10 00:35] pohvak commented on #8613
sorry was a Configuration Problem, already fixed

[2019-12-10 00:35] #8613 closed

[2019-12-10 00:53] Charles-Gagnon opened #8614 "Profiler find has incorrect action for shift + enter"
Currently the behavior for enter and shift+enter is the same - search for the next item. Shift+enter should be doing FIND_PREVIOUS though to adhere with standard keybindings.

[2019-12-10 01:51] dddd45 commented on #8603
Thank you but that doesn't help though. Could you help?

[2019-12-10 02:02] chlafreniere commented on #7792
@12-shweta i can't repro this when scanning through the page using nvda. here's what i see:

![image](https://user-images.githubusercontent.com/40371649/70488594-0d6b7800-1aae-11ea-883a-9e612c6eda39.png)

Can you verify that the issue persists on your side?

[2019-12-10 02:07] chlafreniere commented on #7792
Per further guidance, closing this for now. @12-shweta if you can still repro feel free to reopen.

[2019-12-10 02:07] #7792 closed

[2019-12-10 02:22] chlafreniere commented on #7793
@12-shweta can you help me understand where the 7:1 contrast ratio requirement is defined? I was under the impression that 4.5:1 contrast ratio was sufficient. Has there been a change?

[2019-12-10 05:02] 12-shweta commented on #7793
**@chlafreniere** In normal contrast the color contrast ratio should be 4.5:1 but if we applied high contrast then ratio should be 7:1 .

[2019-12-10 06:34] ggregg commented on #6949
Cheena it also works for me, under sql server 2017 in a docker container on my Mac. But not on the  sql server 2014 full patched of my client.

[2019-12-10 08:41] heneds commented on #3410
Same issue when selecting a file in the file explorer. This is a major problem. Makes the tool almost unusable when working with SQL script files.

[2019-12-10 08:42] olebenny opened #8618 "Export to CSV has 'empty lines' for every second line"
- Azure Data Studio Version:
Version: 1.13.1 (user setup)
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T23:08:09.800Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Create query that outputs 100 rows and export it to CSV.
2. Open created CSV file in excel or notepad, and yo

[2019-12-10 08:46] olebenny opened #8619 "Export to excel never completes, if query generates 300K+ rows"
- Azure Data Studio Version:
Version: 1.13.1 (user setup)
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T23:08:09.800Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce:

1. Create query, that generates more than 300.000 rows
2. Export to excel
3. The export never completes

[2019-12-10 15:17] cheenamalhotra commented on #6949
Hi @ggregg

Please check this article as it's related: [Requirements for trusted certificates in iOS 13 and macOS Catalina](https://support.apple.com/en-ca/HT210176).

To summarize, below are no longer trusted:
- RSA keys < 2048 bits
- SHA-1 signatures
- DNS Names in certificates

Recommended: Generate new SSL Certificate on Server machine that meets all above requirements and configure that in SQ

[2019-12-10 15:33] #8614 closed

[2019-12-10 17:13] warriordad opened #8620 "Results grid won't open in Excel any more"
Issue Type: <b>Bug</b>

I'm unsure how it got this way, but now when I click on "Save as Excel" I can save it.

When I'm prompted to open the file location or to open it in excel, I would like to open it in excel.  Yet when I do it tries opening up the file in the ADS editor

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS v

[2019-12-10 17:15] warriordad commented on #8620
Saw this a dup... closing and waiting for December update.

[2019-12-10 17:15] #8620 closed

[2019-12-10 18:24] cincy122 opened #8621 "Failed to start Scale Out Data service"
Issue Type: <b>Bug</b>

Install extension.  Reload ads.  Error comes up.  Failed to start Scale Out Data service

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.17134

[2019-12-10 18:27] cincy122 commented on #8621
Failed to start Scale Out Data service:Error: 407

Data Virtualization Extension

[2019-12-10 21:44] kburtram opened #8623 "Release Notes notification should have an option to "Do not show again""
Steps to Reproduce:

1. Update ADS

Expected: Release notes pop-up should have option to not show again

<img width="495" alt="Screen Shot 2019-12-10 at 1 40 58 PM" src="https://user-images.githubusercontent.com/599935/70571502-eadf6a80-1b52-11ea-8b7b-915224d38750.png">

[2019-12-10 23:01] kburtram opened #8624 "Connection Dialog Advanced category headers render incorrectly"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open Connection Dialog Advanced options page

Expected: Renders correctly

Actual: Headers render over the control labels

![image](https://user-images.githubusercontent.com/599935/70576477-e10f3480-1b5d-11ea-8c92-ba92ae6305d9.png)

[2019-12-11 00:18] kburtram opened #8627 "Dashboard Tasks incorrectly ordered"
- Azure Data Studio Version: `master`

Steps to Reproduce:

1. Open a Dashboard to the Server page

Expected: New Query & New Notebook tasks on top row of tasks widget

![image](https://user-images.githubusercontent.com/599935/70580442-a4950600-1b68-11ea-8cb8-7aba7a070057.png)

[2019-12-11 00:24] chlafreniere opened #8629 "File->Save is Disabled for Notebooks and Query Editor"
@SQLvariant found an interesting bug earlier today where the Save menu item is disabled both for untitled and saved notebooks/query editors. Keyboard shortcuts work just fine.

![image](https://user-images.githubusercontent.com/40371649/70580595-3a309580-1b69-11ea-8a72-98664b6d1da5.png)

[2019-12-11 00:24] chlafreniere commented on #8629
@anthonydresser have you ever seen anything like this before?

[2019-12-11 00:25] kburtram commented on #7693
Removing Accessibility label since we only open contrast-related accessibility bugs against the High Contrast theme.

[2019-12-11 00:29] SQLvariant commented on #8629
FWIW: I received a reply to my tweet about this to the [@code handle](https://twitter.com/code) earlier today: https://twitter.com/chrisdias/status/1204520000888832007?s=20

The reply linked to this item in the VSCode repo: https://github.com/microsoft/vscode/issues/77131

[2019-12-11 00:34] anthonydresser commented on #8629
Does ctrl+s still work?

[2019-12-11 00:38] chlafreniere commented on #8629
@anthonydresser yes.

[2019-12-11 00:53] jheavin-iit commented on #6872
Any idea when this might be fixed? This is the only issue that is preventing me from switching to this as my daily driver over SSMS (and I definitely want to switch :) )

[2019-12-11 00:59] #8612 closed

[2019-12-11 02:16] #8629 closed

[2019-12-11 05:07] chlafreniere opened #8634 "Notebooks: Rewrite Collapse Component to have Only One Button"
While fixing an accessibility issue with the notebook's collapse component, PR feedback suggested to rewrite the component to have only one button, as it would further simplify the code and potentially make tabbing around the page easier.

[2019-12-11 05:08] chlafreniere commented on #7624
Should be closed by #8607

[2019-12-11 05:08] #7624 closed

[2019-12-11 06:44] ggregg commented on #6949
Hi @cheenamalhotra
I'm a little afraid of breaking my client's machine if I do that and then I'm not a system expert.
I'll think about it.

[2019-12-11 11:33] 499978920 commented on #4904
mysql support
we need
please.

[2019-12-11 14:50] DomRVA opened #8636 "can't connect to mssql server on secondary dns through linux app"
We have written the needed data into your clipboard because it was too large to send. Please paste.
Issue Type: <b>Bug</b>

we have sql server instance on a secondary dns.  When I use azure data studio on my windows 10 machine, i can connect to the database with no problem.  When i try to connect to the same database with Azure Data Studio in Ubuntu or in Linux containers on a chromebook, the conn

[2019-12-11 19:24] dnethi opened #8638 "Change error message for docker tool not available"
On the Deployment screen, when a user selects SQL Server Container image and docker tool is not detected, the error message is:

Some required tools are not installed or do not meet the minimum version requirement.
'docker' was not discovered and automated installation is not supported. Kindly install it manually or if installed make sure it is started and discoverable. Once done please restart Az

[2019-12-11 20:43] ranasaria opened #8640 "ITool.loadInformation() method call in resourceTypePickerDialog.ts does not handle error"
- Azure Data Studio Version:
Version: 1.14.0
Commit: 9ca6200018fc206d67a47229f991901a8a453781
Date: 2017-12-15T12:00:00.000Z
VS Code: 1.38.0
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18363

Steps to Reproduce: Code Review

Actual: ITool.loadInformation() method is called from the updateToolsDisplayTable method in resourceTypePickerDialo

[2019-12-11 21:07] #8526 closed

[2019-12-11 21:21] #7612 closed

[2019-12-11 21:29] ranasaria commented on #8527
Moving this back to the backlog as we need a discussion for the changes needed for this and it does not fit into the December release.

[2019-12-11 22:16] #8608 closed

[2019-12-11 22:33] anthonydresser commented on #8218
I'm not sure it makes sense for us to open excel files, its a binary format so we don't really know how to parse that. There is an extension for vscode that knows how to open excel formatted files, we could reach out to that owner and adopt it into our eco system. @kburtram

[2019-12-11 23:30] aaomidi opened #8642 "Apple notarization requirement"
The apple notarization requirement deadline is quickly coming up.

Continuation from #7747

[2019-12-12 00:16] corivera opened #8643 "Test.sh --grep arguments parsed incorrectly on Linux"
When running test.sh with the --grep argument, only the first value in a space separated string is being picked up. For example, running test.sh --grep "Notebook Input" will run every test that starts with "Notebook". Internally it seems like **opts.grep** in **renderer.js** only has the first term "Notebook", and the rest of the string is discarded.

CC @Charles-Gagnon

[2019-12-12 00:24] kenvanhyning commented on #7948
Closing this issue as "not needed".  We have an active AAT document already in place for ADS that @hannahqin keeps up to date on a regular basis.  ADS is an evergreen product with regular monthly updates.

[2019-12-12 00:24] #7948 closed

[2019-12-12 00:31] #8320 closed

[2019-12-12 00:34] #7420 closed

[2019-12-12 00:34] #8455 closed

[2019-12-12 00:34] #8512 closed

[2019-12-12 00:34] #6787 closed

[2019-12-12 00:41] aaomidi opened #8645 "Move ADS PR Validation and ADS Unstable Build to new build system"

[2019-12-12 00:56] #8624 closed

[2019-12-12 01:35] anthonydresser commented on #8645
Done.

[2019-12-12 01:35] #8645 closed

[2019-12-12 01:45] chlafreniere commented on #8642
@aaomidi when is the deadline?

[2019-12-12 02:33] chlafreniere commented on #8438
This has since been fixed by the connection changes in the Attach To dropdown.

[2019-12-12 02:33] #8438 closed

[2019-12-12 05:52] Thallerich commented on #8218
@anthonydresser Just to clarify: I don't want to open them in Azure Data Studio, i want to open them in excel.
After exporting data to excel you get a notification with a button to open the file that was just saved. For an excel file this should launch excel, but right now it tries to open the file in Azure Data Studio.

This did work this way before version 1.13, so this should be a bug in my opi

[2019-12-12 09:15] iricigor commented on #4085
Same here, version 13.1, multiple tenants.

[2019-12-12 14:21] Chris-FLD commented on #1774
I agree. This would be useful for me and a few other colleagues who use Surface Pro X while on the road. If it's so easy for 3rd Parties to create ARM64 compiled versions of their software it would make sense for Microsoft to do the same and lead by example.

I look forward to seeing this and other Microsoft productivity / business applications being released with ARM64 support.

Thanks.

[2019-12-12 15:31] adrianlfns opened #8652 "Microsoft access database"
It would be really nice if I could use azuredatastudio to manage and run queries on microsoft access databases.

- Azure Data Studio Version:

Steps to Reproduce:

[2019-12-12 18:22] #8120 closed

[2019-12-12 18:25] Charles-Gagnon commented on #8373
Closing this as a duplicate of #7504

[2019-12-12 18:25] #8373 closed

[2019-12-12 19:24] #8269 closed

[2019-12-12 19:50] ek1977 commented on #8118
I think this is saying the same thing as https://github.com/microsoft/azuredatastudio/issues/7186.  A fix here may fix both issues depending on how its done.

[2019-12-12 20:13] aaomidi commented on #8642
@chlafreniere Around January

[2019-12-12 20:28] dcigic opened #8656 "Connection lost"
Issue Type: <b>Bug</b>

Connection get's lost after some time, only way to re-connect is to restart the app.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.18362

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-8750H CPU @ 2.20GHz (12 x 2208)|
|GPU St

[2019-12-12 21:07] DigitalDuquette opened #8659 "Show row results as formatted numbers"
When results are shown in a query, record count is shown unformatted: `2406641`, could we have a setting to format this in local? (US: `2,406,641`; UK: `2.406.641`, etc.)

![Screen Shot 2019-12-12 at 4 04 38 PM](https://user-images.githubusercontent.com/47231954/70749090-7266de00-1cf9-11ea-804f-d744d36837c7.png)

[2019-12-12 21:18] #8611 closed

[2019-12-12 21:24] #8158 closed

[2019-12-12 21:53] smartguest opened #8662 "Icon on desktop tab for ADS is very small."
Steps to Reproduce:

1. Start running the build, and you'll see that the desktop tab icon is microscopic in comparison to other icons. See attached screenshot:

![Small Icon](https://user-images.githubusercontent.com/18018452/70752013-95d45d80-1ce6-11ea-9f48-ca5402609a43.png)

This doesn't look very good and it looks inconsistent with other apps.

[2019-12-12 22:20] kburtram commented on #8662
@Charles-Gagnon I think this is the second report of this type of an issue.  I haven't seen it myself.  Do you have any ideas?

[2019-12-12 22:30] kburtram commented on #8298
@olamer we have an updated sign-in process that no longer depends on Device Code merged into the master branch.  This can be tested using the latest insiders build and will be in the Dec stable build next week.

To enable the new sign-in process please add environment variable `NEW_SIGN_IN_EXPERIENCE` with a value of `true`.  The plan is to make this the default Azure sign-in experience in Feb rel

[2019-12-12 22:45] grange-sam commented on #7260
This issue remains in ADS/SSMS. Is there any known workaround whilst we wait on a resolution?

Version: 1.13.1 (user setup)
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T23:08:09.800Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18363

[2019-12-12 22:51] Charles-Gagnon commented on #8662
Hmm, not off hand.

@smartguest Does this occur for both insiders and stable versions? If you uninstall and reinstall does it persist?

[2019-12-12 23:03] smartguest commented on #8662
This isn't Mac OS (Mine is Catalina 10.15.2 if you're wondering), this is for Windows 10, does not occur for the stable branch, nor is it in the insiders version, only when I try to run the master branch from visual studio code.

[2019-12-12 23:50] Charles-Gagnon commented on #8656
Can you give us some more info? What do you mean "lost"? Does disconnecting and reconnecting not work? If you open the developer console (Help -> Toggle Developer Tools -> Console tab) are there any errors displayed there?

[2019-12-13 00:12] Charles-Gagnon commented on #8662
So interestingly enough I'm also now seeing this. It only happens for me on my secondary monitors though - is that the same experience you're seeing @smartguest or does this happen on all monitors?

Seems like VS Code also had this similar issue reported for MacOS as well : https://github.com/microsoft/vscode/issues/63068 Although I'm not seeing any similar reports for Windows. But until today we

[2019-12-13 00:35] Charles-Gagnon commented on #8662
@smartguest Can you try cleaning your repo (git clean -fxd, make sure you stash any changes you have before doing this) and then rebuilding and see if this still repros? You might need to restart explorer.exe after doing that too - but after doing that the icon is back to the regular size for me.

[2019-12-13 02:29] haydnlj opened #8668 "Auto Connection"
Issue Type: <b>Feature Request</b>

When you have only 1 or even 1 active SQL connection, CTRL+N should auto connect to this for the new query (for default database). Currently you have to select the server from the tree, otherwise no connection is established adding extra steps and delays.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:

[2019-12-13 06:13] naga-a30004408 commented on #4085
I was getting error while adding account with AD MFA in Data Studio. Error Description was not great like " [Object Object]". Also this error description appears only when i try to add Azure account in data studio instead of new connection to begin. When i try to add new connection and select MFA, redirection works but data studio unable to get account details, no accounts in drop down.

Solution

[2019-12-13 07:08] dbamaster commented on #8603
I'm having exactly the same problem using macOS. I was trying to switch kernel from Python to SQL when it happened:

![image](https://user-images.githubusercontent.com/38668645/70777277-926bc100-1d3c-11ea-9dc0-4747fb9ad1b1.png)

[2019-12-13 07:18] SSchindi commented on #112
I will need this too, please implement it ;)

[2019-12-13 11:43] mchenx commented on #8347
I think I'm having the same issue, when I scroll in the query window, it moves 16~18 lines, that's really too much, I can't even follow the lines that I read. When the result window shows up, the screen space became smaller and I can't continue reading the content in the query window when scrolling.

The vs code is much better, moves like 3 lines each time I scroll the window use the mouse wheel

[2019-12-13 14:48] dcigic commented on #8656
It can't reconnect to the database until I restart Azure Data Studio. It doesn't matter if I "refresh" connection or try in any other way to reconnect without closing the app. Here is the F12 console output after I hit "refresh" on the database. I assumed that "refresh" should reconnect.

c:\Program Files\Azure Data Studio\resources\app\node_modules.asar\zone.js\dist\zone-node.js:2280   ERR Script

[2019-12-13 18:23] aaomidi opened #8675 "Notebooks scrolling"
https://github.com/microsoft/azuredatastudio/issues/3236 is happening again. Notebooks are getting stuck on the code cells.

[2019-12-13 18:44] Charles-Gagnon opened #8676 "Run button doesn't prompt for connect for new untitled editors"
1. Open new query editor
2. Click Run

Expected : Connection dialog is opened to prompt for connection

Actual : Nothing happens

[2019-12-13 18:52] Charles-Gagnon commented on #8676
Nevermind - this is expected behavior when there isn't any text in the editor.

[2019-12-13 18:52] #8676 closed

[2019-12-13 19:41] corivera commented on #8378
Fixed

[2019-12-13 19:55] Charles-Gagnon commented on #8378
Let's keep this open until the service and extension are updated

[2019-12-13 20:26] udeeshagautam commented on #6212
@SakshiS-harma this should be possible using similar pattern as what Query history open script does.

[2019-12-13 21:38] #7058 closed

[2019-12-13 21:44] aaomidi commented on #8023
Is this solved? Can we close it?

[2019-12-13 21:49] anthonydresser commented on #8104
This sounds upstream to me, sounds like the terminal can't create windows outside ads.

[2019-12-13 21:58] aaomidi commented on #8675
No repro

[2019-12-13 22:29] kenvanhyning commented on #7997
Going to close our issue here as it is not on the tools side.

[2019-12-13 22:29] #7997 closed

[2019-12-13 22:51] anthonydresser commented on #8180
Per @chlafreniere this no longer repros after changes to editor logic

[2019-12-13 22:51] #8180 closed

[2019-12-13 23:29] anthonydresser commented on #7976
I couldn't repro this myself, but I've added some defensive programming around this in #8680 so I'll close this when that goes in. If you continue to see this error, feel free to reopen.

[2019-12-13 23:53] #8232 closed

[2019-12-14 00:46] #8554 closed

[2019-12-14 00:46] #8543 closed

[2019-12-14 01:19] abist opened #8684 "Transport Level Error on Ubuntu"
This [issue](https://github.com/microsoft/vscode-mssql/issues/1241#issuecomment-491267630) was opened in the [vscode-mssql](https://github.com/microsoft/vscode-mssql) repository, but the user saw the same issue in ADS as well.

[2019-12-14 02:32] #8638 closed

[2019-12-14 02:35] ranasaria opened #8685 "Known installation searchPaths should be added to System Path before 1st discovery of Tools"
Steps to Reproduce:

1. Install kubectl.exe using azuredatastudio.
2. Restart ADS.
Observed: The previously installed kubectl.exe although present is not discovered.
Expected: On the 2nd run kubectl.exe gets discovered.

[2019-12-14 04:08] chlafreniere opened #8688 "Connection Profile Still Passed in to Notebooks in Certain Cases"
Need to cleanup another place where connection profile was still getting set from the notebook component.

In the same vein, connection profile was being defaulted to when starting a new session (instead of the active connection in a notebook), which has the potential to cause a subtle bug when changing a connection using the SQL kernel and then switching to a jupyter kernel.

[2019-12-14 07:14] geekzter opened #8691 "Can't sign into Azure on macOS"
Issue Type: <b>Bug</b>

Open Data Studio
Navigate to Azure
Sign into Azure...
Perform browser log in
Error dialog with title 'Error adding account' and message 'Error: Entry not found in cache.'

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:00:55.976Z)
OS version: Darwin x64 19.2.0

<details>
<summary>System Info</summary>

|Item|Value|

[2019-12-14 10:51] geekzter commented on #8691
Yes, it is a duplicate #7619 .

[2019-12-14 10:51] #8691 closed

[2019-12-14 15:12] waynebloss commented on #8588
@Charles-Gagnon I figured out the issue - If you hide all the `Azure` and `SQL Server Big Data Clusters` sub-panels on the CONNECTIONS panel so that the only sub-panel is `Servers` - the buttons disappear.

[2019-12-14 15:24] waynebloss commented on #94
@JediSQL I just installed SSMS v18.4 and diagrams are there.

[2019-12-14 15:39] mercuriete commented on #94
@waynebloss did you install azuredatastudio?
SSMS is another diferentes program.

[2019-12-14 19:03] waynebloss commented on #94
@mercuriete I was responding to JediSQL who said "With database diagrams being removed from SSMS (SQL Server Management Studio) 18..."

I was simply correcting the information.

[2019-12-14 19:13] JediSQL commented on #94
The original Microsoft documentation for removal of database diagrams from SSMS (SQL Server Management Studio) 18 said that it was **deprecated**. I think that someone got carried away and mistook deprecated for discontinued and removed it from SSMS 18.  So, Microsoft is  probably still planning on removing diagrams from a future version of SSMS.

[2019-12-15 01:41] kburtram commented on #94
@JediSQL @waynebloss previously Database Diagrams was planned for removal from SSMS and was not included in 18.0.  It turns out customers actually like and use this feature 😄 so @Matteo-T added it back in a subsequent 18.# release.  I don't think there are currently any plans to remove diagrams from a future SSMS version as far as I'm aware.

[2019-12-15 01:59] Matteo-T commented on #94
That is correct, @kburtram. Sadly, though, the Database Diagram is not fully functional at the moment. I've been trying to get it fix for quite some time now...

[2019-12-15 13:14] LarnuUK opened #8693 "Query Plan Pane only shows First Query Plan"
Issue Type: <b>Bug</b>

When using `SET STATISTICS XML ON;` or the Explain functionality, the Query Plan pane will only show the first qyuery plan. Although the XML values of the Query Plans is shown inthe Results Pane, visually seeing the Query Plan is a great help. The Query Plan Pane *should* display all the Query Plans, or provide the functionality to switch between the viewed Plan. Yiu can se

[2019-12-16 08:53] longletian commented on #7852
The version of the database seems to be 2003, Thanks

[2019-12-16 11:43] ransagy commented on #8331
I've been suffering from this quite a while; Even uninstalling, cleaning up everything and reinstalling doesn't seem to make this go away completely.

[2019-12-16 13:00] DerAlbertCom opened #8696 "Not able to authenticate to a Azure SQL via Azure AD Account with the subscription in a different Tenant"
We have an Office 365 Organization. We have several Azure Subscription, one older Subscription (was created without Office 365, this is our Developer Subscription), but are are members of that Azure AD. And it works like a charm, except with Azure Data Studio.

We have Setup a Azure SQL Database with access via Azure AD Account only (and managed identity from the WebApplication). We have no proble

[2019-12-16 18:33] #8588 closed

[2019-12-16 18:46] abist opened #8698 "Server icons incorrect for dark theme"
Server icons for the Connections explorer seem incorrect for Dark Theme -

![Capture](https://user-images.githubusercontent.com/6411451/70933638-32ea0b80-1ff1-11ea-9072-ba227c1b19cf.JPG)

![Capture](https://user-images.githubusercontent.com/6411451/70936209-b22e0e00-1ff6-11ea-977c-25cbd1aedf91.JPG)

[2019-12-16 19:11] #8387 closed

[2019-12-16 19:39] #8685 closed

[2019-12-16 19:40] vickyharp opened #8699 "Big Data Cluster installation screen looks awkward at tight resolutions"
The big data cluster tool install banner pushes the list of tools and status of the installation off screen with my laptop's default resolution. The screen looks and feels very awkward.

![image](https://user-images.githubusercontent.com/8250560/70936958-52d0fd80-1ff8-11ea-9d47-cd976ec322e8.png)

![image](https://user-images.githubusercontent.com/8250560/70937034-7eec7e80-1ff8-11ea-84d5-33d21500e6

[2019-12-16 19:49] vickyharp opened #8700 "Error on recovery from hot exit for a basic notebook"
Issue Type: <b>Bug</b>

I had a simple unsaved SQL notebook with a "select * from sys.databases" query open when I restarted my laptop for a Windows update. On reopen, the notebook did not open, but two errors were shown in the error pane. On clicking on the error, the notebook JSON opened as shown.

![image](https://user-images.githubusercontent.com/8250560/70937451-2e295580-1ff9-11ea-8191-27413b

[2019-12-16 19:56] alanrenmsft opened #8701 "update sql server 2019 on windows deployment option"
it is now pointing to the evaluation version, we need to update it to download the 2019 GA version.
https://go.microsoft.com/fwlink/?linkid=866662

[2019-12-16 19:58] alanrenmsft commented on #8699
@vickyharp what is the expected behavior?

[2019-12-16 19:59] kburtram commented on #8700
I saw this one time last night as well.  But I didn't have a consistent repro.

[2019-12-16 20:02] alanrenmsft commented on #8652
@yualan @vickyharp  thoughts?

[2019-12-16 20:29] kburtram commented on #7619
@aaomidi do you expect the recent auth work you've merged will help with this issue?  If so, could you please add a note on how to enable in the insiders\Dec release so users can validate prior to swap auth mechanisms in Feb release?

[2019-12-16 20:34] aaomidi commented on #7619
Sure! The functionality should be available to test in insiders.

From @kburtram in https://github.com/microsoft/azuredatastudio/issues/8298#issuecomment-565216193

Please update this issue if this process helped or didn't help with this issue.

[2019-12-16 20:54] alanrenmsft commented on #8662
@smartguest could you please move this into a milestone?

[2019-12-16 21:13] alanrenmsft commented on #8621
@corivera and @Charles-Gagnon  could you please take a look?

[2019-12-16 21:21] #8627 closed

[2019-12-16 21:27] jruckert commented on #7619
Thanks, this seems to have fixed my issue!

[2019-12-16 21:32] #8551 closed

[2019-12-16 21:40] aaomidi commented on #8528
@Charles-Gagnon @anthonydresser @alanrenmsft can we close this?

[2019-12-16 21:40] MaddyDev commented on #8325
@yualan Can you point to any documentation that we have around books?

[2019-12-16 21:41] yualan commented on #8325
https://docs.microsoft.com/en-us/sql/big-data-cluster/manage-notebooks?view=sql-server-ver15 I need to improve this

[2019-12-16 21:46] Charles-Gagnon commented on #8528
There's still other pipelines we need to convert so probably not - but we can split that into separate issues for each pipeline if we want as well for better tracking. (I just did the SqlToolsService one)

[2019-12-16 21:47] aaomidi commented on #8528
Do we have a list of the other pipelines that need to be updated?

[2019-12-16 21:51] aaomidi commented on #8311
Closing in favor of #7619

[2019-12-16 21:51] #8311 closed

[2019-12-16 21:51] aaomidi commented on #3700
Closing in favor of #7619. There are instructions to try a workaround in that issue.

[2019-12-16 21:51] #3700 closed

[2019-12-16 21:53] aaomidi commented on #4085
Some of the issues here are being tracked in #7619. Please let me know if the workaround in that issue fixes your problem.

[2019-12-16 21:53] Charles-Gagnon commented on #8528
Not directly, I'll try and get that done before I leave otherwise I'll go through after I get back.

[2019-12-16 22:40] MaddyDev commented on #8325
@qmanuel Jupyter book is something similar to what you're requesting here. But that's when you have more than one notebook and would like to browse through them (which is usually the solution instead of creating one huge notebook, create it into smaller chunks of notebooks and create a book out of it).
But if you need a similar experience with just one notebook, there is a way to create relative l

[2019-12-16 22:49] kburtram opened #8706 "Result grid scroll position lost when tab switching"
- Azure Data Studio Version: 1.14

Steps to Reproduce:

1. Run a query with results
2. Scroll the result grid
3. Switch to different document then switch back

Expected: Scrolling position is maintained

Actual: The first time tab switching scroll position is lost.  Subsequent tab switches for that document the position is maintained.

[2019-12-16 22:53] #8701 closed

[2019-12-16 23:02] kburtram commented on #8706
I didn't see a repro when quickly retrying.  So I'll move out of Dec until I have a solid repro for this.

[2019-12-16 23:03] kburtram commented on #8698
@anthonydresser could you please provide an update on this issue when you have a chance?  This will block the 1.14 release so I'd like to merge a fix as soon as possible.  Thanks!

[2019-12-16 23:06] kburtram commented on #8693
@LarnuUK the current Query Plan control can show the plans for the first batch, so if you don't place `GO` statements between different SQL statements you should be able to view multiple plans at the same time. (this is of course a bug since all batches should be displayed, just clarifying in case that helps)

You may also try the SentryOne Plan Explorer which provides a better plan visualizer the

[2019-12-16 23:26] chlafreniere commented on #8675
Closing as this bug has been ported to the release branch

[2019-12-16 23:26] #8675 closed

[2019-12-16 23:26] chlafreniere commented on #8688
Closing as this bug has been ported to the release branch

[2019-12-16 23:26] #8688 closed

[2019-12-16 23:30] kburtram opened #8708 "Connection type is blank for CMS connection dialog"
- Azure Data Studio Version: 1.8

Steps to Reproduce:

1. Add a CMS connection

Expected: Server type says something like `SQL Server CMS` or whatever it used to say.

![image](https://user-images.githubusercontent.com/599935/70951698-f4684700-2018-11ea-92c5-d5f23353a7c1.png)

[2019-12-17 00:20] abist commented on #8708
Seems to be broken by - https://github.com/microsoft/azuredatastudio/pull/8419

@swjain23  Please add owners/people who have worked on the files as reviewers when making changes.

[2019-12-17 00:27] Charles-Gagnon opened #8709 "Database dropdown is expanding its width after initial open"
![screen](https://user-images.githubusercontent.com/28519865/70954153-da326700-2020-11ea-8f6d-039ffe97a4b1.gif)

[2019-12-17 00:29] Charles-Gagnon commented on #8709
@aaomidi Could you look at this when you get a chance? This seems to be a regression and likely tied to your changes made for increasing the dropdown width.

[2019-12-17 00:33] Charles-Gagnon commented on #8378
New extension published to insiders and will be updated when stable is released.

[2019-12-17 00:33] #8378 closed

[2019-12-17 00:34] billwert commented on #4817
@kburtram Is there a way to see diagnostics for the queries that should populate the intellisense cache? I'm also failing to see intellisense against my SQL Azure instance (which is a standard instance with lots of DTUs..)

[2019-12-17 00:35] chlafreniere commented on #8700
I saw this once this afternoon when i killed the ADS process. not consistent otherwise, though. will move to Feb.

[2019-12-17 00:53] kburtram commented on #4817
@billwert you can use the SQL Profiler extension to observe the queries that are being used to build the intellisense cache.  Assuming the reach the server successfully.

The "MSSQL: Tracing Level" user setting can also be adjusted to "Verbose" to output more diagnostic information from the tools service component.  Those logs should be in [USERPROFILEROOT]\Appdata\roaming\azuredatastudio\logs\[TI

[2019-12-17 01:00] kburtram commented on #8708
@abist do you think we should take a fix for this in Dec?

[2019-12-17 01:02] anthonydresser commented on #8698
I patched the wrong section of code before I left this afternoon, I'll try again this evening. Worse case scenario we can just remove the min from the compile in the release branch which is causing this.

[2019-12-17 01:05] kburtram commented on #8698
@anthonydresser thanks for the update!  If we don't have a fix tomorrow let's looking into removing minimization for this month's release build.

[2019-12-17 01:11] abist commented on #8708
@kburtram Yes, I'm working on a fix right now and will send a PR soon

[2019-12-17 02:50] #8708 closed

[2019-12-17 10:19] Richard-Payne opened #8713 "ActiveDirectory authentication doesn't work on Linux"
- Versions:
Version: 1.13.1
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T22:56:48.883Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Linux x64 4.15.0-72-generic

Steps to Reproduce:

1. Open Azure Data Studio
2. Add Connection
3. Type <servername>\sqlexpress
4. Set Authentication Type to "Windows Authentication"
5. Click

[2019-12-17 12:30] borgdylan opened #8714 "Regression: Connections to PGSql are hanging"
- Azure Data Studio Version: 1.15.0-insider

Steps to Reproduce:

1. Try to connect toa pgsql database
2. Notice that nothing happens. The connection attempt can be canceled and no error pops up, yet the connection us not successful.

[2019-12-17 12:52] LarnuUK commented on #8693
If I remove the `GO` operator I still only get the plan for the first query in that batch using `SET STATISTICS XML ON`, @kburtram . Using `SET SHOWPLAN_XML ON;` however, shows the query plans from all statements in the *following* batch **only**. So, using the example DDL above, the following replicates the problem, and only 1 Query Plan is displayed:

[code]
On the other hand, the following repl

[2019-12-17 16:00] mgnoonan commented on #3694
I have not been able to reproduce this bug, apologies for taking so long to come back to it. I think you can go ahead and close it.

[2019-12-17 16:00] #3694 closed

[2019-12-17 18:00] alanrenmsft commented on #8589
@yualan  thoughts on this one?

[2019-12-17 18:34] kisantia opened #8715 "Schema compare generate script/deploy failing with user"
Generate script and deploy fail when a user change is included. DacFx nuget package needs to be updated to get fix for this.

[2019-12-17 19:05] aaomidi commented on #8709
Sorry I didn't see the notification for this yesterday.

[2019-12-17 19:57] igormicev opened #8718 "Refresh on Tables doesn't work"
Issue Type: <b>Bug</b>

When I click refresh on the Tables folder the refresh is made for the whole tree structure instead of for the Tables node only. Also, not everything should be collapsed, but the tree structure should remain as the user's left it before the Refreshing.

BR, Igor Micev

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:

[2019-12-17 20:01] Charles-Gagnon commented on #8718
These issues should be fixed by https://github.com/microsoft/azuredatastudio/pull/8625 - you can download the latest insiders to try it out otherwise the next stable build should be out this week and will contain those fixes. Let me know if you're still seeing issues after that!

[2019-12-17 20:01] #8718 closed

[2019-12-17 20:26] #7976 closed

[2019-12-17 20:47] #8218 closed

[2019-12-17 21:34] #8698 closed

[2019-12-17 21:56] kburtram commented on #8714
@swjain23 do you think this might be related to the PG flavor changes?  I don't think we've had any other significant changes in this area?

[2019-12-17 22:10] swjain23 commented on #8714
@kburtram - Taking a look at it

[2019-12-17 22:17] kburtram commented on #8709
Bring into Dec to discuss. Though I suspect this isn't at the current triage bar.

[2019-12-17 22:18] aaomidi commented on #8709
From @Charles-Gagnon

[2019-12-17 22:19] kburtram commented on #8714
@swjain23 thanks!  FWIW this isn't repro'ing for me on Azure Postgres v10 instance.

[2019-12-17 22:46] swjain23 commented on #8714
I tried to debug with latest and noticed that it is failing in connectionWidget.ts at validateInputs.
We do let validateAzureAccount = this.validateAzureAccountSelection(); and this is returning false.
I looked at the history of this file and we made a change in validateAzureAccountSelection()

From

if (this.authType !== AuthenticationType.AzureMFA) {
			return true;
		}

to

if (this.authType !=

[2019-12-17 23:34] kburtram commented on #8714
@aaomidi do you have any context on the changes @swjain23 mention in the Azure connection code path?

[2019-12-18 00:09] chlafreniere opened #8721 "Notebooks: Contributed Actions on Toolbar have Different Text Color on Dark Theme"
![image](https://user-images.githubusercontent.com/40371649/71044761-6f982e80-20e7-11ea-90c6-3f60af72b2e1.png)

Notice how the Manage Packages action has text that's brighter than the Collapse Cells action.

[2019-12-18 00:27] #8715 closed

[2019-12-18 00:45] aaomidi commented on #8714
This is probably related to https://github.com/microsoft/azuredatastudio/pull/8434

[2019-12-18 00:53] aaomidi commented on #8714
@swjain23, so you're saying when you're using normal username and password (not AzureMFAAndUser) this is still failing?

[2019-12-18 00:56] kburtram commented on #8714
@rich617 any ideas?  For context, the Dec release is planned for Thursday morning and will include #8434.  As mentioned previously, I can't repro myself, but it would be great to understand potential impact when we're discussing release readiness tomorrow afternoon.

@aaomidi @swjain23  thanks for investigating!

[2019-12-18 00:58] aaomidi commented on #8714
I just tried connecting to a pgsql server, worked without an issue.

[2019-12-18 01:21] udeeshagautam commented on #8467
@chlafreniere adding myself too for the sqlcmd side. here is the full list that I am working on https://github.com/microsoft/azuredatastudio/issues/7381

[2019-12-18 01:30] swjain23 commented on #8714
@aaomidi - Yes it is failing with normal username and password, it doesnt show authentication type in the connection pane for me to select AzureMFAAndUser. I tested it on both insider build and the latest codebase and I am not able to connect.

[2019-12-18 01:34] kburtram commented on #8714
@swjain23 or @borgdylan  could you please provide more details on the environment where connections are failing?  I created a new Azure Postgres instance and am connecting using admin username and password without issue.

[2019-12-18 01:43] chlafreniere commented on #7793
This is a vs code color that's set in src/vs/platform/theme/common/colorRegistry.ts: https://github.com/microsoft/vscode/blob/d3cda21f0e7e3187d53b4db9c52465f1cc660d74/src/vs/platform/theme/common/colorRegistry.ts#L194-L195.

[2019-12-18 01:50] udeeshagautam commented on #7131
@ellbosch, I tried this with latest bits and seem to speak correctly in following case. Please let me know if this was the scenario or something else you tried. I will close accordingly.

![image](https://user-images.githubusercontent.com/46980425/71048872-90678080-20f5-11ea-9a3b-6d62433b22f8.png)

[2019-12-18 01:50] chlafreniere commented on #7809
This bug also reproes in vs code with the files viewlet.

[2019-12-18 02:42] aaomidi commented on #8714
@swjain23 i see that now, looks like the postgres team haven't enabled the AzureMFAAndUser on their side.

Either way I had no issues connecting either, so information about the client and the server would be super useful.

[2019-12-18 03:29] rich617 commented on #8714
I tried to connect using the existing postgresql extension (without AzureMFAAndUser), and it worked for me using the latest build from master. It doesn't ask for authType, and typing in username and password works fine to connect to both a standalone instance and one running in the Azure environment.

We plan to enable authType for PostgreSQL after the December release of ADS is out.

I agree that

[2019-12-18 03:32] rich617 commented on #8714
Let me see if I can repro without having an Azure account connected. Maybe I broke something there.

[2019-12-18 03:38] rich617 commented on #8714
Anyone know how I can logout of my Azure account in ADS?

[2019-12-18 03:59] rich617 commented on #8714
@swjain23 , the authenticationType should always be SqlLogin (or empty/undefined) for PostgreSQL. Are you saying that it came back as === AzureMFA or AzureMFAAndUser? If it did, then we need to figure out how it got into that state because that definitely should never happen.

[2019-12-18 04:12] rich617 commented on #8714
Not related to the reported issue, but I found a couple of possible areas where I forgot to update the connectionWidget code:

	private validateUsername(value: string, isOptionRequired: boolean): boolean {
		let currentAuthType = this._authTypeSelectBox ? this.getMatchingAuthType(this._authTypeSelectBox.value) : undefined;
		**if (!currentAuthType || currentAuthType === AuthenticationType.SqlLogin

[2019-12-18 04:30] swjain23 commented on #8714
@rich617 - I did not login to any azure account in ADS. I just installed the insider build and clicked on the new connection and tried to connect to an Azure PG instance. Yes, when I was debugging it the auth type returned was AzureMFA and not SQLLogin.

[2019-12-18 05:16] swjain23 commented on #8714
@rich617 - So I looked further and noticed this:

private get authType(): AuthenticationType {
		let authDisplayName: string = this.getAuthTypeDisplayName(this.authenticationType);
		return this.getMatchingAuthType(authDisplayName);
	}

In this method, authDisplayName is undefined but then when we call method getMatchingAuthType, it returns AzureMFA as:

private getMatchingAuthType(displayName: st

[2019-12-18 07:35] qifahs opened #8723 "Notebook edits to markdown cells cannot be undone after switching to preview mode"
Issue Type: <b>Bug</b>

While editing Notebooks the user has to keep switching between the preview and edit mode of a markdown cell. However after making some unwanted changes there is no Undo (Ctrl+Z). Undo/Redo should work as you toggle between the edit and preview modes.

Azure Data Studio version: azuredatastudio 1.13.0 (c7d7faa1670e829a8252cbf83ec691496f4d0502, 2019-10-30T18:45:12.404Z)
OS ve

[2019-12-18 07:54] borgdylan commented on #8714
@kburtram I am trying to connect to an on-premise pgsql server.

[2019-12-18 09:40] molzm opened #8724 "Connection not possible"
Issue Type: <b>Bug</b>

Azure Data Studio V 1.13.1 on Debian 10

I tried to connect to an instance of SQL Server 2016 on a Server in my network.
Servername, instancename, credentials were correct, iptables are set to ACCEPT

lsof -i -P -n shows me the TCP connection, but it's in the 'CLOSE_WAIT' state.

TCP connection wont be released when canceling the connection attempt in ADS. Every new attempt

[2019-12-18 13:21] mikewo opened #8725 "Separate "Delete Connection" from "Disconnect" more in context menu"
**Is your feature request related to a problem? Please describe.**
When you have a connection with a database and you click in the navigation tree to get the context menu to disconnect the connection the "Delete Connection" option is very close to the disconnect. Twice now I've accidentally clicked on Delete instead and had to reconfigure the connection. It doesn't look like there is a way to orga

[2019-12-18 14:23] nvonbenken commented on #6450
I get this issue as well from time to time on 1.15.0-insider

[2019-12-18 15:14] sqlkoala opened #8727 "Lexical completion in quotes and comments"
Hi,
**Describe the solution or feature you'd like**
when writing comments or in string constants, it often happens that you have to (fully) type a word, that the editor already knows. But it is not offered by completion. It would be nice to have lexical completion in these places: string constants and comments come to mind.
I mean this kind of completion:
![grafik](https://user-images.githubuserco

[2019-12-18 15:35] chrisdias opened #8728 "ask: support notepad++ key bindings extension"
copying over from the vscode repo

from @denvro, issue # https://github.com/microsoft/vscode-notepadplusplus-keybindings/issues/13

_This is a product request in stead of an issue. Could you please also make this extension compatible/available with Azure Data Studio? As most of the VSIX extensions are already_

[2019-12-18 16:57] rich617 commented on #8714
@swjain23 , that is a bug, and probably what is causing this. If displayName is undefined, then get MatchingAuthType must return undefined—not AzureMFA. We need to fix this before the December release goes out. Do you want me to create a PR for it? Since you can repro, it might be easier for you to do it. Let me know.

[2019-12-18 17:00] rich617 commented on #8714
@borgdylan @kburtram , looks like @swjain23 found the issue. If should be a quick fix in getMatchingAuthType, something like:

    if (!displayName)
         return undefined;

at the top of the function.

[2019-12-18 17:33] cwkoenigs opened #8729 "Failed to change kernel. Kernel SQL will be used. Error was: Notebook process exited prematurely with error code: 1. StdErr Output"
Issue Type: <b>Bug</b>

1. Install Azure Data Studio
2. Configure Python For Notebooks
3. Use new python installation
4.  Change kernel from SQL to Python:

Expected Result: Kernel Change
Actual Result: Failed to change kernel. Kernel SQL will be used. Error was: Notebook process exited prematurely with error code: 1. StdErr Output

Azure Data Studio version: azuredatastudio-insiders 1.15.0-inside

[2019-12-18 18:08] ellbosch commented on #7131
Looks like it's fixed in the ADS official build.

[2019-12-18 18:16] kburtram commented on #8709
@aaomidi I agree after seeing in the product that this doesn't meet Dec. bar.  I'll move to Feb milestone.

[2019-12-18 18:22] swjain23 commented on #8714
@rich617 I can do the change and send a PR. But is any of you able to repro it? I am just wondering why it is working for some of us.

[2019-12-18 18:30] alanrenmsft opened #8730 "add more logging to the build scripts"
specifically for this script build/azure-pipelines/linux/createDrop.sh, when the step fails, we only get a message stating that bash exited with code 1.

[2019-12-18 18:33] kburtram commented on #8714
@swjain23 @rich617 we're currently planning to release tomorrow morning at 11am.  Please send a PR asap so we can merge and get a new build out.  People are starting to take holiday leave so we don't have a lot of room to slip the schedule this week.

[2019-12-18 18:35] alanrenmsft commented on #8728
@chrisdias Does the extension work when you download the vsix and install it in Azure Data Studio? or you are asking us to make it available in the marketplace of Azure Data Studio. please clarify.

[2019-12-18 18:35] rich617 commented on #8714
@swjain23 , seems like if you have never logged in to an Azure account it fails. If you are logged in to an Azure account, it works.

If there is some way to disconnect ADS from the Azure account, we could probably repro, but I can’t find any option to do that, and I don’t know where this state is stored in the filesystem.

[2019-12-18 18:37] kburtram commented on #8714
@rich617 you should be able to delete the Azure accounts by clicking on the little person icon in the bottom left of the status bar then using the Account dialog.  You can also run the `Clear Azure Account Token Cache` command.  Let me try to see if I can repro.

[2019-12-18 18:48] swjain23 commented on #8714
@kburtram - Yes just testing it out, will send a PR in 10 mins.

[2019-12-18 19:03] swjain23 commented on #8714
@rich617 - After applying the fix that you suggested, I am able to connect to a PostgreSQL server.

@kburtram - I am getting an error when ADS is loading extensions "Book initialize failed: Failed to recognize the structure." Source: Notebook Core Extensions. But I am getting this even without the fix. So not related to this change FYI

[2019-12-18 19:40] #8714 closed

[2019-12-18 19:51] rich617 commented on #8714
@kburtram @swjain23 , I followed the instructions to remove the Azure account from ADS, and was able to verify the behavior described. Attempting to connect to PostgreSQL hangs. You can do this to repro / validate the fix.

[2019-12-18 20:04] anthonydresser commented on #8730
The logging issue is something wrong with devops, if you take a look at other runs for that step there is lots of logging.

[2019-12-18 20:12] bradstruss opened #8732 "Export to CSV produces different results than to Excel with NULL values"
Issue Type: <b>Bug</b>

1. Create a query that pulls data that includes NULL values.
2. Export results to Excel. Null values are blank.
3. Export results to CSV. Null values are text "Null"

Is there a way to make the CSV export have blanks instead of text?

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:00:55.976Z)
OS version: Darwin x64

[2019-12-18 21:11] johnaceous commented on #7619
`NEW_SIGN_IN_EXPERIENCE=true` fixed my inability to log in due to this error message, so thank you!

However, after my connection has timed out in a query editor and I try to execute a query, I get this message:
[code]

[2019-12-18 22:15] ranasaria opened #8734 "select button is enabled even before azadata installtion completes"
Issue Type: <b>Bug</b>

It is observed on Mac using 'resource-deployment' extension.
Pre-condition: None of the kubectl, azure-cli, and azdata-cli tools needed for BDC is installed on the box.
1. Start 'New Deployment' -> select new 'BDC deployment' card.
2. Invoke the install tools button.

Observed: After kubectl and azure-cli are installed before the azdata-cli installation completes the 'selec

[2019-12-18 23:22] chlafreniere commented on #8729
Hi @cwkoenigs, sorry to hear that you're having an issue with python and notebooks. Can you verify that the issue persists when you close and reopen Azure Data Studio?

I tried myself on a clean machine and couldn't reproduce this issue unfortunately. It would be helpful if you could paste the output for the "Notebooks" channel:

- View menu -> Output
- From the dropdown, select "Notebooks"

What

[2019-12-18 23:26] kburtram commented on #7619
@aaomidi I think we can switch the default experience in master now since we're past the Dec release branch.  If there's nothing else we're tracking on his bug we close it now.

[2019-12-18 23:31] TaylorBarrick opened #8736 "Timeout when connecting to docker container on port 1433, while SSMS connects"
- Azure Data Studio Version:  1.13.1

Steps to Reproduce:

1.   Run Mssql-server-linux based container mapping 1433 to host 1433.

- SQL Login credentials created and applied to server

2.  Attempt to connect to localhost with supplied SQL Login credentials.
3.  Receive timeout message below
4.  Attempt to connect to VS Code mssql extension with the same results
5.  Connect within SQL Server Manag

[2019-12-19 00:06] kburtram commented on #8714
I was able to repro after removing my Azure account.  And I was able to verify this is fixed in the Dec release candidate build.  Here are fwlinks for tomorrow's release in case anyone else wants to verify the fix.

Platform | Link
-- | --
Windows User EXE | https://go.microsoft.com/fwlink/?linkid=2113530
Windows System EXE | https://go.microsoft.com/fwlink/?linkid=2113628
Windows ZIP | https://go

[2019-12-19 00:57] SakshiS-harma opened #8738 "Create Unit test for Schema Compare- SQL Login feature"

[2019-12-19 01:31] qifahs opened #8739 "While editing markdown, find widget scrolls away if the markdown is too big"
Issue Type: <b>Bug</b>

Repro:
- In a Notebook, create a markdown cell which is more than one page long. You need a big markdown cell to repro this issue.
- Edit the markdown and scroll down more than a page.
- Hit Ctrl+F. The find widget is not visible anymore. It looks like Ctrl+F is a no-op. You have to scroll to the beginning of the markdown to see the find widget.
![image](https://user-images

[2019-12-19 09:45] denvro commented on #8728
No, downloading de vsix and installing it manually in Azure Data Studio doesn't work. You get an error message that it's not compatible. Most of the VSCode vsix extension you can however install manually by downloading them. It would of course be a nice to have that, when it's compatible, it's availble in the ADS marketplace.

[2019-12-19 10:29] moersoy opened #8741 "[loc]Request to add Turkish language to Azure Data Studio"
- Azure Data Studio Version:

Steps to Reproduce:

[2019-12-19 11:27] SQLBigEyesDad opened #8742 "Error, Requires "PolyBase to be enabled..." even If already enabled"
Issue Type: <b>Bug</b>

No problem When I implement Data Virtualization by TSQL with SSMS
But When I run "Create External Table" menu, It shows error message, requires "PolyBase to be enabled..."

Windows 10
Azure Data Studio 1.13.1
Data Virtualization 1.1.0

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_N

[2019-12-19 13:57] 0Architectus0 opened #8743 "SSL Error"
Issue Type: <b>Bug</b>

Azure Data Studio returns an SSL error when attempting to connect with Azure cloud account.

Error: write EPROTO 3166410856:error:100000f7:SSL routines:OPENSSL_internal:WRONG_VERSION_NUMBER:../../third_party/boringssl/src/ssl/tls_record.cc:242:

Where can the solution to this be found?

Thanks,
Vincent Rodriguez

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39

[2019-12-19 17:49] alanrenmsft commented on #8730
ado issue, found the related log in the full log.

[2019-12-19 17:49] #8730 closed

[2019-12-19 17:59] alanrenmsft opened #8745 "cms integration test needs to be more reliable"
if the cms group with the specified name already exists on the server.

[2019-12-19 19:42] shelbykauth commented on #8141
My error is almost the same, but just a little bit different.  I have a saved query

1. Open my saved query in a tab (A)
2. Open my other saved query in a tab (B)
3. In the tab B execute any query which finishes unsuccessfully (I have a really long thing for data migration.  It gets stuck on a previously-good INSERT INTO SELECT FROM query, the views which it's selecting from use complex joins and

[2019-12-19 19:44] kburtram opened #8747 "OE expansion fails with "invalid argument" after hibernation"
- Azure Data Studio Version: 1.14.0

Steps to Reproduce:

1. Connect to server (Azure DB in my case)
2. Hibernate computer (close macbook laptop in my case)
3. Log back into computer and try to use connection

Expected: Connections are reestablished

Actual: Connection is not reestablished and I get "invalid argument" errors in OE

<img width="510" alt="Screen Shot 2019-12-19 at 11 39 54 AM" src="

[2019-12-19 20:47] eligoldner opened #8748 "listInactiveSelectionBackground color was too faint on both light and dark theme to be noticeable"
Light theme - current view
![light-theme-current-color](https://user-images.githubusercontent.com/763806/71208173-77d2a400-2276-11ea-9240-5affffd04b65.png)

Light theme - suggested color
![light-theme-new-color](https://user-images.githubusercontent.com/763806/71208170-77d2a400-2276-11ea-8dc8-777b174a41fa.png)

Dark theme - current view
![dark-theme-current-color](https://user-images.githubusercon

[2019-12-19 21:32] vickyharp opened #8750 "Scrolling in Azure Data Studio "flashes" compared to SSMS"
In SSMS, scrolling through a 1 million row table feels very smooth - you can see the data "moving" as you manipulate the scrollbar. In ADS, the application does not struggle to get you to the endpoint of your scroll, but it is very "flashy" and only redraws when the mouse is stopped or nearly stopped. This gives a more jagged feeling even though, by the numbers, it's probably the same speed as SSM

[2019-12-19 23:37] khelouim opened #8752 "issue on azure data studio when creating external table to oracle"
It is impossible to create  external table to oracle:
Azure data studio version 1.13.1

105082 ; Erreur ODBC générique : [Microsoft][ODBC Oracle Wire Protocol driver][Oracle]TNS-12514: TNS:listener could not resolve SERVICE_NAME given in connect descriptor .

Microsoft.SqlServer.DataWarehouse.Common.ErrorHandling.MppSqlException[105082:1]: 105082 ; Erreur ODBC générique : [Microsoft][ODBC Oracle W

[2019-12-19 23:57] MaddyDev opened #8753 "Match case and Match wholeword implementation on Find"
Current find implementation doesn't implement the match case and match word though it's present. Implement this as part of Find.

[2019-12-20 00:24] MaddyDev opened #8754 "Find result in a collapsed cell doesn't expand the cell."
- Azure Data Studio Version:

Steps to Reproduce:

1. Use Ctrl F in any notebook which has collapsed cells.
2. If the find result is in a cell that's collapsed it doesn't expand the cell and scroll to the result.

Expected:
Expand the cell if it's collapsed to show the highlighted find result.

[2019-12-20 01:45] gbritton1 opened #8756 "Notebooks: Disable the Add Code/Add Text popups"
**Is your feature request related to a problem? Please describe.**
I'm frustrated when using a notebook to demo something in ADS.  The popups that appear when moving with the mouse from cell to cell (Add Text and Add Code) make the presentation look messy.

**Describe the solution or feature you'd like**
I'd like to see a way to disable the Add Text / Add Code popups for situations like this.

**D

[2019-12-20 02:24] chlafreniere commented on #7793
There has been a lot of discussion around this bug internally, so here's a high-level summary:
- The accessibility team internally agree that there does not appear to be a MAS standard for 7:1 beyond the common requirement of 4.5:1:

"
![image](https://user-images.githubusercontent.com/40371649/71224901-a313be00-228b-11ea-848c-673eb7b7819a.png)
"

- The discussion then turned to whether there coul

[2019-12-20 02:24] #7793 closed

[2019-12-20 02:47] chlafreniere commented on #7809
I have attempted to create an issue on the VS Code side for this, but am unable to do so, as they've temporarily stopped non-collaborators from being able to create new issues.

While having Voice Over enabled on Mac, cannot navigate tree items with the keyboard.

As an example, trying to use the arrow keys to navigate the File Explorer results in Voice Over reading one character at a time.

Are t

[2019-12-20 04:54] mchenx commented on #7812
this issue still exists, really bad experience while scrolling in query window

my ver
![image](https://user-images.githubusercontent.com/1550186/71231194-d2780880-2327-11ea-9d7e-f62fdba5b4fb.png)

[2019-12-20 06:23] dddd45 opened #8758 "Transfer data from Windows network path to SQL Server Big data cluster HDFS"
I am new to Big data and SQL Server Big data cluster. There are a ton of folders/sub folders with a few files in each sub folder, please anyone lets me know how to transfer them to HDFS SQL Server Big data cluster on Ubuntu.

Thanks

[2019-12-20 09:36] swythan commented on #5133
FYI: This issue still exists in 1.13.1 (I'm running on Windows).

[2019-12-20 11:32] imseor commented on #8347
I have same issue

![image](https://user-images.githubusercontent.com/2198944/71252250-c6d71280-2324-11ea-9104-267f11399b3b.png)

[2019-12-20 11:33] imseor commented on #7812
I have same issue

Version: 1.13.1 (user setup)
Commit: d08d07fe39c7fe74f9265db02cb963c38d048299
Date: 2019-11-14T23:08:09.800Z
VS Code: 1.38.0
Electron: 4.2.10
Chrome: 69.0.3497.128
Node.js: 10.11.0
V8: 6.9.427.31-electron.0
OS: Windows_NT x64 10.0.18363

[2019-12-20 12:34] SQLvariant opened #8759 "%set_env VSCODE_NLS_CONFIG={"locale":"en-us","availableLanguages":{},"
Issue Type: <b>Bug</b>

I'm not sure if this is a PowerShell-kernel or a Notebooks issue, so I'm opening this issue here just in case it's a Notebooks issue:
https://github.com/vors/jupyter-powershell/issues/34

Azure Data Studio version: azuredatastudio-insiders 1.15.0-insider (778a34a9d288da35279e3ffe0c2aca19e1c8d7ed, 2019-12-20T05:31:39.928Z)
OS version: Windows_NT x64 10.0.19041

<details>
<su

[2019-12-20 13:03] xyqn7 opened #8760 "Organise tables/views/stored procedures by schema"
Hi,

Since many years I've been using schemas to organize SQL DB's for all kinds of purposes. Currently we have approx 1000 objects (views/tables/stored procedures) that are organised into schema's to have a better view on things that relate.

For SSMS there is an add on https://github.com/nicholas-ross/SSMS-Schema-Folders, for an image please visit https://i.stack.imgur.com/zRcZn.png

Is it possi

[2019-12-20 14:49] khelouim opened #8761 "105082 ; Erreur ODBC générique : [Oracle][ODBC]Invalid SQL data type <-25>. ."
- Azure Data Studio Version:

Steps to Reproduce:

1.
CREATE EXTERNAL DATA SOURCE Sourceoracleodbcinstant19
WITH ( LOCATION = 'odbc://SRV-PR-SQL16P7',
PUSHDOWN = ON,
CREDENTIAL = ConsulB  ,CONNECTION_OPTIONS = 'DSN = oracleodbcinstant19;ssl=false')

CREATE EXTERNAL TABLE DBO.ORACATEG_EMPLOYE_TBInst19
(
	CLIENTCODE	  TINYINT  , --in oracle it is number(3)
	CATEG_EMPL_CODE	TINYINT   ,--in oracle it

[2019-12-20 17:58] alanrenmsft commented on #8745
fixed by https://github.com/microsoft/azuredatastudio/pull/8737

[2019-12-20 17:58] #8745 closed

[2019-12-20 18:03] alanrenmsft commented on #8747
tracked by issue: https://github.com/dotnet/SqlClient/issues/359, do we still need to keep this open? @kburtram

[2019-12-20 18:14] genifycom opened #8762 "1.14 version does not run under LocalSystem"
- Azure Data Studio Version:

Steps to Reproduce:

1. Version 1.13.1 runs fine under Local System using
Administrative Command Prompt:
Run psexec64 -i -s cmd.exe
In the new "nt authority\system" command promt:
Run "C:\Program Files\Azure Data Studio\azuredatastudio.exe"

The application starts and runs as normal.

After upgrade to 1.14, when trying this same scenario, the application starts and yo

[2019-12-20 18:58] TaylorBarrick commented on #8736
This was function fairly recently, but I am not certain if it was immediately prior to 1.41

[2019-12-20 19:16] alanrenmsft commented on #8762
@genifycom I am not able to reproduce the issue. do you see any error in the command window or in this folder: C:\Windows\System32\config\systemprofile\AppData\Roaming\azuredatastudio\logs?

[2019-12-20 21:10] ScottArbeit opened #8763 "Keyboard is unresponsive in Messages tab"
Issue Type: <b>Bug</b>

1. Run any query that puts output in the Messages tab.
2. Click on the Messages tab to select it.
3. Click inside the text of the Messages tab.
3. Keyboard does nothing. Up/down/left/right arrow, PgUp/PgDn... nothing. The only way to scroll is using the mouse.

I expect that the keyboard works the same way it does in every text box, and lets me scroll without using the mous

[2019-12-20 22:11] #7853 closed

[2019-12-20 23:17] #478 closed

[2019-12-22 03:20] tej-rana opened #8766 "Unable to refresh credential"
Issue Type: <b>Feature Request</b>

I am unable to reset password for a connection. The screen is stuck at "Failed to get credential for account .."

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:00:55.976Z)
OS version: Darwin x64 19.2.0

[2019-12-22 03:25] tej-rana commented on #8766
Turns out you can get a new token by clicking on add a new account and then adding the same account.

[2019-12-22 03:25] #8766 closed

[2019-12-22 04:06] plsloan commented on #8244
I gave up and created a new account, and it fixed the issue. This maybe be related to me changing the name of the user folder.

[2019-12-22 18:31] ArtemOrlovGmail commented on #7812
@ellbosch Please reopen this issue. Last build or insiders build, Windows 10 up to date.

[2019-12-23 14:40] Richard-Payne commented on #8713
@Charles-Gagnon  any response to this?

[2019-12-23 14:42] mtaylorfsmb opened #8768 "Query results not shown when starting ADS with named files already open"
Issue Type: <b>Bug</b>

This appears to be a regression issue with ADS with the latest update as it was working before. When a query is run you can see the query status in the status bar but the Results tab never populates.

Steps:
1. Open ADS.
1. Create a new tab and put in a simple query. Run the query to ensure it works. Save the query to a file.
1. Create a new tab and put the same query into

[2019-12-23 20:23] gbritton1 opened #8771 "Change language flavor not available in notebooks"
re: https://github.com/microsoft/azuredatastudio/pull/8419

Steps to Reproduce:

Version: 1.14.0 (system setup)
Commit: 27468f75a5c969736ff663140d46f927d3ac749b
Date: 2019-12-18T20:21:08.840Z
VS Code: 1.38.0
Electron: 6.1.5
Chrome: 76.0.3809.146
Node.js: 12.4.0
V8: 7.6.303.31-electron.0
OS: Windows_NT x64 10.0.18362

1. Open a notebook, write some SQL
2. try to switch language flavor between MS SQ