[2022-08-23 00:20] kisantia opened #20439 ".sqlproj parsing only handles default conditions when determining OutputPath"
When checking the PropertyGroup condition when looking for OutputPath, only the conditions that are in legacy .sqlproj by default when creating a project in VS and ADS are handled for now. If a user has custom conditions, those aren't considered when looking for OutputPath

[2022-08-23 04:10] BhavanaPilli11 commented on #20262
@cssuh @kburtram any update on the issue?

[2022-08-23 05:26] cheenamalhotra commented on #20225
Hi @Palsternakka

This seems duplicate of #18844
Closing the issue as it will be fixed with upcoming Aug release (v1.39) this week.

Thanks!

[2022-08-23 05:26] #20225 closed

[2022-08-23 05:29] cheenamalhotra commented on #19779
Also a duplicate of #18844.
Closing as will be addressed with **v1.39**.

[2022-08-23 05:29] #19779 closed

[2022-08-23 05:36] cheenamalhotra commented on #18668
@festerman @chriseaton @fedespin
FYI, in case this is related to #18844 ... **v1.39** is coming up with a fix for Linux Kerberos connections, I would recommend trying!

[2022-08-23 05:47] cheenamalhotra commented on #19567
_Gentle ping @pabloBrizzi !_

[2022-08-23 12:12] mkyp commented on #20436
The file save is still on going the following morning..
[Screen Shot 2022-08-23 at 8.11.34 AM.pdf](https://github.com/microsoft/azuredatastudio/files/9402409/Screen.Shot.2022-08-23.at.8.11.34.AM.pdf)
.

[2022-08-23 13:24] angryjohnnie opened #20440 "Postgres connections left open"
Issue Type: <b>Bug</b>

1. open a postgres connection to the server. make a simple query such as "select * from table test limit 10"
2. force quit ads or ads crashes3.
3. all connections related to the query remain open.
4. multiple attempts to connect that either crash or are disconnected ungracefully leave 1 or 2 connections open. These accumulate and eventually reach the default mac connection

[2022-08-23 13:42] mrlife commented on #10937
@kburtram Possible to include in an upcoming release?

[2022-08-23 14:12] Dylan-MSFT commented on #19905
@cheenamalhotra I am talking about the SPN received by the client from the FEDAUTHINFO token. It needs to use that during MFA access token creation (which Azure Data Studio supports) to generate a token with the correct audience / scope. With the current behavior, all tokens generated through Azure Data Studio's MFA process have a scope of "https://database.windows.net/" which will not work once S

[2022-08-23 15:07] thoffmann-fms opened #20441 "Table Designer - Add Collation to column properties"
Issue Type: <b>Feature Request</b>

It's probably not real common, but there are times when creating a table that some columns may need a different collation from the base table.  e.g. NVARCHAR columns that are case-sensitive.  Adding the column collation as either a dropdown or just a textbox to the Column Properties pane would be handy.
Might be nice to add the same dropdown/textbox to the Gener

[2022-08-23 15:12] barryseymour opened #20442 "ToggleQueryResults - only works if the Code Editor is selected"
Issue Type: <b>Bug</b>

I created a keyboard shortcut (ctrl+`) to toggle the visibility of the query results. But it only works if my cursor is in the code editor. If I'm in the results pane for whatever reason, the keyboard shortcut doesn't work. I have to click back into the code editor, which rather defeats the purpose of the keyboard shortcut.

Azure Data Studio version: azuredatastudio 1.38.0

[2022-08-23 15:21] #20442 closed

[2022-08-23 15:21] barryseymour commented on #20442
Accidental duplicate.

[2022-08-23 15:39] joshslark commented on #17664
Hi, @alanrenmsft, could we reopen this issue? I am still seeing this behavior in 1.38.0. I think maybe this was mischaracterized as a dupe of #17562, because the results/messages pane size will stay consistent between query executions, however, if you hide the results/messages pane as described in this repro, then the size gets reset.

[2022-08-23 20:31] chlafreniere opened #20443 "Investigate and Re-enable Flaky Notebook Smoke Tests"
Due to test flakiness, some notebook smoke tests have been disabled temporarily. Need to investigate why these tests are flaky and re-enable these tests to get automated coverage back up to our previous levels.

[2022-08-23 20:34] #20239 closed

[2022-08-23 21:23] kburtram commented on #10937
@mrlife I'll move this into the next milestone for investigation.  From the issue title it sounds simple, but will need to check the details to confirm.

[2022-08-23 23:01] cheenamalhotra commented on #19905
Ah! That makes sense.

We can do that by implementing SqlClient's [SqlAuthenticationProvider](https://docs.microsoft.com/en-us/dotnet/api/microsoft.data.sqlclient.sqlauthenticationprovider?view=sqlclient-dotnet-standard-4.1) and consuming SPN from [SqlAuthenticationParameters.Resource](https://docs.microsoft.com/en-us/dotnet/api/microsoft.data.sqlclient.sqlauthenticationparameters.resource?view=sq

[2022-08-23 23:13] cheenamalhotra commented on #19905
@kburtram

To answer your question, yes this is quite important to support wide variety of servers through SqlClient. This design will also solve many token expiry issues as SqlClient's design of pooling and token expiration encapsulates the SqlAuthenticationProvider implementation and will implicitly fetch new tokens from the implementation class when necessary.

SSMS does the same, so it should

[2022-08-23 23:43] cheenamalhotra commented on #4291
This should be resolved with the latest insiders build as tested and verified.
Closing the issue as resolved.

[2022-08-23 23:43] #4291 closed

[2022-08-24 00:10] lauraaawr commented on #20239
Thanks @corivera for the fix! Sorry but I'm new to Github, what is the next step I need to do?

Do I need to redownload the ADS installer as I installed it in a computer without internet?

[2022-08-24 01:00] OzBob opened #20448 "unresponsive large memory when copy large dataset to Windows clipboard"
Issue Type: <b>Bug</b>

when query 18000 rows from Azure SqlServer database, then select all and copy the large dataset to clipboard, app is unresponsive and memory spikes. It has been non-responseive now for 5 min and windows 11 is prompting to 'end process or wait', task manager says it's now at 2500MB memory allocation.
I'm gong back to SSMS19

Azure Data Studio version: azuredatastudio 1.38.0

[2022-08-24 01:02] OzBob commented on #20448
screen shot of TaskManager and windows error prompt
![AzureDataStudioMemoryIssue2022-08-24 085629](https://user-images.githubusercontent.com/1796771/186294224-1f983941-83eb-403c-bc16-66fb301f6926.jpg)

[2022-08-24 05:08] cheenamalhotra commented on #20192
It should not be that way, it is strange why some machines cannot access the managed instance. The problem is generally due to lack of connectivity, but let's do some troubleshooting.

Can you try to connect to the same instance from your client using [mssql-cli](https://github.com/dbcli/mssql-cli/blob/main/doc/installation/macos.md) and SqlClient driver if you use it directly? Let me know if you

[2022-08-24 11:58] sqlatspeed commented on #20192
Cheena,
While we are seeing these errors from both Macs and Windows machines, the majority of the errors are on Macs. I would definitely need help creating that app as my .NET skills are fairly rusty at this stage. Happy to test with whatever you send me, though. Thanks for your continued help on this!
Matt Gordon
    On Wednesday, August 24, 2022 at 01:08:35 AM EDT, Cheena Malhotra ***@***.***> w

[2022-08-24 12:16] PowerDBAKlaas commented on #20240
[code]

[2022-08-24 15:47] barryseymour opened #20453 "File|Recent failure"
Issue Type: <b>Bug</b>

I create a file. Save it. Close it. Oops, I want to re-open it. Click File | Recent... it's not there.

Azure Data Studio version: azuredatastudio 1.38.0 (dff93c4736269ef2a7e8a225737a0d8354bf0246, 2022-07-26T23:56:16.217Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Xeon(R) CPU E3

[2022-08-24 15:55] barryseymour opened #20454 "Ctrl+Right Arrow goes to end of current word, not the start of the next one."
Issue Type: <b>Bug</b>

Select a word. Press Ctrl+RightArrow. Cursor goes to the end of the current word. I expect it to go to the beginning of the next one.

Ctrl+Left Arrow works correctly, it always goes to the start of the previous word.

Just to be sure, I checked in NotePad and Microsoft Word. Ctrl+Right Arrow goes to the beginning of the next word.

Azure Data Studio version: azuredatastudi

[2022-08-24 16:24] Charles-Gagnon commented on #20454
This is the default behavior, you can change it by changing your keybindings :

Default key binding :

![image](https://user-images.githubusercontent.com/28519865/186471423-a7f5c6e0-2faa-49f9-887b-3900f44a99e7.png)

If you clear this and instead set ctrl + right arrow to `cursorWordStartRight` then you should get the behavior you want.

![image](https://user-images.githubusercontent.com/28519865/1

[2022-08-24 16:24] #20454 closed

[2022-08-24 16:50] #15880 closed

[2022-08-24 17:13] barryseymour commented on #20454
Thank you!

[2022-08-24 17:44] cheenamalhotra commented on #20192
Could you try installing mssql-cli first: https://github.com/dbcli/mssql-cli/blob/main/doc/installation/macos.md

[2022-08-24 18:09] corivera commented on #20239
That fix won't be available in our stable builds for another 2 months. You can use the nightly builds if you want, called the Insiders version, but that version is not guaranteed to be 100% stable since it's built daily from whatever is in the main branch. You can find the insiders version here: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

[2022-08-24 18:32] #20343 closed

[2022-08-24 19:00] kisantia commented on #20290
@ALZDBA can you try the latest ADS (1.39) and sql database projects extension (0.19.0) and verify if this is resolved? Publish options are now available by clicking on the "Advanced..." button in the publish dialog

[2022-08-24 19:00] kisantia commented on #20380
@delsehi can you try the latest ADS (1.39) and sql database projects extension (0.19.0) and verify if this is resolved? Publish options are now available by clicking on the "Advanced..." button in the publish dialog

[2022-08-24 19:01] #20086 closed

[2022-08-24 19:33] hdrenollet-csusa commented on #20241
October?  Really?!  I really want to use Azure Data Studio daily, but bugs like this keep me switching back to SQL Server Management Studio.  Maybe I'll just give up hope and try it again in a couple years once you guys get all the basics figured out.  In its current state, it's not a reliable alternative to SSMS.

[2022-08-24 19:54] alanrenmsft commented on #18745
@ShadowFiendZX we have implemented the reordering feature, please try it out with latest ADS release. we will use this issue to track the multiple selection feature request.

[2022-08-24 19:58] kisantia commented on #20240
@zijchen have you seen this error before or have any ideas on why Microsoft.Build.Sql can't be found? Maybe nuget.org needs to be added as a source or something like that?

[2022-08-24 19:58] alanrenmsft opened #20461 "table designer - changes not included in the preview summary or script"
1. make a change in an input box in table designer
2. click on the publish button

expected:
the change is reflected in the change summary or generated scripts

[2022-08-24 20:04] zijchen commented on #20240
nuget.org should be included by default. @PowerDBAKlaas do you have any additional Nuget sources configured? You can run `dotnet nuget list source` to check.

[2022-08-24 20:17] cssuh commented on #20262
Hi @BhavanaPilli11 have you been able to authenticate successfully in the past? Can you please try removing your account and re-adding it?

[2022-08-24 20:46] johncquayle opened #20463 "Azure Data Studio fails to save to Excel/csv for medium to large size data sets"
- Azure Data Studio Version: 1.39.0
- OS Version: Windows 10 Enterprise Version 1809 Build 17763.1879
- Version: 1.39.0 (system setup)
Commit: 9fdb2161d49b4d4ab6798809faa042a898ca2eae
Date: 2022-08-20T01:46:47.606Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.17763

Issue Type: <b>Bug</b>

1. Execute query that returns >~

[2022-08-24 20:53] BhavanaPilli11 commented on #20262
@cssuh I was never able to authenticate successfully. I don't have any accounts added.

[2022-08-24 21:06] mbourgon commented on #19558
Proposed fix below!

(I would also LOVE to be able to actually CHANGE it myself. I can't find where the script used to create the XEvent is kept anywhere outside the app.)

Current Extended Event session is:

CREATE EVENT SESSION [ADS_Standard_Azure] ON DATABASE
ADD EVENT sqlserver.attention(
    ACTION(package0.event_sequence,sqlserver.client_app_name,sqlserver.client_pid,sqlserver.database_id,sq

[2022-08-24 21:53] kisantia commented on #17742
closing and deprioritizing this since sql bindings is in a separate extension now and no longer also uses this. It would be nice to clean this up at some point, but there is some risk associated with refactoring and making changes here that isn't worth the time and testing right now.

[2022-08-24 21:53] #17742 closed

[2022-08-24 22:22] kisantia opened #20467 "sql projects output path doesn't handle variables"
When determining where the generated dacpac is for publishing, the "OutputPath" property in the .sqlproj is used to determine this location if is specified.

If an output path has a variable, like `<OutputPath>out/$(Configuration)</OutputPath>` this is not currently handled. The xml parsing code is already pretty messy in the sql projects extension, so this is currently on hold while deciding if t

[2022-08-24 23:46] dbainscp opened #20472 "Database trees no longer expand after recent update"
Issue Type: <b>Bug</b>

I just updated Azure Data Studio to 1.39.0 and now none of my database connections show the tree view with tables, views etc. None of them will expand. I click on them, get a spinning cursor while it connects, then nothing is displayed.

Azure Data Studio version: azuredatastudio 1.39.0 (9fdb2161d49b4d4ab6798809faa042a898ca2eae, 2022-08-20T01:46:47.606Z)
OS version: Windows

[2022-08-25 00:31] cssuh commented on #20472
Hi @dbainscp, is this for an azure DB or a local DB?

[2022-08-25 06:31] fedespin commented on #18668
Yes, the version 1.39 fix this bug.
Thanks!!!

[2022-08-25 06:37] cheenamalhotra commented on #20252
Duplicate of https://github.com/microsoft/azuredatastudio/issues/20180, I will proceed to close this one.
@Carsten3000 please track the other issue for future updates.

[2022-08-25 06:37] #20252 closed

[2022-08-25 07:03] cheenamalhotra commented on #19522
Closing as duplicate.

[2022-08-25 07:03] #19522 closed

[2022-08-25 07:10] cheenamalhotra commented on #16960
@luxx66

Checking in, do you still continue to experience this issue? Since others in your team do not experience the same issue, I would imagine this is specific to your environment settings.

Let us know if this continues to persist.

[2022-08-25 07:13] cheenamalhotra commented on #16140
Fix for this issue had been made available in Microsoft.Data.SqlClient a while ago, closing this as resolved.

[2022-08-25 07:13] #16140 closed

[2022-08-25 07:19] cheenamalhotra commented on #11249
@plmosqueda @gumbarros

Starting with .NET 5 onwards, default cipher suites have changed and have caused issues to client apps. Since ADS uses .NET 6 this is likely to cause impact. Would recommend you to try guidelines from here: [Default TLS cipher suites for .NET on Linux
](https://docs.microsoft.com/en-us/dotnet/core/compatibility/cryptography/5.0/default-cipher-suites-for-tls-on-linux#recomme

[2022-08-25 07:20] MortenMeisler commented on #20417
Where is the timeout setting for connection?

I'm connecting via Mongo DB using Azure Cosmos DB API. Running on Windows Server 2012.

![image](https://user-images.githubusercontent.com/17620242/186600574-3d1155d4-e094-4cc3-aa00-51a7c018b78d.png)

[2022-08-25 07:38] cheenamalhotra commented on #11181
Seems fixed now, below screenshot is from latest ADS v1.39:
![image](https://user-images.githubusercontent.com/13396919/186604373-f088aab1-cbc7-49d9-8c11-dfdef738c99a.png)

I will proceed to close the issue.

[2022-08-25 07:38] #11181 closed

[2022-08-25 07:52] cheenamalhotra commented on #17165
Closing as duplicate of #71 enhancement request.
Would recommending upvoting the same to help us prioritize the issue!

[2022-08-25 07:52] #17165 closed

[2022-08-25 08:32] Knightwisp opened #20473 "[Feature Request] Dropping files onto an open connection should open files connected to same instance"
Very much like SSMS

[2022-08-25 12:23] woutkroon commented on #20472
I encounter the same issues, although it does seem to work for some servers if given enough time. The SQL server instances are all  local on my computer (SQL2017/2019) or on premise (running on dedicated DB servers at our office). None of them are Azure DBs.

[2022-08-25 13:59] PowerDBAKlaas commented on #20240
@zijchen
"No sources found."

[2022-08-25 14:29] gumbarros commented on #11249
@cheenamalhotra tried editing my sslconf with the recommended action but still with the error 😢
openssl_conf = default_conf

[code]

![image](https://user-images.githubusercontent.com/52143624/186692570-b496a7c5-a3d2-496a-bd54-06585c6a6132.png)

[2022-08-25 14:48] tomwarner13 commented on #8279
This issue is still occurring on the latest version ADS, having just updated today. Would really like to see a fix on here; selecting and reading the entire contents of a VARCHAR field should be something that this application can support natively, instead of forcing us to jump through workarounds or install a third-party SQL client.

[2022-08-25 15:10] #20461 closed

[2022-08-25 15:10] #20256 closed

[2022-08-25 15:11] cheenamalhotra commented on #11249
Could you troubleshoot possibilities these too as these are mostly observed issues? [SqlClient Troubleshooting Guide](https://docs.microsoft.com/en-us/sql/connect/ado-net/sqlclient-troubleshooting-guide?view=sql-server-ver16#possible-reasons-and-solutions)

Most commonly observed problem is lack of TLS 1.2 support on target server as Linux clients are starting to limit using anything below it, lea

[2022-08-25 16:00] gumbarros commented on #11249
@cheenamalhotra also tried
[code]
and no success.

[2022-08-25 16:09] kisantia commented on #20240
nuget.org should be listed like this:
![image](https://user-images.githubusercontent.com/31145923/186714976-7f003f37-9cbd-465a-b33a-b7a2b34deaf9.png)

Can you try adding nuget.org as a source like in the first example [here](https://docs.microsoft.com/en-us/dotnet/core/tools/dotnet-nuget-add-source#examples)?

[2022-08-25 16:27] cheenamalhotra commented on #18935
@avenius Let us know if your problem is resolved or if you need any additional support.
Thanks!

[2022-08-25 16:34] sqlatspeed commented on #20192
Cheena,
Thanks - I had a few minutes between some extensive travel this week and gave it a whirl but my Mac did not like that install attempt. The error is below. I don't have time to dig into this afternoon since I'm getting on an airplane but any guidance you have here is much appreciated. I do appreciate the help very much. 
Matt Gordon

Searching for pip

Reading https://pypi.org/simple/pip/

[2022-08-25 17:25] #20027 closed

[2022-08-25 17:26] kisantia opened #20475 "update sql projects tests to cleanup generated files"

[2022-08-25 17:46] kisantia commented on #19557
There are 2 main scenarios here:
1. The table is the only object in the file and the file has the same name as the table.
expected: File is not renamed (?) and the old table definition gets replaced with the new one
actual: old file with table definition gets deleted and a new file gets created containing the new table definition and the file name is the new table's name.

2. The table is one of m

[2022-08-25 17:47] kisantia commented on #19557
Question:
Do we only rename the table or do we also need to update any references to the table?

A couple options I can think of for adding support for table rename:
Quick/hackier option: if references don't need to be updated, just replace the table name in the file after the schema compare publish is finished. Estimate 1 day to do this.

Longer option: if references need to be updated and this i

[2022-08-25 18:28] mkyp commented on #20436
This problem occurs when I select "Select all", then do a "Save as CSV".

If I just do a "Save as CSV", it implicitly selects all and the save to file completes in a reasonable amount of time

[2022-08-25 18:38] kisantia commented on #19298
Also happens for views. Doesn't happen for tables.

Probably related to the comments showing as part of the stored proc's script in schema compare, but not for tables

![Image](https://user-images.githubusercontent.com/31145923/186742982-39ee694d-0cb0-49b6-9509-c8e6bd35d5e3.png)

![Image](https://user-images.githubusercontent.com/31145923/186742949-1587200c-c237-42c9-beb2-c1562089c516.png)

[2022-08-25 18:51] erinstellato-ms commented on #20359
For cases where there are more than 100K rows, but the table does not need to be recreated, provide information to the user that the update may take extended time and require the user to acknowledge it.  Optional: make number of rows a setting.
Examples: adding a column to a table with a default value

[2022-08-25 20:01] cheenamalhotra commented on #18954
Closing as inactive.
Please reopen if needed with steps to reproduce the same.

[2022-08-25 20:01] #18954 closed

[2022-08-25 20:43] cssuh commented on #20472
@dbainscp could you also include screenshots of the issue?

[2022-08-25 21:52] dbainscp commented on #20472
Here is the zipped logging folder & the console logs:

[exthost.zip](https://github.com/microsoft/azuredatastudio/files/9428453/exthost.zip)
[vscode-app-1661464134991.log](https://github.com/microsoft/azuredatastudio/files/9428454/vscode-app-1661464134991.log)

[2022-08-25 21:54] dbainscp commented on #20472
And here is a screen shot of my connections. The one in the red box should be showing the Tree  below it:
![NoTree](https://user-images.githubusercontent.com/35049140/186775748-2af992f7-f001-4195-8911-36eca1ab8922.jpg)

[2022-08-25 21:59] dbainscp commented on #20472
And here is the screen shot. The connection with the red box should be showing the tree but it's not.
![NoTree](https://user-images.githubusercontent.com/35049140/186776527-495ff76a-22d4-49f4-b304-7f49ac4b2618.jpg)

[2022-08-26 00:02] cheenamalhotra commented on #13404
Hi @jcwoods

It's been a while, but would like to request you to relook at Kerberos on Mac OS with latest ADS v1.39 and let us know if you continue to experience the exception described here.

Thank you for taking time!

[2022-08-26 00:07] cheenamalhotra commented on #10143
Hi @catull

Hope you're doing well! Would like to request you to test Kerberos on Mac OS with latest ADS v1.39 and let us know if you experience the exception again.

Thank you!

[2022-08-26 00:44] StefanBolling commented on #20321
I get the same error message when I connect to a server, also Azure Hosted SQL database, with a lot of databases on it (100+), even if I have access to all of them. I´m hoping the October 2022 release will solve this for us as well.

[2022-08-26 02:37] cheenamalhotra commented on #157
Connection "Name" is supported in ADS, closing this feature as its available.

[2022-08-26 02:37] #157 closed

[2022-08-26 02:41] cheenamalhotra commented on #10793
I would like to close the issue in regards to #7440 that is already tracking the same subject across ADS.
Please feel free to open a new issue if there is a reproducible user scenario.

[2022-08-26 02:41] #10793 closed

[2022-08-26 02:53] jcwoods commented on #13404
Would be happy to. I'll give it a try tomorrow.

On Thu, Aug 25, 2022, 8:03 PM Cheena Malhotra ***@***.***>
wrote:

[2022-08-26 02:58] cheenamalhotra commented on #1315
@chucker Are you looking through documentation only or you have an actual failing scenario that does not work as SSMS?

Based on my understanding, this scenario should work just fine same as SSMS. You should not be blocked by any scenario for Windows non-domain accounts when using "Integrated" authentication on Windows.

[2022-08-26 06:14] cheenamalhotra commented on #2930
Related to recent issue: #20385
We can choose to keep any one of them IMO.

[2022-08-26 06:38] cheenamalhotra commented on #4111
Linking SqlClient docs here for quick reference: [SqlConnectionStringBuilder.DataSource](https://docs.microsoft.com/en-us/dotnet/api/microsoft.data.sqlclient.sqlconnectionstringbuilder.datasource?view=sqlclient-dotnet-standard-5.0#remarks).
This can be referenced for ADS documentation too.

[2022-08-26 06:53] cheenamalhotra commented on #18657
Hi @sn4kebite

Curious to know if the latest release v1.39 is able to unblock you, could you please try the same and confirm?
Thanks for taking time!

[2022-08-26 11:24] delsehi commented on #20380
@kisantia
It seems it's resolved without me having to specify anything in the Advanced options. I guess the defaults worked. Nice!

It is still unusable for me though. We use an Azure SQL server with full-text search.

`Error SQL72014: Core Microsoft SqlClient Data Provider: Msg 7609, Level 17, State 5, Line 2 Full-Text Search is not installed, or a full-text component cannot be loaded.`

I'm gues

[2022-08-26 12:26] oh1see opened #20478 "Add Option for Container Deployment on Openshift and Podman"
**Describe the solution or feature you'd like**
Currently ADS 1.39 only allows deployment of Containers with Docker. I would like to be able to choose a remote deployment target such as an Openshift or Podman.

**Describe alternatives you've considered**
I am currently deploying on Openshift using these guidelines: https://github.com/microsoft/sqlworkshops-sqlonopenshift

**Additional context**
I

[2022-08-26 12:29] jcwoods commented on #13404
I was able to successfully authenticate and connect with both "Windows Authentication" and "Azure AD + MFA".

I had a slight problem (triggering an exception) with the server certificate, but flipped the "TrustServerCertificate=True" setting under the advanced settings and everything works.  I'll look into this separately.

[2022-08-26 15:14] thevinnie commented on #18296
We're having this same issue for a customer and wanted to check in on the situation. The customer is generating details of the issue, but is this being pulled into the backlog or are there any known workarounds?

[2022-08-26 15:44] thevinnie commented on #18296
A little more detail here...  What my colleague has uncovered is that the Data Studio application is picking up an environment variable value stored in HTTPS_PROXY. In our situation, the customer has an Azure CLI installation that populates this with a value that is specific for the Azure CLI and other applications (like Data Studio) need to go to a different endpoint. (We're trying to "unbungle"

[2022-08-26 16:05] cheenamalhotra commented on #18296
@thevinnie
Have you tried providing Proxy details in Settings (Ctrl+,) in Azure Data Studio?

[2022-08-26 16:08] cheenamalhotra commented on #13404
Thanks so much for confirming, I will proceed to close the issue :)

[2022-08-26 16:08] #13404 closed

[2022-08-26 20:04] dzsquared commented on #19557
My 2c is that the longer option, for full refactoring should be a separate implementation from the table designer.  A strict rename for the reference(s) in the single table definition file
@alanrenmsft @kisantia

[2022-08-26 21:00] cssuh commented on #20472
Hi @dbainscp , is this happening for all your servers?  Have you tried closing and restarting ADS? seems like that might have fixed it for @woutkroon.  Have you been able to successfully connect to these servers before?

[2022-08-26 21:05] kburtram commented on #20472
@dbainscp the log files don't appear to show any errors, or even attempts to connect.  Could you please check the Help->Developer Tools->Console UI after repro'ing this bug to confirm there are no error messages there?   All the `DevTools failed to load source map` errors can be ignored, the relevant errors should say something about Connections or Object Explorer sessions.  Thanks!

[2022-08-26 21:19] dbainscp commented on #20472
I have logged out & in multiple times over the past three days. I even uninstalled & reinstalled, same thing. This is happening on every one of my servers, all of which are SQL server. Thanks -

[2022-08-26 21:22] dbainscp commented on #20472
Going back into the console, these are the only two errors I see:

 Failed to load resource: net::ERR_FILE_NOT_FOUND

ERR [Extension Host] (node:30544) [DEP0005] DeprecationWarning: Buffer() is deprecated due to security and usability issues. Please use the Buffer.alloc(), Buffer.allocUnsafe(), or Buffer.from() methods instead.
(Use `azuredatastudio --trace-deprecation ...` to show where the warni

[2022-08-26 21:39] kburtram commented on #20472
@dbainscp thanks for the additional information!  This is unusual as there should be various messages generated when trying to establish the connection, which could provide additional context on what's happening.  Could you please try create a new connection to one of the servers using the Connection Dialog and see if that generates an error message?  Also, is the product basically working in othe

[2022-08-26 22:09] dbainscp commented on #20472
OK this g

OK this gets weirder. When I launch ADS, I can connect to *one* of my databases. The tree won't expand, but I can open a new query and get data from that connection. However, only *one* connection will work at a time. Any second connection I click on spins endlessly. I can exit ADS then launch it again, and successfully launch the connection that just spun...as long as it's the first on

[2022-08-26 22:31] kburtram commented on #20472
This weird.  It sounds like something is causing the SQL Tools Service to get in a bad state and be unable to handle future messages.  You may try to restore back to "1st-launch" state, which would clear out everything in the application cache using a procedure such as following.

1. Run ADS and backup your connection metadata and server groups from the user settings file.  For example, open the "

[2022-08-26 22:54] dbainscp commented on #20472
I'm not seeing any errors in that log file, at least anything that jumps out ast me. I discovered something accidentally though that also makes no sense. If I have the settings.json file open and on the connection section, when I click on a connection, I get a pop-up that says "unable to write into user settings because the file has unsaved changes. Please save the user settings file first and the

[2022-08-26 23:13] woutkroon commented on #20472
Been busy all day preparing for my upcoming holidays, but just read up until this point. After reading @dbainscp 's comments, I got curious and had another look.

It seems that I spoke too soon when I said that the issue is resolved for me. When I run ADS, and expand the first (topmost, but not sure if that matters) server connection, the tree for that connection is successfully loaded and I can s

[2022-08-26 23:32] cheenamalhotra commented on #17901
**MultiSubnetFailover** connection property is indeed enabled by default in SqlClient in .NET Framework, whereas not in .NET Core. Enabling it in Azure Data Studio is indeed the right thing to do.

[2022-08-27 00:37] caohai opened #20483 "Issue renaming an existing table in table designer"
Currently if we rename a table in table designer, it creates a new table instead of renaming the current existing one, we need to actually rename the table using `sp_rename`

[2022-08-27 02:50] alanrenmsft commented on #20483
@erinstellato-ms @tdoshin FYI, we are creating more work for ourselves :). I think the task makes sense and is a better experience than the current behavior (ADS and SSDT behaves the same way). Please let us know if you have different opinions.

[2022-08-27 03:18] kburtram commented on #20472
I was able to reproduce this in a different environment when connecting to a SQL Server instance over a slower VPN connection.  From what I can tell this appears related to a change https://github.com/microsoft/sqltoolsservice/commit/08c74be51feb0ae1f04652a13fe3dcebe9cf70c6 that updates the STS message dispatcher resulting in out-of-order/dropped events in this situation.  I've posted a PR to reve

[2022-08-28 15:07] gregveres commented on #9334
any idea if this will ever get done? I run into this every single time I use the product. I click on run query and get no feedback that it is running until the query is done. That is really bad UX.

[2022-08-29 12:13] criptych commented on #829
Then... don't?  Completing keywords and identifiers "intelligently" is the whole reason for using Intellisense.  If you want "proper" casing and you're typing out the keywords anyway, CapsLock is a thing.

[2022-08-29 12:45] RodrigoPLpz opened #20486 "Update Available"
Issue Type: <b>Bug</b>

When execute Update sugerency data studio it was broke. The message error is: A JavaScript Error Occurred in the Main Process.

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:12.352Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs

[2022-08-29 13:16] bnaila commented on #20323
I have the same issue here. Any updates on how to solve it ?

[2022-08-29 14:38] erinstellato-ms commented on #20483
@alanrenmsft can you clarify what you mean by "the task makes sense and is a better experience than the current behavior"?  You agree that renaming the table should create a new table?  Or do you think it should NOT do that?

[2022-08-29 14:48] dbainscp commented on #20472
Thanks very much for the update, I appreciate it.

[2022-08-29 15:33] alanrenmsft commented on #20483
@erinstellato-ms :) I think creating a new table is not a good experience. I would it to rename the existing table.

[2022-08-29 15:42] alanrenmsft commented on #20478
@erinstellato-ms is this something we consider supporting?

[2022-08-29 15:46] alanrenmsft commented on #20463
@johncquayle how long did you wait before you restart Azure Data Studio?

[2022-08-29 15:48] erinstellato-ms commented on #20483
@alanrenmsft oh perfect!  Creating a new table is definitely not a good experience!  Yes, we just need to rename the table.

[2022-08-29 16:05] #20453 closed

[2022-08-29 17:03] erinstellato-ms commented on #20478
@oh1see if we provided one of these (e.g. Openshift), is that a good middle ground?

[2022-08-29 17:09] oh1see commented on #20478
@erinstellato-ms Yes, Openshift would be awesome!

[2022-08-29 17:11] dzsquared commented on #20380
There is a section of surface area that is not yet covered by the SQL DB emulator options provided in Azure Data Studio, I apologize for lack of clarity on that and will work on getting the docs updated.  Getting closer fidelity with the full Azure SQL DB service is a goal for the emulator.

For your scenario it sounds like you had success creating your own container image - as a workaround it wou

[2022-08-29 17:33] barbaravaldez opened #20488 "Notebook scrolls to search result instead of selected cell (on click)"
1. Open a notebook with contents
2. Search for a word that is at the end of the notebook
3. Scroll to the top and click on the first cell

The notebook scrolls back to the search result at the bottom.

[2022-08-29 17:37] erinstellato-ms commented on #20478
@oh1see thanks for confirming!  I cannot guarantee anything, or a timeline, at this point.  But we will look into to understand the level of effort required and how that might fit into our roadmap.

[2022-08-29 17:42] RodrigoPLpz commented on #20486
I did to re install the azure data studio and it worked but i have not accepted the update.

[2022-08-29 18:08] kburtram commented on #20486
@RodrigoPLpz we haven't seen widespread reports of the error message in your original message, so you may try to update again and see if that was a one-off error that occurred.  Alternatively you could also try uninstalling 1.37 and directly install 1.38 to see if that works.  Please let us know if there's anything else we can assist with for this issue.  Thanks!

[2022-08-29 18:40] cheenamalhotra commented on #4499
Hi @BroMarduk

Could you try setting "MultiSubnetFailover" property to "True"?
Related https://github.com/microsoft/azuredatastudio/issues/17901

[2022-08-29 21:47] johncquayle commented on #20463
I have left it overnight and it is still spinning in the morning.

SSMS would return the same data set into a CSV within an hour.

Thanks,
John

On Tue, 30 Aug 2022 at 03:46, Alan Ren ***@***.***> wrote:

[2022-08-29 22:20] johncquayle commented on #20463
[console.log](https://github.com/microsoft/azuredatastudio/files/9448206/console.log)
[20220830T095535.zip](https://github.com/microsoft/azuredatastudio/files/9448217/20220830T095535.zip)

[2022-08-29 22:35] Ben-CA commented on #7440
Updated to 1.39.0 today, and didn't have any problems with it hanging on queries like it used to - seems to be fixed!

[2022-08-29 23:27] barryseymour commented on #829
Like I said, other platforms support this.  If [tab] can trigger a case correction, why can't [spacebar]? The example of NOT was used above - what happens if you type 'NOT' and press tab? Sure, CapsLock is a thing, but turning that on and off all the time is not a solution either.

I want SQL keywords to be UPPER CASE. Variables and object names should match the case of their definitions. I don't

[2022-08-30 00:37] SeanSmithKP opened #20496 "Extremely slow to open server connection"
Issue Type: <b>Bug</b>

- Click on a saved connection
- Either the connection is never established, or when it does the server objects take an extremely long time to appear (have left for up to half an hour)

Azure Data Studio version: azuredatastudio 1.39.0 (9fdb2161d49b4d4ab6798809faa042a898ca2eae, 2022-08-20T01:46:47.606Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<su

[2022-08-30 01:57] kburtram commented on #20496
@SeanSmithKP this sounds like it could be related to https://github.com/microsoft/azuredatastudio/issues/20472.  We are planning to release a hotfix for that issue in the next day or two once testing is complete.  Please let me know if that issue doesn't describe the issue you are encountering.

[2022-08-30 01:57] Palestine698 opened #20497 "Scrolling in output is buggy"
Issue Type: <b>Bug</b>

Running multiple quieries that has a long output and then scrolling through them

Azure Data Studio version: azuredatastudio 1.39.0 (9fdb2161d49b4d4ab6798809faa042a898ca2eae, 2022-08-20T01:46:47.606Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8350U CPU @ 1.70GHz (8 x

[2022-08-30 02:32] kburtram opened #20498 "Import extension is marked Preview in Extension Manager even though it is GA status"
- Azure Data Studio Version: 1.39.0

Steps to Reproduce:

1. Open Import extension in Extension Manager

Expected: No Preview label

Actual: Preview label

![image](https://user-images.githubusercontent.com/599935/187335536-5a0ae424-9deb-4426-acaf-162ba1d75341.png)

[2022-08-30 02:55] cheenamalhotra commented on #20486
I somehow came across this error too today when following below steps, would like to note this down:
1. Click "Restart to Update" when update is available in ADS on Windows.
2. Let installation start, but **terminate** the installer instantly before it completes.
3. Notice "Rolling back changes..." in installer.
4. Start Azure Data Studio again (fails to start).

**Expected**: Previous version res

[2022-08-30 04:07] kburtram commented on #20486
@cheenamalhotra the error message is saying that the main ADS entry point file is missing.  This is an indication of a corrupted installation.  When doing an update the first step is to uninstall the existing installation.  There could be a bug in the installer where canceling at certain points doesn't properly undo the uninstall of the previous version leaving the system in the state you've descr

[2022-08-30 09:16] ALZDBA commented on #20290
Hurrah, It seems to be working now !
( I'm sorry for the late reply )
Thank you for your support !
Johan

On Wed, Aug 24, 2022 at 9:00 PM Kim Santiago ***@***.***>
wrote:

[2022-08-30 09:21] ALZDBA commented on #20322
After update to 1.39.0 I no longer receive this message.

Version: 1.39.0 (system setup)
Commit: 9fdb2161d49b4d4ab6798809faa042a898ca2eae
Date: 2022-08-20T01:46:47.606Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19042

Kind regards,

Johan

On Wed, Aug 17, 2022 at 11:47 PM Charles Gagnon ***@***.***>
wrote:

[2022-08-30 09:56] sn4kebite commented on #18657
Without gnome-keyring installed the server icon just shows a spinner. However with gnome-keyring installed I have had no issues for the last few releases that I can recall, so it seems to be working fine.

[2022-08-30 10:48] joerattz opened #20499 "Can't set column to NULL"
Issue Type: <b>Bug</b>

I can't seem to insert a NULL into text or date columns in edit mode.  I can if I run in update SQL command though.

Azure Data Studio version: azuredatastudio 1.37.0 (d904740d93d7df76a0ba361f20e4351813b57645, 2022-06-14T01:05:12.352Z)
OS version: Windows_NT x64 10.0.19042
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen I

[2022-08-30 11:49] PowerDBAKlaas commented on #20240
`dotnet nuget add source https://api.nuget.org/v3/index.json -n nuget.org`

fixed everything!

Thank you @kisantia !!!

should that have been executed when adding the extension? or any reason this could have been removed from my system(s)?
maybe useful to add this on the 'dependencies' tab?

[2022-08-30 12:29] louwill commented on #20472
Same problem.  Downgrading to 1.38 resolved the problem.

[2022-08-30 13:30] MartinRyx opened #20500 "Schema Compare tab goes black when moved to new tab group"
Issue Type: <b>Bug</b>

When moving a Schema Compare tab to a new tab group the tab goes black.

Steps to Reproduce:
1. Open a new Schema Compare tab
1. Grab the tab title and drag to the right to create a new tab group
   ![image](https://user-images.githubusercontent.com/9428639/187449253-617d08a2-69de-4e1f-86cb-4f9a3dc68cd0.png)
1. The Schema Compare tab is all black
   ![image](https://user-im

[2022-08-30 15:11] kburtram commented on #20472
@dbainscp @louwill today's insider build has an update that we expect to resolve this issue.  We are planning to release a hotfix today or tomorrow pending test sign-off.  If possible, could you please test the insider build in your repro environment to confirm that the update fixes the problem?  Thanks!  https://azuredatastudio-update.azurewebsites.net/latest/win32-x64-user/insider

[2022-08-30 15:26] kburtram commented on #20499
@joerattz you should be able to do this by typing `NULL` in the field.  Which type of server are you connecting to when this issue occurs?

[2022-08-30 15:29] dbainscp commented on #20472
I installed the insider build on my test box and it appears to be working correctly. I have five DB connections and all of them will expand the tree. I tried several times, closing & reopening and it was still working correctly. I look forward to the hotfix, thanks for the quick turn around :)

[2022-08-30 16:27] kisantia commented on #20290
awesome thanks for confirming!

[2022-08-30 16:27] #20290 closed

[2022-08-30 16:36] kisantia commented on #20369
In the latest ADS release (1.39) and sql database projects (0.19.0), deployment options are available by clicking on the "Advanced..." button in the publish dialog. You can try excluding users or generating the script, then removing the line causing the error.

Closing issue since this isn't a bug

[2022-08-30 16:36] #20369 closed

[2022-08-30 16:52] paladin2005 opened #20502 "Intellisense doesn't work with user-defined data types"
First, this is not my DB, I have Readonly access to read data. Looks like IntelliSense doesn't work when you use some user-defined data type in the query.

In the example bellow, IntelliSense works like usual if I comment the line:
![image](https://user-images.githubusercontent.com/5594428/187494276-9087b234-78ab-4566-a99c-09ec1c1a30f1.png)

if I uncomment the line (or I remove the subtraction bet

[2022-08-30 17:05] kisantia commented on #20240
nuget.org should be included by default, as Zi mentioned. Have you used chocolatey or PowerShell’s `Install-Package` command at some point before building this project? It might be the same problem described here: https://developercommunity.visualstudio.com/t/missing-default-nuget-package-source/1453751

[2022-08-30 17:13] kisantia commented on #10273
no longer a problem now that we're moving away using the DacFx DLLs in STS to build projects and going to use the Microsoft.Build.Sql SDK for building both legacy and SDK style projects

[2022-08-30 17:13] #10273 closed

[2022-08-30 17:19] kisantia commented on #6058
known issue. The first schema compare takes longer than the subsequent ones because of the initial loading of DLLs that needs to happen. For table designer for sql projects, we did a dummy initial schema compare behind the scenes so that the actual schema compare when the user wants to publish is faster. We could consider doing something similar here, but it might not work out as well since people

[2022-08-30 17:19] #6058 closed

[2022-08-30 17:48] aborremans opened #20503 "Error: Position is outside of file line range (Parameter: 'line')"
Issue Type: <b>Bug</b>

After updating to ADS 1.39.0 I am getting the following error in certain query windows.

[code]

To fix the issue, I have to close the entire window in order for queries to start running again. This seems to happen occur after writing insert statements. This is also new to 1.39.0 as I have not run into it previously. Problem seems sporadic and I am unable to reproduce consi

[2022-08-30 17:59] Charles-Gagnon commented on #20503
@aborremans Could you try installing the latest insiders build and see if you still experience the issue there?

https://github.com/Microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

We have a hotfix coming out for a different issue, but I'm wondering if the root cause is the same.

[2022-08-30 18:04] Charles-Gagnon commented on #20503
Also please follow the instructions above to enable logging so we can see if there's anything useful there.

You can start by looking yourself to see if the application logs caught anything (like a callstack) that might help us track this down. To do this run the `Developer: Open Logs folder` command, then go up a directory to the `logs` directory and zip up all the timestamp-named folders you see

[2022-08-30 18:07] aborremans commented on #20503
Attached are my zipped logs. I also just finished installing the insider build I am not readily reproducing in the insider build.

[LogFolders.zip](https://github.com/microsoft/azuredatastudio/files/9455464/LogFolders.zip)

[2022-08-30 18:14] Charles-Gagnon commented on #20503
Perfect, thanks! The hotfix should be out shortly, but in the meantime if you're OK using the insiders build that will help determine if this is still an issue.

Unfortunately your logs didn't provide anything useful - for some reason the Tools Service logs aren't even being created. Is there something about your environment that might be preventing those from being created?

[2022-08-30 18:22] aborremans commented on #20503
@Charles-Gagnon I'm not sure why my Tool Service logs wouldn't be created. I'm not running anything special or weird other than updating ADS yesterday.

I am now readily able to reproduce in 1.39.0 with a specific insert command. I'd be more than happy to make another video or show if you if you need. I'm not able to find anything logged with this error in the Developer Logs folder in 1.39.0. I am

[2022-08-30 18:29] lucyzhang929 commented on #19586
@sumngh For the query that ran for over 15 minutes, did it ever complete? Would you be able to try running that same query in a query editor and see if it also takes >15 mins?

I think it is expected that the first query ran will take longer however >15 mins when expected execution time is only 1 min is definitely odd.

I don't think this is a notebook specific issue. I tried a simple `SELECT GETD

[2022-08-30 18:31] aborremans commented on #20503
Here is a video of the exact steps I am taking to reproduce. I am connecting to an Azure SQL DB.

https://user-images.githubusercontent.com/13876614/187515465-535600c3-ef9c-45bc-91a1-5aee584b22d2.mp4

Create Table Syntax
[code]

Insert Query
[code]

[2022-08-30 19:11] kburtram opened #20505 "Failed to get subscription account notifications with expired account credentials"
- Azure Data Studio Version: `1.39.1`
- OS Version: tested on Ubuntu

Steps to Reproduce:

1. Add an AAD account and let the credentials expire (e.g. leave the machine off for a few weeks, etc.)
2. Open new instance of AAD later, try to expand the subscription in the Azure viewlet.

Expected: Account to say it has expired credentials

Actual: Account says it has expired credentials, but I get some

[2022-08-30 20:14] delsehi commented on #20380
Thanks, good to know that it's on the roadmap.

I got a workflow working. Build the SQL project with a custom dockerfile with fts and sqlPackage, start the container, write failing tests in vitest, connect to the db with ADS and work until the tests pass, update project from database and select the local container, then publish to azure sql server. Something like that. I'll close the issue. Thanks

[2022-08-30 20:14] #20380 closed

[2022-08-30 20:45] tdoshin opened #20508 "Changing Table Schema creates new Table instead of just altering existing"
- Azure Data Studio Version: 1.39
- OS Version: Windows Enterprise

Steps to Reproduce:

1. Open Designer in Object Explorer for any existing Table in a Database Object. For my case, I opened 'dbo.likes' under TestData Database Object in my Object Explorer
2. In Table Properties, go to the Schema drop-down menu and select the new Schema you want this Table to reside in. I picked the 'guest' Schema

[2022-08-30 20:46] tdoshin commented on #20508
FYI @dzsquared @erinstellato-ms

[2022-08-30 20:50] erinstellato-ms commented on #20508
Looks related to #20483

[2022-08-30 20:53] alanrenmsft commented on #20508
yes, this is a dupe. thanks for filing though. @tdoshin

[2022-08-30 20:53] #20508 closed

[2022-08-30 21:21] Charles-Gagnon commented on #20503
@aborremans I was still not able to repro it. We just released the hotfix for the other issue though, so I'm going to close this for now and if you still see it even after updating then let us know and we can investigate more!

[2022-08-30 21:21] #20503 closed

[2022-08-30 21:22] Charles-Gagnon commented on #20472
The hotfix was just released, so please update to the latest (1.39.1) and if you still see this issue let us know!

[2022-08-30 21:22] #20472 closed

[2022-08-30 21:24] #20111 closed

[2022-08-30 21:32] aborremans commented on #20503
Thanks for looking into it. I'll let you know if I run into it after the hotfix.

[2022-08-30 22:11] louwill commented on #20472
Hotfix worked for me! Thanks for the quick turnaround!

[2022-08-30 22:31] dbainscp commented on #20472
Installed the hotfix and everything is working correctly now. Thanks for the quick response, I appreciate it!

David Bains

Analyst/Programmer, Enterprise Application Engineering

Information Technology Services

Cal Poly, San Luis Obispo, CA

Office: 805-756-5849

tech.calpoly.edu<https://tech.calpoly.edu/>

________________________________
From: Will Green ***@***.***>
Sent: Tuesday, August 30,

[2022-08-31 03:03] cheenamalhotra commented on #5692
@dcr21

We'd be able to assist you better if you can open a new issue with specific details about your environment and repro steps. We'd be able to track and help that way better!

Since generic issue of Windows Authentication using Kerberos on all platforms is now resolved, I will proceed to close this.

[2022-08-31 03:03] #5692 closed

[2022-08-31 03:09] cheenamalhotra commented on #5742
Hi @IeuanWalker

It's been a while, but I'm wondering if you've setup a Proxy server on your system where you experienced the issue? Could you confirm if that's the case or if this issue doesn't occur anymore?

Thanks for your time!

[2022-08-31 03:11] cheenamalhotra commented on #5956
Hi @david-buzz

I have tried the same with a Personal Microsoft Account recently too (with and without MFA), and have not experienced any problems with AAD Authentication. Could you please confirm if this is still an active issue in your case?

Appreciate your time and response!

[2022-08-31 03:18] cheenamalhotra commented on #6354
ADS supports "Edit Connection" on right click now, closing this feature request as a no-op.

[2022-08-31 03:18] #6354 closed

[2022-08-31 03:52] cheenamalhotra commented on #7070
I believe this should be fixed by now, @SakshiS-harma can you please take a look?
Thanks!

[2022-08-31 04:17] cheenamalhotra commented on #7648
Closing as feature exists.

[2022-08-31 04:17] #7648 closed

[2022-08-31 04:37] cheenamalhotra commented on #17213
Hi @satya-spektrasystems

Do you have any update to question from @Charles-Gagnon?
Please let us know if this is still reproducible. Thanks!

[2022-08-31 06:01] solita-kalleka opened #20517 "Wrong tenant shows up while trying to connect to database with Azure AD login"
Issue Type: <b>Bug</b>

If you save a connection that you log in with "Azure Active Directory - Universal with MFA support", it saves the correct Azure AD Tenant id to settings, but still shows different tenant in the connection details when you try to connect to that database.

It's always the same tenant that shows up with every connection, no matter what is saved when creating that connection.

[2022-08-31 06:52] cawGitHub commented on #19269
Any news on this ?

[2022-08-31 06:52] mcx808 commented on #18840
@kburtram I saw in release 1.39.1

But this issue is still open, is it the same bug?

[2022-08-31 09:15] hangy opened #20518 "Group Policy on Windows"
**Is your feature request related to a problem? Please describe.**
When installing Azure Data Studio system-wide in a managed environment, I need to be able to disable update checks. For example, when packaging Azure Data Studio with MECM, and user has admin permissions, we don't want them to update Azure Data Studio from the update notification, but with MECM.

**Describe the solution or feature

[2022-08-31 09:59] bobyin opened #20519 "Could not create table"
Issue Type: <b>Bug</b>

When I tried to create a new table got this error

An error occurred while initializing the table designer: The target database schema could not be retrieved.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:12:48.559Z)
OS version: Darwin x64 21.6.0
Restricted Mode: No

<details>
<summary>System Info</summary>

|Ite

[2022-08-31 10:41] sumngh commented on #19586
Hi Lucy,

But this time frame for initial load is also not correct, when the connection was already established when we login and opened the notebook, then why its spending the time again for connection while execution.
Although my queries still takes more time as compared to normal SQL server studio. The Azure studio should be faster then the SSMS not slow.

Thanks & Regards
•••••••••••••••••••••

[2022-08-31 15:06] kburtram commented on #18840
@mcx808 the bug fixed in 1.39.1 was a specific regression in the August release that made this issue much more common, with a relatively consistent repro, so we were able to address it quickly.  There are still other persistent bugs in this area that result in this behavior that we've had a hard time reproducing so they have been open for a while.  For the Oct release we're planning to add additio

[2022-08-31 15:32] tdoshin opened #20520 "Error when Publishing new Database Project repository to GitHub from Azure Data Studio"
- Azure Data Studio Version: 1.39.0
- OS Version: Windows Enterprise

Steps to Reproduce (This came from an MVP)

1. If I select "Publish to GitHub" and select Allow for "The extension 'GitHub' wants to sign in using GitHub", I get the following error message:

![image](https://user-images.githubusercontent.com/72947001/187717734-7db3a326-5f60-497f-9193-23ab54dcef1f.png)

Does this issue occur whe

[2022-08-31 15:37] art-ist commented on #7381
Any news on this for 2022?

[2022-08-31 16:02] #19866 closed

[2022-08-31 17:26] kisantia commented on #20520
@tdoshin can you please provide more details? There isn't a "Publish to GitHub" option in the sql database projects extension

[2022-08-31 17:36] dzsquared commented on #20520
This isn't SQL projects specific - it's from the source control pane and is dependent on the VS Code merge. I've updated the tags but might not have gotten them 100% correct.

[2022-08-31 18:56] cheenamalhotra opened #20523 "Dev | Enable strict null checks in Azure Core extension"
Opening this issue to track code improvement based on feedback: https://github.com/microsoft/azuredatastudio/pull/20516#discussion_r959843417

cc @Charles-Gagnon

[2022-08-31 18:59] cheenamalhotra opened #20524 "Dev | Don't localize console messages/warnings (AzureCore)"
Based on feedback from here: https://github.com/microsoft/azuredatastudio/pull/20516#discussion_r959202510, localization need not be done for console logs.

cc @Charles-Gagnon

[2022-08-31 19:45] cheenamalhotra commented on #15560
Hi @JimmyPruitt @kbocock-krg

Could you please let us know if this issue is related to proxy settings (as we've seen similar reports and they turned out to be happening when proxy is enabled), and if so, does disabling proxy makes a difference?

_P.S. work is in progress towards fixing the proxy related redirection issue._

[2022-08-31 20:15] #17162 closed

[2022-08-31 20:25] burtonrodman commented on #17162
this an improvement but why not show the more information directory uri (my company.on microsoft.com) instead of a guid that i have to go look up?

[2022-08-31 20:43] cheenamalhotra commented on #17162
The tenant URI isn't available in the tenant information in frontend, and would require big changes to make that happen. I'll keep an eye out for that opportunity, but wanted to unblock this case with some fix by appending GUID that's still differentiable.

[2022-08-31 20:49] tdoshin commented on #19593
Just asking if we can add that warning icon so that the warning  can be brought to users attention.

[2022-08-31 20:53] burtonrodman commented on #17162
fair enough.  thanks!!

[2022-08-31 20:59] kburtram commented on #19593
@tdoshin sure, I can take a look at this one.

[2022-08-31 21:04] #20374 closed

[2022-08-31 21:17] kisantia opened #20526 "Make Microsoft.Build.Sql SDK version configurable for building legacy style sql projects"
Make the version configurable so that the user can change the version in case they want to. Would be helpful to have customers test fixes without needing a whole release

[2022-08-31 21:51] kburtram commented on #20496
@SeanSmithKP we released a hotfix for issue https://github.com/microsoft/azuredatastudio/issues/20472, which appears possibly related to this one.  Are you still experiencing this issue on `1.39.1`.

[2022-08-31 21:57] kburtram commented on #20322
I'll close this issue based on the above comment.

[2022-08-31 21:57] #20322 closed

[2022-08-31 22:04] SeanSmithKP commented on #20496
Thanks @kburtram, the update has resolved the issue.

[2022-08-31 22:04] #20496 closed

[2022-08-31 22:39] #19788 closed

[2022-08-31 22:40] kburtram commented on #20381
I'll move this to the azuredatastudio-postgres repo so this can be investigated there.  If this ends up being a bug in the ADS core product please move it back here.

[2022-09-01 00:26] #20505 closed

[2022-09-01 01:58] cheenamalhotra commented on #20192
Hi Matt, please try installing latest version of Python as that might be related, and then you should be able to re-install pip.

[2022-09-01 02:37] cheenamalhotra commented on #18305
Hi @tdoshin

It seems you don't have access to the table data and database as an MFA user. Can you please confirm with help of SSMS?
Can you also elaborate what is the expected behavior you were looking at?

[2022-09-01 02:42] cheenamalhotra commented on #17803
Since this is related to Proxy setup and we have multiple issues like these, I'll close this one and progress can be tracked with #17356

[2022-09-01 02:42] #17803 closed

[2022-09-01 02:45] cheenamalhotra commented on #18296
@thevinnie
I'll proceed to close this issue as its duplicate of #17356 and progress can be tracked there instead.

[2022-09-01 02:45] #18296 closed

[2022-09-01 11:35] martinfbluesoftcz commented on #20324
Hello, you need to comment DELETE statement with key shortcut (CTRL+K,C), then do not click to editor and run query.

[2022-09-01 13:31] Dale-Wilks commented on #18736
Connection occasionally show wrong database.  The latest time it happened after re-connecting after losing network connection
![Screenshot 2022-09-01 142243](https://user-images.githubusercontent.com/89921381/187926255-8964b5a1-a474-4aad-a793-9efbfe9a14bb.png)

[2022-09-01 15:50] alanrenmsft commented on #20348
closing as dupe of #20347

[2022-09-01 15:50] #20348 closed

[2022-09-01 17:25] cheenamalhotra commented on #8713
Hi @Richard-Payne

Would request you to try and confirm if the issue is fixed with **v1.39** onwards?
Appreciate your time!

[2022-09-01 17:29] #16598 closed

[2022-09-01 17:33] #20395 closed

[2022-09-01 17:59] smartguest commented on #18993
Currently as it is right now, if connecting to a database directly, ADS will notify the user that the database isn't available at the moment and to try again later, this is correct as the database itself isn't currently available. This might be different if connecting to the server first and trying to get the database list. Will have to debug this every hour to see the result.

[2022-09-01 18:11] SakshiS-harma commented on #7070
Hey Cheena, as of now this hasn't been fixed. Let me know if there is a customer requirement, and we can prioritize it accordingly.
Thanks!

[2022-09-01 19:32] cheenamalhotra commented on #3161
Confirmed with latest ADS version 1.39, connectivity is established to Dedicated Admin Connection:

![image](https://user-images.githubusercontent.com/13396919/187997069-67de0e93-7ea2-463a-8ade-6e5aa6cf6436.png)

Same as SSMS, please use "Change Connection" to connect with a DAC on the query window.

[2022-09-01 19:32] #3161 closed

[2022-09-01 19:39] cheenamalhotra commented on #5686
Tracking same issue with #20385, closing this as duplicate.

[2022-09-01 19:39] #5686 closed

[2022-09-01 20:08] cssuh commented on #20262
@BhavanaPilli11 Can you try using Device Code Auth to get you unblocked for now? We'll continue looking into this issue.

[2022-09-01 20:28] Charles-Gagnon opened #20533 "Connect/Manage items for Azure tree view don't work when dependent provider isn't installed"
For nodes that require a separate provider (such as PG servers) the "Connect" and "Manage" menu items still show up but just throw errors (that aren't very helpful).

Connect :
![image](https://user-images.githubusercontent.com/28519865/188005990-29318ad2-cab5-458e-97d7-c9bf76676100.png)

Manage: (no error is displayed, just in console logs)
![image](https://user-images.githubusercontent.com/28519

[2022-09-02 00:05] #20526 closed

[2022-09-02 00:06] cheenamalhotra commented on #19246
@mikesabin

We have an open issue to track this feature request: #605
Please use the same to track further progress on the same.

Thanks!

[2022-09-02 00:06] #19246 closed

[2022-09-02 00:08] cheenamalhotra commented on #17111
Hi @alexanderomnix

We're closing this as a duplicate of #605, please use the same to track further progress.

Thanks!

[2022-09-02 00:08] #17111 closed

[2022-09-02 05:03] romanovmv commented on #7440
Hi all,
Unfortunately, version 1.40.0 reintroduced the issue for me. 1.39.0 was working fine.

[2022-09-02 06:01] cheenamalhotra commented on #18657
Thanks! I will close this then, please feel free to open a new issue if you need additional support :)

[2022-09-02 06:01] #18657 closed

[2022-09-02 11:36] jwatkin commented on #19269
Did the Visual Studio Code folks find a solution that Azure Data Studio can use?
[https://github.com/microsoft/vscode/issues/108342#issuecomment-706809960](https://github.com/microsoft/vscode/issues/108342#issuecomment-706809960)

[2022-09-02 17:20] kisantia opened #20537 "Error when renaming table with unnamed primary key"
- Azure Data Studio Version: Insiders
- OS Version:

Steps to Reproduce:

1. Create a table on a db with this script:
[code]
2. Open table designer on this table
3. Try to rename the table and see the error "Object reference not set to instance of an object"

![unnamedPKRename](https://user-images.githubusercontent.com/31145923/188205639-15e5d0b9-7829-427d-b26f-415f78dafe4f.gif)

[2022-09-02 20:00] mkyp commented on #20436
This problem occurs when I select "Select all", then do a "Save as CSV".

If I just do a "Save as CSV", it implicitly selects all and the save to file completes in a reasonable amount of time

[2022-09-02 21:30] LalySanders opened #20539 "error"
Issue Type: <b>Bug</b>

Hello there.
How to change the language, I cannot understand this language. I want to change to English language

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core

[2022-09-02 23:22] Charles-Gagnon commented on #20539
You can change the UI language by running the `Configure Display Language` command (ctrl + shift + P)

[2022-09-02 23:22] #20539 closed

[2022-09-02 23:31] LalySanders commented on #20539
@Charles-Gagnon thank you!

[2022-09-03 00:36] #20421 closed

[2022-09-03 00:36] #20352 closed

[2022-09-03 00:36] #20359 closed

[2022-09-03 00:36] #20345 closed

[2022-09-03 00:36] #20351 closed

[2022-09-03 01:21] #19606 closed

[2022-09-03 01:21] #19915 closed

[2022-09-03 01:26] alanrenmsft commented on #20483
the fixes were brought in to ADS by https://github.com/microsoft/azuredatastudio/pull/20538

[2022-09-03 01:27] alanrenmsft commented on #20373
the fix was brought in to ADS by https://github.com/microsoft/azuredatastudio/pull/20538

[2022-09-03 01:27] #20373 closed

[2022-09-03 01:29] alanrenmsft commented on #20367
the fix is brought into ADS by https://github.com/microsoft/azuredatastudio/pull/20538

[2022-09-03 01:29] #20367 closed

[2022-09-03 16:34] ralphwest1 commented on #13931
I'm running into the same authentication issue.
Can successfully connect from the legacy SSMS but not from Azure Data Studio.
Any update on a resolution or work around?

[2022-09-04 23:32] preethamrajk commented on #17356
@cssuh @kburtram

Any update on this?

This has been in the backlog for a year.

[2022-09-05 01:21] YipingRuan commented on #14159
Run this in PowerShell solved for me:
https://docs.microsoft.com/en-us/powershell/azure/new-azureps-module-az?view=azps-8.2.0

[code]

[2022-09-06 01:04] BroMarduk commented on #4499
Thanks @cheenamalhotra but the issue is not related to this as I CAN see the databases in the main pane window on the database tab, they just are not listed in the tree when expanding the Databases folder.

Seems to be related to the tree view only.

[2022-09-06 09:21] Willem-J-an commented on #18016
I have created below workaround until this bug is fixed. It includes a task that will copy .azuredatastudio/settings.json to the user settings. Maybe it's an option for others running into this.

<img width="875" alt="image" src="https://user-images.githubusercontent.com/51120533/188597989-7391ecd6-19cf-4955-bcb6-78ae75ac4d9a.png">

[2022-09-06 12:44] erikrenaud opened #20544 "Merge functionality of Azure Data Studio into the VS CODE mssql extension"
**Is your feature request related to a problem? Please describe.**
I spend all my day in VSCode, having to open Azure Data Studio (or SSMS) in order to get a good experience with running queries (especially with the new preview features in ADS) really breaks my workflow.

**Describe the solution or feature you'd like**
Make the extension mssql in vscode up to par with what ADS can do.

**Describe

[2022-09-06 13:35] ehpmfigueroa opened #20545 "Object explorer task didn't complete within 45 seconds"
Issue Type: <b>Bug</b>

1. Open the CONNECTIONS tab
2. Navigate to an existing connection
3. Click on the Databases node

The following error message shows up under the Databases node: Object explorer task didn't complete within 45 seconds.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:12:48.559Z)
OS version: Darwin x64 21.6.0
Restricte

[2022-09-06 15:27] stuartpa opened #20546 "Jupyter install fails on Windows Server with "Microsoft Visual C++ 14.0 or greater is required""
- Azure Data Studio Version: Latest
- OS Version: Windows Server 2019 and 2022 Datacenter (Azure and GCP VMs tried)

Steps to Reproduce:

1. Create VM in Azure or GCP with Windows Server 2019 or 2022
2. Start ADS
3. Create new Notebook
4. Select Python Kernel
5. Hit "Install" (when it prompts to install Jupyter support)
6. Fails with:

    running build_ext
    building 'psutil._psutil_windows' ex

[2022-09-06 19:37] alanrenmsft commented on #20519
@bobyin
1. how many times did you try it? wondering whether it is an intermittent issue.
2. need some more information about the target database, server version/edition, authentication type, any special characters in the database/table names?

[2022-09-06 20:42] #18993 closed

[2022-09-06 21:35] caohai commented on #20483
This issue has not been fixed and I'll work on it next.

[2022-09-06 22:05] nathangmahler1987 opened #20551 "Select Top 1000"
Issue Type: <b>Bug</b>

Steps to Reproduce:
1) Open Azure Data Studio
2) Connect to database
3) right click on one of the tables in the database
4) select 'SELECT TOP 1000' option
5) sit back and watch nothing happen:)
On this and the last version of Azure Data Studio (maybe others too I don't know) the 'SELECT TOP 1000' does nothing. No error message, no nothing. This is a crucial feature please

[2022-09-06 22:13] smartguest commented on #20551
Issue currently does not reproduce on our side via a local database, can you please describe the server database configuration you are using?

[2022-09-06 22:29] alanrenmsft commented on #392
I will be working on this issue, I want to know your expectations. since SSMS is mentioned multiple times here, so I gave it a try, looks like SSMS is also truncating long strings, but it provides a setting to overwrite the default value.
![image](https://user-images.githubusercontent.com/13777222/188751520-e08b5762-4471-4d66-8596-a800b4538696.png)

Is it going to unblock you guys if ADS has the s

[2022-09-06 22:30] alanrenmsft commented on #7440
unfortunately, we had to release a hot fix to revert the change I made due to some serious side effects. we will keep working on this issue.

[2022-09-06 22:34] MikeDPeterson commented on #392
@alanrenmsft I think parity with how SSMS does it would be reasonable.

[2022-09-06 22:37] caviyacht commented on #392
@alanrenmsft , At least having parity would be nice, but having it be better than SSMS would be ultimately preferred.

For example, querying large JSON objects today requires us to always wrap it in a fake XML response. Would be nice to just have it returned in full as-is so that clicking the column will parse the entire JSON response in a new tab.

[2022-09-06 22:52] cssuh commented on #17356
Hi @preethamrajk, we are working on this now, and plan to have it in our October release.

[2022-09-06 23:10] nathangmahler1987 commented on #20551
I am not sure. I work for a medium organization and we are connecting to
Azure. Wouldn’t our configuration be set by IT or those that set the DB up?

On Tue, Sep 6, 2022 at 4:13 PM Alex Ma ***@***.***> wrote:

[2022-09-07 00:41] chlafreniere commented on #20546
@corivera can you take a look please?

[2022-09-07 13:23] lucyzhang929 commented on #19586
Hi @sumngh,

Could you try running the same query in a query editor to see if the first run also takes longer there? You can open a new query editor using the keyboard shortcuts cmd+n or going to File > New Query.

I agree that the initial loading time should not take this long if the connection was already established. I would like to clarify if this is a notebook specific issue or a general conn

[2022-09-07 13:54] hajerty opened #20553 ".net core version required for Sentry One plan explorer excepetion"
- Azure Data Studio Version: 1.39.1
- OS Version: win 10 enterprise 1803

Steps to Reproduce:

1. Start Azure data studio
2. in the last days I receive this message "The .NET Core Runtime is required (version 2.1+), but cannot be found. Ensure it is installed, and in your path." and the sentry one plan explorer extension doesn't work. I installed 6.0 .net framework and runtime.

Does this issue oc

[2022-09-07 17:01] Charles-Gagnon commented on #20553
This sounds like an issue with the extension itself, please contact Sentry One for support. If there seems to be an issue with Azure Data Studio itself then let us know and we can reopen this and investigate!

[2022-09-07 17:01] #20553 closed

[2022-09-07 17:10] kisantia commented on #20537
fix is checked into DacFx. Will be brought into ADS the next time the DacFx nuget is updated in STS and ADS

[2022-09-07 17:10] #20537 closed

[2022-09-07 17:34] smartguest commented on #20551
That is correct, they should know what the database type/configuration is.

This issue appears to be similar to this previously submitted issue: https://github.com/microsoft/azuredatastudio/issues/20241

Ask your IT department or those who set the DB up if they are using Azure Synapse or not, we currently have an issue where Select Top 1000 does not work for those kinds of Databases.

[2022-09-07 17:46] corivera commented on #20546
@stuartpa are you using our provided python package (New Install) or an existing python instance you installed separately?

[2022-09-07 17:52] HankRocha opened #20555 "Intellisense not working"
Issue Type: <b>Bug</b>

1. Connect to database (at least 830 tables)
2. Write a query (intellisense does not work!!)
3. "Refresh intellisense cache"
4. Try again

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

[2022-09-07 17:53] stuartpa commented on #20546
The former (this is a completely vanilla Windows Server Datacenter VM (tried both Azure and GCP), with no other software involved.

[2022-09-07 17:54] corivera commented on #20546
Do you see the same issue when using a separately installed python instance?

[2022-09-07 17:55] stuartpa commented on #20546
I was just trying to install ADS on a vanilla Windows Server VM and select the Python kernel.  I haven't tried anything more than this.  I have tried multiple cloud providers and multiple versions of Windows Server (2019 and 2022)

[2022-09-07 18:04] smartguest commented on #20551
Closing as duplicate

[2022-09-07 19:09] alanrenmsft commented on #392
I've added the setting to ADS so that you can specify the max characters/bytes allowed.

![image](https://user-images.githubusercontent.com/13777222/188957704-4f798867-c457-44aa-95a4-cfa23da0e964.png)

this change will be available in tomorrow's [Insider's build](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main) and next stable release in October 2022.

[2022-09-07 20:00] #392 closed

[2022-09-07 20:47] Charles-Gagnon opened #20557 "node_modules cache in pipeline misses frequently"
Our pipelines have steps to save/restore zips of the node_modules folders to avoid needing to re-download them every time, but this doesn't seem to be working correctly as it will frequently have a cache miss for PRs that don't have any changes to package.json. We should likely only need to redownload the packages when there are changes to the packages themselves.

e.g. https://mssqltools.visualst

[2022-09-07 21:12] kburtram commented on #20180
I think this is the same underlying issue as impacting https://github.com/microsoft/azuredatastudio/issues/13931.  We should verify the fix to dynamically discover the endpoint URI works for that scenario too.  This issue is also similar but was resolved by updating the hardcoded resource type metadata lookup table https://github.com/microsoft/azuredatastudio/issues/18845.

[2022-09-07 21:40] Charles-Gagnon commented on #20557
Per https://docs.microsoft.com/en-us/azure/devops/pipelines/release/caching?view=azure-devops#cache-isolation-and-security there is some scoping that is per branch, which may be the source of the issues.

But it also mentions `and a job building a PR has read access to the caches for the PR's target branch (for the same pipeline)` - so as long as the target branch (main) is the same then I would e

[2022-09-07 21:45] aasimkhan30 commented on #20557
Yeah, I had come across this information when I working with pipeline cache and was hitting a cache miss issue. My issue had nothing to do with this information. It just came to my mind when I saw this issue.

[2022-09-07 21:54] aasimkhan30 commented on #20557
However, it feels like we are hitting some kind of scoping issue because there are cache misses for the same key across different PR runs.

Here are 2 different runs with same fingerprint having cache misses:

Fingerprint 1:
nodeModules|Linux|zWU6I00RwbHdNUVQywXM0A9t7ARLDaHzFAY3LAQtUyQ=

https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=169966&view=logs&j=c7493abb-a1

[2022-09-07 21:56] alanrenmsft commented on #20034
there are 2 issues here:
1. execute the query caused the connection to close (I was not able to reproduce, will try on Mac later)
2. STS shouldn't crash in case of error like this.

[2022-09-07 21:57] alanrenmsft commented on #19664
please let us know if you are still having issues @nmyron

[2022-09-07 21:57] #19664 closed

[2022-09-07 22:03] alanrenmsft commented on #20292
@peperami97 could you please share a screenshot of the results grid with it scrolled all the way to the bottom, also include the xxx rows in the status bar.

![image](https://user-images.githubusercontent.com/13777222/188991677-4f6faaae-1857-44cc-87a8-f194a50dd222.png)

[2022-09-07 22:32] alanrenmsft commented on #20325
I looked into the code and looks like the error command is explicitly marked as not supported in ADS. I have to dig more into the commit history/pr descriptions to find out why.

[2022-09-07 23:29] smartguest commented on #20180
Unfortunately, the fully qualified domain name that is used in the connection menu comes from a call to ResourceGraphClient using the endpoint:  "https://management.azure.com".

When we search for things 'where type == "microsoft.sql/servers"', the results returned by ResourceGraphClient (which is part of the azure node module), the results returned by the REST API request shows the response using

[2022-09-08 03:19] tarekahf commented on #392
Thanks a lot ... what is ADS?

[2022-09-08 08:58] AdrianoHebreu opened #20564 "Dashboard fails to render list of objects after returning to tab"
Issue Type: <b>Bug</b>

When executing a query or edit data, when returning to the tab where the tables list does not appear.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(T

[2022-09-08 11:40] nicksoan commented on #2727
I am using ADS 1.38.0:
Holding shift and using the arrow keys correctly selects multiple cells
Ctrl+Click correctly adds each clicked item to the selection
Shift+Click to multi select is still not working.

[2022-09-08 12:16] Liriel commented on #2716
any news on this? Still got this issue on my machine w/ import service 0.0.9...

Version: 1.39.0
Commit: 9fdb2161d49b4d4ab6798809faa042a898ca2eae
Date: 2022-08-20T01:35:35.924Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.10.135-gentoo

[2022-09-08 15:20] benrr101 commented on #392
😅 Azure Data Studio

[2022-09-08 16:42] smartguest commented on #20180
We could try and implement another query using the first endpoint, and filter out the entries from the first server query by replacing them with the correct one. Also, on getting the SQL Pools by themselves. We apparently do a server query before the database one, and that is where the endpoint URL is generated as far as I know, so it is not needed for now.

[2022-09-08 18:39] #19258 closed

[2022-09-08 18:39] #19257 closed

[2022-09-08 19:11] nofield opened #20570 "Remove irrelevant context menu options for Ledger objects in OE"
The following context menu options are not relevant to each of these ledger objects and should be removed:

- Append-Only Ledger Tables
  - Edit Data
- Dropped Ledger Tables
  - Edit Data
  - Design
  - Script as Create
  - Script as Drop
- Ledger Views and Dropped Ledger Views
  - Script as [Create/Alter/Drop]

[2022-09-08 21:45] alanrenmsft commented on #20564
@AdrianoHebreu could you please add some screenshots or GIFs (even better)?

[2022-09-08 22:29] AdrianoHebreu commented on #20564
![AzureDB](https://user-images.githubusercontent.com/34030593/189237055-bd17aa2c-4974-43cd-8fc2-98247131fe62.gif)

Follow the gif with the problem.

[2022-09-08 22:32] alanrenmsft opened #20573 "better handle default authentication type"
in https://github.com/microsoft/azuredatastudio/blob/main/src/sql/workbench/services/connection/browser/connectionManagementService.ts#L800, we have a function to provide the default authentication type. it is reading it from the config, there are couple issues:
1. at connection provider level, some provider may not have this option, in this case, we should return undefined (this pr handles the sc

[2022-09-09 12:45] endrx commented on #2709
Yes, it's just awful. And still can't be changed through settings?
![image](https://user-images.githubusercontent.com/5373275/189352553-07e03bcf-69e7-40d1-b2d0-bae6cdbab1d9.png)

[2022-09-09 14:14] sumngh commented on #19586
Hi Lucy,

I have checked the query again, the first time it's taking a very long
time, and then some time it works fine and some time it takes more time
even after the first attempt.
THis is the same for query like "SELECT GETDATE()" this has nothing to do
with any connection still it takes time.

*Thanks & Regards*
*Sumer Singh | *

* +91-8287014644*

*|Deal with the world the way it is, not the

[2022-09-09 15:19] lucyzhang929 commented on #19586
@sumngh Did you run the query in a query editor or notebook? I would like to clarify if the issue lies in notebooks or elsewhere.

[2022-09-09 16:11] SakshiS-harma opened #20576 "Set target platform automatically when creating sql project from database in VSCode"
This is the second part to completely fix this issue: https://github.com/microsoft/azuredatastudio/issues/20363

[2022-09-09 16:12] #20363 closed

[2022-09-09 16:20] Dylan-MSFT commented on #19905
@cheenamalhotra What is the status of this?

[2022-09-09 21:14] #20533 closed

[2022-09-10 10:50] WSESoft opened #20584 "Column and Index Properties not showing"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

Hello Support Team,
 is this a common problem or is it fix already?

i am running..

Windows 11 Preview 25183 - 25193
Azure Data Studio Insider:

1. Connect to a local SQL Server 2019 Developer Edition
2. Open Table\Columns Menu
3. Selecting any item in Columns
4. Right clic

[2022-09-10 10:52] WSESoft commented on #20584
This link is going nowhere:

https://go.microsoft.com/fwlink?ProdName=Microsoft%20SQL%20Server&LinkId=20476

[2022-09-10 10:52] #20584 closed

[2022-09-11 10:01] Tjianke commented on #16860
@alanrenmsft so if user is trying to render a time chart in ADS, series must be provided? Isn't this behavior different with Kusto.Explorer? Is it possible for ADS to fillin series automatically so that customer can reuse the same queies in Kusto.Explorer?

[2022-09-12 00:14] hanyuwang2012 commented on #5173
This is still happening to Version 1.39.1

[2022-09-12 07:37] PowerDBAKlaas commented on #20240
I have used choco and winget and MS Store to install packages, but can't remember in what order or time frame.

Can you clarify with what nuget.org should be default installed? Is that with Windows setup, Azure Data Studio install, .Net SDK, .... ?

[2022-09-12 08:27] ottopic commented on #19269
Any news about how to fix it?

[2022-09-12 09:09] indexample commented on #19241
for me, this is the main reason why im not using ADS anymore, back to visual studio schema compare. i dont want to manually uncheck hundreds of objects.

[2022-09-12 15:00] erinstellato-ms commented on #16860
@Tjianke I believe the issue is the order of the columns.  In the original query, TimeSeries is the first column in the output.  Per Alan's note, it needs to the second column, and then it should display as you're expecting.

[2022-09-12 17:23] barbaravaldez opened #20589 "Fix book extension tests"
- [ ] should call showPreviewFile on openBook when showPreview flag is set
- [ ] should add book when bookPath contains special characters on openBook

[2022-09-12 17:33] Charles-Gagnon commented on #10534
Reopening this to track getting this added to our release pipeline.

[2022-09-12 17:54] Charles-Gagnon commented on #20545
Closing this as a duplicate of https://github.com/microsoft/azuredatastudio/issues/6450

@cheenamalhotra FYI in case the logs here are useful for your investigation into these areas at all

[2022-09-12 17:54] #20545 closed

[2022-09-12 21:15] Charles-Gagnon opened #20593 "Electron integration tests occasionally time out"
e.g. https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=170655&view=logs&j=0da5d1d9-276d-5173-c4c4-9d4d4ed14fdb&t=56faa5a0-3ae9-53fd-f292-25e564d6be83

No clear errors or anything in the log.

To start with will likely need to add some logging to the test runner stuff to try and figure out where it's getting stuck.

[2022-09-12 21:42] Charles-Gagnon commented on #20180
@marvinbuss Do you know what might be the best way to filter out the Synapse SQL Pools?

In poking around the Graph API it seems like there's two potential ways :

1. The `kind` field seems to be `v12.0,analytics` for SQL Pools, so doing a query like this works

[code]
although I'm not sure where this field comes from or what values it might have - so that might be pretty fragile.

![image](https:

[2022-09-12 21:58] alanrenmsft commented on #20519
@bobyin We'll reopen the issue when you have the information we requested ready.

[2022-09-12 21:58] #20519 closed

[2022-09-12 23:58] romanovmv commented on #7440
Hi @alanrenmsft ,
Any chance I can find the pre-rollback 1.39.0 build somewhere? It worked fine for me without any serious side effects. Thanks!

[2022-09-13 01:30] erinstellato-ms commented on #7440
@romanovmv you can download from here: https://github.com/microsoft/azuredatastudio/releases

[2022-09-13 01:49] romanovmv commented on #7440
@erinstellato-ms I tried but the [macOS ZIP](https://go.microsoft.com/fwlink/?linkid=2204569) link for version 1.39.0 points to the 1.39.1 build.

[2022-09-13 03:34] #20564 closed

[2022-09-13 03:36] alanrenmsft commented on #7440
@romanovmv https://github.com/microsoft/azuredatastudio/releases, you can find all previous releases here, if you really want to use the 1.39.0.

[2022-09-13 04:09] romanovmv commented on #7440
@alanrenmsft unfortunately those links for the version 1.39.0 point to the 1.39.1 build.

[2022-09-13 11:18] Shenouda-Fawzy opened #20598 "Unable to do a plan comparison"
Issue Type: <b>Bug</b>

I'm trying to do a plan comparison by doing the following
1. Save the current Plan. The wizard shows up. And be able to save it successfully. _One thing I noted and I think it cuases this issue is that the file is saved without extension (I don't know it)_
2. I run a query with the execution plan enabled
3. I clicked on the compared plan small icon
4. Current plan shows up

[2022-09-13 15:31] alanrenmsft commented on #7440
@romanovmv below are the direct links.

| Platform																|
| ---------------------------------------	|
| [Windows User Installer][win-user]			|
| [Windows System Installer][win-system]	|
| [Windows ZIP][win-zip]									|
| [macOS ZIP][osx-zip]										|
| [Linux TAR.GZ][linux-zip]								|
| [Linux RPM][linux-rpm]									|
| [Linux DEB][linux-deb]									|

[win-user]: https://azureda

[2022-09-13 17:05] kisantia commented on #19557
Summarizing discussion from https://github.com/microsoft/sqltoolsservice/pull/1687 here:
- until refactoring in sql projects is supported, we will keep changing table name and schema disabled for offline sql projects table designer:
![image](https://user-images.githubusercontent.com/31145923/189764618-9064c134-d8d3-407b-88e7-a268ee529624.png)
- The approach taken in https://github.com/microsoft/sq

[2022-09-13 17:13] AndrewMorris-scsu opened #20599 "Select Top 1000 not working for Azure Synapse Analytics"
Issue Type: <b>Bug</b>

Right click on a table and click "Select Top 1000" for an azure synapse analytics connection does not work.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|12th Gen Intel(R)

[2022-09-13 18:16] prhodesbajaj opened #20600 "Cannot see General folder after adding Azure SQL Migration ext."
Issue Type: <b>Bug</b>

Downloaded Azure Data Studio
Connected to an Azure database
Added the extension Azure SQL Migration
Unable to view the extension under the Home panel
I figured it out.  I needed to be connected to the onprem db.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.17763
Restri

[2022-09-13 19:51] #10534 closed

[2022-09-13 22:43] Charles-Gagnon commented on #20599
@AndrewMorris-scsu Which tree is this from - the Azure one?

@smartguest FYI - likely related to the fix you're already doing for correcting the endpoint used

[2022-09-13 22:45] Charles-Gagnon commented on #20600
@prhodesbajaj You mentioned you figured it out - do you still have an issue that should be investigated or can we close this?

[2022-09-14 03:25] tecodan commented on #19241
What is the alternative tool you are using now?

[2022-09-14 07:54] indexample commented on #19241
Visual Studio has a schema compare option (or extension). there its easy to (un)check all, or all in the group Deletes, Changes, New objects.

[2022-09-14 12:45] prhodesbajaj commented on #20600
You may close the ticket.  Thanks,
Patti

Upcoming PTO:

Wednesday, October 12 thru Friday October 14

Holiday Schedule:

  Thursday, November 24, 2022

  Friday, November 25, 2022 Friday, December 23, 2022

  Monday, December 26, 2022 Monday, January 2, 2023

Patti Rhodes | Senior SQL Developer

 [cid:ad4114e9-bfc1-4f3b-a0cf-3b70be9f8fd2]
m: 954.649.7801  |  o: 954.602.0618
***@***.******@***.***

[2022-09-14 16:06] #20600 closed

[2022-09-14 17:09] matt-dci opened #20606 "Unable to load linked accounts"
Issue Type: <b>Bug</b>

Hello
I am a MAC user (MacOS Monterey 12.5.1) and up until a few weeks ago was a happy user of Azure Data Studio. However one day ADS stopped working for me. I started seeing an error acout Azure CLI extension could not be found and then I noticed that I could not access the Accounts function. When I click Accounts the Linked accounts pane shows but hangs on loading account

[2022-09-14 17:11] matt-dci commented on #20606
I found a similar [issue](https://github.com/microsoft/azuredatastudio/issues/20364) but on Windows. Not sure what the equivalent steps on Mac is to clear all configs and start clean. I have tried uninstalling ADS via dragging it from Applications to Trash and then reinstalling but that doesn't resolve the problem.

[2022-09-14 19:00] o-o00o-o commented on #2250
it can also happen for just some rows and not others. If the json string has crlf or lf then ADS doesn't allow you to click it to open. I can create a seperate item

repro with this

[code]

you need to

[code]

to fix it

[2022-09-15 02:16] ishazel commented on #28
Likewise, this is the only reason I have to switch back to SSMS on occasion, a pretty jarring transition after the elegance of ADS :)

[2022-09-15 17:34] kchungmsft opened #20611 "Cannot press 'page up' or 'page down' multiple times within a result set"
Issue Type: <b>Bug</b>

When scrolling through SQL result sets, you can press page up/down maybe once or twice but cannot do it multiple times! This makes it difficult to traverse result sets of anything > 200 rows.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19043
Restricted Mode: No

<deta

[2022-09-15 21:35] alanrenmsft commented on #18391
@caohai I wanted to get this fixed but didn't get a chance, could you please pick up this one? you can check with @Charles-Gagnon to see whether this is documented.

it actually goes beyond this particular issue, I think in general we need to refresh our syntax library version.

[2022-09-15 21:36] caohai commented on #18391
Sure I can pick this one up. I'll take a look.

[2022-09-15 21:39] Charles-Gagnon commented on #18391
For what it's worth - language service stuff was something I'm planning on taking up here for the next work cycle. So I'll be triaging/fixing all these kinds of issues when we get that started. Always happy to have others helping out though 😁

[2022-09-15 22:08] #20180 closed

[2022-09-16 05:00] cheenamalhotra commented on #20606
Hi @matt-dci

Could you try clearing Azure accounts to get unblocked and add them again?
You can clear accounts by selecting "Command Palette (Ctrl+Shift+P)" > "Clear all saved accounts".

Let us know if you see the same issue after resetting your accounts.

[2022-09-16 05:03] cheenamalhotra commented on #20599
It seems the user is able to connect, since they are able to right click on the table.

Selecting table data is somehow not working possibly due to a large dataset?
@AndrewMorris-scsu would appreciate more details about the table structure and estimated data size. Does no table work for you or a particular table?

[2022-09-16 05:24] cheenamalhotra commented on #20593
The only difference I found between a normal log and a stuck log is the line below:

`Extension host with pid 3358 exited with code: 0, signal: null.`

which is missing from the failing run - leading to `##[error]The operation was canceled.` (due to timeout)

[2022-09-16 13:35] timothyhoffmann opened #20613 "Script as Create Table does not include non-default column Collation"
Issue Type: <b>Bug</b>

Have a table where one or more columns do not have the database default collations. Right-Click and Script as Create.  The resulting SQL does not reflect the collation for the non-default columns.

Example:
Table Designer in SSMS:
![image](https://user-images.githubusercontent.com/28546239/190651213-a2ab261c-c46a-4c96-ad6d-2e8ba34370c4.png)

Resulting script:
[code]

Azure

[2022-09-16 18:12] #11235 closed

[2022-09-16 18:12] #11951 closed

[2022-09-16 18:12] #18975 closed

[2022-09-16 18:12] #19869 closed

[2022-09-16 18:12] #19877 closed

[2022-09-16 18:13] alanrenmsft commented on #11235
bulk closing the usability level issues since we are not planning to work on it anytime soon.

[2022-09-16 18:14] alanrenmsft commented on #11951
bulk closing the usability level issues since we are not planning to work on it anytime soon.

[2022-09-16 18:14] alanrenmsft commented on #18975
bulk closing the usability level issues since we are not planning to work on it anytime soon.

[2022-09-16 18:14] alanrenmsft commented on #19877
bulk closing the usability level issues since we are not planning to work on it anytime soon.

[2022-09-16 18:14] alanrenmsft commented on #19869
bulk closing the usability level issues since we are not planning to work on it anytime soon.

[2022-09-16 20:53] RickDMyers commented on #4877
The tool does a nice job of showing the execution time on each cell.  Sure would be nice to configure the workbook to included a UTC date timestamp on every cell execution.

Really would help when sharing a workbook with other engineers, so they can see when the data was extracted.  Especially useful when query Azure Logs, since many queries typically use where clause with  relative date-time, e.g

[2022-09-16 22:21] SakshiS-harma opened #20617 "Update naming conventions for enums"
As a discussion point, updating enums for following (https://github.com/microsoft/azuredatastudio/blob/06c8e3d7a83f9c1079e1e930cbd3853418f58019/src/sql/azdata.d.ts):
SqlDataWarehouse ->SynapseAnalytics
SqlOnDemand  -> SynapseServerlessSqlPool

[2022-09-16 23:13] #20483 closed

[2022-09-19 12:25] BhanuPrakashGit opened #20620 "A11y_SQLMigrationControlPlane_MigrateTo AzureSQL_ AssessmentResultsAndRecommendations: Color contrast ratio of the 'Next' button is 4.4:1, which is less than the required one i.e.,4.5:1."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11yMAS;#A11yTCS;#AzureDataStudioextensionAzureSQLMigration-Mac-Sept2022;#SQL Migration Control Plane;#A11ySev2;#WCAG4.3.3;#DesktopApp;#Win11;#ColorContrast;#Benchmark;#Mac

### Environment Details:
Azure Data Studio: Version: 1.

[2022-09-19 15:49] alanrenmsft commented on #20617
@SakshiS-harma please add proper label and milestone.

[2022-09-19 16:43] kchungmsft commented on #20611
This happens for both holding or successive presses of the button. Sometimes 2-3 presses works but beyond that it stops working.

[2022-09-19 16:45] alanrenmsft commented on #20611
@kchungmsft how many columns do you have?

[2022-09-19 16:46] kchungmsft commented on #20611
10 columns.

[2022-09-19 17:50] #20576 closed

[2022-09-19 18:58] BillGuenthner commented on #19166
This is very much still an issue when using Azure Data Studio on MacOS and attempting to list databases in Azure SQL. I have 200+ database and cannot use Azure Data Studio because of this limitation.

Version: 1.39.1
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:12:48.559Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: D

[2022-09-20 11:17] BhanuPrakashGit opened #20626 "A11y_SQLMigrationControlPlane_MigrateToAzureSQL_ DatabasesForAssessment_ScreenReader: Column header for the table is not announced by the screen reader."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11yMAS;#A11yTCS;#AzureDataStudioextensionAzureSQLMigration-Mac-Sept2022;#SQL Migration Control Plane;#A11ySev2;#WCAG1.3.1;#DesktopApp;#Win11;#ScreenReader;#Benchmark;#VoiceOver;#Mac

### Environment Details:
Azure Data Studio: V

[2022-09-20 11:40] BhanuPrakashGit opened #20627 "A11y_SQLMigrationControlPlane_ AssessmentResultsAndRecommendations_View/SelectButton_Keyboard: Keyboard focus is going over non-interactive text"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11yMAS;#A11yTCS;#AzureDataStudioextension'AzureSQLMigration'-Mac-Sept2022;#SQL Migration Control Plane;#A11ySev2;#WCAG2.1.1;#DesktopApp;#Win11;#ScreenReader;#Benchmark;#VoiceOver;#Mac

### Environment Details:
Azure Data Studio:

[2022-09-20 17:02] #20422 closed

[2022-09-21 06:42] VijayaBharathyA commented on #19868
Could you please provide Sample app to log an external bug to Narrator?

[2022-09-21 07:43] BhanuPrakashGit opened #20632 "A11y_SQLMigrationControlPlane_ AzureSQLMigration _MigrationStatus_ScreenReader: Buttons present inside the table is announced as group by the screen reader."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11yMAS;#A11yTCS;#AzureDataStudioextensionAzureSQLMigration-Mac-Sept2022;#SQL Migration Control Plane;#A11ySev2;#WCAG1.3.1;#DesktopApp;#Win11;#ScreenReader;#Benchmark;#VoiceOver;#Mac

### Environment Details:
Azure Data Studio: V

[2022-09-21 08:38] christianmettri commented on #14314
Any update update on this open request? I am also looking for a way to adjust the result panel height.

[2022-09-21 11:53] biglogman opened #20633 "the tooltip for CHARINDEX is wrong"
Issue Type: <b>Bug</b>

The tooltip for CHARINDEX is coming back as

CHARINDEX(search_expression varchar(1),expression_to_be_searched varchar(1),start_location int) RETURNS int

However the 1st and 2nd parameters of CHARINDEX are
VARCHAR(8000)

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T00:59:13.108Z)
OS version: Linux x64 5.15.0-47-gene

[2022-09-21 14:11] gabrielmaldi commented on #3270
Same issue for me.

<img width="248" alt="Screen Shot 2022-09-21 at 11 11 20" src="https://user-images.githubusercontent.com/3728897/191527479-490c1544-2477-4855-98f2-a0b444d27965.png">

[2022-09-21 14:49] tlentine commented on #20052
I have this same issue on macOS Monterey and it is dreadful - with a large database schema it is a ton of extra (manual) work to sift through and find the *actual* changes / differences vs those where it's just a line ending difference. A fix would be most welcome and helpful : )

Azure Data Studio
Version: 1.39.1
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:12:48.559Z
VS C

[2022-09-21 14:55] enoixt-support commented on #4904
Thanks a lot. No progress on mysql for Azure Data Studio for ~1 Year, so I'll uninstall it and switch to what you proposed.

[2022-09-21 15:50] awhitneyh opened #20636 "Steps and Schedules not showing in 'Edit Job'"
Issue Type: <b>Bug</b>

When you click Edit job and navigate to the Steps or Schedules tab nothing shows in the Job Step List or Schedule list.

Extension version: 0.49.0
Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.19044
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Val

[2022-09-21 17:42] alanrenmsft opened #20637 "allow mark smoke test case as unstable instead of skipping them"
the unstable test cases should still be run in the unstable test build pipeline

[2022-09-21 20:09] #20637 closed

[2022-09-21 20:13] gustavolizze commented on #6724
up

[2022-09-22 01:32] copycatcode opened #20642 "error when split screen"
Issue Type: <b>Bug</b>

If i use a split screen, an error such as the right mouse not working on the database management screen will occur.
For example, if you search for a procedure and right-click, nothing will appear.
Please make the operation smooth when splitting the screen.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)

[2022-09-22 02:41] lotsahelp opened #20643 "Schema Compare should allow bacpac as source"
If a bacpac file contains the same schema info as a dacpac file, why can I not use the bacpac as source?

[2022-09-22 04:37] DucatiGuy opened #20645 "Tab title suggestion"
I often work on multiple procedures and functions when developing in SQL. My preferred practice is to open each procedure or function in a new tab.

However if more than two or three tabs are open at once it becomes tedious to quickly find the tab I want to use.

As a workaround I save the tab with a descriptive name which is then displayed in the tab label. But this clutters my drive and could le

[2022-09-22 09:57] MartinRyx commented on #20636
For me they show up as soon as I execute the job, but nothing is shown for new jobs

[2022-09-22 13:06] Econ808 opened #20646 "Schema compare - file not found"
- Azure Data Studio Version: 1.39.1
- OS Version: Windows 10

When doing a schema compare with a file which include "@" in the name the schema compare fails:

![image](https://user-images.githubusercontent.com/36441764/191754663-dafd57ff-2d73-4d38-ad60-0595c49bc9b9.png)

Steps to Reproduce:

1. Have file in security which includes "@" in filename
2. Do schema compare

Does this issue occur when al

[2022-09-22 16:20] alanrenmsft commented on #20645
@DucatiGuy I believe the one you categorized as "Easy way" is already available in ADS, it is only for unsaved editors, if you change the setting as show in the screenshot below, the content will be displayed as the tab title.
![image](https://user-images.githubusercontent.com/13777222/191799670-6c282c3c-93de-4f7a-9187-5742aa580eb1.png)

the "Better way" doesn't seem like something we would want t

[2022-09-22 16:20] #20645 closed

[2022-09-22 16:25] alanrenmsft commented on #20642
@copycatcode  could you please add a gif or screenshot demonstrating the problem?

[2022-09-22 16:43] kisantia commented on #20646
Might be similar to https://github.com/microsoft/azuredatastudio/issues/17020. Can you try find-replacing `%40`s that should be `@` in the sqlproj? This updated project should continue to work in SSDT and will be read correctly in ADS.

[2022-09-22 21:42] cpcodes commented on #412
So this capability has been in [SlickGrid](https://github.com/6pac/SlickGrid/issues/26) since Dec 2018. Can we get this implemented in ADS now, please?

[2022-09-22 22:22] lucasmarotta opened #20648 "Schema Compare failed to apply when creating a new empty schema with a "DOMAIN\User""
- Azure Data Studio Version: 1.39.1
- OS Version: Windows 10 (21H2)

Steps to Reproduce:

1. Create a database project of your database.
2. Create a new schema with a pattern "DOMAIN\User", like "Contoso\Lucas", directly, without touching the database project.
3. Update the database project with Schema Compare.

When creating a new project is not the problem, the problem is when applying the new c

[2022-09-23 03:06] devdeer-yashas opened #20650 "Hello,"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2022-09-23 07:49] Econ808 commented on #20646
Okay, that works. Thanks.

[2022-09-23 07:49] #20646 closed

[2022-09-23 07:57] BhanuPrakashGit opened #20651 "A11y_SQLMigrationControlPlane_ AssessmentResultsAndRecommendations _View/SelectButton_ScreenReader: Proper accessible name is not announced by the screen reader for the link "SQL Server Agent differences in azure SQL Managed Instance."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11yMAS;#A11yTCS;#AzureDataStudioextension'AzureSQLMigration'-Mac-Sept2022;#SQL Migration Control Plane;#A11ySev2;#WCAG1.3.1;#DesktopApp;#Win11;#ScreenReader;#Benchmark;#VoiceOver;#Mac

### Environment Details:
Azure Data Studio:

[2022-09-23 10:26] BhanuPrakashGit opened #20652 "A11y_SQLMigrationControlPlane_ MigrateToAzureSQL_DatabasesForAssessment_Keyboard: Keyboard focus is incorrect for the table."
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11yMAS;#A11yTCS;#AzureDataStudioextension'AzureSQLMigration'-Mac-Sept2022;#SQL Migration Control Plane;#A11ySev2;#WCAG2.4.3;#DesktopApp;#Win11;#Keyboard;#Benchmark;#VoiceOver;#Mac

### Environment Details:
Azure Data Studio: Ver

[2022-09-23 11:12] BhanuPrakashGit opened #20653 "A11y_SQLMigrationControlPlane_ MigrateToAzureSQL_AzureSQLTarget_ScreenReader: Screen reader is not announcing the status message whether it is collapsed message for the combo box"
“[Check out Accessibility Insights!](https://accessibilityinsights.io/) - Identify accessibility bugs before check-in and make bug fixing faster and easier.”

GitHubTags:#A11yMAS;#A11yTCS;#AzureDataStudioextension'AzureSQLMigration'-Mac-Sept2022;#SQL Migration Control Plane;#A11ySev2;#WCAG1.3.1;#DesktopApp;#Win11;#ScreenReader;#Benchmark;#VoiceOver;#Mac

### Environment Details:
Azure Data Studio:

[2022-09-23 11:32] viher3 commented on #605
Same issue.

[2022-09-23 11:43] BahadirSoybakis opened #20654 "Connection Problems"
Issue Type: <b>Bug</b>

Hi All,

When I start using Azure, I met some connection problems. (SSMS to Azure) I execute prosedure or functions to finish but its delay. Its just need to finish in 1 min SQL script that takes long time to finish. When I look SSMS , application more dynamic and stable but Azure still has connection problems and less user interface features...

Azure Data Studio version:

[2022-09-23 14:42] cg-tm commented on #7440
Would there be an ETA on when this issue may be fixed again? It was still happening occasionally for the last little bit but is _definitely_ worse now. Just now had to restart like 4 times in a row just to run basic selects in the same editor window.

Don't mind rolling back if it'll be a while but thought I'd check.

Thanks!

[2022-09-23 15:02] alanrenmsft commented on #20654
@BahadirSoybakis could you please share more details with us? e.g. are you running into errors connecting to servers/databases?

[2022-09-23 16:07] alanrenmsft commented on #7440
@cg-tm there will be some improvements in Oct release (by end of October)

[2022-09-23 16:39] cg-tm commented on #7440
Thanks for the quick reply! I'll likely rollback if it continues to be too frustrating to deal with and wait for the october release.

[2022-09-23 18:27] kisantia commented on #20052
@sgarwood @tlentine do you have the "Ignore whitespace" option selected when doing schema compare?

Steps I did to try to repro:
1. Created a new sql project with a stored proc with CRLF
2. Published project to a new db
3. Changed the stored proc file in the sql project to have LF
4. Schema compared the project and db with the default schema compare options
Result: no differences

When I changed t

[2022-09-23 18:30] sgarwood commented on #20052
Thanks for this Kim.

Could you clarify where exactly this option appears in the GUI?

Seb
________________________________
From: Kim Santiago ***@***.***>
Sent: Friday, September 23, 2022 7:28:07 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: Seb Garwood ***@***.***>; Mention ***@***.***>
Subject: Re: [microsoft/azuredatastudio] Schema Compare tool showing objects as changed but no differences

[2022-09-23 18:38] tlentine commented on #20052
Yes, I have the ignore whitespace option checked and have this difficulty.
Could the target database have an impact on this? I'm comparing against Azure SQL Databases.

[2022-09-23 20:21] alanrenmsft opened #20657 "test results produced by unstable extension unit test step is not uploaded"

[2022-09-23 20:25] #20657 closed

[2022-09-23 20:45] MisinformedDNA commented on #20249
I had one query where the column was in the list of index columns and then in the include list **twice**.

[code]

[2022-09-23 21:04] kisantia opened #20658 "onRowSelected() no longer firing for tables"
After #20514, onRowSelected() is no longer getting fired when cells are selected, causing several scenarios to now be broken in schema compare and sql database projects extensions.

The option descriptions are no longer showing in the schema compare options dialog and sql projects options dialog because they depend on onRowSelected() to be fired to determine which description to show.

actual:
![i

[2022-09-23 21:11] kisantia commented on #20052
@tlentine It also wasn't reproing for me when comparing the project against an Azure SQL db with ignore whitespace checked :/ If you try the simple repro I did do you still see the differences? Maybe I'm missing something.

@sgarwood the options dialog can be opened from the toolbar:
![image](https://user-images.githubusercontent.com/31145923/192057337-8b072a58-2da8-49ec-a8fe-c14885f6c94a.png)

[2022-09-23 21:12] tdoshin opened #20659 "Remove spacing in "Column Store". Change to ColumnStore"
- Azure Data Studio Version: Insiders Build
- OS Version: Windows Enterprise

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/72947001/192057222-c4554504-f7cb-45e8-a71f-610e9961ba03.png)

Expected: "Columnstore"
Actual: "Column Store

Does this issue occur when all extensions are disabled?: Yes/No

[2022-09-23 21:17] tdoshin opened #20660 "Only show Hash Indexes for memory-optimized tables"
- Azure Data Studio Version: Insiders Build
- OS Version: Windows Enterprise

Steps to Reproduce:

![image](https://user-images.githubusercontent.com/72947001/192057521-9d125004-f412-4198-8581-3f3f8e3378a8.png)

Expected: Hash Indexes should not display for non-memory-optimized tables. And they should appear in the Index properties section (bonus)

Actual: Right between two column sections, I have

[2022-09-26 16:03] tlentine commented on #20052
With a brand new project I can't replicate the issue. Are there any diagnostics we could tap into? The main project I see this with is a pretty large database, and the project itself has been migrated to the sdk style project from the older Visual Studio Database project format.

[2022-09-26 18:29] matt-dci commented on #20606
Hello
Sorry for the delay.. I was on the road for work. I have tried "Command Palette (Ctrl+Shift+P)" > "Clear all saved accounts". and it doesn't look to have corrected the problem

[2022-09-26 20:06] sgarwood commented on #20052
I'm afraid it's the same again here even with with the highlighted option ticked there are still changed detected while no visible changes can be seen in the diff window.

Similar situation- extremely large enterprise system migrated from Visual Studio SSDT.

Target database is an official MSSQL Docker container running on the local network.

[2022-09-26 20:16] aasimkhan30 commented on #20078
This seems similar to the bug https://github.com/microsoft/vscode/issues/112543

[2022-09-26 22:25] kisantia commented on #20648
When creating a project from db in SSDT for a db with a schema in this format, it creates the file name as domain_user.sql. We need to update the DacFx to do something similar for ADS sql projects.

[2022-09-26 22:55] caohai commented on #18391
This issue is confirmed to be a bug in SqlParser, I've filed a bug internally and I'll move this issue to backlog for now.

[2022-09-26 23:36] kisantia commented on #19298
fixed in DacFx. Will be brought into ADS with the next DacFx update that should happen before the October release.

[2022-09-26 23:36] #19298 closed

[2022-09-27 08:10] natevoci commented on #18075
Expanding on this, a couple of additional suggestions:
* If there is only 1 project in the workspace then have it pre-selected.
* When opening the update project dialog from the "Database project" context menu (instead of the "Connections" context menu) the project is already pre-selected and the "Server" of the "Source database" is pre-selected to the server of the current document's connection,

[2022-09-27 09:01] NiharikaTipirishetty commented on #19831
Issue is fixed, hence closing the bug. deselect/select All checkbox is accessible using keyboard in databases grid in "Databases for assessment" step.
![19831_fixed](https://user-images.githubusercontent.com/83570638/192482110-87b4dcb6-e40a-4eac-8a9a-3c4e0a4c2a5e.gif)

[2022-09-27 09:01] #19831 closed

[2022-09-27 09:12] NiharikaTipirishetty commented on #19843
Issue is fixed. User is able to navigate to all the databases present in the grid using arrow keys and no keyboard trap is observed. Hence closing the bug.
Env: Azure data studio Version 1.40.0-insider(user setup)
![19843_fixed](https://user-images.githubusercontent.com/83570638/192484874-d54fdf67-f240-447b-a910-dd8380b7d365.gif)

[2022-09-27 09:12] #19843 closed

[2022-09-27 09:45] NiharikaTipirishetty commented on #19864
Issue is not fixed. There are total 112 records present in the grid but screen reader is announcing table summary as 22/6 and when focus is on 2nd row, narrator is announcing as row 15 which is incorrect and while navigating using ctrl+alt+arrow keys, column header name for particular cell is not announced.

Please find attachments for reference

![19864_narrator_not-fixed](https://user-images.git

[2022-09-27 10:35] ststeedman opened #20675 "Moving folder deletes subfolders from target folder"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

Issue Type: <b>Bug</b>

When moving a folder in ADS, if the target folder has subfolders (and files?), these will all be hard-deleted with no chance of undo.

[I was able to restore my files from OneDrive]

If the same is done in File Explorer, the folders/files remain, (and individual options are given to overwrite or make new dupli

[2022-09-27 10:43] sanpepo opened #20676 "Missing index en plan de ejecución"
Issue Type: <b>Bug</b>

Las recomendaciones de índices para los palnes de ejecución se generan mal
En included columns añade la columna del índice
Faltan columns que añadir en includen columns.

Es fácil detectar si se compara con las recomendaciones de SSMS

_Translation:_

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS ve

[2022-09-27 14:11] pfab0 commented on #5225
The absence of this feature makes it really difficult to explore the object dependencies in a big database without using SSMS.

If a native functionality is not feasible, it would be really helpful if it was added to the extension "Database Administration Tool Extensions for Windows" (like "Properties" and "Generate Scripts" from SSMS)

![image](https://user-images.githubusercontent.com/45492246/1

[2022-09-27 19:08] kisantia opened #20678 "Have consistent file structure for sql projects"
The file structure for where schemas are created in sql projects when doing create from db and schema compare to update a project is not consistent.

For an example schema Contoso and using "Schema/Object Type" for folder structure, create a project from a database the created file would be `Security/Contoso.sql`.  Using schema compare to update a project creates the file at `Contoso/Schemas/Conto

[2022-09-27 20:52] Charles-Gagnon opened #20679 "Import extensions can't update to latest dataprotocolclient versions"
See https://github.com/microsoft/azuredatastudio/pull/15088

The dataprotocol-client is currently unable to be updated for the import & liveshare extensions - it has some functional changes that break the import wizard (it never starts up).

Something happens in the service where the initial 'initialize' request sent by the dataprotocol-client is never responded to so it just hung infinitely. I wa

[2022-09-27 22:45] kisantia commented on #20678
As a baseline, lets make sure this creates the same file structure for AdventureWorks or WorldWideImporters

[2022-09-27 22:55] #20658 closed

[2022-09-28 01:58] aasimkhan30 commented on #20675
@ststeedman, I have tried this on my end but I could not reproduce it. Can you please tell me the exact steps that you have performed to see this bug?

[2022-09-28 01:58] kburtram commented on #20679
The liveshare extension is effectively abandoned and can be deleted.  I can send that PR later this week.

[2022-09-28 08:35] ststeedman commented on #20675
OK, so let us suppose I have a folder X with a subfolder Y with a subfolder Z, and another folder A with a subfolder Y with a subfolder C:

X\Y\Z
A\Y\C

If I move the folder Y into A, subfolder C will disappear.  Undo returns the folder to X but C is still missing.

To test what happens to files, I put a file in each subfolder named after the complete path, i.e. x.txt, xy.txt, xyz.txt etc. - 6 fil

[2022-09-28 08:38] magnusbratt commented on #869
How do you install the extension to ADS? When I use the links provided above it opens in VS Code.

[2022-09-28 11:19] diddlys commented on #2767
Is anyone looking at this bug?
What I have observed is that the 'Peek' and 'Go to Definition' features _do_ work for [dbo] schema objects, but not for any other schema.
It would be good to know from the team if this is being addressed (or even acknowledged)?

[2022-09-28 13:24] henry-js commented on #869
@magnusbratt the previous commenter provided a note on downloading/installing extension files directly from the marketplace. The instructions are the same for ADS:

![image](https://user-images.githubusercontent.com/79054685/192788932-e8f94a96-df37-461d-a637-3f5f2a48a6bd.png)

[2022-09-28 16:42] nandita-gupta commented on #20192
Hi Cheena, I am facing same TCP error 35 in mac os Monterey. I tried access mssql cli. but it does not work

nandita ~ % sudo pip install mssql-cli --ignore-installed six
DEPRECATION: Python 2.7 reached the end of its life on January 1st, 2020. Please upgrade your Python as Python 2.7 is no longer maintained. pip 21.0 will drop support for Python 2.7 in January 2021. More details about Python 2 su

[2022-09-28 17:55] aasimkhan30 commented on #20675
We do show a prompt before  moving the folder Y (in folder X) to folder A
<img width="304" alt="image" src="https://user-images.githubusercontent.com/6816294/192854034-c4b8b06c-1945-44e9-b5b2-0f73e00db550.png">

This prompt does state that moving would replace the original Y folder and the action is irreversible. Please correct me if I am wrong but this is consistent with what your example is, rig

[2022-09-28 19:21] Lintonen-VHC commented on #20606
I've encountered this same issue where it hangs at "Loading accounts" in v1.39.1. I'm running on Windows 11 Enterprise 22H2. Clearing all saved accounts does not resolve the issue.

[2022-09-28 22:34] SakshiS-harma commented on #16930
@klandymore, I am able to repro the original mentioned issue. But I am not seeing any problems with publish on windows or mac (for mac, I had the forward slashes in place).
Can you please confirm if you are still seeing the issue? I am working on a fix for the original mentioned issue.

[2022-09-28 23:34] cheenamalhotra commented on #13950
@hashik4d

Are you running ADS behind a proxy?
If yes, could you please try to specify proxy settings in Azure Data Studio > Settings > Proxy:

![image](https://user-images.githubusercontent.com/13396919/192906085-c92d330b-dee8-40f4-982d-f4746412daf6.png)

The Http_Proxy value can be in any of the commonly used formats, as it applies to your environment. E.g.
* http_proxy=http://SERVER:PORT/
* htt

[2022-09-29 00:24] tkdennis opened #20687 "Can't Generate Scripts on Azure SQL Server database connected via Azure AD MFA"
We have written the needed data into your clipboard because it was too large to send. Please paste.

Issue Type: <b>Bug</b>

1. In the Connection pane, New Connection to master database a SQL Server hosted on Azure, AuthenticationType = "Azure Active Directory - Universal with MFA Support"
2. Expand databases
3. Right mouse button on selected database
4. select Generate Scripts...
Error dialog app

[2022-09-29 10:33] ststeedman commented on #20675
Yes, it is, and I am aware of that prompt.  Whilst I do not want to get into a discussion about the wording of this prompt, I would argue that "replacing a folder" means that any  identically named files that exist in the folder/subfolders will be overwritten, and those that exist and are NOT in the folder being copied will remain.  This is how it works, as I am sure you are aware, in File Explore

[2022-09-29 16:41] Charles-Gagnon commented on #20675
Closing this as it's upstream behavior we inherited from VS Code. We try to avoid changing their behavior as much as possible to reduce friction for users moving between the apps.

There's a couple issues/enhancement requests for changing this but it doesn't look like it's gotten any traction - you can try opening another issue though to see if anyone there will respond now.

https://github.com/mi

[2022-09-29 16:41] #20675 closed

[2022-09-29 17:58] Charles-Gagnon commented on #20687
Confirmed this is an issue, while I investigate this here's a couple options

1. Use basic auth (seems like not an option for you specifically unfortunately, but in case others hit this)
2. Use SSMS itself - that should be working correctly

[2022-09-29 18:13] #20659 closed

[2022-09-29 18:13] #20660 closed

[2022-09-29 18:23] cheenamalhotra commented on #18935
Closing due to inactivity.

[2022-09-29 18:23] #18935 closed

[2022-09-29 18:24] cheenamalhotra commented on #20223
Closing due to inactivity and lack of information.

[2022-09-29 18:24] #20223 closed

[2022-09-29 18:25] #20278 closed

[2022-09-29 19:23] rathboma commented on #4904
Thanks folks for linking to Beekeeper Studio :heart:. Love that an app made by one person (me) can compete on some level with a Microsoft built product. My goal is to be the community favorite database management app.

@jroosameresco I'm the creator of Beekeeper Studio, would love to hear more about your use of 33k tables, we're about to do a project to optimize the app for large numbers of tables

[2022-09-29 19:25] rathboma commented on #4904
@ghood97 Beekeeper Studio is fully cross platform btw :-). Mac, Linux, Windows. Plus I provide a stripped-down FOSS community edition which is a very capable piece of software on it's own.

[2022-09-29 20:48] josh-rathke opened #20693 "Keychain Keeps Asking Me For Password"
Issue Type: <b>Bug</b>

When I open Azure Data Studio, it asks me to enter my keychain password. After I do this, I click Always Allow. However, this does not work. Often, the next time I open Azure Data Studio, it asks for my password again. Sometimes upon opening Azure Data Studio it asks for my keychain password multiple times before I can actually use the application. The Always Allow button s

[2022-09-29 23:16] corivera commented on #20312
Closing due to no repro

[2022-09-29 23:16] #20312 closed

[2022-09-30 04:41] jstucken commented on #8052
@Charles-Gagnon really appreciate this search on type feature for filtering views and tables, thanks!

[2022-09-30 11:47] divieirasilva commented on #9285
I think I found the main reason, so I'll comment here the steps I did to make it happen and what I did to solve:

1. I hade a Database Server (at Brazil South) and that server had a database named EternalQuest_V2
2. In Azure Data Studio I had a connection saved called "EternalQuest"
3. I create a new Database Server (at West US 3) and that server has a database named EternalQuest
4. I deleted the

[2022-09-30 14:57] pdobrokhotov commented on #1026
Agree! Connecting to SSAS Multidimensional and Tabular is an absolute MUST

[2022-09-30 15:59] #17356 closed

[2022-09-30 16:40] mbellas-dumac commented on #869
I've got both extensions installed but can't get it to sign in, anyone have a solution? I always get `Auth token returned by microsoft provider is empty`

[2022-09-30 18:18] Charles-Gagnon commented on #7372
Closing this as it would be quite difficult to get this to work and so far hasn't been something anyone has actually asked for.

[2022-09-30 18:23] lewis-sanchez commented on #18358
Closing this issue since the bug has been fixed in a previous PR. Here's a gif of copying an object name in the "Top Plans" tab working in Azure Data Studio:

![Execution Plan - Copy Object Name](https://user-images.githubusercontent.com/87730006/193332921-a80011a2-297c-46f6-9c50-0e12e42e06a4.gif)

[2022-09-30 18:23] #18358 closed

[2022-09-30 19:01] cssuh opened #20701 "Accounts pane shows different icons for same account"
- Azure Data Studio Version: 1.39.1
- OS Version: MacOs Monterey 12.6

Steps to Reproduce:

1. Add Account to Accounts pane
2. Sometimes it has the Microsoft logo, sometimes it has a different logo
<img width="500" alt="Screen Shot 2022-09-30 at 2 58 03 PM" src="https://user-images.githubusercontent.com/18150417/193338979-19d17302-e7e4-4a34-852c-e55045bf89fe.png">
<img width="500" alt="Screen Shot

[2022-09-30 19:31] #17036 closed

[2022-09-30 23:48] #7438 closed

[2022-10-02 14:36] sqlatspeed commented on #20192
Cheena,
I'm still having the same issue even with the latest version of Python installed. I am about to cycle this Macbook work machine back in for a Windows machine however, so I won't be able to further test this issue. I'd like to bring a colleague into this issue (Joshua Higginbotham, fellow MVP) so he can continue working on it. What is the best way for me to do that?
Matt Gordon
    On Wedne

[2022-10-03 08:44] Lukydemboy opened #20707 "Can't connect with Azure AD account on 2nd computer"
Issue Type: <b>Bug</b>

issue Type: Bug
1. Download Azure Data Studio, connect with Azure AD account (Mac).
2. Take a 2nd computer (both are Mac in my case).
3. Sign in with the same Azure AD account and try connecting. Login failed for user ‘\<token-identified principal\>’.

https://www.loom.com/share/09ce8e33d6724588b2a8c1f778bd1d92

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e17

[2022-10-03 10:35] scott-moxham commented on #9634
Hi,
This looks exactly like I was asking for.
Sorry for slow reply, I was busy with other things when message was sent and then got lost in the mass of my e-mail 🤦‍♂️

[2022-10-03 10:35] #9634 closed

[2022-10-03 15:56] mrlife commented on #18840
I am running into this and seeing these errors in the console:

There are lots of warnings like:

[2022-10-03 16:59] cheenamalhotra opened #20709 "Issues working with tables in Synapse Databases"
- Azure Data Studio Version: 1.39.1 (also tested Insiders 1.40.1)
- OS Version: Windows 11

Steps to Reproduce:

#### When opening 'Table Designer'
1. Connect to a Azure Synapse server and navigate to a Database (e.g. master)
2. Create a new table using Table Designer
   - Notice the table designer fails to load and continues loading for a long time. It does load in the end, but takes many minutes

[2022-10-03 17:03] cheenamalhotra commented on #20693
Hi @josh-rathke

Since we have an open issue #19269 with the same concern, I will close this as a duplicate.
You may follow the original issue for future progress and updates.

[2022-10-03 17:03] #20693 closed

[2022-10-03 17:51] cheenamalhotra commented on #20707
Hi @Lukydemboy

The computer that you logged in to, did you connect to a particular database or master? If it was a database, can you provide the same database name by typing it in the Database input box and try again? Otherwise, can you confirm you have access to master database from your first computer too?

[2022-10-03 18:08] Lukydemboy commented on #20707
Hi @cheenamalhotra

Tried connecting to both, the master and a particular database, both throw the same error. I can confirm that I can still connect to the database on the first computer (using the same procedure as shown in the Loom video).

[2022-10-03 19:09] mchern opened #20711 "Does not start on Mac Os Catalina 10.15.7"
- Azure Data Studio Version:
- OS Version:
Mac Os 10.15.7
Steps to Reproduce:

1.Download
2.Double click Azure Data Studio - Insiders.app

<img width="423" alt="image" src="https://user-images.githubusercontent.com/72808/193658728-b9e6ad67-ae52-4dfb-b1a2-280369aa1316.png">

Does this issue occur when all extensions are disabled?: Yes/No

[2022-10-03 19:09] mchern commented on #20711
Process:               Electron [40112]
Path:                  /Applications/azure/*/Azure Data Studio - Insiders.app/Contents/MacOS/Electron
Identifier:            com.azuredatastudio.oss.insiders
Version:               1.40.0-insider (1.40.0-insider)
Code Type:             X86-64 (Native)
Parent Process:        ??? [1]
Responsible:           Electron [40112]
User ID:               501

Date/Time

[2022-10-03 19:15] cheenamalhotra commented on #20707
Before gathering logs, please:
* Clean token cache by running: **Command Palette > Azure Accounts: Clear Azure Account Token Cache**.
* Remove all accounts by running: **Command Palette > Clear all saved accounts**.

Thanks!

[2022-10-03 19:32] #20260 closed

[2022-10-03 19:45] djarami726 opened #20712 "Opening ADS with a URI/from commandline doesn't prompt to install extension from unknown providers"
**chgagnon edit**

The root issue here is that when opening a connection from a URI/the commandline if the provider specified isn't installed then it'll just fail to populate the connection dialog and not give any indication about what happened. We should be prompting the user to install the missing extension like we added in other places such as https://github.com/microsoft/azuredatastudio/pull/2

[2022-10-03 19:50] aasimkhan30 commented on #20651
Can you please add the right aria-label to the more info links?

[2022-10-03 19:59] aasimkhan30 commented on #20627
@BhanuPrakashGit , the impacted objects table is an interactive component in the screen. In case there are multiple impacted objects, the user need to tab through them to select it.

[2022-10-03 19:59] aasimkhan30 commented on #20627
![azuredatastudio_rpgXVPLuNm](https://user-images.githubusercontent.com/6816294/193667863-af1d93f3-5c7a-4a5a-bf7a-563b07c0fb07.gif)

[2022-10-03 20:17] Charles-Gagnon commented on #20712
What version of ADS are you using? That link will only work if you have the stable version installed - Insiders won't be opened with that.

If you have stable ADS installed try these steps :

1. Open up the Run input (`Win+R`)
2. Paste in `azuredatastudio://connect?server=jarada01-trial&provider=COSMOSDB_MONGO&user=jarada01@risk.regn.net&authenticationType=AzureMFA`
3. Hit enter

Does that work?

[2022-10-03 21:31] #7372 closed

[2022-10-03 22:42] #7361 closed

[2022-10-03 23:29] Charles-Gagnon commented on #11865
The extension has been refactored to retrieve the query text in a different way so this should no longer be an issue. Let me know if you're still seeing this!

[2022-10-03 23:29] #11865 closed

[2022-10-04 00:56] lewis-sanchez commented on #20190
Hi @GrzegorzLyp, I'm closing this issue since it seems like the reported problem has been fixed. If you continue to experience this issue, please reopen.

![Execution Plan - Sash Hides on Plan Collapse](https://user-images.githubusercontent.com/87730006/193711629-3b5aaff7-0bbc-4281-90c3-6d18dfecf46f.gif)

[2022-10-04 00:56] #20190 closed

[2022-10-04 10:36] BhanuPrakashGit commented on #20651
The expected aria-label should be "**SQL Server Agent differences in azure SQL Managed Instance**".

[2022-10-04 14:49] Charles-Gagnon commented on #20712
Ah yeah, it's linking to the insiders build. I'll get that fixed to either install the stable version or use the azuredatastudio-insiders link

In the meantime here's the links to the stable build downloads (you can have them side by side with insiders) https://github.com/microsoft/azuredatastudio#download-the-latest-azure-data-studio-release

If there's functionality you want in Insiders they cur

[2022-10-04 17:05] lewis-sanchez commented on #18880
Closing this issue since this has been fixed already. Below is a gif of this working in the latest insiders build.

![Execution Plan - Open execution plan in result grid to graphical editor](https://user-images.githubusercontent.com/87730006/193882031-dee014f0-03c0-4260-b4f0-64380878c30b.gif)

[2022-10-04 17:05] #18880 closed

[2022-10-04 17:15] lewis-sanchez commented on #18704
Hi @theEyeD, I'm closing this issue since this has been fixed. Below is a screenshot of this working in the latest insiders build. If you encounter any other issues with Azure Data Studio, please report them. Thanks!

![Execution Plan - Run current query with actual plan respects current query](https://user-images.githubusercontent.com/87730006/193883448-356c692d-1069-4827-a662-4cb570dc599b.gif)

[2022-10-04 17:15] #18704 closed

[2022-10-04 18:20] aasimkhan30 commented on #20418
This issue was due to a broken caching code in execution plan. It is fixed as of now.

[2022-10-04 18:20] #20418 closed

[2022-10-04 18:58] alanrenmsft commented on #4904
Finally, the support for MySQL in Azure Data Studio is here, it is now available in the ADS Insider's extension gallery:

![image](https://user-images.githubusercontent.com/13777222/193902993-29b378ad-7ea2-4046-813d-207671fd044e.png)

you can open issues/feature requests at: https://github.com/microsoft/azuredatastudio-mysql, you can also download the visx directly from here.

It should be availab

[2022-10-04 19:00] lewis-sanchez commented on #20676
Hola @sanpepo, podria incluir un imagen de lo que se refiere por favor, para poder mejor ayudarle? Gracias!

[2022-10-04 19:10] kisantia commented on #20648
This is fixed in DacFx so that slashes and backslashes get replaced with an underscore in the file name. This will be brought into ADS the next time DacFx gets updated before the next release.

[2022-10-04 19:10] #20648 closed

[2022-10-04 19:10] chris-larsen commented on #4904
NO. F***ING. WAY.

I'm screaming

[2022-10-04 19:59] alanrenmsft commented on #4916
The Azure Cosmos DB extension is now available in Azure Data Studio:
![image](https://user-images.githubusercontent.com/13777222/193913624-e5eb96c0-3464-4146-b23d-dd88a4b27b3e.png)

You can open issues/feature requests at the extension's own repo: https://github.com/Azure/azure-cosmosdb-ads-extension

[2022-10-04 19:59] #4916 closed

[2022-10-04 20:11] calloncampbell commented on #4916
This shows support for mongo db. When is SQL api support coming?

[2022-10-04 20:43] alanrenmsft commented on #4916
@calloncampbell The extension is owned by a different team in Microsoft, please open a feature request in the extension's repo: https://github.com/Azure/azure-cosmosdb-ads-extension.

[2022-10-05 00:39] rjsearle commented on #8656
I'm constantly suffering from this problem. tried the same UI available techniques (disconnect/connect etc).
The only way to correct this is to restart the app.
Mac version
==========
Version: 1.39.1
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:12:48.559Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Darwin x64 20.3.0

[2022-10-05 02:41] vitorgga commented on #4904
That's perfect. I install in macOS Monterey and all good. I need to install PostgreSQL@14 too because without this don't function.

[2022-10-05 03:07] myusrn commented on #4904
@alanrenmsft do you foresee this extension being surfaced in the visual studio code marketplace as well?  is there something about surfacing it in azure data studio experience that makes it irrelevant for the vscode experience?

[2022-10-05 03:23] alanrenmsft commented on #4904
@myusrn this extension won't be available in vscode, it is based on the connection provider/query provider/dashboard features that are only available in ADS.

you can try to install the vsix directly on the ADS stable build, If I remember correctly, there were some changes in ADS core made after the current stable release.

[2022-10-05 04:42] alanrenmsft commented on #4904
ADS has the same keyboard shortcuts settings: https://code.visualstudio.com/docs/getstarted/keybindings
and here are the key bindings you mentioned:
![image](https://user-images.githubusercontent.com/13777222/193982610-60221c22-f7bd-42b4-82b1-255ce79d9245.png)

if there are selected text, then the selected text will be executed.

[2022-10-05 06:58] #6068 closed

[2022-10-05 07:00] aasimkhan30 commented on #8928
We have added the ability to copy top operations. Closing this issue.

[2022-10-05 07:00] #8928 closed

[2022-10-05 07:03] aasimkhan30 commented on #18291
This feature is not present in insiders.

[2022-10-05 07:03] #18291 closed

[2022-10-05 07:04] aasimkhan30 commented on #18739
Old code is removed from the main

[2022-10-05 07:04] #18739 closed

[2022-10-05 07:07] aasimkhan30 commented on #19722
Copying data is added to table

[2022-10-05 07:07] #19722 closed

[2022-10-05 07:58] nielsvdc opened #20726 "Tenant in connection not retained"
- Azure Data Studio Version: 1.39.1
- OS Version: 10.0.17763

Issue Type: <b>Bug</b>

Steps to Reproduce:

1. Create a connection with a SQL database in a foreign tenant and connect.
2. Edit the connection.
3. You'll see the tenant has changed to the default tenant.

1. Create a connection with a SQL database in a foreign tenant and connect.
2. Open a query tab connected to the foreign database.
3

[2022-10-05 08:01] nielsvdc commented on #20517
Steps to Reproduce:

1. Create a connection with a SQL database in a foreign tenant and connect.
2. Edit the connection.
3. You'll see the tenant has changed to the default tenant.
---

1. Create a connection with a SQL database in a foreign tenant and connect.
2. Open a query tab connected to the foreign database.
3. Disconnect
4. Click Connect button on the query tab and select the connection to

[2022-10-05 12:08] yahorsi commented on #4904
cannot see it, Im on mac
<img width="315" alt="image" src="https://user-images.githubusercontent.com/9819679/194056836-85c2561e-2239-4e7b-8953-dc0668e5297f.png">

[2022-10-05 13:57] sanpepo commented on #20676
![Captura](https://user-images.githubusercontent.com/114484380/194078633-d7e1ec9d-7c0b-4577-a8e9-29979a59d1cf.PNG)

[2022-10-05 16:37] calgrainger1990 opened #20727 "Unable to Export Data"
**Kernel:**  5.10.131-19114-g6651b07c6153 #1 SMP PREEMPT Thu Sep 1 19:07:41 PDT 2022 x86_64 GNU/Linux, (debian)
**Azure Data Studio Version:** Azure Data Studio build Version: 1.39.1
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T00:59:13.108Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Linux x64 5.10.131-19114-g6651b07c6

[2022-10-05 17:32] kisantia opened #20729 "Add 160 system dacpacs for sql projects"

[2022-10-05 17:32] Knuffa opened #20730 "Unable to authenticate Azure AD on both new Azure Data Studio install and old"
Issue Type: <b>Bug</b>

On my old install, where I had previously validated my Azure AD:
- Attempt to link Azure AD account by selecting the Accounts icon on the right-hand panel. See "Azure" and my old Corp account show up. Am told, "You need to refresh the credentials for this account."
- When I attempt to authenticate my Azure AD account (both through Azure Auth Code Grant or Azure Auth Device

[2022-10-05 18:03] aasimkhan30 commented on #5715
This is fixed in our top operations rewrite. Closing the issue for now.
![image](https://user-images.githubusercontent.com/6816294/194130217-7ebfb9a2-888b-450f-9236-1e23dbab38ed.png)

[2022-10-05 18:03] #5715 closed

[2022-10-05 18:06] #8927 closed

[2022-10-05 18:28] aasimkhan30 commented on #20110
duplicate of #20259

[2022-10-05 18:28] #20110 closed

[2022-10-05 19:01] IRCraziestTaxi commented on #4904
I enabled Preview Features in settings but also do not see the MySQL extension. I guess I need to actually install the Insiders version from build?

[2022-10-05 19:03] Reign-Beau commented on #7
I'm not in any position to determine why such a necessary feature has evaded development for so many years, but I can attest that it's painful. We really don't want to integrate any other IDE, but this is a required feature for big data. It sounds like we may have to make a tough decision soon. Please integrate this

[2022-10-05 19:04] chris-larsen commented on #4904
You need to install the insiders version of Azure Data studio (linked right above your comment) then download the vsix from here: https://github.com/microsoft/azuredatastudio-mysql

Then go into the extensions pane in Azure Data Studio and select install from vsix in this menu:

![image](https://user-images.githubusercontent.com/32186637/194141584-3f6e7512-68a9-41ae-9f00-68781abfcf3e.png)

[2022-10-05 19:09] cheenamalhotra commented on #20730
Hi @Knuffa

Could you test the same with Insiders build and let us know if you experience same behavior or solves issue?
You can download latest insiders build from here: [Try out the latest Insiders build from main](https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main)

[2022-10-05 19:28] IRCraziestTaxi commented on #4904
So after installing the extension from the extensions tab, it downloaded resources but then did fail to start. I didn't think to get the error before restarting.

Next, I downloaded `azuredatastudio-mysql-0.2.1-osx.vsix` from https://github.com/Microsoft/azuredatastudio-mysql/releases. After installing, I got this error:

[code]

Next I tried `azuredatastudio-mysql-0.2.1.vsix`, which just did what

[2022-10-05 19:30] chris-larsen commented on #4904
open terminal & try

`sudo chmod +x /Users/ircraziesttaxi/.azuredatastudio-insiders/extensions/microsoft.azuredatastudio-mysql-0.2.1/out/ossdbtoolsservice/OSX/v1.6.0-mysql/mysqltoolsservice/ossdbtoolsservice_main`

[2022-10-05 20:02] dsghi commented on #4904
FYI folks asking for help:

[2022-10-05 20:04] IRCraziestTaxi commented on #4904
I'm on MacOS Big Sur. I did try your `chmod` command and it resulted in the same error. It sounds like it might be a chip issue. :/ I guess I'll stay tuned for updates on that.

Thanks for the help, all. Looking forward to being able to ditch DBeaver!

[2022-10-05 20:06] ghood97 commented on #4904
@IRCraziestTaxi I had the same issue at first. What I did to fix it was I uninstalled ADS and deleted all of the files (some of the extension files hung around after uninstalling ADS) and then reinstalled and it worked fine. Unfortunately, I don't know where those extension files sit on MacOS but on windows it was in my AppData folder. Hope this helps.

[2022-10-05 20:16] smartguest commented on #20557
https://github.com/microsoft/azure-pipelines-tasks/issues/12901 This is a report of a similar, if not same issue from another user of Azure Pipelines

[2022-10-05 20:35] erinstellato-ms commented on #20249
@jjturner @MisinformedDNA Hey there - can either of you provide a repro script that we can quickly test/verify with here?  It's possible this is behavior in the engine, not an issue with how we're reading the XML of the plan, but an example would help us confirm.  Thanks!

[2022-10-05 20:36] erinstellato-ms commented on #19079
Updates made to properties window now allow entire text to be displayed when the cell is hovered over, and it can be copied.  For different sections, shading has been used instead of bolding.

[2022-10-05 20:36] #19079 closed

[2022-10-05 20:37] erinstellato-ms commented on #19054
@Charles-Gagnon This is consistent behavior - I expect that if we open the XML in a new editor, and a user wants to save it, it should save as .xml.  If they want to save the .sqlplan file, just go back to the graphical plan, right-click and save it.

[2022-10-05 20:37] #19054 closed

[2022-10-05 20:38] erinstellato-ms commented on #9010
This behavior is consistent across ADS and SSMS for estimated plans.  When viewing actual plans in the new query plan viewer feature in the latest release, the plans display correctly (and the same between ADS and SSMS).

[2022-10-05 20:38] #9010 closed

[2022-10-05 20:40] erinstellato-ms commented on #7987
To save the plan for further learning purposes, right-click on the plan and select Save Plan File.  If you just want an image of the plan, take a screen shot and save it as a file.  Make sure you are using the latest ADS and have query plan viewer enabled to see this functionality.

![image](https://user-images.githubusercontent.com/98599126/194159085-90e27a65-00e3-471c-8ae8-76bef7472803.png)

[2022-10-05 20:40] #7987 closed

[2022-10-05 21:01] IRCraziestTaxi commented on #4904
Well, this has been an adventure.

I found [this SO answer](https://stackoverflow.com/a/53857563/1778164) about `gettext` not being found, so I followed the instructions in that answer and installed `gettext` and re-linked it.

For some reason, homebrew didn't link it to a `/usr/local/opt` path like I thought it was supposed to... so after some fumbling around (because I don't know what I'm doing

[2022-10-05 21:07] MisinformedDNA commented on #20249
What kind of script? Like the whole DB?

[2022-10-05 21:37] lewis-sanchez opened #20734 "Remove Summary Section From Execution Plan Comparison Properties View"
The execution plan summary section in the execution plan comparison properties view isn't overly helpful and should be removed.
![image](https://user-images.githubusercontent.com/87730006/194168698-5b6c22eb-2d4c-4a7d-b2b9-564ac9054ef2.png)

[2022-10-05 21:57] #20729 closed

[2022-10-05 22:08] smartguest commented on #20557
From my findings of the pipeline, it appears any time you update an extension package or any file listed under build/npm/dirs.js the build cache key is reset as a result, this is by design according to the code. If any changes are made that DO NOT affect the extension package or node modules, the cache is preserved and will be reused.

[2022-10-05 22:11] lewis-sanchez opened #20736 "Add Not Equal Operator and Expand The Collapsed Properties Row Header Entry in Execution Plan Comparison Properties View"
Add a not equal operator to collapsed properties, so that users recognize that they are not equal and expand the entry. The not equal operator should go where the arrow in the image is indicating.
![image](https://user-images.githubusercontent.com/87730006/194172998-40797612-5d82-47aa-b7d1-e627e03995fe.png)

[2022-10-05 22:11] Charles-Gagnon commented on #20557
Make sure you're looking at the correct scripts - we use the [sql-product-compile](https://github.com/Microsoft/azuredatastudio/blob/5245a3fd1f393f3caf50622d65b7499415bc2633/build/azure-pipelines/sql-product-compile.yml) for our pipeline

Which uses [sql-computeNodeModulesCacheKey.ts](https://github.com/Microsoft/azuredatastudio/blob/a11beb71dabc84978cdc878b9fd7dade2cf2f630/build/azure-pipelines/c

[2022-10-05 22:16] Charles-Gagnon commented on #20557
As the above mentions - the main problem seems to be because we have separate pipeline jobs for Product Build, ad-hoc builds and PR runs. And that's just not something that the cache task supports - you can only share cache artifacts with other runs in the same pipeline (along with the additional scoping information detailed above).

So to "fix" this so they can more consistently reuse the same ca

[2022-10-05 22:22] smartguest commented on #20557
Yeah, just trying to see if nothing is malfunctioning under the current design as it is, so any changes to yarn.lock files plus a couple of other files. If nothing is out of the ordinary for the current design, I'll close this issue as Karl suggested I do.

[2022-10-05 22:24] Charles-Gagnon commented on #20557
We shouldn't close this issue - we haven't fixed anything and we can make improvements as I suggested above if we combine our pipelines all into a single ADO pipeline definition so they can actually reuse the cache artifacts.

[2022-10-05 22:28] smartguest commented on #20557
Alright then, so that'll take some time to figure out how to merge them all.

[2022-10-05 22:29] Charles-Gagnon commented on #20557
Alternatively - a simpler approach might be to just have a scheduled task on the PR pipeline that runs daily (or more often) on the main branch. That way all the PRs against main should be able to use the cache artifacts from that build.

We could even consider merging the canary build into the PR build (and rename it to just be `Azure Data Studio - Validation` or something more generic) since tha

[2022-10-05 22:32] Charles-Gagnon commented on #20557
This won't change anything for the product build, but we'll have to pull down the node_modules at *some* point regardless every time there's a change, and from looking at the history of the product build pipeline it does seem to be re-using the cache artifacts as expected.

(lately we've had a lot of yarn.lock changes so it hasn't been able to restore for a while, but when no changes are made I se

[2022-10-05 22:39] lewis-sanchez opened #20738 "Add Not Equal Operator When One of The Properties Is Null In Execution Plan Comparison Properties View"
Add a not equal operator when one of the properties being compared is null in the execution plan comparison properties view.
![image](https://user-images.githubusercontent.com/87730006/194176741-1c5dd05f-c76b-4113-8dfe-8e3fafb4fe73.png)

[2022-10-05 23:31] lewis-sanchez opened #20741 "Add Way to Expand and Collapse All Properties"
Add a way to expand and collapse all properties for a query execution plan, so that the user doesn't have to click on each individual collapsible section.

[2022-10-05 23:43] lewis-sanchez opened #20742 "Add Context Menu/Add Execution Plan Button to at the bottom half of the plan comparison screen"
The "Add Execution Plan" button in the top left corner of this screen is not easy to spot. The improvement here would be to add a context menu option and to change the "Add execution plans button to compare" information label to a button.

[2022-10-06 00:19] Charles-Gagnon commented on #20712
@djarami726 - So there's a root problem here that's hiding the real issue, you don't have the correct extension installed (because this is a new installation).

1. Open ADS (stable)
2. Go to the `Extensions` tab (ctrl + shift + x)
3. Enter `cosmosdb` into the filter bar
4. Click on the `Azure Cosmos DB API for MongoDB` extension and click the `Install` button
5. Wait for it to finish installing

A

[2022-10-06 01:48] #20734 closed

[2022-10-06 01:49] #20738 closed

[2022-10-06 01:59] Knuffa commented on #20730
Hi @cheenamalhotra , thanks for your speedy reply.

I installed the latest Data Studio Insiders build and this did not resolve the problem. On the stable build, attempting to link an account opened up an Edge window (Edge is my default browser). On the Insiders build, when I attempt to add an account, a notification shows up saying "Adding account..." but no browser is opened or is it apparent an

[2022-10-06 06:28] eggpa opened #20747 "SQL query plan icon is not rendered correctly"
Issue Type: <b>Bug</b>

SQL query plan icon is not rendered correctly. "Distribute Streams" node appears as an almost white rectangle. Please see screenshot below.
![image](https://user-images.githubusercontent.com/40495747/194229834-b67861e7-3e7e-4e18-a505-a9a392a67e94.png)

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS v

[2022-10-06 08:14] poojapatil36 opened #20748 "A11y_Azure Data Studio_Query Plan (Preview)_ColorContrast: Color contrast ratio of keyboard focus of each node and its background is less than 3:1."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### **GitHubTags:**

#A11yMAS; #A11yTCS; #A11yWCAG2.1; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #ColorContrast; #WCAG1.4.11; #FTP; #Win11

### **Environment Details:**
Application Name: Azure D

[2022-10-06 09:44] poojapatil36 opened #20749 "A11y_Azure Data Studio_Query Plan (Preview)_Keyboard: Tooltip provided at each not is not accessible with keyboard."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #Win11 #Keyboard; #WCAG2.1.1; #FTP;

### Environment Details:
Application Name: Azure Data Studio
Windows Version: W

[2022-10-06 10:14] MarsRoboters opened #20750 "Failed to install automatically: SQL Server Import"
- Azure Data Studio Version:
- OS Version:

Steps to Reproduce:

1.
2.

Does this issue occur when all extensions are disabled?: Yes/No

[2022-10-06 12:56] yahorsi commented on #4904
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/9819679/194318355-0e29761d-c6dd-4462-be71-e0cef7c8010b.png">

[2022-10-06 13:35] codewithtomi commented on #7987
Well, its fine for such small query plan. What about very large plan that take multiple pages horizontally and vertically?

[2022-10-06 13:46] codewithtomi commented on #7987
@erinstellato-ms Hi. Sorry for me been unclear. The request is to copy query plan to clipboard as IMAGE in png format. So image would contain visual representation of  whole query plan.

[2022-10-06 13:57] erinstellato-ms commented on #7987
@codewithtomi Ok...but if plan is multiple pages horizontally and vertically, then creating it as an image likely means that the operators are really small and hard to read (see image below for 600 operator plan).  Further, the true value in plans isn't simply the graphical rendering, it's the information embedded in the XML which you can view in the Properties.  I hear your request, but it's not

[2022-10-06 15:23] nrogachev commented on #4904
@yahorsi try installing PostgreSQL@14 (brew install PostgreSQL@14)

[2022-10-06 15:47] yahorsi commented on #4904
@nrogachev why? I need it for mysql

[2022-10-06 15:59] chris-larsen commented on #4904
@yahorsi this is a architecture issue please see https://github.com/microsoft/azuredatastudio-mysql/issues/76

[2022-10-06 16:07] nrogachev commented on #4904
@yahorsi the guy above posted and it also helped me to get it running. I'm on Intel chip though,

[2022-10-06 16:17] rishky-msft opened #20753 "MySQL Extension Scripting options are not same across object explorer and dashboard for stored procedures."
- Azure Data Studio Version: 1.40.0 insider
- OS Version: Windows 11

Steps to Reproduce:

1. Install Mysql extension
2. Create stored procedure and check scritpting options on Object explorer and dashboard.
3. Dashboard shows an additional option of Script as Execute.

Does this issue occur when all extensions are disabled?: Yes/No

<img width="259" alt="Screenshot (15)" src="https://user-images.

[2022-10-06 16:18] rishky-msft opened #20754 "Firewall Rule Dialog support for MySQL Extension"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've consid

[2022-10-06 16:43] Charles-Gagnon commented on #20557
As a test I ran a PR build against main last night and it looks like that did work as expected

https://mssqltools.visualstudio.com/CrossPlatBuildScripts/_build/results?buildId=173685&view=logs&j=c7493abb-a1f4-533f-2d24-71780a69f247&t=5fc456a7-9c5f-500f-2da3-8aee44c87ba8

[code]

[2022-10-06 17:36] Charles-Gagnon opened #20756 "Query history item labels don't trim query text"
Currently we put the entire query history text as the label for the list item, which means that if we have an extremely long query then it can easily make it impossible to see the connection information.

![image](https://user-images.githubusercontent.com/28519865/194380097-ea273a14-7b1d-4db8-b719-291059d45900.png)

The scrollbar for tree views isn't enabled by default due to perf reasons, and ena

[2022-10-06 18:59] cheenamalhotra commented on #20730
Hi @Knuffa

Could you try the following:
1. Command Palette > Azure Accounts: Clear Azure Account Token Cache
2. Command Palette > Clear all saved accounts
3. Command Palette > Developer: Reload Window
4. Try adding a new Azure account

Let us know if you still have problem signing in to add a new Azure Account.

[2022-10-06 20:26] PacoRivera13 commented on #5173
Same error: **"Object Exporer task didn't complete within 45 seconds"**

Version: **1.39.1 (system setup)**
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:11:13.047Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

[2022-10-06 20:27] PacoRivera13 commented on #3270
Same error: "Object Exporer task didn't complete within 45 seconds"

Version: 1.39.1 (system setup)
Commit: https://github.com/microsoft/azuredatastudio/commit/7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:11:13.047Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.19043

[2022-10-06 20:39] Benjin commented on #20398
Fixed in DacFx

[2022-10-06 20:39] #20398 closed

[2022-10-06 20:40] Benjin commented on #20678
[Fixed in DacFx](https://msdata.visualstudio.com/SQLToolsAndLibraries/_git/DacFx/commit/bbdd8db35f574383b47b58244c63e5f49e98b2ed?refName=refs%2Fheads%2Fmain)

[2022-10-06 20:45] #20736 closed

[2022-10-06 20:51] #20557 closed

[2022-10-06 20:55] Charles-Gagnon commented on #20593
Currently waiting until this fails again to see if the extra logging Aasim added helps pinpoint the issue.

[2022-10-06 21:01] Charles-Gagnon commented on #20557
Updated the PR pipeline to run against main daily which should let PR runs re-use that cache (as long as they aren't changing anything in package.json's)

Further improvements/consolidations can be considered later if this continues to be an issue with failed yarn installs.

[2022-10-06 22:04] #18576 closed

[2022-10-06 22:13] jjturner commented on #20249
@erinstellato-ms - first off, it's an honor to have your assistance on this - thanks for all your SQL contributions over the years!

As for the test case, I'm afraid I don't have a readily available AdventureWorks I can leverage for this.  BUT, this appears to be very simple to reproduce.  Running a query against a single sizable table with clustered index using the following air-code template:

`

[2022-10-06 22:26] Knuffa commented on #20730
Hi @cheenamalhotra -- That worked, thank you! Do you mind if I ask why that worked?

[2022-10-06 22:26] #20730 closed

[2022-10-07 00:03] cheenamalhotra commented on #20730
Sometimes stale account caches can cause ADS to load inconsistent data, so cleaning up caches/accounts comes handy tool in times like these :)

[2022-10-07 00:15] alanrenmsft commented on #16125
I've started working on the ARM64 macOS support, I noticed that vscode has 3 flavors, Intel, Apple Silicon and Universal. I understand the Universal one can run on both Intel chip and Apple Silicon, but why is it needed at all? why are folks not using Intel build or Apple Silicon build directly?

[2022-10-07 00:54] winzig commented on #16125
Universal probably not needed for a dev tool like vscode, but the general idea is that most consumers are not going to know what chip architecture they're running, so best bet for a mainstream app is to offer a universal build that can run on any Mac.

[2022-10-07 01:03] cuong0993 commented on #16125
I believe 3 flavours can serve all users.
The universal one is for people who do not care what CPU architecture is. Just download it and use it on every MAC.
However, its size is larger than Intel/M1 ones then will increase download bandwidth.
And maintaining all 3 flavours need more effort from developers.
Then please consider trade-offs.

[2022-10-07 01:07] TommyLeng commented on #20052
![image](https://user-images.githubusercontent.com/95701513/194445016-39aad01c-e364-4fcf-9fc7-7dd76dfcad8d.png)

I got the same problem using visual studio 2022

[2022-10-07 01:53] alanrenmsft commented on #16125
Thanks @winzig @cuong0993

[2022-10-07 03:47] #20741 closed

[2022-10-07 07:36] poojapatil36 opened #20764 "A11y_Azure Data Studio_Query Plan (Preview)_ScreenReader: NVDA announcing as expanded for Clustered Index Seek node."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #ScreenReader; #WCAG4.1.2; #FTP; #NVDA; #Win11

### Environment Details:
Application Name: Azure Data Studio
Windows

[2022-10-07 12:02] Rama8345 opened #20765 "A11y_Azure Data Studio_Query Plan (Preview)_ScreenReader: NVDA is not announcing tooltip present at any node."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #ScreenReader; #WCAG1.3.1; #FTP; #NVDA; #A11YCAIOH; #Regressed:11-02-22; #Closed

### Environment Details:
Applicati

[2022-10-07 15:19] kyletanders commented on #20497
Just want to add my 2 cents here, this is a big problem for me.  I often have to switch over to SSMS because the output pane is so buggy.  The outer scroll often gets stuck and doesn't actually scroll like it should.

[2022-10-07 18:13] JohnnySanabria opened #20767 "Session not initializing after creating new session"
Issue Type: <b>Bug</b>

I've launched the Profiler and now I simply need to start the session, but there is nothing to select in the "Select Session" dropdown. No matter how many sessions I create, none of them are available and the session is unable to start. There are no visible errors, it simply doesn't work.

Extension version: 0.11.0
Azure Data Studio version: azuredatastudio 1.39.1 (7553f799

[2022-10-07 19:12] Benjin commented on #20052
@sgarwood, @tlentine  I'm having the darndest time reproing this issue.  I think I've followed your setup to a T, but let me know if I missed any step:

1. [SSDT, Windows] Create new SQL project, and add a stored procedure to the project so that there's something with exact text preserved.
2. [SSDT, Windows] Check the project into git repo
4. [SSDT, Windows] Publish the project to a SQL Server 201

[2022-10-07 20:08] ishazel opened #20768 "Button to refresh script connection (to delete temporary tables)"
Hi, huge fan of ADS 👏🏻

While working on reports, I often end up disconnecting then reconnecting to the server in order to quickly delete all temporary tables so I can hit the "run" button without issue to test the script. It would be nice if there was a button to refresh an existing connection.

[2022-10-07 21:26] alanrenmsft commented on #20472
@dbainscp Did you enable the setting `mssql.parallelMessageProcessing` when you ran into the issues/.

[2022-10-07 21:42] lucasmarotta commented on #12185
@kisantia I don't understant why this is not present. Right now I have HUGE ISSUE, when publishing, since every time is added to the script "REVOKE CONNECT TO" to all users, and only removes by unchecking "Drop Objects Not in Source" which is not desirable, since I may want to delete some tables etc. I tried to Exclude Users, Login and Permissions without success. So even this is a differente issu

[2022-10-07 22:34] kisantia commented on #19528
only happens when comparing to an empty project. When comparing to the dacpac built from the empty project, the comparison is as expected:

one table project compared to empty project's dacpac
![image](https://user-images.githubusercontent.com/31145923/194671580-0635dbf3-005c-41ae-a7cb-dc4e526de56a.png)

one table project compared to empty project
![image](https://user-images.githubusercontent.com

[2022-10-07 23:04] kisantia commented on #15071
I found why these grant permissions aren't being added when the project is created from the database. In SSDT, there's an option "Import permissions" that is unselected by default. If that option is checked, then the grant permissions are added to the project and there are no differences when comparing the project to the db.

![image](https://user-images.githubusercontent.com/31145923/194673325-27

[2022-10-08 00:07] Charles-Gagnon opened #20773 "ConnectionProfiles created with unknown provider break after provider is installed"
In [ProviderConnectionInfo](https://github.com/Microsoft/azuredatastudio/blob/main/src/sql/platform/connection/common/providerConnectionInfo.ts) any options that are set do a special lookup to get the correct option name to use for storing/lookup. But if the provider doesn't exist when the profile is created then it falls back to using the general name to store the values in the options map (for e

[2022-10-08 00:08] Charles-Gagnon commented on #20773
@alanrenmsft FYI

[2022-10-09 21:49] alanrenmsft opened #20775 "Use native osx-arm64 builds for services that some extensions depend on."
The following extensions have dependencies on services that should have osx-arm64 native builds.

- [x] 1. mssql
- [x] 2. mysql - https://github.com/microsoft/azuredatastudio-mysql/issues/76
- [ ] 3. pgsql - https://github.com/microsoft/azuredatastudio-postgresql/issues/301

[2022-10-09 22:22] Timothyoverton commented on #3270
Same issue for me,

Version: 1.39.1 (user setup)
Commit: 7553f799e175f471b7590302dd65c997b838b29b
Date: 2022-08-30T01:11:13.047Z
VS Code: 1.62.0
Electron: 13.6.6
Chrome: 91.0.4472.164
Node.js: 14.16.0
V8: 9.1.269.39-electron.0
OS: Windows_NT x64 10.0.22000

[2022-10-10 06:48] poojapatil36 opened #20777 "A11y_Azure Data Studio_Query Plan (Preview)_ScreenReader: NVDA announcing as graphic link for the images present in tree view"
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #ScreenReader; #WCAG4.1.2; #FTP; #NVDA

### Environment Details:
Application Name: Azure Data Studio
Windows Version

[2022-10-10 07:06] rishky-msft commented on #4904
Hi @nrogachev @yahorsi @IRCraziestTaxi @ghood97 @dsghi @vitorgga

Can you try out this VSIX in latest Azure Data Studio insider and check if this resolves the issues on MAC. (Both intel and arm based)
https://github.com/microsoft/azuredatastudio-mysql/releases/download/v0.2.2-alpha.1/azuredatastudio-mysql-0.2.2-alpha-1.vsix

This does not have dependency on installing postgresql@14.
It should work

[2022-10-10 07:08] poojapatil36 opened #20778 "A11y_Azure Data Studio_Query Plan (Preview)_ScreenReader: NVDA not announcing navigation key information at each node"
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #ScreenReader; #WCAG1.3.1; #FTP; #NVDA; #Win11; #JAWS

### Environment Details:
Application Name: Azure Data Studio

[2022-10-10 07:18] Rama8345 opened #20779 "A11y_Azure Data Studio_Toolbar_Top Operations_Keyboard: We are not able to access column headers of the "Top Operations" grid by a keyboard."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #Keyboard; #WCAG2.1.1; #FTP;

### Environment Details:
Application Name: Azure Data Studio
Windows Version: Windows

[2022-10-10 07:35] Rama8345 opened #20780 "A11y_Azure Data Studio_Toolbar_Top Operations_ScreenReader: NVDA is not announcing column header association for any of the data cell."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #ScreenReader; #WCAG1.3.1; #FTP; #NVDA

### Environment Details:
Application Name: Azure Data Studio
Windows Version

[2022-10-10 07:39] Truptik12 opened #20781 "A11y_Azure Data Studio_Toolbar_FindNode_Label: Visual label is not provided for combo boxes in the Find node pop up."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #HeadingsandLabels; #WCAG2.4.6; #FTP;

### Environment Details:
Application Name: Azure Data Studio
Windows Version:

[2022-10-10 07:53] Truptik12 opened #20782 "A11y_Azure Data Studio_Toolbar_FindNode_Zoom: At resize, the combo box is not visible completely"
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #Zoom; #WCAG1.4.4; #FTP;

### Environment Details:
Application Name: Azure Data Studio
Windows Version: Windows 11

[2022-10-10 08:04] Truptik12 opened #20783 "A11y_Azure Data Studio_Toolbar_Properties_ScreenReader: The screen reader is not announcing the expanded/Collapsed state of the row."
### Actual:
The screen reader is not announcing the expanded/Collapsed state of the row.

### Expected Result:
The screen reader shoukd announce the expanded/Collapsed state of the row.

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #NVDA; #WCAG1.31; #FTP;

### Environment Details:
Application Name: Azure Data Studio
Wi

[2022-10-10 08:11] Rama8345 opened #20784 "A11y_Azure Data Studio_Toolbar_Top Operations_ScreenReader: NVDA is announcing the column number and column number sequence incorrectly."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #ScreenReader; #WCAG4.2.3; #FTP; #NVDA

### Environment Details:
Application Name: Azure Data Studio
Windows Version

[2022-10-10 08:15] Truptik12 opened #20785 "A11y_Azure Data Studio_Toolbar_Properties_Keyboard: The tooltips in the table are not keyboard accessible."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #Keyboard; #WCAG2.1.1; #FTP;

### Environment Details:
Application Name: Azure Data Studio
Windows Version: Windows

[2022-10-10 08:23] Truptik12 opened #20786 "A11y_Azure Data Studio_Toolbar_Properties_ScreenReader: Same name property is provided for the "Alphabetical" buttons present in the toolbar."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #NVDA; #WCAG4.1.2; #FTP;

### Environment Details:
Application Name: Azure Data Studio
Windows Version: Windows 11

[2022-10-10 10:25] MrHippo85 opened #20787 "Table Designer Error - "An error occurred while initializing the table designer: Object reference not set to an instance of an object""
Hi there

I am for some reason unable to use the Table Designer, as keep getting an "An error occurred while initializing the table designer: Object reference not set to an instance of an object" error.

Full error details:
   at Microsoft.Data.Tools.Sql.DesignServices.TableDesigner.TableDesigner..ctor(String connectionString, String accessToken, String schemaName, String tableName, Boolean isNewT

[2022-10-10 12:01] rishky-msft opened #20789 "Azure Tab object explorer is sending connection request on expanding databases"
- Azure Data Studio Version: 1.40.0 insider
- OS Version: Windows 11

Steps to Reproduce:

1. Run mysql extension and connect to mysql server in Azure Tab. Expand 'Databases'. Check the logs a new connection request is being sent instead of object explorer expand/refresh request.

Check the below picture.
On expanding databases in object explorer, a new connection request is being sent instead of

[2022-10-10 16:41] alanrenmsft commented on #20787
@caohai could you please follow up on this issue?

@MrHippo85 do you happen to have azure data studio insider build installed? please give it a try and see whether you are still seeing the same problem, it can be installed from here: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main

[2022-10-10 16:45] alanrenmsft opened #20792 "nls.metadata.json in mssql extension's dist folder is generated differently for osx-arm64 and osx-x64"
the only difference is the location of entry "prompts/confirm"

![image](https://user-images.githubusercontent.com/13777222/194915393-f27c66a8-77d0-4d1b-8a1c-b711c16764cf.png)

[2022-10-10 17:06] caohai commented on #20787
@alanrenmsft Sure.
@MrHippo85 Can you share the sql server version you are using? Can you also try table designer on a different sql server and see if you still have this issue?

[2022-10-10 17:43] barbaravaldez opened #20795 "Scroll not working when searching in notebook"
1. Open a notebook with contents
2. Search for a word and press enter
3. The word is highlighted but the notebook is not scrolling to the search result.

[2022-10-10 18:37] Rama8345 opened #20796 "A11y_Azure Data Studio_Toolbar_Zoom In_Zoom: At resize the tooltip present at some of the nodes are getting truncated."
“[Check out Accessibility Insights! ](https://accessibilityinsights.io/)- Identify accessibility bugs before check-in and make bug fixing faster and easier.”

### GitHubTags:
#A11yMAS; #A11yTCS; #A11ySev2; #SQL Azure Data Studio; #SH-SQL Azure Data Studio-Win32-OCT2022; #DesktopApp; #Zoom; #WCAG1.4.4; #FTP; #Regressed:11-01-22; #Closed

### Environment Details:
Application Name: Azure Data Studio

[2022-10-10 18:48] #20795 closed

[2022-10-10 20:04] #20712 closed

[2022-10-10 21:53] #20742 closed

[2022-10-10 22:59] alanrenmsft commented on #20785
@Truptik12
dupe of: https://github.com/microsoft/azuredatastudio/issues/19566
we've already have a sev3 issue for AzureDataStudio.
please close the issue.

[2022-10-10 22:59] alanrenmsft commented on #20749
@poojapatil36
dupe of: https://github.com/microsoft/azuredatastudio/issues/19566
we've already have a sev3 issue for AzureDataStudio.
please close the issue.

[2022-10-10 23:04] alanrenmsft opened #20797 "clean up the macos signing related code/script in the build pipeline files"
vscode is doing it differently now.
1. keep ours similar to vscode
2. review the keys we are using
3. document how it works

[2022-10-11 03:16] cyberguyvk opened #20799 "Unable to locate SQLCMD mode after a recent update."
Issue Type: <b>Bug</b>

Not sure how, but after a recent ADS update, the SQLCMD mode is not visible.

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-10750H CPU @ 2.60GHz (12 x 2

[2022-10-11 04:32] Charles-Gagnon commented on #20799
Do you have preview features enabled?

![image](https://user-images.githubusercontent.com/28519865/194997512-4a7d8c70-7467-462d-b452-154c937f4f0f.png)

[2022-10-11 05:04] Charles-Gagnon opened #20800 "skf"
Issue Type: <b>Bug</b>

ksdfls

Azure Data Studio version: azuredatastudio Dev 1.40.0 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz (8 x 2995)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enabl

[2022-10-11 05:08] Charles-Gagnon opened #20801 "dfkl"
Issue Type: <b>Bug</b>

kdslf

Azure Data Studio version: azuredatastudio Dev 1.40.0 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz (8 x 2995)|
|GPU Status|2d_canvas: enabled<br>gpu_compositing: enable

[2022-10-11 05:08] IRCraziestTaxi commented on #4904
@rishky-msft It works! Thanks so much! I'm so glad to finally be able to ditch DBeaver!

[2022-10-11 05:12] Charles-Gagnon opened #20802 "sdfl"
Issue Type: <b>Bug</b>

sldfs

Azure Data Studio version: azuredatastudio Dev 1.40.0 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No
Preview Features: Enabled

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz (8 x 2995)|
|GPU Status|2d_canvas: enabled<

[2022-10-11 05:19] Charles-Gagnon opened #20803 "kdflsklsdf"
Issue Type: <b>Bug</b>

skdfl

Azure Data Studio version: azuredatastudio Dev 1.40.0 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No
Preview Features: Disabled

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz (8 x 2995)|
|GPU Status|2d_canvas: enabled

[2022-10-11 05:23] Charles-Gagnon opened #20804 "kdfls"
Issue Type: <b>Bug</b>

skldf

Azure Data Studio version: azuredatastudio Dev 1.40.0 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No
Preview Features: Enabled

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz (8 x 2995)|
|GPU Status|2d_canvas: enabled<

[2022-10-11 05:23] Charles-Gagnon opened #20805 "kdfls"
Issue Type: <b>Bug</b>

sdflks

Azure Data Studio version: azuredatastudio Dev 1.40.0 (9ca6200018fc206d67a47229f991901a8a453781, 2017-12-15T12:00:00.000Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No
Preview Features: Disabled

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|11th Gen Intel(R) Core(TM) i7-1185G7 @ 3.00GHz (8 x 2995)|
|GPU Status|2d_canvas: enable

[2022-10-11 06:05] cyberguyvk commented on #20799
I have. I am able to even see and use all the Preview extensions. But not able to see this.

[2022-10-11 07:20] dbainscp commented on #20472
They are all local, SQL Server databases.

Thanks -

David Bains
Analyst/Programmer, Enterprise Application Engineering
Information Technology Services
Cal Poly, San Luis Obispo, CA

Office: 805-756-5849
tech.calpoly.edu<https://tech.calpoly.edu/>

From: Christopher Suh ***@***.***>
Sent: Wednesday, August 24, 2022 5:31 PM
To: microsoft/azuredatastudio ***@***.***>
Cc: David S. Bains ***@***.***>;

[2022-10-11 08:22] ALZDBA commented on #20357
Is there an ETA for filegroup specification in ADS Server - database - New Table ( and index ) ?

[2022-10-11 08:40] Thijs9955 commented on #19213
Unfortunately I cannot do that anymore. To fix the issue I reinstalled windows and Azure Data Studio. This fixed the issue.

Van: github-actions[bot] ***@***.***>
Verzonden: vrijdag 6 mei 2022 22:18
Aan: microsoft/azuredatastudio ***@***.***>
CC: Thijs van Berkel ***@***.***>; Author ***@***.***>
Onderwerp: Re: [microsoft/azuredatastudio] Unable to add account via 'Accounts' after reinstall (Issue

[2022-10-11 10:36] msingstad opened #20806 "Support for changes on `db_data[reader/writer]`-roles"
Issue Type: <b>Bug</b>

When trying to 'Update project from database' we get the following error:
[code]

We have localized the error to a change in the Database Roles `db_datareader` and `db_datawriter`. As these do not exist as files in our Database Project we cannot change the roles between our environments usign code. That is OK in our case, but the real bug is that the Schema Compare tries to

[2022-10-11 14:45] Charles-Gagnon commented on #20804
Just testing something 😆

[2022-10-11 14:45] #20804 closed

[2022-10-11 14:45] Charles-Gagnon commented on #20803
Just testing something 😆

[2022-10-11 14:45] #20803 closed

[2022-10-11 14:45] Charles-Gagnon commented on #20802
Just testing something 😆

[2022-10-11 14:45] #20802 closed

[2022-10-11 14:45] #20801 closed

[2022-10-11 14:46] Charles-Gagnon commented on #20800
Just testing something 😆

[2022-10-11 14:46] #20800 closed

[2022-10-11 15:12] Charles-Gagnon commented on #20799
Can you take a screenshot of what the editor toolbar looks like? e.g.

![image](https://user-images.githubusercontent.com/28519865/195130219-62c4dc70-d12d-48ba-92f3-866241bd5214.png)

[2022-10-11 15:26] erinstellato-ms commented on #20357
@ALZDBA We don't have an ETA at this time, addressing some other issues we determined were a higher priority.  While many folks do use non-default FGs, there is a vast majority that uses the default of PRIMARY.  As a workaround, the CREATE TABLE statement can be scripted and then users can manually change the filegroup from PRIMARY in the script.

However, if you can get folks who also find value

[2022-10-11 15:27] alanrenmsft commented on #16125
Support for Apple Silicon is now available for Azure Data Studio Insiders build, please give it a try and let us know if you run into any issues, you can get it from: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main
![image](https://user-images.githubusercontent.com/13777222/195130678-784da537-593f-4270-9ef7-fd58ff02db75.png)

If everything goes well, we sho

[2022-10-11 16:02] cheenamalhotra commented on #20768
Hi @ishazel

ADS does support 'Refresh' on existing connections, may I know which version of ADS you're using?

![image](https://user-images.githubusercontent.com/13396919/195142212-34122fe1-87c5-4322-9905-d9fda8dc7fd2.png)
_(Captured from Azure Data Studio v1.39.1)_

[2022-10-11 16:09] ishazel commented on #20768
Ah I didn't think to look there, I was thinking of a refresh button in the toolbar and/or a command.

That said, using the method you shared does not achieve the same result as disconnecting then reconnecting the query to its connection. Refreshing from the connections panel does not seem to clear temporary tables.

I'm using Insiders 1.40.0

[2022-10-11 16:45] cheenamalhotra commented on #20768
Yes, that is not going to clear temp tables created in query window as in both places, physical connections to database are different. The possible way right now is to disconnect and reconnect as you mentioned.

We'll look into this!

[2022-10-11 17:07] ishazel commented on #20768
Thank you! I hope one day I can help contribute to this amazing piece of software 🥰

[2022-10-11 18:55] alanrenmsft commented on #4904
for those on Apple Silicon, please try out the new Azure Data Studio Insiders build for Apple Silicon, details can be found here: https://github.com/microsoft/azuredatastudio/issues/16125#issuecomment-1274881795

@yahorsi

[2022-10-11 18:56] alanrenmsft commented on #20599
please share the data requested and we will reopen the issue and investigate.

[2022-10-11 18:56] #20599 closed

[2022-10-11 18:58] alanrenmsft commented on #20727
@caohai could you please give it a try on Linux?

[2022-10-11 19:02] alanrenmsft commented on #20709
select top 1000: dupe of https://github.com/microsoft/azuredatastudio/issues/20709, for table designer, it is not currently supported. I will hide the menu items for it.

[2022-10-11 19:04] alanrenmsft commented on #20767
what type of sql server are you connecting to just normal Azure SQL Database?

[2022-10-11 20:18] caohai commented on #20727
@alanrenmsft I just tried "Save to CSV" from query result on my Ubuntu 20.04 machine and it's working fine.

![image](https://user-images.githubusercontent.com/21186993/195190075-2073254d-a1f1-451f-951c-f45041d1c69c.png)

[2022-10-11 21:18] alanrenmsft commented on #20727
@caohai could you please set up a Debian VM and try on it?

[2022-10-11 21:37] alanrenmsft commented on #20789
@rishky-msft
this is by design, a connection to the database is made directly from there. I think the root cause is the mysql extension is not able to handle direct database connection properly, see image below, I am connecting to my database directly, but the view I am getting is server view.
![image](https://user-images.githubusercontent.com/13777222/195203002-63f6105a-5f6d-4e50-b9d2-faeee6a3a4e

[2022-10-12 00:55] alanrenmsft commented on #20789
looked into the code a bit more, I think I can make the tree structure work but I am not confident not to break the context menu without spending considerable amount of time.

so it would be better for you to just fix the problem on your end since it is needed anyway.

[2022-10-12 01:03] alanrenmsft commented on #20391
@candiceye if I remember correctly, this is not a blocking issue let me know if this becomes a problem for customers.

[2022-10-12 03:17] alanrenmsft commented on #20754
ADS provides a generic firewall rule handling experience, to leverage it for your extension, you need to register a resource provider in your extension by calling the `azdata.resources.registerResourceProvider()` method: https://github.com/microsoft/azuredatastudio/blob/5f8cefc45c46c66625cfae5b83886c85ce6c172f/src/sql/azdata.d.ts#L2638

example of mssql extension using this API:
https://github.com

[2022-10-12 03:17] #20754 closed

[2022-10-12 03:18] alanrenmsft commented on #20317
@Charles-Gagnon one gift for you, please put it in the desired milestone.

[2022-10-12 13:57] MrHippo85 commented on #20787
Hi there @alanrenmsft / @caohai!

Thanks for getting back to me.

The SQL server version I am using is 12.0.2000.8. I have tried replicating the issue on ADS Insider and the same error message is displayed unfortunately.

I have also tried to use the Table Designer in an Azure Synapse server instance, but again, get the same message.

Many thanks for your assistance thus far - this would be a mass

[2022-10-12 14:03] tuxpoldo commented on #16125
Thank you VERY MUCH!

[2022-10-12 14:58] jxc517 opened #20818 "Spinning forever "Loading Account""
Issue Type: <b>Bug</b>

Unable to connect to any profile. When trying to click on Accounts it keeps spinning "Loading Accoutns" for hours but nothing shows up. Checked default browser settings and everything but nothing pops-up for MFA or anything.

<img width="616" alt="image" src="https://user-images.githubusercontent.com/78751982/195377950-3e509568-db75-44e1-9b23-beeb3e71090a.png">

Azure Data

[2022-10-12 15:26] timothyhoffmann opened #20819 "Query results grid hyperlinks random text"
Issue Type: <b>Bug</b>

ADS seems to think (....) syntax is a hyperlink so if I click on the cell to select the text I get jumped to a new tab.

![image](https://user-images.githubusercontent.com/28546239/195384112-24f1271b-a6bf-4e5b-b3ce-215b1ba05282.png)

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT

[2022-10-12 15:37] alanrenmsft commented on #20787
@MrHippo85 is it an Azure SQL DB? what is the pricing tier of the database? please let us know all the information about the database (without personal/sensitive information) so that we can reproduce the issue.

[2022-10-12 17:49] caohai commented on #20787
@alanrenmsft I setup a Debian machine and did a quick test with my Azure SQL Server and couldn't repro.
![image](https://user-images.githubusercontent.com/21186993/195412990-72fcdc80-4943-4a91-baea-40213e711e9e.png)

[2022-10-12 18:07] alanrenmsft commented on #20787
@caohai Debian is for a different issue with query results exporting not with this issue.

[2022-10-12 18:09] caohai commented on #20787
oops, mixed the two issues.....

[2022-10-12 18:11] caohai commented on #20727
@alanrenmsft I tested on Debian 11 and it's working fine for me.
![image](https://user-images.githubusercontent.com/21186993/195417115-4e1deb8d-f55f-44fb-912b-87b901d5d4c8.png)

[2022-10-12 18:22] alanrenmsft commented on #20819
it is actually the `{}` that made ADS think it is a json string, clicking the cell will open a new tab with the cell content formatted as JSON.

[2022-10-12 18:23] alanrenmsft commented on #20819
we can try to improve the regex to detect JSON strings.

[2022-10-12 18:28] kisantia opened #20821 "Schema compare project to db shows differences in ADS, but not in SSDT"
After creating a project from db in ADS with the "include permissions" option checked, the project and database should not show any differences when schema compared.

SSDT shows no differences:
![image](https://user-images.githubusercontent.com/31145923/195419946-34ea58bf-7559-49ca-bfb4-5b740f62ff39.png)

Comparing the same project and db in ADS shows 3 differences:
![image](https://user-images.gi

[2022-10-12 18:43] sqlworldwide opened #20822 "Notebook Jobs UI does not render"
Issue Type: <b>Bug</b>

When I click the "New Notebook Job" button, the form is empty with two buttons at the bottom. Those two buttons are Ok and Cancel.

Extension version: 0.49.0
Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.22000
Restricted Mode: No

<details>
<summary>System Info</summary>

[2022-10-12 19:07] kchungmsft commented on #20611
I noticed on version 1.30.0 that the PageUp/PageDown behavior is slightly better. However, this doesn't work:

1. Run a SQL query with large result set
2. Hold PageDown for a few seconds, this works
3. Let go of the button
4. Hold PageDown/PageUp for a few seconds, this no longer works.

[2022-10-12 20:02] erinstellato-ms commented on #20249
@jjturner Thanks for the feedback and for the example!  Unfortunately, I'm still not able to recreate it.  I'm using ADS 1.39 against SQL Server 2019.  What version of SQL are you running (and if Azure SQL DB or MI, please let me know).

SELECT TOP 100
   o.orderid, o.backorderOrderid
FROM Sales.Orders AS o
WHERE o.orderdate = '20180101'

![image](https://user-images.githubusercontent.com/98599126

[2022-10-12 20:35] jjturner commented on #20249
Hmm... it's looking like SQL version may be the issue - can confirm I'm still getting the duplication on my side:

- Microsoft SQL Server 2016 (SP3-CU1-GDR) (KB5015371) - 13.0.7016.1 (X64)       May 21 2022 01:00:03    Copyright (c) Microsoft Corporation       Enterprise Edition: Core-based Licensing (64-bit) on Windows Server 2016 Datacenter 10.0 <X64> (Build 14393: ) (Hypervisor)
- ADS 1.39.1

[2022-10-12 20:44] candiceye commented on #20391
@alanrenmsft Yep, not blocking issue.

[2022-10-12 20:44] #20391 closed

[2022-10-12 20:47] erinstellato-ms commented on #20249
@jjturner I can create the behavior in SQL 2016, but not in SQL 2019.  So, it's a bug in the engine/optimizer that was fixed in a later release, and not an ADS bug.  Hope this helps, let us know if you need anything else.

[2022-10-12 21:10] timothyhoffmann commented on #20819
Thanks, these are string.format style text values.

[2022-10-12 21:17] jjturner commented on #20249
Gave myself a sanity check by running SSMS with same query against same SQL instance/db:

SSMS:
![image](https://user-images.githubusercontent.com/16421109/195448864-cbbfdd20-ac62-4bc6-bfd3-ad07e118746d.png)

ADS:
![image](https://user-images.githubusercontent.com/16421109/195448946-68401744-0e3e-4b29-a94d-ce7c027b4318.png)

So now I'm confused!  How can the engine/optimizer render properly in one

[2022-10-12 21:44] #20041 closed

[2022-10-12 22:04] erinstellato-ms commented on #20249
Ahhh, I see where I made a mistake. You are correct, and thank you for the continued testing!  I will re-open and we'll see if we can get it addressed before the next release.

And thank you for the feedback!  If you are interested in being part of a focus group I'm trying to put together, please feel free to email me.  It's erinstellato at microsoft dot com.  Thanks again :)

[2022-10-12 22:13] erinstellato-ms commented on #20249
Steps to recreate:
1. Connect to the sqltools server for 2016.
2. Open a new query window for the keep_MDW database.
3. Enable the actual execution plan and run the query below:

SELECT performance_counter_instance_id, snapshot_id, collection_time, formatted_value
from snapshots.performance_counter_values
WHERE raw_value_first = 23498

You will see this for 2016:
![image](https://user-images.githu

[2022-10-12 22:14] erinstellato-ms commented on #20249
@aasimkhan30 @lewis-sanchez checking to see if we can take this for the release...we need to make sure we're generating the missing index recommendation T-SQL correctly.  Thanks!

[2022-10-12 22:22] Charles-Gagnon opened #20825 "Query History - Limit size of saved queries"
Currently we don't have any sort of limit on the size of saved queries - both the size of each query and the overall size of the saved file. To ensure there aren't perf issues we should add some checking around that. Probably by adding a size limit setting the user can change - and then popping up a warning if they run into that limit.

[2022-10-12 22:31] lewis-sanchez commented on #20249
@erinstellato-ms, I think Aasim will need to take that one. I'm going to be OOF for 2 weeks starting next Monday.

[2022-10-12 23:08] alanrenmsft commented on #19921
@aasimkhan30 could you please take care of this one?

[2022-10-12 23:09] aasimkhan30 commented on #19921
This is already done. I will find the pr, mention it here and close the issue

[2022-10-12 23:20] alanrenmsft commented on #20417
@MortenMeisler Issue with the extension should be opened in the extension's repo, I've created an issue for you this time: https://github.com/Azure/azure-cosmosdb-ads-extension/issues/37.

[2022-10-12 23:20] #20417 closed

[2022-10-12 23:26] #20819 closed

[2022-10-13 00:03] aasimkhan30 commented on #19921
This issue was addressed by this PR https://github.com/microsoft/azuredatastudio/pull/20514. Closing it for now.

[2022-10-13 00:03] #19921 closed

[2022-10-13 01:45] raycelgraterol opened #20831 "Select top 1000 do not run"
Issue Type: <b>Bug</b>

When I click "Select top 1000" in rigth click of the table the select do not performance do not run

Azure Data Studio version: azuredatastudio 1.39.1 (7553f799e175f471b7590302dd65c997b838b29b, 2022-08-30T01:11:13.047Z)
OS version: Windows_NT x64 10.0.22621
Restricted Mode: No

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-1005G