[2020-12-04 17:33] siromega opened #13671 "Table is very slow to populate when query includes geometry/geography column"
- Azure Data Studio Version: 1.24.0

Steps to Reproduce:

1. Have a table in the DB that contains geometry or geography. In my case I used a table that had the 3200+ counties of the United States.
2. Run a select query against the table by itself. If the table has more than a few hundred records and the geometry/geography is in the dataset returned, Azure Data Studio takes a long time to render th

[2020-12-04 17:44] SakshiS-harma opened #13672 "Create new project and open project UI to have more meaningful button names"
Open "Create new project" UI from workspace.
![image](https://user-images.githubusercontent.com/57200045/101195814-d4a8a500-3614-11eb-934a-58ce9d5564d0.png)

Open "Open existing" UI from workspace.
![image](https://user-images.githubusercontent.com/57200045/101195999-0e79ab80-3615-11eb-89a8-2e3da3bba213.png)

"Create project from database" UI already follows this ("Create" button instead of "OK").

[2020-12-04 17:58] SakshiS-harma opened #13674 "Adding a folder to a workspace/opening that workspace doesn't open sqlproj files under that folder"
Steps to Reproduce:

1. Open a workspace.
2. Add a folder that has sqlproj file in it.

Actual: no projects are opened, though folder opens up under Explorer.
![image](https://user-images.githubusercontent.com/57200045/101197630-39fd9580-3617-11eb-92ed-df539d0f9bef.png)

Expectation: projects under the folder should open in Projects workspace.

![image](https://user-images.githubusercontent.com/57

[2020-12-04 18:02] kburtram commented on #13452
Looks fine to me with the latest builds now.

![image](https://user-images.githubusercontent.com/599935/101198099-c9a34400-3617-11eb-9235-4a7906362b46.png)

[2020-12-04 18:02] #13452 closed

[2020-12-04 18:12] barbaravaldez commented on #13659
Closing since the fix has been merged into main and it'll be on next release.

[2020-12-04 18:12] #13659 closed

[2020-12-04 18:41] SakshiS-harma opened #13677 "No informational message presented before overwriting workspace file"
Steps to Reproduce:

1. Open an existing workspace with a few projects in it.
![image](https://user-images.githubusercontent.com/57200045/101201163-21dc4500-361c-11eb-893c-0dbd4cf1936e.png)

2. Close workspace (all opened projects are removed).
![image](https://user-images.githubusercontent.com/57200045/101201983-716f4080-361d-11eb-9237-893e2b8f1e70.png)

3. Open a project, for which the sqlproj a

[2020-12-04 18:45] udeeshagautam commented on #13667
Bringing to Dec after confirming on regression

[2020-12-04 18:49] SakshiS-harma opened #13678 ""No workspace open" message isn't completely correct"
With no workspace open, the message in Projects is a little delusional
![image](https://user-images.githubusercontent.com/57200045/101202556-49cca800-361e-11eb-8711-4be7987e0a71.png)

There is no way to create a workspace from "Create new" button.

Also, in future when other type of projects contribute to workspace here, presenting information of "Sql Database projects" specifically will be incomp

[2020-12-04 18:55] Charles-Gagnon opened #13679 "Resource Deployment shows missing tools after auto-installing"
1. Start with kubectl/azdata installed but not az
1. Start BDC deployment
1. It'll prompt to auto-install az, let it do so
1. After it's done this warning message is shown :

![image](https://user-images.githubusercontent.com/28519865/101203181-281ff080-361f-11eb-87a9-68c837cd6c0b.png)

But as you can see from the table it apparently was able to find those tools just fine.

[2020-12-04 19:13] Charles-Gagnon commented on #13663
@udeeshagautam So I tried this and restarting ADS works as expected. Are you sure you restarted ADS from explorer (and not from an existing terminal window or something)? You'd need to restart it from explorer if you wanted it to pick up the new path with az on it.

For the Notebook stuff I assume you probably had a notebook already opened with the Powershell kernel loaded - in which case that mak

[2020-12-04 20:45] chlafreniere opened #13681 "Specific Tables with Headers Disappears when Editing in WYSIWYG"
This is a regression that was found during https://github.com/microsoft/azuredatastudio/pull/13673.

Sample HTML to repro:

[code]

Exception is being thrown at https://github.com/microsoft/azuredatastudio/blob/main/src/sql/workbench/contrib/notebook/browser/turndownPluginGfm.ts#L102 because tHead is undefined.

[2020-12-04 20:49] SakshiS-harma commented on #13288
@udeeshagautam I remember I saw these two errors as well (helpful message as well).
As for now, I tried to repro the issue by uninstalling .NET Core. But this time I didn't receive these two errors instead just the following:
![image](https://user-images.githubusercontent.com/57200045/101213188-d7b08f00-362e-11eb-9978-b1cc8bc892a2.png)

The output window has the following error:
![image](https://u

[2020-12-04 21:16] udeeshagautam commented on #13663
Hey @Charles-Gagnon - restart from explorer means? Close and reopen full ADS right? yes, did that. And tried in terminal (it's not really notebook only thing just that i noticed from notebook first) I can surely try again and attach gif/ogs if I see it still

[2020-12-04 21:24] udeeshagautam commented on #13667
@Charles-Gagnon  this is postponed so not urgent but can you please let us know on below.
I debugged into this and it seems to be related to a recent validation call change in core on input box and base componnent. Do you know if we need to change the way we call validation from extensions.

[2020-12-04 21:37] Charles-Gagnon commented on #13663
Are you on a windows machine? Maybe this behaves differently on a non-windows machine, I've never tried.

How are you installing this outside of ADS?

[2020-12-04 21:39] ranasaria commented on #13654
This behavior is currently by design but can certainly be revisited.    The key is that we do not support canceling an ongoing install and a 'cancel' enabled could suggest to the user that the install also would be canceled which won't be true.

[2020-12-04 21:40] Charles-Gagnon commented on #13667
You shouldn't be calling validate from extensions typically. They're supposed to validate every time the text changes.

[2020-12-04 21:44] udeeshagautam commented on #13663
So install from outside ADS is actually working for me. Ths why I mentioned in the description that workaround is there and its not blocking. Chatted with @ranasaria as well, so we can move this to backlog. I will check again if this is just me or just the machine etc.

[2020-12-04 21:49] aasimkhan30 commented on #13663
@udeeshagautam I cannot repro this bug either. I can only repro the cancel button disabled bug. https://github.com/microsoft/azuredatastudio/issues/13654

[2020-12-04 21:53] udeeshagautam commented on #13663
moving to backlog - will try one a different machine and close if doesnt repo - since it doesnt repro for two people :)

[2020-12-04 22:08] udeeshagautam commented on #13667
Not calling validate - passing the validation function only. That has to be from extension right?

here is the code - would you be able to take a look (okay if post release)
https://github.com/microsoft/azuredatastudio/blob/0c82024cf36d8e2f8887cc2d4bbdf3181dc85103/extensions/dacpac/src/wizard/api/dacFxConfigPage.ts#L76

[2020-12-04 22:10] Charles-Gagnon commented on #13667
That should be fine. Is this function not being called when you update the text (delete a character or whatever)?

[2020-12-04 22:12] udeeshagautam commented on #13663
Confimed that this does not repro on a second box. The ADS still  needs restarting which is bit ichy  - but as mentioned above that is a pre-exstig thing. Closing.

[2020-12-04 22:12] #13663 closed

[2020-12-04 22:24] Charles-Gagnon commented on #13663
It's possible we're hitting the PATH length limit here - would be interesting to try removing some items from your PATH and seeing if that clears it up.

Also curious if a computer restart fixes it after installing from ADS.

[2020-12-04 22:25] udeeshagautam commented on #13667
So the function is called and returns correctly - but seems like the value is not being respected and the error shows always (as in image above).

[2020-12-04 22:38] jagdishrajan opened #13683 "Color Code Saved Connections"
**Is your feature request related to a problem? Please describe.**
Please allow us to pick a color for each saved connection and then use this color in the status bar of the editor/query results pane, much like in SQL Management Studio

**Describe the solution or feature you'd like**
A clear and concise description of what you want to happen.
When saving a connection we set a color and this color

[2020-12-04 22:41] udeeshagautam commented on #13654
Just adding my thought - I am okay having this in backlog. nothing blocked on this one fom my side.

[2020-12-04 22:41] pensivebrian opened #13684 "SQL editor fails to execute a query when a file path contains '%20'"
Steps to Reproduce:

1. Create a .sql file with a %20 in the path: C:\Temp\Folder%20Repro\test.sql
2. Open and execute a query from the file in ADS

Result: The query fails to execute and the error popup appears to file an issue

This issue was discovered investigating the same behavior #10259 for notebooks. It appears the root cause is the sql tools service does not encode the ownerUri string bef

[2020-12-04 23:14] #13681 closed

[2020-12-04 23:23] chlafreniere commented on #13654
@udeeshagautam can we move this out then? If this isn't a blocker, doesn't meet the bar for December I would assume

[2020-12-04 23:41] #13605 closed

[2020-12-05 00:17] MsSQLGirl opened #13688 "Jupyter Book: Dots on sections in a book appearing - unrelated to changes"
- Azure Data Studio Version:
Version: 1.25.0-insider (user setup)
Commit: 6f731fcd9e545acb4680744eda55d5358dd551c5
Date: 2020-12-03T06:32:49.293Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

- Also happening on
Version: 1.24.0 (user setup)
Commit: eb3c0f5d9df86b9490606aab7fffaa253b0aca4d
Date: 2020-11-10T23:38:09.70

[2020-12-05 00:19] Charles-Gagnon commented on #13590
re-opening for porting

[2020-12-05 00:19] Charles-Gagnon commented on #13589
Re-opening for porting

[2020-12-05 00:44] sarabjot294 commented on #10104
I am facing the exact same Issue, Were you able to resolve it?

[2020-12-05 00:55] #13589 closed

[2020-12-05 00:55] #13590 closed

[2020-12-06 22:49] dzsquared commented on #13445
Right now we're in a limbo where the workspace file is placed in the project's new folder, not the folder shown in the "Location" box. (despite what the dialog says)

workspace file is going to be placed in "NewProjectLocation" folder according to dialog:
![image](https://user-images.githubusercontent.com/12227241/101295340-e8e5d100-37d1-11eb-8924-a4a3be99a542.png)

that is where the project folde

[2020-12-07 12:31] leonardder commented on #13499
I did some tests and found out that the bug is related to having the     editor.accessibilitySupport setting set to on. If that setting is off, selection of the database works as expected. I will update the issue description accordingly.

[2020-12-07 12:41] leonardder commented on #13499
@isidorn: As Data Studio borrows its editor accessibility support from VS Code, do you think there's anything that can clarify this?
It looks like editor accessibility support touches accessibility of combo boxes somehow? When accessibility support is on, the server / database combo boxes have one entry in the window's tab order and are reported as combo box. If accessibility support is off, the c

[2020-12-07 12:44] isidorn commented on #13499
@leonardder I believe the Data Studio uses a custom web view which does not use VS Code widgets (which are accessible) and in that lyes the problem.
However if Data Studio is using some VS Code widget and it is not accessible please let me know and I can look into this from the VS Code side.

[2020-12-07 13:02] leonardder commented on #13499
@isidorn Some details in the hope they can help you

The combo box is wrapped in an element with tag modelview-dropdown

HTML when accessibility support is on:

[code]

HTML when accessibility support is off:

[code]

[2020-12-07 13:39] alevyinroc opened #13696 "Default Note book text cell editor to Markdown"
I prefer to do my text editing using plain Markdown, not toolbar-based WYSIWYG editing. It's rather frustrating to have to switch from WYSIWYG mode to Markdown or "split" mode every time I edit a text cell.

**Describe the solution or feature you'd like**
I would like to have the ability to default text cell editing to Markdown mode, either as a setting for each notebook or globally across my Azur

[2020-12-07 13:54] isidorn commented on #13499
Those look like elements which are introduced by the Azure data studio extension. So this issue should be fixed on the extension side and it is good you created the issue here.

[2020-12-07 14:08] MsSQLGirl commented on #7681
During livesite if an engineer is creating a new notebook and has had a long running code cell before they save the notebok for the first time, this would impact their productivity.

[2020-12-07 14:13] MsSQLGirl commented on #4614
This experience is needed for livesite engineers. Specifically to remember Kusto connection as well.

[2020-12-07 15:10] MsSQLGirl opened #13697 "Deep linking - ability to link to a specific header / anchor links in another notebook"
**Is your feature request related to a problem? Please describe.**
TSGs often refer to another (long) notebook. Currently ADS doesn't support linking to a specific part of a notebook (header / anchor link) etc.

**Describe the solution or feature you'd like**
ADS support a link like this:
[code]

**Describe alternatives you've considered**
No other alternative.

**Additional context**
#13646 is re

[2020-12-07 16:18] LarsFosdal opened #13698 "Connections - no way to rearrange within a group"
Issue Type: <b>Bug</b>

Let's say you have a server group:
- Prod

You start adding connections, and they appear in the order you create them.
Eventually you have so many connections that you would like to sort or rearrange them.  Dragging within the server group does not work.  How can you rearrange them?

Azure Data Studio version: azuredatastudio 1.24.0 (eb3c0f5d9df86b9490606aab7fffaa253b0aca4d

[2020-12-07 16:54] dnethi opened #13699 "Create data controller wizard shows a blank screen for choosing config profile step in Insider version"
- Azure Data Studio Version:
Version: 1.26.0-insider (user setup)
Commit: a70dce785574d26d40fabc8d829f48f807f75195
Date: 2020-12-07T06:51:37.898Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Launch ADS
2. Initiate the Create data controller wizard
3. When you get to Step 3: Choose the config

[2020-12-07 17:03] Charles-Gagnon commented on #13699
How long did you wait? It can sometimes take 5-10 seconds to load.

Is there any error in the console logs?

[2020-12-07 18:45] Charles-Gagnon opened #13701 "Dashboard toolbar separator is cut off"
RC1/Insiders

![image](https://user-images.githubusercontent.com/28519865/101391336-04f07d80-3879-11eb-9f89-b692114564a7.png)

Current stable :

![image](https://user-images.githubusercontent.com/28519865/101391367-0e79e580-3879-11eb-8109-d5584498d485.png)

[2020-12-07 19:00] kburtram opened #13702 "Settings UI comes up blank if reopened during startup"
- Azure Data Studio Version: `main`

Steps to Reproduce:

1. Open settings UI editor
2. Update a settings requiring a restart, such as update mode
3. Restart when prompted

Expected: Settings editor isn't open on restart, or if it's open then it display properly

Actual: Settings editor displays blank and needs to be closed/reopened to get back to normal

![image](https://user-images.githubusercon

[2020-12-07 19:01] Charles-Gagnon opened #13703 "Copy with Query Results : Ctrl+Alt Keybindings should not be used by default"
Per https://github.com/microsoft/azuredatastudio/blob/main/src%2Fvs%2Fplatform%2Fkeybinding%2Fcommon%2FkeybindingsRegistry.ts#L210 we shouldn't be using ctrl+alt keybindings by default for Windows.

I can't recall the exact reasonings behind this but I believe there's two main issues :

1. They're used for unicode support
1. They're often used for accessibility controls

So overriding that will ne

[2020-12-07 19:01] Charles-Gagnon commented on #13703
@gupta1 @qifahs

[2020-12-07 19:03] kburtram commented on #13698
@LarsFosdal this is a feature gap we need to fill.  In the meantime, the workaround is to (1) open the Settings JSON file from the Command Palette (2) rearrange the connection metadata in the JSON file.  The display order in the tree should match the order of the connections listed in the settings file.

[2020-12-07 19:16] Charles-Gagnon commented on #13696
@alevyinroc You can change the default mode in the settings with this option - unchecking it will default to the "split mode" editing

![image](https://user-images.githubusercontent.com/28519865/101394627-a7aafb00-387d-11eb-9d3e-cd24303d3f7b.png)

[2020-12-07 19:17] Charles-Gagnon commented on #13688
@barbaravaldez If you're looking at this could you assign the triage tag and put in the proper milestone?

[2020-12-07 20:12] chlafreniere commented on #8978
@lucyzhang929 can you work with Stuart on the requirements here? There's a renewed ask for ASCII art in notebooks, and there's a bit too much space between lines at the moment.

[2020-12-07 20:19] cssuh commented on #12988
#12629 duplicate

[2020-12-07 20:19] #12988 closed

[2020-12-07 20:21] cssuh commented on #12957
#12448 duplicate

[2020-12-07 20:21] #12957 closed

[2020-12-07 22:41] label-actions[bot] opened #13710 "[Label Actions] Configuration error"
[Label Actions](https://github.com/apps/label-actions) has encountered a configuration error in `label-actions.yml`.
[code]

[2020-12-07 22:41] label-actions[bot] opened #13711 "[Label Actions] Configuration error"
[Label Actions](https://github.com/apps/label-actions) has encountered a configuration error in `label-actions.yml`.
[code]

[2020-12-07 22:43] #13710 closed

[2020-12-07 22:51] #13711 closed

[2020-12-07 23:14] label-actions[bot] opened #13714 "[Label Actions] Configuration error"
[Label Actions](https://github.com/apps/label-actions) has encountered a configuration error in `label-actions.yml`.
[code]

[2020-12-07 23:21] #13714 closed

[2020-12-08 00:25] dnethi commented on #13699
[20201207T080644.zip](https://github.com/microsoft/azuredatastudio/files/5656006/20201207T080644.zip)

[2020-12-08 00:29] warwickrudd opened #13718 "Unpin Notebook"
Open Notebooks in Folder Folder
Select a Notebook
Select Pin Notebook
Expand Pinned Notebooks
Select a pinned Notebook.
Select Unpin Notebook  (It will disappear)
Close and Reopen ADS
Expand Notebooks Activity Bar.
Pinned Notebooks section still has the pinned notebook

[2020-12-08 01:01] kisantia commented on #13677
dup of #13453

[2020-12-08 01:01] #13677 closed

[2020-12-08 01:33] ranasaria opened #13719 "Next button on ToolsAndEulaPage gives persistent spurious error"
**Steps to Reproduce:**

1. Start with a state where az.cmd is not installed
2. Kickoff BDC deployment wizard
3. The tools and eula page warns that az.cmd is not installed.
4. Click 'Install Tools' button to install az.cmd. Click 'Next' once the installation is done.

**Actual:** An unexpected error 'Some tools are still not installed' shows up. This error persists if the user dismisses the error

[2020-12-08 01:37] Charles-Gagnon commented on #13719
Duplicate of https://github.com/microsoft/azuredatastudio/issues/13679

[2020-12-08 01:40] ranasaria commented on #13679
Please note that the wizard is unusable in this state. The only workaround is to cancel out of the wizard and launch it again. The all tools are discovered, and the wizard proceeds to the 2nd page.

[2020-12-08 07:23] LarsFosdal commented on #13698
@kburtram Looking forward to having those gaps filled, but in the meanwhile, editing the JSON file will work. Thank you for the tip!

[2020-12-08 10:09] DarkMike-ru commented on #11249
Don't install openssl from source
Problem in openssl config. Debian 10 (and Ubuntu, I think) has this setting (file /etc/ssl/openssl.cnf, at the end):
CipherString = DEFAULT@SECLEVEL=2
Just change it to
CipherString = DEFAULT@SECLEVEL=1
and connection work

[2020-12-08 10:43] gsaiz commented on #12165
This was the only way to fix the error for me.

[2020-12-08 13:09] leonpeeters opened #13721 "Save As CSV/Excel repeats header every 500-ish rows"
Issue Type: <b>Bug</b>

- Ensure that queryEditor.results.saveAsCsv.includeHeaders = True
- In a notebook, run a SQL query that returns at least, say, 1100 rows
- On the result, click the "Save As CSV" or "Save As Excel" button
- The resulting file contains the header on row 1 and row 502 (and rows 1+501*k in general for larger outputs)

Azure Data Studio version: azuredatastudio 1.24.0 (eb3c0f5d9

[2020-12-08 14:03] tevosouza commented on #11249
Hi @DarkMike-ru ,
Thank you a lot, i'll try it when i install new system!
Why not update openssl, is there any breaking changes or any issue with latest version ?

[2020-12-08 14:31] DarkMike-ru commented on #11249
If your install from source your lose security update for this part of system. It's not a solution. And install of new version is not needed - problem only in config.
Please check where your config reside after manual installation. I think config now in /usr/local/ssl/openssl.cnf

[2020-12-08 14:41] jelitter commented on #1388
Why was this closed when it's clearly not fixed ?

- When selecting a cell in results and pressing **Ctrl + A**, results lose focus and query gets selected instead.
- **Ctrl + C** does not copy selected cells.
- **Right Click** in results does not show a context menu.

[2020-12-08 17:09] #13439 closed

[2020-12-08 17:12] lucyzhang929 commented on #13721
Hi @leonpeeters, this issue has been fixed in insiders which can be downloaded here: https://github.com/microsoft/azuredatastudio#try-out-the-latest-insiders-build-from-main. The next release, 1.25.0, will also contain the fix.
I will close this issue for now, please feel free to re-open if you have any other questions.

[2020-12-08 17:12] #13721 closed

[2020-12-08 17:45] embix commented on #11249
When dealing with old/unpatches instances (like SQL Server 2008R2, BTW: ops already has a ticket to update it) we had success with:

[code]

[2020-12-08 18:31] barbaravaldez commented on #13718
Hi @warwickrudd - can you provide which version of ADS are you using and also is the notebook that you are pinning part of a book or is it a standalone notebook?

[2020-12-08 19:32] #13159 closed

[2020-12-08 21:04] kburtram commented on #13395
This is a typing file for a dev dependency.  I don't think the CVE applies in this case.  We'll update it in a future build though.

[2020-12-08 21:04] #13395 closed

[2020-12-08 21:10] kburtram commented on #13033
@sqllensman are you still experiencing this issue on latest builds?  We didn't see any other reports of similar issues, so perhaps something got broken during install.  Have you tried reinstalling?

[2020-12-08 21:13] kburtram commented on #13420
@aott88 do you see any error messages in the "Help->Developer Tools" Console?  Any idea if there is anything noteworthy about the data being save to Excel that may be triggering the issue? i.e. is it just "typical" numeric and text data, or are there BLOB, JSON, etc. columns?

[2020-12-08 21:39] warwickrudd commented on #13718
Good morning Barbara,
              I am running version 1.24.0
              It is a standalone notebook.

              I open a folder which contains 3 standalone Notebooks. 2 of which have been pinned. The unpin removes from the window. However when you restart ADS, the pinned Notebooks still remain.

Kind Regards

Warwick Rudd
CEO / Principal Consultant

[cid:image010.jpg@01D6CDFE.69C4F0F0] [

[2020-12-08 21:51] barbaravaldez commented on #13718
@warwickrudd  - Thank you for providing the version. Just to confirm, do you see this issue on Windows?

[2020-12-08 21:53] warwickrudd commented on #13718
Hi Barbara, Yes I am running on a windows platform.

Kind Regards

Warwick Rudd
CEO / Principal Consultant

[cid:image005.jpg@01D6CE00.4A0965A0] [cid:image006.jpg@01D6CE00.4A0965A0]
Mobile
Web
Twitter
+61 403 144 302
www.sqlmastersconsulting.com.au<http://www.sqlmastersconsulting.com.au/>
@Warwick_Rudd
[cid:image007.png@01D6CE00.4A0965A0] [cid:image008.jpg@01D6CE00.4A0965A0]

From: Barbara Valdez

[2020-12-08 22:04] barbaravaldez commented on #13718
Thank you, @warwickrudd. This issue is a duplicate of #13659, and the fix is currently on Azure Data Studio Insiders, so I'll be closing this.

[2020-12-08 22:14] warwickrudd commented on #13718
Hi Barbara,
              I am running version 1.25.0 of the insiders build and the same behaviour still exists in the Insiders build.

              Kind Regards

Warwick Rudd
CEO / Principal Consultant

[cid:image009.jpg@01D6CE03.3D9902F0] [cid:image010.jpg@01D6CE03.3D9902F0]
Mobile
Web
Twitter
+61 403 144 302
www.sqlmastersconsulting.com.au<http://www.sqlmastersconsulting.com.au/>
@Warwick_Rudd

[2020-12-08 22:14] #13580 closed

[2020-12-08 22:16] kisantia commented on #13442
Edge template added in https://github.com/microsoft/azuredatastudio/pull/13558

[2020-12-08 22:16] #13442 closed

[2020-12-08 22:22] kisantia opened #13731 "Move Add database reference validation error message"
Right now, the validation error message is in the Example Usage box, which is what SSDT does
![image](https://user-images.githubusercontent.com/31145923/101548313-7fe09380-3960-11eb-80d3-e9b2bef817a7.png)

There's support for validation for input boxes, so it would be nicer for the error message to show up with the associated input box like this:
![image](https://user-images.githubusercontent.com/

[2020-12-08 22:43] kisantia commented on #13559
thanks for checking the SSDT behavior. We're generating the project files differently in ADS than in SSDT, so this is something we'll have to investigate a bit more to see why this is happening and try to have the same behavior as SSDT, at least to start with before doing any enhancements :)

[2020-12-08 22:51] MsSQLGirl commented on #9244
@qifahs FYI
@chlafreniere I'll follow up.

[2020-12-08 22:53] barbaravaldez commented on #13718
Hi @warwickrudd -I think that version does not have the fix. Can you try on the latest version? I'm using version 1.26 and I'm not able to repro the issue.
Version: 1.26.0-insider (user setup)
Commit: b10b52e4fed689393414aeb18ceb57494fe0dcbf
Date: 2020-12-08T06:42:27.262Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2020-12-08 22:56] MsSQLGirl commented on #8863
Removing Pri1 as the workaround of using AnyBox seems to be working. We can update the Priority after.

[2020-12-08 22:59] warwickrudd commented on #13718
Hi Barbara,
              I can confirm that the behaviour has changed drastically on 1.26.0.

              The unpin works. If only a single Notebook exists in the Pinned Location, and an unpin is chosen the Pinned section is the activity bar is gone. Upon restart the Pinned Notebooks section is not available and the Pinned Notebook is no longer there.

              Having multiple Notebooks pi

[2020-12-08 23:06] MsSQLGirl commented on #11408
Just an idea as well here, I'm wondering if in Split mode, we can show the cursor (or marker) on the preview mode as well as the view mode. This to ease the eyes to catch up on where things are at.
This would be useful when in combination with sync'd scrolling.

[2020-12-08 23:07] barbaravaldez commented on #13718
Sure thing! Thank you for submitting an issue 😃

[2020-12-08 23:07] #13718 closed

[2020-12-08 23:15] kburtram commented on #11793
@end-user are you still seeing this on more recent builds?

@abist any ideas what we can do investigate this?

[2020-12-08 23:18] kburtram commented on #11834
@MsSQLGirl to clarify the issue here, are you referring to the `nvarchar` not containing the length and the missing `XML` type?  Or something else about the display?

[2020-12-08 23:20] kburtram commented on #11841
@abist any ideas how to investigate this issue?

[2020-12-08 23:22] kburtram commented on #11841
@NWISSQLTeam are you still seeing this on recent updates?  I haven't see any issues like this with updates myself, so I think we'd need additional info to root cause.  Access Denied errors can be for several reasons, usually (1) the file is locked for some reason, such as application is running or anti-virus scan, etc. or (2) there is a permissions issue, such as user account doesn't have the corr

[2020-12-08 23:24] abist commented on #11841
@kburtram I haven't seen this issue, I'll investigate. @NWISSQLTeam Which version of Azure Data Studio did you start seeing this issue in? Is it for a specific version or for any version of Azure Data Studio you install?

[2020-12-08 23:24] kburtram commented on #11908
@smartguest this would be a nice enhancement to make to the edit data experience.

[2020-12-08 23:26] abist commented on #11793
@kburtram Let me investigate if there were any changes in the setup process upstream

[2020-12-08 23:36] kburtram commented on #12941
Closing since there isn't currently sufficient context to investigate.

[2020-12-08 23:36] #12941 closed

[2020-12-08 23:53] Charles-Gagnon opened #13734 "Arc Controller deployment fails with connected mode"
Wrong environment variables are being used - should be `SP_TENANT_ID` instead of `SP_CLIENT_TENANTID`

[2020-12-09 00:02] kburtram commented on #13274
@mcenzato thanks for clarifying the request!

[2020-12-09 00:05] kburtram commented on #13423
@aasimkhan30 can you repro this?  any suggestions how to determine what's going on here?

[2020-12-09 00:08] kburtram commented on #13671
@aasimkhan30 this sounds similar to the other query grid perf issues you're investigating.

[2020-12-09 00:10] kburtram commented on #13661
@alanrenmsft I thought we had all the shortcuts mentioned in this issue in order to meet accessibility compliance.  Do you know what the current shortcuts are and if they can be remapped in the keymap editor?

[2020-12-09 00:19] pacorreia commented on #13559
Nice, if I can help in any way I'll be glad

A terça, 8 de dez de 2020, 22:43, Kim Santiago <notifications@github.com>
escreveu:

[2020-12-09 00:25] Charles-Gagnon commented on #13699
It looks like you're using the insiders version of ADS - currently there's some issues with the extension there. I'll be getting a new version out in the next day or two so let's have you try again once that's out to see if you're still not seeing the options.

[2020-12-09 00:31] alanrenmsft commented on #13661
let me have a look at it.

[2020-12-09 00:56] chlafreniere commented on #13696
@alevyinroc closing this as we have the setting that controls this behavior. Please feel free to reopen if that setting doesn't meet your needs.

[2020-12-09 00:56] #13696 closed

[2020-12-09 01:40] alanrenmsft commented on #13661
@kburtram apparently we don't have it shortcut keys to switch between the "views", when I joined ADS team there are only a few accessibility bugs remaining, I don't remember seeing such issues/requirements for accessibility.

I think this is a relative small task and let me try to get this done in Jan release milestone.

[2020-12-09 02:19] mosharafMS commented on #13493
Yes conda environments are all installed with jupyter.
However, it shouldn't have effect because this is a newly installed Python by data studio

[2020-12-09 06:27] sashwin commented on #109
@kburtram This would be really nice to have. Please plan for this.

[2020-12-09 08:12] oxwanawxo commented on #13031
@alanrenmsft
sorry , ,it took so long to reply，and here is the error info
![QQ截图20201209160751](https://user-images.githubusercontent.com/5927682/101602366-f9e44b80-3a38-11eb-92aa-bd25ed715fbb.png)
`
mainThreadExtensionService.ts:65 [[object Object]]Unexpected token S in JSON at position 0
$onExtensionRuntimeError @ mainThreadExtensionService.ts:57
_doInvokeHandler @ rpcProtocol.ts:401
_invokeHand

[2020-12-09 11:28] mcenzato commented on #13274
To clarify even more, often I'm working in Azure DB production to analyze (and sometime fix) data.
We are leveraging Read-Scaleout replica in Business tier, and for me is important to do the data analysis in R/O replica (ApplicationIntent=ReadOnly) because often the query are very huge and not indexed-optimized (as I told, it's not normal application code bug investigation queries).
That said, my

[2020-12-09 15:11] MsSQLGirl opened #13737 "Kusto Notebooks Show SQL as Kernel on Reopen"
- Azure Data Studio Version:
Version: 1.25.0-rc1 (user setup)
Commit: 634ea0ab6a60543d712dbc77266059de1d70c08c
Date: 2020-12-08T19:09:44.467Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Create a new notebook connecting to ~Python~ KQL Kernel.
2. Save the file.
3. Reopen it. The kernel will n

[2020-12-09 18:54] #12959 closed

[2020-12-09 19:50] #13592 closed

[2020-12-09 19:55] kisantia commented on #13432
@virtualdvid in the December release, we moved projects to its own separate viewlet and there is now a "Refresh" option in the overflow '...' menu that refreshes all the projects
![image](https://user-images.githubusercontent.com/31145923/101680292-52a1ed00-3a15-11eb-8584-ad598faac00a.png)

[2020-12-09 20:06] virtualdvid commented on #13432
Awesome! I just got the update and it is there. I'll test all the new features!

[2020-12-09 20:14] chlafreniere commented on #13737
@MsSQLGirl I cannot repro, either on Windows or on Mac. Using the 1.25 (stable). Let's sync offline on this, because that's quite concerning.

[2020-12-09 21:15] #13734 closed

[2020-12-09 21:49] MsSQLGirl commented on #13737
Updating the description. It is an issue for KQL (not Python. apologies.

[2020-12-09 22:41] anirbanbagchi opened #13741 "SQL Server Agent does not show even after installing latest version and Admin Pack for SQL Server extension"
- Azure Data Studio Version:

Steps to Reproduce:

1. Install Azure Data Studio 1.25.0 on Windows 10 Enterprise Edition.
2. Install Admin Pack for SQL Server extension. If required restart or reload application.
3. Connect to SQL Server instance where you have sysadmin or relevant permission to view/edit SQL Server Agent jobs.
4. SQL Server Agent option is not available when you select your databa

[2020-12-09 23:18] kburtram commented on #13741
@abist can you double-check this and see if we need to push an agent update?

[2020-12-09 23:20] kburtram commented on #13741
@anirbanbagchi I wasn't able to repro this.  Could you please check that you have Preview Features enabled in the User Settings?  This is required to show the Agents tab in dashboard?

[2020-12-09 23:45] abist commented on #13741
@kburtram I wasn't able to repro this.
@anirbanbagchi Could you open the Console (Help -> Toggle Developer Tools -> Console) and see if there are any errors there?

[2020-12-09 23:46] camaro322hp commented on #13452
Thank you @kburtram - icon in 1.25.0 looks great.

[2020-12-10 00:46] anirbanbagchi commented on #13741
@kburtram Can you let me know which option to check for. I was able to locate settings but unable to find anything that say something like Enable Preview.

[2020-12-10 00:50] abist commented on #13741
@anirbanbagchi
![Screen Shot 2020-12-09 at 4 49 47 PM](https://user-images.githubusercontent.com/6411451/101706728-9826e000-3a3e-11eb-9e54-1e4f2e7630f1.png)

[2020-12-10 00:51] anirbanbagchi commented on #13741
@abist Got it. Thanks. It's working fine now.

[2020-12-10 00:51] #13741 closed

[2020-12-10 01:12] chlafreniere commented on #8195
This now opens as JSON. Closing this issue as that's our current story. Enhancement for graphical diff experience is tracked by #10238.

[2020-12-10 01:12] #8195 closed

[2020-12-10 02:47] MsSQLGirl opened #13745 "Export To Notebook for SQL results skipped comments"
- Azure Data Studio Version:
Version: 1.25.0 (user setup)
Commit: 8c6bd8c857592c14afbb589a7d307baec1f5b5ed
Date: 2020-12-05T06:45:46.586Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Open SampleSQL.sql file from https://gist.github.com/MsSQLGirl/00149be9684476c8619f8d1ef8bee4bc in Azure Data

[2020-12-10 06:35] jagdishrajan opened #13746 "Keyboard shortcut and commands to connect and change connection"
**Is your feature request related to a problem? Please describe.**
Can we get commands and shortcuts to connect and change connection, rather than have to click the buttons in the toolbar? Also, when connecting or changing connection please place focus on the Recent Connection List so that we we can quickly select a connection with the arrow keys and hit enter to establish the connection

**Descri

[2020-12-10 12:38] zotrb opened #13748 "Server group colour as global background"
Issue Type: <b>Feature Request</b>

I have server groups for Production, Staging and Development databases. I use a red group colour on the production server to remind me that making changes is dangerous.

It would be great if the group colour could be used (watered down):

1) as the background colour for the entire group in the navigation panel so that when I have scrolled down into the long list

[2020-12-10 13:50] zotrb opened #13749 "Standard key bindings for tree navigation"
Issue Type: <b>Feature Request</b>

ADS doesn't support standard Windows10 key bindings for navigating its treeview.

In File Explorer, Visual Studio, SSMS, etc you can use the cursor keys to navigate up and down, with the left/right keys expanding and collapsing the selected folder. In particular if you scroll down a long list of stored procedures, you can press 'left' to collapse the parent fold

[2020-12-10 13:54] zotrb opened #13750 "'Close all Windows' behaviour"
Issue Type: <b>Bug Report</b>

Close All Windows has two disappointing features:

1) It doesn't close all the windows. It stops and askes the user to confirm the close of every modified window in turn. This takes away the benefit of this really useful command.

2) It doesn't use the same key binding (Alt+W+L) as in Visual Studio and SSMS, which is a frustrating inconsistency when switching frequen

[2020-12-10 16:57] jparadis2 opened #13751 "Mac upgrade to 1.25.0 broke connections"
[error given.txt](https://github.com/microsoft/azuredatastudio/files/5674489/error.given.txt)
Issue Type: <b>Bug</b>

Upgrading my Azure Data Studio to 1.25.0 broke my connections to our on prem. SQL Severs. Downgrading back to 1.24.0 allowed me to connect again. See attachment for error given.

Azure SQL server connections worked in both environments.

Azure Data Studio version: azuredatastudio 1

[2020-12-10 17:00] JessThrysoee commented on #13751
This is the Connection Error I see:
[code]

[2020-12-10 17:33] finches commented on #13751
I'm seeing the same error as jparadis2 after upgrading to the latest version. Another developer with 1.24.0 on my team was able to connect to the server.

[2020-12-10 17:42] RamP156 opened #13753 "Kerberos error in spite of successful kinit"
Issue Type: <b>Bug</b>

I noticed this error with the latest version 1.25.0. on mac. The connection results in an error and it keeps asking to run kinit even though kinit was successful. It works fine with the previous version 1.24.0
Below is error details-
Microsoft.Data.SqlClient.SqlException (0x80131904): Cannot authenticate using Kerberos. Ensure Kerberos has been initialized on the client wit

[2020-12-10 17:52] sterlingpetersen opened #13754 "Kerberos no longer working under 1.25"
Issue Type: <b>Bug</b>

Authentication using Kerberos isn't working. It works under version 1.24 but not version 1.25. Just keep getting the prompt to run `kinit`, which isn't needed as a ticket is already in place.

Thanks!

Azure Data Studio version: azuredatastudio 1.25.0 (8c6bd8c857592c14afbb589a7d307baec1f5b5ed, 2020-12-05T06:43:11.244Z)
OS version: Darwin x64 18.7.0

<details>
<summary>Syste

[2020-12-10 18:06] Charles-Gagnon commented on #13753
Duplicate of https://github.com/microsoft/azuredatastudio/issues/13751

[2020-12-10 18:06] #13753 closed

[2020-12-10 18:06] Charles-Gagnon commented on #13754
Duplicate of https://github.com/microsoft/azuredatastudio/issues/13751

[2020-12-10 18:06] #13754 closed

[2020-12-10 18:07] Charles-Gagnon commented on #13751
We're investigating this - currently working on getting a hotfix out with the change that likely broke this reverted.

[2020-12-10 18:19] VasuBhog commented on #13737
@MsSQLGirl just want to confirm, this is for the Kusto Kernel correct? I believe that this issue would be similar: #12566.

[2020-12-10 18:24] Charles-Gagnon commented on #13751
While we work on this reverting back to 1.24 is the suggested workaround : https://github.com/microsoft/azuredatastudio/releases/tag/1.24.0_release

[2020-12-10 19:12] Charles-Gagnon opened #13757 "Error loading resources for Azure browse block resources from other accounts"
I have two accounts - one of which was stale and so threw an error trying to fetch the resources. But this blocked any resources from being shown - even from the other account.

![image](https://user-images.githubusercontent.com/28519865/101818043-269b7000-3ad8-11eb-9edc-6e47917852fd.png)

I would expect that it would still show resources for accounts it was able to access.

Once I refreshed the a

[2020-12-10 19:22] groatknobbie opened #13759 "Client updated this morning and I cannot authenticate to my SQL Server"
Issue Type: <b>Bug</b>

I receive an error trying to connect to either of my two SQL Servers on which I work daily. When I use kinit to renew my Kerberos ticket, I receive no errors. Ticket Viewer application shows I have an active ticket. However when I attempt to establish one of my connections or create a fresh connection, I receive an error. Error text copied below.

Microsoft.Data.SqlClient.S

[2020-12-10 19:28] Charles-Gagnon commented on #13759
Duplicate of https://github.com/microsoft/azuredatastudio/issues/13751

We're working on a hotfix for this - in the meantime you can revert back to the 1.24 version and that should resolve the issue

https://github.com/microsoft/azuredatastudio/releases/tag/1.24.0_release

[2020-12-10 19:28] #13759 closed

[2020-12-10 20:28] Charles-Gagnon commented on #13751
Regression with the new SqlClient package : https://github.com/dotnet/SqlClient/issues/825

[2020-12-10 21:07] abist commented on #13749
@zotrb Thanks for opening this issue. In ADS, you can press `Enter` instead of `right` key to expand a folder. Rest of it should work exactly the same way. Is your request to change the `Enter` key to `right` key instead?

[2020-12-10 22:47] Charles-Gagnon commented on #13751
Our insiders build with the revert fix has published, @jparadis2 @JessThrysoee @finches if you get a chance could you install that and see if you still see any issues?

https://azuredatastudio-update.azurewebsites.net/latest/darwin/insider

[2020-12-10 22:54] mohitKhanna1411 opened #13768 "it never connects to the db on first instance"
Issue Type: <b>Bug</b>

it never connects to the db on first instance,m I always have to kill the app and try in again.

Azure Data Studio version: azuredatastudio 1.25.0 (8c6bd8c857592c14afbb589a7d307baec1f5b5ed, 2020-12-05T06:43:11.244Z)
OS version: Darwin x64 20.1.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8210Y CPU @ 1.60GHz (4 x 1600)|
|GPU

[2020-12-10 22:55] finches commented on #13751
@Charles-Gagnon - Just tested it, that appears to resolve the issue for me and I can connect now. Thanks!

[2020-12-10 22:56] Charles-Gagnon commented on #13751
Excellent, thank you! We'll have a hotfix stable release out here ideally by EOD.

[2020-12-10 23:38] adricl opened #13769 "Two queries results sometimes hide the horizontal scroll bar"
When you run two queries at once you get two results. However due to how the results screen is split sometimes the horizontal scroll bar is hidden under the bottom of the frame. This means you have to expand the results window to see the scroll bar. This even shows when there is one result.

It should show the scroll bar and force the vertical scroll to appear.

In the image below you can see the

[2020-12-11 01:00] MsSQLGirl opened #13771 "Notebook: Support for parameterization Native Kusto & SQL kernel"
**Is your feature request related to a problem? Please describe.**
We need a way to pass parameters to cells. For now, considering, inner workings of Kusto, we could just concatenate parameters from parameter cell to actual queries.

**Describe the solution or feature you'd like**
Aspects to consider: debuggability for future. Need to find workaround.

Slava's request

[2020-12-11 01:09] MsSQLGirl commented on #13737
@VasuBhog  - yes similar, but this one only concerns on the Kusto kernel (and not the connection strings / Attach To details)

[2020-12-11 01:40] VasuBhog opened #13772 "Create Book import sys error"
- Azure Data Studio Version: 1.26.0-insider
Commit: b10b52e4fed689393414aeb18ceb57494fe0dcbf
Date: 2020-12-08T06:45:10.349Z (2 days ago)
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 19.6.0
Python Version: 3.6

Steps to Reproduce:

1. Open the Create Jupyter Book via Notebooks tab.
2. Run all cells
3. Error occurs in cell two (impor

[2020-12-11 02:35] barbaravaldez commented on #13772
Hi @VasuBhog - I wasn't able to repro the issue using python 3.6.6.
Let's discuss tomorrow to identify what could be causing the issue 😄

[2020-12-11 03:47] ozhug commented on #3594
yes same error error as well needed to restart Azure Data Studio to fix

[2020-12-11 08:50] zotrb commented on #13749
Hi Aditya,
Thanks for the quick response.

Yes, Space and Enter will expand or collapse the current item.

However, in Windows TreeViews, you can also use the cursor keys to navigate the hierarchy like this:

·        The -> right key should work as Enter and Space already do, to expand the selected item.

·        The <- left key will collapse the current item, but if it is already collapsed, it

[2020-12-11 10:02] peterlukerow opened #13774 "Can't copy entire printed output in one go."
Version: 1.25.1 (system setup)
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98
Date: 2020-12-11T01:59:24.271Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1.Run a query that uses the print statement to output a lot of text, in my case a 400-odd line HTML file generate using bits of data from va

[2020-12-11 10:44] OSch24 opened #13777 "I can't use the arrow keys in field "server group name" - Edit Server Group"
- Azure Data Studio Version: 1.25.1

Steps to Reproduce:

1. Right mouse button, Edit Server Group
2. Now I can't use the arrow keys on the keyboard to move to the left to change the name, for example, because I want to insert something.

[2020-12-11 11:45] OSch24 opened #13778 "CMS server cannot be added to group"
- Azure Data Studio Version: 1.25.1

Steps to Reproduce:

1. Create CMS Server on SERVERNAME_A
2. Create a new Server GROUP "Test"
3. Create a new Server Connections "SERVERNAME_B" and "SERVERNAME_C"  --  all ok
4. Create a new Server Connections "SERVERNAME_A" for this group "Test"

Errormessage:

_Error running command cms.resource.addRegisteredServer: Operation 'Create' on object 'RegisteredSer

[2020-12-11 12:23] 1150Rich opened #13779 "Properties in Database Administration Tool Extension for Windows doesn't work for OAuth2 / MFA"
- Azure Data Studio Version:

Connect to SQL server (Azure MI) using my MFA / OAuth2 account. Drill to object (Database/tables/table), right click, select properties.

TITLE: Microsoft SQL Server Management Studio
------------------------------

Failed to connect to server
myserver-uksouth.somenumber.database.windows.net. (Microsoft.SqlServer.ConnectionInfo)

------------------------------
ADDITIO

[2020-12-11 12:54] ummspmacdon opened #13780 "Unable to copy single field"
When i try to right-click and copy a single result field (ex. image_id) and then paste it anywhere, but usually into a new query, it doesn't paste anything.  I've tried highlighting the field and using CTRL-C/CTRL-P, but that doesn't work either.

Is it one of my setting?

[2020-12-11 15:07] holytshirt opened #13781 "SQL Database Projects: SqlStaticCodeAnalysisTask task was not found when building project"
- Azure Data Studio Version:
1.25.1
1.26.0 insiders

Steps to Reproduce:
1. Opened Sql Database project created in Visual Studio with "Enable Code Analysis on Build" Enabled.
Build Fails with
[code]

2. Opened Sql Database project created in Visual Studio with "Enable Code Analysis on Build" Disabled.
Build is successful!

[2020-12-11 15:32] acohenOT opened #13782 "Table design changes"
**Is your feature request related to a problem? Please describe.**
I am unable to do basic table design changes

**Describe the solution or feature you'd like**
Add columns to a table
Delete columns from a table
Rename columns
Change column data types
Change column widths

**Describe alternatives you've considered**
Install SQL Server Management Studio to perform these tasks

[2020-12-11 16:47] thecesrom opened #13783 "Update sqlCreateStoredProc code snippet in order to improve readibility when formatting the code"
**Is your feature request related to a problem? Please describe.**
I have detected that when I use the `sqlCreateStoredProc` code snippet, the body of the stored procedure is not wrapped between `BEGIN` and `END`.

While this is valid T-SQL, formatting the code using **Format Document** decreases the indentation of the body of the stored procedure producing some hard to read code.

On Microsoft SQ

[2020-12-11 17:06] thecesrom commented on #13782
Hello, @acohenOT.

While Azure Data Studio does not provide a GUI for modifying table design, this can be achieved using T-SQL.

Here I share some options for the scenarios you've listed:
Add columns to a table: https://docs.microsoft.com/en-us/sql/t-sql/statements/alter-table-transact-sql?view=sql-server-ver15#a-adding-a-new-column
Delete columns from a table: https://docs.microsoft.com/en-us/sql

[2020-12-11 17:46] Charles-Gagnon commented on #13751
The hotfix build is released - try updating to the latest stable build and let us know if you see any further issues!

https://go.microsoft.com/fwlink/?linkid=2151311

[2020-12-11 17:46] #13751 closed

[2020-12-11 17:51] acohenOT commented on #13782
Perhaps Azure Data Studio can generate the T-SQL for some common commands such as these? Even through an extension would be sufficient, I think.

[2020-12-11 19:35] #13783 closed

[2020-12-11 19:42] Charles-Gagnon opened #13787 "UDF icon missing"
Open DB dashboard where a UDF is defined - the icon appears to be the generic "missing image" icon

![image](https://user-images.githubusercontent.com/28519865/101947456-5fede180-3ba5-11eb-9da8-6af6ec382679.png)

[2020-12-11 19:45] #13787 closed

[2020-12-11 19:54] #13376 closed

[2020-12-11 22:11] Charles-Gagnon opened #13788 "Connect to Arc Controller has scrollbar at bottom"
![image](https://user-images.githubusercontent.com/28519865/101959697-ad287e00-3bba-11eb-8d2a-22cb3cc43bd3.png)

[2020-12-11 22:11] Charles-Gagnon commented on #13788
@ranasaria Something to look at if you get a chance

[2020-12-11 22:15] Charles-Gagnon opened #13789 "Deploy PG Instance isn't populating Arc Controllers"
Insiders/Dev

![image](https://user-images.githubusercontent.com/28519865/101960002-4b1c4880-3bbb-11eb-805e-83b3752e6d08.png)

[2020-12-11 22:36] kisantia commented on #13674
it's by design that projects are only opened if they are in the dataworkspace.projects section of the workspace file like this:
[code]

it would be a nice enhancement to detect if other projects exist in the workspace and prompt the user if they want to open them and then add them to the dataworkspace.projects if they say yes. Another option could be to have a notification that projects were detec

[2020-12-11 22:41] kisantia commented on #13449
closing as this is by design after discussing with Raden

[2020-12-11 22:41] #13449 closed

[2020-12-11 22:47] #13381 closed

[2020-12-11 23:04] kisantia commented on #12689
related to https://github.com/microsoft/azuredatastudio/issues/13670

[2020-12-11 23:10] kisantia commented on #11836
there is currently support for excluding folders. Closing this because including excluded files/folders is being tracked in https://github.com/microsoft/azuredatastudio/issues/13344

[2020-12-11 23:10] #11836 closed

[2020-12-11 23:11] kisantia commented on #13344
also need a way to show excluded files in the project tree like SSDT does

[2020-12-11 23:17] kisantia commented on #11349
Hi @simonsabin, in the December release, we moved Projects into its own viewlet. Does it still seem confusing to have the project tree even now that it's separate from the files view?
![image](https://user-images.githubusercontent.com/31145923/101963601-f0d3b580-3bc3-11eb-980e-3bd8c758bd9d.png)

[2020-12-11 23:22] simonsabin commented on #11349
I still question the value as it’s still just the files, except a thing for database references. It’s not the vs code way is it.
If it was the logical object model fine but why value does this give over the files view

[2020-12-12 01:40] kisantia opened #13793 "Add "close workspace" option to projects viewlet"
Add "close workspace" option to the '...' menu

![image](https://user-images.githubusercontent.com/31145923/101969180-e6bbb200-3bd7-11eb-88e6-37e166235e4c.png)

[2020-12-12 02:30] jasonhorner opened #13794 "Provide standalone vsix download for sql project extension"
**Is your feature request related to a problem? Please describe.**
sometimes I work in an environments where I don't have admin rights, this prevents me from installing this add-in and no vsix seems to be provided.

**Describe the solution or feature you'd like**
allow add-in to install without admin rights, provide a stand alone vsix installer for offline and administrative installs

**Describe a

[2020-12-12 02:42] kburtram commented on #13794
@jasonhorner here is the link to the latest sql project extension VSIX https://sqlopsextensions.blob.core.windows.net/extensions/sql-database-projects/sql-database-projects-0.5.1.vsix.  Future versions should follow a similar file naming convention (i.e. just update the version string).

We'll look at this issue as a more general request to make it easy to download VSIX for offline install.  We do

[2020-12-13 01:31] chlafreniere commented on #13597
@barbaravaldez I've put this in January. Can we add some logs to help make this a bit easier to debug?

[2020-12-13 11:44] helm100 commented on #13457
Hi @kburtram , thank you. I did try that, but it doesn't solve the problem; I still get the same error.

[2020-12-13 20:12] abourassi commented on #9067
Hi,
This problem still not resolved ?
best regards,

[2020-12-14 12:05] pacorreia opened #13796 "SQL Connection recovery after it expires"
After a connection is closed either because it timed out due to:

- inactivity
- network failure

It would be good to have the same behavior as SSMS, meaning, if we run a query again, it will try to connect using the existing tokens in cache, credentials, etc.

Currently it behaves like this:

1. First attempt it shows this:
`Started executing query at Line 55
Msg 18456, Level 14, State 233, Line

[2020-12-14 12:18] malicanli opened #13797 "Irrelevant window is closing after save"
![Capture](https://user-images.githubusercontent.com/62541287/102080448-86b74c80-3e1f-11eb-9abd-66b4aca5963e.JPG)
Issue Type: <b>Bug</b>

1- Query script has been saving
2- When you click Irrelevant other query window, giving error message at right bottom corner
3- Message is: Unable to open 'SQLQuery_5 - SERVERNAME...grated)': Cannot read property 'slice' of undefined.
4- And Query window which y

[2020-12-14 17:04] kgamble96 commented on #9116
I am seeing this issue, where I can connect with SSMS in windows parallels, but I can't connect with Azure DS.

It was working perfectly fine all last week, and now with no changes it all the sudden is not working.

[2020-12-14 19:46] kisantia opened #13799 "update create project from database dialog's workspace inputbox to be editable"
Open existing and new project dialogs have been updated to have the workspace inputbox be editable when no workspace is open. This dialog needs to be updated too.

[2020-12-14 19:47] chlafreniere commented on #9067
@lucyzhang929 you're working in this area. Can you look into this? I know we've made some changes recently but definitely want to get to the bottom of this.

[2020-12-14 20:15] lucyzhang929 commented on #9067
Hi @EricTechcert @RolandASc @abourassi,

Using the sample code @EricTechcert gave above, I see the same Intellisense suggestions on the latest version of Azure Data Studio (1.25.1) as VSCode after pressing **ctrl+space**.

Azure Data Studio:
![ADS](https://user-images.githubusercontent.com/23462877/102129878-f10ec380-3e04-11eb-87a6-8ebaf22b578c.png)
VSCode:
![VSCode](https://user-images.githubuser

[2020-12-14 21:24] #13447 closed

[2020-12-14 21:24] #13453 closed

[2020-12-14 21:24] #13445 closed

[2020-12-14 21:29] coquagli opened #13804 "More easily create new notebook files"
Issue Type: <b>Feature Request</b>

The notebook creation experience is a bit clumsy:

- I should be able to create a new notebook from the Notebooks pane (not just the Explorer pane)
- I shouldn't have to edit the table of contents file (toc.yml) when creating a new notebook
- I should be able to "Make subpage" and "Promote subpage" to a notebook (just like in OneNote)
- I should be able to move

[2020-12-14 22:40] MsSQLGirl commented on #10896
@mikelawell @barbaravaldez  - I'm using v1.25.1 right now and am unable to repro. Perhaps we can close this if it's no longer an issue?

I do notice that there is "\/" in front of the beginning of the relative link. But this seems to be harmless on Windows. @barbaravaldez - what's the behavior on Mac or LInux?

A friendly reminder:  link sometimes does not work is that if a user forgets to mark th

[2020-12-14 22:44] MsSQLGirl commented on #9912
Closing this issue since it's already fixed.
cc @gupta1

[2020-12-14 22:44] #9912 closed

[2020-12-15 00:24] #13651 closed

[2020-12-15 00:43] dzsquared commented on #13794
@jasonhorner - you will also need the .NET Core SDK installed on the workstation to use the SQL project extension (https://dotnet.microsoft.com/download/dotnet-core/3.1)

[2020-12-15 00:44] #11576 closed

[2020-12-15 00:44] kisantia commented on #11577
expected to be fixed

[2020-12-15 00:44] #11577 closed

[2020-12-15 00:46] kisantia commented on #13622
test one more time before closing

[2020-12-15 00:47] kisantia commented on #13559
needs to be fixed in DacFx

[2020-12-15 00:51] kisantia commented on #13157
@Benjin were you able to update ADS to use the new default options?

[2020-12-15 00:55] kisantia commented on #11047
option: in the notification that the project failed to load, add a button to open the .sqlproj. @SakshiS-harma can you take a look at this?

[2020-12-15 00:57] chlafreniere commented on #13804
Hi @coquagli, @barbaravaldez is working on new features to make it easier when doing various edits for books. Definitely on our radar.

[2020-12-15 00:58] kisantia commented on #10589
@Benjin do you want to take this for Jan/Feb?

[2020-12-15 01:01] kisantia commented on #13781
needs to be done in DacFx

[2020-12-15 01:06] kisantia commented on #13674
@dzsquared please add in documentation the new section in the workspace file we added here

[2020-12-15 01:09] kisantia commented on #12816
@Benjin is this already fixed?

[2020-12-15 01:10] kisantia commented on #12716
needs to be fixed in DacFx

[2020-12-15 01:11] kisantia commented on #12716
@ssreerama feel free to ask for more info on this. This isn't for January release, not an urgent thing

[2020-12-15 01:13] kisantia commented on #12185
let's wait on telemetry to see how many people use profiles

[2020-12-15 01:17] #11096 closed

[2020-12-15 01:20] #13697 closed

[2020-12-15 01:21] kisantia opened #13808 "create new project templates"
option 1: keep it how it is with SQL Edge as a separate template
option 2: not SQL Edge specific, but a template with streaming jobs

[2020-12-15 01:22] kisantia commented on #13448
@SakshiS-harma where is this happening? Did it happen with the new data workspace viewlet?

[2020-12-15 01:23] kisantia commented on #13440
discussed with UX. Can change this for overall ADS, but Projects should be the same as the rest of ADS so closing this for now

[2020-12-15 01:23] #13440 closed

[2020-12-15 01:32] kisantia commented on #13288
@SakshiS-harma can you check if you're still able to repro? Assigning to you for repro and initial investigation

[2020-12-15 01:48] kisantia commented on #12231
related to #12204

[2020-12-15 08:32] MsSQLGirl opened #13810 "Notebook padding / gaps before headings getting wider impacting readability"
- Azure Data Studio Version:
Version: 1.25.1 (user setup), 1.24.0 (user setup)

also verified on:
Version: 1.26.0-insider (user setup)
Commit: 1903388b6bb48c38f28ecbb21dd7accf4d3ea00e
Date: 2020-12-15T06:31:43.151Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Create a new notebook with H1.
2.

[2020-12-15 08:45] RolandASc commented on #9067
Thanks for investigating @lucyzhang929.

I have upgraded Azure Data Studio (1.25.1) and tried the same code snippet in a notebook cell, but unfortunately still have the same problem (i.e. wrong context suggestions after pressing **ctrl + space**.

Fwiw, I am using the "Python 3" kernel and pointing to my own pre-existing Python installation (Miniconda). Under "Settings", **Editor > Suggest:** all

[2020-12-15 08:51] MsSQLGirl commented on #8589
@mikewo - FYI, I've posted a workaround to connecting to Log Analytics workspace / Azure Monitor logs here: https://github.com/MsSQLGirl/jubilant-data-wizards/blob/main/Simple%20Demo/KQL%20Notebooks/Demo-NativeKusto-CrossClusterQuery.ipynb

Let us know what you think. Thanks!

[2020-12-15 11:03] johnny32 commented on #8052
There's an issue with this approach: it filters by searching for each individual character on the object names, instead of the full word. Say I have a table with the text "TEMP" in its name, and another with the text "TMP". If I filter by writing "tmp", both tables will match, when only the second one would match in SSMS.

[2020-12-15 12:12] dnaren commented on #1388
I was running into similar issues, even with the latest version of ADS. I was able to resolve my issues by deleting the %AppData%\azuredatastudio folder (effectively a factory reset of ADS).

PS: You'll need to re-configure your connections & any preferences you had before.

[2020-12-15 13:53] jelitter commented on #1388
Thanks very much @dnaren , that worked 👍

[2020-12-15 16:02] MsSQLGirl commented on #13810
@halerankin - thoughts on this?

[2020-12-15 16:18] ssreerama commented on #12716
@kisantia, Sure, will look into it and reach you if I have any questions :)

[2020-12-15 17:49] lucyzhang929 commented on #9067
@RolandASc, are the wrong context suggestions you are seeing the same as the one @EricTechcert posted above (grades. example)? I am seeing the same "wrong" suggestions list when I am using the SQL Kernel:

<img width="720" alt="Screen Shot 2020-12-15 at 9 41 31 AM" src="https://user-images.githubusercontent.com/23462877/102252113-8a4be180-3eba-11eb-96da-9e8a93f8b0c7.png">

I wonder if this has som

[2020-12-15 17:54] alanrenmsft opened #13812 "infinite reloading loop when trying to load any resource deployment option"
latest Insider

steps:
1. open resource deployment dialog
2. pick any option and click 'Select' button

Expected:
options and prerequisite page loads.

Actual:
the options and prerequisite page get into a infinite loading loop.

[2020-12-15 18:05] halerankin commented on #13810
@MsSQLGirl I can dive into the styles to see where that's coming from. I assume we want to decrease the gap.

[2020-12-15 18:22] alanrenmsft commented on #13780
@ummspmacdon thanks for reporting the issue, I will look into it, meanwhile you can use the context menu (right click on the cell to bring it up) to access the copy menu item. the feature is there, but somehow the CTRL+C shortcut key is not working for a single cell selection.

also, when you say CTRL+P, I suppose you mean CTRL+V for pasting. right?

[2020-12-15 18:48] SakshiS-harma commented on #13448
@kisantia Yes, it is happening in new data workspace viewlet. If the project that a user is trying to open is already opened in the viewlet, it doesn't show any informational message (which was the case in Projects extension).

[2020-12-15 18:49] alanrenmsft commented on #13750
@zotrb, thank you for opening the issue, unfortunately this is a feature we inherit from VSCode.
the first issue is being tracked by: https://github.com/microsoft/vscode/issues/111973. regarding to the shortcut keys, yeah, I don't know why they decided to use different keys to begin with. you can follow the instructions here: https://code.visualstudio.com/docs/getstarted/keybindings to update the

[2020-12-15 18:49] #13750 closed

[2020-12-15 19:24] barbaravaldez commented on #10896
@MsSQLGirl - I was not able to repro on Mac, as well.

[2020-12-15 19:25] chlafreniere commented on #4160
We have since implemented this in the markdown toolbar:

![image](https://user-images.githubusercontent.com/40371649/102262602-30eaaf00-3ec8-11eb-964d-9c6ac9a3ab02.png)

Closing this issue.

[2020-12-15 19:25] #4160 closed

[2020-12-15 19:29] chlafreniere commented on #4896
Over the past year, we've done quite a bit of work on the toolbar and cell styling. I cannot repro this issue any longer. Please feel free to reopen if you encounter this behavior again.

[2020-12-15 19:29] #4896 closed

[2020-12-15 19:32] chlafreniere commented on #4897
No longer able to repro this issue with 2 notebooks side by side:

![image](https://user-images.githubusercontent.com/40371649/102263382-15cc6f00-3ec9-11eb-829b-84cd3f40eca0.png)

Closing this issue for now. If you see this reoccur, please feel free to reopen.

[2020-12-15 19:32] #4897 closed

[2020-12-15 19:38] halerankin commented on #13810
@MsSQLGirl Take a look at this PR. The conversation about top-padding in edit versus preview led to adding the additional 14px on top. I can remove it but height difference between the two modes will persist.
https://github.com/microsoft/azuredatastudio/pull/13153

[2020-12-15 19:44] #13474 closed

[2020-12-15 20:16] ClutteredSchema opened #13814 "Intellisense doesn't recognize "If Exists" extension of drop table, and Doesn't recognize any temptable names"
Issue Type: <b>Bug</b>

The below, with the SQL Type as MSSQL, will not recognize 'If Exists' nor will it recognize temp tables referenced after the create statement.

        --Find all ID's with Changes, regardless of source
        Drop table if exists #EmployeeIDs
        Create Table #EmployeeIDs
            (EmployeeID varchar(25) not null Primary Key Nonclustered
            ,index tmp_Empl

[2020-12-15 21:44] kisantia opened #13817 "Add database reference dialog input boxes not enabling/disabling correctly"
- Azure Data Studio Version: Insiders

The input boxes should be enabled/disabled properly based on what the selected location is in the dropdown. The expected states are:
- Same database: all disabled
- Different database, same server: only database input boxes enabled
- Different database, different server: All input boxes enabled

Expected(working correctly in December release):
![expectedRefer

[2020-12-16 02:51] chlafreniere commented on #7209
This no longer reproes. Likely was fixed on the vscode side.

[2020-12-16 02:51] #7209 closed

[2020-12-16 02:57] chlafreniere commented on #10741
This has been active for 6 months and is by design. Closing it.

[2020-12-16 02:57] #10741 closed

[2020-12-16 07:46] abourassi commented on #9067
Hi,
In my case, it work if new notebook, but python IntelliSense not working in an existing noteook.
Regards,

[2020-12-16 09:43] hongquan commented on #11249
For Ubuntu 20.10, you can follow this [guide](https://discourse.ubuntu.com/t/default-to-tls-v1-2-in-all-tls-libraries-in-20-04-lts/12464/8) to manually add the config lines.

[2020-12-16 12:18] ummspmacdon commented on #13780
Allen,

The context menu (Control-C and Control-V) are not working either.  If I highlight a cell in the results window and right-click, no menu comes up.  If I highlight a cell in the results window and press Control-C and then try to paste (Yes, you are correct – Control-V instead of Control-P), the cell value does not get pasted.  What gets pasted is the last item I copied to the clipboard – it

[2020-12-16 12:52] Selvamagal opened #13819 "Azure Data Studio - Azure SQL Server Import Wizard - Handling special characters during import."
- Azure Data Studio Version:

Steps to Reproduce:

1. Special characters like backslash are missing.
2. Eg. Data in csv is like "\\PCF"
But data actually got imported into table as "\PCF"
3. One Backslash '\' is missing during import.

[2020-12-16 16:55] ShaneCourtrille commented on #12637
Expecting the user to remove the account and add it back is just plain silly.  Why not just tell the user you need to refresh the token (so they're not surprised by the browser opening up) and then run that process?

[2020-12-16 17:46] emacastelli opened #13821 "Pyspark Kernel is not loading"
Issue Type: <b>Bug</b>

Right click on BDC connection --> New Notebook --> Change kernel to Pyspark
It hungs and show an error.

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:51:41.708Z)
OS version: Linux x64 5.8.0-31-generic

[2020-12-16 17:54] emacastelli commented on #13821
More info:

I tried with sparkmagic 0.15 and 0.17.1. Same behavior.

It just gets stuck in "Changing Kernel..." and fails with this error fisrt:

Failed to change kernel due to error: Canceled

And if I try again, it fails with:

Failed to change kernel. Kernel pysparkkernel will be used. Error was: Invalid response: 404 Not Found

I would appreciate your help.

[2020-12-16 18:32] SakshiS-harma commented on #13288
I am still able to repro the issue. The last time that I tried I didn't clean dotnet completely (didn't remove the folder), hence wasn't seeing the original behavior. But I can confirm, I am seeing it now. And there is no information/error in output window.

[2020-12-16 18:32] #13679 closed

[2020-12-16 18:32] #13719 closed

[2020-12-16 18:47] chlafreniere commented on #13821
@VasuBhog could you help here please?

[2020-12-16 18:54] klaredata commented on #13518
I have the same problem:

![afbeelding](https://user-images.githubusercontent.com/63151421/102393313-78f8f700-3fd8-11eb-8f12-9e22665a5882.png)

Without the OR ALTER, all is fine:

![afbeelding](https://user-images.githubusercontent.com/63151421/102393274-6aaadb00-3fd8-11eb-8646-08387746f582.png)

[2020-12-16 21:13] nilsut opened #13825 "SandDance for Azure Data Studio Visualizer Not Working!"
I have tried this visualizer on different computers. When i tried it for the first time it worked perfectly and it was very helpful. However after i closed the app and opened it later on the extension did not work. The visualizer symbol appears but nothing happens when i clicked the button. Also the data studio is not giving any errors when i pressed the button. Later , i tried this extension on a

[2020-12-16 21:18] aasimkhan30 opened #13826 "Dropdown is returning older value in onValueChange event handler"
@Charles-Gagnon , PR: #13691  has broken the dropdown.value. Right now, the value of the dropdown is changed after the event is fired.

Any extensions using dropdown.value in their dropdown.onValueChange() event handler will get a stale value of the dropdown.

Extensions affected:
1. Import,
2. Resource Deployment

[2020-12-16 21:59] nilsut commented on #13825
UPDATE: I didn't do anything different. I just uninstalled and then installed the extension as i did before on the other computer and after couple of times the visualizer now works, don't know why , don't know how ?

[2020-12-16 22:19] VasuBhog commented on #13821
Hi @emacastelli, I am sorry to hear that you're having trouble with the pyspark kernel. I was **not** able to repro this with my **Mac** and **Windows** Machines. This may be a Linux based issue. One thing I recommend is uninstalling sparkmagic and reinstalling it to the latest.

Once you open the notebook via the BDC connection, does it set the kernel to SQL?

![image](https://user-images.githubu

[2020-12-16 22:28] Charles-Gagnon commented on #13826
@aasimkhan30 Are you sure that this is with the current state of things and not in the branch that you've been changing? I just took a look at this and the events seem to have the expected value for both normal select boxes and editable dropdowns.

If this is with the current stuff from main then please include instructions as to how to repro the issue in case I'm missing something.

[2020-12-16 22:59] chlafreniere opened #13827 "Notebooks: SVG Outputs from Code Cells are Duplicated"
Create a notebook, change the kernel to Python, paste the following into a code cell and run it.
[code]

Notice that the MSFT logo is duplicated:
![image](https://user-images.githubusercontent.com/40371649/102416719-353dc780-3faf-11eb-84fb-605cb9f9aefe.png)

[2020-12-16 23:02] chlafreniere commented on #13827
Synced with Stuart, and this impacts livesite due to the proposed use of the graphviz library.

[2020-12-16 23:06] nilsut commented on #13825
[Logs.zip](https://github.com/microsoft/azuredatastudio/files/5705944/Logs.zip)

[2020-12-16 23:08] #12856 closed

[2020-12-16 23:08] alanrenmsft commented on #13825
@nilsut  next time when you see the issue, aside from the logs mentioned above, please also open the developer tools and see whether there are any errors in the console:

1. Open help menu
2. pick "Toggle Developer Tools"

![image](https://user-images.githubusercontent.com/13777222/102417272-38858300-3fb0-11eb-81ab-d94a42597bc9.png)

also, in case you have any issue regarding the SandDance extensi

[2020-12-16 23:10] nilsut commented on #13825
Thank you for your help, so far everything is okay.

[2020-12-16 23:12] alanrenmsft commented on #13825
@nilsut unfortunately, I don't see anything useful in the logs for the issue you described, please let us know if you see it again with the developer tools console screenshot. I am going to remove the logs now and close the issue.

[2020-12-16 23:12] #13825 closed

[2020-12-16 23:29] BranislavGrbicMDCS opened #13829 "Azure Data Studio has lock_timeout = 5000, although it has -1 (infinite) in settings"
- Azure Data Studio Version:

Steps to Reproduce:

1. Lock_timeout is set to -1 in the settings
2. Right click on SQL-OD server -> new query
3. Run query: select start_time,session_id, status, command, blocking_session_id, wait_type, wait_time, lock_timeout from sys.dm_exec_requests
where status <> 'background' and status <> 'sleeping'
4. The result of lock_timeout is set to 5000.

[2020-12-16 23:42] emacastelli commented on #13821
Hi! I tried what you suggested but the problems its still there.

When I open notebook from BDC it goes to SQL  kernel.

I think I could have some issue with python local installation. I have this:

![image](https://user-images.githubusercontent.com/70211371/102419666-03445980-3fdf-11eb-96b0-f44177333b0f.png)

What installation do you suggest me to choose?

[2020-12-17 02:25] #13827 closed

[2020-12-17 08:53] Asugakoisi opened #13835 "Japanese Language Pack is not available"
- Azure Data Studio Version:1.25.1

Steps to Reproduce:

1. Open the command palette.
2. Fill in the text box with "Configure Display Language."
3. Click "Install additional languages..."
4. Select "Japanese Language Pack for Azure Data Studio."
5. Error message is displayed.

The error message : "Unable to open 'Extension: Japanese Language Pack for Azure Data Studio': XHR failed."

[2020-12-17 10:19] fsteffi commented on #9208
GitHubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:19] fsteffi commented on #9471
GitHubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:21] fsteffi commented on #9410
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:21] fsteffi commented on #9265
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:24] fsteffi commented on #9404
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:24] fsteffi commented on #9235
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:24] fsteffi commented on #9207
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:25] fsteffi commented on #9474
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:25] fsteffi commented on #9401
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:25] fsteffi commented on #9399
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 10:25] fsteffi commented on #9255
GithubTags:#A11y_SQlADS_WCAG2.1;

[2020-12-17 16:01] vesselin-ag opened #13836 "Error expanding server node when connecting to SQL Server"
Server node not expanding when connecting to SQL Server (server is accessible via SQL Management Studio)

[2020-12-17 10:57:14.209] [renderer1] [info] Creating new connection connection:providerName:MSSQL|applicationName:azdata|authenticationType:Integrated|database:MBIMASTER|server:hcs-dev-mstr1|user:|databaseDisplayName:MBIMASTER|group:a42c273a-d048-4ff4-b0b9-df0172a73954
[2020-12-17 10:57:14.21

[2020-12-17 16:02] vesselin-ag commented on #13836
![image](https://user-images.githubusercontent.com/62258734/102511940-65d93c00-4057-11eb-89fd-35bd68bfe00a.png)

[2020-12-17 17:37] VasuBhog commented on #13821
Yes, it must be a sparkmagic and python compatibility issue. I am currently using Python 3.6 on both machines and it seems to work with the newest version. Can you please try to download and use Python 3.6?

![image](https://user-images.githubusercontent.com/23587151/102522234-da59ae00-404a-11eb-8af1-23b64f155d7b.png)

[2020-12-17 17:44] TreCook commented on #12916
I love this feature in SSMS. Please add it.

[2020-12-17 17:45] TreCook commented on #12916
Multiple columns?  :o   Thanks for the heads up on that.

[2020-12-17 17:51] #13826 closed

[2020-12-17 18:33] kisantia commented on #13817
fixed by #13831

[2020-12-17 18:33] #13817 closed

[2020-12-17 18:38] emacastelli commented on #13821
Hello,

I could fix the issue. I was uninstalling / installing sparkmagic manually, from terminal. I did it again from Packages Manage and it worked.

Thank you.

[2020-12-17 18:38] #13821 closed

[2020-12-17 18:38] emacastelli commented on #13821
Resolved by unistalling /installing sparkmagic from Packages Manager (ADS)

[2020-12-17 18:39] chlafreniere opened #13837 "Connection Dialog opens twice when Launched from Notebooks"
- Create new notebook
- Create new code cell
- Press F5 (connection dialog will appear)
- Click cancel (or press escape key)
[Nothing happens 😞]

Note: I am not able to repro this behavior for query editor.

[2020-12-17 18:57] VasuBhog commented on #13821
No problem :). Great to hear!

[2020-12-17 19:00] brentwc opened #13839 "Use Redgate Adventure Works"
Issue Type: <b>Bug</b>

My Client IP does not have access to the server. Azure itself is not permitting the read.
This isn't a bug for Azure Data Studio - placing it here for other readers of the forum (below) connecting to the DB via ADS.
https://www.sqlservercentral.com/articles/connecting-to-adventureworks-on-azure
https://www.sqlservercentral.com/forums/topic/connecting-to-adventureworks-on-az

[2020-12-17 19:07] way0utwest commented on #13839
This isn't an appropriate place for this issue, as this isn't an ADS issue. You should post a note at the article you've linked to.

[2020-12-17 19:23] zuhaerzim commented on #4916
This would be super useful to have, any traction on this?

[2020-12-17 19:27] kisantia opened #13841 "Create project from database dialog should show loading indicator"
When launching the Create project from database dialog from the context menu of a database, the server and database dropdown are already populated, but sometimes the database dropdown is blank for a few second while waiting for the list of databases to load.

![image](https://user-images.githubusercontent.com/31145923/102533666-94a4e180-405a-11eb-895a-2edf0e92fb61.png)

 It would be nice if there

[2020-12-17 19:27] chlafreniere commented on #9249
Hey @barbaravaldez we talked about this at scrum. Makes more sense to be assigned to you 😄

[2020-12-17 19:37] SakshiS-harma commented on #13288
Closing this bug, since the error that was mentioned as unhandled, actually adds up with the informational message and helps with understanding the root cause to be the absence of .NET Core. Informational message can be ignored without the error- hence keeping it as-is.

[2020-12-17 19:37] #13288 closed

[2020-12-17 19:48] VasuBhog commented on #9138
@ClaudioESSilva, thank you for letting me know! I will continue to investigate this issue. It seems, for now, the most reliable method thus far is to ensure that the _PowerShell Integrate Console_ is shown in the Terminal after running the first cell. If not then this can cause issues, and indicate that the powershell kernel has not fully loaded.

[2020-12-17 20:05] ummspmacdon commented on #13780
Another issue that I think coincides with this is the fact that I no longer see the icons along the right-hand side of the results window that allows me to export to Excel, or text or json…..

To wrap it up, I can’t copy a single cell of the results, I can’t copy any portion of the results grid and I can’t export to a useful format……

Paul

---------------------------------------------------------

[2020-12-17 21:15] #12509 closed

[2020-12-17 22:47] tmichael-ms opened #13845 "Notebook: Support for multiple code cell kernal/connections within a notebook"
**Is your feature request related to a problem? Please describe.**
I have data stored in SQL and Kusto data stores that I want to pull into a single notebook.  Currently, I am limited to creating separate notebooks for each set of queries since the Kernal and Connection settings is at the notebook level.

**Describe the solution or feature you'd like**
Code cells in notebooks should have independe

[2020-12-17 22:55] alanrenmsft commented on #13780
@ummspmacdon what is your version of ADS and what OS are you using? I just tried on Windows and macOS, both the latest stable and insider, I couldn't reproduce the issue.

![image](https://user-images.githubusercontent.com/13777222/102553463-bc567280-4077-11eb-9fac-fbff0fffeb3b.png)

do you see any errors in the console? (Help menu -> Toggle Developer tools -> console tab)
![image](https://user-im

[2020-12-17 23:17] brentwc commented on #13839
Yep. If you go to the link, the post links to this article.

On Thu, Dec 17, 2020, 14:07 Steve Jones <notifications@github.com> wrote:

[2020-12-17 23:51] ummspmacdon commented on #13780
Version: 1.25.1 (user setup)
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98
Date: 2020-12-11T01:59:24.271Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.17763

Paul

-------------------------------------------------------------------------------------------------------------------------------
Paul T. MacDonald | Archive/D

[2020-12-17 23:59] tmichael-ms opened #13847 ""Atom One Dark Theme" Extension does not install"
- Azure Data Studio Version: 1.25.1

Steps to Reproduce:

1. Try to install "Atom One Dark Theme" from the ADS Extensions repository.
2. Downloaded the vsix file and tried to install it.  Log with error is below.

12/17/2020 3:51:31 PM - Microsoft VSIX Installer
12/17/2020 3:51:31 PM - -------------------------------------------
12/17/2020 3:51:31 PM - Initializing Install...
12/17/2020 3:51:31 PM

[2020-12-18 00:01] alanrenmsft commented on #13780
@ummspmacdon how about console logs? Could you please also attach a screenshot of the query results area? please make sure no sensitive data is included.

[2020-12-18 00:05] tmichael-ms commented on #13847
Sorry, user error.  This is the error you get when just trying to open the .vsix file.  Using the proper steps.. Open command palette and selecting Extensions: Install from VSIX... worked.

[2020-12-18 00:07] alanrenmsft commented on #13780
@ummspmacdon when attaching screenshots, you might have to open github in browser, If I remember correctly, images in the email reply won't show up here.

[2020-12-18 06:17] baolijn opened #13849 "can't login Azure China account"
when we use Azure Data Studio, we can't login Azure China account, can you privide a solution?

[2020-12-18 07:30] kburtram commented on #13849
@baolijn have you enabled support for Azure Chine in the User Settings?  Please let us know if this doesn't resolve the issue?

<img width="708" alt="Screen Shot 2020-12-17 at 11 28 48 PM" src="https://user-images.githubusercontent.com/599935/102586846-b4babc00-40bf-11eb-84cc-fac04a568f1a.png">

[2020-12-18 08:50] roxxette commented on #9832
Hi, please add China Cloud support.

[2020-12-18 09:11] kburtram commented on #9832
@roxxette have you enabled support for Azure Chine in the User Settings?  Please let us know if this doesn't resolve the issue?

<img width="708" alt="Screen Shot 2020-12-17 at 11 28 48 PM" src="https://user-images.githubusercontent.com/599935/102586846-b4babc00-40bf-11eb-84cc-fac04a568f1a.png">

[2020-12-18 12:46] ummspmacdon commented on #13780
[Graphical user interface, text, application  Description automatically generated]

[A picture containing text, computer  Description automatically generated]

Paul

-------------------------------------------------------------------------------------------------------------------------------
Paul T. MacDonald | Archive/Decommissioning Project | email: pmacdonald1@umm.edu<mailto:pmacdonald1@umm.ed

[2020-12-18 13:04] ummspmacdon commented on #13780
Alan,

After I sent those screenshots, I was looking at the Developer Tools to get the Console log.  When I opened it, there were hundreds of entries.  Some said ‘dirty’ profile, some mention rendering etc.  When I tried to capture the log to save it, it went away.  When I closed out the app to restart it hoping to get a clean log, everything returned to normal.  The icons are back.  I can select

[2020-12-18 13:51] barthermans commented on #282
@yualan Is there anything you can already share?
Really looking forward to this feature!

[2020-12-18 14:35] virtualdvid opened #13850 "Add the option to include scripts in SQL DB projects"
**Is your feature request related to a problem? Please describe.**
There is only the option to exclude from projects. I have the issue of members in my team creating the scripts without using projects or by accident excluding files. Then we have to manually include the script into the `sqlproj` file or use VS19 so the script can be mapped again.

![image](https://user-images.githubusercontent.com/

[2020-12-18 14:54] TroyWitthoeft opened #13851 "Add default authentication type setting"
**Is your feature request related to a problem? Please describe.**

Can we consider creating a `DefaultAuthenticationType` setting ?
Currently the default authentication type for all connections into Azure SQL databases is `SQL Login`.

![image](https://user-images.githubusercontent.com/1102958/102626853-5ddfd180-4115-11eb-8e54-323e5549da34.png)

Let's give users the options to choose their defaul

[2020-12-18 16:11] ablyler opened #13852 "Tables folder list is empty after using Azure Resource Mover for SQL"
Issue Type: <b>Bug</b>

After moving a database to a different regin, the table list is now empty. I can execute queries on the missing tables.

Azure Data Studio version: azuredatastudio 1.24.0 (eb3c0f5d9df86b9490606aab7fffaa253b0aca4d, 2020-11-10T23:35:27.682Z)
OS version: Darwin x64 20.2.0

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-8259U CPU @ 2

[2020-12-18 17:03] SakshiS-harma commented on #11047
After discussion, here are a few more options that can be tried:
- Toast notification to present the error of the failure, along with a button to open the .sqlproj file.
- Disable project (context menu to only have essential commands like Remove project, edit sqlproj file, open containing folder) with no children nodes.
- Project with only one child that prints the error.

[2020-12-18 17:49] alanrenmsft commented on #13780
Paul, glad to know it is working again.

[2020-12-18 17:49] #13780 closed

[2020-12-18 18:06] #13812 closed

[2020-12-18 18:24] #13799 closed

[2020-12-18 18:32] alanrenmsft commented on #13852
@ablyler have you tried to refresh the 'Tables' node? do you see anything in the Developer tools Console? (Help -> Toggle Developer Tools and then go to the console tab)

[2020-12-18 18:36] alanrenmsft commented on #13839
just like @way0utwest said, an ADS issue is not the best place for this as this is not actionable for us, and we have to close it.

[2020-12-18 18:36] #13839 closed

[2020-12-18 18:45] #13847 closed

[2020-12-18 18:48] alanrenmsft commented on #13845
If I remember correctly, this is already being worked on or already available, @chlafreniere, am I right?

[2020-12-18 18:52] SakshiS-harma opened #13854 "Remove unreferenced strings in sql-database-projects extension"

[2020-12-18 18:56] smartguest commented on #13835
@Asugakoisi Hi can you try and download the Japanese language pack now? There was a misnamed file location that was on the manifest, we corrected it and now it should point to the correct file location. If your extensions gallery freezes, please let me know. Thanks!

[2020-12-18 18:59] kisantia commented on #13850
duplicate of https://github.com/microsoft/azuredatastudio/issues/13344

[2020-12-18 18:59] #13850 closed

[2020-12-18 19:16] ablyler commented on #13852
@alanrenmsft refreshing the 'Table' node doesn't help, I have tried that. Here are some interesting logs that I found in the Developer tools Console: https://gist.github.com/ablyler/33e8132ba3f462d49fe6ad5397d3cf70

[2020-12-18 19:31] kisantia opened #13857 "Open existing workspace not updating workspace location correctly"
When using the file picker, the open existing workspace works correctly. However, if the value in the inputbox is updated, then that value is not used
![image](https://user-images.githubusercontent.com/31145923/102653872-74415980-4124-11eb-946a-83b28a49c305.png)

[2020-12-18 19:41] chlafreniere commented on #13845
Correct. Both are in progress.

[2020-12-18 20:33] #13448 closed

[2020-12-19 05:43] Asugakoisi commented on #13835
I was able to use the Japanese language pack successfully. Thank you!

[2020-12-19 16:53] BrentOzar commented on #13429
After upgrading to Big Sur, I couldn't open Azure Data Studio anymore:
<img width="274" alt="Screen Shot 2020-12-19 at 9 50 03 AM" src="https://user-images.githubusercontent.com/245462/102694646-a237a400-41df-11eb-969a-20495a056fe4.png">

I'm the admin on my machine. Verified that it wasn't a permissions problem on the app, either - right-clicked on Azure Data Studio, went into Get Info, and it re

[2020-12-19 19:01] jordang87 commented on #13429
After upgrading Cisco AMP to the latest release I could connect with integrated login but still crashed on MFA login. Then I upgraded Big Sur to 11.1 and now I can connect to DBs with MFA.

[2020-12-20 12:35] janpieterz commented on #12637
A company policy password reset also caused this to trigger. Removing and adding the account again did not resolve it in my case either.

[2020-12-20 21:14] #13793 closed

[2020-12-21 09:47] mouradbka commented on #94
it worked great for me, thank you very much! I struggled a bit to install extension on azure data studio. What finally worked for me was to download the folder and then "file > install Extension from VSIX Package" and had to reload ADS and now it works seamlessly.

[2020-12-21 15:48] danhausman opened #13864 "SQL Server Import fails on M1 mac running macOS 11.1"
- Azure Data Studio Version:  1.25.1
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98

Steps to Reproduce:
Running SQL Server Import v1.1.0

1.Log in to database.
2. Start Import
3. Point to DB and source file
4. Import
5. Fails output below:

Same file works fine on Intel macOS 11.15.7  I am happy to send more logs or do more testing if it helps. Please let me know.

![Screen Shot 2020-12-21 at 1

[2020-12-21 19:29] #13857 closed

[2020-12-22 05:04] MsSQLGirl commented on #9941
@halerankin -

The offset issue is more severe if the text cell containing the links are somewhere in the middle of a notebook.

File to repro: https://github.com/MsSQLGirl/jubilant-data-wizards/blob/main/Simple%20Demo/Sample%20Notebooks%20-%20Data%20Analysis/ADSNotebooksDemo.ipynb

In Azure Data Studio, you can simply press Ctrl + O, and paste the raw path
`https://raw.githubusercontent.com/MsSQL

[2020-12-22 06:37] jagdishrajan opened #13866 "When running a query automatically connect, if the token has expired"
**Is your feature request related to a problem? Please describe.**
I hit F5 to run a query. I get an error message that the connection token has expired on my saved or recent connection.  Now I have to click Connect again, select the connection and click Connect.

**Describe the solution or feature you'd like**
This is all too slow.  On running a query when the connection token has expired it shou

[2020-12-22 10:55] gpuma commented on #13423
Same thing happens to me. On Zorin OS 15.3 with the version 1.25.1 of Azure Data Studio

[2020-12-22 13:18] ClutteredSchema opened #13867 "Generate script for create object doesn't always work"
Issue Type: <b>Bug</b>

very often, when I go to script create an object from my saved connections, it won't respond. No indictation that it's waiting, no idication that it's still attempting anything. disconnecting and reconnecting *sometimes* resolves it, but it might take 2-3 reconnections. This is on multple client databases across different azure subscriptions, always azure SQL db.

Azure Dat

[2020-12-22 18:00] coquagli opened #13868 ""Copy remote link" is slow"
Issue Type: <b>Performance Issue</b>

![image](https://user-images.githubusercontent.com/24420239/102918797-39edfa00-444d-11eb-9b45-c4e8c3ba5dbe.png)

The Notebook tool "Copy remote link" seems like it should just be a fairly simple operation. But it takes 3 - 5 seconds every time. Is there some kind of bug making this operation take longer? Could the slow part be pre-computed and cached?

Azure D

[2020-12-23 00:33] coquagli commented on #13804
Renaming a notebook file would also be nice. :)

[2020-12-23 02:37] MsSQLGirl commented on #9941
I converted the ipynb to readme.md (a markdown file). It looks like the links are working (except for the ones that are referring to other notebook's parts) in Azure Data Studio.

The readme.md file on GitHub, the links behave as expected (for links that are within the md file). i.e.

The markdown file is here:
https://github.com/MsSQLGirl/jubilant-data-wizards/tree/main/Simple%20Demo/Sample%20Not

[2020-12-23 05:39] eat-sleep-code commented on #12992
This issue still occurs on current Insider Build on a Mac running Big Sur.

[2020-12-23 07:05] JawaharlalMuthinni opened #13871 "New notebook shortcut (Alt + Windows + N) opening OneNote application instead of new notebook"
Issue Type: <b>Bug</b>

New Notebook shortcut is not working as expected (instead opening OneNote)
Below shown methods to open a new notebook.

Method 1: File > New Notebook (opening new ADS notebook)
Method 2: **Alt + Windows + N** (opening OneNote application)

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windo

[2020-12-23 08:46] ayamPedas opened #13872 "Manually closed unsaved queries keep opening with Azure Data Studio"
Issue Type: <b>Bug</b>

After closing (manually) unsaved queries, said queries open up again if Azure Data Studio is closed and opened again (even with shutdown of pc in between).

Steps to reproduce:
1. Close query windows
2. Close Azure Data Studio
3. Open Azure Data Studio

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS

[2020-12-23 11:11] SomeTroglodyte opened #13873 "Object browser data type display incomplete"
(Version: 1.25.1)
Drilling down into database objects under Connections to the level of columns and Proc/Function Parameters displays "(type, input/output, default) as node label and as tooltip.

a) Data type xml is shown empty, i.e. "(, Input, No Default)" where it should be "( **xml**, Input, No Default)"
b) This information would be nicely improved by showing lengths/precision (including e.g. v

[2020-12-23 13:07] simonsabin commented on #11577
Found the problem. The sqltargets is loaded by referencing
[code]
 the sql.dll is loaded by referencing
[code]
 the SqlServerRedistPath is always the same as NetCoreTargetsPath for NetCore builds
[code]

 The issue is that the relative path for the dll, is relative to the location of the targets file and thus the compound path is effectively
 $(solutionpath)\$(NETCoreTargetsPath)\$(NETCoreTargetsP

[2020-12-23 15:08] simonsabin commented on #13678
Interested as to why a workspace is now needed?

[2020-12-23 17:33] rgpdx commented on #1026
Enabling Analysis services in Azure Data Studio is a must-have for me to use Azure Data Studio. Please consider this feature add.

[2020-12-23 18:05] sm1810 commented on #569
It would also be great to highlight the entire result row whenever any cell is clicked in result grid. This will be very useful if you have too many columns and scroll.

[2020-12-23 18:38] kchungmsft opened #13874 "Token retrival failed with an error. Open developer tools to view the error"
Issue Type: <b>Bug</b>

I got the following error: "Error: Token retrival failed with an error. Open developer tools to view the error"

How do I open developer tools?

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|In

[2020-12-23 18:39] #13874 closed

[2020-12-23 18:39] kchungmsft commented on #13874
.

[2020-12-24 03:13] #13789 closed

[2020-12-24 07:32] ranasaria opened #13875 "ControllerModel needs to provide synchronization apis to ensure azdata login does not change abruptly."
Currently, execution of various SQL mi and postgres operations like edit and delete issue azdataLogin before doing the main operation to ensure that operation is done against the correct data controller. However, two different executions of these commands could trample on each other.

There needs to be a synchronization mechanism provided around AzdataLogin apis so that a new operation about to st

[2020-12-25 13:18] srinath999 opened #13876 "Schema Compare has fuzzy scroll effected by pre-selection"
When a user has selected a cell in schema compare and makes changes in selection. the schema compare screen scrolls without user interaction

- Azure Data Studio Version: 1.25.2

Steps to Reproduce:

1.click on a cell with check box in schema compare screen.
2.scroll somewhere else and change selection
This results in the schema compare screen scroll to previously selected cell.

https://user-imag

[2020-12-26 01:01] JediSQL commented on #12770
Since SQL 7, at least, SQL Server query windows have allowed the user to choose between results to grid (Ctrl-D) and results to text (Ctrl-T). Many T-SQL scripts have been written on the premise of outputting formatted results to a text results window. If ADS, Azure Data Studio, query windows do not support results to text, it will make it hard to migrate from SSMS (SQL Server Management studio) t

[2020-12-26 01:53] ranasaria commented on #12940
This has been fixed by #13569

[2020-12-26 01:53] #12940 closed

[2020-12-26 11:23] JawaharlalMuthinni opened #13877 "Azure Data Studio Icon is not compatible/same in Taskbar"
Issue Type: <b>Bug</b>

open Azure Data Studio lastest version 1.25.1

check ADS Icon in Taskbar

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 10.0.17763

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-6300U CPU @ 2.40GHz (4 x 2496)|
|GPU Status|2d_canva

[2020-12-26 11:25] JawaharlalMuthinni commented on #13877
![image](https://user-images.githubusercontent.com/76511254/103150524-17384a00-479b-11eb-96b1-4d729aa5c997.png)

[2020-12-26 18:46] mkorsukov opened #13878 "Mouse click on Results panel doesn't make tab active"
Issue Type: <b>Bug</b>

When I have 2+ opened editors in the mode I where see them all, I can't make any tab active by clicking on `Results` panel (its free space or data export vertical toolbar). Azure Data Studio doesn't react. But that works in the `Messages` panel..

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS versio

[2020-12-27 03:37] Dlutchy commented on #12637
I have Azure Data Studio v1.25.1 and have not used it to logon to Azure SQL Database for over 90 days. I am getting the same error as @smathew-relativity.

[2020-12-27 19:36] brentwc commented on #13839
@way0utwest @alanrenmsft ADS itself prompted me to supply the bug report via an automated form generated within ADS it was the first time I had been prompted to do so by this client, hence the disclaimer it isn't an ADS bug. (Except maybe that the logger shouldn't have prompted me for a simple firewall issue.)

[2020-12-27 21:44] MsSQLGirl commented on #9237
Seems to be duplicate of #9636.
cc @chlafreniere

[2020-12-28 14:48] pdevito3 opened #13879 "[Feature Request] Automatic Aliasing"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution or feature you'd like**
It would be great to have automatic aliasing of tables and fields. Datagrip has an example of this [here](https://www.jetbrains.com/datagrip/features/completion.html)

**Describe alternatives you've considered**
Right now this must be done manually. I haven't seen any plugins for

[2020-12-28 14:48] pdevito3 opened #13880 "[Feature Request] Column names hints for INSERT statement"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution or feature you'd like**
It would be great to have column hints for insert statements.

**Describe alternatives you've considered**
I haven't seen any plugins for this.

**Additional context**
![image](https://user-images.githubusercontent.com/24260530/103221719-49f45680-48f1-11eb-9d86-96cb6e054729.png)

[2020-12-28 14:48] pdevito3 opened #13881 "[Feature Request] Where Statement Recommendations"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution or feature you'd like**
It would be great to have recommended where statements for queries. See additional context for an example.

**Describe alternatives you've considered**
Right now this must be done manually. I haven't seen any plugins for this.

**Additional context**
![image](https://user-images.g

[2020-12-28 21:05] #13854 closed

[2020-12-29 04:42] christopherjgan opened #13887 "Connection Error 25 - M1 Macbook"
- Azure Data Studio Version: 1.19.0 and 1.25.1

Steps to Reproduce:

1. Attempting to SQL Login into server using Azure Data Studio with M1 Mac. Receive the following error message:
A network-related or instance-specific error occurred while establishing a connection to SQL Server. The server was not found or was not accessible. Verify that the instance name is correct and that SQL Server is confi

[2020-12-29 19:05] ssreerama commented on #12716
This is fixed and sent to DacFx CR.

[2020-12-29 22:27] maevyn11 opened #13888 "Unable to Expand Database Table List on Latest Windows Azure Data Studio"
- Azure Data Studio Version:
Version: 1.25.1 (system setup)
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98
Date: 2020-12-11T01:59:24.271Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19041

1. Several coworkers have recently begun to experience an error when attempting to expand a database's table list in the azure data

[2020-12-30 18:08] hillsrobin commented on #6763
Any additional logs or details that would help troubleshoot this?  I have it re-occur frequently enough in ADS that it is unproductive.

[2020-12-30 18:25] jguidera commented on #10352
Of more interest - why didn't the connection get re-established when you next attempt to execute the SQL?  I'm seeing similar behavior (window times out after being idle for a few minutes connected to Azure SQL instance) - whereby the token expires and then you need to close everything down and re-connect.  It should behave similarly to SSMS which transparently re-connects as required and is not.

[2020-12-30 21:10] steverezhener opened #13890 "can't install postgreSQL extension"
Issue Type: <b>Bug</b>

Failed to install 'microsoft.azuredatastudio-postgresql'.

Azure Data Studio version: azuredatastudio 1.13.1 (d08d07fe39c7fe74f9265db02cb963c38d048299, 2019-11-14T23:08:09.800Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i3-4025U CPU @ 1.90GHz (4 x 1896)|
|GPU Status|2d_canvas: enabled<br>f

[2020-12-30 21:46] aasimkhan30 commented on #13819
Just to make sure, you are importing "\PCF", and the imported value is "\PCF". If yes, then that is the expected behaviour. If the imported data is "PCF" (missing backslash) then something is wrong.
I have tried that with the latest 1.2.0 version of the import extension and it seems to be working fine.
Please let me know if I am missing something here.

[2020-12-31 09:00] Selvamagal commented on #13819
Hi Asim,

Thanks for looking into my query!

I was trying to import '\\PCF' and I actually got '\PCF' in Azure
SQL Server table.

Could you try importing '\\PCF' and check please?

Thank you,
Selvamagal T

On Thu, 31 Dec 2020, 03:17 Aasim Khan, <notifications@github.com> wrote:

[2020-12-31 18:04] tster123 opened #13893 "Moving a page in the _toc.yml causes the Notebooks list to stop opening pages"
Issue Type: <b>Bug</b>

1. open ADS to a notebook with a _toc.yml
2. Open the _toc.yml in another text editor
3. Move a page from one section to another section in the _toc.yml
4. Go back to ADS and and click on pages in the Notebooks list.  They won't open.

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_N

[2020-12-31 18:12] tster123 opened #13894 "redo doesn't work in Jupyter editor"
Issue Type: <b>Bug</b>

1. Open a .ipynb page
2. Start editing a markdown section
3. on a blank line write "hello world"
4. undo (ctrl+z).  Now the line should say "hello"
5. redo (ctrl+y).  I expect the line to say "hello world" but it says "hellodd"

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 1

[2020-12-31 19:31] kodeaask opened #13895 "Azure Data Studio Error Code: 50173 - Unable to logon to the DB after changing the AD Password"
I changed my AD Password. After that, when I try to log on to the Azure SQL Server Database via Azure Data Studio using 'Azure Active Directory - Universal with MFA support' it constantly throw the error

Error: Token retrival failed with an error. Open developer tools to view the error

I tried to 'Refresh the credentials' but still it keeps throwing the same error.

I'm able to logon to the SQLS

[2020-12-31 22:37] TroyWitthoeft commented on #13851
So, I was able to clone the repo down and get up and running on my local thanks to the [contributing](https://github.com/microsoft/azuredatastudio#contributing) guide, thanks!

After a little debugging, I can see that as a auser if I double-click on the node, the code-behind picks up the hardcoded authentication type value down in `databaseTreeDataProvider.ts` file.  Swapping that hardcode from `S

[2021-01-02 09:46] Eneuman opened #13896 "Connection page does not handle UTF-8 charaters in account name"
Issue Type: <b>Bug</b>

Create a Azure Account with a foreign charaters in it
Login with that account name in Windows
Connect to a database in Azure Using Active Directoy MFA.

As you can see in the screen shoot, the correct foreign character is not displayed. In this case it is a "ö"

![image](https://user-images.githubusercontent.com/12099277/103454791-aab3d280-4ce7-11eb-857e-2593f219f9af.png)

[2021-01-02 19:43] kburtram commented on #13895
@cssuh do you have any suggestions here?

@kodeaask I think the access token may need to be cleared from the credential cache.  You may try removing the the account from the Account Management dialog and then readding it.  I recall there may be some bugs in this scenario we need to fix.

[2021-01-03 00:09] cjcl007 opened #13897 "Filter option for Tables, SP, etc."
Issue Type: <b>Feature Request</b>

Please add a filter option for Tables and Stored procedures.
Is a headache always scroll down and up all the list of tables when I'm searching for a specific table.

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 10.0.19041

[2021-01-04 00:53] MsSQLGirl commented on #13810
@halerankin - I've reviewed this on the Insiders build. The padding looks much better now :)  Thank you!

Version: 1.26.0-insider (user setup)
Commit: 30054e632c75f8df0ea351f2c51b8ec7d5fa5be5
Date: 2020-12-30T06:36:16.231Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

[2021-01-04 01:41] MsSQLGirl opened #13899 "Anchor / cross reference is not scrolling to the appropriate section of Notebook"
- Azure Data Studio Version:
Version: 1.26.0-insider (user setup)
Commit: 30054e632c75f8df0ea351f2c51b8ec7d5fa5be5
Date: 2020-12-30T06:36:16.231Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Open https://raw.githubusercontent.com/MsSQLGirl/jubilant-data-wizards/main/Notebook%20Templates/Troub

[2021-01-04 01:49] MsSQLGirl commented on #13899
@chlafreniere @halerankin - would you be able to look into this please? Thank you!

[2021-01-04 05:49] liuwy1005 commented on #13897
double click the database object , or right click the database select the "manage"
then you can see the search board .
type the table name or proc name.can filter it.

[2021-01-04 06:39] Gopinathreddy6098 commented on #12165
Hi All,
Good Afternoon.
I am getting below error while connecting to azure data studio from jumphost.
Token retrieval failed with an error. Open developer tools to view the error

Could you please help me on the same.

Thanks ,
Gopinath

[2021-01-04 17:16] halerankin commented on #13899
@MsSQLGirl @chlafreniere Just before Christmas, I dedicated an entire day to testing the current experience and to look for possible solutions. So far I have no solutions. I will dive back in.

[2021-01-04 17:45] cssuh commented on #12637
Some users have mentioned that removing and re-adding their account from the accounts pane does not work. Please try this:

Remove your account from the accounts pane.  However, once you have deleted the account do not re-add it through the accounts pane.  Instead, select the "New Connection" icon ![Screen Shot 2021-01-04 at 12 41 24 PM](https://user-images.githubusercontent.com/18150417/103563081

[2021-01-04 17:46] cssuh commented on #13895
Might want to try some of the temporary workarounds mentioned here: https://github.com/microsoft/azuredatastudio/issues/12637

[2021-01-04 18:35] tmichael-ms commented on #185
Repro. Run sql query, show chart, config chart with Use first column as row label, rerun query and result reverts to table and chart config change is gone. Thus, have to toggle chart on again and have to config chart again.

[2021-01-04 19:18] #13603 closed

[2021-01-04 19:27] #13599 closed

[2021-01-04 19:46] nasc17 opened #13905 "Declarative table with multiple columns of components causes UI to freeze."
When trying to fill in the data of a declarative table that contains two columns of valueType component, the UI freezes. The table needs to be able to have about 300 rows. When trying to populate this it causes the UI to automatically freeze. The page takes some time to load and although it will show the populated rows eventually, the page not responsive.

When decreasing the table to 20 rows, the

[2021-01-04 21:58] elmat0 commented on #6763
Likewise. This issue occurs for me several times a week.

[2021-01-04 22:02] #12230 closed

[2021-01-05 07:47] juriaan-atos opened #13906 "Connecting to Azure"
Issue Type: <b>Bug</b>

Integrated security Login failed for user '<token-identified principal>'.

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i7-9700 CPU @ 3.00GHz (8 x 3000)|
|GPU Status|2d_canva

[2021-01-05 08:28] aasimkhan30 opened #13907 "Buttons in radio button group do not update the checked variable when unchecked"
- Azure Data Studio Version:

[2021-01-05 08:37] sarahpy opened #13908 "Azuredatastudio for python3 kernel on Mac OS TLS/SSL Problem"
Azure Data Studio Version:
- Version: 1.25.1 Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98

MacOS Version:
- Sierra 10.12.6
- Big Sur 11.1

Steps to Reproduce:
1. Create New Notebook
2. Choose Kernel "Python3"
3. During Notebook dependencies installation : Finally it's failed to change kernal

**Error Message in OUTPUT**
Installing ssl 1.16: Failed to install ssl 1.16. Error: Process exited wit

[2021-01-05 10:35] codykonior commented on #13107
Hi, just wondering if there's an updated ETA? Thanks.

[2021-01-05 11:08] tammandres opened #13910 "Converting Jupyter notebook to HTML for presentation, using the same style as Azure Data Studio"
Dear developers,

I really enjoy using Jupyter notebooks with SQL kernels for my work. I recently wanted to save my notebook to HTML format for presentation to colleagues -- but I could not find a way to save it in the same style that Azure Data Studio uses.

For example, if I switch to Python kernel and type "!jupyter nbconvert my_notebook.ipynb --to html --template classic" to a new notebook cel

[2021-01-05 14:00] kodeaask commented on #13895
HI @kburtram and @cssuh : Thanks a lot for your response. Yes, removing the Account completely from the Account Management and then re-adding that has resolved the issue.

[2021-01-05 14:00] #13895 closed

[2021-01-05 16:03] raeokay opened #13911 "SQL Server Agent doesn't display in manage tab"
Issue Type: <b>Bug</b>

Installed SQL Server Agent, loaded the Manage tab for my server, and there is no SQL Agent section available. Tried uninstalling and reinstalling, no dice. Only "home" and "databases" sections remain available.

![image](https://user-images.githubusercontent.com/34099563/103668819-89502200-4f45-11eb-9ebb-a94cc16e288d.png)

**Two errors from dev console:**

[0105/104910.419:

[2021-01-05 16:07] abist commented on #13911
@raeokay Thanks for opening the issue. Can you confirm whether you have "Preview Features" as enabled in the User Settings? If not, then you'll have to enable them to see SQL Agent.

[2021-01-05 16:11] raeokay commented on #13911
Ah, you got me. Forgot to enable that in a fresh install.

Thank you!

[2021-01-05 16:11] #13911 closed

[2021-01-05 17:40] Charles-Gagnon commented on #13897
Duplicate of https://github.com/microsoft/azuredatastudio/issues/12932

The suggestion that @liuwy1005 had is a possible workaround as well.

[2021-01-05 17:40] #13897 closed

[2021-01-05 22:36] Charles-Gagnon commented on #13890
It looks like you're using an older version of ADS which the latest version of the PG extension doesn't support. Please update to the latest ADS version and try again - let us know if that doesn't work.

[2021-01-05 22:36] #13890 closed

[2021-01-05 22:57] steverezhener commented on #13890
Hi Charles,

You are correct, TY. I upgraded ADS and now PostgreSQL extension is installable. I wish that extension installation would be smart enough to start with upgrading ADS if that is necessary.

Thanks in advance,
Steve Rezhener.
Data Therapist building DATA Analytics
COZYROC-Star | Melissa MVP | SentryOne PAC
https://www.datasteve.com<https://www.datasteve.com/>
[cid:image001.png@01D6E373.

[2021-01-06 00:13] weblorin opened #13915 "Cannot expand connection folder or view explorer widget without elevated permissions on SQL Server 2019 15.0.2070.41"
Steps to Reproduce:

1.  Create connection to SQL Server 2019 build 15.0.2070.41 server (either SQL or AD account).
2.  Double click on the connection.
Expected behaviour - explore the databases / objects in the connection.
Instead, hangs.
Log (Window) includes this:
[2021-01-05 14:54:44.428] [renderer1] [warning] Could not find ServerInfo for connection b8e19a7a-5a52-4c0a-b2ae-81d524387681 when u

[2021-01-06 05:08] gupta1 commented on #13294
Closing this one. Not able to repro it.

[2021-01-06 05:08] #13294 closed

[2021-01-06 05:25] chlafreniere commented on #13871
Closing this as a dupe of #9829.

The keyboard shortcut can be customized by opening the command palette (F1) and typing in "keyboard shortcuts". It can be customized further by double clicking on the following row:

![image](https://user-images.githubusercontent.com/40371649/103732548-77e63480-4f9c-11eb-89d0-c24331b23665.png)

[2021-01-06 05:25] #13871 closed

[2021-01-06 09:00] liuwy1005 opened #13919 "SQL Server Import Extension Import CSV File,If I rename the column, first row data lost forever."
- Azure Data Studio Version:
Version: 1.25.1
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98
Date: 2020-12-11T01:51:41.708Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Linux x64 5.4.0-59-generic
Steps to Reproduce:

1.Right click database - import wizard.
2.Browse the csv file click "Next".
3.Preview Data grid column name was my first row d

[2021-01-06 10:29] michelveloso commented on #10337
Hi,

It work very well to connect to SQL Server Remote after downgrade of openssl like @davidancr said.
But now, when I try to publish a project using the command **dotnet publish**, I got this errors:

"The SSL connection could not be established, see inner exception"
"The remote certificate is invalid according to the validation procedure"

Is there a way to fix this?

Regards

![Captura de Tela

[2021-01-06 13:59] aisbergde opened #13920 "SQL Database Projects - add refactoring (which is available in SSDT)"
**Is your feature request related to a problem? Please describe.**
Working with SQL Database Projects in SSDT / VS I can refactor objects (schema, name, column name)
refactoring is a very important feature in my daily work.
There is a new great ADS extension "SQL Database Projects", but I can't find refactoring there.

**Describe the solution or feature you'd like**
Implement refactoring into "SQL

[2021-01-06 14:51] gregiare opened #13921 "Azure Active Directory - Universal with MFA support does not work after the upgrade"
Issue Type: <b>Bug</b>

When trying to connect using the "Azure Active Directory - Universal with MFA Support" authentication type it no longer works after the upgrade to the latest version. I could connect before the latest upgrade. I can also connect using Microsoft SQL Server Management Studio. The error I am getting is "Error: Token retrival failed with and error. Open developer tools to view

[2021-01-06 15:02] gregiare commented on #13921
I found that this was related to changing my Azure Active Directory password and not the update. I was able to fix it by using the work around posted by Shortall in issue#12165.

[2021-01-06 15:02] #13921 closed

[2021-01-06 15:04] gregiare commented on #12165
I had this same issue after changing my Azure Active Directory password. @shortall 's workaround worked for me also. This really should be fixed so the application can gracefully handle when someone changes there AAD password. I am on version 1.25.1

[2021-01-06 15:49] Gopinathreddy6098 commented on #12165
Hi,
Thanks for your response, but I'm not clear on fix.

[2021-01-06 17:21] davidancr commented on #10337
Hi,

you can try this commands (use the same order):

dotnet dev-certs https --clean
dotnet dev-certs https
dotnet dev-certs https --trust

(please let us know if it working well)

also reading this article may could help you:
https://docs.microsoft.com/en-us/aspnet/core/security/enforcing-ssl?view=aspnetcore-3.0&tabs=visual-studio#trust-the-aspnet-core-https-development-certificate-on-windows-and

[2021-01-06 18:15] michelveloso commented on #10337
Hi,

@davidancr, I was be able to only run this commands:
dotnet dev-certs https --clean
dotnet dev-certs https

When I tried: **dotnet dev-certs https --trust** I got:
**Specify --help for a list of available options and commands.**

These are the only commands available:
![Captura de Tela_Área de Seleção_20210106151326](https://user-images.githubusercontent.com/346317/103805018-be39a300-5031-11e

[2021-01-06 20:06] lucyzhang929 commented on #12878
This issue seems to be present in main again. Also, when a new text cell is first created, its size is half of what it used to be. I think this may have been caused by @halerankin's PR https://github.com/microsoft/azuredatastudio/pull/13815. Is the decrease in size fine? Or maybe we want to add padding when in edit mode?

[2021-01-06 20:40] davidancr commented on #10337
I found this workaround may help you
https://stackoverflow.com/questions/55485511/how-to-run-dotnet-dev-certs-https-trust

[2021-01-06 20:59] #13295 closed

[2021-01-06 21:25] cssuh commented on #13906
Hello, thank you for your bug report.  If you open up the `Developer Tools` by selecting `Ctrl + Shift + P` and typing Developer Tools, do you see any additional error messages?

[2021-01-06 21:38] juriaan-atos commented on #13906
Hallo,
i was able to get the error in Developer tools.

Database 'AUTH' on server 'azeuwfsbdevsql01.database.windows.net' is not currently available. Please retry the connection later. If the problem persists, contact customer support, and provide them the session tracing ID of '{B04746D6-D96C-4575-8A6C-3FB0F84B109E}'.

The Auth database is running in Serverless mode and goes offline. It seems the

[2021-01-07 11:09] andreabosman16 opened #13925 "Why isn't this just a extension of/in vscode?"
**Is your feature request related to a problem? Please describe.**
I don't get why this isn't just an extension inside vscode. I now need to install two instances of vscode but one is named different? You also lose the capability of using dev containers which I use almost for everything.

**Describe the solution or feature you'd like**
Just integrate it in vscode and make it easier for everyone.

[2021-01-07 18:20] dnethi opened #13927 "Deployment from portal to launch ADS and into "Create data controller" wizard.. with values filled in"
The Azure Arc data controller deployment flow from portal builds the user experience with values that they typed in such as Azure subscription info etc. When the user clicks on "Launch ADS" at the end of the flow, we want to be able to drop the user into ADS > Wizard.

(1) detect whether ADS is already installed and if its not, fwd them over to ADS download page.. and (2) if its installed, check t

[2021-01-07 18:26] #13352 closed

[2021-01-07 18:28] Charles-Gagnon commented on #13927
@dnethi 1 isn't something we can really do in ADS (since if it's not installed how are we supposed to be able to do anything about it?)

Typically what I've seen done is that the portal would inform the user that they must have ADS installed and provide a link to download it if they don't.

For 2 that's a duplicate of https://github.com/microsoft/azuredatastudio/issues/11794

[2021-01-07 18:28] #13927 closed

[2021-01-07 18:32] Charles-Gagnon commented on #13925
We do actually have a VS Code extension : https://marketplace.visualstudio.com/items?itemName=ms-mssql.mssql

Azure Data Studio has a lot more functionality though that would be difficult/impossible to do just within VS Code and so in order to be able to design the features as we'd like we chose to create a fork of VS Code instead for greater control over the experience.

[2021-01-07 18:32] #13925 closed

[2021-01-07 18:34] chlafreniere commented on #12878
@lucyzhang929 good catch. Definitely worth fixing

[2021-01-07 18:39] dnethi commented on #11909
Closing for now as I havent seen it happen again..

[2021-01-07 18:39] #11909 closed

[2021-01-07 18:39] dnethi commented on #12107
Can we prioritize this for the next release? (align all the 3 dashboards)

[2021-01-07 22:37] Charles-Gagnon opened #13930 "Kusto is showing as the default provider in Connection Dialog"
Kusto is currently showing as the default provider when opening the connection dialog. This seems to be purely a display issue though - the fields all correspond to a SQL connection and if a SQL server name is put in then it can connect successfully.

The default should be shown as MSSQL regardless of what extensions are installed (PG, Kusto, etc)

![image](https://user-images.githubusercontent.co

[2021-01-07 22:39] MsSQLGirl commented on #13930
@gupta1 can you please look into this?

[2021-01-08 01:23] alanrenmsft commented on #13661
@jagdishrajan I added a shortcut key to switch between the results area and query editor area. Win+SHIFT+F.

[2021-01-08 02:20] alanrenmsft commented on #13661
![abc](https://user-images.githubusercontent.com/13777222/103966550-ebab4d00-5114-11eb-9525-f27e030a8964.gif)
@jagdishrajan this is how it looks like

[2021-01-08 02:39] #13661 closed

[2021-01-08 07:25] #13907 closed

[2021-01-08 12:42] JurgenPostelmans opened #13931 "Allow connections to Microsoft Dataverse using the TDS endpoint"
Hi,

I'm trying to connect to Microsoft Dataverse but this always returns the following error:

Login failed: The HTTP request is unauthorized with client authentication scheme 'Anonymous'. The authentication header received from the server was 'Bearer authorization_uri=https://login.microsoftonline.com/c13f6e78-545e-4878-a61a-4887d80c3f28/oauth2/authorize, resource_id=https://XXXX.crm4.dynamics.c

[2021-01-08 12:50] robjackstewart commented on #12637
I think this is a caching issue.

Like others above, I changed my password and was then unable to access azure hosted databases nor their information. I attempted to reauthenticate to no success, and I tried re-adding the account which also did not solve the problem. However, Removing the account, running the **"clear azure account token cache"** command, then re-adding the account resolved this i

[2021-01-08 14:38] StudioDove opened #13932 "File Comparison is empty unless files are open first."
Issue Type: <b>Bug</b>

1. Create two files (testa.sql, testb.sql) and put different text in them. Save and close the files.
2. Select testa.sql in the explorer pane so the preview of the file appears (single click - file name should be in italics in the tab).
3. Shift+Click testb.sql in the explorer pane so that both files are selected.
4. Right click and select "Compare"
5. Note the comparison p

[2021-01-08 17:45] alanrenmsft commented on #13829
@Charles-Gagnon , could you please take a look? let me know if this is actually a query editor issue.

[2021-01-08 19:59] cssuh opened #13933 "Connection Pane shows wrong azure account for saved connections"
- Azure Data Studio Version:

Steps to Reproduce:

1. Open a New Query
2. Select `Connect`
3. Select any saved Azure SQL DB connection
![Screen Shot 2021-01-08 at 2 55 43 PM](https://user-images.githubusercontent.com/18150417/104058581-f2dc6480-51c1-11eb-8624-42716877c22e.png)
4. It displays the wrong Azure Account, but I am still able to connect when the incorrect account is selected. (in this ca

[2021-01-08 20:16] Charles-Gagnon commented on #13933
Probably related to https://github.com/microsoft/azuredatastudio/issues/13930

My gut feeling here is that the connection dialog isn't telling the dropdown to select the proper account/provider when it's initialized so it just displays the first in the list. (but the backing account/provider would be the persisted one so if you just try to connect it works as expected)

[2021-01-08 22:20] alanrenmsft commented on #13774
@peterlukerow I took a look at the code and I can confirm it is a design issue, we are using a tree component to render the messages pane, and the text selection is not being tracked, it might need some time to actually fix the issue of copy text from invisible rows.

But in your case, you want to select all text, fortunately, that is supported, you can use the 'Select All' context menu.
![image](

[2021-01-08 22:45] #8978 closed

[2021-01-09 03:18] VasuBhog commented on #13070
@johnmart82 I have not heard back from you. I was wondering if you were able to upgrade to the newest PowerShell Kernel package and see if that got you the error as well.

Please let me know if the issue persists.

[2021-01-09 04:11] aasimkhan30 commented on #13819
@Selvamagal, thank you for reporting this bug. There seems to be an error in how we treat double backslashes. We should release a fix soon.

[2021-01-09 08:00] hastiAu commented on #6450
hi Charles-Gagnon
I find this "dashboard.server.widgets":

but I cant delete it
how can I delete?

[2021-01-09 11:53] hastiAu opened #13934 "Database Folder not Expanding in Azure data studio on mac"
I have ADS on mac
I want to connect to server but I can't

Everything is ok
user pass and is created db on server
when i want to connect server after set user pass
I see all databases on server and can choose my db

<img width="503" alt="Screen Shot 2021-01-09 at 11 48 57 AM" src="https://user-images.githubusercontent.com/67632833/104090787-474d1600-528e-11eb-9cd5-9d57dab42775.png">
.48.57 AM.png

[2021-01-09 20:08] aisbergde opened #13935 "SQL Database project - allow schema compare from database into database project and enable generate script / apply"
**Is your feature request related to a problem? Please describe.**
I want to use schema compare from a database source into the project target (as I can do in SSDT) AND generate scripts / apply changes.
Currently, I can compare a database source with a dacpac target. For example with the target "d:\Repos\_test\DatabaseProjectWideWorldImporters-test\bin\Debug\DatabaseProjectWideWorldImporters-test.

[2021-01-11 08:15] peterlukerow commented on #13774
Thanks for the update. You suggestion works, hurrah!

Now I just have to delete a couple of lines like "1 row(s) affected" before saving the file, but that's much quicker than what I was having to do before so big win.

[2021-01-11 11:17] sumanthewhiz opened #13936 "Error "TypeError: Cannot read property 'accessToken' of undefined" for any DB connection request"
Issue Type: <b>Bug</b>

All of a sudden I can no longer connect to any of my prod/uat environment databases. Whenever I try to connect, I get the error "TypeError: Cannot read property 'accessToken' of undefined".

However, I can connect to the same database servers / DBs using other clients like SQL Server Management Studio etc.

This has been happening suddenly since about a week now, and I had

[2021-01-11 17:26] Charles-Gagnon commented on #6450
What do you mean you can't delete it? If you open the JSON settings you should be able to delete the entry from the JSON text editor that is opened.

[2021-01-11 17:41] abist opened #13938 "Connection Dialog defaults to Kusto Connection"
- Azure Data Studio Version: 1.26.0

![Screen Shot 2021-01-11 at 9 39 44 AM](https://user-images.githubusercontent.com/6411451/104218179-3832a900-53f1-11eb-9022-7c05391192a8.png)

Steps to Reproduce:

1. Open Connection Dialog to make a new connections.

Expected - Default Connection is Microsoft SQL Server
Actual - Default Connection is Azure Data Explorer (Kusto)

[2021-01-11 17:42] abist commented on #13938
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/13930

[2021-01-11 17:42] #13938 closed

[2021-01-11 18:06] kisantia commented on #13935
closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/13308

[2021-01-11 18:06] #13935 closed

[2021-01-11 18:57] hastiAu commented on #6450
I see this code in setting.json

{
    "workbench.enablePreviewFeatures": true,
    "datasource.connectionGroups": [
        {
            "name": "ROOT",
            "id": "C777F06B-202E-4480-B475-FA416154D458"
        }
    ],
    "datasource.connections": [
        {
            "options": {
                "connectionName": "Server",
                "server": "185.55.224.2",
                "d

[2021-01-11 19:16] Charles-Gagnon commented on #6450
You shouldn't be modifying the defaults.

Since you don't have a custom setting in the user settings JSON then it should be using the default one. Is this not happening?

Note that this dashboard stuff has nothing to do with the database folder not expanding. This was just a separate issue that someone else was having. If you're also having problems with the dashboard widgets then I would suggest

[2021-01-11 19:54] #13835 closed

[2021-01-11 20:10] Charles-Gagnon commented on #13934
Duplicate of https://github.com/microsoft/azuredatastudio/issues/12992

[2021-01-11 20:10] #13934 closed

[2021-01-11 21:11] hastiAu commented on #12992
I cant connect to server please see my log file
[sqltools.log](https://github.com/microsoft/azuredatastudio/files/5798360/sqltools.log)

[2021-01-11 21:40] abist commented on #73
This issue isn't applicable any more.

[2021-01-11 21:40] #73 closed

[2021-01-11 21:49] cssuh commented on #13906
From the error message it seems like your database was not up when you are trying to connect, can you verify that it is available when you are attempting to connect via ADS?

[2021-01-11 21:50] cssuh commented on #13936
Hello, thank you for your bug report.  Can you check the `Developer Tools` section (`Ctrl + Shift + P` and type Developer Tools) to see if there are any additional error messages?

[2021-01-11 21:51] cssuh commented on #13849
Closing this issue as no additional information has been provided.

[2021-01-11 21:51] #13849 closed

[2021-01-11 21:53] corivera commented on #13655
Looks like the text cells are getting saved in the ipynb file, but aren't getting rendered in the notebook. I'll try to take a look and see if it's a quick fix.

[2021-01-11 21:58] abist commented on #13867
@ClutteredSchema Thanks for opening the issue. To help us investigate, could you give some more details on the type of server and the type of object you're trying to script? You can also go to `Help` -> `Toggle Developer Tools` -> `Console` and see if there are any errors there. If there are, please copy paste them here so we can see what the error is.

[2021-01-11 22:53] #8820 closed

[2021-01-11 23:13] Charles-Gagnon opened #13941 "Test Issue"
- Azure Data Studio Version:

Steps to Reproduce:

1.

[2021-01-11 23:24] #13941 closed

[2021-01-11 23:43] halerankin commented on #13899
My PR has one approval so far. We should get this into master ASAP.
https://github.com/microsoft/azuredatastudio/pull/13926

[2021-01-11 23:48] Charles-Gagnon commented on #13899
@halerankin You should add people as reviewers if you want them to look at it 😄 Many people don't get notified of a PR unless they're added as a reviewer.

[2021-01-12 00:16] ssreerama commented on #12716
This Issue is fixed and moved to the code base.

[2021-01-12 00:16] #12716 closed

[2021-01-12 03:39] sumanthewhiz commented on #13936
Found an additional error (highlighted in bold) when I turned on the Developer Tools console:

**console.ts:137 [Extension Host] Expiration time was not defined. This is expected on first launch -**
log.ts:197   ERR TypeError: Cannot read property 'accessToken' of undefined
	at f.getAccountSecurityToken

[2021-01-12 04:12] laurajjiang opened #13946 "Clipped menu bar on non-full screen view for Mac OS"
Version: 1.25.1
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98
Date: 2020-12-11T01:57:41.946Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Darwin x64 20.2.0

Steps to Reproduce:

1. Open Azure Data Studio application in a non-full screen view on a Mac system
2. See clipped menu bar by action side menu

![image](https://user-images.githubuse

[2021-01-12 09:41] omnoms opened #13947 "Code Grant url is served on (insecure) http."
- Azure Data Studio Version: 1.25.1

Steps to Reproduce:

Scenario: Authenticate a domain user for a connection against AAD on a non-domain joined computer.
What happens: The Code Grant link is opened against "http://localhost:xxxxxx/...." with default browser. Chrome and Edge Chromium forces https, Data Studio isnt listening for HTTPS traffic on that port, and auth fails.

Problem:
With the lates

[2021-01-12 10:28] JanosBerke opened #13948 "Signed in user name display problem"
- Azure Data Studio Version:
Version: 1.25.1 (system setup)
Commit: e7eacc32c0d20bd4da843320c3bfac231b308c98
Date: 2020-12-11T01:59:24.271Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042
Steps to Reproduce:

1. Open ADS
2. Sign in with an MSID
3. Check the signed in user's name
![image](https://user-images.githubuserco

[2021-01-12 14:32] juriaan-atos commented on #13906
Yes, when the db is started manually all is fine.
It seems the timeout Is not waiting for the database to come online before the message is thrown.

Juriaan van Oosterom
Software Engineer  @ Atos B&PS-BTN/NL-DIG-BI-Unit1
The Netherlands (CET)

M: +316-513 15 250
E: juriaan.vanoosterom@atos.net<mailto:juriaan.vanoosterom@atos.net>

[cid:image001.png@01D6E8F7.829B99D0]
[cid:image002.png@01D6E8F7.829

[2021-01-12 18:08] gle-glcsi opened #13949 "Label UNSAVED Nothing to save"
Issue Type: <b>Bug</b>

Hello
From the beginning of Azure Data Studio (installed yestreday), I have the label (1 UNSAVED) but nothing to save. If I click on "Close all editors", nothing happens.

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 10.0.18363

<details>
<summary>System Info</summary>

|Ite

[2021-01-12 18:09] gle-glcsi commented on #13949
![image](https://user-images.githubusercontent.com/77354281/104354541-a1a5db00-5509-11eb-9fda-e3e672ae9c1e.png)

[2021-01-12 18:17] hashik4d opened #13950 "Unable to sign in in Azure datastudio"
The below call fails and was never redirected to Data studio after signing into azure

127.0.0.1:56317/callback?code=0.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

[2021-01-12 18:21] Charles-Gagnon commented on #13949
If you delete %APPDATA%\Backups does that clear the count?

[2021-01-12 18:23] hashik4d commented on #13950
![image](https://user-images.githubusercontent.com/14106111/104355885-eb260400-54d0-11eb-90ee-f3ccc563a138.png)

[2021-01-12 18:27] gle-glcsi commented on #13949
I deleted %appdata%\azuredatastudio\bakups and it is solved.
Thanks !

Guillaume
De : Charles Gagnon <notifications@github.com>
Envoyé : mardi 12 janvier 2021 19:22
À : microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc : Guillaume LEJEUNE <gle@glcsi.fr>; Author <author@noreply.github.com>
Objet : Re: [microsoft/azuredatastudio] Label UNSAVED Nothing to save (#13949)

If you delete

[2021-01-12 18:49] #13949 closed

[2021-01-12 19:01] Charles-Gagnon commented on #13947
While we investigate this are you able to use the Device Code method to authenticate? You should have the option to choose the method when you add an account.

[2021-01-12 19:02] Charles-Gagnon commented on #13950
While we investigate this are you able to use the Device Code method to authenticate? You should have the option to choose the method when you add an account.

[2021-01-12 19:36] estebanbernal77 commented on #6763
happening to me to... very frustrating...

Version: 1.25.1

[2021-01-12 19:38] Charles-Gagnon commented on #13946
@laurajjiang I'm not sure I see what you're referring to - what's clipped in the attached screenshot?

[2021-01-12 20:34] laurajjiang commented on #13946
![104369280-0ba28e00-54d2-11eb-9b42-2a4c9c0133b6](https://user-images.githubusercontent.com/39676345/104369490-5e7c4580-54d2-11eb-864e-240aafcf73c5.png)
![Screen Shot 2021-01-12 at 12 32 16 PM](https://user-images.githubusercontent.com/39676345/104369501-60de9f80-54d2-11eb-9cb3-7922fa24f2b8.png)

Sorry, I should have marked/circled in the original picture. I compared the behavior to my browser and

[2021-01-12 21:19] corivera commented on #13910
@tammandres Currently we don't have any functionality to export an ADS-style notebook as html. The only way to export the notebook as html would be with that jupyter convert command you're using.

[2021-01-13 04:04] #13810 closed

[2021-01-13 04:06] chlafreniere commented on #13837
Given that January will be forked off of December, moving this to February milestone (where we need to fix this).

[2021-01-13 04:06] chlafreniere commented on #13837
@VasuBhog can you take a look? For February release so not immediately urgent.

[2021-01-13 04:07] chlafreniere commented on #10259
This was discussed previously that this change will not be part of the January release. Moving to February, given that a PR is already out.

[2021-01-13 07:10] omnoms commented on #13947
I wasnt given that option, however I found this in settings and after checking it, I was able to. So it seems it's not enabled by default.

![image](https://user-images.githubusercontent.com/7261863/104417958-7e654500-5576-11eb-84ae-e3feef0243e8.png)

![image](https://user-images.githubusercontent.com/7261863/104418145-c2584a00-5576-11eb-8a4d-d19cb8065bb1.png)

[2021-01-13 10:12] IeuanWalker opened #13953 "Expired grant token not updating"
Issue Type: <b>Bug</b>

Try to sign in but I get an error saying 'token retrieval failed', looking inside the dev tools I get the below error.

Tried adding a new account, it opens up the browser I sign in but I get the same error.

![image](https://user-images.githubusercontent.com/6544051/104438312-c50f6b00-5587-11eb-8e48-3a3f69030fe9.png)

[code]

Azure Data Studio version: azuredatastudio 1.25

[2021-01-13 21:20] wknsJimmy opened #13955 "Using SQL Database Projects extension version 0.5.1 - Build fails"
- Azure Data Studio Version:
- Version: 1.26.0-insider (user setup)
Commit: bcae0d2b02533376cec694455977739c44bb1069
Date: 2021-01-13T06:37:13.136Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.17763

SQL Database Projects extension version: 0.5.1

Steps to Reproduce:

1.Connect to an existing database
2.Use the **Create Pr

[2021-01-13 22:27] joet-rms commented on #392
This issue is still present in January 2021. What is the status of the fix, @microsoft?

[2021-01-13 22:49] abist commented on #11793
Closing this since it was fixed in 1.21.0.

[2021-01-13 22:49] #11793 closed

[2021-01-13 23:02] #12171 closed

[2021-01-13 23:02] alanrenmsft commented on #12171
@saasaTom @LucasWBritz both suggestions have been implemented, you should be able to see it in tomorrow's insiders build or the next stable release.

[2021-01-13 23:19] halerankin opened #13957 "ML Extension warning dialog renders slowly"
- Azure Data Studio Version: (update after my feature [PR](https://github.com/microsoft/azuredatastudio/pull/13078) is merged to main)

In file: **extensions/machine-learning/src/views/models/prediction/columnsTable.ts**, after ```azdata.window.openDialog(dialog)``` is called, the warning dialog appears. However, the top portion appears first, followed by the remaining content -- it's slow enough

[2021-01-13 23:21] udeeshagautam commented on #13955
@wknsJimmy thanks for reporting. Can you please help us with following answers,

1. does the same project build fine in SSDT?
2. does the project build in ADS stable december release?
3. which dotnet SDK version is installed on the box (at C:\Program Files\dotnet\ location)

[2021-01-13 23:47] wknsJimmy commented on #13955
1.  Not using SSDT – we are moving from using SSMS in order to use Database Projects in order to use Source control plus Azure DevOps to Build, Test and Deploy our solutions (Azure Data Factory, Azure SQL database, Azure Analysis Services and Power BI reports) – we chose to skip SSDT and go straight to ADS. Give me some time and I will check out if I have an issue with SSDT and get back to you.

[2021-01-14 00:37] wknsJimmy commented on #13955
Just an update to point 1:
Yes the project builds in SSDT and I get my dacpac

From: Udeesha Gautam <notifications@github.com>
Sent: Wednesday 13 January 2021 23:22
To: microsoft/azuredatastudio <azuredatastudio@noreply.github.com>
Cc: Kealy, Howard (Naas) <Howard.Kealy@sgs.com>; Mention <mention@noreply.github.com>
Subject: [EXTERNAL] Re: [microsoft/azuredatastudio] Using SQL Database Projects ex

[2021-01-14 03:38] alexanderomnix opened #13958 "Money representation and serialization imprecise"
Issue Type: <b>Bug - low</b>

There's a slight diference between money and decimal datatype using SQL Server Management Studio and Azure Data Studio, this relate to the query results table and the exported values (CSV and Excel), I think it's a bug on Azure Data Studio releated to Javascript numeric parse.

Reproduction:

[code]

SQL Management Studio Results (SSMS)

datatype_money |datatype_decim

[2021-01-14 03:54] benrr101 commented on #392
Hi @Calidus, it's been a loooooong time since I worked on this project (or for Microsoft in general 😬) but iirc, the default value was stored in this line https://github.com/microsoft/sqltoolsservice/blob/822ffb2908e9983c521b3259b8cd2900db33b8e4/src/Microsoft.SqlTools.ServiceLayer/SqlContext/QueryExecutionSettings.cs#L28 Although there is a property that exposes that value, I'm not sure we ever ho

[2021-01-14 04:52] alanrenmsft opened #13959 "can not navigate backward using shift+tab in query editor results tab"
the keyboard focus is stuck on the tabs

![image](https://user-images.githubusercontent.com/13777222/104546455-10a23300-55e1-11eb-892b-efb59e5352aa.png)

also happens for the connection dialog's tabs:
![image](https://user-images.githubusercontent.com/13777222/104546478-231c6c80-55e1-11eb-9962-16dc71747675.png)

[2021-01-14 18:35] #13959 closed

[2021-01-14 18:40] #13757 closed

[2021-01-14 21:53] Calidus commented on #392
Thanks for the information, I never found that setting as I was looking in the Azure Data Studio repo last year. I eventually moved on and started using bcp access my large json documents out of SQL Server.

[2021-01-15 01:15] pragna-pasunuri opened #13969 "Issues adding/linking my account to ADS"
- Azure Data Studio Version:

Steps to Reproduce:

1. I have ADS 1.25.1 installed
2. I tried to add my Microsoft account and I saw an error saying 'You have no clouds enabled' even though I have public cloud selected
![image](https://user-images.githubusercontent.com/77471135/104667879-e9ed0680-568b-11eb-8860-5906aebb2ab7.png)

3. Also, I am having trouble with Simplified PR's loading up, I am una

[2021-01-15 04:14] MsSQLGirl commented on #13969
@pragna-pasunuri - can you please try removing KQL extension and restart ADS?

[2021-01-15 08:14] PeterStaev opened #13973 "Ability to specify additional DeploymentContributors"
**Is your feature request related to a problem? Please describe.**
In SSDT we can include `DeploymentContributors` that would change deploy script generation and execution. Is it possible to do this now in the Azure Data Studio? If this ability exists in what folder should the DLL be added in order for it to work? With SSDT it was something like
`C:\Program Files (x86)\Microsoft Visual Studio\2017

[2021-01-15 08:24] aasimkhan30 opened #13975 "Cannot set the checked property of the radio buttons"
This is due to the latest changes that I have made in the radio buttons. Because of a faulty check, I cannot update the 'checked' property of radioButtons through code.

example:

radioButton.checked = true

will not work.

[2021-01-15 08:27] PeterStaev opened #13976 "[SQL Project] Ability to find references"
**Is your feature request related to a problem? Please describe.**
In SSDT we can find a reference of a DB object across the whole project. This is very handy in cases where you need to find all impacts of a change you make  to the object (change parameters, type, etc.). From what I see this is currently not possible with Azure Data Studio.

**Describe the solution or feature you'd like**
Be able

[2021-01-15 09:24] tammandres commented on #13910
Thanks for getting back to me! Looks like it's not possible before a feature is added. However, I was wondering if the Azure Data Studio style specification is available in some easily usable format? The Jupyter nbconvert allows for custom style if I modify their basic template, and maybe it would not be too hard to modify it according to ADS spec ...

[2021-01-15 13:42] gsgokul opened #13978 "connection manager issues"
Issue Type: <b>Performance Issue</b>

The connection manager feature needs to be fixed big time, I use SSMS on windows machine and its so easy to manage connections but in Data Studio it horrible. I connect to a lot of databases and its painful to use the connection manager.

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:57:41.946Z)
OS v

[2021-01-15 17:34] Charles-Gagnon opened #13981 "Dashboard horizontal scrollbar is partially hidden"
Only saw this specifically for the ML extension page - so probably something with the control it's using to display the content.

![image](https://user-images.githubusercontent.com/28519865/104759480-d3d75880-5714-11eb-89a8-f285364eb5cd.png)

[2021-01-15 17:35] Charles-Gagnon commented on #13981
@llali @alanrenmsft FYI

[2021-01-15 17:54] Charles-Gagnon opened #13982 "Query History is capturing even when extension isn't installed"

[2021-01-15 18:07] Charles-Gagnon commented on #13978
@gsgokul Could you explain a bit more what you mean? What "connection manager" are you referring to? The servers tree?

![image](https://user-images.githubusercontent.com/28519865/104762476-464a3780-5719-11eb-90ef-35f053093f62.png)

If so when are you being forced to re-enter your credentials? If using SQL Auth are you sure you've checked the "Remember Password" box in the Connection Dialog?

![im

[2021-01-15 18:10] Charles-Gagnon commented on #13969
@MsSQLGirl Do you think this has something to do with the Kusto extension? The issue described has nothing to do with that extension specifically.

It seems to be a duplicate of https://github.com/microsoft/azuredatastudio/issues/11260 so I'm closing this one for now - let me know if there's any reason we should keep this one separate.

[2021-01-15 18:25] MsSQLGirl commented on #13969
I'll follow up with @pragna-pasunuri later today and confirm. We'll reopen if the issue persists after reinstalling KQL extension.

My assumption is that there are some background services that didn't finish running caused issues with logins.

[2021-01-15 20:38] lucyzhang929 commented on #13845
Closing this issue for now since we already have two issues tracking this
multiple connections: https://github.com/microsoft/azuredatastudio/issues/5031
multiple kernels: https://github.com/microsoft/azuredatastudio/issues/5451

[2021-01-15 20:38] #13845 closed

[2021-01-15 20:54] #13982 closed

[2021-01-15 20:59] shand-obs commented on #108
Adding my voice. I would really like this feature too.

[2021-01-15 21:31] MsSQLGirl commented on #13969
@Charles-Gagnon

We tried removing KQL extension but it didn't seem to solve the problem.
When we start ADS, even the Azure viewlet shows "Loading..." and never finishes.
![image](https://user-images.githubusercontent.com/6405919/104780578-e3b36480-5735-11eb-8a81-356501cec765.png)

The issue still persists.

[2021-01-15 21:53] Charles-Gagnon commented on #13969
@pragna-pasunuri

Could you please run this from the command line and paste the output here?

`azuredatastudio --list-extensions`

[2021-01-15 22:01] pragna-pasunuri commented on #13969
Here are the extensions i have

adslivesite.azure-devops-simplified-prs
ban.spellright
Microsoft.adslivesite
Microsoft.kusto
ms-vscode.powershell
nick-rudenko.back-n-forth

[2021-01-15 23:28] martinthogersen opened #13986 "Database table list listed"
Issue Type: <b>Bug</b>

1. Open the list of servers
2. Expand a connection (under Servers)
3. I would expect to see a list of tables from the database, but nothing is shown

I can find tables manually and query data by writing queries manually (eg. "SELECT * FROM orders" is working).

![image](https://user-images.githubusercontent.com/239008/104788079-8a791e80-5791-11eb-9935-ffa35145255e.png)

The

[2021-01-16 02:12] mbnshtck commented on #13305
I failed to replicate.

I suggest:

After the cell that you run %reload_ext Kqlmagic
run in a cell: **%kql --config "short_errors=False"**
this option set to False will cause the full code stack to be displayed when an error happens.
It will be much easier to troubleshoot it.

[2021-01-16 12:58] alexanderomnix commented on #13958
Is not a bug releated to Azure Data Studio is just an serialization difference between SSMS and ADS.

Money type example:
SQL Server: 54,9900  returns 54,99 as varchar representation
SSMS: 54,9900 returns 54,99
ADS:  54,9900  returns 54,9900

I'll close this issue because I realize the way ADS returns values its more precise then SQL Server or SSMS serialization.

The type money is weird, I think

[2021-01-16 12:58] #13958 closed

[2021-01-16 18:32] slipmp commented on #447
1 year no response? :(

[2021-01-17 05:08] kevinobrien54 commented on #1026
Please add Analysis Services to Azure Data Studio

[2021-01-17 13:03] hastiAu commented on #12992
I finally can connect to server with Navicat
but I cant connect with ADS
I do all of these ways but I can connect to server but cannot see any database.

It relates to permission on server? Or should i do any things?

<img width="380" alt="Screen Shot 2021-01-17 at 4 33 27 PM" src="https://user-images.githubusercontent.com/67632833/104843799-c4593a80-58e1-11eb-843a-f6941bd94d05.png">

[2021-01-17 14:11] icjohnson opened #13987 "Can't connect to Dynamics 365 Online Instance"
- Azure Data Studio Version: 1.25.1

Steps to Reproduce:

1. Add Connection
2. Enter server details: instance.crm.dynamics.com
3. Select authentication type: Azure Active Directory - Universal with MFA Support
4. Insert Account details (works and saves
5. System inserts the correct tenant string
6. Database: leave default (browse fails)
7. Server Group: default (browse fails

Error:
Microsoft.Data

[2021-01-17 14:13] mcx808 opened #13988 "macOS + Kerberos + Windows Authentication: Login failed. The login is from an untrusted domain and cannot be used with Integrated authentication."
- Azure Data Studio Version: 1.25.1

Steps to Reproduce:

1. Running Azure Data Studio on MacOS 11.1 (ARM)
2. Follow the instructions for macOS here: https://docs.microsoft.com/en-us/sql/azure-data-studio/enable-kerberos?view=sql-server-ver15
3. Checkout a ticket using kinit for the domain account required for login and verify using klist.
4. Try to login to an SQL Server using Windows Authenticat

[2021-01-17 21:16] MsSQLGirl commented on #13969
+ @rajeshka : FYI. Can we please triage this with the team?

[2021-01-18 03:09] myusrn commented on #4904
I just realized why not try looking for "MySql" extensions in the vscode editor where there two options with 4 & 4 start ratings and significant number of installs.  I installed the top installed one with over 500k installs and it works fine.

Why can't we just have one of these vscode "MySql" extensions that already work surfaced in the azure data studio extensions marketplace and be on our way?

[2021-01-18 04:00] swanderz commented on #3121
bumping again. is there an option to undo cell delete in a context menu anywhere? in a lot of pain right now for having lost a critical cell

[2021-01-18 11:52] simonsabin commented on #11462
Is their anything that can be done to workaround this?

[2021-01-18 12:36] simonsabin commented on #13376
Just a notification this wasn't released in 0.5.1. or in 1.25.1

[2021-01-18 12:43] simonsabin commented on #11391
Any discussion on this?

[2021-01-18 14:24] gsgokul commented on #13978
@Charles-Gagnon
Thanks for the quick response. Pl see below steps:
- I login using windows credentials (use a company VPN and run a kinit session)
- I log back into my macbook, open Data Studio and try to connect to my db as shown

Step 1) I am trying to connect PR server group IDDB connection. It asks me to create a kinit session and I am able to connect.
Image 1)
![image](https://user-images.git

[2021-01-18 15:39] alex-rolls opened #13989 "Connecting to Azure SQL DB using MFA on Azure Data Studio"
- Azure Data Studio Version: 1.25.1 (user setup)
Azure data studio is not listening to the port number which is being generated in the URL that you are being directed to.

Steps to Reproduce:

1. Setup AD for SQL DB
2. Try to connect to SQL DB using Azure Data Studio
3. Add account
4. Enter Details

[2021-01-18 19:06] memblin-taurus commented on #12165
This just started happening to me today, no changes to Data Studio or AAD or password etc... Clearing the connection cache as per @shortall 's answer fixed the issue and allowed me to reconnect.

[2021-01-18 23:25] MsSQLGirl opened #13990 "Ability to choose to save Pin to my user setting instead of a workspace"
**Is your feature request related to a problem? Please describe.**
My TSG repo has team-wide / org-wide settings captured in a .workspace file. When I start using Pin Notebooks, it saves the pin settings to workspace which is not good because everyone in the org has different settings.

**Describe the solution or feature you'd like**
Ability to set where I want to save pin notebook settings, so th

[2021-01-18 23:26] MsSQLGirl commented on #13990
@MaddyDev - as discussed, I've raised the bug here.

[2021-01-18 23:57] MsSQLGirl commented on #12971
@chlafreniere  FYI. Moving this issue to Pri:2 for now. I'm reserving Pri:1 for livesite related users.

[2021-01-19 09:18] chrisbennell opened #13992 "Modal dialog to save changes when there are none"
Issue Type: <b>Bug</b>

Table with XML data type field containing some data.
Perform a SELECT query to display the data.

Double click on one of the XML fields to view the contents and a new tab opens with the contents displayed.

Close that new tab.

A modal dialog appears asking if you want to save changes.

-----
This is particulary wierd as you can make any changes to a view of data like this.

[2021-01-19 13:29] leonpeeters commented on #13721
Thank you @lucyzhang929 !

[2021-01-19 18:27] kisantia commented on #13376
this got checked in right after we did the 0.5.1 release, so it is planned to be included in the 0.6.0 release in February. Let us know if you would like us to release this sooner in insiders :)

[2021-01-19 18:48] simonsabin commented on #13376
I was just making a note for anyone looking that it isn't in the current build

[2021-01-19 19:11] cssuh commented on #13930
I am not seeing this anymore - is anyone able to repro the issue? Otherwise, I will just close it.

[2021-01-19 19:18] gupta1 commented on #13930
@cssuh I am able to repro it in main branch.

[2021-01-19 20:00] rheemcode opened #13993 "Unable to stop execution"
problem :---> executing `SELECT` statement on a table with no data keeps executing forever without being able to stop unless the tab or the whole application is closed.

suggestion :---> there should be some kind of timeout on querying from a database

problem :---->viewing extension details in the extension tab duplicates the texts and makes it hard to read

[2021-01-19 21:30] #13975 closed

[2021-01-19 21:39] alanrenmsft commented on #13981
@llali , could you please assign a milestone for this issue?

[2021-01-20 04:02] #13215 closed

[2021-01-20 08:30] marijusha commented on #7505
Is there any update on this topic? To query Azure SQL database tables together with Azure Data Lake files data would be great. It would make our work much more agile if we could avoid extracting files from Azure Data Lake to SQL database and only then working with the data.

[2021-01-20 14:00] alex-rolls commented on #13989
I have tried the below 2 versions for Azure Data Studio: 1.25.1
and 1.26.0 insider build (https://github.com/Microsoft/azuredatastudio)

I believe it is similar or the same as this issue but is still hasn't been fixed?

https://github.com/microsoft/azuredatastudio/issues/5742

[2021-01-20 16:18] tlentine commented on #12817
This would be a fantastically useful feature and in our case speed adoption of being able to use Azure Data Studio for development instead of using Visual Studio & SSDT.

[2021-01-20 16:30] SQLDBAWithABeard commented on #13424
I have been trying to get this to work using a windows 10 hyper-v machine, the dev quick create version.

I failed to get the notebook experience working. I followed these steps

Download ADS 1.25.1 user from Download and install Azure Data Studio - Azure Data Studio | Microsoft Docs

Download Python 3.9.1 from Download Python | Python.org

Download notebook zip 6.2 from  Releases · jupyter/notebo

[2021-01-20 17:18] MsSQLGirl commented on #13424
@chlafreniere , @yualan , @markingmyname - FYI.

[2021-01-20 17:50] flowermichael commented on #7505
@marijusha Have you looked at Dremio? It provides a fast access layer to ADLS data. It can also connnect to SQL data sources. And there's a free Community Edition version.

[2021-01-20 18:21] ssreerama opened #13999 "Wizard's current page and previous page both are having the same index value when showing the first page. Should be -1 for the previous page."
- Azure Data Studio Version:

Steps to Reproduce:

1. This issue is not any UI related.
2. Debugging the code will let you know the index values matching for both the current and previous pages of any wizard start page.

[2021-01-20 18:28] amtwo commented on #13424
We have been investing in SQL & PowerShell notebooks to create a robust troubleshooting Book that can be used by our large (~50 person) DBA team to use to support our production environment. Some servers are ONLY accessible from secure, internet-disconnected RDP "jump servers" and any troubleshooting tools must be installed in a completely offline manner on those servers.

Additionally, some of th

[2021-01-20 18:35] #13875 closed

[2021-01-20 19:21] aasimkhan30 opened #14001 "Request for an banner component in the extensibility API"
I need a component that show different kind of banners/alerts in extensibility API.

![image](https://user-images.githubusercontent.com/6816294/105223955-5c893680-5b11-11eb-884c-2d9116db40da.png)
![image](https://user-images.githubusercontent.com/6816294/105224015-775bab00-5b11-11eb-9fb8-c48636fe683f.png)
![image](https://user-images.githubusercontent.com/6816294/105224043-80e51300-5b11-11eb-8a33-

[2021-01-20 19:45] smartguest commented on #13583
@tanyogeorgiev Can you please provide me with an example of a problematic SQL file? I am unable to reproduce the issue using a sample database on my server that has Cyrillic characters on it either with UTC-8 encoding or Windows 1251 encoding, or following the example here: https://stackoverflow.com/questions/18325680/sql-server-2012-express-do-not-understand-russian-letters

However, it seems tha

[2021-01-20 20:20] JamesAlexander42 commented on #13518
I'm also experiencing this

[2021-01-20 21:55] BEzGumpTion opened #14006 "Tree nodes do not open or close with arrow buttons"
Issue Type: <b>Bug</b>

Case 1
1. Select a tree node with child elements.
2. Hit the right error key on the keyboard.

Expected: The selected tree node expands (so that the child elements are visible).
Actual: Nothing happens.

Case 2
1. Select a tree node with child elements.
2. Hit the left error key on the keyboard.

Expected: The selected tree node collapse (so that the child elements are hidd

[2021-01-20 22:01] cssuh commented on #13768
No additional info was provided

[2021-01-20 22:01] #13768 closed

[2021-01-20 23:40] MsSQLGirl commented on #9941
@halerankin  - is the <br> issue still a problem in the latest insider?

[2021-01-21 01:44] chlafreniere commented on #13899
Fixed by #13926.

[2021-01-21 01:44] #13899 closed

[2021-01-21 06:27] dhgrajeda commented on #13969
@pragna-pasunuri

Does the error occur if you wait for a while? Could you try waiting a minute before attempting to log in?

If you continue to experience this issue, would you mind attaching the following logs?

**Console Logs**

Open Developer Tools (Help -> Toggle Developer Tools)
Click the Console tab
Click in the log area and select all text (CTRL+A)
Save this text into a file named console.l

[2021-01-21 17:29] abist commented on #14006
Closing as a duplicate of https://github.com/microsoft/azuredatastudio/issues/13749

[2021-01-21 17:29] #14006 closed

[2021-01-21 17:34] lostsole opened #14010 "Can you make this Extension work Visual Studio's 2017/2019"
Can you make this Extension work Visual Studio's  2017/2019.

Can the Extensions be more universal,  So that they can be used across MS products
Visual Studio Code
Azure Data Studio
and
Visual Studio Pro/Enterprise 2017/2019.

[2021-01-21 18:10] martinthogersen commented on #13986
[application-logs.zip](https://github.com/microsoft/azuredatastudio/files/5851267/application-logs.zip)
[console.log](https://github.com/microsoft/azuredatastudio/files/5851271/console.log)

Please see the attached files.

[2021-01-21 18:15] halerankin commented on #9941
@MsSQLGirl I tested both notebook files in the Insider's Build (v.1.26) and confirm the anchors working as expected!

[2021-01-21 18:22] MsSQLGirl commented on #9941
Closing this. Fixed by #13926.

[2021-01-21 18:22] MsSQLGirl commented on #9941
Closing this. Fixed by #13926.

[2021-01-21 18:22] #9941 closed

[2021-01-21 20:03] smartguest commented on #1986
Issue appears that the Save as Json button seems to save using the UTC-8 encoding rather than Windows-1251, this will need to be fixed.

[2021-01-21 20:06] devmarcusf opened #14013 "KQL Fails unexpectedly"
- Azure Data Studio Version:
1.25.1
Steps to Reproduce:

1. Manual Installed the following Extensions
ADSLiveSite Extension: https://ms-air-aiagility.gallerycdn.vsassets.io/extensions/ms-air-aiagility/ipynb-renderer/1.5.2/1581820135326/livesiteextension.ipynb
Back and Forth : https://marketplace.visualstudio.com/items?itemName=nick-rudenko.back-n-forth
Simplified PR: https://aka.ms/adsprextension

[2021-01-21 22:03] dadepretto opened #14014 "Update icon on macOS to match the new UI language"
I'm always frustrated when I look at the dock of my Mac with macOS Big Sur and see the Azure Data Studio icon popping out with its irregular design.

I'd like to see a new icon for macOS Big Sur users that match the rest of the new UI language.

I know it isn't a priority by any means and that other Microsoft products still have to update as well (eg. VS/VSCode), but I personally find that with th

[2021-01-21 22:49] pablogarnica opened #14016 "straing vehaivor in check, lack of optoin to check / uncheck all"
The process of check / un check has a strange behavior, lack a option to check / uncheck all

[2021-01-21 22:49] MsSQLGirl opened #14017 "Notebook Find dialog position can sometimes obscure the keyword on a text cell"
- Azure Data Studio Version:
Version: 1.26.0-insider (user setup)
Commit: 94b697340dd23eb8f59708275a460a769f80fc30
Date: 2021-01-18T06:34:21.629Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

Steps to Reproduce:

1. Open a notebook.

Resize your window to something like this:
![image](https://user-images.githubuserco

[2021-01-21 22:50] MsSQLGirl commented on #14017
@MaddyDev : FYI this is the one we discussed earlier.

[2021-01-21 23:56] Charles-Gagnon commented on #13999
Looked into this and while this is true I'm not considering it an issue since the logic is currently such that we only fire the event if the index actually changes - so in this case it'll just not fire the event when first displaying the page. And that seems fine since the event is specifically for wizard page navigation - we can use the overall "ModalDialogOpened" event to determine how many time

[2021-01-21 23:56] #13999 closed

[2021-01-22 02:29] MsSQLGirl opened #14018 "Navigating the found keywords in Notebook Find is hard to follow"
**Is your feature request related to a problem? Please describe.**
When a "paragraph" finds a number of instances of the found keyword (using Notebook find), it's hard to know which one the arrow / navigation is up to.

![image](https://user-images.githubusercontent.com/6405919/105437720-6d6fa000-5c16-11eb-91ff-8519958947f5.png)

**Describe the solution or feature you'd like**
Perhaps the current

[2021-01-22 05:17] VasuBhog commented on #13215
@sanderstad let us know if you have any other problems with the PowerShell kernel. Thanks, @corivera for helping on this!

[2021-01-22 07:32] fathermrsing opened #14019 "Cannot read property length of null when change tabs"
Open my saved query in a tab (A)
Open my other saved query in a tab (B)
In the tab B execute any query which finishes unsuccessfully (I have a really long thing for data migration. It gets stuck on a previously-good INSERT INTO SELECT FROM query, the views which it's selecting from use complex joins and rownumbers, but all the views are defined in Tab A, so I have to fix them there)
Cancel the que

[2021-01-22 10:36] atinks opened #14021 "Allow Focused Zooming"
Issue Type: <b>Feature Request</b>

I do not find the Zooming of the entire application very helpful.  For me, It would be way better to zoom on the Results and the SQL Editor as seperate Zooms - based on the focus of the mouse.  And to zoom using the Ctrl+MouseWheel to keep in line with normal zooming conventions.

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac2

[2021-01-22 13:06] tanyogeorgiev commented on #13583
@smartguest This is the file (zipped) that I use for my screenshots now:
[SP ttt.zip](https://github.com/microsoft/azuredatastudio/files/5855906/SP.ttt.zip)

**1.Open file in ADS - everything is looking pretty good ([Pastelin ](https://github.com/tanyogeorgiev/Pastelin)Theme ROCK 💯)**

![SS0](https://user-images.githubusercontent.com/17822617/105493394-04ddfd00-5cc2-11eb-8c86-34dc6c146a62.png)

--

[2021-01-22 15:57] mahmoudshaaban opened #14022 "Missing git cherry-pick in Azure Data Studio"
Issue Type: <b>Feature Request</b>

In Azure Data Studio (ADS), I cannot find the git cherry-pick feature.
Could you please add it?

[2021-01-22 17:56] dzsquared commented on #14022
This was added to VS Code in 1.52 (Nov 2020), at this time Azure Data Studio is based on VS Code 1.48.  We do regularly bring in the VS Code updates after some time.

https://code.visualstudio.com/updates/v1_52#_git-new-commands

[2021-01-22 17:58] zxli opened #14024 "Cannot delete the postgres server group after a postgres server group is created but gets stuck due to insufficient resource on ADS"
- Azure Data Studio Version: 1.26.0-insider (user setup)
- Azure Arc extension Version: 0.7.1
- Azure Data CLI extension Version: 0.5.1

Steps to Reproduce:

1. Create a postgres server group which will get stuck due to insufficient resource for sure on ADS.
2. Close the notebook deployment window while the created postgres server group gets stuck on ADS.
3. Refresh the Arc controller management p

[2021-01-22 18:13] bergeron commented on #14024
I see this too.  For me it doesn't require the deployment to get stuck.  It requires (1) Deploy PG from within ADS (2) Manage it (3) Try to delete it.  Nothing happens.  It does work after restarting ADS or if PG was deployed outside of ADS.  Attaching a debugger to see why it doesn't execute.

[2021-01-22 18:20] zxli opened #14025 "Azure Arc controllers section gets stuck when opening ADS app."
- Azure Data Studio Version: 1.26.0-insiders (user setup)
- Azure Arc extension Version: 0.7.1
- Azure Data CLI extension Version: 0.5.1

Steps to Reproduce:

1. Open ADS app.
2. While ADS is determining Python location, expand an Arc controller.

Expected - The Arc controller should be expanded properly.

Actual - ADS gets stuck when expanding the Arc controller forever.

[2021-01-22 18:30] bergeron commented on #14025
I can reproduce this.  With this additional error when I right click -> Remove controller.

Version: 1.26.0-insider
Commit: 5f61becd365649d0075b8eb44bcfb381160868ef
Azure Arc extension v0.7.1
Azure Data CLI extension v0.5.1

![image](https://user-images.githubusercontent.com/3500406/105530512-c255f980-5c9c-11eb-9a27-1fbdc52b3cfd.png)

[2021-01-22 18:31] chlafreniere commented on #9282
Crawl is addressed in #13535.

[2021-01-22 18:54] radentonev commented on #14018
@MsSQLGirl I think can follow what we have for MD files:

<img width="393" alt="Screen Shot 2021-01-22 at 10 50 14 AM" src="https://user-images.githubusercontent.com/71295692/105532744-19110280-5ca0-11eb-864d-08356d3d2876.png">

- Current match is highlighted in orange
- All other matches are highlighted in yellow

[2021-01-22 19:15] radentonev commented on #14017
Seems to be very similar behavior in VSCode. I am not really convinced that I want to change the behavior, as there are implications.

Potential solutions:
- Move box to be over the toolbar. Downside is that we then hide the toolbar. No idea how many people want to use the toolbar when search is on.
- Make the box background semi-transparent or something
- Decrease the size of the box to minimum i

[2021-01-22 19:26] nasc17 commented on #14024
I see this issue as well but I am also seeing it when trying to edit the postgres server. The azdata commands are not able to run before progress error occurs. Can also confirm it works after restarting ADS.

1. Deploy postgres server
2. Mange it -> Compute & Storage page
3. Save a change to worker count, CPU, or memory

Expected: Progress notification should have shown and error that is being cau

[2021-01-22 19:31] chlafreniere commented on #14018
This is a good one. Hopefully a quick fix on our side.

[2021-01-22 19:45] MsSQLGirl commented on #14018
Agreed. Thank you!

[2021-01-22 21:10] yualan commented on #390
This request also came from the most recent Azure Data Studio UX Benchmark. We do have an extension that @kevcunnane created, potentially something we include as default?

[2021-01-22 21:15] yualan commented on #282
This came up in the UX benchmark study. Let's revisit.

[2021-01-22 21:24] yualan opened #14028 "Make connected database dropdown more clear of what user is connected to"
This came up from a UX Benchmark study where users were tripped up on switching from master to a specific database.

![image](https://user-images.githubusercontent.com/30873802/105548953-284e7b00-5cb5-11eb-96d8-860b39281866.png)

[2021-01-22 21:26] yualan opened #14029 "In Edit Data, need to make more clear to users when a change is made"
From ADS UX benchmark study, it was not clear to users when a change was committed using the Edit Data feature. Sometimes a change would be made when it was unintended, or a change wouldn't be made and would revert.

[2021-01-22 21:31] yualan opened #14031 "Refresh button in server/database dashboard doesn't refresh server/database"
From UX Benchmark study, users created a new table and attempted to refresh the dashboard, but the dashboard did not reflect the change. When users refreshed in object explorer, then dashboard got refreshed appropriately.

[2021-01-22 21:56] Charles-Gagnon commented on #14025
@zxli @bergeron What do you mean "determining Python location"? Do you mean determining azdata location?

[2021-01-22 22:16] zxli commented on #14025
In the output window of Azure Data CLI, I see "Python location 'C:\Program Files (x86)\Microsoft SDKs\Azdata\CLI\python.exe'". If I expand Arc controller before seeing that message, this bug would repro.

[2021-01-22 23:06] Charles-Gagnon commented on #14025
Gotcha, thanks. Yeah that's just printing the output from azdata --version.

I have a repro too and am working on a fix.

[2021-01-22 23:20] Charles-Gagnon commented on #14025
@bergeron I'm not able to repro your issue though. Do you have a consistent repro of the issue?

[2021-01-22 23:42] randallnewman opened #14034 "Copy Paste Rows in Table Editor"
Issue Type: <b>Feature Request</b>

Can't copy and paste a row in editor view. Is there actually no way to copy and paste a row from the table editor?  This is one of the most basic features in MSSMS.  I hope I am missing something.

Azure Data Studio version: azuredatastudio 1.25.2 (4d4917d328ab7a7526817a0f0ef03237a79aa54d, 2021-01-20T22:52:13.492Z)
OS version: Windows_NT x64 10.0.14393

[2021-01-23 01:43] chlafreniere commented on #8798
@MaddyDev can you still repro this behavior? Just tried it myself and it seems to work fine for me.

[2021-01-23 01:54] #14025 closed

[2021-01-23 02:38] #14001 closed

[2021-01-23 11:50] ericklb84 opened #14036 "MariaDB Support"
Support connection between mysql or MariaDB and Azure Data Studio.

[2021-01-23 21:11] makingglitches opened #14037 "Select Top 1000 doesnt run in context menu"
Issue Type: <b>Bug</b>

I click a table, right click and click 'select top 1000' and nothing happens.

Azure Data Studio version: azuredatastudio 1.25.2 (4d4917d328ab7a7526817a0f0ef03237a79aa54d, 2021-01-20T22:52:13.492Z)
OS version: Windows_NT x64 10.0.19041

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Pentium(R) CPU 4417U @ 2.30GHz (4 x 2304)|
|GPU Status|2d_c

[2021-01-23 21:12] #14037 closed

[2021-01-23 21:15] makingglitches opened #14038 "SMMS Project Import"
I would like to see a way of importing SMMS solution files into Azure Data Studio

[2021-01-24 00:57] chlafreniere commented on #6020
The code used above can be found here:

[code]

[2021-01-24 00:59] chlafreniere commented on #6251
Tried this again and am no longer able to repro. Can you still repro this, @alanrenmsft?

[2021-01-24 01:18] chlafreniere commented on #7561
We've changed a number of things in this area and I was unable to repro after testing for a while just now. Please let us know if you see this again and feel free to reopen if you see this again @vickyharp!

[2021-01-24 01:18] #7561 closed

[2021-01-24 08:44] cveld commented on #566
I had an old Azure Data Studio client, unfortunately did not capture the version.
In this version I was not able to add connections.
After updating to 1.25.2, at first the connections were not persisted.
Then I created a workspace as suggested.
Suddenly connections got persisted.
And now it seems workspaces are not required anymore. I can just create connections.

I think it would be good to refac

[2021-01-24 18:37] MsSQLGirl commented on #13969
Removing Pri 1. It's tracked internally as part of Livesite work.

[2021-01-24 22:42] MsSQLGirl opened #14041 "Notebook Ordered list (currently numerical only) to follow GFM style or Jupyter Notebook ordered values"
**Is your feature request related to a problem? Please describe.**
File to repro:
https://gist.github.com/MsSQLGirl/ed11024f8860a382bc9e78fc936fd8fb

Currently the ordered list in ADS Notebook only uses only numeral values. Meanwhile Jupyter Notebook uses 1, 2, 3 then A, B, C and so on. GFM also uses 1, 2, 3 then i, ii, iii then a, b, c

![image](https://user-images.githubusercontent.com/6405919/1

[2021-01-24 23:15] MsSQLGirl opened #14042 "Notebook - Support for creating multi-level indented list in WYSIWYG"
**Is your feature request related to a problem? Please describe.**
I'm trying to create a multi-level ordered list using Notebooks with WYSIWYG.
For example:

In markdown:
[code]

Expected:

# Using Markdown (split view)
1. Azure Data Studio offers a modern editor experience with:
    1. IntelliSense
        1. keyword completion
        2. syntax highlight
            1. SQL
            2. Python

[2021-01-25 07:26] JohnA43 commented on #2090
I get an error: Login failed for user ''
Does it support MFA?

[2021-01-25 09:10] federicoaguirre1 opened #14044 "Unexpected error when opening .sql file from git folder"
Issue Type: <b>Bug</b>

I get an error after opening a .sql file that is on a git folder

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 10.0.19042

<details>
<summary>System Info</summary>

|Item|Value|
|---|---|
|CPUs|Intel(R) Core(TM) i5-1035G1 CPU @ 1.00GHz (8 x 1190)|
|GPU Status|2d_canvas: enab

[2021-01-25 09:35] mahmoudshaaban commented on #14022
Thanks for the propmet response and info. Do we have an estimated time plan in the roadmap when this can be done?

All the best,
Mahmoud

[2021-01-25 10:59] MamidiVasavi commented on #10104
Hi team,

Please prioritize this. Trying to import flat files with SSMS is quite tedious, we had to import files to local db and from there to azure db to workaround this, we still also face this issue when importing flat file using AAD option and Azure Data Studio.
![image](https://user-images.githubusercontent.com/8698420/105697425-3696d400-5f0d-11eb-8cc8-d0326ee173f7.png)

[2021-01-25 14:08] Kellett opened #14045 "Syntax Highlighting Error with Block Comments"
- Azure Data Studio Version:
Version: 1.25.2 (system setup)
Commit: 4d4917d328ab7a7526817a0f0ef03237a79aa54d
Date: 2021-01-20T22:52:13.492Z (4 days ago)
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

---

- Steps to Reproduce:

1. Open a window with an active connection to a MS SQL database
2. Enter the following
[cod

[2021-01-25 17:04] Charles-Gagnon commented on #6386
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/848

[2021-01-25 17:04] #6386 closed

[2021-01-25 17:04] Charles-Gagnon commented on #7358
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/848

[2021-01-25 17:04] #7358 closed

[2021-01-25 17:05] Charles-Gagnon commented on #14045
Closing as duplicate of https://github.com/microsoft/azuredatastudio/issues/848

[2021-01-25 17:05] #14045 closed

[2021-01-25 17:44] MaddyDev commented on #8798
Closing this since am not able to repro it.

[2021-01-25 17:44] #8798 closed

[2021-01-25 17:49] bergeron commented on #14024
This is the error message I see in the debugger.  For some reason it's not surfaced in the UI even though  `vscode.window.showErrorMessage` is executed.  I'm not exactly sure which line is throwing this.

[code]

[2021-01-25 18:58] alanrenmsft commented on #6251
@chlafreniere  I just tried it on the latest insider, I am not seeing the original issue, but I am still seeing weird issue, you can use the same repro code.

1. run the cell and cancel it after 2 seconds
2. wait for 1 second
3. run the cell again

expected:
the execution will take 5 seconds

actual:
it only takes 2 seconds

It seems like the previous execution/session is being reused.

[2021-01-25 19:11] alanrenmsft commented on #14044
@federicoaguirre1 could you please add the repro steps?

[2021-01-25 19:14] alanrenmsft commented on #14034
@randallnewman could you please add some descriptions of what you are trying to achieve? maybe some screenshots?

[2021-01-25 19:15] alanrenmsft commented on #14028
@yualan not sure what do you mean, more description please?

[2021-01-25 19:17] alanrenmsft commented on #14022
@mahmoudshaaban I would say in a month or so.

[2021-01-25 19:18] alanrenmsft commented on #14022
Moving this to March milestone since I think the merge will be done by then, and we can verify and close this issue at the end of march release.

[2021-01-25 19:21] alanrenmsft commented on #14016
@pablogarnica could you please share a screenshot? I can't tell which piece of UI you are talking about here.

[2021-01-25 19:25] alanrenmsft commented on #14036
close as dupe of https://github.com/microsoft/azuredatastudio/issues/4917

[2021-01-25 19:25] #14036 closed

[2021-01-25 19:28] alanrenmsft commented on #13987
@icjohnson are you sure that is a SQL Server instance? it seem like a http link to me.

[2021-01-25 19:34] smartguest commented on #13583
sp_helptext works with the latest build when testing, however exec still has issues regarding encoding, I will continue to investigate this issue and will let you know of any updates.

[2021-01-25 19:39] Charles-Gagnon commented on #13745
This should be fixed now

[2021-01-25 19:39] #13745 closed

[2021-01-25 19:49] Charles-Gagnon opened #14048 "Declarative table items are never cleared"
When setting the rows for a declarative table if there are any components in the previous data we never clear them from the container - which means that they won't be garbage collected until the table itself is destroyed.

This normally isn't going to be a huge impact since most of our tables are static things - but if there's a table such as the Arc PG Parameters table which can be refreshed to l

[2021-01-26 01:44] randallnewman commented on #14034
Is it possible to put up screen videos. Will be most effective for me to
explain that way.

On Mon, Jan 25, 2021, 2:14 PM Alan Ren <notifications@github.com> wrote:

[2021-01-26 01:46] alanrenmsft commented on #14034
@randallnewman yes, but you have to open the issue on github in order to attach files.

[2021-01-26 01:47] alanrenmsft commented on #14034
![image](https://user-images.githubusercontent.com/13777222/105788412-53df9880-5f35-11eb-9302-2dce7f80c66a.png)

[2021-01-26 03:51] MsSQLGirl opened #14051 "Support for copying and pasting image from OneNote to Notebook via WYSIWYG"
**Is your feature request related to a problem? Please describe.**
When trying to copy and paste notebook content with pictures, the picture doesn't seem to be copied across.
![OneNotePasteImageMissing](https://user-images.githubusercontent.com/6405919/105798253-965da100-5f46-11eb-8b4d-206acc47fbb8.gif)

**Describe the solution or feature you'd like**
Ability to copy image in OneNote and paste it

[2021-01-26 07:05] babak1199 commented on #10763
Started to get this error recently after upgraded to 1.25.2. Deleting %appdata% resolved my issue but had to re-enter plenty of data.

Version: 1.25.2 (user setup)
Commit: [4d4917d328ab7a7526817a0f0ef03237a79aa54d](https://github.com/microsoft/azuredatastudio/commit/4d4917d328ab7a7526817a0f0ef03237a79aa54d)
Date: 2021-01-20T22:52:13.492Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.j

[2021-01-26 09:19] matheusdarosa commented on #12165
If you are on MAC, the path to the folder containing the files that should be deleted is:

`~/Library/Application Support/azuredatastudio/Azure Accounts`

[2021-01-26 10:27] mahmoudshaaban commented on #14022
@alanrenmsft Thanks a lot!

[2021-01-26 12:51] mees- opened #14054 "Switching database doesn't work."
Issue Type: <b>Bug</b>

I have two databases. They have the exact same tables and columns. When I switch between them in a "select top 1000" query it always returns the rows for the database that I right-clicked "select top 1000" on

Azure Data Studio version: azuredatastudio 1.25.1 (e7eacc32c0d20bd4da843320c3bfac231b308c98, 2020-12-11T01:59:24.271Z)
OS version: Windows_NT x64 10.0.18363

[2021-01-26 14:47] aisbergde opened #14055 "Table > Edit Data > allow multiline edit, improve copy and paste of multiline content (keep line breaks)"
**Is your feature request related to a problem? Please describe.**

Very (very very) often it is required to enter some data directly into mssql (master data, configuration data, ...).
SSMS and ADS can be used to insert or edit 1-line-content. But they can't be used to edit multi-line-content.

- SSMS is not showing the whole content in edit mode, but only the first line.
- ADS is a bit better:

[2021-01-26 14:55] cristobalsarome opened #14056 "Hour and date of cell execution"
**Is your feature request related to a problem? Please describe.**
Sometimes I'm not sure when I executed a cell with sql code

**Describe the solution or feature you'd like**
I would add the date and hour of exectution, besides the execution time (already showed)

**Additional context**
I think it should be very useful and not hard to implement

[2021-01-26 15:01] randallnewman commented on #14034
See video:

https://user-images.githubusercontent.com/4906943/105862076-66051980-5fbd-11eb-9f33-861cc2af3837.mp4

[2021-01-26 15:02] randallnewman commented on #14034
See video above where I show how I can copy paste in MSSMS but not in Azure

[2021-01-26 15:04] cristobalsarome opened #14057 "Operation on cells: multiple selection, copy, paste and moving"
**Is your feature request related to a problem? Please describe.**
When I have a notebook with more than a couple of cells, working on the general arranging of the notebook can be hard.  It would be great if I can select several cells and copy/paste them, or moving them around in a block.
A related feature that would be super useful is selecting and copying/pasting cells from a notebook to differe

[2021-01-26 15:59] sgreci opened #14058 "Feature Request: run different cell code languages in the same Notebook"
It's something you are working on it? For example, It would be really usefull to be able to run in the same notebook SQL and Powershell code...

Thank!

[2021-01-26 16:25] wheezymustafa commented on #12165
@matheusdarosa I'm having the same issue on my Mac, but I'm not finding any cache in the location you specified

[2021-01-26 17:39] alanrenmsft commented on #14034
@randallnewman thanks for the video, now it is very clear what you are asking for :) this is the edit data feature. let me assign this to the correct area and let the area owner take a look.

[2021-01-26 20:00] #14024 closed

[2021-01-26 20:14] chlafreniere commented on #14058
We're tracking this with #9580. Have heard this feedback from multiple avenues, so it's something that we'll be pursuing!

[2021-01-26 20:14] #14058 closed

[2021-01-26 20:25] randallnewman commented on #14034
Great. If you find this helpful, I can add more items as I find them.

On Tue, Jan 26, 2021 at 12:40 PM Alan Ren <notifications@github.com> wrote:

[2021-01-26 22:03] chlafreniere commented on #11318
No longer able to repro this issue. We've made improvements to cell height calculations, so closing this issue.

[2021-01-26 22:03] #11318 closed

[2021-01-26 22:13] chlafreniere commented on #8772
Fixed by #12309. ADS should show the change automatically now.

[2021-01-26 22:13] #8772 closed

[2021-01-26 23:14] cssuh opened #14061 "User style not given priority when using CssStyles"
**Is your feature request related to a problem? Please describe.**
When I add `text-align: 'left'` the property is overridden by the `table thead th` style component.
![Screen Shot 2021-01-26 at 6 13 21 PM](https://user-images.githubusercontent.com/18150417/105918603-2dd3fa00-6002-11eb-91ec-e3eb16e023ab.png)

**Describe the solution or feature you'd like**
The `text-align: 'left'` user input shoul

[2021-01-26 23:21] #6192 closed

[2021-01-26 23:34] aasimkhan30 opened #14062 "Ability to change color theme of button components"
Currently, Editing the button color from CSSStyles property doesn't work. It will be nice to add this feature in the extensibility API.

Adding screenshots from UI mockups
<img width="646" alt="image" src="https://user-images.githubusercontent.com/6816294/106961626-b9c8de80-66f2-11eb-8d91-5ba3edad4b99.png">

<img width="441" alt="image" src="https://user-images.githubusercontent.com/6816294/106961

[2021-01-27 05:46] hashik4d commented on #13950
Hi @Charles-Gagnon,

Can you give me little more details on how to do it ? I am a not a developer. Thanks in advance

[2021-01-27 07:11] codykonior opened #14065 "PowerShell notebook cells hang and run forever if you change the prompt"
Issue Type: <b>Bug</b>

PowerShell notebooks hang if you redefine your PowerShell prompt.

<b>To Reproduce</b>

Create a PowerShell notebook with 3 code cells:

[code]

[code]

[code]

You can run the first two however you want. Once you run the third one it will never end and kill the notebook. Stopping the cell doesn't work, and running the previous cells no longer works. You can't act normally

[2021-01-27 07:44] codykonior opened #14066 "PowerShell notebook cell output randomly includes wrapper code"
Issue Type: <b>Bug</b>

Create a single code cell:

[code]

Click the play button on the cell a few times. It's possible for it to randomly return one of three options:
- (Nothing)
- "First cell"
- Part of the script wrapper

[code]

![image](https://user-images.githubusercontent.com/12396330/105959133-7e0c9400-60b6-11eb-97d7-8100f2220078.png)

Azure Data Studio version: azuredatastudio 1.25.2 (4d

[2021-01-27 07:46] codykonior opened #14067 "PowerShell notebook cell stop button hangs"
Issue Type: <b>Bug</b>

Create a single code cell:

[code]

Click the play icon and it will wait 5 seconds then display done.

If you click the play icon again followed by the stop icon, it will stay on the stop icon and never complete. You can no longer run this cell or any other cells in the notebook until restarting ADS.

![image](https://user-images.githubusercontent.com/12396330/105959460-dfc

[2021-01-27 08:30] adriennn opened #14069 "Wrong tenant in saved connection"
- Azure Data Studio Version: 1.25.1

Steps to Reproduce:

1. Create a new connection to an Azure SQL in an **external tenant** with AAD credentials login for home tenant
2. Save the connection
3. Try to reuse the connection, the dialog will always show that the connection was saved as the home tenant not the external tenant

[2021-01-27 13:41] vesselin-ag commented on #13584
I am no longer seeing this after the 1.25.0 update. I just updated to 1.25.2 this morning and everything is working still so I'm going to close this out.

[2021-01-27 13:41] #13584 closed

[2021-01-27 14:58] Kellett opened #14070 "Syntax Highlighting Error COUNT(*)"
- Azure Data Studio Version:
Version: 1.25.2 (system setup)
Commit: 4d4917d328ab7a7526817a0f0ef03237a79aa54d
Date: 2021-01-20T22:52:13.492Z
VS Code: 1.48.0
Electron: 9.3.0
Chrome: 83.0.4103.122
Node.js: 12.14.1
V8: 8.3.110.13-electron.0
OS: Windows_NT x64 10.0.19042

---

- Steps to Reproduce:

1. Open a query window
2. Enter the following
[code]

3. The syntax highlighting will make the first bra

[2021-01-27 17:28] Charles-Gagnon commented on #13950
Open up the settings UI (command palette -> `Preferences: Open Settings (UI)`

Type `azure auth` in the search box and ensure these two options are selected

![image](https://user-images.githubusercontent.com/28519865/106029415-eab96b80-6081-11eb-9074-c4115e61c771.png)

Then go and try to add your account - you should see a prompt asking you which method you want to use. Select `Device Code` and t

[2021-01-27 18:24] Charles-Gagnon commented on #14070
What color theme is this? I'm trying with the Monokai theme (which you appear to be using) and it looks fine on my end :

![image](https://user-images.githubusercontent.com/28519865/106036036-a336dd80-6089-11eb-9a18-fecf4a343d5c.png)

Might try uninstalling and reinstalling - it's possible the colorization files got messed up in an update or something.

[2021-01-27 18:51] ckas28 opened #14072 "Import Flat File Wizard Window is Blank"
Issue Type: <b>Bug</b>

 I installed the Admin Pack for SQL Server and enabled it.
When I right click or press ctrl+I to open Import Wizard, the Import Flat File Wizard window will open but will be blank other than "Step 1 Specify Input File". There is nothing else in the window including no input boxes.

Azure Data Studio version: azuredatastudio 1.12.2 (c9bef82ace6c67190d0e83820011a2bbd1f793c1,

[2021-01-27 19:22] alanrenmsft opened #14073 "SQL Assessment Extension not working"
dashboard tab for sql assessment won't load
![image](https://user-images.githubusercontent.com/13777222/106042451-eb59fe00-6091-11eb-98bb-c30debbaa61e.png)

[2021-01-27 19:26] alanrenmsft commented on #14073
pinged @vchvlad to take a quick look, i will also look into it.

[2021-01-27 20:23] chlafreniere commented on #14067
@VasuBhog can you take a look please?

[2021-01-27 20:25] MHacker9404 opened #14075 "Command-line build failing due to missing targets in microsoft.sql-database-projects on Ubuntu"
- Azure Data Studio Version: 1.25.2

Steps to Reproduce:

1.Created a buildspec for AWS CodeBuild that installs ADS - screenshot attached
![buildspec](https://user-images.githubusercontent.com/4184348/106049043-ac3ca480-60b3-11eb-83b3-c542667334e4.png)
2. When the build executes - the command-line build fails with the error message that the imported project "...microsoft.sql-database-projects-0.5.

[2021-01-27 20:28] cssuh commented on #13948
Closing as this is a duplicate #12629

[2021-01-27 20:28] #13948 closed

[2021-01-27 21:07] #14073 closed

[2021-01-27 22:03] VasuBhog commented on #14067
@codykonior can you please tell me which version of the powershell kernel. You can find this via the Package Manager in Notebooks (shown below).

![image](https://user-images.githubusercontent.com/23587151/106059980-57476100-60a8-11eb-8783-21b3c0b62571.png)

[2021-01-27 22:12] chlafreniere commented on #14066
@VasuBhog we already have an issue tracking this, correct?

[2021-01-27 22:14] chlafreniere commented on #14051
@MsSQLGirl can you share a sample page from OneNote with me offline?

[2021-01-27 22:31] #13587 closed

[2021-01-27 22:52] amtwo commented on #4404
We are in process of moving all our incident response / troubleshooting KBs to Notebooks. As we build out notebooks, most of our performance-related KBs include checking for a query plan. Even in cases where the troubleshooting begins with checking in our performance monitoring software and getting a plan there, troubleshooting these performance related issues _eventually_ comes around to getting

[2021-01-27 23:07] patrickcarlohickman commented on #1643
The documentation for the THROW statement states the previous statement must be terminated by a semicolon:

Even though it doesn't appear to be needed for correct code execution, if you place a semicolon after the BEGIN statement, the syntax checker will be happy.

[code]